Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong

iterator update after erase
  src/vehicle_use.cpp
Owners: none

Fix crash when read a book on the ground with broken arms
  src/handle_action.cpp
Owners: none

Only list solid items in wield menu
  src/game_inventory.cpp
Owners: none

Fix 'n' tweaks for island prison (#47446)
  data/json/mapgen/prison_1.json
  data/json/npcs/island_prison/prisoners.json
Owners: none

Fix furniture being "destroyed" when grab-moving (#47457)
  src/game.cpp
  src/map.cpp
  src/map.h
Owners: none

add down feather to birds
  data/json/harvest.json
Owners: none

laser_rifle_dino2 remove ammo_to_fire
  data/mods/DinoMod/items/laser_items.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

document removing ammo_to_fire
  data/mods/DinoMod/DESIGN.md
Owners: @ephemeralstoryteller, @damien, @LyleSY

Overhaul dragon items
  data/mods/Magiclysm/items/black_dragon_items.json
  data/mods/Magiclysm/items/tools.json
  data/mods/Magiclysm/materials.json
  data/mods/Magiclysm/proficiencies.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/recipes/dragon_black.json
  data/mods/Magiclysm/tool_qualities.json
  doc/JSON_INFO.md
Owners: @KorGgenT

Fixes
  data/mods/Magiclysm/items/black_dragon_items.json
  data/mods/Magiclysm/materials.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/recipes/dragon_black.json
Owners: @KorGgenT

added golem core, summon golem spell and ways to find golem core
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/constructs.json
  data/mods/Magiclysm/traits/attunements.json
Owners: @KorGgenT

Implement C++ symbol demangling on macOS
  src/debug.cpp
Owners: none

Small balance fixes after testing, make crafting costs more linear
  data/mods/Magiclysm/items/black_dragon_items.json
  data/mods/Magiclysm/recipes/dragon_black.json
Owners: @KorGgenT

linted attunements
  data/mods/Magiclysm/traits/attunements.json
Owners: @KorGgenT

Automatically locate gettext from Homebrew on Mac
  Makefile
  doc/COMPILING/COMPILING.md
Owners: none

Add a 'clean-pch' target to Makefile that cleans PCH
  Makefile
Owners: none

Fix several LGTM.com warnings
  src/faction_camp.cpp
  src/item.cpp
  src/iuse_software_lightson.cpp
  src/magic.cpp
  src/overmap.cpp
  src/overmapbuffer.cpp
  src/simple_pathfinding.h
  src/wcwidth.cpp
Owners: @KorGgenT

check obsolete
  src/npctalk.cpp
Owners: none

Use libc++ by default if using clang on BSD
  Makefile
Owners: none

Fix crash when reloading container on the ground and canceling equipment
  src/game.cpp
Owners: none

Missions
  data/json/npcs/Lighthouse_Family/NPC_lighthouse_man.json
  data/json/npcs/holdouts/Mr_Lapin.json
  data/json/npcs/isherwood_farm/NPC_Barry_Isherwood.json
  data/json/npcs/necropolis/NPC_Old_Guard_Captain.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/npcs/refugee_center/surface_visitors/NPC_old_guard_representative.json
Owners: @I-am-Erk

Update Mr_Lapin.json
  data/json/npcs/holdouts/Mr_Lapin.json
Owners: none

Longer bolts
  data/json/items/ranged/crossbows.json
Owners: none

Update NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
Owners: @I-am-Erk

remove mod_fatigue() calls from activities
  src/activity_handlers.cpp
Owners: none

Change "skeleton" to "skeletal zombie"
  data/json/monsters/zed_skeletal.json
Owners: none

Update activity_handlers.cpp
  src/activity_handlers.cpp
Owners: none

remove unfertilized eggs
  data/mods/DinoMod/cooking_components.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

[Magiclysm] Fix ring stacking by adding ONE_PER_LAYER flag
  data/json/flags.json
  data/mods/Magiclysm/items/enchanted_rings.json
  src/character.cpp
  src/item.cpp
  src/item.h
  src/player.cpp
Owners: @KorGgenT

compose.py: Add filter=8 to pngsave
  tools/gfx_tools/compose.py
Owners: @int-ua

Simplify Travis CI Mac build parameters
  .travis.yml
Owners: none

Compile English .mo only on MinGW
  lang/compile_mo.sh
Owners: @BrettDong

Fix iexamine actions with timing off by 100x
  src/iexamine.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
Owners: none

Unhardcode bio syringe
  data/json/bionics.json
  src/consumption.cpp
  src/game_inventory.cpp
  src/iuse_actor.cpp
  src/visitable.cpp
Owners: none

Improve formatting of CMake doc
  doc/COMPILING/COMPILING-CMAKE.md
Owners: none

Fix soundpack doc formatting
  doc/SOUNDPACKS.md
Owners: none

Unhardcode bio_toolset
  src/visitable.cpp
Owners: none

Apply suggestions from code review
  doc/COMPILING/COMPILING-CMAKE.md
  doc/SOUNDPACKS.md
Owners: none

Fix I18N in NPC warn message
  src/npcmove.cpp
Owners: none

Update data/mods/Magiclysm/items/black_dragon_items.json
  data/mods/Magiclysm/items/black_dragon_items.json
Owners: @KorGgenT
