Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Update data/json/npcs/godco/NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/NPC_Corrie_Kaja_Dosia.json
Owners: none

Update data/json/npcs/godco/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
Owners: none

Update NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/NPC_Corrie_Kaja_Dosia.json
Owners: none

Update NPC_Darryl_Johnstone.json
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
Owners: none

Added six new advertising brochures to mail spanwgroup
  data/json/itemgroups/mail.json
  data/json/items/book/maps.json
  data/json/snippets/snippets.json
Owners: none

Routine tileset updates on 06 November 2022
  gfx/Cuteclysm/fillerItems.png
  gfx/Cuteclysm/items.png
  gfx/Cuteclysm/tallbackdrop.png
  gfx/Cuteclysm/tile_config.json
  gfx/Cuteclysm/ui.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
Owners: none

Fixed NPC's dropping integrated weapons on death
  src/character_inventory.cpp
Owners: none

astyle
  src/character_inventory.cpp
Owners: none

moar work
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/gunship.json
  data/mods/Aftershock/spells.json
  data/mods/Aftershock/ter_fur_transform.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

npctrade: remove dead code
  src/npc.cpp
Owners: none

Move some files around
  data/json/npcs/common_chat/TALK_COMMON_ALLY.json
  data/json/npcs/common_chat/TALK_COMMON_GREET.json
  data/json/npcs/common_chat/TALK_COMMON_MISSION.json
  data/json/npcs/common_chat/TALK_COMMON_OTHER.json
  data/json/npcs/common_chat/TALK_FRIEND_CONVERSATION.json
  data/json/npcs/computers/TALK_PREPPER_1_COMPUTER.json
Owners: none

does the text updates.
  data/json/furniture_and_terrain/terrain-windows.json
Owners: none

Fixing cardboard box theft methods
  src/iuse_actor.cpp
Owners: none

Update professions.json
  data/json/professions.json
Owners: none

Fixed NPC's dropping integrated weapons on death (#62118)
  src/character_inventory.cpp
Owners: none

Update other.json
  data/json/recipes/armor/other.json
Owners: none

Update other.json
  data/json/recipes/armor/other.json
Owners: none

added items, changed spawn groups
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/armor/gloves.json
  data/json/items/armor/head_attachments.json
  data/json/items/armor/helmets.json
  data/json/mapgen/paintball_field.json
Owners: none

Update ammo_pouch.json
  data/json/items/armor/ammo_pouch.json
Owners: none

gloves fix
  data/json/items/armor/gloves.json
Owners: none

small
  data/json/mapgen/paintball_field.json
Owners: none

gloves
  data/json/items/armor/gloves.json
Owners: none

helmet
  data/json/items/armor/helmets.json
Owners: none

added to hobby spawn groups
  data/json/itemgroups/activities_hobbies.json
Owners: none

faux fur gloves
  data/json/items/armor/gloves.json
Owners: none

faux fur feet styuff
  data/json/items/armor/boots.json
Owners: none

faux fur scarfs
  data/json/items/armor/scarfs.json
Owners: none

[DinoMod] ripping attacks
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

faux fur boots recipes
  data/json/recipes/armor/feet.json
Owners: none

Update hands.json
  data/json/recipes/armor/hands.json
Owners: none

Update feet.json
  data/json/recipes/armor/feet.json
Owners: none

Update hands.json
  data/json/recipes/armor/hands.json
Owners: none

assign to living dinos
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update character_attire.cpp
  src/character_attire.cpp
Owners: none

balence
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
Owners: none

Update data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
Owners: none

clothes
  data/json/mapgen/paintball_field.json
Owners: none

clothes, spellcheck
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

better activation message for pet food action
  src/iuse.cpp
Owners: none

rejigger required effects
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
