Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Modify the content of gunmods info test
  tests/iteminfo_test.cpp
Owners: none

Update data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

type to id
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

revert leaps to type
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

let the "like new" apache on the aircraft carrier take off.
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/mapgen/aircraft_carrier/aircraft_carrier_z1.json
  data/json/mapgen/aircraft_carrier/aircraft_carrier_z2.json
  data/json/mapgen_palettes/aircraft_carrier_palette.json
Owners: none

Barrel project
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_prototypes.json
Owners: none

Caseless barrell for HWP
  data/json/items/gun/robofac_gun.json
Owners: none

Code style fix#1
  data/json/items/gun/robofac_gun.json
Owners: none

Code style fix#2
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_prototypes.json
Owners: none

Update cooking_tools.json
  data/json/requirements/cooking_tools.json
Owners: none

Modify the content of gunmods info test
  tests/iteminfo_test.cpp
Owners: none

Tweaking the details of the gunmods information
  src/item.cpp
Owners: none

Update flags.json
  data/json/flags.json
Owners: none

gear updates
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/masks.json
  data/json/items/armor/torso_armor.json
Owners: none

bike 14 mm
  data/json/items/armor/helmets.json
Owners: none

motor 16mm
  data/json/items/armor/helmets.json
Owners: none

football enc 5
  data/json/items/armor/torso_armor.json
Owners: none

removed bike/baseball encumbrance changes
  data/json/items/armor/helmets.json
Owners: none

helmet weights
  data/json/items/armor/helmets.json
Owners: none

slight motorcycle helmet nerf
  data/json/items/armor/helmets.json
Owners: none

suggestions per review; simplify code
  src/crafting_gui.cpp
  src/item_group.cpp
Owners: none

update helmet
  data/json/items/armor/helmets.json
Owners: none

Update boots.json
  data/json/items/armor/boots.json
Owners: none

Update gloves.json
  data/json/items/armor/gloves.json
Owners: none

helm
  data/json/items/armor/helmets.json
Owners: none

Night snippets
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
Owners: @Maleclypse

Added "megastores" to dictionary.txt
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Update bathroom_house.json
  data/json/items/generic/bathroom_house.json
Owners: none

npc: allied NPCs aren't shopkeepers (#62146)
  src/npc.cpp
Owners: none

acetylene recipe no longer makes 250x more slaked lime than it should (#62142)
  data/json/itemgroups/supplies.json
  data/json/items/chemicals_and_resources.json
  data/json/recipes/ammo/weldgas.json
Owners: none

Declayration (#61800)
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
Owners: none

Tweaking the details of the gunmods information
  src/item.cpp
Owners: none

Modify the content of gunmods info test
  tests/iteminfo_test.cpp
Owners: none

More animal skulls (#61573)
  data/json/harvest.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/items/armor/helmets.json
  data/json/items/comestibles/carnivore.json
  data/json/items/generic/skulls.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/recipes/recipe_deconstruction.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Modify the content of gunmods info test
  tests/iteminfo_test.cpp
Owners: none

Apply suggestions from part 1
  data/json/npcs/godco/NPC_Julian_Ray.json
  data/json/npcs/godco/NPC_Katherine_Weaver.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
Owners: none

Remove Sonia's southern accent
  data/json/npcs/godco/NPC_Sonia_Greene.json
Owners: none

JSONify BIO specials
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

fix linting hopefully.
  data/json/construction.json
Owners: none

Update data/mods/Xedra_Evolved/snippets/effect_on_condition.json
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
Owners: @Maleclypse

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
