Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

Update specials.json
  data/json/overmap/overmap_special/specials.json
Owners: none

no more recursion
  src/vehicle.h
  src/vehicle_use.cpp
Owners: none

Touch JSON_INFO.md to trigger the workflow
  doc/JSON_INFO.md
Owners: none

Fixed a bug allowing safe contents to spill
  src/game.cpp
Owners: none

Infrastructure "compose.py: reduce composed tilesheet file size" (#47453)
  tools/gfx_tools/compose.py
Owners: @int-ua

Revert quantizing from pngsave
  tools/gfx_tools/compose.py
Owners: @int-ua

Normalize chocolate waffle recipe (#47434)
  data/json/recipes/recipe_food.json
Owners: none

added ups check to iuse action for music & radios (#47364)
  src/iuse.cpp
Owners: none

fixed power armor ui
  src/item.cpp
  src/item.h
Owners: none

removed unused variable
  src/item.cpp
Owners: none

fix show protection in decimals for armor_inventory_preset
  src/game_inventory.cpp
Owners: none

update testcase
  tests/iteminfo_test.cpp
Owners: none

add spawn delay later
  src/game.cpp
Owners: none

document year skip
  doc/JSON_INFO.md
Owners: none

fix unit test
  tests/iteminfo_test.cpp
Owners: none

changed validate_carried_vehicles() void
  src/vehicle.h
  src/vehicle_use.cpp
Owners: none

fix switched || to &&
  src/iuse.cpp
Owners: none

missiondef
  data/json/npcs/missiondef.json
Owners: none

added use action and active version to test_power_armor
  data/mods/TEST_DATA/items.json
Owners: none

random scenario date tests
  data/mods/TEST_DATA/scenarios.json
  msvc-full-features/enc_temp_folder/ba4bf9d0a0994e2eec6e89a685f118f/start_date_test.cpp
Owners: none

CBM zombie dinos lose bullet armor
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

finishing touches on tests
  msvc-full-features/enc_temp_folder/ba4bf9d0a0994e2eec6e89a685f118f/start_date_test.cpp
  tests/start_date_test.cpp
Owners: none

Laser spino loses bullet armor
  data/mods/DinoMod/monsters/dinosaur_CBM.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

reduce chance for date collision
  src/game.cpp
  tests/start_date_test.cpp
Owners: none

astyle
  tests/start_date_test.cpp
Owners: none

remove unnecessary test
  data/mods/TEST_DATA/scenarios.json
  tests/start_date_test.cpp
Owners: none

astyle
  tests/start_date_test.cpp
Owners: none

Update item_pocket.cpp
  src/item_pocket.cpp
Owners: none

Convert stored_calories on character template load
  src/newcharacter.cpp
Owners: none

test improvements
  tests/start_date_test.cpp
Owners: none

Woodworking lengths
  data/json/items/tool/woodworking.json
Owners: none

reduce collision chance
  tests/start_date_test.cpp
Owners: none

fix test boundaries
  tests/start_date_test.cpp
Owners: none

missing ;
  tests/start_date_test.cpp
Owners: none

Re-works mdeath::guilt in mondeath.cpp to emit correct articles
  src/mondeath.cpp
Owners: none

Update mdeath::disappear to patch message emission to avoid starting with a lowercase
  src/mondeath.cpp
Owners: none

Fix translation marker positioning in ::disappear
  src/mondeath.cpp
Owners: none

Set firestarter use time to half that of a fire drill
  data/json/items/tool/fire.json
Owners: none

Recognize powered tools by charges_per_use property
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
Owners: none

Only consider tools with enough charges for actions
  src/character.cpp
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong
