Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

item spawns don't check nested pockets of container items
  src/item.cpp
  src/item.h
  src/item_group.cpp
Owners: none

comment, piclehaube is hardened
  data/json/items/armor/helmets.json
  data/json/materials.json
Owners: none

Moved `s_gas` and `s_gas_rural` to their own OMT definition based on generic building without sidewalk
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
Owners: none

Added pretty road connections to `s_gas` and `s_gas_rural` gas stations
  data/json/overmap/overmap_special/specials.json
Owners: none

1.5 bullet
  data/json/materials.json
Owners: none

2 bullet
  data/json/materials.json
Owners: none

2.5 bash
  data/json/materials.json
Owners: none

Update JSON_FLAGS with Mapgen entry
  doc/JSON_FLAGS.md
Owners: none

Industrial cards and fixes
  data/json/mapgen/nuclear_plant/nuclear_plant_z0.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z1.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z2.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z3.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z4.json
  data/json/mapgen_palettes/nuclear_plant_palette.json
Owners: none

Update npctalk.cpp
  src/npctalk.cpp
Owners: none

XS and XL recipes
  data/json/recipes/armor/gambeson_crafts.json
Owners: none

density
  data/json/items/armor/gambesons.json
Owners: none

gloves and mittens
  data/json/items/armor/gambesons.json
Owners: none

gloves/mittens recipes
  data/json/recipes/armor/gambeson_crafts.json
Owners: none

nested gambeson stuff
  data/json/recipes/nested.json
Owners: none

Update data/json/recipes/nested.json
  data/json/recipes/nested.json
Owners: none

fix: simpler reqs for "upgrade basecamp stove"
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_2/recipe_modular_canteen_common.json
Owners: none

Update trait_groups.json
  data/mods/Xedra_Evolved/npc/trait_groups.json
Owners: @Maleclypse

Routine i18n updates on 19 November 2022
  data/credits/zh_CN.credits
Owners: none

Allowed pens to accept all types of pen ink
  data/json/items/tool/stationary.json
Owners: none

denistity
  data/json/items/armor/suits_protection.json
Owners: none

warmth
  data/json/items/obsolete.json
Owners: none

added armor
  data/json/items/armor/suits_protection.json
  data/json/items/book/tailor.json
  data/json/npcs/valhalla_cult/npcs.json
  data/json/recipes/armor/suit.json
Owners: none

lint
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

spelling
  data/json/items/book/tailor.json
Owners: none

Fixes
  data/json/mapgen/nuclear_plant/nuclear_plant_z0.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z2.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z4.json
  data/json/mapgen_palettes/nuclear_plant_palette.json
Owners: none

density
  data/json/items/armor/suits_protection.json
Owners: none

Fix interior_locked doors
  data/json/furniture_and_terrain/terrain-doors.json
Owners: none

Implement input history for overmap search
  src/overmap_ui.cpp
Owners: none

content: mainlined Whaley's Hair And Tattoo mod
  data/json/mutations/mutation_appearance.json
  data/json/mutations/mutation_ordering.json
  data/json/mutations/mutation_type.json
Owners: none

fix: linting and spellcheck
  data/json/mutations/mutation_ordering.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Update brigandine
  data/json/items/armor/brigandine
Owners: none

Made new hair description formatting consistent
  data/json/mutations/mutation_appearance.json
Owners: none

Update data/json/items/comestibles/dairy.json
  data/json/items/comestibles/dairy.json
Owners: none

Added new general option to automatically add a note when player drops favorited item
  src/options.cpp
Owners: none

Automatically mark location on overmap when player drops favorited item
  src/activity_item_handling.cpp
Owners: none

Add basic giftshop itemgroup
  data/json/itemgroups/shops_trades.json
Owners: none

Opdate giftshop items
  data/json/mapgen/nested/retail_nested.json
Owners: none

Update arms.json
  data/json/recipes/armor/arms.json
Owners: none

Update torso.json
  data/json/recipes/armor/torso.json
Owners: none
