Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong

misc typographical fixes
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/items/books_lore.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_melee.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/mana_crystals.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/monsters/demon_spider.json
Owners: @KorGgenT

[Magiclysm] new animist spell "bleed"
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
Owners: @KorGgenT

Change spawns
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
Owners: @KorGgenT

rectify chocolate waffle recipe
  data/json/recipes/recipe_food.json
Owners: none

unised variable
  tests/start_date_test.cpp
Owners: none

Redact personal change to unrelated recipe
  data/json/recipes/recipe_food.json
Owners: none

comments
  tests/start_date_test.cpp
Owners: none

Apply suggestions from code review
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/monsters/demon_spider.json
Owners: @KorGgenT

Remove from item group
  data/mods/Magiclysm/itemgroups/itemgroups.json
Owners: @KorGgenT

test fixes
  tests/start_date_test.cpp
Owners: none

fix spacing
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hoods.json
Owners: none

Update data/json/mapgen/map_extras/car_crash.json
  data/json/mapgen/map_extras/car_crash.json
Owners: none

Update data/json/mapgen/map_extras/car_crash.json
  data/json/mapgen/map_extras/car_crash.json
Owners: none

Temporarily allow expected failures on 2 tests.
  tests/weary_test.cpp
Owners: none

Valentine Cards
  data/json/items/newspaper.json
  data/json/snippets/valentines.json
Owners: @I-am-Erk

Fix BSD macro in src/debug.cpp
  src/debug.cpp
Owners: none

remove activity_level from recipes
  data/mods/DinoMod/recipe_medsandchemicals.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update BN port notes
  data/mods/DinoMod/DESIGN.md
Owners: @ephemeralstoryteller, @damien, @LyleSY

remove pocket_data and change damage_type bullet to stab
  data/mods/DinoMod/items/laser_items.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

laser items port update in Design
  data/mods/DinoMod/DESIGN.md
Owners: @ephemeralstoryteller, @damien, @LyleSY

Apply suggestions from code review
  data/json/items/newspaper.json
  data/json/snippets/valentines.json
Owners: @I-am-Erk

linting
  data/json/snippets/valentines.json
Owners: @I-am-Erk

Update NPC_Jenny_Forcette.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
Owners: @I-am-Erk

Delete the broken .github/workflows/toc.yml
  .github/workflows/toc.yml
Owners: none

Added roof to boat shed and chapel
  data/json/mapgen/prison_1.json
Owners: none

Made outer walls higher on the second floor
  data/json/mapgen/prison_1.json
Owners: none

Added guaranteed spawn of pliers and hammer as a little help in making the lockpicks
  data/json/mapgen/prison_1.json
Owners: none

Replaced wood benches with metal ones
  data/json/mapgen/prison_1.json
Owners: none

Replaced locked door to the mess hall with boarded up door
  data/json/mapgen/prison_1.json
Owners: none

Go straight to the mission offer instead of mission list
  data/json/npcs/island_prison/prisoners.json
Owners: none

github does not allow double quotes here
  .github/workflows/toc.yml
Owners: none

Apply suggestions from code review
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/monsters/demon_spider.json
Owners: @KorGgenT

Remove unused "validate_pr_in_jenkins" script
  Makefile
  build-scripts/validate_pr_in_jenkins
  doc/COMPILING/COMPILING.md
Owners: none

More gracefully catch multi-tile error
  src/cata_tiles.cpp
Owners: none

Filled up the northwestern guard tower with bookcases to prevent player from spawning in there
  data/json/mapgen/prison_1.json
Owners: none

Changed the location of secret slope down to the eastern wing
  data/json/mapgen/prison_1.json
Owners: none

Restrict seweranha to sewers, and sewer snakes to murky water so they don't fight with each other
  data/json/mapgen/prison_1.json
Owners: none

Isherwood
  data/json/npcs/holdouts/Mr_Lapin.json
  data/json/overmap/overmap_special/specials.json
  src/overmapbuffer.cpp
Owners: none

Reduce compose tile sheet file size
  tools/gfx_tools/compose.py
Owners: @int-ua

Update compose.py
  tools/gfx_tools/compose.py
Owners: @int-ua
