Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

lint JSON
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/mapgen/farm_supply.json
Owners: none

Update data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

Update data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

Update data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

Update data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

Update engineering.json
  data/json/items/vehicle/engineering.json
Owners: none

Update engineering.json
  data/json/vehicleparts/engineering.json
Owners: none

Update anthology.json
  data/json/items/book/anthology.json
Owners: none

deleted raw_tainted_leather from acid soaked hide recipe
  data/json/recipes/food/other.json
Owners: none

added spaces to spawn rate, slightly changed rates
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

rebase
  src/monattack.cpp
Owners: none

Revert "auto labeler maintenance (#61904)"
  .github/labeler.yml
Owners: none

Update integrated.json
  data/json/items/armor/integrated.json
Owners: none

Update electronics.json
  data/json/items/tool/electronics.json
Owners: none

[Xedra Evolved] Misc (#61995)
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/classless.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamer.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamsmith.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/eater.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/inventor.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/main.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_eater.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
Owners: @Maleclypse

Added pocket_data to active lightstrip (#61994)
  data/json/items/tool/lighting.json
Owners: none

holster actor can only holster items that also fit in parent containers of the holster (#61983)
  src/iuse_actor.cpp
Owners: none

Grab normal_roll_chance from #46153
  src/rng.cpp
  src/rng.h
Owners: none

[Backrooms] Monster group nesting fix; slightly more emptiness (#61975)
  data/mods/Backrooms/monstergroups.json
  data/mods/Backrooms/overmap_terrain.json
  data/mods/Backrooms/regional_map_settings.json
Owners: none

proper stats for container inventory menu (#61974)
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
Owners: none

Aftershock and Dinomod Mutagen fixes (#61963)
  data/mods/Aftershock/items/mutagen.json
  data/mods/DinoMod/items/mutagen.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY

Update bludgeons.json
  data/json/items/melee/bludgeons.json
Owners: none

slight chance tweak
  data/json/mapgen/farm_supply.json
Owners: none

fixes use action on drinkable mutagen (#61956)
  data/mods/Magiclysm/items/mutagen.json
Owners: @KorGgenT

unlooted variant 30% -> 25%
  data/json/overmap/overmap_special/specials.json
Owners: none

simple vehicle/appliance description for look around extended descriptions
  data/raw/keybindings.json
  src/descriptions.cpp
  src/vehicle.cpp
  src/vpart_position.h
Owners: none

Update newspaper.json
  data/json/items/newspaper.json
Owners: none

Update electronics.json
  data/json/items/tool/electronics.json
Owners: none

Update id_cards.json
  data/json/items/id_cards.json
Owners: none

Update known_bad_density.json
  data/mods/TEST_DATA/known_bad_density.json
Owners: none

Update labeler version
  .github/workflows/labeler.yml
Owners: none

Update newspaper.json
  data/json/items/newspaper.json
Owners: none

Update fake.json
  data/json/items/fake.json
Owners: none

Update tailoring.json
  data/json/items/tool/tailoring.json
Owners: none

add info about `message`
  doc/MAGIC.md
Owners: none

make KitchenMaster use pseudo_water_purifier instead of water_purifier
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
Owners: none

Update med.json
  data/json/items/comestibles/med.json
Owners: none

Update medical.json
  data/json/recipes/other/medical.json
Owners: none

Update known_bad_density.json
  data/mods/TEST_DATA/known_bad_density.json
Owners: none

Update character_attire.cpp
  src/character_attire.cpp
Owners: none
