Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

Create Generic_class_definitions
  data/json/npcs/refugee_center/surface_staff/Generic_class_definitions
Owners: none

Improve dialogue navigation including mouse support & history scrolling (#61447)
  src/color.cpp
  src/color.h
  src/dialogue.h
  src/dialogue_win.cpp
  src/dialogue_win.h
  src/npctalk.cpp
  src/output.cpp
  src/output.h
Owners: none

Build tests by default.
  CMakePresets.json
Owners: none

wearing_something_on ignores integrated armor
  src/character_attire.cpp
Owners: none

fix conflict
  src/character.cpp
Owners: none

Fix up worn item checks on abilities
  src/avatar.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/iexamine.cpp
  src/sounds.cpp
Owners: none

Adjust ankle-worn equipment to only cover the ankle, remove NOT_FOOTWEAR
  data/json/flags.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/holster.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  doc/ARMOR_BALANCE_AND_DESIGN.md
  src/flag.cpp
  src/flag.h
Owners: none

Replace footwear_factor with is_barefoot
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/explosion.cpp
  src/game.cpp
Owners: none

Skylight misc fixes (#62464)
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/furniture_and_terrain/terrain-windows.json
Owners: none

fixes for NPC death to portal storms (#62465)
  data/core/game_balance.json
  data/json/monster_factions.json
  data/mods/Personal_Portal_Storms/modinfo.json
  data/mods/Personal_Portal_Storms/monster_factions.json
  data/mods/default.json
  src/monster.cpp
Owners: none

Update exodii_merchant_definitions.json
  data/json/npcs/exodii/exodii_merchant_definitions.json
Owners: none

Update broker and doctor
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
Owners: none

Update isolated_road_npcs.json
  data/json/npcs/isolated_road/isolated_road_npcs.json
Owners: none

Update free_merchant_caravans.json
  data/json/npcs/random_encounters/free_merchant_caravans.json
Owners: none

Update isolated_road_npcs.json
  data/json/npcs/isolated_road/isolated_road_npcs.json
Owners: none

Update NPC_free_merchant_broker.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
Owners: none

Update NPC_old_guard_doctor.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
Owners: none

Fix flipped check
  src/character.cpp
Owners: none

Fix: allow CORD_ATTACH cables to make appliance-vehicle connections
  src/iuse.cpp
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Linting
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Draco_Dune.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Fatima_Al_Jadir.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Garry_Villeneuve.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Guneet_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
  data/json/npcs/refugee_center/surface_refugees/NPC_John_Clemens.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Mandeep_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Mangalpreet_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Pablo_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Rhyzaea_Johnny.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Stan_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
Owners: none

fixes
  data/json/items/resources/tailoring.json
Owners: none

weightfix
  data/json/items/resources/tailoring.json
Owners: none

generic name for mombie
  data/json/npcs/missiondef.json
Owners: none

Fix: allow CORD_ATTACH cables to make appliance-vehicle connections (#62475)
  src/iuse.cpp
Owners: none

update generator parts
  data/json/furniture_and_terrain/furniture-industrial.json
Owners: none

documentation
  doc/JSON_FLAGS.md
Owners: none

replace hardcoded ASRGs with new furniture active generators
  src/map_extras.cpp
Owners: none

update all the non-military/lab stuff to active generators update some obsolete ASRGs to the new standards (aftershock, microlab reactor)
  data/json/mapgen/microlab/microlab_reactor.json
  data/json/mapgen/outpost.json
  data/json/mapgen/prison_1.json
  data/json/mapgen/river_shipwreck.json
  data/mods/Aftershock/maps/mapgen/formless_ruins/formless_ruins_dynamic.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

remove tannic water
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/nuts.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/recipe_food.json
  data/json/requirements/tailoring.json
Owners: none

LIGHT_EXERCISE
  data/json/recipes/nested.json
Owners: none

fixes
  data/json/items/resources/tailoring.json
Owners: none

Fix Demonforge bug
  data/mods/Magiclysm/furniture.json
  data/mods/Magiclysm/worldgen/forge_of_wonders.json
Owners: @KorGgenT

fix: some improved spells lack relevant names
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
Owners: @KorGgenT

Remove place_dog from c++ code
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
Owners: none

Update dry.json
  data/json/recipes/food/dry.json
Owners: none

Update dry.json
  data/json/recipes/food/dry.json
Owners: none

Add arm64ec support to msvc solution
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.sln
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-lib-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
  msvc-full-features/flatbuffers.vcxproj
Owners: none

Fix the Valhallists shop (#62449)
  data/json/mapgen/valhalla_cult/mapgen.json
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

fix clang-tidy
  src/character_attire.cpp
  src/game.cpp
Owners: none
