Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

required skills fix
  data/json/recipes/weapon/mods.json
Owners: none

Further reduce encumbrance
  data/json/items/armor/integrated.json
Owners: none

Added welding requirements for axe_mod
  data/json/recipes/weapon/mods.json
Owners: none

Update data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/mods.json
Owners: none

json styled
  data/json/recipes/weapon/mods.json
Owners: none

Update data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/mods.json
Owners: none

Update data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/mods.json
Owners: none

Spaces fixed
  data/json/items/gunmod/mount.json
Owners: none

make cabin chemist not spawn as random npc
  data/json/npcs/cabin_chemist/chemist_npc.json
Owners: none

make scrap trader not spawn as random npc
  data/json/npcs/scrap_trader/scrap_trader.json
Owners: none

tindalos_teleport hint (#62588)
  src/monattack.cpp
Owners: none

Update spell checker dictionary
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Add VERSION.txt to .gitignore
  .gitignore
Owners: none

Remove x86 specific macro definitions in MSVC build in CMake
  CMakeLists.txt
Owners: none

beehive jsonify
  data/json/mapgen/bugs/beehive.json
  data/json/obsolete_terrains.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/savegame.cpp
Owners: none

Add VERSION.txt to .gitignore (#62600)
  .gitignore
Owners: none

Remove x86 specific macro definitions in MSVC build in CMake (#62602)
  CMakeLists.txt
Owners: none

Make scrap trader and cabin chemist not spawn as random npcs (#62597)
  data/json/npcs/cabin_chemist/chemist_npc.json
  data/json/npcs/scrap_trader/scrap_trader.json
Owners: none

Define launcher lengths (#62585)
  data/json/items/ranged/launchers.json
  data/json/items/tool/explosives.json
Owners: none

Dispersion added
  data/json/items/gunmod/mount.json
Owners: none

AIM: close UI if activity finished before turn's end (#62560)
  src/advanced_inv.cpp
Owners: none

Harden Vault Protectors (#62519)
  data/mods/Magiclysm/monsters/forgedwellers.json
Owners: @KorGgenT

trade_ui: use keychar mode for master ctxt (#62526)
  src/inventory_ui.cpp
Owners: none

Preserve ammo linkage on zone unload (#62543)
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  tests/clzones_test.cpp
Owners: none

inv_ui: add a save state for activate/read/steal menus (#62448)
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
Owners: none

unharden boots
  data/json/items/armor/bespoke_armor/custom_boots.json
  data/json/items/armor/boots.json
  data/json/recipes/armor/feet.json
Owners: none

cured hide
  data/json/recipes/recipe_others.json
Owners: none

Bugfix - dissection drop rate (#62433)
  data/json/harvest_dissect.json
  src/activity_handlers.cpp
Owners: none

armor_lamellar
  data/json/items/armor/torso_armor.json
Owners: none

cataphract armor
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

armor_llaarmor
  data/json/items/armor/torso_armor.json
Owners: none

lammenar
  data/json/items/armor/torso_armor.json
Owners: none

Flag ACTIVE_GENERATOR and "active generator" furniture to replace most ASRGs (#62459)
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/mapgen/irradiator_1.json
  data/json/mapgen/microlab/microlab_reactor.json
  data/json/mapgen/outpost.json
  data/json/mapgen/prison_1.json
  data/json/mapgen/river_shipwreck.json
  data/mods/Aftershock/maps/mapgen/formless_ruins/formless_ruins_dynamic.json
  doc/JSON_FLAGS.md
  src/flag.cpp
  src/flag.h
  src/map_extras.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/monattack.cpp
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update data/json/items/armor/suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

remove incredibly suboptimal options
  data/json/requirements/cooking_tools.json
Owners: none

values
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

Update data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

less coverage
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

coverage
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
