Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

Fix crash caused by NW faction camp expansions not saving temp ui mission keys.
  src/faction_camp.cpp
Owners: none

Update src/character.cpp
  src/character.cpp
Owners: none

Bump default SDK version for Android builds to 31
  android/gradle.properties
Owners: none

Update ethereal_items.json
  data/mods/Magiclysm/items/ethereal_items.json
Owners: @KorGgenT

If we upgrade into a blacklisted monster, treat it as though we are non-upgradeable
  src/monster.cpp
Owners: none

use GROUP_BEEHIVE instead
  data/json/mapgen/bugs/beehive.json
Owners: none

polish docs and reverse engineer trap docs
  doc/JSON_INFO.md
Owners: none

address comfort and floor_bedding_warmth
  doc/JSON_INFO.md
Owners: none

slightly less ambiguous nane
  utilities/building-utility/deconstruct.py
Owners: none

demote strings to static that are improperly f-strings
  tools/generate_changelog.py
Owners: @int-ua

slightly more infirmative name
  tools/json_tools/cddatags.py
Owners: @int-ua

demote more f-strings
  tools/generate_changelog.py
Owners: @int-ua

fix: run code style reviewer on file changes
  .github/workflows/linter.yml
Owners: none

Added android:exported="true" to Android manifest
  android/app/src/main/AndroidManifest.xml
Owners: none

changes
  data/json/items/tool/misc.json
Owners: none

Monster group and a specific comment
  data/json/monstergroups/misc.json
  data/json/monsters/rodentkin.json
Owners: none

Update data/json/items/tool/misc.json
  data/json/items/tool/misc.json
Owners: none

Update data/json/items/tool/misc.json
  data/json/items/tool/misc.json
Owners: none

Update data/json/items/tool/misc.json
  data/json/items/tool/misc.json
Owners: none

volume
  data/json/items/tool/misc.json
Owners: none

sewer connection for city buildings
  data/json/mapgen/cs_open_sewer_small.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/overmap_special_migration.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
  data/json/regional_map_settings.json
  src/overmap.cpp
Owners: none

Riot armor nerf (#62395)
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

post "threshold" mutations minus carrion eating
  data/json/mutations/mutations.json
Owners: none

backrooms but you have a friend
  data/mods/Backrooms/scenarios.json
Owners: none

Update data/mods/Backrooms/scenarios.json
  data/mods/Backrooms/scenarios.json
Owners: none

Add the test stuff
  data/json/effect_on_condition.json
  data/json/npcs/prisoners/mi-go_prisoners.json
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

Forgot the mutations
  data/json/mutations/mutations.json
Owners: none

Spaces
  data/json/mutations/mutations.json
Owners: none

Apply suggestions from code review
  data/mods/Backrooms/scenarios.json
Owners: none

Fix crash caused by NW faction camp expansions not saving temp ui mission keys. (#62624)
  src/faction_camp.cpp
Owners: none

Added android:exported="true" to Android manifest (#62631)
  android/app/src/main/AndroidManifest.xml
Owners: none

Monster group and a specific comment (#62633)
  data/json/monstergroups/misc.json
  data/json/monsters/rodentkin.json
Owners: none

fix: run code style reviewer on file changes (#62629)
  .github/workflows/linter.yml
Owners: none

'Adding special items to monster inventory' section is now triggered earlier than 'Dropping items from monster inventory' section (#62615)
  src/monster.cpp
Owners: none

If we upgrade into a blacklisted monster, treat it as though we are non-upgradeable (#62626)
  src/monster.cpp
Owners: none

Jotunn and dream vitamin start
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/monsters/exodii.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/npc/mr_lapin.json
Owners: @Maleclypse

Update skills.json
  data/mods/Xedra_Evolved/skills.json
Owners: @Maleclypse

Update talk_rescue.json
  data/mods/Xedra_Evolved/npc/talk_rescue.json
Owners: @Maleclypse

Convert this to something useful
  data/mods/Xedra_Evolved/encounters/jotunn_encounters.json
Owners: @Maleclypse

Update the table of contents
  doc/JSON_INFO.md
Owners: none
