Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

Install more directories
  CMakeLists.txt
Owners: none

Add "python" symlink to v3 when runnig clang-tidy
  build-scripts/clang-tidy.sh
Owners: none

Allow to configure msgfmt and VCPKG paths
  CMakeLists.txt
  build-scripts/MSVC.cmake
Owners: none

re run tests
  data/json/recipes/armor/bespoke_armor/survivor.json
Owners: none

re run tests
  data/json/recipes/armor/bespoke_armor/survivor.json
Owners: none

Adding missing subirectories in data/
  data/CMakeLists.txt
Owners: none

Move logic non belonging to data/ up
  CMakeLists.txt
  data/CMakeLists.txt
Owners: none

re run tests
  data/json/recipes/armor/bespoke_armor/survivor.json
Owners: none

re run tests
  data/json/recipes/armor/bespoke_armor/survivor.json
Owners: none

Add missing languages
  CMakeLists.txt
Owners: none

also includes XL steel-plated Kevlar jumpsuit
  data/json/recipes/armor/suit.json
Owners: none

and xs
  data/json/recipes/armor/suit.json
Owners: none

Add in RETURNTOSTARTPOS and NOBASH traits
  data/json/mutations/mutations.json
  data/json/npcs/exodii/exodii_merchant_definitions.json
  data/json/npcs/isolated_road/isolated_road_npcs.json
  data/json/npcs/random_encounters/free_merchant_caravans.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
  data/json/npcs/refugee_center/surface_staff/Smokes/NPC_Smokes.json
  src/npc.cpp
  src/npcmove.cpp
Owners: none

one more i missed
  data/json/recipes/armor/bespoke_armor/survivor.json
Owners: none

Update src/npc.cpp
  src/npc.cpp
Owners: none

Update src/npcmove.cpp
  src/npcmove.cpp
Owners: none

Update src/npcmove.cpp
  src/npcmove.cpp
Owners: none

Disable testing by default
  CMakePresets.json
Owners: none

[innawood] hulk drop fixes
  data/mods/innawood/monsterdrops/zombie.json
Owners: @Light-Wave

Create zombie_default.json
  data/mods/innawood/monsterdrops/zombie_default.json
Owners: @Light-Wave

Create tools.json
  data/mods/innawood/itemgroups/tools.json
Owners: @Light-Wave

Install VERSION.txt
  CMakeLists.txt
Owners: none

+=
  src/item.cpp
  src/units.cpp
  src/units.h
  src/weather.cpp
  tests/units_test.cpp
Owners: none

bags
  data/mods/innawood/itemgroups/clothing.json
Owners: @Light-Wave

Create zombie_child.json
  data/mods/innawood/monsterdrops/zombie_child.json
Owners: @Light-Wave

disallow adding
  src/units.h
Owners: none

Update clothing.json
  data/mods/innawood/itemgroups/clothing.json
Owners: @Light-Wave

Update zombie_child.json
  data/mods/innawood/monsterdrops/zombie_child.json
Owners: @Light-Wave

pants dance
  data/mods/innawood/itemgroups/clothing.json
Owners: @Light-Wave

move place zombie mom to missionjson
  data/json/npcs/missiondef.json
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
Owners: none

don't make all bees scary
  data/json/monstergroups/bugs.json
  src/mapgen_functions.cpp
Owners: none

Modify traits to for ease of reading
  data/json/mutations/mutations.json
  data/json/npcs/exodii/exodii_merchant_definitions.json
  data/json/npcs/isolated_road/isolated_road_npcs.json
  data/json/npcs/random_encounters/free_merchant_caravans.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
  data/json/npcs/refugee_center/surface_staff/Smokes/NPC_Smokes.json
  src/npc.cpp
  src/npcmove.cpp
Owners: none

Update src/npc.cpp
  src/npc.cpp
Owners: none

Update src/npcmove.cpp
  src/npcmove.cpp
Owners: none

implement flag ACTIVE_GENERATOR add active generator furniture
  data/json/furniture_and_terrain/furniture-industrial.json
  src/flag.cpp
  src/flag.h
  src/mapdata.cpp
  src/mapdata.h
  src/monattack.cpp
Owners: none

Moved ammo, ammo types, and recipes to AFS
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/ammo_types.json
  data/json/items/armor/ammo_pouch.json
  data/json/recipes/recipe_ammo.json
  data/mods/Aftershock/items/ammo/metal_rail.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/recipes/ammo_recipes.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Removed rebar rail and steel rail from several mods' blacklists
  data/mods/Dark-Skies-Above/blacklists/item_blacklist.json
  data/mods/Mythos/blacklists/item_blacklist.json
  data/mods/classic_zombies/items/blacklists.json
Owners: @ephemeralstoryteller, @I-am-Erk

Update mutations.json
  data/json/mutations/mutations.json
Owners: none

Added an option to change position of asterisk
  src/options.cpp
Owners: none

Place asterisk based on option
  src/item.cpp
Owners: none
