Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong

Update the table of contents
  doc/JSON_INFO.md
Owners: none

Update entry_tools.json
  data/json/items/tool/entry_tools.json
Owners: none

Smoothen weary tracker+intake reductions
  src/character.cpp
Owners: none

swtiched from hardcode cost to obtain_cost
  src/pickup.cpp
Owners: none

Fix power armor didn't show contained items (#47573)
  data/json/items/tool/workshop.json
  src/item.cpp
Owners: none

Fix drug tool usage (#47535)
  src/consumption.cpp
  src/game_inventory.cpp
Owners: none

Fix insert into pockets no move cost (#47547)
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/game_inventory.cpp
Owners: none

Valentine Cards (#47438)
  data/json/items/newspaper.json
  data/json/snippets/valentines.json
Owners: @I-am-Erk

[Aftershock] Move non scifi vehicle parts to Blaze Industries (#47279)
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/Aftershock/vehicles/vehicle_overrides.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/BlazeIndustries/blaze_furniture.json
  data/mods/BlazeIndustries/items/vehicle/blaze_other.json
  data/mods/BlazeIndustries/recipes/blaze_construction_recipes.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Apply suggestions from code review
  data/json/professions.json
Owners: none

Added trait conflict check when choosing profession.
  src/newcharacter.cpp
Owners: none

update the diff field of the TALON bots to account for their deadly weapon attacks
  data/json/monsters/defense_bot.json
Owners: none

bump the difficulty of gasoline and burner zombies
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_soldiers.json
Owners: none

Update professions.json
  data/json/professions.json
Owners: none

Add a proficiency for handloading, and a new profession (#47244)
  data/json/items/book/fabrication.json
  data/json/professions.json
  data/json/proficiencies/misc.json
  data/json/recipes/ammo/40x46mm.json
  data/json/recipes/ammo/40x53mm.json
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
  data/json/recipes/recipe_ammo.json
  data/mods/Generic_Guns/recipes/recipes_grenade_propelled.json
  data/mods/Generic_Guns/recipes/recipes_pistol.json
  data/mods/Generic_Guns/recipes/recipes_rifle.json
  data/mods/Generic_Guns/recipes/recipes_shot.json
Owners: none

Drug Dealer Profession (#47255)
  data/json/professions.json
Owners: none

Arm mounted pouch (#46946)
  data/json/itemgroups/activities_hobbies.json
  data/json/items/armor/storage.json
  data/json/recipes/armor/storage.json
Owners: none

Tazer drone iii (#47353)
  data/json/items/corpses/inactive_bots.json
  data/json/items/generic.json
  data/json/monstergroups/lab.json
  data/json/monsters/drones.json
  data/json/recipes/other/bots.json
Owners: none

Adjust monster immunities to venoms, being downed (#46156)
  data/json/effects.json
  src/melee.cpp
  src/monster.cpp
  tests/creature_effect_test.cpp
Owners: none

Added Gelatin and Several Gelatin Based Recipes (#47080)
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/SUS/fridges.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/other.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/other.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Owners: @I-am-Erk
