Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

convert add_spawn to place_spawns in mx_shia and mx_jabberwock
  data/json/monstergroups/misc.json
  src/map_extras.cpp
Owners: none

place_spawns also scatters a bit
  src/map_extras.cpp
Owners: none

Add NOMOVE to Artisans
  data/json/npcs/isolated_road/isolated_road_npcs.json
Owners: none

Update data/json/npcs/isolated_road/isolated_road_npcs.json
  data/json/npcs/isolated_road/isolated_road_npcs.json
Owners: none

remove q_staff_plus_one from known_bad_density.json
  data/mods/TEST_DATA/known_bad_density.json
Owners: none

Update terrain-roofs.json
  data/json/furniture_and_terrain/terrain-roofs.json
Owners: none

lint
  data/json/furniture_and_terrain/terrain-roofs.json
Owners: none

nylon and canvas corrections
  data/json/items/resources/tailoring.json
Owners: none

nylon corrections
  data/json/items/resources/plastic.json
Owners: none

Initial commit
  data/json/mapgen/map_extras/roadblock.json
  data/json/mapgen/map_extras/roadblock_mil.json
  data/json/monstergroups/zombies.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
Owners: none

lower canvas gambeson weight by 5%
  data/json/items/armor/gambesons.json
Owners: none

Apply suggestions from code review
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
Owners: @Maleclypse

Update data/json/regional_map_settings.json
  data/json/regional_map_settings.json
Owners: none

unhardcode
  src/map_extras.cpp
Owners: none

update the description
  data/json/overmap/map_extras.json
Owners: none

tweak values in mods
  data/mods/Aftershock/region_settings.json
  data/mods/Dark-Skies-Above/overrides/region_settings.json
  data/mods/No_Hope/regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
  data/mods/Xedra_Evolved/regional_overlay.json
  data/mods/classic_zombies/alberta_regional_map_settings.json
  data/mods/desert_region/desert_regional_map_settings.json
  data/mods/rural_biome/rural_regional_map_settings.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @Night-Pryanik, @I-am-Erk

update mapgen_functions
  data/json/monstergroups/bugs.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/zombies.json
  src/mapgen_functions.cpp
Owners: none

17
  src/mapgen_functions.cpp
Owners: none

Update data/json/monstergroups/bugs.json
  data/json/monstergroups/bugs.json
Owners: none

Update data/json/monstergroups/misc.json
  data/json/monstergroups/misc.json
Owners: none

Update data/json/monstergroups/zombies.json
  data/json/monstergroups/zombies.json
Owners: none

Update src/mapgen_functions.cpp
  src/mapgen_functions.cpp
Owners: none

Update src/mapgen_functions.cpp
  src/mapgen_functions.cpp
Owners: none

Update src/mapgen_functions.cpp
  src/mapgen_functions.cpp
Owners: none

Update src/mapgen_functions.cpp
  src/mapgen_functions.cpp
Owners: none

spaces
  src/mapgen_functions.cpp
Owners: none

spaces
  src/mapgen_functions.cpp
Owners: none

Set up a mock GCC toolchain root for Clang on GHA (#62405)
  .github/workflows/matrix.yml
Owners: none

remove q_staff_plus_one from known_bad_density.json (#62413)
  data/mods/TEST_DATA/known_bad_density.json
Owners: none

chore: typo hunting ft. codespell
  data/json/items/gun/762R.json
  data/json/monster_special_attacks/spells.json
  data/json/monsters/fish.json
  data/json/monsters/nether.json
  data/json/npcs/valhalla_cult/TALK_valhallist_shopkeeper.json
  data/json/recipes/nested.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_ammo.json
  data/mods/MA/README.md
  data/mods/Megafauna/monsters/mf_domestic.json
  data/mods/Megafauna/readme.md
  data/mods/TropiCataclysm/monsters/tropical_fish.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_eater.json
  data/mods/Xedra_Evolved/player/renfield_cbms.json
  data/mods/Xedra_Evolved/snippets/xedra.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ZhilkinSerg

convert add_spawn to place_spawns in mx_city_trap
  data/json/monstergroups/robots.json
  src/map_extras.cpp
Owners: none

Added some missing chainmail recipes
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Owners: none

Update data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Owners: none

Update data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Owners: none

Update data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Owners: none

Update data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Owners: none

Update data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Owners: none

Update data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Owners: none

Update recipe_groups.json
  data/json/recipes/basecamps/recipe_groups.json
Owners: none

Update data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/basecamps/recipe_groups.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
