Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

obsolete turn1
  data/json/obsoletion/obsolete_mapgen.json
Owners: none

Remove copy/paste mistake
  src/vehicle.cpp
Owners: none

creature: check ALL_SEEING before potential los (#62031)
  src/creature.cpp
Owners: none

add new magiclysm snippet (#62023)
  data/mods/Magiclysm/snippets/newspapers.json
Owners: @KorGgenT

enchantments now can alter skills (#61539)
  data/json/artifact/premade_artifacts.json
  src/character.cpp
  src/character.h
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/player_display.cpp
Owners: @KorGgenT

ci: labeler already capable of sub-string searches (#62022)
  .github/labeler.yml
Owners: none

Shady Hills location updates (#62007)
  data/json/mapgen/nested/strip_mall_nested.json
  data/json/mapgen/nursing_home.json
  data/json/mapgen/retirement_community.json
  data/json/mapgen_palettes/retirement_community_palette.json
  data/json/npcs/computers/TALK_RET_COMM.json
Owners: none

Farm supply store improvements (#62003)
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/mapgen/farm_supply.json
  data/json/mapgen_palettes/farm_supply_palette.json
  data/json/overmap/overmap_special/specials.json
Owners: none

make KitchenMaster use pseudo_water_purifier instead of water_purifier (#62005)
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
Owners: none

simple vehicle/appliance description for look around extended descriptions (#62002)
  data/raw/keybindings.json
  src/descriptions.cpp
  src/vehicle.cpp
  src/vpart_position.h
Owners: none

deleted raw_tainted_leather from acid soaked hide recipe (#61998)
  data/json/recipes/food/other.json
Owners: none

remove unused variables (nfc) (#61997)
  src/game.cpp
  src/simple_pathfinding.cpp
  src/vehicle_autodrive.cpp
  src/worldfactory.cpp
  tests/colony_test.cpp
  tests/crafting_test.cpp
  tests/explosion_balance_test.cpp
Owners: none

Aquatic land-based specials no longer float (#61981)
  data/json/overmap/overmap_special/specials.json
Owners: none

Xedra Evolved Note improvements (#61936)
  data/mods/Xedra_Evolved/README.md
  data/mods/Xedra_Evolved/disease.json
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/emit.json
  data/mods/Xedra_Evolved/effects/field_type.json
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/itemgroups/map_extra_itemgroups.json
  data/mods/Xedra_Evolved/itemgroups/monster_drops.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/items/inventor/artifacts.json
  data/mods/Xedra_Evolved/material.json
  data/mods/Xedra_Evolved/modinfo.json
  data/mods/Xedra_Evolved/mutations/classes.json
  data/mods/Xedra_Evolved/mutations/cybernetic_traits.json
  data/mods/Xedra_Evolved/vehicles/xedra.json
  data/mods/Xedra_Evolved/vitamin.json
Owners: @Maleclypse

Fix styling issues
  src/veh_appliance.cpp
  src/vehicle.cpp
  src/vehicle.h
Owners: none

Update appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Count consumed item as `last_item` to make tutorial correctly process `ACTION_EAT` action
  src/avatar_action.cpp
Owners: none

Zone correction 1
  data/json/mapgen/valhalla_cult/mapgen.json
Owners: none

should not spawn
  data/json/obsoletion/overmap/overmap_terrain/overmap_terrain_obsoletion.json
Owners: none

should not spawn
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Owners: none

Update zed_amalgamation.json
  data/json/monsters/zed_amalgamation.json
Owners: none

weight changes
  data/json/overmap/overmap_mutable/farm_mutable.json
Owners: none

fix
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Owners: none

Update canned.json
  data/json/recipes/food/canned.json
Owners: none

Update fishing.json
  data/json/items/tool/fishing.json
Owners: none

Update recipe_others.json
  data/json/recipes/recipe_others.json
Owners: none

revisions
  data/json/requirements/cooking_tools.json
Owners: none

Update tailoring.json
  data/json/items/tool/tailoring.json
Owners: none

Update bathroom_house.json
  data/json/items/generic/bathroom_house.json
Owners: none

Update containers.json
  data/json/items/containers.json
Owners: none

Update recipe_deconstruction.json
  data/json/recipes/recipe_deconstruction.json
Owners: none

modernize riot armor
  data/json/items/armor/suits_protection.json
Owners: none

Update bludgeons.json
  data/json/items/melee/bludgeons.json
Owners: none

updates
  data/json/items/armor/suits_protection.json
Owners: none

lint
  data/json/items/armor/suits_protection.json
Owners: none

repairs like
  data/json/items/armor/suits_protection.json
Owners: none

ci: more labeler rules
  .github/labeler.yml
Owners: none

con_milk fix
  data/json/recipes/recipe_food.json
Owners: none

finishing elements?
  data/json/recipes/food/canned.json
Owners: none

Update data/json/recipes/food/canned.json
  data/json/recipes/food/canned.json
Owners: none
