Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Burrowing creatures leave a temporary field instead of a permanent terrain change (#61845)
  data/json/field_type.json
  src/field_type.cpp
  src/field_type.h
  src/monmove.cpp
Owners: none

Add a common zombification route to mutant fauna (#60605)
  data/json/effects.json
  data/json/harvest.json
  data/json/monster_factions.json
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monster_special_attacks/spells.json
  data/json/monster_weakpoints/abomination_weakpoints.json
  data/json/monstergroups/zombie_amalgamations.json
  data/json/monsters/bird.json
  data/json/monsters/fish.json
  data/json/monsters/insect_spider.json
  data/json/monsters/jabberwock.json
  data/json/monsters/kraken_spawn.json
  data/json/monsters/mollusk.json
  data/json/monsters/mutant.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/rodentkin.json
  data/json/monsters/zed_amalgamation.json
  data/json/proficiencies/weakpoints.json
  data/json/snippets/mutant_anatomy.json
  doc/MONSTERS.md
  tests/monfactions_test.cpp
  tools/spell_checker/dictionary.txt
Owners: @int-ua

port: add info for MOUNTED_GUN flag (#62163)
  data/json/flags.json
Owners: none

units::power / watts definition
  src/units.cpp
  src/units.h
  src/units_fwd.h
  tests/units_test.cpp
Owners: none

Operators between power, energy and time_duration
  src/units.cpp
  src/units.h
  tests/units_test.cpp
Owners: none

Create vehicle_drag_test.json
  data/mods/TEST_DATA/vehicle_drag_test.json
Owners: none

Update brigandine
  data/json/items/armor/brigandine
Owners: none

Update brigandine
  data/json/items/armor/brigandine
Owners: none

Update vehicle_drag_test.json
  data/mods/TEST_DATA/vehicle_drag_test.json
Owners: none

Revert "Other option"
  src/mapgen.cpp
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Make strings easier to translate.
  src/item.cpp
Owners: none

inv_ui: fix category toggle of disabled entries
  src/inventory_ui.cpp
  src/inventory_ui.h
Owners: none

Update controls.json
  data/json/items/vehicle/controls.json
Owners: none

Update woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update 12mm.json
  data/json/items/gun/12mm.json
Owners: none

Update 12mm.json
  data/json/items/magazine/12mm.json
Owners: none

Update 12mm.json
  data/json/items/ammo/12mm.json
Owners: none

Update Aftershock dead survivor loot item group
  data/mods/Aftershock/itemgroups/loot_corpse_groups.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Rebalance mech lasers
  data/json/items/gun/ups.json
Owners: none

Update ups.json
  data/json/items/gun/ups.json
Owners: none

armor_chitin changed to using requirement
  data/json/recipes/armor/suit.json
Owners: none

fixes
  data/json/items/armor/gambesons.json
Owners: none

quilted wool
  data/json/materials.json
Owners: none

Apply suggestions from code review
  data/json/items/armor/gambesons.json
Owners: none

no damage report
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

No "The The"
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

Post a warning if a pull request is created from the master branch
  .github/workflows/check-branch-name.yml
Owners: none

XL/XS
  data/json/items/armor/gambesons.json
Owners: none

Update src/mapgen.cpp
  src/mapgen.cpp
Owners: none

Apply suggestions from code reviewbot
  src/mapgen.cpp
Owners: none

Update MAPGEN.md
  doc/MAPGEN.md
Owners: none

Update data/json/scenarios.json
  data/json/scenarios.json
Owners: none

Update data/json/scenarios.json
  data/json/scenarios.json
Owners: none

Update data/json/scenarios.json
  data/json/scenarios.json
Owners: none

lint of merge into master
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
