Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Update ethereal_items.json
  data/mods/Magiclysm/items/ethereal_items.json
Owners: @KorGgenT

Added millwall brick
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Owners: none

Added hiking pants (#61945)
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/legs_clothes.json
Owners: none

all tempered weapons use medium steel (#62012)
  data/json/recipes/weapon/cutting.json
Owners: none

Update data/json/items/melee/bludgeons.json
  data/json/items/melee/bludgeons.json
Owners: none

Update data/json/items/melee/bludgeons.json
  data/json/items/melee/bludgeons.json
Owners: none

Routine tileset updates on 30 October 2022
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiBig.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/Cuteclysm/items.png
  gfx/Cuteclysm/tile_config.json
  gfx/MshockXotto+/big.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tile_config.json
Owners: none

[Magiclysm] Mixed stuff (#61951)
  data/mods/Magiclysm/Spells/attunements/Magnetism_Mage.json
  doc/MAGIC.md
Owners: @KorGgenT

Update data/json/items/melee/bludgeons.json
  data/json/items/melee/bludgeons.json
Owners: none

added space, changed weight
  data/json/items/melee/bludgeons.json
Owners: none

Added hiking pants to nomad jumpsuit recipe
  data/json/recipes/armor/bespoke_armor/nomad.json
Owners: none

nolint
  src/magic_enchantment.h
Owners: @KorGgenT

spawn mon_copbot instead of mon_secubot
  data/json/mapgen/bank.json
Owners: none

Apply suggestions from code review
  data/mods/Magiclysm/snippets/newspapers.json
Owners: @KorGgenT

npctrade: better trade zone fallback
  src/npctrade_utils.cpp
Owners: none

npc: add is_shopkeper()
  src/npc.cpp
  src/npc.h
  src/npctrade.cpp
  src/trade_ui.cpp
Owners: none

doc/npc: document shop restocking behaviour
  doc/MAPGEN.md
  doc/NPCs.md
  doc/VEHICLES_JSON.md
  src/npc.cpp
Owners: none

Volume fix
  data/json/items/armor/robofac_armor.json
Owners: none

creature: check ALL_SEEING before potential los
  src/creature.cpp
Owners: none

Update zed_misc.json
  data/json/monsters/zed_misc.json
Owners: none

tries to fix an error that cropped up when merging the M9 and 90-two.
  data/mods/classic_zombies/items/blacklists.json
Owners: @I-am-Erk

added rocks into recipe, changed stats
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Owners: none

lint
  data/json/recipes/weapon/bashing.json
Owners: none

[Magiclysm] I am the storm that is approaching (#61982)
  data/json/emit.json
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/modinfo.json
  data/mods/Magiclysm/monster_attacks.json
  data/mods/Magiclysm/monsters/monsters.json
  data/mods/Magiclysm/traits/classes.json
  data/mods/Magiclysm/worldgen/magic_academy.json
  tools/spell_checker/dictionary.txt
Owners: @KorGgenT, @int-ua

Fix stamina check
  src/gamemode_tutorial.cpp
Owners: none

Set forced temperature to prevent freezing
  src/gamemode_tutorial.cpp
Owners: none

Replaced bike helmet with baseball helmet to trigger "wore armor" lesson
  data/json/mapgen/tutorial.json
Owners: none

Moved "lantern lesson" trap a bit north so player can actually see the lantern
  data/json/mapgen/tutorial.json
Owners: none

Update Permafrost_Mage.json
  data/mods/Magiclysm/enchantments/Permafrost_Mage.json
Owners: @KorGgenT

Add option to make net_battery_change_rate_w recurse through all connected vehicles
  src/veh_appliance.cpp
  src/vehicle.cpp
  src/vehicle.h
Owners: none

Update Shapeshifter.json
  data/mods/Magiclysm/Spells/attunements/Shapeshifter.json
Owners: @KorGgenT

adds hay field overmap terrains, mergers
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Owners: none

farm mutable
  data/json/overmap/overmap_mutable/farm_mutable.json
Owners: none

new dirt roads, hay fields, crop fields
  data/json/mapgen/farm_tiles.json
Owners: none

update farm lot palette
  data/json/mapgen_palettes/farm_lots.json
Owners: none

obsolete farms, remove turn1
  data/json/overmap/overmap_special/specials.json
Owners: none

reroute 3x3 farm's walkway
  data/json/mapgen/farm.json
Owners: none

make orchard sections square-shaped
  data/json/mapgen/orchard_apple.json
Owners: none

obsolete farm specials
  data/json/obsoletion/overmap_special/specials.json
Owners: none

obsolete turn1
  data/json/obsoletion/overmap/overmap_terrain/overmap_terrain_obsoletion.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
