Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

Update data/mods/Magiclysm/items/black_dragon_items.json
  data/mods/Magiclysm/items/black_dragon_items.json
Owners: @KorGgenT

Make xl visor the same thickness as normal one to avoid error, specify in description that dragon hide/scale is very durable, fix gloves description mentioning Kevlar, add XL backpack
  data/mods/Magiclysm/items/black_dragon_items.json
  data/mods/Magiclysm/recipes/dragon_black.json
Owners: @KorGgenT

lint
  data/mods/Magiclysm/items/black_dragon_items.json
Owners: @KorGgenT

Update maps.json
  data/json/items/book/maps.json
Owners: none

Update src/activity_handlers.cpp
  src/activity_handlers.cpp
Owners: none

fix xl backpack
  data/mods/Magiclysm/items/black_dragon_items.json
Owners: @KorGgenT

now yeast culture recipe can be made with glass jar
  data/json/recipes/recipe_medsandchemicals.json
Owners: none

Add duct tape blindfold for old reciepe, tweaks for reciepe and item.
  data/json/items/tool_armor.json
  data/json/recipes/armor/head.json
Owners: none

Fix explosion resulting in plant furnitures without seeds
  src/map.cpp
Owners: none

revert custom_initial_date change
  data/json/scenarios.json
  data/mods/Fuji_Structures/starts/scenarios.json
  data/mods/TEST_DATA/scenarios.json
  doc/JSON_INFO.md
  src/scenario.cpp
Owners: none

Update head.json
  data/json/recipes/armor/head.json
Owners: none

swap REQUIRE and CHECK
  tests/start_date_test.cpp
Owners: none

swap REQUIRE and CHECK
  tests/start_date_test.cpp
Owners: none

swap REQUIRE and CHECK
  tests/start_date_test.cpp
Owners: none

CHECK REQUIREswap
  tests/start_date_test.cpp
Owners: none

astyle
  tests/start_date_test.cpp
Owners: none

greatly reduce chance of random test failure
  tests/start_date_test.cpp
Owners: none

compose.py palette option
  tools/gfx_tools/compose.py
Owners: @int-ua

Document compose.py palette argument
  doc/TILESET.md
Owners: none

Fix missing I18N in "whack!" sound description
  src/melee.cpp
Owners: none

Unload NPCs who are outside reality bubble
  src/game.cpp
Owners: none

fix stamina costs for uncanny dodge
  src/character.cpp
Owners: none

Do an additional copyediting pass
  doc/COMPILING/COMPILING-CMAKE.md
  doc/SOUNDPACKS.md
Owners: none

Rephrase a MinGW-specific note.
  doc/COMPILING/COMPILING-CMAKE.md
Owners: none

Use std::to_string() from standard library where applicable
  src/avatar.cpp
  src/basecamp.cpp
  src/bionics.cpp
  src/bionics_ui.cpp
  src/debug_menu.cpp
  src/dump.cpp
  src/editmap.cpp
  src/faction_camp.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/inventory_ui.cpp
  src/item_group.cpp
  src/magic.cpp
  src/mission_companion.cpp
  src/monexamine.cpp
  src/monster.cpp
  src/npc.cpp
  src/overmap_ui.cpp
  src/panels.cpp
  src/safemode_ui.cpp
  src/savegame_json.cpp
  src/stomach.cpp
  src/string_formatter.h
  src/string_input_popup.cpp
  src/tileray.cpp
  src/trait_group.cpp
  src/units.h
Owners: @KorGgenT

Extract symbol demangling to a separate function
  src/debug.cpp
Owners: none

IsherTerrain
  data/json/mapgen/isherwood_farms/rural_roads_trails.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Owners: none

Update src/character.cpp
  src/character.cpp
Owners: none

[Magiclysm] add lesser banishment spell, buff greater banishment
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
Owners: @KorGgenT

astyle
  src/character.cpp
Owners: none

Improve message when omap terrain lacks rotation
  src/overmap.cpp
Owners: none

palette and palette-copies arguments
  tools/gfx_tools/compose.py
Owners: @int-ua

Reflect changes in the TILESET.md
  doc/TILESET.md
Owners: none

Update Ultica 21-02-15
  gfx/UltimateCataclysm/centered.png
  gfx/UltimateCataclysm/fillergiant.png
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/giant.png
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/incomplete_large.png
  gfx/UltimateCataclysm/incomplete_tall.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
  gfx/UltimateCataclysm/tileset.txt
Owners: @I-am-Erk

Update Chibi Ultica 21-02-15
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiLargeMonster.png
  gfx/ChibiUltica/ChibiLargeMonsterMagiclysm.png
  gfx/ChibiUltica/ChibiLargeOverlay.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiNormalCharacter.png
  gfx/ChibiUltica/ChibiNormalMonster.png
  gfx/ChibiUltica/ChibiNormalMonsterMSC.png
  gfx/ChibiUltica/ChibiNormalMonsterMagiclysm.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiTallMonster.png
  gfx/ChibiUltica/ChibiTallMonsterMagiclysm.png
  gfx/ChibiUltica/ChibiTallOverlay.png
  gfx/ChibiUltica/centered.png
  gfx/ChibiUltica/fillergiant.png
  gfx/ChibiUltica/fillerhoder.png
  gfx/ChibiUltica/giant.png
  gfx/ChibiUltica/huge.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/incomplete_large.png
  gfx/ChibiUltica/incomplete_tall.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tallfurniture.png
  gfx/ChibiUltica/tallmonsters.png
  gfx/ChibiUltica/tallshadows.png
  gfx/ChibiUltica/tallterrain.png
  gfx/ChibiUltica/tallvehicle.png
  gfx/ChibiUltica/tile_config.json
Owners: @I-am-Erk

Update MSXotto+ 21-02-15
  gfx/MshockXotto+/fallback.png
  gfx/MshockXotto+/fillersmall.png
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/tileset.txt
Owners: @I-am-Erk

Ignore --palette-copies with --palette
  tools/gfx_tools/compose.py
Owners: @int-ua

Update TILESET.md
  doc/TILESET.md
Owners: none

sun angle
  src/calendar.cpp
  src/calendar.h
  src/units.h
Owners: none

Conservation of mass for nailboard trap
  data/json/items/tool/traps.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong
