Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

adds variants for the 7.62x25mm and 9x18mm guns, finishes the .22 variants, adds needed variants for magazines.
  data/json/items/gun/22.json
  data/json/items/gun/762x25.json
  data/json/items/gun/9x18.json
  data/json/items/magazine/22.json
  data/json/items/magazine/762x25.json
  data/json/items/magazine/9x18.json
Owners: none

Spellchecking
  data/json/npcs/godco/NPC_Arturo_Maldonado.json
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Father_Greenwood.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Helena_Misinter.json
  data/json/npcs/godco/NPC_Jane_Schulz.json
  data/json/npcs/godco/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/NPC_Julian_Ray.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/NPC_Russell_Connelly.json
  data/json/npcs/godco/godco_missions.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Merge branch 'godco_project' of https://github.com/MNG-cataclysm/Cataclysm-DDA into godco_project
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Helena_Misinter.json
  data/json/npcs/godco/NPC_Jane_Schulz.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update containers.json
  data/json/recipes/tools/containers.json
Owners: none

Update recipe_obsolete.json
  data/json/recipes/recipe_obsolete.json
Owners: none

Bigfixes 4
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Jane_Schulz.json
  data/json/npcs/godco/NPC_Julian_Ray.json
Owners: none

Bugfixes 4
  data/json/npcs/godco/godco_missions.json
  data/mods/No_Hope/Mapgen/cground3x3.json
Owners: @Night-Pryanik

Remove Railgun CBM
  data/json/bionics.json
  data/json/itemgroups/Monsters_Animals_Lairs/harvest_cbm.json
  data/json/itemgroups/bionics.json
  data/json/itemgroups/electronics.json
  data/json/items/bionics.json
  data/json/items/software.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  data/json/obsolete.json
  gfx/BrownLikeBears/tile_config.json
  gfx/Cuteclysm/tile_config.json
Owners: none

Linting
  data/json/itemgroups/Monsters_Animals_Lairs/harvest_cbm.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
Owners: none

Restore tile config
  gfx/BrownLikeBears/tile_config.json
  gfx/Cuteclysm/tile_config.json
Owners: none

Update obsolete.json
  data/json/obsolete.json
Owners: none

Adds throwing assist CBM
  data/json/bionics.json
  data/json/itemgroups/bionics.json
  data/json/itemgroups/electronics.json
  data/json/items/bionics.json
  data/json/items/software.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  data/json/proficiencies/misc.json
Owners: none

Linting
  data/json/itemgroups/bionics.json
  data/json/itemgroups/electronics.json
  data/json/items/software.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
Owners: none

Remove comma
  data/json/bionics.json
Owners: none

Another spare comma
  data/json/items/bionics.json
Owners: none

Fix name
  data/json/bionics.json
Owners: none

Update exodii_merchant_itemlist.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
Owners: none

Update data/json/items/bionics.json
  data/json/items/bionics.json
Owners: none

Update data/json/items/software.json
  data/json/items/software.json
Owners: none

Update dictionary.txt
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Pitch Perfect w/ enchantment
  data/json/bionics.json
  data/json/itemgroups/Monsters_Animals_Lairs/harvest_cbm.json
  data/json/proficiencies/misc.json
Owners: none

Update bionics.json
  data/json/bionics.json
Owners: none

'throwing' to 'throw'
  data/json/bionics.json
Owners: none

Update exosuit_underlayers.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_underlayers.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Linting
  data/mods/Aftershock/items/armor/exosuit/exosuit_underlayers.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update toolsets.json
  data/json/requirements/toolsets.json
Owners: none

Add hazmat suit
  data/json/requirements/toolsets.json
Owners: none

Entry suit
  data/json/requirements/toolsets.json
Owners: none

Part 1 organization
  data/json/items/book/misc_scifi.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/mapgen_palettes/church_retreat.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Owners: none

Part 2 organization
  data/json/npcs/godco/NPC_Arturo_Maldonado.json
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Chloe_Taylor_King.json
  data/json/npcs/godco/NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/NPC_Father_Greenwood.json
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Helena_Misinter.json
  data/json/npcs/godco/NPC_Jane_Schulz.json
  data/json/npcs/godco/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/NPC_Julian_Ray.json
  data/json/npcs/godco/NPC_Katherine_Weaver.json
  data/json/npcs/godco/NPC_Kostas_Walsman.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/NPC_Olwen_Powell.json
  data/json/npcs/godco/NPC_Russell_Connelly.json
  data/json/npcs/godco/NPC_Sonia_Greene.json
  data/json/npcs/godco/NPC_Tom_Powell.json
  data/json/npcs/godco/NPC_Zachary_Montes.json
  data/json/npcs/godco/classes.json
  data/json/npcs/godco/cook.json
  data/json/npcs/godco/foodguard.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/npcs.json
Owners: none

Delete godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update toolsets.json
  data/json/requirements/toolsets.json
Owners: none

Organization
  data/mods/No_Hope/Mapgen/cground3x3.json
Owners: @Night-Pryanik

Skin protection
  data/json/requirements/toolsets.json
Owners: none

Update toolsets.json
  data/json/requirements/toolsets.json
Owners: none

sometimes my freakin' knees are as stiff as a metal pole
  data/json/mutations/mutations.json
Owners: none

Suggestions 1
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Chloe_Taylor_King.json
Owners: none

Nonrigid nested container can't fill charges item
  src/character_attire.cpp
  src/character_attire.h
Owners: none

Chemistry PPE (#62067)
  data/json/requirements/toolsets.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
