Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

slenderize dinos in vanilla zombie list
  data/mods/DinoMod/monstergroups/zinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

[DinoMod] giant indoor zombie dino bugfix
  data/mods/DinoMod/monstergroups/zinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Fix the toc generator (#47302)
  .github/workflows/toc.yml
Owners: none

Optimize item migrations to decrease load times (#46980)
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
  src/requirements.cpp
  src/requirements.h
Owners: none

Update data/json/items/newspaper.json
  data/json/items/newspaper.json
Owners: none

Add basket weaving proficiency to wicker sieve recipe
  data/json/recipes/tools/tool.json
Owners: none

Update game.cpp
  src/game.cpp
Owners: none

Fix looks_like for vehicle parts
  src/cata_tiles.cpp
Owners: none

Add butchering quality to everything with cutting quality
  data/json/items/melee/spears_and_polearms.json
  data/json/items/tool/knives.json
  data/json/items/tool/med.json
  data/json/items/tool/pets.json
  data/json/items/tool/stationary.json
  data/json/items/tool/workshop.json
Owners: none

Extract frostbite logic from Character::update_bodytemp (#47345)
  src/character.cpp
  src/character.h
Owners: none

Fixes scuba tanks (#47376)
  src/iuse.cpp
Owners: none

Use /bin/sh compatible single bracket when determining version string
  Makefile
Owners: none

helps you join the mycus
  data/json/itemgroups/SUS/domestic.json
Owners: @I-am-Erk

furniture break fix
  src/game.cpp
  src/map.cpp
  src/map.h
Owners: none

Migrate vehicle ammo spawns
  data/mods/Generic_Guns/vehicles/ammo_redefine_hacks/temp_ammo_redefine_hack.json
  data/mods/Generic_Guns/vehicles/ammo_redefine_hacks/temp_magazine_json_load_hack.json
  src/veh_type.cpp
Owners: none

remove biosig and bullet armor from qianzhousaurus
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

biosig and bullet armor removal for nothronychus
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Apply suggestions from code review
  src/character.cpp
Owners: none

zombie dino bullet armor purge
  data/mods/DinoMod/monsters/zed-dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Fix roofs building and placement
  src/map.cpp
Owners: none

Added no_thirst flag to metabolic rehydration (#47403)
  data/json/mutations/mutations.json
Owners: none

Updated monsters that could spawn in land and island prisons with new zombie prisoners variants (#47412)
  data/json/mapgen/prison_1.json
  data/json/monstergroups/zombies.json
Owners: none

Astyle.
  src/cata_tiles.cpp
Owners: none

[DinoMod] giant indoor zombie dino bugfix
  data/mods/DinoMod/monstergroups/zinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

clang-tidy fix
  src/map.h
Owners: none

Defer profession items spawn until after game start
  src/game.cpp
  src/newcharacter.cpp
  src/profession.cpp
Owners: none

Update JSON_INFO.md
  doc/JSON_INFO.md
Owners: none

docs: update TOC
  doc/JSON_INFO.md
Owners: none

Update JSON_INFO.md
  doc/JSON_INFO.md
Owners: none

Defer profession items spawn until after game start
  src/game.cpp
  src/newcharacter.cpp
  src/profession.cpp
Owners: none

docs: update TOC
  doc/JSON_INFO.md
Owners: none

Update JSON_INFO.md
  doc/JSON_INFO.md
Owners: none

Use POSIX single bracket in lang/update_pot.sh
  lang/update_pot.sh
Owners: @BrettDong

Fix L10N not working when env var LANG is unset
  src/translations.cpp
Owners: none

Automatically detect and set NATIVE=osx on Mac
  Makefile
Owners: none

Use clang as default compiler on Mac
  Makefile
Owners: none

Add /usr/local to header/library search path on BSD
  Makefile
Owners: none

Mainline patch on locale path from FreeBSD and OpenBSD ports
  src/translations.cpp
Owners: none

Lint
  data/json/mapgen/prison_1.json
Owners: none

Defer profession item spawn until after game start
  src/game.cpp
  src/newcharacter.cpp
  src/profession.cpp
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong
