Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Jerrycan recipe alterations (#62064)
  data/json/recipes/recipe_obsolete.json
  data/json/recipes/tools/containers.json
Owners: none

Exosuit Climate Control (#61518)
  data/mods/Aftershock/items/armor/exosuit/exosuit_underlayers.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Replace Railgun CBM (#61176)
  data/json/bionics.json
  data/json/itemgroups/Monsters_Animals_Lairs/harvest_cbm.json
  data/json/itemgroups/bionics.json
  data/json/itemgroups/electronics.json
  data/json/items/bionics.json
  data/json/items/software.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  data/json/obsolete.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Fix mutations for Xedra Evolved (#62051)
  data/mods/Xedra_Evolved/mutations/mutations.json
Owners: @Maleclypse

Add Standard Combat Test mod for better monster balance testing (#61013)
  data/mods/Standard_Combat_Tests/modinfo.json
  doc/MONSTERS.md
  src/scenario.cpp
Owners: none

Add const to some variables
  src/character_attire.cpp
Owners: none

Add 1 tile radius to store ebook to device (#62055)
  src/game_inventory.cpp
  src/game_inventory.h
  src/iuse.cpp
Owners: none

[Xedra Evolved] Typos bad, give vampire CBMs non-placeholder descriptions (#62050)
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/items/cbms.json
  data/mods/Xedra_Evolved/monsters/bloodsuckers.json
  data/mods/Xedra_Evolved/player/renfield_cbms.json
  data/mods/Xedra_Evolved/snippets/vampire_speech.json
Owners: @Maleclypse

ci: more labeler rules (#62049)
  .github/labeler.yml
Owners: none

last few clean ups.
  data/json/items/gun/22.json
  data/json/items/magazine/57.json
Owners: none

fixes bugs.
  data/json/items/gun/22.json
Owners: none

Adopt item_location style
  src/character_attire.cpp
  src/character_attire.h
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Made examining traps earlier than interacting with console
  src/construction.cpp
  src/game.cpp
Owners: none

Add everything
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/roof.json
  data/json/itemgroups/stashes.json
  data/json/items/armor/cloaks.json
Owners: none

Add type
  data/json/items/armor/cloaks.json
Owners: none

Ubuntu appeasement
  data/json/items/armor/cloaks.json
Owners: none

Spellchecking
  data/json/items/armor/cloaks.json
Owners: none

Tweak magiclysm stuff
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/attunements/Boreal_Mage.json
  data/mods/Magiclysm/Spells/attunements/Cleansing_Flame.json
  data/mods/Magiclysm/Spells/attunements/Fire_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Glacier_Mage.json
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/Spells/attunements/Illusionist.json
  data/mods/Magiclysm/Spells/attunements/Overclocker.json
  data/mods/Magiclysm/Spells/attunements/Radiation_Mage.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_rings.json
  data/mods/Magiclysm/items/ethereal_items.json
Owners: @KorGgenT

Fix logical error and adjust for unit tests
  src/character_attire.cpp
Owners: none

Tweak magiclysm stuff
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/attunements/Boreal_Mage.json
  data/mods/Magiclysm/Spells/attunements/Cleansing_Flame.json
  data/mods/Magiclysm/Spells/attunements/Fire_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Glacier_Mage.json
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/Spells/attunements/Illusionist.json
  data/mods/Magiclysm/Spells/attunements/Overclocker.json
  data/mods/Magiclysm/Spells/attunements/Radiation_Mage.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_rings.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spellbooks.json
Owners: @KorGgenT

Optimize to Clang-tidy (clang-12, tiles)
  src/character_attire.cpp
Owners: none

Provide hint for msvc build tag
  pages/experimental.md
Owners: none

Fix template warning
  src/magic_enchantment.cpp
Owners: @KorGgenT

Update insect_spider.json
  data/json/monsters/insect_spider.json
Owners: none

Update monster_attacks.json
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

Update insect_spider.json
  data/json/monsters/insect_spider.json
Owners: none

Update insect_spider.json
  data/json/monsters/insect_spider.json
Owners: none

Update insect_spider.json
  data/json/monsters/insect_spider.json
Owners: none

Update monster_attacks.json
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

Update monster_attacks.json
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

Update monster_attacks.json
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

Update insect_spider.json
  data/json/monsters/insect_spider.json
Owners: none

Update insect_spider.json
  data/json/monsters/insect_spider.json
Owners: none

Update bludgeons.json
  data/json/items/melee/bludgeons.json
Owners: none

kw->kwh
  data/json/items/tool/cooking.json
Owners: none

further adjusts
  data/json/recipes/recipe_food.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
