Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

make lumbermill employees not spawn as random
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
Owners: none

oops didn't noticed that onr
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
Owners: none

Update veh_interact.cpp
  src/veh_interact.cpp
Owners: none

fix some errors
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
  src/overmap.cpp
Owners: none

sort
  src/overmap.cpp
Owners: none

Add more stuff
  data/json/npcs/classes.json
  data/json/npcs/npc.json
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

Update data/json/npcs/valhalla_cult/npcs.json
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

Update data/json/npcs/classes.json
  data/json/npcs/classes.json
Owners: none

Update data/json/npcs/classes.json
  data/json/npcs/classes.json
Owners: none

Update legs_clothes.json
  data/json/items/armor/legs_clothes.json
Owners: none

Don't trigger any effect when setting and unsetting cosmetic traits
  src/mutation.cpp
Owners: none

first work of getting this up to date
  data/mods/classic_zombies/alberta_regional_map_settings.json
  data/mods/classic_zombies/design-doc.md
  data/mods/classic_zombies/exclusions.json
Owners: @I-am-Erk

lint
  data/mods/classic_zombies/alberta_regional_map_settings.json
  data/mods/classic_zombies/exclusions.json
Owners: @I-am-Erk

dumb copypaste error
  data/mods/classic_zombies/exclusions.json
Owners: @I-am-Erk

horns mutation fix
  data/mods/DinoMod/mutations/mutations.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

add CLASSIC to more terrain
  data/json/overmap/overmap_special/specials.json
Owners: none

another dumb copypasta error
  data/mods/classic_zombies/exclusions.json
Owners: @I-am-Erk

Added canvas material to Magiclysm-specific sewing kit and tailor's kit
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/tools.json
Owners: @KorGgenT

desc
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

desc
  data/json/items/armor/torso_armor.json
Owners: none

starting kcal
  src/newcharacter.cpp
Owners: none

J->W
  data/json/items/tool/cooking.json
Owners: none

adjusts
  src/character_body.cpp
Owners: none

weight category ranges
  src/game_constants.h
Owners: none

simplify
  src/character.cpp
Owners: none

fix copy-from
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
Owners: none

fix mods
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/overmap_special_migration.json
  data/json/regional_map_settings.json
Owners: none

Update appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update gambesons.json
  data/json/items/armor/gambesons.json
Owners: none

Update gambesons.json
  data/json/items/armor/gambesons.json
Owners: none

aketon
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Update appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none
