Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

pls fix holocloak description
  data/mods/Aftershock/items/armor.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

[DinoMod] Big fat update
  data/mods/DinoMod/NPC/NC_Red.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update dino spawn and upgrade groups
  data/mods/DinoMod/monstergroups/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Zombie dino spawn updates
  data/mods/DinoMod/monstergroups/zinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update lab spawns
  data/mods/DinoMod/monstergroups/lab.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

egg spawn groups
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

wilderness spawn update
  data/mods/DinoMod/monstergroups/wilderness.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Design update
  data/mods/DinoMod/DESIGN.md
Owners: @ephemeralstoryteller, @damien, @LyleSY

update cooking_components
  data/mods/DinoMod/cooking_components.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

update egg
  data/mods/DinoMod/egg.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update hints
  data/mods/DinoMod/hints.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Create items.json
  data/mods/DinoMod/items.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Create laser_items.json
  data/mods/DinoMod/laser_items.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

update factions
  data/mods/DinoMod/monster_factions.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

update recipe_medsandchemicals
  data/mods/DinoMod/recipe_medsandchemicals.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

update regional_overlay
  data/mods/DinoMod/regional_overlay.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

update snippets
  data/mods/DinoMod/snippets.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create npc_classes_mutant.json
  data/mods/DinoMod/NPC/npc_classes_mutant.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create trait_groups.json
  data/mods/DinoMod/NPC/trait_groups.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

rename items
  data/mods/DinoMod/items/items.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create books
  data/mods/DinoMod/items/books.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create itemgroups
  data/mods/DinoMod/items/itemgroups.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create mutagen
  data/mods/DinoMod/items/mutagen.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

move eggs
  data/mods/DinoMod/items/egg.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create nest_maiasaura.json
  data/mods/DinoMod/mapgen/map_extras/nest_maiasaura.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create nest_tyrannosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_tyrannosaurus.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Create DinoLabFinale
  data/mods/DinoMod/mapgen/DinoLabFinale.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create map_extras.json
  data/mods/DinoMod/overmap/map_extras.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

move overmap_specials
  data/mods/DinoMod/overmap/overmap_specials.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

move overmap_terrain
  data/mods/DinoMod/overmap/overmap_terrain.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

create dreams
  data/mods/DinoMod/mutations/dreams.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Create mutations
  data/mods/DinoMod/mutations/mutations.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

[Magiclysm] add shocking lash spell to stormshaper, revise novice stormshaper profession (#47369)
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/professions.json
  data/mods/Magiclysm/worldgen/magic_shop.json
Owners: @KorGgenT

fixed typo according to Maleclypse
  data/json/npcs/talk_tags.json
Owners: none

fixed typo according to Maleclypse
  data/json/npcs/talk_tags.json
Owners: none

added suggestion by Maleclypse to <swear!> snippet
  data/json/npcs/talk_tags.json
Owners: none

Update data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Prevent help text overlap in world options
  src/options.cpp
Owners: none

Apply suggestions from code review
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/player/professions.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong
