Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

bogos linted
  data/json/recipes/ammo/weldgas.json
Owners: none

add a storage tank furniture and the associated recipe.
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-storage.json
Owners: none

allow a couple items to act as fire for crafting
  data/json/items/tool/lighting.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/ethereal_items.json
Owners: @KorGgenT

Update monster_attacks.json
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

port: remove references to obsolete rock_pot
  data/json/recipes/basecamps/base/recipe_modular_firestation_1/recipe_modular_firestation1.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_primitive_field.json
  data/json/recipes/basecamps/base/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_2/recipe_modular_canteen_common.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
Owners: @KorGgenT

use tyrannosaurid specials
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Add everything
  data/json/effect_on_condition.json
  data/json/itemgroups/food_service.json
  data/json/mapgen/apartment_con_new.json
  data/json/mapgen/campsite.json
  data/json/mapgen/house/house_prepper.json
  data/json/mapgen/moonshine_camp.json
  data/json/mapgen/nested/npc_nested_spawns.json
  data/json/mapgen/ws_survivor_camp.json
  data/json/npcs/classes.json
  data/json/npcs/npc.json
  data/json/npcs/other/TALK_NPC_APARTMENT_SURVIVOR.json
  data/json/npcs/other/TALK_NPC_CAMPER.json
  data/json/npcs/other/TALK_NPC_MOONSHINER.json
  data/json/npcs/other/TALK_NPC_PREPPER_SURVIVOR.json
  data/json/npcs/other/shelter_survivors.json
  data/json/scenarios.json
Owners: none

Remove unrelated code
  data/json/effect_on_condition.json
  data/json/mapgen/nested/npc_nested_spawns.json
  data/json/npcs/classes.json
  data/json/npcs/npc.json
  data/json/scenarios.json
Owners: none

Spellchecking
  data/json/npcs/other/TALK_NPC_CAMPER.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Update TALK_NPC_APARTMENT_SURVIVOR.json
  data/json/npcs/other/TALK_NPC_APARTMENT_SURVIVOR.json
Owners: none

Update TALK_NPC_PREPPER_SURVIVOR.json
  data/json/npcs/other/TALK_NPC_PREPPER_SURVIVOR.json
Owners: none

Update data/json/npcs/other/TALK_NPC_APARTMENT_SURVIVOR.json
  data/json/npcs/other/TALK_NPC_APARTMENT_SURVIVOR.json
Owners: none

Update data/json/npcs/other/TALK_NPC_PREPPER_SURVIVOR.json
  data/json/npcs/other/TALK_NPC_PREPPER_SURVIVOR.json
Owners: none

lint
  data/json/recipes/recipe_deconstruction.json
Owners: none

mon drops
  data/json/monsterdrops/zombie_cop.json
Owners: none

drop chances
  data/json/monsterdrops/zombie_cop.json
Owners: none

add accepted mag
  data/json/items/gun/robofac_gun.json
Owners: none

airsoft helm spawns with attachments, slight buff to attachments
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/armor/head_attachments.json
Owners: none

Update paintball_field.json
  data/json/mapgen/paintball_field.json
Owners: none

Re-added comma and removed extraneous plural forms
  data/json/items/armor/ammo_pouch.json
Owners: none

Update bashing.json
  data/json/recipes/weapon/bashing.json
Owners: none

bogos linted (#62130)
  data/json/recipes/ammo/weldgas.json
Owners: none

better activation message for pet food action (#62128)
  src/iuse.cpp
Owners: none

Unifies window names (#62121)
  data/json/furniture_and_terrain/terrain-windows.json
Owners: none

npctrade: remove dead code (#62119)
  src/npc.cpp
Owners: none

[DinoMod] nerf juvenile predator damage (#62114)
  data/mods/DinoMod/monsters/juvenile.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Exclude ammo-restricted pockets from free space calculation (#62110)
  src/item.cpp
Owners: none

[Xedra Evolved] some small fixes (#62107)
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/items/resources.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
Owners: @Maleclypse

Craftable gravelbag (#62090)
  data/json/recipes/recipe_others.json
  data/json/uncraft/generic.json
Owners: none

Made examining traps earlier than interacting with console (#62076)
  src/construction.cpp
  src/game.cpp
Owners: none

sometimes my knees are as stiff as a metal pole (#62071)
  data/json/mutations/mutations.json
Owners: none

Mini survival kit in the handle of the survival knife to match its description (#61737)
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/military.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/tools.json
  data/json/items/chemicals_and_resources.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/fire.json
  data/json/items/tool/tailoring.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/items_generic.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_pilot.json
  data/json/professions.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_hand.json
  data/json/requirements/materials.json
  data/mods/Aftershock/npcs/cyborg_npcs/item_groups_cyborg.json
  data/mods/Military_Professions/prof/spc.json
  data/mods/No_Hope/Mapgen/mil_base_z0.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @Night-Pryanik

Leap changes (#61255)
  doc/MAGIC.md
  doc/MONSTER_SPECIAL_ATTACKS.md
  src/mattack_actors.cpp
  src/mattack_actors.h
Owners: none

Super Soldier Ant Rework (#60391)
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monsters/insect_spider.json
Owners: none

Cash Registers should be able to hold bundles, scrip, and rolled coin (#59191)
  data/json/items/generic.json
Owners: none

Update main_menu.cpp
  src/main_menu.cpp
Owners: none

Change gunmods information display method
  src/item.cpp
Owners: none

Add proper credit and integrate mission
  data/json/npcs/godco/godco_missions.json
Owners: none

Update main_menu.cpp (#62136)
  src/main_menu.cpp
Owners: none

[Magiclysm] Tweak some magiclysm stuff (#62079)
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/attunements/Boreal_Mage.json
  data/mods/Magiclysm/Spells/attunements/Cleansing_Flame.json
  data/mods/Magiclysm/Spells/attunements/Fire_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Glacier_Mage.json
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/Spells/attunements/Illusionist.json
  data/mods/Magiclysm/Spells/attunements/Overclocker.json
  data/mods/Magiclysm/Spells/attunements/Radiation_Mage.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_rings.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spellbooks.json
Owners: @KorGgenT

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
