Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update data/json/mutations/appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

make get_str_base() significantly more cursed
  src/character.cpp
Owners: none

Update src/newcharacter.cpp
  src/newcharacter.cpp
Owners: none

set XS to 0.2x instead of 0.33x
  src/newcharacter.cpp
Owners: none

Update src/character.cpp
  src/character.cpp
Owners: none

start making medical ui respect new changes
  src/medical_ui.cpp
Owners: none

get_bmi() -> get_bmi_fat()
  src/character_body.cpp
Owners: none

get_bmi()->get_bmi_fat()
  src/display.cpp
Owners: none

burn strength instead of kcal when malnourished
  src/character.cpp
Owners: none

Update data/mods/Backrooms/scenarios.json
  data/mods/Backrooms/scenarios.json
Owners: none

Update appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update src/character.cpp
  src/character.cpp
Owners: none

added to whitelist
  data/mods/Backrooms/scenarios.json
Owners: none

thickness
  data/json/items/armor/gambesons.json
Owners: none

get_bmi->get_bmi_fat()
  src/player_display.cpp
Owners: none

get_bmi()->get_bmi_fat()
  src/avatar.cpp
Owners: none

get_bmi()->get_bmi_fat()
  src/suffer.cpp
Owners: none

adjust threshes
  data/json/body_parts.json
Owners: none

Update bodypart.h
  src/bodypart.h
Owners: none

fix: edge case ci error exit
  .github/workflows/linter.yml
Owners: none

nylon gambesons!
  data/json/items/armor/gambesons.json
Owners: none

Update character.cpp
  src/character.cpp
Owners: none

Update tools_primitive.json
  data/json/recipes/tools/tools_primitive.json
Owners: none

Feral Agents and Jotunn
  data/mods/Xedra_Evolved/encounters/jotunn_encounters.json
  data/mods/Xedra_Evolved/itemgroups/monster_drops.json
  data/mods/Xedra_Evolved/modinfo.json
  data/mods/Xedra_Evolved/monsters/exodii.json
  data/mods/Xedra_Evolved/monsters/ferals.json
  data/mods/Xedra_Evolved/monsters/monsterattacks.json
  data/mods/Xedra_Evolved/monsters/monstergroup.json
Owners: @Maleclypse

fix: edge case ci error exit (#62660)
  .github/workflows/linter.yml
Owners: none

Added canvas material to Magiclysm-specific sewing kit and tailor's kit (#62651)
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/tools.json
Owners: @KorGgenT

horns mutation fix (#62650)
  data/mods/DinoMod/mutations/mutations.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Don't trigger any effect when setting and unsetting cosmetic traits (#62649)
  src/mutation.cpp
Owners: none

make lumbermill employees not spawn as random npcs (#62645)
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
Owners: none

Update the table of contents (#62643)
  doc/JSON_INFO.md
Owners: none

Add new colors to trait groups
  data/json/npcs/appearance_trait_groups.json
Owners: none

Change id from medium-length to medium for consistency
  data/json/mutations/appearance_hair_styles.json
Owners: none

includes number of additional pockets in item name
  src/item.cpp
Owners: none

Add color variant for short hair and fix some descriptions
  data/json/mutations/appearance_hair_styles.json
  data/json/npcs/appearance_trait_groups.json
Owners: none

crewcut -> crew cut
  data/json/mutations/appearance_hair_styles.json
Owners: none
