Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

no grab and hit and run
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

try again
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update src/melee.cpp
  src/melee.cpp
Owners: none

steel grade, motor_armor adjustmet
  data/json/items/armor/masks.json
  data/json/items/armor/torso_armor.json
Owners: none

Update boots.json
  data/json/items/armor/boots.json
Owners: none

Update gloves.json
  data/json/items/armor/gloves.json
Owners: none

nvm about grades,
  data/json/items/armor/masks.json
Owners: none

Update starting_missions.json
  data/json/starting_missions.json
Owners: none

Removed "megastores" from dixtionary.txt and item descriptions
  data/json/items/book/maps.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

reapirs_like
  data/json/items/armor/helmets.json
Owners: none

thickness
  data/json/items/armor/helmets.json
Owners: none

Apply suggestions from code review
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
Owners: @Maleclypse

steel grades lol
  data/json/items/armor/masks.json
Owners: none

bio_op_impale
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

dusters
  data/json/items/armor/bespoke_armor/custom_overcoats.json
  data/json/recipes/armor/torso.json
  data/json/recipes/nested.json
Owners: none

warmth
  data/json/items/armor/bespoke_armor/custom_overcoats.json
Owners: none

add chance for cannabis extraction supplies in houses
  data/json/itemgroups/misc.json
  data/json/mapgen/basement/basement_weed.json
  data/json/mapgen/house/house_detatched6.json
  data/json/mapgen/nested/aux_nested.json
Owners: none

oil extraction book chance to 75%
  data/json/itemgroups/misc.json
Owners: none

headgear
  data/json/items/armor/helmets.json
Owners: none

port: add info for MOUNTED_GUN flag
  data/json/flags.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

add items with necessary qualities
  data/json/itemgroups/misc.json
Owners: none

Update suit.json
  data/json/recipes/armor/suit.json
Owners: none

move nested mapgen
  data/json/mapgen/basement/basement_weed.json
  data/json/mapgen/nested/aux_nested.json
Owners: none

remove pot from cannabis_refining_equipment; in most houses
  data/json/itemgroups/misc.json
Owners: none

lint JSON
  data/json/itemgroups/misc.json
  data/json/mapgen/basement/basement_weed.json
Owners: none

Update flag.h
  src/flag.h
Owners: none

Update flag.cpp
  src/flag.cpp
Owners: none

Update flags.json
  data/json/flags.json
Owners: none

Update dairy.json
  data/json/items/comestibles/dairy.json
Owners: none

Update character_attire.cpp
  src/character_attire.cpp
Owners: none

Update consumption.cpp
  src/consumption.cpp
Owners: none

change IDs for consistency
  data/json/itemgroups/misc.json
  data/json/mapgen/basement/basement_weed.json
  data/json/mapgen/house/house_detatched6.json
Owners: none

lint JSON
  data/json/mapgen/house/house_detatched6.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update scarfs.json
  data/json/items/armor/scarfs.json
Owners: none

change general nest chance to 20%
  data/json/mapgen/basement/basement_weed.json
Owners: none

Update legs_armor.json
  data/json/items/armor/legs_armor.json
Owners: none

general nest chance back to 10%; i'm fickle blah
  data/json/mapgen/basement/basement_weed.json
Owners: none

Update legs_armor.json
  data/json/items/armor/legs_armor.json
Owners: none
