Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Update brigandine
  data/json/items/armor/brigandine
Owners: none

added lead free solder
  data/json/recipes/electronics/parts.json
Owners: none

torso
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/undergarment.json
  data/json/materials.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/materials.json
  data/json/requirements/tailoring.json
Owners: none

fixed missing [
  data/json/recipes/electronics/parts.json
Owners: none

torso
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Owners: none

no light leather
  data/json/items/armor/undergarment.json
  data/json/items/comestibles/carnivore.json
  data/json/items/resources/tailoring.json
  data/json/items/tool/tailoring.json
  data/json/materials.json
  data/json/recipes/armor/torso.json
  data/json/recipes/recipe_others.json
  data/json/requirements/tailoring.json
Owners: none

no light
  data/json/recipes/other/materials.json
Owners: none

Update brigandine
  data/json/items/armor/brigandine
Owners: none

k
  data/json/items/armor/integrated.json
  data/json/items/armor/legs_armor.json
  data/json/recipes/armor/legs.json
Owners: none

revert some to leather
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/pets_cow_armor.json
  data/json/items/armor/pets_horse_armor.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
Owners: none

a
  data/json/recipes/armor/feet.json
Owners: none

sort thread_canvas before thread_kevlar
  data/json/requirements/materials.json
Owners: none

revert
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/torso.json
Owners: none

Update brigandine
  data/json/items/armor/brigandine
Owners: none

animal armor
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/boots.json
  data/json/items/obsolete.json
  data/json/monsterdrops/feral_humans.json
  data/json/recipes/armor/pets_cow.json
  data/json/recipes/armor/pets_horse.json
  data/json/recipes/armor/suit.json
  data/json/recipes/other/materials.json
  data/mods/DinoMod/recipes/pets_bear.json
  data/mods/DinoMod/recipes/pets_elephant.json
  data/mods/DinoMod/recipes/pets_ostrich.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

fixes
  data/json/items/armor/gambesons.json
Owners: none

corrections
  data/json/items/armor/gambesons.json
Owners: none

a
  data/json/items/armor/bespoke_armor/custom_boots.json
  data/json/items/resources/tailoring.json
  data/json/recipes/armor/feet.json
  data/json/recipes/chem/other.json
  data/json/recipes/nested.json
  data/json/recipes/other/materials.json
Owners: none

prof_quilting
  data/json/proficiencies/tailoring.json
Owners: none

Create gambeson_crafts.json
  data/json/recipes/armor/gambeson_crafts.json
Owners: none

Update gambesons.json
  data/json/items/armor/gambesons.json
Owners: none

nested fix
  data/json/recipes/chem/other.json
  data/json/recipes/nested.json
  data/json/recipes/other/materials.json
Owners: none

Apply suggestions
  data/json/npcs/godco/godco_missions.json
Owners: none

Update wooden beam recipes
  data/json/recipes/other/parts_construction.json
Owners: none

add weight to crystallized_mana
  data/mods/Magiclysm/items/mana_crystals.json
Owners: @KorGgenT

Makes .303 ammo drastically more rare.
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
Owners: none

Changed indefinite article 'the' to pronoun 'your'
  src/suffer.cpp
Owners: none

use 1 mg instead
  data/mods/Magiclysm/items/mana_crystals.json
Owners: @KorGgenT

Update furniture-seats.json
  data/json/furniture_and_terrain/furniture-seats.json
Owners: none

Update wood.json
  data/json/items/resources/wood.json
Owners: none

fixes the mistake.
  data/json/mutations/appearance_hair_styles.json
Owners: none

Change flag to globally unique
  data/json/overmap/overmap_special/nuclear_plant.json
Owners: none

migrate wilderness theater --> drive-in theater
  data/json/overmap/overmap_special/overmap_special_migration.json
Owners: none

specials wilderness theater --> drive-in theater
  data/json/overmap/overmap_special/specials.json
Owners: none

drive-in theater OM terrains
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Owners: none

drive-in theater mapgen
  data/json/mapgen/drive-in_theater.json
Owners: none

adds movie posters to movie theaters
  data/json/mapgen/movie_theater.json
Owners: none

Minor vehicle tweaks
  data/json/mapgen/nuclear_plant/nuclear_plant_z0.json
Owners: none

adds bulletins to movie theater palette
  data/json/mapgen_palettes/movie_theater_palette.json
Owners: none

adds movie posters to mall movie theater
  data/json/mapgen/mall/mall_ground.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
