Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

Cottage cheese (#62274)
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/SUS/fridges.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/casseroles.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/sandwich.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Owners: none

instability bandaid ft. erk (#62367)
  data/json/mutations/mutations.json
  data/json/vitamin.json
Owners: none

Update data/json/species.json
  data/json/species.json
Owners: none

Update data/json/species.json
  data/json/species.json
Owners: none

Skip rigid integrated armor when checking rigid conflicts (#62357)
  src/character_attire.cpp
Owners: none

change
  data/json/recipes/armor/bespoke_armor/survivor.json
Owners: none

farmland spawns (#62366)
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Owners: none

Update data/json/species.json
  data/json/species.json
Owners: none

Update npcmove.cpp
  src/npcmove.cpp
Owners: none

use NUTRIENT_OVERRIDE for boiled jerusalem artichokes
  data/json/items/comestibles/veggy_dishes.json
Owners: none

Update src/npcmove.cpp
  src/npcmove.cpp
Owners: none

Pressurized tanks of ammonia should be pressurized (#61034)
  data/json/itemgroups/Labs/labs_mutagen.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/supplies.json
  data/json/items/tool/science.json
Owners: none

Update zed_misc.json
  data/json/monsters/zed_misc.json
Owners: none

try to fix density for fruitmash
  data/json/items/comestibles/fruit_dishes.json
Owners: none

remove CLIMATE_CONTROL flag
  data/json/items/armor/suits_protection.json
Owners: none

fixing a spellcheck problem
  tools/spell_checker/dictionary.txt
Owners: @int-ua

attempt at density fix pt 2
  data/json/items/comestibles/fruit_dishes.json
Owners: none

Update data/json/construction.json
  data/json/construction.json
Owners: none

terminal punctuation
  src/monmove.cpp
Owners: none

another terminal punctuation fix
  src/map.cpp
Owners: none

i cant do math so i am more or less bruteforcing
  data/json/items/comestibles/fruit_dishes.json
Owners: none

replace BIOLUM0_active with conditional enchantment (#62358)
  data/json/mutations/migration.json
  data/json/mutations/mutations.json
  data/json/obsoletion/mutations.json
Owners: none

aaaaaaa
  data/json/items/comestibles/fruit_dishes.json
Owners: none

Integrate wild carrots, groundnuts and jerusalem artichokes into more recipes (#60187)
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/items/generic/toys_and_sports.json
  data/json/items/generic/toys_and_sports.json
Owners: none

convert add_spawn to place_spawns in mx_helicopter
  data/json/monstergroups/military.json
  src/map_extras.cpp
Owners: none

convert add_spawn to place_spawns in mx_house_wasp
  src/map_extras.cpp
Owners: none

fix ids
  src/map_extras.cpp
Owners: none

Add the stuff
  data/json/npcs/exodii/exodii_merchant_missions.json
  data/json/npcs/exodii/exodii_merchant_talk.json
Owners: none

Update data/json/monstergroups/military.json
  data/json/monstergroups/military.json
Owners: none

fix ids
  src/map_extras.cpp
Owners: none

loc is unused
  src/map_extras.cpp
Owners: none

Linting
  data/json/npcs/exodii/exodii_merchant_missions.json
  data/json/npcs/exodii/exodii_merchant_talk.json
Owners: none

Update data/json/npcs/exodii/exodii_merchant_missions.json
  data/json/npcs/exodii/exodii_merchant_missions.json
Owners: none

Update data/json/npcs/exodii/exodii_merchant_missions.json
  data/json/npcs/exodii/exodii_merchant_missions.json
Owners: none

Update data/json/npcs/exodii/exodii_merchant_missions.json
  data/json/npcs/exodii/exodii_merchant_missions.json
Owners: none

xy
  src/map_extras.cpp
Owners: none

Revert "update mon info for forced redraw (#62362)"
  src/do_turn.cpp
Owners: none

mapgen: remove npc from moninfo cache too
  src/avatar.cpp
  src/avatar.h
  src/mapgen.cpp
  tests/mapgen_remove_npcs_test.cpp
Owners: none

initial commit
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/inventor/artifacts.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
  data/mods/Xedra_Evolved/monsters/monster.json
  data/mods/Xedra_Evolved/monsters/monsterattacks.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/dreamer_spells.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
Owners: @Maleclypse
