Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

coverage
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

enc
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

Update farm.json
  data/json/mapgen/farm.json
Owners: none

Update farm_2side.json
  data/json/mapgen/farm_2side.json
Owners: none

Update farm_lots.json
  data/json/mapgen_palettes/farm_lots.json
Owners: none

lower thickness
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

1.75 mm
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
Owners: none

stale: reverse direction hourly
  .github/workflows/stale.yml
Owners: none

stale: reverse direction hourly (#62612)
  .github/workflows/stale.yml
Owners: none

Replaced external options with new parameter for `ITEM_CATEGORY` object
  data/core/game_balance.json
  doc/JSON_INFO.md
  src/item_category.cpp
  src/item_category.h
  src/map.cpp
  src/map.h
Owners: none

Update map.cpp
  src/map.cpp
Owners: none

Update JSON_INFO.md
  doc/JSON_INFO.md
Owners: none

Update arms_armor.json
  data/json/items/armor/arms_armor.json
Owners: none

Update legs_armor.json
  data/json/items/armor/legs_armor.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update torso_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

Update arms_armor.json
  data/json/items/armor/arms_armor.json
Owners: none

Update legs_armor.json
  data/json/items/armor/legs_armor.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update torso_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

stomach_size_multiplier for dragon size mutations
  data/mods/Magiclysm/mutations/mutations.json
Owners: @KorGgenT

Added doors to toilets
  data/json/mapgen/city_blocks/urban_25_dense_diner_apt.json
Owners: none

'Adding special items to monster inventory' section is now triggered earlier than 'Dropping items from monster inventory' section
  src/monster.cpp
Owners: none

Update effective_dps_test.cpp
  tests/effective_dps_test.cpp
Owners: none

rm42 dps
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
Owners: none

Update data/mods/TEST_DATA/expected_dps_data/knives_dps.json
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
Owners: none

fix: nerf goblin encampment charcoal reserves
  data/mods/Magiclysm/itemgroups/itemgroups.json
Owners: @KorGgenT

Update missiondef.json
  data/json/npcs/missiondef.json
Owners: none

Various significant improvements to BMI and kcal
  src/character.cpp
Owners: none

typofix
  src/character.cpp
Owners: none

functions
  src/character.h
Owners: none

remove unused
  src/character.cpp
Owners: none

Update src/character.cpp
  src/character.cpp
Owners: none

fixes
  src/character.cpp
Owners: none

Added doors to toilets (#62614)
  data/json/mapgen/city_blocks/urban_25_dense_diner_apt.json
Owners: none

fix: nerf goblin encampment charcoal reserves (#62621)
  data/mods/Magiclysm/itemgroups/itemgroups.json
Owners: @KorGgenT

Update spell checker dictionary (#62599)
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Fill farm silos with silage (#62610)
  data/json/mapgen/farm.json
  data/json/mapgen/farm_2side.json
  data/json/mapgen_palettes/farm_lots.json
Owners: none

Update character.cpp
  src/character.cpp
Owners: none

Update character.cpp
  src/character.cpp
Owners: none
