Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

Update JSON_FLAGS.md
  doc/JSON_FLAGS.md
Owners: none

Smooth out weary intake/tracker a bit
  src/character.cpp
Owners: none

Update doc/JSON_FLAGS.md
  doc/JSON_FLAGS.md
Owners: none

Update whately_lmoe.json
  data/mods/Aftershock/maps/mapgen/whately_lmoe.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

isherwood farms zombie cows fix
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/overmap/overmap_special/specials.json
Owners: none

Linted car_crash.json
  data/json/mapgen/map_extras/car_crash.json
Owners: none

linted scenarios.json
  data/json/scenarios.json
Owners: none

Update overmap_terrain_agricultural.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Owners: none

isherwood farms zombie cows fix (#47421)
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Owners: none

f.fur items and recipes
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hoods.json
  data/json/items/armor/suits_protection.json
  data/json/items/tool_armor.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
Owners: none

[Aftershock] misc typographical fixes (#47415)
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/books.json
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/items/crafting_scrap/energy_storage_scrap.json
  data/mods/Aftershock/items/crafting_scrap/material_scrap.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/player/professions.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

[DinoMod] fix Red missions (#47410)
  data/mods/DinoMod/NPC/NC_Red.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/zinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Add NOT_HALLUCINATION to JSON_FLAGS.md (#47419)
  doc/JSON_FLAGS.md
Owners: none

Update data/json/monstergroups/zombies.json
  data/json/monstergroups/zombies.json
Owners: none

food_containers get colored with their foods colortag
  src/item.cpp
Owners: none

better solution
  src/advanced_inv.cpp
  src/item.cpp
  src/pickup.cpp
Owners: none

Don't deallocate playing chunk if failed to set sound 3d position
  src/sdlsound.cpp
Owners: none

Halt playback before de-allocating on error
  src/sdlsound.cpp
Owners: none

Update data/json/monstergroups/wilderness.json
  data/json/monstergroups/wilderness.json
Owners: none

ensured items with only a single stack of food get colored
  src/advanced_inv.cpp
  src/pickup.cpp
Owners: none

spaces in places
  data/mods/DinoMod/items/mutagen.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Use /bin/sh compatible single bracket when determining version string
  Makefile
Owners: none

Clean up font config handling
  Makefile
  data/CMakeLists.txt
  src/font_loader.h
  src/main_menu.cpp
  src/path_info.cpp
  src/path_info.h
  src/sdl_font.cpp
Owners: none

lint DinoLabFinale
  data/mods/DinoMod/mapgen/DinoLabFinale.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Spino buffs
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Adjust for smoothing weary intake/tracker
  src/character.cpp
  tests/weary_test.cpp
Owners: none

new dinos
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

laser Spino
  data/mods/DinoMod/monsters/dinosaur_CBM.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

new juvenile dinos
  data/mods/DinoMod/monsters/juvenile.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

new hatchlings plus new QA improvements
  data/mods/DinoMod/monsters/hatchling.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

new zombie upgrades and reshuffle
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

hulkasaurus weight loss tips
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

move laser items
  data/mods/DinoMod/items/laser_items.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

new zombie dinos
  data/mods/DinoMod/monsters/zed-dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

add zombie laser Spino and reorg CBM zombies
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

add spellcraft skillbook
  data/mods/Magiclysm/items/books.json
Owners: @KorGgenT

space check
  data/mods/DinoMod/items/mutagen.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

added tests
  msvc-full-features/Cataclysm-vcpkg-static.sln
  tests/start_date_test.cpp
Owners: none

vs
  msvc-full-features/Cataclysm-vcpkg-static.sln
Owners: none

Spawning too
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/books.json
Owners: @KorGgenT

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong
