Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Revert "Update appearance_hair_styles.json"
  data/json/mutations/appearance_hair_styles.json
Owners: none

reset to original correct PR
  data/json/mutations/appearance_hair_styles.json
Owners: none

Update appearance_hair_styles.json
  data/json/mutations/appearance_hair_styles.json
Owners: none

make the one metal door in lodge pickable
  data/json/mapgen_palettes/lodge_palette.json
Owners: none

Update data/json/mapgen_palettes/lodge_palette.json
  data/json/mapgen_palettes/lodge_palette.json
Owners: none

Always recalc panes when containers are involved so changing to/from a container will update its hidden status accordingly
  src/advanced_inv.cpp
Owners: none

Update data/mods/Xedra_Evolved/npc/mr_lapin.json
  data/mods/Xedra_Evolved/npc/mr_lapin.json
Owners: @Maleclypse

eg
  data/json/itemgroups/SUS/fridges.json
Owners: none

Vehicle energy_consumption in units::power (#62365)
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/motor.json
  data/mods/BlazeIndustries/vehicleparts/blaze_combustion.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
  doc/JSON_INFO.md
  src/veh_interact.cpp
  src/veh_type.h
  src/vehicle.cpp
Owners: @KorGgenT

Item power_draw in units::power (#62363)
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/robofac_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/electronics.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/lighting.json
  data/json/items/tool/misc.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/smoking.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_melee.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_modules.json
  data/mods/Aftershock/items/armor/winter_masks.json
  data/mods/Aftershock/items/armor/winter_suits.json
  data/mods/Aftershock/items/tool_armor.json
  data/mods/Aftershock/items/tools.json
  data/mods/TEST_DATA/items.json
  doc/ARMOR_BALANCE_AND_DESIGN.md
  doc/JSON_INFO.md
  src/assign.cpp
  src/assign.h
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
  src/iuse.cpp
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

In container view, hide the container as well as its contents in the other panel.
  src/advanced_inv.cpp
Owners: none

Change spelling error
  src/activity_actor.cpp
Owners: none

Check if the destination is inventory to keep messages consistent between charged/non-charged items.
  src/advanced_inv.cpp
Owners: none

Remove refill recipe
  data/json/recipes/tools/tools_primitive.json
Owners: none

Remove plank requirement
  data/json/recipes/tools/tools_primitive.json
Owners: none

Update tropical_terrain_flora.json
  data/mods/TropiCataclysm/furniture_and_terrain/tropical_terrain_flora.json
Owners: none

Update tropical_regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
Owners: none

Add recipe for notched plank
  data/json/recipes/tools/tools_primitive.json
Owners: none

typo fixes
  data/mods/Magiclysm/Spells/attunements/Stormcaller.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/black_dragon.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/enchantments/Radiaton_Mage.json
  data/mods/Magiclysm/enchantments/Shaman.json
  data/mods/Magiclysm/enchantments/Tundra_Mage.json
  data/mods/Magiclysm/enchantments/Wither_Mage.json
  data/mods/Magiclysm/furniture.json
  data/mods/Magiclysm/furniture_and_terrain/furniture_plants.json
  data/mods/Magiclysm/items/books_lore.json
  data/mods/Magiclysm/items/cast_spell_items.json
  data/mods/Magiclysm/items/constructs.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_bracelet.json
  data/mods/Magiclysm/items/herbs_and_flowers.json
  data/mods/Magiclysm/items/melee.json
  data/mods/Magiclysm/items/mutagen.json
  data/mods/Magiclysm/items/recipe_books.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/monsters/monsters.json
  data/mods/Magiclysm/monsters/orcs.json
  data/mods/Magiclysm/monsters/zombified_monsters.json
  data/mods/Magiclysm/mutations/mutations.json
  data/mods/Magiclysm/professions.json
Owners: @KorGgenT

Notched plank subcategory to Materials
  data/json/recipes/tools/tools_primitive.json
Owners: none

Allow doctors to trade without running out of space
  data/json/npcs/classes.json
Owners: none

Apply suggestions from code review
  data/mods/Magiclysm/Spells/attunements/Stormcaller.json
  data/mods/Magiclysm/Spells/black_dragon.json
  data/mods/Magiclysm/Spells/item_only.json
Owners: @KorGgenT

Update MONSTERS.md
  doc/MONSTERS.md
Owners: none

use parallel processes in ci specific astyle calls
  Makefile
Owners: none

fix: Exodii quadruped spells (again)
  data/json/monster_special_attacks/weapon_spells.json
  data/json/monsters/cyborgs.json
Owners: none

fix: magiclysm's thunder pillar spells
  data/mods/Magiclysm/monster_attacks.json
Owners: @KorGgenT

Add notched plank magazine
  data/json/items/tool/misc.json
Owners: none

base bmi 10, min str 2
  src/character.cpp
Owners: none

Apply suggestions from code review
  data/mods/Magiclysm/Spells/black_dragon.json
Owners: @KorGgenT

correct args
  src/character.cpp
Owners: none

Notch ammo definition
  data/json/items/ammo.json
Owners: none

Apply suggestions from code review
  data/mods/Magiclysm/items/cast_spell_items.json
Owners: @KorGgenT

Apply suggestions from code review
  data/mods/Magiclysm/items/cast_spell_items.json
Owners: @KorGgenT

blue collar clothes
  data/mods/Aftershock/itemgroups/clothing/armor_sets.json
  data/mods/Aftershock/itemgroups/clothing/civilian_sets.json
  data/mods/Aftershock/itemgroups/clothing_group.json
  data/mods/Aftershock/itemgroups/tool_groups.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor/civilian_blue_collar.json
  data/mods/Aftershock/items/armor/cyberpunk.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/maps/mapgen_pallete/houses.json
  data/mods/Aftershock/monsterdrops/monster_default.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Rename file
  data/mods/Aftershock/itemgroups/clothing/civilian_blue_collar_sets.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Add notch ammo type
  data/json/items/ammo_types.json
Owners: none

Fire drill pockets
  data/json/items/tool/fire.json
Owners: none

notched stick recipe
  data/json/recipes/tools/tools_primitive.json
Owners: none

Add notched stick
  data/json/items/tool/misc.json
Owners: none

Update fire.json
  data/json/items/tool/fire.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
