Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong

fixed eink ups issues
  src/iuse.cpp
Owners: none

limit initial date to first year
  src/game.cpp
  src/options.cpp
Owners: none

Update second_pass_arguments' number of items
  src/main.cpp
Owners: none

Update zed-animal.json
  data/json/monsters/zed-animal.json
Owners: none

Update wilderness.json
  data/json/monstergroups/wilderness.json
Owners: none

limit initial date to first year
  src/game.cpp
  src/options.cpp
  src/scenario.cpp
Owners: none

explicit gzstream constructors
  src/gzstream.h
Owners: none

astyle
  src/game.cpp
  src/scenario.h
Owners: none

typo
  src/game.cpp
  src/scenario.h
Owners: none

renamed custom_start_date
  data/json/scenarios.json
  data/mods/Fuji_Structures/starts/scenarios.json
  doc/JSON_INFO.md
  src/game.cpp
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
Owners: none

removed unused else
  doc/JSON_INFO.md
  src/scenario.cpp
Owners: none

doc for defaults
  doc/JSON_INFO.md
Owners: none

doc is now better
  doc/JSON_INFO.md
Owners: none

addturrets
  data/mods/Aftershock/vehicles/vehicle_parts.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

fix vehicle menu
  src/vehicle.h
  src/vehicle_use.cpp
Owners: none

adding afs suffix
  data/mods/Aftershock/vehicles/vehicle_parts.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

fix description of udarnik
  data/mods/Aftershock/mobs/robots.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Capture more data in electric grid tests
  tests/electric_grid_test.cpp
Owners: none

intial_day -> start_day
  src/game.cpp
  src/scenario.cpp
  src/scenario.h
Owners: none

intial_hour -> start_hour
  src/game.cpp
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
Owners: none

intial_ -> start_
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
Owners: none

Update data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/mobs/robots.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

helps you join the mycus
  data/json/itemgroups/SUS/domestic.json
Owners: @I-am-Erk

Added spawn of up to three arm and leg splints to the autodoc
  data/json/itemgroups/supplies.json
Owners: none

Made autodoc actually use available splints for bonesetting
  src/iexamine.cpp
Owners: none

Update data/mods/DinoMod/NPC/NC_Red.json
  data/mods/DinoMod/NPC/NC_Red.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

recalc GROUP_DINOSAUR_MEGA_CARNIVORE
  data/mods/DinoMod/monstergroups/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

[AFTERSHOCK] Fix the new line in the Udarnik's description (#47375)
  data/mods/Aftershock/mobs/robots.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

[AFTERSHOCK] Add vehicle part for xm34 and A7 turret mount in Aftershock (#47373)
  data/mods/Aftershock/vehicles/vehicle_parts.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Fix Wooden Bead Curtain Deconstruction Yields (#47350)
  data/json/furniture_and_terrain/furniture-terrains.json
Owners: none

Fix NPC followers being blind after waking up (#47281)
  src/character.cpp
Owners: none

better randomness
  doc/JSON_INFO.md
  src/game.cpp
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
Owners: none

astyle
  src/newcharacter.cpp
  src/scenario.h
Owners: none

Update furniture-decorative.json
  data/json/furniture_and_terrain/furniture-decorative.json
Owners: none

Add mannequin hallu monster
  data/json/monsters/misc.json
Owners: none

season handles better as int
  src/scenario.cpp
  src/scenario.h
Owners: none

astyle
  src/scenario.cpp
Owners: none

give up on random seasons
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
Owners: none

missing ;and doc
  doc/JSON_INFO.md
  src/scenario.cpp
Owners: none

Update zed-animal.json
  data/json/monsters/zed-animal.json
Owners: none
