Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Added check for at least 1 charge of battery for NRE recorder before beeping (#62303)
  data/json/effect_on_condition.json
Owners: none

Allowed pens to accept all types of pen ink (#62293)
  data/json/items/tool/stationary.json
Owners: none

Rename chainmail to chainmail.json
  data/json/items/armor/chainmail.json
Owners: none

info for ALWAYS_TWOHAND and FIRE_TWOHAND flags (#62272)
  data/json/flags.json
Owners: none

Changed indefinite article 'the' to pronoun 'your' (#62263)
  src/suffer.cpp
Owners: none

Don't bust cache when calling zone_data::set_position from vehicle code (#62259)
  src/clzones.cpp
  src/clzones.h
  src/vehicle.cpp
Owners: none

Disable inherit for CANT_WEAR flag (#62257)
  data/json/flags.json
Owners: none

Post a warning if a pull request is created from the master branch (#62237)
  .github/workflows/check-branch-name.yml
Owners: none

inv_ui: fix category toggle of disabled entries (#62226)
  src/inventory_ui.cpp
  src/inventory_ui.h
Owners: none

Make strings easier to translate. (#62222)
  src/item.cpp
Owners: none

Fix minor vehicle issues (#62219)
  src/activity_actor.cpp
  src/vehicle.cpp
Owners: none

Mutation distractions no longer appear when NPCs mutate (#62204)
  src/mutation.cpp
Owners: none

Fix rm13 enchantment not working (#62200)
  data/json/items/tool_armor.json
Owners: none

Update trait_groups.json (#62290)
  data/mods/Xedra_Evolved/npc/trait_groups.json
Owners: @Maleclypse

Arrow rests now occupy their own "arrow rest" mod location (#62302)
  data/json/items/gunmod/accessories.json
  data/json/items/ranged/archery.json
Owners: none

Fix USE_LANG not found when using --check-mods dda in SDL build
  src/main.cpp
Owners: none

Update chainmail.json
  data/json/items/armor/chainmail.json
Owners: none

Apply suggestions from code review
  data/json/recipes/food/dairy_products.json
Owners: none

Apply suggestions from code review
  data/json/recipes/food/dairy_products.json
Owners: none

Portal storm monster fixes
  src/monster.cpp
  src/savegame_json.cpp
Owners: none

Routine tileset updates on 20 November 2022
  gfx/Altica/human_body.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/dcss.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/ChibiUltica/tileset.txt
  gfx/Cuteclysm/backdrop.png
  gfx/Cuteclysm/tile_config.json
  gfx/MshockXotto+/dcss.png
  gfx/MshockXotto+/fillerlarge.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tileset.txt
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/SmashButton_iso/full_iso.png
  gfx/SmashButton_iso/tile_config.json
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Owners: none

draw acid blood
  src/iuse.cpp
Owners: none

inv_ui: fix wield/wear dereference
  src/inventory_ui.cpp
Owners: none

invalidate crafting inventory after spawning butchery items
  src/activity_handlers.cpp
Owners: none

updates discription and name for the flamer's strap.
  data/json/items/gunmod/sling.json
Owners: none

randomized npc age and height
  src/npc.cpp
Owners: none

tries to fix errors.
  data/json/items/gunmod/sling.json
Owners: none

invalidate crafting inventory after spawning butchery items (#62319)
  src/activity_handlers.cpp
Owners: none

inv_ui: fix wield/wear dereference (#62317)
  src/inventory_ui.cpp
Owners: none

Portal storm monster fixes (#62313)
  src/monster.cpp
  src/savegame_json.cpp
Owners: none

Routine i18n updates on 19 November 2022 (#62291)
  data/credits/zh_CN.credits
Owners: none

fix cold/heat tolerance being backwards (#62273)
  data/json/mutations/mutations.json
Owners: none

Fixes typo present in Hair: white, buzz cut (#62266)
  data/json/mutations/appearance_hair_styles.json
Owners: none

Implement input history for overmap search (#62296)
  src/overmap_ui.cpp
Owners: none

Remove blocked path
  data/json/mapgen/nuclear_plant/nuclear_plant_z0.json
Owners: none

Pre-cache the flatbuffer parser C locale in main
  src/main.cpp
Owners: none

Update data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/sandwich.json
Owners: none

split large butcher result stacks to max 1000 liter items
  src/activity_handlers.cpp
Owners: none

increase internal blood bank container to fit 3 standard blood units
  data/mods/Magiclysm/bionics.json
Owners: @KorGgenT

bring decaying boneclub tainted blood in line with fuel_data
  data/mods/Magiclysm/requirements/spell_components.json
Owners: @KorGgenT

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
