Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

Fix change to cut damage
  data/json/items/tool/traps.json
Owners: none

Workaround to self move assign error with _GLIBCXX_DEBUG
  pch/main-pch.hpp
Owners: none

Demangle symbol names on MinGW
  src/debug.cpp
Owners: none

Remove src/compatibility.h
  src/avatar.cpp
  src/basecamp.cpp
  src/bionics.cpp
  src/bionics_ui.cpp
  src/compatibility.h
  src/debug_menu.cpp
  src/dump.cpp
  src/editmap.cpp
  src/faction_camp.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/inventory_ui.cpp
  src/item_group.cpp
  src/magic.cpp
  src/messages.cpp
  src/mission_companion.cpp
  src/mission_ui.cpp
  src/monexamine.cpp
  src/monster.cpp
  src/npc.cpp
  src/npctalk.cpp
  src/overmap_ui.cpp
  src/panels.cpp
  src/safemode_ui.cpp
  src/savegame_json.cpp
  src/stomach.cpp
  src/string_formatter.h
  src/string_input_popup.cpp
  src/tileray.cpp
  src/trait_group.cpp
  src/units.h
Owners: @KorGgenT

insert actor
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
Owners: none

call activity
  src/game_inventory.cpp
Owners: none

update string formatting
  src/activity_actor.cpp
Owners: none

Fix minor typo in SOUNDPACKS.md.
  doc/SOUNDPACKS.md
Owners: none

Make canned beans and canned tomatoes sealed by default
  data/json/items/comestibles/other.json
Owners: none

Infrastructure "compose.py palette arguments" (#47531)
  doc/TILESET.md
  tools/gfx_tools/compose.py
Owners: @int-ua

Conservation of mass for nailboard trap (#47543)
  data/json/items/tool/traps.json
Owners: none

Apply suggestions from code review
  data/json/recipes/recipe_medsandchemicals.json
Owners: none

Isherwood Terrain
  data/json/mapgen/isherwood_farms/rural_roads_trails.json
  data/json/overmap/overmap_connections.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/special_locations.json
Owners: none

sun angle tests
  src/calendar.cpp
  src/calendar.h
  src/units.h
  tests/sun_test.cpp
Owners: none

typos
  src/calendar.h
  tests/sun_test.cpp
Owners: none

Update data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spell_scrolls.json
Owners: @KorGgenT

Fixed typo just to learn github workflow
  data/json/items/book/speech.json
Owners: none

give_the_sting_back
  data/json/harvest.json
  data/json/monsters/triffid.json
Owners: none

Update triffid.json
  data/json/monsters/triffid.json
Owners: none

Isherwood Road
  data/json/overmap/overmap_connections.json
  data/json/overmap/overmap_special/specials.json
Owners: none

explicitly add triffid fungicide
  data/json/harvest.json
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/weapon/explosive.json
Owners: none

Use item locations instead of item pointers in AIM
  src/advanced_inv.cpp
  src/advanced_inv_area.cpp
  src/advanced_inv_area.h
  src/advanced_inv_listitem.cpp
  src/advanced_inv_listitem.h
  src/advanced_inv_pagination.cpp
  src/advanced_inv_pane.cpp
  src/item.cpp
  src/item.h
Owners: none

Update triffid.json
  data/json/monsters/triffid.json
Owners: none

Update triffid.json
  data/json/monsters/triffid.json
Owners: none

Fix drug tool usage
  src/consumption.cpp
  src/game_inventory.cpp
Owners: none

Remove new instances
  src/consumption.cpp
  src/game_inventory.cpp
Owners: none

linting, etc
  data/json/harvest.json
  data/json/recipes/recipe_medsandchemicals.json
Owners: none

typo's
  data/json/items/chemicals_and_resources.json
Owners: none

Update chemicals_and_resources.json
  data/json/items/chemicals_and_resources.json
Owners: none

more linting...
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_ammo.json
Owners: none

linting one by one....
  data/json/recipes/recipe_ammo.json
Owners: none

more linting for the god of linting
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_medsandchemicals.json
Owners: none

Accept both ALLCAPS and nocaps body parts
  src/bodypart.cpp
Owners: none

added vehicle racking activity
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Owners: none

lower health care to (2)
  data/json/recipes/recipe_medsandchemicals.json
Owners: none

migrate old code
  src/calendar.cpp
  src/calendar.h
  src/character.cpp
  src/editmap.cpp
  src/game.cpp
Owners: none

astyle
  src/calendar.cpp
Owners: none

fix (de)serialize
  src/activity_actor.cpp
  src/activity_actor_definitions.h
Owners: none

json lint
  data/json/player_activities.json
Owners: none

refine recipe a bit (batch crafting, efficiency, etc)
  data/json/recipes/recipe_medsandchemicals.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong
