Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

fix densities and fuel_data for coal/charcoal
  data/json/materials.json
Owners: none

Add everything and lint it
  data/json/items/book/misc_scifi.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/mapgen_palettes/church_retreat.json
  data/json/npcs/factions.json
  data/json/npcs/godco/NPC_Arturo_Maldonado.json
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Chloe_Taylor_King.json
  data/json/npcs/godco/NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/NPC_Father_Greenwood.json
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Helena_Misinter.json
  data/json/npcs/godco/NPC_Jane_Schulz.json
  data/json/npcs/godco/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/NPC_Julian_Ray.json
  data/json/npcs/godco/NPC_Katherine_Weaver.json
  data/json/npcs/godco/NPC_Kostas_Walsman.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/NPC_Olwen_Powell.json
  data/json/npcs/godco/NPC_Russell_Connelly.json
  data/json/npcs/godco/NPC_Sonia_Greene.json
  data/json/npcs/godco/NPC_Tom_Powell.json
  data/json/npcs/godco/NPC_Zachary_Montes.json
  data/json/npcs/godco/classes.json
  data/json/npcs/godco/cook.json
  data/json/npcs/godco/foodguard.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/npcs.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/player_activities.json
  data/json/snippets/epilogue_factions.json
  data/json/vehicles/utility.json
Owners: none

ci: automatic code style reviews take 2
  .github/workflows/json.yml
  .github/workflows/linter.yml
Owners: none

More linting
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/npcs/godco/foodguard.json
Owners: none

More linting
  data/json/mapgen_palettes/church_retreat.json
Owners: none

Bugfixes
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/NPC_Kostas_Walsman.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/NPC_Olwen_Powell.json
  data/json/npcs/godco/NPC_Zachary_Montes.json
  data/json/npcs/godco/foodguard.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Bugfixes 2
  data/json/npcs/godco/NPC_Arturo_Maldonado.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Owners: none

Bounty Hunter Scenario
  data/mods/Aftershock/items/ammo/needle.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/items/gun/needle.json
  data/mods/Aftershock/items/magazine/needle.json
  data/mods/Aftershock/maps/overmap_locations.json
  data/mods/Aftershock/mobs/abstract_monsters.json
  data/mods/Aftershock/mobs/monster_groups/robot_monster_groups.json
  data/mods/Aftershock/mobs/scavbots.json
  data/mods/Aftershock/scenarios.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

add alumentum to known_bad_density
  data/mods/TEST_DATA/known_bad_density.json
Owners: none

more stuff
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_extras.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
  data/mods/Aftershock/maps/overmap_map_extras.json
  data/mods/Aftershock/scenarios.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update scenarios.json
  data/mods/Aftershock/scenarios.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Add species as a possible spell target
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_extras.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
  src/magic.cpp
  src/magic.h
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @KorGgenT

First start plus new spell targeting c++
  data/mods/Aftershock/items/ammo/needle.json
  data/mods/Aftershock/items/gun/needle.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
  data/mods/Aftershock/spells.json
  src/magic.cpp
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @KorGgenT

Apply suggestions from code review
  data/mods/Aftershock/items/ammo/needle.json
  data/mods/Aftershock/items/gun/needle.json
  data/mods/Aftershock/scenarios.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update magic.h
  src/magic.h
Owners: @KorGgenT

Update magic.cpp
  src/magic.cpp
Owners: @KorGgenT

Apply suggestions from code review
  data/mods/Aftershock/spells.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update overmap_map_extras.json
  data/mods/Aftershock/maps/overmap_map_extras.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update nuts.json
  data/json/items/comestibles/nuts.json
Owners: none

Fixes
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update nuts.json
  data/json/items/comestibles/nuts.json
Owners: none

apply astyle
  src/game_inventory.h
  src/iuse.cpp
Owners: none

Update nuts.json
  data/json/items/comestibles/nuts.json
Owners: none

Update appearance_hair_styles.json (#62038)
  data/json/mutations/appearance_hair_styles.json
Owners: none

Display Appliance battery power flow for the whole connected grid (#62036)
  src/veh_appliance.cpp
  src/vehicle.cpp
  src/vehicle.h
Owners: none

clean conflicts
  src/veh_appliance.cpp
  src/vehicle.cpp
  src/vehicle.h
Owners: none

Bugfixes 3
  data/json/overmap/overmap_special/specials.json
Owners: none

Misc suggestions
  data/json/items/book/misc_scifi.json
  data/json/items/chemicals_and_resources.json
Owners: none

Update data/json/items/chemicals_and_resources.json
  data/json/items/chemicals_and_resources.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Update data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/godco_missions.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
