Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Update items_holiday.json
  data/json/items/items_holiday.json
Owners: none

Update newspaper.json
  data/json/items/newspaper.json
Owners: none

Update robot_parts.json
  data/json/items/robot_parts.json
Owners: none

Update software.json
  data/json/items/software.json
Owners: none

Update tool_armor.json
  data/json/items/tool_armor.json
Owners: none

Update toolmod.json
  data/json/items/toolmod.json
Owners: none

allow allergens to be inherited
  data/json/materials.json
  data/json/mutations/mutations.json
  src/consumption.cpp
  src/item.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/material.cpp
  src/material.h
Owners: @KorGgenT

add washboard to antique spawns
  data/json/itemgroups/art_antiques_crafts.json
Owners: none

Changes brawler fail message to use 'this' to promote readability
  src/ranged.cpp
Owners: none

correct the purification of the nomad harness
  data/json/items/armor/bespoke_armor/custom_storage.json
Owners: none

fix upgrade conflicts
  data/json/monsters/zanimal_upgrade.json
Owners: none

Changes brawler fail message to use 'this' to promote readability (#62351)
  src/ranged.cpp
Owners: none

add washboard to antique spawns (#62350)
  data/json/itemgroups/art_antiques_crafts.json
Owners: none

Update clang version used in Clang Build Analyzer job (#62347)
  .github/workflows/CBA.yml
Owners: none

Fix quadrupeds still getting annoyed at you Part 2: Mattack Boogaloo (#62346)
  src/mattack_actors.cpp
  src/monster.h
Owners: none

reload_furniture drops loaded items to the ground if they can't be picked up (#62345)
  src/iexamine.cpp
Owners: none

additional footsteps for certain kinds of entities
  data/json/species.json
Owners: none

[DinoMod] zombie dino bites
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

iuse.cpp
  src/iuse.cpp
Owners: none

iuse.cpp
  src/iuse.cpp
Owners: none

iuse.cpp
  src/iuse.cpp
Owners: none

Update dairy_products.json
  data/json/recipes/food/dairy_products.json
Owners: none

iuse.cpp
  src/iuse.cpp
Owners: none

Update data/json/items/fluff.json
  data/json/items/fluff.json
Owners: none

Update data/json/items/generic/toys_and_sports.json
  data/json/items/generic/toys_and_sports.json
Owners: none

iuse.ccp
  src/iuse.cpp
Owners: none

Update sandwich.json
  data/json/items/comestibles/sandwich.json
Owners: none

Update src/monster.cpp
  src/monster.cpp
Owners: none

iuse.ccp
  src/iuse.cpp
Owners: none

Skip rigid integrated armor when checking rigid conflicts
  src/character_attire.cpp
Owners: none

Update construction.json
  data/json/construction.json
Owners: none

Update sandwich.json
  data/json/items/comestibles/sandwich.json
Owners: none

mapgen: skip player auto features when updating map
  src/game.cpp
  src/game.h
  src/mapgen.cpp
Owners: none

replace BIOLUM0_active with conditional enchantment
  data/json/mutations/migration.json
  data/json/mutations/mutations.json
  data/json/obsoletion/mutations.json
Owners: none

Changed crafting skill check to use skill and difficulty levels starting at 1 instead of 0. (#61985)
  src/crafting.cpp
Owners: none

Add units::power (watts) (#62155)
  src/units.cpp
  src/units.h
  src/units_fwd.h
  tests/units_test.cpp
Owners: none

Allowed only splints to be worn over rigid integrated armor
  src/character_attire.cpp
Owners: none

Copying over Gourd changes (not functional yet)
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/containers.json
  data/json/recipes/food/seed.json
  data/json/recipes/tools/containers.json
Owners: none

Insert unique ȣ character (does that work?)
  data/json/items/comestibles/baked.json
Owners: none

Update data/json/recipes/recipe_others.json for reviewdog
  data/json/recipes/recipe_others.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
