Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

words are still too wordy maybe
  data/json/martialarts.json
Owners: none

typo
  data/json/techniques.json
Owners: none

Update data/json/items/armor/cloaks.json
  data/json/items/armor/cloaks.json
Owners: none

lint
  data/json/techniques.json
Owners: none

ci: a couple more labeler rules
  .github/labeler.yml
Owners: none

less space
  data/json/martialarts.json
Owners: none

Clang-tidy (clang-12, tiles) challenge
  src/character_attire.cpp
Owners: none

Update robofac_armor.json
  data/json/items/armor/robofac_armor.json
Owners: none

Suggestions 3
  data/json/mapgen/godco/godco_eocs.json
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/godco_missions.json
Owners: none

Linting
  data/json/mapgen/godco/godco_eocs.json
Owners: none

Suggestions 3
  data/json/mapgen/godco/godco_eocs.json
Owners: none

Suggestions 3
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
Owners: none

charcoal spawns in 250ct briquette boxes
  data/json/items/ammo.json
Owners: none

Improve FlexbufferJson parser error messaging.
  src/flexbuffer_cache.cpp
  tests/json_test.cpp
Owners: none

prevent duplication of byproducts groups; only add an extra set for each batch *greater than* one
  src/recipe.cpp
Owners: none

fix the obfuscated body spawn 0 items
  data/mods/Magiclysm/Spells/classless.json
Owners: @KorGgenT

PPE change
  data/json/recipes/recipe_medsandchemicals.json
  data/json/requirements/toolsets.json
Owners: none

Update toolsets.json
  data/json/requirements/toolsets.json
Owners: none

@flybye3o6 Update recipe_medsandchemicals.json
  data/json/recipes/recipe_medsandchemicals.json
Owners: none

Update junkfood.json
  data/json/items/comestibles/junkfood.json
Owners: none

lower damage to a proper value
  data/json/items/melee/swords_and_blades.json
Owners: none

some bugfixes
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/items/resources.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
Owners: @Maleclypse

Modified for astyle check
  src/iuse_actor.cpp
Owners: none

31.85 is correct DPS
  tests/effective_dps_test.cpp
Owners: none

Fix vehicle zones not invalidating on move
  src/clzones.cpp
  src/map.cpp
Owners: none

10% chance to spawn completely random hallu even in locations with `spawns`
  src/game.cpp
Owners: none

Fix Astyle check
  src/iuse_actor.cpp
Owners: none

Add MOLD Makefile flag to use mold linker
  Makefile
Owners: none

Update data/json/items/gun/22.json
  data/json/items/gun/22.json
Owners: none

Update data/json/items/gun/22.json
  data/json/items/gun/22.json
Owners: none

Update data/json/items/gun/22.json
  data/json/items/gun/22.json
Owners: none

Exclude ammo-restricted pockets from free space calculation
  src/item.cpp
Owners: none

Add astyle-diff target in Makefile to only format modified files
  Makefile
Owners: none

Update robofac_armor.json
  data/json/items/armor/robofac_armor.json
Owners: none

Update martialarts.json
  data/json/martialarts.json
Owners: none

Add NO_HANDS to eat_dreamdross
  data/mods/Xedra_Evolved/spells/eater_spells.json
Owners: @Maleclypse

[DinoMod] nerf juvenile predator damage
  data/mods/DinoMod/monsters/juvenile.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update gunship.json
  data/mods/Aftershock/maps/mapgen/gunship.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update gunship.json
  data/mods/Aftershock/maps/mapgen/gunship.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Fixing spelling errors
  src/iuse_actor.cpp
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
