Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

removed unused variable
  src/vehicle_use.cpp
Owners: none

old tests
  src/calendar.cpp
  src/calendar.h
  tests/char_sight_test.cpp
  tests/moon_test.cpp
  tests/sun_test.cpp
Owners: none

no bullet armor zothronychus upgrades
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Fix bionic UPS not being seen by crafting inventory
  data/json/bionics.json
Owners: none

clang demands more spaces
  src/activity_actor.cpp
Owners: none

lint zino upgrade
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Duct tape + Chainsaw = No
  data/json/items/melee/swords_and_blades.json
  data/json/items/obsolete.json
  data/json/recipes/recipe_obsolete.json
  data/json/recipes/weapon/cutting.json
Owners: none

Make 'Failed to visit member' error more readable
  src/json.cpp
Owners: none

the basics
  data/mods/Aftershock/items/ammo/ballistic.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/items/gun/projectile.json
  data/mods/Aftershock/items/magazine/8x40mm.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

various fixes and new tests
  src/calendar.cpp
  src/calendar.h
  tests/sun_test.cpp
Owners: none

astyle
  src/calendar.cpp
  src/calendar.h
  tests/sun_test.cpp
Owners: none

fixing general build
  data/mods/Aftershock/items/ammo/ballistic.json
  data/mods/Aftershock/items/gun/projectile.json
  data/mods/Aftershock/items/magazine/8x40mm.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

fix #47479: gas spreading to the neighbour tiles in the case when target intensity is zero (field was removed in the same turn)
  src/field.cpp
  src/field.h
  src/savegame_json.cpp
  tests/field_test.cpp
Owners: none

Duct tape + Chainsaw = No
  data/json/items/melee/swords_and_blades.json
  data/json/items/obsolete.json
  data/json/recipes/recipe_obsolete.json
  data/json/recipes/weapon/cutting.json
Owners: none

stop camp NPCs from following you if they get interrupted
  src/npcmove.cpp
Owners: none

revert
  src/overmapbuffer.cpp
Owners: none

Revert to using `assign` in `islot_ammo::load`.
  src/item_factory.cpp
Owners: none

Fix formatting in a couple docs (#47523)
  doc/COMPILING/COMPILING-CMAKE.md
  doc/SOUNDPACKS.md
Owners: none

now yeast culture recipe can be made with glass jar (#47526)
  data/json/recipes/recipe_medsandchemicals.json
Owners: none

Fix magazine migration issues from 0.E to 0.F (#47436)
  src/item_pocket.cpp
  src/savegame_json.cpp
Owners: none

Limited amount of splints in autodoc (#47379)
  data/json/itemgroups/supplies.json
  src/iexamine.cpp
Owners: none

Handle broken arms with mech (#47314)
  src/character.cpp
Owners: none

unused constants
  src/calendar.cpp
Owners: none

latitude as map option
  src/calendar.cpp
  src/options.cpp
Owners: none

adding flavor and jazz
  data/mods/Aftershock/itemgroups/spaceship_groups.json
  data/mods/Aftershock/items/ammo/ballistic.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/items/gun/combination.json
  data/mods/Aftershock/items/gun/projectile.json
  data/mods/Aftershock/items/magazine/8x40mm.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

mounting mg and shotgun
  data/mods/Aftershock/vehicles/vehicle_parts.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

balance testing and moving to own files
  data/mods/Aftershock/items/gun/10mm.json
  data/mods/Aftershock/items/gun/25mm.json
  data/mods/Aftershock/items/gun/6.55mm.json
  data/mods/Aftershock/items/gun/combination.json
  data/mods/Aftershock/items/gun/projectile.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Tweaks to pipe (metal+copper) and crowbar (makeshift+normal)
  data/json/items/resources/metal.json
  data/json/items/tool/entry_tools.json
Owners: none

further movement
  data/mods/Aftershock/items/ammo/10mm.json
  data/mods/Aftershock/items/ammo/25mm.json
  data/mods/Aftershock/items/ammo/6.5mm.json
  data/mods/Aftershock/items/ammo/ballistic.json
  data/mods/Aftershock/items/magazine/10mm.json
  data/mods/Aftershock/items/magazine/25mm.json
  data/mods/Aftershock/items/magazine/6.5mm.json
  data/mods/Aftershock/items/magazine/8x40mm.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

gun drops
  data/mods/Aftershock/itemgroups/gun_groups.json
  data/mods/Aftershock/items/gun/25mm.json
  data/mods/Aftershock/items/magazine/10mm.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

linting
  data/mods/Aftershock/itemgroups/gun_groups.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

linting again
  data/mods/Aftershock/items/gun/25mm.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

add down feather to birds
  data/json/harvest.json
Owners: none

Fix power armor didn't show contained items
  src/item.cpp
Owners: none

troglobite buff
  src/activity_handlers.cpp
Owners: none

changed toolboxes to generic type
  data/json/items/tool/workshop.json
Owners: none

Fixed a bug allowing safe contents to spill
  src/game.cpp
Owners: none

Touch JSON_INFO.md to trigger the workflow
  doc/JSON_INFO.md
Owners: none

Update the table of contents
  doc/JSON_INFO.md
Owners: none

Update metal.json
  data/json/items/resources/metal.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong
