Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Tweak values of item groups for a bit
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
Owners: @Maleclypse

put new stuff into loot groups
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamer.json
Owners: @Maleclypse

grammar, typo
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
  tools/spell_checker/dictionary.txt
Owners: @Maleclypse, @int-ua

grammar again
  tools/spell_checker/dictionary.txt
Owners: @int-ua

and again
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
Owners: @Maleclypse

and again
  data/mods/Xedra_Evolved/monsters/monster.json
Owners: @Maleclypse

obsolete longrifle_flintlock recipe in Generic Guns
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
Owners: none

Optmize replacing ENV vars loop with find()
  build-scripts/x64-release.cmake
Owners: none

Fix checking for DevEnvDir
  build-scripts/VsDevCmd.cmake
Owners: none

Document and improve VsDevCmd.cmake
  build-scripts/VsDevCmd.cmake
Owners: none

Use vswhere.exe as suggested by @akrieger
  build-scripts/VsDevCmd.cmake
Owners: none

Remove redundant modules from CMakeModules
  CMakeModules/CMakeParseArguments.cmake
  CMakeModules/CMakePushCheckState.cmake
  CMakeModules/CheckLibraryExists.cmake
  CMakeModules/FindCurses.cmake
  CMakeModules/FindPackageHandleStandardArgs.cmake
  CMakeModules/FindPackageMessage.cmake
Owners: none

Use VCPKG triplets from build-scripts/
  CMakePresets.json
  build-scripts/x64-windows-static.cmake
Owners: none

Fix parsing non variables output
  build-scripts/VsDevCmd.cmake
Owners: none

Move hardcoded path into preset
  CMakePresets.json
  build-scripts/windows-tiles-sounds-x64-msvc.cmake
Owners: none

Build a release
  CMakePresets.json
Owners: none

Force ninja.exe path in the INCLUDE_BEFORE file
  build-scripts/MSVC.cmake
  build-scripts/x64-release.cmake
Owners: none

Add documentation for CMake+VCPKG build
  build-scripts/CMakeUserPresets.json.in
  build-scripts/MSVC.cmake
  build-scripts/x64-release.cmake
  doc/COMPILING/COMPILING-CMAKE-VCPKG.md
Owners: none

Move VsDevCmd environment parsing to its dedicated script
  build-scripts/VsDevCmd.cmake
  build-scripts/windows-tiles-sounds-x64-msvc.cmake
Owners: none

Rename presets to match release.yml names
  CMakePresets.json
  build-scripts/windows-tiles-sounds-x64-msvc.cmake
Owners: none

Makes Ninja generators on Windows optional
  CMakePresets.json
  build-scripts/windows-tiles-sounds-x64-msvc.cmake
Owners: none

Add varialbes to "name" and "configurePreset"
  build-scripts/CMakeUserPresets.json.in
  build-scripts/x64-release.cmake
Owners: none

Rewrite instructions addin VS procedure. Change displayed name
  CMakePresets.json
  doc/COMPILING/COMPILING-CMAKE-VCPKG.md
Owners: none

Split translations_compile target into each .mo files
  lang/CMakeLists.txt
Owners: @BrettDong

Update options.cpp
  src/options.cpp
Owners: none

Thank you NetSysFire!
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
  data/mods/Xedra_Evolved/monsters/monster.json
  data/mods/Xedra_Evolved/monsters/monsterattacks.json
  data/mods/Xedra_Evolved/spells/dreamer_spells.json
Owners: @Maleclypse

and again
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Update exodii_merchant_missions.json
  data/json/npcs/exodii/exodii_merchant_missions.json
Owners: none

Update exodii_merchant_talk.json
  data/json/npcs/exodii/exodii_merchant_talk.json
Owners: none

Add the conditional
  data/json/npcs/exodii/exodii_merchant_missions.json
Owners: none

Fix ladder
  data/json/mapgen/nuclear_plant/nuclear_plant_z4.json
Owners: none

make vacuum sealed plastic bag watertight
  data/json/items/containers.json
Owners: none

Tweaking the sledge hammer spell
  data/mods/Xedra_Evolved/items/inventor/artifacts.json
  data/mods/Xedra_Evolved/spells/item_spells.json
Owners: @Maleclypse

updated fixes for temperature regulation
  data/mods/TEST_DATA/items.json
  src/character_body.cpp
  tests/player_test.cpp
Owners: none

Field intensity range instead of integer (#61947)
  data/json/mapgen_palettes/wasp_palette.json
  data/mods/Xedra_Evolved/mapgen/nested/vampires.json
  doc/MAPGEN.md
  src/mapgen.cpp
Owners: @Maleclypse

Add giftshop to urban city block and 3 new items (#62348)
  data/json/itemgroups/Clothing_Gear/jewellery_gems.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/shops_trades.json
  data/json/items/ammo_types.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/items/generic/toys_and_sports.json
  data/json/mapgen/city_blocks/city_block_2.json
  data/json/mapgen/nested/retail_nested.json
Owners: none

add accepted mag (#62135)
  data/json/items/gun/robofac_gun.json
Owners: none

Chitin recipes adjustment/standardization (#62249)
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/pets_cow.json
  data/json/recipes/armor/pets_dog.json
  data/json/recipes/armor/pets_horse.json
  data/json/recipes/armor/suit.json
  data/json/recipes/recipe_others.json
Owners: none

Update farm_mutable.json
  data/json/overmap/overmap_mutable/farm_mutable.json
Owners: none

some desc tweaking
  data/mods/Xedra_Evolved/items/inventor/artifacts.json
Owners: @Maleclypse

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
