Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Remove pre-built static libs and AI generated launch screen. Add directions on building SDL.
  build-data/ios/libs.zip
  build-data/ios/resources/LaunchScreen.png
  build-data/ios/resources/LaunchScreen.storyboard
  build-scripts/ios-xcode.sh
  doc/COMPILING/COMPILING-XCODE.md
Owners: none

Update effect_on_condition.json
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
Owners: @Maleclypse

Atomic Butter
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/recipes/comestible_recipes.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update data/json/items/ammo/303.json
  data/json/items/ammo/303.json
Owners: none

Apply suggestions from code review after testing
  src/item_group.cpp
Owners: none

Update effect_on_condition.json
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
Owners: @Maleclypse

reworks .303 round discriptions to try and make them less wordy.
  data/json/items/ammo/303.json
Owners: none

Tusked moose skull renaming (#62173)
  data/json/items/generic/skulls.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Advertising brochures in mailboxes (#62149)
  data/json/itemgroups/mail.json
  data/json/items/book/maps.json
Owners: none

Removed Gills mutation from the list of available mutations for Lab Patient and Experiment scenarios
  data/json/scenarios.json
Owners: none

Update obsolete.json
  data/mods/Aftershock/recipes/obsolete.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Update data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/items/comestibles/comestibles.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

axes the unneeded No. 4 entry in the migration file.
  data/json/items/migration.json
Owners: none

There is no bleeding if the rate is zero.
  src/mtype.cpp
Owners: none

Do not bleed when there is no blood
  src/ballistics.cpp
Owners: none

.22 ar
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/gunmod/mechanism.json
  data/json/items/magazine/22.json
Owners: none

Update magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
Owners: none

Update magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
Owners: none

Update magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
Owners: none

Update magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
Owners: none

Update mechanism.json
  data/json/items/gunmod/mechanism.json
Owners: none

Update 22.json
  data/json/items/magazine/22.json
Owners: none

.22 ar
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/gunmod/mechanism.json
  data/json/items/magazine/22.json
Owners: none

default count of hexamine correction
  data/json/items/chemicals_and_resources.json
Owners: none

Update gunmod.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
Owners: none

lint
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/gunmod/mechanism.json
  data/json/items/magazine/22.json
Owners: none

correct charges of world spawns of charcoal
  data/json/itemgroups/supplies.json
Owners: none

update charges of world spawns of charcoal
  data/json/itemgroups/shops_trades.json
Owners: none

Drawing blood will now yield blood type defined in monster's harvest list
  src/iuse.cpp
Owners: none

Fix bodypart_color_text.json clause priority
  data/json/ui/bodypart_color_text.json
Owners: none

Can not bleed a corpse from a monster with zero bleed_rate
  src/game.cpp
Owners: none

Removed separate check for ZOMBIE species
  src/iuse.cpp
Owners: none

Apply suggestions from code review
  src/character_attire.cpp
Owners: none

Add files via upload
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
Owners: none

Update gunmod.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
Owners: none

Update magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
Owners: none

Update 22.json
  data/json/items/magazine/22.json
Owners: none

Update mechanism.json
  data/json/items/gunmod/mechanism.json
Owners: none

Removed unused stuff
  src/iuse.cpp
Owners: none

Portions of https://github.com/cataclysmbnteam/Cataclysm-BN/pull/2177
  src/monster.cpp
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
