Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

Update character_attire.cpp
  src/character_attire.cpp
Owners: none

Update mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spell_scrolls.json
Owners: @KorGgenT

Update fire.json
  data/json/items/tool/fire.json
Owners: none

Update data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spell_scrolls.json
Owners: @KorGgenT

Update electronics.json
  data/json/items/tool/electronics.json
Owners: none

Update tables.json
  data/json/items/vehicle/tables.json
Owners: none

Update generic.json
  data/json/items/generic.json
Owners: none

Update fabrication.json
  data/json/items/book/fabrication.json
Owners: none

Update cooking.json
  data/json/items/book/cooking.json
Owners: none

Update tailoring.json
  data/json/items/tool/tailoring.json
Owners: none

Update known_bad_density.json
  data/mods/TEST_DATA/known_bad_density.json
Owners: none

Added start point zone
  data/mods/Magiclysm/worldgen/magic_basement.json
Owners: @KorGgenT

Updated docs
  doc/MAPGEN.md
Owners: none

and everything else
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/classless.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamer.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamsmith.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/eater.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/inventor.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/main.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
Owners: @Maleclypse

Update known_bad_density.json
  data/mods/TEST_DATA/known_bad_density.json
Owners: none

Update cooking.json
  data/json/items/book/cooking.json
Owners: none

NO_HANDS for blood boil
  data/mods/Xedra_Evolved/spells/eater_spells.json
Owners: @Maleclypse

Added pocket_data to active lightstrip
  data/json/items/tool/lighting.json
Owners: none

Add stamina cost to dodging
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/monattack.cpp
  src/monster.h
Owners: none

Fix unecessary scaling to melee skill cap
  src/melee.cpp
  src/monattack.cpp
Owners: none

Fix, fix
  src/character.cpp
Owners: none

Some logistic range shennanigans
  src/melee.cpp
Owners: none

Applys suggestions
  src/monattack.cpp
Owners: none

Update cooking.json
  data/json/items/book/cooking.json
Owners: none

Update metalworking.json
  data/json/items/tool/metalworking.json
Owners: none

Update engineering.json
  data/json/items/vehicle/engineering.json
Owners: none

Update engineering.json
  data/json/vehicleparts/engineering.json
Owners: none

Check for electric immunity
  src/explosion.cpp
Owners: none

Update bludgeons.json
  data/json/items/melee/bludgeons.json
Owners: none

Update belts.json
  data/json/items/armor/belts.json
Owners: none

Update bathroom_house.json
  data/json/items/generic/bathroom_house.json
Owners: none

why did i left this comments here? they are not necessary
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/classless.json
Owners: @Maleclypse

typo fixing
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/classless.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamer.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamsmith.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/eater.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/inventor.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/main.json
Owners: @Maleclypse

Thank you Ferret
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_eater.json
Owners: @Maleclypse

Update dining_kitchen.json
  data/json/items/generic/dining_kitchen.json
Owners: none

Update known_bad_density.json
  data/mods/TEST_DATA/known_bad_density.json
Owners: none

Update dining_kitchen.json
  data/json/items/generic/dining_kitchen.json
Owners: none

animal food and riding gear shelves
  data/json/mapgen/farm_supply.json
  data/json/mapgen_palettes/farm_supply_palette.json
Owners: none

move item groups to better location
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/mapgen_palettes/farm_supply_palette.json
Owners: none
