Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Removed outdated legacy check that was erroneously invalidating containers if they were emptied or if their frontmost item was taken out.
  src/advanced_inv_area.cpp
Owners: none

Removed some unnecessary padding.
  src/advanced_inv_area.cpp
Owners: none

Added an option to adjust blinking speed
  src/editmap.cpp
  src/game.cpp
  src/options.cpp
  src/overmap_ui.cpp
Owners: none

Update arms_armor.json
  data/json/items/armor/arms_armor.json
Owners: none

Update chainmail.json
  data/json/items/armor/chainmail.json
Owners: none

Update legs_armor.json
  data/json/items/armor/legs_armor.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update torso_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Made it possible to put items into a container.
  src/advanced_inv.cpp
Owners: none

Update and rename chainmail.json to brigandine.json
  data/json/items/armor/brigandine.json
Owners: none

Apply suggestions from code review
  src/advanced_inv.cpp
  src/advanced_inv_area.cpp
  src/advanced_inv_pane.cpp
Owners: none

Update arms_armor.json
  data/json/items/armor/arms_armor.json
Owners: none

Update legs_armor.json
  data/json/items/armor/legs_armor.json
Owners: none

Update torso_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update suit.json
  data/json/recipes/armor/suit.json
Owners: none

Removes a few more unused variables clang-tidy has balked over more unused variables. cleanup ensues.
  src/iuse.cpp
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Don't persist flatbuffers for save files. (#62536)
  src/flexbuffer_cache.cpp
  src/json_loader.cpp
Owners: none

fix an error
  data/json/requirements/materials.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update suit.json
  data/json/recipes/armor/suit.json
Owners: none

Update arms_armor.json
  data/json/items/armor/arms_armor.json
Owners: none

Update suit.json
  data/json/recipes/armor/suit.json
Owners: none

Update arms_armor.json
  data/json/items/armor/arms_armor.json
Owners: none

Update suit.json
  data/json/recipes/armor/suit.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Removes further calls to cauterize Removes calls to cauterize in the magiclysm mod and the test_soldering_iron
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/TEST_DATA/items.json
Owners: @KorGgenT

Pin matrix clang++-12 build to ubuntu-22.04 because the fake sysroot fix only works on that OS
  .github/workflows/matrix.yml
Owners: none

Pin matrix clang++-12 build to ubuntu-22.04 because the fake sysroot fix only works on that OS (#62549)
  .github/workflows/matrix.yml
Owners: none

Correct some mis-use of positional arguments (#62542)
  data/json/monster_special_attacks/monster_attacks.json
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

fix: remove bulk nails from some locations (#62538)
  data/json/itemgroups/trash_and_debris.json
Owners: none

add the stuff (#62535)
  data/json/mapgen/valhalla_cult/mapgen.json
Owners: none

Update npcs.json (#62533)
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

Add a supported flavor of a stale bot
  .github/workflows/stale.yml
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
