Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

Update legs.json
  data/json/recipes/armor/legs.json
Owners: none

Update legs_armor.json
  data/json/items/armor/legs_armor.json
Owners: none

Update holster.json
  data/json/items/armor/holster.json
Owners: none

Update storage.json
  data/json/recipes/armor/storage.json
Owners: none

Update holster.json
  data/json/items/armor/holster.json
Owners: none

Update holster.json
  data/json/items/armor/holster.json
Owners: none

Update holster.json
  data/json/items/armor/holster.json
Owners: none

fix: incorrect workflow checkout ref
  .github/workflows/linter.yml
Owners: none

Update scarfs.json
  data/json/items/armor/scarfs.json
Owners: none

Update scarfs.json
  data/json/items/armor/scarfs.json
Owners: none

Update legs.json
  data/json/recipes/armor/legs.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update suits_protection.json
  data/json/items/armor/suits_protection.json
Owners: none

Update wheat.json
  data/json/items/comestibles/wheat.json
Owners: none

fix: run missions workflow only on json changes
  .github/workflows/assign_mission_target_needs_om_special.yml
Owners: none

Update legs.json
  data/json/recipes/armor/legs.json
Owners: none

fix: run summary labeler on open/edit pr body
  .github/workflows/summary-labeler.yml
Owners: none

Update legs.json
  data/json/recipes/armor/legs.json
Owners: none

Day snippets
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
Owners: @Maleclypse

Update mutations.json
  data/json/mutations/mutations.json
Owners: none

Delete polymer_plant
  data/json/mapgen/polymer_plant
Owners: none

Tweaking the details of the gunmods information
  src/item.cpp
Owners: none

Modify the content of gunmods info test
  tests/iteminfo_test.cpp
Owners: none

Tannic water
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/nuts.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/recipe_food.json
  data/json/requirements/tailoring.json
Owners: none

Update brigandine
  data/json/items/armor/brigandine
Owners: none

Update recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

acorn cooked
  data/json/items/comestibles/nuts.json
  data/json/recipes/recipe_food.json
Owners: none

adds the .303 SMLE Mk III and No. 4 Mk I battle rifles. also adds their magazine and clip.
  data/json/items/gun/303.json
  data/json/items/magazine/303.json
Owners: none

Documentation on `loudness` (#62150)
  doc/JSON_INFO.md
  src/item_factory.cpp
Owners: none

Update starting_missions.json (#62160)
  data/json/starting_missions.json
Owners: none

Update skulls.json
  data/json/items/generic/skulls.json
Owners: none

last tweeks before pr.
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/303.json
  data/json/items/migration.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Owners: none

starts trying to fix errors.
  data/json/items/gun/303.json
Owners: none

Update dictionary.txt
  tools/spell_checker/dictionary.txt
Owners: @int-ua

fixes bugs.
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/items/ammo/303.json
  data/json/items/gun/303.json
  data/json/recipes/ammo/rifle.json
Owners: none

Update data/json/items/ammo/303.json
  data/json/items/ammo/303.json
Owners: none

Update data/json/items/ammo/303.json
  data/json/items/ammo/303.json
Owners: none

Update data/json/items/ammo/303.json
  data/json/items/ammo/303.json
Owners: none

Update data/json/items/gun/303.json
  data/json/items/gun/303.json
Owners: none

Update data/json/items/gun/303.json
  data/json/items/gun/303.json
Owners: none
