Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Scenario grammar maintenance
  data/json/scenarios.json
Owners: none

Update mapgen_functions - remove add_spawn (#62417)
  data/json/monstergroups/bugs.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/zombies.json
  src/mapgen_functions.cpp
Owners: none

Farm mutable tweaks (#62393)
  data/json/overmap/overmap_mutable/farm_mutable.json
Owners: none

inv_ui: add a save state for activate/read/steal menus
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
Owners: none

Update data/mods/Xedra_Evolved/items/inventor/artifacts.json
  data/mods/Xedra_Evolved/items/inventor/artifacts.json
Owners: @Maleclypse

Update data/mods/Xedra_Evolved/monsters/monster.json
  data/mods/Xedra_Evolved/monsters/monster.json
Owners: @Maleclypse

Spelling fixes
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
Owners: none

Add Sioux Chef
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/books.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/book/cooking.json
Owners: none

Add butternuts and corresponding trees
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/itemgroups/faction_camps.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/nuts.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_food.json
  data/json/regional_map_settings.json
Owners: none

Butternut harvest
  data/json/harvest.json
Owners: none

Bottle gourd additions
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/containers.json
  data/json/recipes/food/seed.json
Owners: none

Dispersing some bottle gourd seeds
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/mapgen/cs_gardening_allotment.json
Owners: none

AIM: hotfix for #62400
  src/advanced_inv.cpp
  src/advanced_inv.h
Owners: none

Native settler innawood profession
  data/mods/innawood/professions.json
Owners: @Light-Wave

Update zed_misc.json
  data/json/monsters/zed_misc.json
Owners: none

Add everything
  data/json/npcs/bunker_shop/classes.json
  data/json/npcs/cabin_chemist/chemist_npc.json
  data/json/npcs/exodii/exodii_merchant_definitions.json
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
  data/json/npcs/scrap_trader/scrap_trader.json
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

Update data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/raw_veggy.json
Owners: none

Update data/json/items/comestibles/seed.json
  data/json/items/comestibles/seed.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/recipes/recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Update data/json/items/book/cooking.json
  data/json/items/book/cooking.json
Owners: none

Dict update
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Linting recipe_food.json
  data/json/recipes/recipe_food.json
Owners: none

Removed restriction to autopickup switching only from player ui
  src/auto_pickup.cpp
  src/auto_pickup.h
Owners: none

Remove the exodii defenitions for #62476
  data/json/npcs/exodii/exodii_merchant_definitions.json
Owners: none

Update data/json/npcs/cabin_chemist/chemist_npc.json
  data/json/npcs/cabin_chemist/chemist_npc.json
Owners: none

Update data/json/npcs/lumbermill_employees/lumbermill_employees.json
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
Owners: none

Update data/json/npcs/lumbermill_employees/lumbermill_employees.json
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
Owners: none

Update data/json/npcs/scrap_trader/scrap_trader.json
  data/json/npcs/scrap_trader/scrap_trader.json
Owners: none

Update data/json/npcs/valhalla_cult/npcs.json
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

Update data/json/npcs/valhalla_cult/npcs.json
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

Add another trait
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
Owners: none

Remove the cuboard nightstand
  data/json/mapgen/house/bungalow02.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
