Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @I-am-Erk, @SouP, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @int-ua, @BrettDong

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/No_Fungi/ @I-am-Erk
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown 
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/data/json/itemgroups/SUS/ @I-am-Erk
/data/json/npcs/refugee_center/ @I-am-Erk
/data/json/npcs/Backgrounds/ @I-am-Erk
/data/json/snippets/ @I-am-Erk
/gfx/ @I-am-Erk
/tools/ @int-ua
/lang/ @BrettDong

Remove all NOT_HALLUCINATION I'm aware of
  data/mods/CrazyCataclysm/crazy_monsters.json
Owners: none

docs: update TOC
  doc/JSON_INFO.md
Owners: none

fix dino dave tape mission
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
Owners: @I-am-Erk

make zow smash
  data/json/monsters/zed-animal.json
Owners: none

Fix crash when exiting equip armor in sort armor UI
  src/armor_layers.cpp
Owners: none

added wreckage for the scenario
  data/json/vehicles/custom_vehicles.json
Owners: none

added the wrecked vehicle the player starts in.
  data/json/scenarios.json
Owners: none

revert the vehicle cos it will be pristine.
  data/json/scenarios.json
Owners: none

Create car_crash.json
  data/json/mapgen/map_extras/car_crash.json
Owners: none

change car to mx_mayhem
  data/json/scenarios.json
Owners: none

remove rouge comma from car_crash.json
  data/json/mapgen/map_extras/car_crash.json
Owners: none

removed rogue comma from scenarios.json
  data/json/scenarios.json
Owners: none

Add further weariness fluctuation testing
  tests/activity_scheduling_helper.cpp
  tests/activity_scheduling_helper.h
  tests/weary_test.cpp
Owners: none

Update data/json/professions.json
  data/json/professions.json
Owners: none

Adjust weary test output for readability
  tests/weary_test.cpp
Owners: none

Make earlier commit actually work.
  tests/weary_test.cpp
Owners: none

Update data/json/scenarios.json
  data/json/scenarios.json
Owners: none

Added no_thirst flag to metabolic rehydration
  data/json/mutations/mutations.json
Owners: none

whitespace snuck in
  data/json/mutations/mutations.json
Owners: none

large wallet > wallet
  data/json/items/generic.json
Owners: none

Replaced size > 0 with !empty
  src/iexamine.cpp
Owners: none

fix funnel weight to limit plastic chunks from butchery
  data/json/items/tool/raincatchers.json
Owners: none

Update data/json/monstergroups/wilderness.json
  data/json/monstergroups/wilderness.json
Owners: none

Update data/json/monstergroups/wilderness.json
  data/json/monstergroups/wilderness.json
Owners: none

Proficiencies apply bonuses to crafting
  src/crafting_gui.cpp
  src/recipe.cpp
  src/recipe.h
Owners: none

Try loading default font config before segfault
  data/raw/fonts.json
  src/font_loader.h
  src/path_info.cpp
  src/path_info.h
Owners: none

fix color coding of container stat summary
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_pocket.cpp
Owners: none

Update data/json/monstergroups/wilderness.json
  data/json/monstergroups/wilderness.json
Owners: none

[DinoMod] fix Red missions
  data/mods/DinoMod/NPC/NC_Red.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

fix dino mission spawns
  data/mods/DinoMod/monstergroups/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

fix zino mission spawns
  data/mods/DinoMod/monstergroups/zinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

revert dino monstergroup bugfixes
  data/mods/DinoMod/monstergroups/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

clamped warmth loss from fatigue
  src/character.cpp
Owners: none

zino group revert
  data/mods/DinoMod/monstergroups/zinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

switched activity duration to to_moves
  src/vehicle_use.cpp
Owners: none

Update data/json/monstergroups/wilderness.json
  data/json/monstergroups/wilderness.json
Owners: none

description change
  data/json/mutations/mutations.json
Owners: none

Updated monsters that could spawn in land and island prisons
  data/json/mapgen/prison_1.json
  data/json/monstergroups/zombies.json
Owners: none

revert faulty min/max vol pocket changes
  src/item_pocket.cpp
Owners: none

afs misc typographical fixes
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/books.json
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/items/crafting_scrap/energy_storage_scrap.json
  data/mods/Aftershock/items/crafting_scrap/material_scrap.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/player/professions.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun
