Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

energy_consumption json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/motor.json
  data/mods/BlazeIndustries/vehicleparts/blaze_combustion.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
Owners: @KorGgenT

Update data/json/items/vehicle/armor.json
  data/json/items/vehicle/armor.json
Owners: none

New England Great Revival (#62061)
  data/json/items/book/misc_scifi.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/cground3x3.json
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/mapgen_palettes/church_retreat.json
  data/json/npcs/factions.json
  data/json/npcs/godco/NPC_Arturo_Maldonado.json
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Chloe_Taylor_King.json
  data/json/npcs/godco/NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/NPC_Father_Greenwood.json
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Helena_Misinter.json
  data/json/npcs/godco/NPC_Jane_Schulz.json
  data/json/npcs/godco/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/NPC_Julian_Ray.json
  data/json/npcs/godco/NPC_Katherine_Weaver.json
  data/json/npcs/godco/NPC_Kostas_Walsman.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/NPC_Olwen_Powell.json
  data/json/npcs/godco/NPC_Russell_Connelly.json
  data/json/npcs/godco/NPC_Sonia_Greene.json
  data/json/npcs/godco/NPC_Tom_Powell.json
  data/json/npcs/godco/NPC_Zachary_Montes.json
  data/json/npcs/godco/classes.json
  data/json/npcs/godco/cook.json
  data/json/npcs/godco/foodguard.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/npcs.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/snippets/epilogue_factions.json
  data/json/vehicles/utility.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

added WBLOCK_1 (#62300)
  data/json/items/melee/bludgeons.json
Owners: none

energy_consumption
  src/veh_interact.cpp
  src/veh_type.h
  src/vehicle.cpp
Owners: none

Pet AI small changes to reduce weird behavior (#62194)
  src/monster.cpp
Owners: none

New map: a nuclear power plant (#61846)
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z0.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z1.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z2.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z3.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z4.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z5.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z6.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z7.json
  data/json/mapgen_palettes/nuclear_plant_palette.json
  data/json/materials.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/zombies.json
  data/json/overmap/overmap_special/nuclear_plant.json
  data/json/overmap/overmap_terrain/overmap_terrain_nuclear_plant.json
  data/json/scenarios.json
  data/json/start_locations.json
Owners: none

power_draw json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/robofac_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/electronics.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/lighting.json
  data/json/items/tool/misc.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/smoking.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
Owners: none

power_draw json
  data/json/items/tool_armor.json
Owners: none

Updates sporting armor (#62156)
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/masks.json
  data/json/items/armor/torso_armor.json
Owners: none

Fixing wrong density for various items (#61992)
  data/json/items/armor/belts.json
  data/json/items/armor/integrated.json
  data/json/items/book/anthology.json
  data/json/items/book/cooking.json
  data/json/items/book/fabrication.json
  data/json/items/comestibles/med.json
  data/json/items/fake.json
  data/json/items/generic.json
  data/json/items/generic/bathroom_house.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/id_cards.json
  data/json/items/melee/bludgeons.json
  data/json/items/newspaper.json
  data/json/items/tool/electronics.json
  data/json/items/tool/fire.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/tailoring.json
  data/json/items/vehicle/engineering.json
  data/json/items/vehicle/tables.json
  data/json/recipes/other/medical.json
  data/json/vehicleparts/engineering.json
  data/mods/TEST_DATA/known_bad_density.json
  data/mods/TEST_DATA/vehicle_drag_test.json
Owners: none

audit and document monster speeds (#61282)
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed-animal.json
  doc/GAME_BALANCE.md
Owners: none

Kevlar wetsuit tweaks (#61156)
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/recipes/armor/bespoke_armor/survivor.json
  data/json/recipes/nested.json
Owners: none

Stock Pot Great Helm (#60813)
  data/json/items/armor/helmets.json
  data/json/items/generic/dining_kitchen.json
  data/json/recipes/armor/head.json
Owners: none

Integrated armor for scale mutations (#60505)
  data/json/items/armor/integrated.json
  data/json/mutations/mutations.json
Owners: none

Balance and tweaks to relic procgen (#61504)
  data/json/artifact/relic_procgen_data.json
Owners: none

let the "like new" apache on the aircraft carrier take off. (#62152)
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/mapgen/aircraft_carrier/aircraft_carrier_z1.json
  data/json/mapgen/aircraft_carrier/aircraft_carrier_z2.json
  data/json/mapgen_palettes/aircraft_carrier_palette.json
Owners: none

Add chance for cannabis extraction supplies in houses with grows (#62164)
  data/json/itemgroups/misc.json
  data/json/mapgen/basement/basement_weed.json
  data/json/mapgen/house/house_detatched6.json
Owners: none

Updated Riot Armor to modern armor standards (#62048)
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/monsterdrops/zombie_cop.json
  data/json/recipes/armor/suit.json
  data/json/recipes/recipe_deconstruction.json
Owners: none

Added uncraft recipes for metal ammo cans and boxes (#61848)
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/9mm.json
  data/json/items/containers/military.json
  data/json/items/migration.json
  data/json/obsolete.json
  data/json/uncraft/containers/military.json
Owners: none

Add more miscellaneous NPCs (#62134)
  data/json/itemgroups/food_service.json
  data/json/mapgen/apartment_con_new.json
  data/json/mapgen/campsite.json
  data/json/mapgen/house/house_prepper.json
  data/json/mapgen/moonshine_camp.json
  data/json/mapgen/ws_survivor_camp.json
  data/json/npcs/classes.json
  data/json/npcs/npc.json
  data/json/npcs/other/TALK_NPC_APARTMENT_SURVIVOR.json
  data/json/npcs/other/TALK_NPC_CAMPER.json
  data/json/npcs/other/TALK_NPC_MOONSHINER.json
  data/json/npcs/other/TALK_NPC_PREPPER_SURVIVOR.json
  data/json/npcs/other/shelter_survivors.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

add DURABLE_MELEE flag for powered quarterstaff and ironshod quarterstaff (#61153)
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Owners: none

Move some files around (#62120)
  data/json/npcs/common_chat/TALK_COMMON_ALLY.json
  data/json/npcs/common_chat/TALK_COMMON_GREET.json
  data/json/npcs/common_chat/TALK_COMMON_MISSION.json
  data/json/npcs/common_chat/TALK_COMMON_OTHER.json
  data/json/npcs/common_chat/TALK_FRIEND_CONVERSATION.json
  data/json/npcs/computers/TALK_PREPPER_1_COMPUTER.json
Owners: none

Partially decouple disease resist from enviro protection (#61058)
  data/core/tips.json
  src/character.cpp
Owners: none

power_draw
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
  src/iuse.cpp
Owners: none

Wooden forward grip for firearms (#61383)
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/gunmod/underbarrel.json
  data/json/recipes/weapon/mods.json
  data/mods/innawood/recipes/weapon/mods.json
Owners: @Light-Wave

Furniture Project: Seating (#60750)
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/itemgroups/stashes.json
  data/json/itemgroups/supplies.json
  data/json/items/furniture.json
  data/json/items/generic.json
  data/json/items/resources/home_improvement.json
  data/json/items/resources/wood.json
  data/json/items/tool/deployable.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/nested.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_furniture.json
  data/json/recipes/recipe_obsolete.json
  data/json/uncraft/tool/deployable.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

doc
  doc/ARMOR_BALANCE_AND_DESIGN.md
  doc/JSON_INFO.md
Owners: none

mods
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_melee.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_modules.json
  data/mods/Aftershock/items/armor/winter_masks.json
  data/mods/Aftershock/items/armor/winter_suits.json
  data/mods/Aftershock/items/tool_armor.json
  data/mods/Aftershock/items/tools.json
  data/mods/TEST_DATA/items.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

update mon info for forced redraw
  src/do_turn.cpp
Owners: none

farmland spawns
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Owners: none

add sand patch mx (#61802)
  data/json/mapgen/map_extras/sand.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
Owners: none

Use NPC-specific topic preferentially if NPC has. (#60939)
  src/npc.h
  src/npctalk.cpp
Owners: none

assign
  src/assign.cpp
  src/assign.h
Owners: none

doc
  doc/JSON_INFO.md
Owners: none

Eternal weather (#59707)
  data/core/game_balance.json
  src/do_turn.cpp
  src/main_menu.cpp
Owners: none

remove charges in hope of fixing the density test
  data/json/items/comestibles/veggy_dishes.json
Owners: none

tweaked soup ingredient amount/calories (#60888)
  data/json/items/comestibles/soup.json
  data/json/recipes/food/canned.json
Owners: none

instability bandaid ft. erk
  data/json/mutations/mutations.json
  data/json/vitamin.json
Owners: none

update mon info for forced redraw (#62362)
  src/do_turn.cpp
Owners: none
