Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

movie posters
  data/json/items/newspaper.json
Owners: none

cars only vehicle group
  data/json/vehicle_groups.json
Owners: none

Minor map fixes
  data/json/mapgen/nuclear_plant/nuclear_plant_z0.json
  data/json/mapgen_palettes/nuclear_plant_palette.json
Owners: none

Add capitalization
  data/json/start_locations.json
Owners: none

lint
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
  data/json/items/obsolete.json
  data/json/recipes/armor/pets_cow.json
  data/json/recipes/armor/pets_horse.json
  data/json/recipes/chem/other.json
  data/mods/DinoMod/recipes/pets_bear.json
  data/mods/DinoMod/recipes/pets_elephant.json
  data/mods/DinoMod/recipes/pets_ostrich.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

leather density
  data/json/materials.json
Owners: none

waterproof, protection, undo lorica
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/materials.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  data/json/recipes/armor/suit.json
Owners: none

harden leg lamor
  data/json/items/armor/legs_armor.json
Owners: none

adv leatherworking
  data/json/recipes/practice/tailoring.json
Owners: none

fire, acid resiest
  data/json/materials.json
Owners: none

mat resitances
  data/json/materials.json
Owners: none

lint
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
Owners: none

encumrbace
  data/json/items/armor/arms_armor.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

waterproof
  data/json/items/armor/suits_protection.json
Owners: none

can repair
  data/json/items/tool/tailoring.json
Owners: none

can cut up
  data/json/items/tool/tailoring.json
  data/mods/innawood/items/tool_tailoring.json
  src/iuse_actor.h
Owners: @Light-Wave

Make museum loot be damaged and shattered
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
Owners: none

Update obsolete.json
  data/json/items/obsolete.json
Owners: none

make `damage": [ 2, 4 ] ` instead of `[ 4, 4 ]`, remove leather armor as proposed
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
Owners: none

25 enc
  data/json/items/obsolete.json
Owners: none

recipe change
  data/json/recipes/chem/other.json
Owners: none

lint
  data/json/recipes/chem/other.json
Owners: none

densitiy
  data/json/items/resources/tailoring.json
Owners: none

change vals, re add VARSIZE
  data/json/items/obsolete.json
Owners: none

weight
  data/json/items/resources/tailoring.json
Owners: none

density
  data/json/items/resources/tailoring.json
Owners: none

flags order
  data/json/items/obsolete.json
Owners: none

fix cold/heat tolerance being backwards
  data/json/mutations/mutations.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Cottage cheese
  data/json/items/comestibles/dairy.json
  data/json/recipes/food/dairy_products.json
Owners: none

add armor, recipes
  data/json/items/ammo.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/torso.json
  data/json/recipes/recipe_others.json
Owners: none

Update npctalk.cpp
  src/npctalk.cpp
Owners: none

splits the Mk III and No. 4 into two items.
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/303.json
Owners: none

feels linty, man
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/torso.json
Owners: none

fixes errors.
  data/json/items/gun/303.json
Owners: none

intentional format
  data/json/items/newspaper.json
Owners: none

fix ch lamellae weight, spellchecker
  data/json/items/ammo.json
  tools/spell_checker/dictionary.txt
Owners: @int-ua

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
