Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

the basics
  data/json/items/comestibles/mutagen.json
  data/json/items/mutagen_ingredients.json
  data/json/mutations/mutation_category.json
  data/json/mutations/mutations.json
  data/json/recipes/chem/mutagens.json
  data/json/vitamin.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Fix Demonforge bug (#62480)
  data/mods/Magiclysm/furniture.json
  data/mods/Magiclysm/worldgen/forge_of_wonders.json
Owners: @KorGgenT

Update modinfo.json
  data/mods/Dark-Skies-Above/modinfo.json
Owners: @ephemeralstoryteller

clean up bio_op_takedown
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

don't make effects_require_dmg false
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

add existing mutations to new tree part 1
  data/json/mutations/mutations.json
  data/json/vitamin.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Owners: none

fliesdoinfactvomit
  data/json/mutations/mutations.json
Owners: none

mistake
  data/json/mutations/mutations.json
Owners: none

Removes Nutrient override from Cottage cheese
  data/json/items/comestibles/dairy.json
  data/json/recipes/food/dairy_products.json
Owners: none

Made AIM show all of a container's contents.
  src/advanced_inv_pane.cpp
Owners: none

Only allow AIM container location for actual containers.
  src/advanced_inv_area.cpp
Owners: none

string polishing (#62499)
  src/activity_actor.cpp
  src/advanced_inv.cpp
Owners: none

Fix inconsistent recipes, All Kevlar jumpsuits need kevlar sheets, none need layered kevlar (#62368)
  data/json/recipes/armor/bespoke_armor/survivor.json
  data/json/recipes/armor/suit.json
Owners: none

[Magiclysm] fix blood as fuel stuff (#62327)
  data/mods/Magiclysm/bionics.json
  data/mods/Magiclysm/materials.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/requirements/spell_components.json
Owners: @KorGgenT

Lower power draw of multicooker by 15 times
  data/json/items/tool/cooking.json
Owners: none

Several tweaks
  src/iuse.cpp
Owners: none

Update items_holiday.json
  data/json/items/items_holiday.json
Owners: none

override inna wood recioe (hopefully)
  data/mods/innawood/recipes/chem_other.json
Owners: @Light-Wave

Initial commit
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/mics.json
  data/json/mapgen_palettes/fema.json
Owners: none

Move heavy to heavy
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/collections.json
Owners: none

Fix FEMA camp has more ammo than any military location (#62513)
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/collections.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/mics.json
  data/json/mapgen_palettes/fema.json
Owners: none

Move mods away for 0.G
  data/mods/Mythos-Madness/modinfo.json
  data/mods/Mythos-Madness/monster_special_attacks/monster_attacks.json
  data/mods/Mythos-Madness/monster_special_attacks/monster_deaths.json
  data/mods/Mythos-Madness/monster_special_attacks/monster_gun.json
  data/mods/Mythos-Madness/monster_special_attacks/spells.json
  data/mods/Mythos-Madness/monster_special_attacks/weapon_spells.json
  data/mods/Mythos-Madness/mutations/changing_eocs.json
  data/mods/Mythos-Madness/mutations/mutation_eocs.json
  data/mods/Mythos-Madness/mutations/mutation_psychological.json
  data/mods/Mythos-Madness/mutations/mutation_spells.json
  data/mods/Mythos-Madness/mutations/mutation_type.json
  data/mods/Mythos-Madness/mutations/mutations.json
  data/mods/Mythos-Madness/psychological_effect_on_condition.json
  data/mods/Mythos-Madness/psychological_effects.json
  data/mods/MythosMod/README.md
  data/mods/MythosMod/blacklists/item_blacklist.json
  data/mods/MythosMod/blacklists/location_blacklist.json
  data/mods/MythosMod/blacklists/recipes_blacklist.json
  data/mods/MythosMod/blacklists/trait_blacklist.json
  data/mods/MythosMod/furniture_and_terrain/1920s_furniture-appliances.json
  data/mods/MythosMod/game_balance.json
  data/mods/MythosMod/items/appliances.json
  data/mods/MythosMod/mapgen_palettes/1920s_house_general_abandoned.json
  data/mods/MythosMod/mapgen_palettes/1920s_house_general_palette.json
  data/mods/MythosMod/mapgen_palettes/1920s_house_w_palette.json
  data/mods/MythosMod/modinfo.json
Owners: none

Update modinfo.json
  data/mods/Mythos-Creatures/modinfo.json
Owners: none

fix ferals in hazardous waste sarcophagus
  data/json/mapgen/hazardous_waste_sarcophagus.json
  data/json/monstergroups/zombies.json
Owners: none

add scaling to json
  data/json/harvest_dissect.json
Owners: none

Update data/json/harvest_dissect.json
  data/json/harvest_dissect.json
Owners: none

Update data/json/harvest_dissect.json
  data/json/harvest_dissect.json
Owners: none

Update data/json/harvest_dissect.json
  data/json/harvest_dissect.json
Owners: none

Fixes for typo, redundancy, and phrasing.
  data/json/npcs/TALK_FACTION_CAMP.json
Owners: none

Harden Vault Protectors
  data/mods/Magiclysm/monsters/forgedwellers.json
Owners: @KorGgenT

fix ferals in hazardous waste sarcophagus (#62515)
  data/json/mapgen/hazardous_waste_sarcophagus.json
  data/json/monstergroups/zombies.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
