Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin

Update src/character_attire.cpp
  src/character_attire.cpp
Owners: none

football armor
  data/json/items/armor/torso_armor.json
Owners: none

liquid
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/nuts.json
  data/json/recipes/recipe_food.json
Owners: none

Added `MISSION_ITEM` flag to Kord
  data/json/items/gun/545x39.json
Owners: none

Docs
  doc/JSON_FLAGS.md
Owners: none

Sort
  doc/JSON_FLAGS.md
Owners: none

Add Sam Browne belt
  data/json/items/armor/belts.json
Owners: none

Sam Browne belt itemgroup
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

Update torso.json
  data/json/recipes/armor/torso.json
Owners: none

Update arms.json
  data/json/recipes/armor/arms.json
Owners: none

Update legs.json
  data/json/recipes/armor/legs.json
Owners: none

Update hands.json
  data/json/recipes/armor/hands.json
Owners: none

Update hands.json
  data/json/recipes/armor/hands.json
Owners: none

Update hands.json
  data/json/recipes/armor/hands.json
Owners: none

Add Sam Browne belt
  data/json/items/armor/belts.json
Owners: none

Delete belts.json
  data/json/items/armor/belts.json
Owners: none

Update belts.json
  data/json/items/armor/belts.json
Owners: none

Update clothing.json
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

Update clothing.json
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

Update clothing.json
  data/json/itemgroups/Clothing_Gear/clothing.json
Owners: none

Increased medium belt loop max length to 60cm
  data/json/items/armor/ammo_pouch.json
Owners: none

grabbing to grabbed
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update monster_attacks.json
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

iexamine/elevator: fix for uilist retval autoassign
  src/iexamine.cpp
Owners: none

Updated gift shop
  data/json/mapgen/nested/retail_nested.json
Owners: none

Add chalice
  data/json/items/generic.json
Owners: none

Add chalice
  data/json/itemgroups/misc.json
Owners: none

Add chalice
  data/json/itemgroups/art_antiques_crafts.json
Owners: none

Fix previous edit
  data/json/mapgen/nested/retail_nested.json
Owners: none

Fix previous edit
  data/json/items/generic.json
Owners: none

Actually spawn the gift shop
  data/json/mapgen/city_blocks/city_block_2.json
Owners: none

say what is grabbed
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update projectile.json
  data/mods/Aftershock/items/gun/projectile.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

set grab strengths
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Fix
  data/mods/Magiclysm/monsters/forgedwellers.json
  data/mods/Magiclysm/species.json
Owners: @KorGgenT

self_effects_always spellcheck
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

fix description.
  data/json/furniture_and_terrain/furniture-storage.json
Owners: none

grabbed to grabbing
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Fix wincurse.cpp
  src/wincurse.cpp
Owners: none

assign to bio_op
  data/json/monsters/zed_soldiers.json
Owners: none
