Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

actually process older issues first (#62576)
  .github/workflows/stale.yml
Owners: none

Update flag.h
  src/flag.h
Owners: none

Update furniture-storage.json
  data/json/furniture_and_terrain/furniture-storage.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update torso.json
  data/json/recipes/armor/torso.json
Owners: none

Update brigandine.json
  data/json/items/armor/brigandine.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update brigandine.json
  data/json/items/armor/brigandine.json
Owners: none

Update torso.json
  data/json/recipes/armor/torso.json
Owners: none

Update torso.json
  data/json/recipes/armor/torso.json
Owners: none

Update brigandine.json
  data/json/items/armor/brigandine.json
Owners: none

Update torso.json
  data/json/recipes/armor/torso.json
Owners: none

Update brigandine.json
  data/json/items/armor/brigandine.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update dictionary.txt
  tools/spell_checker/dictionary.txt
Owners: @int-ua

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update brigandine.json
  data/json/items/armor/brigandine.json
Owners: none

Update nested.json
  data/json/recipes/nested.json
Owners: none

Update flags.json
  data/json/flags.json
Owners: none

Update boots.json
  data/json/items/armor/boots.json
Owners: none

Update gloves.json
  data/json/items/armor/gloves.json
Owners: none

Update brigandine.json
  data/json/items/armor/brigandine.json
Owners: none

Add welding kit to list of welding requirements (#62517)
  data/json/recipes/armor/head.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/requirements/toolsets.json
Owners: none

JSON-ify the "Find Lost Dog" mission (#62468)
  data/json/npcs/missiondef.json
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
Owners: none

Moved ammo, ammo types, and recipes of metal rails to Aftershock (#62460)
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/ammo_types.json
  data/json/items/armor/ammo_pouch.json
  data/json/recipes/recipe_ammo.json
  data/mods/Aftershock/items/ammo/metal_rail.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/recipes/ammo_recipes.json
  data/mods/Dark-Skies-Above/blacklists/item_blacklist.json
  data/mods/Mythos/blacklists/item_blacklist.json
  data/mods/classic_zombies/items/blacklists.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @I-am-Erk

Remove the items (#62451)
  data/json/mapgen/fortified_scrap_yard/fortified_scrap_yard.json
Owners: none

Added some missing chainmail recipes (#62422)
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
  data/json/recipes/basecamps/recipe_groups.json
Owners: none

Multicooker tweaks (#62510)
  data/json/items/tool/cooking.json
  src/iuse.cpp
Owners: none

Update materials.json
  data/json/materials.json
Owners: none

Update integrated.json
  data/json/items/armor/integrated.json
Owners: none

Fix goof
  data/json/items/armor/integrated.json
Owners: none

Add the stuff
  data/json/npcs/missiondef.json
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
Owners: none

Nerf encumbrance
  data/json/items/armor/integrated.json
Owners: none

Update data/json/npcs/missiondef.json
  data/json/npcs/missiondef.json
Owners: none

Delete the old functions
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
Owners: none

Added set of `SPAWN_CHANCE_FOO` external options
  data/core/game_balance.json
Owners: none

Added function to check for newly added external options and made `map::add_item` check for this function
  src/map.cpp
  src/map.h
Owners: none

Added check for newly added function in `monster::drop_items_on_death`
  src/monster.cpp
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
