Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Use bonus field for funnels instead of size field
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_flags.json
  doc/JSON_INFO.md
  src/veh_type.h
  src/vehicle.cpp
Owners: none

Remove "size" from non-CARGO part types
  data/json/furniture_and_terrain/appliances.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/TEST_DATA/vehicle.json
  src/veh_type.cpp
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Use liters/ml for vehicle part "size" definitions
  data/json/furniture_and_terrain/appliances.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/BlazeIndustries/furniture_and_terrain/blaze_appliances.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
  data/mods/TEST_DATA/vehicle.json
  doc/JSON_INFO.md
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @KorGgenT

trade_ui: use keychar mode for master ctxt
  src/inventory_ui.cpp
Owners: none

distribution: don't allow poisson <= 0
  data/json/overmap/overmap_mutable/farm_mutable.json
  src/distribution.cpp
Owners: none

Misc typo fixes
  data/json/items/armor/cloaks.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/junkfood.json
  data/json/items/resources/chemicals.json
  data/json/items/tool_armor.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/zed_soldiers.json
  data/json/ui/spacebar/spacebar_envirament_block.json
  data/mods/MMA/mutations.json
  data/mods/TropiCataclysm/monsters/tropical_fungus.json
  data/mods/innawood/furniture_and_terrain/furniture-flora.json
  data/mods/innawood/npcs/Backgrounds/high_school_1.json
  data/mods/innawood/npcs/missiondef.json
Owners: @Hymore246, @Light-Wave

back to 2 for limbs
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Owners: none

tests
  data/json/items/armor/suits_protection.json
Owners: none

tests
  data/json/items/armor/suits_protection.json
Owners: none

distribution: don't allow poisson <= 0 (#62528)
  data/json/overmap/overmap_mutable/farm_mutable.json
  src/distribution.cpp
Owners: none

commit venera3 suggestion
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

make unblockable
  data/json/monster_special_attacks/monster_attacks.json
Owners: none

Add the changes
  data/json/mapgen/bunker_shop.json
  data/json/npcs/bunker_shop/NC_BUNKER_MERCHANT.json
  data/json/npcs/bunker_shop/classes.json
  data/json/npcs/bunker_shop/npc.json
Owners: none

Update npcs.json
  data/json/npcs/valhalla_cult/npcs.json
Owners: none

Update data/json/npcs/bunker_shop/classes.json
  data/json/npcs/bunker_shop/classes.json
Owners: none

add the stuff
  data/json/mapgen/valhalla_cult/mapgen.json
Owners: none

prof_dissect_humans
  data/json/proficiencies/health_care.json
Owners: none

proficiency_prof_dissect_humans logic
  src/activity_handlers.cpp
Owners: none

change naming
  data/json/proficiencies/health_care.json
Owners: none

distribute prof_dissect_humans to professions
  data/json/professions.json
Owners: none

add prof_dissect_humans to stuff
  data/mods/package_bionic_professions/bionic_professions.json
Owners: none

Update src/activity_handlers.cpp
  src/activity_handlers.cpp
Owners: none

fix debug message
  src/activity_handlers.cpp
Owners: none

Update data/json/professions.json
  data/json/professions.json
Owners: none

Update data/json/professions.json
  data/json/professions.json
Owners: none

Update data/json/professions.json
  data/json/professions.json
Owners: none

Update data/json/professions.json
  data/json/professions.json
Owners: none

Don't persist flatbuffers for save files.
  src/flexbuffer_cache.cpp
  src/json_loader.cpp
Owners: none

Update src/activity_handlers.cpp
  src/activity_handlers.cpp
Owners: none

Update src/activity_handlers.cpp
  src/activity_handlers.cpp
Owners: none

Update src/activity_handlers.cpp
  src/activity_handlers.cpp
Owners: none

oops debug messages
  src/activity_handlers.cpp
Owners: none

and that one
  src/activity_handlers.cpp
Owners: none

fix: remove bulk nails from some locations
  data/json/itemgroups/trash_and_debris.json
Owners: none

Rename spacebar_environment_block.json
  data/json/ui/spacebar/spacebar_environment_block.json
Owners: none

Fix typo in "weather" widget label
  data/json/ui/spacebar/spacebar_environment_block.json
Owners: none

Routine i18n updates on 03 December 2022
  data/credits/zh_CN.credits
  data/motd/id.motd
  data/motd/zh_CN.motd
Owners: none

Correct some mis-use of positional arguments
  data/json/monster_special_attacks/monster_attacks.json
  data/mods/DinoMod/monster_attacks.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Removes unused variables relating to cauterization Removes a few unused variables related to cauterization I missed in the first pass because they were not obviously only used for cauterization
  src/iuse_actor.cpp
Owners: none

Add welding kit to list of welding requirements
  data/json/recipes/armor/head.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/requirements/toolsets.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
