Repository CleverRaven/Cataclysm-DDA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maleclypse, @John-Candlebury, @Mom-Bun, @ephemeralstoryteller, @damien, @LyleSY, @Kilvoctu, @Larwck, @Hymore246, @SouP, @I-am-Erk, @Soupster89, @davidpwbrown, @tenmillimaster, @KorGgenT, @Fris0uman, @Night-Pryanik, @Light-Wave, @ZhilkinSerg, @int-ua, @BrettDong, @wapcaplet, @dseguin

Update zed_misc.json
  data/json/monsters/zed_misc.json
Owners: none

Update dinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update dinosaur_CBM.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update zed-dinosaur_CBM.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Update zinosaur_upgrade.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Add ability to define immunity character flags to effects, deprecate bleed_resist (#61878)
  data/json/effects.json
  data/mods/Magiclysm/traits/attunements.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
  doc/EFFECTS_JSON.md
  doc/JSON_FLAGS.md
  doc/MUTATIONS.md
  src/character.cpp
  src/effect.cpp
  src/effect.h
  src/mutation.h
  src/mutation_data.cpp
Owners: @KorGgenT, @Fris0uman

Fix wincurse.cpp (#62214)
  src/wincurse.cpp
Owners: none

Fix (#62213)
  data/mods/Magiclysm/monsters/forgedwellers.json
  data/mods/Magiclysm/species.json
Owners: @KorGgenT

Update projectile.json (#62212)
  data/mods/Aftershock/items/gun/projectile.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

iexamine/elevator: fix for uilist retval autoassign (#62211)
  src/iexamine.cpp
Owners: none

Kord's spawn is more predictable (#62206)
  data/json/items/gun/545x39.json
  doc/JSON_FLAGS.md
Owners: none

Waiting works again (#62205)
  src/handle_action.cpp
Owners: none

Made flying monsters immune to several ground-based field types (#62202)
  src/monmove.cpp
Owners: none

Melian Mantis Stallion
  data/mods/Xedra_Evolved/monsters/changeling.json
Owners: @Maleclypse

Drawing blood will now yield blood type defined in monster's harvest list (#62193)
  src/iuse.cpp
Owners: none

Fix bodypart_color_text.json clause priority (#62191)
  data/json/ui/bodypart_color_text.json
Owners: none

Atomic Butter: A brief adjustment for Aftershock (#62183)
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/recipes/comestible_recipes.json
  data/mods/Aftershock/recipes/obsolete.json
Owners: @Maleclypse, @John-Candlebury, @Mom-Bun

Fix missing output from cataclysm-tiles.exe --help (#62178)
  src/main.cpp
Owners: none

fix: run missions workflow only on json changes (#62166)
  .github/workflows/assign_mission_target_needs_om_special.yml
Owners: none

fix: incorrect workflow checkout ref (#62165)
  .github/workflows/linter.yml
Owners: none

Xedra Evolved Night snippets (#62158)
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
Owners: @Maleclypse

[DinoMod] teeth grab and tear (#62127)
  data/mods/DinoMod/monster_attacks.json
  data/mods/DinoMod/monsters/dinosaur.json
Owners: @ephemeralstoryteller, @damien, @LyleSY

Fix vehicle zones not invalidating on move (#62108)
  src/clzones.cpp
  src/map.cpp
Owners: none

Fix Nonrigid nested container can't store picked up items (#62073)
  src/character.h
  src/character_attire.cpp
Owners: none

Farm Mutable (#62037)
  data/json/mapgen/farm.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/orchard_apple.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/obsoletion/obsolete_mapgen.json
  data/json/obsoletion/overmap/overmap_terrain/overmap_terrain_obsoletion.json
  data/json/obsoletion/overmap_special/specials.json
  data/json/overmap/overmap_mutable/farm_mutable.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Owners: none

jsonize test data (#62024)
  data/mods/TEST_DATA/expected_dps_data/axes_dps.json
  data/mods/TEST_DATA/expected_dps_data/clubs_dps.json
  data/mods/TEST_DATA/expected_dps_data/fist_weapons_dps.json
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
  data/mods/TEST_DATA/expected_dps_data/polearms_dps.json
  data/mods/TEST_DATA/expected_dps_data/shortswords_dps.json
  data/mods/TEST_DATA/expected_dps_data/spears_dps.json
  data/mods/TEST_DATA/expected_dps_data/staves_dps.json
  data/mods/TEST_DATA/expected_dps_data/swords_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_axes_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_clubs_hammers_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_flails_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_swords_dps.json
  data/mods/TEST_DATA/known_bad_density.json
  data/mods/TEST_DATA/vehicle_drag_test.json
  src/init.cpp
  src/itype.cpp
  src/itype.h
  src/test_data.cpp
  src/test_data.h
  tests/effective_dps_test.cpp
  tests/item_test.cpp
  tests/vehicle_drag_test.cpp
Owners: none

More gun variants, part the second (#61893)
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/9mm.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/military.json
  data/json/items/gun/9mm.json
  data/json/items/gun/shot.json
  data/json/items/magazine/9mm.json
  data/json/items/magazine/shot.json
  data/json/items/migration.json
  data/mods/classic_zombies/items/blacklists.json
Owners: @I-am-Erk

Test Bandage pets
  src/monexamine.cpp
Owners: none

Check for bleed_rate > 0
  src/game.cpp
  src/mtype.cpp
Owners: none

Make blood_type explicit
  src/ballistics.cpp
Owners: none

Grammar corrections
  data/json/items/armor/cloaks.json
Owners: none

Create the polesaw.
  data/json/itemgroups/tools.json
  data/json/items/tool/woodworking.json
  data/json/recipes/tools/tool.json
Owners: none

Update data/json/recipes/tools/tool.json
  data/json/recipes/tools/tool.json
Owners: none

Update data/json/itemgroups/tools.json
  data/json/itemgroups/tools.json
Owners: none

Update data/json/itemgroups/tools.json
  data/json/itemgroups/tools.json
Owners: none

Update data/json/itemgroups/tools.json
  data/json/itemgroups/tools.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update data/json/items/tool/woodworking.json
  data/json/items/tool/woodworking.json
Owners: none

Update data/json/recipes/tools/tool.json
  data/json/recipes/tools/tool.json
Owners: none

.github/CODEOWNERS:

#Note that despite github calling these "owners", a better term would be "alerts"
#Everything in the cataclysm repository remains under a creative commons license, nobody owns the mods.
#In fact, the code "owners" designation is meant to encourage third party
#individuals to contribute to the mod, with the curators notified for reviews.

/data/mods/Aftershock/ @Maleclypse @John-Candlebury @Mom-Bun
/data/mods/DinoMod/ @ephemeralstoryteller @damien @LyleSY
/data/mods/Graphical_Overmap/ @Kilvoctu @Larwck
/data/mods/MMA/ @Hymore246
/data/mods/blazemod/ @SouP
/data/mods/classic_zombies/ @I-am-Erk
/data/mods/crt_expansion/ @Soupster89
/data/mods/desertpack/ @davidpwbrown
/data/mods/generic_guns/ @tenmillimaster
/data/mods/Magiclysm/ @KorGgenT
/data/mods/My_Sweet_Cataclysm/ @Fris0uman
/data/mods/ruralbiome/ @I-am-Erk
/data/mods/speedydex/ @KorGgenT
/data/mods/stats_through_kills/ @KorGgenT
/data/mods/Xedra_Evolved/ @Maleclypse
/data/mods/Dark-Skies-Above/ @ephemeralstoryteller
/data/mods/No_Hope/ @Night-Pryanik
/data/mods/innawood/ @Light-Wave
/data/mods/MA/ @ZhilkinSerg

magic*.cpp @KorGgenT
magic*.h @KorGgenT
/tools/ @int-ua
/lang/ @BrettDong
widget.cpp @wapcaplet @dseguin
widget.h @wapcaplet @dseguin
