Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Python], <Documentation>, Code: Tooling, Code: Tests, NPC / Factions, Bionics, Player Faction Base / Camp, Items: Ammo / Guns, SDL: Tiles / Sound, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Dinoclysm, Mods: Generic Guns, Mods: MMA, Mods: Magiclysm, Mods: No Hope

Loot the entire buildings
  data/json/mapgen/looted_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/mods/alt_map_key/overmap_terrain.json
  src/mission_companion.cpp
Labels: [C++], [JSON]

Split loot between scavengers and player
  src/mission_companion.cpp
Labels: [C++]

Fix torso_armor.json
  data/json/items/armor/torso_armor.json
Labels: [JSON]

Create nest_nodosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_nodosaurus.json
Labels: [JSON], Mods: Dinoclysm

Remove unused params
  src/character.h
  src/character_inventory.cpp
Labels: [C++]

Create nest_ankylosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_ankylosaurus.json
Labels: [JSON], Mods: Dinoclysm

Fix coats.json
  data/json/items/armor/coats.json
Labels: [JSON]

Create nest_dyoplosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_dyoplosaurus.json
Labels: [JSON], Mods: Dinoclysm

Create nest_stegosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_stegosaurus.json
Labels: [JSON], Mods: Dinoclysm

Create nest_scutellosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_scutellosaurus.json
Labels: [JSON], Mods: Dinoclysm

Update misc.json
  data/mods/TropiCataclysm/monstergroups/misc.json
Labels: [JSON]

Autolearn sausage_casings
  data/mods/innawood/recipes/recipe_food.json
Labels: [JSON]

Update tropical_mammal.json
  data/mods/TropiCataclysm/monsters/tropical_mammal.json
Labels: [JSON]

Update map_extras.json
  data/mods/DinoMod/overmap/map_extras.json
Labels: [JSON], Mods: Dinoclysm

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*

"Code: Tooling":
  - tools/**/*

"Code: Tests":
  - tests/**/*

"NPC / Factions":
  - data/json/npcs/**/*

"Bionics":
  - "data/json/bionics.json"

"Player Faction Base / Camp":
  - "src/basecamp.(cpp|h)"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - data/json/items/gun/**/*
  - data/json/items/ammo/**/*

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Translation":
  - lang/**/*

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Dinoclysm":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*
