Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

flexbuffers
  data/json/recipes/food/canned.json
Labels: [JSON]

Update nuts.json
  data/json/items/comestibles/nuts.json
Labels: [JSON]

Update nuts.json
  data/json/items/comestibles/nuts.json
Labels: [JSON]

modularize armor
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/suit.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, Info / User Interface, Items: Armor / Clothing

gg migration
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: [JSON], Mods: Generic Guns

spelling plural fix
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
Labels: [JSON], Items: Armor / Clothing

name change
  data/json/items/armor/torso_armor.json
Labels: [JSON], Items: Armor / Clothing

lint
  data/json/itemgroups/Clothing_Gear/clothing.json
Labels: [JSON]

flexbuffers fixes
  data/json/recipes/food/canned.json
Labels: [JSON]

lint
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
Labels: [JSON], Info / User Interface, Items: Armor / Clothing

Add 1 tile radius to store ebook to device
  src/game_inventory.cpp
  src/game_inventory.h
  src/iuse.cpp
Labels: [C++]

Update data/mods/Xedra_Evolved/player/renfield_cbms.json
  data/mods/Xedra_Evolved/player/renfield_cbms.json
Labels: [JSON], Mods: Xedra Evolved

Update canned.json
  data/json/recipes/food/canned.json
Labels: [JSON]

space
  data/json/items/armor/torso_armor.json
Labels: [JSON], Items: Armor / Clothing

Update cooking_tools.json
  data/json/requirements/cooking_tools.json
Labels: [JSON]

desc
  data/json/items/armor/suits_protection.json
Labels: [JSON], Info / User Interface

coverage fixes
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
Labels: [JSON], Info / User Interface, Items: Armor / Clothing

descrption
  data/json/items/armor/suits_protection.json
Labels: [JSON], Info / User Interface

For a bit cleaner implementation, moved radius to be a default value parameter
  src/game_inventory.cpp
  src/game_inventory.h
  src/iuse.cpp
Labels: [C++]

coverage fixes
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Labels: [JSON], Info / User Interface, Items: Armor / Clothing

microwave appliance
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

app_microwave
  data/json/construction.json
Labels: [JSON], Crafting / Construction / Recipes

microwave
  data/json/construction_group.json
Labels: [JSON], Crafting / Construction / Recipes

app_microwave
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

pseudo_microwave_abstract
  data/json/items/fake.json
Labels: [JSON]

add oven quality to microwave
  data/json/items/tool/cooking.json
Labels: [JSON]

adjusts
  data/json/items/tool/cooking.json
Labels: [JSON]

charcoal
  data/json/items/tool/cooking.json
Labels: [JSON]

Update data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

Update ammo.json
  data/json/items/ammo.json
Labels: [JSON], Items: Ammo / Guns

coal/charcoal
  data/json/items/ammo.json
Labels: [JSON], Items: Ammo / Guns

block while worn
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
Labels: [JSON], Info / User Interface, Items: Armor / Clothing

lint
  data/json/items/armor/suits_protection.json
Labels: [JSON], Info / User Interface

updated protection values, added more padded plastic
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Labels: [JSON], Info / User Interface, Items: Armor / Clothing

price
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Labels: [JSON], Info / User Interface, Items: Armor / Clothing

fix densities and fuel_data for coal/charcoal
  data/json/materials.json
Labels: [JSON]

Add everything and lint it
  data/json/items/book/misc_scifi.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/mapgen_palettes/church_retreat.json
  data/json/npcs/factions.json
  data/json/npcs/godco/NPC_Arturo_Maldonado.json
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Chloe_Taylor_King.json
  data/json/npcs/godco/NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/NPC_Father_Greenwood.json
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Helena_Misinter.json
  data/json/npcs/godco/NPC_Jane_Schulz.json
  data/json/npcs/godco/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/NPC_Julian_Ray.json
  data/json/npcs/godco/NPC_Katherine_Weaver.json
  data/json/npcs/godco/NPC_Kostas_Walsman.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/NPC_Olwen_Powell.json
  data/json/npcs/godco/NPC_Russell_Connelly.json
  data/json/npcs/godco/NPC_Sonia_Greene.json
  data/json/npcs/godco/NPC_Tom_Powell.json
  data/json/npcs/godco/NPC_Zachary_Montes.json
  data/json/npcs/godco/classes.json
  data/json/npcs/godco/cook.json
  data/json/npcs/godco/foodguard.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/npcs.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/player_activities.json
  data/json/snippets/epilogue_factions.json
  data/json/vehicles/utility.json
Labels: [JSON], EOC: Effects On Condition, Items: Food / Vitamins, NPC / Factions, Missions, Map / Mapgen

ci: automatic code style reviews take 2
  .github/workflows/json.yml
  .github/workflows/linter.yml
Labels: Code: Tooling

More linting
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/npcs/godco/foodguard.json
Labels: [JSON], EOC: Effects On Condition, Items: Food / Vitamins, Map / Mapgen

More linting
  data/json/mapgen_palettes/church_retreat.json
Labels: [JSON]

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/**scores**"
  - "**/**statistics**"
  - "**/**achievements**"
  - "**/**conducts**"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - "doc/**"
  - "doxygen_doc/**"

"Code: Tooling":
  - ".github/**"
  - "utilities/**"
  - any: ['tools/**', '!tools/spell_checker/dictionary.txt']

"Code: Tests":
  - "tests/**"
  - "data/mods/TEST_DATA/**"

"Character / World Generation":
  - "**/**newcharacter**"
  - "**/**worldfactory**"

"Code: Build":
  - "build-data/**"
  - "build-scripts/**"
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/**recipes**"
  - "**/**construction**"

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/**eocs**"

"Fields / Furniture / Terrain / Traps":
  - "**/**furniture**"

"Items: Food / Vitamins":
  - "**/**food**"
  - "**/**comestible**"

"NPC / Factions":
  - "**/**npc**"
  - "**/**NPC**"

"Melee":
  - "**/**melee**"
  - "**/**techniques**"

"Missions":
  - "**/**mission**"

"Info / User Interface":
  - "**/**ui**"
  - "**/**widget**"
  - "**/**view**"

"Items: Archery":
  - "**/**archery**"
  - "**/**crossbows**"

"Items: Armor / Clothing":
  - "**/**armor**"

"Items: Battery / UPS":
  - "**/**battery**"

"Items: Containers":
  - "**/**containers**"
  - "**/**storage**"
  - "**/**sheath**"
  - "**/**holster**"
  - "**/**ammo_pouch**"
  - "**/**bandolier**"
  - "**/**pocket**"
  - "**/**contents**"

"Items: Magazines":
  - "**/**magazine**"

"Appliance/Power Grid":
  - "**/**appliance**"

"Monsters":
  - "**/**monsters**"

"Mutations / Traits / Professions/ Hobbies":
  - "**/**profession**"
  - "**/**mutations**"
  - "**/**hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/**Backgrounds**"
  - "**/**snippets**"

"Limbs":
  - "**/**bodypart**"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/**itemgroups**"
  - "**/**monstergroups**"

"Bionics":
  - "**/**bionics**"

"Map / Mapgen":
  - "**/**mapgen**"
  - "**/**overmap**"

"Martial Arts":
  - "**/**martialarts**"

"Player Faction Base / Camp":
  - "**/**basecamp**"
  - "**/faction_camp**"

"Items: Ammo / Guns":
  - "**/**gun**"
  - "**/**ammo**"

"Items: Gunmod / Toolmod":
  - "**/**gunmod**"
  - "**/**toolmod**"

"SDL: Tiles / Sound":
  - "gfx/**"
  - "sound/**"

"Scenarios":
  - "**/**scenario**"
  - "**/**start_location**"

"Translation":
  - "lang/**"
  - "**/**translation**"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**' ]
    all: [ '!data/mods/TEST_DATA/**' ]

"Mechanics: Enchantments / Spells":
  - "**/**enchantments**"
  - "**/**spells**"

"Mechanics: Weather":
  - "**/**weather**"

"Vehicles":
  - "**/**vehicle**"
