Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

Bugfixes
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/NPC_Kostas_Walsman.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/NPC_Olwen_Powell.json
  data/json/npcs/godco/NPC_Zachary_Montes.json
  data/json/npcs/godco/foodguard.json
  data/json/npcs/godco/godco_missions.json
Labels: [JSON], Items: Food / Vitamins, NPC / Factions, Missions

Bugfixes 2
  data/json/npcs/godco/NPC_Arturo_Maldonado.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: [JSON], NPC / Factions, Map / Mapgen

Bounty Hunter Scenario
  data/mods/Aftershock/items/ammo/needle.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/items/gun/needle.json
  data/mods/Aftershock/items/magazine/needle.json
  data/mods/Aftershock/maps/overmap_locations.json
  data/mods/Aftershock/mobs/abstract_monsters.json
  data/mods/Aftershock/mobs/monster_groups/robot_monster_groups.json
  data/mods/Aftershock/mobs/scavbots.json
  data/mods/Aftershock/scenarios.json
Labels: [JSON], Monsters, Map / Mapgen, Items: Ammo / Guns, Scenarios, Mods: Aftershock

add alumentum to known_bad_density
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests

more stuff
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_extras.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
  data/mods/Aftershock/maps/overmap_map_extras.json
  data/mods/Aftershock/scenarios.json
Labels: [JSON], Map / Mapgen, Scenarios, Mods: Aftershock

Update scenarios.json
  data/mods/Aftershock/scenarios.json
Labels: [JSON], Scenarios, Mods: Aftershock

Add species as a possible spell target
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_extras.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
  src/magic.cpp
  src/magic.h
Labels: [C++], [JSON], Mods: Aftershock

First start plus new spell targeting c++
  data/mods/Aftershock/items/ammo/needle.json
  data/mods/Aftershock/items/gun/needle.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
  data/mods/Aftershock/spells.json
  src/magic.cpp
Labels: [C++], [JSON], Mods: Aftershock, Mechanics: Enchantments / Spells

Apply suggestions from code review
  data/mods/Aftershock/items/ammo/needle.json
  data/mods/Aftershock/items/gun/needle.json
  data/mods/Aftershock/scenarios.json
Labels: [JSON], Scenarios, Mods: Aftershock

Update magic.h
  src/magic.h
Labels: [C++]

Update magic.cpp
  src/magic.cpp
Labels: [C++]

Apply suggestions from code review
  data/mods/Aftershock/spells.json
Labels: [JSON], Mods: Aftershock, Mechanics: Enchantments / Spells

Update overmap_map_extras.json
  data/mods/Aftershock/maps/overmap_map_extras.json
Labels: [JSON], Map / Mapgen, Mods: Aftershock

Update nuts.json
  data/json/items/comestibles/nuts.json
Labels: [JSON]

Fixes
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
Labels: [JSON], Mods: Aftershock

Update nuts.json
  data/json/items/comestibles/nuts.json
Labels: [JSON]

apply astyle
  src/game_inventory.h
  src/iuse.cpp
Labels: [C++]

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/**scores**"
  - "**/**statistics**"
  - "**/**achievements**"
  - "**/**conducts**"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - "doc/**"
  - "doxygen_doc/**"

"Code: Tooling":
  - ".github/**"
  - "utilities/**"
  - any: ['tools/**', '!tools/spell_checker/dictionary.txt']

"Code: Tests":
  - "tests/**"
  - "data/mods/TEST_DATA/**"

"Character / World Generation":
  - "**/**newcharacter**"
  - "**/**worldfactory**"

"Code: Build":
  - "build-data/**"
  - "build-scripts/**"
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/**recipes**"
  - "**/**construction**"

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/**eocs**"

"Fields / Furniture / Terrain / Traps":
  - "**/**furniture**"

"Items: Food / Vitamins":
  - "**/**food**"
  - "**/**comestible**"

"NPC / Factions":
  - "**/**npc**"
  - "**/**NPC**"

"Melee":
  - "**/**melee**"
  - "**/**techniques**"

"Missions":
  - "**/**mission**"

"Info / User Interface":
  - "**/**ui**"
  - "**/**widget**"
  - "**/**view**"

"Items: Archery":
  - "**/**archery**"
  - "**/**crossbows**"

"Items: Armor / Clothing":
  - "**/**armor**"

"Items: Battery / UPS":
  - "**/**battery**"

"Items: Containers":
  - "**/**containers**"
  - "**/**storage**"
  - "**/**sheath**"
  - "**/**holster**"
  - "**/**ammo_pouch**"
  - "**/**bandolier**"
  - "**/**pocket**"
  - "**/**contents**"

"Items: Magazines":
  - "**/**magazine**"

"Appliance/Power Grid":
  - "**/**appliance**"

"Monsters":
  - "**/**monsters**"

"Mutations / Traits / Professions/ Hobbies":
  - "**/**profession**"
  - "**/**mutations**"
  - "**/**hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/**Backgrounds**"
  - "**/**snippets**"

"Limbs":
  - "**/**bodypart**"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/**itemgroups**"
  - "**/**monstergroups**"

"Bionics":
  - "**/**bionics**"

"Map / Mapgen":
  - "**/**mapgen**"
  - "**/**overmap**"

"Martial Arts":
  - "**/**martialarts**"

"Player Faction Base / Camp":
  - "**/**basecamp**"
  - "**/faction_camp**"

"Items: Ammo / Guns":
  - "**/**gun**"
  - "**/**ammo**"

"Items: Gunmod / Toolmod":
  - "**/**gunmod**"
  - "**/**toolmod**"

"SDL: Tiles / Sound":
  - "gfx/**"
  - "sound/**"

"Scenarios":
  - "**/**scenario**"
  - "**/**start_location**"

"Translation":
  - "lang/**"
  - "**/**translation**"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**' ]
    all: [ '!data/mods/TEST_DATA/**' ]

"Mechanics: Enchantments / Spells":
  - "**/**enchantments**"
  - "**/**spells**"

"Mechanics: Weather":
  - "**/**weather**"

"Vehicles":
  - "**/**vehicle**"
