Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Python], <Documentation>, Code: Tooling, Code: Tests, Code: Build, NPC / Factions, Monsters, Spawn, Bionics, Player Faction Base / Camp, Items: Ammo / Guns, SDL: Tiles / Sound, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Dinoclysm, Mods: Generic Guns, Mods: MMA, Mods: Magiclysm, Mods: No Hope

Update data/mods/My_Sweet_Cataclysm/sweet_comestibles.json
  data/mods/My_Sweet_Cataclysm/sweet_comestibles.json
Labels: [JSON]

Update sweet_harvest.json
  data/mods/My_Sweet_Cataclysm/sweet_harvest.json
Labels: [JSON]

Update sweet_monsters.json
  data/mods/My_Sweet_Cataclysm/sweet_monsters.json
Labels: [JSON]

Update sweet_monster_groups.json
  data/mods/My_Sweet_Cataclysm/sweet_monster_groups.json
Labels: [JSON]

Add dirt floor overhead light variant.
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: [JSON]

Update veh_type.cpp
  src/veh_type.cpp
Labels: [C++]

add candy pumpkin
  data/json/items/comestibles/junkfood.json
Labels: [JSON]

Update junkfood.json
  data/json/items/comestibles/junkfood.json
Labels: [JSON]

Extract variant translations for all items
  lang/string_extractor/parsers/generic.py
  lang/string_extractor/parsers/gunmod.py
Labels: [Python], Translation

update anger triggers
  data/json/monsters/kraken_spawn.json
Labels: [JSON], Monsters

Allow using lactose-free milk in recipes
  data/json/recipes/food/bread.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/frozen.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: [JSON]

Update
  data/json/recipes/tools/containers.json
Labels: [JSON]

Garbage bag poncho/deconstruct
  data/json/items/armor/cloaks.json
  data/json/items/containers.json
  data/json/recipes/armor/torso.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON]

XL holster spelling
  data/json/items/armor/holster.json
Labels: [JSON]

Consistent Elf-A spelling
  data/json/effects.json
  data/json/items/comestibles/mutagen.json
  data/mods/Aftershock/npcs/Backgrounds/npc_classes_mutant.json
  data/mods/No_Hope/NPC/npc_classes_mutant.json
Labels: [JSON], Mods: Aftershock, Mods: No Hope

Fix style
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/recipe_food.json
Labels: [JSON]

Adds hood to improvised poncho
  data/json/items/armor/cloaks.json
Labels: [JSON]

Adjust item spawns. Cleanup junk shop mapgens
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
  data/json/npcs/tacoma_ranch/NPC_ranch_scavenger.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
Labels: [JSON], NPC / Factions

Prevent container item appearing twice in AIM (#56335)
  src/advanced_inv.cpp
Labels: [C++]

Balance Impact Knuckles (#56338)
  data/json/items/melee/unarmed_weapons.json
Labels: [JSON]

plantain → cooking banana (#56346)
  data/json/items/comestibles/veggy_dishes.json
Labels: [JSON]

first kick at a per layer portion input
  data/json/items/armor/hoods.json
  src/character_attire.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
Labels: [C++], [JSON]

add butcher spawn
  data/json/mapgen/butcher.json
Labels: [JSON]

fix components
  data/mods/DinoMod/cooking_components.json
Labels: [JSON], Mods: Dinoclysm

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"NPC / Factions":
  - data/json/npcs/**/*

"Monsters":
  - data/json/monsters/**/*

"Spawn":
  - data/json/itemgroups/**/*
  - data/json/monstergroups/**/*

"Bionics":
  - "data/json/bionics.json"

"Player Faction Base / Camp":
  - "src/basecamp.(cpp|h)"
  - "src/faction_camp.(cpp|h)"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - data/json/items/gun/**/*
  - data/json/items/ammo/**/*

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Translation":
  - lang/**/*

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Dinoclysm":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*
