Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

Update appliances.json
  data/json/items/appliances.json
Labels: [JSON], Appliance/Power Grid

lint
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes

ASRG deconstructs
  data/json/furniture_and_terrain/furniture-industrial.json
Labels: [JSON], Fields / Furniture / Terrain / Traps

Styled with way more stuff, rewards still not working
  data/mods/challenger/data/eocs.json
  data/mods/challenger/data/factions.json
  data/mods/challenger/data/furniture.json
  data/mods/challenger/data/items.json
  data/mods/challenger/data/loot_groups.json
  data/mods/challenger/data/maps.json
  data/mods/challenger/data/missions.json
  data/mods/challenger/data/npcs/exit.json
  data/mods/challenger/data/npcs/gaoler.json
  data/mods/challenger/data/npcs/neophyte.json
  data/mods/challenger/data/overmap.json
  data/mods/challenger/data/palettes.json
  data/mods/challenger/data/snippets.json
  data/mods/challenger/data/starts/professions.json
  data/mods/challenger/regional_map_settings.json
Labels: [JSON], EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, NPC / Factions, Missions, Mutations / Traits / Professions/ Hobbies, Map / Mapgen

Make cows more aggressive + anger/fear triggers (#59453)
  data/json/monsters/mammal.json
Labels: [JSON], Monsters

Enable performance-trivially-destructible check (#59443)
  .clang-tidy
  src/map.cpp
  src/pathfinding.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis

ASRG appliances
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

spelling
  data/mods/challenger/data/furniture.json
  data/mods/challenger/data/npcs/gaoler.json
  data/mods/challenger/data/palettes.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, NPC / Factions

refactor reloading code (#58625)
  src/activity_actor.cpp
  src/character.h
  src/character_ammo.cpp
  src/game.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/item_location.cpp
  src/item_location.h
  src/iuse_actor.cpp
  src/npc.h
  src/npc_attack.cpp
  src/npcmove.cpp
  src/vehicle_use.cpp
  tests/reload_magazine_test.cpp
  tests/reload_option_test.cpp
  tests/reload_time_test.cpp
Labels: [C++], Code: Tests, Vehicles

added bare bones basecamp
  data/json/mapgen/basecamps/base/bare_bones_basecamp/bare_bones_basecamp.json
  data/json/recipes/basecamps/base/recipe_bare_bones_basecamp/bare_bones_basecamp_recipe_groups.json
  data/json/recipes/basecamps/base/recipe_bare_bones_basecamp/recipe_bare_bones_basecamp.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_2/recipe_modular_field_common.json
  data/json/recipes/basecamps/recipe_groups.json
  src/recipe_groups.cpp
Labels: [C++], [JSON], Crafting / Construction / Recipes, Map / Mapgen, Player Faction Base / Camp

asrg constructions
  data/json/construction.json
Labels: [JSON], Crafting / Construction / Recipes

asrgs
  data/json/construction_group.json
Labels: [JSON], Crafting / Construction / Recipes

astyle
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

astyle
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

appliance convert
  data/json/furniture_and_terrain/furniture-industrial.json
Labels: [JSON], Fields / Furniture / Terrain / Traps

commas
  data/json/items/appliances.json
Labels: [JSON], Appliance/Power Grid

comma
  data/json/items/appliances.json
Labels: [JSON], Appliance/Power Grid

str_sp
  data/json/items/appliances.json
Labels: [JSON], Appliance/Power Grid

Fix
  data/json/monster_special_attacks/monster_attacks.json
  data/mods/Combat_Test/mod.json
Labels: [JSON]

Fix mods
  data/mods/Aftershock/monster_attacks.json
  data/mods/Dark-Skies-Above/monattack.json
  data/mods/DinoMod/monster_attacks.json
  data/mods/Magiclysm/monster_attacks.json
  data/mods/Xedra_Evolved/monsters/monsterattacks.json
Labels: [JSON], Monsters, Mods: Aftershock, Mods: Dark Skies, Mods: DinoMod, Mods: Magiclysm, Mods: Xedra Evolved

Splitting Webbed Hands into Webbed Hands and Webbed Feet
  data/json/mutations/mutations.json
  data/mods/Magiclysm/mutations/mutations.json
  src/character.cpp
Labels: [C++], [JSON], Mods: Magiclysm

fix
  data/json/items/appliances.json
Labels: [JSON], Appliance/Power Grid

reduce lead quantity
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes

[XE] Couple of Xedra Evolved adjustments and fixes (#59435)
  data/mods/Xedra_Evolved/monsters/monstergroup.json
  data/mods/Xedra_Evolved/mutations/classes.json
  data/mods/Xedra_Evolved/player/professions.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
Labels: [JSON], Monsters, Mutations / Traits / Professions/ Hobbies, Mods: Xedra Evolved

fix spelling
  data/json/recipes/basecamps/base/recipe_bare_bones_basecamp/recipe_bare_bones_basecamp.json
Labels: [JSON], Crafting / Construction / Recipes

final coverage adjust
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

enable W_DYNAMIC_HEIGHT for row-order layout widgets
  src/widget.cpp
Labels: [C++]

Delete mod.json
  data/mods/Combat_Test/mod.json
Labels: [JSON]

Fix json style
  data/mods/Magiclysm/mutations/mutations.json
Labels: [JSON], Mods: Magiclysm

fix
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

Update appliances.json
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

connect to grid
  data/json/furniture_and_terrain/furniture-industrial.json
Labels: [JSON], Fields / Furniture / Terrain / Traps

typo
  data/json/monsters/mutant.json
Labels: [JSON], Monsters

capitalize
  data/json/construction.json
Labels: [JSON], Crafting / Construction / Recipes

lead
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes

weight/volume
  data/json/items/appliances.json
Labels: [JSON], Appliance/Power Grid

Compacter -> More compact
  src/light.h
Labels: [C++]

Enable readability-redundant-access-specifiers
  .clang-tidy
  src/ammo_effect.h
  src/auto_note.h
  src/calendar.h
  src/cata_tiles.h
  src/character.h
  src/creature.h
  src/enum_bitset.h
  src/game.h
  src/generic_factory.h
  src/map.h
  src/mapdata.h
  src/monster.h
  src/omdata.h
  src/overmap_connection.h
  src/pixel_minimap.h
  src/recipe.h
  src/ret_val.h
  src/sdl_font.h
  src/trap.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, Map / Mapgen

Quick and (very) dirty fix for the breach power test
  data/json/mutations/mutations.json
Labels: [JSON]

Change weighting of swimming bonus from 70:30 to 50:50
  src/character.cpp
Labels: [C++]

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/scores**"
  - "**/statistics**"
  - "**/achievements**"
  - "**/conducts**"
  - "**/event_statistics.*"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*
  - data/mods/TEST_DATA/**/*

"Character / World Generation":
  - src/newcharacter.cpp
  - "**/worldfactory.*"

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/recipes/**/*"
  - data/json/construction.json
  - data/json/construction_category.json
  - data/json/construction_group.json
  - data/json/deconstruction.json

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/**eocs**"

"Fields / Furniture / Terrain / Traps":
  - "**/furniture**"

"Items: Food / Vitamins":
  - "**/food**"
  - "**/comestibles**"

"NPC / Factions":
  - "**/**npc**/**/*"

"Melee":
  - "**/melee**"
  - "**/**techniques**"

"Missions":
  - "**/**mission**"

"Info / User Interface":
  - "**/ui/**/*"
  - "src/**ui**"
  - "**/widget/**/*"
  - "src/list_view.*"
  - "src/surroundings_menu.*"

"Items: Archery":
  - "**/**archery**"
  - "**/**crossbows**"

"Items: Armor / Clothing":
  - "**/armor/**/*"

"Items: Battery / UPS":
  - "**/battery**"

"Items: Containers":
  - "**/**containers**"
  - "**/**storage**"
  - "**/**sheath**"
  - "**/**holster**"
  - "**/**ammo_pouch**"
  - "**/**bandolier**"
  - "src/item_pocket.*"
  - "src/item_contents.*"
  - "tests/item_pocket_test.*"

"Items: Magazines":
  - "**/magazine/**/*"

"Appliance/Power Grid":
  - "**/appliance**"

"Monsters":
  - "**/monsters/**/*"

"Mutations / Traits / Professions/ Hobbies":
  - "**/professions.json"
  - "**mutations**"
  - "**hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/Backgrounds/**/*"
  - "**/snippets/**/*"

"Limbs":
  - "src/bodypart.*"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/itemgroups/**/*"
  - "**/monstergroups/**/*"

"Bionics":
  - "**/bionics.*"

"Map / Mapgen":
  - "**/mapgen/**/*"
  - "**/mapgen_palettes/**/*"
  - "**/overmap/**/*"
  - "**/overmap**"

"Martial Arts":
  - "**/martialarts**"

"Player Faction Base / Camp":
  - "src/basecamp.*"
  - "src/faction_camp.*"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - "**/gun/**/*"
  - "**/ammo/**/*"

"Items: Gunmod / Toolmod":
  - "**/gunmod**"
  - "**/toolmod**"

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Scenarios":
  - "**/scenario**"
  - "**/**start_location**"

"Translation":
  - lang/**/*
  - "src/translation.*"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**/*' ]
    all: [ '!data/mods/TEST_DATA/**/*' ]

"Mechanics: Enchantments / Spells":
  - "**/enchantments**"
  - "**/spells**"

"Mechanics: Weather":
  - "**/weather**"

"Vehicles":
  - "**/vehicle**"
