Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Python], <Documentation>, Code: Tooling, Code: Tests, Code: Build, Crafting / Construction / Recipes, NPC / Factions, Appliance/Power Grid, Monsters, Spawn, Bionics, Map / Mapgen, Player Faction Base / Camp, Items: Ammo / Guns, SDL: Tiles / Sound, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: DinoMod, Mods: Generic Guns, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods

Remove object version of blueprint_update_oter for simplicity
  data/json/recipes/basecamps/expansion/recipe_modular_farm/version_2/recipe_modular_farm_common.json
  src/recipe.cpp
Labels: [C++], [JSON], Crafting / Construction / Recipes

multistory stadium overmaps
  data/json/overmap/multitile_city_buildings.json
Labels: [JSON], Map / Mapgen

alter stadium mapgen
  data/json/mapgen/stadium_football.json
Labels: [JSON], Map / Mapgen

Rename stadium_football.json to stadium_baseball.json
  data/json/mapgen/stadium_baseball.json
Labels: [JSON], Map / Mapgen

create stadium_palette.json
  data/json/mapgen_palettes/stadium_palette.json
Labels: [JSON], Map / Mapgen

new stadium overmap terrains
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Labels: [JSON], Map / Mapgen

Update nest_ankylosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_ankylosaurus.json
Labels: [JSON], Map / Mapgen, Mods: DinoMod, Mods

Delete stadium_palette.json
  data/json/mapgen_palettes/stadium_palette.json
Labels: [JSON], Map / Mapgen

stadium_palette - EOL fix
  data/json/mapgen_palettes/stadium_palette.json
Labels: [JSON], Map / Mapgen

ci: don't upload pr ids in styling workflows
  .github/workflows/astyle.yml
  .github/workflows/json.yml
Labels: Code: Tooling

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Crafting / Construction / Recipes":
  - "**/recipes/**/*"
  - data/json/construction.json
  - data/json/construction_category.json
  - data/json/construction_group.json
  - data/json/deconstruction.json

"NPC / Factions":
  - "**/npcs/**/*"

"Appliance/Power Grid":
  - "**/appliance**"

"Monsters":
  - "**/monsters/**/*"

"Spawn":
  - "**/itemgroups/**/*"
  - "**/monstergroups/**/*"

"Bionics":
  - "**/bionics.*"

"Map / Mapgen":
  - "**/mapgen/**/*"
  - "**/mapgen_palettes/**/*"
  - "**/overmap/**/*"

"Player Faction Base / Camp":
  - "src/basecamp.*"
  - "src/faction_camp.*"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - "**/gun/**/*"
  - "**/ammo/**/*"

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Translation":
  - lang/**/*

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods":
  - data/mods/**/*
