Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Python], <Documentation>, Code: Tooling, Code: Tests, Code: Build, Crafting / Construction / Recipes, NPC / Factions, Info / User Interface, Appliance/Power Grid, Monsters, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Player Faction Base / Camp, Items: Ammo / Guns, SDL: Tiles / Sound, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods

update mandeep
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Mandeep_Singh.json
Labels: [JSON], NPC / Factions

Update tropical_regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
Labels: [JSON], Mods

Update tropical_regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
Labels: [JSON], Mods

Revert back to using if-else for draw_can_craft_indicator
  src/crafting_gui.cpp
Labels: [C++]

Update NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
Labels: [JSON], NPC / Factions

Update NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
Labels: [JSON], NPC / Factions

Astyle
  src/iuse_actor.cpp
Labels: [C++]

conditional dialogue touchups for vanessa
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
Labels: [JSON], NPC / Factions

contextual reactions for stan
  data/json/npcs/refugee_center/surface_refugees/NPC_Stan_Borichenko.json
Labels: [JSON], NPC / Factions

Update NPC_Stan_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Stan_Borichenko.json
Labels: [JSON], NPC / Factions

Rhyzaea and Uyen update
  data/json/npcs/refugee_center/surface_refugees/NPC_Rhyzaea_Johnny.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
Labels: [JSON], NPC / Factions

mandeep touchups
  data/json/npcs/refugee_center/surface_refugees/NPC_Mandeep_Singh.json
Labels: [JSON], NPC / Factions

pablo and mangalpreet
  data/json/npcs/refugee_center/surface_refugees/NPC_Mangalpreet_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Pablo_Nunez.json
Labels: [JSON], NPC / Factions

overmap: don't place dummy cities
  src/overmap.cpp
Labels: [C++]

Add more overmap generation options
  data/core/game_balance.json
  data/mods/MA/game_balance.json
  src/overmap.cpp
Labels: [C++], [JSON], Mods: MA, Mods

Fix empty city generation
  src/overmap.cpp
Labels: [C++]

Fix city ids in MA mod
  data/mods/MA/MA_overmap_cities.xlsx
  data/mods/MA/cities.json
Labels: [JSON], Mods: MA, Mods

Enable outside connections from neighbors in MA mod
  data/mods/MA/game_balance.json
Labels: [JSON], Mods: MA, Mods

Dialogue skill check infrastructure
  doc/NPCs.md
  src/dialogue.h
  src/npctalk.cpp
Labels: [C++], <Documentation>

Update data/json/items/armor/torso_clothes.json
  data/json/items/armor/torso_clothes.json
Labels: [JSON]

Added 2 else if's in npctalk.cpp to check for blindness, and if blind, show text on blindness rather than statistics.
  src/npctalk.cpp
Labels: [C++]

adds storage boxes and recipes
  data/json/items/containers.json
  data/json/recipes/tools/containers.json
Labels: [JSON], Crafting / Construction / Recipes

adds proficiencies, byproducts, deconstruction
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/containers.json
Labels: [JSON], Crafting / Construction / Recipes

Fix category
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Crafting / Construction / Recipes":
  - "**/recipes/**/*"
  - data/json/construction.json
  - data/json/construction_category.json
  - data/json/construction_group.json
  - data/json/deconstruction.json

"NPC / Factions":
  - "**/npcs/**/*"

"Info / User Interface":
  - "**/ui/**/*"
  - "**/widget/**/*"
  - "src/list_view.*"
  - "src/surroundings_menu.*"

"Appliance/Power Grid":
  - "**/appliance**"

"Monsters":
  - "**/monsters/**/*"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/Backgrounds/**/*"
  - "**/snippets/**/*"

"Limbs":
  - "src/bodypart.*"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/itemgroups/**/*"
  - "**/monstergroups/**/*"

"Bionics":
  - "**/bionics.*"

"Map / Mapgen":
  - "**/mapgen/**/*"
  - "**/mapgen_palettes/**/*"
  - "**/overmap/**/*"

"Player Faction Base / Camp":
  - "src/basecamp.*"
  - "src/faction_camp.*"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - "**/gun/**/*"
  - "**/ammo/**/*"

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Translation":
  - lang/**/*
  - "src/translation.*"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods":
  - data/mods/**/*
