Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Add files via upload
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Plumb target_ui& into hit chance printing functions
  src/ranged.cpp
Labels: [C++]

Remove pre-simulation and debug line
  src/ranged.cpp
Labels: [C++]

Display current aiming mode on [f]
  src/ranged.cpp
Labels: [C++]

Hide immediate mode from iteminfo so tests pass
  src/item.cpp
Labels: [C++]

Update tools_hand.json
  data/mods/innawood/recipes/tools_hand.json
Labels: [JSON], Crafting / Construction / Recipes, Mods: Innawood ðŸŒ²

Added trait
  data/json/mutations/mutations.json
Labels: [JSON]

Forbid using the overmap with this trait
  src/overmap_ui.cpp
Labels: [C++], Info / User Interface, Map / Mapgen

Forbid using maps with this trait
  src/iuse_actor.cpp
Labels: [C++]

Don't show 'Map' hint when using zones manager with this trait
  src/game.cpp
Labels: [C++]

Update survivor.json
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Lint
  data/json/mutations/mutations.json
Labels: [JSON]

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Delete custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Add files via upload
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Added Snail, Rabbit, and Frog mutations to the list of possible mutations for NPC
  data/mods/No_Hope/NPC/npc_classes_mutant.json
  data/mods/No_Hope/NPC/trait_groups.json
Labels: [JSON], Mods: No Hope

Fixed erroneous item placement on terrain/furniture
  data/mods/No_Hope/Mapgen/nested/basement_nested.json
Labels: [JSON], Mods: No Hope

Add files via upload
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Update survivor.json
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

typo fix
  data/json/snippets/health_msgs.json
Labels: [JSON], Lore

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Update survivor.json
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Update survivor.json
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Update data/json/mutations/mutations.json
  data/json/mutations/mutations.json
Labels: [JSON]

replace std::bind with lambda in android code
  src/game.cpp
Labels: [C++]

replace std::bind with lambda in android code (#59415)
  src/game.cpp
Labels: [C++]

typo fix (#59412)
  data/json/snippets/health_msgs.json
Labels: [JSON], Lore

Update tools_hand.json (#59409)
  data/mods/innawood/recipes/tools_hand.json
Labels: [JSON], Crafting / Construction / Recipes, Mods: Innawood ðŸŒ²

Update data/json/items/gunmod/underbarrel.json
  data/json/items/gunmod/underbarrel.json
Labels: [JSON]

spelling fixes
  data/json/items/gunmod/underbarrel.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Code: Tooling

Avoid int overflow from multiplying minutes
  src/character.cpp
Labels: [C++]

spellcheck
  data/mods/DinoMod/monsters/dinosaur.json
Labels: [JSON], Monsters, Mods: DinoMod

no null group
  data/mods/innawood/itemgroups/guns.json
Labels: [JSON], Spawn, Mods: Innawood ðŸŒ²

Add IPOK description
  data/json/items/containers.json
Labels: [JSON], Items: Containers

Revert "More infrastructure"
  src/event.h
Labels: [C++]

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/scores**"
  - "**/statistics**"
  - "**/achievements**"
  - "**/conducts**"
  - "**/event_statistics.*"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*
  - data/mods/TEST_DATA/**/*

"Character / World Generation":
  - src/newcharacter.cpp
  - "**/worldfactory.*"

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/recipes/**/*"
  - data/json/construction.json
  - data/json/construction_category.json
  - data/json/construction_group.json
  - data/json/deconstruction.json

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/**eocs**"

"Fields / Furniture / Terrain / Traps":
  - "**/furniture**"

"Items: Food / Vitamins":
  - "**/food**"
  - "**/comestibles**"

"NPC / Factions":
  - "**/**npc**/**/*"

"Melee":
  - "**/melee**"
  - "**/**techniques**"

"Missions":
  - "**/**mission**"

"Info / User Interface":
  - "**/ui/**/*"
  - "src/**ui**"
  - "**/widget/**/*"
  - "src/list_view.*"
  - "src/surroundings_menu.*"

"Items: Archery":
  - "**/**archery**"
  - "**/**crossbows**"

"Items: Armor / Clothing":
  - "**/armor/**/*"

"Items: Battery / UPS":
  - "**/battery**"

"Items: Containers":
  - "**/**containers**"
  - "**/**storage**"
  - "**/**sheath**"
  - "**/**holster**"
  - "**/**ammo_pouch**"
  - "**/**bandolier**"
  - "src/item_pocket.*"
  - "src/item_contents.*"
  - "tests/item_pocket_test.*"

"Items: Magazines":
  - "**/magazine/**/*"

"Appliance/Power Grid":
  - "**/appliance**"

"Monsters":
  - "**/monsters/**/*"

"Mutations / Traits / Professions/ Hobbies":
  - "**/professions.json"
  - "**mutations**"
  - "**hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/Backgrounds/**/*"
  - "**/snippets/**/*"

"Limbs":
  - "src/bodypart.*"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/itemgroups/**/*"
  - "**/monstergroups/**/*"

"Bionics":
  - "**/bionics.*"

"Map / Mapgen":
  - "**/mapgen/**/*"
  - "**/mapgen_palettes/**/*"
  - "**/overmap/**/*"
  - "**/overmap**"

"Martial Arts":
  - "**/martialarts**"

"Player Faction Base / Camp":
  - "src/basecamp.*"
  - "src/faction_camp.*"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - "**/gun/**/*"
  - "**/ammo/**/*"

"Items: Gunmod / Toolmod":
  - "**/gunmod**"
  - "**/toolmod**"

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Scenarios":
  - "**/scenario**"
  - "**/**start_location**"

"Translation":
  - lang/**/*
  - "src/translation.*"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**/*' ]
    all: [ '!data/mods/TEST_DATA/**/*' ]

"Mechanics: Enchantments / Spells":
  - "**/enchantments**"
  - "**/spells**"

"Mechanics: Weather":
  - "**/weather**"

"Vehicles":
  - "**/vehicle**"
