Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

lower thickness
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

Update survivor.json
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Update professions.json
  data/mods/Xedra_Evolved/player/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Mods: Xedra Evolved

Obsolete canola item
  data/json/items/comestibles/raw_veggy.json
  data/json/items/migration.json
Labels: [JSON]

Place chemicals and a fence
  data/json/mapgen/map_extras/toxic_waste.json
Labels: [JSON], Map / Mapgen

Returned back amigara death hardcoded function
  src/mondeath.cpp
  src/mondeath.h
  src/monster.cpp
Labels: [C++]

Removed jsonified amigara death function and amigara_drops item group
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monsterdrops/misc.json
  data/json/monsters/nether.json
Labels: [JSON], Monsters

Astyle
  src/mondeath.cpp
Labels: [C++]

remove BASHING from feet
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

Update mondeath.cpp
  src/mondeath.cpp
Labels: [C++]

Static const
  src/mondeath.cpp
Labels: [C++]

Removed hardcoded stuff
  src/mondeath.cpp
  src/mondeath.h
  src/monster.cpp
Labels: [C++]

Effect-on-condition to the rescue!
  data/json/effect_on_condition.json
  data/json/mapgen/nested/aux_nested.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monsterdrops/misc.json
  data/json/monsters/nether.json
Labels: [JSON], EOC: Effects On Condition, Monsters, Map / Mapgen

calculate maximum widget height of all clauses
  src/widget.cpp
Labels: [C++]

allow clauses to alter layout widgets (i.e. swap out widget(s) completely)
  src/widget.cpp
  src/widget.h
Labels: [C++]

use the new feature in sidebar "structured", to replace the speed stats by vehicle speed when driving
  data/json/ui/sidebar-structured.json
Labels: [JSON], Info / User Interface

disable empty row widgets based on flag
  src/widget.cpp
Labels: [C++]

implement recursive inheritance also for widgets in clauses
  src/widget.cpp
Labels: [C++]

add the new feature to widget documentation
  doc/WIDGETS.md
Labels: [Markdown], <Documentation>

simplify nesting of speed/vehicle layout, fix JSON style
  data/json/ui/sidebar-structured.json
Labels: [JSON], Info / User Interface

Enable performance-trivially-destructible check
  .clang-tidy
  src/map.cpp
  src/pathfinding.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis

Updated honey mustard recipe ingredients, reduced prep time and increased charges
  data/json/recipes/recipe_food.json
Labels: [JSON], Crafting / Construction / Recipes

basic loop sorta working
  data/mods/challenger/data/items.json
  data/mods/challenger/data/maps.json
  data/mods/challenger/data/missions.json
  data/mods/challenger/data/npcs/exit.json
  data/mods/challenger/data/palettes.json
  data/mods/challenger/data/starts/professions.json
  data/mods/challenger/data/starts/scenarios.json
  data/mods/challenger/data/traits.json
Labels: [JSON], NPC / Factions, Missions, Mutations / Traits / Professions/ Hobbies, Scenarios

commit in progress
  data/mods/challenger/data/maps.json
  data/mods/challenger/data/npcs.json
  data/mods/challenger/data/palettes.json
  data/mods/challenger/starts/scenarios.json
Labels: [JSON], Scenarios

more progress
  data/mods/challenger/data/maps.json
  data/mods/challenger/data/missions.json
  data/mods/challenger/data/npcs/exit.json
  data/mods/challenger/data/npcs/gaoler.json
  data/mods/challenger/data/overmap.json
  data/mods/challenger/data/palettes.json
  data/mods/challenger/data/terrain.json
Labels: [JSON], NPC / Factions, Missions, Map / Mapgen

lore, start of AI
  data/mods/challenger/data/items.json
  data/mods/challenger/data/maps.json
  data/mods/challenger/data/npcs.json
  data/mods/challenger/data/palettes.json
  data/mods/challenger/data/snippets.json
Labels: [JSON]

Room, Professions, Mod Files, Mapgen
  data/mods/challenger/data/maps.json
  data/mods/challenger/data/overmap.json
  data/mods/challenger/data/palettes.json
  data/mods/challenger/modinfo.json
  data/mods/challenger/regional_map_settings.json
  data/mods/challenger/setting_blacklists/location_blacklist.json
  data/mods/challenger/setting_blacklists/mon_blacklist.json
  data/mods/challenger/setting_blacklists/scenario_blacklist.json
  data/mods/challenger/starts/professions.json
  data/mods/challenger/starts/scenarios.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Map / Mapgen, Scenarios

few changes to starting room
  data/mods/challenger/data/maps.json
  data/mods/challenger/data/missions.json
  data/mods/challenger/data/palettes.json
Labels: [JSON], Missions

Update data/mods/challenger/data/npcs/exit.json
  data/mods/challenger/data/npcs/exit.json
Labels: [JSON], NPC / Factions

basically hobo fight sim
  data/mods/challenger/data/factions.json
  data/mods/challenger/data/items.json
  data/mods/challenger/data/maps.json
  data/mods/challenger/data/npcs/neophyte.json
Labels: [JSON], NPC / Factions

implement fill patterns for bodygraph widget
  data/json/bodypart_graphs/full_body_widget.json
  data/json/ui/body_graph.json
  src/bodygraph.cpp
  src/bodygraph.h
  src/display.cpp
Labels: [C++], [JSON], Info / User Interface

Make chitinous armor only cover upper leg
  data/json/items/armor/suits_protection.json
Labels: [JSON], Items: Armor / Clothing

Lower leg encumbrance to 5
  data/json/items/armor/suits_protection.json
Labels: [JSON], Items: Armor / Clothing

Make cows more aggressive + anger/fear triggers
  data/json/monsters/mammal.json
Labels: [JSON], Monsters

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Update appliances.json
  data/json/items/appliances.json
Labels: [JSON], Appliance/Power Grid

fix read explicit padding for non-sidebar widgets, astyle fixes
  src/bodygraph.cpp
  src/widget.cpp
Labels: [C++]

Add unshielded ASRG appliance
  data/json/items/appliances.json
Labels: [JSON], Appliance/Power Grid

add eyes and mouth to tiny bodygraph; add all tiny bodygrapgs to sidebar "structured"
  data/json/bodypart_graphs/full_body_widget.json
  data/json/ui/sidebar-structured.json
Labels: [JSON], Info / User Interface

deconstruct
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/scores**"
  - "**/statistics**"
  - "**/achievements**"
  - "**/conducts**"
  - "**/event_statistics.*"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*
  - data/mods/TEST_DATA/**/*

"Character / World Generation":
  - src/newcharacter.cpp
  - "**/worldfactory.*"

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/recipes/**/*"
  - data/json/construction.json
  - data/json/construction_category.json
  - data/json/construction_group.json
  - data/json/deconstruction.json

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/**eocs**"

"Fields / Furniture / Terrain / Traps":
  - "**/furniture**"

"Items: Food / Vitamins":
  - "**/food**"
  - "**/comestibles**"

"NPC / Factions":
  - "**/**npc**/**/*"

"Melee":
  - "**/melee**"
  - "**/**techniques**"

"Missions":
  - "**/**mission**"

"Info / User Interface":
  - "**/ui/**/*"
  - "src/**ui**"
  - "**/widget/**/*"
  - "src/list_view.*"
  - "src/surroundings_menu.*"

"Items: Archery":
  - "**/**archery**"
  - "**/**crossbows**"

"Items: Armor / Clothing":
  - "**/armor/**/*"

"Items: Battery / UPS":
  - "**/battery**"

"Items: Containers":
  - "**/**containers**"
  - "**/**storage**"
  - "**/**sheath**"
  - "**/**holster**"
  - "**/**ammo_pouch**"
  - "**/**bandolier**"
  - "src/item_pocket.*"
  - "src/item_contents.*"
  - "tests/item_pocket_test.*"

"Items: Magazines":
  - "**/magazine/**/*"

"Appliance/Power Grid":
  - "**/appliance**"

"Monsters":
  - "**/monsters/**/*"

"Mutations / Traits / Professions/ Hobbies":
  - "**/professions.json"
  - "**mutations**"
  - "**hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/Backgrounds/**/*"
  - "**/snippets/**/*"

"Limbs":
  - "src/bodypart.*"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/itemgroups/**/*"
  - "**/monstergroups/**/*"

"Bionics":
  - "**/bionics.*"

"Map / Mapgen":
  - "**/mapgen/**/*"
  - "**/mapgen_palettes/**/*"
  - "**/overmap/**/*"
  - "**/overmap**"

"Martial Arts":
  - "**/martialarts**"

"Player Faction Base / Camp":
  - "src/basecamp.*"
  - "src/faction_camp.*"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - "**/gun/**/*"
  - "**/ammo/**/*"

"Items: Gunmod / Toolmod":
  - "**/gunmod**"
  - "**/toolmod**"

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Scenarios":
  - "**/scenario**"
  - "**/**start_location**"

"Translation":
  - lang/**/*
  - "src/translation.*"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**/*' ]
    all: [ '!data/mods/TEST_DATA/**/*' ]

"Mechanics: Enchantments / Spells":
  - "**/enchantments**"
  - "**/spells**"

"Mechanics: Weather":
  - "**/weather**"

"Vehicles":
  - "**/vehicle**"
