Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

syntax
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

syntax
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

coverage tests attempt #3
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

syntax
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

astyle
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Add files via upload
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Spawn mutant corpses
  data/json/mapgen/map_extras/toxic_waste.json
Labels: [JSON], Map / Mapgen

Add a custom itemgroup and monster spawning
  data/json/mapgen/map_extras/toxic_waste.json
Labels: [JSON], Map / Mapgen

Actually use the right corpses
  data/json/mapgen/map_extras/toxic_waste.json
Labels: [JSON], Map / Mapgen

Add toxic waste map extra
  data/json/mapgen/map_extras/toxic_waste.json
  data/json/overmap/map_extras.json
Labels: [JSON], Map / Mapgen

Add toxic gas vents and biological matter to gallon drums
  data/json/mapgen/map_extras/toxic_waste.json
Labels: [JSON], Map / Mapgen

Tweak gas vent intensity and move monster spawns away from it
  data/json/mapgen/map_extras/toxic_waste.json
Labels: [JSON], Map / Mapgen

typo
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Update survivor.json
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

typo fix
  data/json/items/fluff.json
Labels: [JSON]

terminal punctuation
  src/iuse_actor.cpp
Labels: [C++]

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

egg typo fixes
  data/json/items/comestibles/egg.json
Labels: [JSON]

Delete custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

add minimum 100% coverage layer
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

Add files via upload
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Multi Unit Houses (#59348)
  data/json/mapgen/house/multi_unit_housing.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen

Immobile Monsters Can't Wander (#59421)
  object_creator/creator_main.cpp
  object_creator/creator_main_window.cpp
  object_creator/dual_list_box.cpp
  object_creator/spell_window.cpp
  src/monster.cpp
Labels: [C++]

Avoid int overflow from multiplying minutes (#59416)
  src/character.cpp
Labels: [C++]

also fix missing terminal punctuation in the saving game message
  src/game.cpp
Labels: [C++]

carbon lattice
  data/json/materials.json
Labels: [JSON]

adjust density and description
  data/json/materials.json
Labels: [JSON]

convert flesh to nanotubes
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Check unfolding placed boardable part before boarding
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
Labels: [C++]

Fix folded vehicles not boarded
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: [C++]

Update eater_spells.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
Labels: [JSON], Mods: Xedra Evolved

Update survivor.json
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Update survivor.json
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing

Update monstergroup.json
  data/mods/Xedra_Evolved/monsters/monstergroup.json
Labels: [JSON], Monsters, Mods: Xedra Evolved

Update custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], Items: Armor / Clothing

Unboard in degradation tests, unboard when teleporting away
  src/teleport.cpp
  tests/degradation_test.cpp
Labels: [C++], Code: Tests

Update classes.json
  data/mods/Xedra_Evolved/mutations/classes.json
Labels: [JSON], Mods: Xedra Evolved

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/scores**"
  - "**/statistics**"
  - "**/achievements**"
  - "**/conducts**"
  - "**/event_statistics.*"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*
  - data/mods/TEST_DATA/**/*

"Character / World Generation":
  - src/newcharacter.cpp
  - "**/worldfactory.*"

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/recipes/**/*"
  - data/json/construction.json
  - data/json/construction_category.json
  - data/json/construction_group.json
  - data/json/deconstruction.json

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/**eocs**"

"Fields / Furniture / Terrain / Traps":
  - "**/furniture**"

"Items: Food / Vitamins":
  - "**/food**"
  - "**/comestibles**"

"NPC / Factions":
  - "**/**npc**/**/*"

"Melee":
  - "**/melee**"
  - "**/**techniques**"

"Missions":
  - "**/**mission**"

"Info / User Interface":
  - "**/ui/**/*"
  - "src/**ui**"
  - "**/widget/**/*"
  - "src/list_view.*"
  - "src/surroundings_menu.*"

"Items: Archery":
  - "**/**archery**"
  - "**/**crossbows**"

"Items: Armor / Clothing":
  - "**/armor/**/*"

"Items: Battery / UPS":
  - "**/battery**"

"Items: Containers":
  - "**/**containers**"
  - "**/**storage**"
  - "**/**sheath**"
  - "**/**holster**"
  - "**/**ammo_pouch**"
  - "**/**bandolier**"
  - "src/item_pocket.*"
  - "src/item_contents.*"
  - "tests/item_pocket_test.*"

"Items: Magazines":
  - "**/magazine/**/*"

"Appliance/Power Grid":
  - "**/appliance**"

"Monsters":
  - "**/monsters/**/*"

"Mutations / Traits / Professions/ Hobbies":
  - "**/professions.json"
  - "**mutations**"
  - "**hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/Backgrounds/**/*"
  - "**/snippets/**/*"

"Limbs":
  - "src/bodypart.*"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/itemgroups/**/*"
  - "**/monstergroups/**/*"

"Bionics":
  - "**/bionics.*"

"Map / Mapgen":
  - "**/mapgen/**/*"
  - "**/mapgen_palettes/**/*"
  - "**/overmap/**/*"
  - "**/overmap**"

"Martial Arts":
  - "**/martialarts**"

"Player Faction Base / Camp":
  - "src/basecamp.*"
  - "src/faction_camp.*"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - "**/gun/**/*"
  - "**/ammo/**/*"

"Items: Gunmod / Toolmod":
  - "**/gunmod**"
  - "**/toolmod**"

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Scenarios":
  - "**/scenario**"
  - "**/**start_location**"

"Translation":
  - lang/**/*
  - "src/translation.*"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**/*' ]
    all: [ '!data/mods/TEST_DATA/**/*' ]

"Mechanics: Enchantments / Spells":
  - "**/enchantments**"
  - "**/spells**"

"Mechanics: Weather":
  - "**/weather**"

"Vehicles":
  - "**/vehicle**"
