Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Bombastic Perks, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/scores**"
  - "**/**statistics**"
  - "**/statistics**"
  - "**/**achievement**"
  - "**/achievement**"
  - "**/**conducts**"
  - "**/conducts**"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - "doc/**"
  - "doxygen_doc/**"

"Code: Tooling":
  - ".github/**"
  - "utilities/**"
  - any: ['tools/**', '!tools/spell_checker/dictionary.txt']

"Code: Tests":
  - "tests/**"
  - "data/mods/TEST_DATA/**"

"Character / World Generation":
  - "**/newcharacter**"
  - "**/worldfactory**"

"Code: Build":
  - "build-data/**"
  - "build-scripts/**"
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/**crafting**"
  - "**/crafting**"
  - "**/**recipe**"
  - "**/recipe**"
  - "**/**construction**"
  - "**/construction**"

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/effect_on_condition**"
  - "**/**eocs**"
  - "**/eocs**"
  - "**/condition**"

"Fields / Furniture / Terrain / Traps":
  - "**/**furniture**"
  - "**/furniture**"
  - "**/**field**"
  - "**/field**"
  - "**/**terrain**"
  - "**/terrain**"
  - "**/**trap**"
  - "**/trap**"

"Items: Food / Vitamins":
  - "**/**food**"
  - "**/food**"
  - "**/**comestible**"
  - "**/comestible**"

"NPC / Factions":
  - "**/**npc**"
  - "**/npc**"
  - "**/**NPC**"
  - "**/NPC**"

"Melee":
  - "**/**melee**"
  - "**/melee**"
  - "**/**techniques**"
  - "**/techniques**"

"Missions":
  - "**/**mission**"
  - "**/mission**"

"Info / User Interface":
  - "src/**ui**"
  - "**/ui/**"
  - "**/**widget**"
  - "**/widget**"
  - "**/**view**"
  - "**/view**"

"Items: Archery":
  - "**/archery**"
  - "**/crossbow**"

"Items: Armor / Clothing":
  - "**/**armor**"
  - "**/armor**"
  - "**/armor/**"

"Items: Battery / UPS":
  - "**/**battery**"
  - "**/battery**"

"Items: Containers":
  - "**/container**"
  - "**/**pocket**"
  - "**/pocket**"
  - "**/**contents**"
  - "**/contents**"

"Items: Magazines":
  - "**/**magazine**"
  - "**/magazine**"

"Appliance/Power Grid":
  - "**/**appliance**"
  - "**/appliance**"

"Monsters":
  - "**/**monsters**"
  - "**/monsters**"

"Mutations / Traits / Professions/ Hobbies":
  - "**/**profession**"
  - "**/profession**"
  - "**/**mutations**"
  - "**/mutation**"
  - "**/hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/**Backgrounds**"
  - "**/Backgrounds**"
  - "**/**snippets**"
  - "**/snippets**"

"Limbs":
  - "**/**bodypart**"
  - "**/bodypart**"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/**itemgroup**"
  - "**/itemgroup**"
  - "**/itemgroups/**"
  - "**/**monstergroup**"
  - "**/monstergroup**"
  - "**/monstergroups/**"

"Bionics":
  - "**/bionic**"
  - "**/**bionic**"

"Map / Mapgen":
  - "**/**mapgen**"
  - "**/mapgen**"
  - "**/mapgen/**"
  - "**/**overmap**"
  - "**/overmap**"
  - "**/overmap/**"

"Martial Arts":
  - "**/martialart**"

"Player Faction Base / Camp":
  - "**/basecamp**"
  - "**/faction_camp**"

"Items: Ammo / Guns":
  - "**/**gun**"
  - "**/gun**"
  - "**/**ammo**"
  - "**/ammo**"

"Items: Gunmod / Toolmod":
  - "**/**gunmod**"
  - "**/gunmod**"
  - "**/**toolmod**"
  - "**/toolmod**"

"SDL: Tiles / Sound":
  - "gfx/**"
  - "sound/**"

"Scenarios":
  - "**/scenario**"
  - "**/start_location**"

"Translation":
  - "lang/**"
  - "**/**translation**"
  - "**/translation**"

"Mods: Bombastic Perks":
  - data/mods/BombasticPerks/**/*

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**' ]
    all: [ '!data/mods/TEST_DATA/**' ]

"Mechanics: Enchantments / Spells":
  - "**/**enchantment**"
  - "**/enchantment**"
  - "**/**spells**"
  - "**/spells**"
  - "**/Spells/**"
  - any: ['**/**spell**', '!tools/**']

"Mechanics: Weather":
  - "**/weather**"

"Vehicles":
  - "**/**vehicle**"
  - "**/vehicle**"
  - "src/veh_**"

Add flashlight attachment for hard hats and military helmets (#64932)
  data/json/flags.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/tool/lighting.json
Labels: [JSON], Items: Armor / Clothing

Update data/mods/BombasticPerks/perkdata/frankenstein.json
  data/mods/BombasticPerks/perkdata/frankenstein.json
Labels: [JSON], Mods: Bombastic Perks

Actually fixed failing test cases
  data/json/items/comestibles/baked.json
  data/json/items/comestibles/meat_dishes.json
Labels: [JSON]

Gunship terrain
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, Map / Mapgen, Mods: Aftershock

Change rust colours, remove unnecessary messages
  src/character.cpp
  src/player_display.cpp
Labels: [C++]

Axes as tools
  data/json/items/tool/firefighting.json
  data/json/recipes/tools/tools_hand.json
Labels: [JSON]

Add new types of artifacts
  data/json/artifact/artifact_item_types.json
  data/json/artifact/relic_procgen_data.json
  data/json/itemgroups/altered_item.json
  data/json/items/relics/altered_items.json
  data/json/monsterdrops/misc.json
Labels: [JSON], Spawn

add toggle
  data/raw/keybindings.json
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
Labels: [C++], [JSON], Info / User Interface, Bionics

astyle
  src/bionics.h
  src/bionics_ui.cpp
Labels: [C++], Info / User Interface, Bionics

Update data/json/artifact/artifact_item_types.json
  data/json/artifact/artifact_item_types.json
Labels: [JSON]

tidy up
  src/bionics.h
Labels: [C++], Bionics

adds more missing spaces.
  data/json/snippets/e_logs.json
Labels: [JSON]

tidy up more
  src/bionics.h
Labels: [C++], Bionics

Use average NPC's stats to calculate faction camp calories
  src/faction_camp.cpp
Labels: [C++], Player Faction Base / Camp

nails the last of the missing spaces. I hope.
  data/json/snippets/e_logs.json
Labels: [JSON]

Update terrain_spaceship.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, Mods: Aftershock

Update terrain_spaceship.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, Mods: Aftershock

use GROUP_WOLFS
  data/json/mapgen/zoo.json
Labels: [JSON], Map / Mapgen

Create generic_class_definitions.json
  data/json/npcs/campus/generic_class_definitions.json
Labels: [JSON]

Update terrain_spaceship.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, Mods: Aftershock

Update creature.cpp
  src/creature.cpp
Labels: [C++]

Update epilogue_factions.json
  data/json/snippets/epilogue_factions.json
Labels: [JSON]

the ABCs
  src/monster.cpp
Labels: [C++]

Update terrain_spaceship.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, Mods: Aftershock

Implement exodii ammo casings, add reloaded versions and crafts
  data/json/items/ammo/exodii.json
  data/json/items/generic/casing.json
  data/json/recipes/ammo/rifle.json
Labels: [JSON]

update docs to reflect the reality of the last several years worth of additions
  doc/GAME_BALANCE.md
Labels: [Markdown], <Documentation>

Implement disassembling of exodii ammunition
  data/json/uncraft/ammo/exodii.json
Labels: [JSON]

Update data/json/items/ammo/exodii.json
  data/json/items/ammo/exodii.json
Labels: [JSON]

Update data/mods/BombasticPerks/perkdata/frankenstein.json
  data/mods/BombasticPerks/perkdata/frankenstein.json
Labels: [JSON], Mods: Bombastic Perks

Update data/mods/BombasticPerks/perkdata/frankenstein.json
  data/mods/BombasticPerks/perkdata/frankenstein.json
Labels: [JSON], Mods: Bombastic Perks

add reloaded exodii ammo migrations for generic guns, fix misplaced 3006 casing migration in GG
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/ammo/gg_casings_migration.json
  data/mods/Generic_Guns/ammo/rifle.json
  data/mods/Generic_Guns/recipes/recipes_rifle.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Ammo / Guns, Mods: Generic Guns

fix GG recipe...
  data/mods/Generic_Guns/recipes/recipes_rifle.json
Labels: [JSON], Crafting / Construction / Recipes, Mods: Generic Guns

Update military.json
  data/json/items/containers/military.json
Labels: [JSON]

no more domestic tigers
  data/json/monstergroups/misc.json
Labels: [JSON], Spawn

vision_junction_reciprocity fix
  tests/vision_test.cpp
Labels: [C++], Code: Tests

weather realism test fix
  data/json/weather_type.json
Labels: [JSON], Mechanics: Weather

Fix that allow zebra looks better
  data/json/connect_groups.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
Labels: [JSON], Fields / Furniture / Terrain / Traps

Update formatting, spacing, plurals
  data/json/artifact/artifact_item_types.json
  data/json/items/relics/altered_items.json
  tools/spell_checker/dictionary.txt
Labels: [JSON]

Update data/json/artifact/artifact_item_types.json
  data/json/artifact/artifact_item_types.json
Labels: [JSON]

spellcheck
  data/json/npcs/factions.json
Labels: [JSON]
