Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Bombastic Perks, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/scores**"
  - "**/**statistics**"
  - "**/statistics**"
  - "**/**achievement**"
  - "**/achievement**"
  - "**/**conducts**"
  - "**/conducts**"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - "doc/**"
  - "doxygen_doc/**"

"Code: Tooling":
  - ".github/**"
  - "utilities/**"
  - any: ['tools/**', '!tools/spell_checker/dictionary.txt']

"Code: Tests":
  - "tests/**"
  - "data/mods/TEST_DATA/**"

"Character / World Generation":
  - "**/newcharacter**"
  - "**/worldfactory**"

"Code: Build":
  - "build-data/**"
  - "build-scripts/**"
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/**crafting**"
  - "**/crafting**"
  - "**/**recipe**"
  - "**/recipe**"
  - "**/**construction**"
  - "**/construction**"

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/effect_on_condition**"
  - "**/**eocs**"
  - "**/eocs**"
  - "**/condition**"

"Fields / Furniture / Terrain / Traps":
  - "**/**furniture**"
  - "**/furniture**"
  - "**/**field**"
  - "**/field**"
  - "**/**terrain**"
  - "**/terrain**"
  - "**/**trap**"
  - "**/trap**"

"Items: Food / Vitamins":
  - "**/**food**"
  - "**/food**"
  - "**/**comestible**"
  - "**/comestible**"

"NPC / Factions":
  - "**/**npc**"
  - "**/npc**"
  - "**/**NPC**"
  - "**/NPC**"

"Melee":
  - "**/**melee**"
  - "**/melee**"
  - "**/**techniques**"
  - "**/techniques**"

"Missions":
  - "**/**mission**"
  - "**/mission**"

"Info / User Interface":
  - "src/**ui**"
  - "**/ui/**"
  - "**/**widget**"
  - "**/widget**"
  - "**/**view**"
  - "**/view**"

"Items: Archery":
  - "**/archery**"
  - "**/crossbow**"

"Items: Armor / Clothing":
  - "**/**armor**"
  - "**/armor**"
  - "**/armor/**"

"Items: Battery / UPS":
  - "**/**battery**"
  - "**/battery**"

"Items: Containers":
  - "**/container**"
  - "**/**pocket**"
  - "**/pocket**"
  - "**/**contents**"
  - "**/contents**"

"Items: Magazines":
  - "**/**magazine**"
  - "**/magazine**"

"Appliance/Power Grid":
  - "**/**appliance**"
  - "**/appliance**"

"Monsters":
  - "**/**monsters**"
  - "**/monsters**"

"Mutations / Traits / Professions/ Hobbies":
  - "**/**profession**"
  - "**/profession**"
  - "**/**mutations**"
  - "**/mutation**"
  - "**/hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/**Backgrounds**"
  - "**/Backgrounds**"
  - "**/**snippets**"
  - "**/snippets**"

"Limbs":
  - "**/**bodypart**"
  - "**/bodypart**"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/**itemgroup**"
  - "**/itemgroup**"
  - "**/itemgroups/**"
  - "**/**monstergroup**"
  - "**/monstergroup**"
  - "**/monstergroups/**"

"Bionics":
  - "**/bionic**"
  - "**/**bionic**"

"Map / Mapgen":
  - "**/**mapgen**"
  - "**/mapgen**"
  - "**/mapgen/**"
  - "**/**overmap**"
  - "**/overmap**"
  - "**/overmap/**"

"Martial Arts":
  - "**/martialart**"

"Player Faction Base / Camp":
  - "**/basecamp**"
  - "**/faction_camp**"

"Items: Ammo / Guns":
  - "**/**gun**"
  - "**/gun**"
  - "**/**ammo**"
  - "**/ammo**"

"Items: Gunmod / Toolmod":
  - "**/**gunmod**"
  - "**/gunmod**"
  - "**/**toolmod**"
  - "**/toolmod**"

"SDL: Tiles / Sound":
  - "gfx/**"
  - "sound/**"

"Scenarios":
  - "**/scenario**"
  - "**/start_location**"

"Translation":
  - "lang/**"
  - "**/**translation**"
  - "**/translation**"

"Mods: Bombastic Perks":
  - data/mods/BombasticPerks/**/*

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**' ]
    all: [ '!data/mods/TEST_DATA/**' ]

"Mechanics: Enchantments / Spells":
  - "**/**enchantment**"
  - "**/enchantment**"
  - "**/**spells**"
  - "**/spells**"
  - "**/Spells/**"
  - any: ['**/**spell**', '!tools/**']

"Mechanics: Weather":
  - "**/weather**"

"Vehicles":
  - "**/**vehicle**"
  - "**/vehicle**"
  - "src/veh_**"

Reverted Weakpoint ID Change
  data/json/monster_weakpoints/generic_weakpoints.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_burned.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_soldiers.json
Labels: [JSON]

admin fl1 circulation
  data/json/mapgen/campus/buildings/admin_f1.json
Labels: [JSON], Map / Mapgen

admin f2 circulation
  data/json/mapgen/campus/buildings/admin_f2.json
Labels: [JSON], Map / Mapgen

admin roof stair down
  data/json/mapgen/campus/buildings/admin_roof.json
Labels: [JSON], Map / Mapgen

Allow string_id construction from string_view
  src/string_id.h
Labels: [C++]

Allow vertical movement for avatar in water
  data/json/furniture_and_terrain/terrain-liquids.json
  src/game.cpp
  src/mapdata.cpp
  src/mapdata.h
  tests/map_helpers.cpp
  tests/map_helpers.h
  tests/player_helpers.cpp
  tests/water_movement_test.cpp
Labels: [C++], [JSON], Code: Tests, Fields / Furniture / Terrain / Traps

no more domestic tigers (#65209)
  data/json/monstergroups/misc.json
Labels: [JSON], Spawn

Differentiate 12.3ln/.30-06 rounds; add reloads for exodii ammo (#65208)
  data/json/items/ammo/exodii.json
  data/json/items/generic/casing.json
  data/json/recipes/ammo/rifle.json
  data/json/uncraft/ammo/exodii.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/ammo/gg_casings_migration.json
  data/mods/Generic_Guns/ammo/rifle.json
  data/mods/Generic_Guns/recipes/recipes_rifle.json
  doc/GAME_BALANCE.md
Labels: [JSON], [Markdown], <Documentation>, Crafting / Construction / Recipes, Items: Ammo / Guns, Mods: Generic Guns

Fix type-category error
  data/json/items/tool/cooking.json
Labels: [JSON]

Lvl 4 Achievements
  data/json/achievements.json
  data/json/statistics.json
Labels: [JSON], Game: Achievements / Conducts / Scores

Update data/json/items/tool/cooking.json
  data/json/items/tool/cooking.json
Labels: [JSON]

Update data/json/recipes/tools/containers.json
  data/json/recipes/tools/containers.json
Labels: [JSON], Items: Containers

SECRET flag dreamsmith recipes
  data/mods/Xedra_Evolved/recipes/dreamforged_armor.json
  data/mods/Xedra_Evolved/recipes/dreamforged_weapon.json
Labels: [JSON], Items: Armor / Clothing, Mods: Xedra Evolved

Vampire recipe secret
  data/mods/Xedra_Evolved/recipes/vampire.json
Labels: [JSON], Mods: Xedra Evolved

Magic Professions
  data/mods/Magiclysm/professions.json
  data/mods/Magiclysm/scenarios.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Scenarios, Mods: Magiclysm

Grammar
  data/mods/Magiclysm/professions.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm

Cowboy
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies

Update player_display.cpp
  src/player_display.cpp
Labels: [C++]

Update player_display.cpp
  src/player_display.cpp
Labels: [C++]

grammar 2
  data/mods/Magiclysm/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm

Spaces
  data/mods/Magiclysm/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm

Fix strpl and spacing
  data/json/artifact/artifact_item_types.json
  data/json/items/relics/altered_items.json
Labels: [JSON]

Linted
  data/json/artifact/artifact_item_types.json
Labels: [JSON]

Please work please work please work
  data/json/items/armor/bandolier.json
Labels: [JSON], Items: Armor / Clothing

Fix density
  data/json/artifact/artifact_item_types.json
Labels: [JSON]

Avoid clang-analyzer warning in plugin
  tools/clang-tidy-plugin/StaticStringIdConstantsCheck.cpp
Labels: [C++], Code: Tooling

Remove unnecessary prompt "soon!"
  src/game_inventory.cpp
Labels: [C++]
