Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/scores**"
  - "**/statistics**"
  - "**/achievements**"
  - "**/conducts**"
  - "**/event_statistics.*"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*
  - data/mods/TEST_DATA/**/*

"Character / World Generation":
  - src/newcharacter.cpp
  - "**/worldfactory.*"

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/recipes/**/*"
  - data/json/construction.json
  - data/json/construction_category.json
  - data/json/construction_group.json
  - data/json/deconstruction.json

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/**eocs**"

"Fields / Furniture / Terrain / Traps":
  - "**/furniture**"

"Items: Food / Vitamins":
  - "**/food**"
  - "**/comestibles**"

"NPC / Factions":
  - "**/**npc**/**/*"

"Melee":
  - "**/melee**"
  - "**/**techniques**"

"Missions":
  - "**/**mission**"

"Info / User Interface":
  - "**/ui/**/*"
  - "src/**ui**"
  - "**/widget/**/*"
  - "src/list_view.*"
  - "src/surroundings_menu.*"

"Items: Archery":
  - "**/**archery**"
  - "**/**crossbows**"

"Items: Armor / Clothing":
  - "**/armor/**/*"

"Items: Battery / UPS":
  - "**/battery**"

"Items: Containers":
  - "**/**containers**"
  - "**/**storage**"
  - "**/**sheath**"
  - "**/**holster**"
  - "**/**ammo_pouch**"
  - "**/**bandolier**"
  - "src/item_pocket.*"
  - "src/item_contents.*"
  - "tests/item_pocket_test.*"

"Items: Magazines":
  - "**/magazine/**/*"

"Appliance/Power Grid":
  - "**/appliance**"

"Monsters":
  - "**/monsters/**/*"

"Mutations / Traits / Professions/ Hobbies":
  - "**/professions.json"
  - "**mutations**"
  - "**hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/Backgrounds/**/*"
  - "**/snippets/**/*"

"Limbs":
  - "src/bodypart.*"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/itemgroups/**/*"
  - "**/monstergroups/**/*"

"Bionics":
  - "**/bionics.*"

"Map / Mapgen":
  - "**/mapgen/**/*"
  - "**/mapgen_palettes/**/*"
  - "**/overmap/**/*"
  - "**/overmap**"

"Martial Arts":
  - "**/martialarts**"

"Player Faction Base / Camp":
  - "src/basecamp.*"
  - "src/faction_camp.*"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - "**/gun/**/*"
  - "**/ammo/**/*"

"Items: Gunmod / Toolmod":
  - "**/gunmod**"
  - "**/toolmod**"

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Scenarios":
  - "**/scenario**"
  - "**/**start_location**"

"Translation":
  - lang/**/*
  - "src/translation.*"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**/*' ]
    all: [ '!data/mods/TEST_DATA/**/*' ]

"Mechanics: Enchantments / Spells":
  - "**/enchantments**"
  - "**/spells**"

"Mechanics: Weather":
  - "**/weather**"

"Vehicles":
  - "**/vehicle**"

Update stepladder volume
  data/json/items/tool/misc.json
Labels: [JSON]

Update data/json/monstergroups/military.json
  data/json/monstergroups/military.json
Labels: [JSON], Spawn

Update data/json/monstergroups/military.json
  data/json/monstergroups/military.json
Labels: [JSON], Spawn

Update data/json/monstergroups/military.json
  data/json/monstergroups/military.json
Labels: [JSON], Spawn

Update data/json/monstergroups/military.json
  data/json/monstergroups/military.json
Labels: [JSON], Spawn

Update data/json/monstergroups/military.json
  data/json/monstergroups/military.json
Labels: [JSON], Spawn

add property `description` to widgets, display widget and sidebar description in sidebar options window
  data/json/ui/separator.json
  data/json/ui/sidebar-structured.json
  src/panels.cpp
  src/panels.h
  src/widget.cpp
  src/widget.h
Labels: [C++], [JSON], Info / User Interface

Update nursing_home.json
  data/json/mapgen/nursing_home.json
Labels: [JSON], Map / Mapgen

Update nursing_home_palette.json
  data/json/mapgen_palettes/nursing_home_palette.json
Labels: [JSON], Map / Mapgen

Update overmap_terrain_public_institutional.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: [JSON], Map / Mapgen

Update nursing_home_palette.json
  data/json/mapgen_palettes/nursing_home_palette.json
Labels: [JSON], Map / Mapgen

Update lmoe.json
  data/json/mapgen/lmoe.json
Labels: [JSON], Map / Mapgen

Small Update to Nursing Home (#59463)
  data/json/mapgen/nursing_home.json
  data/json/mapgen_palettes/nursing_home_palette.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: [JSON], Map / Mapgen

change terrain trap sets to terrain (#59426)
  data/json/mapgen/lmoe.json
  data/json/mapgen/ws_survivor_bunker.json
  data/json/mapgen/ws_survivor_camp.json
Labels: [JSON], Map / Mapgen

fix
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

astyle
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

astyle
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], Appliance/Power Grid

Support ret_val<void> and replace ret_val<bool>
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/character_inventory.cpp
  src/crafting.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/iexamine.h
  src/item.cpp
  src/item.h
  src/item_action.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/newcharacter.cpp
  src/npc.cpp
  src/npc.h
  src/npctrade.cpp
  src/profession.cpp
  src/profession.h
  src/ret_val.h
  src/scenario.cpp
  src/scenario.h
  src/talker_npc.cpp
  src/trade_ui.cpp
  tests/battery_mod_test.cpp
  tests/crafting_test.cpp
  tests/item_contents_test.cpp
  tests/item_pocket_test.cpp
  tests/iuse_actor_test.cpp
  tests/unseal_and_spill_test.cpp
Labels: [C++], Code: Tests, Character / World Generation, Info / User Interface, Items: Battery / UPS, Items: Containers, Bionics, Scenarios

Harmonise leg purse and arm pouch crafting requirements
  data/json/recipes/armor/storage.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Armor / Clothing, Items: Containers

Fix closing vehicle doors cardinally
  src/vehicle_use.cpp
Labels: [C++], Vehicles

Fix closing not fully working when triggering on the fake part
  src/vehicle.cpp
Labels: [C++], Vehicles

Add "longest side" and change weight/volume
  data/json/items/tool/misc.json
Labels: [JSON]

Lower leg encumbrance to 5 Co-authored-by: Dillon Matchett <dillon.matchett@gmail.com>
  data/json/items/armor/suits_protection.json
Labels: [JSON], Items: Armor / Clothing

fix works, test doesnt
  src/character.h
  src/melee.cpp
  tests/melee_test.cpp
Labels: [C++], Code: Tests, Melee

Update sidebar-mobile.json
  data/json/ui/sidebar-mobile.json
Labels: [JSON], Info / User Interface

Fix a bug where trim_by_length would end up one character too long
  src/output.cpp
  src/output.h
  tests/string_test.cpp
Labels: [C++], Code: Tests

Fixed issue that prevented achievement from firing
  data/json/achievements.json
  data/json/portal_storm_effect_on_condition.json
  src/condition.cpp
  src/condition.h
  src/npctalk.cpp
Labels: [C++], [JSON], Game: Achievements / Conducts / Scores, EOC: Effects On Condition

Fixed templating issues.
  src/condition.cpp
  src/condition.h
Labels: [C++]

Fixed the stupid compile issue.
  src/npctalk.cpp
Labels: [C++]

Fixed memorial logger issue.
  src/memorial_logger.cpp
Labels: [C++]

FROG_EYES first version
  data/json/bionics.json
  data/json/mutations/mutations.json
  data/mods/extra_mut_scen/mutation_scenarios.json
Labels: [JSON], Bionics

modernized faction camp dialog
  data/json/npcs/TALK_FACTION_CAMP.json
Labels: [JSON], NPC / Factions

fixed spelling
  data/json/npcs/TALK_FACTION_CAMP.json
Labels: [JSON], NPC / Factions

1->2 blanks
  data/json/npcs/TALK_FACTION_CAMP.json
Labels: [JSON], NPC / Factions

Update sidebar-mobile.json
  data/json/ui/sidebar-mobile.json
Labels: [JSON], Info / User Interface

feral cop whistle attack
  src/monattack.cpp
Labels: [C++]

feral cop speeches
  data/json/speech.json
Labels: [JSON]

feral cop death drops
  data/json/monsterdrops/feral_humans.json
Labels: [JSON]

feral cop factions
  data/json/monster_factions.json
Labels: [JSON]

remove test for now
  tests/melee_test.cpp
Labels: [C++], Code: Tests, Melee
