Repository CleverRaven/Cataclysm-DDA, changes with the labels that .github/labeler.yml gives for each.
All labels: [C++], [JSON], [Markdown], Game: Achievements / Conducts / Scores, [Python], <Documentation>, Code: Tooling, Code: Tests, Character / World Generation, Code: Build, Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, EOC: Effects On Condition, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, NPC / Factions, Melee, Missions, Info / User Interface, Items: Archery, Items: Armor / Clothing, Items: Battery / UPS, Items: Containers, Items: Magazines, Appliance/Power Grid, Monsters, Mutations / Traits / Professions/ Hobbies, Lore, Limbs, Spawn, Bionics, Map / Mapgen, Martial Arts, Player Faction Base / Camp, Items: Ammo / Guns, Items: Gunmod / Toolmod, SDL: Tiles / Sound, Scenarios, Translation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dark Skies, Mods: Desert Region, Mods: DinoMod, Mods: Generic Guns, Mods: MA, Mods: MMA, Mods: Magiclysm, Mods: Innawood ðŸŒ², Mods: No Hope, Mods: TropiCataclysm ðŸŒ´, Mods: Tamable Wildlife, Mods: Xedra Evolved, Mechanics: Enchantments / Spells, Mechanics: Weather, Vehicles

.github/labeler.yml:

"[C++]":
  - "**/*.cpp"
  - "**/*.h"

"[JSON]":
  - "**/*.json"

"[Markdown]":
  - "**/*.md"

"Game: Achievements / Conducts / Scores":
  - "**/scores**"
  - "**/statistics**"
  - "**/achievements**"
  - "**/conducts**"
  - "**/event_statistics.*"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - tools/**/*
  - .github/**/*
  - utilities/**/*

"Code: Tests":
  - tests/**/*
  - data/mods/TEST_DATA/**/*

"Character / World Generation":
  - src/newcharacter.cpp
  - "**/worldfactory.*"

"Code: Build":
  - build-data/**/*
  - build-scripts/**/*
  - "**/Makefile"
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"Code: Infrastructure / Style / Static Analysis":
  - .astylerc
  - .clang-tidy
  - .editorconfig
  - .lgtm.yml

"Crafting / Construction / Recipes":
  - "**/recipes/**/*"
  - data/json/construction.json
  - data/json/construction_category.json
  - data/json/construction_group.json
  - data/json/deconstruction.json

"EOC: Effects On Condition":
  - "**/**effect_on_condition**"
  - "**/**eocs**"

"Fields / Furniture / Terrain / Traps":
  - "**/furniture**"

"Items: Food / Vitamins":
  - "**/food**"
  - "**/comestibles**"

"NPC / Factions":
  - "**/**npc**/**/*"

"Melee":
  - "**/melee**"
  - "**/**techniques**"

"Missions":
  - "**/**mission**"

"Info / User Interface":
  - "**/ui/**/*"
  - "src/**ui**"
  - "**/widget/**/*"
  - "src/list_view.*"
  - "src/surroundings_menu.*"

"Items: Archery":
  - "**/**archery**"
  - "**/**crossbows**"

"Items: Armor / Clothing":
  - "**/armor/**/*"

"Items: Battery / UPS":
  - "**/battery**"

"Items: Containers":
  - "**/**containers**"
  - "**/**storage**"
  - "**/**sheath**"
  - "**/**holster**"
  - "**/**ammo_pouch**"
  - "**/**bandolier**"
  - "src/item_pocket.*"
  - "src/item_contents.*"
  - "tests/item_pocket_test.*"

"Items: Magazines":
  - "**/magazine/**/*"

"Appliance/Power Grid":
  - "**/appliance**"

"Monsters":
  - "**/monsters/**/*"

"Mutations / Traits / Professions/ Hobbies":
  - "**/professions.json"
  - "**mutations**"
  - "**hobbies**"

"Lore":
  - data/json/npcs/BG_trait_groups.json
  - data/json/npcs/Personality_trait_groups.json
  - data/json/npcs/personality_traits.json
  - "**/Backgrounds/**/*"
  - "**/snippets/**/*"

"Limbs":
  - "src/bodypart.*"
  - "data/json/limb_scores.json"

"Spawn":
  - "**/itemgroups/**/*"
  - "**/monstergroups/**/*"

"Bionics":
  - "**/bionics.*"

"Map / Mapgen":
  - "**/mapgen/**/*"
  - "**/mapgen_palettes/**/*"
  - "**/overmap/**/*"
  - "**/overmap**"

"Martial Arts":
  - "**/martialarts**"

"Player Faction Base / Camp":
  - "src/basecamp.*"
  - "src/faction_camp.*"
  - data/json/mapgen/basecamps/**/*

"Items: Ammo / Guns":
  - "**/gun/**/*"
  - "**/ammo/**/*"

"Items: Gunmod / Toolmod":
  - "**/gunmod**"
  - "**/toolmod**"

"SDL: Tiles / Sound":
  - gfx/**/*
  - sound/**/*

"Scenarios":
  - "**/scenario**"
  - "**/**start_location**"

"Translation":
  - lang/**/*
  - "src/translation.*"

"Mods: Aftershock":
  - data/mods/Aftershock/**/*
  - data/mods/aftershock_exoplanet/**/*

"Mods: Dark Days of the Dead":
  - data/mods/classic_zombies/**/*

"Mods: Dark Skies":
  - data/mods/Dark-Skies-Above/**/*

"Mods: Desert Region":
  - data/mods/desert_region/**/*

"Mods: DinoMod":
  - data/mods/DinoMod/**/*

"Mods: Generic Guns":
  - data/mods/Generic_Guns/**/*

"Mods: MA":
  - data/mods/MA/**/*

"Mods: MMA":
  - data/mods/MMA/**/*

"Mods: Magiclysm":
  - data/mods/Magiclysm/**/*

"Mods: Innawood ðŸŒ²":
  - data/mods/innawood/**/*

"Mods: No Hope":
  - data/mods/No_Hope/**/*

"Mods: TropiCataclysm ðŸŒ´":
  - data/mods/TropiCataclysm/**/*

"Mods: Tamable Wildlife":
  - data/mods/Tamable_Wildlife/**/*

"Mods: Xedra Evolved":
  - data/mods/Xedra_Evolved/**/*

"Mods":
  - any: [ 'data/mods/**/*' ]
    all: [ '!data/mods/TEST_DATA/**/*' ]

"Mechanics: Enchantments / Spells":
  - "**/enchantments**"
  - "**/spells**"

"Mechanics: Weather":
  - "**/weather**"

"Vehicles":
  - "**/vehicle**"

Revert "Infrastructure for custom JSON events."
  src/event.cpp
  src/event.h
Labels: [C++]

Try to fix density
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/spice.json
Labels: [JSON]

remove beautiful from ELFA, make Beautful2 postthresh Alpha
  data/json/mutations/mutations.json
Labels: [JSON]

Create sidebar-mobile.json
  data/json/ui/sidebar-mobile.json
Labels: [JSON], Info / User Interface

Immobile Monsters Can't Wander
  src/monster.cpp
Labels: [C++]

Fancy gunmods and adding them to item groups (#59404)
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/underbarrel.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Code: Tooling, Spawn, Items: Gunmod / Toolmod

Mongroup: subgroup spawning fixes (#59281)
  data/mods/TEST_DATA/monstergroups.json
  src/explosion.cpp
  src/map.cpp
  src/map_field.cpp
  src/mapgen.cpp
  src/mongroup.cpp
  src/mongroup.h
  src/player_hardcoded_effects.cpp
  tests/mongroup_test.cpp
Labels: [C++], [JSON], Code: Tests

This is take two. I know for a fact this is very broken, though.
  src/event.cpp
  src/event.h
  src/npctalk.cpp
Labels: [C++]

Map extra, Mongroups
  data/json/field_type.json
  data/json/mapgen/map_extras/spider.json
  data/json/mapgen/nested/aux_nested.json
  data/json/monstergroups/bugs.json
  data/json/monstergroups/misc.json
  data/json/monsters/insect_spider.json
  data/json/overmap/map_extras.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/regional_map_settings.json
  src/map_extras.cpp
Labels: [C++], [JSON], Monsters, Spawn, Map / Mapgen

Tests, yeet rare
  data/json/itemgroups/main.json
  data/json/monsters/insect_spider.json
  src/map_extras.cpp
Labels: [C++], [JSON], Monsters, Spawn

Tweak
  data/json/monstergroups/bugs.json
  data/json/monsters/insect_spider.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Code: Tooling, Monsters, Spawn

Monsters
  data/json/effects.json
  data/json/monster_factions.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/bugs.json
  data/json/monsters/insect_spider.json
  data/json/obsolete.json
Labels: [JSON], Monsters, Spawn, Mechanics: Enchantments / Spells

Yeet, yeet, yeet the jank
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/mapgen/bugs/spider_pit.json
  data/json/mapgen/map_extras/spider.json
Labels: [JSON], Spawn, Map / Mapgen

Update sidebar-mobile.json
  data/json/ui/sidebar-mobile.json
Labels: [JSON], Info / User Interface

Astyle fixes
  object_creator/creator_main.cpp
  object_creator/creator_main_window.cpp
  object_creator/dual_list_box.cpp
  object_creator/spell_window.cpp
  src/monster.cpp
Labels: [C++]

I got events to send on variables changing.
  data/json/portal_storm_effect_on_condition.json
  data/json/statistics.json
  src/npctalk.cpp
Labels: [C++], [JSON], Game: Achievements / Conducts / Scores, EOC: Effects On Condition

no pistols for cops
  data/mods/innawood/itemgroups/guns.json
Labels: [JSON], Spawn, Mods: Innawood ðŸŒ²

actually add the debug tools
  data/json/items/tool/debug_tools.json
Labels: [JSON]

JSON changes
  data/json/achievements.json
  data/json/statistics.json
Labels: [JSON], Game: Achievements / Conducts / Scores

Harverst
  data/json/harvest.json
  data/json/monsters/insect_spider.json
  data/json/snippets/mutant_anatomy.json
Labels: [JSON], Monsters, Lore

Add IPOK description (#59418)
  data/json/items/containers.json
Labels: [JSON], Items: Containers

[DinoMod] thescelosaurus (#59405)
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/mapgen/map_extras/nest_thescelosaurus.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/recipes/food_egg.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/requirements/cooking_components.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Code: Tooling, Crafting / Construction / Recipes, Items: Food / Vitamins, Monsters, Spawn, Map / Mapgen, Mods: DinoMod

Typo
  data/json/snippets/mutant_anatomy.json
Labels: [JSON], Lore

Adjust Weight/Volume of Ballistic Armor Plates (#59284)
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/bespoke_armor/custom_overcoats.json
Labels: [JSON], Items: Armor / Clothing

Astyled
  src/event.h
  src/npctalk.cpp
Labels: [C++]

JSON formatted
  data/json/portal_storm_effect_on_condition.json
  data/json/statistics.json
Labels: [JSON], Game: Achievements / Conducts / Scores, EOC: Effects On Condition

no group null
  data/mods/innawood/itemgroups/guns.json
Labels: [JSON], Spawn, Mods: Innawood ðŸŒ²

Alter the implementation to layered thin plates
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

rework into layers of dermal plates, adjust conflicts
  data/json/bionics.json
Labels: [JSON], Bionics

clarify descriptions
  data/json/items/bionics.json
Labels: [JSON], Bionics

fixes
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

lint
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

change terrain traps to terrain
  data/json/mapgen/lmoe.json
Labels: [JSON], Map / Mapgen

lint
  data/json/bionics.json
Labels: [JSON], Bionics

lint
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

Update ws_survivor_bunker.json
  data/json/mapgen/ws_survivor_bunker.json
Labels: [JSON], Map / Mapgen

Update ws_survivor_camp.json
  data/json/mapgen/ws_survivor_camp.json
Labels: [JSON], Map / Mapgen

coverage
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing

Update multi_unit_housing.json
  data/json/mapgen/house/multi_unit_housing.json
Labels: [JSON], Map / Mapgen

hopefully fix coverage failures
  data/json/items/armor/integrated.json
Labels: [JSON], Items: Armor / Clothing
