Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2018-06, with the labels that each got.

#23918 Fix description of Mannwurst
  data/json/items/comestibles.json
Labels: [JSON]

#23853 Additional turret graphical layering fix for blazemod
  data/mods/blazemod/blaze_blob_parts.json
Labels: Mods, SDL: Tiles / Sound, Vehicles

#23920 Update a few more recipes with requirements
  data/json/recipes/recipe_food.json
Labels: [JSON]

#23900 Don't discard messages after player dies.
  src/game.cpp
  src/messages.cpp
  src/messages.h
  tests/fake_messages.cpp
Labels: [C++]

#23807 Rebalance s'mores nutritional value and crafting
  data/json/items/comestibles.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#23873 Add a class to encapsulate references to a specific vehicle part.
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/cata_tiles.cpp
  src/crafting.cpp
  src/game.cpp
  src/inventory.cpp
  src/inventory_ui.cpp
  src/map.cpp
  src/npcmove.cpp
  src/pathfinding.cpp
  src/pickup.cpp
  src/player.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vpart_position.h
  src/vpart_reference.h
  tests/visitable_remove.cpp
Labels: Code: Astyle / Optimization, [C++]

#23891 Use available space for popup menu (e.g. keybindings)
  src/game.cpp
  src/input.cpp
  src/input.h
  src/main_menu.cpp
Labels: Info / User Interface

#23923 Fixed Rooter mutants not feeding on soil while wearing gear on ankles
  src/player.cpp
Labels: <Bugfix>, Mutations / Traits, [C++]

#23791 [DONE] Subway tag for mapgen
  data/json/overmap_connections.json
  data/json/overmap_special_locations.json
  src/mapgen_functions.cpp
  src/omdata.h
  src/overmap.cpp
Labels: Mapgen, [C++], [JSON]

#23725 Forward grip for KSG and other shotguns with pump-rail
  data/json/items/classes/gun.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/underbarrel.json
  doc/JSON_FLAGS.md
  src/item.cpp
Labels: <Enhancement / Feature>, Gunmod / Toolmod, [JSON]

#23988 Fix some typos in the changelog
  data/changelog.txt
Labels: <Documentation>, [Markdown]

#23984 i18n: Dynamically localize burn messages
  src/field.cpp
Labels: <Bugfix>, Translation

#23972 Added bookcases to hospital
  data/json/mapgen/hospital/hospital.json
  data/json/mapgen_palettes/hospital.json
Labels: <Bugfix>, Mapgen, Missions, Spawn, [JSON]

#23998 Make more items remote activatable
  data/json/items/grenades.json
  data/json/items/tool/lighting.json
Labels: Items / Item Actions, [JSON]

#23774 [DONE] Carrion monster spawning
  data/json/items/comestibles.json
  data/json/items/comestibles/carnivore.json
  data/json/monstergroups.json
  data/json/monsters.json
  src/item_factory.cpp
  src/itype.h
  src/map.cpp
  src/map.h
  src/options.cpp
Labels: Monsters, Spawn, [C++], [JSON]

#23968 Test and fix zapback
  data/json/items/fake.json
  src/creature.cpp
  src/game.cpp
  src/item_factory.cpp
  src/mondefense.cpp
  src/monster.cpp
  src/npc.cpp
  tests/mondefense_test.cpp
Labels: <Bugfix>

#22877 [RDY] Bionics installing overhaul
  data/json/effects.json
  data/json/furniture.json
  data/json/items/bionics.json
  data/json/mapgen/hospital/hospital.json
  data/json/mapgen_palettes/hospital.json
  src/character.cpp
  src/iexamine.cpp
  src/iexamine.h
Labels: (P3 - Medium), Bionics, Game: Balance, [C++], [JSON]

#23729 Zombie burner
  data/json/monster_drops.json
  data/json/monstergroups.json
  data/json/monsters.json
  data/mods/No_Explosive_Zombies/modinfo.json
  doc/JSON_FLAGS.md
  src/mapgen.cpp
  src/mondeath.cpp
  src/mondeath.h
  src/monmove.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: Monsters, [C++], [JSON]

#24003 Added missing terrain in bank mapgen
  data/json/mapgen/bank.json
Labels: Mapgen, [JSON]

#23983 [CR] Fix crash when NPC or player is on fire
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/monster.cpp
  src/monster.h
  src/player.cpp
Labels: <Bugfix>, NPC, [C++]

#24005 Time to fix unbalanced weapons, like SPEAR_KNIFE
  data/json/items/tools.json
Labels: Game: Balance, Items / Item Actions, Melee, [JSON]

#24001 Bugfixes for dairy farms.
  data/json/overmap_specials.json
  src/monexamine.cpp
Labels: <Bugfix>, Food / Vitamins, Game: Balance

#23995 Window resize fixes
  src/cursesport.h
  src/game.cpp
  src/game.h
  src/game_ui.cpp
  src/main_menu.cpp
  src/main_menu.h
  src/options.cpp
  src/overmap.cpp
  src/sdltiles.cpp
  src/wincurse.cpp
Labels: <Bugfix>, [C++]

#24011 Drop a few bricks from brick walls - see #21431
  data/json/terrain.json
Labels: Fields / Furniture / Terrain / Traps, [JSON]

#23997 Add bike basket recipe, and overhaul baskets in general - fix #23949
  data/json/items/vehicle_parts.json
  data/json/recipes/recipe_others.json
  data/json/requirements/toolsets.json
  data/json/vehicle_parts.json
Labels: Crafting / Construction / Recipes, Items / Item Actions, Vehicles, [JSON]

#24016 Milk sheep
  data/json/item_actions.json
  data/json/items/tools.json
  data/json/monsters.json
  doc/JSON_FLAGS.md
  src/item_factory.cpp
  src/iuse.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: Items / Item Actions, Monsters, [C++], [JSON]

#24008 Allowed use of CBMs in the pickup range
  src/iexamine.cpp
Labels: <Enhancement / Feature>, Bionics, [C++]

#23999 Display actual dodge skill after encumbrance penalties.
  src/player_display.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#23833 [DONE] Carrion monster growing and reproduction
  src/game.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
  src/savegame_json.cpp
Labels: Monsters, Spawn, [C++], [JSON]

#24025 Clandestine autodoc basement
  data/json/mapgen/basement/basement_bionic.json
  data/json/mapgen_palettes/basement.json
Labels: Mapgen, [JSON]

#23979 Fungal towers (etc.) butcher yelds
  data/json/harvest.json
  data/json/monsters.json
Labels: Monsters, [JSON]

#23662 Add disposable filters for gas masks (now with iuse).
  data/json/item_actions.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/armor.json
  data/json/items/tool_armor.json
  data/json/recipes/armor/other.json
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/iuse.cpp
  src/iuse.h
Labels: Items / Item Actions, [C++], [JSON]

#23673 Neutral trait category for new character
  src/newcharacter.cpp
Labels: Info / User Interface, Mutations / Traits, [C++]

#24004 Allow stone adze to split trunks into planks
  data/json/construction.json
Labels: Items / Item Actions, [JSON]

#23788 Sort object files to link them in reproducible order
  Makefile
Labels: Code: Build

#24038 Fix sidebar not refreshing when zooming in or out
  src/sdltiles.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#23975 Reduce occurrences of asthma attacks during sleep.
  src/player.cpp
Labels: <Suggestion / Discussion>, Game: Balance, Mutations / Traits

#24036 Improved generation of house basements
  data/json/mapgen/basement/basement_bionic.json
  data/json/overmap_terrain.json
  data/json/regional_map_settings.json
  data/json/scenarios/scenarios.json
  data/json/start_locations.json
  data/json/test_regions.json
  data/mods/BrightNights/regional_map_settings.json
  data/mods/alt_map_key/overmap_terrain.json
  src/mapgen_functions.cpp
  src/overmap.cpp
  src/overmap.h
Labels: <Enhancement / Feature>, Mapgen, [C++], [JSON]

#24047 Autodoc now can uninstall bionics
  data/json/items/bionics.json
  src/iexamine.cpp
Labels: <Enhancement / Feature>, Bionics

#23832 Simplified Nutrition blacklists calcium tablets and multivitamins
  data/mods/novitamins/modinfo.json
Labels: Food / Vitamins, Mods

#24032 Added M10 revolver and spawns for it to Extended Realistic Guns, and added .38 speedloader override
  data/mods/realguns/gun.json
  data/mods/realguns/item_groups.json
  data/mods/realguns/magazine.json
Labels: Gunmod / Toolmod, Mods, Ranged, [JSON]

#23955 simple test for no grab = no bites
  src/mattack_actors.cpp
Labels: Game: Balance, Melee, Monsters, [C++]

#24046 Add Descriptions for Weapon Item Flags
  data/json/flags.json
  doc/JSON_FLAGS.md
Labels: Info / User Interface, Melee, [JSON]

#24042 Option to enable/disable all sounds/music.
  src/options.cpp
  src/sdltiles.cpp
Labels: <Enhancement / Feature>, SDL: Tiles / Sound, [C++]

#24062 More sensible anesthesia (though still abstracted) when using autodoc
  data/json/effects.json
  src/iexamine.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
Labels: <Enhancement / Feature>, Bionics, Effects / Skills / Stats, [C++], [JSON]

#23930 [DONE] Carrion JSONs
  data/json/items/biosignatures.json
  data/json/items/comestibles.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/seed.json
  data/json/materials.json
  data/json/monstergroups.json
  data/json/monstergroups_egg.json
  data/json/monsters.json
  data/json/monsters/bird.json
  data/json/monsters/fish.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/triffid.json
  data/json/recipes/food/dry.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/requirements/cooking_components.json
Labels: <Enhancement / Feature>, Monsters, Spawn, [JSON]

#24026 AStyle (2018-06-16)
  astyle_blacklist
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_software_kitten.cpp
  src/iuse_software_minesweeper.cpp
Labels: Code: Astyle / Optimization, [C++]

#24069 Craft rolling papers from one sheet of paper
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#24071 Autodoc now requires an actual anesthesia to work
  data/json/item_groups.json
  data/json/items/generic.json
  data/json/mapgen/basement/basement_bionic.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/veterinarian.json
  doc/JSON_FLAGS.md
  src/bionics.cpp
  src/iexamine.cpp
  src/player.h
Labels: <Enhancement / Feature>, Bionics, [C++], [JSON]

#24076 Fix json data regression
  data/json/monsters/mammal.json
Labels: <Bugfix>, Monsters, [JSON]

#24073 Underground temperature and food rot calculation overhaul.
  lua/class_definitions.lua
  src/bionics.cpp
  src/game.cpp
  src/game.h
  src/iuse.cpp
  src/mission_companion.cpp
  src/player.cpp
  src/player_display.cpp
  src/vehicle.cpp
  src/weather.cpp
Labels: <Enhancement / Feature>, Game: Balance, [C++]

#24088 Add WATER_FRIENDLY flag to canteens, hip flasks, and waterskins
  data/json/items/containers.json
Labels: Items / Item Actions, [JSON]

#23808 Add support for symlinks in directory traversal
  src/filesystem.cpp
Labels: Mods, OS: Linux

#24014 Time to use FRAGILE_MELEE: round two, SPEAR_FORKED
  data/json/items/melee.json
Labels: Game: Balance, Melee, [JSON]

#23801 Initial shotgun rebalance
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/shot.json
  data/json/items/gun/20x66mm.json
  data/json/items/gun/blunderbuss.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/handloaded_bullets.json
  data/json/items/ranged.json
  data/mods/realguns/ammo.json
  data/mods/realguns/gun.json
  data/mods/realguns/gunmod.json
  tests/ranged_balance.cpp
Labels: Code: Tests, Ranged, [C++], [JSON]

#24101 Linted recipe_weapon.json Pt. 2
  data/json/recipes/recipe_weapon.json
Labels: Code: Astyle / Optimization, Crafting / Construction / Recipes, [JSON]

#24091 Added two new variants of the basement of the military bunker
  data/json/mapgen/bunker.json
  data/json/mapgen_palettes/basement.json
Labels: <Enhancement / Feature>, Mapgen, [JSON]

#24082 Add oversize flag to watches and hip flask
  data/json/items/armor.json
  data/json/items/containers.json
  data/json/items/tool_armor.json
Labels: Items / Item Actions, [JSON]

#24093 Show nearby hordes on minimap
  src/game.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#24085 Fixes some anesthetic bugs, and makes its description more accurate
  data/json/items/generic.json
  src/player_hardcoded_effects.cpp
  src/sounds.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Items / Item Actions, [C++], [JSON]

#24087 Mutation social modifiers moved to JSON
  data/json/mutations.json
  src/character.cpp
  src/character.h
  src/mutation.h
  src/mutation_data.cpp
  src/npctalk.cpp
Labels: Mutations / Traits, [C++], [JSON]

#24064 Move default hunger, thirst, fatigue and healing rates to json.
  data/json/game_balance.json
  data/json/mutations.json
  src/character.cpp
  src/consumption.cpp
  src/player.cpp
Labels: <Enhancement / Feature>, Mods, [C++], [JSON]

#24111 Mapgen json cleanup
  data/json/mapgen/antique_store.json
  data/json/mapgen/arcade.json
  data/json/mapgen/bowling_alley.json
  data/json/mapgen/gardening_store.json
  data/json/mapgen/gym.json
  data/json/mapgen/homeimprovement.json
  data/json/mapgen/jewel_store.json
  data/json/mapgen/meth_lab.json
  data/json/mapgen/museum.json
  data/json/mapgen/pharmacy_1.json
  data/json/mapgen/pharmacy_1_open.json
  data/json/mapgen/s_gas_rural.json
Labels: Mapgen, [JSON]

#24104 Redraw terrain in inventory selector window
  src/inventory_ui.cpp
Labels: SDL: Tiles / Sound, [C++]

#24028 FRAGILE_MELEE, continued.
  src/melee.cpp
Labels: Game: Balance, Melee, [C++], [JSON]

#24115 Reintroduce SLOWHEALER2 and SLOWHEALER3
  data/json/mutations.json
Labels: Mutations / Traits, [JSON]

#24061 Optimized remaining AUTO_WALL_SYMBOL terrains
  data/json/construction.json
  data/json/terrain.json
  src/activity_handlers.cpp
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/mission_companion.cpp
  src/mission_start.cpp
  src/sounds.cpp
Labels: Code: Astyle / Optimization, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#24006 Added configuration file for AStyleExtension
  msvc-full-features/AStyleExtension-Cataclysm-DDA.cfg
Labels: Code: Astyle / Optimization, OS: Windows, Organization

#23986 [Rdy] [CR] Immortal food overhaul - long lasting but rotting food.
  data/json/items/comestibles.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/egg.json
Labels: <Suggestion / Discussion>, Food / Vitamins, Items / Item Actions

#24059 Edit Recipes Involving Heavy Sticks and add Long Sticks. Part 1.
  data/json/items/melee.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_weapon.json
  data/json/terrain.json
  src/activity_handlers.cpp
Labels: Crafting / Construction / Recipes, Game: Balance, Items / Item Actions, [JSON]

#24136 Vending items now will spawn only inside of motel's vending machines
  data/json/mapgen/motel.json
Labels: <Bugfix>, Items / Item Actions, Mapgen, Spawn, [JSON]

#24123 Added some hints to the players on how to install bionics
  data/json/flags.json
  data/json/hints.json
  data/json/items/bionics.json
  data/json/snippets.json
  src/bionics.cpp
  src/help.cpp
Labels: <Enhancement / Feature>, Bionics, Info / User Interface

#24027 [Rdy] [CR] Solar backpacks
  data/json/flags.json
  data/json/item_actions.json
  data/json/item_groups.json
  data/json/items/tool_armor.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_electronics.json
  doc/JSON_FLAGS.md
  src/bionics.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/player.cpp
Labels: <Bugfix>, Battery, Bionics, Items / Item Actions, [C++], [JSON]

#24105 Construction Menu UI enhancements
  data/json/furniture.json
  data/json/terrain.json
  src/construction.cpp
Labels: Crafting / Construction / Recipes, Info / User Interface, [C++], [JSON]

#24103 Translate faction strings
  src/faction.cpp
Labels: Translation, [C++]
