Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2018-05, with the labels that each got.

#23603 [CR] Fixed issue #22789.
  .gitignore
  src/crafting.cpp
  src/veh_utils.cpp
Labels: (P2 - High), <Bugfix>, Crafting / Construction / Recipes, [C++]

#23581 Add can sealer recipe.
  data/json/items/tools.json
  data/json/recipes/other/tool.json
Labels: Items / Item Actions, [JSON]

#23546 [CR] Fixed items with low damage showing as undamaged.
  src/item.cpp
  src/item.h
Labels: Info / User Interface, Items / Item Actions, [C++]

#23588 Washboard Batch Washing
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/iuse.cpp
Labels: <Enhancement / Feature>, Items / Item Actions

#23643 Remove move cost from counters
  data/json/techniques.json
Labels: Game: Balance, [JSON]

#23661 Add myself to signoff
  SIGNOFF
Labels: Organization, [Markdown]

#23660 Remove 'DISPERSION_PER_GUN_DAMAGE' from translations
  lang/extract_json_strings.py
  lang/po/cataclysm-dda.pot
Labels: <Bugfix>, Translation

#23650 Added THIN_OBSTACLE to more appropriate terrains
  data/json/terrain.json
Labels: Fields / Furniture / Terrain / Traps, Game: Balance, [JSON]

#23664 Simplify boolean conditions
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/assign.h
  src/creature.cpp
  src/editmap.cpp
  src/item.cpp
  src/iuse_software.cpp
  src/iuse_software_kitten.cpp
  src/map.cpp
  src/mapgen_functions.cpp
  src/mission_start.cpp
  src/monmove.cpp
  src/options.cpp
  src/output.cpp
  src/player.cpp
  src/recipe.cpp
  src/savegame_legacy.cpp
  src/sdltiles.cpp
  src/string_input_popup.cpp
  src/ui.cpp
  src/vehicle.cpp
  src/wish.cpp
Labels: Code: Astyle / Optimization, [C++]

#23667 Fix for aux flamethrower not being reloadable
  data/json/items/gunmod/underbarrel.json
Labels: <Bugfix>, Mods, [JSON]

#23626 Eliminate use of uninitialized variable
  src/character.cpp
Labels: Code: Astyle / Optimization, [C++]

#23648 Fix for unarmed still using bash damage
  src/item.cpp
  src/item.h
  src/melee.cpp
  src/player.h
Labels: <Bugfix>, [C++]

#23659 Added some of mugling's suppressor buffs and buffed compact_suppressor
  data/json/items/gunmod/muzzle.json
Labels: Game: Balance, Items / Item Actions, [JSON]

#23674 Added a default keybinding for the Action Menu
  data/raw/keybindings.json
Labels: Controls, [JSON]

#23676 Destroy attached gunmod on weapon destruction
  src/activity_handlers.cpp
  src/melee.cpp
Labels: <Bugfix>, Gunmod / Toolmod

#23600 Framework to allow burnt items to drop byproducts on destruction
  data/json/items/chemicals_and_resources.json
  data/json/materials.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/requirements/materials.json
  src/field.cpp
  src/map.h
  src/material.cpp
  src/material.h
Labels: <Enhancement / Feature>, Items / Item Actions, [C++], [JSON]

#23669 Include detailed layer penalties in encumbrance calculations/cache
  src/character.cpp
  src/character.h
Labels: <Enhancement / Feature>, Effects / Skills / Stats, Items / Item Actions, [C++]

#23684 Added stripper clip for SKS
  data/json/itemgroups/magazines.json
  data/json/items/gun/762.json
  data/json/items/magazine/762.json
  data/json/recipes/weapon/magazines.json
Labels: Magazines, [JSON]

#23698 Astyle regression fix
  src/action.cpp
  src/ballistics.cpp
  src/character.h
  src/gates.cpp
  src/optional.h
  src/vpart_position.h
Labels: (P2 - High), Code: Astyle / Optimization

#23658 Rebalanced handloading
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
Labels: Ammo, Game: Balance, [JSON]

#23691 Destroy irremovable gunmods on gun destruction by explosion
  src/map.cpp
Labels: <Bugfix>, Gunmod / Toolmod, [C++]

#23703 Add documentation for TRACKED flag for vehicles
  doc/JSON_FLAGS.md
Labels: <Documentation>, [Markdown]

#23678 Removed restriction to blood draw kit so centrifuge can work with any container with blood
  src/computer.cpp
Labels: <Enhancement / Feature>, Missions

#23694 Disallow installing two turrets on one vehicle tile
  src/veh_interact.cpp
Labels: <Bugfix>, Vehicles, [C++]

#23702 fix "Automatic vehicle turrets 'attempted to fire zero or negative shots' "
  src/turret.cpp
Labels: <Bugfix>, Vehicles

#23709 Add clips to No Antique Firearms mod blacklist
  data/mods/No_Old_guns/modinfo.json
Labels: Magazines, Mods, [JSON]

#23701 Update washing machine to be able to use clean water.
  src/vehicle.cpp
Labels: <Enhancement / Feature>, Vehicles

#23683 Resized .223 and 5x50 ammunition
  data/json/items/ammo/223.json
  data/json/items/ammo/5x50.json
  data/json/items/generic/casing.json
  data/json/items/magazine/5x50.json
Labels: Ammo, Game: Balance, [JSON]

#23281 Add the ability to soak rags and cotton balls on disinfectant.
  data/json/items/comestibles/med.json
  data/json/recipes/other/medical.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items / Item Actions, [JSON]

#23334 Heavy Duty Stow Boards
  data/json/vehicle_parts.json
  data/json/vehicleparts/boards.json
Labels: <Bugfix>, Vehicles, [JSON]

#23708 Holographic Decoy cloak
  data/json/item_actions.json
  data/json/item_groups.json
  data/json/items/tool_armor.json
  data/json/monsters.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: <Enhancement / Feature>, Items / Item Actions, Monsters, [JSON]

#23718 Rebalanced Holsters & Pouches
  data/json/items/armor.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/holster.json
  data/json/items/tools.json
  data/json/recipes/armor/storage.json
Labels: Game: Balance, Items / Item Actions, [JSON]

#23721 Inform player if they are capable of learning a recipe from disassembly.
  src/crafting.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#23710 Add gcc 7 and 8 to build matrix.
  .travis.yml
Labels: Code: Build

#23666 Snapcraft Build recipe added
  .gitignore
  snapcraft.yaml
Labels: Code: Build, OS: Linux

#23687 Anvil quality expansion pt. 2
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/mods/Medieval_Stuff/recipe_armor.json
  data/mods/Medieval_Stuff/recipe_shields.json
  data/mods/Medieval_Stuff/recipe_weapons.json
Labels: Crafting / Construction / Recipes, [JSON]

#23690 Changed DELETE_WORLD to WORLD_END.
  src/game.cpp
  src/options.cpp
  src/options.h
  src/worldfactory.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#23720 Ranged weapon rebalance
  data/json/items/ammo/shot.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/handloaded_bullets.json
  data/json/ranged_balance.json
  src/character.cpp
  src/item.cpp
  src/itype.h
  src/ranged.cpp
  tests/ranged_balance.cpp
Labels: Aiming, Game: Balance, [C++]

#23741 Reduced Necropolis zombie spawns
  data/json/mapgen/necropolis/necropolisB1.json
  data/json/mapgen/necropolis/necropolisB2.json
  data/json/mapgen/necropolis/necropolisB3.json
Labels: Game: Balance, Monsters, Spawn

#23743 Fix ratio for lye to lye powder
  data/json/recipes/recipe_medsandchemicals.json
Labels: Crafting / Construction / Recipes, Game: Balance

#23763 40mm automatics: Rebalanced around 1 second of automatic fire
  data/json/items/gun/40mm.json
Labels: Game: Balance, [JSON]

#23765 Fixed infinite disinfectant soaked rags and cotton balls
  data/json/items/comestibles/med.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#23764 Poison does not occur when armor blocks an attack
  src/monster.cpp
Labels: <Bugfix>, [C++]

#23758 Fix some typos
  data/json/furniture.json
  data/json/items/armor.json
  data/json/items/gunmod/sights.json
  data/json/items/tools.json
  data/json/recipes/other/medical.json
  data/json/recipes/weapon/mods.json
  data/json/vehicles/utility.json
Labels: Translation, [JSON]

#23756 Turret tile layering fix
  data/json/vehicle_parts.json
  data/json/vehicleparts/turret.json
  data/mods/Tanks/parts.json
  data/mods/blazemod/blaze_weapons_parts.json
Labels: <Bugfix>, Mods, SDL: Tiles / Sound, [JSON]

#23760 Fix Tiles build regression
  src/sdltiles.cpp
Labels: (P2 - High), <Bugfix>, Code: Build, OS: Linux, OS: Windows, OS: macOS

#23754 Fixed legacy sight_dispersion in mods
  data/mods/EW_Pack/ew_weapons.json
  data/mods/Generic_Guns/gg_guns.json
  data/mods/Tanks/items.json
Labels: Game: Balance, Mods, [JSON]

#23745 Kill count for the mission to kill monster species now reads data from the json
  data/json/npcs/missiondef.json
  src/mission.cpp
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
Labels: Missions, [C++], [JSON]

#23784 Disable Religious Texts
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/house/house_quiverfull.json
  data/json/mapgen/motel.json
  data/json/mapgen/parks_recreation/derelict_property.json
  data/json/mapgen/parks_recreation/small_storage_units.json
  data/mods/No_Religious_Books/modinfo.json
  data/mods/Z-Level_Buildings/2fmotel.json
Labels: <Bugfix>, Mods, [JSON]

#23779 Adds pet FOOD flag for monsters and taming
  data/json/monsters.json
  doc/JSON_FLAGS.md
  src/iuse.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: Monsters, [C++], [JSON]

#23783 Removed artificial +800 dispersion from shotgun ammo
  data/json/items/ammo/shot.json
  data/json/items/handloaded_bullets.json
Labels: Items / Item Actions, [JSON]

#23794 Dog Whistle Affects More Dogs
  src/iuse.cpp
Labels: Monsters, [C++]

#23795 Fixed rooted mutants not slowing down when wearing footwear
  src/player.cpp
Labels: <Bugfix>, Mutations / Traits

#23798 remove redundant fabrication requirement from jerrypack
  data/json/recipes/armor/storage.json
Labels: Crafting / Construction / Recipes, [JSON]

#23805 Fixes duplicate punctuation in melee technique attack messages, plus some typos
  data/json/techniques.json
Labels: Translation, [JSON]

#23802 Battery capacity is now shown in vehicle part installation menu
  src/veh_interact.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Vehicles

#23816 Fix wording for 'fled the riots'
  data/json/scenarios/scenarios.json
Labels: Translation, [JSON]

#23812 Increased dispersion per weapon malfuntion value to 30
  data/json/ranged_balance.json
Labels: Game: Balance, Ranged, [JSON]

#23803 Turret graphical layering fix for blazemod
  data/mods/blazemod/blaze_autoweapons_parts.json
  data/mods/blazemod/blaze_weapons_parts.json
Labels: Mods, Vehicles, [JSON]

#23809 Fix & rebalance disinfectant soaked rags & balls
  data/json/items/comestibles/med.json
  data/json/recipes/other/medical.json
Labels: Crafting / Construction / Recipes, [JSON]

#23776 Adjust feedback from aim interface.
  src/ranged.cpp
Labels: Info / User Interface, [C++]

#23787 Fix mdoc warnings on manpages
  doc/cataclysm-tiles.6
  doc/cataclysm.6
Labels: <Documentation>, OS: Linux

#23789 Refactor map extras
  src/map_extras.cpp
  src/map_extras.h
  src/mapgen.cpp
  src/mapgen.h
  src/overmap.cpp
  src/scenario.cpp
  src/start_location.cpp
Labels: Code: Astyle / Optimization, [C++]

#23822 Fixed crash when NPC is trying to consume non-existent contents of the container
  src/npctalk.cpp
Labels: <Bugfix>, NPC

#23796 Mundane Zombies Mod Revival
  data/mods/Mundane_Zombies/modinfo.json
  data/mods/Mundane_Zombies/z2keep.txt
Labels: Mods, [JSON]

#23846 Fix some more typos
  data/json/faults.json
  data/json/items/armor.json
  data/json/items/containers.json
  data/json/items/melee.json
  data/json/items/tools.json
  data/json/martialarts.json
  data/json/monsters/fish.json
  data/json/npcs/missiondef.json
  data/mods/BrightNights/gun.json
Labels: Translation, [JSON]

#23845 Allowed wearing unfitted chainmail armor with unencumbered head
  src/player.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#23842 Refitted clothing disassembles into refitted components
  src/crafting.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#23840 Knit items no longer require knitting needles to disassemble
  src/requirements.cpp
Labels: Crafting / Construction / Recipes

#23836 Autoattack: Wait a turn if there is nothing in range.
  src/game.cpp
Labels: <Enhancement / Feature>, Controls

#23844 Move class item_category into separate header and source file
  src/advanced_inv.cpp
  src/game.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item.cpp
  src/item.h
  src/item_category.cpp
  src/item_category.h
  src/item_factory.cpp
  src/item_search.cpp
  src/map_item_stack.cpp
Labels: Code: Astyle / Optimization, [C++]

#23769 Read data for monster kill goal from json
  data/json/npcs/missiondef.json
  src/mission.cpp
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
Labels: Monsters, [C++], [JSON]

#23848 Flipped the doc office facing
  data/json/mapgen/office_doctor.json
Labels: <Bugfix>, Mapgen, [JSON]

#23856 Remove unused includes of "item_factory.h"
  src/game.cpp
  src/mapgen.cpp
  src/mapgen_functions.cpp
Labels: Code: Astyle / Optimization, [C++]

#23882 Tortilla chips
  data/json/items/comestibles.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Items / Item Actions

#23711 Convert more code to use new time classes
  lua/class_definitions.lua
  src/addiction.cpp
  src/calendar.cpp
  src/calendar.h
  src/catalua.cpp
  src/catalua.h
  src/construction.cpp
  src/consumption.cpp
  src/crafting_gui.cpp
  src/dialogue.h
  src/game.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/mapgen.h
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/mission.cpp
  src/mission.h
  src/mission_companion.cpp
  src/missiondef.cpp
  src/monexamine.cpp
  src/mongroup.cpp
  src/mongroup.h
  src/monster.cpp
  src/monster.h
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/npc.cpp
  src/npctalk.cpp
  src/overmap.cpp
  src/overmap_types.h
  src/player.cpp
  src/player.h
  src/player_display.cpp
  src/player_hardcoded_effects.cpp
  src/pldata.h
  src/savegame.cpp
  src/savegame_json.cpp
  src/tutorial.cpp
  src/veh_type.h
  src/veh_utils.cpp
  src/vitamin.cpp
  src/vitamin.h
  src/weather.cpp
  tests/health_test.cpp
  tests/npc_test.cpp
  tests/overmap_test.cpp
Labels: Code: Astyle / Optimization, [C++], [Lua]

#23857 Change more code to use null_item_reference.
  src/activity_handlers.cpp
  src/item.cpp
  src/map.cpp
Labels: Code: Astyle / Optimization, [C++]

#23861 Marloss berry satiate and bliss effects no longer cause vomiting
  src/iuse.cpp
Labels: <Suggestion / Discussion>, Game: Balance, Mutations / Traits

#23870 Minor mycus fruit refactor - now checks for flag "MYCUS_OK" instead of hardcoded item ID
  data/json/items/comestibles.json
  doc/JSON_FLAGS.md
  src/consumption.cpp
Labels: Code: Astyle / Optimization, Items / Item Actions, [C++], [JSON]

#23878 Remove separate handling of Alt+F4 in SDL builds
  src/sdltiles.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#23877 Fix: Error when make macOS app with LANGUAGES ("lang/mo" folder not found)
  Makefile
Labels: <Bugfix>, Code: Build, OS: macOS, Translation

#23881 Fixed spawning fresh food instead of spoiled after passing long time
  src/mapgen.cpp
  src/vehicle.cpp
Labels: <Bugfix>, Items / Item Actions, Spawn, [C++]

#23858 Additional fields for `used_up_item`
  data/json/items/comestibles/med.json
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: Items / Item Actions, [C++], [JSON]

#23876 Fix logic error in player::wear_item:
  src/player.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#23884 Fixes #23883 creatures teleporting up z-levels
  src/monmove.cpp
Labels: <Bugfix>, Monsters, Z-levels

#23896 mshockxotto+ tileset update to patch11
  gfx/MshockXotto+/expan.png
  gfx/MshockXotto+/expan2.png
  gfx/MshockXotto+/fallback.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/tree.png
  gfx/MshockXotto+/treeO.png
Labels: SDL: Tiles / Sound, [JSON]

#23893 Update potato chips recipe
  data/json/items/comestibles.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, [JSON]

#23907 Make the packed and unpacked LAW more similar
  data/json/items/ranged.json
  data/json/items/tools.json
Labels: [JSON]

#23903 Add reload_noise_volume to ranged weapons
  data/json/items/classes/gun.json
  data/json/items/crossbows.json
  data/json/items/gun/20x66mm.json
  data/json/items/gun/22.json
  data/json/items/gun/3006.json
  data/json/items/gun/308.json
  data/json/items/gun/32.json
  data/json/items/gun/38.json
  data/json/items/gun/40.json
  data/json/items/gun/44.json
  data/json/items/gun/45.json
  data/json/items/gun/46.json
  data/json/items/gun/545x39.json
  data/json/items/gun/57.json
  data/json/items/gun/5x50.json
  data/json/items/gun/700nx.json
  data/json/items/gun/762.json
  data/json/items/gun/762x25.json
  data/json/items/gun/84x246mm.json
  data/json/items/gun/8x40mm.json
  data/json/items/gun/9mm.json
  data/json/items/gun/blunderbuss.json
  data/json/items/gun/flammable.json
  data/json/items/gun/flintlock.json
  data/json/items/gun/metal_rail.json
  data/json/items/gun/nail.json
  data/json/items/gun/shot.json
  data/json/items/gun/signal_flare.json
  data/json/items/gun/ups.json
  data/json/items/ranged.json
  data/mods/Craft_Gunpowder/cgp_ranged.json
  data/mods/EW_Pack/ew_weapons.json
  data/mods/FictonalWeapons/fic_weapons.json
  data/mods/Generic_Guns/gg_guns.json
  data/mods/Tanks/items.json
  data/mods/blazemod/blaze_weapons.json
  data/mods/realguns/gun.json
Labels: Ranged, [C++]

#23905 Fix time strings
  src/calendar.cpp
Labels: <Bugfix>, [C++]

#23917 Make tacos less salty
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, [JSON]

#23916 Fixed riotbot being affected by its own dazzling ray
  src/field.cpp
Labels: <Bugfix>, Monsters, [C++]

#23908 Add a leather kilt as an alternative for Skalds with wool allergy.
  data/json/items/armor.json
  data/json/professions.json
Labels: [JSON]
