Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2018-10, with the labels that each got.

#25807 Micromotors recipe, take 2
  data/json/recipes/recipe_electronics.json
Labels: Crafting / Construction / Recipes, [JSON]

#25930 fix blazemod
  data/mods/blazemod/blaze_blob.json
Labels: <Bugfix>, <Exploit>, Mods, Vehicles, [JSON]

#25918 npctalk to JSON: add more options for dynamic lines
  doc/NPCs.md
  src/npctalk.cpp
Labels: Missions, Mods, NPC, [C++]

#25760 [Ready] Enhanced Memory Banks rework: Now increases learning speed and map memory
  data/json/bionics.json
  data/json/items/bionics.json
  src/player.cpp
Labels: <Enhancement / Feature>, Bionics

#25683 Update cursor display on mouse movement in look-around mode, and other fixes
  src/animation.cpp
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/game.cpp
  src/game.h
Labels: Controls / Input, Info / User Interface

#25802 vehicles: split disconnected frames into a new vehicle
  data/json/vehicles/test.json
  src/map.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/vehicle_split_test.cpp
Labels: <Bugfix>, <Exploit>, Game: Mechanics Change, Vehicles, [C++]

#25950 Fix reloading minireactors
  src/vehicle_part.cpp
Labels: <Bugfix>, Vehicles, [C++]

#25948 Use item bday for last_temp_check on new food items
  src/item.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#25943 Exclude clock in car from fragmentation test.
  tests/explosion_balance.cpp
Labels: Code: Tests, Vehicles

#25941 Apply narcosis effect without anesthetic
  src/bionics.cpp
Labels: <Bugfix>, <Exploit>, Bionics, [C++]

#25939 Stop hallucinated animals from using taming item
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions, Monsters, [C++]

#25937 Farmtools
  data/json/itemgroups/supplies.json
Labels: Items / Item Actions, [JSON]

#25921 Fix incorrect generation of string formatter error messages
  src/string_formatter.cpp
Labels: Code: Astyle / Optimization, [C++]

#25942 Added --option_overrides flag to test executable
  tests/test_main.cpp
Labels: Code: Tests, [C++]

#25947 Revert #23419 - Add Italics
  src/color.h
  src/cursesport.cpp
  src/cursesport.h
  src/ncurses_def.cpp
  src/output.cpp
  src/sdltiles.cpp
Labels: <Bugfix>, Info / User Interface, SDL: Tiles / Sound, [C++]

#25951 Put cheese in lasagne
  data/json/items/comestibles.json
  data/json/recipes/food/pasta.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#25949 Remove (migrate) unused/redundant lasagne_cooked
  data/json/items/comestibles.json
  data/json/items/migration.json
Labels: <Bugfix>, Food / Vitamins, [JSON]

#25933 Furniture appliance adjustments
  data/json/furniture.json
Labels: Fields / Furniture / Terrain / Traps, Temperature, [JSON]

#25827 Descriptions for zone types
  src/clzones.cpp
  src/clzones.h
Labels: Info / User Interface, [C++]

#25796 Allow hauling items along the ground
  data/raw/keybindings.json
  src/action.cpp
  src/action.h
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/game.cpp
  src/handle_action.cpp
  src/player.cpp
  src/player.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++], [JSON]

#26007 Fixed Android build regression (2018-10-02)
  src/sdltiles.cpp
Labels: <Bugfix>, Code: Build, OS: Android, SDL: Tiles / Sound

#25961 Give "Little" trait a small dodge bonus
  src/character.cpp
Labels: Game: Balance, Mutations / Traits / Professions, [C++]

#25739 [Ready] Engine/motor energy consumption
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/motor.json
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
Labels: Code: Astyle / Optimization, Game: Balance, Vehicles, [C++], [JSON]

#25954 Changelog formatting
  data/changelog.txt
Labels: <Documentation>

#25840 Add script to generate Changelog from SUMMARY lines
  tools/generate_changelog.py
Labels: <Documentation>, Code: Build, Organization

#26015 npctalk to JSON: expand response conditions
  doc/NPCs.md
  src/npctalk.cpp
Labels: Mods, NPC, [C++]

#25670 Additional mutation types
  data/json/mutation_type.json
  data/json/mutations.json
Labels: Mutations / Traits / Professions

#26021 Fix off by one error in avail_part_with_feature_*
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26043 Fix vehicle part install CTD - Take2
  src/savegame_json.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_display.cpp
Labels: <Bugfix>, Vehicles, [C++]

#25855 [Ready] Mutation improvement drive: Fish
  data/json/items/comestibles/mutagen.json
  data/json/mutations.json
  src/character.cpp
  src/consumption.cpp
  src/field.cpp
  src/mattack_actors.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
Labels: Mutations / Traits / Professions, [C++], [JSON]

#25936 [CR]Fix traps ignoring monster armor
  src/trapfunc.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Monsters, [C++]

#26032 revise blob tanks size
  data/mods/blazemod/blaze_blob.json
  data/mods/blazemod/blaze_blob_parts.json
  data/mods/blazemod/blaze_blob_recipes.json
Labels: Mods, Vehicles, [JSON]

#26074 fix fermenting sauerkraut jar weight and volume
  data/json/items/tools.json
Labels: Food / Vitamins, Items / Item Actions, [JSON]

#26073 Made black box a vehicle part
  data/json/items/tools.json
  data/json/items/vehicle_parts.json
  data/json/vehicle_parts.json
Labels: Vehicles, [JSON]

#26060 Change display of amount of mods of an item to a number rather than a number of plusses
  src/item.cpp
Labels: Gunmod / Toolmod, Info / User Interface, [C++]

#26088 Add harvested variant for blackjack oak
  data/json/terrain.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#26083 Improved black box placement in aircrafts
  data/json/vehicles/helicopters.json
Labels: Vehicles, [JSON]

#26086 Update the README
  README.md
Labels: <Documentation>, Organization, [Markdown]

#26087 Migrate iuse menus to use uilist
  src/iuse.cpp
Labels: Info / User Interface, [C++]

#26010 Electric combat chainsaw
  data/json/item_actions.json
  data/json/items/tools.json
  data/json/recipes/recipe_weapon.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: Crafting / Construction / Recipes, Melee, [JSON]

#25938 Add Electric Chainsaw Lajatang
  data/json/item_actions.json
  data/json/items/tools.json
  data/json/recipes/recipe_weapon.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: Crafting / Construction / Recipes, Items / Item Actions, Melee, [JSON]

#26085 Fix (fresh) (burnt) (frozen) food
  src/item.cpp
Labels: Items / Item Actions, [C++]

#26118 enable sleeping in autodoc couches
  src/mapdata.cpp
  src/mapdata.h
  src/player.cpp
Labels: Fields / Furniture / Terrain / Traps, [C++]

#26122 Fix empty tank crash
  src/character.cpp
  src/item.cpp
  src/item.h
  src/player.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
Labels: <Bugfix>, <Crash / Freeze>, Vehicles, [C++]

#26150 vehicles: make the vehicle split code more robust and stop game crashes
  src/vehicle.cpp
  tests/vehicle_split_test.cpp
Labels: <Bugfix>, <Crash / Freeze>, Vehicles, [C++]

#26117 Fixed 2 lua resource leaks (1 stack, 1 registry)
  src/catalua.cpp
Labels: Code: Astyle / Optimization, Mods, [C++], [Lua]

#26114 Refactor made_of with made_of_from_type
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/map.cpp
  src/npcmove.cpp
  src/pickup.cpp
  src/player.cpp
Labels: Code: Astyle / Optimization, Items / Item Actions, [C++]

#26099 [Ready] Martial arts books now highlighted when learnable and other quality-of-life improvements
  data/raw/keybindings.json
  src/help.cpp
  src/item.cpp
  src/iuse.cpp
  src/martialarts.cpp
  src/martialarts.h
Labels: Info / User Interface, Items / Item Actions, Melee, [C++]

#26084 Code optimizations reported by static code analysis (2018-10-05)
  src/cata_tiles.cpp
  src/clzones.cpp
  src/editmap.cpp
  src/editmap.h
  src/faction_camp.h
  src/game.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/main_menu.cpp
  src/main_menu.h
  src/map.h
  src/mapgen.cpp
  src/mapgenformat.cpp
  src/mapgenformat.h
  src/mission_companion.cpp
  src/mission_companion.h
  src/mission_start.cpp
  src/mod_tileset.cpp
  src/mod_tileset.h
  src/mutation.h
  src/mutation_data.cpp
  src/options.cpp
  src/options.h
  src/output.cpp
  src/output.h
  src/player.cpp
  src/player.h
  src/player_activity.cpp
  src/player_activity.h
  src/string_input_popup.h
  src/ui.cpp
  src/ui.h
  src/veh_interact.cpp
  src/veh_interact.h
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  tests/catch/catch.hpp
  tests/monster_test.cpp
  tests/npc_test.cpp
  tests/overmap_test.cpp
  tests/player_test.cpp
  tests/ranged_balance.cpp
  tests/savegame_test.cpp
  tests/test_main.cpp
  tests/vehicle_efficiency.cpp
  tests/vehicle_interact_test.cpp
Labels: Code: Astyle / Optimization, Code: Performance, [C++]

#26161 npctalk to JSON: add unit test cases for effects
  data/json/npcs/TALK_TEST.json
  src/dialogue.h
  src/npctalk.cpp
  src/npctalk_funcs.cpp
  tests/npc_talk_test.cpp
Labels: <Bugfix>, Code: Tests, NPC, [JSON]

#26166 npctalk to JSON: move refugee ranch dialogue into JSON
  data/json/effects.json
  data/json/npcs/TALK_REFUGE_RANCH.json
  src/npctalk.cpp
Labels: NPC, [JSON]

#26038 Translating direction descriptions on the fly
  src/line.cpp
  src/line.h
Labels: Translation, [C++]

#26033 Translating construction descriptions on the fly
  src/construction.cpp
  src/construction.h
Labels: Info / User Interface, Translation, [C++]

#26167 Test cases for issues 24707,23250
  tests/ground_destroy_test.cpp
Labels: Code: Tests

#26197 Robots won't transform into blobs no more
  src/trapfunc.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Monsters

#26169 Only call clear_submap_memory() if there's something to erase.
  src/player.cpp
Labels: Code: Performance, [C++]

#26202 Specify nails by charges instead of count
  data/json/terrain.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#26204 Two ranch mission fixes
  data/json/npcs/TALK_REFUGE_RANCH.json
  src/npctalk.cpp
Labels: <Bugfix>, Missions, NPC, [C++], [JSON]

#26193 npctalk to JSON: Move more mission dialogue into JSON
  data/json/npcs/TALK_COMMON.json
  data/json/npcs/TALK_COMMON_MISSION.json
  src/npctalk.cpp
Labels: Missions, NPC, [C++], [JSON]

#26206 Migrate mission companion menus to uilist
  src/editmap.cpp
  src/mission_companion.cpp
Labels: Info / User Interface, Missions, NPC, [C++]

#26203 Prevent jackhammer/pickaxe from mining vehicles
  src/game.cpp
  src/iuse.cpp
Labels: <Bugfix>, Info / User Interface, Items / Item Actions, Vehicles, [C++]

#26220 npctalk to JSON: move Old Guard dialogue to JSON
  data/json/effects.json
  data/json/npcs/TALK_OLD_GUARD_NECROPOLIS.json
  data/json/npcs/TALK_OLD_GUARD_REP.json
  src/npctalk.cpp
Labels: Code: Astyle / Optimization, NPC, [C++], [JSON]

#26219 Fixed explosions causing infections even if player is wearing only clean clothes as if they are filthy
  src/player.cpp
Labels: <Bugfix>, Effects / Skills / Stats

#26249 bionics: install_bionics talk_function consumes CBMs
  src/npctalk_funcs.cpp
Labels: <Bugfix>, Bionics, NPC, [C++]

#26260 Add double spaces after sentence breaks in descriptions
  data/json/items/bionics.json
  data/json/items/generic.json
  data/json/items/tools.json
  data/json/npcs/TALK_EVAC_HUNTER.json
  data/json/npcs/TALK_REFUGE_RANCH.json
  data/json/scenarios/scenarios.json
  data/json/snippets.json
Labels: [JSON]

#26229 Faction camp overseer fixes
  data/json/npcs/TALK_FACTION_CAMP.json
  data/json/npcs/TALK_TEST.json
  doc/NPCs.md
  src/faction_camp.h
  src/map.h
  src/mapgen.cpp
  src/mission_companion.cpp
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: <Bugfix>, NPC, Player Base / Camp, [C++], [JSON]

#26179 Option to display temperature in Kelvin.
  src/cata_utility.cpp
  src/cata_utility.h
  src/options.cpp
  src/weather.cpp
Labels: Info / User Interface, [C++]

#26205 Option to display vehicle speed in tiles/turn.
  src/cata_utility.cpp
  src/options.cpp
  src/sidebar.cpp
Labels: Info / User Interface, Vehicles, [C++]

#25923 Refactor popups into a single class
  data/raw/keybindings.json
  src/animation.cpp
  src/game.cpp
  src/handle_action.cpp
  src/input.cpp
  src/input.h
  src/output.cpp
  src/output.h
  src/popup.cpp
  src/popup.h
Labels: <Bugfix>, Code: Astyle / Optimization, Info / User Interface, [C++], [JSON]

#26251 npctalk to JSON: NPC greetings to JSON
  data/json/npcs/TALK_COMMON_GREET.json
  src/npctalk.cpp
Labels: NPC, [C++], [JSON]

#26270 Use correct form of "its" in effects.json
  data/json/effects.json
  data/json/items/tools.json
Labels: [JSON]

#26271 npctalk_to_JSON: fix a missing line for the Tacoma Commune lumberjack
  data/json/npcs/TALK_REFUGE_RANCH.json
Labels: <Bugfix>, NPC, [JSON]

#26280 faction camps: require 2 NPCs to set up a camp
  data/json/npcs/TALK_FACTION_CAMP.json
  data/json/npcs/TALK_TEST.json
  doc/NPCs.md
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: <Bugfix>, NPC, Player Base / Camp, [C++], [JSON]

#26247 Added jumpsuit recipe
  data/json/recipes/armor/suit.json
Labels: Crafting / Construction / Recipes, [JSON]

#26310 Fixed zombie technicians pulling fake items
  src/monattack.cpp
Labels: <Bugfix>, Items / Item Actions, Monsters

#26312 Fix some random typos
  data/json/effects.json
  data/json/npcs/epilogues.json
Labels: [JSON]

#26165 More container description improvements
  src/bionics_ui.cpp
  src/construction.cpp
  src/dependency_tree.cpp
  src/item.cpp
  src/item.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/options.cpp
  src/output.h
  src/ranged.cpp
Labels: Info / User Interface, Inventory / AIM, Items / Item Actions, [C++]

#26323 npctalk: create a big dialogue window
  src/dialogue_win.cpp
  src/dialogue_win.h
Labels: Info / User Interface, NPC, [C++]

#25929 Added more terrains to grass, dirt and metal sounds
  src/sounds.cpp
Labels: SDL: Tiles / Sound, [C++]

#26276 [READY] Overhaul map memory
  src/cata_tiles.cpp
  src/map.cpp
  src/map_memory.cpp
  src/map_memory.h
  src/player.cpp
  src/player.h
  src/savegame_json.cpp
Labels: (P1 - Critical), <Bugfix>, Code: Performance, [C++]

#26313 Bone meal tablets
  data/json/items/comestibles/med.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#26345 Fixes Item Kilns not giving enough charcoal.
  data/json/recipes/recipe_deconstruction.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#26331 Fix lag from copying players and make them noncopyable
  src/character.cpp
  src/character.h
  src/inventory.cpp
  src/inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/iuse.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npc.h
  src/npctrade.cpp
  src/player.cpp
  src/player.h
  src/skill.cpp
  src/skill.h
  tests/npc_test.cpp
Labels: <Bugfix>, Character / Player, Code: Performance, Code: Tests, [C++]

#26029 Enhanced limb menu (body window) & textified healing related effects.
  src/character.cpp
  src/character.h
  src/effect.cpp
  src/effect.h
  src/game.cpp
  src/iuse_actor.cpp
  src/output.cpp
  src/output.h
Labels: <Enhancement / Feature>, Info / User Interface

#26376 Adjusted sugar content in flavored bonemeal tablet
  data/json/recipes/recipe_medsandchemicals.json
Labels: Crafting / Construction / Recipes, Items / Item Actions, [JSON]

#26377 Added necromancer snippet
  data/json/snippets.json
Labels: Info / User Interface, Monsters, [JSON]

#26359 New CBM lore snippets (leaflets)
  data/json/snippets.json
Labels: Items / Item Actions, [JSON]

#26368 [RDY]Reduce time to create Protein Powder with Food Processor
  data/json/recipes/food/dry.json
Labels: Crafting / Construction / Recipes, [JSON]

#26392 Fix small test bugs founds by AddressSanitizer
  src/game.cpp
  tests/npc_talk_test.cpp
Labels: <Bugfix>, Code: Tests, [C++]

#26396 Removed lag in construction menu
  src/construction.cpp
  src/construction.h
Labels: Code: Performance, Translation, [C++]

#25174 Add more improvised tool options
  data/json/items/armor.json
  data/json/items/containers.json
  data/json/items/generic.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/melee.json
  data/json/items/resources/metals.json
  data/json/items/tool/deployable.json
  data/json/items/tools.json
  data/json/items/vehicle_parts.json
Labels: Items / Item Actions, [JSON]

#26031 Fix truncated per-charge volume
  doc/JSON_INFO.md
  src/advanced_inv.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
  src/melee.cpp
  src/units.h
  src/vehicle_part.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#26381 Weird Item Categorization Fixes Part 1
  data/json/items/armor.json
  data/json/items/chemicals_and_resources.json
  data/json/items/gun/223.json
  data/json/items/melee.json
  data/json/items/tool_armor.json
  data/json/items/tools.json
Labels: Info / User Interface, Items / Item Actions, [JSON]

#26092 [Ready]Prefer dropping items into cargo
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/character.cpp
  src/crafting.cpp
  src/game.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item.h
  src/item_stack.cpp
  src/item_stack.h
  src/map_item_stack.cpp
  src/pickup.cpp
  src/pickup.h
  src/player.cpp
  src/profession.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/visitable.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles, [C++]

#26045 Add the option to create Changelogs grouped by Build to generate_changelog.py
  tools/generate_changelog.py
Labels: Code: Build, Organization

#26394 add summary32.txt
  summary32.txt
Labels: <Documentation>

#26384 added mortar_pestle to the protein_powder recipe
  data/json/recipes/food/dry.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#26410 Fix some minor issues in the vehicles JSON
  data/json/vehicle_parts.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/tanks.json
  data/mods/Tanks/parts.json
  data/mods/Tanks/vehicles.json
  data/mods/blazemod/blaze_other_parts.json
  data/mods/blazemod/blaze_override.json
Labels: Info / User Interface, Vehicles, [JSON]

#26379 Portable sleeping bags
  data/json/item_groups.json
  data/json/items/armor.json
  data/json/npcs/items_generic.json
  data/json/professions.json
  data/json/recipes/armor/other.json
  data/json/recipes/recipe_deconstruction.json
  src/iuse_actor.cpp
Labels: <Enhancement / Feature>, Items / Item Actions

#26148 [Ready]Clothing layering penalties and Sort Armor window overhaul
  data/json/body_parts.json
  data/raw/keybindings.json
  src/armor_layers.cpp
  src/bodypart.cpp
  src/bodypart.h
  src/catalua.cpp
  src/character.cpp
  src/character.h
  src/item.h
  src/npc.cpp
  src/pickup.cpp
  src/player.cpp
  src/player.h
Labels: <Bugfix>, Info / User Interface, Items / Item Actions, [C++], [JSON]

#26250 POSIX crash handling and backtrace improvements
  .travis.yml
  CMakeLists.txt
  src/crash.cpp
  src/debug.cpp
  src/debug.h
  src/game.cpp
  src/path_info.cpp
  tests/Makefile
  tests/test_main.cpp
Labels: Code: Build, OS: Windows, [C++]

#26242 Add support for deferral of player movement, use it to fix two bugs
  src/game.cpp
  src/player.cpp
  src/player.h
Labels: <Bugfix>, Character / Player, Code: Astyle / Optimization, [C++]

#26263 B menu show butcher, disassemble and salvage times
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/game.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/ui.cpp
  src/ui.h
Labels: Info / User Interface, [C++]

#26318 Add weeks to calendar display times
  src/calendar.cpp
  src/calendar.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#26439 Fix some new typos
  data/help/texts.json
  data/json/item_groups.json
  data/json/items/comestibles/med.json
  data/json/items/fake.json
  data/json/items/vehicle_parts.json
  data/json/mapgen/house/house14.json
  data/json/mapgen/house/house_garage6.json
  data/json/mapgen/lab/README.md
  data/json/mapgen/lab/lab_floorplans_finale1level.json
  data/json/mapgen/lab/lab_rooms.json
  data/json/mapgen/lab/lab_rooms_wall.json
  data/json/overmap_terrain.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/armor/other.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_weapon.json
  data/json/regional_map_settings.json
  data/json/snippets.json
  data/json/vehicle_parts.json
Labels: [JSON]

#26395 Time duration enhancement:
  data/json/items/biosignatures.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles.json
  data/json/items/comestibles/brewing.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/frozen.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/seed.json
  data/json/npcs/TALK_TEST.json
  doc/JSON_INFO.md
  src/activity_handlers.cpp
  src/assign.h
  src/calendar.h
  src/dialogue.h
  src/game.cpp
  src/game.h
  src/iuse.cpp
  src/mission_companion.cpp
  src/npctalk.cpp
  src/player.cpp
  src/savegame_json.cpp
  src/skill.cpp
  src/submap.h
  src/weather.cpp
  tests/time_duration_test.cpp
Labels: <Documentation>, <Enhancement / Feature>, Food / Vitamins, [C++], [JSON]

#26269 Mission companion simple refactor
  src/faction_camp.cpp
  src/faction_camp.h
  src/mission_companion.cpp
  src/mission_companion.h
Labels: Code: Astyle / Optimization, Missions, NPC, [C++]

#26375 Added fixed tents recipes
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Items / Item Actions, [JSON]

#26334 Allow gunmods to modify the base reload time of guns, and modify the minimum strength required
  doc/JSON_INFO.md
  src/character.cpp
  src/game.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/iteminfo_query.h
  src/itype.h
  src/player.cpp
Labels: Gunmod / Toolmod, Items / Item Actions, [C++], [JSON]

#26463 Fixed astyle regression
  src/item.cpp
Labels: Code: Astyle / Optimization, [C++]
