Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2018-07, with the labels that each got.

#23520 Allow partial queries for item.info
  src/item.cpp
  src/item.h
  src/iteminfo_query.cpp
  src/iteminfo_query.h
  src/output.cpp
  src/output.h
Labels: Code: Astyle / Optimization, Items / Item Actions, [C++]

#24100 Four new artifact effects
  src/artifact.cpp
  src/artifact.h
  src/enums.h
  src/game.cpp
  src/iuse.cpp
Labels: <Enhancement / Feature>, Effects / Skills / Stats, Items / Item Actions, [C++]

#24106 Added recipes to extract seeds from some fruits and vegetables.
  data/json/recipes/food/seed.json
  data/json/recipes/recipes.json
Labels: Crafting / Construction / Recipes, [JSON]

#24043 Simple include/exclude filter for overmap search.
  src/cata_utility.cpp
  src/cata_utility.h
  src/overmap.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#23990 i18n: Dynamically localize martial art style names
  src/item.cpp
  src/martialarts.cpp
  src/melee.cpp
  src/newcharacter.cpp
  src/npctalk.cpp
  src/player.cpp
  src/sidebar.cpp
Labels: Translation, [C++]

#24151 Fixed open air in Urban Development
  data/mods/Urban_Development/building_jsons/urban_10_house_brick_pool.json
  data/mods/Urban_Development/building_jsons/urban_11_house_brick.json
  data/mods/Urban_Development/building_jsons/urban_12_house.json
  data/mods/Urban_Development/building_jsons/urban_15_house.json
  data/mods/Urban_Development/building_jsons/urban_16_house_ranch.json
  data/mods/Urban_Development/building_jsons/urban_17_house_ranch.json
  data/mods/Urban_Development/building_jsons/urban_18_victorian.json
  data/mods/Urban_Development/building_jsons/urban_19_victorian.json
  data/mods/Urban_Development/building_jsons/urban_20_duplex.json
  data/mods/Urban_Development/building_jsons/urban_8_house_brick_garden.json
  data/mods/Urban_Development/building_jsons/urban_9_house_garage_loft.json
Labels: Mapgen, [JSON]

#24148 Added private bionics clinic (as a variant of ordinary doctor's office)
  data/json/mapgen/office_doctor.json
Labels: Mapgen, [JSON]

#24154 Fix some misc typos
  data/json/construction.json
  data/json/items/ammo.json
  data/json/items/generic.json
  data/json/items/gun/9mm.json
  data/json/items/tool_armor.json
  data/json/items/tools.json
  data/json/items/vehicle_parts.json
  data/json/mapgen/basement/basement_survival.json
  data/json/mutations.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/vehicles/vans_busses.json
  doc/DEVELOPER_FAQ.md
  doc/EFFECTS_JSON.md
  doc/GAME_BALANCE.md
  doc/JSON_FLAGS.md
  doc/MAPGEN.md
  doc/MONSTERS.md
  doc/PLAYER_ACTIVITY.md
Labels: Translation, [JSON]

#24149 pickled eggs, recipe, and a jar of fermenting eggs
  data/json/items/comestibles.json
  data/json/items/tools.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#24153 Artifact charge extra requirements
  src/artifact.cpp
  src/artifact.h
  src/game.cpp
  src/item_factory.cpp
  src/itype.h
Labels: Artifacts, Effects / Skills / Stats, Items / Item Actions, [C++]

#24161 Saber Teeth exclude Mandibles and vice versa
  data/json/mutations.json
Labels: Mutations / Traits, [JSON]

#23775 Changed chloromorphosis to work in more types of weather, only outside, and only at or above a certain light level.
  src/player_hardcoded_effects.cpp
Labels: Effects / Skills / Stats, Mutations / Traits, [C++]

#24094 Allow CVD machine to diamond-coat piercing weapons
  data/json/flags.json
  src/iexamine.cpp
Labels: Items / Item Actions, [C++], [JSON]

#24165 Fix astyle regression
  src/player_hardcoded_effects.cpp
Labels: Code: Astyle / Optimization, [C++]

#23069 [RDY] Updated subway railroad tracks
  data/json/mapgen/sub_station.json
  data/json/mapgen/subway_tunnels.json
  data/json/mapgen_palettes/subway.json
  data/json/terrain.json
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen_functions.cpp
Labels: <Enhancement / Feature>, Mapgen, [C++], [JSON]

#24152 Document revisions for ISSUES.md
  ISSUES.md
Labels: <Documentation>

#24162 Updated blazemod with requirements
  data/mods/blazemod/blaze_ammo_recipes.json
  data/mods/blazemod/blaze_other_recipes.json
  data/mods/blazemod/blaze_test.json
  data/mods/blazemod/blaze_weapons_recipes.json
Labels: Code: Astyle / Optimization, Crafting / Construction / Recipes, Mods, [JSON]

#24130 Changed build scripts and updated documentation for MSYS2
  COMPILING-MSYS.md
  Makefile
  README.md
  tools/format/format.cpp
Labels: <Documentation>, Code: Build, OS: Linux, OS: Windows, OS: macOS, [C++]

#24065 Add heavy duty vehicle doors.
  data/json/vehicle_parts.json
  data/json/vehicles/emergency.json
  data/json/vehicles/military.json
  data/json/vehicles/trucks.json
  data/json/vehicles/vans_busses.json
  tests/vehicle_efficiency.cpp
Labels: Vehicles, [JSON]

#24159 Minor json cleanup
  data/json/monsters.json
  data/json/recipes/ammo/shot.json
  data/mods/realguns/recipes.json
Labels: Code: Astyle / Optimization, [JSON]

#24164 Enable Appveyor CI
  .appveyor.yml
Labels: Code: Build, OS: Windows, Organization

#23982 [Rdy] [CR] Skeletons overhaul
  data/json/monstergroups.json
  data/json/monsters.json
  doc/JSON_FLAGS.md
  src/monster.cpp
  src/mtype.h
  src/ranged.cpp
Labels: Game: Balance, Monsters, [JSON]

#24160 Game options refactor
  data/json/game_balance.json
  data/json/ranged_balance.json
  data/mods/Filthy_Morale/modinfo.json
  data/mods/No_Faults/modinfo.json
  data/mods/No_NPC_Food/modinfo.json
  data/mods/novitamins/modinfo.json
  src/init.cpp
  src/options.cpp
  src/options.h
  src/worldfactory.cpp
Labels: Code: Astyle / Optimization, Mods, [C++], [JSON]

#24140 Enhancement to calendar in Lua
  lua/autoexec.lua
  lua/class_definitions.lua
  src/calendar.h
  src/catalua.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Mods, [C++], [Lua]

#24020 [DONE] Monster consumption special attacks
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  src/monattack.cpp
  src/monattack.h
  src/monstergenerator.cpp
Labels: Monsters, [C++]

#24191 Updated links for dependencies archive (`zip` > `7z`) in AppVeyor config
  .appveyor.yml
Labels: Code: Build, OS: Windows

#24194 Expose new functions to Lua
  lua/class_definitions.lua
  src/catalua.cpp
Labels: <Enhancement / Feature>, Mods, [C++], [Lua]

#24024 Code optimizations reported by static code analysis (Step 3)
  src/advanced_inv.cpp
  src/animation.cpp
  src/bionics.cpp
  src/cata_tiles.cpp
  src/construction.cpp
  src/craft_command.cpp
  src/editmap.cpp
  src/game.cpp
  src/input.cpp
  src/input.h
  src/inventory_ui.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/mapgen.cpp
  src/mission.cpp
  src/mission.h
  src/mondeath.cpp
  src/npcmove.cpp
  src/overmap.cpp
  src/sidebar.cpp
  src/speech.cpp
  src/speech.h
  src/vehicle.cpp
  src/weather.cpp
  src/wish.cpp
  src/worldfactory.cpp
Labels: Code: Astyle / Optimization, [C++]

#24235 fix failure to spawn military roadblock map extra
  src/map_extras.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Mapgen, [C++]

#24077 [RDY]Automatic fire refuelling
  data/json/construction.json
  data/json/materials.json
  data/json/player_activities.json
  data/json/traps.json
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/activity_type.cpp
  src/activity_type.h
  src/construction.cpp
  src/field.cpp
  src/fire.h
  src/item.cpp
  src/item.h
  src/material.cpp
  src/player.cpp
  src/player_activity.cpp
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#24236 Fix astyle regression (2018-07-08)
  src/monmove.cpp
Labels: Code: Astyle / Optimization, [C++]

#24163 More requirements in recipes
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/mods.json
Labels: Code: Astyle / Optimization, Crafting / Construction / Recipes, [JSON]

#24246 Remove irremovable mods after the gun is destroyed by fire
  src/field.cpp
Labels: <Bugfix>, Gunmod / Toolmod

#24274 Jsonify mil. surplus
  data/json/mapgen/mil_surplus.json
  data/json/mapgen_palettes/mil_surplus.json
  src/mapgen_functions.cpp
Labels: <Enhancement / Feature>, Mapgen, [C++], [JSON]

#24276 The Trencher
  data/json/items/vehicle/engineering.json
  data/json/vehicle_groups.json
  data/json/vehicleparts/engineering.json
  data/json/vehicles/utility.json
  src/vehicle.cpp
  src/vehicle.h
Labels: <Enhancement / Feature>, Vehicles, [C++], [JSON]

#24220 chickenfeed: make chickens and other small domestic birds tameable
  data/json/item_actions.json
  data/json/items/tools.json
  data/json/mapgen/veterinarian.json
  data/json/monsters/bird.json
  data/json/recipes/recipe_food.json
  data/mods/More_Buildings/json/petstore.json
  doc/JSON_FLAGS.md
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Enhancement / Feature>, Game: Mechanics Change, [C++]

#24284 Jsonify radio station
  data/json/mapgen/station_radio.json
  src/mapgen.cpp
Labels: <Enhancement / Feature>, Mapgen, [C++], [JSON]

#24283 Mortar & pestle migration to mainline (vanilla) from More Survival Tools Mod
  data/json/items/tools.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_others.json
  data/json/snippets.json
  data/mods/More_Survival_Tools/items.json
  data/mods/More_Survival_Tools/recipes.json
  data/mods/More_Survival_Tools/snippets.json
Labels: Crafting / Construction / Recipes, Items / Item Actions, Mods, [JSON]

#24285 New callbacks for Lua
  lua/autoexec.lua
  src/game.cpp
Labels: <Enhancement / Feature>, Mods, [C++], [Lua]

#24261 Acorn meal decay time fix and recipe change
  data/json/items/comestibles.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#24281 Describe vehicle parts Part 1a
  data/json/vehicle_parts.json
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/lights.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/turret.json
  data/json/vehicleparts/wheel.json
Labels: Translation, Vehicles, [JSON]

#24292 Added a chance for small utility/construction vehicles to spawn on construction sites
  data/json/mapgen/small_town_buildings/construction_site.json
Labels: <Enhancement / Feature>, Mapgen, [JSON]

#23757 Replace instant healing with slow healing effects.
  data/json/effects.json
  data/json/items/comestibles/med.json
  data/json/recipes/other/medical.json
  doc/EFFECTS_JSON.md
  src/character.cpp
  src/character.h
  src/effect.cpp
  src/effect.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/player.cpp
  src/player.h
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, Effects / Skills / Stats, Game: Balance, [C++], [JSON]

#24040 [DONE] Player Faction Base
  data/json/item_groups_faction.json
  data/json/mapgen/faction_buildings.json
  data/json/mapgen_palettes/acidia_camp_palette.json
  data/json/mutations.json
  data/json/overmap_terrain.json
  data/json/recipes/recipe_companion.json
  data/json/recipes/recipe_construction_om.json
  data/json/recipes/recipes.json
  src/crafting.cpp
  src/dialogue.h
  src/editmap.cpp
  src/editmap.h
  src/game.cpp
  src/game.h
  src/item_factory.cpp
  src/mission_companion.cpp
  src/monster.cpp
  src/monster.h
  src/npc.cpp
  src/npc.h
  src/npctalk.cpp
  src/overmap.cpp
  src/overmap.h
  src/player.cpp
  src/player.h
  src/recipe.cpp
  src/recipe.h
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Missions, NPC

#24326 Jsonify sport shop
  data/json/mapgen/sports_store.json
  src/mapgen_functions.cpp
Labels: <Enhancement / Feature>, Mapgen, [JSON]

#24114 First draft of json-augmentation of labs
  data/json/mapgen/lab/lab_common.json
  data/json/mapgen/lab/lab_floorplan_cross.json
  data/json/mapgen/lab/lab_floorplans.json
  data/json/mapgen/lab/lab_rooms.json
  json_blacklist
  src/mapgen.cpp
  src/mapgen.h
Labels: Mapgen, [C++], [JSON]

#24173 Artifact dreams
  src/artifact.cpp
  src/artifact.h
  src/game.cpp
  src/game.h
  src/item_factory.cpp
  src/itype.h
  src/player.cpp
  src/player.h
Labels: Artifacts, [C++]

#24349 Jsonify pharmacy
  data/json/mapgen/pharmacy.json
  data/json/mapgen/pharmacy_1.json
  data/json/mapgen/pharmacy_1_open.json
  src/mapgen_functions.cpp
Labels: <Enhancement / Feature>, Mapgen, [C++], [JSON]

#24340 Moved manual CBM installation to Bright Nights mod
  data/json/flags.json
  data/json/items/bionics.json
  data/mods/BrightNights/items/bionics.json
  src/help.cpp
Labels: Bionics, Game: Mechanics Change, Mods, [JSON]

#24187 Leadworks guns rework
  data/json/items/gun/223.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/rail.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/underbarrel.json
Labels: Game: Balance, Ranged, [JSON]

#24262 Rain fills all
  src/item.cpp
  src/weather.cpp
Labels: <Enhancement / Feature>, Code: Astyle / Optimization, [C++]

#24243 Digging and filling pits/mounds rework
  data/json/construction.json
  data/json/item_actions.json
  data/json/items/tools.json
  data/json/player_activities.json
  data/json/tool_qualities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items / Item Actions, [C++], [JSON]

#24366 Fixed examining rubble invoked DIG instead of a CLEAR_RUBBLE
  src/iexamine.cpp
Labels: <Bugfix>, Items / Item Actions

#24359 Allow return of reference to monster in Lua
  lua/class_definitions.lua
  src/catalua.cpp
Labels: Mods, Monsters, [C++], [Lua]

#24369 Fix astyle regression (2018-07-19)
  src/pickup.cpp
Labels: Code: Astyle / Optimization, [C++]

#24380 Stop item dupe
  src/pickup.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#24186 Gluten and Lactose free alternative recipes.
  data/mods/Tolerate_This/comestibles.json
  data/mods/Tolerate_This/cooking_components.json
  data/mods/Tolerate_This/modinfo.json
  data/mods/Tolerate_This/recipe_food.json
Labels: Crafting / Construction / Recipes, Mods, [JSON]

#24400 Safe autodoc mod, a dependency of Bright Nights
  data/json/game_balance.json
  data/mods/BrightNights/modinfo.json
  data/mods/Safe_autodoc/game_balance.json
  data/mods/Safe_autodoc/modinfo.json
  src/bionics.cpp
  src/iexamine.cpp
  src/iuse_actor.cpp
  src/mission_companion.cpp
  src/player.h
Labels: Bionics, Mods, [C++], [JSON]

#24421 Moves stillsuit's effects to json flags
  data/json/flags.json
  data/json/items/armor.json
  doc/JSON_FLAGS.md
  src/player.cpp
Labels: Effects / Skills / Stats, Items / Item Actions, [C++], [JSON]

#24418 Automatically balance hardcoded & json lab & lab finales against each…
  data/json/mapgen/lab/lab_floorplans_finale1level.json
  json_blacklist
  src/mapgen.cpp
Labels: Mapgen, [C++], [JSON]

#24420 Fix inventory letter assignment getting cleared after trade
  src/inventory.cpp
  src/inventory.h
  src/npctalk.cpp
Labels: <Bugfix>, Controls, NPC, [C++]

#24417 Anesthesia spawns in stacks of 3
  data/json/items/chemicals_and_resources.json
  data/json/items/generic.json
Labels: Crafting / Construction / Recipes, Items / Item Actions, [JSON]

#24404 Bow/crossbow rebalance
  data/json/items/archery.json
  data/json/items/crossbows.json
Labels: Game: Balance, Ranged, [JSON]

#24403 Arrow/Bolt changes
  data/json/items/archery.json
  data/json/items/crossbows.json
  data/json/recipes/recipe_ammo.json
  data/json/requirements/materials.json
Labels: Game: Balance, Ranged, [JSON]

#24405 New Bow Attachments
  data/json/items/archery.json
  data/json/items/gunmod/accessories.json
  data/json/items/gunmod/sights.json
  data/json/recipes/weapon/mods.json
Labels: Gunmod / Toolmod, Ranged, [JSON]

#24398 Updated railings in RetroDaysTileset
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
Labels: SDL: Tiles / Sound

#24407 Consistent techniques
  data/json/items/armor.json
  data/json/items/melee.json
  data/json/items/tools.json
  data/json/items/vehicle_parts.json
  data/mods/FictonalWeapons/fic_weapons.json
  data/mods/Medieval_Stuff/melee.json
  data/mods/Medieval_Stuff/tools.json
Labels: Melee, Mods, [JSON]

#24449 Different skill checks for different methods of installing bionics
  src/bionics.cpp
Labels: <Enhancement / Feature>, Bionics, [C++]

#24468 Fixed opacity regression in RetroDaysTileset
  gfx/RetroDaysTileset/tiles.png
Labels: <Bugfix>, SDL: Tiles / Sound

#24471 Zero sight range for narcosis effect
  src/character.cpp
Labels: <Enhancement / Feature>, Effects / Skills / Stats, [C++]

#24469 Fixed manual bionic installation not working in Bright Nights mod
  data/json/game_balance.json
  data/json/items/bionics.json
  data/mods/BrightNights/game_balance.json
  data/mods/BrightNights/items/bionics.json
  src/iuse_actor.cpp
Labels: <Bugfix>, Bionics, Items / Item Actions, Mods

#24410 Expanded Lab Sites
  data/json/mapgen/basement/basement_lab_stairs.json
  data/json/mapgen/lab/lab_central.json
  data/json/mapgen/lab/lab_floorplan_cross.json
  data/json/mapgen/lab/lab_floorplans.json
  data/json/mapgen/lab/lab_trains.json
  data/json/mapgen/office_tower_2.json
  data/json/mapgen/prison_1.json
  data/json/monstergroups.json
  data/json/overmap_specials.json
  data/json/overmap_terrain.json
  data/json/regional_map_settings.json
  data/mods/BrightNights/regional_map_settings.json
  json_blacklist
  src/computer.cpp
  src/computer.h
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/overmap.cpp
  src/overmap.h
Labels: Mapgen, [C++], [JSON]

#24483 Discordant Mi-go Memes.
  data/json/speech.json
Labels: Translation, [JSON]

#24460 Home mechanic profession rework
  data/json/professions.json
Labels: Character Generation, [JSON]

#24484 Assorted changes to More Classes and Scenarios Mod
  data/mods/more_classes_scenarios/cs_classes.json
  data/mods/more_classes_scenarios/cs_scenarios.json
  data/mods/more_classes_scenarios/cs_start_locations.json
Labels: Character Generation, Mods, [JSON]

#24478 Blazemod vehicle part descriptions
  data/mods/blazemod/blaze_autoweapons_parts.json
  data/mods/blazemod/blaze_migration.json
  data/mods/blazemod/blaze_other_parts.json
  data/mods/blazemod/blaze_override.json
  data/mods/blazemod/blaze_weapons_parts.json
Labels: Crafting / Construction / Recipes, Mods, Ranged, Vehicles, [JSON]

#24476 Added posibility to add flag to the wish item
  src/wish.cpp
Labels: <Enhancement / Feature>, [C++]

#24445 Adds some flavor texts for visible effects that had none.
  data/json/effects.json
Labels: Effects / Skills / Stats, Translation, [JSON]

#24462 More vehicle part descriptions
  data/json/vehicle_parts.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/manual.json
  data/raw/keybindings.json
  src/editmap.cpp
  src/game.cpp
  src/veh_interact.cpp
  src/veh_interact.h
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
Labels: Translation, Vehicles, [C++], [JSON]

#24452 Minor archery addition
  data/json/items/archery.json
  data/json/items/armor/holster.json
  data/json/recipes/armor/storage.json
  data/json/recipes/recipe_weapon.json
Labels: Crafting / Construction / Recipes, Gunmod / Toolmod, Ranged, [JSON]

#24347 Remove non-classic monsters when using classic zombies world option
  src/mongroup.cpp
Labels: Code: Astyle / Optimization, Mapgen, Monsters, Spawn, [C++]

#24492 Consume water only if player actually drinks it
  src/pickup.cpp
Labels: <Bugfix>, Vehicles

#24499 Fix some Typos
  data/json/effects.json
  data/json/items/archery.json
  data/json/items/crossbows.json
  data/json/items/gun/223.json
  data/json/items/gun/9mm.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/underbarrel.json
  data/json/mapgen/lab/lab_floorplan_cross.json
  data/json/mapgen/lab/lab_trains.json
  data/json/mutations.json
  data/json/professions.json
  data/json/vehicleparts/engineering.json
Labels: Translation, [JSON]

#24473 Removes the survival requirement from the knife spear recipe, and makes it take longer
  data/json/recipes/recipe_weapon.json
Labels: Crafting / Construction / Recipes, Melee, [JSON]

#24464 Mycus Identity gives a speed boost to walking over fungal tiles, and prevents them from slowing you
  data/json/mutations.json
  src/game.cpp
  src/player.cpp
Labels: Effects / Skills / Stats, Fields / Furniture / Terrain / Traps, Mutations / Traits, [C++], [JSON]

#24467 Moved defense mode caravan items to json groups
  astyle_blacklist
  data/json/itemgroups/defense_mode.json
  src/defense.cpp
  src/gamemode.h
Labels: <Enhancement / Feature>, Mods, [C++], [JSON]

#24504 Jsonify pawn shop
  data/json/mapgen/pawn_shop.json
  data/json/mapgen/sports_store.json
  src/mapgen_functions.cpp
Labels: <Enhancement / Feature>, Mapgen, [C++], [JSON]

#24524 Added sun glare protection for all kinds of survivor masks
  data/json/items/tool_armor.json
Labels: Effects / Skills / Stats, Items / Item Actions, [JSON]

#24389 Edit healing items to better reflect new healing mechanics.
  data/json/item_actions.json
  data/json/items/armor.json
  data/json/items/book/firstaid.json
  data/json/items/comestibles.json
  data/json/items/comestibles/med.json
  data/json/recipes/other/medical.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_medsandchemicals.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: Crafting / Construction / Recipes, Game: Balance, Items / Item Actions, [JSON]

#24368 Changes some Autodoc messages and makes it usable without anesthesia by Deadened mutants or Sensory Dulling cyborgs
  data/json/flags.json
  data/json/furniture.json
  data/json/snippets.json
  src/bionics.cpp
  src/help.cpp
  src/iexamine.cpp
  src/player.h
Labels: Bionics, Game: Balance, [C++], [JSON]

#24526 Item description improvements
  src/item.cpp
Labels: Info / User Interface, Items / Item Actions, [C++]

#24379 Antibiotic overhaul - slow-acting antibiotics, and adds Atreyupan, a weak antibiotic
  data/json/effects.json
  data/json/item_actions.json
  data/json/item_groups.json
  data/json/itemgroups/drugs.json
  data/json/items/comestibles/med.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/player_hardcoded_effects.cpp
Labels: <Enhancement / Feature>, Items / Item Actions, [C++], [JSON]

#24542 Give the survivor firemask glare protection
  data/json/items/tool_armor.json
Labels: Items / Item Actions, [JSON]

#24516 [RDY] Fix foraging behavior
  src/iexamine.cpp
Labels: <Bugfix>, [C++]

#24537 One more lab floorplan
  data/json/mapgen/lab/lab_floorplans.json
  src/mapgen.cpp
Labels: Mapgen, [JSON]

#24548 Add glare protection to all gear with glare quality
  data/json/items/armor.json
  data/json/items/tool_armor.json
Labels: Effects / Skills / Stats, Items / Item Actions

#24550 Fixes unwinnable lab death trap
  data/json/mapgen/basement/basement_lab_stairs.json
Labels: <Bugfix>, Mapgen, [JSON]

#24078 [CR] Unicode support for SCT
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/options.cpp
  src/sdltiles.cpp
Labels: <Enhancement / Feature>, SDL: Tiles / Sound, [C++]
