Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2018-11, with the labels that each got.

#26482 Fix volume parsing on macOS
  src/assign.h
Labels: <Bugfix>, OS: macOS, [C++]

#26466 Fix church mapgen:
  data/json/mapgen/church.json
Labels: <Bugfix>, Mapgen, [JSON]

#26296 Basic restructuring of the faction camp code
  src/faction_camp.cpp
  src/faction_camp.h
  src/mission_companion.cpp
  src/npctalk.cpp
  src/npctalk_funcs.cpp
Labels: <Bugfix>, Info / User Interface, Missions, Player Base / Camp

#26319 Estimate spoilage time in Eat menu and description (if skilled)
  src/consumption.cpp
  src/game_inventory.cpp
  src/item.cpp
  src/player.h
Labels: Info / User Interface, [C++]

#26309 Clarify crafting skills requirements text
  src/crafting_gui.cpp
  src/recipe.cpp
  src/recipe.h
  src/recipe_dictionary.cpp
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Info / User Interface

#26325 Fix/show redundant quality requirement as gray
  src/character.cpp
  src/color.cpp
  src/color.h
  src/construction.cpp
  src/requirements.cpp
  src/requirements.h
Labels: Code: Astyle / Optimization, Crafting / Construction / Recipes, Info / User Interface, Translation, [C++]

#26352 Migrate more menus to uilist
  src/item_action.cpp
  src/loading_ui.cpp
  src/loading_ui.h
  src/monattack.cpp
  src/mutation.cpp
  src/newcharacter.cpp
  src/npctalk.cpp
  src/npctalk_funcs.cpp
  src/overmap_ui.cpp
  src/pickup.cpp
  src/player.cpp
Labels: Info / User Interface, [C++]

#26385 bionics: connect cable charger systems to vehicles
  src/bionics.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
Labels: <Enhancement / Feature>, Bionics, Vehicles, [C++]

#26485 Changing wine_must
  data/json/recipes/food/brewing.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#26483 Changed the recipe for sour whiskey
  data/json/items/comestibles.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Items / Item Actions, [JSON]

#26468 Building Variety
  abstorefront.json
  bank.json
  garage.json
  office_cubical.json
  shelter.json
  station_radio.json
  storage_units_small.json
Labels: Mapgen, [JSON]

#26471 Adding stoves and Fridges to home improvement superstore
  data/json/mapgen/homeimprovement_superstore.json
Labels: Fields / Furniture / Terrain / Traps, Game: Balance, [JSON]

#26496 Moved mapgen files to correct folder
  abstorefront.json
  bank.json
  data/json/mapgen/abstorefront.json
  data/json/mapgen/bank.json
  data/json/mapgen/garage.json
  data/json/mapgen/office_cubical.json
  data/json/mapgen/shelter.json
  data/json/mapgen/station_radio.json
  data/json/mapgen/storage_units_small.json
  garage.json
  office_cubical.json
  shelter.json
  station_radio.json
  storage_units_small.json
Labels: Mapgen, [JSON]

#26458 Show what will result from vehicle part removal
  src/veh_interact.cpp
Labels: Info / User Interface, Vehicles, [C++]

#26486 Take down the Halloween decorations
  src/main_menu.cpp
Labels: Info / User Interface, [C++]

#26442 Adjustable riot helmet
  data/json/items/armor.json
  data/json/items/tool_armor.json
Labels: <Enhancement / Feature>, Items / Item Actions, [JSON]

#26477 Add more functions to vpart_position and vpart_reference
  src/cata_tiles.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/handle_action.cpp
  src/iuse.cpp
  src/lightmap.cpp
  src/map.cpp
  src/map_extras.cpp
  src/npcmove.cpp
  src/savegame_json.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_display.cpp
  src/vehicle_use.cpp
  src/visitable.cpp
  src/vpart_position.h
  src/vpart_reference.h
  tests/vehicle_efficiency.cpp
Labels: Code: Astyle / Optimization, Vehicles, [C++]

#26507 NPC missions: clear the mission during the failure talk topic
  data/json/npcs/TALK_COMMON_MISSION.json
Labels: <Bugfix>, Missions, NPC, [JSON]

#26505 Added a missing space char to fix formatting
  doc/GAME_BALANCE.md
Labels: <Documentation>, [Markdown]

#26354 More hints and tips
  data/core/tips.json
  data/json/npcs/hints.json
Labels: Info / User Interface, [JSON]

#26500 Map memory serialization fixes, tests, and performance
  src/map_memory.cpp
  src/map_memory.h
  src/savegame_json.cpp
  tests/map_memory.cpp
Labels: <Bugfix>, Code: Tests, [C++]

#26497 Fixed crash related to unbound direction action
  src/help.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#26504 Fixed handjacks
  data/json/vehicles/carts.json
Labels: <Bugfix>, Vehicles, [JSON]

#26506 Migrate more uimenus to uilist
  src/craft_command.cpp
  src/game.cpp
  src/iuse_actor.cpp
  src/newcharacter.cpp
  src/player.cpp
  src/string_input_popup.cpp
  src/translations.cpp
Labels: Controls / Input, Info / User Interface, [C++]

#26383 Overmap UI tweaks: more colours
  src/overmap_ui.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#26517 Summary34
  summary30.txt
  summary34.txt
Labels: <Documentation>

#26235 Added zinc to more groups including hardware
  data/json/item_groups.json
  data/mods/More_Locations/factory/factory_be_gate_01.json
Labels: Items / Item Actions, [JSON]

#26491 Advanced Ecig Fix
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#26285 [RDY]Add 3L jar canning and pickling recipes, add canned red sauce, update kompot, update some missed .5L canning recipes
  data/json/item_groups.json
  data/json/items/comestibles.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Items / Item Actions, [JSON]

#25432 Move most NPC dialogue to JSON
  data/json/npcs/TALK_COMMON_OTHER.json
  data/json/npcs/TALK_REFUGE_RANCH.json
  doc/NPCs.md
  src/npctalk.cpp
  src/npctalk_funcs.cpp
Labels: Missions, NPC, [C++], [JSON]

#26411 Cat fixes round 2
  data/json/items/biosignatures.json
  data/json/items/comestibles.json
  data/json/items/containers.json
  data/json/items/generic.json
  data/json/items/melee.json
  data/json/items/tools.json
  data/json/items/vehicle_parts.json
  data/mods/Medieval_Stuff/armor.json
  data/mods/Medieval_Stuff/shields.json
  data/mods/More_Survival_Tools/ammo.json
  data/mods/More_Survival_Tools/items.json
Labels: Info / User Interface, Items / Item Actions, [JSON]

#26278 Improved martial arts descriptions
  data/json/techniques.json
  src/bonuses.cpp
  src/bonuses.h
  src/martialarts.cpp
  src/martialarts.h
  src/newcharacter.cpp
  src/player.cpp
Labels: Character / Player, Info / User Interface, Melee, [C++], [JSON]

#26226 [Done!] Tasty Portals!
  doc/JSON_INFO.md
  src/artifact.cpp
  src/artifact.h
  src/game.cpp
Labels: Artifacts, [C++]

#26344 Adds some more faux fur clothes
  data/json/item_groups.json
  data/json/items/armor.json
  data/json/items/book/tailor.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/torso.json
Labels: Items / Item Actions, [JSON]

#26532 Construction
  data/json/construction.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#26519 Updating the fireman belt to allow axes and maces
  data/json/items/armor.json
  data/json/items/melee.json
  data/json/items/tools.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#26462 added dairy tag to several foods
  data/json/items/comestibles.json
Labels: Info / User Interface, [JSON]

#26420 Add Magic 8-Ball and coin
  data/json/item_actions.json
  data/json/item_groups.json
  data/json/items/fluff.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: Items / Item Actions, [C++], [JSON]

#26540 Dairy -> milk
  data/json/items/comestibles.json
Labels: <Bugfix>, Food / Vitamins, [JSON]

#26459 changed the weight and to-hit of awl pikes
  data/json/items/melee.json
  data/json/items/tools.json
Labels: Game: Balance, Items / Item Actions, [JSON]

#26444 Add "toggle fast scroll" option to overmap UI
  src/overmap_ui.cpp
Labels: Info / User Interface, [C++]

#26530 Fixing reach attacks with gun bayonets
  data/json/items/gunmod/underbarrel.json
  data/json/items/tools.json
  src/handle_action.cpp
Labels: <Bugfix>, Gunmod / Toolmod, [C++], [JSON]

#26559 Updated Nicotine Liquid Volume from 0 to 1
  data/json/items/ammo.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#26567 Minor include cleanup
  .gitignore
  src/overmap_ui.cpp
  src/overmap_ui.cpp~RFb240aae.TMP
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#26562 Fix quartered corpse butchering time
  src/activity_handlers.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#26570 Changed air jack location
  data/json/vehicleparts/engineering.json
Labels: <Bugfix>, Vehicles, [JSON]

#26460 made heroin easier to craft
  data/json/recipes/recipe_medsandchemicals.json
Labels: Crafting / Construction / Recipes, [JSON]

#26578 Restored header includes required for successful Android builds
  src/messages.cpp
  src/ui.cpp
Labels: Code: Build, OS: Android, [C++]

#26581 Changed include order
  src/translations.cpp
Labels: Code: Build, OS: Windows, [C++]

#26523 Adaptive perishable stacking
  src/calendar.cpp
  src/calendar.h
  src/item.cpp
  tests/item_test.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Info / User Interface, [C++]

#26598 Fix blank string in ngettext call
  src/martialarts.cpp
Labels: Translation, [C++]

#26560 This fixes #26544 | Adding Translation-Markup
  src/crafting.cpp
  src/iexamine.cpp
Labels: <Bugfix>, Translation, [C++]

#26584 Bondage mask price change, ability to zip and unzip
  data/json/items/armor.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#26465 Add error reporting to many calls of SDL function
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/sdl_wrappers.cpp
  src/sdl_wrappers.h
  src/sdltiles.cpp
Labels: Code: Tests, SDL: Tiles / Sound, [C++]

#26618 Fix cows spawns on dairy farms.
  data/json/mapgen/farm_dairy.json
Labels: <Bugfix>, Mapgen, Monsters, Spawn, [JSON]

#26625 Highlight 'on' toggle-able parts in vehicle use menus
  src/vehicle_use.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#26627 Highlight selected martial arts style in menu
  src/player.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#26606 Instructions for invoking test suite.
  .github/CONTRIBUTING.md
  COMPILING.md
Labels: <Documentation>, Code: Tests

#26622 Atomic reactor enable/disable + spam fix
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26541 Final cleanup of uimenu -> uilist migration
  data/raw/keybindings.json
  lua/class_definitions.lua
  src/action.cpp
  src/advanced_inv.cpp
  src/advanced_inv.h
  src/catalua.cpp
  src/clzones.h
  src/crafting_gui.cpp
  src/debug_menu.cpp
  src/editmap.cpp
  src/game.cpp
  src/handle_action.cpp
  src/input.h
  src/item_action.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse_software_minesweeper.cpp
  src/martialarts.cpp
  src/martialarts.h
  src/mutation.cpp
  src/newcharacter.cpp
  src/output.cpp
  src/output.h
  src/pickup.cpp
  src/player.cpp
  src/string_input_popup.cpp
  src/trait_group.cpp
  src/ui.cpp
  src/ui.h
  src/veh_interact.cpp
  src/vehicle.h
  src/vehicle_use.cpp
  src/wish.cpp
Labels: Code: Astyle / Optimization, Info / User Interface, [C++]

#26493 Prevent integer overflow with max charges, container and cargo volume
  data/json/items/ammo.json
  data/json/items/chemicals_and_resources.json
  data/json/items/fuel.json
  data/json/items/resources/metals.json
  data/mods/blazemod/blaze_blob.json
  data/mods/blazemod/blaze_test.json
  doc/JSON_INFO.md
  src/item.cpp
  src/item_factory.cpp
  src/vehicle.cpp
Labels: <Bugfix>, Items / Item Actions, Vehicles, [C++], [JSON]

#26518 Dissecting with only a scalpel
  src/action.cpp
  src/activity_handlers.cpp
  src/game.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#26629 Fixed astyle regression (2018-11-10)
  src/item.cpp
Labels: Code: Astyle / Optimization, [C++]

#26628 Code optimizations reported by static code analysis (2018-11-10)
  src/action.cpp
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/activity_type.cpp
  src/character.cpp
  src/color.cpp
  src/crafting.cpp
  src/crash.cpp
  src/debug_menu.cpp
  src/dependency_tree.cpp
  src/editmap.cpp
  src/effect.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/iexamine.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/map_extras.cpp
  src/mapgen_functions.cpp
  src/mapsharing.cpp
  src/mattack_actors.cpp
  src/mission_companion.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/options.cpp
  src/overmapbuffer.cpp
  src/player.cpp
  src/profession.cpp
  src/scenario.cpp
  src/sdltiles.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle_use.cpp
Labels: Code: Astyle / Optimization, [C++]

#26402 Deferred translation class with optional context for option/effect/item-action names
  data/json/effects.json
  data/json/item_actions.json
  doc/EFFECTS_JSON.md
  doc/JSON_INFO.md
  doc/TRANSLATING.md
  lang/extract_json_strings.py
  lang/merge_po.sh
  lang/strip_line_numbers.py
  lang/unicode_check.py
  lang/update_pot.sh
  src/effect.cpp
  src/effect.h
  src/item_action.cpp
  src/item_action.h
  src/options.cpp
  src/options.h
  src/player_display.cpp
  src/regional_settings.cpp
  src/translations.cpp
  src/translations.h
Labels: <Bugfix>, Code: Astyle / Optimization, Translation, [C++]

#26537 More accurate weights (and some volume adjustments) on mammals
  data/json/monsters/mammal.json
Labels: Food / Vitamins, Game: Balance, Monsters, [JSON]

#26542 Added railroad station overmap special
  data/json/mapgen/railroad/railroad_level_station.json
  data/json/mapgen_palettes/railroad.json
  data/json/overmap/specials.json
  data/json/overmap_terrain.json
Labels: <Enhancement / Feature>, Mapgen, [JSON]

#26572 Sort tests object files to link them in reproducible order
  tests/Makefile
Labels: Code: Build, Code: Tests

#26593 More start location to lab start
  data/json/scenarios/scenarios.json
  data/json/start_locations.json
Labels: Scenarios, [JSON]

#26608 Format money with format_money
  src/npctalk_funcs.cpp
Labels: <Bugfix>, Translation

#26616 Allow translations of 'yes' in crafting search
  src/crafting_gui.cpp
Labels: Translation, [C++]

#26630 Fix for Heat Induced Vomit Loop
  src/player_hardcoded_effects.cpp
Labels: <Bugfix>, Effects / Skills / Stats, Temperature, [C++]

#26388 Crazy cataclysm fixes (bear/mr skeltal spawns, bionic)
  data/json/default_blacklist.json
  data/json/monstergroups.json
  data/json/monsters.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/CrazyCataclysm/crazy_monstergroups.json
  data/mods/CrazyCataclysm/crazy_monsters.json
  data/mods/CrazyCataclysm/modinfo.json
  data/mods/No_Zombie_Animals/modinfo.json
Labels: <Bugfix>, Bionics, Mods, Monsters, [JSON]

#26635 Fixed red tinted shadows.
  src/cata_tiles.cpp
Labels: <Bugfix>, SDL: Tiles / Sound

#26633 Implementation to support JSON music descriptions
  data/json/music.json
  src/iuse.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Items / Item Actions, [C++], [JSON]

#26621 Use point for parameters in vehicle class
  src/construction.cpp
  src/faction_camp.cpp
  src/iuse.cpp
  src/map.cpp
  src/mapgen.cpp
  src/savegame_json.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_utils.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_display.cpp
  src/vehicle_part.cpp
  src/vpart_position.h
  tests/npc_test.cpp
  tests/vehicle_turrets.cpp
Labels: Code: Astyle / Optimization, Code: Tests, [C++]

#26564 Disable optimizations for macOS builds
  Makefile
Labels: Code: Build, OS: macOS

#26642 Remove redundant checking before inserting into a set
  src/item.cpp
Labels: Code: Astyle / Optimization, Items / Item Actions, [C++]

#26634 vehicle power test: make it more consistent
  src/game.h
  tests/vehicle_power_test.cpp
Labels: Code: Tests, Vehicles

#26643 Code optimizations reported by static code analysis (2018-11-11)
  src/activity_handlers.cpp
  src/advanced_inv.cpp
  src/artifact.cpp
  src/basecamp.cpp
  src/cata_tiles.cpp
  src/crafting.cpp
  src/enums.h
  src/faction_camp.cpp
  src/field.cpp
  src/game.cpp
  src/help.cpp
  src/iexamine.cpp
  src/input.cpp
  src/inventory.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item_factory.cpp
  src/item_group.cpp
  src/iuse_actor.cpp
  src/main_menu.cpp
  src/map.cpp
  src/mapgen.cpp
  src/martialarts.cpp
  src/mission_companion.cpp
  src/mod_tileset.cpp
  src/mondeath.cpp
  src/mongroup.h
  src/mutation.cpp
  src/mutation_data.cpp
  src/mutation_type.cpp
  src/newcharacter.cpp
  src/npctalk.cpp
  src/output.cpp
  src/overmap.cpp
  src/pickup.cpp
  src/player.cpp
  src/profession.cpp
  src/profession.h
  src/regional_settings.h
  src/safemode_ui.h
  src/start_location.cpp
  src/translations.cpp
  src/translations.h
  src/veh_interact.cpp
  src/vehicle_use.cpp
  src/vpart_range.h
  src/weighted_list.h
  src/wish.cpp
  src/worldfactory.cpp
  tests/reload_magazine.cpp
  tests/test_main.cpp
Labels: Code: Astyle / Optimization, [C++]

#26620 Fix faction mission skill check
  src/faction_camp.cpp
Labels: <Bugfix>, Missions, Player Base / Camp, [C++]

#26650 Fixed planter message spam
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26651 Make minireactors leak plutonium slurry
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26659 Visual Studio solution with vcpkg support
  .gitignore
  COMPILING-MSYS.md
  COMPILING-VS-VCPKG.md
  msvc-full-features/Cataclysm-vcpkg.sln
  msvc-full-features/Cataclysm-vcpkg.vcxproj
  msvc-full-features/WINDEPEND.props
  msvc-full-features/stdafx.h
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/debug.cpp
  src/loading_ui.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/sdl_wrappers.cpp
  src/sdl_wrappers.h
  src/sdltiles.cpp
  src/sounds.cpp
Labels: <Documentation>, Code: Build, OS: Windows, SDL: Tiles / Sound, [C++]

#26653 Do not ask for retarget when opening projects in Visual Studio
  msvc-full-features/Cataclysm.vcxproj
  msvc-full-features/Cataclysm_lib.vcxproj
  msvc-full-features/Tests.vcxproj
Labels: Code: Build, OS: Windows

#26662 Update to electric lighting tool capacity and battery usage
  data/json/items/tool/lighting.json
Labels: Game: Balance, Items / Item Actions, [JSON]

#26669 Include cstdlib in catacharset.cpp
  src/catacharset.cpp
Labels: Code: Build, OS: macOS, [C++]

#26665 vehicle power test: use weather_override in weather.cpp
  src/weather.cpp
  tests/vehicle_power_test.cpp
Labels: Code: Tests, Vehicles, [C++]

#26677 Add crafting searches for primary skill and result description
  src/crafting_gui.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#26679 Allow constructions to spawn byproduct items
  data/json/construction.json
  src/construction.cpp
  src/construction.h
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, [C++], [JSON]

#26106 Improve monster tracker by eliminating the unecessary vector member.
  src/creature_tracker.cpp
  src/creature_tracker.h
  src/game.cpp
  src/game.h
  src/monmove.cpp
  src/savegame.cpp
  tests/creature_tracker_test.cpp
Labels: Code: Performance, Monsters, [C++]

#26657 Restored ability to repair mounted car battaries
  data/json/vehicleparts/battery.json
Labels: <Bugfix>, Vehicles, [JSON]

#25916 Adds stealth modifier as mutation property
  data/json/mutations.json
  doc/JSON_INFO.md
  src/character.cpp
  src/creature.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/player.cpp
Labels: <Enhancement / Feature>, Game: Mechanics Change, Mutations / Traits / Professions, [C++], [JSON]

#26682 Added .vs folder to .gitignore
  .gitignore
Labels: OS: Windows, Organization

#26680 Fix error message
  data/mods/bio_mod/b_cbm.json
Labels: <Bugfix>, Bionics, Mods, [JSON]

#26687 Revert "Improve monster tracker by eliminating the unecessary vector member."
  src/creature_tracker.cpp
  src/creature_tracker.h
  src/game.cpp
  src/game.h
  src/monmove.cpp
  src/savegame.cpp
  tests/creature_tracker_test.cpp
Labels: (P2 - High), Monsters, Spawn, [C++]

#26654 Report SDL version to debug.log
  src/main.cpp
Labels: Code: Build, SDL: Tiles / Sound, [C++]

#26685 folding vehicles: improve collision test when unfolding
  src/iuse.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26656 Translate item category names on the fly
  doc/JSON_INFO.md
  src/inventory_ui.cpp
  src/item_category.cpp
  src/item_category.h
  src/item_factory.cpp
  src/translations.cpp
  src/translations.h
Labels: <Bugfix>, <Documentation>, Translation, [C++], [Markdown]

#26666 Proposed copy-from recipe fixes
  data/json/recipes/armor/other.json
  data/json/recipes/engines.json
  data/json/recipes/other/vehicle.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#26671 vehicles: align turn directions in increments of 15 degrees
  src/vehicle.h
  src/vehicle_move.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26696 Fix foldstring ignoring multiple linebreaks
  data/json/effects.json
  src/effect.cpp
  src/item.cpp
  src/output.cpp
  src/output.h
  src/overmap_ui.cpp
  src/vehicle_display.cpp
Labels: Info / User Interface, Translation, [C++], [JSON]

#26721 Add missing translation markup
  src/activity_handlers.cpp
  src/iexamine.cpp
Labels: Translation, [C++]

#26718 Shift greatbow crafting difficulty to end-game.
  data/json/items/archery.json
  data/json/recipes/recipe_weapon.json
Labels: Game: Balance, Items / Item Actions, Ranged, [JSON]

#26722 Arbitrary number of spaces between summary parts
  build-scripts/validate_pr_in_jenkins
Labels: Organization

#26703 Fix final animation in Robot finds kitten (tiles)
  src/iuse_software_kitten.cpp
Labels: <Bugfix>, Info / User Interface, Items / Item Actions, [C++]

#26695 Switch to using travis build stages.
  .travis.yml
Labels: Code: Build

#26704 Tag clothes that do not fit, rather than clothes that do
  src/auto_pickup.cpp
  src/item.cpp
  src/iuse_actor.h
  src/pickup.cpp
Labels: Info / User Interface, [C++]

#26732 vehicle parts: add recipe for fuel bunker
  data/json/items/vehicle_parts.json
  data/json/recipes/recipe_vehicle.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Vehicles, [JSON]

#26554 Changing vacuum-packed food to work the same as canned food
  data/json/items/comestibles.json
  data/json/items/comestibles/carnivore.json
  data/json/items/containers.json
  data/json/items/migration.json
  data/json/items/tools.json
  data/json/mapgen/butcher.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  data/mods/Tolerate_This/recipe_food.json
  gfx/BlockheadTileset/tile_config.json
  gfx/ChestHole16Tileset/tile_config.json
  gfx/ChestHole32Tileset/tile_config.json
  gfx/ChestHole32Tileset_iso/tile_config.json
  gfx/ChestHoleTileset/tile_config.json
  gfx/DeonTileset/tile_config.json
  gfx/HitButton_iso/tile_config.json
  gfx/HoderTileset/tile_config.json
  gfx/MShock24TilesetModded/tile_config.json
  gfx/MShock32TilesetModded/tile_config.json
  gfx/MshockXotto+/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  gfx/ThuztorTileset@/tile_config.json
  gfx/TsuTileset/tile_config.json
  gfx/tile_config_template.json
  src/recipe.cpp
  src/recipe.h
  src/recipe_dictionary.cpp
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#26675 POSIX backtrace fixes
  Makefile
  src/cata_utility.cpp
  src/cata_utility.h
  src/debug.cpp
  src/translations.cpp
  tests/cata_utility_test.cpp
Labels: Code: Build, Code: Tests, [C++]

#26698 Gas mask descriptions
  src/item.cpp
  src/item_factory.cpp
  src/item_factory.h
  src/iteminfo_query.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#26728 Test refactoring
  src/animation.cpp
  tests/explosion_balance.cpp
  tests/ground_destroy_test.cpp
  tests/invlet_test.cpp
  tests/map_helpers.cpp
  tests/map_helpers.h
  tests/monster_test.cpp
  tests/shadowcasting_test.cpp
Labels: Code: Astyle / Optimization, Code: Tests, [C++]

#26730 Use Xenial dist in test stage for faster initial build
  .travis.yml
Labels: Code: Build, Organization

#26724 Added x86 platforms to vcpkg solution
  COMPILING-VS-VCPKG.md
  msvc-full-features/Cataclysm-vcpkg.sln
  msvc-full-features/Cataclysm-vcpkg.vcxproj
Labels: Code: Build, OS: Windows

#26727 Updated Appveyor configuration with vcpkg solution
  .appveyor.yml
Labels: Code: Build, OS: Windows, Organization

#26674 Updated SDL include paths
  msvc-full-features/Cataclysm-vcpkg.vcxproj
  msvc-full-features/stdafx.h
  src/crash.cpp
  src/debug.cpp
  src/loading_ui.cpp
  src/main.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/sdl_wrappers.cpp
  src/sdl_wrappers.h
  src/sdltiles.cpp
  src/sounds.cpp
Labels: Code: Build, OS: Android, OS: Linux, OS: Windows, OS: macOS, SDL: Tiles / Sound, [C++]

#26731 faction camps: don't delete non-food items when distributing food
  src/faction_camp.cpp
Labels: <Bugfix>, Player Base / Camp, [C++]

#26736 Removed duplicate entries of hazmat suit and ANBC suit
  data/json/items/armor.json
Labels: Items / Item Actions, [JSON]

#26725 Building Variety 2
  data/json/mapgen/bar.json
  data/json/mapgen/dojo.json
  data/json/mapgen/gym.json
  data/json/mapgen/laundromat.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/restaurant_fast.json
  data/json/mapgen/teashop.json
Labels: Mapgen, [JSON]

#26733 Moved the Arsonist to another room in the shelter
  data/json/mapgen/evac_center.json
  data/json/npcs/TALK_ARSONIST.json
  data/json/npcs/talk_tags.json
Labels: <Bugfix>, NPC, [C++], [JSON]

#26734 Fix execution of one action from remote vehicle control menu
  src/iuse.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26738 npctalk: add support for NPC backstories
  data/json/npcs/TALK_TEST.json
  doc/NPCs.md
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: <Enhancement / Feature>, NPC, [C++]

#26658 Increased accuracy of Rivtech guns
  data/json/items/gun/20x66mm.json
  data/json/items/gun/22.json
  data/json/items/gun/40mm.json
  data/json/items/gun/5x50.json
  data/json/items/gun/8x40mm.json
  data/json/items/gunmod/underbarrel.json
Labels: Game: Balance, Ranged, [JSON]

#26750 revert long grass colour change
  data/json/terrain.json
Labels: Fields / Furniture / Terrain / Traps, Info / User Interface

#26761 Document Mark firewood source
  data/json/construction.json
Labels: Crafting / Construction / Recipes, Info / User Interface, [JSON]

#26765 Fix structure of modinfo.json for fujistruct
  data/mods/Fuji_Structures/modinfo.json
Labels: Mods, [JSON]

#26768 Fix some documentation typos
  COMPILING-CMAKE.md
  COMPILING-MSYS.md
  COMPILING-VS-VCPKG.md
  COMPILING.md
  doc/CHANGELOG_GUIDELINES.md
  doc/COMPILER_SUPPORT.md
  doc/ITEM_SPAWN.md
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  doc/JSON_STYLE.md
  doc/NPCs.md
  doc/REGION_SETTINGS.md
  doc/VEHICLES_JSON.md
Labels: <Documentation>

#26488 Prevent seeing light through walls
  src/editmap.cpp
  src/explosion.cpp
  src/fragment_cloud.h
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/shadowcasting.h
  tests/shadowcasting_test.cpp
  tests/vision_test.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Info / User Interface, [C++]

#26757 Build tests in CMake build
  .gitignore
  CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
Labels: Code: Build

#26774 Stone spear can be stored in a spear sheath
  data/mods/More_Survival_Tools/items.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#26771 fix power of oars
  data/mods/Boats/b_inflatable_boat_parts.json
Labels: <Bugfix>, Vehicles, [JSON]

#26769 Fix multiple bike racks on same axis
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26760 fixes activation messages for radio-triggered grenades
  src/iuse_actor.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#26786 Fix OS X cross-compile
  src/lightmap.cpp
Labels: Code: Build, OS: macOS, [C++]

#26782 vehicles: convert a few more values to watts and fix loud backfires
  data/json/vehicleparts/manual.json
  data/mods/Boats/b_inflatable_boat_parts.json
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++], [JSON]

#26785 Fix map_clear field clearing
  tests/map_helpers.cpp
Labels: Code: Tests, [C++]

#26798 Fixed lightmap-related crashes in MinGW 64-bit executables
  src/lightmap.cpp
  src/shadowcasting.h
Labels: (P1 - Critical), <Bugfix>, [C++]

#26788 Support reloading from opened tin can
  src/item.cpp
  src/player.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#26797 refugee ranch: use a palette
  data/json/mapgen/ranch_camp.json
  data/json/mapgen_palettes/ranch_camp.json
Labels: Code: Astyle / Optimization, Mapgen, [JSON]

#26697 Recipes for screwdrivers( set)
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#26802 Use translate_marker instead of translate_marker_context
  src/clzones.cpp
Labels: <Bugfix>, Translation, [C++]

#26814 npctalk: NPC group commands to guard and follow
  src/game.cpp
  src/npc.h
  src/npctalk.cpp
  src/npctalk_funcs.cpp
Labels: <Enhancement / Feature>, NPC, [C++]

#26806 Fix seeing walls at night
  src/lightmap.cpp
  tests/vision_test.cpp
Labels: <Bugfix>, [C++]

#26807 Fix lighting in vehicles
  src/lightmap.cpp
  src/map.cpp
Labels: <Bugfix>, Vehicles, [C++]

#26819 Translate help texts
  src/help.cpp
Labels: Translation, [C++]

#26791 Adds favorite recipes tab in crafting menu
  data/json/recipes/recipes.json
  data/raw/keybindings.json
  src/crafting_gui.cpp
  src/recipe.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
  src/uistate.h
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Info / User Interface, [C++]

#26821 Fix uninitialized memory warnings
  src/character.cpp
  src/savegame_json.cpp
Labels: <Bugfix>, Code: Performance, Code: Tests, [C++]

#26822 Fix memory leaks in tests
  src/catalua.cpp
  src/game.cpp
  src/game.h
  src/main.cpp
  src/map.cpp
  src/mapgen.cpp
  src/npc.h
  src/npcmove.cpp
  tests/test_main.cpp
Labels: <Bugfix>, Code: Tests, NPC, [C++]

#26803 Modernized MREs
  data/json/item_groups.json
  data/json/items/comestibles.json
  data/json/items/comestibles/mre.json
  data/json/npcs/NC_SOLDIER.json
  data/json/npcs/items_generic.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_deconstruction_package.json
Labels: <Enhancement / Feature>, Food / Vitamins, Items / Item Actions, [JSON]
