Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2018-12, with the labels that each got.

#26893 Spiderling Size/weight
  data/json/monsters/insect_spider.json
Labels: Game: Balance, Monsters, [JSON]

#26901 Allows usage of smoked meat for crafting meat sandwiches
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#26895 Cordless drill and fire axe tool use changes
  data/json/items/tools.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#26880 Enable free scrolling through remembered terrain.
  src/cata_tiles.cpp
  src/game.cpp
  src/map.cpp
  src/map.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#26775 Optimize point and tripoint hashing
  src/effect.h
  src/enums.h
  src/mutation.h
  src/savegame.cpp
  src/tuple_hash.h
  tests/hash_test.cpp
  tests/map_memory.cpp
Labels: Code: Astyle / Optimization, Code: Performance, Code: Tests, [C++]

#26906 Suppress gift messages in tests
  src/popup.cpp
Labels: Code: Tests, [C++]

#26897 CMake Travis build
  .travis.yml
  build-scripts/build.sh
Labels: Code: Build, OS: Linux, Organization

#26873 Offal recipes for new offal types
  data/json/items/comestibles.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/offal_dishes.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#26913 Added 'center' action for look around mode
  data/raw/keybindings.json
  src/game.cpp
Labels: Controls / Input, [C++], [JSON]

#26904 npc: friendly NPCs only warn about hostile monsters
  data/json/npcs/talk_tags.json
  src/npcmove.cpp
Labels: <Bugfix>, NPC, [C++]

#26911 Don't adjust z coordinate manually when building obstacle cache.
  src/map.cpp
Labels: <Bugfix>, Z-levels, [C++]

#26903 Test changes in preparation for upgrading to Catch2
  tests/creature_test.cpp
  tests/explosion_balance.cpp
  tests/map_memory.cpp
  tests/melee_test.cpp
  tests/mutation_test.cpp
  tests/test_main.cpp
  tests/test_statistics.cpp
  tests/test_statistics.h
  tests/vehicle_efficiency.cpp
  tests/vision_test.cpp
Labels: Code: Tests, [C++]

#26919 Fix minor macOS build errors from recent changes
  src/basecamp.cpp
  src/basecamp.h
  src/crash.cpp
Labels: <Bugfix>, Code: Build, OS: macOS, [C++]

#26926 faction camp foraging and logging fixes
  src/faction_camp.cpp
Labels: <Bugfix>, Player Faction Base / Camp, [C++]

#26908 Added passenger train car
  data/json/vehicles/trains.json
Labels: <Enhancement / Feature>, Vehicles, [JSON]

#26927 faction camp clearcutting mission
  src/faction_camp.cpp
  src/faction_camp.h
Labels: <Enhancement / Feature>, Player Faction Base / Camp, [C++]

#26937 Pack map memory serialization more tightly in arrays.
  src/savegame_json.cpp
  tests/map_memory.cpp
Labels: Code: Performance, Code: Tests, [C++]

#26951 Fix wrong color names
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/offal_dishes.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#26952 Empty playlist of basic soundpack
  data/sound/Basic/musicset.json
Labels: SDL: Tiles / Sound, [JSON]

#26953 Tweak overmap population calculation
  src/overmap.cpp
Labels: <Bugfix>, Code: Tests, Spawn, [C++]

#26966 Tone down hash tests on debug builds
  tests/hash_test.cpp
Labels: Code: Tests, [C++]

#26965 Update catch version to 2.5.0
  tests/catch/catch.hpp
  tests/reload_option.cpp
  tests/reloading_test.cpp
  tests/shadowcasting_test.cpp
  tests/test_main.cpp
  tests/throwing_test.cpp
Labels: Code: Tests, [C++]

#26945 Send debug output to stderr during tests
  src/debug.cpp
  src/debug.h
  src/main.cpp
  tests/test_main.cpp
Labels: Code: Tests, [C++]

#26881 Allow aiming anywhere. Mark practice target.
  data/json/construction.json
  data/json/traps.json
  src/construction.cpp
  src/game.cpp
  src/game.h
  src/player.h
  src/ranged.cpp
  src/savegame.cpp
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Ranged, [C++]

#26894 Safemode custom rules fix in new games and added ignore timers
  src/game.cpp
  src/monster.h
  src/options.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#26896 Shorten acid ant trails, and stop formic infanticide
  data/json/monsters/insect_spider.json
  src/monmove.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Bugfix>, Monsters, [C++], [JSON]

#26960 Change input_context::get_direction to return optional tripoint
  src/action.cpp
  src/editmap.cpp
  src/game.cpp
  src/input.cpp
  src/input.h
  src/iuse_software_lightson.cpp
  src/iuse_software_minesweeper.cpp
  src/iuse_software_sokoban.cpp
  src/overmap_ui.cpp
  src/ranged.cpp
  src/veh_interact.cpp
Labels: Code: Astyle / Optimization, [C++]

#26950 Bandage/Disinfactant display/compare/apply improvements
  src/character.cpp
  src/effect.cpp
  src/game_inventory.cpp
  src/iuse_actor.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Items / Item Actions, [C++]

#26959 Convert map::coord_to_angle into a free function.
  lua/class_definitions.lua
  src/creature.cpp
  src/line.cpp
  src/line.h
  src/map.cpp
  src/map.h
  src/monattack.cpp
  src/npcmove.cpp
  src/sounds.cpp
Labels: Code: Astyle / Optimization, [C++]

#26972 Remove varsize from hologram cloak
  data/json/items/tool_armor.json
Labels: <Bugfix>, [JSON]

#26944 Adds sourdough and sourdough starter
  data/json/items/comestibles/bread.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#26973 Adapt to new definition of coord_to_angle
  src/ranged.cpp
Labels: <Bugfix>, [C++]

#26988 Fix some new typos
  data/changelog.txt
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/offal_dishes.json
  data/json/mapgen/evac_center.json
  data/json/npcs/TALK_COMMON_OTHER.json
  data/json/npcs/TALK_FACTION_CAMP.json
  data/json/vehicleparts/battery.json
  src/faction_camp.cpp
  src/npc.cpp
Labels: Code: Astyle / Optimization

#26992 Demote empty locations for group to a warning to avoid costly log spam.
  src/map.cpp
Labels: Code: Performance, [C++]

#26994 Bail out of move if we lose our vehicle.
  src/pickup.cpp
Labels: <Bugfix>, Vehicles, [C++]

#27001 melee: make sure aoe techniques don't access an array out of bounds
  src/melee.cpp
Labels: <Bugfix>, <Crash / Freeze>, Melee, [C++]

#26998 Pgettexted various one-word monster abilities in monster.cpp
  src/monster.cpp
Labels: Translation

#26996 Bail out of butchery if we try to butcher a non-corpse
  src/activity_handlers.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#27002 Changed apple orchard
  data/json/mapgen/orchard_apple.json
Labels: <Bugfix>, Game: Balance, Mapgen, Spawn, [JSON]

#27007 Fix crash during aiming
  src/ranged.cpp
Labels: (P2 - High), <Bugfix>, <Crash / Freeze>, Ranged, [C++]

#26818 Fixed compatibility of battery compartment mod with certain items
  src/iuse.cpp
  src/map.cpp
Labels: <Bugfix>, Battery, Gunmod / Toolmod

#26962 Craftable anesthetics kit via diethyl ether
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: Bionics, Crafting / Construction / Recipes, [JSON]

#26967 vehicles: add multiple fuel support
  data/json/items/fuel.json
  data/json/vehicleparts/combustion.json
  doc/JSON_INFO.md
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_display.cpp
  src/vehicle_part.cpp
  src/vehicle_use.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Vehicles, [C++], [JSON]

#26916 Added correct calorie amounts for Meat and Fat along with tallow
  data/json/items/comestibles.json
  data/json/items/comestibles/carnivore.json
Labels: <Bugfix>, Food / Vitamins, Game: Balance, [JSON]

#26981 Allow hiding of recipe categories from crafting menu
  data/json/recipes/recipes.json
  src/crafting_gui.cpp
Labels: Crafting / Construction / Recipes, Info / User Interface, Player Faction Base / Camp, [C++], [JSON]

#27021 Removed duplicate requirement of salted fish in fish soup recipe
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#27023 Emit debug backtraces at most once a minute
  src/debug.cpp
Labels: Code: Performance, [C++]

#27027 add "SHEATH_SWORD" flag to dao
  data/mods/Medieval_Stuff/tools.json
Labels: <Bugfix>, Items / Item Actions, Mods, [JSON]

#27032 Added motor to fridge deconstruction
  data/json/furniture.json
  data/json/vehicle_parts.json
Labels: Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [JSON]

#27045 Removed comma to fix professions.json
  data/mods/Medieval_Stuff/professions.json
Labels: <Bugfix>, <Crash / Freeze>, [JSON]

#27054 Remove FIRESTARTER flag from monocle
  data/json/items/armor.json
Labels: Game: Balance, Items / Item Actions, [JSON]

#27047 Sort cpp output for lua bindings
  src/lua/generate_bindings.lua
Labels: Code: Build, [Lua]

#27052 player: don't create the reload prompt if there's only one option
  src/player.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#27031 Precompute clothing layers
  src/enums.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
Labels: Code: Performance, Code: Tests, [C++]

#26209 vehicle speed rework
  data/json/item_groups.json
  data/json/items/vehicle/alternator.json
  data/json/mapgen/bike_shop.json
  data/json/vehicle_parts.json
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/wheel.json
  data/json/vehicles/bikes.json
  data/mods/Boats/b_inflatable_boat_parts.json
  data/mods/blazemod/blaze_blob_parts.json
  data/mods/blazemod/blaze_other_parts.json
  data/mods/blazemod/blaze_test.json
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  src/vehicle_part.cpp
  src/vehicle_use.cpp
  tests/vehicle_drag.cpp
  tests/vehicle_efficiency.cpp
Labels: Code: Tests, Game: Mechanics Change, Vehicles, [C++], [JSON]

#27049 Adding astyle to deb/ubuntu packages
  COMPILING.md
Labels: Code: Build

#27046 Fix aiming if target moves out of LOS.
  src/ranged.cpp
Labels: <Bugfix>, Aiming, [C++]

#26626 Fix description for "UPS-compatible recharging station"
  data/json/items/vehicle_parts.json
Labels: <Bugfix>, Translation, Vehicles

#26984 Normalize syringe volumes, add test tube for iv_mutagen
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mutagen.json
  data/json/items/containers.json
  data/json/items/tools.json
  data/json/recipes/recipe_others.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Game: Balance, [JSON]

#27072 Toolbox wood cutting ability due to wood saw
  data/json/items/tools.json
Labels: <Bugfix>, Items / Item Actions, [JSON]

#27078 Ignore compile_commands.json, .ycm_extra_conf.py
  .gitignore
Labels: Code: Build

#27075 Make the broth (3L) recipe consistent with the other
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#27069 Allowed hacksaws to saw through wood
  data/json/items/tools.json
Labels: <Enhancement / Feature>, Items / Item Actions, [JSON]

#27070 Added id_science to lab finales in finale1level
  data/json/mapgen/lab/lab_floorplans_finale1level.json
Labels: <Bugfix>, Mapgen, [JSON]

#27050 missions: autoset monster_kill_goal for KILL_TYPE and KILL_SPEC
  data/json/npcs/missiondef.json
  src/mission.cpp
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
Labels: <Enhancement / Feature>, Missions, [C++], [JSON]

#26930 NPC Dialogue Update 0.2: Add several more talk snippets
  data/json/npcs/talk_tags.json
Labels: <Enhancement / Feature>, NPC, [JSON]

#26931 NPC Dialogue Update 1.1: common background "survivor stories"
  data/json/npcs/BGSS_talk_common.json
Labels: <Enhancement / Feature>, NPC, [JSON]

#27064 Tear down curtains from every type of window with curtains
  data/json/terrain.json
  src/iexamine.cpp
Labels: <Enhancement / Feature>, Fields / Furniture / Terrain / Traps

#27066 Crafting GUI scrolling tweaks
  src/crafting_gui.cpp
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Info / User Interface, [C++]

#26929 NPC Dialogue Update 0.1: Add traits and trait groups
  data/json/npcs/BG_trait_groups.json
  data/json/npcs/BG_traits.json
  data/json/npcs/classes.json
Labels: <Enhancement / Feature>, NPC, [JSON]

#27086 Make a constant static constexpr
  src/clzones.h
Labels: Code: Astyle / Optimization, [C++]

#27065 Optional assignment
  src/optional.h
  tests/optional_test.cpp
Labels: Code: Astyle / Optimization, Code: Tests, [C++]

#27088 Small recipe fix, removes parasites from cooked brains
  data/json/items/comestibles/carnivore.json
  data/json/recipes/food/offal_dishes.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#26810 Multibutcher Fix and QoL Improvements
  src/activity_handlers.cpp
  src/game.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#26949 Add blind throwing
  data/raw/keybindings.json
  src/character.h
  src/game.cpp
  src/game.h
  src/player.h
  src/ranged.cpp
  src/ranged.h
Labels: <Enhancement / Feature>, Character / Player, [C++], [JSON]

#26957 faction camps: improve handle_camp_mission()
  data/json/recipes/recipe_groups.json
  src/faction_camp.cpp
  src/faction_camp.h
  src/mission_companion.cpp
  src/mission_companion.h
Labels: Code: Astyle / Optimization, Missions, NPC, Player Faction Base / Camp, [C++]

#27012 Overhaul of map revealing items
  data/json/item_category.json
  data/json/items/book/maps.json
  data/json/items/tools.json
  data/json/recipes/recipe_deconstruction.json
  src/item.cpp
  src/item.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/map.cpp
Labels: <Enhancement / Feature>, Items / Item Actions, [C++], [JSON]

#27097 Fix map memory toggle in ascii mode.
  src/map.cpp
Labels: <Bugfix>, Map Memory, [C++]

#27096 Pr/27090
  build-scripts/build.sh
  build-scripts/lint-json.sh
Labels: Code: Build

#27093 Fix gun layering
  src/item.cpp
  tests/item_test.cpp
Labels: Code: Astyle / Optimization, [C++]

#27105 Portable generator fix #27103
  data/json/vehicles/utility.json
Labels: <Bugfix>, Vehicles, [JSON]

#27037 Missions: Move some start functions into JSON
  data/json/npcs/missiondef.json
  doc/MISSIONS_JSON.md
  doc/NPCs.md
  src/dialogue.h
  src/mission.h
  src/mission_start.cpp
  src/missiondef.cpp
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: Missions, NPC, [C++], [JSON]

#27044 Allow peeking z levels.
  src/game.cpp
Labels: <Enhancement / Feature>, Z-levels, [C++]

#27074 Add tracking of overmap special for placed terrain
  src/overmap.cpp
  src/overmap.h
  src/savegame.cpp
Labels: Mapgen, [C++]

#27095 Adds expertise traits for NPCs
  data/json/npcs/expertise_traits.json
Labels: <Enhancement / Feature>, NPC, [JSON]

#26932 NPC Dialogue Update 1.2: job-specific background "survivor stories"
  data/json/npcs/BGSS_talk_specific.json
Labels: <Enhancement / Feature>, NPC, [JSON]

#27099 Allow custom sprites for corpses.
  src/cata_tiles.cpp
Labels: <Enhancement / Feature>, SDL: Tiles / Sound, [C++]

#27102 Pgettext diamond
  src/item.cpp
Labels: Translation

#27113 Added new layout to and tidied butcher shop.
  data/json/mapgen/butcher.json
Labels: Mapgen, [JSON]

#27109 Code optimizations related to coordinates (2018-12-15)
  src/cata_tiles.h
  src/editmap.cpp
  src/enums.h
  src/item.cpp
  src/mission_place.cpp
  src/mission_start.cpp
  src/npc.cpp
  src/overmap.cpp
  src/overmap.h
  src/overmapbuffer.cpp
  src/player.cpp
  src/savegame.cpp
  src/savegame_legacy.cpp
  src/ui.cpp
  tests/savegame_test.cpp
Labels: Code: Astyle / Optimization, [C++]

#27130 Update .gitignore
  .gitignore
Labels: Organization

#27124 vehicles: fix multifuel manual engines
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#27125 Added exclusion mods for ants, bees, and large zombies
  data/mods/No_Anthills/modinfo.json
  data/mods/No_Anthills/overmap_specials.json
  data/mods/No_Beehives/modinfo.json
  data/mods/No_Beehives/overmap_specials.json
  data/mods/No_Big_Zombies/modinfo.json
Labels: Game: Balance, Mods, [JSON]

#27063 New changelog generation
  data/changelog.txt
  tools/generate_changelog.py
  tools/merge_summaries.sh
Labels: Code: Build

#27153 Code optimizations related to coordinates (2018-12-18)
  src/editmap.cpp
  src/field.cpp
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/mapbuffer.cpp
  src/mapgen.cpp
  src/submap.cpp
  src/submap.h
  src/vehicle.cpp
  src/visitable.cpp
Labels: Code: Astyle / Optimization, [C++]

#27148 Point zero
  src/action.cpp
  src/advanced_inv.cpp
  src/basecamp.cpp
  src/basecamp.h
  src/cata_tiles.cpp
  src/construction.cpp
  src/enums.h
  src/event.h
  src/faction_camp.cpp
  src/game.cpp
  src/line.cpp
  src/map_item_stack.cpp
  src/mapbuffer.cpp
  src/mission.cpp
  src/npc.cpp
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/start_location.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  src/weather_gen.cpp
Labels: Code: Astyle / Optimization, [C++]

#27005 Workaround to Automatic Turrets don't shoot at things from inside vehicle without LOS. Take 2
  src/creature.cpp
  src/turret.cpp
Labels: <Bugfix>, Vehicles, [C++]

#27082 Craftable Minifreezer and Minifridge and Washing machine
  data/json/furniture.json
  data/json/items/generic.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_vehicle.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Vehicles, [JSON]

#27101 faction camps: consolidate and clean up farm code
  src/faction_camp.cpp
  src/faction_camp.h
Labels: Code: Astyle / Optimization, Player Faction Base / Camp, [C++]

#27127 remove duplication of item qualities in holsters
  src/item.cpp
Labels: <Bugfix>, Info / User Interface, Items / Item Actions, [C++]

#27155 Get rid of poltergeist which caused items on the map to move when loading saved game
  src/mapbuffer.cpp
Labels: (P2 - High), <Bugfix>, [C++]

#27171 Add wood sawing quality to firearm repair kit
  data/json/items/tools.json
Labels: <Bugfix>, Game: Balance, Items / Item Actions, [JSON]

#27168 Add AXE quality to survivor utility belt
  data/json/items/tool_armor.json
Labels: <Bugfix>, Game: Balance, Items / Item Actions, [JSON]

#27156 I18n-ed recoil level
  src/ranged.cpp
Labels: Translation

#27137 Add Codger trait and dialogue
  data/json/npcs/BGSS_talk_common.json
  data/json/npcs/BG_trait_groups.json
  data/json/npcs/BG_traits.json
Labels: Mutations / Traits / Professions, NPC, [JSON]

#27165 Allow using Catch2's random test ordering
  tests/test_main.cpp
Labels: Code: Tests

#27164 Improve info for worn items which cover nothing
  src/item.cpp
  tests/iteminfo_test.cpp
Labels: <Bugfix>, Code: Tests, Info / User Interface, Items / Item Actions, [C++]

#27172 Call `get_category()` instead of direct access to `category` field
  src/item.cpp
Labels: <Bugfix>, Code: Tests, Items / Item Actions, NPC, [C++]

#27142 Find or create overmap special after overmap generation
  src/mission_start.cpp
  src/overmap.cpp
  src/overmap.h
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
Labels: Mapgen, Missions, [C++]

#27147 NPCs: add more warnings and complaints
  data/json/npcs/talk_tags.json
  src/npc.h
  src/npcmove.cpp
Labels: <Enhancement / Feature>, NPC, [C++]

#27150 Encumbrance tests & fix undersize clothing on NPCs
  lua/class_definitions.lua
  src/armor_layers.cpp
  src/character.cpp
  src/dump.cpp
  src/game_inventory.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/npc.cpp
  src/player.cpp
  tests/encumbrance_test.cpp
  tests/iteminfo_test.cpp
Labels: <Bugfix>, Code: Tests, NPC, [C++], [Lua]

#27145 vehicles: show active, fueled engines or battery in sidebar fuel indicator
  src/vehicle.cpp
  src/vehicle_display.cpp
  src/vehicle_use.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles, [C++]

#27166 Vehicle: epower and power cleanup
  data/json/vehicle_parts.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/rams.json
  data/mods/blazemod/blaze_autoweapons_parts.json
  data/mods/blazemod/blaze_blob_parts.json
  data/mods/blazemod/blaze_other.json
  data/mods/blazemod/blaze_weapons_parts.json
  src/game.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  src/vehicle_use.cpp
  tests/vehicle_efficiency.cpp
Labels: <Bugfix>, Vehicles, [C++], [JSON]

#27079 Add hexamine and precursor recipes
  data/json/item_groups.json
  data/json/itemgroups/supplies.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles.json
  data/json/items/fuel.json
  data/json/items/generic.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/vehicleparts/combustion.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items / Item Actions, [JSON]

#27173 vehicle: update vehicle interaction menu
  src/dump.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/player.cpp
  src/ranged.cpp
  src/sidebar.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
Labels: <Bugfix>, Code: Astyle / Optimization, Info / User Interface, Vehicles, [C++]

#27154 make corpse weight and volume the same as json values
  src/item.cpp
  src/item.h
Labels: Game: Balance, Items / Item Actions, [C++]

#27144 Favorite ammo location for RELOAD_AND_SHOOT and RELOAD_ONE weapons.
  src/game.cpp
  src/handle_action.cpp
  src/player.cpp
  src/player.h
  src/savegame_json.cpp
  src/sidebar.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Ranged, [C++]

#27036 Adds junk barrier -> junk wall
  data/json/construction.json
  data/json/terrain.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, [JSON]

#27076 Add extra recipe for nitric acid
  data/json/item_groups.json
  data/json/items/chemicals_and_resources.json
  data/json/items/resources/metals.json
  data/json/items/tools.json
  data/json/materials.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_companion.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/requirements/materials.json
Labels: Crafting / Construction / Recipes, [JSON]

#27196 Test for libstdc++ more carefully
  tests/test_main.cpp
Labels: <Bugfix>, Code: Tests, OS: macOS, [C++]

#27174 Adds "Dreamer" NPC backstory
  data/json/npcs/BGSS_talk_common.json
  data/json/npcs/BG_trait_groups.json
  data/json/npcs/BG_traits.json
Labels: <Enhancement / Feature>, NPC

#27191 Don't store uncraft components for non-reversable recipes.
  src/crafting.cpp
  src/recipe.h
  src/recipe_dictionary.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++], [JSON]

#27179 Replace tag_colored_string with colorize.
  src/character.cpp
  src/item_location.cpp
  src/monster.cpp
  src/output.cpp
  src/output.h
  src/player.cpp
  src/vehicle_use.cpp
Labels: Code: Astyle / Optimization, Info / User Interface, [C++]

#27192 Add macOS to travis-ci builds
  .travis.yml
  build-scripts/build.sh
  build-scripts/requirements.sh
Labels: Code: Build, OS: macOS

#27187 Oct changelog
  data/changelog.txt
Labels: <Documentation>, Organization

#27198 Assorted improvements to encumbrance calculation performance
  src/character.cpp
  src/flag.cpp
  src/item.cpp
Labels: Code: Performance, Code: Tests, [C++]

#27197 Fixed military map message
  data/json/items/book/maps.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#27136 vehicles: increase effective speed in tiles per turn
  src/cata_utility.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/vehicle_efficiency.cpp
Labels: Game: Balance, Game: Mechanics Change, Vehicles, [C++]

#27162 basecamp: try to regularize mission starts and mission returns
  src/basecamp.h
  src/faction_camp.cpp
  src/faction_camp.h
Labels: Code: Astyle / Optimization, Player Faction Base / Camp, [C++]

#27194 Better feedback on clothing washing interface
  src/activity_item_handling.cpp
  src/cata_utility.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/iuse.cpp
  src/iuse.h
  tests/cata_utility_test.cpp
Labels: <Enhancement / Feature>, Code: Tests, Info / User Interface, [C++]

#27202 Unhardcoded comfort, warmth and feet fire bonus values for furniture
  data/json/furniture.json
  data/json/mapgen/dojo.json
  lua/class_definitions.lua
  src/mapdata.cpp
  src/mapdata.h
  src/player.cpp
Labels: Fields / Furniture / Terrain / Traps, [C++], [JSON]

#27211 Don't dereference a sketchy pointer.
  src/inventory.cpp
Labels: <Bugfix>, [C++]

#27209 Hack around android joystick shifting bug by disable finger follow option.
  src/options.cpp
Labels: <Bugfix>, OS: Android, [C++]

#27190 reorganize NPC job-specific backstories into a separate folder
  data/json/npcs/BGSS_talk_specific.json
  data/json/npcs/Backgrounds/00table_contents.json
  data/json/npcs/Backgrounds/burger_flipper_1.json
  data/json/npcs/Backgrounds/cop_1.json
  data/json/npcs/Backgrounds/cop_2.json
  data/json/npcs/Backgrounds/criminal_1.json
  data/json/npcs/Backgrounds/criminal_2.json
  data/json/npcs/Backgrounds/grad_student_1.json
  data/json/npcs/Backgrounds/high_school_1.json
  data/json/npcs/Backgrounds/hospital_1.json
  data/json/npcs/Backgrounds/hospital_2.json
  data/json/npcs/Backgrounds/hospital_3.json
  data/json/npcs/Backgrounds/hunter_1.json
  data/json/npcs/Backgrounds/hunter_2.json
  data/json/npcs/Backgrounds/lab_1.json
  data/json/npcs/Backgrounds/nerd_1.json
  data/json/npcs/Backgrounds/prisoner_1.json
  data/json/npcs/Backgrounds/professor_1.json
  data/json/npcs/Backgrounds/scientist_1.json
  data/json/npcs/Backgrounds/scientist_2.json
  data/json/npcs/Backgrounds/soldier_1.json
  data/json/npcs/Backgrounds/soldier_2.json
Labels: NPC, [JSON]

#27210 Nov changelog
  data/changelog.txt
Labels: <Documentation>, Organization

#27219 sounds: stop a debugmusg by giving default descriptions for music
  src/iuse.cpp
Labels: <Bugfix>, <Crash / Freeze>, SDL: Tiles / Sound

#27217 basecamp: refactor recipe_batch_max()
  src/faction_camp.cpp
Labels: Code: Astyle / Optimization, Player Faction Base / Camp, [C++]

#27216 basecamp: store and display food supply in calories
  src/faction_camp.cpp
Labels: Code: Astyle / Optimization, Info / User Interface, Player Faction Base / Camp, [C++]

#27120 Fix suicidally weak player ptr
  src/cata_utility.h
  src/debug.cpp
  src/game.cpp
  src/game.h
  tests/npc_test.cpp
  tests/vision_test.cpp
Labels: <Bugfix>, NPC, [C++]

#27205 Enable JSONized placement of overmap specials at mission start
  data/json/npcs/missiondef.json
  doc/MISSIONS_JSON.md
  src/mission.h
  src/mission_start.cpp
Labels: Code: Astyle / Optimization, Mapgen, Missions, [C++], [JSON]

#26763 [RDY] Add condensed milk recipe, adjust condensed milk
  data/json/items/comestibles.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#27228 Fix too many unique overmap specials spawning from missions
  src/overmapbuffer.cpp
Labels: <Bugfix>, Mapgen, [C++]

#27227 sounds: less sound message spam
  src/iuse_actor.cpp
  src/sounds.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#27232 Kentucky Coffee pod is not Coffee.
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, [JSON]

#27229 Fix sweet amounts for condensed milk recipe
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#27141 Added oa-additional-buildings mod
  data/mods/oa_additional_buildings/json/mapgen/cs_car_dealership.json
  data/mods/oa_additional_buildings/json/mapgen/cs_car_showroom.json
  data/mods/oa_additional_buildings/json/mapgen/cs_city_dump_small.json
  data/mods/oa_additional_buildings/json/mapgen/cs_gardening_allotment.json
  data/mods/oa_additional_buildings/json/mapgen/cs_internet_cafe.json
  data/mods/oa_additional_buildings/json/mapgen/cs_market_small.json
  data/mods/oa_additional_buildings/json/mapgen/cs_open_sewer_small.json
  data/mods/oa_additional_buildings/json/mapgen/cs_private_park.json
  data/mods/oa_additional_buildings/json/mapgen/cs_public_art_piece.json
  data/mods/oa_additional_buildings/json/mapgen/cs_public_space.json
  data/mods/oa_additional_buildings/json/mapgen/cs_sex_shop.json
  data/mods/oa_additional_buildings/json/mapgen/cs_tire_shop.json
  data/mods/oa_additional_buildings/json/mapgen/ws_fire_lookout_tower.json
  data/mods/oa_additional_buildings/json/mapgen/ws_giant_sinkhole.json
  data/mods/oa_additional_buildings/json/mapgen/ws_regional_dump.json
  data/mods/oa_additional_buildings/json/mapgen/ws_survivor_bunker.json
  data/mods/oa_additional_buildings/json/mapgen/ws_survivor_camp.json
  data/mods/oa_additional_buildings/json/oa_shared_item_groups.json
  data/mods/oa_additional_buildings/json/overmap_specials.json
  data/mods/oa_additional_buildings/json/overmap_terrain.json
  data/mods/oa_additional_buildings/json/regional_overlay.json
  data/mods/oa_additional_buildings/modinfo.json
Labels: Mapgen, Mods, [JSON]

#27247 Fix no ants
  data/mods/No_Anthills/modinfo.json
Labels: <Bugfix>, Mods, [JSON]

#27254 Split sound functionality out of sdltiles.cpp into sdlsound.cpp
  src/sdlsound.cpp
  src/sdlsound.h
  src/sdltiles.cpp
Labels: Code: Astyle / Optimization, SDL: Tiles / Sound, [C++]

#27230 Added buffet/family-style restaurant
  data/json/mapgen/restaurant.json
Labels: <Enhancement / Feature>, Mapgen, [JSON]

#27231 Mod deprecation fixes
  data/mods/bio_mod/b_bio_tools.json
  data/mods/bio_mod/b_bio_weapons.json
  data/mods/bio_mod/b_bionics.json
  data/mods/bio_mod/b_cbm.json
  data/mods/bio_mod/b_item_groups.json
  data/mods/bio_mod/b_professions.json
  src/mod_manager.cpp
Labels: Mods, [C++]
