Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2018-04, with the labels that each got.

#23294 Add mutation to remove healing during sleep.
  data/json/mutations.json
Labels: <Enhancement / Feature>, Mutations, [JSON]

#23332 Add material field to teas
  data/json/items/comestibles.json
Labels: <Enhancement / Feature>, Items, [JSON]

#23302 Make items with a player-assigned inventory letter always come first in inventory
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++]

#23352 Move MOTD to new URLs
  data/motd/de.motd
  data/motd/en.motd
  data/motd/es_AR.motd
  data/motd/it_IT.motd
  data/motd/ko.motd
  data/motd/pt_BR.motd
  data/motd/ru.motd
  data/motd/zh_CN.motd
  data/motd/zh_TW.motd
Labels: Organization: Sites, Translation

#23351 Tileset cleanup
  gfx/RetroDaysTileset/fallback.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/RetroDaysTileset/tileset.txt
  gfx/RetroDaysTileset20/tile_config.json
  gfx/RetroDaysTileset20/tileset.txt
  gfx/RetroDaysTileset20_iso/retrodaystiles20.png
  gfx/RetroDaysTileset20_iso/tile_config.json
  gfx/tile.png
  gfx/tinytile.png
  utilities/make_iso.py
Labels: SDL: Tiles

#23344 Draw_border() supports title processing
  src/auto_pickup.cpp
  src/input.cpp
  src/output.cpp
  src/safemode_ui.cpp
Labels: [C++]

#23355 More and more astyling.
  astyle_blacklist
  src/construction.cpp
  src/filesystem.cpp
  src/game.h
  src/mod_manager.cpp
  src/morale.cpp
Labels: (P2 - High), Code: Astyle / Optimization, [C++]

#22899 Modifications to "NPC traits" mod
  data/mods/NPC_Traits/npc_classes.json
  data/mods/NPC_Traits/trait_groups.json
Labels: (P3 - Medium), Mods, NPC, [JSON]

#23039 Fix previews for overmap specials in the editor
  src/overmap.cpp
Labels: (P4 - Low), <Bugfix>, Info / User Interface, [C++]

#23335 Sixth chunk of terrain descriptions
  data/json/terrain.json
Labels: [JSON]

#23363 Skip crafting submenus if no options available (fixup)
  src/crafting_gui.cpp
Labels: Code: Astyle / Optimization, [C++]

#23366 Recalc sight limits and speed bonus AFTER calculating stats
  src/player.cpp
Labels: <Bugfix>, Bionics, Effects / Skills / Stats

#23361 Tweaking of sidebar code
  src/sidebar.cpp
Labels: Code: Astyle / Optimization, [C++]

#23319 Fully random Play Now!
  src/main_menu.cpp
  src/newcharacter.cpp
  src/pldata.h
Labels: (P2 - High), <Bugfix>, <Enhancement / Feature>, Info / User Interface, [C++]

#23368 Removed lots of unused static consts from player.cpp
  src/player.cpp
Labels: Code: Astyle / Optimization, [C++]

#23374 Styling for the style god!
  astyle_blacklist
  src/item_group.cpp
  src/iuse_software_sokoban.cpp
  src/martialarts.cpp
  src/npctalk.cpp
  src/simplexnoise.h
Labels: Code: Astyle / Optimization, [C++]

#23329 Extract world and player save path to a function
  src/auto_pickup.cpp
  src/clzones.cpp
  src/game.cpp
  src/game.h
  src/main_menu.cpp
  src/mapbuffer.cpp
  src/overmapbuffer.cpp
  src/safemode_ui.cpp
  tests/test_main.cpp
Labels: Code: Astyle / Optimization, [C++]

#22747 Turret mounts
  data/json/items/vehicle_parts.json
  data/json/vehicle_parts.json
  data/json/vehicleparts/turret.json
  data/json/vehicles/cars.json
  data/json/vehicles/emergency.json
  data/json/vehicles/military.json
  data/json/vehicles/vans_busses.json
  data/mods/Tanks/parts.json
  data/mods/Tanks/vehicles.json
  data/mods/blazemod/blaze_autoweapons_parts.json
  data/mods/blazemod/blaze_blob_parts.json
  data/mods/blazemod/blaze_override.json
  data/mods/blazemod/blaze_test.json
  data/mods/blazemod/blaze_weapons_parts.json
  src/savegame_json.cpp
  src/vehicle.cpp
  tests/vehicle_efficiency.cpp
Labels: (P3 - Medium), <Bugfix>, Vehicles, [C++], [JSON]

#23365 Restore "CBM:Solar Panels" in Bright Nights mod
  data/mods/BrightNights/bionics.json
  data/mods/BrightNights/item_groups.json
  data/mods/BrightNights/items/bionics.json
  src/player.cpp
Labels: Bionics, Mods, [C++], [JSON]

#23384 Software Lights on!
  data/raw/keybindings.json
  src/iuse.cpp
  src/iuse_software.cpp
  src/iuse_software_lightson.cpp
  src/iuse_software_lightson.h
Labels: <Enhancement / Feature>, [C++]

#23402 Fix some minor typos in docs
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  doc/NPCs.md
Labels: [Markdown]

#23388 Allow Survivor [Utility] Belt to sheathe small knifes
  data/json/items/armor.json
  data/json/items/tool_armor.json
Labels: Items, [JSON]

#23415 Added instructions for the Visual Studio build guide to move the dll …
  COMPILING.md
Labels: Code: Build, OS: Windows, [Markdown]

#23418 Add a plural name for batter(y|ies)
  data/json/items/ammo.json
Labels: Battery, Translation, [JSON]

#23404 Move forklift from Tanks mod to mainline
  data/json/vehicle_groups.json
  data/json/vehicleparts/engineering.json
  data/json/vehicles/utility.json
  data/mods/Tanks/parts.json
  data/mods/Tanks/vehicle_groups.json
  data/mods/Tanks/vehicles.json
Labels: Mods, Vehicles, [JSON]

#23414 Add dashboards to trucks and emergeny vehicles
  data/json/vehicles/custom_vehicles.json
  data/json/vehicles/emergency.json
  data/json/vehicles/trucks.json
Labels: Vehicles, [C++]

#23424 Fix typos and generic translatable strings
  data/mods/FictonalWeapons/modinfo.json
  src/artifact.cpp
  src/game.cpp
  src/monster.cpp
  src/npc.cpp
  src/npcmove.cpp
Labels: <Bugfix>, Translation, [C++], [JSON]

#23427 Add additional flag documentation
  doc/JSON_FLAGS.md
Labels: <Documentation>, [Markdown]

#23422 Fix turrets in `Tanks` mod
  data/mods/Tanks/items.json
  data/mods/Tanks/parts.json
Labels: (P2 - High), <Bugfix>, Mods, Vehicles, [JSON]

#23327 Convert more code to use new time classes
  lua/class_definitions.lua
  src/advanced_inv.cpp
  src/calendar.cpp
  src/calendar.h
  src/editmap.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/mapbuffer.cpp
  src/messages.cpp
  src/mission_companion.cpp
  src/mission_ui.cpp
  src/mongroup.cpp
  src/mongroup.h
  src/monster.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/savegame_json.cpp
  src/submap.h
  src/vehicle.cpp
  src/weather.cpp
  src/weather.h
  src/weather_gen.cpp
  src/weather_gen.h
Labels: (P2 - High), Code: Astyle / Optimization, [C++]

#23430 Options: translate menu text string
  src/options.cpp
Labels: <Bugfix>, Translation

#23413 Add a global function to get a reference to a null item.
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/debug_menu.cpp
  src/game.cpp
  src/inventory.cpp
  src/inventory.h
  src/item.cpp
  src/item.h
  src/martialarts.cpp
  src/melee.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/player.cpp
  tests/invlet_test.cpp
  tests/wield_times_test.cpp
Labels: Code: Astyle / Optimization, [C++]

#23407 Buffed animals' morale gain if the player has Animal Empathy
  src/monster.cpp
Labels: <Bugfix>, Monsters, [C++]

#23412 Remove unused streaming operators for item
  src/item.cpp
  src/item.h
Labels: Code: Astyle / Optimization, [C++]

#23383 Seventh chunk of terrain descriptions
  data/json/terrain.json
Labels: Fields / Furniture / Terrain, [JSON]

#23445 Added .357 Magnum speedloader based on coregame .38 speedloader to fix error message
  data/mods/realguns/gun.json
  data/mods/realguns/item_groups.json
  data/mods/realguns/magazine.json
Labels: Gunmod / Toolmod, [JSON]

#23462 Changed Shaolin Tiger style scaling to no longer include 3x (up to 24x) perception.
  data/json/martialarts.json
Labels: Game: Balance, Mutations / Traits

#23325 Improved helicopter special, rifle_milspec, and launcher spawns.
  data/json/item_groups.json
  data/json/itemgroups/guns.json
  data/json/itemgroups/main.json
Labels: <Enhancement / Feature>, Items, Spawn, [JSON]

#23298 Changing creatures critical damage multipliers on gun hit
  src/creature.cpp
Labels: Game: Balance, Monsters, [C++]

#23238 Acidic Ant Expansion - Acidic Chitin Item & Equipment
  data/json/harvest.json
  data/json/items/armor.json
  data/json/items/armor/boots.json
  data/json/items/generic.json
  data/json/items/vehicle_parts.json
  data/json/materials.json
  data/json/monsters.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_others.json
  data/json/vehicle_parts.json
  src/item_factory.cpp
  src/iuse.cpp
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items, Monsters, [C++], [JSON]

#23360 Fix inventory compare input handling
  src/game_inventory.cpp
Labels: Info / User Interface, [C++]

#23416 Encapsulate WORLD::world_path into a function
  src/game.cpp
  src/mod_manager.cpp
  src/worldfactory.cpp
  src/worldfactory.h
Labels: Code: Astyle / Optimization, [C++]

#23458 Add recipes for scoop, planter, reaper and plow to "Mechanical Mastery".
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#23474 Update German translator notes (in German)
  lang/notes/de.txt
Labels: Translation

#23490 VS2017 QoL fix: Add build artefact to .gitignore
  .gitignore
Labels: Code: Build

#23417 Tweaks to the new Play Now! mode
  src/main_menu.cpp
  src/newcharacter.cpp
  src/player.h
  src/pldata.h
Labels: Code: Astyle / Optimization, [C++]

#23461 Improved messaging when opening Lua console
  src/lua_console.cpp
Labels: Info / User Interface, [Lua]

#23480 Fix mapgen extras
  data/json/regional_map_settings.json
  data/mods/BrightNights/regional_map_settings.json
Labels: <Bugfix>, Mapgen

#23367 Fixed gourmand trait showing one value in the consume menu while actually giving another value
  src/consumption.cpp
Labels: <Bugfix>, Effects / Skills / Stats, Info / User Interface

#23410 Clean up melee_attack invocations
  lua/class_definitions.lua
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/melee.cpp
  src/melee.h
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/player.cpp
  src/player.h
Labels: Code: Astyle / Optimization, Monsters, [C++]

#23401 Blaze mod JSON cleanup
  data/mods/blazemod/blaze_ammo.json
  data/mods/blazemod/blaze_autoweapons_parts.json
  data/mods/blazemod/blaze_other_parts.json
  data/mods/blazemod/blaze_weapons_parts.json
Labels: Mods, Vehicles, [JSON]

#23426 Minor railroad tweaks
  data/json/terrain.json
Labels: Fields / Furniture / Terrain, Translation, [JSON]

#23468 Json cleanup - Solar panels
  data/json/vehicle_parts.json
Labels: Vehicles, [JSON]

#23499 Stop indoor plants from blocking vision
  data/json/furniture.json
Labels: Fields / Furniture / Terrain

#23510 Resolves #23508 - change ember carrier (lit) to steel
  data/mods/More_Survival_Tools/items.json
Labels: <Bugfix>, Items, [JSON]

#23504 Fix incorrect color combinations
  src/color.cpp
Labels: <Bugfix>, Code: Astyle / Optimization, [C++]

#23505 Show notice when no results found in map search
  src/overmap.cpp
Labels: Info / User Interface, SDL: Tiles / Sound, [C++]

#23523 force vs2017 to apply .editorconfig
  msvc-full-features/Cataclysm.sln
Labels: Code: Build, OS: Windows

#23498 Fix incorrect colors in mods
  data/mods/BrightNights/items/books.json
  data/mods/BrightNights/misc.json
  data/mods/blazemod/blaze_blob.json
  data/mods/blazemod/blaze_blob_parts.json
Labels: Mods

#23511 Removed obsolete overrides from blazemod.
  data/mods/blazemod/blaze_override.json
Labels: Mods, Vehicles, [JSON]

#23518 Fix for "temperature too low"
  src/weather_gen.cpp
Labels: <Bugfix>, [C++]

#23503 Fix cathedral's connection to road creating pavement gaps
  data/json/overmap_specials.json
  data/json/overmap_terrain.json
Labels: Mapgen, [JSON]

#23507 Add two new types of house
  data/json/mapgen/house/house_garage7.json
  data/json/mapgen/house/house_garage8.json
Labels: Mapgen, [JSON]

#23469 Add reinforced upgraded solar array to blaze mod
  data/mods/blazemod/blaze_other.json
  data/mods/blazemod/blaze_other_parts.json
  data/mods/blazemod/blaze_other_recipes.json
Labels: Mods, Vehicles, [JSON]

#23467 Fix a glitch with a not erased last trait name
  src/player_display.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#23495 Added screen erase/refresh to choose_ma_style
  src/newcharacter.cpp
Labels: <Bugfix>, Info / User Interface

#23501 Restored the old launcher spawn chances to the helicopter itemgroup
  data/json/item_groups.json
Labels: Items / Item Actions, Mapgen, Spawn

#23535 Thermometer now shows air temperature when carried
  src/game.cpp
Labels: <Bugfix>, Info / User Interface, Items / Item Actions, [C++]

#23506 Rural rework
  data/json/mapgen/parks_recreation/state_park0_0.json
  data/json/mapgen/parks_recreation/state_park0_1.json
  data/json/mapgen/parks_recreation/state_park1_0.json
  data/json/mapgen/parks_recreation/state_park1_1.json
  data/json/overmap_specials.json
  data/json/overmap_terrain.json
  data/json/regional_map_settings.json
Labels: <Bugfix>, Mapgen, [JSON]

#23309 Use map::points_in_radius instead of manual iterating
  src/action.cpp
  src/bionics.cpp
  src/computer.cpp
  src/defense.cpp
  src/field.cpp
  src/fungal_effects.cpp
  src/game.cpp
  src/iexamine.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/melee.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/mutation.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/sounds.cpp
  src/trap.cpp
  src/trapfunc.cpp
  src/tutorial.cpp
Labels: Code: Astyle / Optimization, [C++]

#23492 Moved Stats window modifiers out to Info window
  src/player_display.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#23565 Remove pks_rebalance from the list of supressed warnings in lang/
  lang/extract_json_strings.py
Labels: Code: Build

#23536 Added scope recipes.
  data/json/items/gunmod/sights.json
  data/json/recipes/weapon/mods.json
  data/mods/Craft_Gunpowder/cgp_recipes.json
Labels: Crafting / Construction / Recipes, Gunmod / Toolmod, [JSON]

#23429 Do not handle pwd at language maintaining shell scripts
  lang/compile_mo.sh
  lang/merge_po.sh
  lang/update_pot.sh
Labels: Code: Build, Translation

#23475 Use random_entry functions instead of rng(0, size - 1)
  src/activity_handlers.cpp
  src/artifact.cpp
  src/faction.cpp
  src/game.cpp
  src/iexamine.cpp
  src/input.cpp
  src/item.cpp
  src/iuse.cpp
  src/mapgen.cpp
  src/melee.cpp
  src/mission_companion.cpp
  src/mission_start.cpp
  src/monattack.cpp
  src/mongroup.cpp
  src/mutation.cpp
  src/npc.cpp
  src/npctalk.cpp
  src/overmap.cpp
  src/recipe.cpp
  src/rng.h
  src/scenario.cpp
  src/sdltiles.cpp
  src/skill.cpp
  src/string_input_popup.cpp
  src/ui.cpp
  src/vehicle.cpp
  src/vehicle_group.cpp
  src/vehicle_group.h
Labels: Code: Astyle / Optimization, [C++]

#23509 Change the morale system to use time_duration class
  src/consumption.cpp
  src/event.cpp
  src/game.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/mondeath.cpp
  src/morale.cpp
  src/morale.h
  src/npc.cpp
  src/npctalk.cpp
  src/player.cpp
  src/player.h
  tests/morale_test.cpp
Labels: Code: Astyle / Optimization, [C++]

#23544 Change fields to use time_duration as their age
  lua/class_definitions.lua
  src/bionics.cpp
  src/computer.cpp
  src/editmap.cpp
  src/explosion.cpp
  src/field.cpp
  src/field.h
  src/game.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/map.h
  src/mapbuffer.cpp
  src/mapgen.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monmove.cpp
  src/mutation.cpp
  src/player.cpp
  src/projectile.cpp
  src/start_location.cpp
  src/submap.h
  src/weather.cpp
Labels: Code: Astyle / Optimization, [C++]

#23340 Move item::gun_mode into its own header
  lang/extract_json_strings.py
  lua/class_definitions.lua
  src/catalua.cpp
  src/game.cpp
  src/gun_mode.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/mattack_actors.cpp
  src/mattack_actors.h
  src/monattack.cpp
  src/npc.h
  src/npcmove.cpp
  src/player.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/savegame_legacy.cpp
  src/sidebar.cpp
  src/turret.cpp
Labels: Code: Astyle / Optimization, [C++]

#23571 Disabled the ability to butcher/disassemble tinder.
  data/mods/More_Survival_Tools/ammo.json
Labels: <Bugfix>, Items / Item Actions, Mods, [JSON]

#23559 Made nonconductive unarmed weapons don't trigger zapback
  src/mondefense.cpp
Labels: <Bugfix>, Items / Item Actions, [C++]

#23572 Corrected makeshift red dot sight recipe result
  data/mods/Craft_Gunpowder/cgp_recipes.json
Labels: (P2 - High), <Bugfix>, Crafting / Construction / Recipes, Mods

#23575 Fixes for 84x246mm smoke rocket
  data/json/items/ammo/84x246mm.json
Labels: (P2 - High), <Bugfix>, Items / Item Actions, [JSON]

#23566 Astyle scripts.
  tools/astyle_all_changes.sh
  tools/astyle_file_changes.sh
  tools/astyle_lines.sh
Labels: Code: Astyle / Optimization, Code: Build, OS: Linux

#23349 Add a test for #22686
  .travis.yml
  data/mods/RL_Classes/classes.json
  tests/new_character_test.cpp
Labels: Code: Tests, [C++]

#23512 Improved RIP time display.
  src/game.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#23550 fix misaligned encumbrance for utf8 translated body parts
  src/player_display.cpp
Labels: <Bugfix>, Info / User Interface, Translation

#23582 Deactivate bionics explicitly before removing them
  src/bionics.cpp
Labels: Bionics, [C++]

#23583 Make user-facing error messages translatable
  src/debug.cpp
Labels: Translation, [C++]

#23587 Check foe before use
  src/mondefense.cpp
Labels: <Bugfix>

#23591 Fix for schizophrenic NPCs effecting players
  src/player.cpp
Labels: <Bugfix>, Mutations / Traits, NPC

#23592 Stop NPCs from leaving the vehicle due to smoke while in vehicle.
  src/npcmove.cpp
Labels: <Bugfix>, NPC, Vehicles

#23604 Changed default keybind for show help menu
  data/raw/keybindings.json
Labels: Info / User Interface, [JSON]

#23541 Resolves #23527 - split scrambled eggs recipe
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#23607 Fix some factual mistakes in user-facing strings
  data/motd/en.motd
  src/armor_layers.cpp
  src/cata_utility.cpp
  src/iuse.cpp
  src/npctalk.cpp
  src/options.cpp
  src/overmap.cpp
Labels: Translation, [C++], [JSON]

#23625 Removed extra curly brace in HitButton_iso json
  gfx/HitButton_iso/tile_config.json
Labels: SDL: Tiles / Sound, [JSON]

#23624 Wrap graffiti message
  src/game.cpp
Labels: Info / User Interface, [C++]

#23419 Use italic for disabled subtab (with ncurses emulation for SDL)
  src/color.h
  src/cursesport.cpp
  src/cursesport.h
  src/ncurses_def.cpp
  src/output.cpp
  src/sdltiles.cpp
Labels: Crafting / Construction / Recipes, Info / User Interface, SDL: Tiles / Sound

#23455 Added wrapping of long mission names
  src/mission_ui.cpp
Labels: Info / User Interface, Missions, [C++]

#23513 Use time_point in effect related code.
  lua/class_definitions.lua
  src/activity_item_handling.cpp
  src/addiction.cpp
  src/ballistics.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/computer.cpp
  src/consumption.cpp
  src/creature.cpp
  src/creature.h
  src/effect.cpp
  src/effect.h
  src/field.cpp
  src/fungal_effects.cpp
  src/game.cpp
  src/iexamine.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/lightmap.cpp
  src/map.cpp
  src/martialarts.cpp
  src/martialarts.h
  src/mattack_actors.cpp
  src/melee.cpp
  src/mission_start.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monexamine.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/ranged.cpp
  src/sidebar.cpp
  src/sounds.cpp
  src/start_location.cpp
  src/trapfunc.cpp
  src/turret.cpp
  src/vehicle.cpp
  src/weather.cpp
  tests/iuse_test.cpp
  tests/npc_test.cpp
  tests/vehicle_efficiency.cpp
Labels: Code: Astyle / Optimization, [C++]

#23615 Redraw vehicle screen to reflect new vehicle name on rename
  src/veh_interact.cpp
Labels: Info / User Interface, Vehicles, [C++]

#23616 Support searching for memorized/unmemorized recipes
  src/crafting_gui.cpp
Labels: Crafting / Construction / Recipes, Info / User Interface, [C++]

#23622 Fix for signs being legible when stood on
  src/game.cpp
Labels: Info / User Interface, [C++]
