Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2019-06, with the labels that each got.

#31011 Add scrap metal to mattress dissassembly
  data/json/furniture.json
  data/json/items/resources/misc.json
  data/json/uncraft/generic.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#31028 fix doctor office roof
  data/json/overmap/multitile_city_buildings.json
Labels: <Bugfix>, Mapgen, [JSON]

#31027 add roof to daycare
  data/json/itemgroups/locations.json
  data/json/mapgen/daycare.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain_commercial.json
Labels: Mapgen, [JSON]

#31025 Add preconditions for new constructions
  data/json/construction.json
Labels: <Bugfix>, Crafting / Construction / Recipes

#31023 Magiclysm: add new members to spell_type
  src/magic.cpp
  src/magic.h
Labels: Mods, [C++]

#31021 Make batteries flammable
  data/json/items/ammo.json
Labels: <Bugfix>, Battery, Items / Item Actions / Item Qualities, [JSON]

#31032 Pots hold liquids again
  data/json/items/generic/dining_kitchen.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#30993 Miss recovery techniques now display correct combat messages
  data/json/techniques.json
  src/martialarts.cpp
  src/melee.cpp
  src/player.h
Labels: Melee, [C++], [JSON]

#31042 add dojo roofs
  data/json/furniture.json
  data/json/itemgroups/clothing.json
  data/json/mapgen/dojo.json
  data/json/mapgen/nested/nested_chunks_roof.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain_recreational.json
  data/json/regional_map_settings.json
Labels: Fields / Furniture / Terrain / Traps, Mapgen, [JSON]

#31044 HitButton_iso updates
  gfx/HitButton_iso/HitButton_iso.png
  gfx/HitButton_iso/tile_config.json
Labels: Mods, SDL: Tiles / Sound

#31022 Minor magic mod mischief: mutations modify mana
  src/character.cpp
  src/magic.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: Mods, Mutations / Traits / Professions, [C++]

#31009 make functions for portions of ::display
  src/overmap_ui.cpp
  src/overmap_ui.h
Labels: Code: Astyle / Optimization, [C++]

#30999 Code optimizations reported by static code analysis (2019-05-30)
  src/activity_handlers.cpp
  src/basecamp.cpp
  src/basecamp.h
  src/bionics.cpp
  src/faction_camp.cpp
  src/field.cpp
  src/game.cpp
  src/iexamine.cpp
  src/input.cpp
  src/iuse.cpp
  src/map_extras.cpp
  src/mission.cpp
  src/mission_companion.cpp
  src/monster.cpp
  src/newcharacter.cpp
  src/player.cpp
  src/ranged.cpp
  src/trapfunc.cpp
  tests/catch/catch.hpp
  tests/comestible_tests.cpp
  tests/crafting_test.cpp
  tests/health_test.cpp
  tests/invlet_test.cpp
  tests/savegame_test.cpp
  tests/shadowcasting_test.cpp
  tests/vision_test.cpp
Labels: Code: Astyle / Optimization, [C++]

#31040 Added some disassembly recipes
  data/json/items/armor.json
  data/json/recipes/recipe_deconstruction.json
  data/json/uncraft/generic.json
  data/json/uncraft/weapon/explosive.json
  data/json/uncraft/weapon/ranged.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#31043 Player cleanup - more Character functions!
  src/character.cpp
  src/character.h
  src/item.cpp
  src/item.h
  src/player.cpp
  src/player.h
Labels: Code: Astyle / Optimization, [C++]

#31047 Allow diagonal movement key modifiers on Android
  src/options.cpp
  src/sdltiles.cpp
Labels: OS: Android, SDL: Tiles / Sound, [C++]

#30845 Magiclysm: Spells affect specific bodyparts with effects
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  src/bodypart.h
  src/magic.cpp
  src/magic.h
Labels: Effects / Skills / Stats, Mods, [C++], [JSON]

#30944 Blackpowder Reloads and Reloaded Ammo Disassembly
  data/json/items/ammo/38.json
  data/json/items/ammo/40mm.json
  data/json/items/ammo/44.json
  data/json/items/ammo/454.json
  data/json/items/ammo/shot.json
  data/json/recipes/ammo/grenades.json
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
  data/json/requirements/materials.json
  data/json/uncraft/ammo/flintlock.json
  src/requirements.cpp
Labels: Crafting / Construction / Recipes, [C++], [JSON]

#30959 (done) Add last remaining planned refugees
  data/json/mapgen/refugee_center.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Fatima_Al_Jadir.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Rhyzaea_Johnny.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
Labels: NPC / Factions, [JSON]

#30991 (done) Changes Vanessa in the refugee center from a stub to a fleshed out hairdresser
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
  data/json/npcs/tacoma_ranch/NPC_ranch_barber.json
Labels: NPC / Factions, [JSON]

#31039 Grab breaking now use correct messages
  data/json/techniques.json
  data/mods/MMA/techniques.json
  data/mods/Medieval_Stuff/techniques.json
  src/martialarts.cpp
  src/monattack.cpp
  src/player.h
Labels: Melee, [C++], [JSON]

#31041 Color blocks overlays.
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/sdl_wrappers.cpp
  src/sdl_wrappers.h
  src/sdltiles.cpp
Labels: Info / User Interface, SDL: Tiles / Sound, [C++]

#31052 add dollar store roofs
  data/json/mapgen/dollar_store.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#31054 paint more walls
  data/json/mapgen/bowling_alley.json
  data/json/mapgen/campsite.json
  data/json/mapgen/diner.json
  data/json/mapgen/dispensary.json
  data/json/mapgen/meth_lab.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/restaurant_fast.json
  data/json/mapgen/s_bookstore.json
  data/json/mapgen/s_candy.json
  data/json/mapgen/s_coffee.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen/s_icecream.json
  data/json/mapgen/s_liquor.json
  data/json/mapgen/teashop.json
  data/json/mapgen_palettes/campground.json
  data/json/mapgen_palettes/mall_palette.json
  data/json/mapgen_palettes/shelter.json
Labels: Mapgen

#31053 paint walls for buildings that have roofs
  data/json/mapgen/abstorefront.json
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
  data/json/mapgen/antique_store.json
  data/json/mapgen/arcade.json
  data/json/mapgen/art_gallery.json
  data/json/mapgen/bakery.json
  data/json/mapgen/bank.json
  data/json/mapgen/bar.json
  data/json/mapgen_palettes/bike_shop_palette.json
Labels: Mapgen

#31020 Update, improve, and polish free merchant quest lines and dialogue
  data/json/items/generic/currency.json
  data/json/npcs/beggars/BEGGAR_3_Luo_Meizhen.json
  data/json/npcs/beggars/BEGGAR_5_Yusuke_Taylor.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
Labels: Lore, Missions, NPC / Factions, [JSON]

#31038 Terrain and furniture descriptions
  data/json/furniture.json
  data/json/terrain.json
Labels: Fields / Furniture / Terrain / Traps, Translation, [JSON]

#31085 mana bugfix
  src/character.cpp
Labels: <Bugfix>, Mods, [C++]

#31077 Hairdresser bugfix
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
Labels: <Bugfix>, NPC / Factions

#31078 Martial arts with force_unarmed will prevent weapon blocking
  src/martialarts.cpp
  src/melee.cpp
  src/player.h
Labels: <Bugfix>, Melee, [C++]

#31083 Restructure old guard NPC format
  data/json/npcs/TALK_OLD_GUARD_NECROPOLIS.json
  data/json/npcs/necropolis/NPC_Old_Guard_Captain.json
  data/json/npcs/necropolis/NPC_Old_Guard_Commo.json
  data/json/npcs/necropolis/NPC_Old_Guard_Soldier.json
  data/json/npcs/npc.json
  data/json/npcs/refugee_center/beggars/BEGGAR_1_Reena_Sandhu.json
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
  data/json/npcs/refugee_center/beggars/BEGGAR_3_Luo_Meizhen.json
  data/json/npcs/refugee_center/beggars/BEGGAR_4_Brandon_Garder.json
  data/json/npcs/refugee_center/beggars/BEGGAR_5_Yusuke_Taylor.json
Labels: NPC / Factions, [JSON]

#31082 Surface lab kitchen food bugfix
  data/json/mapgen/lab/lab_surface/lab_surface_big_z-1.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z1.json
Labels: <Bugfix>, Mapgen, [JSON]

#31067 Fixed translated "HEAD" limb name overlapping head health bar in "labels" panels mode
  src/panels.cpp
Labels: Info / User Interface, Translation

#31074 Unguard some code to fix Android builds
  src/sdltiles.cpp
Labels: Code: Build, OS: Android

#31101 Fix some typos and localization
  data/json/items/ammo/380.json
  data/json/items/comestibles/brewing.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/nuts.json
  data/json/npcs/hints.json
  data/json/npcs/missiondef.json
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
  data/json/npcs/refugee_center/beggars/BEGGAR_3_Luo_Meizhen.json
  data/json/npcs/refugee_center/beggars/BEGGAR_5_Yusuke_Taylor.json
Labels: Translation, [JSON]

#31033 magiclysm content update
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/itemgroups.json
  data/mods/Magiclysm/items/cast_spell_items.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/professions.json
Labels: Mods, [JSON]

#30459 Riding animals and animal-pulled vehicles
  data/json/effects.json
  data/json/items/generic.json
  data/json/items/tools.json
  data/json/items/vehicle_parts.json
  data/json/monsters/mammal.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_vehicle.json
  data/json/vehicle_parts.json
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/game.cpp
  src/grab.cpp
  src/handle_action.cpp
  src/monexamine.cpp
  src/monexamine.h
  src/monmove.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
  src/player.cpp
  src/player.h
  src/savegame_json.cpp
  src/trap.cpp
  src/trapfunc.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  src/vehicle_use.cpp
Labels: <Enhancement / Feature>, Monsters, PUBLIC TEST, Vehicles, [C++], [JSON]

#30984 factions: start to implement useful faction relationship API
  data/json/items/generic/currency.json
  data/json/npcs/factions.json
  data/json/npcs/npc.json
  doc/FACTIONS.md
  src/debug_menu.cpp
  src/faction.cpp
  src/faction.h
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [C++]

#31030 Robofac trading update
  data/json/itemgroups/robofac_trade.json
  data/json/mapgen/robofaq_locs/robofac_hq_chunks.json
  data/json/npcs/missiondef_robofac.json
  data/json/npcs/robofac/NC_ROBOFAC_INTERCOM.json
  data/json/npcs/robofac/ROBOFAC_SURFACE_FREEMERCHANT.json
Labels: Mapgen, [JSON]

#31096 move shout functions and wake_up() to Character from player
  src/avatar.cpp
  src/avatar.h
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
Labels: Code: Astyle / Optimization, [C++]

#31097 make game::plthrow an avatar_action
  src/avatar_action.cpp
  src/avatar_action.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
Labels: Code: Astyle / Optimization, [C++]

#31136 Magiclysm: fix itemgroup typo
  data/mods/Magiclysm/itemgroups.json
Labels: Mods, [JSON]

#31130 Update flying bot descriptions
  data/json/monsters.json
  data/json/monsters/drones.json
Labels: Lore, Monsters, [JSON]

#31140 move vomit and adjacent_tile from player to Character and avatar
  src/avatar.cpp
  src/avatar.h
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
Labels: Code: Astyle / Optimization, [C++]

#31142 move grab_type and associated functions from player to avatar
  src/avatar.cpp
  src/avatar.h
  src/handle_action.cpp
  src/player.cpp
  src/player.h
Labels: Code: Astyle / Optimization, [C++]

#31108 Fix cqb skill display
  src/player_display.cpp
Labels: Info / User Interface, Melee, [C++]

#31123 Fix a crash on examining the bulletin board under certain conditions
  src/mission_companion.cpp
Labels: <Bugfix>, Missions, [C++]

#31120 Fix colors giving errors in debug.log on world load
  data/mods/Aftershock/items/afs_tools.json
  data/mods/Aftershock/items/afs_weapons.json
  data/mods/Aftershock/vehicles/afs_vehicle_parts.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/CRT_EXPANSION/mutations/vamp_mut_cat.json
  data/mods/CRT_EXPANSION/mutations/wendigo_mut_cat.json
Labels: <Bugfix>, Mods, [JSON]

#31048 Refactor fungal_effects::spread_fungus and add debug message
  src/fungal_effects.cpp
  src/fungal_effects.h
  src/monattack.cpp
Labels: Code: Astyle / Optimization, [C++]

#31088 Minefields at bridges
  data/json/regional_map_settings.json
  src/map.cpp
  src/map_extras.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: <Enhancement / Feature>, Fields / Furniture / Terrain / Traps, Mapgen, [C++]

#31001 Autodoc bonesetting
  data/json/mapgen/hospital.json
  data/json/mapgen/lab/lab_floorplans.json
  src/computer.cpp
  src/computer.h
  src/iexamine.cpp
Labels: <Enhancement / Feature>, Character / Player, Mapgen, [C++], [JSON]

#31135 Magiclysm: Add new mana mutations
  data/mods/Magiclysm/traits/classes.json
  data/mods/Magiclysm/traits/mutation.json
Labels: <Bugfix>, Mods, Mutations / Traits / Professions

#31035 NPC activity talk preparation
  data/json/npcs/TALK_COMMON_ALLY.json
  data/json/player_activities.json
  doc/PLAYER_ACTIVITY.md
  lang/extract_json_strings.py
  src/activity_item_handling.cpp
  src/activity_type.cpp
  src/activity_type.h
  src/dialogue.h
  src/faction_camp.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
  src/player_activity.cpp
  src/player_activity.h
  src/savegame_json.cpp
Labels: NPC / Factions, [C++], [JSON]

#31156 Poor/Very Poor/Abysmal Mana Sensitivity bug fixes
  data/mods/Magiclysm/traits/mutation.json
Labels: <Bugfix>, Mods

#31159 Homemade halfpike description fixed
  data/json/items/tools.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#31162 Minor hunger updates
  src/character.cpp
  src/player.cpp
  src/stomach.cpp
  tests/stomach_contents_tests.cpp
Labels: <Bugfix>, Food / Vitamins, [C++]

#31168 add roofs to fire stations
  data/json/itemgroups/books.json
  data/json/mapgen/fire_station.json
  data/json/monstergroups.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain_public_institutional.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#31160 update cataclysm solutions
  msvc-full-features/Cataclysm-App.vcxproj
  msvc-full-features/Cataclysm-Lib.vcxproj
  msvc-full-features/Cataclysm-Tests.vcxproj
Labels: OS: Windows

#31100 Add motel roofs and paint walls
  data/json/mapgen/motel.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/specials.json
  data/json/overmap_terrain_commercial.json
Labels: Mapgen, [JSON]

#31158 refactor some game_inventory functions
  src/avatar.h
  src/game_inventory.cpp
  src/game_inventory.h
  src/handle_action.cpp
  src/melee.cpp
  src/player.h
Labels: Code: Astyle / Optimization, [C++]

#31187 Added toggle auto pickup keybinding
  data/raw/keybindings.json
  src/action.cpp
  src/action.h
  src/game.cpp
  src/handle_action.cpp
Labels: <Enhancement / Feature>, Controls / Input, Quality of Life

#31183 Fix camp expansion bug
  src/savegame_json.cpp
Labels: <Bugfix>, [C++]

#31179 Fixed logic of removing deployable items from inventory
  src/player.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#31178 Moved Amigara Project logs from hardcode to json
  data/json/snippets.json
  src/computer.cpp
Labels: Code: Astyle / Optimization, [C++], [JSON]

#31172 showroom tweaks
  data/json/itemgroups/misc.json
  data/json/mapgen/cs_car_showroom.json
Labels: Game: Balance, Mapgen, Spawn, Vehicles, [JSON]

#31184 Corrected minifridge/minifreezer recipes
  data/json/recipes/recipe_vehicle.json
Labels: Crafting / Construction / Recipes, [JSON]

#31163 Fix bugs with craft continuation after failure
  src/craft_command.cpp
  src/crafting.cpp
  src/item.cpp
  src/item.h
  src/requirements.cpp
  src/requirements.h
  src/savegame_json.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#31080 Pile of leaves as a makeshift bed
  data/core/tips.json
  data/json/construction.json
  data/json/furniture.json
  data/json/items/generic.json
Labels: <Enhancement / Feature>, Fields / Furniture / Terrain / Traps, [JSON]

#31188 Rural Content: 4 New Farms
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/nested/farm_nested.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/overmap/specials.json
  data/json/overmap_terrain_agricultural.json
Labels: Mapgen, [JSON]

#31087 Add template commons building for campus faction
  data/json/mapgen/campus/buildings/commons_f0.json
  data/json/mapgen/campus/buildings/commons_f1.json
  data/json/mapgen/campus/buildings/commons_f2.json
  data/json/mapgen/campus/buildings/commons_roof.json
  data/json/mapgen_palettes/campus/common.json
  data/json/overmap/campus.json
  data/json/overmap_terrain_campus.json
Labels: <Enhancement / Feature>, Mapgen, [JSON]

#31191 Fix build regression (2019-06-07)
  src/savegame_json.cpp
Labels: <Bugfix>, [C++]

#31093 Panel rearrange
  src/game.cpp
  src/panels.cpp
Labels: Info / User Interface, [C++]

#31112 Added limb block information to martial arts help menu
  src/martialarts.cpp
Labels: Info / User Interface, Melee, [C++]

#31203 martialarts.cpp Astyle fix
  src/martialarts.cpp
Labels: Code: Astyle / Optimization, [C++]

#31202 Fuji structures computer bonesetting fix
  data/mods/Fuji_Structures/worldgen/gas/s_gas_b20.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Mods

#31201 Remove trailing "you" when NPC threats player
  src/npcmove.cpp
Labels: <Bugfix>, Info / User Interface, NPC / Factions

#31199 Add campus lecture hall
  data/json/mapgen/campus/buildings/lecture_f0.json
  data/json/mapgen/campus/buildings/lecture_f1.json
  data/json/mapgen/campus/buildings/lecture_f2.json
  data/json/mapgen/campus/buildings/lecture_roof.json
  data/json/overmap/campus.json
  data/json/overmap_terrain_campus.json
Labels: Mapgen, [JSON]

#31197 Fix value name display for int_map options
  src/options.cpp
Labels: <Bugfix>, [C++]

#31171 Add sees_player_hitbutton mod
  data/mods/sees_player_hitbutton/mod_tileset.json
  data/mods/sees_player_hitbutton/modinfo.json
  data/mods/sees_player_hitbutton/sees_player_hitbutton_green.png
  data/mods/sees_player_hitbutton/sees_player_hitbutton_pink.png
  data/mods/sees_player_hitbutton/sees_player_hitbutton_red.png
  data/mods/sees_player_hitbutton/sees_player_hitbutton_yellow.png
Labels: Mods, SDL: Tiles / Sound, [JSON]

#31194 basecamps: add a namespace and calculate workdays
  data/json/recipes/recipe_construction_om.json
  src/basecamp.cpp
  src/basecamp.h
  src/faction_camp.cpp
  src/recipe.cpp
  src/recipe.h
  src/savegame_json.cpp
Labels: Code: Astyle / Optimization, Player Faction Base / Camp, [C++]

#30933 Make the fusion blaster arm suck less
  data/json/items/gun/bio.json
  data/json/items/gunmod/bionicmods.json
Labels: Bionics, Game: Balance, [JSON]

#31196 Add Campus health building
  data/json/mapgen/campus/buildings/health_f0.json
  data/json/mapgen/campus/buildings/health_f1.json
  data/json/mapgen/campus/buildings/health_f2.json
  data/json/mapgen/campus/buildings/health_roof.json
  data/json/overmap/campus.json
  data/json/overmap_terrain_campus.json
Labels: Mapgen, [JSON]

#31211 Camp Bugfixes again
  data/json/items/basecamp.json
  data/json/recipes/recipe_construction_om.json
  src/basecamp.cpp
  src/basecamp.h
  src/faction_camp.cpp
Labels: <Bugfix>, Player Faction Base / Camp, [C++], [JSON]

#31205 Corrected "stuck" survivor note snippet
  data/json/snippets.json
Labels: [JSON]

#31215 Magiclysm bugfix: rearrange functions to reduce crashes
  src/magic.cpp
Labels: <Bugfix>, Mods

#31214 Remove copy-and-paste error from Dave's missions
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
Labels: <Bugfix>, NPC / Factions

#31180 Mandate description of terrain and furniture
  data/json/terrain.json
  data/json/test_regions.json
  data/mods/Aftershock/maps/afs_terrain.json
  data/mods/More_Locations/secret_doors/secret_door_terrain.json
  data/mods/More_Locations/terrain.json
  data/mods/National_Guard_Camp/furniture.json
  data/mods/No_Fungi/furniture.json
  data/mods/No_Fungi/terrain.json
  data/mods/Urban_Development/building_jsons/urban_37_office_tower_beehive.json
  data/mods/blazemod/blaze_blob_construct.json
  src/mapdata.cpp
  src/mapdata.h
Labels: Code: Astyle / Optimization, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#30253 reduce turn length to 1 second
  data/json/effects.json
  doc/GAME_BALANCE.md
  doc/JSON_INFO.md
  src/activity_handlers.cpp
  src/addiction.cpp
  src/calendar.cpp
  src/calendar.h
  src/computer.cpp
  src/construction.cpp
  src/effect.cpp
  src/event.cpp
  src/field.cpp
  src/iexamine.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map_extras.cpp
  src/morale.cpp
  src/npctalk.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/savegame_json.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/weather.cpp
  src/weather_gen.cpp
  tests/time_duration_test.cpp
  tests/vehicle_efficiency.cpp
Labels: <Enhancement / Feature>, Character / Player, Game: Balance, Game: Mechanics Change, PUBLIC TEST, [C++]

#31157 Unfinished construction activity
  data/json/player_activities.json
  data/json/traps.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/construction.cpp
  src/construction.h
  src/game.cpp
  src/iexamine.cpp
  src/map.cpp
  src/map.h
  src/savegame_json.cpp
  src/submap.h
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Game: Mechanics Change, [C++], [JSON]

#31161 Anesthetic cost depends on surgery duration
  data/json/items/chemicals_and_resources.json
  data/json/items/tools.json
  data/json/recipes/recipe_medsandchemicals.json
  src/game_inventory.cpp
  src/iexamine.cpp
Labels: Bionics, Game: Balance, Game: Mechanics Change, Items / Item Actions / Item Qualities, [C++], [JSON]

#31174 Modernize map notes UI
  data/raw/keybindings.json
  src/input.cpp
  src/input.h
  src/overmap_ui.cpp
  src/overmap_ui.h
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/uistate.h
Labels: Info / User Interface, Mapgen, [C++], [JSON]

#31175 unclamp stored kcal and add weight descriptions
  data/json/game_balance.json
  data/mods/CrazyCataclysm/modinfo.json
  src/character.cpp
  src/character.h
  src/player_display.cpp
  tests/stomach_contents_tests.cpp
Labels: Character / Player, Food / Vitamins, Game: Mechanics Change, [C++]

#31131 Refugee Dialogue Project: Nunez family
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Pablo_Nunez.json
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
Labels: Missions, NPC / Factions, [JSON]

#31189 Require chemistry tools to craft mutagens
  data/json/recipes/chem/mutagens.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Mutations / Traits / Professions

#31227 Fix json loading error popup on Android version
  src/omdata.h
Labels: <Bugfix>, OS: Android, [C++]

#31230 Make CLANG-TIDY happy
  src/game.cpp
  src/uistate.h
Labels: Code: Build, [C++]

#31231 terrain.json: nails count -> charges
  data/json/terrain.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#31234 Fix nullptr crash when looking around at unfinished constructions
  src/game.cpp
Labels: <Bugfix>, <Crash / Freeze>, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [C++]

#31235 added bathrooms to gambling halls
  data/json/mapgen/gambling_hall.json
Labels: Mapgen, [JSON]

#31236 Fix for the wrong message about suspected bionics.
  src/activity_handlers.cpp
Labels: <Bugfix>, Bionics, Info / User Interface

#31233 Enforce astyle on tool sources
  Makefile
  tools/format/format.cpp
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#31222 Canned food fixes
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#31198 Add new Vehicle: Limousine
  data/json/vehicle_groups.json
  data/json/vehicles/vans_busses.json
Labels: Vehicles, [JSON]

#31241 activity_handlers.cpp astyle fix
  src/activity_handlers.cpp
Labels: Code: Astyle / Optimization, [C++]

#31240 add roofs to garages
  data/json/mapgen/garage.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#31206 Some activities not allowed when dark now, sorry.
  src/game.cpp
  src/handle_action.cpp
  src/veh_interact.cpp
  src/veh_interact.h
Labels: <Bugfix>, Character / Player, [C++]

#31242 modify spell exp gain
  src/activity_handlers.cpp
  src/iuse_actor.cpp
  src/magic.cpp
Labels: Mods, [C++]

#31228 Integrated toolset description now matches bionic abilities
  data/json/bionics.json
  data/json/items/bionics.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#31207 basecamps: add support for blueprint_excludes
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/basecamps/recipe_primitive_field.json
  doc/BASECAMP.md
  src/basecamp.cpp
  src/basecamp.h
  src/faction_camp.cpp
  src/recipe.cpp
  src/recipe.h
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Player Faction Base / Camp, [C++], [JSON]

#31250 Add campus media building
  data/json/mapgen/campus/buildings/lecture_f0.json
  data/json/mapgen/campus/buildings/media_f0.json
  data/json/mapgen/campus/buildings/media_f1.json
  data/json/mapgen/campus/buildings/media_f2.json
  data/json/mapgen/campus/buildings/media_f3.json
  data/json/mapgen/campus/buildings/media_roof.json
  data/json/overmap/campus.json
  data/json/overmap_terrain_campus.json
Labels: Mapgen, [JSON]

#31256 Fix starting a fire with a firewood source
  src/activity_handlers.cpp
  src/iuse_actor.cpp
Labels: <Bugfix>, Character / Player, [C++]

#31255 Fix another camp bug with expansions not showing up
  src/basecamp.cpp
Labels: <Bugfix>, Player Faction Base / Camp, [C++]

#31169 Add motocross bikes and street-legal dirt bikes
  data/json/items/vehicle/battery.json
  data/json/items/vehicle/engine.json
  data/json/items/vehicle/lights.json
  data/json/items/vehicle/wheel.json
  data/json/vehicle_groups.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/lights.json
  data/json/vehicles/bikes.json
Labels: <Enhancement / Feature>, Vehicles, [JSON]

#31267 Magiclysm: add mana mutation type
  data/mods/Magiclysm/traits/mutation.json
Labels: <Bugfix>, Mods, [JSON]

#31272 Added an article in the newspaper about minefields at the bridges
  data/json/snippets.json
Labels: <Enhancement / Feature>, Lore, [JSON]

#31274 Added an easter egg with a reference to some zombie apocalypse computer game
  data/json/snippets.json
Labels: <Enhancement / Feature>, Lore, [JSON]

#31276 change color of invlets for keybindings
  src/input.cpp
Labels: Accessibility, Info / User Interface, [C++]

#31280 Fixed max_index uninitialized
  src/panels.cpp
Labels: <Bugfix>, Code: Build, [C++]

#31293 Magiclysm: update mana regen less often
  src/player.cpp
Labels: <Bugfix>, Character / Player, Mods, [C++]

#31287 Show skill exercise in the "teach me something" dialogue
  src/npctalk.cpp
Labels: Info / User Interface, Quality of Life, [C++]

#31257 Implement member access for weather_datum by weather_type
  src/debug_menu.cpp
  src/game.cpp
  src/lightmap.cpp
  src/overmap_ui.cpp
  src/panels.cpp
  src/player.cpp
  src/sounds.cpp
  src/weather.cpp
  src/weather.h
  src/weather_data.cpp
Labels: Code: Performance, Translation, Weather, [C++]

#31253 Add 3 new parking lot terrains (2x1, 3x1, 2x2)
  data/json/mapgen/parking_lot.json
  data/json/overmap_terrain.json
Labels: Mapgen, [JSON]

#31209 basecamps: add support for automatic calculation of blueprint ingredients
  data/json/construction.json
  doc/JSON_INFO.md
  src/construction.cpp
  src/construction.h
  src/mapgen.cpp
  src/mapgen.h
  src/mapgen_functions.h
  src/recipe.cpp
  src/recipe.h
  src/requirements.cpp
  src/requirements.h
Labels: Code: Astyle / Optimization, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Player Faction Base / Camp, [C++], [JSON]

#31219 Add wood beams, a new intermediate between logs and lumber
  data/json/itemgroups/supplies.json
  data/json/items/generic.json
  data/json/items/resources/wood.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#31298 Don't make sound of engine humming if engine is of muscle type
  src/vehicle.cpp
Labels: <Bugfix>, Sound events, Vehicles

#31297 Island prison and prisoners tweaks
  data/json/mapgen/prison_1.json
  data/json/professions.json
Labels: <Enhancement / Feature>, Game: Balance, Mapgen, [JSON]

#31261 split player::disp_info() into constituent parts
  src/player_display.cpp
Labels: Code: Astyle / Optimization, [C++]

#31316 Revert "Fix wrong clairvoyance check that made player avatar being lit in the dark"
  src/lightmap.cpp
Labels: Code: Tests, [C++]

#31305 Boats' "engines" will start at first attempt
  src/activity_handlers.cpp
  src/vehicle_use.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles

#31304 Make pottery easier to craft
  data/json/recipes/other/containers.json
  data/json/recipes/recipe_others.json
  data/json/requirements/toolsets.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#31291 Increase performance by removing check for recipe every crafting turn
  src/crafting.cpp
  src/iexamine.cpp
  src/iuse.cpp
Labels: Code: Performance, Crafting / Construction / Recipes, [C++]

#31313 add roof to botanical garden
  data/json/mapgen/garden_botanical.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain_recreational.json
Labels: Mapgen, [JSON]

#31314 Add craftshop roofs
  data/json/mapgen/Glassblower.json
  data/json/mapgen/Metalworker.json
  data/json/mapgen/Pottery_Sewing_Shops.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#31317 Fix astyle regression (2019-06-11)
  src/weather.h
Labels: Code: Astyle / Optimization, [C++]

#31269 Updated roots and leaves mechanics to take new turn length into account.
  src/player.cpp
Labels: <Bugfix>, Mutations / Traits / Professions, Time / Turns / Duration / Date, [C++]

#31031 RPG dice
  data/json/item_actions.json
  data/json/item_groups.json
  data/json/itemgroups/SUS_specific_use_storage_items.json
  data/json/itemgroups/mall_item_groups.json
  data/json/itemgroups/misc.json
  data/json/items/ammo.json
  data/json/mapgen/basement/basement_game.json
  data/json/materials.json
  data/json/monster_drops.json
  data/json/professions.json
  src/item.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: Items / Item Actions / Item Qualities, Mutations / Traits / Professions, [JSON]

#31330 Avoid retrieving get_vehicles() multiple times per turn
  src/map.cpp
  src/map.h
  src/vehicle.h
  src/vehicle_move.cpp
Labels: Code: Performance, Vehicles, [C++]

#31329 Move get_heat_radiation() to avoid duplicate calls
  src/player.cpp
Labels: Code: Performance, Temperature, [C++]

#31318 Magiclysm: Magic books now have similar color codes to regular books
  src/item.cpp
Labels: Info / User Interface, Mods, [C++]

#31319 add roof to garage_gas.json
  data/json/mapgen/garage_gas.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/specials.json
  data/json/overmap_terrain_commercial.json
Labels: Mapgen, [JSON]

#31328 Extreme cold and heat won't be damaging bandages or contaminate disinfected wounds no more
  src/player.cpp
Labels: <Bugfix>, Character / Player

#31331 List items scroll fix
  src/game.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#31119 Add new Politician profession
  data/json/professions.json
Labels: Mutations / Traits / Professions, [JSON]

#31073 Made seed descriptions more consistent
  data/json/items/comestibles/other.json
  data/json/items/comestibles/seed.json
Labels: <Enhancement / Feature>, Items / Item Actions / Item Qualities, [JSON]

#31336 Fix for reading time with 1s turns
  src/player.cpp
Labels: <Bugfix>, Character / Player, Time / Turns / Duration / Date, [C++]

#31348 Prevent crashes and bad behavior when vehicle updates invalidate the vehicle list
  src/map.cpp
  src/vehicle_move.cpp
Labels: <Bugfix>, Vehicles, [C++]

#31273 Magiclysm: Mana potions
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/itemgroups.json
  data/mods/Magiclysm/items/cast_spell_items.json
  data/mods/Magiclysm/items/spellbooks.json
  doc/MAGIC.md
  src/activity_handlers.cpp
  src/magic.cpp
  src/magic.h
Labels: <Documentation>, Items / Item Actions / Item Qualities, Mods, [C++], [JSON]

#31296 Updated toggled bionic power use for 1s turns
  data/json/bionics.json
Labels: Bionics, Game: Balance, Time / Turns / Duration / Date, [JSON]

#31360 Misc micro optimizations
  src/game.cpp
  src/player.cpp
Labels: Code: Performance, Code: Tests, Temperature, [C++]

#31364 Refuel fires while waiting
  data/json/player_activities.json
Labels: <Bugfix>, Character / Player, [JSON]
