Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2019-08, with the labels that each got.

#32787 [CR] Fixed duplicate components in the list
  data/json/requirements/cooking_components.json
Labels: <Bugfix>, [JSON]

#32710 Allow zombies to push each other when blocked
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
Labels: <Bugfix>, Monsters, [C++]

#32805 correct math for start day and time
  src/game.cpp
Labels: <Bug>, Time / Turns / Duration / Date, [C++]

#32738 Populate calendar caches when loading game instead of at startup
  src/game.cpp
  src/options.cpp
  tests/test_main.cpp
Labels: <Bugfix>, [C++]

#32804 Make windowed borderless fullscreen mode default on non-curses non-Android versions
  src/options.cpp
Labels: <Enhancement / Feature>, Info / User Interface, OS: Windows

#32776 Fix filthy item description
  data/json/flags.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#32759 Allow remote use of the autoclave
  data/json/items/tools.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#32806 Fix UPS-modded soldering iron reporting no charge when repairing repeatedly
  src/activity_handlers.cpp
Labels: <Bugfix>, Battery / UPS, Gunmod / Toolmod, Items / Item Actions / Item Qualities, [C++]

#32748 Make canned meat recipes use the right amount of meat
  data/json/items/comestibles/carnivore.json
  data/json/recipes/recipe_food.json
  tests/temperature_test.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#32663 Fix crash to desktop upon interruption of liquid transfer between vehicles (fixes #32654)
  src/activity_handlers.cpp
Labels: <Bugfix>, [C++]

#32630 Volume update for soaked cotton ball
  data/json/items/comestibles/med.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#32813 Points in line operations
  src/line.cpp
  src/line.h
  src/point.h
  src/tileray.cpp
  src/tileray.h
Labels: Code: Astyle / Optimization, [C++]

#32808 clang-tidy modernize-use-nullptr
  .clang-tidy
  src/assign.h
  src/calendar.cpp
  src/calendar.h
  src/cata_tiles.cpp
  src/catacharset.cpp
  src/colony.h
  src/crash.cpp
  src/debug.cpp
  src/editmap.cpp
  src/effect.h
  src/filesystem.cpp
  src/handle_action.cpp
  src/item.cpp
  src/json.h
  src/list.h
  src/main.cpp
  src/mongroup.h
  src/sdl_utils.cpp
  src/sdltiles.cpp
  src/units.h
  src/vehicle.cpp
  src/vehicle_use.cpp
  tests/line_test.cpp
  tests/test_main.cpp
Labels: Code: Astyle / Optimization, [C++]

#32042 Fix merge conflicts
  data/json/item_groups.json
  data/json/itemgroups/clothing.json
  data/json/itemgroups/locations.json
  data/json/itemgroups/mall_item_groups.json
  data/json/itemgroups/mansion.json
  data/json/items/armor.json
  data/json/items/armor/jewelry.json
  data/json/items/migration.json
  data/json/mapgen/abandoned01.json
  data/json/mapgen/cemetery_4square.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/items_generic.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Stan_Borichenko.json
  data/json/professions.json
  data/json/recipes/armor/other.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/recipe_deconstruction.json
  data/mods/More_Locations/refugee_faction/refugee_item_groups.json
  data/mods/more_classes_scenarios/cs_classes.json
  gfx/HitButton_iso/tile_config.json
  gfx/HoderTileset/tile_config.json
  gfx/tile_config_template.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#30822 [WIP] [CR] Unsafe npc shots through player to hit zombie
  src/npcmove.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#32825 Misc fixes
  src/handle_action.cpp
  src/tileray.h
  src/weather.h
Labels: Code: Astyle / Optimization, [C++]

#32820 clang-tidy modernize-use-override
  .clang-tidy
  tests/name_test.cpp
  tests/test_main.cpp
Labels: Code: Astyle / Optimization, [C++]

#32822 More use of point in gui code
  src/advanced_inv.cpp
  src/advanced_inv.h
  src/cursesport.cpp
  src/cursesport.h
  src/editmap.cpp
  src/editmap.h
  src/iuse_software_kitten.cpp
  src/iuse_software_kitten.h
  src/sdltiles.cpp
Labels: Code: Astyle / Optimization, [C++]

#32827 Invalidate all levels of map cache on map shift
  src/game.cpp
Labels: <Bugfix>, [C++]

#32831 Dogs only bark when they see danger
  data/json/monsters/mammal.json
  src/monattack.cpp
  src/monattack.h
  src/monstergenerator.cpp
Labels: <Enhancement / Feature>, Monsters, [C++], [JSON]

#32835 clang-tidy readability-non-const-parameter
  .clang-tidy
  tests/behavior_test.cpp
Labels: Code: Astyle / Optimization, [C++]

#32768 Convert plank cutting to player action - Ready
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/iuse.cpp
Labels: <Bugfix>, Character / Player, Items / Item Actions / Item Qualities

#32818 change type from AMMO to GENERIC to fix stacking of throwing weapons
  data/json/items/archery.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#32329 Magiclysm: Terrain (and furniture) alteration spell with example
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/ter_fur_transform/ter_fur_transform.json
  data/mods/Magiclysm/terrain.json
  doc/MAGIC.md
  doc/TER_FURN_TRANSFORM.md
  src/init.cpp
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/magic_ter_fur_transform.cpp
  src/magic_ter_furn_transform.h
  src/ranged.cpp
  src/type_id.h
Labels: Magiclysm, Mods, [C++], [JSON]

#32409 Pilotable combat and utility mech-suits - rare prototypes
  data/json/itemgroups/magazines.json
  data/json/items/battery.json
  data/json/items/generic.json
  data/json/items/gun/ups.json
  data/json/mapgen/bunker.json
  data/json/mapgen/lab/lab_floorplans_finale1level.json
  data/json/monster_factions.json
  data/json/monsters/mechsuits.json
  data/json/recipes/recipe_deconstruction.json
  doc/JSON_FLAGS.md
  src/activity_handlers.cpp
  src/avatar.cpp
  src/avatar_action.cpp
  src/character.cpp
  src/character.h
  src/debug_menu.cpp
  src/game.cpp
  src/handle_action.cpp
  src/map.cpp
  src/melee.cpp
  src/monattack.cpp
  src/monattack.h
  src/monexamine.cpp
  src/monexamine.h
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.h
  src/player.cpp
  src/player.h
  src/ranged.cpp
  src/savegame_json.cpp
  src/trapfunc.cpp
  src/veh_interact.cpp
  src/visitable.cpp
Labels: <Enhancement / Feature>, Character / Player, [C++], [JSON], [Markdown]

#32773 Martial Arts Rebalance for Brawling
  data/json/martialarts.json
  data/json/techniques.json
Labels: Game: Balance, Melee, [JSON]

#32843 clang-tidy misc-unconventional-assign-operator
  .clang-tidy
  src/catacharset.h
  src/iuse.cpp
  src/list.h
  src/mattack_common.h
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#32845 Point in pathfinding
  src/line.cpp
  src/line.h
  src/overmap.cpp
  src/overmapbuffer.cpp
  src/pathfinding.cpp
  src/simple_pathfinding.h
Labels: Code: Astyle / Optimization, [C++]

#32844 Point in mapgen
  src/map.h
  src/mapgen.cpp
  src/mapgen.h
Labels: Code: Astyle / Optimization, [C++]

#32841 Nicotine liquid is now a drug, not a spare part
  data/json/items/ammo.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#32851 Fix crash caused by null pointer
  src/character.cpp
  src/game.cpp
Labels: <Bugfix>, [C++]

#32850 Rename event to timed_event
  src/activity_handlers.cpp
  src/computer.cpp
  src/game.cpp
  src/game.h
  src/iexamine.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/timed_event.cpp
  src/timed_event.h
  src/trapfunc.cpp
Labels: Code: Astyle / Optimization, [C++]

#32852 Add custom clang-tidy check for fields that could be replaced by points
  src/map.cpp
  src/mapgen.cpp
  src/messages.cpp
  src/point.h
  src/string_input_popup.h
  src/ui.h
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/XYCheck.cpp
  tools/clang-tidy-plugin/XYCheck.h
  tools/clang-tidy-plugin/test/xy.cpp
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#32821 Improve npc_talk_test.cpp compile time
  tests/npc_talk_test.cpp
Labels: Code: Build, Code: Tests, [C++]

#32599 Add claw bar
  data/json/item_groups.json
  data/json/itemgroups/tools.json
  data/json/items/tools.json
  data/json/recipes/weapon/bashing.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#32555 Debug tool for viewing map radiation aka "visual Geiger counter"
  data/raw/keybindings.json
  src/action.cpp
  src/action.h
  src/cata_tiles.cpp
  src/debug_menu.cpp
  src/game.cpp
  src/game.h
  src/handle_action.cpp
Labels: Controls / Input, Info / User Interface

#32842 Code optimizations reported by static code analysis (2019-08-02)
  src/advanced_inv.cpp
  src/auto_pickup.cpp
  src/avatar.cpp
  src/avatar_action.cpp
  src/clzones.cpp
  src/color.cpp
  src/computer.cpp
  src/cursesport.cpp
  src/debug.cpp
  src/debug_menu.cpp
  src/defense.cpp
  src/dialogue_win.cpp
  src/editmap.cpp
  src/editmap.h
  src/effect.cpp
  src/faction.cpp
  src/field_type.h
  src/game.cpp
  src/game_inventory.cpp
  src/grab.cpp
  src/help.cpp
  src/input.cpp
  src/inventory.cpp
  src/item_factory.cpp
  src/iuse_software_kitten.cpp
  src/iuse_software_lightson.cpp
  src/iuse_software_minesweeper.cpp
  src/iuse_software_sokoban.cpp
  src/list.h
  src/magic.h
  src/magic_spell_effect.cpp
  src/main_menu.cpp
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/mapdata.h
  src/mapgen.cpp
  src/martialarts.cpp
  src/mission_companion.cpp
  src/mission_ui.cpp
  src/mondeath.cpp
  src/monmove.cpp
  src/monster.cpp
  src/mutation_data.cpp
  src/options.cpp
  src/pixel_minimap.cpp
  src/player_activity.cpp
  src/regional_settings.cpp
  src/safemode_ui.cpp
  src/timed_event.cpp
  src/trap.cpp
  src/vehicle.cpp
  src/wish.cpp
  src/worldfactory.cpp
Labels: Code: Astyle / Optimization, [C++]

#32854 clang-tidy modernize-make-unique
  .clang-tidy
  src/game.cpp
  src/gamemode.cpp
  src/item_factory.cpp
  src/loading_ui.cpp
  src/main.cpp
  src/mapgen.cpp
  src/mutation_data.cpp
  src/npcmove.cpp
  src/pixel_minimap.cpp
  src/projectile.cpp
  src/sdltiles.cpp
  src/string_input_popup.cpp
  src/veh_type.cpp
  src/worldfactory.cpp
  tests/test_main.cpp
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#32856 Applying blackpowder to dragon's breath shell
  data/json/items/ammo/shot.json
  data/json/recipes/ammo/shot.json
Labels: Ammo, Crafting / Construction / Recipes, [JSON]

#32754 Custom Filter loot zone
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/clzones.h
  src/game.cpp
Labels: <Enhancement / Feature>, Inventory / AIM / Zones, [C++]

#32769 Fix NPC under operation teleporting away
  src/activity_handlers.cpp
  src/bionics.cpp
  src/game.cpp
  src/iexamine.cpp
  src/npcmove.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#32855 Duck and goose fixes
  data/json/monstergroups/monstergroups.json
  data/json/monsters/bird.json
Labels: <Bugfix>, Monsters, Spawn, [JSON]

#32853 CBM installation fail has a chance to return CBM back
  src/activity_handlers.cpp
  src/bionics.cpp
  src/player.h
Labels: Bionics, Game: Balance, [C++]

#32764 Vehicle mounted autoclave
  data/json/items/vehicle/utilities.json
  data/json/recipes/recipe_vehicle.json
  data/json/vehicleparts/vehicle_parts.json
  src/map.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.h
  src/vehicle_use.cpp
Labels: Crafting / Construction / Recipes, Vehicles, [C++], [JSON]

#32700 Dishwasher
  data/json/items/vehicle/utilities.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_vehicle.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/vans_busses.json
  doc/JSON_FLAGS.md
  src/map.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.h
  src/vehicle_use.cpp
Labels: Vehicles, [C++], [JSON]

#32865 Fix undefined symbol error
  src/sdl_utils.h
Labels: Code: Build, OS: Windows, SDL: Tiles / Sound

#32544 add drops to turrets/nonmilitary robots
  data/json/items/generic.json
  data/json/monsters/defense_bot.json
  data/json/monsters/military.json
  data/json/recipes/recipe_deconstruction.json
  src/mondeath.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: Game: Balance, Items / Item Actions / Item Qualities, Monsters, Spawn, [JSON]

#32866 Fix stacking of magazines and items counted by charge
  src/advanced_inv.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item.h
  src/pickup.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#32867 MBR vest in suit recipes
  data/json/recipes/armor/suit.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#32877 Fix advanced inventory pick-up-all action only moving items from one tile at a time
  src/activity_item_handling.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, [C++]

#32879 Mech stair crashing fix
  src/game.cpp
Labels: <Bugfix>, [C++]

#32883 Crafting plastic molds from plastic chunks
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#32884 Update item worn info when randomizing NPC
  src/npc.cpp
Labels: <Bugfix>, Code: Tests, NPC / Factions, [C++]

#32886 check existing trap ( pit ) before adding partial_con trap
  src/activity_item_handling.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++]

#32880 fix for custom zones on vehicle zones
  src/clzones.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Vehicles, [C++]

#32882 Update README.md
  README.md
Labels: <Documentation>

#32870 Rose hips addition to fruits and smoking
  data/json/items/comestibles/raw_fruit.json
  data/json/requirements/cooking_components.json
Labels: Crafting / Construction / Recipes, [JSON]

#32620 Crashed airliner
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/items/tools.json
  data/json/mapgen/airliner.json
  data/json/mapgen_palettes/airliner_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/recipes/recipe_weapon.json
Labels: Fields / Furniture / Terrain / Traps, Mapgen, [JSON]

#32823 Updated HELP option in main menu
  data/help/texts.json
  src/help.cpp
Labels: <Documentation>, Info / User Interface

#32917 Localization for some new JSON entries
  data/json/items/armor.json
  data/json/items/armor/jewelry.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
Labels: Translation, [JSON]

#32912 clang-tidy readability-redundant-string-init
  .clang-tidy
  src/character.cpp
  src/magic.cpp
  src/ranged.cpp
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#32913 clang-tidy misc-redundant-expression
  .clang-tidy
  src/overmap.cpp
  src/savegame.cpp
  src/vehicle_move.cpp
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#32905 deprecate flags for butchery harvest use
  src/activity_handlers.cpp
Labels: Code: Astyle / Optimization, [C++]

#32915 fix monster spawn/breed timing to be based off of start of cataclysm
  src/calendar.h
  src/mongroup.cpp
  src/monster.cpp
Labels: <Bugfix>, Monsters, Spawn, [C++]

#32902 Remove duplicate entries from Medieval Stuff mod
  data/mods/Medieval_Stuff/item_groups.json
  data/mods/Medieval_Stuff/tools.json
Labels: <Bugfix>, Mods, [JSON]

#32908 Recategorize recipes for crowbar, halligan, claw_bar, iceaxe, makeshift_crowbar, torch to tools instead of bashing weapons.
  data/json/recipes/other/tool.json
  data/json/recipes/weapon/bashing.json
Labels: Crafting / Construction / Recipes, [JSON]

#32901 Delete filter for hidden which is no longer working
  src/crafting_gui.cpp
Labels: Crafting / Construction / Recipes, Info / User Interface, [C++]

#32925 clang-tidy readability-const-return-type
  .clang-tidy
  src/basecamp.cpp
  src/basecamp.h
  src/calendar.cpp
  src/calendar.h
  src/character.cpp
  src/character.h
  src/clothing_mod.cpp
  src/craft_command.cpp
  src/creature.cpp
  src/creature.h
  src/damage.cpp
  src/damage.h
  src/effect.cpp
  src/effect.h
  src/game.cpp
  src/input.cpp
  src/input.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item_factory.cpp
  src/iuse.cpp
  src/json.h
  src/line.cpp
  src/line.h
  src/map.cpp
  src/map.h
  src/martialarts.cpp
  src/martialarts.h
  src/mission.cpp
  src/mission.h
  src/mission_util.cpp
  src/npc.h
  src/npcmove.cpp
  src/omdata.h
  src/output.cpp
  src/output.h
  src/overmap.cpp
  src/overmap.h
  src/panels.cpp
  src/panels.h
  src/player.cpp
  src/player.h
  src/profession.cpp
  src/profession.h
  src/recipe.cpp
  src/recipe.h
  src/skill_boost.cpp
  src/skill_boost.h
  src/submap.cpp
  src/submap.h
  src/text_snippets.cpp
  src/text_snippets.h
  src/turret.cpp
  src/veh_interact.cpp
  src/vehicle.h
  src/vehicle_display.cpp
  src/weather.h
  src/weather_data.cpp
Labels: Code: Astyle / Optimization, [C++]

#32919 Fix astyle regression
  src/crafting_gui.cpp
Labels: Code: Astyle / Optimization, [C++]

#32920 Wood saw fits in tool belt
  data/json/items/tools.json
Labels: Artifacts, [JSON]

#32926 make message can be translated for Magiclysm
  lang/extract_json_strings.py
Labels: Translation, [Python]

#32847 Martial Arts Rebalance for Capoeria
  data/json/martialarts.json
  data/json/techniques.json
Labels: Melee, [JSON]

#32869 Add personal and outer aura layers, as well as the intangible flag
  data/json/flags.json
  data/mods/Magiclysm/items/ethereal_items.json
  doc/JSON_FLAGS.md
  src/armor_layers.cpp
  src/character.cpp
  src/character.h
  src/enums.h
  src/item.cpp
  src/item_factory.cpp
  src/player.cpp
  tests/item_test.cpp
Labels: Code: Tests, Effects / Skills / Stats, Items / Item Actions / Item Qualities, Magiclysm, Mods, [C++], [JSON]

#32935 Fix vents not emitting gas/smoke etc
  data/json/field_type.json
  src/field_type.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#32938 Filthy cbm from npc dissection
  src/player.cpp
Labels: Bionics, Game: Balance, [C++]

#32931 Make lamellar cuirass appear in torso (not suit) crafting submenu
  data/json/recipes/armor/torso.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#32922 Cyborg harvest
  data/json/harvest.json
  data/json/item_groups.json
Labels: Bionics, Game: Balance, Monsters, [JSON]

#32864 Added sleeveless underwear top recipe and item.
  data/json/items/armor.json
  data/json/recipes/armor/torso.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#32946 Fix missing region setting for desert region mod
  data/mods/desert_region/desert_regional_map_settings.json
Labels: <Bugfix>, Mapgen, [JSON]

#32955 Fix Nanofabricator finale furniture alignment
  data/json/mapgen/lab/lab_floorplans_finale1level.json
Labels: <Bugfix>, Mapgen, [JSON]

#31608 Add 300 blk and guns
  data/json/itemgroups/ammo.json
  data/json/itemgroups/guns.json
  data/json/items/ammo/300BLK.json
  data/json/items/ammo_types.json
  data/json/items/generic.json
  data/json/items/generic/casing.json
  data/json/items/gun/300BLK.json
  data/json/items/magazine/223.json
  data/json/recipes/ammo/components.json
  data/json/uncraft/ammo/300blk.json
  doc/GAME_BALANCE.md
Labels: Items / Item Actions / Item Qualities, Ranged, [JSON]

#32940 Move is_wearing_power_armor to Character
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
Labels: Character / Player, Code: Astyle / Optimization, [C++]

#32949 Remove CRIT mod profession restrictions from Wilderness start
  data/mods/CRT_EXPANSION/scenarios/crt_scenarios.json
Labels: <Bugfix>, Mods, Scenarios, [JSON]

#32934 Allow different tiles for mounted creatures
  src/cata_tiles.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#32950 Fish traps will now deposit their catches on the tile they are located
  src/iuse.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++]

#32939 Jsonize environemental protection form CBMs
  data/json/bionics.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/bionics.h
  src/player.cpp
Labels: Bionics, [C++], [JSON]

#32945 Jsonize encumbrance from cbm
  data/json/bionics.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/bionics.h
  src/character.cpp
Labels: Bionics, [C++], [JSON]

#32954 Terrain reorganization take 2
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/terrain.json
Labels: Fields / Furniture / Terrain / Traps, [JSON]

#32903 Add more 4 npcs for farm faction and lets it spawn
  data/json/itemgroups/food.json
  data/json/mapgen/isherwood_farms/cabin_isherwood.json
  data/json/mapgen/isherwood_farms/farm_horse_isherwood.json
  data/json/mapgen/isherwood_farms/farm_isherwood.json
  data/json/npcs/isherwood_farm/NPC_Carlos_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Chris_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jesse_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Lisa_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Luke_Isherwood.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Labels: Mapgen, Missions, NPC / Factions, [JSON]

#32833 Construct resin terrain
  data/json/construction.json
  data/json/furniture.json
  data/json/items/resources/alien.json
Labels: Crafting / Construction / Recipes, [JSON]

#32893 add movement mode coloration to panels, standardize mode letter fetching
  src/panels.cpp
Labels: Character / Player, Info / User Interface, [C++]

#32895 Add a birchbark funnel
  data/json/items/tools.json
  data/json/recipes/recipe_others.json
  data/json/traps.json
  data/json/vehicleparts/vehicle_parts.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Vehicles, [JSON]

#32898 .460 guns can also load .45
  data/json/items/gun/460.json
  data/json/items/magazine/460.json
Labels: Ammo, Items / Item Actions / Item Qualities, Magazines, Ranged, [JSON]

#32661 Consumption rate of anesthetic depends on bodyweight
  data/json/requirements/toolsets.json
  src/bionics.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/player.h
Labels: Bionics, Effects / Skills / Stats, [C++], [JSON]

#32899 Localized damage from failed surgery
  src/bionics.cpp
Labels: Bionics, Character / Player, Game: Balance, [C++]

#32923 make most bugs avoid fire and some avoid falling
  data/json/monsters/insect_spider.json
  src/monmove.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: Game: Balance, Monsters, [C++], [JSON]

#32918 Refactor fields (step 9)
  data/json/field_type.json
  data/json/monstergroups/monstergroups.json
  src/field.cpp
  src/field.h
  src/field_type.cpp
  src/field_type.h
  src/map_field.cpp
Labels: Fields / Furniture / Terrain / Traps, Monsters, Spawn, [C++], [JSON]

#32944 Hunting supply store
  data/json/itemgroups/clothing.json
  data/json/itemgroups/main.json
  data/json/itemgroups/tools.json
  data/json/items/book/maps.json
  data/json/mapgen/store/s_hunting.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#32956 Add collapsed tower building
  data/json/mapgen/collapsed_tower.json
  data/json/mapgen_palettes/collapsed_tower.json
  data/json/monsters/monsters.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
Labels: Mapgen, Monsters, [JSON]

#32838 Add the "add_mission" effect.
  src/dialogue.h
  src/npctalk.cpp
Labels: <Enhancement / Feature>, Missions, NPC / Factions, [C++]

#32741 [CR] Tweaked @-menu (player stats description submenu) UI
  src/player_display.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#32962 Make atomic reading light bright again!
  data/json/items/tools.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#32964 Fix bad json styling that has snuck onto master
  data/json/overmap/multitile_city_buildings.json
Labels: [JSON]

#32963 Add custom clang-tidy check implementing automatic refactoring to point apis
  src/avatar_action.cpp
  src/avatar_action.h
  src/game.cpp
  src/map.cpp
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/start_location.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/UsePointApisCheck.cpp
  tools/clang-tidy-plugin/UsePointApisCheck.h
  tools/clang-tidy-plugin/test/use-point-apis.cpp
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#32930 Add new MGOAL_CONDITION mission goal
  data/json/npcs/missiondef.json
  doc/MISSIONS_JSON.md
  src/condition.cpp
  src/condition.h
  src/dialogue.h
  src/mission.cpp
  src/mission.h
  src/missiondef.cpp
  src/npctalk.cpp
Labels: <Documentation>, <Enhancement / Feature>, Missions, NPC / Factions, [C++], [JSON], [Markdown]

#32713 Allow map memory drawing mode selection through options
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/options.cpp
  src/sdl_utils.cpp
  src/sdl_utils.h
Labels: Info / User Interface, SDL: Tiles / Sound, [C++], [JSON]

#32961 Don't block or dodge when winded
  src/melee.cpp
Labels: Character / Player, Effects / Skills / Stats, Game: Balance, Melee, [C++]

#32978 adjust farm spawns on overmap
  data/json/overmap/overmap_special/specials.json
Labels: Game: Balance, Mapgen, [JSON]

#32974 Dehydrated vegetable fixes
  data/json/items/comestibles/irradiated_veggy.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/food/dry.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#32973 Custom clang-tidy check to simplify point constructors
  src/avatar_action.cpp
  src/avatar_action.h
  src/cata_tiles.cpp
  src/clzones.cpp
  src/computer.cpp
  src/defense.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/line.cpp
  src/map.cpp
  src/map_extras.cpp
  src/map_field.cpp
  src/map_iterator.h
  src/mapgen.cpp
  src/monattack.cpp
  src/overmap.cpp
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/pathfinding.cpp
  src/pixel_minimap.cpp
  src/player.cpp
  src/player.h
  src/point.h
  src/scent_map.cpp
  src/sounds.cpp
  src/start_location.cpp
  src/timed_event.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
  tests/monster_test.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/SimplifyPointConstructorsCheck.cpp
  tools/clang-tidy-plugin/SimplifyPointConstructorsCheck.h
  tools/clang-tidy-plugin/UsePointApisCheck.cpp
  tools/clang-tidy-plugin/Utils.h
  tools/clang-tidy-plugin/test/simplify-point-constructors.cpp
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#32972 Turn astyle back on for the map.cpp
  src/map.cpp
Labels: Code: Astyle / Optimization, [C++]

#32970 Small stamina tweaks
  src/player.cpp
Labels: Character / Player, Game: Balance

#32985 Fix translation of display option not updated when switching language
  src/sdltiles.cpp
Labels: <Bugfix>, Translation, [C++]

#32982 reorganize terrain entries
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/terrain.json
Labels: Fields / Furniture / Terrain / Traps, [JSON]

#32977 Fix mapgen updates when applied to rotated locations
  src/mapgen.cpp
  src/mapgen.h
Labels: <Bugfix>, Mapgen, Missions, NPC / Factions, [C++]

#32948 Fix days_since_cataclysm condition
  src/condition.cpp
Labels: <Bugfix>, Missions, NPC / Factions, [C++]

#32778 Load and display mission descriptions.
  src/mission.cpp
  src/mission.h
  src/mission_ui.cpp
  src/missiondef.cpp
  src/savegame_json.cpp
Labels: Info / User Interface, Missions, [C++]

#32494 Insecticide & friends
  data/json/emit.json
  data/json/field_type.json
  data/json/item_groups.json
  data/json/itemgroups/locations.json
  data/json/itemgroups/mansion.json
  data/json/itemgroups/supplies.json
  data/json/items/ammo/chemical_spray.json
  data/json/items/chemicals_and_resources.json
  data/json/items/grenades.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/items_generic.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/npcs/robofac/ROBOFAC_SURFACE_FREEMERCHANT.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/weapon/explosive.json
  src/field_type.cpp
  src/field_type.h
  src/map.cpp
  src/map_field.cpp
  src/monmove.cpp
  src/projectile.cpp
Labels: <Enhancement / Feature>, Fields / Furniture / Terrain / Traps, Items / Item Actions / Item Qualities, Ranged

#32966 Fix human corpses yielding nothing but an error message when butchered
  src/monstergenerator.cpp
  src/mtype.cpp
Labels: <Bugfix>, [C++]

#32967 Fixed "Relocating zombie corpses crash" (fixes #32943)
  src/map.cpp
Labels: <Bugfix>, Inventory / AIM / Zones

#32991 Make the painful electrical discharge consuming charges
  src/player.cpp
Labels: Bionics, Game: Balance, [C++]

#32992 Do not query wait time if the alarm setting menu is canceled
  src/handle_action.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#32995 Fix radio not producing sound in inventory and not consuming charge
  src/item.cpp
  src/sounds.cpp
Labels: <Bugfix>, Battery / UPS, Sound Events, [C++]

#32951 Martial Arts Rebalance for Centipede Kung Fu
  data/json/martialarts_fictional.json
Labels: Game: Balance, Melee, [JSON]

#32947 adds missing decontruction recipies for jewelries
  data/json/recipes/recipe_deconstruction.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#32914 Adds 5 new backpacks
  data/json/item_groups.json
  data/json/itemgroups/clothing.json
  data/json/itemgroups/locations.json
  data/json/items/armor.json
  data/json/recipes/armor/storage.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#32595 [Ready] Make vehicles and parts resistant to damage, rather than having higher HP
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/armor.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/lights.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
Labels: Game: Balance, Vehicles, [JSON]

#32988 Appease clang in OSX builds.
  src/cata_tiles.cpp
Labels: Code: Astyle / Optimization, Code: Build, OS: macOS, SDL: Tiles / Sound, [C++]

#32997 doc: description of monster upgrade attributes.
  doc/MONSTERS.md
Labels: <Documentation>, [Markdown]

#33001 Stop cranking the charger when the battery have charged
  src/activity_handlers.cpp
Labels: <Bugfix>, Battery / UPS, Vehicles, [C++]

#32989 Remove head coverage from cloaks
  data/json/items/armor.json
  tests/ranged_balance.cpp
Labels: Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#32816 Fixed crash in "checking mods" mode (fixes #31938)
  src/game.cpp
Labels: <Bugfix>, [C++]

#32932 Fix a crash caused by invalid field intensity levels
  src/editmap.cpp
  src/field_type.cpp
  src/field_type.h
Labels: Fields / Furniture / Terrain / Traps, Mapgen, [C++]

#32983 clang-tidy bugprone-integer-division
  .clang-tidy
  src/activity_handlers.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/computer.cpp
  src/crafting.cpp
  src/explosion.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/iuse_actor.cpp
  src/mapgen.cpp
  src/melee.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monstergenerator.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/output.cpp
  src/overmap.cpp
  src/player.cpp
  src/player_display.cpp
  src/player_hardcoded_effects.cpp
  src/ranged.cpp
  src/sdltiles.cpp
  src/start_location.cpp
  src/veh_type.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
  src/vehicle_use.cpp
Labels: Code: Astyle / Optimization, [C++]

#32996 Fixed "Segfault being dragged by nursebot in build 9424 #32929"
  src/monmove.cpp
  src/monster.h
  src/savegame_json.cpp
Labels: <Bugfix>, [C++]

#33005 Fixed "Advanced Inventory Management causes CTD #32981"
  src/item.cpp
Labels: <Bugfix>, Ammo, Inventory / AIM / Zones, [C++]

#33014 Retire some inaccurate snippets
  data/json/snippets/snippets.json
Labels: <Bugfix>, Lore, [JSON]

#33019 Cleaning broken windows now gives glass shards
  data/json/construction.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#33011 Earthbag/sandbag disassembly recipes
  data/json/uncraft/generic.json
Labels: Crafting / Construction / Recipes, [JSON]

#33018 Windows-specific compilation documentation cleanup
  COMPILING-MSYS.md
  COMPILING-VS-VCPKG.md
  COMPILING.md
Labels: <Documentation>, Code: Build

#33020 Make raw and cured sausages use the same ingredients
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#33021 add cygwin to COMPILING.md, also add short descriptions of each option
  COMPILING.md
Labels: <Documentation>, Code: Build, OS: Windows

#33022 Remove gun damage boost from accuratization
  src/item.cpp
Labels: <Bugfix>, Ranged, [C++]

#33048 Removed skill requirement from sleeveless clothes
  data/json/recipes/armor/torso.json
Labels: Crafting / Construction / Recipes, Game: Balance, Time / Turns / Duration / Date

#33040 remove brew tap homebrew/dupes from COMPILING.md
  COMPILING.md
Labels: <Documentation>, Code: Build, OS: macOS, [Markdown]

#33041 Allow vehicle part damage resistance to be copied via copy-from
  src/veh_type.cpp
  src/veh_type.h
  tests/vehicle_part_test.cpp
Labels: <Bugfix>, Code: Tests, Vehicles, [C++]

#33039 clang-tidy cert-dcl50-cpp
  .clang-tidy
  src/output.cpp
  src/output.h
  src/string_formatter.h
Labels: Code: Astyle / Optimization, [C++]

#33045 Cabin floor bugfix
  data/json/mapgen_palettes/cabin.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#33043 More generic line and no speech from Killing drive
  data/json/snippets/snippets.json
Labels: Mutations / Traits / Professions, Translation, [JSON]

#33031 clang-tidy bugprone-macro-parentheses
  .clang-tidy
  src/compatibility.h
  src/defense.cpp
  src/game.cpp
  src/input.h
  src/iuse_software_kitten.cpp
  tests/wield_times_test.cpp
Labels: Code: Astyle / Optimization, Code: Build, [C++]
