Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2019-02, with the labels that each got.

#27991 Added Color manager mention to COLOR.md
  doc/COLOR.md
Labels: <Documentation>

#27981 Clear traps in test clear_map helper
  tests/map_helpers.cpp
Labels: Code: Tests, Fields / Furniture / Terrain / Traps, [C++]

#27972 Fix NPC dialog around lying and succeeding mission
  data/json/npcs/TALK_COMMON_MISSION.json
  data/json/npcs/TALK_COMMON_OTHER.json
  src/npctalk.cpp
Labels: <Bugfix>, Missions, NPC / Factions, [JSON]

#28033 Removes me (Xhuis) being incorrectly credited to a mod I didn't make
  data/mods/Growable_pots/modinfo.json
Labels: Mods, [JSON]

#27870 Allowed Snowstorms to happen - added snow wet and glare effects ( and fixed test_weather )
  data/json/effects.json
  doc/SOUNDPACKS.md
  src/sounds.cpp
  src/weather.cpp
  src/weather.h
  src/weather_data.cpp
  src/weather_gen.cpp
Labels: 0.D Freeze, <Enhancement / Feature>, Weather, [C++], [JSON]

#27882 [CR] Joint torsion ratchet CBM increases stamina drain (toggleable)
  data/json/bionics.json
  data/json/items/bionics.json
  src/bionics.cpp
  src/game.cpp
  src/player.cpp
  src/vehicle.cpp
Labels: Bionics, Game: Balance, [JSON]

#27923 Take shelter from the directional wind behind outdoors terrain
  data/json/furniture.json
  data/json/terrain.json
  doc/JSON_FLAGS.md
  src/bionics.cpp
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/player.cpp
  src/vehicle.cpp
  src/weather.cpp
  src/weather.h
  src/weather_gen.cpp
  src/weather_gen.h
Labels: 0.D Freeze, Effects / Skills / Stats, Fields / Furniture / Terrain / Traps, Weather, [C++], [JSON]

#27935 You lived your life, like a candle in the wind...
  data/json/items/tools.json
  doc/JSON_FLAGS.md
  src/item.cpp
Labels: 0.D Freeze, <Documentation>, Items / Item Actions / Item Qualities, Weather, [C++], [JSON]

#27963 Adds some money types.
  data/json/items/generic/currency.json
  data/json/npcs/NC_EVAC_SHOPKEEP.json
Labels: 0.D Freeze

#28042 Added a message in a sidebar after the start describing scenario
  src/main_menu.cpp
Labels: Info / User Interface, Scenarios

#28045 Fix intermittent test failure in crafting_interruption test
  src/player.cpp
  src/player.h
  tests/crafting_test.cpp
  tests/player_helpers.cpp
Labels: Code: Tests, [C++]

#28078 Show scenario description only after character creation
  src/main_menu.cpp
Labels: <Bugfix>, [C++]

#28137 Remove silly battery recipe
  data/json/recipes/recipe_electronics.json
Labels: Battery, Crafting / Construction / Recipes, [JSON]

#28140 Monster items dropped are aged as of time of cataclysm
  src/monster.cpp
Labels: <Bugfix>, Game: Balance, Items / Item Actions / Item Qualities, [C++]

#28179 Fix relic spawn in cathedral
  data/json/mapgen/cathedral.json
Labels: <Bugfix>, Mapgen, [JSON]

#27908 Cattail jelly closes #24414
  data/json/items/comestibles/med.json
  data/json/recipes/other/medical.json
Labels: <Bugfix>, Food / Vitamins, [JSON]

#27952 Fixes issue #27511
  data/json/recipes/food/offal_dishes.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#28064 Removing bone armor recipes.
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#28197 Fixed invalid color name
  data/json/items/comestibles/med.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#28198 Fixed humble pie recipe
  data/json/items/comestibles/offal_dishes.json
  data/json/recipes/food/offal_dishes.json
  data/json/requirements/cooking_components.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#28221 Recipe to make t-shirt from long-sleeved shirt.
  data/json/recipes/armor/torso.json
Labels: 0.D Freeze, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#28204 Restore win xp compat
  src/crash.cpp
Labels: <Bugfix>, OS: Windows, [C++]

#28005 More mall background tiles will match floor
  data/json/mapgen/mall.json
  data/json/terrain.json
  gfx/BlockheadTileset/tile_config.json
  gfx/ChestHole16Tileset/tile_config.json
  gfx/ChestHole32Tileset/tile_config.json
  gfx/ChestHole32Tileset_iso/tile_config.json
  gfx/ChestHoleTileset/tile_config.json
  gfx/DeonTileset/tile_config.json
  gfx/HitButton_iso/tile_config.json
  gfx/HoderTileset/tile_config.json
  gfx/MSX++DeadPeopleEdition/tile_config.json
  gfx/MShock24TilesetModded/tile_config.json
  gfx/MShock32TilesetModded/tile_config.json
  gfx/MshockXotto+/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  gfx/ThuztorTileset@/tile_config.json
  gfx/TsuTileset/tile_config.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Mapgen

#28271 Alternative night vision intensity
  src/cata_tiles.cpp
Labels: <Enhancement / Feature>, SDL: Tiles / Sound, [C++]

#28279 basecamps: fix NPC companions deleting seeds before farming
  src/faction_camp.cpp
Labels: <Bugfix>, Player Faction Base / Camp, [C++]

#28301 Increased weight of firecrackers pack
  data/json/items/tools.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#28309 Update RetroDays tileset - Mycus
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/RetroDaysTileset/tiles_20x20.png
Labels: <Enhancement / Feature>, SDL: Tiles / Sound

#28304 Disable hassle-causing egg spawns.
  data/json/items/biosignatures.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/mre.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/mutagen.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/json/monstergroups.json
  data/mods/Tolerate_This/comestibles.json
Labels: <Bugfix>, Game: Mechanics Change, [JSON]

#28341 Make broth recipes consistent
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#28374 Fix wincurse build
  src/wincurse.cpp
Labels: Code: Build

#28360 Corrects some out-of-date documentation in JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [JSON]

#28384 Add "valid: false" to appearance traits so they don't appear as random mutations.
  data/json/mutation_appearance.json
Labels: <Bugfix>, Mutations / Traits / Professions

#28337 Terrain serving as fire for crafting is now tied to json, instead of hardcoded
  data/json/terrain.json
  doc/JSON_FLAGS.md
  src/map.cpp
Labels: Fields / Furniture / Terrain / Traps, [C++], [JSON]

#28396 Fix worn holster wield times
  src/game.cpp
  src/player.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Items / Item Actions / Item Qualities, [C++]

#28403 Disable display size check if scaling factor is 1
  src/sdltiles.cpp
Labels: <Bugfix>, SDL: Tiles / Sound

#28387 Remove autodoc preparing message
  src/iexamine.cpp
Labels: 0.D Freeze, <Bugfix>, Bionics, [C++]

#27957 Lint armor JSON
  data/json/items/armor/bandolier.json
  data/json/items/armor/boots.json
  data/json/items/armor/holster.json
  json_blacklist
Labels: 0.D Freeze

#28035 Book mini-overhaul part 1
  data/json/item_groups.json
  data/json/itemgroups/mansion.json
  data/json/items/book/misc.json
  data/json/mapgen/dojo.json
  data/json/mapgen/lab/lab_common.json
  data/json/mapgen/library.json
  data/json/mapgen/s_bookstore.json
Labels: 0.D Freeze, <Enhancement / Feature>, Items / Item Actions / Item Qualities, [JSON]

#28356 Fixed heavy stick description mentioning that it can be cut into two by fours
  data/json/items/melee.json
Labels: 0.D Freeze, <Bugfix>, Items / Item Actions / Item Qualities

#27985 Moose kitten finding
  src/iuse_software_kitten.cpp
Labels: 0.D Freeze, Items / Item Actions / Item Qualities, [C++]

#28382 Overmap land use codes (Step 1)
  data/json/overmap/overmap_land_use_codes.json
  data/json/overmap_terrain.json
  data/json/overmap_terrain_abstract.json
  data/raw/keybindings.json
  src/init.cpp
  src/omdata.h
  src/overmap.cpp
  src/overmap_ui.cpp
  src/string_id_null_ids.cpp
  src/uistate.h
Labels: <Enhancement / Feature>, Info / User Interface, Mapgen, [C++], [JSON]
