Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2019-01, with the labels that each got.

#27269 Adds gunmods that add slots for more gunmods
  data/json/items/gunmod/rail.json
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/iteminfo_query.h
  src/itype.h
  src/iuse_actor.cpp
  src/player.cpp
Labels: <Enhancement / Feature>, Gunmod / Toolmod, [C++]

#27225 vehicles: enable functional boats phase 1
  src/game.cpp
  src/map.cpp
  src/veh_interact.cpp
  src/veh_interact.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
Labels: <Enhancement / Feature>, Code: Astyle / Optimization, Vehicles, [C++]

#27386 Widecone headlight
  data/json/items/vehicle_parts.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_others.json
  data/json/vehicleparts/lights.json
  data/raw/keybindings/vehicle.json
  doc/JSON_FLAGS.md
  src/game.cpp
  src/lightmap.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle_part.cpp
  src/vehicle_use.cpp
Labels: <Enhancement / Feature>, Vehicles, [C++], [JSON]

#27400 CMakeLists cleanup
  CMakeLists.txt
  build-scripts/build.sh
Labels: Code: Build

#27409 Bugfix - change copy-from to bionic_general_npc_usable
  data/json/items/bionics.json
Labels: <Bugfix>, Bionics, NPC, [JSON]

#27404 Translate std strings
  src/translations.h
Labels: Code: Astyle / Optimization, Translation, [C++]

#27393 Adds minireactor to electrical power calculation
  src/vehicle_display.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Info / User Interface, Vehicles, [C++]

#27391 MBR vests weight and recipe fixes
  data/json/items/armor/ammo_pouch.json
  data/json/items/generic.json
  data/json/recipes/armor/torso.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#27251 vehicles: add support for amphibious vehicles
  data/json/vehicleparts/vp_flags.json
  data/mods/Boats/b_inflatable_boat_parts.json
  data/mods/Boats/b_item_groups.json
  data/mods/Boats/b_recipes.json
  data/mods/Boats/b_var_veh_parts.json
  data/mods/Boats/b_var_wood_veh_parts.json
  data/mods/Boats/b_vehicles.json
  data/mods/Boats/b_wooden_boat_parts.json
  data/mods/Boats/items_vehicleparts_boats.json
  data/mods/Boats/vehicle_groups_boats.json
  data/mods/Boats/vehicleparts_boats.json
  data/mods/Boats/vehicles_boats.json
  src/dump.cpp
  src/grab.cpp
  src/map.cpp
  src/map.h
  src/savegame_json.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/vehicle_drag.cpp
  tests/vehicle_efficiency.cpp
Labels: <Enhancement / Feature>, Game: Mechanics Change, Vehicles, [C++]

#27429 Fix big tent becomes damaged if its door is opened and closed
  data/json/furniture.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#27418 Fix rare crafting test crash
  src/bionics.cpp
  src/player.h
  tests/player_helpers.cpp
Labels: Bionics, Code: Tests, [C++]

#27415 Earlier, clearer failure for uilist in test mode
  src/ui.cpp
Labels: Code: Tests, [C++]

#27420 Add missing activity message for autonomous surgical scalpels cbm
  src/activity_handlers.cpp
Labels: <Bugfix>, Bionics

#27413 Bionic power - equalize names and colorize values
  src/bionics_ui.cpp
  src/player.cpp
  src/player_display.cpp
Labels: <Bugfix>, Bionics, Info / User Interface, [C++]

#27430 Fix astyle regression (2018-01-04)
  src/bionics_ui.cpp
Labels: [C++]

#26615 Check route.size() > 1 in the debug automove route
  src/game.cpp
Labels: <Bugfix>, [C++]

#26830 Prevent information leakage from wall connectedness
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/map.cpp
  src/map.h
Labels: <Enhancement / Feature>, Code: Astyle / Optimization, Fields / Furniture / Terrain / Traps, Info / User Interface, SDL: Tiles / Sound

#26933 inventory::invlet_cache overhaul
  src/inventory.cpp
  src/inventory.h
  src/savegame_json.cpp
  tests/invlet_test.cpp
Labels: Code: Astyle / Optimization, Code: Performance, Inventory / AIM / Zones, [C++]

#27328 Automatically calculate monster difficulty
  data/json/monsters.json
  data/json/monsters/bird.json
  data/json/monsters/defense_bot.json
  data/json/monsters/drones.json
  data/json/monsters/fish.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/monsters/military.json
  data/json/monsters/obsolete.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/triffid.json
  data/json/monsters/zed_children.json
  data/json/monsters/zed_explosive.json
  data/mods/Animatronics/animatronics.json
  data/mods/CrazyCataclysm/crazy_monsters.json
  data/mods/DinoMod/dinosaur.json
  data/mods/Modular_Turrets/monster.json
  data/mods/Modular_Turrets/monster_override.json
  data/mods/National_Guard_Camp/military.json
  data/mods/Salvaged_Robots/monsters.json
  data/mods/blazemod/blaze_blob_monster.json
  doc/MONSTERS.md
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
  src/npcmove.cpp
Labels: <Documentation>, <Enhancement / Feature>, Info / User Interface, Monsters, [C++], [JSON]

#27278 Zone activity - farm plot harvesting
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/handle_action.cpp
  src/iexamine.cpp
  src/iexamine.h
Labels: <Enhancement / Feature>, Code: Astyle / Optimization, Fields / Furniture / Terrain / Traps, [C++]

#27337 Non-aux gun modes fix, take 2
  src/item.cpp
Labels: <Bugfix>, Gunmod / Toolmod, [C++]

#27360 Specific guns can be targetted in json gunmods
  data/json/items/gunmod/mechanism.json
  data/json/recipes/recipe_weapon.json
  src/item.cpp
Labels: <Enhancement / Feature>, Gunmod / Toolmod, [C++], [JSON]

#27345 Unify book morale bonuses from spiritual/cannibal into book_fun_for
  src/game_inventory.cpp
  src/item.cpp
  src/player.cpp
  src/player.h
Labels: Character / Player, Info / User Interface, [C++]

#27416 Seed mapgen in tests for reproducibility
  tests/test_main.cpp
Labels: Code: Tests, [C++]

#27438 NPC AI logic and test issues
  src/npcmove.cpp
  tests/npc_test.cpp
Labels: <Bugfix>, Code: Tests, NPC, [C++]

#27435 Update RetroDays - Skeletal juggernauts, flowers, blinky
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
Labels: <Enhancement / Feature>, SDL: Tiles / Sound

#27431 Fixed localized "Sort by:" text being overlapped by the "Press s to change" text in the character creation menu.
  src/newcharacter.cpp
Labels: Info / User Interface

#27432 player display: adds support for hidden traits
  data/json/mutations.json
  data/json/npcs/BG_traits.json
  doc/JSON_INFO.md
  src/character.h
  src/mutation.h
  src/mutation_data.cpp
  src/newcharacter.cpp
  src/player_display.cpp
Labels: Info / User Interface, Mutations / Traits / Professions, [C++], [JSON]

#27401 Wooden fence gate movement (run/walk)
  src/game.cpp
Labels: <Enhancement / Feature>, Character / Player, [C++]

#27324 Corrections and additions to tips.json
  data/core/tips.json
Labels: Info / User Interface, [JSON]

#27419 Adds 4 new "universal" NPC backstories.
  data/json/npcs/BG_trait_groups.json
  data/json/npcs/BG_traits.json
  data/json/npcs/Backgrounds/backgrounds_table_of_contents.json
  data/json/npcs/Backgrounds/no_past_3.json
  data/json/npcs/Backgrounds/no_past_4.json
  data/json/npcs/Backgrounds/no_past_5.json
  data/json/npcs/Backgrounds/wedding_1.json
Labels: NPC, [JSON]

#27406 npctalk: add more conditions and dynamic line options
  data/json/npcs/TALK_TEST.json
  doc/NPCs.md
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: <Enhancement / Feature>, NPC, [C++], [JSON]

#27434 npc: remove hardcoded mutation modifiers to opinions and use JSON values
  data/json/mutations.json
  src/npc.cpp
  src/player.cpp
Labels: Character / Player, Mutations / Traits / Professions, NPC, [C++], [JSON]

#27444 Fix aiming via mouse click
  src/ranged.cpp
Labels: Controls / Input, Ranged

#27399 Granularize harvesting skinbits
  data/json/items/comestibles/carnivore.json
  data/json/recipes/armor/storage.json
  data/json/recipes/recipe_others.json
  data/mods/More_Survival_Tools/recipes.json
  data/mods/blazemod/blaze_blob_recipes.json
Labels: <Bugfix>, Mods, [JSON]

#27412 Mainlined Tall Buildings mod
  data/json/mapgen/motel.json
  data/json/mapgen/office_tower.json
  data/json/overmap/specials.json
  data/json/overmap_terrain.json
  data/mods/Z-Level_Buildings/2fmotel.json
  data/mods/Z-Level_Buildings/modinfo.json
  data/mods/Z-Level_Buildings/office_tower.json
  data/mods/Z-Level_Buildings/overmap_specials.json
  data/mods/Z-Level_Buildings/overmap_terrain.json
  json_blacklist
Labels: Mapgen, Mods, [JSON]

#27421 Moved overmap terrain definitions from mapgen json to overmap_terrain.json
  data/json/mapgen/homeimprovement.json
  data/json/mapgen/jewel_store.json
  data/json/mapgen/laundromat.json
  data/json/mapgen/mortuary.json
  data/json/mapgen/museum.json
  data/json/mapgen/veterinarian.json
  data/json/overmap_terrain.json
  json_blacklist
Labels: Mapgen, [JSON]

#27365 Add light nomad gear
  data/json/items/armor.json
  data/json/recipes/armor/suit.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#27456 Fix black powder charge initial charges.
  data/json/items/tools.json
Labels: (P3 - Medium), <Bugfix>, [JSON]

#27454 Move map memory capacity cache to player object
  src/player.cpp
  src/player.h
Labels: Map Memory, [C++]

#27451 Added player activity related Lua-callbacks
  doc/LUA_SUPPORT.md
  doc/sample_mods/lua_test_callback/main.lua
  doc/sample_mods/lua_test_callback/preload.lua
  src/activity_type.cpp
Labels: <Documentation>, <Enhancement / Feature>, Character / Player, Mods, [C++], [Lua]

#27455 vehicles: don't let drag stop vehicles in active cruise control
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#27459 Update Urban Development
  data/mods/Urban_Development/modinfo.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/regional_overlay.json
Labels: Mapgen, Mods, [JSON]

#27212 Chemistry Tools 2: Add basic analytical science tools
  data/json/items/tool/science.json
  data/json/items/tools.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#27077 Add Vagabond Profession
  data/json/professions.json
Labels: Mutations / Traits / Professions, [JSON]

#27389 Improvements to repair item interface
  src/activity_handlers.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#27468 Tiny optimization (workaround) in map_memory
  src/map_memory.cpp
Labels: Code: Performance, Map Memory, [C++]

#27470 Code optimizations reported by static code analysis (2019-01-06)
  tests/bionics_test.cpp
  tests/crafting_test.cpp
  tests/creature_test.cpp
  tests/encumbrance_test.cpp
  tests/explosion_balance.cpp
  tests/ground_destroy_test.cpp
  tests/hash_test.cpp
  tests/invlet_test.cpp
  tests/item_test.cpp
  tests/line_test.cpp
  tests/map_helpers.cpp
  tests/map_memory.cpp
  tests/map_test.cpp
  tests/melee_test.cpp
  tests/mondefense_test.cpp
  tests/monster_test.cpp
  tests/morale_test.cpp
  tests/mutation_test.cpp
  tests/new_character_test.cpp
  tests/npc_talk_test.cpp
  tests/npc_test.cpp
  tests/overmap_test.cpp
  tests/player_helpers.cpp
  tests/player_helpers.h
  tests/player_test.cpp
  tests/ranged_balance.cpp
  tests/reload_option.cpp
  tests/reloading_test.cpp
  tests/savegame_test.cpp
  tests/shadowcasting_test.cpp
  tests/test_main.cpp
  tests/test_statistics.cpp
  tests/test_statistics.h
  tests/throwing_test.cpp
  tests/vehicle_drag.cpp
  tests/vehicle_efficiency.cpp
  tests/vehicle_interact_test.cpp
  tests/vehicle_power_test.cpp
  tests/vehicle_split_test.cpp
  tests/vehicle_test.cpp
  tests/vehicle_turrets.cpp
  tests/vision_test.cpp
  tests/visitable.cpp
  tests/visitable_remove.cpp
  tests/wield_times_test.cpp
Labels: Code: Astyle / Optimization, Code: Tests, [C++]

#27471 npctalk: add u_sell_item effect
  data/json/npcs/TALK_TEST.json
  doc/NPCs.md
  src/dialogue.h
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: <Enhancement / Feature>, Inventory / AIM / Zones, NPC, [C++]

#27298 Replaced magic numbers and formulas with defines
  src/cata_tiles.cpp
  src/computer.cpp
  src/coordinates.h
  src/defense.cpp
  src/editmap.cpp
  src/event.cpp
  src/explosion.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/game_constants.h
  src/handle_action.cpp
  src/iexamine.cpp
  src/lightmap.cpp
  src/map.cpp
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/mission_companion.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/pathfinding.cpp
  src/pathfinding.h
  src/player.cpp
  src/scent_map.cpp
  src/scent_map.h
  src/shadowcasting.h
  src/sounds.cpp
  src/start_location.cpp
  src/trapfunc.cpp
Labels: Code: Astyle / Optimization, [C++]

#27463 Moved overmap terrain definitions from mapgen json to overmap_terran.json (Part 2)
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
  data/json/mapgen/antique_store.json
  data/json/mapgen/arcade.json
  data/json/mapgen/bowling_alley.json
  data/json/mapgen/boxing.json
  data/json/mapgen/dojo.json
  data/json/mapgen/dump.json
  data/json/mapgen/dumpsite.json
  data/json/mapgen/fire_station.json
  data/json/mapgen/garden_community.json
  data/json/mapgen/gardening_store.json
  data/json/mapgen/gym.json
  data/json/mapgen/house/house_vacant.json
  data/json/mapgen/lot_empty_residential.json
  data/json/overmap_terrain.json
  json_blacklist
Labels: Mapgen, [JSON]

#27335 Adjust the volume, weight and material of motor
  data/json/items/generic.json
  data/json/items/vehicle_parts.json
  data/json/recipes/recipe_electronics.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#27490 No map extras in refugee center (for now)
  data/json/overmap_terrain.json
Labels: <Bugfix>, Mapgen, [JSON]

#27492 Restore INDOORS flag to t_rock_floor
  data/json/terrain.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#27489 Greater search range for refugee camp bandit missions
  src/mission_start.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
Labels: <Bugfix>, Mapgen, [C++]

#27491 Plant seeding with vehicle
  data/json/terrain.json
  src/vehicle_use.cpp
Labels: <Bugfix>, [C++], [JSON]

#27517 Fixed time cost for auto-mining
  src/game.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#27519 More defines in mapgen code
  src/defense.cpp
  src/game.cpp
  src/game_constants.h
  src/iexamine.cpp
  src/map.cpp
  src/map.h
  src/mapbuffer.cpp
  src/mapgen.cpp
  src/monattack.cpp
  src/monster.cpp
  src/start_location.cpp
Labels: Code: Astyle / Optimization, [C++]

#27499 npctalk: dialogue and u_has_items bugfixes
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: <Bugfix>, NPC, [C++]

#27515 Fix NPC class loadout selection
  src/npc.cpp
  src/npc_class.cpp
Labels: <Enhancement / Feature>, NPC, [C++]

#27529 Fix talk_trial modifiers
  src/npctalk.cpp
Labels: <Bugfix>, NPC, [C++]

#27518 Fix Bionic Gangster's shoulder strap in "more_classes_scenarios" mod
  data/mods/more_classes_scenarios/cs_classes.json
Labels: <Bugfix>, Mods, Mutations / Traits / Professions, [JSON]

#27523 Tonfa fix for Eskrima style
  data/json/martialarts.json
Labels: <Bugfix>, [JSON]

#27528 Add correct lifecycle to acidic ant larva and acidic ant
  data/json/monsters/insect_spider.json
Labels: <Bugfix>, Monsters, [JSON]

#27516 Expand NPC loadouts
  data/json/item_groups.json
  data/json/npcs/NC_BOUNTY_HUNTER.json
  data/json/npcs/NC_COWBOY.json
  data/json/npcs/NC_EVAC_SHOPKEEP.json
  data/json/npcs/NC_HUNTER.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/NC_NINJA.json
  data/json/npcs/NC_SOLDIER.json
  data/json/npcs/NC_THUG.json
  data/json/npcs/NC_TRADER.json
  data/json/npcs/items_generic.json
  src/npc.cpp
Labels: <Enhancement / Feature>, NPC, [C++], [JSON]

#27469 npctalk: add mutation threshold flags and static and starting NPC traits
  data/json/mutations.json
  doc/NPCs.md
  src/faction_camp.cpp
  src/game.cpp
  src/mapgen.cpp
  src/npctalk.cpp
  src/player.h
  src/savegame_json.cpp
  tests/npc_talk_test.cpp
Labels: <Enhancement / Feature>, Mutations / Traits / Professions, NPC, [C++]

#27503 Mini-flamethrower CBM is now considered as firestarter for requirements of lighting a fire
  data/json/bionics.json
  data/json/items/fake.json
Labels: <Enhancement / Feature>, Bionics, Items / Item Actions / Item Qualities

#27534 Fix crash related to null pointer in creature tracker
  src/creature_tracker.cpp
  src/veh_interact.cpp
Labels: <Bugfix>, [C++]

#27525 game: add a debug option to spawn map extras
  src/game.cpp
Labels: <Enhancement / Feature>, Mapgen, [C++]

#27536 Use enumerated value instead of string compares in cOpt::value_as<T>
  src/options.cpp
  src/options.h
Labels: Code: Performance, [C++]

#27541 Fix fire extinguishers
  src/iuse.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Items / Item Actions / Item Qualities

#27546 Fix ASCII fallback for corpses.
  src/cata_tiles.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#27543 Allow player to use adjacent CAMERA_CONTROL
  src/lightmap.cpp
Labels: <Enhancement / Feature>, Vehicles, [C++]

#27540 Added Electroreceptors to Challenge-Lab scenario
  data/json/scenarios/scenarios.json
Labels: <Enhancement / Feature>, Character / World Generation, Mutations / Traits / Professions, [JSON]

#27524 vehicles: improve split logic
  data/json/vehicles/test.json
  src/vehicle.cpp
  tests/vehicle_split_test.cpp
Labels: <Bugfix>, Vehicles, [C++]

#27550 Add an NPC conversation morale boost effect option
  data/json/morale_types.json
  doc/NPCs.md
  src/morale_types.cpp
  src/morale_types.h
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
Labels: Effects / Skills / Stats, NPC, [C++]

#27552 game: adjust vehicle driving offset based on the new speeds
  src/game.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles

#27185 Add Nausea Meds (Pepto-Bismol)
  data/json/effects.json
  data/json/items/comestibles/med.json
Labels: Character / Player, Game: Balance, Mutations / Traits / Professions, [C++], [JSON]

#27392 Item disassembling QoL changes
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/game_inventory.cpp
  src/inventory.cpp
  src/inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item.cpp
  src/item.h
  src/item_location.cpp
  src/item_location.h
  src/item_search.cpp
  src/output.cpp
  src/requirements.h
Labels: Crafting / Construction / Recipes, Info / User Interface, [C++]

#27500 Multi-filter for recipes in crafting menu
  src/crafting_gui.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Info / User Interface, [C++]

#27177 Unloading magazines is interruptable
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/game.cpp
  src/player.cpp
  src/player.h
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++], [JSON]

#27539 Code optimizations reported by static code analysis (2019-01-11)
  src/activity_handlers.cpp
  src/bonuses.cpp
  src/coordinates.h
  src/creature_tracker.cpp
  src/damage.cpp
  src/debug.cpp
  src/explosion.cpp
  src/fire.h
  src/item.cpp
  src/item_group.cpp
  src/itype.h
  src/iuse.h
  src/iuse_software_snake.cpp
  src/iuse_software_sokoban.cpp
  src/json.cpp
  src/json.h
  src/lightmap.cpp
  src/mapbuffer.cpp
  src/mapgen.cpp
  src/mapgen.h
  src/messages.cpp
  src/mission_companion.cpp
  src/mission_ui.cpp
  src/monattack.cpp
  src/mongroup.cpp
  src/monster.cpp
  src/mutation.cpp
  src/npctalk.cpp
  src/options.cpp
  src/output.cpp
  src/overmap.cpp
  src/popup.cpp
  src/requirements.h
  src/safemode_ui.cpp
  src/sdlsound.cpp
  src/sdlsound.h
  src/sdltiles.cpp
  src/text_snippets.cpp
  src/vehicle.cpp
  src/vehicle_use.cpp
Labels: Code: Astyle / Optimization, [C++]

#27551 Various sound and hearing fixes
  data/json/npcs/talk_tags.json
  src/activity_handlers.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/player.cpp
  src/sounds.cpp
  src/sounds.h
  src/vehicle.cpp
  src/vehicle_use.cpp
Labels: <Bugfix>, NPC, Sound events, [C++]

#27396 Optimist and Bad Temper Rebalance
  src/morale.cpp
  tests/morale_test.cpp
Labels: Code: Tests, Mutations / Traits / Professions, [C++]

#27422 More flexible raincoats, Eskimo-esque intestine parkas
  data/json/items/armor.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#27596 Added glaive and naginata to the list of Silat-compatible weapons
  data/json/martialarts.json
Labels: Melee, [JSON]

#27572 don't spawn butchery refuse with 0 charges
  src/activity_handlers.cpp
Labels: <Bugfix>, [C++]

#27571 Dec 2019 changelog
  data/changelog.txt
Labels: <Documentation>

#27545 Fix eink recipes
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/player.cpp
  tests/crafting_test.cpp
Labels: <Bugfix>, Code: Tests, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [C++]

#27495 Salvaged Robots: More robot themed professions
  data/mods/Salvaged_Robots/items.json
  data/mods/Salvaged_Robots/monsters.json
  data/mods/Salvaged_Robots/robot_additions/professions.json
  data/mods/Salvaged_Robots/robot_additions/scenarios.json
Labels: Mods, Mutations / Traits / Professions, [JSON]

#27594 Fix 'go bag' item activation when not in inventory
  src/inventory.cpp
  src/inventory.h
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#27535 Added new martial art: Sōjutsu
  data/json/item_groups.json
  data/json/items/book/martial.json
  data/json/martialarts.json
  data/json/mutations.json
  data/json/techniques.json
Labels: <Enhancement / Feature>, Melee, [JSON]

#27457 Map memory speedup
  src/cata_tiles.cpp
  src/map.cpp
  src/map.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/map_memory.cpp
Labels: Code: Performance, Map Memory, [C++]

#27611 Code optimizations reported by static code analysis (2019-01-14)
  src/action.cpp
  src/auto_pickup.cpp
  src/cata_tiles.cpp
  src/clzones.cpp
  src/crafting_gui.cpp
  src/dialogue.h
  src/faction_camp.cpp
  src/game.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item_action.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/map.cpp
  src/map.h
  src/martialarts.cpp
  src/mission.h
  src/mission_companion.cpp
  src/mission_start.cpp
  src/mod_manager_ui.cpp
  src/monattack.cpp
  src/mutation_data.cpp
  src/npc.cpp
  src/npctalk_funcs.cpp
  src/output.cpp
  src/overmap_ui.cpp
  src/player.cpp
  src/player_display.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/sdlsound.cpp
  src/skill.cpp
  src/start_location.cpp
  src/ui.cpp
  src/vehicle.cpp
  src/vehicle_use.cpp
Labels: Code: Astyle / Optimization, [C++]

#27604 Fixed crash related to map memory
  src/map.h
Labels: (P1 - Critical), <Bugfix>, Map Memory, [C++]

#27169 Optimize `inbounds` functions
  lua/class_definitions.lua
  src/editmap.cpp
  src/enums.h
  src/field.cpp
  src/game.cpp
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/mission_start.cpp
  src/overmap.cpp
  src/overmap.h
  src/scent_map.cpp
  src/scent_map.h
Labels: Code: Astyle / Optimization, [C++]

#27352 cleaning of sidebar UI
  src/game.cpp
  src/game.h
  src/item.h
  src/player.cpp
  src/sidebar.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#27506 Mycus Fireproofing consistency
  src/character.cpp
  src/field.cpp
  src/player.cpp
Labels: <Bugfix>, Mutations / Traits / Professions, Temperature, [C++]

#27605 Improve food descriptions
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/meat_dishes_human.json
Labels: Food / Vitamins, Info / User Interface, [JSON]

#27616 Blaze mod's "spouterqueen" part should have "USE_TANKS" flag as per item description
  data/mods/blazemod/blaze_blob_parts.json
Labels: <Bugfix>, Mods, Vehicles, [JSON]

#27570 Morale chat activity
  data/json/effects.json
  data/json/npcs/TALK_COMMON_OTHER.json
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
Labels: Effects / Skills / Stats, NPC, [C++], [JSON]

#27636 Fix Windows builds (2019-01-15)
  src/monmove.cpp
  src/scent_map.cpp
  src/scent_map.h
Labels: (P2 - High), Code: Build, OS: Windows, Z-levels, [C++]

#27654 Fix subterranean city monster placement
  src/overmap.cpp
Labels: <Bugfix>, [C++]

#27653 lint data\json\doll_speech.json & data\json\dreams.json
  data/json/doll_speech.json
  data/json/dreams.json
  json_blacklist
Labels: Organization, [JSON]

#27640 Trig dist audit
  src/iuse.cpp
  src/mattack_actors.cpp
  src/monattack.cpp
Labels: <Bugfix>, [C++]

#27573 Alcohol.json Comestible Rebalance (1 of 22)
  data/json/items/comestibles/alcohol.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27574 Bread.json Comestible Rebalance (2 of 22)
  data/json/items/comestibles/bread.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27575 Carnivore.json Comestible Rebalance (3 of 22)
  data/json/items/comestibles/carnivore.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27576 Dairy.json Comestible Rebalance (4 of 22)
  data/json/items/comestibles/dairy.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27668 Json style linting - data\json\gates.json, data\json\health_msgs.json, data\json\item_actions.json
  data/json/gates.json
  data/json/health_msgs.json
  data/json/item_actions.json
  json_blacklist
Labels: Organization, [JSON]

#27661 Fix for item bars being hidden
  src/item.h
Labels: <Bugfix>, Info / User Interface, [C++]

#27579 Egg.json comestible rebalance (7 of 22)
  data/json/items/comestibles/egg.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27580 Frozen.json comestible rebalance (8 of 22)
  data/json/items/comestibles/frozen.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27581 Fruit dishes.json comestible rebalance (9 of 22)
  data/json/items/comestibles/fruit_dishes.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27586 Other.json comestible rebalance (14 of 22)
  data/json/items/comestibles/other.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27587 Protein.json comestible rebalance (15 of 22)
  data/json/items/comestibles/protein.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27588 Raw fruit.json comestible rebalance (16 of 22)
  data/json/items/comestibles/raw_fruit.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27589 Raw veggy.json comestible rebalance (17 of 22)
  data/json/items/comestibles/raw_veggy.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27591 Soup.json comestible rebalance (19 of 22)
  data/json/items/comestibles/soup.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27590 Sandwich.json comestible rebalance (18 of 22)
  data/json/items/comestibles/sandwich.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27592 Veggy dishes.json comestible rebalance (20 of 22)
  data/json/items/comestibles/veggy_dishes.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27638 Added variation to NPC chat snippets
  data/json/npcs/TALK_COMMON_OTHER.json
  data/json/npcs/talk_tags.json
  doc/NPCs.md
Labels: NPC, [JSON]

#27558 No more Mr. Stem Cell
  data/json/effects.json
  data/json/mapgen/hospital.json
  data/json/mapgen/lab/lab_floorplans.json
  data/mods/Fuji_Structures/worldgen/gas/s_gas_b20.json
  src/computer.cpp
  src/computer.h
  src/player_hardcoded_effects.cpp
Labels: Game: Mechanics Change, [C++], [JSON]

#27593 Wheat.json comesitble rebalance (21 of 22)
  data/json/items/comestibles/wheat.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27585 Nuts.json comestible rebalance (13 of 22)
  data/json/items/comestibles/nuts.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27584 Mushroom.json comestible rebalance (11 of 22)
  data/json/items/comestibles/mushroom.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27560 [CR] New Pet Menu Option - Play
  data/json/morale_types.json
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/game.cpp
  src/morale_types.cpp
  src/morale_types.h
Labels: <Enhancement / Feature>, Info / User Interface, Monsters, [C++]

#27538 [ MOD ]Grow some seeds
  data/mods/Growable_pots/items.json
  data/mods/Growable_pots/modinfo.json
  data/mods/Growable_pots/recipes.json
Labels: Items / Item Actions / Item Qualities, Mods, [JSON]

#27561 Update rifle turret recipe
  data/json/recipes/recipe_electronics.json
Labels: Crafting / Construction / Recipes, [JSON]

#27625 remove recursive call from open_or_close()
  src/vehicle_use.cpp
Labels: Code: Performance, Vehicles, [C++]

#27672 Fix incorrect acid ant faction
  data/json/monsters/insect_spider.json
Labels: <Bugfix>, Monsters, [JSON]

#27633 Replaced hardcoded terrain list with checking of terrain flag
  data/json/terrain.json
  doc/JSON_FLAGS.md
  src/activity_handlers.cpp
  src/faction_camp.cpp
  src/iuse.cpp
  src/map.cpp
  src/mutation.cpp
  src/player.cpp
  src/vehicle_use.cpp
Labels: <Documentation>, Fields / Furniture / Terrain / Traps, [C++], [JSON], [Markdown]

#27424 Add "Genetic Downward Spiral" trait
  data/json/mutations.json
  src/mutation.cpp
  src/player.cpp
Labels: <Enhancement / Feature>, Mutations / Traits / Professions

#27583 Meat dishes.json comestible rebalance (12 of 22)
  data/json/items/comestibles/meat_dishes.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27582 Junkfood.json comestible rebalance (10 of 22)
  data/json/items/comestibles/junkfood.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27578 Drink other.json comestible rebalance (6 of 22)
  data/json/items/comestibles/drink_other.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27577 Drink.json comestible rebalance (5 of 22)
  data/json/items/comestibles/drink.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27617 Allow installed bionics to be displayed in tiles mode
  data/json/mutation_ordering.json
  doc/JSON_INFO.md
  src/overlay_ordering.cpp
  src/overlay_ordering.h
  src/player.cpp
Labels: <Enhancement / Feature>, Bionics, Info / User Interface, SDL: Tiles / Sound, [C++]

#27644 Add new alternate repository for mxe
  .travis.yml
  build-scripts/requirements.sh
Labels: Code: Build

#27694 basecamp: retrieve companions sent to do expansion crafting
  src/faction_camp.cpp
Labels: <Bugfix>, Player Faction Base / Camp, [C++]

#27673 Update code for background stories
  data/json/npcs/BG_traits.json
  data/json/npcs/Backgrounds/backgrounds_table_of_contents.json
  data/json/npcs/TALK_FRIEND_CONVERSATION.json
Labels: NPC, [JSON]

#27675 Minor fixes to NPC backstories
  data/json/npcs/Backgrounds/fema_evacuee_1.json
  data/json/npcs/Backgrounds/hospital_2.json
  data/json/npcs/Backgrounds/lost_partner_2.json
  data/json/npcs/Backgrounds/prepper_2.json
Labels: NPC, [JSON]

#27688 Choose type of map_memory correctly for wall connectedness
  src/map.cpp
Labels: <Bugfix>, Map Memory, [C++]

#27698 Improvements to player_activity regarding distractions
  src/game.cpp
  src/player.cpp
  src/player_activity.cpp
  src/player_activity.h
Labels: <Bugfix>, Character / Player, [C++]

#27701 Bugfix wrong duration parameter / format
  data/json/npcs/Backgrounds/fema_evacuee_1.json
  data/json/npcs/Backgrounds/hospital_2.json
Labels: <Bugfix>, [JSON]

#27703 fix color of currently highlighted item in pickup window
  src/pickup.cpp
Labels: Info / User Interface, [C++]

#27704 Clarify durations in NPCs.md
  doc/NPCs.md
Labels: <Bugfix>, <Documentation>, NPC

#27289 Comestible Nutrient Rebalance (22 of 22)
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/offal_dishes.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/spice.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#27680 npctalk: status includes approximate times for NPC needs
  data/json/npcs/talk_tags.json
  src/npctalk.cpp
  src/player.cpp
  src/player.h
Labels: <Enhancement / Feature>, Info / User Interface, NPC, [C++]

#27566 Performance boost for SDL ASCII drawing using color modulated textures
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/debug_menu.cpp
  src/debug_menu.h
  src/game.cpp
  src/options.cpp
  src/options.h
  src/sdl_wrappers.cpp
  src/sdl_wrappers.h
  src/sdltiles.cpp
Labels: Code: Performance, SDL: Tiles / Sound, [C++]
