Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2019-10, with the labels that each got.

#34352 Obsolete previously removed recipes
  data/json/recipes/recipe_obsolete.json
Labels: Crafting / Construction / Recipes, [JSON]

#34358 use tripoint_above constant
  src/map.cpp
Labels: Code: Astyle / Optimization / Static Analysis

#34329 realistic cow reproduction rates and calf growth rate
  data/json/monsters/mammal.json
Labels: Monsters, [JSON]

#34343 Get rid of arbitrary height of Look Around window and use height of the sidebar - once again
  src/game.cpp
  src/npc.cpp
Labels: <Enhancement / Feature>, Info / User Interface

#34339 Add ferns
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/recipe_food.json
  data/json/regional_map_settings.json
Labels: Fields / Furniture / Terrain / Traps, Food / Vitamins, [JSON]

#34353 Blood and gasoline fuel cell CBMs are exothermic
  data/json/bionics.json
  data/mods/Magiclysm/bionics.json
Labels: Bionics, Game: Balance, [JSON]

#34357 Make Taste Modifier CBM counter mushiness
  src/consumption.cpp
Labels: Bionics, Food / Vitamins, Game: Balance, [C++]

#34355 Max out the item listing range
  src/game.cpp
Labels: <Bugfix>, [C++]

#34359 Updated assign.h to use C++11 features
  src/assign.h
Labels: [C++]

#33992 Milk update
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/frozen.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/wheat.json
  data/json/recipes/food/brewing.json
  data/json/recipes/food/frozen.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_others.json
  data/json/requirements/cooking_components.json
  tests/comestible_tests.cpp
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#34053 Expand and improve randomly-generated music descriptions
  data/json/npcs/talk_tags.json
  data/json/snippets/music.json
  src/iuse.cpp
  src/npctalk.cpp
  src/text_snippets.cpp
  src/text_snippets.h
  tests/npc_test.cpp
Labels: Items / Item Actions / Item Qualities, [C++], [JSON]

#34269 Encapsulate overmap terrains better:
  src/basecamp.cpp
  src/condition.cpp
  src/defense.cpp
  src/editmap.cpp
  src/explosion.cpp
  src/faction_camp.cpp
  src/iuse.cpp
  src/mission_companion.cpp
  src/mission_util.cpp
  src/overmap.cpp
  src/overmap.h
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/savegame.cpp
  src/tutorial.cpp
  tests/npc_talk_test.cpp
  tests/overmap_test.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#34363 Appease clang (2019-10-01)
  src/game.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Build, [C++]

#34369 Time to put the decorations back up
  src/main_menu.cpp
Labels: <Enhancement / Feature>, [C++]

#34342 Display craft name and % finished on top of screen.
  src/game.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#34367 Normalized protein powder weight and volume and made it drop random amount of servings in bottles
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/locations.json
  data/json/itemgroups/mall_item_groups.json
  data/json/items/comestibles/protein.json
  data/json/npcs/NC_DOCTOR.json
  data/json/npcs/items_generic.json
  data/json/recipes/food/dry.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#34368 Add translation for auto notes (map extras)
  src/map_extras.cpp
Labels: Mapgen, Translation, [C++]

#34370 Add monsters to steel mill
  data/json/mapgen/steel_mill/steel_mill_z1.json
  data/json/mapgen/steel_mill/steel_mill_z2.json
  data/json/monstergroups/monstergroups.json
Labels: Monsters, Spawn, [JSON]

#34229 Heavy mining mod added. Add a mining car.
  data/mods/HeavyMining/modinfo.json
  data/mods/HeavyMining/parts.json
  data/mods/HeavyMining/vehicle_groups.json
  data/mods/HeavyMining/vehicles.json
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Labels: Mods, [C++], [JSON]

#34382 Add max_encumbrance to JSON_INFO.MD
  doc/JSON_INFO.md
Labels: <Documentation>, Items / Item Actions / Item Qualities, [Markdown]

#34376 fix integer division (clang-tidy)
  src/player.cpp
Labels: Code: Astyle / Optimization / Static Analysis

#33828 New semi-dynamic NPC
  data/json/mapgen/cemetery_4square.json
  data/json/npcs/NPC_Brigitte_LaCroix.json
Labels: <Enhancement / Feature>, NPC / Factions, [JSON]

#34110 Krav Maga's Bone Breaker now targets all humanoids
  data/json/techniques.json
  doc/MARTIALART_JSON.md
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
Labels: <Enhancement / Feature>, Melee, [C++], [JSON]

#34089 JSONify range_with_even_chance_of_good_hit
  data/json/hit_range.json
  src/creature.cpp
  src/creature.h
  src/init.cpp
  src/ranged.cpp
  tests/ranged_balance.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Tests, Ranged, [C++]

#34240 realistic gun maintenance
  data/json/items/ammo.json
  data/json/items/ammo/flintlock.json
  data/json/items/ammo/metal_rail.json
  data/json/items/ammo/nail.json
  data/json/items/ammo/shot.json
  data/json/items/classes/gun.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/3006.json
  data/json/items/gun/308.json
  data/json/items/gun/32.json
  data/json/items/gun/38.json
  data/json/items/gun/40.json
  data/json/items/gun/44.json
  data/json/items/gun/45.json
  data/json/items/gun/46.json
  data/json/items/gun/460.json
  data/json/items/gun/57.json
  data/json/items/gun/762x25.json
  data/json/items/gun/9mm.json
  data/json/items/gun/faults_gun.json
  data/json/items/gun/flintlock.json
  data/json/items/ranged.json
  data/json/monsterdrops/zombie_cop.json
  data/json/obsolete.json
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/item.cpp
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
  src/ranged.cpp
Labels: Game: Balance, Ranged, [C++], [JSON]

#34300 Refactor placing monsters:
  src/activity_handlers.cpp
  src/computer.cpp
  src/consumption.cpp
  src/creature_tracker.cpp
  src/creature_tracker.h
  src/defense.cpp
  src/explosion.cpp
  src/fungal_effects.cpp
  src/game.cpp
  src/game.h
  src/iexamine.cpp
  src/item.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/map.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/mutation.cpp
  src/npctalk.cpp
  src/npctalk_funcs.cpp
  src/overmapbuffer.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/savegame.cpp
  src/timed_event.cpp
  src/trapfunc.cpp
  src/tutorial.cpp
  src/vehicle.cpp
  src/wish.cpp
  tests/map_helpers.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Monsters, Spawn, [C++]

#34372 Toss&Turn and Sleep interruption
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/player.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Character / Player, Info / User Interface, [C++]

#34288 Uses the units::energy infrastructure for bionic power
  doc/JSON_INFO.md
  src/activity_handlers.cpp
  src/assign.h
  src/avatar_action.cpp
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.h
  src/condition.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/explosion.cpp
  src/game.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic.cpp
  src/magic_spell_effect.cpp
  src/melee.cpp
  src/memorial_logger.cpp
  src/monattack.cpp
  src/mutation.cpp
  src/panels.cpp
  src/player.cpp
  src/player.h
  src/player_display.cpp
  src/savegame_json.cpp
  src/vehicle.cpp
  src/visitable.cpp
  tests/bionics_test.cpp
  tests/mondefense_test.cpp
Labels: Bionics, Code: Astyle / Optimization / Static Analysis, [C++]

#34374 Fix brewing duration
  src/calendar.cpp
Labels: <Bugfix>, Time / Turns / Duration / Date, [C++]

#34388 jsonize smoke effect from smoke field
  data/json/field_type.json
  src/creature.cpp
  src/creature.h
  src/field.cpp
  src/field.h
  src/field_type.cpp
  src/field_type.h
  src/map_field.cpp
Labels: Effects / Skills / Stats, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#34324 Martial Arts Rebalance for Panzer Kunst
  data/mods/MMA/martialarts.json
  data/mods/MMA/techniques.json
Labels: Game: Balance, Melee, [JSON]

#34394 Fixed L-stick not draining batteries
  data/json/items/melee/bludgeons.json
Labels: <Bugfix>, Battery / UPS, Items / Item Actions / Item Qualities

#34393 Fixed cannibal bookworm gets less fun from reading To Serve Man as they should
  src/player.cpp
Labels: <Bugfix>, Character / Player, Items / Item Actions / Item Qualities, Mutations / Traits / Professions

#34377 Some doc updates
  doc/BASECAMP.md
  doc/MONSTERS.md
  doc/VEHICLES_JSON.md
Labels: <Documentation>, Monsters, Player Faction Base / Camp, Vehicles, [Markdown]

#34387 add some island refinements
  data/json/mapgen/lake_buildings/islands.json
  data/json/mapgen/nested/rural_outdoors_nested.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#34389 Add translation for faction name and description
  src/faction.cpp
Labels: NPC / Factions, Translation, [C++]

#34371 Red sauce recipe's have the same ratios
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#34379 AEA_MAP
  data/json/legacy_artifact_active.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: Artifacts, [C++], [JSON]

#34291 Granularize curing recipies
  data/json/items/comestibles/carnivore.json
  data/json/items/generic.json
  data/json/items/tools.json
  data/json/recipes/armor/storage.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#34411 remove blacksmith shop from bulletin board menu
  data/json/recipes/basecamps/recipe_groups.json
Labels: Player Faction Base / Camp, [JSON]

#34413 Continue breaking up furniture.json
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/furniture_and_terrain/furniture-fungal.json
  data/json/furniture_and_terrain/furniture-migo.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/furniture_and_terrain/furniture.json
Labels: Fields / Furniture / Terrain / Traps, [JSON]

#34408 Bone Breaker technique no longer stunlocks and has reduced power
  data/json/techniques.json
Labels: Game: Balance, Melee, [JSON]

#34395 Made spear strap non-rigid
  data/json/items/armor.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#34365 Support plural string in the translation class and JSON translator comments
  data/json/items/melee/spears_and_polearms.json
  data/json/items/tool_armor.json
  data/json/monsters/fish.json
  data/json/mutations/mutations.json
  doc/JSON_INFO.md
  doc/MONSTERS.md
  doc/TRANSLATING.md
  lang/extract_json_strings.py
  lang/update_pot.sh
  src/artifact.cpp
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
  src/translations.cpp
  src/translations.h
  tools/clang-tidy-plugin/JsonTranslationInputCheck.cpp
  tools/clang-tidy-plugin/NoStaticGettextCheck.cpp
  tools/clang-tidy-plugin/TranslatorCommentsCheck.cpp
  tools/clang-tidy-plugin/test/json-translation-input.cpp
  tools/clang-tidy-plugin/test/no-static-gettext.cpp
  tools/clang-tidy-plugin/test/translator-comments.cpp
Labels: Translation, [C++]

#34386 Sleeping in vehicle full feature
  data/json/vehicleparts/vehicle_parts.json
  doc/JSON_INFO.md
  src/player.cpp
  src/veh_type.cpp
  src/veh_type.h
Labels: <Enhancement / Feature>, Character / Player, Vehicles, [C++], [JSON]

#34421 Add translation contexts to electronics menu option strings
  src/vehicle_use.cpp
Labels: Translation, [C++]

#34420 Add position markers to a format string
  src/iexamine.cpp
Labels: Translation, [C++]

#34267 Fix Schizophrenia
  data/json/effects.json
  data/json/mutations/mutations.json
  data/json/professions.json
  data/json/snippets/schizophrenia.json
  src/iuse.cpp
  src/player.cpp
Labels: <Bugfix>, Character / Player, Mutations / Traits / Professions, [C++]

#34391 Skip sunlight calculation on uniform z-levels
  src/lightmap.cpp
  src/map.cpp
  src/map.h
Labels: Code: Performance, Z-levels, [C++]

#34423 Don't push immobile monsters
  src/monmove.cpp
Labels: <Bugfix>, Monsters

#34417 Appease clang (2019-10-03)
  src/auto_note.cpp
  src/auto_note.h
  src/basecamp.cpp
  src/bionics.cpp
  src/cata_tiles.cpp
  src/condition.cpp
  src/creature.cpp
  src/creature_tracker.cpp
  src/int_id.h
  src/item.cpp
  src/map_extras.h
  src/melee.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/npc.cpp
  src/npc.h
  src/options.cpp
  src/pixel_minimap.cpp
  src/pixel_minimap.h
  src/pixel_minimap_projectors.cpp
  src/pixel_minimap_projectors.h
  src/scores_ui.cpp
  src/skill.cpp
  src/teleport.cpp
  src/trapfunc.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle_use.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Build, [C++]

#34415 Fix fouling on primitive ranged weapons
  src/item_group.cpp
  src/ranged.cpp
Labels: <Bugfix>, Ranged, [C++]

#34264 Add some more vehicle-mounted guns
  data/json/vehicleparts/turret.json
Labels: Vehicles, [JSON]

#34448 Mark an untranslated string for translation
  src/player_hardcoded_effects.cpp
Labels: Translation, [C++]

#34452 Fix translation for autonote manager
  src/auto_note.cpp
Labels: Translation, [C++]

#34443 Block player view when crouching behind an obstacle
  src/map.cpp
Labels: <Bugfix>, Character / Player, Fields / Furniture / Terrain / Traps, [C++]

#34446 spell RANDOM_TARGET and AEA_FATIGUE
  data/json/legacy_artifact_active.json
  doc/MAGIC.md
  src/activity_handlers.cpp
  src/magic.cpp
  src/magic.h
Labels: Artifacts, [C++], [JSON]

#34405 new deep river dock
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-bridges-docks.json
Labels: Mapgen, [JSON]

#34236 2 new weapons for caliber 50
  data/json/itemgroups/guns.json
  data/json/itemgroups/magazines.json
  data/json/items/gun/50.json
  data/json/items/magazine/50.json
Labels: Items / Item Actions / Item Qualities, Ranged, [JSON]

#34309 Reworking makeshift explosives part 1
  data/json/items/chemicals_and_resources.json
  data/json/items/grenades.json
  data/json/items/obsolete.json
  data/json/items/resources/misc.json
  data/json/items/tools.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/weapon/explosive.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#34406 Remove progress messages in favor of using the progress bar more widely.
  src/activity_handlers.cpp
  src/game.cpp
  src/player_activity.cpp
  src/player_activity.h
Labels: Info / User Interface, [C++]

#34444 AEA_FUN
  data/json/legacy_artifact_active.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: Artifacts, [C++], [JSON]

#34445 AEA_PARALYZE
  data/json/legacy_artifact_active.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: Artifacts, [C++], [JSON]

#34457 Fix faction display crash
  src/faction.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#34407 Martial Arts Rebalance for Scorpion Kung Fu
  data/json/martialarts_fictional.json
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
Labels: <Documentation>, Game: Balance, Melee, [C++], [JSON]

#34473 Fix astyle regression (2019-10-05)
  src/lightmap.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#34471 Fix match type for shore extendable terrain
  src/regional_settings.cpp
Labels: Mapgen, [C++]

#34476 Change fern "looks-like" to t_shrub
  data/json/furniture_and_terrain/terrain-flora.json
Labels: Fields / Furniture / Terrain / Traps, SDL: Tiles / Sound, [JSON]

#34465 continue breaking up furniture.json
  data/json/furniture_and_terrain/furniture-fireplaces.json
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/furniture.json
Labels: Code: Astyle / Optimization / Static Analysis, [JSON]

#34466 AEA_MUTATE
  data/json/legacy_artifact_active.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: Artifacts, [C++], [JSON]

#34468 AEA_FIRESTORM
  data/json/legacy_artifact_active.json
Labels: Artifacts, [JSON]

#34481 NPCs: fix absent mission description for MISSION_ACTIVITY
  data/json/npcs/TALK_COMMON_ALLY.json
  src/npctalk.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#34490 melee: treat NPCs as humans for using techniques
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/melee.cpp
  src/monster.cpp
  src/monster.h
  src/player.cpp
  src/trapfunc.cpp
Labels: <Bugfix>, <Crash / Freeze>, Character / Player, Code: Astyle / Optimization / Static Analysis, [C++]

#34478 Changed "Ambush" scenario cost from 0 to -3
  data/json/scenarios.json
Labels: Game: Balance, Scenarios

#34462 Cleaning options description update
  data/json/items/tools.json
  data/json/vehicleparts/vehicle_parts.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#34469 Fix (r)eload uses action point despite whether it is succeful or not
  src/game.cpp
Labels: <Bugfix>, Ranged, [C++]

#34428 Add table of contents to JSON_INFO.md
  doc/HOW_YOU_CAN_HELP.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown]

#34482 NPCs: allow random NPCs to provide missions
  data/json/npcs/TALK_COMMON_GREET.json
Labels: <Bugfix>, NPC / Factions, [JSON]

#34494 Npc on horse on dissector fix
  src/npcmove.cpp
  src/trapfunc.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, NPC / Factions, [C++]

#34472 Add messages to map::smash_items
  src/explosion.cpp
  src/map.cpp
  src/map.h
Labels: Info / User Interface, Mapgen, [C++]

#34484 AEA_SCREAM and AEA_STORM
  data/json/legacy_artifact_active.json
  data/mods/Magiclysm/Spells/stormshaper.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/sounds.cpp
  src/sounds.h
Labels: Artifacts, [JSON]

#34310 Magic sound effects and AEA_NOISE
  data/json/legacy_artifact_active.json
  data/mods/Magiclysm/Spells/stormshaper.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/sounds.cpp
  src/sounds.h
Labels: Artifacts, Magiclysm, SDL: Tiles / Sound, [C++], [JSON]

#34536 Use spaces instead of tabs in strings
  src/debug.cpp
  src/debug_menu.cpp
  src/faction_camp.cpp
  src/main.cpp
Labels: [C++]

#34531 Remove spaces in empty lines from strings
  data/json/items/melee/bludgeons.json
  src/armor_layers.cpp
  src/auto_pickup.cpp
  src/debug.cpp
  src/faction_camp.cpp
  src/iexamine.cpp
  src/mission_companion.cpp
  src/newcharacter.cpp
  src/player_display.cpp
Labels: [C++]

#34508 Add a clang-tidy check to check for text style in the c++ code
  .clang-tidy
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/StringLiteralIterator.cpp
  tools/clang-tidy-plugin/StringLiteralIterator.h
  tools/clang-tidy-plugin/TextStyleCheck.cpp
  tools/clang-tidy-plugin/TextStyleCheck.h
  tools/clang-tidy-plugin/test/text-style.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Build

#34505 Fix incorrect name of roadhead in the vehicle electronics menu
  src/vehicle_use.cpp
Labels: [C++]

#34513 Fix martial art bonus description format string for better translation
  src/bonuses.cpp
Labels: Translation, [C++]

#34529 Extract sound_description of spells for translation
  lang/extract_json_strings.py
Labels: Translation, [Python]

#34429 Fix issues in inscribe_actor
  doc/TRANSLATING.md
  lang/extract_json_strings.py
  src/item.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/player.cpp
  src/savegame_json.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#34524 Update COMPILING-VS-VCPKG.md to include the '.\' for running vcpkg
  doc/COMPILING/COMPILING-VS-VCPKG.md
Labels: <Documentation>, Code: Build, OS: Windows, [Markdown]

#34534 Cured pelt fix missed one recipe
  data/mods/More_Survival_Tools/recipes.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Mods, [JSON]

#34530 Use activity_item_handling method to dispose of items from an activity
  src/player.cpp
Labels: <Bugfix>, Vehicles, [C++]

#34518 Spellcheck
  data/mods/My_Sweet_Cataclysm/modinfo.json
  data/mods/My_Sweet_Cataclysm/sweet_items.json
  data/mods/My_Sweet_Cataclysm/sweet_med.json
  data/mods/My_Sweet_Cataclysm/sweet_mutation_category.json
  data/mods/My_Sweet_Cataclysm/sweet_scenarios.json
  data/mods/My_Sweet_Cataclysm/sweet_snippets.json
Labels: Mods, [JSON]

#34512 enchantment attack speed
  src/item.cpp
  src/item.h
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/melee.cpp
Labels: Artifacts, [C++]

#34480 Adult Black Dragon
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/monsters/dragon.json
Labels: Effects / Skills / Stats, Magiclysm, Mods, Monsters, [JSON]

#34527 Add items to railroad station
  data/json/mapgen/railroad/railroad_station.json
  data/json/mapgen_palettes/railroad.json
Labels: Items / Item Actions / Item Qualities, Mapgen, Spawn, [JSON]

#34539 Fix astyle for debug_menu.cpp
  src/debug_menu.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#31260 Add lighting overlay.
  data/raw/keybindings.json
  src/action.cpp
  src/action.h
  src/cata_tiles.cpp
  src/debug_menu.cpp
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/sdl_utils.cpp
  src/sdl_utils.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#34521 NPCs: drop large items before trading, don't adjust weight for stuff on floor
  src/npc.h
  src/npcmove.cpp
  src/npctrade.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, NPC / Factions, [C++]

#34461 Block vision when hiding behind cover, attempt two.
  src/map.cpp
Labels: <Enhancement / Feature>, Character / Player, [C++]

#34538 Appease clang (2019-10-07)
  src/computer.cpp
  src/translations.cpp
  tests/ranged_balance.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Build, Code: Tests, [C++]

#34549 Handle variable ncurses naming better
  Makefile
Labels: Code: Build, OS: Linux

#34479 Martial Arts Rebalance for Silat
  data/json/martialarts.json
  data/json/techniques.json
Labels: Game: Balance, Melee, [JSON]

#34550 AEA_PULSE
  data/json/legacy_artifact_active.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: Artifacts, [C++], [JSON]

#34551 AEA_ENTRANCE
  data/json/legacy_artifact_active.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: Artifacts, [C++], [JSON]

#34546 Solar panels are not repairable
  data/json/items/vehicle/solar.json
  data/json/vehicleparts/vehicle_parts.json
  src/veh_type.cpp
Labels: Vehicles, [C++], [JSON]

#34517 Encapsulate bionic power
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/bionics_ui.cpp
  src/character.cpp
  src/character.h
  src/condition.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/explosion.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic.cpp
  src/magic_spell_effect.cpp
  src/melee.cpp
  src/memorial_logger.cpp
  src/monattack.cpp
  src/mutation.cpp
  src/newcharacter.cpp
  src/npcmove.cpp
  src/panels.cpp
  src/player.cpp
  src/player.h
  src/player_display.cpp
  src/vehicle.cpp
  src/visitable.cpp
  tests/bionics_test.cpp
  tests/mondefense_test.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#34553 Magiclysm: Lava Bomb Spell
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/ter_fur_transform/ter_fur_transform.json
Labels: Magiclysm, [JSON]

#34552 basecamps: faster travel, faster carrying, faster logging
  src/faction_camp.cpp
Labels: <Enhancement / Feature>, Player Faction Base / Camp, Time / Turns / Duration / Date, [C++]

#34433 add faction base to the main shelter
  data/json/mapgen/basecamps/modular_shelter/modular_shelter_common.json
  data/json/mapgen/basecamps/modular_shelter/modular_shelter_log.json
  data/json/mapgen/basecamps/modular_shelter/modular_shelter_rock.json
  data/json/mapgen/basecamps/modular_shelter/modular_shelter_standard.json
  data/json/mapgen/basecamps/modular_shelter/modular_shelter_wad.json
  data/json/mapgen/basecamps/modular_shelter/modular_shelter_wood.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_log.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_rock.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_standard.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_wad.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_wood.json
Labels: <Enhancement / Feature>, Mapgen, Player Faction Base / Camp, [JSON]

#34559 Some player_display.cpp code refactoring
  src/player_display.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#34496 add new faction kitchen
  data/json/mapgen/basecamps/modular_canteen/modular_canteen_common.json
  data/json/mapgen/basecamps/modular_canteen/modular_canteen_log.json
  data/json/mapgen/basecamps/modular_canteen/modular_canteen_metal.json
  data/json/mapgen/basecamps/modular_canteen/modular_canteen_rock.json
  data/json/mapgen/basecamps/modular_canteen/modular_canteen_wad.json
  data/json/mapgen/basecamps/modular_canteen/modular_canteen_wood.json
  data/json/mapgen/faction_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_faction_base.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_log.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_metal.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_rock.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_wad.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_wood.json
Labels: Crafting / Construction / Recipes, Mapgen, Player Faction Base / Camp, [JSON]

#34426 Tweaked turrets' day vision range and firing range
  data/json/items/ammo/50.json
  data/json/items/gun/50.json
  data/json/monsters/turrets.json
Labels: Game: Balance, Monsters

#34497 Make linting failure message more clear
  tools/format/format.cpp
Labels: Code: Build, Other

#34244 Add overlay indicators for dead zombies that can still revive
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  src/cata_tiles.cpp
  src/cata_tiles.h
Labels: Info / User Interface, SDL: Tiles / Sound, [C++], [JSON]

#34557 Obsolete previously removed recipes and items (2019-10-08)
  data/json/itemgroups/item_groups.json
  data/json/items/migration.json
  data/json/items/obsolete.json
  data/json/items/tools.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/NC_ARSONIST.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/items_generic.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/recipes/recipe_obsolete.json
  data/mods/blazemod/blaze_ammo_recipes.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#34564 Replaced free-floating battery charge spawn in lab finales with heavy battery cell spawn
  src/mapgen.cpp
Labels: <Bugfix>, Battery / UPS, Items / Item Actions / Item Qualities, Mapgen, Spawn

#34570 Fix astyle regression (2019-10-08)
  src/player_display.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#34569 Moved bluebell flower to obsolete
  data/json/items/generic.json
  data/json/items/obsolete.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#34581 Remove battery from npc former cop itemgroup
  data/json/npcs/NC_CITY_COP.json
Labels: <Bugfix>, NPC / Factions, [JSON]

#34580 Move engine uncraft json to uncraft folder
  data/json/uncraft/vehicle/engines.json
Labels: Code: Astyle / Optimization / Static Analysis, Crafting / Construction / Recipes, Vehicles, [JSON]

#34579 Move flowers and buds to obsolete
  data/json/items/generic.json
  data/json/items/obsolete.json
Labels: Code: Astyle / Optimization / Static Analysis, [JSON]

#34584 Add wine glass to dinnerware and dishes itemgroups
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/misc.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#34571 Add steel armor plate recipe
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#34582 Add run and crouch colors for the player's @ symbol
  src/player.cpp
Labels: Info / User Interface, [C++]

#34578 Mention JSON style guide in lint failure message
  tools/format/format.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#34576 change Armor scope from player to Character
  src/character.cpp
  src/character.h
  src/martialarts.cpp
  src/martialarts.h
  src/player.cpp
  src/player.h
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#34575 Updates Martial Artist and Black Belt profession martial arts lists
  data/json/mutations/mutations.json
Labels: Mutations / Traits / Professions, [JSON]

#34483 Update for Knockback_follow attribute
  data/json/techniques.json
  src/game.cpp
  src/game.h
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
Labels: Melee, [C++], [JSON]

#34573 Fix phones not showing time when being used
  data/json/items/tools.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#34572 Fix cross-compiling for OSX
  Makefile
Labels: Code: Build, OS: Linux, OS: macOS

#34544 Really fix sunglight calculation on submap change
  src/lightmap.cpp
Labels: <Bugfix>, [C++]

#34585 Increased wish item menu's left column width to 50
  src/wish.cpp
Labels: <Enhancement / Feature>, Info / User Interface

#34526 Add batch time savings to powdered milk to bring it in line with other food preservation recipes
  data/json/recipes/food/dry.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, Game: Balance, [JSON]

#34560 basecamps: add an emergency recall option
  src/basecamp.h
  src/faction_camp.cpp
  src/mission_companion.cpp
  src/mission_companion.h
Labels: <Bugfix>, <Enhancement / Feature>, Player Faction Base / Camp, [C++]

#34537 Cancel pick up items activity if player moves during it
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/pickup.cpp
Labels: <Bugfix>, Vehicles, [C++]

#34541 Display status for all long activities.
  src/player_activity.cpp
Labels: Character / Player, Info / User Interface, [C++]

#34587 More guards for OSX cross-compile
  Makefile
Labels: Code: Build, OS: Linux, OS: macOS

#34589 Prevent this is a bug display while player is sleeping.
  src/game.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#34463 Fixes #32024 Pyromaniac morale penalty does not accumulate
  src/player.cpp
Labels: <Bugfix>, Character / Player, Mutations / Traits / Professions, [C++]

#34595 Fix invalid activity_type: ACT_NULL debug message
  src/player_activity.cpp
Labels: <Bugfix>, Character / Player, [C++]

#34594 Move leaf spring to obsolete
  data/json/items/generic.json
  data/json/items/obsolete.json
  data/json/recipes/recipe_deconstruction.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#34592 Several tweaks for Character Creation UI
  src/newcharacter.cpp
Labels: <Enhancement / Feature>, Info / User Interface

#34591 Magiclysm weapons work with martial arts
  data/mods/Magiclysm/martialarts.json
Labels: Items / Item Actions / Item Qualities, Magiclysm, Melee, [JSON]

#34597 Add filter mask cartridge to tools science itemgroup
  data/json/itemgroups/tools.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, Spawn, [JSON]

#34522 Broken limbs
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/iexamine.cpp
  src/iuse_actor.cpp
  src/martialarts.cpp
  src/panels.cpp
  src/player.cpp
  src/player.h
  src/player_hardcoded_effects.cpp
  src/vehicle.cpp
  src/vehicle_use.cpp
Labels: <Bugfix>, Character / Player, [C++]

#34598 Make vehicles deal damage to items based on their mass and wheel area
  src/map.cpp
  src/map.h
  src/vehicle_move.cpp
Labels: <Enhancement / Feature>, Vehicles, [C++]

#34599 remove unused blueprint_provides
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop.rock.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_log.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_metal.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wad.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wood.json
Labels: <Bugfix>, Player Faction Base / Camp, [JSON]

#34605 Fixed infinite z-level raging firetower bug
  src/map_field.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++]

#34577 Armor enchantment
  src/character.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: Artifacts, [C++]
