Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2019-12, with the labels that each got.

#35794 Fix for incompatible magazine spawning in national guard camp
  data/mods/National_Guard_Camp/item_groups.json
  data/mods/National_Guard_Camp/military.json
Labels: <Bugfix>, Ammo, Items / Item Actions / Item Qualities, Magazines, Mods, Monsters, Spawn, [JSON]

#35796 Prevent stalebot from stale-ing PRs in feature freeze.
  .github/stale.yml
Labels: Organization

#34638 I know now why you cry: Shotgun additions
  data/json/itemgroups/gunmod.json
  data/json/itemgroups/guns.json
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/magazines.json
  data/json/items/classes/gun.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/loading_port.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/magazine/shot.json
  data/json/items/migration.json
  data/json/mapgen/basement/basement_guns.json
  data/json/mapgen/basement/basement_meth.json
  data/json/mapgen/necropolis/necropolisB1.json
  data/json/mapgen/s_gun.json
  data/json/professions.json
  data/json/recipes/recipe_obsolete.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/mods.json
  data/json/vehicleparts/turret.json
  doc/JSON_INFO.md
  tests/ranged_balance.cpp
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Ranged, [JSON]

#35754 Cleanup point-related code
  src/debug_menu.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/mapdata.cpp
  src/mapgen.cpp
  src/monattack.cpp
  src/mondeath.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#35811 Fix typo in speedloader description
  data/json/items/magazine/shot.json
Labels: <Bugfix>, [JSON]

#35807 Monster/pet carry weight changed to 1/5th of body weight
  src/monster.cpp
  src/monster.h
Labels: Game: Balance, Monsters, [C++]

#35810 Rescuer brings a magazine & uses their harness
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#35798 add 8 cabin roofs
  data/json/mapgen/cabin.json
  data/json/mapgen_palettes/cabin.json
  data/json/mapgen_palettes/roof_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: Mapgen, [JSON]

#35804 Fix CI failures, blazemod errors, fix speedloaders
  data/json/items/gun/shot.json
  data/json/items/gunmod/grip.json
  data/json/items/gunmod/loading_port.json
  data/mods/No_Rivtech_Guns/modinfo.json
  data/mods/blazemod/blaze_autoweapons_parts.json
  data/mods/blazemod/blaze_override.json
  src/item.cpp
  tests/ranged_balance.cpp
Labels: Code: Build, Code: Tests, Gunmod / Toolmod, [JSON]

#34865 Smelling Sweet
  data/json/mutations/mutations.json
  data/json/scent_types.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
  data/mods/My_Sweet_Cataclysm/sweet_scent_types.json
  data/raw/keybindings.json
  doc/JSON_INFO.md
  doc/MONSTERS.md
  src/action.cpp
  src/action.h
  src/cata_tiles.cpp
  src/character.cpp
  src/character.h
  src/debug_menu.cpp
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/init.cpp
  src/monmove.cpp
  src/monstergenerator.cpp
  src/mtype.h
  src/mutation.h
  src/mutation_data.cpp
  src/player.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/scent_map.cpp
  src/scent_map.h
  src/type_id.h
Labels: <Enhancement / Feature>, [C++]

#35808 Don't lose your heads over infinite loops
  data/json/effects.json
  data/json/npcs/TALK_COMMON_ALLY.json
  src/creature.cpp
  src/game.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctalk_funcs.cpp
Labels: Game: Mechanics Change, NPC / Factions, [C++]

#35762 Holiday title screens
  data/title/en.christmas
  data/title/en.easter
  data/title/en.independence_day
  data/title/en.new_year
  data/title/en.thanksgiving
  src/enums.h
  src/main_menu.cpp
  src/main_menu.h
  src/path_info.cpp
  src/path_info.h
Labels: Info / User Interface, [C++]

#35812 Substitute sunglasses for fitovers if near/far-sighted
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#35815 Removed useless revert_to fields from various items
  data/json/items/tool/radio_tools.json
  data/json/items/tools.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#35828 Returned EE back
  data/json/snippets/snippets.json
Labels: <Bugfix>, [JSON]

#35827 Make batteries more standardized
  data/json/items/tool/science.json
  data/json/items/tool_armor.json
  data/json/items/tools.json
Labels: <Bugfix>, Ammo, Battery / UPS, Items / Item Actions / Item Qualities, [JSON]

#35823 Max_volume for terrain and furniture can be defined with strings
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-fireplaces.json
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-sleep.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture-terrains.json
  src/mapdata.cpp
  src/mapdata.h
Labels: Fields / Furniture / Terrain / Traps, [C++], [JSON]

#35834 Fix region overlay in Magiclysm mod
  data/mods/Magiclysm/worldgen/regional_overlay.json
Labels: <Bugfix>, Magiclysm, Mapgen, Mods, [JSON]

#34854 Butter from raw milk and butter churn
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/items/comestibles/dairy.json
  data/json/items/tool/deployable.json
  data/json/items/tools.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  data/json/tool_qualities.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, [JSON]

#35849 Silence type punning warning reported by gcc 6.5
  src/colony.h
Labels: Code: Build, [C++]

#35844 Remove professions with survivor armor & change Rescuer's armor
  data/json/professions.json
  data/json/scenarios.json
Labels: Mutations / Traits / Professions, [JSON]

#35845 Restore penalty to reading already-read books.
  src/player.cpp
Labels: Game: Balance, [C++]

#35847 Update evac shelters and bring them (mostly) up to code
  data/json/itemgroups/SUS_specific_use_storage_items.json
  data/json/items/comestibles/protein.json
  data/json/items/newspaper.json
  data/json/mapgen/shelter.json
  data/json/mapgen_palettes/shelter.json
Labels: Mapgen, [JSON]

#35825 New JSON recipe property for overriding inheritance of specified flags
  data/json/flags.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/other.json
  data/json/recipes/food/dry.json
  data/json/recipes/recipe_food.json
  doc/JSON_INFO.md
  src/crafting.cpp
  src/recipe.cpp
  src/recipe.h
Labels: Code: Astyle / Optimization / Static Analysis, Crafting / Construction / Recipes, [C++], [JSON]

#35700 Rope and cordage overhaul
  data/json/items/generic/string.json
  data/json/materials.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/vehicle.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/materials.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#35829 Removes parasites from raw_milk
  data/json/items/comestibles/dairy.json
  doc/JSON_INFO.md
  src/consumption.cpp
  src/item_factory.cpp
  src/itype.h
Labels: Food / Vitamins, Game: Balance, [C++], [JSON]

#35851 Very small typo fix
  src/game_inventory.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Items / Item Actions / Item Qualities, [C++]

#35866 Tube magazine fixes
  data/json/items/gun/shot.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Ranged, [JSON]

#35862 Resolve #35858
  data/json/items/newspaper.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#35859 Updated Android build process (2019-12-04)
  android/app/build.gradle
  android/gradle.properties
Labels: Code: Build, OS: Android

#35857 Update name, volume, and weight json members to newer format
  data/json/monsters/bird.json
  data/json/monsters/defense_bot.json
  data/json/monsters/drones.json
  data/json/monsters/fish.json
Labels: Code: Astyle / Optimization / Static Analysis, Monsters, [JSON]

#35853 Fixed sidewalk generation for various buildings
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
Labels: <Bugfix>, Mapgen

#35850 Fix the Dark Sight spell
  data/mods/Magiclysm/Spells/classless.json
Labels: Game: Balance, Magiclysm, [JSON]

#35864 Resolve #35814
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Food / Vitamins

#35871 Updated road connections to various wilderness locations
  data/json/mapgen/garage_gas.json
  data/json/overmap/overmap_special/specials.json
Labels: <Bugfix>, <Enhancement / Feature>, Mapgen

#35870 Remove stim values from cheeseburgers etc.
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/wheat.json
Labels: Food / Vitamins, Game: Balance, [JSON]

#35869 Factor in animal carry weight when determining yoke-and-harness power
  src/vehicle.cpp
Labels: Game: Balance, Monsters, [C++]

#35873 Fix resource requirements when washing items with charges
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#35877 Appease clang (2019-12-05)
  src/ranged.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Build, [C++]

#35886 add sound/deafness to labels and labels-narrow sidebar layouts
  src/panels.cpp
Labels: <Bugfix>, Character / Player, Info / User Interface, [C++]

#35874 Add fragile flag to majority of glasses.
  data/json/items/armor.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#35842 Jsonize skill companion rank factors
  data/json/skills.json
  src/mission_companion.cpp
  src/skill.cpp
  src/skill.h
Labels: Code: Astyle / Optimization / Static Analysis, Missions, NPC / Factions, [C++], [JSON]

#35726 Afs mi go turrets
  data/mods/Aftershock/afs_speech.json
  data/mods/Aftershock/items/afs_bioparts.json
  data/mods/Aftershock/items/afs_inactiverobot.json
  data/mods/Aftershock/mobs/afs_monster_groups.json
  data/mods/Aftershock/mobs/afs_robots.json
  data/mods/Aftershock/recipes/afs_deconstruction.json
Labels: Mods, Monsters, [JSON]

#35876 Raise spawn chance for cardboard boxes.
  data/json/itemgroups/collections_trades.json
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/supplies.json
Labels: <Bugfix>, Game: Balance, Items / Item Actions / Item Qualities, Spawn, [JSON]

#35875 [Aftershock] Modify flatbread recipe
  data/mods/Aftershock/recipes/afs_comestible_recipes.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, Mods, [JSON]

#35813 JSONize flag-based modifiers on comestible enjoyability
  data/json/flags.json
  src/consumption.cpp
  src/faction_camp.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/item.h
  src/itype.h
  src/iuse.cpp
  src/monattack.cpp
  src/npc.cpp
  src/npcmove.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Food / Vitamins, Mutations / Traits / Professions, [C++], [JSON]

#35905 change holiday to christmas
  src/main_menu.cpp
Labels: Info / User Interface

#35896 Fixed tools activating for one turn even without charges
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool_armor.json
  data/json/items/tools.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#35891 Appease clang (2019-12-06)
  src/overmap_ui.cpp
Labels: Code: Build, [C++]

#35872 Further updates evac shelters, adding vandalized and used variants.
  data/json/effects.json
  data/json/itemgroups/SUS_specific_use_storage_items.json
  data/json/items/comestibles/protein.json
  data/json/mapgen/nested/shelter_nested.json
  data/json/mapgen/shelter.json
  data/json/mapgen_palettes/shelter.json
  data/json/snippets/graffiti.json
  data/json/vitamin.json
Labels: Mapgen, Spawn, [JSON]

#35852 Implement iterators for JsonArray:
  src/json.cpp
  src/json.h
  src/magic.cpp
  src/magic_teleporter_list.cpp
  src/magic_ter_fur_transform.cpp
  src/mapdata.cpp
  src/mapgen.cpp
  src/martialarts.cpp
  src/material.cpp
  src/mattack_actors.cpp
  src/mission_util.cpp
  src/mod_manager.cpp
  src/mongroup.cpp
  src/monstergenerator.cpp
  src/mutation_data.cpp
  src/npc.cpp
  src/npc_class.cpp
  src/npctalk.cpp
  src/overlay_ordering.cpp
  src/overmap.cpp
  src/panels.cpp
  src/profession.cpp
  src/recipe.cpp
  src/recipe_groups.cpp
  src/regional_settings.cpp
  src/relic.cpp
  src/requirements.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/sdlsound.cpp
  src/tutorial.cpp
  src/veh_type.cpp
  src/vehicle_group.cpp
  src/vitamin.cpp
  src/worldfactory.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#35138 [Magiclysm] Lizardfolk
  data/mods/Magiclysm/Spells/lizardfolk_shaman.json
  data/mods/Magiclysm/harvest.json
  data/mods/Magiclysm/items/weapons.json
  data/mods/Magiclysm/monster_attacks.json
  data/mods/Magiclysm/monster_factions.json
  data/mods/Magiclysm/monsters/lizardfolk.json
  data/mods/Magiclysm/species.json
Labels: Magiclysm, Monsters, [JSON]

#35922 fix black dragon lair spawn
  data/json/overmap/special_locations.json
  data/mods/Magiclysm/worldgen/overmap_specials.json
Labels: <Bugfix>, Mapgen, [C++]

#35920 Add vitamin documentation
  doc/VITAMIN.md
Labels: <Documentation>, Food / Vitamins, [Markdown]

#35926 Tobacco Products list added
  data/json/itemgroups/gear.json
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/mansion.json
Labels: Items / Item Actions / Item Qualities, Spawn, [JSON]

#35923 Added NOCOLLIDE flag to crafting spots
  data/json/furniture_and_terrain/furniture-fakes.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Vehicles

#35890 Science ID cards as possible drop for zombies scientist
  data/json/monsterdrops/zombie_lab.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, Monsters, Spawn, [JSON]

#35911 add norse myth book to itemgroup
  data/mods/Magiclysm/itemgroups/recipe_books.json
Labels: Magiclysm, Spawn, [JSON]

#35903 More name, weight, and volume updates
  data/json/monsters/insect_spider.json
  data/json/monsters/marloss.json
  data/json/monsters/mechsuits.json
  data/json/monsters/mi-go.json
  data/json/monsters/mutant.json
Labels: Code: Astyle / Optimization / Static Analysis, [JSON]

#35917 Fix Toxins not working with simplified nutrition
  data/json/vitamin.json
  src/consumption.cpp
  src/item_factory.cpp
  src/vitamin.cpp
  src/vitamin.h
Labels: <Bugfix>, Food / Vitamins, Mods, [C++], [JSON]

#35880 Bugfixes and tweaks for fd_bees field
  src/map_field.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Fields / Furniture / Terrain / Traps

#35833 Code optimizations reported by static code analysis (2019-12-03)
  src/active_item_cache.h
  src/advanced_inv.h
  src/armor_layers.cpp
  src/auto_note.cpp
  src/basecamp.h
  src/bionics_ui.cpp
  src/color.h
  src/consumption.cpp
  src/crafting_gui.cpp
  src/game.cpp
  src/game.h
  src/init.h
  src/input.h
  src/int_id.h
  src/item.h
  src/item_factory.h
  src/lightmap.cpp
  src/magic_spell_effect.cpp
  src/magic_ter_furn_transform.h
  src/map.cpp
  src/map.h
  src/mission_companion.h
  src/monster.h
  src/npctalk.cpp
  src/output.cpp
  src/output.h
  src/overmapbuffer.h
  src/pickup.cpp
  src/player.cpp
  src/point.h
  src/ranged.cpp
  src/ranged.h
  src/savegame_json.cpp
  src/savegame_legacy.cpp
  src/skill.h
  src/string_id.h
  src/suffer.cpp
  src/translations.cpp
  src/vehicle.h
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#35831 Jsonized companion skill practice data
  data/json/skills.json
  src/mission_companion.cpp
  src/skill.cpp
  src/skill.h
Labels: Effects / Skills / Stats, Missions, NPC / Factions, [C++], [JSON]

#35928 Put some stuff into boxes
  data/json/itemgroups/collections_trades.json
Labels: Spawn, [JSON]

#35944 locations_commercial.json added; item_groups clean up
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/locations.json
  data/json/itemgroups/locations_commercial.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#35935 some extra lizardfolk fixes
  data/mods/Magiclysm/items/weapons.json
  data/mods/Magiclysm/monsters/lizardfolk.json
Labels: <Bugfix>, Magiclysm

#35932 Reorganize SUS itemgroups
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/SUS/evac_shelter.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#35927 Added hints for New Game modes
  src/main_menu.cpp
Labels: <Enhancement / Feature>, Character / World Generation, Info / User Interface

#35836 Further expand regional terrains and work them into some map palettes
  data/json/furniture_and_terrain/furniture-regional-pseudo.json
  data/json/furniture_and_terrain/terrain-regional-pseudo.json
  data/json/mapgen_palettes/abandoned_barn_p.json
  data/json/mapgen_palettes/acidia_camp_palette.json
  data/json/mapgen_palettes/airliner_palette.json
  data/json/mapgen_palettes/apartment.json
  data/json/mapgen_palettes/bandit_camp.json
  data/json/mapgen_palettes/bike_shop_palette.json
  data/json/mapgen_palettes/cabin.json
  data/json/mapgen_palettes/campground.json
  data/json/mapgen_palettes/cground.json
  data/json/mapgen_palettes/collapsed_tower.json
  data/json/mapgen_palettes/farm.json
  data/json/mapgen_palettes/farm_horse.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/mapgen_palettes/hotel_tower_palette.json
  data/json/mapgen_palettes/house_w_palette.json
  data/json/mapgen_palettes/junkyard_palette.json
  data/json/mapgen_palettes/miniature_railway_palette.json
  data/json/regional_map_settings.json
Labels: Fields / Furniture / Terrain / Traps, Mapgen, [JSON]

#35455 Document how to build and run the custom clang-tidy checks on Windows
  doc/DEVELOPER_TOOLING.md
  src/cata_io.h
  src/savegame.cpp
  src/savegame_json.cpp
  tools/fix-compilation-database.py
Labels: <Documentation>, [Markdown]

#35919 [Magiclysm] update black dragon lair
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/monsters/dragon.json
  data/mods/Magiclysm/worldgen/black_dragon_lair.json
  data/mods/Magiclysm/worldgen/overmap_specials.json
Labels: Magiclysm, Mapgen, [JSON]

#35962 Fix modular Turret error on load
  data/mods/Modular_Turrets/item_groups.json
Labels: <Bugfix>, Mods, [JSON]

#35164 More types of alcohol
  data/json/itemgroups/food_service.json
  data/json/itemgroups/mansion.json
  data/json/items/comestibles/alcohol.json
Labels: Food / Vitamins, Items / Item Actions / Item Qualities, [JSON]

#35216 Shop rebalance
  data/json/mapgen/antique_store.json
  data/json/mapgen/bar.json
  data/json/mapgen/bike_shop.json
  data/json/mapgen/butcher.json
  data/json/mapgen/cs_sex_shop.json
  data/json/mapgen/cs_tire_shop.json
  data/json/mapgen/diner.json
  data/json/mapgen/dispensary.json
  data/json/mapgen/dollar_store.json
  data/json/mapgen/garage.json
  data/json/mapgen/garage_gas.json
  data/json/mapgen/gardening_store.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/headshop.json
  data/json/mapgen/homeimprovement.json
  data/json/mapgen/homeimprovement_superstore.json
  data/json/mapgen/homeimprovement_superstore_new.json
  data/json/mapgen/jewel_store.json
  data/json/mapgen/landscaping_supply.json
  data/json/mapgen/library.json
  data/json/mapgen/megastore.json
  data/json/mapgen/mil_surplus.json
  data/json/mapgen/museum.json
  data/json/mapgen/musicstore.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/pawn_shop.json
  data/json/mapgen/petstore.json
  data/json/mapgen/pharmacy.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/restaurant_fast.json
  data/json/mapgen/reststop.json
  data/json/mapgen/s_bookstore.json
  data/json/mapgen/s_clothing.json
  data/json/mapgen/s_coffee.json
  data/json/mapgen/s_electronics.json
  data/json/mapgen/s_furniture.json
  data/json/mapgen/s_gas.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/s_hardware.json
  data/json/mapgen/s_icecream.json
  data/json/mapgen/s_liquor.json
  data/json/mapgen/smoke_lounge.json
  data/json/mapgen/sports_store.json
  data/json/mapgen/teashop.json
  data/json/mapgen/thrift.json
  data/json/mapgen/veterinarian.json
Labels: Spawn, [JSON]

#35630 Incorporate human meat and fat into existing recipes, remove dedicated recipes
  data/json/flags.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/locations.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/meat_dishes_human.json
  data/json/items/comestibles/protein.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/soup.json
  data/json/items/corpses.json
  data/json/items/migration.json
  data/json/recipes/chem/mutagens.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/pasta.json
  data/json/recipes/other/other.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_obsolete.json
  data/json/recipes/weapon/bashing.json
  data/json/requirements/cooking_components.json
  data/json/requirements/materials.json
  data/json/vehicles/carts.json
  data/mods/Animatronics/bankrupt_pizzeria.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  lang/extract_json_strings.py
  src/item.cpp
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
  tests/crafting_test.cpp
Labels: Crafting / Construction / Recipes, Food / Vitamins, Game: Balance, [JSON]

#35641 Fixed "Vehicle disappearing when grabbing another veh inside"
  src/grab.cpp
  src/map.cpp
  src/map.h
  tests/vehicle_efficiency.cpp
Labels: <Bugfix>, Vehicles, [C++]

#35649 Fix NPC head explodey when they leave / reenter reality bubble with an activity
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/npcmove.cpp
  src/player_activity.cpp
  src/savegame_json.cpp
Labels: <Bugfix>, NPC / Factions, [JSON]

#34470 Realistic gun cleaning
  data/json/itemgroups/supplies.json
  data/json/items/ammo_types.json
  data/json/items/chemicals_and_resources.json
  data/json/items/fuel.json
  data/json/items/gun/faults_gun.json
  data/json/items/gun/ups.json
  data/json/recipes/armor/head.json
  data/json/recipes/chem/fuel.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/materials.json
  data/json/uncraft/vehicle/engines.json
  data/json/vehicleparts/combustion.json
  src/activity_handlers.cpp
  src/item.cpp
  src/item_group.cpp
  src/ranged.cpp
Labels: <Enhancement / Feature>, Items / Item Actions / Item Qualities, Ranged, [C++], [JSON]

#35687 Give NPCs the handicap bonus to use out of LOS welding rigs for vehicle repair
  src/activity_item_handling.cpp
  src/character.h
  src/crafting.cpp
  src/player.h
  src/veh_utils.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, NPC / Factions, [C++]

#35734 Bring EMP grenades in line with reality
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/robofac_trade.json
  data/json/items/electronics.json
  data/json/items/generic.json
  data/json/items/grenades.json
  data/json/items/tools.json
  data/json/monsters/drones.json
  data/json/npcs/robofac/NPC_ROBOFAC_INTERCOM.json
  data/json/npcs/robofac/NPC_ROBOFAC_MERC_1.json
  data/json/npcs/robofac/NPC_Ulysses_Rourke.json
  data/json/npcs/robofac/NPC_robofac_generic_security.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_obsolete.json
  data/json/recipes/weapon/explosive.json
Labels: Game: Balance, Game: Mechanics Change, Items / Item Actions / Item Qualities, [JSON]

#35740 Monster flag usage frequency
  src/debug_menu.cpp
  src/monstergenerator.h
  src/mtype.cpp
Labels: Monsters, [C++]

#35759 Weather Tweaks - new light drizzle category and fix wind
  data/json/regional_map_settings.json
  src/animation.cpp
  src/handle_action.cpp
  src/item.cpp
  src/sounds.cpp
  src/vehicle.cpp
  src/weather.cpp
  src/weather.h
  src/weather_data.cpp
  src/weather_gen.cpp
  src/weather_gen.h
Labels: <Bugfix>, Weather, [C++], [JSON]

#35775 Refactor monster regeneration flags
  data/json/monsters/mammal.json
  data/json/monsters/monsters.json
  data/json/monsters/mutant.json
  data/mods/Magiclysm/monsters/monsters.json
  doc/JSON_FLAGS.md
  doc/MONSTERS.md
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: Code: Astyle / Optimization / Static Analysis, Code: Performance, Monsters, [C++], [JSON]

#35776 Refactor monster movement flag checks
  src/avatar_action.cpp
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/map_field.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/player.cpp
  src/trapfunc.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Monsters, [C++]

#35778 Limit the kinds of terrain that are vulnerable to mattack::growplants
  src/monattack.cpp
Labels: Fields / Furniture / Terrain / Traps, Game: Balance, Mutations / Traits / Professions, [C++]

#35974 Remove a couple of redundant periods
  src/npctalk.cpp
  src/sounds.cpp
Labels: Info / User Interface, [C++]

#35982 Add PRIMITIVE_RANGED_WEAPON to compound bows so they don't accumulate dirt and won't need mending.
  data/json/items/archery.json
Labels: <Bugfix>, Ranged, [JSON]

#35967 Fix unloading liquid into same container
  src/handle_liquid.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#35972 Fix redundant messages from player speech/coughing
  src/iexamine.cpp
  src/iuse.cpp
  src/monattack.cpp
  src/monmove.cpp
  src/sounds.cpp
  src/sounds.h
  src/trapfunc.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#35805 Update and migrate most Realguns content to core
  data/json/itemgroups/guns.json
  data/json/itemgroups/magazines.json
  data/json/items/gun/38.json
  data/json/items/gun/38super.json
  data/json/items/gun/410shot.json
  data/json/items/gun/454.json
  data/json/items/gun/45colt.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/magazine/38.json
  data/json/items/magazine/38super.json
  data/json/items/magazine/454.json
  data/mods/realguns/gun.json
  data/mods/realguns/gunmod.json
  data/mods/realguns/item_groups.json
  data/mods/realguns/magazine.json
  data/mods/realguns/migration.json
Labels: Mods, Ranged, [JSON]

#35839 Jsonized field description affixes
  data/json/field_type.json
  src/field.cpp
  src/field.h
  src/field_type.cpp
  src/field_type.h
  src/iuse.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Fields / Furniture / Terrain / Traps, Items / Item Actions / Item Qualities, [C++], [JSON]

#35784 Turrets return fire at unseen ranged attackers
  data/json/monsters/turrets.json
  src/mondefense.cpp
  src/mondefense.h
  src/monstergenerator.cpp
Labels: <Enhancement / Feature>, Monsters

#35888 12ga stocks and brass catcher fixes
  data/json/items/gun/shot.json
  data/json/items/gunmod/stock.json
Labels: <Bugfix>, Gunmod / Toolmod, [JSON]

#35889 Refactor how nutrients are stored and processed
  src/behavior_oracle.cpp
  src/consumption.cpp
  src/dump.cpp
  src/faction_camp.cpp
  src/game_inventory.cpp
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
  src/npcmove.cpp
  src/player.cpp
  src/player.h
  src/stomach.cpp
  src/stomach.h
  tests/comestible_tests.cpp
  tests/stomach_contents_tests.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Food / Vitamins, [C++]

#35900 Changing plank weight and volume to 2200g and 4400mL
  data/json/items/resources/wood.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#35929 Fix issue with scrolling in item description #35766
  src/output.cpp
  src/output.h
Labels: <Bugfix>, Info / User Interface, [C++]

#35945 attempt to fix faction camp canteen recipes
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_common.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Player Faction Base / Camp, [JSON]

#35976 Butter churn deconstruct
  data/json/furniture_and_terrain/furniture-storage.json
Labels: Crafting / Construction / Recipes, [JSON]

#35984 Display total energy acquirable from fuel in consumption menu
  src/consumption.cpp
  src/game_inventory.cpp
Labels: Bionics, Info / User Interface, [C++]

#35986 Code optimizations reported by static code analysis (2019-12-10)
  src/activity_handlers.cpp
  src/avatar.cpp
  src/cata_variant.cpp
  src/character.cpp
  src/character.h
  src/clothing_mod.cpp
  src/construction.cpp
  src/consumption.cpp
  src/craft_command.cpp
  src/crafting.cpp
  src/faction_camp.cpp
  src/field_type.cpp
  src/field_type.h
  src/fungal_effects.cpp
  src/game.cpp
  src/gates.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item_factory.cpp
  src/itype.cpp
  src/iuse.cpp
  src/iuse_software_kitten.cpp
  src/json.h
  src/map.cpp
  src/mapgen.cpp
  src/mission_companion.cpp
  src/monattack.cpp
  src/monmove.cpp
  src/monster.cpp
  src/ncurses_def.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk_funcs.cpp
  src/omdata.h
  src/options.cpp
  src/pathfinding.cpp
  src/pixel_minimap.cpp
  src/player.cpp
  src/recipe_dictionary.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/start_location.cpp
  src/suffer.cpp
  src/ui.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/vehicle.cpp
  src/weather.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#35988 Fix astyle regression
  src/suffer.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#35924 Add supreme pizza
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#35312 Prevent dialog asking to enter dangerous terrain
  src/game.cpp
  src/options.cpp
Labels: Fields / Furniture / Terrain / Traps, Info / User Interface, [C++]

#36008 Fix items not appearing on regional terrains
  data/json/furniture_and_terrain/furniture-regional-pseudo.json
  data/json/furniture_and_terrain/terrain-regional-pseudo.json
Labels: <Bugfix>, Spawn, [JSON]

#36002 Tweak robot weights and skitterbot deconstruction recipe
  data/json/items/corpses/inactive_bots.json
  data/json/monsters/defense_bot.json
  data/json/recipes/recipe_deconstruction.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#36024 Appease clang (2019-12-11)
  src/consumption.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Build, [C++]

#36003 Add NO_UNLOAD flag to scuba tanks.
  data/json/items/tool_armor.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#36009 Allow find_or_create_om_terrain to make new overmaps
  src/mission_util.cpp
Labels: <Bugfix>, Missions

#35996 obsolete Battery_Migration mod
  data/mods/Battery_Migration/modinfo.json
Labels: <Bugfix>, Mods, [JSON]

#36025 Fix empty() accessor in active_item_cache.
  src/active_item_cache.cpp
Labels: <Bugfix>, [C++]

#36014 Make free merchant broker a merchant, with associated perks
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
Labels: <Bugfix>, NPC / Factions, [JSON]

#36017 use string_reader() for loading json arrays in material_type
  src/material.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#36027 Appease clang (2019-12-11)
  src/game.cpp
Labels: Code: Build, [C++]

#36001 magiclysm - spell addition guidelines
  data/mods/Magiclysm/magic_balance.md
Labels: <Documentation>, Magiclysm

#35970 Migrate integer sound priorities to existing enumerated sound categories
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/sounds.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Sound Events, [C++]

#35964 item_groups sorting
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/locations.json
  data/json/itemgroups/locations_commercial.json
  data/json/itemgroups/vending_machines.json
Labels: Items / Item Actions / Item Qualities, Spawn, [JSON]

#36030 Fix astyle regression
  src/material.cpp
Labels: Code: Astyle / Optimization / Static Analysis

#36019 minor typo fixes and new content to hints
  data/json/npcs/hints.json
Labels: NPC / Factions, [JSON]

#36033 Add lines of code badge to readme
  README.md
Labels: <Enhancement / Feature>, Other

#36041 Remove obsoleted guns from Generic Guns blacklist
  data/mods/Generic_Guns/gg_guns_blacklist.json
  data/mods/Generic_Guns/gg_magazines_blacklist.json
Labels: <Bugfix>, Mods, [JSON]

#35664 refactor game::eat()
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/avatar_action.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/npcmove.cpp
  src/player.cpp
  src/player.h
  tests/behavior_test.cpp
  tests/iuse_test.cpp
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, [C++]

#35830 Jsonized time to atack skill data
  data/json/skills.json
  src/ranged.cpp
  src/skill.cpp
  src/skill.h
Labels: Effects / Skills / Stats, [C++], [JSON]

#35948 change avatar::read parameter to item &
  src/avatar.cpp
  src/avatar.h
  src/game.cpp
  src/handle_action.cpp
  src/player.cpp
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, [C++]

#36007 Add a way to iterate over JSON object members
  src/faction.cpp
  src/json.cpp
  src/json.h
  src/magic.cpp
  src/mapgen.cpp
  src/npc_class.cpp
  src/regional_settings.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/uistate.h
Labels: Code: Astyle / Optimization / Static Analysis, [C++], [JSON]

#36022 Make cataclysm capitalization consistent across json files
  data/json/itemgroups/supplies.json
  data/json/items/armor.json
  data/json/items/armor/backpacks.json
  data/json/items/book/misc.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mutagen.json
  data/json/items/comestibles/other.json
  data/json/items/gun/40mm.json
  data/json/items/gun/50.json
  data/json/items/gun/ups.json
  data/json/items/gunmod/sights.json
  data/json/items/resources/metal.json
  data/json/items/tools.json
  data/json/monsters/bird.json
  data/json/monsters/fish.json
  data/json/monsters/turrets.json
  data/json/npcs/BG_trait_groups.json
  data/json/npcs/BG_traits.json
  data/json/npcs/Backgrounds/cop_3.json
  data/json/npcs/Backgrounds/lost_partner_1.json
  data/json/npcs/NPC_Brigitte_LaCroix.json
  data/json/npcs/TALK_SURVIVOR_CHEF.json
  data/json/npcs/TALK_TEST.json
  data/json/npcs/TALK_TRUE_FOODPERSON.json
  data/json/npcs/epilogues.json
  data/json/npcs/factions.json
  data/json/npcs/missiondef.json
  data/json/npcs/npc.json
  data/json/npcs/refugee_center/beggars/BEGGAR_5_Yusuke_Taylor.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_John_Clemens.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Stan_Borichenko.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
  data/json/npcs/tacoma_ranch/NPC_ranch_farmer1.json
  data/json/npcs/talk_tags.json
  data/json/overmap/map_extras.json
  data/json/professions.json
  data/json/scenarios.json
  data/json/snippets/graffiti.json
  data/json/snippets/schizophrenia.json
  data/mods/Aftershock/items/afs__items.json
  data/mods/Aftershock/npcs/afs_prepnet_dialogue.json
  data/mods/Generic_Guns/gg_guns_override.json
  data/mods/Magiclysm/professions.json
  data/mods/Magiclysm/scenarios.json
  data/mods/More_Locations/factions.json
  data/mods/Tolerate_This/comestibles.json
  data/mods/more_classes_scenarios/cs_classes.json
Labels: Mutations / Traits / Professions, [JSON]

#36048 More Capitalism
  tests/npc_talk_test.cpp
Labels: Code: Tests, [C++]

#36053 Bump SDK version to 28
  .travis.yml
  android/app/build.gradle
Labels: Code: Build, OS: Android

#35735 jsonize filthy clothing zone
  data/json/item_category.json
  src/clzones.cpp
  src/item_category.cpp
  src/item_category.h
Labels: Code: Astyle / Optimization / Static Analysis, [C++], [JSON]

#36044 Add a basic active item cache regression test.
  src/map.h
  tests/active_item_cache.cpp
Labels: Code: Tests, Items / Item Actions / Item Qualities, [C++]

#35985 Tweak robot/turret return fire to not be uselessly inaccurate
  src/mondefense.cpp
Labels: Monsters, [C++]

#36012 Reign in cestus damage bonus
  data/json/items/melee.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, Melee, [JSON]

#35975 [Aftershock] Atomic churn pseudo tool and deconstruct
  data/mods/Aftershock/items/afs__items.json
  data/mods/Aftershock/items/afs_furniture.json
Labels: Crafting / Construction / Recipes, Mods

#36043 Added requirement to have at least one charge in RC car and control for them to work
  data/json/items/tool/radio_tools.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#35991 craftable stethoscope
  data/json/itemgroups/item_groups.json
  data/json/items/containers.json
  data/json/items/tool_armor.json
  data/json/npcs/items_generic.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#36070 Remove debug error log entry
  data/mods/Animatronics/bankrupt_pizzeria.json
  data/mods/Salvaged_Robots/robot_additions/overmap_terrain.json
Labels: Mapgen, [JSON]

#36055 m hdr links JSON_INFO.md
  doc/JSON_INFO.md
Labels: [Markdown]

#36054 Monster group tweaks - GROUP_POOL_NOKIDS and GROUP_ZOMBIE_COP
  data/json/monstergroups/monstergroups.json
Labels: Monsters, Spawn, [JSON]

#36059 Bug fix for #36056. Verify the skill id is not null before calling npc practice.
  src/mission_companion.cpp
Labels: <Bugfix>, Effects / Skills / Stats, NPC / Factions, [C++], [JSON]

#36066 Created "generic" version of TWD motel
  data/json/mapgen/motel.json
  data/json/overmap/overmap_special/specials.json
Labels: <Enhancement / Feature>, Mapgen, [JSON]

#36069 Make gas tank bashable and add broken tank.
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#36042 SUS Kitchen Expansion
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/food.json
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/mansion.json
  data/json/mapgen/house/house04.json
Labels: Game: Balance, Spawn, [JSON]

#36064 m content adds to hints/tips
  data/json/npcs/hints.json
Labels: [JSON]

#36057 remove unused member function from material
  src/material.cpp
  src/material.h
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#35940 Modernize clothing stores
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/itemgroups/SUS/clothes_store.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/SUS/evac_shelter.json
  data/json/itemgroups/SUS/office.json
  data/json/itemgroups/clothing.json
  data/json/items/generic/storage.json
  data/json/items/tool/stationary.json
  data/json/items/tools.json
  data/json/mapgen/s_clothing.json
  data/json/mapgen_palettes/building.json
  data/json/mapgen_palettes/clothes_store_palette.json
Labels: Mapgen, [JSON]

#36076 Lint json
  data/json/itemgroups/SUS/clothes_store.json
Labels: [JSON]

#36078 Fix accessing member value instead of member name.
  src/savegame_json.cpp
Labels: <Bugfix>, [C++]

#36080 No salvaging rags from feathers
  data/json/items/ammo.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#36060 fix gun cleaning redundancy
  data/json/items/gun/faults_gun.json
  doc/JSON_FLAGS.md
  src/activity_handlers.cpp
  src/fault.cpp
  src/fault.h
  src/player.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++], [JSON]

#36082 Fix SUS item groups
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/SUS/evac_shelter.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#36097 Fix flower tiles in clothing stores
  data/json/mapgen_palettes/clothes_store_palette.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Mapgen, [JSON]
