Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2019-04, with the labels that each got.

#29172 Fixed all recipes showing on camp expansions
  src/basecamp.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Player Faction Base / Camp

#29169 Linting blacklisted json files
  data/json/mapgen/garage.json
  data/json/mapgen/garage_gas.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/house/house_garage2.json
  data/json/mapgen/house/house_garage3.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29168 Visual Studio: remove deprecated compiler switch and set multi-processor compilation.
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg.vcxproj
  msvc-full-features/Cataclysm.vcxproj
  msvc-full-features/Cataclysm_lib.vcxproj
Labels: Code: Build, OS: Windows

#29190 Linting blacklisted json files
  data/json/mapgen/house/house05_ab.json
  data/json/mapgen/house/house11.json
  data/json/mapgen/house/house_garage.json
  data/json/mapgen/house/house_garage4.json
  data/json/mapgen/house/house_garage5.json
  data/json/mapgen/house/house_garage6.json
  data/json/mapgen/house/house_garage_prepper.json
  data/json/mapgen/house/house_rv.json
  data/json/mapgen/house/house_suicide.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29170 Fixed Animal Kinship
  data/json/mutations.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#29182 Reset follower NPC disposition/faction on player death
  src/game.cpp
  src/game.h
  src/npctalk.cpp
  src/npctalk_funcs.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#29187 Fix inconsistencies in Humvee design
  data/json/vehicles/military.json
Labels: <Bugfix>, Vehicles, [JSON]

#29165 NPCs: Allow NPCs to use holsters
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
Labels: Inventory / AIM / Zones, NPC / Factions, [C++]

#29143 Ice cream shop roof
  data/json/mapgen/s_icecream.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain.json
Labels: Mapgen, [JSON]

#29178 Add roofs to pizza parlors
  data/json/itemgroups/food_service.json
  data/json/mapgen/pizza_parlor.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#29176 Added randomness to wind blocking field spread
  src/field.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++]

#29124 Add Trait "Deaf"
  data/json/mutations.json
  src/player.cpp
Labels: <Enhancement / Feature>, Character / Player, [JSON]

#28567 Shotgun Bandolier update
  data/json/item_groups.json
  data/json/itemgroups/gear.json
  data/json/items/armor/bandolier.json
  data/json/recipes/armor/storage.json
Labels: Items / Item Actions / Item Qualities

#28772 Taste Modifier bionic
  data/json/bionics.json
  data/json/item_groups.json
  data/json/items/bionics.json
  data/json/professions.json
  src/consumption.cpp
Labels: <Enhancement / Feature>, Bionics, [C++], [JSON]

#29194 Fix tests regression (2019-04-01)
  data/json/item_groups.json
  data/json/itemgroups/gear.json
  tests/vehicle_efficiency.cpp
Labels: <Bugfix>, Code: Tests, Items / Item Actions / Item Qualities, Vehicles, [C++], [JSON]

#29195 Stopped zombies reviving into vehicles
  src/item.cpp
Labels: <Bugfix>, Monsters, Vehicles, [C++]

#29198 Fix damaged 40mm launcher dropping grenade at your feet
  data/json/items/ammo/40mm.json
Labels: Items / Item Actions / Item Qualities, Ranged, [JSON]

#29177 Allow vehicle tables to perform butchery
  data/json/vehicle_parts.json
  doc/JSON_FLAGS.md
  src/activity_handlers.cpp
Labels: <Enhancement / Feature>, Vehicles, [C++], [JSON]

#29167 Fix #28712 - crash when unloading a vehicle from a bike rack.
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#29197 Npc epilogue fix
  src/game.cpp
Labels: <Bugfix>, Info / User Interface, NPC / Factions, [C++]

#29091 Eyebot police activity
  data/json/monsters.json
  data/json/speech.json
  src/monattack.cpp
Labels: <Enhancement / Feature>, Monsters, [C++], [JSON]

#29199 Linting blacklisted json files
  data/json/mapgen/house/house14.json
  data/json/mapgen/lab/lab_central.json
  data/json/mapgen/lab/lab_common.json
  data/json/mapgen/lab/lab_escape.json
  data/json/mapgen/lab/lab_floorplan_cross.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29207 Improve NPC sound ignoring logic to reduce activity interruptions.
  src/activity_handlers.cpp
  src/npctalk.cpp
  src/sounds.h
Labels: <Bugfix>, NPC / Factions, [C++]

#29203 Fix Military Cargo Truck's frame orientation
  data/json/vehicles/military.json
Labels: <Bugfix>, Vehicles, [JSON]

#29202 Fixed boardable vehicle over pit message
  src/game.cpp
Labels: <Bugfix>, Vehicles, [C++]

#29196 new 'public holdout' layout for s_gun
  data/json/mapgen/s_gun.json
Labels: Mapgen, [JSON]

#29145 Add basic mall roof
  data/json/itemgroups/mall_item_groups.json
  data/json/mapgen/mall.json
  data/json/mapgen_palettes/mall_palette.json
  data/json/monstergroups.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain_mall.json
Labels: Mapgen, [JSON]

#29214 Remove pointy stick and broom from spear recipes
  data/json/recipes/recipe_companion.json
  data/json/recipes/recipe_weapon.json
  data/mods/More_Survival_Tools/recipes.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#29174 Make lit cigarettes slow firestarters and extinguishable
  data/json/items/generic.json
Labels: <Enhancement / Feature>, Fields / Furniture / Terrain / Traps, Items / Item Actions / Item Qualities, [C++]

#29142 Make kevlar zombies drop kevlar when butchering.
  data/json/harvest.json
  data/json/monsters/zed_soldiers.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#28491 Two professions
  data/json/professions.json
Labels: Character / Player, Mutations / Traits / Professions, [JSON]

#29069 Adjusting compound bow requires fine screw driving
  data/json/items/archery.json
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: Items / Item Actions / Item Qualities, [JSON]

#29097 Adds Soybeans, Edamame & Tofu with adequate integration with & into recipes
  data/json/item_groups.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/food/dry.json
  data/json/recipes/recipe_food.json
Labels: Food / Vitamins, [JSON]

#29086 Animal cooking oil and baking fixes
  data/json/item_actions.json
  data/json/item_groups.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/soup.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/json/npcs/items_generic.json
  data/json/recipes/armor/head.json
  data/json/recipes/chem/fuel.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/other/medical.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/cooking_tools.json
  data/json/requirements/materials.json
  data/mods/Aftershock/recipes/afs_comestible_recipes.json
  data/mods/Aftershock/recipes/afs_recipe_overrides.json
  data/mods/Tolerate_This/recipe_food.json
  gfx/ChestHole16Tileset/tile_config.json
  gfx/ChestHole32Tileset/tile_config.json
  gfx/ChestHole32Tileset_iso/tile_config.json
  gfx/ChestHoleTileset/tile_config.json
  gfx/HitButton_iso/tile_config.json
  gfx/MSX++DeadPeopleEdition/tile_config.json
  gfx/MShock24TilesetModded/tile_config.json
  gfx/MShock32TilesetModded/tile_config.json
  gfx/MshockXotto+/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/npctalk.cpp
Labels: Food / Vitamins, [C++], [JSON]

#29000 The higher your z-level, the farther you can see on the overmap
  src/game.cpp
  src/player.cpp
Labels: Character / Player, Game: Balance, Z-levels

#29221 Fixed hospital mission
  data/json/npcs/missiondef.json
Labels: <Bugfix>, Missions, [JSON]

#29219 Auto-forage now will also affect cattails, berry bushes, and fruit trees
  src/game.cpp
  src/iexamine.cpp
  src/options.cpp
Labels: <Enhancement / Feature>, Character / Player

#29132 Use fuel from firewood source when starting fires
  data/json/item_actions.json
  data/json/items/tools.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/map.cpp
  src/map.h
  src/player_activity.cpp
Labels: <Enhancement / Feature>, Fields / Furniture / Terrain / Traps, Quality of Life, [C++]

#29232 Linting blacklisted json files.
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_soldier.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/monsters/drones.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#28664 Zombie grenadier rework
  data/json/items/generic.json
  data/json/items/tools.json
  data/json/monstergroups.json
  data/json/monsters/defense_bot.json
  data/json/monsters/drones.json
  data/json/monsters/zed_explosive.json
  data/json/recipes/recipe_deconstruction.json
  data/json/snippets.json
  src/map_extras.cpp
  src/mapgen.cpp
  src/monattack.cpp
  src/monster.cpp
Labels: Monsters, [JSON]

#28738 Aftershock update: Bionics and atomic gadgets
  data/json/morale_types.json
  data/mods/Aftershock/items/afs__items.json
  data/mods/Aftershock/items/afs_cbms.json
  data/mods/Aftershock/items/afs_item_overrides.json
  data/mods/Aftershock/items/afs_tools.json
  data/mods/Aftershock/maps/afs_furniture.json
  data/mods/Aftershock/maps/afs_item_groups.json
  data/mods/Aftershock/modinfo.json
  data/mods/Aftershock/player/afs_bionics.json
  data/mods/Aftershock/player/afs_professions.json
  data/mods/Aftershock/recipes/afs__recipes.json
  data/mods/Aftershock/recipes/afs_armor_recipes.json
  data/mods/Aftershock/recipes/afs_construction.json
  data/mods/Aftershock/recipes/afs_requirements.json
  data/mods/Aftershock/vehicles/afs_vehicle_parts.json
  data/mods/BrightNights/modinfo.json
  src/bionics.cpp
  src/player.cpp
Labels: Bionics, Mods, [C++], [JSON]

#29127 Ui fixes 2
  src/animation.cpp
  src/item.cpp
  src/item.h
  src/panels.cpp
  src/player.cpp
  src/player.h
Labels: <Bugfix>, Info / User Interface

#29205 Added inline function to get Unicode character from string
  src/cata_tiles.cpp
  src/catacharset.h
  src/ncurses_def.cpp
  src/sdltiles.cpp
  src/wincurse.cpp
Labels: Code: Astyle / Optimization, [C++]

#29223 Tools that are already run on UPS won't accept UPS conversion mod
  src/iuse.cpp
Labels: <Bugfix>, Gunmod / Toolmod, Items / Item Actions / Item Qualities

#29238 Add guidelines to vehicle interface for easier cursor location
  src/veh_interact.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Vehicles, [C++]

#29235 Nerf leaky bionic.
  src/player.cpp
Labels: Bionics, Game: Balance, [C++]

#29094 Radio contact with followers, NPC overmap movement.
  data/json/flags.json
  data/json/items/tool/radio_tools.json
  data/json/npcs/TALK_COMMON_ALLY.json
  doc/OVERMAP.md
  src/faction.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/game.h
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
  src/omdata.h
  src/overmap.cpp
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/player.h
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, NPC / Factions, Player Faction Base / Camp, [C++]

#29228 Fixed amount of nails get from clearing the rubble
  src/map.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mapgen, Spawn

#29236 Linting blacklisted json files.
  data/json/monstergroups.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29234 Add roofs to bars
  data/json/itemgroups/food_service.json
  data/json/mapgen/bar.json
  data/json/mapgen/nested_chunks_roof.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#29100 Various food fixes - Add seed items for lentils and beans
  GUIDE_COMESTIBLES.md
  data/json/item_groups.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/seed.json
  data/json/recipes/recipe_food.json
Labels: Food / Vitamins, [JSON]

#28865 Evac merchant can food quest (attempt 3)
  data/json/item_groups.json
  data/json/npcs/TALK_COMMON_MISSION.json
  data/json/npcs/missiondef.json
  src/mission.cpp
  src/mission.h
  src/mission_end.cpp
  src/mission_start.cpp
  src/mission_util.cpp
  src/missiondef.cpp
Labels: Missions, [C++], [JSON]

#28878 Sitting on chair near table gives bonuses to eating
  data/json/furniture.json
  data/json/morale_types.json
  data/json/mutations.json
  doc/JSON_FLAGS.md
  src/consumption.cpp
  src/morale_types.cpp
  src/morale_types.h
Labels: Effects / Skills / Stats, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#28971 added a bionic that helps you fall asleep
  data/json/bionics.json
  data/json/item_groups.json
  data/json/items/bionics.json
  data/json/monsterdrops/zombie_lab.json
  data/json/snippets.json
  src/player.cpp
  src/player.h
Labels: Bionics, [C++], [JSON]

#29244 "preserves spoiling" -> "prevents spoiling"
  src/item.cpp
Labels: Items / Item Actions / Item Qualities, Translation

#29242 Overmap respects circular distances
  src/game.cpp
  src/overmapbuffer.cpp
Labels: <Enhancement / Feature>, Mapgen, [C++]

#29250 Linted blacklisted json files.
  data/json/monsters/zed_children.json
  data/json/monsters/zed_explosive.json
  data/json/mutation_category.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29258 Make lambda non-irreflexive
  src/game.cpp
Labels: <Bugfix>, Code: Tests, Items / Item Actions / Item Qualities

#28965 Added nickname to random name generator
  data/names/en.json
  src/name.cpp
  src/name.h
  tests/data/name.json
  tests/name_test.cpp
Labels: <Enhancement / Feature>, Translation, [C++], [JSON]

#28988 Fixed #27916 - Spiked Tail mutation should't be in the Insect category
  data/json/mutations.json
Labels: Mutations / Traits / Professions, [JSON]

#29031 Allow monsters to shove vehicles on their way to player
  data/json/monsters.json
  src/monmove.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Enhancement / Feature>, Monsters, Vehicles, [C++]

#29245 Being under anesthesia prevents you from feeling several faulty bionics' effects
  src/player.cpp
Labels: <Bugfix>, Bionics, Effects / Skills / Stats

#29264 Add teashop roofs
  data/json/itemgroups/food_service.json
  data/json/mapgen/teashop.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#29266 Linting blacklisted json files.
  data/json/npcs/NC_NINJA.json
  data/json/npcs/NC_SCAVENGER.json
  data/json/npcs/NC_SCIENTIST.json
  data/json/npcs/NC_SOLDIER.json
  data/json/npcs/NC_THUG.json
  data/json/npcs/NC_TRADER.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29252 All types of power armor have equal environment protection value of 16
  data/json/items/armor.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#29267 More nicknames
  data/names/en.json
Labels: Translation, [JSON]

#29270 Drop dry_rice from beans_cooked recipe.
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Food / Vitamins, Game: Balance, [JSON]

#29272 Linting blacklisted json files.
  data/json/npcs/classes.json
  data/json/npcs/epilogues.json
  data/json/npcs/hints.json
  data/json/npcs/items_generic.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29269 Food isn't as enjoyable when you're sick
  src/consumption.cpp
Labels: Character / Player, Food / Vitamins, Game: Balance, [C++]

#29134 Expand Pet Armors for Dogs [CR]
  data/json/items/armor/pets_dog_armor.json
  data/json/items/generic.json
  data/json/recipes/armor/pets_dog.json
  data/json/recipes/recipes.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Monsters, [JSON]

#29273 Linting blacklisted json files.
  data/json/npcs/missiondef.json
  data/json/npcs/npc.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29274 Linting blacklisted json files.
  data/json/npcs/talk_tags.json
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29280 Lint 04/04/2019e
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/electronics/parts.json
  data/json/recipes/electronics/toolmod.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/tool.json
  data/json/recipes/other/vehicle.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29277 Fix kiwi nutrition values
  data/json/item_groups.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/raw_fruit.json
  data/json/requirements/cooking_components.json
Labels: <Bugfix>, Food / Vitamins, [JSON]

#29283 Fix fruit jam recipe and calories
  data/json/items/comestibles/fruit_dishes.json
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Food / Vitamins, [JSON]

#29284 Adds roof to liquor store
  data/json/itemgroups/food_service.json
  data/json/mapgen/s_liquor.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain.json
Labels: Mapgen, [JSON]

#29259 Adjust pit digging mechanics
  data/json/item_actions.json
  data/json/player_activities.json
  doc/PLAYER_ACTIVITY.md
  src/action.cpp
  src/action.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_type.cpp
  src/activity_type.h
  src/iuse.cpp
  src/player_activity.cpp
Labels: <Documentation>, [C++], [JSON]

#29282 Linting blacklisted json files.
  data/json/recipes/recipe_ammo.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29268 Consolidate overmap vision bonuses
  data/json/bionics.json
  data/json/items/bionics.json
  data/json/mutations.json
  src/game.cpp
  src/player.cpp
Labels: Character / Player, Code: Astyle / Optimization, Game: Balance, [C++]

#29288 Linting blacklisted json files.
  data/json/recipes/recipe_electronics.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29290 Fixed wrong vitamin set in debug menu
  src/debug_menu.cpp
Labels: <Bugfix>, Character / Player, Food / Vitamins, Info / User Interface

#29289 Allowed saving and/or quitting in tutorial
  src/tutorial.cpp
Labels: <Bugfix>, Other

#29292 Moved comments to separate line
  src/cata_tiles.cpp
  src/item_search.cpp
  src/npc.cpp
  src/sdltiles.cpp
  src/start_location.cpp
  src/wincurse.cpp
Labels: Code: Astyle / Optimization, [C++]

#29230 Make pointy stick craftable from two by fours.
  data/json/recipes/recipe_weapon.json
Labels: Crafting / Construction / Recipes, [JSON]

#28918 Mainline thatched roof from More Survival Tools
  data/json/construction.json
  data/json/terrain.json
  data/mods/More_Survival_Tools/construction.json
Labels: Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Mods, [JSON]

#29304 Linting blacklisted json files.
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/explosive.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29306 Linting blacklisted json files.
  data/mods/Animatronics/bankrupt_pizzeria.json
  data/mods/Animatronics/dead_animatronics.json
  data/mods/Animatronics/regional_overlay.json
  data/mods/Animatronics/speech.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#27994 [RDY] Sailboats
  data/json/items/generic.json
  data/mods/Boats/b_recipes.json
  data/mods/Boats/items_vehicleparts_boats.json
  data/mods/Boats/vehicleparts_boats.json
  doc/JSON_FLAGS.md
  src/vehicle.cpp
  src/vehicle.h
Labels: <Enhancement / Feature>, Vehicles, Weather, [C++], [JSON]

#28577 Shotgun Arm CBM
  data/json/bionics.json
  data/json/item_groups.json
  data/json/items/bionics.json
  data/json/items/gun/bio.json
  data/json/professions.json
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
Labels: Bionics, [JSON]

#28803 Gravedigging
  data/json/item_groups.json
  data/json/itemgroups/tools.json
  data/json/items/containers.json
  data/json/mapgen/cemetery_4square.json
  data/json/mapgen/cemetery_medium.json
  data/json/mapgen/cemetery_small.json
  data/json/mapgen/mortuary.json
  data/json/morale_types.json
  data/json/terrain.json
  src/activity_handlers.cpp
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/morale_types.cpp
  src/morale_types.h
  src/mutation.cpp
Labels: <Enhancement / Feature>, Character / Player, Crafting / Construction / Recipes, Mapgen, [C++]

#28935 Scuba tanks for underwater diving.
  data/json/item_actions.json
  data/json/item_groups.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/tool_armor.json
  doc/JSON_FLAGS.md
  src/item.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: <Enhancement / Feature>, Items / Item Actions / Item Qualities, [C++], [JSON]

#29161 Use strings for rotatable symbols, land use code and overmap terrains symbols
  data/json/mapgen/mapgen-test.json
  data/json/overmap/multitile_buildings_terrain.json
  data/json/overmap/overmap_land_use_codes.json
  data/json/overmap_terrain.json
  data/json/overmap_terrain_evac_center.json
  data/json/overmap_terrain_faction_base.json
  data/json/overmap_terrain_lab.json
  data/json/overmap_terrain_mall.json
  data/json/overmap_terrain_mansion.json
  data/json/overmap_terrain_necropolis.json
  data/json/overmap_terrain_ranch_camp.json
  data/json/overmap_terrain_river.json
  data/json/rotatable_symbols.json
  data/json/test_regions.json
  data/mods/Boats/overmap_terrain.json
  data/mods/BrightNights/overmap_terrain.json
  data/mods/DinoMod/fieldoffice.json
  data/mods/Fuji_Structures/worldgen/overmap_terrain.json
  data/mods/More_Locations/bandit_tower/overmap_terrain.json
  data/mods/More_Locations/estate/overmap_terrain.json
  data/mods/More_Locations/factory/overmap_terrain.json
  data/mods/More_Locations/military_outpost/overmap_terrain.json
  data/mods/More_Locations/multistory_houses/overmap_terrain.json
  data/mods/More_Locations/refugee_tower/overmap_terrain.json
  data/mods/More_Locations/tri_tower/overmap_terrain.json
  data/mods/National_Guard_Camp/overmap_terrain.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/alt_map_key/overmap_terrain.json
  data/mods/mapspecials_demo/FEMA/overmap_terrain.json
  data/mods/mapspecials_demo/megastore/overmap_terrain.json
  data/mods/mapspecials_demo/missile_silo/overmap_terrain.json
  doc/unicode_chars_palette.txt
  src/catacharset.h
  src/cursesport.cpp
  src/game.cpp
  src/generic_factory.h
  src/omdata.h
  src/output.h
  src/overmap.cpp
  src/overmap_ui.cpp
  src/panels.cpp
  src/rotatable_symbols.cpp
  src/rotatable_symbols.h
  src/wcwidth.h
Labels: Code: Astyle / Optimization, Mapgen, [C++], [JSON]

#29308 Make the inactive military dispatch item place the correct monster
  data/json/items/tools.json
Labels: <Bugfix>, Monsters, Spawn, [JSON]

#29318 Linting blacklisted json files.
  data/json/speech.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29319 Linting blacklisted json files.
  data/mods/EW_Pack/ew_ammo.json
  data/mods/EW_Pack/ew_ammo_handloaded.json
  data/mods/EW_Pack/ew_ammo_t.json
  data/mods/EW_Pack/ew_books.json
  data/mods/EW_Pack/ew_bullet_pulling.json
  data/mods/EW_Pack/ew_item_groups.json
  data/mods/EW_Pack/ew_recipes.json
  data/mods/EW_Pack/ew_weapons.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29320 Linting blacklisted json files.
  data/mods/Animatronics/animatronics.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29317 Update Retrodays Tileset - Dinos
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/RetroDaysTileset/tiles_20x20.png
Labels: Mods, SDL: Tiles / Sound

#29316 Adds candy shop roofs
  data/json/mapgen/s_candy.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap_terrain.json
  data/json/regional_map_settings.json
Labels: Mapgen, [JSON]

#29315 Tweaked Headless Zombies
  data/json/monsters.json
Labels: Game: Balance, Monsters

#29291 Mainline Filthy Clothes mod
  data/json/game_balance.json
  data/mods/Filthy_Morale/modinfo.json
  data/mods/No_Filthy_Clothes/modinfo.json
  data/mods/default.json
  src/monster.cpp
Labels: Game: Balance, Mods, [C++], [JSON]

#29324 Fixed erroneous max volume of several furniture types
  data/json/furniture.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#29334 Linting blacklisted json files.
  data/json/requirements/ammo.json
  data/json/snippets.json
  data/json/species.json
  json_blacklist
Labels: [JSON]

#29335 Linting blacklisted json files.
  data/mods/FictonalWeapons/fic_item_groups.json
  data/mods/FictonalWeapons/fic_mods.json
  data/mods/FictonalWeapons/fic_recipes.json
  data/mods/FictonalWeapons/fic_weapons.json
  data/mods/Generic_Guns/gg_bandolier_override.json
  data/mods/Generic_Guns/gg_guns_override.json
  data/mods/Generic_Guns/gg_itemgroups_ammo.json
  data/mods/Generic_Guns/gg_itemgroups_guns.json
  json_blacklist
Labels: [JSON]

#29328 Add missing copy constructors / assignment operators to fix warnings with GCC 9
  src/json.cpp
  src/json.h
  src/npc_class.cpp
  src/npc_class.h
Labels: Code: Astyle / Optimization, Code: Build, [C++]

#29327 Increased time to craft and components needed for steel frame and heavy duty frame
  data/json/recipes/recipe_others.json
Labels: <Bugfix>, Crafting / Construction / Recipes

#29331 Fix iterator invalidation in panel_manager::deserialize()
  src/panels.cpp
Labels: <Bugfix>, Code: Astyle / Optimization

#29342 Fix line endings in gradlew.bat
  android/gradlew.bat
Labels: Code: Build, OS: Android

#29340 Linting blacklisted json files.
  data/mods/No_Fungi/comestibles.json
  data/mods/No_Fungi/furniture.json
  data/mods/No_Fungi/terrain.json
  data/mods/No_Survivor_Armor/survivor.json
  json_blacklist
Labels: [JSON]

#29337 Linting blacklisted json files.
  data/json/techniques.json
  json_blacklist
Labels: [JSON]

#29338 Linting blacklisted json files.
  data/mods/Medieval_Stuff/item_groups.json
  data/mods/Medieval_Stuff/martialarts.json
  data/mods/Medieval_Stuff/mutations.json
  data/mods/Medieval_Stuff/professions.json
  data/mods/Medieval_Stuff/recipe_ammo.json
  data/mods/Medieval_Stuff/recipe_armor.json
  data/mods/Medieval_Stuff/recipe_shields.json
  data/mods/Medieval_Stuff/recipe_weapons.json
  data/mods/Medieval_Stuff/techniques.json
  json_blacklist
Labels: [JSON]

#29339 Linting blacklisted json files.
  data/mods/makeshift/item.json
  data/mods/makeshift/item_groups.json
  data/mods/makeshift/recipe.json
  data/mods/realguns/ammo.json
  data/mods/realguns/armor.json
  data/mods/realguns/item_groups.json
  data/mods/realguns/requirements.json
  json_blacklist
Labels: [JSON]

#29346 Linting blacklisted json files.
  data/mods/Craft_Gunpowder/cgp_ranged.json
  data/mods/Craft_Gunpowder/cgp_recipes.json
  data/mods/DeoxyMod/Deoxy_vehicle_parts.json
  json_blacklist
Labels: [JSON]

#29348 Linting blacklisted json files.
  data/mods/More_Locations/bandit_tower/overmap_specials.json
  data/mods/More_Locations/bandit_tower/overmap_terrain.json
  data/mods/More_Locations/captive_faction/NC_CAPTIVE.json
  data/mods/More_Locations/captive_faction/NC_MUTANT_CAPTIVE.json
  data/mods/More_Locations/captive_faction/TALK_CAPTIVE.json
  data/mods/More_Locations/captive_faction/captive_classes.json
  data/mods/More_Locations/captive_faction/captive_item_groups.json
  data/mods/More_Locations/captive_faction/captive_npc.json
  json_blacklist
Labels: [JSON]

#29347 Optional Shotgun Arm CBM's fields loading
  src/bionics.cpp
Labels: (P2 - High), <Bugfix>, Bionics, [C++]

#29351 Fixed rotatable symbol definitions
  data/json/rotatable_symbols.json
Labels: Info / User Interface, Mapgen, [JSON]

#29352 Prevent players from mutating facial hair
  data/json/mutation_appearance.json
Labels: Mutations / Traits / Professions, [JSON]

#29354 Return 0 on fuel consumption if the engine isn't running
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#29344 mainline fire ring from more survival tools
  data/json/construction.json
  data/json/furniture.json
  data/json/mapgen/campsite.json
  data/mods/More_Survival_Tools/construction.json
  data/mods/More_Survival_Tools/furniture.json
Labels: Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Mods, [JSON]

#29355 Fix #28836 - erroneous wake error message.
  src/player_hardcoded_effects.cpp
Labels: <Bugfix>, Character / Player, [C++]

#29359 Ascii offset fixes
  src/action.cpp
  src/game.cpp
  src/handle_action.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#29360 Add sleep deprivation messages for NPCs
  src/player.cpp
Labels: <Bugfix>, Info / User Interface, NPC / Factions, [C++]

#29363 Make pry-on-examine use best tool
  src/iexamine.cpp
Labels: Quality of Life, [C++]

#29326 Overmap land use codes (Step 3)
  data/json/overmap_terrain.json
  data/json/overmap_terrain_agricultural.json
  data/json/overmap_terrain_cemetery.json
  data/json/overmap_terrain_commercial.json
  data/json/overmap_terrain_hardcoded.json
  data/json/overmap_terrain_industrial.json
  data/json/overmap_terrain_military.json
  data/json/overmap_terrain_public_institutional.json
  data/json/overmap_terrain_recreational.json
  data/json/overmap_terrain_residential.json
  data/json/overmap_terrain_transportation.json
  data/json/overmap_terrain_waste_junk.json
Labels: Mapgen, [JSON]

#29375 Reduce meat pizza volume
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/wheat.json
Labels: <Bugfix>, Food / Vitamins, [JSON]

#29376 Lint json and remove from blacklist
  data/json/mapgen/ponds.json
  data/json/mapgen/swamp_shack.json
  data/json/mapgen/triffid_grove.json
  data/json/mapgen_palettes/hospital.json
  data/json/mapgen_palettes/houses_multistory.json
  data/json/mapgen_palettes/shelter.json
  data/json/overmap/multitile_buildings_terrain.json
  data/json/overmap_connections.json
  data/raw/color_templates/no_bright_background.json
  data/raw/colors.json
  data/raw/keybindings.json
  data/raw/keybindings/vehicle.json
  data/sound/Basic/soundset.json
  json_blacklist
  tests/data/name.json
Labels: Code: Astyle / Optimization, [JSON]

#29378 Linting blacklisted json files.
  data/mods/More_Locations/estate/overmap_specials.json
  data/mods/More_Locations/estate/overmap_terrain.json
  data/mods/More_Locations/factions.json
  data/mods/More_Locations/factory/overmap_specials.json
  data/mods/More_Locations/factory/overmap_terrain.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29379 Linting blacklisted json files.
  data/mods/More_Locations/military_outpost/monster_groups.json
  data/mods/More_Locations/military_outpost/overmap_specials.json
  data/mods/More_Locations/military_outpost/overmap_terrain.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29381 Linting blacklisted json files.
  data/mods/More_Locations/multistory_houses/overmap_terrain.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29380 Linting blacklisted json files.
  data/mods/More_Locations/multistory_houses/overmap_specials.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29369 Small Aftershock balance patch, plus a new goodie
  data/mods/Aftershock/items/afs_tools.json
  data/mods/Aftershock/items/afs_weapons.json
  data/mods/Aftershock/player/afs_techniques.json
  data/mods/Aftershock/recipes/afs__recipes.json
Labels: Game: Balance, Mods, [JSON]

#29367 NPCs: Add 3 new NPC AI rules
  data/json/npcs/TALK_COMMON_ALLY.json
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: <Enhancement / Feature>, NPC / Factions, Quality of Life, [C++]

#29385 Linting blacklisted json files.
  data/mods/More_Locations/npc.json
  data/mods/More_Locations/refugee_faction/NC_MUTANT_REFUGEE.json
  data/mods/More_Locations/refugee_faction/NC_REFUGEE.json
  data/mods/More_Locations/refugee_faction/NC_TALENTED_REFUGEE.json
  data/mods/More_Locations/refugee_faction/refugee_classes.json
  data/mods/More_Locations/refugee_faction/refugee_item_groups.json
  data/mods/More_Locations/refugee_faction/refugee_npc.json
  data/mods/More_Locations/refugee_faction/talk_flags.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29387 Linting blacklisted json files.
  data/mods/More_Locations/refugee_tower/overmap_specials.json
  data/mods/More_Locations/refugee_tower/overmap_terrain.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29389 Linting blacklisted json files.
  data/mods/More_Locations/snippets.json
  data/mods/More_Locations/terrain.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#29388 Linting blacklisted json files.
  data/mods/More_Locations/secret_doors/secret_door_gates.json
  data/mods/More_Locations/secret_doors/secret_door_terrain.json
  json_blacklist
Labels: Code: Astyle / Optimization, [JSON]

#28937 [RDY] Initial craft entity implementation
  data/json/item_actions.json
  data/json/items/generic.json
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/clzones.cpp
  src/consumption.cpp
  src/craft_command.cpp
  src/craft_command.h
  src/crafting.cpp
  src/dump.cpp
  src/faction_camp.cpp
  src/game_inventory.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/map.cpp
  src/monattack.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/player.cpp
  src/player.h
  src/player_activity.cpp
  src/player_activity.h
  src/savegame_json.cpp
  src/savegame_legacy.cpp
  tests/crafting_test.cpp
Labels: <Bugfix>, Character / Player, Crafting / Construction / Recipes, Game: Mechanics Change, Items / Item Actions / Item Qualities, [C++]

#29399 fixed pony wall deconstruct
  data/json/terrain.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#29403 Prison Break scenario no longer begins with an NPC
  data/json/scenarios/scenarios.json
Labels: Character / World Generation, [JSON]

#28049 Stomach Contents
  data/json/items/comestibles/other.json
  src/activity_handlers.cpp
  src/calendar.cpp
  src/calendar.h
  src/character.cpp
  src/character.h
  src/construction.cpp
  src/consumption.cpp
  src/debug_menu.cpp
  src/game.cpp
  src/iexamine.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/mutation.cpp
  src/mutation_ui.cpp
  src/player.cpp
  src/player.h
  src/player_display.cpp
  src/player_hardcoded_effects.cpp
  src/savegame_json.cpp
  src/stomach.cpp
  src/stomach.h
  src/vehicle.cpp
  tests/stomach_contents_tests.cpp
Labels: Character / Player, Code: Tests, Food / Vitamins, Game: Mechanics Change, [C++], [JSON]

#29287 Favorite System v1.0
  data/raw/keybindings.json
  src/advanced_inv.cpp
  src/game_inventory.cpp
  src/inventory.cpp
  src/inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item.cpp
  src/item.h
Labels: <Enhancement / Feature>, Info / User Interface, Quality of Life, [C++]

#29366 Add speedloaders for many guns
  data/json/itemgroups/magazines.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/38.json
  data/json/items/gun/40.json
  data/json/items/gun/44.json
  data/json/items/gun/454.json
  data/json/items/gun/460.json
  data/json/items/gun/500.json
  data/json/items/gun/8x40mm.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/22.json
  data/json/items/magazine/223.json
  data/json/items/magazine/38.json
  data/json/items/magazine/40.json
  data/json/items/magazine/44.json
  data/json/items/magazine/454.json
  data/json/items/magazine/460.json
  data/json/items/magazine/500.json
  data/json/items/magazine/8x40mm.json
  data/json/items/magazine/9mm.json
  data/json/recipes/weapon/magazines.json
  data/mods/FictonalWeapons/fic_item_groups.json
  data/mods/FictonalWeapons/fic_weapons.json
  data/mods/FictonalWeapons/ficmags.json
  data/mods/Generic_Guns/gg_magazines_blacklist.json
  data/mods/Generic_Guns/gg_magazines_override.json
  data/mods/realguns/gun.json
  data/mods/realguns/magazine.json
Labels: <Enhancement / Feature>, Magazines, [JSON]

#29374 factions: Refactor faction code
  src/basecamp.cpp
  src/basecamp.h
  src/faction.cpp
  src/faction.h
  src/mission_start.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/savegame_json.cpp
Labels: Code: Astyle / Optimization, NPC / Factions, [C++]

#29400 Add nutrition value disclaimer to crafting UI
  src/crafting_gui.cpp
Labels: Info / User Interface

#29294 missions: move Old Guard rep mission start functions to JSON
  data/json/npcs/missiondef.json
  doc/MAPGEN.md
  doc/MISSIONS_JSON.md
  src/init.cpp
  src/mapgen.cpp
  src/mapgen.h
  src/mapgen_functions.h
  src/mission.cpp
  src/mission.h
  src/mission_start.cpp
  src/mission_util.cpp
  src/missiondef.cpp
Labels: <Enhancement / Feature>, Mapgen, Missions, [C++], [JSON]

#28122 Fonts changing ingame
  src/font_loader.h
  src/options.cpp
  src/sdltiles.cpp
Labels: <Enhancement / Feature>, Info / User Interface, SDL: Tiles / Sound

#29364 Enable zooming when looking around or peeking
  data/raw/keybindings.json
  src/game.cpp
Labels: Info / User Interface, Quality of Life, SDL: Tiles / Sound

#29405 Add randomized NPC appearance trait group to Mutant NPCs mod
  data/mods/Mutant_NPCs/trait_groups.json
Labels: Mutations / Traits / Professions, NPC / Factions, [JSON]

#29402 Jsonizes sleep-friendly bionics
  data/json/bionics.json
  data/mods/Aftershock/player/afs_bionics.json
  doc/JSON_FLAGS.md
  src/bionics.cpp
  src/bionics.h
  src/handle_action.cpp
Labels: <Enhancement / Feature>, Bionics, Info / User Interface, [C++], [JSON]

#29370 Enable mouse panning while looking around or peeking.
  src/game.cpp
Labels: <Enhancement / Feature>, Info / User Interface, SDL: Tiles / Sound

#29397 NPC shouts: add danger zone override shout
  data/json/npcs/TALK_COMMON_ALLY.json
  src/dialogue.h
  src/npc.cpp
  src/npc.h
  src/npctalk.cpp
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [C++]
