Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-09, with the labels that each got.

#43361 Fix analyze zombie blood quest at centrifuge
  src/computer_session.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Missions, [C++]

#43333 Adds more wall types for faction camps central building
  data/json/mapgen/basecamps/modular_field_log.json
  data/json/mapgen/basecamps/modular_field_rock.json
  data/json/recipes/basecamps/recipe_modular_field_log.json
  data/json/recipes/basecamps/recipe_modular_field_rock.json
Labels: Map / Mapgen, Player Faction Base / Camp, [JSON]

#43356 Don't trigger bening traps
  src/map.cpp
Labels: Fields / Furniture / Terrain / Traps, Info / User Interface, Mechanics: Character / Player

#43368 remove dead class member from spell_type
  src/magic.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#43367 Fix unloading ammo belts
  src/player.cpp
Labels: <Bugfix>, Items: Magazines, [C++]

#43327 Update of makeshift knife to make it more like spike
  data/json/items/melee/swords_and_blades.json
Labels: [JSON]

#43379 Fix bio_batteries failing tests
  tests/bionics_test.cpp
Labels: <Bugfix>, Code: Tests

#43377 Fix Solar Panel CBM of Aftershock
  src/bionics.cpp
Labels: <Bugfix>, Bionics, Mods: Aftershock, [C++]

#43373 Easier transversability within collapsed tower basement
  data/json/mapgen/collapsed_tower.json
  data/json/monsters/zed_fusion.json
Labels: Map / Mapgen, [JSON]

#43363 Add debugmsg capture for tests
  src/debug.cpp
  src/debug.h
  tests/ammo_set_test.cpp
  tests/battery_mod_test.cpp
  tests/pocket_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#42895 🌹 Alonso mission 🌹
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
Labels: Missions, NPC / Factions, [JSON]

#43200 Make Solar Sensitivity mutation respect clothing coverage, precious
  data/mods/TEST_DATA/items.json
  src/character.h
  src/suffer.cpp
  tests/char_exposure_test.cpp
  tests/char_suffer_test.cpp
Labels: <Enhancement / Feature>, Character / World Generation, Code: Tests, [C++]

#43350 Raptor adjustments
  data/json/mapgen/butcher.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed-pupating.json
  data/json/monsters/zed-winged.json
  src/mattack_actors.cpp
Labels: <Bugfix>, Game: Balance, Monsters, Spawn, [C++], [JSON]

#43375 Fix fire field identifiers
  src/game.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++]

#43376 Fix body parts in JSON
  data/json/items/armor/suits_protection.json
  data/json/mutations/mutation_spells.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/cast_spell_items.json
  data/mods/Aftershock/mutations/obsolete.json
  data/mods/Magiclysm/Spells/classless.json
Labels: <Bugfix>, Mods: Aftershock, Mods: Magiclysm, [JSON]

#43383 Speed up trait lookups by using filters
  src/character.h
  src/mutation.cpp
  src/newcharacter.cpp
Labels: Code: Performance, Mutations / Traits / Professions, [C++]

#43392 Changelog June 2020
  data/changelog.txt
Labels: Organization

#43275 Adds luxury sedan with V6 and leather seats.
  data/json/vehicle_groups.json
  data/json/vehicles/cars.json
Labels: Vehicles, [JSON]

#43323 Artifact fluff
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/items/tool/deployable.json
  data/json/mapgen/microlab/microlab_special_tiles.json
  data/json/snippets/dimensional_exploration.json
Labels: Lore, [JSON]

#41677 Fix liquid ammo reload and container issues
  doc/JSON_INFO.md
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_group.cpp
  src/item_pocket.cpp
  src/mapgen.cpp
  src/npc.cpp
  src/ranged.cpp
  tests/battery_mod_test.cpp
  tests/pocket_test.cpp
Labels: <Bugfix>, <Documentation>, Items: Ammo, Items: Containers, [C++], [Markdown]

#43416 Ultica Updates, 2020 09 02
  gfx/UltimateCataclysm/fillergiant.png
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/giant.png
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
  gfx/UltimateCataclysm/tileset.txt
Labels: SDL: Tiles / Sound

#43417 rename wander spawns to wandering hordes
  src/options.cpp
Labels: Character / World Generation, Info / User Interface, [C++]

#43408 Move more player functions into character
  src/character.cpp
  src/character.h
  src/martialarts.cpp
  src/melee.cpp
  src/player.cpp
  src/player.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#43351 Active enchantment condition
  data/json/enchantments.json
  data/mods/TEST_DATA/bionics.json
  data/mods/TEST_DATA/mutations.json
  doc/MAGIC.md
  src/character.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/mutation.cpp
  tests/enchantments_test.cpp
Labels: Artifacts, Bionics, Items / Item Actions / Item Qualities, Mutations / Traits / Professions, [C++]

#43411 Changelog August
  data/changelog.txt
Labels: Organization

#43406 Fix items activated from inventory screen being free to obtain
  src/avatar_action.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, [C++]

#43409 Show correct duration for permanent spells in spell info
  data/json/flags.json
  data/mods/TEST_DATA/magic.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic_spell_effect.cpp
  tests/magic_spell_test.cpp
Labels: Code: Tests, Info / User Interface, Mods: Magiclysm, [C++], [JSON]

#43441 Eliminate pickaxe-in-pocket exploit
  data/json/items/tool/workshop.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#43445 Fix CRT martial art skill requirements
  data/mods/CRT_EXPANSION/martial/CRT_Bladework.json
Labels: Items / Item Actions / Item Qualities, Mods

#43427 fix pocket_type when put_in magazine_default
  src/mapgen.cpp
Labels: <Bugfix>, Items: Magazines, [C++]

#43423 Аdd charges to permanent_marker, sewing_kit and laptop in professions.json
  data/json/professions.json
Labels: Items / Item Actions / Item Qualities, Mutations / Traits / Professions, [JSON]

#43421 Make mutation_category ids be string_ids
  src/cata_variant.h
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/magic_spell_effect.cpp
  src/map_field.cpp
  src/memorial_logger.cpp
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/npc_class.cpp
  src/npc_class.h
  src/player.cpp
  src/player.h
  src/player_hardcoded_effects.cpp
  src/type_id.h
  src/wish.cpp
  tests/memorial_test.cpp
  tests/modify_morale_test.cpp
  tests/mutation_test.cpp
  tools/clang-tidy-plugin/StaticStringIdConstantsCheck.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Mutations / Traits / Professions, [C++]

#43331 [DinoMod] More locations
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/mods/DinoMod/mapgen/basement_chem.json
  data/mods/DinoMod/mapgen/basement_lab_stairs.json
  data/mods/DinoMod/mapgen/zoo.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/startlocations.json
Labels: Map / Mapgen, Mods: Dinoclysm, Spawn, [JSON]

#43326 Expand Sewers With Map Extras
  data/json/mapgen/map_extras/sewers.json
  data/json/mapgen_palettes/sewers_palette.json
  data/json/overmap/map_extras.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
  data/json/regional_map_settings.json
Labels: Map / Mapgen, [JSON]

#43334 More Coffee Mug Flavor Text
  data/json/items/generic/dining_kitchen.json
Labels: [JSON]

#43438 Add option to batch craft starch from cattails in camp
  data/json/recipes/basecamps/recipe_groups.json
Labels: Crafting / Construction / Recipes, Player Faction Base / Camp, [JSON]

#43244 Add gutskin hood.
  data/json/items/armor/hoods.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/torso.json
Labels: Crafting / Construction / Recipes, [JSON]

#43450 Code optimizations reported by static code analysis (2020-08-26)
  src/activity_actor.cpp
  src/avatar_action.cpp
  src/avatar_action.h
  src/basecamp.h
  src/bodypart.h
  src/cata_tiles.h
  src/debug.cpp
  src/editmap.h
  src/effect.cpp
  src/effect.h
  src/filesystem.cpp
  src/game.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item_pocket.h
  src/iuse.cpp
  src/iuse_software_kitten.h
  src/iuse_software_lightson.h
  src/json.cpp
  src/magic.cpp
  src/magic_ter_furn_transform.h
  src/map.h
  src/mapdata.cpp
  src/mattack_actors.h
  src/monattack.cpp
  src/monster.h
  src/morale.h
  src/move_mode.h
  src/npc.h
  src/npctrade.h
  src/overmap.cpp
  src/overmap.h
  src/player.cpp
  src/player.h
  src/proficiency.h
  src/projectile.h
  src/regional_settings.h
  src/relic.h
  src/sdlsound.cpp
  src/speech.h
  src/stomach.h
  src/submap.cpp
  src/suffer.cpp
  src/talker.h
  src/vehicle.h
  src/vehicle_move.cpp
  tests/char_biometrics_test.cpp
  tests/char_suffer_test.cpp
  tests/enchantments_test.cpp
  tests/invlet_test.cpp
  tests/iuse_actor_test.cpp
  tools/format/getpost.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#43463 Add --list/-L argument to keys.py/values.py
  tools/json_tools/keys.py
  tools/json_tools/values.py
Labels: Code: Tooling, [Python]

#43135 Warn if friendly creature or non-hostile NPC enters line of fire
  src/activity_actor.h
  src/ranged.cpp
  src/ranged.h
Labels: NPC / Factions, Quality of Life, [C++]

#43172 Mutant dreams
  data/json/dreams.json
Labels: [JSON]

#43449 fix mop_spills crash
  src/map.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++]

#43458 add recruit unlocking to faction camp radio console
  data/json/recipes/basecamps/recipe_modular_field_common.json
Labels: Player Faction Base / Camp, [JSON]

#43460 add recipe maid outfit
  data/json/recipes/armor/head.json
  data/json/recipes/armor/torso.json
Labels: Crafting / Construction / Recipes, [JSON]

#43461 Gives sunglasses trait to riot helmets
  data/json/items/tool_armor.json
Labels: [JSON]

#43462 Increase sunburn test margin to mitigate failure
  tests/char_suffer_test.cpp
Labels: Code: Tests

#43472 Add page up and page down keybindings to ascend and descend stairs
  data/raw/keybindings.json
Labels: Quality of Life

#43478 Make default activity level for food "light exercise"
  data/json/recipes/recipe_food.json
Labels: [JSON]

#43488 add translate context to training intensity
  src/activity_actor.cpp
Labels: Translation

#43975 Allow disassembly of sourdough starter regardless of maturity
  data/json/uncraft/food/sourdough.json
Labels: Crafting / Construction / Recipes, [JSON]

#43474 Aftershock: Megacity oriented overmap generation adjustments
  data/mods/Aftershock/region_settings.json
Labels: Map / Mapgen, Mods: Aftershock, [JSON]

#43976 Aftershock: New Melee oriented bionics
  data/mods/Aftershock/effects.json
  data/mods/Aftershock/itemgroups/bionics_groups.json
  data/mods/Aftershock/items/cbms.json
  data/mods/Aftershock/player/bionics.json
  data/mods/Aftershock/spells/enchantments.json
  data/mods/Aftershock/spells/spells.json
Labels: Bionics, Mods: Aftershock, [JSON]

#43978 Rifle Itemgroups Audit
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
Labels: Game: Balance, Ranged, Spawn, [JSON]

#43984 Blacksmithing automated recipe activity changes
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_companion.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/piercing.json
  data/json/uncraft/armor/boots.json
  data/json/uncraft/generic.json
Labels: Crafting / Construction / Recipes, [JSON]

#42963 Add documentation for mutation, comestible, and gunmod fields
  doc/JSON_INFO.md
Labels: <Documentation>

#43238 More windows hardcode
  data/json/furniture_and_terrain/terrain-windows.json
  src/iexamine.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: Fields / Furniture / Terrain / Traps, [C++], [JSON]

#43393 Craft Gui show amounts
  src/crafting_gui.cpp
  src/inventory.cpp
  src/inventory.h
  src/recipe.cpp
  src/recipe.h
Labels: 0.F Feature Freeze, Crafting / Construction / Recipes, Info / User Interface, Quality of Life, [C++]

#43466 add some long gun cases/containers
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/storage.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/store/s_gunstore.json
  data/json/mapgen/store/s_hunting.json
  data/json/recipes/armor/storage.json
Labels: Crafting / Construction / Recipes, Items: Containers, [JSON]

#43988 Change activity_level for food dehydration to NO_EXERCISE
  data/json/recipes/food/dry.json
Labels: Crafting / Construction / Recipes, [JSON]

#43992 Fix droping NO_DROP items from destroyed container
  src/iuse_actor.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#43997 Forging automated recipe acitivty changes
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_companion.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/uncraft/generic.json
Labels: Crafting / Construction / Recipes, [JSON]

#44001 Show electric power in vehicle part descriptions
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_flags.json
  src/veh_type.cpp
Labels: Info / User Interface, Vehicles

#44002 Fix pushing past enemies on stairs in a mech
  src/game.cpp
Labels: <Bugfix>, [C++]

#44010 Wip mutation category
  data/mods/Magiclysm/mutations/dragon_mutation_category.json
  doc/JSON_INFO.md
  src/mutation.h
  src/mutation_data.cpp
  tests/mutation_test.cpp
Labels: <Documentation>, Code: Build, Code: Tests, Mods, Mods: Magiclysm, Mutations / Traits / Professions, [C++], [JSON]

#44008 Deprecate mutation and bionic functions from player to character
  src/animation.cpp
  src/avatar.h
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.h
  src/mutation.cpp
  src/mutation_ui.cpp
  src/player.cpp
  src/player.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#43987 Misc fixes
  data/mods/More_Locations/military_outpost/mil_outpost_uteb_04.json
  src/item_contents.cpp
  src/player_activity.cpp
Labels: <Bugfix>, [C++]

#44004 Add achievements related to kills
  data/json/achievements.json
  data/json/statistics.json
Labels: Game: Achievements / Conducts / Scores

#43473 [DinoMod] Acrocanthosaurus and dino faction overhaul and juvenile dinos
  data/mods/DinoMod/cooking_components.json
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/obsolete/monsters.json
Labels: <Bugfix>, Items: Food / Vitamins, Mods: Dinoclysm, Monsters, Spawn, [JSON]

#43994 Raise contain_volume for spear strap.
  data/json/items/armor/sheath.json
Labels: Items: Containers, [JSON]

#43325 [CR] Add New Black Dragon Mutation Line
  data/mods/Magiclysm/Spells/black_dragon.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/mutations/mutation_effects.json
  data/mods/Magiclysm/mutations/mutation_enchantments.json
  data/mods/Magiclysm/mutations/mutations.json
Labels: Mods: Magiclysm, Mutations / Traits / Professions, [JSON]

#44023 Add mutation threshold achievements
  data/json/achievements.json
  data/json/statistics.json
Labels: Game: Achievements / Conducts / Scores

#44019 Don't serialize default pocket settings
  src/savegame_json.cpp
Labels: [C++], [JSON]

#44024 [Magiclysm] Adjust black dragon lair fog
  data/json/field_type.json
  data/mods/Magiclysm/monsters/dragon.json
  data/mods/Magiclysm/monsters/lizardfolk.json
  data/mods/Magiclysm/monsters/monsters.json
  data/mods/Magiclysm/worldgen/black_dragon_lair.json
Labels: Mods: Magiclysm, [JSON]

#43477 Move magiclysm clairvoyance field to a cache
  src/lightmap.cpp
  src/map.cpp
  src/map.h
Labels: Code: Performance

#44026 Fix turret missing eyes
  src/character.cpp
Labels: <Bugfix>, Monsters

#44027 Welding automated recipe activity changes
  data/json/recipes/other/parts.json
  data/json/recipes/other/tool.json
  data/json/recipes/other/vehicle.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/uncraft/vehicle/noise.json
Labels: Crafting / Construction / Recipes, [JSON]

#44014 [CR] Remove second call to `update_visibility_cache`
  src/cata_tiles.cpp
Labels: Code: Performance, [C++]

#43469 [CR] Performance improvements, particularly in `build_sunlight_cache`
  src/game.cpp
  src/lightmap.cpp
  src/map.h
  src/shadowcasting.h
Labels: Code: Performance, [C++]

#44018 rescope npc melee and gun value related functions from player to Character
  src/character.h
  src/item.cpp
  src/item.h
  src/melee.cpp
  src/player.h
  src/ranged.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#43996 Allow canceling spilling when eating from sealed container
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/game.cpp
  src/game.h
  src/item.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/pickup.cpp
  src/pickup.h
  src/player.h
Labels: <Bugfix>, Items: Containers, [C++]

#43989 Remove NETHER species from all slimes.
  data/json/monsters/slimes.json
Labels: Monsters

#43258 Warn about setting firewood source on fire.
  src/iuse_actor.cpp
Labels: Info / User Interface, Quality of Life

#44013 Performance improvements related to map::process_fields
  src/field.cpp
  src/map.cpp
  src/map_field.cpp
Labels: Code: Performance, Fields / Furniture / Terrain / Traps, [C++]

#43198 Bloated Corvid enemy
  data/json/monstergroups/mutant_upgrades.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/bird.json
Labels: Monsters, [JSON]

#44016 Sort out headlights
  data/json/vehicleparts/lights.json
  data/json/vehicles/bikes.json
  tests/vehicle_efficiency_test.cpp
Labels: Vehicles, [JSON]

#44028 Audited gun store spawns
  data/json/mapgen/gunsmith.json
  data/json/mapgen/s_gun.json
Labels: Game: Balance, Spawn, [JSON]

#44033 Fix loading deployable turrets with ammo
  src/iuse_actor.cpp
Labels: <Bugfix>, [C++]

#44034 Make less translation calls
  src/input.cpp
  src/mission_companion.cpp
  src/requirements.cpp
Labels: Code: Performance, Translation, [C++]

#44035 Improve and document mutation tests
  tests/mutation_test.cpp
Labels: Code: Tests, [C++]

#44015 Add foldable flag to ultralight frames in Aftershock
  data/mods/Aftershock/recipes/recipes.json
  data/mods/Aftershock/vehicles/part_items.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: Mods: Aftershock, Vehicles, [JSON]

#44040 Aftershock: Downgrade autodoc version within Augmentation Clinics
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/maps/mapgen/augmentation_clinic.json
Labels: Map / Mapgen, Mods: Aftershock, [JSON]

#44009 Changelog sep
  data/changelog.txt
Labels: Organization

#44041 Add sweet cataclysm sprites to BrownLikeBears
  gfx/BrownLikeBears/mods.png
  gfx/BrownLikeBears/tile_config.json
Labels: Mods, SDL: Tiles / Sound

#44060 Increase performance when character is suffering in sunlight
  src/suffer.cpp
Labels: Code: Performance, Mechanics: Character / Player, Mutations / Traits / Professions, [C++]

#44051 Jsonize stomach size multiplier
  data/json/mutations/mutations.json
  src/character.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/stomach.cpp
Labels: Code: Performance, Mechanics: Character / Player, Mutations / Traits / Professions, [C++], [JSON]

#44056 Appease clang (2020-09-08)
  src/map_field.cpp
Labels: Code: Build, [C++]

#44050 Remove excessive translation calls
  src/game.cpp
Labels: Code: Performance, Translation, [C++]

#44048 Defer some translation calls
  src/character.cpp
Labels: Code: Performance, Translation, [C++]

#44039 Conducts related to attacking and smashing
  data/json/conducts.json
  data/json/statistics.json
  src/cata_variant.cpp
  src/cata_variant.h
  src/event.cpp
  src/event.h
  src/handle_action.cpp
  src/melee.cpp
  src/memorial_logger.cpp
  src/ranged.cpp
Labels: Game: Achievements / Conducts / Scores

#44054 Tweak arithmetic for better precision
  src/suffer.cpp
Labels: Code: Tests, [C++]

#44059 don't write default values in json: implementation
  src/json.h
  src/magic.cpp
  src/magic.h
  tests/json_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++], [JSON]

#44069 move static variable initializations out of header
  src/magic.cpp
  src/magic.h
Labels: <Bugfix>

#44000 [DinoMod] Siats and spawn rebalance
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/cooking_components.json
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
Labels: Items: Food / Vitamins, Mods: Dinoclysm, Monsters, Spawn, [JSON]

#44073 [Aftershock] Bugfix Ganger Background Story
  data/mods/Aftershock/npcs/Backgrounds/ganger_3.json
Labels: <Bugfix>, NPC / Factions, [JSON]

#44072 Bugfix Blood Draw Kit can't hold blood sample
  data/json/items/tool/med.json
Labels: <Bugfix>, Items: Containers, [JSON]

#44079 Air is invisible
  data/json/field_type.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#44046 Tweaks to stabbing and cutting skill books.
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/books.json
  data/json/itemgroups/military.json
  data/json/items/book/cutting.json
  data/json/items/book/stabbing.json
Labels: [JSON]

#44078 Replace sort_case_insensitive_less
  src/advanced_inv.cpp
  src/advanced_inv.h
  src/item.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Translation, [C++]

#44081 Soldering automated recipe activity level changes
  data/json/recipes/electronics/parts.json
  data/json/recipes/electronics/toolmod.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/explosive.json
  data/json/recipes/weapon/mods.json
  data/json/uncraft/vehicle/alternator.json
  data/json/uncraft/vehicle/noise.json
  data/mods/Aftershock/recipes/recipe_overrides.json
Labels: Crafting / Construction / Recipes, [JSON]

#44077 Make item categorisation consistently use contents where appropriate
  src/condition.cpp
  src/consumption.cpp
  src/game.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item.h
  src/item_pocket.cpp
  src/item_search.cpp
  src/map_item_stack.cpp
  src/npctalk.cpp
  src/npctrade.cpp
  tests/npc_talk_test.cpp
Labels: Info / User Interface, Items: Containers, [C++]

#44070 Improve invalidation of the max_populated_zlev cache
  src/cata_tiles.cpp
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/mapgen.cpp
Labels: Code: Performance, [C++]

#43991 Lower weight of soap.
  data/json/items/ammo.json
Labels: [JSON]

#42599 Add western holster
  data/json/items/armor/holster.json
  data/json/professions.json
  data/json/recipes/armor/storage.json
Labels: 0.F Content Freeze, Items: Containers, [JSON]

#43424 Longest Side Audit for archery.json, 500.json, 22.json, 38.json and atgm.json
  data/json/items/gun/22.json
  data/json/items/gun/38.json
  data/json/items/gun/500.json
  data/json/items/gun/atgm.json
  data/json/items/ranged/archery.json
Labels: Items / Item Actions / Item Qualities, Ranged, [JSON]

#44094 Fixed misplaced sidewalk tile in house_19
  data/json/mapgen/house/house19.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#43447 Inventory fix for the CRIT classes
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
Labels: Mods, Mutations / Traits / Professions, [JSON]

#44063 Fix crafting with wielded item and force unarmed style
  src/character.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#43405 Automatically fail to dodge monster attacks when effective dodge is 0
  src/creature.cpp
  src/monattack.cpp
  src/monster.cpp
  tests/melee_test.cpp
Labels: <Bugfix>, Melee, [C++]

#43396 Add debug command to teleport to specific overmap coordinates
  src/debug_menu.cpp
  src/debug_menu.h
Labels: [C++]

#42455 Make brass catcher a container and catch brass
  data/json/items/gunmod/brass_catcher.json
  src/character.cpp
  src/item.cpp
  src/item.h
  src/player.cpp
  src/ranged.cpp
Labels: <Bugfix>, Items: Containers, Items: Gunmod / Toolmod, [C++]

#42108 [CR] Wallet item
  data/json/items/generic.json
  data/json/recipes/armor/storage.json
Labels: Items: Containers, [JSON]

#44012 Show preview before gunmod attachment
  src/game_inventory.cpp
  src/game_inventory.h
  src/iuse.cpp
Labels: Info / User Interface, Items: Gunmod / Toolmod, Quality of Life, [C++]

#44049 Jsonize vomit mod multiplier
  data/json/mutations/mutations.json
  src/character.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/player.cpp
Labels: Code: Performance, Mutations / Traits / Professions, [C++], [JSON]

#44083 Increase performance of character trait check
  src/character.h
  src/magic_enchantment.h
  src/monster.cpp
  src/mutation.cpp
  src/newcharacter.cpp
Labels: Code: Performance, Mutations / Traits / Professions, [C++]

#44089 Add ropemaking proficiencies and smooth out ropemaking recipes
  data/json/professions.json
  data/json/proficiencies/wilderness.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, [JSON]

#44031 Move ethereal flag to dedicated item class member
  data/json/flags.json
  src/item.cpp
  src/item.h
  src/magic_spell_effect.cpp
  src/savegame_json.cpp
Labels: Code: Performance, Items / Item Actions / Item Qualities, [C++]

#43183 the frog mother
  data/json/mapgen/sewage_treatment.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/misc.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/zed_misc.json
Labels: Monsters, [JSON]

#44098 Lower amount of points given for hooves mutation.
  data/json/mutations/mutations.json
Labels: Mutations / Traits / Professions

#44104 Exclude static data members from string_id check
  tools/clang-tidy-plugin/StaticStringIdConstantsCheck.cpp
  tools/clang-tidy-plugin/test/static-string_id-constants.cpp
Labels: <Bugfix>, Code: Tests

#44108 Add debug menu option to display transparency cache
  src/action.cpp
  src/action.h
  src/cata_tiles.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
Labels: Info / User Interface

#44111 Add DebugLog error problem matcher
  build-scripts/problem-matchers/debugmsg.json
  build-scripts/requirements.sh
  src/debug.cpp
  tests/Makefile
Labels: Code: Tests

#44117 Change description for fried dandelion.
  data/json/items/comestibles/veggy_dishes.json
Labels: [JSON]

#44129 Remove extra wristwatch from Bionic assassin
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#44137 fix Wizard towers spawn backward #39307
  data/mods/Magiclysm/worldgen/multitile_city_buildings.json
Labels: <Bugfix>, Map / Mapgen

#44135 fixes Minor basement layout generation issue. #39845
  data/json/mapgen/house/house_modern_lx.json
Labels: <Bugfix>, Map / Mapgen

#44134 fix Flying/Floating bandits #42518
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: <Bugfix>, Map / Mapgen

#44011 add shelter_2 faction camp
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_common.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_log.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_rock.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_standard.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_wad.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_wood.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_log.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_rock.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_standard.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_wad.json
  data/json/recipes/basecamps/recipe_modular_shelter_2/recipe_modular_shelter_2_wood.json
Labels: Map / Mapgen, Player Faction Base / Camp, [JSON]

#44128 Remove win curses build from travis
  .travis.yml
Labels: Code: Build

#44121 Remove obsolete workaround for stdlib shuffle bug
  src/mutation.cpp
  tests/test_main.cpp
Labels: Code: Build, [C++]

#44138 Adding more traditional conducts
  data/json/conducts.json
  data/json/statistics.json
  src/consumption.cpp
  src/event.cpp
  src/event.h
  src/event_field_transformations.cpp
  src/memorial_logger.cpp
Labels: Game: Achievements / Conducts / Scores, [C++], [JSON]

#44112 Fix #44068 (thick smoke causes character sprite to disappear completely) + more
  src/lightmap.cpp
  src/lightmap.h
  src/map.h
  tests/shadowcasting_test.cpp
  tests/vision_test.cpp
Labels: <Bugfix>, [C++]

#44124 Improve performance of the `map::update_visibility_cache`
  src/map.h
Labels: Code: Performance, [C++]

#44145 Misc spilling and inventory fixes
  src/activity_actor.cpp
  src/character.cpp
  src/character.h
  src/craft_command.cpp
  src/craft_command.h
  src/crafting.cpp
  src/handle_liquid.cpp
  src/item_pocket.cpp
  tests/crafting_test.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, [C++]

#44114 fix missions duplicating
  data/json/items/containers.json
  src/savegame_json.cpp
Labels: <Bugfix>, [C++]

#42589 Added alder trees and a extractable basic hemostatic
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/items/generic.json
  data/json/recipes/recipe_others.json
  data/json/regional_map_settings.json
Labels: 0.F Content Freeze, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [JSON]

#44088 add static defaults to spell_type
  src/magic.cpp
  src/magic.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#44146 Fix vehicle towing cable snap text
  src/map.cpp
Labels: Translation

#44127 Fix to a fried dandelions.
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#44173 Boiling automated recipe activity changes
  data/json/recipes/chem/fuel.json
  data/json/recipes/food/distill.json
  data/json/recipes/food/other.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/medical.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: Crafting / Construction / Recipes, [JSON]

#44181 Prevent stack overflow by changing local variable to a reference
  src/map.h
Labels: <Bugfix>, Code: Tests
