Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-11, with the labels that each got.

#44832 Fix crash when npcs want to wield a weapon from a wielded container
  src/npc.cpp
Labels: <Bugfix>, <Crash / Freeze>, NPC / Factions

#44938 Fix auto consume zones in vehicles
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/consumption.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Vehicles

#44965 Fix mycus feeder
  src/consumption.cpp
Labels: <Bugfix>, Mutations / Traits / Professions

#45182 Disable security checks in msvc builds for perf reasons.
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
Labels: Code: Build, OS: Windows

#45046 Expand cardboard boxes
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/json/items/containers.json
  data/json/professions.json
Labels: Items: Containers, [JSON]

#45199 Search in player inventory during mugging
  src/npcmove.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, NPC / Factions

#45065 Add mutated forest creatures.
  data/json/harvest.json
  data/json/monstergroups/mammal.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/mutant_mammal.json
Labels: <Enhancement / Feature>, Monsters

#45132 Speedup items processing by caching and skipping repeated checks of item tags
  src/item.cpp
  src/item.h
Labels: Code: Performance, Items / Item Actions / Item Qualities

#45133 Change STATIC() macro to support special case of string literal argument
  src/make_static.h
  tests/make_static_test.cpp
Labels: Code: Performance, Code: Tests, [C++]

#45163 Changed item to be soft if all of its components are soft
  data/json/flags.json
  src/flag.cpp
  src/flag.h
  src/item.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Items: Containers

#45184 Seed spawning fix
  data/json/mapgen/cs_gardening_allotment.json
  data/json/mapgen/farm.json
  data/json/mapgen/farm_2side.json
  data/json/mapgen/farm_stills.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/garden_community.json
  data/json/mapgen/house/house_gardener.json
  data/json/mapgen/house/urban_8_house_brick_garden.json
  data/json/mapgen/ranch_camp.json
  data/json/mapgen_palettes/farm_lots.json
  src/init.cpp
  src/map.cpp
  src/mapgen.cpp
  src/mapgen.h
Labels: <Bugfix>, Map / Mapgen

#45187 Fix off-by-one charges check
  src/vehicle_use.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Vehicles

#45188 Interface: Improve crafting/construction menu fast scroll
  src/construction.cpp
  src/crafting_gui.cpp
Labels: <Enhancement / Feature>, Controls / Input, Info / User Interface

#45189 Interface: Add PAGE_UP/DOWN fast-scroll to list all items (Shift+V)
  data/raw/keybindings.json
  src/game.cpp
Labels: <Enhancement / Feature>, Controls / Input, Info / User Interface

#45190 Add a real jack o' lantern recipe, fix plastic jack o' lantern
  data/json/items/items_holiday.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipes_holiday.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities

#45192 Add Storage column to Wear menu with pocket volume
  src/game_inventory.cpp
Labels: Info / User Interface

#45194 Magazine reload improvement
  src/item.cpp
Labels: <Bugfix>, Items: Ammo, Items: Containers, Mechanics: Character / Player

#45195 Fix plural names for reloaded .223 ammo and methanol
  data/json/items/ammo/223.json
  data/json/items/fuel.json
Labels: <Bugfix>, Info / User Interface, Items: Ammo

#45197 Increase vehicle performance
  src/map.cpp
Labels: Code: Performance, Vehicles

#45198 Update house_garage8 to use sealed seeds
  data/json/mapgen/house/house_garage8.json
Labels: <Enhancement / Feature>, Map / Mapgen

#45201 Interface: Fix/Rework uilist PAGE_UP/DOWN-fast-scroll
  src/ui.cpp
Labels: <Bugfix>, Controls / Input, Info / User Interface

#45203 vehicles: reduce motive power of foot pedals and hand rims
  data/json/vehicleparts/manual.json
  tests/vehicle_drag_test.cpp
Labels: <Bugfix>, Vehicles

#45205 Plural and punctuation fixes for consistency
  data/json/items/generic.json
  data/json/items/tool/lighting.json
Labels: <Bugfix>, Info / User Interface, Items / Item Actions / Item Qualities

#45202 [DinoMod] Adding nothronychus to Dinoclysm
  data/mods/DinoMod/cooking_components.json
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: Items: Food / Vitamins, Mods: Dinoclysm, Monsters, Spawn, [JSON]

#44709 [Aftershock] forgotten experiment
  data/mods/Aftershock/maps/mapgen/sadie_large_storage.json
  data/mods/Aftershock/maps/nested/sadie_spawn.json
  data/mods/Aftershock/npcs/Backgrounds/BGBR_Sadie.json
  data/mods/Aftershock/npcs/Backgrounds/BG_BR_tableofcontents_AFS.json
  data/mods/Aftershock/npcs/Backgrounds/BG_traits_afs.json
  data/mods/Aftershock/npcs/classes.json
  data/mods/Aftershock/npcs/cyrus_whately.json
  data/mods/Aftershock/npcs/sadie.json
Labels: <Bugfix>, Mods: Aftershock, NPC / Factions, [JSON]

#44701 Lapin Updates
  data/json/npcs/factions.json
  data/json/npcs/holdouts/Mr_Lapin.json
Labels: <Enhancement / Feature>, NPC / Factions

#44997 Swamp spawnrate rebalance
  data/json/monstergroups/wilderness.json
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
Labels: <Enhancement / Feature>, Map / Mapgen, Monsters

#45009 Make unloading container into activity
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor.h
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
Labels: <Bugfix>, [C++]

#45062 Adjust min_cycle_recoil for guns
  data/json/items/gun/10mm.json
  data/json/items/gun/300.json
  data/json/items/gun/380.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/underbarrel.json
Labels: Items: Ammo, [JSON]

#45118 Adjust blackpowder use in recipes
  data/json/items/chemicals_and_resources.json
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/ammo/shot.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_traps.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/ammo.json
  data/json/requirements/explosives.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items: Ammo

#45120 Edited Master and Necromancer special attack strings
  src/monattack.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Monsters

#45214 Adding fireflies
  data/json/harvest.json
  data/json/items/comestibles/egg.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
  data/json/snippets/mutant_anatomy.json
Labels: <Enhancement / Feature>, Monsters

#45178 Report faction camp build sites and improve tutorial
  data/json/npcs/TALK_COMMON_ALLY.json
  data/json/npcs/TALK_FACTION_CAMP.json
  data/json/recipes/basecamps/recipe_groups.json
  doc/NPCs.md
  src/faction_camp.cpp
  src/npctalk.cpp
Labels: <Bugfix>, <Documentation>, Player Faction Base / Camp

#45068 Phase Skulkers AKA teleporting zombies
  data/json/emit.json
  data/json/items/tool_armor.json
  data/json/monster_special_attacks/spells.json
  data/json/monsterdrops/zombie_lab.json
  data/json/monstergroups/lab.json
  data/json/monsters/zed_lab.json
Labels: <Enhancement / Feature>, Monsters

#44779 Arthropod enhancement: Dragonflies
  data/json/harvest.json
  data/json/items/comestibles/egg.json
  data/json/monster_factions.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/fish.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
  data/json/obsolete.json
  data/json/snippets/mutant_anatomy.json
  data/json/species.json
Labels: <Enhancement / Feature>, Monsters

#45170 Make mutant organs and lungs contain toxins
  data/json/items/comestibles/carnivore.json
Labels: <Bugfix>, Items: Food / Vitamins

#45225 Correct Jittery description
  data/json/mutations/mutations.json
Labels: <Bugfix>, Info / User Interface, Mutations / Traits / Professions

#45237 Update MSX: Add feral Humans
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
Labels: SDL: Tiles / Sound

#45235 Fix mon_spellcasting_actor range limit code
  src/mattack_actors.cpp
Labels: <Bugfix>, Mechanics: Effects / Skills / Stats, Mods: Magiclysm, Monsters

#45236 Fix ammo set
  src/item.cpp
Labels: <Bugfix>, Items: Ammo, Items: Magazines

#45145 Standardise and cleanup magazines
  data/json/items/magazine/10mm.json
  data/json/items/magazine/12mm.json
  data/json/items/magazine/20x60mm.json
  data/json/items/magazine/22.json
  data/json/items/magazine/223.json
  data/json/items/magazine/300.json
  data/json/items/magazine/3006.json
  data/json/items/magazine/308.json
  data/json/items/magazine/32.json
  data/json/items/magazine/357sig.json
  data/json/items/magazine/38.json
  data/json/items/magazine/380.json
  data/json/items/magazine/38super.json
  data/json/items/magazine/40.json
  data/json/items/magazine/40mm.json
  data/json/items/magazine/410shot.json
  data/json/items/magazine/44.json
  data/json/items/magazine/45.json
  data/json/items/magazine/454.json
  data/json/items/magazine/46.json
  data/json/items/magazine/460.json
  data/json/items/magazine/50.json
  data/json/items/magazine/500.json
  data/json/items/magazine/545x39.json
  data/json/items/magazine/57.json
  data/json/items/magazine/5x50.json
  data/json/items/magazine/66mm.json
  data/json/items/magazine/762.json
  data/json/items/magazine/762R.json
  data/json/items/magazine/762x25.json
  data/json/items/magazine/8x40mm.json
  data/json/items/magazine/9mm.json
  data/json/items/magazine/9x18.json
  data/json/items/magazine/chemical_spray.json
  data/json/items/magazine/exodii.json
  data/json/items/magazine/liquid.json
  data/json/items/magazine/nail.json
  data/json/items/magazine/shot.json
Labels: <Enhancement / Feature>, Info / User Interface, Items: Magazines, [JSON]

#45241 Allow insect regeneration
  src/monster.cpp
Labels: <Enhancement / Feature>, Monsters

#45217 Cache translations and _() macro (LOCALIZE=1 build perf improved ≈20%)
  src/map.cpp
  src/translations.cpp
  src/translations.h
  src/value_ptr.h
  tests/translations_test.cpp
  tools/clang-tidy-plugin/TranslatorCommentsCheck.cpp
Labels: Code: Performance, Translation

#45250 Properly implement translator comments check for the _() macro
  src/translations.h
  tools/clang-tidy-plugin/TranslatorCommentsCheck.cpp
  tools/clang-tidy-plugin/test/translator-comments.cpp
Labels: Code: Build, Code: Tests, Translation, [C++]

#45230 Crafting: Increase max. batch number to 50 + cosmetics
  src/crafting_gui.cpp
Labels: <Enhancement / Feature>, Controls / Input, Crafting / Construction / Recipes

#45253 Fix Android builds (2020-11-05)
  src/sdltiles.cpp
Labels: OS: Android, [C++]

#45224 flesh-raptor and shady zombie evolutions
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monsters/zed-pupating.json
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_misc.json
Labels: Monsters, [JSON]

#45216 Add Samoyeds
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
  data/json/monstergroups/mammal.json
  data/json/monstergroups/misc.json
  data/json/monsters/mammal.json
Labels: <Enhancement / Feature>, Monsters, [JSON]

#45232 cata_tiles: fix variant vehicle parts to work with ASCIITiles
  src/cata_tiles.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, Vehicles

#45181 Interface: A few more changes to NewCharacter menu
  data/raw/keybindings.json
  src/newcharacter.cpp
Labels: <Enhancement / Feature>, Character / World Generation, Controls / Input, Info / User Interface

#45106 Introduce "chewing" to reduce the volume of low density foods
  src/character.h
  src/consumption.cpp
  tests/comestible_test.cpp
  tests/stomach_contents_test.cpp
Labels: <Enhancement / Feature>, Items: Food / Vitamins, Mechanics: Character / Player

#45245 Interface: Add PAGE_UP/DOWN-fast-scroll to zone-manager + colors-menu
  src/color.cpp
  src/game.cpp
Labels: <Enhancement / Feature>, Controls / Input, Info / User Interface, Inventory / AIM / Zones

#45259 Interface: Add fast-scroll to WorldCreation + PICK_WORLD_DIALOG
  src/worldfactory.cpp
Labels: <Enhancement / Feature>, Character / World Generation, Controls / Input, Info / User Interface

#45266 Ultica Update 06/11/2020
  gfx/UltimateCataclysm/fillergiant.png
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/giant.png
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/incomplete_large.png
  gfx/UltimateCataclysm/incomplete_tall.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
  gfx/UltimateCataclysm/tileset.txt
Labels: <Enhancement / Feature>, SDL: Tiles / Sound

#45026 Reduce overhead of item::covers
  src/item.cpp
  src/item.h
Labels: Code: Performance, [C++]

#45281 Give Compound Eyes +2 perception, per description
  src/avatar.cpp
Labels: <Bugfix>, Mutations / Traits / Professions

#45276 Default to 64 bit host tools in Visual Studio projects to avoid slow links
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-lib-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
Labels: Code: Performance, Code: Tooling

#45268 Interface: Add PAGE_UP/DOWN-fast-scroll to options menus
  src/options.cpp
Labels: <Enhancement / Feature>, Controls / Input, Info / User Interface

#45265 Interface: Add PAGE_UP/DOWN-fast-scroll to pickup-item-menu
  data/raw/keybindings.json
  src/pickup.cpp
Labels: <Enhancement / Feature>, Controls / Input, Info / User Interface

#45286 [CR] Bugfix: Fix worldfactory crash on page-up
  src/worldfactory.cpp
Labels: <Bugfix>, <Crash / Freeze>, Info / User Interface, [C++]

#45279 shared_ptr from weak_ptr::lock() should be saved
  src/activity_handlers.cpp
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player

#45269 Fixed view mods in pockets
  src/item.cpp
  src/item_pocket.cpp
Labels: <Bugfix>, Info / User Interface, Items: Containers, Items: Gunmod / Toolmod

#45161 Improve testing of item groups and handle overfull containers
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/tools.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/professions.json
  data/json/vehicleparts/utilities.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/Generic_Guns/bandoliers/holster.json
  data/mods/Generic_Guns/firearms/pistol.json
  data/mods/Generic_Guns/firearms/pistol_tiny.json
  data/mods/Generic_Guns/firearms/shot.json
  data/mods/Generic_Guns/magazines/pistol_magnum.json
  data/mods/Generic_Guns/magazines/rifle.json
  data/mods/Generic_Guns/obsolete.json
  data/mods/TEST_DATA/itemgroups.json
  doc/ITEM_SPAWN.md
  src/construction.cpp
  src/field_type.cpp
  src/item.cpp
  src/item_factory.cpp
  src/item_factory.h
  src/item_group.cpp
  src/item_group.h
  src/item_pocket.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen.cpp
  src/mapgen.h
  src/monstergenerator.cpp
  src/profession.cpp
  src/veh_type.cpp
  tests/item_group_test.cpp
Labels: <Bugfix>, Items: Containers

#44708 Added formic acid as an extractable reagent
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/requirements/chemistry.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes

#45289 Quick draw holsters should fit Glocks and M1911
  data/json/items/armor/holster.json
Labels: <Enhancement / Feature>, Items: Containers, Ranged

#45291 Fix out of bounds array access
  src/overmapbuffer.cpp
Labels: <Bugfix>, [C++]

#45221 Bacon, porkbelly and supporting changes
  data/json/harvest.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/meat_dishes.json
  data/json/monsters/mammal.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items: Food / Vitamins

#45264 Jsonize gun faults
  data/json/items/gun/faults_gun.json
  doc/JSON_FLAGS.md
  src/item.cpp
  src/ranged.cpp
Labels: <Enhancement / Feature>, Items / Item Actions / Item Qualities, Ranged, [C++], [JSON]

#45275 Fix auto consume while crafting
  src/activity_item_handling.cpp
Labels: <Bugfix>, Items: Food / Vitamins, [C++]

#45277 Replace int_id<json_flag> with string_id<json_flag> (housekeeping)
  data/json/statistics.json
  src/cata_variant.cpp
  src/cata_variant.h
  src/editmap.cpp
  src/effect.cpp
  src/effect.h
  src/event_field_transformations.cpp
  src/flag.cpp
  src/item.cpp
  src/item_factory.cpp
  src/item_pocket.cpp
  src/item_pocket.h
  src/itype.cpp
  src/itype.h
  src/type_id.h
  src/wish.cpp
  tests/generic_factory_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#45309 Check default containers and ammo fit appropriately
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/vehicles/ammo_redefine_hacks/temp_magazine_json_load_hack.json
  data/mods/TEST_DATA/ammo.json
  data/mods/TEST_DATA/items.json
  src/item_factory.cpp
  tests/iteminfo_test.cpp
  tests/pocket_test.cpp
Labels: Items: Containers, [C++]

#45305 Fix ui.cpp scrolling bug
  src/ui.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#45300 vehicles: fix for wheeled vehicles always floating
  src/vehicle_move.cpp
Labels: <Bugfix>, <Exploit>, Vehicles, Z-levels

#45295 Fix segfault caused by NPCs trying to heal eyes, hands, or feet
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/iuse_actor.cpp
  src/npcmove.cpp
Labels: <Bugfix>, Mechanics: Character / Player, NPC / Factions

#45294 Small rework to the Intercom's dialogue
  data/json/npcs/robofac/NPC_ROBOFAC_INTERCOM.json
Labels: NPC / Factions, [JSON]

#45302 Replace survivor_belt with survivor_belt_notools
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/belts.json
  data/json/items/tool_armor.json
  data/json/obsolete.json
  data/json/recipes/armor/other.json
  data/json/recipes/recipe_deconstruction_package.json
  data/json/recipes/recipe_obsolete.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#45298 AIM liquid transfer fix
  src/advanced_inv.cpp
Labels: <Bugfix>, [C++]

#45288 [Magiclysm] balance island retreat scenario cost
  data/mods/Magiclysm/scenarios.json
  data/mods/Magiclysm/worldgen/lake_retreat.json
Labels: <Bugfix>, Character / World Generation, Mods: Magiclysm

#45290 Dupe item fix when standing on terrain that won't hold items
  src/armor_layers.cpp
  src/game.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/player.cpp
  src/player.h
  tests/enchantments_test.cpp
  tests/invlet_test.cpp
Labels: <Bugfix>, <Exploit>, Fields / Furniture / Terrain / Traps, Inventory / AIM / Zones

#45183 Improve mapgen contexts used in errors
  src/mapgen.cpp
  src/mapgen.h
Labels: <Bugfix>, Code: Tests, Map / Mapgen

#44663 Speedup field processing
  data/json/field_type.json
  src/field.cpp
  src/field.h
  src/map.h
  src/map_field.cpp
Labels: Code: Performance, Fields / Furniture / Terrain / Traps, [C++]

#45278 Fix foreach loops copying results from sorted_lex.
  src/item.cpp
  tests/string_ids_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#45271 Content: Acidic zombie dog evolution line
  data/json/monstergroups/zanimal_upgrades.json
  data/json/monsters/zed_acid.json
Labels: <Enhancement / Feature>, Monsters

#45314 Edit links in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: <Documentation>, [Markdown]

#45292 Code optimizations reported by static code analysis (2020-11-07)
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  src/achievement.h
  src/activity_handlers.cpp
  src/assign.h
  src/cata_tiles.h
  src/character.cpp
  src/creature.h
  src/iexamine.cpp
  src/inventory.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/item_group.cpp
  src/iuse.cpp
  src/iuse_software_kitten.cpp
  src/iuse_software_kitten.h
  src/lightmap.cpp
  src/line.cpp
  src/line.h
  src/magic_spell_effect.cpp
  src/map.h
  src/mapgen.cpp
  src/npctalk.cpp
  src/player.cpp
  src/ranged.cpp
  src/tileray.cpp
  src/tileray.h
  src/translations.h
  src/trap.cpp
  src/units_utility.cpp
  src/units_utility.h
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/cata_utility_test.cpp
  tests/item_test.cpp
  tests/item_tname_test.cpp
  tests/modify_morale_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#45299 Differentiate raw corn and canned corn in name
  data/json/items/comestibles/veggy_dishes.json
Labels: [JSON]

#45321 remove info on mag_destroy
  data/json/flags.json
Labels: <Bugfix>, [JSON]

#45256 Add extra blackpowder loads
  data/json/items/ammo/50.json
  data/json/items/ammo/700nx.json
  data/json/items/ammo/762R.json
  data/json/items/gun/50.json
  data/json/items/gun/700nx.json
  data/json/items/gun/762R.json
  data/json/recipes/ammo/rifle.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items: Ammo

#45328 Fix gun related crash
  src/ranged.cpp
Labels: <Bugfix>, Ranged, [C++]

#45347 Update BrownLikeBears: Vehicle rework
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
Labels: SDL: Tiles / Sound

#45186 The Lengthening #1 - Kitchen Tools & Knives
  data/json/items/generic/dining_kitchen.json
  data/json/items/melee/knives_kitchen.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Items: Containers

#45109 [Aftershock] Mutagen and related recipes now use chemistry rather than cooking
  data/mods/Aftershock/recipes/mutagens.json
  data/mods/Aftershock/recipes/recipes.json
Labels: Crafting / Construction / Recipes, Mods: Aftershock, [JSON]

#45282 [Dinomod] Add Qianzhousaurus to Dinoclysm
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/monstergroups/lab.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
Labels: Items: Food / Vitamins, Mods: Dinoclysm, Monsters, Spawn, [JSON]

#45324 SWAT CQC Specialist Profession Fix
  data/json/professions.json
  data/mods/Aftershock/player/professions.json
Labels: <Bugfix>, Character / World Generation, Mutations / Traits / Professions, [JSON]

#45360 Update MSX 12/11/2020 Corpses and Wing Mirrors
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
Labels: SDL: Tiles / Sound

#45351 build: vcpkg /permissive-
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-lib-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
Labels: Code: Build, OS: Windows

#45368 Revert "Fix VS warnings"
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
Labels: OS: Windows

#45364 mainline urbdev building 25
  data/json/mapgen/city_blocks/urban_25_dense_diner_apt.json
  data/json/mapgen/nested/retail_nested.json
  data/json/mapgen_palettes/restaurant_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
  data/mods/Urban_Development/building_jsons/urban_25_dense_diner_apt.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/Urban_Development/regional_overlay.json
Labels: Map / Mapgen, [JSON]

#45336 Fix display of ammo using relative/proportional
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/mods/Generic_Guns/firearms/pistol_magnum.json
  data/mods/Magiclysm/items/enchanted_ranged.json
  src/assign.h
Labels: <Bugfix>, Items: Ammo, [C++]

#45335 Removing pupating zombies from classic games
  data/json/monsters/zed-pupating.json
Labels: <Bugfix>, Mods: Dark Days of the Dead, [JSON]

#45342 Fix crash in character creation menu
  src/newcharacter.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#45348 Include nearby items for multiclean selection
  src/iuse.cpp
Labels: Quality of Life, [C++]

#45392 fix terrain on roof of s_gun_3
  data/json/mapgen/s_gun.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#45386 Add collapsed tower monsters to BrownLikeBears
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
Labels: <Enhancement / Feature>, SDL: Tiles / Sound

#45307 Streetlights
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen_functions.cpp
Labels: <Enhancement / Feature>, Map / Mapgen

#45377 Show maxmimum individual item length and volume in pickup display
  src/character.cpp
  src/character.h
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/pickup.cpp
  src/units_utility.cpp
  src/units_utility.h
Labels: Info / User Interface, Items: Containers, Quality of Life, [C++]

#45102 [ Magiclysm ] Mutant NPCs
  data/mods/Magiclysm/npc/classes.json
  data/mods/Magiclysm/npc/trait_groups.json
Labels: <Enhancement / Feature>, Mods: Magiclysm, Mutations / Traits / Professions, NPC / Factions

#45380 reduce the kiltpocaplyse
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/domestic.json
Labels: Spawn, [JSON]

#45398 fix pay_gas
  src/iexamine.cpp
Labels: <Bugfix>, [C++]

#45394 Trivial: fix "item description flags" test in Windows builds
  src/item.cpp
Labels: <Bugfix>, Code: Tests, [C++]

#45423 Trivial: speedup npc::get_monster_faction
  src/faction.cpp
  src/faction.h
  src/npc.cpp
Labels: Code: Performance, NPC / Factions, [C++]

#45424 Trivial: use vector::reserve to speedup `squares_closer_to`
  src/line.cpp
Labels: Code: Performance, [C++]

#45421 Trivial: minor speedup of monster->Character attitude calculation
  src/monster.cpp
Labels: Code: Performance, Monsters, [C++]

#45425 [DinoMod] In the forest the Sauropod sleeps tonight
  data/mods/DinoMod/monstergroups/wilderness.json
Labels: Mods: Dinoclysm, Spawn, [JSON]

#45418 Fixes inaccurate wait durations in the "Wait a while" menu
  src/handle_action.cpp
Labels: <Bugfix>, [C++]

#45414 Fix rock forges not consuming charcoal
  src/map.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Map / Mapgen, [C++]

#45413 Apply migrations to more jmapgens
  src/mapgen.cpp
Labels: <Bugfix>, Mods: Generic Guns, Spawn, [C++]

#45409 Don't show relic activation when there is none
  src/avatar.cpp
  src/item.cpp
  src/item.h
Labels: Artifacts, Items / Item Actions / Item Qualities, [C++]

#45411 Added traffic lights spawn on road intersections
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen_functions.cpp
Labels: <Enhancement / Feature>, Map / Mapgen

#45404 Survival kit disassembly gives full flares
  data/json/recipes/recipe_deconstruction.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items: Containers, Items: Magazines

#45429 Fixed several issues with Necropolis ground and underground levels mapgen and overmap connections
  data/json/mapgen/necropolis/necropolis.json
  data/json/mapgen/necropolis/necropolisB1.json
  data/json/mapgen/necropolis/necropolisB2.json
  data/json/mapgen/necropolis/necropolisB3.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_necropolis.json
Labels: <Bugfix>, Map / Mapgen

#45420 Audit sizes and weights for musical instruments
  data/json/items/tool/musical_instruments.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#45405 Artifacts don't stack
  src/item.cpp
Labels: <Bugfix>, Artifacts, Inventory / AIM / Zones

#45406 feral human rocks do damage
  data/json/items/gun/monster_gun.json
Labels: <Bugfix>, [JSON]

#45445 Trivial: avoid string_id copy in `Character::worn_with_flag` variants
  src/character.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Performance, [C++]

#45444 Trivial: return result of Creature::get_body by const reference
  src/creature.cpp
  src/creature.h
Labels: Code: Performance, [C++]

#45446 Trivial: Speedup `Character::suffer_from_tourniquet` by adding an early exit
  src/suffer.cpp
Labels: Code: Performance, [C++]

#45447 Max wax for crafted candles
  data/json/recipes/tools/lights.json
  doc/JSON_FLAGS.md
  src/crafting.cpp
  src/recipe.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes

#45450 astyle format fix
  src/suffer.cpp
Labels: Code: Build

#40615 [WIP] Creation of Ferrous Zombies
  data/json/mapgen/Metalworker.json
  data/json/mapgen/garage.json
  data/json/monstergroups/zombies.json
  data/json/monsters/zed_ferrous.json
Labels: 0.F Content Freeze, Monsters, Spawn, [JSON]

#45455 Added two looted and two boarded up variants for grocery stores
  data/json/mapgen/nested/aux_nested.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen/s_liquor.json
Labels: <Enhancement / Feature>, Map / Mapgen, [JSON]

#45454 Spelling/grammar fix for bleeding wounds
  src/player.cpp
Labels: [C++]

#45451 activity_handlers: fix UPS gaming
  data/json/items/tool/electronics.json
  data/json/items/tool_armor.json
  src/activity_handlers.cpp
  src/iuse.cpp
Labels: <Bugfix>, [C++]

#45461 Speedup `apply_mut_encumbrance` by calculating `exclusive_flag_coverage` on demand
  src/character.cpp
  src/character.h
Labels: Code: Performance, [C++]

#45462 Trivial: speedup `get_clothing_mod_val` by caching `get_var` key
  src/item.cpp
Labels: Code: Performance, [C++]

#45463 Trivial: speedup `portion_for_bodypart` by avoiding copy of the return value
  src/item.cpp
  src/item.h
Labels: Code: Performance, [C++]

#45439 Fix too many items being displayed in pickup menu
  src/pickup.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#45472 Added Wax to Toilets
  data/json/furniture_and_terrain/furniture-plumbing.json
Labels: [JSON]

#45020 Refugee Expansion and Proficiency Project
  data/json/itemgroups/books.json
  data/json/items/book/gun.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Aleesha_Seward.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Draco_Dune.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Fatima_Al_Jadir.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Garry_Villeneuve.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Guneet_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
  data/json/npcs/refugee_center/surface_refugees/NPC_John_Clemens.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Mandeep_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Mangalpreet_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Pablo_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Rhyzaea_Johnny.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Stan_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
  data/json/npcs/refugee_center/surface_refugees/shared_dialogue.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard_generic.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/npcs/refugee_center/surface_visitors/NPC_old_guard_representative.json
  doc/NPCs.md
Labels: Lore, Mechanics: Effects / Skills / Stats, Missions, NPC / Factions, [JSON]

#45090 Phase out "fridge" item group (part 1 - breakroom fridges)
  data/json/itemgroups/SUS/fridges.json
  data/json/mapgen/bank.json
  data/json/mapgen/bike_shop.json
  data/json/mapgen/dojo.json
  data/json/mapgen/fire_station.json
  data/json/mapgen/hospital.json
  data/json/mapgen/lab/lab_common.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z2.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z3.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z4.json
  data/json/mapgen/missile_silo.json
  data/json/mapgen/office_cubical.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/office_small.json
  data/json/mapgen/outpost.json
  data/json/mapgen/police_station.json
  data/json/mapgen/post_office.json
  data/json/mapgen/public_works.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/s_candy.json
  data/json/mapgen/s_clothing.json
  data/json/mapgen/s_gas.json
  data/json/mapgen/s_lightindustry.json
  data/json/mapgen/station_radio.json
Labels: <Enhancement / Feature>, Items: Food / Vitamins, Map / Mapgen

#45196 Move fuel data from item to material and use this to jsonize internal furnace CBM
  data/json/bionics.json
  data/json/items/ammo.json
  data/json/items/fuel.json
  data/json/items/generic.json
  data/json/items/obsolete.json
  data/json/materials.json
  data/json/obsolete.json
  data/mods/Magiclysm/bionics.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/fuel.json
  data/mods/Magiclysm/items/mana_crystals.json
  data/mods/Magiclysm/materials.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
  doc/JSON_INFO.md
  src/activity_item_handling.cpp
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
  src/character.h
  src/construction.cpp
  src/consumption.cpp
  src/dump.cpp
  src/game_inventory.cpp
  src/init.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/item_factory.h
  src/itype.h
  src/map.cpp
  src/material.cpp
  src/material.h
  src/npcmove.cpp
  src/savegame_json.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/veh_utils.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
  src/vehicle_part.cpp
  tests/iteminfo_test.cpp
  tests/player_helpers.cpp
  tests/vehicle_turrets_test.cpp
Labels: <Bugfix>, Bionics, Items / Item Actions / Item Qualities

#45308 Changing pharmaceuticals' brand names to generic names
  data/json/effects.json
  data/json/items/comestibles/med.json
  data/json/mutations/mutations.json
Labels: Info / User Interface, Items / Item Actions / Item Qualities, [JSON]

#45319 Rework font loading to use file paths instead of font names
  LICENSE-OFL-Terminus-Font.txt
  LICENSE.txt
  data/font/Terminus.ttf
  data/fontdata.json
  data/mods/Graphical_Overmap/fonts.json.txt
  src/font_loader.h
  src/path_info.cpp
  src/path_info.h
  src/sdl_font.cpp
Labels: SDL: Tiles / Sound, [C++]

#45327 Refactoring milk and reload activity to actor system
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/game.cpp
  src/iuse_actor.cpp
  src/monexamine.cpp
  src/vehicle_use.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player

#45334 Fix furniture disassembly copper wire yields
  data/json/furniture_and_terrain/furniture-alien.json
  data/json/furniture_and_terrain/furniture-industrial.json
Labels: Fields / Furniture / Terrain / Traps, [JSON]

#45357 Add fried eggs.
  data/json/items/comestibles/egg.json
  data/json/recipes/recipe_food.json
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#45369 Add extra 9x19mm magazines
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/9mm.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: <Enhancement / Feature>, Items: Magazines, [JSON]

#45027 [Magiclysm] Profession update, and a Mosin
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/enchanted_ranged.json
  data/mods/Magiclysm/professions.json
  data/mods/Magiclysm/recipes/weapons.json
  data/mods/Magiclysm/scenarios.json
Labels: <Enhancement / Feature>, Mechanics: Effects / Skills / Stats, Mods: Magiclysm, Mutations / Traits / Professions

#45495 Fix Clang Build Analyzer build
  .github/workflows/CBA.yml
Labels: <Bugfix>, Code: Build

#45500 Fix kittens having more kittens
  data/json/monsters/mammal.json
Labels: <Bugfix>, Monsters, [JSON]
