Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-08, with the labels that each got.

#42572 Audit Rivtech guns for volume, weight, and longest_side
  data/json/items/gun/20x66mm.json
  data/json/items/gun/40x46mm.json
  data/json/items/gun/5x50.json
  data/json/items/gun/8x40mm.json
  data/json/items/gun/flammable.json
  data/json/items/gunmod/underbarrel.json
Labels: Items: Containers, [JSON]

#42277 Remove body_part from effect
  src/activity_handlers.cpp
  src/avatar.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/effect.cpp
  src/effect.h
  src/explosion.cpp
  src/field_type.h
  src/fungal_effects.cpp
  src/game.cpp
  src/iexamine.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic_enchantment.cpp
  src/magic_spell_effect.cpp
  src/magic_teleporter_list.cpp
  src/map.cpp
  src/map_field.cpp
  src/mattack_actors.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monexamine.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/morale.cpp
  src/morale.h
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk_funcs.cpp
  src/panels.cpp
  src/player.cpp
  src/player_display.cpp
  src/player_hardcoded_effects.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/suffer.cpp
  src/talker_avatar.cpp
  src/talker_character.cpp
  src/trapfunc.cpp
  src/vehicle_use.cpp
  src/weather.cpp
  tests/char_healing_test.cpp
  tests/creature_effect_test.cpp
  tests/effect_test.cpp
  tests/morale_test.cpp
  tests/reading_test.cpp
  tests/vehicle_drag_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_power_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player, Mechanics: Effects / Skills / Stats, [C++]

#42607 Report failing starting location
  src/start_location.cpp
Labels: Scenarios, [C++]

#42420 Rename plastic bowl to tupperware
  data/json/items/generic/dining_kitchen.json
Labels: Items: Containers, [JSON]

#42433 mild activity level adjustments
  data/json/player_activities.json
  src/activity_type.cpp
  src/avatar.cpp
  src/avatar.h
  src/character.cpp
  src/game_constants.h
  src/move_mode.cpp
  tests/char_biometrics_test.cpp
  tests/stomach_contents_test.cpp
Labels: Game: Balance, Mechanics: Character / Player, [C++]

#42450 Fix inconsistency of wielding cost
  src/character.cpp
  src/character.h
  src/game_inventory.cpp
  src/item.cpp
  src/item.h
  src/item_location.cpp
  src/player.cpp
  tests/wield_times_test.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#42475 Books can hide recipes or display alternate recipe names
  data/json/recipes/food/offal_dishes.json
  doc/JSON_INFO.md
  src/character_crafting.cpp
  src/recipe.cpp
  src/recipe.h
  src/recipe_dictionary.cpp
Labels: Crafting / Construction / Recipes, [C++]

#42587 [Magiclysm] Component spell content update
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/martialarts.json
  data/mods/Magiclysm/requirements/spell_components.json
Labels: Mods: Magiclysm, [JSON]

#42489 Chemistry Recipe fixes (goodbye, concentrated acid!)
  data/json/items/chemicals_and_resources.json
  data/json/items/migration.json
  data/json/obsolete.json
  data/json/recipes/chem/fuel.json
  data/json/recipes/electronics/parts.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/chemistry.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/Magiclysm/recipes/alchemy.json
  src/iuse.cpp
  src/weather.cpp
  tests/requirements_test.cpp
Labels: Crafting / Construction / Recipes, [JSON]

#42569 Fix disassembly time inconsistency in Butcher UI
  src/game.cpp
  src/item.cpp
  src/item.h
Labels: <Bugfix>, Info / User Interface, [C++]

#42571 Eat menu: Indicate when container is sealed
  src/game_inventory.cpp
Labels: Info / User Interface, [C++]

#42581 Parallel Bridge Bridgehead Generation Fix
  src/overmap.cpp
Labels: <Bugfix>, Map / Mapgen, [C++]

#42626 vehicles: make sure going in reverse isn't more efficient than going forward
  src/vehicle_move.cpp
  tests/vehicle_efficiency_test.cpp
Labels: <Bugfix>, Code: Tests, Vehicles

#42636 Centimeter
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/classes/gun.json
  data/json/items/gun/10mm.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/magazine/10mm.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/460.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: Items: Magazines, Ranged, [JSON]

#42625 mainline urbdev house 8
  data/json/mapgen/house/urban_8_house_brick_garden.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
  data/mods/Urban_Development/building_jsons/urban_8_house_brick_garden.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/Urban_Development/regional_overlay.json
Labels: Map / Mapgen, [JSON]

#42633 [DinoMod] All About Ankylosaurus
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: Mods: Dinoclysm, Monsters, Spawn, [JSON]

#42646 Add some safety in accessing bodyparts
  src/character.cpp
  src/creature.cpp
  src/creature.h
Labels: Mechanics: Character / Player, [C++]

#42641 More sealed container fixes
  src/activity_item_handling.cpp
  src/character.h
  src/consumption.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/handle_liquid.cpp
  src/handle_liquid.h
  src/item.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/pickup.cpp
  src/player.cpp
  src/player.h
Labels: <Bugfix>, Items: Containers, [C++]

#42643 vehicle: fix reloading fuel bunkers
  src/vehicle_part.cpp
Labels: <Bugfix>, Vehicles, [C++]

#42647 Fix place npc iuse
  doc/JSON_INFO.md
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: <Bugfix>, <Documentation>, Items / Item Actions / Item Qualities, [C++], [Markdown]

#42650 Fix removal of liquid fields during mopping
  src/map.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Items / Item Actions / Item Qualities, [C++]

#42134 Remove duplicate method from item_contents
  src/item.cpp
  src/item_contents.cpp
  src/item_contents.h
Labels: <Bugfix>, [C++]

#42659 Trim character includes
  src/character.h
Labels: Code: Build

#42653 mainline 6 urbdev houses
  data/json/mapgen/house/urban_10_house_brick_pool.json
  data/json/mapgen/house/urban_11_house_brick.json
  data/json/mapgen/house/urban_12_house.json
  data/json/mapgen/house/urban_15_house.json
  data/json/mapgen/house/urban_16_house_ranch.json
  data/json/mapgen/house/urban_17_house_ranch.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
  data/mods/Urban_Development/building_jsons/urban_10_house_brick_pool.json
  data/mods/Urban_Development/building_jsons/urban_11_house_brick.json
  data/mods/Urban_Development/building_jsons/urban_12_house.json
  data/mods/Urban_Development/building_jsons/urban_15_house.json
  data/mods/Urban_Development/building_jsons/urban_16_house_ranch.json
  data/mods/Urban_Development/building_jsons/urban_17_house_ranch.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/Urban_Development/regional_overlay.json
Labels: Map / Mapgen, [JSON]

#42562 Viewer facet
  src/animation.cpp
  src/ballistics.cpp
  src/bionics.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/descriptions.cpp
  src/fungal_effects.cpp
  src/game.cpp
  src/game.h
  src/gates.cpp
  src/gates.h
  src/item.cpp
  src/iuse.cpp
  src/magic_spell_effect.cpp
  src/map.cpp
  src/map_field.cpp
  src/mattack_actors.cpp
  src/messages.cpp
  src/messages.h
  src/monattack.cpp
  src/mondeath.cpp
  src/mondefense.cpp
  src/monmove.cpp
  src/monster.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk_funcs.cpp
  src/pixel_minimap.cpp
  src/player.cpp
  src/player_hardcoded_effects.cpp
  src/ranged.cpp
  src/teleport.cpp
  src/trapfunc.cpp
  src/turret.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
  src/viewer.h
  tests/fake_messages.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#41605 Enable mouse input - rework
  src/input.cpp
  src/input.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/pickup.cpp
  src/pickup.h
  src/sdltiles.cpp
  src/sdltiles.h
  src/ui.cpp
  src/ui.h
Labels: Controls / Input, Info / User Interface, SDL: Tiles / Sound, [C++]

#42661 Build fences on existing posts
  data/json/construction.json
Labels: Crafting / Construction / Recipes, Info / User Interface, [JSON]

#42662 Combining privacy fence constructions in construction menu
  data/json/construction.json
Labels: Crafting / Construction / Recipes, Info / User Interface, [JSON]

#42555 Aftershock: Autodoc Tiers
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/maps/mapgen/basement_bionic.json
  data/mods/Aftershock/options.json
Labels: Bionics, Fields / Furniture / Terrain / Traps, Mods: Aftershock, [JSON]

#42612 Aftershock: Neurosoft Aeronautics CBM
  data/mods/Aftershock/itemgroups/bionics_groups.json
  data/mods/Aftershock/items/cbms.json
  data/mods/Aftershock/player/bionics.json
Labels: Bionics, Mods: Aftershock, [JSON]

#42559 Python 3 everywhere, PEP8
  build-data/osx/dmgsettings.py
  build-scripts/get_all_mods.py
  build-scripts/lint-json.sh
  doc/COMPILING/COMPILING.md
  doc/DEVELOPER_TOOLING.md
  doc/NPCs.md
  doc/TILESET.md
  lang/CMakeLists.txt
  lang/extract_json_strings.py
  lang/strip_line_numbers.py
  lang/unicode_check.py
  tools/copy_from.py
  tools/dialogue_validator.py
  tools/fix-compilation-database.py
  tools/generate_changelog.py
  tools/gfx_tools/compose.py
  tools/gfx_tools/decompose.py
  tools/gfx_tools/png_update.py
  tools/json_tools/adjust_values.py
  tools/json_tools/cddatags.py
  tools/json_tools/keys.py
  tools/json_tools/lister.py
  tools/json_tools/pluck.py
  tools/json_tools/pocket_mags.py
  tools/json_tools/splitter.py
  tools/json_tools/table.py
  tools/json_tools/util.py
  tools/json_tools/values.py
  tools/merge_maps.py
  tools/palettize.py
  tools/update_blueprint_needs.py
  tools/vehicleDef.py
  utilities/building-utility/deconstruct.py
  utilities/make_iso.py
Labels: Code: Infrastructure / Style / Static Analysis, [Python]

#42671 Remove leftover references to acid water
  src/item_pocket.cpp
Labels: <Bugfix>, [C++]

#42672 Fix debug message about setting null ammo
  src/inventory.cpp
Labels: <Bugfix>, Items: Battery / UPS, [C++]

#42670 Fix error when loading proficiencies from save
  src/savegame_json.cpp
Labels: <Bugfix>, Character / World Generation, [C++]

#42668 Mark some recipes as obsolete to suppress debug messages
  data/json/obsolete.json
  data/json/recipes/recipe_obsolete.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#42603 Add max_charges to items that throw "cannot have charges" error
  data/json/items/tool/musical_instruments.json
  data/json/items/tool_armor.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#42681 Remove inventory.h from character.h
  src/advanced_inv.cpp
  src/advanced_inv_area.cpp
  src/armor_layers.cpp
  src/avatar.cpp
  src/avatar_action.cpp
  src/character.cpp
  src/character.h
  src/character_crafting.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/debug_menu.cpp
  src/faction_camp.cpp
  src/game_inventory.cpp
  src/gamemode_tutorial.cpp
  src/iexamine.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item_action.cpp
  src/item_contents.cpp
  src/iuse.cpp
  src/memorial_logger.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/player.cpp
  src/savegame_json.cpp
  src/suffer.cpp
  src/visitable.cpp
  tests/invlet_test.cpp
  tests/iuse_actor_test.cpp
  tests/new_character_test.cpp
  tests/player_helpers.cpp
  tests/ranged_balance_test.cpp
  tests/reload_magazine_test.cpp
  tests/throwing_test.cpp
  tests/visitable_remove_test.cpp
Labels: Code: Build, Code: Infrastructure / Style / Static Analysis, [C++]

#42685 Remove character_martial_arts.h from character
  src/activity_handlers.cpp
  src/avatar.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/debug_menu.cpp
  src/game.cpp
  src/handle_action.cpp
  src/item.cpp
  src/iuse.cpp
  src/martialarts.cpp
  src/melee.cpp
  src/monattack.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npctalk_funcs.cpp
  src/panels.cpp
  src/player.cpp
  src/savegame_json.cpp
  tests/player_helpers.cpp
Labels: Code: Build, Code: Infrastructure / Style / Static Analysis, [C++]

#42614 WIP [ Magiclysm ] Necromancer Sheath Bugfix
  data/mods/Magiclysm/professions.json
Labels: <Bugfix>, Items: Containers, Mods: Magiclysm

#42680 Remove magic and enchantment includes in character.h
  src/activity_handlers.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/debug_menu.cpp
  src/handle_action.cpp
  src/item.cpp
  src/iuse_actor.cpp
  src/magic.cpp
  src/magic_spell_effect.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npctalk_funcs.cpp
  src/panels.cpp
  src/profession.cpp
  src/ranged.cpp
  src/talker_character.cpp
  src/talker_npc.cpp
  tests/magic_spell_test.cpp
Labels: Code: Build, Code: Infrastructure / Style / Static Analysis, [C++]

#42687 Split units utilities from cata_utility
  src/advanced_inv.cpp
  src/armor_layers.cpp
  src/cata_utility.cpp
  src/cata_utility.h
  src/game_inventory.cpp
  src/iexamine.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item_pocket.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/newcharacter.cpp
  src/npctrade.cpp
  src/output.cpp
  src/pickup.cpp
  src/player_display.cpp
  src/point.cpp
  src/talker_npc.cpp
  src/units_utility.cpp
  src/units_utility.h
  src/veh_interact.cpp
  src/veh_type.cpp
  src/vehicle_display.cpp
  tests/cata_utility_test.cpp
Labels: Code: Build, Code: Infrastructure / Style / Static Analysis, [C++]

#42690 Appease clang
  src/sdltiles.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#42694 Remove item.h from character.h
  src/character.h
Labels: Code: Build, Code: Infrastructure / Style / Static Analysis, [C++]

#42688 mainline urbdev house 18
  data/json/mapgen/house/urban_18_victorian.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
  data/mods/Urban_Development/building_jsons/urban_18_victorian.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/Urban_Development/regional_overlay.json
Labels: Map / Mapgen, [JSON]

#42391 Add relic activation ability
  data/json/artifact/relic_procgen_data.json
  doc/ARTIFACTS.md
  src/avatar.cpp
  src/item.cpp
  src/item.h
  src/player.cpp
  src/relic.cpp
  src/relic.h
Labels: <Enhancement / Feature>, Artifacts, [C++]

#42700 fix double artifact effects
  src/character.cpp
Labels: <Bugfix>, Artifacts

#42701 Add forward declarations for units.h, remove it from creature.h
  src/avatar_action.h
  src/creature.h
  src/inventory.h
  src/inventory_ui.h
  src/item_contents.h
  src/item_stack.h
  src/iuse.h
  src/magic_enchantment.h
  src/map.h
  src/monster.h
  src/npc.h
  src/output.h
  src/units.h
  src/units_fwd.h
Labels: Code: Build, Code: Infrastructure / Style / Static Analysis, [C++]

#42710 Fix all containers unsealed even if dropping activity is interrupted
  src/activity_item_handling.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#42715 Remove itype include from iexamine
  src/activity_actor.cpp
  src/iexamine.cpp
  src/iexamine.h
Labels: [C++]

#42689 Change flamethrowers & their fuel to heat damage
  data/json/items/fuel.json
  data/json/items/gun/flammable.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#42686 Trim some more superflous includes
  src/avatar.h
  src/creature.h
  src/player.cpp
  src/player.h
  tests/behavior_test.cpp
  tests/effective_dps_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#42709 [DinoMod] Restore bird egg cooking
  data/mods/DinoMod/cooking_components.json
Labels: Crafting / Construction / Recipes, Mods: Dinoclysm

#42679 Remove event_subscriber declaration from event_bus.h
  src/achievement.h
  src/activity_actor.cpp
  src/debug_menu.cpp
  src/event_bus.cpp
  src/event_bus.h
  src/event_subscriber.h
  src/kill_tracker.h
  src/magic.cpp
  src/magic.h
  src/memorial_logger.h
  src/stats_tracker.h
  tests/event_test.cpp
  tests/memorial_test.cpp
Labels: Code: Build, [C++]

#42600 makefile: clean up pch rules
  .gitignore
  Makefile
  pch/main-pch.hpp
  tests/Makefile
  tests/pch/tests-pch.hpp
  update-pch.sh
Labels: Code: Build

#42718 Audit 380 guns
  data/json/items/gun/380.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#42717 Add longest_side to S&W 610
  data/json/items/gun/10mm.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#42578 table.py partial object-oriented redesign, new features
  tools/json_tools/table.py
  tools/json_tools/util.py
Labels: Code: Infrastructure / Style / Static Analysis, [Python]

#42691 gfx_tools: make classes importable with __main__
  tools/gfx_tools/compose.py
  tools/gfx_tools/decompose.py
  tools/gfx_tools/png_update.py
Labels: Code: Build, SDL: Tiles / Sound, [Python]

#42705 Script to list what IDs are present in a tileset
  tools/gfx_tools/list_tileset_ids.py
Labels: SDL: Tiles / Sound, [Python]

#42699 [C.R.I.T. Expansion Mod] Fix no-volume/weight errors
  data/mods/CRT_EXPANSION/deadspace/deadspaceitems.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mods, [JSON]

#42674 Fix radio towers not emitting
  src/iuse.cpp
  src/overmap.cpp
Labels: <Bugfix>, Map / Mapgen, [C++]

#42629 Add Underlift Tow Truck vehicle
  data/json/vehicle_groups.json
  data/json/vehicles/trucks.json
Labels: 0.F Content Freeze, Vehicles, [JSON]

#42698 Fix Grab Break techniques not working
  src/character.cpp
  src/creature.cpp
  src/creature.h
  src/martialarts.cpp
  src/monattack.cpp
  src/savegame_json.cpp
Labels: <Bugfix>, Melee, [C++]

#42714 Fix Android builds (2020-08-04)
  src/sdltiles.cpp
Labels: OS: Android, SDL: Tiles / Sound, [C++]

#37908 [Aftershock] Frankenstein NPCs
  data/mods/Aftershock/itemgroups/bionics_groups.json
  data/mods/Aftershock/items/books.json
  data/mods/Aftershock/items/frankenstein_items.json
  data/mods/Aftershock/maps/mapgen/millyficent_lab.json
  data/mods/Aftershock/maps/mapgen/whately_lmoe.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/Aftershock/maps/overmap_terrain.json
  data/mods/Aftershock/maps/terrain.json
  data/mods/Aftershock/mobs/monster_faction.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/npcs/Backgrounds/BGRS_afterlife.json
  data/mods/Aftershock/npcs/Backgrounds/BGRS_bonesinger.json
  data/mods/Aftershock/npcs/Backgrounds/BGRS_dreamer.json
  data/mods/Aftershock/npcs/Backgrounds/BGRS_migo_1.json
  data/mods/Aftershock/npcs/Backgrounds/BGRS_migo_2.json
  data/mods/Aftershock/npcs/Backgrounds/BGRS_migo_3.json
  data/mods/Aftershock/npcs/Backgrounds/BGRS_schizo_1.json
  data/mods/Aftershock/npcs/Backgrounds/BGRS_schizo_2.json
  data/mods/Aftershock/npcs/Backgrounds/BG_BR_tableofcontents_AFS.json
  data/mods/Aftershock/npcs/Backgrounds/BG_trait_groups_afs.json
  data/mods/Aftershock/npcs/Backgrounds/BG_traits_afs.json
  data/mods/Aftershock/npcs/Backgrounds/cyberninja.json
  data/mods/Aftershock/npcs/Backgrounds/ganger_1.json
  data/mods/Aftershock/npcs/Backgrounds/ganger_2.json
  data/mods/Aftershock/npcs/Backgrounds/ganger_3.json
  data/mods/Aftershock/npcs/Backgrounds/talk_cyborg_abomination.json
  data/mods/Aftershock/npcs/Backgrounds/whately.json
  data/mods/Aftershock/npcs/classes.json
  data/mods/Aftershock/npcs/cyborg_npcs/npc_classes_cyborg.json
  data/mods/Aftershock/npcs/cyrus_whately.json
  data/mods/Aftershock/npcs/frankenstein_classes.json
  data/mods/Aftershock/npcs/milly_whately_dialogue.json
  data/mods/Aftershock/npcs/mutant_npcs/trait_groups.json
  data/mods/Aftershock/npcs/npc.json
  data/mods/Aftershock/npcs/whately_generic_dialogue.json
  data/mods/Aftershock/recipes/frankenstein_recipes.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: Crafting / Construction / Recipes, Mods: Aftershock, NPC / Factions

#42667 Audit Mark 19 grenade launcher for volume, and longest_side
  data/json/items/gun/40x53mm.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#42682 Minor grammar fix for butchery line
  src/activity_handlers.cpp
Labels: Translation, [C++]

#42547 Vitamin property at JSON_INFO
  doc/JSON_INFO.md
Labels: <Documentation>, Items: Food / Vitamins, [Markdown]

#42726 Clang-tidy: Reference the guard macro in a comment
  src/units_utility.h
Labels: [C++]

#42730 [DinoMod] Pteranodon, Camarasaurus, more zombie dinos
  data/mods/DinoMod/cooking_components.json
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/lab.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/obsolete/monsters.json
Labels: Mods: Dinoclysm, Monsters, [JSON]

#42728 Take contents into account when sorting by spoilage
  src/item.cpp
  src/item.h
Labels: <Bugfix>, Items: Containers, [C++]

#42602 Tiles: Rotate unconnected furniture to face away from adjacent walls
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/terrain-windows.json
  doc/JSON_FLAGS.md
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/map.cpp
  src/map.h
  src/mapdata.cpp
  src/mapdata.h
Labels: <Enhancement / Feature>, SDL: Tiles / Sound

#42477 [Test Requested] Vehicle parts chirality: An enormous visuals update.
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/mirrors.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
  data/json/vehicleparts/windshields.json
  data/json/vehicles/bikes.json
  data/json/vehicles/cars.json
  data/json/vehicles/carts.json
  data/json/vehicles/custom_vehicles.json
  data/json/vehicles/vans_busses.json
Labels: SDL: Tiles / Sound, Vehicles

#42654 butchery requirements 2
  data/json/butchery_requirements.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/butchery_requirements.cpp
  src/butchery_requirements.h
  src/character.cpp
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/harvest.cpp
  src/harvest.h
  src/init.cpp
  src/mondeath.cpp
  src/monmove.cpp
  src/monster.cpp
  src/ranged.cpp
  src/trapfunc.cpp
Labels: <Enhancement / Feature>, [C++], [JSON]

#42734 Increase milking machine move cost
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: Fields / Furniture / Terrain / Traps, Game: Balance, [JSON]

#42527 Autodoc blood analysis
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/iexamine.cpp
Labels: 0.F Feature Freeze, <Enhancement / Feature>, Fields / Furniture / Terrain / Traps

#42732 Audit 9mm guns for weight, volume, and longest_side
  data/json/items/gun/9mm.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#42745 Clothing menu opens to category "All"
  src/armor_layers.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#42747 Update 84x246mm guns with weight, volume, and longest_side, addition of M3E1
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/items/gun/84x246mm.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#42759 UltiCa Update 6 August 2020
  gfx/UltimateCataclysmDemo/centered.png
  gfx/UltimateCataclysmDemo/fillerhoder.png
  gfx/UltimateCataclysmDemo/giant.png
  gfx/UltimateCataclysmDemo/incomplete.png
  gfx/UltimateCataclysmDemo/large.png
  gfx/UltimateCataclysmDemo/normal.png
  gfx/UltimateCataclysmDemo/opengameartgiant.png
  gfx/UltimateCataclysmDemo/small.png
  gfx/UltimateCataclysmDemo/tall.png
  gfx/UltimateCataclysmDemo/tile_config.json
  gfx/UltimateCataclysmDemo/tileset.txt
Labels: SDL: Tiles / Sound

#42756 Use class translation in gun_actor
  src/mattack_actors.cpp
  src/mattack_actors.h
Labels: Translation, [C++]

#42755 Rocks thrown by feral human do not penetrate vehicle wall
  data/json/items/gun/monster_gun.json
Labels: <Bugfix>, Monsters, Vehicles, [JSON]

#42754 Audit weight, volume, and longest_side for improvised guns
  data/json/items/gun/38.json
  data/json/items/gun/40.json
  data/json/items/gun/44.json
  data/json/items/gun/45.json
  data/json/items/gun/700nx.json
  data/json/items/gun/blunderbuss.json
  data/json/items/gun/chemical_spray.json
  data/json/items/gun/combination.json
  data/json/items/gun/flammable.json
  data/json/items/gun/monster_gun.json
  data/json/items/gun/nail.json
Labels: [JSON]

#42751 Fix error and unusable vehicle after driving into a tear in reality.
  src/map_field.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++]

#42720 Remove extraneous header
  src/ammo_effect.h
Labels: Code: Build, [C++]

#42767 Remove precompiled headers and and depfiles at make clean
  Makefile
  tests/Makefile
Labels: Code: Build

#42770 Have place_npc use action reference the correct json file
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown]

#42773 [ Magiclysm ] Debug Fireball Hammer small change
  data/mods/Magiclysm/items/enchanted.json
Labels: <Bugfix>, Mods: Magiclysm, [JSON]

#42749 Containers inherit longest side from longest item inside
  src/item.cpp
Labels: Items: Containers, [C++]

#42758 Audit .50 BMG guns
  data/json/items/gun/50.json
Labels: [JSON]

#42783 Fix temperature being 0 on load.
  src/savegame.cpp
Labels: <Bugfix>, Mechanics: Weather, [C++]

#42784 Fix short rope recipe
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#42782 add plastic sheet to more item_groups
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/vehicles_fuel_related.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, Spawn

#42776 Fix fence smashing leftovers
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: Fields / Furniture / Terrain / Traps, [JSON]

#42738 Artifact procgen json (and minor activation fix)
  data/json/artifact/artifact_item_types.json
  data/json/artifact/legacy_artifact_active.json
  data/json/artifact/legacy_artifact_passive.json
  data/json/artifact/relic_procgen_data.json
  src/relic.cpp
  src/relic.h
Labels: <Bugfix>, Artifacts, [C++], [JSON]

#42675 Add profession counterparts to the burner & hazmat zombie(+change napalm's "container" & a new itemgroup)
  data/json/items/fuel.json
  data/json/professions.json
  data/json/scenarios.json
Labels: Mutations / Traits / Professions, [JSON]

#42731 Introduce infrastructure for tracking past games
  src/achievement.cpp
  src/filesystem.cpp
  src/filesystem.h
  src/init.cpp
  src/memorial_logger.cpp
  src/past_games_info.cpp
  src/past_games_info.h
  src/ui_manager.cpp
Labels: <Enhancement / Feature>, Game: Achievements / Conducts / Scores, [C++]

#42771 Add message limit option for saving log history
  src/messages.cpp
  src/options.cpp
Labels: Info / User Interface, [C++]

#42762 Fix debug message about turret having no arms and clean up bodypart code a bit
  src/bodypart.cpp
  src/bodypart.h
  src/creature.cpp
  src/creature.h
  src/player_display.cpp
  src/ranged.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player, NPC / Factions, [C++]

#42722 [ C.R.I.T ]CRT ARTIFACT TO RELIC blocker for 0.F
  data/mods/CRT_EXPANSION/deadspace/deadspaceitems.json
  data/mods/CRT_EXPANSION/items/crt_item_enchants.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
Labels: Artifacts, Mods, [JSON]

#42746 Audit toileteries.json for longest side, volume and weight data
  data/json/items/tool/toileteries.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#42797 fix gitignore for build-data/osx/AppIcon.icns
  .gitignore
Labels: Code: Build, OS: macOS

#42790 adjust relic recharge code
  src/item.cpp
  src/item.h
  src/player.cpp
  src/relic.cpp
  src/relic.h
Labels: Artifacts, [C++]

#42800 Fix incorrectly specified volume unit
  data/json/items/tool/toileteries.json
Labels: <Bugfix>, [JSON]

#42778 Creating an in progress craft finds items in nested containers
  src/item.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#42799 Bugfix - mouse input only valid for first column in inventory, wrong unit of a value in json
  src/inventory_ui.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#42805 add solar artifact recharge type
  src/item.cpp
  src/item.h
  src/relic.cpp
  src/relic.h
Labels: Artifacts, [C++]

#42769 Add encumbrance data to wearable ammo belts
  data/json/items/classes/magazine.json
Labels: [JSON]

#42815 Only damage main bodyparts on starting scenario Helicrash
  src/start_location.cpp
Labels: Game: Balance, Scenarios, [C++]

#42816 Disassemble legacy toolboxes
  data/json/obsolete.json
  data/json/recipes/recipe_deconstruction_package.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#42817 Audit 762R guns for volume, and longest_side
  data/json/items/gun/762R.json
Labels: [JSON]

#42801 Use a static variable for the null body part in get_part_helper().
  src/creature.cpp
Labels: Code: Build

#42838 Add prefix to modded test output
  build-scripts/build.sh
Labels: Code: Tests

#42847 Rollback Visual Studio version in Appveyor
  .appveyor.yml
Labels: Code: Build, OS: Windows

#42825 Fix items with undefined temperature
  src/activity_handlers.cpp
  src/advanced_inv.cpp
  src/character.cpp
  src/item.cpp
  src/item.h
  src/map.cpp
  src/veh_interact.cpp
  src/vehicle_part.cpp
  tests/visitable_remove_test.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mechanics: Temperature, [C++]

#42855 [DinoMod] Mosasaurus
  data/mods/DinoMod/cooking_components.json
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
Labels: Mods: Dinoclysm, Monsters, Spawn

#42861 Fix headlamp covers field
  data/json/items/tool_armor.json
Labels: <Bugfix>, [JSON]

#42865 Use wineconsole rather than wine on Travis
  .travis.yml
Labels: Code: Build

#42881 Give Backpacker profession Survival level 1
  data/json/professions.json
Labels: Mutations / Traits / Professions, [JSON]

#42848 Ascii arts guide
  doc/ASCII_ARTS.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown]

#42882 Move Android.mk from src/ to android/app/jni/src
  android/app/jni/src
  android/app/jni/src/Android.mk
  android/gradle.properties
Labels: Code: Build, OS: Android

#42860 Automatically sort body parts based on connectivity
  data/json/body_parts.json
  doc/JSON_INFO.md
  src/activity_handlers.cpp
  src/anatomy.cpp
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/creature.cpp
  src/creature.h
  src/iexamine.cpp
  src/map_field.cpp
  src/npc.cpp
  src/npctalk_funcs.cpp
  src/panels.cpp
  src/player.cpp
  src/player_display.cpp
  src/player_hardcoded_effects.cpp
  src/start_location.cpp
  src/suffer.cpp
  tests/creature_test.cpp
  tests/stringmaker.h
Labels: Info / User Interface, [C++], [JSON]

#42878 Add "LIQUIDCONT" flag to bathtub
  data/json/furniture_and_terrain/furniture-plumbing.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#42910 Enable compiling an Android build under Windows.
  android/.gitignore
  android/app/build.gradle
Labels: Code: Build, OS: Android, OS: Windows

#42906 [Dark Skies] Creates design doc
  data/mods/Dark-Skies-Above/DESIGN.md
Labels: <Documentation>, Mods: Dark Skies

#42923 Allow Scout trait to work with other traits
  src/character.cpp
  tests/mutation_test.cpp
Labels: <Bugfix>, Mutations / Traits / Professions, [C++]

#42917 tools: add a Python script to reformat vehicles to use parts arrays
  data/json/vehicles/custom_vehicles.json
  tools/vehicle_reformatter.py
Labels: Vehicles, [JSON], [Python]

#42533 Unify damage types
  data/json/mutations/mutation_spells.json
  data/mods/Aftershock/spells/hologram_spells.json
  data/mods/Aftershock/spells/spells.json
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/monster_attacks.json
  data/mods/TEST_DATA/magic.json
  src/assign.h
  src/bonuses.cpp
  src/bonuses.h
  src/character.cpp
  src/damage.cpp
  src/damage.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/magic.cpp
  src/magic.h
  src/melee.cpp
  src/monster.cpp
  src/vehicle.h
Labels: Code: Infrastructure / Style / Static Analysis, Mods: Aftershock, Mods: Magiclysm, [C++], [JSON]

#42940 Fix droping bionic weapon
  src/advanced_inv.cpp
  src/character.cpp
  src/character.h
  src/game_inventory.cpp
  src/player_hardcoded_effects.cpp
Labels: <Bugfix>, Bionics, [C++]

#42890 Require grenades and other explosives to be wielded before activation
  data/json/items/tool/explosives.json
  doc/JSON_INFO.md
Labels: <Documentation>, Items / Item Actions / Item Qualities, [JSON], [Markdown]

#42950 mutation enchantment item fix
  src/character.cpp
  src/character.h
  src/item.cpp
  src/item.h
  src/mutation.cpp
Labels: <Bugfix>, Artifacts, Mutations / Traits / Professions

#42824 Artifacts regenerating ammo
  data/mods/Magiclysm/items/enchanted_boots.json
  data/mods/Magiclysm/items/enchanted_bracers.json
  data/mods/Magiclysm/items/enchanted_masks.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/enchanted_rings.json
  src/relic.cpp
  src/relic.h
Labels: Artifacts, [C++], [JSON]

#42952 Properly redraw activity wait popup when interrupting, resizing, etc
  data/raw/keybindings.json
  src/game.cpp
  src/game.h
  src/sdltiles.cpp
  src/ui_manager.cpp
  src/ui_manager.h
Labels: <Bugfix>, Info / User Interface, [C++]

#42929 Add weight and volume to generic guns grenade belt
  data/mods/Generic_Guns/magazines/grenade.json
Labels: <Bugfix>, [JSON]

#42808 itemgroup analyzer tool
  tools/json_tools/itemgroups.py
Labels: Items / Item Actions / Item Qualities, [Python]

#42921 Survivor Harness Pocket Changes
  data/json/items/armor/holster.json
  data/json/recipes/armor/storage.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items: Containers, [JSON]

#42934 Fix segfault when loading save game activity backlog
  src/item_location.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#42935 table.py --tileset option and multiple inputs for --type, backward compatible
  tools/json_tools/table.py
Labels: [Python]

#42932 Use cata::optional for mutation value calculations
  src/character.cpp
  src/mutation.cpp
  src/mutation.h
  src/newcharacter.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Mutations / Traits / Professions, [C++]

#42920 Fix fire extinguishers spawning empty
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/SUS/evac_shelter.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/collections_trades.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/military.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/vehicles_fuel_related.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#42867 Only refill tanks from watertight containers
  src/veh_interact.cpp
Labels: <Bugfix>, Vehicles, [C++]

#42945 vehicle interaction: correctly display chemical volumes
  src/veh_interact.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles

#42677 Replace some body_part with bodypart_id
  data/json/field_type.json
  data/json/monster_attacks.json
  data/json/monsters/reptile_amphibian.json
  data/mods/Aftershock/effects.json
  data/mods/Dark-Skies-Above/monsters/monattack.json
  data/mods/Dark-Skies-Above/monsters/wild_aliens/alien_fauna.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/monster_attacks.json
  data/mods/Magiclysm/monsters/dragon.json
  doc/JSON_INFO.md
  doc/MAGIC.md
  src/armor_layers.cpp
  src/bionics.cpp
  src/bodypart.cpp
  src/bodypart.h
  src/cata_variant.h
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/damage.h
  src/disease.cpp
  src/disease.h
  src/dump.cpp
  src/field_type.cpp
  src/field_type.h
  src/game.cpp
  src/game.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/map.h
  src/map_field.cpp
  src/mattack_actors.cpp
  src/mattack_actors.h
  src/memorial_logger.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
  src/player_hardcoded_effects.cpp
  src/suffer.cpp
  tests/creature_test.cpp
  tests/json_test.cpp
  tests/memorial_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player, [C++]

#42943 Add kevlar_layered as a repairable material to Magiclysm's sewing kits
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/tools.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#42960 [CRIT] Fix invalid damage type
  data/mods/CRT_EXPANSION/items/crt_item_enchants.json
Labels: <Bugfix>, Mods, [JSON]

#42951 Fix infinite loop on parsing spells on arm64.
  src/magic.cpp
Labels: <Bugfix>, OS: Android, [C++]

#42965 mutation_branch::load uses cata::nullopt as default for optional values
  src/mutation_data.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Mutations / Traits / Professions, [C++]

#42944 Magiclysm: add Wildshape Cloaks
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/enchanted_cloaks.json
  data/mods/Magiclysm/traits/mutation.json
Labels: Mods: Magiclysm, [JSON]

#42978 fix period spacing
  data/mods/Magiclysm/items/enchanted_cloaks.json
  data/mods/Magiclysm/traits/mutation.json
Labels: <Bugfix>

#42975 Planar Frontiersman auto wields crowbar
  data/mods/Aftershock/player/professions.json
Labels: <Bugfix>, Mods: Aftershock, Mutations / Traits / Professions, [JSON]
