Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-10, with the labels that each got.

#44496 [magiclysm] implement summonable motorcycle
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
Labels: Mods: Magiclysm, Spawn, Vehicles, [JSON]

#44543 Made getting inside gunstores through the second floor more difficult
  data/json/mapgen/gunsmith.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/store/s_gunstore.json
Labels: Game: Balance, Map / Mapgen

#44547 [Magiclysm] add technomancer house
  data/mods/Magiclysm/worldgen/house_technomancer.json
  data/mods/Magiclysm/worldgen/multitile_city_buildings.json
  data/mods/Magiclysm/worldgen/overmap_terrain.json
  data/mods/Magiclysm/worldgen/regional_overlay.json
Labels: Map / Mapgen, Mods: Magiclysm, [JSON]

#44548 Add ramp access for office tower garage
  data/json/mapgen/office_tower.json
  data/json/mapgen_palettes/office.json
Labels: Map / Mapgen, [JSON]

#44538 Fully use class translation in options
  data/core/game_balance.json
  src/cata_tiles.cpp
  src/options.cpp
  src/options.h
  src/worldfactory.cpp
Labels: Translation, [C++], [JSON]

#44535 Fix sun in tents and vehicles
  data/json/furniture_and_terrain/furniture-terrains.json
  doc/JSON_FLAGS.md
  src/map.cpp
  src/map.h
  src/mapdata.cpp
  src/mapdata.h
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Vehicles, [C++], [JSON]

#44446 Expand metalworking and other older proficiencies
  data/json/professions.json
  data/json/proficiencies/metalwork.json
  data/json/proficiencies/misc.json
  data/json/proficiencies/tailoring.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, [JSON]

#44517 Give fire axe pocket for halligan
  data/json/items/tool/firefighting.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#44571 Fix unvisited member warnings and unspecified gunmod installation time
  data/mods/CRT_EXPANSION/items/crt_gunmods.json
  data/mods/Magiclysm/items/enchanted_gunmods.json
  data/mods/sees_player_hitbutton/mod_tileset.json
  data/mods/sees_player_retro/mod_tileset.json
  src/json.cpp
  src/veh_type.cpp
Labels: <Bugfix>, Mods, SDL: Tiles / Sound, Vehicles, [C++], [JSON]

#44564 Jsonize weed messages
  data/json/snippets/weed_messages.json
  src/effect.cpp
Labels: [C++], [JSON]

#44583 add battery cell to police sniper headgear
  data/json/professions.json
Labels: <Bugfix>, Character / World Generation, Items: Battery / UPS, Spawn, [JSON]

#42620 Feet-related mutations rework
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/holster.json
  data/json/items/armor/sheath.json
  src/character.cpp
  src/character.h
  src/suffer.cpp
Labels: Game: Balance, Mutations / Traits / Professions, [C++], [JSON]

#44525 Fix weather animation
  src/weather_type.cpp
Labels: <Bugfix>, Mechanics: Weather, [C++]

#42796 Fix folding stock increasing aim speed.
  src/character.cpp
  src/item.cpp
  src/item.h
Labels: <Bugfix>, Items: Gunmod / Toolmod, [C++]

#43116 Make Mute also a player trait
  data/json/mutations/mutations.json
  doc/JSON_FLAGS.md
  src/activity_handlers.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/npc.cpp
  src/npctalk.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/talker_npc.cpp
Labels: Mutations / Traits / Professions, [JSON]

#44186 Reload liquid containers
  src/character.cpp
  src/item.cpp
  src/player.cpp
  tests/reloading_test.cpp
Labels: Items: Containers, [C++]

#44258 Add tests for better_pocket and best_pocket
  data/mods/TEST_DATA/items.json
  src/item_contents.cpp
  tests/iteminfo_test.cpp
  tests/pocket_test.cpp
Labels: Code: Tests, Items: Containers

#44572 Fix out of bounds access in get_bar and improve satiety_bar
  src/output.cpp
  src/output.h
  tests/comestible_test.cpp
Labels: <Bugfix>, Code: Tests, Info / User Interface, [C++]

#44590 fix vehicle door (de)serialization
  src/veh_type.h
Labels: <Bugfix>, Vehicles, [C++]

#44373 Rename skills and merge speech-barter
  data/json/achievements.json
  data/json/items/book/barter.json
  data/json/npcs/classes.json
  data/json/npcs/isherwood_farm/NPC_Carlos_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Chris_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jesse_Isherwood.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Pablo_Nunez.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/npcs/refugee_center/surface_visitors/NPC_arsonist.json
  data/json/npcs/robofac/NPC_ROBOFAC_INTERCOM.json
  data/json/npcs/robofac/ROBOFAC_SURFACE_FREEMERCHANT.json
  data/json/obsolete.json
  data/json/professions.json
  data/json/skillDisplayType.json
  data/json/skills.json
  data/mods/Aftershock/player/professions.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
  data/mods/Magiclysm/professions.json
  src/gamemode_defense.cpp
  src/npc.cpp
  src/npctrade.cpp
  src/skill.cpp
  src/skill.h
  tests/memorial_test.cpp
  tests/reading_test.cpp
Labels: Game: Balance, Mechanics: Effects / Skills / Stats, [C++], [JSON]

#44416 #43292 - Remove support for comestibles fortified with vitamins via the 'relative' field with an integer
  src/item_factory.cpp
Labels: [C++]

#44581 Removed guaranteed loot spawn, part I: mapgen palettes
  data/json/itemgroups/SUS/domestic.json
  data/json/mapgen_palettes/basement.json
  data/json/mapgen_palettes/cground.json
  data/json/mapgen_palettes/clothes_store_palette.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/library_palette.json
  data/json/mapgen_palettes/lumberyard.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, Spawn

#44552 Proficiencies for weapons - piercing.json and bashing.json
  data/json/proficiencies/misc.json
  data/json/proficiencies/woodworking.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/piercing.json
Labels: Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, [JSON]

#44639 Aftershock: Replace Vanilla autodocs with Aftershock Average Autodocs
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/maps/mapgen/augmentation_clinic.json
Labels: Game: Balance, Mods: Aftershock, [JSON]

#44632 Allow building with Sound using Code::Blocks on Wiindows
  CataclysmWin.cbp
Labels: Code: Build, OS: Windows

#44551 Magiclysm proficiencies
  data/json/proficiencies/chemistry.json
  data/json/proficiencies/misc.json
  data/mods/Magiclysm/proficiencies.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/recipes/armor.json
  data/mods/Magiclysm/recipes/blacksmithing.json
  data/mods/Magiclysm/recipes/dragon_black.json
  data/mods/Magiclysm/recipes/magic_tools.json
  data/mods/Magiclysm/recipes/recipe_potions.json
  data/mods/Magiclysm/recipes/weapons.json
Labels: Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, Mods: Magiclysm

#44648 weapon/tool recipe file resorting
  data/json/recipes/other/parts.json
  data/json/recipes/other/tool.json
  data/json/recipes/other/tools_hand.json
  data/json/recipes/other/tools_primitive.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_weapon.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
Labels: Code: Infrastructure / Style / Static Analysis, Crafting / Construction / Recipes, [JSON]

#44569 [DinoMod] Sauropod Shuffle: Brontosaurus, Alamosaurus, Brachiosaurus
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/cooking_components.json
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/snippets.json
Labels: Items: Food / Vitamins, Mods: Dinoclysm, Monsters, Spawn, [JSON]

#44679 Search nearby map area for mission targets
  src/mission.cpp
Labels: <Bugfix>, Missions, [C++]

#44667 Added salt lick spawns to to dairy farm and horse farm
  data/json/mapgen/farm_dairy.json
  data/json/mapgen/farm_horse.json
Labels: Items / Item Actions / Item Qualities, Map / Mapgen, Spawn

#44692 tacoma commune: re-enable spawning of the ranch doctor
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
Labels: <Bugfix>, Missions, [JSON]

#44646 move ropes to their own recipe file and remove cloth reversible rope
  data/json/recipes/other/cords_and_ropes.json
  data/json/recipes/recipe_others.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#44650 [magiclysm] add bullet armor to magic rings and bracers of protection
  data/mods/Magiclysm/items/enchanted_bracers.json
  data/mods/Magiclysm/items/enchanted_rings.json
Labels: Game: Balance, Mods: Magiclysm, [JSON]

#44659 Imbue scent map (de)serialization stream with the C locale
  src/savegame.cpp
Labels: <Bugfix>, [C++]

#44566 Use class translation in construction and group construction by group id instead of description
  data/json/construction.json
  data/json/construction_group.json
  data/mods/Aftershock/construction_group.json
  data/mods/Aftershock/recipes/construction.json
  data/mods/CRT_EXPANSION/construction_group.json
  data/mods/CRT_EXPANSION/constructions/crt_constructions.json
  data/mods/Magiclysm/construction_group.json
  data/mods/Magiclysm/recipes/construction.json
  doc/JSON_INFO.md
  lang/extract_json_strings.py
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/clzones.h
  src/construction.cpp
  src/construction.h
  src/construction_group.cpp
  src/construction_group.h
  src/game.cpp
  src/iexamine.cpp
  src/init.cpp
  src/string_id_null_ids.cpp
  src/type_id.h
  src/uistate.h
Labels: Crafting / Construction / Recipes, Translation, [C++], [JSON]

#44633 Fix inventory UI highlight not displayed when opening the UI or resizing the window
  src/inventory_ui.cpp
  src/ui_manager.h
Labels: <Bugfix>, Inventory / AIM / Zones, [C++]

#44691 Use class translation for faction description and other translation updates
  data/json/items/armor/cloaks.json
  data/json/items/book/cooking.json
  data/json/items/book/misc.json
  data/json/items/book/misc_pulp.json
  data/json/items/containers.json
  data/json/items/tool/explosives.json
  data/json/npcs/Backgrounds/gung_ho_3.json
  data/json/npcs/Kindred/NPC_Brigitte_LaCroix.json
  data/json/npcs/isherwood_farm/NPC_Barry_Isherwood.json
  data/json/npcs/missiondef.json
  data/json/npcs/necropolis/NPC_Old_Guard_Captain.json
  data/json/npcs/necropolis/NPC_Old_Guard_Commo.json
  data/json/npcs/robofac/NPC_ROBOFAC_MERC_1.json
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
  data/json/npcs/tacoma_ranch/NPC_ranch_scavenger.json
  data/json/overmap/overmap_land_use_codes.json
  data/json/professions.json
  data/mods/Aftershock/items/ammo.json
  data/mods/Aftershock/items/frankenstein_items.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/npcs/milly_whately_dialogue.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/Generic_Guns/firearms/rifle.json
  data/mods/Magiclysm/professions.json
  data/mods/Magiclysm/traits/attunements.json
  data/mods/National_Guard_Camp/military.json
  doc/TRANSLATING.md
  src/faction.cpp
  src/faction.h
  src/handle_action.cpp
  src/iuse.cpp
  src/text_style_check.h
  tests/fold_string_test.cpp
Labels: NPC / Factions, Translation, [C++], [JSON]

#44661 Weight cache invalidation where needed
  src/item.cpp
  src/pickup.cpp
  src/player.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Items: Containers, [C++]

#44557 shadowcasting benchmark
  tests/shadowcasting_test.cpp
Labels: Code: Performance, Code: Tests, [C++]

#44563 simplify item::damage_level()
  src/activity_handlers.cpp
  src/character.cpp
  src/crafting.cpp
  src/game.cpp
  src/inventory.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/monattack.cpp
  src/monster.cpp
  src/player.cpp
  src/veh_interact.cpp
  src/veh_utils.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  tests/item_tname_test.cpp
Labels: Items / Item Actions / Item Qualities, [C++]

#44481 refactor spells to use "shape" enums
  data/json/artifact/altered_object_active.json
  data/json/artifact/legacy_artifact_active.json
  data/json/artifact/legacy_artifact_passive.json
  data/json/monster_special_attacks/spells.json
  data/json/mutations/mutation_spells.json
  data/mods/Aftershock/spells/hologram_spells.json
  data/mods/Aftershock/spells/spells.json
  data/mods/CRT_EXPANSION/items/crt_item_enchants.json
  data/mods/Dark-Skies-Above/monspell.json
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Artificer.json
  data/mods/Magiclysm/Spells/attunements/Biotek.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/attunements/Earth_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Fire_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Force_Mage.json
  data/mods/Magiclysm/Spells/attunements/Ice_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Illusionist.json
  data/mods/Magiclysm/Spells/attunements/Overclocker.json
  data/mods/Magiclysm/Spells/attunements/Radiation_Mage.json
  data/mods/Magiclysm/Spells/attunements/Soulfire.json
  data/mods/Magiclysm/Spells/attunements/Storm_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Sun_Mage.json
  data/mods/Magiclysm/Spells/attunements/Tundra_Mage.json
  data/mods/Magiclysm/Spells/attunements/Wither_Mage.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/black_dragon.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/debug.json
  data/mods/Magiclysm/Spells/dragonbreath.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/lizardfolk_shaman.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/manatouched.json
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/enchantments/Fire_Elemental.json
  data/mods/Magiclysm/enchantments/Ice_Elemental.json
  data/mods/Magiclysm/enchantments/Soulfire.json
  data/mods/Magiclysm/enchantments/Storm_Elemental.json
  data/mods/Magiclysm/enchantments/Sun_Mage.json
  data/mods/Magiclysm/enchantments/Void_Mage.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/monster_attacks.json
  data/mods/Magiclysm/traits/manatouched.json
  data/mods/TEST_DATA/magic.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/magic_spell_effect_helpers.h
  src/ranged.cpp
  tests/json_test.cpp
  tests/magic_spell_effect_test.cpp
  tests/magic_spell_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++], [JSON]

#44622 Fix some conflicting profession clothes, add MD trait where appropriate
  data/json/professions.json
Labels: Mutations / Traits / Professions, [JSON]

#44600 [Aftershock] Missing Broken Robot items
  data/mods/Aftershock/items/corpses.json
Labels: <Bugfix>, Mods: Aftershock

#44681 Fix item group containers
  src/item_group.cpp
Labels: <Bugfix>, Items: Containers, Spawn, [C++]

#43166 Reworked rebar and rebar rail into rebar no.5 (First time contribution)
  data/json/items/ammo/metal_rail.json
  data/json/items/generic.json
  data/json/items/melee/spears_and_polearms.json
Labels: [JSON]

#44634 Fix corrosive zombie and mi-go scout ranged attack penetrating vehicle walls
  data/json/items/fake.json
Labels: Monsters, [JSON]

#44710 [Aftershock] Missing robot Corpse
  data/mods/Aftershock/items/corpses.json
Labels: <Bugfix>, Mods: Aftershock, Monsters, [JSON]

#44609 Randomize charges for lighters, matches, markers, and inhalers
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/military.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/trash_and_debris.json
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/mapgen/field_football.json
  data/json/mapgen/ws_survivor_bunker.json
  data/json/mapgen/ws_survivor_camp.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/items_generic.json
Labels: <Bugfix>, Spawn

#44631 [Magiclysm] Attunements - Overclocker traits
  data/mods/Magiclysm/traits/attunements.json
  src/character.cpp
  src/magic.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: Mods: Magiclysm, [C++], [JSON]

#44688 [Magiclysm] Attunements - Gamma Burst
  data/mods/Magiclysm/Spells/attunements/Radiation_Mage.json
  data/mods/Magiclysm/traits/attunements.json
Labels: Mods: Magiclysm, [JSON]

#44684 [Magiclysm] Attunements - Railgun spell
  data/mods/Magiclysm/Spells/attunements/Magnetism_Mage.json
  data/mods/Magiclysm/traits/attunements.json
Labels: Mods: Magiclysm, [JSON]

#44689 Fix dirty fuel #44045
  data/json/furniture_and_terrain/terrain-manufactured.json
  src/iexamine.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#44720 remove default keybinding for map memory toggle
  data/raw/keybindings.json
Labels: Info / User Interface, [JSON]

#44725 Fix Npc opinion based on player hp
  src/npc.cpp
Labels: <Bugfix>, [C++]

#44669 [Content] Adds kitchen knives ascii art
  data/json/generic_ascii.json
  data/json/items/armor/eyewear.json
  data/json/items/containers.json
  data/json/items/melee/knives_kitchen.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool/med.json
  data/json/items/tool/stationary.json
  data/json/items/tool/workshop.json
Labels: Items / Item Actions / Item Qualities, SDL: Tiles / Sound, [JSON]

#44655 Jsonize vpart categories
  data/json/obsolete.json
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/armor.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/lights.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/mirrors.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/obsolete.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/rotor.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/turret.json
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
  data/json/vehicleparts/windshields.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/BlazeIndustries/vehicleparts/blaze_combustion.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
  data/mods/BlazeIndustries/vehicleparts/blaze_turrets_vanilla.json
  data/mods/Generic_Guns/vehicles/turrets.json
  data/mods/Magiclysm/items/vehicle_parts.json
  data/mods/Magiclysm/vehicleparts/frames.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  tests/vehicle_part_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Vehicles, [C++], [JSON]

#44682 [Magiclysm] Attunements - Rock Blast spell
  data/mods/Magiclysm/Spells/attunements/Earth_Elemental.json
  data/mods/Magiclysm/Spells/debug.json
  data/mods/Magiclysm/traits/attunements.json
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: Mods: Magiclysm, [C++], [JSON]

#44665 Display correct item info for each item in V menu.
  src/game.cpp
  src/map_item_stack.cpp
  src/map_item_stack.h
Labels: <Bugfix>, Controls / Input, [C++]

#44673 Stop zombie bash parties
  src/monmove.cpp
Labels: <Bugfix>, Monsters

#44730 EMP effect changed to tripoints to support z
  src/explosion.cpp
Labels: <Bugfix>, [C++]

#44742 add a name to rock blast
  data/mods/Magiclysm/Spells/attunements/Earth_Elemental.json
Labels: <Bugfix>, Mods: Magiclysm, [JSON]

#44756 fix monster attack spells
  src/mattack_actors.cpp
Labels: <Bugfix>, [C++]

#44752 Make clang 10 compile
  src/magic_spell_effect.cpp
Labels: <Bugfix>

#44724 Code optimizations reported by static code analysis (2020-09-08)
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_handlers.cpp
  src/bionics.cpp
  src/bodypart.h
  src/cata_tiles.cpp
  src/catacharset.h
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/damage.h
  src/faction.cpp
  src/game.cpp
  src/game.h
  src/game_inventory.cpp
  src/gamemode_defense.cpp
  src/item_factory.cpp
  src/itype.h
  src/magic.cpp
  src/magic.h
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/mapdata.cpp
  src/mission.h
  src/monattack.cpp
  src/monmove.cpp
  src/monster.cpp
  src/morale.h
  src/mutation.h
  src/newcharacter.cpp
  src/output.cpp
  src/overmap.cpp
  src/player.cpp
  src/projectile.cpp
  src/ranged.cpp
  src/recipe.h
  src/savegame_json.cpp
  src/shadowcasting.cpp
  src/stomach.cpp
  src/veh_type.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/worldfactory.h
  tests/activity_scheduling_helper.cpp
  tests/activity_scheduling_helper.h
  tests/map_test_case.cpp
  tests/map_test_case.h
  tests/shadowcasting_test.cpp
  tests/vision_test.cpp
  tests/weary_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#44754 Move player hardcoded effects to character
  src/avatar.h
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
  src/player_hardcoded_effects.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#44746 [Magiclysm] Attunements - Rebalance Lava Bomb
  data/mods/Magiclysm/Spells/attunements/Vulcanist.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/traits/attunements.json
Labels: Mods: Magiclysm, [JSON]

#44749 move spell effect map out of loading function into global namepsace
  src/magic.cpp
  src/magic.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#44334 merge lockpicking and traps skills into a new "devices" skill, add proficiencies for it
  data/json/achievements.json
  data/json/items/book/lockpick.json
  data/json/obsolete.json
  data/json/professions.json
  data/json/proficiencies/traps.json
  data/json/recipes/other/tool.json
  data/json/recipes/other/vehicle.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_traps.json
  data/json/skills.json
  data/json/statistics.json
  data/mods/TEST_DATA/items.json
  src/activity_actor.cpp
  src/iuse.cpp
  tests/crafting_test.cpp
  tests/iteminfo_test.cpp
Labels: Mechanics: Effects / Skills / Stats, [JSON]

#44753 Remove overhead in get_hunger_description()
  src/character.cpp
Labels: Code: Performance, [C++]

#44766 Add default symbols to in-repo mods
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/Magiclysm/vehicleparts/frames.json
Labels: <Bugfix>, Mods, Vehicles, [JSON]

#44644 More fridge subtypes
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/SUS/fridges.json
Labels: Items: Food / Vitamins, Spawn, [JSON]

#44687 Dismantle recipe_electronics and pull some things out of recipe_others
  data/json/recipes/other/bots.json
  data/json/recipes/other/containers.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/medical.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/other/parts_rigs.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/other/tools_primitive.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/lights.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/tools/tools_primitive.json
Labels: Code: Infrastructure / Style / Static Analysis, [JSON]

#44523 Update hand press recipe
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/tool.json
Labels: Crafting / Construction / Recipes, [JSON]

#44662 Fix weariness not saving or loading
  src/character.h
  src/savegame_json.cpp
Labels: <Bugfix>, Mechanics: Character / Player, [C++]

#44727 Added ignore proficencies flag to butcher menu disassembly
  src/game.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Info / User Interface, [C++]

#44695 [DinoMod] dinoexhibit templatify and roof and baby variant
  data/mods/DinoMod/mapgen/dinoexhibit.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/overmap_specials.json
  data/mods/DinoMod/overmap_terrain.json
Labels: Map / Mapgen, Mods: Dinoclysm, Spawn, [JSON]

#44733 NewCharacter: Hide random-character-only keys
  src/newcharacter.cpp
Labels: Info / User Interface, [C++]

#44774 Improve newChar TRAITS-TAB fast scroll
  src/newcharacter.cpp
Labels: Info / User Interface, [C++]

#44785 NewCharacter: Add PAGE-UP/DOWN fast-scroll to PROFESSION-TAB
  src/newcharacter.cpp
Labels: Info / User Interface, [C++]

#44786 Add fast scroll to V monster list
  src/game.cpp
Labels: Info / User Interface, [C++]

#44713 More randomized amounts in itemgroups
  data/json/itemgroups/military.json
  data/json/itemgroups/roof.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/tools.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, Spawn

#44479 My Sweet Cataclysm: Add Chocolate Cows and Chocolate Milk
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/SUS/fridges.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/frozen.json
  data/json/recipes/food/frozen.json
  data/json/recipes/recipe_food.json
  data/mods/My_Sweet_Cataclysm/sweet_comestibles.json
  data/mods/My_Sweet_Cataclysm/sweet_harvest.json
  data/mods/My_Sweet_Cataclysm/sweet_item_groups.json
  data/mods/My_Sweet_Cataclysm/sweet_monster_groups.json
  data/mods/My_Sweet_Cataclysm/sweet_monsters.json
  data/mods/My_Sweet_Cataclysm/sweet_recipe.json
Labels: Mods

#44660 Vehicle interact cleanup
  src/game.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
  src/vpart_position.h
Labels: Controls / Input, Vehicles, [C++]

#44744 Cut copy-from'ed categories or hoist up where possible
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/lights.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/obsolete.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/rotor.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/turret.json
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
Labels: Vehicles, [JSON]

#44743 Added boxes for the IFAK and First Aid Kit.
  data/json/items/containers.json
Labels: Items: Containers, [JSON]

#44782 [Magiclysm] Attunements - Golem Push
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/traits/attunements.json
Labels: Mods: Magiclysm, [JSON]

#44777 [MMA] All manuals can now spawn in the world
  data/mods/MMA/item_groups.json
Labels: Items / Item Actions / Item Qualities, Mods, Spawn

#44798 Small json fixes
  data/json/items/containers.json
Labels: <Bugfix>, [JSON]

#44810 Fix segfaults with fire_gun
  src/ranged.cpp
Labels: <Bugfix>, Ranged, [C++]

#44814 Fix segfault when resuming food crafts
  src/consumption.cpp
Labels: <Bugfix>, Info / User Interface, Items: Food / Vitamins, [C++]

#44825 Fix vehicle crafting test
  data/mods/TEST_DATA/vehicle.json
  src/requirements.cpp
  tests/vehicle_part_test.cpp
Labels: <Bugfix>, Code: Tests, Crafting / Construction / Recipes, Vehicles, [C++]

#44816 Invalid ids in memorial files shouldn't cause errors
  src/achievement.cpp
  src/achievement.h
  src/event_statistics.cpp
  src/game.cpp
  src/past_games_info.cpp
  tests/event_test.cpp
  tests/stats_tracker_test.cpp
Labels: <Bugfix>, Game: Achievements / Conducts / Scores, [C++]

#44828 Allow alt title even if season title is off
  src/path_info.cpp
Labels: Info / User Interface, [C++]

#44706 Fix typos in item flags, add runtime item flag validation on loading (part 1 of #44694)
  data/json/flags.json
  data/json/items/book/abstract.json
  data/json/items/book/spiritual.json
  data/json/items/comestibles/drink.json
  data/json/items/gun/monster_gun.json
  data/json/items/gun/ups.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/obsolete.json
  data/json/items/resources/glass.json
  data/json/items/tool/fire.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/tool_armor.json
  data/json/items/vehicle/cargo.json
  data/json/statistics.json
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/vehicle_items.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/weapons.json
  doc/DEVELOPER_FAQ.md
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/cata_utility.h
  src/item_factory.cpp
  src/savegame_json.cpp
  tests/cata_utility_test.cpp
Labels: Code: Tests, [C++], [JSON]

#44843 adjust bridges to have more maneuverability
  data/json/furniture_and_terrain/terrain-bridges-docks.json
  data/json/furniture_and_terrain/terrain-highways.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/mapgen/bridges.json
Labels: Map / Mapgen, Quality of Life, Z-levels, [JSON]

#44844 dialogue conditions: fix at_om_location handling directional OMTs
  data/json/npcs/TALK_TEST.json
  src/condition.cpp
  tests/npc_talk_test.cpp
Labels: <Bugfix>, <Crash / Freeze>, NPC / Factions

#44674 Add proficiencies to ranged, cutting, piercing and bashing recipes
  data/json/items/melee/swords_and_blades.json
  data/json/professions.json
  data/json/proficiencies/electronics.json
  data/json/proficiencies/gunsmithing.json
  data/json/proficiencies/metalwork.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
Labels: Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, [JSON]

#44685 Enable map reloading of tools that use non-solid ammo
  src/character.cpp
Labels: <Bugfix>, Items: Containers, Items: Magazines, [C++]

#44856 Bugfix stairs in quiverhouse to lead to basement instead of roof
  data/json/mapgen/house/house_quiverfull.json
Labels: <Bugfix>, Map / Mapgen

#44836 Add default time and fail multipliers to proficiencies
  data/json/proficiencies/chemistry.json
  data/json/proficiencies/electronics.json
  data/json/proficiencies/gunsmithing.json
  data/json/proficiencies/metalwork.json
  data/json/proficiencies/misc.json
  data/json/proficiencies/tailoring.json
  data/json/proficiencies/traps.json
  data/json/proficiencies/wilderness.json
  data/json/proficiencies/woodworking.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/pets_dog.json
  data/json/recipes/armor/pets_horse.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/torso.json
  data/json/recipes/electronics/parts.json
  data/json/recipes/other/cords_and_ropes.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/other/parts_rigs.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_traps.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/recipes_holiday.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/lights.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/tools/tools_primitive.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/mods/Magiclysm/proficiencies.json
  src/proficiency.cpp
  src/proficiency.h
  src/recipe.cpp
  src/recipe.h
Labels: Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, [C++], [JSON]

#44859 Obsolete sunesthesia
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/recipes/comestible_recipes.json
  data/mods/Aftershock/recipes/obsolete.json
Labels: Crafting / Construction / Recipes, Mods: Aftershock

#44854 More realistic Javelin lengths
  data/json/items/armor/ammo_pouch.json
  data/json/items/melee/spears_and_polearms.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#44853 Fix installable vehicle part sorting regression
  src/veh_interact.cpp
Labels: <Bugfix>, Vehicles

#44852 Add ascii_art folder and reorganize files
  data/json/ascii_art/generic_ascii.json
  data/json/ascii_art/gun_ascii.json
Labels: Code: Infrastructure / Style / Static Analysis, Items / Item Actions / Item Qualities

#42775 Add firearms used by the U.S. Military that do not yet exist in the game
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/military.json
  data/json/items/gun/223.json
  data/json/items/gun/300BLK.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/9mm.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: [JSON], stale

#44328 Update more appliances and furniture to use pipe fittings, where they make sense.
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [JSON]

#44507 Adds small chance to spawn intact helicopter at military helipad
  data/json/mapgen/helipad.json
Labels: Map / Mapgen, Vehicles, [JSON]

#44847 Fix multiple issues with "ledge" rays
  src/editmap.cpp
  src/lightmap.cpp
  tests/vision_test.cpp
Labels: <Bugfix>, Map / Mapgen, Vehicles, [C++]

#44870 remove zombie flesh -> slime recipe
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_obsolete.json
  src/mondeath.cpp
Labels: Crafting / Construction / Recipes, Lore, [C++], [JSON]

#44628 Interface: Edit proficiencies debug menu
  src/character.cpp
  src/character.h
  src/debug_menu.cpp
  src/debug_menu.h
  src/proficiency.cpp
  src/proficiency.h
  src/wish.cpp
Labels: Mechanics: Effects / Skills / Stats, [C++]

#44871 proficiency documentation update
  doc/PROFICIENCY.md
Labels: <Documentation>

#44890 Update and rename ASCII_ARTS.md to ASCII_ART.md
  doc/ASCII_ART.md
Labels: <Documentation>, [Markdown]

#44874 Fix vehicle part installation UI redraw
  src/veh_interact.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles

#44875 Allow longer zone names
  src/clzones.cpp
  src/game.cpp
Labels: Controls / Input

#44885 Replace obsoleted xxx_attack spell effects
  src/magic.cpp
  src/ranged.cpp
Labels: <Bugfix>, Mods: Magiclysm

#44784 Fix consume menu issues
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/avatar_action.h
  src/handle_action.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#44808 Properly handle attempts to wield or throw with two broken arms.
  src/avatar_action.cpp
  src/character.cpp
  src/game.cpp
Labels: <Bugfix>, Melee, Ranged

#44823 Change item::item_tags, itype::item_tags, etc. to int/str id (part 4 of #44694)
  data/json/statistics.json
  src/activity_handlers.cpp
  src/assign.h
  src/cata_utility.h
  src/cata_variant.cpp
  src/cata_variant.h
  src/character.cpp
  src/clothing_mod.h
  src/crafting.cpp
  src/creature.cpp
  src/debug_menu.h
  src/editmap.cpp
  src/effect.cpp
  src/effect.h
  src/event_field_transformations.cpp
  src/harvest.h
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/item_category.cpp
  src/item_category.h
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/itype.cpp
  src/itype.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/json.h
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/martialarts.cpp
  src/martialarts.h
  src/player.cpp
  src/recipe.cpp
  src/recipe.h
  src/savegame_json.cpp
  src/wish.cpp
  tests/cata_utility_test.cpp
  tests/pocket_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++], [JSON]

#44817 Add search progress to crafting search
  src/crafting_gui.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: Crafting / Construction / Recipes, Quality of Life

#44850 Fix reloading issue when wielded ammo is replaced with ejected ammo leading to crash
  src/item.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Items: Ammo, Items: Magazines, Mechanics: Character / Player, [C++]

#44858 Tailoring proficiencies: audit and complete
  data/json/proficiencies/electronics.json
  data/json/proficiencies/metalwork.json
  data/json/proficiencies/misc.json
  data/json/proficiencies/wilderness.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/pets_dog.json
  data/json/recipes/armor/pets_horse.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, [JSON]

#44894 add potters cottage
  data/json/mapgen/riverside/potters_cottage.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Labels: Map / Mapgen, [JSON]

#44889 Interface: Add line to player_display hint
  src/player_display.cpp
Labels: <Bugfix>, Info / User Interface

#44877 Update StatsThroughSkills
  data/mods/StatsThroughSkills/modinfo.json
Labels: <Bugfix>, Mods, Mods: Magiclysm

#44886 Trivial: Fix floor cache behavior for vehicles
  src/editmap.cpp
  src/map.cpp
Labels: <Bugfix>, Map / Mapgen, Vehicles

#43015 Add more 9x19mm guns
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/9mm.json
  data/json/recipes/weapon/magazines.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: [JSON]

#44700 [CR] Jsonize vehicle tools
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/inventory.cpp
  src/inventory.h
  src/map.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle_use.cpp
  src/vpart_position.h
Labels: Code: Infrastructure / Style / Static Analysis, Items: Gunmod / Toolmod, Vehicles, [C++], [JSON]

#44872 Fix issue 44865, generic guns magazines are now rigid
  data/mods/Generic_Guns/firearms/black_powder.json
  data/mods/Generic_Guns/firearms/grenade.json
  data/mods/Generic_Guns/firearms/pistol.json
  data/mods/Generic_Guns/firearms/pistol_magnum.json
  data/mods/Generic_Guns/firearms/pistol_tiny.json
  data/mods/Generic_Guns/firearms/rifle.json
  data/mods/Generic_Guns/firearms/rifle_huge.json
  data/mods/Generic_Guns/firearms/rocket.json
  data/mods/Generic_Guns/firearms/shot.json
  data/mods/Generic_Guns/gunmods/gunmods.json
  data/mods/Generic_Guns/magazines/grenade.json
  data/mods/Generic_Guns/magazines/pistol.json
  data/mods/Generic_Guns/magazines/pistol_magnum.json
  data/mods/Generic_Guns/magazines/pistol_tiny.json
  data/mods/Generic_Guns/magazines/rifle.json
  data/mods/Generic_Guns/magazines/rifle_huge.json
  data/mods/Generic_Guns/magazines/shot.json
  data/mods/Generic_Guns/obsolete.json
Labels: <Bugfix>, Items: Ammo, Items: Containers, Items: Magazines, Mods: Generic Guns

#44879 Added one more cave mapgen variation
  data/json/mapgen/cave.json
  data/json/monsters/nether.json
Labels: Map / Mapgen, [JSON]

#44849 show missing proficiency failure rates for crafting
  src/crafting_gui.cpp
  src/recipe.cpp
  src/recipe.h
Labels: Crafting / Construction / Recipes, Info / User Interface, Quality of Life

#44863 Make Wallets spawn and put stuff in them
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Clothing_Gear/wallets.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/corpses.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/generic.json
  data/json/monsterdrops/zombie.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_default.json
  data/json/monsterdrops/zombie_lab.json
  data/json/monsterdrops/zombie_military_pilot.json
  data/json/monsterdrops/zombie_resort.json
  data/json/monsterdrops/zombie_soldier.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Items: Containers, Map / Mapgen

#44848 Vpart categories part 3
  data/json/obsolete.json
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/armor.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/lights.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/mirrors.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/obsolete.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/rotor.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/turret.json
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_categories.json
  data/json/vehicleparts/wheel.json
  data/json/vehicleparts/windshields.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/BlazeIndustries/vehicleparts/blaze_combustion.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
  data/mods/BlazeIndustries/vehicleparts/blaze_turrets_vanilla.json
  data/mods/Generic_Guns/vehicles/turrets.json
  data/mods/Magiclysm/items/vehicle_parts.json
  data/mods/Magiclysm/vehicleparts/frames.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
  lang/extract_json_strings.py
  src/init.cpp
  src/veh_interact.cpp
  src/veh_interact.h
  src/veh_type.cpp
  src/veh_type.h
  tests/vehicle_part_test.cpp
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, Code: Tests, Info / User Interface, Vehicles, [C++], [JSON]

#44888 Interface: Add weight to consume menus
  src/game_inventory.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Mechanics: Character / Player

#44906 Fixed double "the" occurring when monster misses you
  src/monster.cpp
Labels: <Bugfix>, Info / User Interface

#44851 Venom glands 2 : Paralytics
  data/json/harvest.json
  data/json/items/chemicals_and_resources.json
  data/json/monsters/triffid.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: Items / Item Actions / Item Qualities, Monsters

#44666 Improve handling of item stacks when picking up
  src/character.cpp
  src/character.h
  src/pickup.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Items: Containers, [C++]

#44883 introduce STATIC( ) macro that can reduce the verbosity of the static constants definition
  src/character.cpp
  src/make_static.h
  tests/make_static_test.cpp
Labels: <Enhancement / Feature>, Code: Infrastructure / Style / Static Analysis, Code: Performance

#44907 dialogue conditions: make is_safe work for tiles without monster groups
  src/condition.cpp
  src/npc.h
  src/npcmove.cpp
  src/talker.h
  src/talker_npc.cpp
  src/talker_npc.h
Labels: <Bugfix>, NPC / Factions

#44705 Display contained items like "water (plastic bottle)" instead of "plastic bottle of water"
  src/item.cpp
  tests/itemname_test.cpp
Labels: Info / User Interface, Items: Containers

#44887 Replace radio car box with an itemgroup
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/containers.json
  data/json/items/obsolete.json
  data/json/items/tool/radio_tools.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/mods/Aftershock/npcs/cyborg_npcs/item_groups_cyborg.json
Labels: Items: Containers, Map / Mapgen, [JSON]

#44910 Remove uses of srand; improve creature_test reliability
  tests/creature_test.cpp
  tests/line_test.cpp
  tests/test_main.cpp
  tools/clang-tidy-plugin/DeterminismCheck.cpp
Labels: Code: Tests

#44759 Minor performance optiomizations to improve sleep speed
  src/item.cpp
  src/map.cpp
  src/map.h
  src/monfaction.cpp
  src/monster.cpp
  src/monster.h
  src/mtype.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npc.h
Labels: Code: Performance, [C++]

#44941 vehicle: improve performance by removing has_part( "ROTOR" ) calls
  src/vehicle.cpp
Labels: Code: Performance, Vehicles, [C++]

#44860 Make lockpicking/safecracking proficiencies functional
  data/json/proficiencies/traps.json
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/iexamine.cpp
  src/iexamine.h
  src/iuse.cpp
Labels: Mechanics: Effects / Skills / Stats, [C++]

#44926 add hedges and maze park
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/mapgen/park_mazes.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/regional_map_settings.json
Labels: Fields / Furniture / Terrain / Traps, Map / Mapgen, [JSON]

#44936 Lighters in evac shelters get semi-random charges
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/evac_shelter.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#44927 Permit frozen liquids sharing a container
  src/item_pocket.cpp
Labels: <Bugfix>, Items: Containers

#44934 Fix incorrect usage of static int_id<body_part_type>
  src/activity_actor.cpp
  src/avatar.cpp
  src/character.cpp
  src/game.cpp
  src/player_hardcoded_effects.cpp
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, [C++]

#44917 Improve performance of cata_tiles::find_tile_looks_like (FPS improved ≈15%)
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/cata_utility.h
  tests/cata_utility_test.cpp
Labels: Code: Performance, SDL: Tiles / Sound, [C++]

#44955 Quick sanity pass on trunks and cargo spaces
  data/json/vehicleparts/vehicle_parts.json
Labels: Vehicles, [JSON]
