Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-12, with the labels that each got.

#45749 Bats aren't polearms
  data/mods/Aftershock/martialarts.json
Labels: <Bugfix>, Mods: Aftershock, [JSON]

#45750 Fix issues with sound (walking on boats, sound triggering twice)
  src/sdlsound.cpp
  src/sounds.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, Sound Events

#45746 Ensure that casings are stackable
  data/json/items/generic/casing.json
  tests/item_stackable_test.cpp
Labels: Code: Performance, Items: Ammo, [C++], [JSON]

#45692 [Magiclysm] Add light orichalcum frame
  data/mods/Magiclysm/items/vehicle/frames.json
  data/mods/Magiclysm/recipes/recipe_vehicle.json
  data/mods/Magiclysm/vehicleparts/frames.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
Labels: Mods: Magiclysm, [JSON]

#45660 Aftershock: Astrobiology lab
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/itemgroups/science_groups.json
  data/mods/Aftershock/itemgroups/scrap_groups.json
  data/mods/Aftershock/maps/city_buildings.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_habitat_wall.json
  data/mods/Aftershock/maps/mapgen/astrobiology_lab.json
  data/mods/Aftershock/maps/mapgen_pallete/afs_generic_building.json
  data/mods/Aftershock/maps/overmap_terrain.json
  data/mods/Aftershock/maps/regional_map_settings.json
  data/mods/Aftershock/maps/terrain_floraxeno.json
  data/mods/Aftershock/maps/terrain_groundxeno.json
  data/mods/Aftershock/region_settings.json
Labels: Fields / Furniture / Terrain / Traps, Mods: Aftershock, [JSON]

#45668 Fixing crafting recipes for black gunpowder shotgun shells
  data/json/items/ammo/shot.json
  data/json/recipes/ammo/shot.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#45434 Allow to return softwares for missions
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/mission.cpp
Labels: <Bugfix>, [C++]

#45466 Allow customizing initial date in scenarios
  data/json/scenarios.json
  data/mods/Fuji_Structures/starts/scenarios.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/game.cpp
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
Labels: Scenarios, [C++], [JSON], [Markdown]

#45632 Jsonifying heat emission, and hot springs
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/mapgen/ponds.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  doc/JSON_INFO.md
  src/game.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: Fields / Furniture / Terrain / Traps, Map / Mapgen, [C++], [JSON]

#45763 fix mall subway access
  data/json/overmap/multitile_city_buildings.json
Labels: <Bugfix>, Map / Mapgen

#45762 Fix typos in crane descriptions
  data/json/vehicleparts/engineering.json
Labels: <Bugfix>

#45765 Remove dead vehicle fixup code.
  data/json/obsolete.json
  src/savegame_json.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: Code: Infrastructure / Style / Static Analysis, Vehicles, [C++]

#45766 adjust loot spawns in freshwater research station
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
Labels: Map / Mapgen

#45771 MshockXotto+ Update 02/12/2020
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
Labels: SDL: Tiles / Sound

#45764 Fix Otaku proficiency
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#45795 translations: fix android localization
  src/translations.cpp
Labels: <Bugfix>, OS: Android, Translation

#45797 add a roof to hospital
  data/json/mapgen/hospital.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: Map / Mapgen, [JSON]

#45798 Limit the number of attempts to place a city to avoid infinite loop
  src/overmap.cpp
Labels: <Bugfix>, Map / Mapgen, [C++]

#45728 Miscellaneous item category fixes
  data/json/items/melee/unarmed_weapons.json
  data/json/items/tool_armor.json
Labels: [JSON]

#45725 [Mythical Martial Arts] Updated descriptions of D&D styles
  data/mods/MMA/martialarts.json
Labels: Mods, [JSON]

#45685 Allow quartering organ-less corpses without field dressing
  src/activity_handlers.cpp
  src/harvest.cpp
  src/harvest.h
Labels: <Bugfix>, [C++]

#44783 Oversized recipes and clothing items
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/coats.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/undergarment.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities

#45478 [Dinomod] Adding Amargasaurus and Kosmoceratops AKA Finishing obscure dinos
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
Labels: Mods: Dinoclysm, [JSON]

#44969 Add more NKIs (non-kitten items) to Robot Finds Kitten
  data/json/snippets/robot_finds_kitten.json
Labels: <Enhancement / Feature>, Other

#45775 Mention computers skill in bionics installation intro
  data/help/texts.json
Labels: Info / User Interface

#45783 Fixed full body armor mutations not covering head, removed eye armor from them
  data/json/mutations/mutations.json
Labels: <Bugfix>, [JSON]

#45811 BrownLikeBears update 04-12-20: Street lights, giant monsters and sleek dancers
  gfx/BrownLikeBears/big.png
  gfx/BrownLikeBears/tall.png
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
Labels: SDL: Tiles / Sound

#45646 Sort expansion
  src/faction_camp.cpp
Labels: Info / User Interface, [C++]

#45730 Adding a NO_SHOOT terrain Flag and example of use
  data/mods/Magiclysm/terrain.json
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: Fields / Furniture / Terrain / Traps, [C++]

#45738 Jsonify office tower
  data/json/mapgen/office_tower.json
  data/json/npcs/missiondef.json
  data/json/obsolete_terrains.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
  data/mods/Graphical_Overmap/go_overmap_terrain_commercial.json
  data/mods/alt_map_key/overmap_terrain.json
  src/map.h
  src/mapgen.cpp
  src/savegame.cpp
Labels: Map / Mapgen, [C++], [JSON]

#45740 Add 40mm blackpowder loads
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/items/gun/40x46mm.json
  data/json/items/gun/40x53mm.json
  data/json/items/gunmod/underbarrel.json
  data/json/recipes/ammo/40x46mm.json
  data/json/recipes/ammo/40x53mm.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
Labels: Crafting / Construction / Recipes, Items: Ammo, [JSON]

#45767 Improve consistency and readability of the nested items names
  src/item.cpp
  src/item.h
  tests/item_tname_test.cpp
  tests/itemname_test.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Items / Item Actions / Item Qualities, Items: Containers, [C++]

#45773 Removed log messages for MDs and autodoc specialists
  src/bionics.cpp
Labels: Info / User Interface, [C++]

#45777 added sulfuric acid recipe
  data/json/recipes/recipe_medsandchemicals.json
Labels: Crafting / Construction / Recipes, [JSON]

#45751 Remove butterknife disassembly recipe
  data/json/recipes/recipe_deconstruction.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#45693 game: defer explosions
  src/explosion.cpp
  src/explosion.h
  src/game.cpp
  tests/explosion_balance_test.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#45778 Rebalance eating raw meats to be less damaging to morale if you have predator mutations
  data/json/flags.json
  data/json/items/comestibles/carnivore.json
  src/character.cpp
  src/consumption.cpp
  src/flag.cpp
  src/flag.h
Labels: Game: Balance, [C++]

#45790 Fix item with the same relic_data stack
  src/item.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/relic.cpp
  src/relic.h
Labels: <Bugfix>, [C++]

#45800 items: add poleaxe to the effective DPS damage and adjust damage
  data/json/items/melee/spears_and_polearms.json
  tests/effective_dps_test.cpp
Labels: Code: Tests, Game: Balance, [JSON]

#45818 fix ammo_unset clearing item mods
  src/item.cpp
  src/item_contents.cpp
  src/item_contents.h
Labels: <Bugfix>

#45687 Hyper-metabolism rework
  data/json/mutations/mutations.json
  src/character.h
  src/consumption.cpp
  src/mutation.cpp
  src/suffer.cpp
Labels: Mutations / Traits / Professions, [C++]

#45852 Fix typo in FOODCO kitchen buddy description
  data/json/vehicleparts/utilities.json
Labels: <Bugfix>

#45857 Balance: Rebalance red leather jacket repair difficulty
  data/json/items/armor/coats.json
Labels: Crafting / Construction / Recipes, [JSON]

#45879 Fix the support of font formats
  src/sdl_font.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#45877 Fix Serums can be injected without a syringe
  src/game_inventory.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#45875 Account for clairvoyance when checking Character -> Creature visibility
  src/character.cpp
Labels: <Bugfix>, Mechanics: Character / Player, [C++]

#45871 Fix duplicating deployed item with zero storage
  src/character.cpp
Labels: <Bugfix>, [C++]

#45867 Interface: Fix inventory_ui PAGE_UP/DOWN-page-scroll
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++]

#45862 generate_overlay_ids.py: expanded hardcoded ids
  tools/json_tools/generate_overlay_ids.py
Labels: SDL: Tiles / Sound, [Python]

#45843 move a few player functions to character
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#45825 prevent freeze during migo portal generation (#$45807)
  src/map_extras.cpp
Labels: <Bugfix>, [C++]

#45823 Debug menu option to generate sound at tile
  src/debug_menu.cpp
  src/debug_menu.h
Labels: <Enhancement / Feature>, Info / User Interface, Sound Events

#45821 Change 'He will follow' to 'Follow me' in NPC engagement menu
  data/json/npcs/TALK_COMMON_ALLY.json
  data/json/npcs/talk_tags.json
  tests/npc_talk_test.cpp
Labels: Info / User Interface, [JSON]

#45826 Fix NPC not gaining XP when reading with player
  src/avatar.cpp
Labels: <Bugfix>, [C++]

#45831 increase capacity of soldering iron pseudo item
  data/json/items/tool/workshop.json
Labels: <Bugfix>, [JSON]

#45812 lard byproducts have similar properties to base product (#45599)
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#45842 Fix the enjoyment values of PB&J and PB&H compared to just the jam or honey sandwiches.
  data/json/items/comestibles/sandwich.json
Labels: <Enhancement / Feature>, Items: Food / Vitamins

#45833 Documentation update for Terrain Flag and MAGIC.md
  doc/JSON_FLAGS.md
  doc/MAGIC.md
Labels: <Documentation>, [Markdown]

#45835 Fixed extinguishing items on boats
  src/item.cpp
Labels: <Bugfix>, Vehicles, [C++]

#45808 Fixes Compare items color bug
  src/item.cpp
Labels: <Bugfix>, [C++]

#45695 [Aftershock] Add new electronic machinery
  data/mods/Aftershock/crafting_system.md
  data/mods/Aftershock/items/crafting_scrap/heat_transfer_scrap.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/maps/furniture_lab.json
  data/mods/Aftershock/recipes/deconstruction.json
Labels: Fields / Furniture / Terrain / Traps, Mods: Aftershock, [JSON]

#45677 Add River Starting Location
  data/json/scenarios.json
  data/json/start_locations.json
  src/start_location.cpp
Labels: [C++], [JSON]

#45726 map: clear the entire vehicle cache at once instead of by level
  src/editmap.cpp
  src/game.cpp
  src/level_cache.cpp
  src/level_cache.h
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/vehicle.cpp
  src/vehicle_use.cpp
Labels: <Bugfix>, Map / Mapgen, Vehicles, Z-levels

#45881 Fix symbol and color of zombie horse
  data/json/monsters/zed-animal.json
Labels: Monsters, [JSON]

#45894 Jelly and fiber
  data/json/recipes/other/medical.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#45883 Fix another aircraft mechanic proficency typo
  src/vehicle.cpp
Labels: <Bugfix>, [C++]

#45892 Remove double-shot firing mode from pump shotgun.
  data/json/items/gun/shot.json
Labels: <Bugfix>, [JSON]

#45754 Add pigeons
  data/json/mapgen/nested/nested_chunks_roof.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/bird.json
Labels: Monsters, [JSON]

#45801 [AFTERSHOCK] Moxphores
  data/mods/Aftershock/itemgroups/clothing_group.json
  data/mods/Aftershock/items/comestibles/alienfood.json
  data/mods/Aftershock/mobs/monster_faction.json
  data/mods/Aftershock/mobs/monster_groups.json
  data/mods/Aftershock/mobs/species.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/Aftershock/monsterdrops/monster_default.json
  data/mods/Aftershock/monsterdrops/monsterdrops.json
  data/mods/Aftershock/speech.json
Labels: Mods: Aftershock, Monsters, [JSON]

#45815 Center cursor on player after all UIs are drawn
  src/game.cpp
  src/main.cpp
Labels: <Bugfix>, Accessibility, [C++]

#45899 Rename "tazer" to "stun gun."
  data/json/items/melee/misc.json
Labels: [JSON]

#45896 Fix NPC overmap travel when `goal` is unreachable (caused slowdown)
  src/game.cpp
  src/npcmove.cpp
  src/overmap_location.cpp
  src/overmap_location.h
Labels: <Bugfix>, Code: Performance, NPC / Factions, [C++]

#45886 Avoid fusing with the last critter if no proper critter is found
  src/monattack.cpp
Labels: <Bugfix>, [C++]

#45880 Nerf the fastest new zombie animals so attacks take a whole turn
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed-animal.json
Labels: Game: Balance, [JSON]

#45914 Gate 3+ engines behind DEBUG_HS
  src/veh_interact.cpp
Labels: Info / User Interface, Vehicles, [C++]

#45872 remove gravel
  data/json/construction.json
  data/json/construction_group.json
Labels: Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [JSON]

#45869 Check if curr_weapon is null before trying to remove flag
  src/melee.cpp
Labels: <Bugfix>, [C++]

#45841 Decrease log level to avoid emitting backtrace
  src/sdl_font.cpp
Labels: SDL: Tiles / Sound, [C++]

#45913 Create a issue template config file
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: <Documentation>

#45816 Added a repair material list to repair menu
  src/activity_handlers.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: Info / User Interface, Quality of Life, [C++]

#45939 Removal of a choice of components in rope_6
  data/json/recipes/other/cords_and_ropes.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#45929 Fixes blood drawing kit bug with Acidic Zombies
  data/json/items/tool/med.json
Labels: <Bugfix>, [JSON]

#45921 Line 516, Recipe Mortar and Pestle
  data/json/recipes/tools/tool.json
Labels: Crafting / Construction / Recipes, [JSON]

#45909 Changes to Android builds (2020-12-09)
  src/sdltiles.cpp
Labels: OS: Android, [C++]

#45958 Update Ultica 10-12-2020
  gfx/UltimateCataclysm/centered.png
  gfx/UltimateCataclysm/filler.png
  gfx/UltimateCataclysm/filler_tall.png
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/incomplete_tall.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
  gfx/UltimateCataclysm/tileset.txt
Labels: SDL: Tiles / Sound

#45960 ChibiUltica Update 10-12-20
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/fillerhoder.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/incomplete_tall.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
Labels: SDL: Tiles / Sound

#45959 MSX+ Update 10-12-20
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
Labels: SDL: Tiles / Sound

#45951 Disable cursor centering for SDL builds
  src/game.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#45940 use id for movement mode tile overlays
  src/character.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#45953 Add looks_like to a number of books
  data/json/items/book/abstract.json
  data/json/items/book/barter.json
  data/json/items/book/bashing.json
  data/json/items/book/chemistry.json
  data/json/items/book/computer.json
  data/json/items/book/cooking.json
  data/json/items/book/cutting.json
  data/json/items/book/dodge.json
  data/json/items/book/driving.json
  data/json/items/book/electronics.json
  data/json/items/book/fabrication.json
  data/json/items/book/firstaid.json
  data/json/items/book/lockpick.json
  data/json/items/book/mechanics.json
  data/json/items/book/melee.json
  data/json/items/book/misc.json
  data/json/items/book/speech.json
  data/json/items/book/spiritual.json
  data/json/items/book/stabbing.json
  data/json/items/book/survival.json
  data/json/items/book/tailor.json
  data/json/items/book/throw.json
  data/json/items/book/unarmed.json
  data/json/items/book/young.json
Labels: SDL: Tiles / Sound, [JSON]

#45847 Craftable RC cars
  data/json/items/resources/misc.json
  data/json/recipes/other/parts.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/tools/tools_electronic.json
Labels: Crafting / Construction / Recipes, [JSON]

#45976 Display translated Rh blood type
  src/player_display.cpp
Labels: Translation, [C++]

#45948 Give Dory SHEATH_SPEAR and NONCONDUCTIVE
  data/json/items/melee/spears_and_polearms.json
Labels: [JSON]

#45971 Replace usage of string "FLAMMABLE*" flags with bitflags
  src/map.cpp
  src/map_field.cpp
  src/mapdata.h
Labels: Code: Performance, Fields / Furniture / Terrain / Traps, [C++]

#45967 extract activity_actor subclasses to a seperate header
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/advanced_inv.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/character.cpp
  src/crafting.cpp
  src/game.cpp
  src/gates.cpp
  src/handle_action.cpp
  src/handle_liquid.cpp
  src/iexamine.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/monexamine.cpp
  src/pickup.cpp
  src/player.cpp
  src/ranged.cpp
  src/vehicle_use.cpp
  tests/invlet_test.cpp
  tests/weary_test.cpp
Labels: Code: Build, [C++]

#45978 Add additional look_like for times mag and other.
  data/json/items/book/abstract.json
  data/json/items/book/misc.json
  data/json/items/newspaper.json
Labels: [JSON]

#45997 Fix black dragon aura intensity levels and stunlock
  data/mods/Magiclysm/effects/effects.json
  src/character.cpp
Labels: <Bugfix>, Mods: Magiclysm, [JSON]

#46005 add json_formatter binary to .gitignore
  .gitignore
Labels: Other

#46003 Fix some plural forms
  data/json/artifact/artifact_item_types.json
  data/json/items/containers.json
  data/json/items/ranged/archery.json
  data/json/items/tool_armor.json
  data/json/monsters/fish.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mutant_mammal.json
  data/json/obsolete.json
  data/mods/Aftershock/items/comestibles/alienfood.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/Generic_Guns/robots/active_bots.json
  data/mods/Generic_Guns/robots/broken_bots.json
  data/mods/Generic_Guns/robots/inactive_bots.json
  data/mods/Magiclysm/items/enchanted_cloaks.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: [JSON]

#45993 Fix error message upon completing MISSION_GET_INHALER
  src/mission.cpp
Labels: <Bugfix>, Missions, [C++]

#45991 Fix unable to rename faction camp
  src/faction.cpp
Labels: <Bugfix>, Player Faction Base / Camp, [C++]

#45988 Fix wrong truncation of armor display in sidebar
  src/panels.cpp
Labels: <Bugfix>, Info / User Interface, Translation, [C++]

#45977 Fix jersey description mismatch with profession
  data/json/professions.json
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
Labels: Mutations / Traits / Professions, [C++], [JSON]

#45972 Privatize iexamine function in map_data_common_t
  src/action.cpp
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/game.cpp
  src/gates.cpp
  src/inventory.cpp
  src/iuse.cpp
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  tests/iexamine_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#45737 [WIP] Checking for liquid items before selling or giving to the player
  src/npctrade.cpp
Labels: <Bugfix>, Items: Containers, NPC / Factions, [C++]

#45994 Update monster documentation
  doc/JSON_FLAGS.md
  doc/MONSTERS.md
Labels: <Documentation>, Monsters

#46021 Keep AIM panels while moving items
  src/advanced_inv_pane.cpp
Labels: <Bugfix>, Info / User Interface, Inventory / AIM / Zones, [C++]

#46016 Fix key code mode keybindings
  data/raw/keybindings.json
Labels: <Bugfix>, Controls / Input, [JSON]

#46006 Fix non-fouling guns getting fouled
  data/json/items/ammo.json
  data/json/items/ammo/metal_rail.json
  data/json/items/ammo/nail.json
  data/json/items/gun/chemical_spray.json
  data/json/items/gun/flammable.json
  data/json/items/gun/monster_gun.json
  data/json/items/gun/paintball.json
  data/json/items/gun/ups.json
  data/json/items/gunmod/rail.json
  data/json/items/obsolete.json
  data/json/items/ranged/energy.json
  data/json/items/ranged/launchers.json
  data/json/items/ranged/pneumatic.json
  data/json/items/ranged/spearguns.json
  data/json/items/resources/stone.json
  data/mods/Aftershock/items/bioparts.json
  data/mods/Aftershock/items/gun/foam.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/TEST_DATA/items.json
  doc/JSON_FLAGS.md
  src/ranged.cpp
Labels: <Bugfix>, [JSON]

#45999 Fix bug where bacon hand-smoking recipe doesn't appear
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#46014 Add rigid to wood-barrel pocket + increase volume
  data/json/items/containers.json
Labels: Items: Containers, [JSON]

#46002 Show avatar weight in sidebar (labels layout)
  src/character.cpp
  src/character.h
  src/panels.cpp
  src/player_display.cpp
Labels: Info / User Interface, [C++]

#46020 Prevent crash for malformed mining activity.
  src/activity_handlers.cpp
Labels: [C++]

#46017 Fix the performance bug caused by `verify_vehicle_cache` recalculation
  src/editmap.cpp
  src/game.cpp
  src/level_cache.cpp
  src/level_cache.h
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/vehicle.cpp
  src/vehicle_use.cpp
Labels: <Bugfix>, Code: Performance, Vehicles, [C++]

#45908 Fix scenario crash and random year (#45901)
  src/game.cpp
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
Labels: <Bugfix>, [C++]

#46030 Ultica Update 20-12-13
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
  gfx/UltimateCataclysm/tileset.txt
Labels: Mods, SDL: Tiles / Sound

#46026 MshockXotto Update 20-12-13 : Nurse & Monsters
  gfx/MshockXotto+/fillernormal.png
  gfx/MshockXotto+/fillersmall.png
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/tileset.txt
Labels: SDL: Tiles / Sound

#46023 Fixing Furniture Clay Kiln not counting for clay recipes
  data/json/items/tool/workshop.json
Labels: <Bugfix>, [JSON]

#46031 Chibi Ultica Update 20-12-13
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/fillerhoder.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/incomplete_tall.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/ChibiUltica/tileset.txt
Labels: SDL: Tiles / Sound

#46001 Display longest pocket and largest available pocket space in inventory header
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: Info / User Interface, [C++]

#45969 Let fire spread to tiles with items (#35824)
  src/map_field.cpp
Labels: <Enhancement / Feature>, Fields / Furniture / Terrain / Traps, [C++]

#45950 compose.py: fix #45996, backward-compatible --use-all option
  tools/gfx_tools/compose.py
Labels: SDL: Tiles / Sound, [Python]

#46025 Move mut_drench to bodypart
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/suffer.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#46018 updated months old news
  data/json/snippets/newspapers.json
Labels: [JSON]

#46049 Fix uninitialized variable causing issues with LTO and -O3
  src/bodypart.h
Labels: <Bugfix>, Code: Build

#46045 Delete unused feather flag
  data/json/monsters/bird.json
  doc/JSON_FLAGS.md
  src/monstergenerator.cpp
  src/mtype.h
Labels: [JSON]

#46040 Fix walking on boat immediately after game is loaded
  src/avatar_action.cpp
Labels: <Bugfix>, Vehicles, [C++]

#45966 Use special attack ammo for special attacks (#41137)
  src/mattack_actors.cpp
Labels: <Bugfix>, Monsters, [C++]

#45961 More realistic birds
  data/json/monsters/bird.json
Labels: Monsters, [JSON]

#46051 Add Buddhist Monk Profession
  data/json/items/armor/coats.json
  data/json/professions.json
Labels: Mutations / Traits / Professions, [JSON]

#46029 Fix batch availability with charged tool requirements
  src/requirements.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#46053 State in achievement disable query how to reenable achievements
  src/debug_menu.cpp
Labels: Info / User Interface

#46069 Improve messaging when tapping maple trees
  src/iexamine.cpp
Labels: Info / User Interface, [C++]

#46072 Fix crash in relic data comparator
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: <Bugfix>, [C++]

#46083 Remove optimization downgrade for OSXCROSS
  Makefile
Labels: Code: Build, OS: macOS

#46085 Fix robots with DROPS_AMMO not dropping ammo in magazines on death
  src/item_factory.cpp
  src/mondeath.cpp
Labels: <Bugfix>, Monsters, [C++]

#46062 generate_overlay_ids.py: added vehicle parts, mostly with variations
  tools/json_tools/generate_overlay_ids.py
Labels: [Python]

#46000 Prevent reloading when target ammo will not stack with ammo already in gun.
  src/item.cpp
  src/item.h
  src/player.cpp
  tests/reload_magazine_test.cpp
Labels: Items: Ammo, [JSON]

#46086 Fix broken bone log spam
  src/creature.cpp
  src/suffer.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46094 Added recipe for turning salt lick into rock salt
  data/json/recipes/recipe_deconstruction.json
Labels: Crafting / Construction / Recipes, [JSON]

#45635 Enable 'failed to visit member' JSON errors outside of tests
  gfx/ChestHole16Tileset/tile_config.json
  gfx/HitButton_iso/tile_config.json
  gfx/HoderTileset/tile_config.json
  src/cata_tiles.cpp
  src/color_loader.h
  src/json.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/uistate.h
  src/worldfactory.cpp
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, [C++]

#45675 Holiday Monsters Part I: Reindeer
  data/json/monstergroups/wilderness.json
  data/json/monsters/mammal.json
  data/json/monsters/zed-animal.json
Labels: [JSON]

#45724 Add more primitive clothing
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  data/json/items/armor/torso_clothes.json
  data/json/items/resources/tailoring.json
  data/json/proficiencies/tailoring.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/materials.json
Labels: Crafting / Construction / Recipes, [JSON]

#45761 Add plastic buttons recipe
  data/json/recipes/other/materials.json
Labels: Crafting / Construction / Recipes, [JSON]

#45781 Consistent UPS charge consumption when crafting
  src/character.cpp
  src/character.h
  src/crafting.cpp
Labels: <Bugfix>, [C++]

#45840 Making moving furniture into an activity actor
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/game.cpp
  src/game.h
Labels: <Bugfix>, [C++]

#45868 Redesigning arthropods, Pt 2: Centipedes
  data/json/harvest.json
  data/json/items/comestibles/egg.json
  data/json/monster_factions.json
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/mutant_upgrades.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
  data/json/monsters/obsolete.json
  data/json/scent_types.json
  data/json/snippets/mutant_anatomy.json
  data/json/species.json
Labels: Monsters, [JSON]

#45873 Prevent oversized item in pocket after reload
  src/activity_actor.cpp
  src/item_location.cpp
  src/item_location.h
Labels: <Bugfix>, Items: Containers, [C++]

#45898 Allow knee pads/leg guards with tail mutations
  data/json/flags.json
  data/json/items/armor/legs_armor.json
  data/json/mutations/mutations.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/Magiclysm/items/enchanted.json
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: <Bugfix>, [C++]

#45904 Camp scroll
  src/mission_companion.cpp
Labels: <Bugfix>, Info / User Interface, [C++]
