Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-02, with the labels that each got.

#37609 Tool name strings to objects
  data/json/items/tool/explosives.json
  data/json/items/tool/musical_instruments.json
  data/json/items/tool/science.json
  data/json/items/vehicle_parts.json
Labels: [JSON]

#37608 Remove vending item groups from nonsensical places
  data/json/itemgroups/mansion.json
Labels: <Bugfix>, Map / Mapgen, Spawn, [JSON]

#37607 DOC: renamed an instrument description field from "descriptions" to "player_descriptions"
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown]

#37593 Melee.json sorting
  data/json/items/melee.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/fake.json
  data/json/items/melee/misc.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/ranged/throwing.json
  data/json/items/resources/misc.json
  data/json/items/tool/woodworking.json
Labels: [JSON]

#37596 Monstergroups.json sorting
  data/json/monstergroups/blob.json
  data/json/monstergroups/bugs.json
  data/json/monstergroups/fish.json
  data/json/monstergroups/fungi.json
  data/json/monstergroups/insects.json
  data/json/monstergroups/monstergroups.json
  data/json/monstergroups/nether.json
  data/json/monstergroups/triffid.json
  data/json/monstergroups/wilderness.json
Labels: [JSON]

#37600 Fix bug in wield UI
  src/game_inventory.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#37528 Prevent safecracking attempt while wearing earbuds
  src/iexamine.cpp
  src/iuse.cpp
Labels: <Bugfix>, Character / Player, [C++], [JSON]

#37621 Monstergroups.json sorting pt. 2
  data/json/monstergroups/eggs.json
  data/json/monstergroups/lab.json
  data/json/monstergroups/mammal.json
  data/json/monstergroups/military.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/monstergroups.json
  data/json/monstergroups/wilderness.json
  data/json/monstergroups/zombies.json
Labels: Code: Astyle / Optimization / Static Analysis, [JSON]

#37622 Ranged.json sorting
  data/json/items/gun/combination.json
  data/json/items/ranged.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/items/ranged/energy.json
  data/json/items/ranged/launchers.json
  data/json/items/ranged/pneumatic.json
  data/json/items/ranged/slings.json
  data/json/items/ranged/spearguns.json
  data/json/items/ranged/throwing.json
Labels: Code: Astyle / Optimization / Static Analysis, [JSON]

#37625 Monsters.json sorting
  data/json/monsters/cyborgs.json
  data/json/monsters/defense_bot.json
  data/json/monsters/fish.json
  data/json/monsters/insect_spider.json
  data/json/monsters/jabberwock.json
  data/json/monsters/mammal.json
  data/json/monsters/misc.json
  data/json/monsters/monsters.json
  data/json/monsters/mutant.json
  data/json/monsters/nether.json
  data/json/monsters/slugs.json
  data/json/monsters/turrets.json
  data/json/monsters/utility_bot.json
  data/json/monsters/zed-animal.json
Labels: Code: Astyle / Optimization / Static Analysis, [JSON]

#37595 Vehicle_parts.json sorting
  data/json/items/vehicle/animals.json
  data/json/items/vehicle/battery.json
  data/json/items/vehicle/cargo.json
  data/json/items/vehicle/controls.json
  data/json/items/vehicle/fuel_storage.json
  data/json/items/vehicle/turrets.json
  data/json/items/vehicle/utilities.json
  data/json/items/vehicle_parts.json
Labels: [JSON]

#37629 Glock 17 default magazine bugfix
  data/json/items/gun/9mm.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Ranged, Spawn, [JSON]

#37627 Add missing bionic doc
  doc/JSON_INFO.md
Labels: <Documentation>, Bionics, [Markdown]

#37628 Fix faction camp blueprint recipe autocalculation consistency
  data/json/construction.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_log.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_metal.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_rock.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_wad.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_wood.json
  data/json/recipes/basecamps/recipe_modular_field_metal.json
  data/json/recipes/basecamps/recipe_modular_field_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_field_wood.json
  data/json/recipes/basecamps/recipe_modular_firestation1.json
  data/json/recipes/basecamps/recipe_modular_livestock/recipe_modular_livestock_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_livestock/recipe_modular_livestock_wad.json
  data/json/recipes/basecamps/recipe_modular_livestock/recipe_modular_livestock_wood.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_wad.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_log.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_metal.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_rock.json
  data/json/recipes/basecamps/recipe_modular_storehouse/recipe_modular_storehouse_wood.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop.rock.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_common.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_log.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_metal.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wad.json
  data/json/recipes/basecamps/recipe_modular_workshop/recipe_modular_workshop_wood.json
  src/requirements.cpp
  src/requirements.h
Labels: (P2 - High), <Bugfix>, Code: Tests, Crafting / Construction / Recipes, [C++], [JSON]

#37626 Obsolete location mods
  data/mods/Fuji_Structures/modinfo.json
  data/mods/Graphical_Overmap_FujiStruct/modinfo.json
  data/mods/Graphical_Overmap_More_Locations/modinfo.json
  data/mods/Graphical_Overmap_Urban_Development/modinfo.json
  data/mods/More_Locations/modinfo.json
  data/mods/National_Guard_Camp/modinfo.json
  data/mods/Urban_Development/modinfo.json
Labels: Mods

#37630 Clean up doc formatting
  doc/MISSIONS_JSON.md
Labels: <Documentation>, Missions, [Markdown]

#37631 item_groups.json sort 7
  data/json/itemgroups/ammo.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/food.json
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/monster_drops.json
  data/json/itemgroups/monster_drops_lairs.json
Labels: [JSON]

#37633 Tool armor modern json
  data/json/items/tool_armor.json
Labels: [JSON]

#37611 Comestible modern json (name string, int to string)
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/spice.json
  data/json/items/comestibles/veggy_dishes.json
Labels: Code: Astyle / Optimization / Static Analysis, Food / Vitamins, [JSON]

#37638 Replaced unused overmap terrains with "null" om_terrain for TWD dairy farm
  data/json/mapgen/farm_dairy.json
Labels: <Bugfix>, Map / Mapgen

#37620 fix totally broken guns pulled off of turrets yielding intact guns
  data/json/vehicleparts/turret.json
Labels: <Bugfix>, Vehicles, [JSON]

#37647 Add species description to translation
  lang/extract_json_strings.py
Labels: Translation, [Python]

#37645 Motocross bikes spawn fix
  data/json/vehicle_groups.json
Labels: Game: Balance, Spawn, Vehicles, [JSON]

#37634 m uncraft for socks_ankle
  data/json/uncraft/armor.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#37640 Make mapgen loading code a bit simpler:
  src/json.cpp
  src/json.h
  src/mapgen.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Map / Mapgen, [C++]

#37646 Monsters.json sorting pt. 2
  data/json/monsters/monsters.json
  data/json/monsters/nether.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_burned.json
  data/json/monsters/zed_children.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_radiation.json
  data/json/monsters/zed_skeletal.json
  data/json/monsters/zed_survivor.json
Labels: [JSON]

#37656 Improve clarity of mod terminology
  doc/IN_REPO_MODS.md
Labels: <Documentation>, Mods, [Markdown]

#37663 Corrected X-Acto knife volume
  data/json/items/tool/workshop.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37653 include 40mm casing
  data/json/items/migration.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37655 Make wooden rack transparent
  data/json/furniture_and_terrain/furniture-storage.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#37665 Prevented walking cane from dropping to the ground when starting as a senior citizen
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions

#37649 Extract all npc dialogue lines for translation
  lang/extract_json_strings.py
Labels: <Bugfix>, Translation, [Python]

#37613 Lower on_dodge argument to 5 for boomer bile.
  src/monattack.cpp
Labels: <Bugfix>, Monsters, [C++]

#37575 Allow black/whitelisting scenarios
  doc/MODDING.md
  src/init.cpp
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
Labels: <Enhancement / Feature>, Scenarios, [C++]

#37664 Blind firing at unseen targets won't show info about hits and "Really attack?" query
  src/creature.cpp
  src/ranged.cpp
Labels: Info / User Interface, Ranged

#37677 fix too-long rename for Classic Zombies
  data/mods/classic_zombies/modinfo.json
Labels: Mods: Dark Days of the Dead, [JSON]

#37674 Tool armor names to objects
  data/json/items/tool_armor.json
Labels: [JSON]

#37672 Tool Names to object
  data/json/items/fake.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/lighting.json
  data/json/items/vehicle/utilities.json
Labels: [JSON]

#37671 bionic item Names to objects
  data/json/items/bionics.json
Labels: [JSON]

#37673 Fixed translated strings sometimes not fitting in character creation menu
  src/newcharacter.cpp
Labels: Character / World Generation, Info / User Interface

#37667 rename existing font to terminus-bold, add latest terminus as new default font
  data/font/terminus-bold.fon
  data/font/terminus.fon
Labels: Info / User Interface, SDL: Tiles / Sound

#37669 Expand comfy activities
  src/character.cpp
Labels: Character / Player, [C++]

#37584 Make Aftershock atomic smartphone a valid music-playing device.
  data/mods/Aftershock/items/tools.json
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mods: Aftershock, [JSON]

#37650 Corrected the folding knife volume
  data/json/items/melee/swords_and_blades.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37675 Armor/comestible modern json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/storage.json
  data/json/items/armor/torso_clothes.json
Labels: [JSON]

#37679 Add Terminus Font license
  LICENSE-OFL-Terminus-Font.TXT
  LICENSE.txt
Labels: (P2 - High), Organization

#37619 Gun volume auditing for .380 ACP
  data/json/items/gun/380.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37692 allow creatures to be considered valid targets for examine highlighting
  src/action.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#37691 Bionic Shotgun Balance
  data/json/items/gun/bio.json
Labels: Bionics, Game: Balance, Items / Item Actions / Item Qualities, Ranged, [JSON]

#37690 Made "Toggle minimap" text in Look Around menu right-aligned
  src/game.cpp
Labels: Info / User Interface, [C++]

#37680 Updated new Taekwondo techniques to be style specific
  data/json/martialarts.json
  data/json/techniques.json
Labels: <Bugfix>, Melee, [JSON]

#37648 (done) Regionalize terrain in mapgen_palettes
  data/json/furniture_and_terrain/terrain-regional-pseudo.json
  data/json/mapgen_palettes/abandoned_barn_p.json
  data/json/mapgen_palettes/acidia_camp_palette.json
  data/json/mapgen_palettes/bandit_camp.json
  data/json/mapgen_palettes/building.json
  data/json/mapgen_palettes/cabin.json
  data/json/mapgen_palettes/campground.json
  data/json/mapgen_palettes/campus/common.json
  data/json/mapgen_palettes/cground.json
  data/json/mapgen_palettes/clothes_store_palette.json
  data/json/mapgen_palettes/farm.json
  data/json/mapgen_palettes/farm_horse.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/mapgen_palettes/fema.json
  data/json/mapgen_palettes/field_football.json
  data/json/mapgen_palettes/hospital.json
  data/json/mapgen_palettes/house_w_palette.json
  data/json/mapgen_palettes/houses_multistory.json
  data/json/mapgen_palettes/junkyard_palette.json
  data/json/mapgen_palettes/lab_surface_palette.json
  data/json/mapgen_palettes/lmoe.json
  data/json/mapgen_palettes/lumberyard.json
  data/json/mapgen_palettes/mall_palette.json
  data/json/mapgen_palettes/mansion.json
  data/json/mapgen_palettes/mi-go_palette.json
  data/json/mapgen_palettes/military/mil_base_palette.json
  data/json/mapgen_palettes/necropolis/necropolis_a.json
  data/json/mapgen_palettes/necropolis/necropolis_b2.json
  data/json/mapgen_palettes/necropolis/necropolis_b3.json
  data/json/mapgen_palettes/office.json
  data/json/mapgen_palettes/office_doctor.json
  data/json/mapgen_palettes/park_palette.json
  data/json/mapgen_palettes/prison.json
  data/json/mapgen_palettes/private_resort.json
  data/json/mapgen_palettes/railroad.json
  data/json/mapgen_palettes/ranch_camp.json
  data/json/mapgen_palettes/refugee_center.json
  data/json/mapgen_palettes/regional_dump_palette.json
  data/json/mapgen_palettes/road.json
  data/json/mapgen_palettes/robofachq.json
  data/json/mapgen_palettes/rural_roads_trails_palette.json
  data/json/mapgen_palettes/steel_mill_palette.json
  data/json/mapgen_palettes/subway.json
  data/json/mapgen_palettes/trailer_park.json
  data/json/regional_map_settings.json
Labels: Map / Mapgen, [JSON]

#37654 Fix handling, text of giving npc's items
  src/npc.cpp
  src/npc.h
  src/npctalk.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#37688 Update Guide for beginning mapgen.md
  doc/JSON Mapping Guides/Guide for beginning mapgen.md
Labels: <Documentation>, Map / Mapgen, [Markdown]

#37686 Fix antennae handling for auto attacking
  src/player.cpp
Labels: <Bugfix>, Mutations / Traits / Professions, [C++]

#37404 Only give message about sleeping aid once
  src/character.cpp
  src/character.h
  src/player.cpp
Labels: <Bugfix>, Character / Player, Info / User Interface, [C++]

#37523 Change milking to an activity, restore udders on load catchup
  data/json/effects.json
  data/json/monsters/mammal.json
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/cata_string_consts.h
  src/game.cpp
  src/monexamine.cpp
  src/monster.cpp
  src/monster.h
  src/savegame_json.cpp
Labels: <Bugfix>, Character / Player, [C++]

#37592 Removed VARSIZE flag from accessories.
  data/json/items/armor/jewelry.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37676 Gun volume audit for .38 Super
  data/json/items/gun/38super.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37670 Gun volume audit for .357 SIG + adjust SIG Sauer weights
  data/json/items/gun/357sig.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37612 Gun volume auditing for 5.7mm
  data/json/items/gun/57.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37702 Wheel modern json name to object
  data/json/items/vehicle/wheel.json
Labels: [JSON]

#37701 pet armor mordern name object
  data/json/items/armor/pets_dog_armor.json
Labels: [JSON]

#37616 Sledge Expansion and Refactor
  data/json/itemgroups/gear.json
  data/json/itemgroups/item_groups.json
  data/json/itemgroups/locations_commercial.json
  data/json/itemgroups/tools.json
  data/json/items/melee/bludgeons.json
  data/json/martialarts.json
  data/json/npcs/NC_ARSONIST.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/NC_THUG.json
  data/json/npcs/items_generic.json
  data/json/recipes/recipe_others.json
  data/json/vehicles/emergency.json
Labels: <Enhancement / Feature>, Items / Item Actions / Item Qualities, [JSON]

#37637 Gun volume auditing for .32
  data/json/items/gun/32.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37652 comment bug report template game report example
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Organization, [Markdown]

#37666 Generic Guns: Bandoliers and bugfixes
  data/mods/Generic_Guns/ammo/grenade.json
  data/mods/Generic_Guns/ammo/rocket.json
  data/mods/Generic_Guns/bandoliers/bandolier.json
  data/mods/Generic_Guns/firearms/shot.json
  data/mods/Generic_Guns/gg_ammunition_types.json
  data/mods/Generic_Guns/robots/active_bots.json
  data/mods/Generic_Guns/robots/broken_bots.json
  data/mods/Generic_Guns/vehicles/ammo_redefine_hacks/temp_magazine_json_load_hack.json
Labels: <Bugfix>, Mods: Generic Guns, [JSON]

#37576 Gun volume auditing for .38/.357 handguns
  data/json/items/gun/38.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37720 armor modern json name to object
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/torso_clothes.json
Labels: [JSON]

#37719 Gun volume audit for .270 Win + a typo
  data/json/items/gun/270win.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37718 Mre name to object
  data/json/items/comestibles/mre.json
Labels: [JSON]

#37717 Batteries and animecon modern json name
  data/json/items/book/tailor.json
  data/json/items/vehicle/battery.json
Labels: [JSON]

#37716 Make ESC key stop trying to sleep
  src/activity_handlers.cpp
Labels: Info / User Interface, Quality of Life

#37712 Comestible Names to objects
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/frozen.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/spice.json
Labels: [JSON]

#37703 Fix crash when closing game window
  src/game.cpp
Labels: <Bugfix>, [C++]

#37722 Add Ultica tileset demo to mainline
  gfx/UltimateCataclysmDemo/fallback.png
  gfx/UltimateCataclysmDemo/fillerhoder.png
  gfx/UltimateCataclysmDemo/giant.png
  gfx/UltimateCataclysmDemo/huge.png
  gfx/UltimateCataclysmDemo/incomplete.png
  gfx/UltimateCataclysmDemo/large.png
  gfx/UltimateCataclysmDemo/normal.png
  gfx/UltimateCataclysmDemo/tall.png
  gfx/UltimateCataclysmDemo/tile_config.json
  gfx/UltimateCataclysmDemo/tileset.txt
Labels: SDL: Tiles / Sound

#37731 Save build artifacts from github actions CI
  .github/workflows/ccpp.yml
Labels: Code: Build, Code: Tests

#37730 Gunmod Name to object, volume to string
  data/json/items/gunmod/rail.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/underbarrel.json
Labels: [JSON]

#37729 Tool modern json2
  data/json/items/items_holiday.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/electronics.json
  data/json/items/tool/explosives.json
  data/json/items/tool/lighting.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/woodworking.json
Labels: [JSON]

#37727 Fix typo in .50 BMG tracer ammo descriptions
  data/json/items/ammo/50.json
Labels: [JSON]

#37732 Ammo modern json
  data/json/items/ammo.json
  data/json/items/chemicals_and_resources.json
  data/json/items/fuel.json
  data/json/items/ranged/throwing.json
  data/json/items/resources/metal.json
  data/json/items/resources/tailoring.json
Labels: [JSON]

#37733 Update storage.json
  data/json/items/armor/storage.json
Labels: [JSON]

#37734 Magazine Name to object, volume to string
  data/json/items/battery.json
Labels: [JSON]

#37735 container Name to object, leave the s
  data/json/items/containers.json
Labels: [JSON]

#37736 Tool name to object
  data/json/items/melee/bludgeons.json
  data/json/items/melee/knives_kitchen.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/electronics.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
Labels: [JSON]

#37742 Corrected whistle multitool weight and volume
  data/json/items/tool/misc.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#37743 Armor name to object
  data/json/items/armor/coats.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#37740 Update json_info barrel_length description
  doc/JSON_INFO.md
Labels: Items / Item Actions / Item Qualities, [JSON]

#37739 Remove placeholder repairs_like
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/misc.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_clothes.json
  data/json/items/tool_armor.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#37738 Gun barrel length to string
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/3006.json
  data/json/items/gun/38.json
  data/json/items/gun/40.json
  data/json/items/gun/44.json
  data/json/items/gun/45.json
  data/json/items/gun/460.json
  data/json/items/gun/9mm.json
Labels: [JSON]

#37744 Display item volumes with a higher precision
  src/item.cpp
  tests/iteminfo_test.cpp
Labels: Code: Tests, Info / User Interface, Items / Item Actions / Item Qualities, [C++]

#37751 kitchen item group revamp
  data/json/itemgroups/item_groups.json
Labels: Items / Item Actions / Item Qualities, Spawn, [JSON]

#37709 Fix ammo disassembly and allow for disassembly of multiple rounds
  src/crafting.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Quality of Life, [C++]

#37755 Military base monstergroups fix
  data/json/monstergroups/military.json
  data/json/monstergroups/zombies.json
Labels: <Bugfix>, Map / Mapgen, Monsters, Spawn, [JSON]

#37756 tool Name to object
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/electronics.json
  data/json/items/tool/lighting.json
  data/json/items/tool/woodworking.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#37757 Comestible alcohol name to object
  data/json/items/comestibles/alcohol.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#37741 Audit holster capacities
  data/json/items/armor/holster.json
  data/json/professions.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#37681 Gun volume audit for .45 Long Colt
  data/json/items/gun/45colt.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#37765 ARMOR Name to object
  data/json/items/tool_armor.json
Labels: [JSON]

#37762 Monsterdrops.json sorting
  data/json/monsterdrops/marloss.json
  data/json/monsterdrops/misc.json
  data/json/monsterdrops/monster_drops.json
  data/json/monsterdrops/zombie.json
  data/json/monsterdrops/zombie_child.json
  data/json/monsterdrops/zombie_default.json
  data/json/monsterdrops/zombie_survivor.json
Labels: [JSON]

#37759 Change pouch to ragpouch in looks_like
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/storage.json
Labels: [JSON]

#37774 Updated turret mount description
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON]

#37773 Allowed scrolling while examining items in AIM
  src/advanced_inv.cpp
Labels: Info / User Interface

#37770 Tool name to object leave the s, change volume to string
  data/json/items/melee/knives_kitchen.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/electronics.json
  data/json/items/tool/explosives.json
  data/json/items/tool/fire.json
  data/json/items/tool/knives.json
  data/json/items/tool/lighting.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
Labels: [JSON]

#37767 Generic name to object, leave the s
  data/json/items/book/martial.json
  data/json/items/comestibles/mre.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/items/software.json
  data/json/items/vehicle/rigs.json
Labels: [JSON]

#37761 Added position query for spray can and markers actions.
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: Info / User Interface, Items / Item Actions / Item Qualities, [C++], [JSON]

#37769 Added a few names to en.json
  data/names/en.json
Labels: [JSON]

#37775 Tool name to object
  data/json/items/melee/bludgeons.json
  data/json/items/melee/knives_kitchen.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/plastic.json
  data/json/items/tool/deployable.json
  data/json/items/tool/electronics.json
  data/json/items/tool/fire.json
  data/json/items/tool/knives.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/lighting.json
  data/json/items/tool/med.json
  data/json/items/tool/misc.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/science.json
  data/json/items/tool/stationary.json
  data/json/items/tool/workshop.json
Labels: [JSON]

#37764 Cardboard as a material
  data/json/items/armor/eyewear.json
  data/json/items/comestibles/other.json
  data/json/items/containers.json
  data/json/items/fluff.json
  data/json/items/tool/fire.json
  data/json/items/tool/workshop.json
  data/json/materials.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_deconstruction.json
  data/json/requirements/materials.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#37792 tool Name to object, leave the s
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/electronics.json
  data/json/items/tool/knives.json
  data/json/items/tool/workshop.json
Labels: [JSON]

#37793 Comestible modern json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/wheat.json
Labels: [JSON]

#37795 Gun name to object
  data/json/items/gun/22.json
  data/json/items/gun/3006.json
  data/json/items/gun/308.json
  data/json/items/gun/36paper.json
  data/json/items/gun/38super.json
  data/json/items/gun/40.json
  data/json/items/gun/44.json
  data/json/items/gun/44paper.json
  data/json/items/gun/4570.json
  data/json/items/gun/50.json
  data/json/items/gun/500.json
  data/json/items/gun/762.json
  data/json/items/gun/9mm.json
  data/json/items/gun/atgm.json
Labels: [JSON]

#37796 Armor name to object
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/holster.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/undergarment.json
Labels: [JSON]

#37797 Ammo modern json
  data/json/items/ammo.json
  data/json/items/chemicals_and_resources.json
  data/json/items/fuel.json
  data/json/items/generic.json
  data/json/items/resources/home_improvement.json
  data/json/items/resources/tailoring.json
Labels: [JSON]

#37799 Generic modern json
  data/json/items/book/martial.json
  data/json/items/generic.json
  data/json/items/melee/bludgeons.json
Labels: [JSON]

#37790 Factor out map::has_nearby_table for eating/butchering checks
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/consumption.cpp
  src/map.cpp
  src/map.h
Labels: Code: Astyle / Optimization / Static Analysis, Crafting / Construction / Recipes, [C++]

#37788 Add debug menu item for spawning nested mapgen
  src/debug_menu.cpp
  src/debug_menu.h
Labels: Map / Mapgen, [C++]

#37780 Bugfix house_wooded stairs to nowhere
  data/json/mapgen/house/house_wooded.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#37777 Allow using short cordage pieces to craft candles
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#37786 Prevent broken legs dropping weapon
  src/player.cpp
Labels: <Bugfix>, Character / Player, [C++]

#37776 Check if entire pane is liquid items before allowing moving all in AIM
  src/advanced_inv.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, [C++]

#37801 Remove DROPS_AMMO from firefighter bot
  data/mods/Salvaged_Robots/monsters.json
Labels: <Bugfix>, Monsters, [JSON]

#37803 Migrate direct item spawns
  src/mapgen.cpp
Labels: <Bugfix>, Mods: Generic Guns, Spawn, [C++]

#37814 Fix typo in item id of bio lockpick pseudo item
  data/json/items/tool/entry_tools.json
  gfx/ChestHole16Tileset/tile_config.json
  gfx/HitButton_iso/tile_config.json
  src/bionics.cpp
Labels: <Bugfix>, Bionics, [C++], [JSON]

#37807 Body part names refactor
  data/json/body_parts.json
  doc/TRANSLATING.md
  lang/extract_json_strings.py
  src/bodypart.cpp
  src/bodypart.h
Labels: Translation, [C++], [JSON], [Python]

#37805 Always prompt for direction if autoselect disabled
  src/action.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#37800 Skimming through book's contents won't show skill progress indicator
  src/player_activity.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#37783 [Aftershock] Remove Circus Strongman
  data/mods/Aftershock/player/obsolete.json
Labels: Mods: Aftershock, Mutations / Traits / Professions

#37812 Display appropriate item values with less precision
  src/item.cpp
  src/item.h
  tests/iteminfo_test.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#37723 Increase body bag storage capacity
  data/json/items/containers.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#37818 Update tileset compose colorspace handling
  tools/gfx_tools/compose.py
Labels: SDL: Tiles / Sound, [Python]

#37825 Added scrub brush to washing kit recipe
  data/json/items/tool/toileteries.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#37824 Fix NPC equip fail message
  src/character.cpp
Labels: <Bugfix>, Mutations / Traits / Professions, [C++]

#37822 Explosives requirements infrastructure
  data/json/recipes/weapon/explosive.json
  data/json/requirements/explosives.json
Labels: Crafting / Construction / Recipes, [JSON]

#37809 change aim level move time to int
  src/item.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#37706 Looks_like application for fields like fire and blood.
  data/json/field_type.json
Labels: Fields / Furniture / Terrain / Traps, SDL: Tiles / Sound, [JSON]

#37829 Fix reference to non-existing item group
  data/json/mapgen_palettes/cabin.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Spawn, [JSON]

#37831 Add missing string_format call
  src/character.cpp
Labels: <Bugfix>, Code: Build

#37832 Add flashlight battery to tutorial and update keybinds
  data/json/tutorial.json
  src/mapgen_functions.cpp
Labels: <Bugfix>, Info / User Interface, Map / Mapgen, [C++]

#37835 Remove reference to game::u from code in Character/player/avatar member functions
  src/avatar.cpp
  src/character.cpp
  src/player.cpp
Labels: NPC / Factions, Player Faction Base / Camp, [C++]

#37833 Add Debian/Ubuntu install instructions to README
  README.md
Labels: <Documentation>, [Markdown]

#37840 Added WASH_HARD_ITEMS to scrub brush
  data/json/items/tool/toileteries.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#37843 Fix 'lumination' mutation value not using float
  src/mutation.h
Labels: Bionics, [C++]

#37844 Fix type cast warnings
  src/magic.cpp
  src/mission.cpp
  src/npctrade.cpp
  src/vehicle.cpp
  src/weather.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#37846 UltiCa updates to mainline
  gfx/UltimateCataclysmDemo/fillerhoder.png
  gfx/UltimateCataclysmDemo/giant.png
  gfx/UltimateCataclysmDemo/incomplete.png
  gfx/UltimateCataclysmDemo/large.png
  gfx/UltimateCataclysmDemo/normal.png
  gfx/UltimateCataclysmDemo/tall.png
  gfx/UltimateCataclysmDemo/tile_config.json
  gfx/UltimateCataclysmDemo/tileset.txt
Labels: SDL: Tiles / Sound

#37826 Set a very low freezing_point for spice
  data/json/items/classes/comestible.json
Labels: Items: Food / Vitamins, [JSON]

#37659 Migrate M47 from Magiclysm with Generic Guns active
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mods: Magiclysm

#37748 Add looks_like for magazines
  data/json/items/magazine/12mm.json
  data/json/items/magazine/20x60mm.json
  data/json/items/magazine/22.json
  data/json/items/magazine/223.json
  data/json/items/magazine/300.json
  data/json/items/magazine/3006.json
  data/json/items/magazine/308.json
  data/json/items/magazine/32.json
  data/json/items/magazine/357sig.json
  data/json/items/magazine/38.json
  data/json/items/magazine/380.json
  data/json/items/magazine/38super.json
  data/json/items/magazine/40.json
  data/json/items/magazine/40mm.json
  data/json/items/magazine/410shot.json
  data/json/items/magazine/44.json
  data/json/items/magazine/45.json
  data/json/items/magazine/454.json
  data/json/items/magazine/46.json
  data/json/items/magazine/460.json
  data/json/items/magazine/50.json
  data/json/items/magazine/500.json
  data/json/items/magazine/545x39.json
  data/json/items/magazine/57.json
  data/json/items/magazine/5x50.json
  data/json/items/magazine/66mm.json
  data/json/items/magazine/762.json
  data/json/items/magazine/762R.json
  data/json/items/magazine/762x25.json
  data/json/items/magazine/8x40mm.json
  data/json/items/magazine/9mm.json
  data/json/items/magazine/9x18.json
  data/json/items/magazine/chemical_spray.json
  data/json/items/magazine/liquid.json
  data/json/items/magazine/nail.json
  data/json/items/magazine/shot.json
  data/json/items/magazine/weldgas.json
Labels: Items / Item Actions / Item Qualities, Items: Magazines, SDL: Tiles / Sound, [JSON]

#37726 Add looks_like support for fields
  src/cata_tiles.cpp
  src/field_type.cpp
  src/field_type.h
Labels: (P2 - High), Code: Astyle / Optimization / Static Analysis, Fields / Furniture / Terrain / Traps, SDL: Tiles / Sound, [C++]

#37834 Add Debian/Ubuntu install instructions to releases page
  releases.md
Labels: <Documentation>, Organization: Sites, [Markdown]
