Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-04, with the labels that each got.

#39122 WIP: Ultica Demo: Final 0.E update
  gfx/UltimateCataclysmDemo/fillerhoder.png
  gfx/UltimateCataclysmDemo/giant.png
  gfx/UltimateCataclysmDemo/incomplete.png
  gfx/UltimateCataclysmDemo/large.png
  gfx/UltimateCataclysmDemo/normal.png
  gfx/UltimateCataclysmDemo/opengameartgiant.png
  gfx/UltimateCataclysmDemo/tall.png
  gfx/UltimateCataclysmDemo/tile_config.json
  gfx/UltimateCataclysmDemo/tileset.txt
Labels: SDL: Tiles / Sound

#39132 Final changelog update for 0.E
  data/changelog.txt
Labels: Organization

#39149 fix magiclysm codeowners
  .github/CODEOWNERS
Labels: <Bugfix>, Organization

#39168 Misc small fixes for Android builds (2020-04-02)
  build-scripts/build.sh
  src/debug.cpp
  src/lightmap.cpp
Labels: Code: Build, OS: Android, [C++]

#39165 Stop UIs unmigrated to ui_adaptor from disappearing when a sub-UI is opened for a second time
  src/advanced_inv.cpp
  src/armor_layers.cpp
  src/auto_note.cpp
  src/bionics_ui.cpp
  src/computer_session.cpp
  src/construction.cpp
  src/crafting_gui.cpp
  src/descriptions.cpp
  src/editmap.cpp
  src/faction.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/gamemode_defense.cpp
  src/iexamine.cpp
  src/inventory_ui.cpp
  src/iuse_software_kitten.cpp
  src/iuse_software_lightson.cpp
  src/iuse_software_minesweeper.cpp
  src/iuse_software_snake.cpp
  src/iuse_software_sokoban.cpp
  src/martialarts.cpp
  src/messages.cpp
  src/mission_companion.cpp
  src/mission_ui.cpp
  src/morale.cpp
  src/mutation_ui.cpp
  src/npctalk.cpp
  src/npctrade.cpp
  src/output.cpp
  src/overmap_ui.cpp
  src/panels.cpp
  src/pickup.cpp
  src/player_display.cpp
  src/ranged.cpp
  src/scores_ui.cpp
  src/ui_manager.h
  src/veh_interact.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#39171 Preparatory changes for running IWYU
  doc/DEVELOPER_TOOLING.md
  src/assign.h
  src/bionics.cpp
  src/dispersion.h
  src/monattack.cpp
  src/mondefense.cpp
  src/ranged.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Build, [C++]

#39130 [Magiclysm] Orichalcum production
  data/mods/Magiclysm/furniture.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/recipe_books.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/ammo_types.json
  data/mods/Magiclysm/items/melee.json
  data/mods/Magiclysm/items/metals.json
  data/mods/Magiclysm/items/recipe_books.json
  data/mods/Magiclysm/items/tools.json
  data/mods/Magiclysm/materials.json
  data/mods/Magiclysm/recipes/blacksmithing.json
  data/mods/Magiclysm/recipes/magic_tools.json
  data/mods/Magiclysm/recipes/weapons.json
  data/mods/Magiclysm/requirements/metal.json
Labels: Crafting / Construction / Recipes, Mods: Magiclysm, [JSON]

#38317 Use choose_adjacent_highlight in creature container code
  src/iuse.cpp
Labels: 0.E Feature Freeze, Info / User Interface

#38980 [Magiclysm] Manatouched mutation tree
  data/mods/Magiclysm/Spells/manatouched.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/mutagen.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/traits/manatouched.json
  data/mods/Magiclysm/traits/mutation.json
  src/magic.cpp
Labels: Mods: Magiclysm, Mutations / Traits / Professions, [C++], [JSON]

#39178 Dark Skies: Shelter Bugfix
  data/mods/Dark-Skies-Above/overrides/locations/evac_center.json
Labels: <Bugfix>, Map / Mapgen, Mods: Dark Skies, [JSON]

#39158 Body_part_type cleanup
  src/anatomy.cpp
  src/anatomy.h
  src/bodypart.cpp
  src/bodypart.h
  src/init.cpp
  src/string_id_null_ids.cpp
  src/type_id.h
Labels: <Enhancement / Feature>, Mechanics: Character / Player, [C++]

#39152 (Generic Guns) BP Migrations & Recipes
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
  data/mods/Generic_Guns/recipes/recipes_rifle.json
Labels: Crafting / Construction / Recipes, Items: Ammo, Mods: Generic Guns, [JSON]

#36663 Extended shift-v items menu
  src/game.cpp
Labels: 0.E Feature Freeze, Info / User Interface, [C++]

#36959 added batch time saving for all sugar recipes
  data/json/recipes/recipe_food.json
Labels: 0.E Content Freeze, Crafting / Construction / Recipes, [JSON]

#37129 Remove scent diffusion over water by implementing NO_SCENT flag
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-fungal.json
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/furniture_and_terrain/terrain-migo.json
  data/json/furniture_and_terrain/terrain-walls.json
  doc/JSON_FLAGS.md
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/scent_map.cpp
Labels: 0.E Feature Freeze, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#37220 Flintlock rilfe to musket name change and addition of a proper rifle
  data/json/items/gun/flintlock.json
  data/json/recipes/weapon/ranged.json
  data/mods/No_Old_guns/modinfo.json
Labels: 0.E Content Freeze, Ranged, [JSON]

#37271 Moved mass grave terrain and special to map extra
  data/json/mapgen/map_extras/mass_grave.json
  data/json/obsolete_terrains.json
  data/json/overmap/map_extras.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/regional_map_settings.json
  data/mods/Graphical_Overmap/go_overmap_terrain.json
  data/mods/alt_map_key/overmap_terrain.json
  src/savegame.cpp
Labels: 0.E Content Freeze, Map / Mapgen, [C++], [JSON]

#37351 Added wild boar to forests
  data/json/monstergroups/wilderness.json
  data/json/monsters/mammal.json
Labels: 0.E Content Freeze, Monsters, Spawn, [JSON]

#39101 refactor static function to remove static variable
  src/activity_handlers.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#37552 Use text snippets for tutorial messages
  data/json/snippets/tutorial.json
  data/json/tutorial.json
  lang/extract_json_strings.py
  src/gamemode_tutorial.cpp
  src/gamemode_tutorial.h
  src/init.cpp
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, [C++], [JSON]

#37453 Jsonize vehicle parts requiring other vehicle parts to be installed
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_flags.json
  doc/JSON_FLAGS.md
  src/flag.cpp
  src/flag.h
  src/veh_type.h
  src/vehicle.cpp
Labels: 0.E Feature Freeze, Vehicles, [C++], [JSON]

#38212 Make electric motors go in reverse better
  data/json/vehicles/test.json
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/vehicle_power_test.cpp
Labels: 0.E Feature Freeze, <Bugfix>, Code: Tests, Vehicles, [C++]

#37599 Tool belt rework
  data/json/items/armor/belts.json
  data/json/recipes/armor/storage.json
Labels: 0.E Content Freeze, <Enhancement / Feature>, Items / Item Actions / Item Qualities, [JSON]

#37816 change item_location return from an int to item_location
  src/armor_layers.cpp
  src/avatar_action.cpp
  src/game.cpp
  src/handle_action.cpp
  src/item_location.cpp
  src/item_location.h
  src/iuse_actor.cpp
  src/npc.cpp
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, [C++]

#38670 The chance to find a non-ransacked vending machine reduces greatly with every day after the cataclysm
  src/mapgen.cpp
Labels: 0.E Content Freeze, Fields / Furniture / Terrain / Traps, Game: Balance, Map / Mapgen, Spawn

#38022 move has_rotten_away from map to item
  src/item.cpp
  src/item.h
  src/map.cpp
  src/map.h
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, [C++]

#39071 Adjusted gum.
  data/json/items/comestibles/med.json
Labels: 0.E Content Freeze, Items: Food / Vitamins, [JSON]

#38110 Added option to randomize INITIAL_DAY
  src/game.cpp
  src/options.cpp
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Time / Turns / Duration / Date, [C++]

#39163 Fix wield action costing double than it should
  src/game.cpp
Labels: <Bugfix>, Mechanics: Character / Player, [C++]

#39107 Overmap and mapgen: testing, cleanup, and documentation
  doc/MAPGEN.md
  doc/OVERMAP.md
  src/mapgen.cpp
  tests/mapgen_function_test.cpp
  tests/overmap_test.cpp
Labels: <Documentation>, Code: Tests, Map / Mapgen, [C++], [Markdown]

#38256 💸npctrade💸: Remove item locations from trade window
  src/npctrade.cpp
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Info / User Interface, NPC / Factions, [C++]

#38272 home display case item group
  data/json/itemgroups/collections_domestic.json
Labels: 0.E Content Freeze, Items / Item Actions / Item Qualities, Spawn, [JSON]

#38515 Burdocks added to flora, with associated recipes.
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/itemgroups/faction_camps.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/brewing.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/food/brewing.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/seed.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  data/mods/rural_biome/rural_regional_map_settings.json
Labels: 0.E Content Freeze, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Items: Food / Vitamins, [JSON]

#38544 Allow random starting location in scenarios
  src/game.cpp
  src/newcharacter.cpp
  src/player.h
  src/savegame_json.cpp
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Info / User Interface, Quality of Life, Scenarios, [C++]

#38866 Add sheep shearing
  data/json/effects.json
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/items/tool/pets.json
  data/json/monsters/mammal.json
  data/json/player_activities.json
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_deconstruction.json
  data/json/tool_qualities.json
  doc/JSON_FLAGS.md
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/monexamine.cpp
  src/monexamine.h
  src/monstergenerator.cpp
  src/mtype.h
Labels: 0.E Content Freeze, 0.E Feature Freeze, Items / Item Actions / Item Qualities, Mechanics: Character / Player, Monsters, [C++], [JSON]

#38967 Vehicle autopilot follow
  src/vehicle_use.cpp
Labels: 0.E Content Freeze

#39184 Declare fuel_type_battery so build works again
  src/vehicle_move.cpp
Labels: <Bugfix>, Vehicles, [C++]

#39091 [Aftershock] Tripod remove hardcoded flamethrower
  data/mods/Aftershock/mobs/robots.json
Labels: Mods: Aftershock, Monsters, [JSON]

#38986 Monfaction attitude hate
  doc/JSON_INFO.md
  src/monattack.cpp
  src/monfaction.cpp
  src/monfaction.h
  src/monmove.cpp
  src/monster.cpp
Labels: <Documentation>, <Enhancement / Feature>, Monsters, NPC / Factions, [C++], [Markdown]

#39185 add spawn for new item_group
  data/json/mapgen_palettes/house_general_palette.json
Labels: Items / Item Actions / Item Qualities, Map / Mapgen, Spawn, [JSON]

#38710 Added enchantments to the mutations
  data/json/mutations/mutation_enchantments.json
  data/json/mutations/mutation_spells.json
  data/json/mutations/mutations.json
  src/character.cpp
  src/magic.cpp
  src/magic.h
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/mutation.h
  src/mutation_data.cpp
  src/player.cpp
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Mutations / Traits / Professions, [C++], [JSON]

#39033 [WIP] Use nullptr in wincurse.cpp where appropriate
  CMakeLists.txt
  src/wincurse.cpp
Labels: <Bugfix>, Code: Build, OS: Windows

#37263 Autolearn recipes rework cooking part 1
  data/json/items/book/cooking.json
  data/json/recipes/food/brewing.json
  data/json/recipes/food/canned.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/food/distill.json
  data/json/recipes/food/frozen.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/food/pasta.json
  data/json/recipes/recipe_food.json
Labels: 0.E Content Freeze, Crafting / Construction / Recipes, Game: Balance, [JSON]

#38505 Mining multi-activity for NPCs and players
  data/json/npcs/TALK_COMMON_ALLY.json
  data/json/player_activities.json
  data/json/requirements/toolsets.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/handle_action.cpp
  src/iuse.cpp
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
Labels: 0.E Feature Freeze, Inventory / AIM / Zones, Mechanics: Character / Player, NPC / Factions, [C++], [JSON]

#38248 Basecamp job rework - wandering/sitting/job priorities.
  src/activity_item_handling.cpp
  src/basecamp.cpp
  src/basecamp.h
  src/faction.cpp
  src/faction_camp.cpp
  src/iexamine.cpp
  src/map.cpp
  src/map.h
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk_funcs.cpp
  src/overmapbuffer.cpp
  src/savegame_json.cpp
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Info / User Interface, Mechanics: Character / Player, NPC / Factions, Player Faction Base / Camp, [C++]

#37911 changre npc::mug_player to not use item index
  src/npcmove.cpp
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, [C++]

#36722 Refactor monsters shift-v menu
  src/game.cpp
  src/monster.cpp
  src/npc.cpp
Labels: 0.E Feature Freeze, Info / User Interface, [C++]

#36802 change scope of some player member functions
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/player.cpp
  src/player.h
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, [C++]

#39196 fix magiclysm json load errors
  data/mods/Magiclysm/items/metals.json
  data/mods/Magiclysm/recipes/blacksmithing.json
Labels: Mods: Magiclysm, [JSON]

#39175 Silence a lgtm warning
  src/activity_handlers.cpp
  src/item.cpp
  src/iuse_actor.cpp
  src/lightmap.cpp
  src/magic.cpp
  src/map.cpp
  src/map_field.cpp
  src/mapgen.cpp
  src/melee.cpp
  src/stomach.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
Labels: Code: Build, [C++]

#39198 Remove obsolete random basement/house combo creation
  data/json/regional_map_settings.json
  data/json/test_regions.json
  data/mods/Aftershock/maps/regional_map_settings.json
  data/mods/Dark-Skies-Above/overrides/region_settings.json
  data/mods/desert_region/desert_regional_map_settings.json
  data/mods/rural_biome/rural_regional_map_settings.json
  doc/REGION_SETTINGS.md
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/mapgendata.cpp
  src/mapgendata.h
  src/options.cpp
  src/overmap.cpp
  src/regional_settings.cpp
  src/regional_settings.h
Labels: Map / Mapgen, [JSON]

#39201 Remove effects when resetting characters
  tests/player_helpers.cpp
Labels: <Bugfix>, Character / World Generation, Code: Tests, [C++]

#39204 Assorted Magiclysm fixes
  data/mods/Magiclysm/recipes/magic_tools.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Mods: Magiclysm, [JSON]

#39205 DarkSkies fixes
  data/mods/Dark-Skies-Above/overrides/locations/evac_center.json
Labels: <Bugfix>, Map / Mapgen, Mods: Dark Skies, [JSON]

#39207 Add missing mapgen palette references
  data/mods/Dark-Skies-Above/overrides/locations/evac_center.json
Labels: Map / Mapgen, Mods: Dark Skies, [JSON]

#39211 Fix astyle regression (2020-04-03)
  src/activity_handlers.cpp
  src/iuse_actor.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#39212 Fix DBZ in character sight range calculation
  src/character.cpp
Labels: <Bugfix>, [C++]

#39225 Python tool lgtm cleanup
  tools/copy_from.py
  tools/gfx_tools/decompose.py
  tools/json_tools/keys.py
  tools/json_tools/pluck.py
  tools/json_tools/splitter.py
  tools/json_tools/values.py
  tools/merge_maps.py
  tools/palettize.py
Labels: Code: Build, [Python]

#39206 Fix loading of older saves with NPC
  src/savegame_json.cpp
Labels: <Bugfix>, Character / World Generation, NPC / Factions, [C++]

#39222 More lgtm fixes
  src/avatar.cpp
  src/character.cpp
  src/game.cpp
  src/weather.cpp
Labels: Code: Build, [C++]

#39214 More preparatory changes for IWYU.
  doc/DEVELOPER_TOOLING.md
  tests/hash_test.cpp
  tools/clang-tidy-plugin/JsonTranslationInputCheck.cpp
  tools/clang-tidy-plugin/NoStaticGettextCheck.cpp
  tools/clang-tidy-plugin/PointInitializationCheck.cpp
  tools/clang-tidy-plugin/SimplifyPointConstructorsCheck.cpp
  tools/clang-tidy-plugin/TranslatorCommentsCheck.h
  tools/clang-tidy-plugin/UseNamedPointConstantsCheck.cpp
  tools/clang-tidy-plugin/UsePointApisCheck.cpp
  tools/clang-tidy-plugin/UsePointArithmeticCheck.cpp
  tools/clang-tidy-plugin/XYCheck.cpp
  tools/iwyu/gcc.stdlib.imp
Labels: <Documentation>, Code: Build, [C++], [Markdown]

#39226 rearrange spellcasting_finish
  src/activity_handlers.cpp
Labels: <Bugfix>, Mods: Magiclysm

#39220 Make profession choice affect points again
  src/newcharacter.cpp
Labels: <Bugfix>, Mutations / Traits / Professions, [C++]

#35843 Disease infrastructure
  data/json/disease.json
  data/json/items/comestibles/dairy.json
  doc/JSON_INFO.md
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/disease.cpp
  src/disease.h
  src/init.cpp
  src/item_factory.cpp
  src/itype.h
  src/type_id.h
Labels: 0.E Feature Freeze, Mechanics: Character / Player, Mechanics: Effects / Skills / Stats, [C++], [JSON]

#37450 Allow for specialization of activity parameters
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/activity_type.cpp
  src/advanced_inv.cpp
  src/character.h
  src/game.cpp
  src/player_activity.cpp
  src/player_activity.h
  src/savegame_json.cpp
  src/type_id.h
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, Mechanics: Character / Player, [C++]

#39240 Fix color of "* random location *" in new character menu
  src/newcharacter.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#39238 Fix crash when NPC gives player equipment
  src/npctalk_funcs.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#39233 Bypass downing immunity when knocked down due to instability.
  src/player.cpp
Labels: <Bugfix>, Mechanics: Effects / Skills / Stats, Melee, [C++]

#38889 Add more cats and kittens
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
  data/json/monstergroups/misc.json
  data/json/monsters/mammal.json
Labels: 0.E Content Freeze, <Enhancement / Feature>, Monsters, [JSON]

#39236 Migrate item info UI, crafting menu, item comparison UI, and pickup menu to ui_adaptor
  src/crafting_gui.cpp
  src/game_inventory.cpp
  src/output.cpp
  src/output.h
  src/pickup.cpp
  src/ui_manager.cpp
  src/ui_manager.h
Labels: Info / User Interface, [C++]

#33829 Flyable Helicopters
  data/json/items/ammo_types.json
  data/json/items/fuel.json
  data/json/items/vehicle/rotor.json
  data/json/mapgen/helipad.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/regional_airport.json
  data/json/mutations/mutations.json
  data/json/professions.json
  data/json/vehicle_groups.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/rotor.json
  data/json/vehicleparts/tanks.json
  data/json/vehicles/helicopters.json
  data/json/vehicles/military.json
  src/cata_tiles.cpp
  src/handle_action.cpp
  src/map.cpp
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/savegame_json.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Vehicles, [C++], [JSON]

#39241 Fix "Unable to find and assign mission target" message
  data/json/npcs/missiondef.json
  src/mapgen.cpp
Labels: <Bugfix>, Missions, [C++], [JSON]

#39237 Prevent nearby NPC-owned items showing up in trades unless they're a shopkeeper.
  src/npctrade.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#39263 Adds me to codeowners
  .github/CODEOWNERS
Labels: Mods: Dark Skies, Organization

#39264 Add obsolete mods to test blacklist
  build-scripts/mod_test_blacklist
Labels: Code: Build, Mods

#39254 clang-tidy readability_redundant_preprocessor
  .clang-tidy
  src/cata_tiles.cpp
  src/character.h
  src/game_inventory.cpp
  src/veh_type.h
  src/vehicle.cpp
  tests/npc_test.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Code: Build, [C++]

#39259 Vehicle menu: Colorize jacking and lifting qualities
  src/veh_type.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles, [C++]

#39256 Fix some mustard recipe math
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, [JSON]

#39261 Rename sausage to smoked sausage
  data/json/items/comestibles/meat_dishes.json
Labels: [JSON]

#39262 Remove legacy anesthetic kit
  data/json/items/obsolete.json
  src/bionics.cpp
  src/character.h
  src/game_inventory.cpp
  src/iexamine.cpp
Labels: Bionics, Items / Item Actions / Item Qualities, [C++], [JSON]

#39244 pkg-config build improvements
  Makefile
Labels: Code: Build, OS: Linux

#39252 Code optimizations reported by static code analysis (2020-04-04)
  src/activity_handlers.cpp
  src/advanced_inv.cpp
  src/animation.cpp
  src/avatar_action.cpp
  src/basecamp.h
  src/bodypart.cpp
  src/character.cpp
  src/handle_action.cpp
  src/map.cpp
  src/map.h
  src/monmove.cpp
  src/npc.h
  src/options.cpp
  src/player.cpp
  src/player.h
  src/ranged.cpp
  src/ranged.h
  src/savegame.cpp
  src/uistate.h
  src/vehicle.cpp
  tests/char_edible_rating_test.cpp
  tests/char_stamina_test.cpp
  tests/monster_vision_test.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#39267 Rename json formatter for Windows cross-compile
  Makefile
Labels: Code: Build, OS: Windows

#39268 [magiclysm] add mana siphon trait to manatouched
  data/mods/Magiclysm/traits/manatouched.json
  data/mods/Magiclysm/traits/mutation.json
Labels: Mods: Magiclysm, [JSON]

#39273 Fix duplicate mod identifier causing crash at launch
  src/sdltiles.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#39274 Fix typo in readme
  README.md
Labels: <Bugfix>, [Markdown]

#39282 Add 6-shot .454 speedloader
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/gun/454.json
  data/json/items/magazine/454.json
Labels: <Bugfix>, Items: Gunmod / Toolmod, [JSON]

#39293 Fix crash by not accessing null basecamp
  src/faction.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#39288 Disable warning C4068 (unknown pragmas)
  msvc-full-features/Cataclysm-App.vcxproj
  msvc-full-features/Cataclysm-Lib.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg.vcxproj
Labels: Code: Build, OS: Windows

#39287 Remove duplicate % martialarts.json
  data/json/martialarts.json
Labels: [JSON]

#39295 Craft plastic chunk from plastic zipper bags
  data/json/recipes/recipe_others.json
Labels: [JSON]

#39294 Prevent non-pilots from flying with remote control
  src/handle_action.cpp
Labels: Mutations / Traits / Professions, Vehicles, [C++]

#38030 Clean up and organize item info panel
  data/json/flags.json
  data/mods/TEST_DATA/items.json
  data/mods/TEST_DATA/recipes.json
  data/mods/TEST_DATA/uncraft.json
  src/item.cpp
  src/item.h
  src/iteminfo_query.h
  src/iuse_actor.cpp
  tests/iteminfo_test.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Items / Item Actions / Item Qualities, [C++]

#37798 Remove quantum solar panels
  data/json/construction.json
  data/json/itemgroups/main.json
  data/json/items/migration.json
  data/json/items/obsolete.json
  data/json/items/tool_armor.json
  data/json/items/vehicle/solar.json
  data/json/recipes/basecamps/recipe_modular_field_common.json
  data/json/recipes/basecamps/recipe_modular_firestation1.json
  data/json/recipes/basecamps/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/recipe_primitive_field.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_electronics.json
  data/json/recipes/recipe_obsolete.json
  data/json/vehicleparts/obsolete.json
  data/json/vehicleparts/vehicle_parts.json
  src/mapgen.cpp
Labels: Items / Item Actions / Item Qualities, Spawn, [C++], [JSON]

#37991 Magiclysm: summon vehicle spell : floating disk
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
  src/game.cpp
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/npctalk.cpp
  src/savegame_json.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
Labels: <Enhancement / Feature>, Mods: Magiclysm, Vehicles, [C++], [JSON]

#37850 Quantum solar panel to [Aftershock]
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/item_groups.json
  data/mods/Aftershock/recipes/deconstruction.json
  data/mods/Aftershock/vehicles/part_items.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: Mods: Aftershock, Vehicles, [JSON]

#38727 Change Aura of Protection as a "spawn_item" and add the new ethereal_items
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: <Bugfix>, Mods: Magiclysm, [JSON]

#39202 Fix savegame migration of rural house overmap terrain
  data/json/obsolete_terrains.json
  src/savegame.cpp
Labels: <Bugfix>, Character / World Generation, Map / Mapgen, [C++], [JSON]

#38475 more windows varienty
  data/json/construction.json
  data/json/construction_category.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/items/resources/glass.json
  data/json/items/resources/plastic.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [JSON]

#39278 Colorize en.motd
  data/motd/en.motd
Labels: Info / User Interface

#39302 Allow spawning of rigid plastic sheet and tempered glass
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/supplies.json
Labels: Items / Item Actions / Item Qualities, Spawn, [JSON]

#39266 Add tests for character biometrics (BMI, BMR, weight, kcal)
  tests/char_biometrics_test.cpp
Labels: Code: Tests, Mechanics: Character / Player

#39047 Mainline roof-mounted external tank (200L) + add roof-mounted external tank (100L)
  data/json/vehicleparts/tanks.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: Mods: Aftershock

#39316 Helicopter going up fix
  src/vehicle_move.cpp
Labels: <Bugfix>, Vehicles, [C++]

#39313 Small fix to autodoc quality PR
  src/bionics.cpp
Labels: <Bugfix>, [C++]

#39243 Add UrbDev urban_house_1, urban_house_2 into master.
  data/json/mapgen/house/urban_1_house.json
  data/json/mapgen/house/urban_2_house.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
  data/mods/Urban_Development/building_jsons/urban_1_house.json
  data/mods/Urban_Development/building_jsons/urban_2_house.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/Urban_Development/regional_overlay.json
Labels: Map / Mapgen, [JSON]

#39318 Generate z-levels for lakes
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/mapgen/lake.json
  data/json/overmap/overmap_terrain/overmap_terrain_waterbody.json
  data/json/regional_map_settings.json
  data/json/test_regions.json
  data/mods/desert_region/desert_regional_map_settings.json
  data/mods/rural_biome/rural_regional_map_settings.json
  doc/REGION_SETTINGS.md
  src/overmap.cpp
  src/regional_settings.cpp
  src/regional_settings.h
Labels: <Documentation>, Map / Mapgen, [C++], [JSON], [Markdown]

#38151 Allow multiple overmap terrains in start location
  data/json/scenarios.json
  data/json/start_locations.json
  data/mods/Fuji_Structures/starts/scenarios.json
  data/mods/Fuji_Structures/starts/start_locations.json
  data/mods/Magiclysm/scenarios.json
  data/mods/Magiclysm/start_locations.json
  data/mods/More_Survival_Tools/scenarios.json
  data/mods/More_Survival_Tools/start_locations.json
  data/mods/My_Sweet_Cataclysm/sweet_scenarios.json
  data/mods/My_Sweet_Cataclysm/sweet_start_locations.json
  data/mods/Salvaged_Robots/robot_additions/scenarios.json
  data/mods/Salvaged_Robots/robot_additions/start_locations.json
  data/mods/more_classes_scenarios/cs_scenarios.json
  data/mods/more_classes_scenarios/cs_start_locations.json
  src/init.cpp
  src/newcharacter.cpp
  src/overmap.cpp
  src/overmap.h
  src/player.cpp
  src/start_location.cpp
  src/start_location.h
Labels: <Enhancement / Feature>, Mods, Mods: Magiclysm, Scenarios, [C++], [JSON]

#38026 encapsulate item::contents
  src/activity_handlers.cpp
  src/advanced_inv.cpp
  src/avatar_action.cpp
  src/ballistics.cpp
  src/character.cpp
  src/character.h
  src/computer_session.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/dump.cpp
  src/faction_camp.cpp
  src/gamemode_defense.cpp
  src/handle_action.cpp
  src/handle_liquid.cpp
  src/handle_liquid.h
  src/item.cpp
  src/item.h
  src/item_action.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/item_factory.cpp
  src/item_group.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/map_field.cpp
  src/mapgen.cpp
  src/melee.cpp
  src/memorial_logger.cpp
  src/mission.cpp
  src/mutation.cpp
  src/npc.cpp
  src/npctalk.cpp
  src/player.cpp
  src/profession.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle_part.cpp
  src/visitable.cpp
  tests/crafting_test.cpp
  tests/item_test.cpp
  tests/new_character_test.cpp
  tests/ranged_balance_test.cpp
  tests/reload_option_test.cpp
  tests/vehicle_interact_test.cpp
  tests/visitable_remove_test.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#39326 Fix Dark Skies mod starting locations
  data/mods/Dark-Skies-Above/overrides/locations/evac_center.json
  data/mods/Dark-Skies-Above/overrides/scenarios.json
Labels: <Bugfix>, Character / World Generation, Mods: Dark Skies, [JSON]

#39335 fix crash while butchering planks
  src/item.cpp
Labels: <Bugfix>, <Crash / Freeze>

#39342 fix mag unloading
  src/activity_handlers.cpp
Labels: <Bugfix>

#39319 mainline urban development urban_3_house, urban_4_house_basement
  data/json/mapgen/house/urban_3_house.json
  data/json/mapgen/house/urban_4_house_basement.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
  data/mods/Urban_Development/building_jsons/urban_3_house.json
  data/mods/Urban_Development/building_jsons/urban_4_house_basement.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/Urban_Development/regional_overlay.json
Labels: Map / Mapgen, [C++]

#39269 Corrected vehicle acceleration display units
  src/veh_interact.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#39303 Added a luna park location
  data/json/mapgen/miniature_railway/miniature_railway.json
  data/json/mapgen/miniature_railway/miniature_railway_z1.json
  data/json/mapgen/miniature_railway/miniature_railway_z2.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Labels: <Enhancement / Feature>, Map / Mapgen, [JSON]

#39194 More Talk Texts
  data/json/mapgen/trailhead.json
  data/json/npcs/talk_tags.json
  data/json/snippets/schizophrenia.json
  src/activity_item_handling.cpp
Labels: NPC / Factions

#39323 Rotor collision
  src/map.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
Labels: <Bugfix>, Vehicles, [C++]

#39311 Dark Skies - Stray Remaster 1
  data/mods/Dark-Skies-Above/monsters/wild_aliens/strays.json
  data/mods/Dark-Skies-Above/species.json
Labels: Mods: Dark Skies

#39312 Dark Skies: Stray Remaster 2
  data/mods/Dark-Skies-Above/monsters/mon_groups/stray_spawns.json
  data/mods/Dark-Skies-Above/monsters/mon_groups/upgrades.json
Labels: Mods: Dark Skies

#39277 Random graves map extra
  data/json/monstergroups/mammal.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
  data/json/snippets/grave_labels.json
  src/map_extras.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: <Enhancement / Feature>, Map / Mapgen, [C++], [JSON]

#39281 Newcharacter menu harmonisation / consistency
  src/newcharacter.cpp
Labels: Info / User Interface, [C++]

#36816 Increased default overmap search radius
  src/overmap_ui.cpp
Labels: Info / User Interface, [C++]

#37838 Stable explosives infrastructure
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/explosives.json
Labels: Crafting / Construction / Recipes, [JSON]

#39320 Changes/adds post-apoc prices to half the armor (part 1 of reworking all prices)
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/bandolier.json
  data/json/items/armor/belts.json
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/generic/currency.json
Labels: Items / Item Actions / Item Qualities, NPC / Factions, [JSON]

#39322 Changes/adds post-apoc prices to the other half of the armor (part 2 of reworking all prices)
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/masks.json
  data/json/items/armor/misc.json
  data/json/items/armor/pets_dog_armor.json
  data/json/items/armor/pets_horse_armor.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
Labels: Items / Item Actions / Item Qualities, NPC / Factions, [JSON]

#39329 Adds post-apoc prices to all guns (part 3 of reworking all prices)
  data/json/items/gun/12mm.json
  data/json/items/gun/20x66mm.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/270win.json
  data/json/items/gun/300.json
  data/json/items/gun/3006.json
  data/json/items/gun/300BLK.json
  data/json/items/gun/308.json
  data/json/items/gun/32.json
  data/json/items/gun/357sig.json
  data/json/items/gun/36paper.json
  data/json/items/gun/38.json
  data/json/items/gun/380.json
  data/json/items/gun/38super.json
  data/json/items/gun/40.json
  data/json/items/gun/40x46mm.json
  data/json/items/gun/40x53mm.json
  data/json/items/gun/410shot.json
  data/json/items/gun/44.json
  data/json/items/gun/44paper.json
  data/json/items/gun/45.json
  data/json/items/gun/454.json
  data/json/items/gun/4570.json
  data/json/items/gun/45colt.json
  data/json/items/gun/46.json
  data/json/items/gun/460.json
  data/json/items/gun/50.json
  data/json/items/gun/500.json
  data/json/items/gun/545x39.json
  data/json/items/gun/57.json
  data/json/items/gun/5x50.json
  data/json/items/gun/66mm.json
  data/json/items/gun/700nx.json
  data/json/items/gun/762.json
  data/json/items/gun/762R.json
  data/json/items/gun/762x25.json
  data/json/items/gun/84x246mm.json
  data/json/items/gun/8x40mm.json
  data/json/items/gun/9mm.json
  data/json/items/gun/9x18.json
  data/json/items/gun/atgm.json
  data/json/items/gun/blunderbuss.json
  data/json/items/gun/chemical_spray.json
  data/json/items/gun/combination.json
  data/json/items/gun/flammable.json
  data/json/items/gun/flintlock.json
  data/json/items/gun/metal_rail.json
  data/json/items/gun/nail.json
  data/json/items/gun/paintball.json
  data/json/items/gun/shot.json
  data/json/items/gun/signal_flare.json
  data/json/items/gun/ups.json
Labels: Items / Item Actions / Item Qualities, NPC / Factions, [JSON]

#39331 Show number of variants for starting locations
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
  src/start_location.cpp
  src/start_location.h
Labels: <Bugfix>, [C++]

#39336 Adds post-apoc prices to all melee weapons (part 4 of reworking all prices)
  data/json/items/melee/bludgeons.json
  data/json/items/melee/knives_kitchen.json
  data/json/items/melee/misc.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/melee/unarmed_weapons.json
Labels: Items / Item Actions / Item Qualities, NPC / Factions, [JSON]

#39276 Update MONSTERS.md
  doc/MONSTERS.md
Labels: <Documentation>, [Markdown]

#39363 Fix typo
  build-scripts/get_all_mods.py
Labels: [Python]

#39372 fix opened cans
  src/savegame_json.cpp
Labels: <Bugfix>

#39367 Misc clang-tidy fixes
  src/newcharacter.cpp
  src/vehicle_move.cpp
Labels: Code: Build, [C++]

#39354 the finite gallon spilling jug
  src/player.cpp
Labels: <Bugfix>

#39360 Add option to enable batching when it is available in SDL
  src/options.cpp
  src/sdltiles.cpp
Labels: Code: Performance, SDL: Tiles / Sound, [C++]

#39386 fix full butchery
  src/activity_handlers.cpp
Labels: <Bugfix>

#39389 fix gunmods not being able to be removed
  src/player.cpp
Labels: <Bugfix>

#39381 Update Visual Studio builds and Appveyor
  .appveyor.yml
  doc/COMPILING/COMPILING-VS-VCPKG.md
  msvc-full-features/Cataclysm-App.vcxproj
  msvc-full-features/Cataclysm-Tests.vcxproj
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.sln
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg.sln
  msvc-full-features/Cataclysm-vcpkg.vcxproj
  msvc-full-features/Cataclysm.sln
  msvc-full-features/WINDEPEND.props
  src/char_validity_check.cpp
Labels: <Documentation>, Code: Build, Code: Tests, [C++], [Markdown]

#37329 Add assign reader for damage instances, deprecate legacy damage code
  data/json/items/gunmod/muzzle.json
  data/mods/Dark-Skies-Above/monsters/mongun.json
  src/assign.h
  src/creature.cpp
  src/damage.cpp
  src/damage.h
  src/dump.cpp
  src/game_inventory.cpp
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
  src/player.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Items / Item Actions / Item Qualities, [C++], [JSON]

#37910 migrate player_activity using item index to item_location
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/iexamine.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/player.cpp
  src/player_activity.cpp
  src/player_activity.h
  src/savegame.cpp
  src/savegame_json.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#39362 item: improve the calculation and display of DPS
  data/help/texts.json
  src/creature.cpp
  src/creature.h
  src/item.cpp
  src/item.h
  tests/iteminfo_test.cpp
  tests/player_helpers.cpp
Labels: Info / User Interface, Items / Item Actions / Item Qualities, [C++]

#39385 user defined height and age
  src/character.cpp
  src/character.h
  src/newcharacter.cpp
  src/options.cpp
  src/player_display.cpp
  src/savegame_json.cpp
Labels: Character / World Generation, Mechanics: Character / Player, [C++]

#39379 Add UrbDev house 5, 6 to mainline
  data/json/mapgen/house/urban_5_house.json
  data/json/mapgen/house/urban_6_house.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
  data/mods/Urban_Development/building_jsons/urban_5_house.json
  data/mods/Urban_Development/building_jsons/urban_6_house.json
  data/mods/Urban_Development/overmap_specials.json
  data/mods/Urban_Development/overmap_terrain.json
  data/mods/Urban_Development/regional_overlay.json
Labels: Map / Mapgen, [JSON]

#39395 Migrate auto note manager and bionics menu to ui_adaptor
  src/auto_note.cpp
  src/bionics_ui.cpp
  src/game.cpp
  src/game.h
  src/main.cpp
  src/ui_manager.cpp
  src/ui_manager.h
Labels: Info / User Interface, [C++]

#39374 Menu harmonisation / consistency -> crafting menu
  src/crafting_gui.cpp
Labels: Info / User Interface, [C++]

#39368 Menu harmonisation / consistency -> main menu + random character creation
  src/main_menu.cpp
  src/newcharacter.cpp
Labels: Info / User Interface, [C++]

#39351 Initial bare-bones implementation of achievements
  data/json/scores.json
  doc/JSON_INFO.md
  lang/extract_json_strings.py
  src/achievement.cpp
  src/achievement.h
  src/event_statistics.cpp
  src/event_statistics.h
  src/game.cpp
  src/game.h
  src/init.cpp
  src/json.h
  src/savegame.cpp
  src/stats_tracker.cpp
  src/stats_tracker.h
  tests/stats_tracker_test.cpp
Labels: <Documentation>, <Enhancement / Feature>, Code: Tests, [C++], [JSON], [Markdown]

#39352 Ventilation shafts to the -4 subway
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/mapgen/lab_subway_vent_shaft.json
  data/json/mapgen/microlab/microlab_connector.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_microlab.json
Labels: Map / Mapgen, [JSON]

#39408 Fix crash when opening action menu with guns in inventory
  src/item.cpp
  src/item_action.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#39405 Update string extraction script and fix computer translation
  lang/extract_json_strings.py
  src/computer.cpp
  src/mapgen.cpp
Labels: <Bugfix>, Translation, [C++], [Python]

#39400 Fix crash when refreshing new character menu while the filtered list is empty
  src/newcharacter.cpp
Labels: <Bugfix>, Info / User Interface, [C++]
