Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-05, with the labels that each got.

#39966 Reduced price of all lighters to a more reasonable value
  data/json/items/tool/fire.json
Labels: Items / Item Actions / Item Qualities, NPC / Factions

#40042 Blazemod Mini-PR: Completely remodel blazemod solar arrays
  data/mods/blazemod/items/vehicle/blaze_solar.json
  data/mods/blazemod/recipes/blaze_other_recipes.json
  data/mods/blazemod/vehicleparts/blaze_other_parts.json
Labels: Mods, Vehicles, [JSON]

#40055 Remove VIEW_OFFSET_X/Y
  src/editmap.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/input.cpp
  src/inventory_ui.cpp
  src/ncurses_def.cpp
  src/output.cpp
  src/output.h
  src/player_display.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#40040 Make event_source a polymorphic type
  src/event_statistics.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#40047 Fix data cleanup
  src/init.cpp
Labels: <Bugfix>, Mods, [C++], [JSON]

#40053 Declutter overmap terrain definitions (2020-05-01)
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/mods/Graphical_Overmap/go_overmap_terrain.json
Labels: Map / Mapgen, Mods, [JSON]

#40050 Blazemod Mini-PR: Move all fantastical content from blazemod offsite
  data/mods/blazemod/README.txt
  data/mods/blazemod/blaze_ammo_types.json
  data/mods/blazemod/blaze_migration.json
  data/mods/blazemod/blob_ammo_types.json
  data/mods/blazemod/blob_construction.json
  data/mods/blazemod/diamond_ammo_types.json
  data/mods/blazemod/items/ammo/blaze_ammo.json
  data/mods/blazemod/items/ammo/diamond_ammo.json
  data/mods/blazemod/items/ammo/vortex_ammo.json
  data/mods/blazemod/items/fuel.json
  data/mods/blazemod/items/guns/blaze_weapons.json
  data/mods/blazemod/items/guns/blob_turret.json
  data/mods/blazemod/items/guns/diamond_turret.json
  data/mods/blazemod/items/guns/vortex_turret.json
  data/mods/blazemod/items/tools/blob_container.json
  data/mods/blazemod/items/tools/blob_tools.json
  data/mods/blazemod/items/tools/diamond_tools.json
  data/mods/blazemod/items/tools/vortex_tools.json
  data/mods/blazemod/items/vehicle/blaze_magazines.json
  data/mods/blazemod/items/vehicle/blaze_other.json
  data/mods/blazemod/items/vehicle/blob_lights.json
  data/mods/blazemod/items/vehicle/blob_treads.json
  data/mods/blazemod/items/vehicle/blob_vehicleparts.json
  data/mods/blazemod/items/vehicle/blob_wheel.json
  data/mods/blazemod/items/vehicle/diamond_vehicleparts.json
  data/mods/blazemod/monsters/blob_monster.json
  data/mods/blazemod/recipes/blaze_ammo_recipes.json
  data/mods/blazemod/recipes/blaze_magazine_recipes.json
  data/mods/blazemod/recipes/blaze_other_recipes.json
  data/mods/blazemod/recipes/blaze_weapons_recipes.json
  data/mods/blazemod/recipes/blob_recipes.json
  data/mods/blazemod/recipes/diamond_recipes.json
  data/mods/blazemod/recipes/vortex_recipes.json
  data/mods/blazemod/requirements/blob.json
  data/mods/blazemod/snippets.json
  data/mods/blazemod/vehicleparts/blaze_custom_turret.json
  data/mods/blazemod/vehicleparts/blaze_other_parts.json
  data/mods/blazemod/vehicleparts/blaze_weapons_parts.json
  data/mods/blazemod/vehicleparts/blob_boards.json
  data/mods/blazemod/vehicleparts/blob_frames.json
  data/mods/blazemod/vehicleparts/blob_lights.json
  data/mods/blazemod/vehicleparts/blob_rams.json
  data/mods/blazemod/vehicleparts/blob_treads.json
  data/mods/blazemod/vehicleparts/blob_turret.json
  data/mods/blazemod/vehicleparts/blob_vehicleparts.json
  data/mods/blazemod/vehicleparts/blob_wheel.json
  data/mods/blazemod/vehicleparts/diamond_parts.json
  data/mods/blazemod/vehicleparts/diamond_turret.json
  data/mods/blazemod/vehicleparts/vortex_parts.json
  data/mods/blazemod/vehicleparts/vortex_turret.json
  data/mods/blazemod/vortex_ammo_types.json
Labels: Mods, Vehicles, [JSON]

#40044 Biodiesel in Gas Turbine Engines
  data/json/vehicleparts/combustion.json
Labels: Vehicles, [JSON]

#40069 Consolidate waking up code
  src/avatar.cpp
  src/character.cpp
  src/player_hardcoded_effects.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#40073 DPS test cleanup
  src/melee.cpp
  tests/effective_dps_test.cpp
  tests/player_helpers.cpp
Labels: Code: Tests, [C++]

#40071 Declutter overmap terrain definitions (2020-05-02)
  data/json/overmap/overmap_terrain/overmap_terrain_private_resort.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
  data/json/overmap/overmap_terrain/overmap_terrain_river.json
  data/json/overmap/overmap_terrain/overmap_terrain_robofachq.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
Labels: Map / Mapgen, [JSON]

#40077 Declutter overmap terrain definitions (2020-05-03)
  data/json/overmap/overmap_terrain/overmap_terrain_evac_center.json
  data/json/overmap/overmap_terrain/overmap_terrain_lab.json
  data/json/overmap/overmap_terrain/overmap_terrain_mansion.json
  data/json/overmap/overmap_terrain/overmap_terrain_mi-go.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
Labels: Map / Mapgen, [JSON]

#40074 Fix caramel ointment crafting
  src/game_inventory.cpp
Labels: <Bugfix>, Mods, [C++]

#40039 Migrate ACT_OPEN_GATE to the activity actor system
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/gates.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#40080 cleanup mall part 1
  data/json/mapgen/mall.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/mall/mall_roof.json
  data/json/mapgen/mall/mall_second_floor.json
  data/json/mapgen/mall/mall_upper_roof.json
  data/json/mapgen_palettes/mall_palette.json
Labels: Map / Mapgen, [JSON]

#40079 [magiclysm] buff glowing rocks
  data/mods/Magiclysm/furniture.json
  data/mods/Magiclysm/worldgen/regional_overlay.json
Labels: Mods: Magiclysm, [JSON]

#40084 Declutter overmap terrain definitions (2020-05-04)
  data/json/overmap/overmap_terrain/overmap_terrain_cemetery.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
Labels: Map / Mapgen, [JSON]

#40023 Minor uilist code clean-up
  src/advanced_inv.cpp
  src/editmap.cpp
  src/magic.cpp
  src/magic.h
  src/magic_teleporter_list.cpp
  src/martialarts.cpp
  src/overmap_ui.cpp
  src/ui.cpp
  src/ui.h
  src/wish.cpp
Labels: Info / User Interface, [C++]

#39785 Refactor aiming UI and its target selection / aim preservation
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/item.cpp
  src/item.h
  src/melee.cpp
  src/ranged.cpp
  src/ranged.h
  src/turret.cpp
Labels: Code: Astyle / Optimization / Static Analysis, Info / User Interface, [C++]

#39910 fix jp8 fuel for humvee-tow
  data/json/vehicles/military.json
Labels: <Bugfix>, Vehicles, [JSON]

#40098 Fix #39914 (Random error)
  src/item.cpp
Labels: <Bugfix>, [C++]

#40099 Call `item::remove_item` on appropriate object.
  src/item.cpp
Labels: <Bugfix>, [C++]

#37959 Extracts and Concentrates pt 6 (recipes)
  data/json/recipes/other/tool.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: Crafting / Construction / Recipes, [JSON]

#40100 Fix localized_comparator for macOS
  src/translations.cpp
Labels: Info / User Interface, OS: macOS

#40107 Update JSON_INHERITANCE.md
  doc/JSON_INHERITANCE.md
Labels: <Documentation>, [Markdown]

#40093 Final Blazemod PR: Finalise succession of modern Blaze Industries from blazemod
  data/mods/BlazeIndustries/README.txt
  data/mods/BlazeIndustries/items/vehicle/blaze_engine.json
  data/mods/BlazeIndustries/items/vehicle/blaze_other.json
  data/mods/BlazeIndustries/items/vehicle/blaze_solar.json
  data/mods/BlazeIndustries/modinfo.json
  data/mods/BlazeIndustries/recipes/blaze_other_recipes.json
  data/mods/BlazeIndustries/snippets.json
  data/mods/BlazeIndustries/vehicleparts/blaze_combustion.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
  data/mods/BlazeIndustries/vehicleparts/blaze_turrets_vanilla.json
  data/mods/blazemod/modinfo.json
Labels: Mods, Vehicles, [JSON]

#39924 Long pole changes.
  data/json/items/melee/spears_and_polearms.json
  data/json/items/resources/wood.json
  data/json/recipes/recipe_weapon.json
Labels: Melee

#40056 Scan for languages
  src/debug.cpp
  src/options.cpp
  src/options.h
  src/path_info.cpp
  src/path_info.h
Labels: Translation, [C++]

#39989 Add tea bags, herbal tea bags and adjust drinks recipes
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/other.json
  data/json/items/containers.json
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Items: Food / Vitamins

#39928 Improvised lockpicks recipe tweak
  data/json/items/tool/entry_tools.json
  data/json/items/tool/workshop.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Game: Balance

#39097 [Aftershock] Uplifted monsters and zombies
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/monsterdrops.json
  data/mods/Aftershock/mobs/monster_faction.json
  data/mods/Aftershock/mobs/monster_groups.json
  data/mods/Aftershock/mobs/species.json
  data/mods/Aftershock/mobs/uplifted_monsters.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/Aftershock/player/professions.json
Labels: Mods: Aftershock, Monsters, [JSON]

#39939 Add survival machete to ninjutsu weapons
  data/json/martialarts.json
Labels: Melee

#39992 Update throwing knives weight and size
  data/json/items/ranged/throwing.json
Labels: Ranged

#39978 Xl underwear and accessories Part 1
  data/json/items/armor/boots.json
  data/json/items/armor/undergarment.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/torso.json
Labels: Items / Item Actions / Item Qualities, Mutations / Traits / Professions

#40035 Slipping when climbing down may happen only on unstable terrain below
  src/iexamine.cpp
Labels: Fields / Furniture / Terrain / Traps, Game: Balance, Mechanics: Character / Player, Z-levels

#39940 Magic bionics
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/bionics.json
  data/mods/Magiclysm/items/spell_scrolls.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/bionics.h
  src/magic.cpp
  src/magic.h
Labels: Bionics, Mods: Magiclysm, [C++], [JSON]

#39857 Bionic fingerpick fix
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/items/tool/entry_tools.json
  doc/JSON_FLAGS.md
  src/activity_handlers.cpp
  src/bionics.cpp
  src/character.cpp
  src/iexamine.cpp
  src/iuse_actor.cpp
Labels: <Bugfix>, Bionics

#39994 Max stamina modifiers from mutations now affect stamina regen
  src/character.cpp
Labels: Game: Mechanics Change, Mechanics: Character / Player, Mutations / Traits / Professions

#40063 Replace random lab turrets with lab security
  data/json/mapgen/lab/lab_floorplan_cross.json
  data/json/mapgen/lab/lab_floorplans.json
  data/json/mapgen/lab/lab_rooms.json
  data/json/mapgen/lab/lab_rooms_wall.json
  data/json/monstergroups/lab.json
  src/mapgen.cpp
Labels: Game: Balance, Map / Mapgen, [JSON]

#40105 Declutter overmap terrain definitions (2020-05-05)
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/overmap/overmap_terrain/overmap_terrain_mall.json
  data/json/overmap/overmap_terrain/overmap_terrain_necropolis.json
  data/json/overmap/overmap_terrain/overmap_terrain_waterbody.json
Labels: Map / Mapgen, [JSON]

#40049 Add spurge seeds
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/spice.json
  data/json/mapgen/cs_gardening_allotment.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#40112 Update materials for bullet damage type
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/coats.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/torso_armor.json
  data/json/materials.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#40108 Consume menu fix
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: <Bugfix>, Info / User Interface

#40123 Fix crafting iteminfo test
  tests/iteminfo_test.cpp
Labels: Code: Tests, Crafting / Construction / Recipes, [C++]

#40094 Migrate inventory_ui.cpp and game_inventory.cpp to ui_adaptor
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: Code: Astyle / Optimization / Static Analysis, Info / User Interface, [C++]

#40131 HotFix macOS memory leak
  src/translations.cpp
Labels: <Bugfix>, OS: macOS

#38313 Cannibalism and demihumans
  data/json/flags.json
  data/json/harvest.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/protein.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/soup.json
  data/json/monsters/nether.json
  data/json/morale_types.json
  data/json/mutations/mutations.json
  data/json/recipes/other/containers.json
  data/json/recipes/recipe_food.json
  src/consumption.cpp
Labels: Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#39903 [CR] Falling into deep water deals less damage
  src/player.cpp
Labels: Game: Balance, Mechanics: Character / Player, [C++]

#40141 [DinoMod] Create dino egg recipes
  data/mods/DinoMod/recipe_food.json
Labels: Crafting / Construction / Recipes, Items: Food / Vitamins, Mods: Dinoclysm, [JSON]

#40021 Add survivor car to survivor camp
  data/json/mapgen/ws_survivor_camp.json
Labels: Map / Mapgen

#40033 Add survivor car and rv to fire tower
  data/json/mapgen/ws_fire_lookout_tower.json
Labels: Map / Mapgen, Spawn, [JSON]

#36838 Add FS2000(plus STANAG mag volume update)
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/items/gun/223.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/magazine/223.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/gunmods/gg_gunmods_blacklist.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#39907 Ask for confirmation on eating raw meat
  src/character.h
  src/consumption.cpp
  src/item.cpp
  tests/char_edible_rating_test.cpp
Labels: Info / User Interface, [C++]

#40060 Gun volume audit for .45-70
  data/json/items/gun/4570.json
Labels: Items / Item Actions / Item Qualities, Ranged

#39918 Fix attack of the tentacle dogs
  data/json/monsters/nether.json
  src/monattack.cpp
Labels: Monsters

#40087 Make ability to remove vehicle parts more obvious
  src/veh_interact.cpp
Labels: Vehicles

#40114 item inventory ui stacks items
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++]

#40116 Make laser weaponry deal 'Heat' type damage
  data/json/ammo_effects.json
  data/json/items/gun/bio.json
  data/json/items/gun/ups.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/Modular_Turrets/roboguns.json
Labels: Ranged

#40147 fix profession test
  data/json/items/armor/belts.json
  data/json/professions.json
  tests/new_character_test.cpp
Labels: <Bugfix>, Code: Tests, Mutations / Traits / Professions

#40151 Fix #40139
  data/json/items/armor/ammo_pouch.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#40161 implement damage over time spell infrastructure
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: Mods: Magiclysm, [C++]

#40162 Improve itype layout
  .clang-tidy
  src/itype.h
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#40150 Prune redundant inline statements.
  src/point.h
Labels: [C++]

#40167 [DinoMod] Spawn deinonychus in labs
  data/mods/DinoMod/dinosaur.json
Labels: Mods: Dinoclysm, Monsters, Spawn

#40189 Fix delivery mission
  data/json/npcs/missiondef.json
Labels: <Bugfix>, Missions

#40126 Add a can_resume_with function to activity_actor and migrate ACT_DIG and ACT_DIG_CHANNEL
  doc/PLAYER_ACTIVITY.md
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/character.cpp
  src/iuse.cpp
  src/player_activity.cpp
  src/player_activity.h
Labels: Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player, [C++]

#40191 Declutter overmap terrain definitions (2020-05-06)
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
  data/json/overmap/overmap_terrain/overmap_terrain_faction_base.json
Labels: Map / Mapgen, [JSON]

#40217 Fix river overmap terrains
  data/json/overmap/overmap_terrain/overmap_terrain_river.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#40219 Add pocket to drop leg pouch
  data/json/items/armor/storage.json
Labels: Items: Containers, [JSON]

#40143 add categorize toggle to inventory
  data/raw/keybindings.json
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: Info / User Interface, Inventory / AIM / Zones, [C++]

#40220 move two talk functions out of player
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
Labels: Code: Infrastructure / Style / Static Analysis

#40182 Tweak rifle aim cap to bring quickdraw test back in line
  src/character.cpp
Labels: (P2 - High), Code: Tests, Ranged

#40214 implement pocket max item size
  data/json/items/containers.json
  src/item_pocket.cpp
  src/item_pocket.h
Labels: <Enhancement / Feature>, Items: Containers, [C++]

#40259 Fix negative ammo in quivers
  src/item_pocket.cpp
  src/pickup.cpp
Labels: <Bugfix>, Items: Magazines

#40260 move item contents info to bottom of iteminfo screen
  src/item.cpp
Labels: Info / User Interface, Quality of Life

#40085 6 new cereals and 2 new MREs
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/cereal.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/mre.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/wheat.json
  data/json/recipes/recipe_deconstruction_package.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  data/json/speech.json
Labels: Items / Item Actions / Item Qualities, Items: Food / Vitamins, [JSON]

#40264 Fix multiple assignments in generic magazines
  data/mods/Generic_Guns/magazines/pistol.json
  data/mods/Generic_Guns/magazines/pistol_magnum.json
  data/mods/Generic_Guns/magazines/pistol_tiny.json
  data/mods/Generic_Guns/magazines/rifle.json
  data/mods/Generic_Guns/magazines/rifle_huge.json
  data/mods/Generic_Guns/magazines/shot.json
Labels: <Bugfix>, Items: Magazines, Mods: Generic Guns, [JSON]

#40245 Silence erroneous lgtm alert by making a dead throw correct
  src/units.h
Labels: Code: Infrastructure / Style / Static Analysis

#40221 Fix target UI regressions caused by #39785
  src/game.h
  src/ranged.cpp
Labels: <Bugfix>, Mods: Magiclysm, Ranged

#40194 Avoid revealing hidden tiles when selecting automove destination on CURSES
  src/animation.cpp
  src/game.cpp
  src/game.h
Labels: <Bugfix>, <Exploit>, Info / User Interface

#40062 Perform localized comparison on Windows via wstring
  src/translations.cpp
  src/translations.h
  tests/catacharset_test.cpp
Labels: Info / User Interface, OS: Windows, Translation, [C++]

#39993 Masochist mutation tree rework
  src/avatar.cpp
  src/morale.cpp
  src/morale.h
  tests/morale_test.cpp
Labels: Mechanics: Character / Player, Mechanics: Effects / Skills / Stats, Mutations / Traits / Professions

#40287 Flu vaccine lasts 6 months instead of forever
  src/iuse.cpp
Labels: <Bugfix>, Mechanics: Effects / Skills / Stats

#40286 adjust better pocket formula to prefer non watertight containers
  src/item_pocket.cpp
Labels: Items: Containers, Quality of Life

#40285 allow consume menu to look in containers
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: <Bugfix>, Info / User Interface

#37377 Lots more books
  data/json/itemgroups/SUS/library.json
  data/json/itemgroups/books.json
  data/json/items/book/abstract.json
  data/json/items/book/archery.json
  data/json/items/book/cooking.json
  data/json/items/book/dodge.json
  data/json/items/book/mechanics.json
  data/json/items/book/misc.json
  data/json/items/book/nonfiction.json
  data/json/items/book/speech.json
  data/json/items/book/spiritual.json
  data/json/items/book/young.json
  data/json/items/classes/book.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#40277 Reformat MAGIC.md for improved readability
  doc/MAGIC.md
Labels: <Documentation>, [Markdown]

#40302 Fix typo causing thief mode bug
  src/activity_actor.cpp
Labels: <Bugfix>, Mechanics: Character / Player, [C++]

#40291 Enforce localized sorting 3
  src/cata_variant.h
  src/crafting_gui.cpp
  src/dump.cpp
  src/flat_set.h
  src/newcharacter.cpp
  src/scores_ui.cpp
  tools/clang-tidy-plugin/UseLocalizedSortingCheck.cpp
  tools/clang-tidy-plugin/UsePointArithmeticCheck.cpp
  tools/clang-tidy-plugin/test/use-localized-sorting.cpp
Labels: Translation

#40309 fix typo in containers documentation
  doc/JSON_INFO.md
Labels: <Bugfix>, <Documentation>, [Markdown]

#40301 Remove obsolete no_x mods
  build-scripts/mod_test_blacklist
  data/mods/No_Acid_Zombies/modinfo.json
  data/mods/No_Anthills/modinfo.json
  data/mods/No_Beehives/modinfo.json
  data/mods/No_Big_Zombies/modinfo.json
  data/mods/No_Explosive_Zombies/modinfo.json
  data/mods/No_Filthy_Clothes/modinfo.json
  data/mods/No_Flaming_Weapons/modinfo.json
  data/mods/No_Medieval_Items/modinfo.json
  data/mods/No_Mutagen/modinfo.json
  data/mods/No_Old_guns/modinfo.json
  data/mods/No_Religious_Books/modinfo.json
  data/mods/No_Reviving/modinfo.json
  data/mods/No_Rivtech_Guns/modinfo.json
  data/mods/No_Survivor_Armor/modinfo.json
  data/mods/No_Survivor_Armor/survivor.json
  data/mods/no_scifi/modinfo.json
  data/mods/novitamins/modinfo.json
Labels: Mods, [JSON]

#40292 Using the debug menu disables achievements
  src/achievement.cpp
  src/achievement.h
  src/debug_menu.cpp
  src/game.cpp
  src/game.h
  src/scores_ui.cpp
  tests/stats_tracker_test.cpp
Labels: <Enhancement / Feature>, Info / User Interface

#40298 Remove obsolete zombie grenadier
  data/json/monsterdrops/zombie.json
  data/json/monsters/zed_explosive.json
  src/mondeath.cpp
  src/mondeath.h
  src/monstergenerator.cpp
Labels: Monsters, [C++], [JSON]

#40280 Churls have proper medieval daggers
  data/json/professions.json
Labels: Mechanics: Character / Player

#40314 Fix iteminfo tests and refactor pocket display
  src/item.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/iteminfo_query.h
  tests/iteminfo_test.cpp
Labels: Code: Tests, Items: Containers, [C++]

#40316 add new tea item_groups
  data/json/itemgroups/food_service.json
  data/json/mapgen/teashop.json
Labels: Items: Food / Vitamins, Spawn, [JSON]

#38084 Make compose.py's exit code 1 if an error was logged
  tools/gfx_tools/compose.py
Labels: (P5 - Long-term), Organization, SDL: Tiles / Sound, [Python]

#40253 Add previously missing json-loading of desc_freq in music instruments
  src/iuse_actor.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#40138 Move more body_part to bodypart_id
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/item.cpp
  src/melee.cpp
  src/monster.cpp
  src/monster.h
  src/weather.cpp
Labels: Mechanics: Character / Player, Mechanics: Temperature

#40155 Move bionic_data to generic_factory
  data/json/obsolete.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
  src/game_inventory.cpp
  src/handle_action.cpp
  src/init.cpp
  src/newcharacter.cpp
  src/player.cpp
  tests/player_helpers.cpp
Labels: Bionics, Code: Infrastructure / Style / Static Analysis

#40198 When aiming, draw approximate lines of fire for each turret in range
  data/raw/keybindings.json
  src/ranged.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#40325 Remove dead mods: Fold parts, craft guns, EW pack
  data/mods/Craft_Gunpowder/cgp_recipes.json
  data/mods/Craft_Gunpowder/modinfo.json
  data/mods/DeoxyMod/Deoxy_vehicle_parts.json
  data/mods/DeoxyMod/modinfo.json
  data/mods/EW_Pack/ew_ammo.json
  data/mods/EW_Pack/ew_ammo_handloaded.json
  data/mods/EW_Pack/ew_ammo_t.json
  data/mods/EW_Pack/ew_books.json
  data/mods/EW_Pack/ew_bullet_pulling.json
  data/mods/EW_Pack/ew_item_groups.json
  data/mods/EW_Pack/ew_magazines.json
  data/mods/EW_Pack/ew_recipes.json
  data/mods/EW_Pack/ew_weapons.json
  data/mods/EW_Pack/modinfo.json
  data/mods/EW_Pack/obsolete.json
Labels: Mods, Organization, [JSON]

#40326 Remove dead mods: Fictional weapons and grow pots
  data/mods/FictonalWeapons/fic_item_groups.json
  data/mods/FictonalWeapons/fic_mods.json
  data/mods/FictonalWeapons/fic_recipes.json
  data/mods/FictonalWeapons/fic_weapons.json
  data/mods/FictonalWeapons/ficmags.json
  data/mods/FictonalWeapons/modinfo.json
  data/mods/FictonalWeapons/snippets.json
  data/mods/Growable_pots/items.json
  data/mods/Growable_pots/modinfo.json
  data/mods/Growable_pots/recipes.json
Labels: Mods, Organization, [JSON]

#40327 Remove dead mods: Heavy miners and shields/classes
  data/mods/HeavyMining/modinfo.json
  data/mods/HeavyMining/parts.json
  data/mods/HeavyMining/vehicle_groups.json
  data/mods/HeavyMining/vehicles.json
  data/mods/Medieval_Stuff/ammo_types.json
  data/mods/Medieval_Stuff/handloaded_bullets.json
  data/mods/Medieval_Stuff/item_groups.json
  data/mods/Medieval_Stuff/modinfo.json
  data/mods/Medieval_Stuff/professions.json
  data/mods/Medieval_Stuff/ranged.json
  data/mods/Medieval_Stuff/recipe_ammo.json
  data/mods/Medieval_Stuff/recipe_shields.json
  data/mods/Medieval_Stuff/recipe_weapon.json
  data/mods/Medieval_Stuff/shields.json
  data/mods/Medieval_Stuff/tools.json
Labels: Mods, Organization, [JSON]

#40329 Remove dead mods: More survival tools & hydroponics
  data/mods/Hydroponics/construction.json
  data/mods/Hydroponics/furniture.json
  data/mods/Hydroponics/game_balance.json
  data/mods/Hydroponics/item_groups.json
  data/mods/Hydroponics/mapgen/basement_hydrop.json
  data/mods/Hydroponics/mapgen/lab_floorplans_1side.json
  data/mods/Hydroponics/mapgen/lab_rooms.json
  data/mods/Hydroponics/modinfo.json
  data/mods/Hydroponics/requirements.json
  data/mods/Hydroponics/terrain.json
  data/mods/Hydroponics/tpalletes.json
  data/mods/More_Survival_Tools/ammo.json
  data/mods/More_Survival_Tools/ammo_types.json
  data/mods/More_Survival_Tools/armor.json
  data/mods/More_Survival_Tools/effects.json
  data/mods/More_Survival_Tools/item_groups.json
  data/mods/More_Survival_Tools/items.json
  data/mods/More_Survival_Tools/modinfo.json
  data/mods/More_Survival_Tools/obsolete.json
  data/mods/More_Survival_Tools/professions.json
  data/mods/More_Survival_Tools/recipes.json
  data/mods/More_Survival_Tools/scenarios.json
  data/mods/More_Survival_Tools/snippets.json
  data/mods/More_Survival_Tools/start_locations.json
  data/mods/More_Survival_Tools/traps.json
Labels: Mods, Organization, [JSON]

#40330 Remove dead mods: Modular turrets
  data/mods/Modular_Turrets/blacklist.json
  data/mods/Modular_Turrets/corpses.json
  data/mods/Modular_Turrets/emit.json
  data/mods/Modular_Turrets/furniture.json
  data/mods/Modular_Turrets/item_groups.json
  data/mods/Modular_Turrets/items.json
  data/mods/Modular_Turrets/modinfo.json
  data/mods/Modular_Turrets/monster.json
  data/mods/Modular_Turrets/monster_attacks.json
  data/mods/Modular_Turrets/monster_drops.json
  data/mods/Modular_Turrets/monster_override.json
  data/mods/Modular_Turrets/monstergroups.json
  data/mods/Modular_Turrets/recipe.json
  data/mods/Modular_Turrets/roboguns.json
  data/mods/Modular_Turrets/uncraft.json
  data/mods/Modular_Turrets/uncraft_corpse.json
Labels: Mods, Organization, [JSON]

#40288 Block bound inventory keys from auto assignment
  src/input.h
  src/inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: Info / User Interface

#40323 Eat crash hotfix
  src/activity_actor.cpp
Labels: <Bugfix>, <Crash / Freeze>

#40313 Fix helicopter rotor collides at twice the rotor diameter
  src/vehicle_move.cpp
Labels: <Bugfix>, Vehicles, [C++]

#40226 More itype refactoring - islot_book, islot_armor, islot_pet_armor
  data/json/items/tool_armor.json
  src/item_factory.cpp
  src/item_factory.h
  src/itype.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#40335 Remove dead mods: Tolerate This
  data/mods/Tolerate_This/comestibles.json
  data/mods/Tolerate_This/cooking_components.json
  data/mods/Tolerate_This/modinfo.json
  data/mods/Tolerate_This/recipe_food.json
Labels: Mods, Organization, [JSON]

#40337 Remove dead mods: More classes scenarios
  data/mods/more_classes_scenarios/cs_classes.json
  data/mods/more_classes_scenarios/cs_scenarios.json
  data/mods/more_classes_scenarios/cs_start_locations.json
  data/mods/more_classes_scenarios/modinfo.json
Labels: Mods, Organization, [JSON]

#40296 Fix map_cursor containing local coordinates
  src/activity_item_handling.cpp
  src/map_selector.cpp
  src/map_selector.h
Labels: <Bugfix>, [C++]

#33556 CRIT Expansion Update
  data/mods/CRT_EXPANSION/constructions/crt_constructions.json
  data/mods/CRT_EXPANSION/constructions/crt_terrain.json
  data/mods/CRT_EXPANSION/deadspace/deadspaceitems.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  data/mods/CRT_EXPANSION/items/crt_makeshift_survival.json
  data/mods/CRT_EXPANSION/items/crt_recipes.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/CRT_EXPANSION/martial/CRT_Bladework.json
  data/mods/CRT_EXPANSION/martial/CRT_EnforcementBuff.json
  data/mods/CRT_EXPANSION/martial/CRT_MeleeBuffs.json
  data/mods/CRT_EXPANSION/martial/dragonslayertechn.json
  data/mods/CRT_EXPANSION/martial/generaltechn.json
  data/mods/CRT_EXPANSION/martial/stabtechn.json
  data/mods/CRT_EXPANSION/modinfo.json
  data/mods/CRT_EXPANSION/monsters/crt_monstergroups.json
  data/mods/CRT_EXPANSION/monsters/monster.json
  data/mods/CRT_EXPANSION/mutations/crt_vamp_mutations.json
  data/mods/CRT_EXPANSION/mutations/crt_wendigo_mutations.json
  data/mods/CRT_EXPANSION/readme/README.md
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
Labels: (P5 - Long-term), Mods, [JSON]

#40355 Remove AFS pointless plut_cell & battery overrides
  data/mods/Aftershock/items/item_overrides.json
Labels: Mods: Aftershock, [JSON]

#40304 Replace hardcoded water terrain checks with flags
  data/json/furniture_and_terrain/terrain-liquids.json
  doc/JSON_FLAGS.md
  src/advanced_inv_area.cpp
  src/character.cpp
  src/construction.cpp
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/sounds.cpp
Labels: Fields / Furniture / Terrain / Traps, [C++], [JSON]

#40236 Compact aim window pt.2 - Numbers
  src/output.cpp
  src/output.h
  src/ranged.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#40333 Remove dead mods: Salvaged Robots
  data/mods/Salvaged_Robots/corpses.json
  data/mods/Salvaged_Robots/emit.json
  data/mods/Salvaged_Robots/harvest.json
  data/mods/Salvaged_Robots/item_groups.json
  data/mods/Salvaged_Robots/items.json
  data/mods/Salvaged_Robots/modinfo.json
  data/mods/Salvaged_Robots/monster_attacks.json
  data/mods/Salvaged_Robots/monster_drops.json
  data/mods/Salvaged_Robots/monstergroups.json
  data/mods/Salvaged_Robots/monsters.json
  data/mods/Salvaged_Robots/recipe.json
  data/mods/Salvaged_Robots/roboguns.json
  data/mods/Salvaged_Robots/robot_additions/40mm.json
  data/mods/Salvaged_Robots/robot_additions/item_groups.json
  data/mods/Salvaged_Robots/robot_additions/items.json
  data/mods/Salvaged_Robots/robot_additions/overmap_special.json
  data/mods/Salvaged_Robots/robot_additions/overmap_terrain.json
  data/mods/Salvaged_Robots/robot_additions/paintball.json
  data/mods/Salvaged_Robots/robot_additions/professions.json
  data/mods/Salvaged_Robots/robot_additions/readme.txt
  data/mods/Salvaged_Robots/robot_additions/robot_dispatch/dispatch_first_01.json
  data/mods/Salvaged_Robots/robot_additions/robot_dispatch/dispatch_second_01.json
  data/mods/Salvaged_Robots/robot_additions/scenarios.json
  data/mods/Salvaged_Robots/robot_additions/start_locations.json
  data/mods/Salvaged_Robots/robot_additions/tpalettes.json
  data/mods/Salvaged_Robots/robot_additions/vehicle_groups.json
  data/mods/Salvaged_Robots/robot_additions/vehicle_parts.json
  data/mods/Salvaged_Robots/robot_additions/vehicles.json
  data/mods/Salvaged_Robots/speech.json
  data/mods/Salvaged_Robots/uncraft.json
  data/mods/Salvaged_Robots/uncraft_corpse.json
Labels: Mods, Organization, [JSON]

#40334 Remove dead mods: Tankmod
  data/mods/Tanks/ammo_types.json
  data/mods/Tanks/item_groups.json
  data/mods/Tanks/items.json
  data/mods/Tanks/modinfo.json
  data/mods/Tanks/monster_drops.json
  data/mods/Tanks/monsters.json
  data/mods/Tanks/parts.json
  data/mods/Tanks/recipes.json
  data/mods/Tanks/snippets.json
  data/mods/Tanks/treads.json
  data/mods/Tanks/vehicle_groups.json
  data/mods/Tanks/vehicles.json
Labels: Mods, Organization, [JSON]

#40350 Add estoc to fencing weapons
  data/json/martialarts.json
Labels: Melee, [JSON]

#40332 Remove several obsolete mods
  .travis.yml
  data/mods/Mundane_Zombies/modinfo.json
  data/mods/Mundane_Zombies/z2keep.txt
  data/mods/NW_Pack/modinfo.json
  data/mods/NW_Pack/nw_archery.json
  data/mods/NW_Pack/nw_books.json
  data/mods/NW_Pack/nw_item_groups.json
  data/mods/NW_Pack/nw_martialarts.json
  data/mods/NW_Pack/nw_melee.json
  data/mods/NW_Pack/nw_recipes.json
  data/mods/RL_Classes/classes.json
  data/mods/RL_Classes/modinfo.json
  data/mods/Sleep_Deprivation/modinfo.json
  data/mods/Zombie_Nightvision/modinfo.json
  data/mods/fast_healing/effects.json
  data/mods/fast_healing/meds.json
  data/mods/fast_healing/modinfo.json
  data/mods/fast_healing/recipes.json
  data/mods/makeshift/item.json
  data/mods/makeshift/item_groups.json
  data/mods/makeshift/modinfo.json
  data/mods/makeshift/recipe.json
  data/mods/necromancy/modinfo.json
  data/mods/necromancy/necronimicron.json
Labels: Mods, Organization, [JSON]

#40346 Add resizing callbacks to uilist
  src/advanced_inv.cpp
  src/color.cpp
  src/debug_menu.cpp
  src/editmap.cpp
  src/game.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic.cpp
  src/magic_teleporter_list.cpp
  src/npctalk_funcs.cpp
  src/player.cpp
  src/string_input_popup.cpp
  src/turret.cpp
  src/ui.cpp
  src/ui.h
  src/ui_manager.cpp
  src/ui_manager.h
  src/vehicle_use.cpp
  src/wish.cpp
Labels: Info / User Interface, [C++]

#40381 Reset loaded monster adjustments.
  src/init.cpp
  src/monstergenerator.cpp
  src/monstergenerator.h
Labels: <Bugfix>, Mods, Monsters, [C++]

#40367 Hats for Retrodays+
  gfx/RetroDays+Tileset/hats_female.png
  gfx/RetroDays+Tileset/hats_male.png
  gfx/RetroDays+Tileset/tile_config.json
Labels: SDL: Tiles / Sound

#39547 Added bell pepper
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/recipe_food.json
Labels: Items: Food / Vitamins

#40338 Update mod test blacklist for removed mods
  build-scripts/mod_test_blacklist
Labels: Mods, Organization, [JSON]

#40383 Fix for player being unable to use most vehicle mounted tools in crafting
  src/inventory.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#40295 Add pocket data to all magazines
  data/json/items/battery.json
  data/json/items/magazine/12mm.json
  data/json/items/magazine/20x60mm.json
  data/json/items/magazine/22.json
  data/json/items/magazine/223.json
  data/json/items/magazine/300.json
  data/json/items/magazine/3006.json
  data/json/items/magazine/308.json
  data/json/items/magazine/32.json
  data/json/items/magazine/357sig.json
  data/json/items/magazine/38.json
  data/json/items/magazine/380.json
  data/json/items/magazine/38super.json
  data/json/items/magazine/40.json
  data/json/items/magazine/40mm.json
  data/json/items/magazine/410shot.json
  data/json/items/magazine/44.json
  data/json/items/magazine/45.json
  data/json/items/magazine/454.json
  data/json/items/magazine/46.json
  data/json/items/magazine/460.json
  data/json/items/magazine/50.json
  data/json/items/magazine/500.json
  data/json/items/magazine/545x39.json
  data/json/items/magazine/57.json
  data/json/items/magazine/5x50.json
  data/json/items/magazine/66mm.json
  data/json/items/magazine/762.json
  data/json/items/magazine/762R.json
  data/json/items/magazine/762x25.json
  data/json/items/magazine/8x40mm.json
  data/json/items/magazine/9mm.json
  data/json/items/magazine/9x18.json
  data/json/items/magazine/chemical_spray.json
  data/json/items/magazine/liquid.json
  data/json/items/magazine/shot.json
  data/json/items/magazine/weldgas.json
  data/json/items/obsolete.json
  data/json/items/vehicle/battery.json
  data/json/items/vehicle/fuel_storage.json
  data/mods/Generic_Guns/magazines/grenade.json
  data/mods/Generic_Guns/magazines/rifle.json
  data/mods/Generic_Guns/magazines/rifle_huge.json
  data/mods/Generic_Guns/magazines/shot.json
  data/mods/Magiclysm/items/mana_crystals.json
  tools/json_tools/pocket_mags.py
Labels: Items: Magazines, [JSON], [Python]

#40398 Retrodays+ hats offset fix
  gfx/RetroDays+Tileset/hats_female.png
  gfx/RetroDays+Tileset/hats_male.png
  gfx/RetroDays+Tileset/tile_config.json
Labels: SDL: Tiles / Sound

#40391 mall cleanup part 3
  data/json/mapgen/mall/mall_roof.json
  data/json/mapgen/mall/mall_second_floor.json
  data/json/mapgen_palettes/mall_palette.json
Labels: Map / Mapgen, [JSON]

#39425 Squirrels & rats flee in zigzag pattern
  data/json/monsters/mammal.json
Labels: Monsters

#40328 Add test spells (json) and spell tests (cpp)
  data/mods/TEST_DATA/magic.json
  src/magic.cpp
  tests/magic_spell_test.cpp
Labels: Code: Tests, Mods: Magiclysm

#40420 Give musician a messenger bag and some plectra
  data/json/items/generic/music.json
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#36645 Tweaked zombie soldier, cop and survivor drop lists
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_default.json
  data/json/monsterdrops/zombie_soldier.json
  data/json/monsterdrops/zombie_survivor.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, Monsters, Spawn, [JSON]

#40271 adjust insert menu to support multiple items
  src/game.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item_contents.cpp
  src/iuse_actor.cpp
Labels: Info / User Interface, Items: Containers, Quality of Life, [C++]

#40144 Move more body_part to bodypart_id in Character part1
  data/json/bionics.json
  data/json/obsolete.json
  data/mods/Aftershock/player/bionics.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/Magiclysm/bionics.json
  data/mods/Magiclysm/items/bionics.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
  src/activity_handlers.cpp
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
  src/character.h
  src/melee.cpp
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/panels.cpp
  src/player.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player

#40177 Finish making consume take time
  data/json/mutations/mutations.json
  doc/JSON_INFO.md
  src/activity_actor.cpp
  src/activity_actor.h
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/game_inventory.cpp
  src/mutation.h
  src/mutation_data.cpp
  tests/crafting_test.cpp
Labels: Items: Food / Vitamins, Mechanics: Character / Player

#40371 Convert islot_seed to generic_factory
  src/item_factory.cpp
  src/item_factory.h
  src/itype.h
Labels: Code: Infrastructure / Style / Static Analysis

#40387 Reduce calorie message spam to once every 12 hours
  src/character.cpp
Labels: Info / User Interface, [C++]

#40401 Extracts and concentrates item groups
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/SUS/library.json
  data/json/itemgroups/books.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/science_and_tech.json
Labels: Spawn, [JSON]

#40418 Autolearn Tailor's Kit
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, [JSON]

#37399 Allow ammunition to burn and make small explosions with loud sounds
  src/item.cpp
Labels: [C++]

#40186 Item length
  data/json/items/armor/storage.json
  data/json/items/melee/bludgeons.json
  src/assign.h
  src/cata_utility.cpp
  src/cata_utility.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/item_pocket.cpp
  src/item_pocket.h
  src/iteminfo_query.h
  src/itype.cpp
  src/itype.h
  src/units.cpp
  src/units.h
Labels: Items: Containers, [C++], [JSON]

#40263 Gun volume audit for 7.62x39
  data/json/items/gun/762.json
  data/json/items/gunmod/underbarrel.json
Labels: Items / Item Actions / Item Qualities, Ranged

#40402 More complex satiety calculations
  src/consumption.cpp
  tests/stomach_contents_test.cpp
Labels: Items: Food / Vitamins, Mechanics: Character / Player, [C++]

#40414 fertilizer recipe balance fix
  data/json/recipes/recipe_medsandchemicals.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#40351 rework herbivore mutation chain
  data/json/mutations/mutations.json
Labels: Mutations / Traits / Professions, [JSON]

#40429 Stacking fixes
  src/inventory_ui.cpp
  src/item_contents.cpp
  src/item_pocket.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#40415 add bandits and thugs to regional dump variant
  data/json/mapgen/ws_biker_dump.json
  data/json/overmap/overmap_special/specials.json
Labels: Map / Mapgen, [JSON]

#40250 "Zombie kill station" map extra
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/generic.json
  data/json/monsters/turrets.json
  data/json/overmap/map_extras.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/regional_map_settings.json
  data/json/snippets/snippets.json
  src/map_extras.cpp
  src/monattack.cpp
  src/monattack.h
  src/monstergenerator.cpp
  src/trapfunc.cpp
Labels: <Enhancement / Feature>, Map / Mapgen, Monsters, Spawn
