Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2020-03, with the labels that each got.

#38447 Trim more includes
  src/activity_handlers.cpp
  src/advanced_inv.h
  src/advanced_inv_area.cpp
  src/advanced_inv_area.h
  src/advanced_inv_listitem.h
  src/advanced_inv_pane.cpp
  src/advanced_inv_pane.h
  src/ammo_effect.h
  src/auto_pickup.h
  src/avatar.h
  src/ballistics.h
  src/bionics.cpp
  src/cata_algo.h
  src/game_constants.h
  src/item.cpp
  src/monattack.cpp
  src/mondefense.cpp
Labels: Crafting / Construction / Recipes, [JSON]

#38476 Fix crash when non-food item becomes the target of heating activity
  src/activity_handlers.cpp
Labels: <Bugfix>, [C++]

#38478 Fix null value and integer handling of json formatter
  tools/format/format.cpp
Labels: <Bugfix>, [C++]

#38481 Various micro optimizations to accelerate starvation tests
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/mutation.cpp
  src/player.cpp
  src/player.h
  src/savegame_json.cpp
  src/skill.cpp
Labels: Code: Performance, Code: Tests, [C++]

#38485 Add missing sound metadata to booby traps and landmines
  data/json/traps.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#38224 Add stats block for 0.E to the changelog
  data/changelog.txt
Labels: <Documentation>, Organization

#38491 container name to object, volume to string
  data/json/items/containers.json
  data/json/items/tool/container.json
Labels: [JSON]

#37813 Clean some bionic activation code
  src/bionics.cpp
Labels: Bionics, Code: Astyle / Optimization / Static Analysis, [C++]

#37895 Can specify delay in emit_fields for monsters
  data/json/monsters/fungus.json
  data/json/monsters/nether.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_misc.json
  data/mods/CrazyCataclysm/crazy_monsters.json
  data/mods/Magiclysm/monsters/dragon.json
  data/mods/Modular_Turrets/monster_override.json
  data/mods/My_Sweet_Cataclysm/sweet_monsters.json
  data/mods/Salvaged_Robots/monsters.json
  doc/MONSTERS.md
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: Fields / Furniture / Terrain / Traps, Monsters, [C++], [JSON]

#37965 Fix cow milking from cows from old saves with old milk not raw milk.
  src/activity_handlers.cpp
  src/game.cpp
  src/monexamine.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/savegame_json.cpp
Labels: <Bugfix>, Monsters, [C++]

#38244 Use stairs above or below when they exist
  src/game.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Map / Mapgen, Z-levels, [C++]

#38254 💸npctrade💸: Sort trade results by category and name.
  src/npctrade.cpp
Labels: <Enhancement / Feature>, Info / User Interface, NPC / Factions, [C++]

#38258 💸npctrade💸: constify variables and arguments
  src/npctrade.cpp
  src/npctrade.h
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#38284 Add tests for reading books
  tests/reading_test.cpp
Labels: Code: Tests, [C++]

#38295 Warn the user in the crafting menu when canning rotten ingredients
  src/item.cpp
  src/item.h
  src/recipe.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Info / User Interface, [C++]

#38311 create AEP down effects in json
  data/json/legacy_artifact_passive.json
Labels: Artifacts, [JSON]

#38312 Deadened hide health even when using bandages
  src/character.cpp
Labels: <Bugfix>, Info / User Interface, Mutations / Traits / Professions, [C++]

#38381 Vehicle Hotkey Fix
  src/veh_interact.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles, [C++]

#38424 Add Portuguese (Brazil) to language selection menu
  src/options.cpp
Labels: Translation, [C++]

#38425 Possible fix for Back button issue
  android/app/src/main/java/org/libsdl/app/SDLActivity.java
Labels: <Bugfix>, OS: Android

#38446 EMP bombs no longer radically change mass when armed. 💣
  data/json/items/tool/explosives.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#38492 Tool name to object, volume to string
  data/json/items/corpses/inactive_bots.json
  data/json/items/tool/entry_tools.json
Labels: [JSON]

#38506 Generic name to object, volume to string and add volume
  data/json/items/chemicals_and_resources.json
  data/json/items/corpses/corpses.json
  data/json/items/generic.json
  data/json/items/generic/bathroom_house.json
  data/json/items/generic/spares.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/ranged/throwing.json
  data/json/items/tool/landscaping.json
  data/json/items/vehicle/controls.json
  data/json/items/vehicle/lights.json
  data/json/items/vehicle/motors.json
  data/json/items/vehicle/utilities.json
Labels: [JSON]

#38507 Bionic item name to object
  data/json/items/bionics.json
Labels: [JSON]

#38509 Gunmod modern json
  data/json/items/gunmod/loading_port.json
  data/json/items/gunmod/mechanism.json
  data/json/items/gunmod/mount.json
  data/json/items/gunmod/muzzle.json
  data/json/items/gunmod/sights.json
Labels: [JSON]

#38512 Armor name to object
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/masks.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
Labels: [JSON]

#38508 Add documentation link to astyle usage outside vi
  doc/CODE_STYLE.md
Labels: <Documentation>, [Markdown]

#38503 Stop crashing when NPC picks up item in fetching activity
  src/activity_item_handling.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#38504 Fix tidy-up activity not working for NPCs
  src/activity_item_handling.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#38499 Tell player why they can't wield the in progress craft
  src/iuse.cpp
  src/player.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Info / User Interface, [C++]

#38464 More Item Group Folders
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/itemgroups/Agriculture_Forage_Excavation/forage.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/Food/irradiated.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
Labels: [JSON]

#38482 Made can't-fire-gun messages more consistent
  src/avatar_action.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#37241 Rebalance archery take... 5?
  data/json/items/gunmod/rail.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/monsters/bird.json
  doc/GAME_BALANCE.md
  src/creature.cpp
  tests/archery_damage_test.cpp
  tests/iteminfo_test.cpp
  tests/throwing_test.cpp
Labels: <Bugfix>, <Documentation>, Code: Tests, Game: Balance, Ranged, [C++], [JSON], [Markdown]

#38531 Generic name to object, volume to string, flags to array
  data/json/items/electronics.json
  data/json/items/fake.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/ranged/archery.json
  data/json/items/tool/cooking.json
  data/json/items/vehicle/frames.json
  data/json/items/vehicle/tables.json
Labels: [JSON]

#38532 pet_armor name to object
  data/json/items/armor/pets_dog_armor.json
  data/json/items/armor/pets_horse_armor.json
Labels: [JSON]

#38533 Tool name to object, volume to string and flags to array
  data/json/items/fake.json
  data/json/items/items_holiday.json
  data/json/items/melee/misc.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool/explosives.json
  data/json/items/tool/fire.json
  data/json/items/tool/firefighting.json
  data/json/items/tool/handloading.json
  data/json/items/tool/lighting.json
  data/json/items/tool/med.json
  data/json/items/tool/misc.json
  data/json/items/tool/raincatchers.json
  data/json/items/tool/shelters.json
  data/json/items/tool/traps.json
  data/json/items/tool/workshop.json
  data/json/items/vehicle/cables.json
Labels: [JSON]

#38538 Mutation name to object
  data/json/mutations/mutations.json
Labels: [JSON]

#38537 Faults name to object
  data/json/items/faults_bionic.json
  data/json/items/gun/faults_gun.json
  data/json/vehicleparts/faults.json
Labels: [JSON]

#38523 Corrected whistle volume
  data/json/items/tool_armor.json
Labels: [JSON]

#38518 Split nuts into their own allergen from veggy
  data/json/mutations/mutations.json
  src/cata_string_consts.h
  src/consumption.cpp
  src/item_factory.cpp
Labels: Items: Food / Vitamins, [C++], [JSON]

#38535 Fix compounding application of mutation effects.
  src/character.h
  src/mutation.cpp
  src/savegame_json.cpp
Labels: (P2 - High), <Bugfix>, Mutations / Traits / Professions, [C++]

#38527 Fixes aftershock external roof tank
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: <Bugfix>, Mods: Aftershock, Vehicles, [JSON]

#38542 Generic name to object, volume to string, flags to array
  data/json/items/biosignatures.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/med.json
  data/json/items/generic.json
  data/json/items/generic/toys_and_sports.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/ranged/throwing.json
  data/json/items/resources/misc.json
  data/json/items/tool/explosives.json
  data/json/items/tool/fishing.json
  data/json/items/tool/tailoring.json
  data/json/items/vehicle/cargo.json
  data/json/items/vehicle/frames.json
  data/json/items/vehicle/lights.json
  data/json/items/vehicle/manual.json
Labels: [JSON]

#38530 Armor name to object, volume to string
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/masks.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/tool_armor.json
Labels: [JSON]

#38543 Tool name to object, volume to string
  data/json/items/melee/knives_kitchen.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool/explosives.json
  data/json/items/tool/fire.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/raincatchers.json
  data/json/items/tool/toileteries.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
Labels: [JSON]

#38545 Reset scent types on game load
  src/init.cpp
  src/scent_map.cpp
  src/scent_map.h
Labels: <Bugfix>, [C++]

#38546 Death to void params
  src/activity_handlers.cpp
  src/animation.cpp
  src/clzones.cpp
  src/condition.cpp
  src/construction.cpp
  src/creature.cpp
  src/filesystem.cpp
  src/game.cpp
  src/gamemode_defense.cpp
  src/iexamine.cpp
  src/melee.cpp
  src/mondeath.cpp
  src/npctalk.cpp
  src/npctalk_funcs.cpp
  src/sdlsound.h
  src/ui.cpp
  src/wish.cpp
Labels: Code: Astyle / Optimization / Static Analysis, [C++]

#38547 Nerfed the hell out of memory update overhead
  src/character.cpp
Labels: <Bugfix>, Bionics, [C++]

#38529 Robots are immune to cold, not "cold blooded" creatures
  data/json/monsters/defense_bot.json
  data/json/monsters/turrets.json
  data/json/monsters/utility_bot.json
  doc/JSON_FLAGS.md
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Bugfix>, Monsters, [C++], [JSON]

#38554 Fix some translations
  src/game.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: Translation, [C++]

#38558 Armor modern json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/belts.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/masks.json
  data/json/items/armor/misc.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/generic/bedding.json
  data/json/items/tool_armor.json
Labels: [JSON]

#38559 Tool name to object, volume to string
  data/json/items/generic.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/plastic.json
  data/json/items/tool/cooking.json
  data/json/items/tool/explosives.json
  data/json/items/tool/fishing.json
  data/json/items/tool/med.json
  data/json/items/tool/misc.json
  data/json/items/tool/pets.json
  data/json/items/tool/science.json
  data/json/items/tool/toileteries.json
  data/json/items/tool/traps.json
  data/json/items/tool/workshop.json
  data/json/items/vehicle/utilities.json
Labels: [JSON]

#38560 Generic name to object
  data/json/items/chemicals_and_resources.json
  data/json/items/generic.json
  data/json/items/generic/bathroom_house.json
  data/json/items/generic/spares.json
  data/json/items/generic/toys_and_sports.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/resources/misc.json
  data/json/items/resources/wood.json
  data/json/items/robot_parts.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/tool/woodworking.json
  data/json/items/vehicle/frames.json
  data/json/items/vehicle/plating.json
Labels: [JSON]

#38562 Generic modern json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/carnivore.json
  data/json/items/generic.json
  data/json/items/generic/currency.json
  data/json/items/generic/toys_and_sports.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/ranged/throwing.json
  data/json/items/resources/wood.json
  data/json/items/robot_parts.json
  data/json/items/tool/explosives.json
  data/json/items/tool/fishing.json
  data/json/items/vehicle/engine.json
  data/json/items/vehicle/mills.json
  data/json/items/vehicle/motors.json
  data/json/items/vehicle/seating.json
Labels: [JSON]

#38563 Armor modern json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/hoods.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/misc.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/undergarment.json
  data/json/items/tool_armor.json
Labels: [JSON]

#38561 Tool name to object
  data/json/items/ammo.json
  data/json/items/generic.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/explosives.json
  data/json/items/tool/fire.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/med.json
  data/json/items/tool/misc.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/science.json
  data/json/items/tool/tailoring.json
  data/json/items/tool/toileteries.json
  data/json/items/tool/workshop.json
Labels: [JSON]

#38568 fix animal pound
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
Labels: <Bugfix>, Map / Mapgen

#38555 Appease clang (2020-03-04)
  src/mondefense.cpp
Labels: (P2 - High), <Bugfix>, [C++]

#38575 Comestible modern json
  data/json/items/chemicals_and_resources.json
  data/json/items/classes/comestible.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mre.json
  data/json/items/comestibles/mutagen.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/wheat.json
Labels: [JSON]

#38574 Tool name to object, volume to string
  data/json/items/generic.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/tool/cooking.json
  data/json/items/tool/firefighting.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/tool/shelters.json
  data/json/items/tool/toileteries.json
  data/json/items/tool/traps.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
  data/json/items/vehicle/cables.json
Labels: [JSON]

#38573 Generic name to object
  data/json/items/chemicals_and_resources.json
  data/json/items/generic/string.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/wood.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/science.json
  data/json/items/vehicle/cargo.json
  data/json/items/vehicle/frames.json
  data/json/items/vehicle/wheel.json
Labels: [JSON]

#38572 Armor name to object
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/holster.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/masks.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_clothes.json
  data/json/items/generic/bedding.json
Labels: [JSON]

#38576 Appease VS (re: void params)
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/wish.cpp
Labels: [C++]

#38578 Generic name to object, volume to string
  data/json/items/book/maps.json
  data/json/items/classes/book.json
  data/json/items/electronics.json
  data/json/items/generic.json
  data/json/items/generic/spares.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/fake.json
  data/json/items/resources/home_improvement.json
  data/json/items/robot_parts.json
  data/json/items/tool/cooking.json
  data/json/items/tool/explosives.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/vehicle/engine.json
  data/json/items/vehicle/plating.json
  data/json/items/vehicle/utilities.json
Labels: [JSON]

#38580 Generic Name to object, volume to string, flags to array
  data/json/items/generic.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/newspaper.json
  data/json/items/resources/home_improvement.json
  data/json/items/robot_parts.json
  data/json/items/tool/cooking.json
  data/json/items/tool/stationary.json
  data/json/items/vehicle/alternator.json
  data/json/items/vehicle/cargo.json
  data/json/items/vehicle/engineering.json
  data/json/items/vehicle/lights.json
  data/json/items/vehicle/noise.json
  data/json/items/vehicle/rigs.json
  data/json/items/vehicle/utilities.json
Labels: [JSON]

#38577 tool name to object
  data/json/items/generic/toys_and_sports.json
  data/json/items/melee/misc.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/plastic.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/firefighting.json
  data/json/items/tool/landscaping.json
  data/json/items/tool/med.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/misc.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/raincatchers.json
  data/json/items/tool/science.json
  data/json/items/tool/shelters.json
  data/json/items/tool/smoking.json
  data/json/items/tool/tailoring.json
  data/json/items/tool/traps.json
Labels: [JSON]

#38582 Comestible name to object
  data/json/items/biosignatures.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/brewing.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mre.json
  data/json/items/comestibles/mutagen.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
Labels: [JSON]

#38589 Obsolete railmount flamer
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/obsolete.json
  data/json/recipes/recipe_weapon.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#38588 Obsolete Expanded Reactor Core
  data/json/itemgroups/electronics.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/toolmod.json
  data/json/obsolete.json
  data/json/recipes/electronics/toolmod.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#38583 Drop composite bow to 14 strength
  data/json/items/ranged/archery.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#38581 Stop random NPCs appearing on overmap
  src/overmap_ui.cpp
Labels: <Bugfix>, Info / User Interface, Map / Mapgen, [C++]

#36908 [Aftershock] Millyficent whately and the migo
  data/mods/Aftershock/effects.json
  data/mods/Aftershock/items/mutagen.json
  data/mods/Aftershock/maps/mapgen/millyficent_lab.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/Aftershock/maps/overmap_terrain.json
  data/mods/Aftershock/mobs/monster_faction.json
  data/mods/Aftershock/mutations/dreams.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/npcs/classes.json
  data/mods/Aftershock/npcs/factions.json
  data/mods/Aftershock/npcs/whately_dialogue.json
Labels: 0.E Content Freeze, Fields / Furniture / Terrain / Traps, Mechanics: Character / Player, Mods, Mods: Aftershock, Mutations / Traits / Professions, [JSON]

#26525 DinoModv3: DinoDNA
  data/mods/DinoMod/dinosaur.json
  data/mods/DinoMod/egg.json
  data/mods/DinoMod/forage.json
  data/mods/DinoMod/lab_notes.json
  data/mods/DinoMod/monstergroups_egg.json
  data/mods/DinoMod/recipe_medsandchemicals.json
Labels: 0.E Content Freeze, Items / Item Actions / Item Qualities, Mods, Monsters, Spawn, [JSON]

#38474 Adds Dark Skies Above, Part 1 [MOD]
  data/mods/Dark-Skies-Above/README.md
  data/mods/Dark-Skies-Above/factions.json
  data/mods/Dark-Skies-Above/harvest.json
  data/mods/Dark-Skies-Above/modinfo.json
  data/mods/Dark-Skies-Above/overrides/region_settings.json
  data/mods/Dark-Skies-Above/species.json
Labels: 0.E Content Freeze, Mods, Monsters, [JSON]

#38592 Adds Dark Skies Above, Part 1 [MOD]
  data/mods/Dark-Skies-Above/README.md
  data/mods/Dark-Skies-Above/factions.json
  data/mods/Dark-Skies-Above/harvest.json
  data/mods/Dark-Skies-Above/modinfo.json
  data/mods/Dark-Skies-Above/overrides/region_settings.json
  data/mods/Dark-Skies-Above/species.json
Labels: Mods, [JSON]

#38501 Dark Skies Part 2: Blacklists
  data/mods/Dark-Skies-Above/blacklists/item_blacklist.json
  data/mods/Dark-Skies-Above/blacklists/location_blacklist.json
  data/mods/Dark-Skies-Above/blacklists/mon_blacklist.json
  data/mods/Dark-Skies-Above/blacklists/scenario_blacklist.json
  data/mods/Dark-Skies-Above/blacklists/trait_blacklist.json
Labels: 0.E Content Freeze, Mods, [JSON]

#38520 Dark Skies Part 3: Effects, Items, Traits, and Speech
  data/mods/Dark-Skies-Above/ammo_effect.json
  data/mods/Dark-Skies-Above/effects.json
  data/mods/Dark-Skies-Above/items/clothing+armor.json
  data/mods/Dark-Skies-Above/items/electronics.json
  data/mods/Dark-Skies-Above/items/weapons.json
  data/mods/Dark-Skies-Above/mutations/traits.json
  data/mods/Dark-Skies-Above/speech/neworder_speech.json
Labels: 0.E Content Freeze, Mechanics: Effects / Skills / Stats, Mods, Mutations / Traits / Professions, [JSON]

#38526 Dark Skies Part 4: Overrides
  data/mods/Dark-Skies-Above/overrides/furniture_terrain/indoor_furniture.json
  data/mods/Dark-Skies-Above/overrides/furniture_terrain/outdoor-furniture.json
  data/mods/Dark-Skies-Above/overrides/items/armor.json
  data/mods/Dark-Skies-Above/overrides/items/books.json
  data/mods/Dark-Skies-Above/overrides/items/carnivore.json
  data/mods/Dark-Skies-Above/overrides/items/electronic.json
  data/mods/Dark-Skies-Above/overrides/items/generics.json
  data/mods/Dark-Skies-Above/overrides/items/newspaper.json
  data/mods/Dark-Skies-Above/overrides/items/ranged.json
  data/mods/Dark-Skies-Above/overrides/items/tools.json
  data/mods/Dark-Skies-Above/overrides/items/vehicle.json
  data/mods/Dark-Skies-Above/overrides/items/weapons.json
  data/mods/Dark-Skies-Above/overrides/locations/cemetery.json
  data/mods/Dark-Skies-Above/overrides/locations/overmap_special.json
  data/mods/Dark-Skies-Above/overrides/monsters.json
Labels: 0.E Content Freeze, Mods, [JSON]

#38550 Dark Skies 5: Override Scraps
  data/mods/Dark-Skies-Above/overrides/locations/evac_center.json
  data/mods/Dark-Skies-Above/overrides/scenarios.json
Labels: 0.E Content Freeze, Mods, [JSON]

#38551 Dark Skies 6: Snippets
  data/mods/Dark-Skies-Above/snippets/fliers.json
  data/mods/Dark-Skies-Above/snippets/graffiti.json
  data/mods/Dark-Skies-Above/snippets/newspaper.json
  data/mods/Dark-Skies-Above/snippets/radio.json
  data/mods/Dark-Skies-Above/snippets/survnotes.json
Labels: 0.E Content Freeze, Mods, [JSON]

#38552 Dark Skies 7: Monsters
  data/mods/Dark-Skies-Above/monsters/mon_groups/alienanimal_spawns.json
  data/mods/Dark-Skies-Above/monsters/mon_groups/neworder_spawns.json
  data/mods/Dark-Skies-Above/monsters/mon_groups/upgrades.json
  data/mods/Dark-Skies-Above/monsters/monattack.json
  data/mods/Dark-Skies-Above/monsters/mondrops.json
  data/mods/Dark-Skies-Above/monsters/mongun.json
  data/mods/Dark-Skies-Above/monsters/monspell.json
  data/mods/Dark-Skies-Above/monsters/new_order/neworder_highorder.json
  data/mods/Dark-Skies-Above/monsters/new_order/neworder_loworder.json
  data/mods/Dark-Skies-Above/monsters/new_order/neworder_misc.json
Labels: 0.E Content Freeze, Mods, Monsters, [JSON]

#37530 [Aftershock] Mutant npcs to aftershock
  data/mods/Aftershock/npcs/mutant_npcs/npc_classes_mutant.json
  data/mods/Aftershock/npcs/mutant_npcs/trait_groups.json
Labels: 0.E Content Freeze, Mods: Aftershock, NPC / Factions, [JSON]

#37707 Aftershock Crafting System
  data/mods/Aftershock/crafting_system.md
  data/mods/Aftershock/items/crafting_scrap/abstract_scrap.json
  data/mods/Aftershock/items/crafting_scrap/circuity_scrap.json
  data/mods/Aftershock/items/crafting_scrap/energy_storage_scrap.json
  data/mods/Aftershock/items/crafting_scrap/magnet_scrap.json
  data/mods/Aftershock/items/crafting_scrap/material_scrap.json
  data/mods/Aftershock/items/crafting_scrap/neural_io_scrap.json
  data/mods/Aftershock/items/grenades.json
  data/mods/Aftershock/items/item_groups.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/tool_quality.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/recipes/bionic_recipes.json
  data/mods/Aftershock/recipes/deconstruction/bionic_deconstruction.json
  data/mods/Aftershock/recipes/grenades.json
Labels: 0.E Content Freeze, Crafting / Construction / Recipes, Game: Balance, Items / Item Actions / Item Qualities, Mods: Aftershock, [JSON]

#37444 Added FM 20-32 Mine/Countermine Operations manual
  data/json/itemgroups/SUS/library.json
  data/json/itemgroups/books.json
  data/json/itemgroups/military.json
  data/json/items/book/traps.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/recipes/recipe_others.json
Labels: 0.E Content Freeze, Items / Item Actions / Item Qualities, [JSON]

#37512 Adds new starting scenario - Crazy party and new starting profession - Frat Boy/Sorority Girl
  data/json/professions.json
  data/json/scenarios.json
  data/json/start_locations.json
Labels: 0.E Content Freeze, Scenarios, [JSON]

#37540 Add subway maps
  data/json/items/book/maps.json
  data/json/mapgen/sub_station.json
Labels: 0.E Content Freeze, Items / Item Actions / Item Qualities, Map / Mapgen, [JSON]

#37806 Add The Satanic Bible
  data/json/itemgroups/books.json
  data/json/items/book/misc.json
  data/json/npcs/items_generic.json
  data/mods/No_Religious_Books/modinfo.json
Labels: 0.E Content Freeze, <Enhancement / Feature>, Items / Item Actions / Item Qualities, [JSON]

#37693 Add shot counter to mods and gun
  src/ranged.cpp
Labels: 0.E Feature Freeze, Items / Item Actions / Item Qualities, Ranged, [C++]

#37578 Refluff power armour and adjust stats slightly
  data/json/items/armor/power_armor.json
Labels: 0.E Content Freeze, Items / Item Actions / Item Qualities, Lore, [JSON]

#37314 Allow professions to start with a nearby vehicle - trucker profession
  data/json/professions.json
  doc/JSON_INFO.md
  src/game.cpp
  src/game.h
  src/newcharacter.cpp
  src/overmapbuffer.cpp
  src/player.h
  src/profession.cpp
  src/profession.h
  src/string_id_null_ids.cpp
Labels: 0.E Feature Freeze, Mutations / Traits / Professions, [C++], [JSON]

#38593 Tool name to object, volume to string, fix looks_like
  data/json/items/items_holiday.json
  data/json/items/melee/knives_kitchen.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/med.json
  data/json/items/tool/misc.json
  data/json/items/tool/pets.json
  data/json/items/tool/science.json
  data/json/items/tool/tailoring.json
  data/json/items/tool/toileteries.json
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
Labels: [JSON]

#38594 Generic name to object, volume to string, flags to array
  data/json/items/generic.json
  data/json/items/generic/bathroom_house.json
  data/json/items/generic/toys_and_sports.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/resources/metal.json
  data/json/items/resources/plastic.json
  data/json/items/resources/wood.json
  data/json/items/tool/cooking.json
  data/json/items/tool/science.json
  data/json/items/vehicle/solar.json
  data/json/items/vehicle/utilities.json
Labels: [JSON]

#38595 Armor name to object, volume to string and add volume
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/misc.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/undergarment.json
  data/json/items/generic/bedding.json
  data/json/items/tool_armor.json
Labels: [JSON]

#38587 Move stomach and guts load/store to character instead of avatar.
  src/savegame_json.cpp
Labels: <Bugfix>, Items: Food / Vitamins, NPC / Factions, [C++]

#38596 Dark Skies 8: Adds strays, lurker, enemies; updates modinfo
  data/mods/Dark-Skies-Above/modinfo.json
  data/mods/Dark-Skies-Above/monsters/mon_groups/stray_spawns.json
  data/mods/Dark-Skies-Above/monsters/wild_aliens/lurker.json
  data/mods/Dark-Skies-Above/monsters/wild_aliens/strays.json
Labels: Mods, [JSON]

#38540 Don't force maximum stat cap in freeform mode
  src/newcharacter.cpp
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Character / World Generation, Game: Balance

#38497 Disallow stumbling zombie to try to move to occupied tiles
  src/game.cpp
  src/monmove.cpp
  src/monster.h
Labels: <Bugfix>, Monsters, Z-levels, [C++]

#38612 Mutation name to object
  data/json/mutations/mutations.json
  data/json/npcs/expertise_traits.json
Labels: [JSON]

#38599 Armor modern json
  data/json/items/armor/belts.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/masks.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
Labels: [JSON]

#38604 Supress selecting number of charges to disassemble for non-discrete a…
  data/json/recipes/armor/other.json
  doc/JSON_FLAGS.md
  src/crafting.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++], [JSON]

#38601 Generic name to object, volume to string, flags to array
  data/json/items/book/maps.json
  data/json/items/chemicals_and_resources.json
  data/json/items/generic.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/robot_parts.json
  data/json/items/tool/cooking.json
  data/json/items/tool/science.json
  data/json/items/tool/toileteries.json
  data/json/items/vehicle/armor.json
  data/json/items/vehicle/controls.json
  data/json/items/vehicle/engineering.json
  data/json/items/vehicle/lights.json
  data/json/items/vehicle/seating.json
  data/json/items/vehicle/solar.json
  data/json/items/vehicle/utilities.json
Labels: [JSON]

#38615 Armor name to object
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/belts.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
Labels: [JSON]

#38616 Mutation name to object
  data/json/mutations/mutation_appearance.json
  data/json/mutations/mutations.json
Labels: [JSON]

#38448 Batch cooking of bone glue 🦴
  data/json/recipes/chem/other.json
Labels: Crafting / Construction / Recipes, [JSON]

#38549 Make garlic bulb as large and nutritious as its component cloves
  data/json/items/comestibles/raw_veggy.json
Labels: <Bugfix>, Items: Food / Vitamins, [JSON]

#38467 Adding jam, honey, or maple syrup to a peanut butter sandwich no longer doubles its size🥪
  data/json/items/comestibles/sandwich.json
Labels: Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#38548 Randomly select from equally rated targets
  src/monmove.cpp
Labels: <Bugfix>, Mechanics: Character / Player, Monsters, [C++]

#38584 Don't recover skid by adjusting cruise control
  src/vehicle_move.cpp
Labels: <Bugfix>, Vehicles, [C++]

#38585 rewrite how monster attacks read spells
  data/json/monsters/mi-go.json
  data/mods/Magiclysm/monsters/demon_spider.json
  data/mods/Magiclysm/monsters/dragon.json
  data/mods/Magiclysm/monsters/golems.json
  data/mods/Magiclysm/monsters/lizardfolk.json
  data/mods/Magiclysm/monsters/monsters.json
  src/magic.cpp
  src/magic.h
  src/mattack_actors.cpp
Labels: <Bugfix>, Mods: Magiclysm, [C++]

#37979 Migrate/obsolete incongruent Leadworks, EBR, and Rivtech guns
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/classes/gun.json
  data/json/items/generic.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/460.json
  data/json/items/gun/9mm.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/magazine.json
  data/json/items/gunmod/rail.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/magazine/22.json
  data/json/items/magazine/223.json
  data/json/items/magazine/45.json
  data/json/items/magazine/460.json
  data/json/items/magazine/9mm.json
  data/json/items/migration.json
  data/json/items/obsolete.json
  data/json/martialarts.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/robofac/NPC_robofac_generic_security.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_obsolete.json
  data/json/recipes/recipe_weapon.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/gunmods/gg_gunmods_blacklist.json
  data/mods/Generic_Guns/items/gg_items_blacklist.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  data/mods/Generic_Guns/vehicles/ammo_redefine_hacks/temp_magazine_json_load_hack.json
Labels: <Bugfix>, <Enhancement / Feature>, Ranged, [JSON]

#38461 Add tests for iuse item effects
  tests/iuse_actor_test.cpp
  tests/iuse_test.cpp
Labels: Code: Tests, Items / Item Actions / Item Qualities, [C++]

#38521 Fix infinite loop in disassembly menu if required tool is not at hand
  src/inventory_ui.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Info / User Interface

#38571 fix NPCs not farming correctly
  src/activity_handlers.cpp
  src/iexamine.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#38586 Add tests for food morale modifiers
  tests/modify_morale_test.cpp
Labels: Code: Tests, Items: Food / Vitamins, [C++]

#38633 Fixed plural of pemmican
  data/json/items/comestibles/meat_dishes.json
Labels: [JSON]

#38634 💻 More realistic RAM dimensions
  data/json/items/generic.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#38511 [Magiclysm] Add Magiclysm academy
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/books_lore.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/worldgen/magic_academy.json
  data/mods/Magiclysm/worldgen/magic_basement.json
  data/mods/Magiclysm/worldgen/multitile_city_buildings.json
  data/mods/Magiclysm/worldgen/overmap_terrain.json
  data/mods/Magiclysm/worldgen/regional_overlay.json
Labels: Items / Item Actions / Item Qualities, Map / Mapgen, Mods: Magiclysm, [JSON]

#37699 Magiclysm: Forest Tomb - revised
  data/mods/Magiclysm/furniture.json
  data/mods/Magiclysm/worldgen/forest_tomb.json
  data/mods/Magiclysm/worldgen/overmap_specials.json
  data/mods/Magiclysm/worldgen/overmap_terrain.json
Labels: 0.E Content Freeze, Map / Mapgen, Mods: Magiclysm, [JSON]

#38639 tool_quality name to object
  data/json/tool_qualities.json
Labels: [JSON]

#38636 Mutation name to object
  data/json/mutations/mutations.json
Labels: [JSON]

#38647 Skills name to object
  data/json/skills.json
Labels: [JSON]

#38635 Armor name to object, fix looks_like
  data/json/items/armor/belts.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/hoods.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/tool_armor.json
Labels: [JSON]

#38649 Fixed monsters stumbling up
  src/monmove.cpp
Labels: <Bugfix>, Monsters, Z-levels, [C++]

#38632 Don't reset incomplete missions after skills training
  src/npctalk_funcs.cpp
Labels: <Bugfix>, Missions, [C++]

#38653 Change message for consuming liquid fuel to "Fuel bionic with it"
  src/character.h
  src/consumption.cpp
  src/handle_liquid.cpp
Labels: Bionics, Info / User Interface, [C++]

#38656 Allow setting farm zone seed option to scan for nearby seed zones
  src/clzones.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, [C++]

#37425 Check loaded mapgen for being used at all.
  src/map_extras.cpp
  src/mapgen.cpp
  src/mapgen.h
  src/overmap.cpp
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, Code: Tests, Map / Mapgen, [C++]

#38673 item_action name to object
  data/json/item_actions.json
Labels: [JSON]

#38674 Allow vatgrown bodyguard as eligible profession for heli crash
  data/mods/Aftershock/scenarios.json
Labels: Mutations / Traits / Professions, Scenarios, [JSON]

#38667 Make single-loading reload message more generalized
  src/activity_handlers.cpp
  src/cata_string_consts.h
Labels: Info / User Interface, [C++]

#38677 Fix Travis builds
  .travis.yml
Labels: Code: Build

#36562 Refactor loading bonuses:
  data/json/martialarts.json
  data/json/martialarts_fictional.json
  data/json/techniques.json
  data/mods/Aftershock/player/techniques.json
  data/mods/CRT_EXPANSION/martial/CRT_Bladework.json
  data/mods/CRT_EXPANSION/martial/CRT_EnforcementBuff.json
  data/mods/CRT_EXPANSION/martial/CRT_MeleeBuffs.json
  data/mods/CRT_EXPANSION/martial/crt_gun_techniques.json
  data/mods/CRT_EXPANSION/martial/dragonslayertechn.json
  data/mods/CRT_EXPANSION/martial/generaltechn.json
  data/mods/CRT_EXPANSION/martial/stabtechn.json
  data/mods/MMA/martialarts.json
  data/mods/MMA/techniques.json
  doc/JSON_INFO.md
  doc/MARTIALART_JSON.md
  src/bonuses.cpp
  src/bonuses.h
Labels: 0.E Feature Freeze, Code: Astyle / Optimization / Static Analysis, Melee, [C++], [JSON]

#38669 Armor name to object
  data/json/items/armor/belts.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/misc.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
Labels: [JSON]

#38672 Generic name to object
  data/json/items/generic.json
  data/json/items/generic/bathroom_house.json
  data/json/items/generic/casing.json
  data/json/items/generic/string.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/misc.json
  data/json/items/tool/cooking.json
  data/json/items/tool/science.json
  data/json/items/vehicle/armor.json
  data/json/items/vehicle/engine.json
  data/json/items/vehicle/motors.json
  data/json/items/vehicle/plating.json
  data/json/items/vehicle/rams.json
Labels: [JSON]

#37930 Indian cookbook
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/books.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/book/cooking.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/recipe_food.json
Labels: 0.E Content Freeze, Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#38681 Make carried vehicle cargo available for storage
  src/vehicle.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Vehicles, [C++]

#38686 Generic name to object
  data/json/items/book/maps.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/bread.json
  data/json/items/generic.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/metal.json
  data/json/items/resources/wood.json
  data/json/items/software.json
  data/json/items/tool/explosives.json
  data/json/items/tool/stationary.json
  data/json/items/tool/tailoring.json
  data/json/items/vehicle/engineering.json
  data/json/items/vehicle/frames.json
  data/json/items/vehicle/motors.json
  data/json/items/vehicle/noise.json
  data/json/items/vehicle/plating.json
  data/json/items/vehicle/solar.json
Labels: [JSON]

#38685 Armor name to object
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/bandolier.json
  data/json/items/armor/belts.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/misc.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/tool_armor.json
Labels: [JSON]

#38693 Delete duplicate Leadworks migrations
  data/json/items/migration.json
Labels: <Bugfix>, [JSON]

#38688 Beaver Aggression Decrease
  data/json/monsters/mammal.json
Labels: <Bugfix>, Monsters, [JSON]

#37865 Add map_bash_info to fields
  data/json/field_type.json
  data/mods/My_Sweet_Cataclysm/sweet_field_type.json
  doc/JSON_INFO.md
  src/field_type.cpp
  src/field_type.h
  src/handle_action.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Fields / Furniture / Terrain / Traps, Mods, [C++], [JSON]

#38629 Made vacuum sealing more consistent
  data/json/items/comestibles/carnivore.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: <Bugfix>, Items: Food / Vitamins, [JSON]

#38700 Don't modify food morale for non-ingestibles
  src/consumption.cpp
  tests/modify_morale_test.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#38696 Generic name to object
  data/json/items/book/maps.json
  data/json/items/generic.json
  data/json/items/generic/bathroom_house.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/ranged/throwing.json
  data/json/items/robot_parts.json
  data/json/items/tool/cooking.json
  data/json/items/tool/explosives.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/tool/tailoring.json
  data/json/items/vehicle/engine.json
  data/json/items/vehicle/engineering.json
  data/json/items/vehicle/motors.json
  data/json/items/vehicle/utilities.json
Labels: [JSON]

#38694 Armor name to object
  data/json/items/armor/bandolier.json
  data/json/items/armor/coats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/hoods.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/masks.json
  data/json/items/armor/misc.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_clothes.json
  data/json/items/generic/bedding.json
Labels: [JSON]

#38657 Retune archery draw weights
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/main.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/mapgen/abandoned01.json
  data/json/mapgen/ws_survivor_bunker.json
  data/json/mapgen/ws_survivor_camp.json
  data/json/npcs/NC_HUNTER.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/mods/Medieval_Stuff/professions.json
Labels: Game: Balance, [JSON]

#38701 check if no creature is at precise aim spot
  src/ranged.cpp
Labels: <Bugfix>, Mechanics: Aiming, [C++]

#38262 read ids and save ids for enchantments
  src/magic_enchantment.cpp
  src/relic.cpp
Labels: 0.E Feature Freeze, Artifacts, [C++]

#37368 jsonize spell skills
  src/activity_handlers.cpp
  src/magic.cpp
  src/magic.h
Labels: 0.E Feature Freeze, <Enhancement / Feature>, [C++]

#38221 JSONize AEP_EVIL and implement intermittent artifact effects
  data/json/legacy_artifact_passive.json
  src/magic_enchantment.cpp
Labels: 0.E Feature Freeze, <Enhancement / Feature>, Artifacts, [C++], [JSON]
