Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2021-08, with the labels that each got.

#49408 eBook reader to Store / Read books
  data/json/item_actions.json
  data/json/items/tool/electronics.json
  data/json/player_activities.json
  data/mods/TEST_DATA/books.json
  data/mods/TEST_DATA/items.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/avatar.cpp
  src/avatar.h
  src/character.h
  src/character_crafting.cpp
  src/debug.cpp
  src/debug.h
  src/game_inventory.cpp
  src/game_inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_factory.cpp
  src/item_pocket.cpp
  src/item_pocket.h
  src/iuse.cpp
  src/iuse.h
  src/npc.cpp
  tests/reading_test.cpp
Labels: 0.F Content Freeze, 0.F Feature Freeze, <Enhancement / Feature>, Items: Containers

#49856 Fixes melee weapon variant inconsistencies.
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  tests/effective_dps_test.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Melee, [JSON]

#50024 Refactor hourly rotpoints
  src/item.cpp
  src/item.h
  src/weather.h
  tests/rot_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#50034 Rebalance guitars (and similar instruments) as melee weapons.
  data/json/items/tool/musical_instruments.json
Labels: <Bugfix>, Game: Balance, Items / Item Actions / Item Qualities, Melee, [JSON]

#50068 Adjust sun and moon light levels
  data/json/item_actions.json
  data/json/items/tool/science.json
  src/calendar.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  tests/char_sight_test.cpp
  tests/moon_test.cpp
  tests/sun_test.cpp
  tests/vision_test.cpp
Labels: <Bugfix>, Time / Turns / Duration / Date, [C++]

#50100 Fix resuming mass disassembly not working
  src/activity_actor.cpp
  src/crafting.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#50367 Crafting paper gives 50 charges
  data/json/recipes/other/materials.json
Labels: Crafting / Construction / Recipes, [JSON]

#50124 Fix UPS powered vehicle turrets
  src/turret.cpp
Labels: <Bugfix>, Items: Battery / UPS, Vehicles, [C++]

#50400 Fix compile, likely larger error for npc_attack.cpp
  src/npc_attack.cpp
Labels: <Bugfix>, Code: Build, NPC / Factions, [C++]

#50390 Update expected DPS values in test
  Makefile
  android/app/jni/src/Android.mk
  tests/creature_effect_test.cpp
  tests/effective_dps_test.cpp
Labels: (P2 - High), <Bugfix>, Code: Tests, Melee

#50213 Circumvent the LGTM-Python check triggering
  tools/json_tools/util.py
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, Code: Tests, [Python]

#50393 Fix items loaded with charges warning
  data/json/items/items_holiday.json
  data/json/items/tool/workshop.json
  data/json/obsoletion/charge_removal.json
  data/mods/Magiclysm/charge_removal.json
  data/mods/Magiclysm/items/tools.json
  src/item_factory.cpp
  src/savegame_json.cpp
Labels: <Bugfix>

#50391 Fix unknown recipe id warning
  data/json/recipes/recipe_obsolete.json
Labels: <Bugfix>

#50401 Change armored car to use JP8 (#50252)
  data/json/vehicles/vans_busses.json
Labels: <Bugfix>, Vehicles, [JSON]

#50385 Spawn correct underwear for female True Foodperson
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#50373 [DinoMod] CBM dino fixes
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
Labels: Mods: Dinoclysm, Monsters, [JSON]

#50371 Update Crowbars with DURABLE_MELEE
  data/json/items/tool/entry_tools.json
Labels: Melee, [JSON]

#50360 Handle window events during long operations
  src/animation.cpp
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/construction.cpp
  src/crafting_gui.cpp
  src/debug_menu.cpp
  src/game.cpp
  src/game.h
  src/gamemode_defense.cpp
  src/init.cpp
  src/input.h
  src/item_factory.cpp
  src/iuse_software_kitten.cpp
  src/loading_ui.cpp
  src/main.cpp
  src/map.cpp
  src/map.h
  src/mapbuffer.cpp
  src/mapgen.cpp
  src/monattack.cpp
  src/ncurses_def.cpp
  src/options.cpp
  src/past_games_info.cpp
  src/player_hardcoded_effects.cpp
  src/popup.h
  src/recipe_dictionary.cpp
  src/savegame.cpp
  src/sdltiles.cpp
  src/sdltiles.h
  src/ui_manager.cpp
  src/wincurse.cpp
Labels: Code: Performance, Controls / Input, [C++]

#50370 Added any_butter to buttercream recipe (#50270)
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#50353 Fixed safe spawning on top of shrub in one of the houses
  data/json/mapgen/house/house25.json
Labels: <Bugfix>, Map / Mapgen

#50342 hobbies bug fixes
  src/newcharacter.cpp
Labels: <Bugfix>, Character / World Generation, Info / User Interface, Mutations / Traits / Professions, [C++]

#50240 Fix inconsistencies on all sleeveless dusters
  data/json/recipes/armor/torso.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#50172 Reduce River weight to under 1k
  data/json/monstergroups/wilderness.json
Labels: 0.F Backport Candidate, <Bugfix>, Spawn, [JSON]

#50245 Worn/Wielded item variant tileset support
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/character.cpp
  src/character.h
Labels: SDL: Tiles / Sound, [C++]

#50266 Allow migrations from specific item variants
  src/item.h
  src/item_factory.cpp
  src/item_factory.h
Labels: Items / Item Actions / Item Qualities, [C++]

#50174 Modified stained glass description to reflect the fact it is a wall with a high window, changed all external walls to stone walls for cathedral (#49440)
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/mapgen/cathedral.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#50396 [DinoMod] hatchling fixes
  data/mods/DinoMod/monsters/hatchling.json
Labels: Mods: Dinoclysm, Monsters, [JSON]

#49533 Aquariums
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/containers.json
Labels: Items: Containers, Items: Food / Vitamins, Map / Mapgen, Monsters, [JSON]

#50306 Fix issue with loading game ignoring new eocs
  src/effect_on_condition.cpp
  src/effect_on_condition.h
  src/game.cpp
Labels: <Bugfix>, Mechanics: Effects / Skills / Stats, [C++]

#50395 Wind turbine epower fix
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_flags.json
Labels: <Bugfix>, Mechanics: Weather, Vehicles, [JSON]

#50281 Fix reload with loose ammo
  src/activity_actor.cpp
  src/game.cpp
  src/item.cpp
  src/item.h
  src/player.cpp
  src/vehicle_use.cpp
Labels: <Bugfix>, Inventory / AIM / Zones, Items: Ammo, Items: Gunmod / Toolmod, Items: Magazines, [C++]

#50251 Fix NPC claiming to eat FROZEN food without EDIBLE_FROZEN flag
  src/consumption.cpp
Labels: <Bugfix>, Info / User Interface, Items: Food / Vitamins, NPC / Factions, [C++]

#50381 Prevent stacking AIM windows when moving NO_UNWIELD flagged items
  src/advanced_inv.cpp
Labels: <Bugfix>, Info / User Interface, Inventory / AIM / Zones, [C++]

#50317 Added modified smoking_misc item group suited for military drops
  data/json/itemgroups/corpses.json
  data/json/itemgroups/misc.json
  data/json/monsterdrops/zombie_milbase_personnel.json
  data/json/monsterdrops/zombie_military_pilot.json
  data/json/monsterdrops/zombie_soldier.json
Labels: <Bugfix>, Items: Food / Vitamins, Spawn, [JSON]

#50296 Clear mapbuffer periodically during tests
  src/mapbuffer.h
  tests/map_helpers.cpp
Labels: <Bugfix>, Code: Tests, Map / Mapgen, [C++]

#50309 Added barred window with no glass (#48453)
  data/json/furniture_and_terrain/terrain-windows.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [JSON]

#50407 Remove full-auto rifles from the "guns_rifle_rare_display" item group
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
Labels: <Bugfix>, Game: Balance, Items / Item Actions / Item Qualities, Spawn

#50376 [DinoMod] use fungalize_into no2
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
Labels: Mods: Dinoclysm, Monsters, [JSON]

#50422 Fix compile error
  src/effect_on_condition.cpp
Labels: (P2 - High), <Bugfix>, Code: Build, [C++]

#50418 Fix passing large object by value
  src/activity_actor_definitions.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#50416 set number to 1 if no charges
  src/crafting.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#49810 [Magiclysm] Adding more attunement spells (2/3)
  data/mods/Magiclysm/Spells/attunements/Cleansing_Flame.json
  data/mods/Magiclysm/Spells/attunements/Ice_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Magnetism_Mage.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/traits/attunements.json
Labels: Mods: Magiclysm

#50427 Remove unused trait_STRONGSTOMACH in character.cpp
  src/character.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#50424 Fix plural form of Visitor's Pass
  data/json/items/id_cards.json
Labels: <Bugfix>, Translation, [JSON]

#50379 Stop using item::effective_dps() in npc_attack_melee
  src/npc_attack.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#50429 Revert "Clear mapbuffer periodically during tests"
  src/mapbuffer.h
  tests/map_helpers.cpp
Labels: <Bugfix>, Code: Tests, [C++]

#50428 Fix error when trying to fire empty plasma gun
  src/ranged.cpp
Labels: <Bugfix>, Items: Ammo, [C++]

#50445 ident -> id for No Hope modinfo.json; spacing
  data/mods/No_Hope/Mapgen/lot_empty_commercial.json
  data/mods/No_Hope/modinfo.json
Labels: <Bugfix>, Code: Tests, Mods, [JSON]

#50451 Fix plural of e-ink tablet PC (on)
  data/json/items/tool/electronics.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#50432 Expand set of files causing full clang-tidy
  build-scripts/build.sh
Labels: <Bugfix>, Code: Tests

#50447 Don't potentially dereference a nullptr in migrations
  src/item_factory.cpp
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, [C++]

#50443 [DinoMod] dinos don't hear great
  data/mods/DinoMod/monsters/dinosaur.json
Labels: <Bugfix>, Mods: Dinoclysm, Monsters, [JSON]

#50437 Debug command kill creatures in area
  src/debug_menu.cpp
  src/debug_menu.h
Labels: <Enhancement / Feature>, Code: Debug, Monsters, [C++]

#50349 Random characters have hobbies
  src/avatar.cpp
  src/avatar.h
  src/newcharacter.cpp
Labels: <Enhancement / Feature>, Character / World Generation, Mutations / Traits / Professions, [C++]

#50433 matrix.yml ordering changes, title fix
  .github/workflows/matrix.yml
Labels: <Enhancement / Feature>, Code: Tests

#50444 remove some stuff from player
  src/avatar.h
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#50466 Migrate some player functions to character
  src/activity_actor.cpp
  src/avatar.cpp
  src/character.cpp
  src/character.h
  src/game_inventory.cpp
  src/player.cpp
  src/player.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#50459 fix typo in proficiencies/wilderness.json
  data/json/proficiencies/wilderness.json
Labels: [JSON]

#50456 Add plural for "pieces of a book"
  data/json/items/book/abstract.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#50452 Fix dropping worn items from AIM
  src/advanced_inv.cpp
Labels: <Bugfix>, Info / User Interface, Inventory / AIM / Zones, [C++]

#50448 Prevent display of martial arts traits as traits
  data/json/mutations/mutations.json
Labels: Info / User Interface, Mutations / Traits / Professions, [JSON]

#50365 Jsonize bolt cutting activity actor
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/mods/TEST_DATA/furniture.json
  data/mods/TEST_DATA/items.json
  data/mods/TEST_DATA/terrain.json
  doc/JSON_INFO.md
  lang/extract_json_strings.py
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/mapdata.cpp
  src/mapdata.h
  tests/player_activities_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Fields / Furniture / Terrain / Traps, [C++]

#50460 Modified the Batwing Zombie Description (#50383)
  data/json/monsters/zed-winged.json
Labels: <Bugfix>, Monsters, [JSON]

#50464 [CR] Fix some proficiency inconsistencies.
  data/json/proficiencies/gunsmithing.json
  data/json/proficiencies/tailoring.json
  data/json/proficiencies/wilderness.json
  data/mods/Magiclysm/proficiencies.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#50426 Fix potentially incorrect floating-point arithmetic on MinGW
  src/compatibility.cpp
  src/compatibility.h
  src/main.cpp
  tests/char_stamina_test.cpp
  tests/test_main.cpp
Labels: <Bugfix>, Code: Tests, OS: Windows, [C++]

#50482 Significantly increased damage threshold of metal bar doors
  data/json/furniture_and_terrain/terrain-doors.json
Labels: Fields / Furniture / Terrain / Traps, Game: Balance

#47561 Allow the player to gain and lose limbs in code
  data/core/sentinels.json
  data/json/body_parts.json
  data/json/enchantments.json
  data/json/mutations/mutations.json
  src/anatomy.cpp
  src/anatomy.h
  src/avatar.cpp
  src/avatar.h
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/item.cpp
  src/magic.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/martialarts.cpp
  src/melee.cpp
  src/panels.cpp
  src/player.cpp
  src/player_display.cpp
  tests/creature_test.cpp
Labels: Game: Mechanics Change, Mechanics: Character / Player, 0.F Feature Freeze

#50487 Audit lawn mower length
  data/json/items/generic.json
Labels: [JSON], Items / Item Actions / Item Qualities, <Bugfix>

#50190 Fix graphical overmap notes displays & mission arrow
  src/output.cpp
  src/output.h
  src/overmap_ui.cpp
  src/sdltiles.cpp
Labels: Info / User Interface, SDL: Tiles / Sound, [C++], <Bugfix>

#50533 Adjust CBA to be runnable again
  .github/workflows/CBA.yml
Labels: Code: Tests, Code: Infrastructure / Style / Static Analysis

#50175 Remove item ammo check functions that did the exact same thing.
  src/activity_handlers.cpp
  src/character.cpp
  src/character.h
  src/handle_action.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/iuse_actor.cpp
  tests/item_test.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#50128 add stamina cost to archery
  src/ranged.cpp
  src/ranged.h
Labels: [C++], Mechanics: Effects / Skills / Stats, <Bugfix>, Ranged, Items: Archery

#50536 Fishing spears can be stored in spear strap
  data/json/items/ranged/spearguns.json
Labels: [JSON], <Bugfix>, Items: Containers

#50537 player movecost fix
  src/character.cpp
Labels: (P2 - High), [C++], <Bugfix>

#50173 Fix manually assigned item letter being removed on unwield
  src/activity_actor.cpp
  src/character.cpp
  src/character.h
  src/game.cpp
  src/inventory.cpp
  src/inventory.h
  src/item.cpp
  src/item_location.cpp
  src/item_pocket.cpp
  src/npc.cpp
  src/npctrade.cpp
  src/pickup.cpp
  src/player.cpp
Labels: Info / User Interface, [C++], Items / Item Actions / Item Qualities, <Bugfix>, Controls / Input, 0.F Backport Candidate

#48564 Migrate safecracking to an activity_actor
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/debug.cpp
  src/debug.h
  src/iexamine.cpp
  tests/player_activities_test.cpp
Labels: Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player, 0.F String Freeze

#50543 Avoid division-by-zero in `lerped_multiplier`
  src/crafting.cpp
Labels: [C++], <Bugfix>

#50539 Make driver speed not cause problems with driving
  src/vehicle_move.cpp
Labels: Vehicles, [C++], Mechanics: Effects / Skills / Stats, <Bugfix>, PUBLIC TEST

#50538 Make harvesting trees and underbrushes an activity
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/debug.cpp
  src/debug.h
  src/iexamine.cpp
  src/iexamine.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#50534 Fix overmap NPC names showing for NPCs out of range
  src/overmap_ui.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, 0.F Backport Candidate

#50525 Fixes crash during save due to invalid ammo_location
  src/savegame_json.cpp
Labels: [C++], <Bugfix>, Items: Ammo, Items: Containers

#50509 create HARDTOHIT trait flag, add it to Illusionist attunement
  data/mods/Magiclysm/traits/attunements.json
  doc/JSON_FLAGS.md
  src/ballistics.cpp
  src/melee.cpp
Labels: <Enhancement / Feature>, [JSON], Mutations / Traits / Professions, [C++], Mods: Magiclysm

#50508 Balance "Rebar cage breaks into concrete floor, not pit"
  data/json/furniture_and_terrain/terrain-walls.json
Labels: Game: Balance, <Suggestion / Discussion>, Fields / Furniture / Terrain / Traps

#50507 Infrastructure "compose.py: opt-in JSON formatting"
  tools/gfx_tools/compose.py
Labels: SDL: Tiles / Sound, Quality of Life, [Python], Code: Tooling

#50500 Fix gaseous fields spreading into solid objects
  src/map_field.cpp
Labels: [C++], <Bugfix>, Fields / Furniture / Terrain / Traps

#50476 [DinoMod] achievements
  data/mods/DinoMod/achievements/achievements.json
  data/mods/DinoMod/achievements/statistics.json
Labels: [JSON], Mods: Dinoclysm, Game: Achievements / Conducts / Scores

#50425 [Aftershock] Grammar and name fixes for Aftershock
  data/mods/Aftershock/items/armor.json
Labels: [JSON], <Bugfix>, Mods: Aftershock

#50446 [DinoMod] Dinos in the subway
  data/mods/DinoMod/monstergroups/misc.json
  data/mods/DinoMod/monstergroups/wilderness.json
Labels: [JSON], Spawn, Mods: Dinoclysm

#50470 [DinoMod] some dinos don't bleed
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: [JSON], Monsters, Mods: Dinoclysm

#50501 [DinoMod] rebalance 2021
  data/mods/DinoMod/monsters/dinosaur.json
Labels: Game: Balance, [JSON], Monsters, Mods: Dinoclysm

#50513 [DinoMod] DinoLab and Dino Exhibit starts
  data/mods/DinoMod/scenarios.json
  data/mods/DinoMod/startlocations.json
Labels: [JSON], Scenarios, Mods: Dinoclysm

#50515 [DinoMod] ostrich armor
  data/mods/DinoMod/items/pets_ostrich_armor.json
  data/mods/DinoMod/recipes/medsandchemicals.json
  data/mods/DinoMod/recipes/pets_elephant.json
  data/mods/DinoMod/recipes/pets_ostrich.json
  data/mods/DinoMod/recipes/recipes.json
Labels: [JSON], Items / Item Actions / Item Qualities, Mods: Dinoclysm

#50458 Added desert island start location to Helicrash scenario.
  data/json/scenarios.json
Labels: [JSON], Scenarios

#50478 Clarify the mission descriptions in the pizzaiolo quest line
  data/json/npcs/other/NPC_pizzaiolo.json
Labels: [JSON], Missions, <Bugfix>

#50494 Fix the mission 'Visit the Isherwoods' that was impossible to complete
  data/json/npcs/holdouts/Mr_Lapin.json
Labels: [JSON], Missions, <Bugfix>

#50480 doc: Clarify MGOAL_GO_TO mission goal
  doc/MISSIONS_JSON.md
Labels: <Documentation>, Missions, <Bugfix>

#50471 Atomic headlamp should not have DURABLE_MELEE
  data/json/items/tool_armor.json
Labels: [JSON], Items / Item Actions / Item Qualities, <Bugfix>

#49811 [Magiclysm] Adding more attunement spells (3/3)
  data/mods/Magiclysm/Spells/attunements/Alchemist.json
  data/mods/Magiclysm/Spells/attunements/Void_Mage.json
  data/mods/Magiclysm/Spells/attunements/Vulcanist.json
  data/mods/Magiclysm/Spells/attunements/Wither_Mage.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/recipes/recipe_potions.json
  data/mods/Magiclysm/requirements/spell_components.json
  data/mods/Magiclysm/traits/attunements.json
Labels: Mods: Magiclysm

#50330 More hobbies
  data/json/hobbies.json
  data/json/mutations/mutations.json
  src/newcharacter.cpp
Labels: <Enhancement / Feature>, [JSON], Mutations / Traits / Professions, Character / World Generation

#50560 Recursively search and bundle Mac dependencies
  Makefile
  tools/copy_mac_libs.py
Labels: Code: Build, OS: macOS, <Bugfix>, 0.F Backport Candidate

#50563 Update Catch2 to v2.13.7
  tests/catch/catch.hpp
Labels: Code: Tests, <Bugfix>

#50549 Don't trigger worldgen while scrolling the overmap
  src/overmap_ui.cpp
Labels: Info / User Interface, Map / Mapgen, [C++], <Bugfix>

#50550 Avoid placing hospitals in the woods during MISSION_SCIENCE_REP_1
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
Labels: [JSON], Map / Mapgen, <Bugfix>

#50562 cmake: install core and help directories
  data/CMakeLists.txt
Labels: Code: Build

#50564 cmake: don't use PREFIX variable
  CMakeLists.txt
Labels: Code: Build

#50528 random cosmetic traits respect scenario (#50224)
  src/newcharacter.cpp
Labels: Mutations / Traits / Professions, [C++], <Bugfix>, Scenarios

#50435 READY extract do_turn from game
  src/do_turn.cpp
  src/do_turn.h
  src/game.cpp
  src/game.h
  src/main.cpp
Labels: <Enhancement / Feature>, [C++], Code: Infrastructure / Style / Static Analysis

#49893 Recipes in books are listed in categories based on craftability
  src/item.cpp
Labels: Info / User Interface, [C++], Quality of Life

#50097 Improvised Maces
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Labels: [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities

#50117 Change Quadruped flamethrower to a spell effect
  data/json/monster_special_attacks/spells.json
  data/json/monster_special_attacks/weapon_spells.json
  data/json/monsters/cyborgs.json
Labels: [JSON], Monsters, <Bugfix>

#50583 Fix JSON style error
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Labels: (P2 - High), [JSON], <Bugfix>

#50584 Fix android build
  src/do_turn.cpp
  src/game.cpp
Labels: Code: Build, OS: Android

#49914 Add new worn unarmed weapons
  data/json/items/armor/gloves.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/melee/unarmed_weapons.json
  data/json/recipes/armor/hands.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/piercing.json
Labels: [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Melee

#49986 Create talker monster, add ability for spells to use dialog effects/conditions
  data/json/effect_on_condition.json
  doc/MAGIC.md
  doc/NPCs.md
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/dialogue.h
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/npctalk.cpp
  src/talker.h
  src/talker_character.h
  src/talker_monster.cpp
  src/talker_monster.h
Labels: <Enhancement / Feature>, NPC / Factions, [C++], Monsters, Code: Infrastructure / Style / Static Analysis, Mechanics: Enchantments / Spells

#50001 Show exact conflicting traits at character creation
  src/cata_utility.h
  src/character.cpp
  src/character.h
  src/mutation.cpp
  src/newcharacter.cpp
Labels: Info / User Interface, Mutations / Traits / Professions, [C++], Character / World Generation

#50488 Update JSON_INFO "covers" to tell about X_EITHER options
  doc/JSON_INFO.md
Labels: <Documentation>, <Bugfix>

#50178 Add supporting infrastructure for first version of migo bio-tech
  data/json/effect_on_condition.json
  data/json/items/tool/science.json
  data/json/morale_types.json
  doc/JSON_INFO.md
  doc/NPCs.md
  src/condition.cpp
  src/item.cpp
  src/itype.cpp
  src/itype.h
  src/iuse_actor.cpp
  src/npctalk.cpp
Labels: [JSON], [C++], Items / Item Actions / Item Qualities, Code: Infrastructure / Style / Static Analysis

#50467 Fast reflexes rebalance
  data/json/mutations/mutations.json
  src/character.cpp
  src/monattack.cpp
Labels: Game: Balance, [JSON], Mutations / Traits / Professions, [C++], <Bugfix>

#50581 cmake: set RELEASE variable to generate install target
  CMakeLists.txt
Labels: Code: Build, <Bugfix>

#50484 Replaced simple boarded door to prisoners' hideout with reinforced boarded door
  data/json/mapgen/prison_1.json
Labels: Game: Balance, Map / Mapgen

#50481 Remove player class from gameinventory
  src/avatar.cpp
  src/avatar.h
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/game_inventory.cpp
  src/game_inventory.h
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/player.cpp
  src/player.h
  tests/invlet_test.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#50483 move ranged stuff out of player
  src/character.h
  src/item.cpp
  src/item.h
  src/player.cpp
  src/player.h
  src/ranged.cpp
  src/ranged.h
  src/sounds.cpp
  src/sounds.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#50567 [Aftershock] achievements
  data/mods/Aftershock/achievements/achievements.json
  data/mods/Aftershock/achievements/statistics.json
Labels: [JSON], Mods: Aftershock, Game: Achievements / Conducts / Scores

#50546 Avoid crashing when the player's gun is destroyed while firing.
  src/ranged.cpp
Labels: Mechanics: Aiming, [C++], Monsters, <Bugfix>, Mechanics: Character / Player

#50479 Allow disassembling from nearby workbench
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/crafting.cpp
  src/game.cpp
  src/iexamine.cpp
  src/iuse.cpp
Labels: Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps

#50557 Change shelf stable milk shelf life and decrease spoil rate to 2% for sealed container (#50519)
  data/json/items/comestibles/dairy.json
  data/json/items/containers.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins

#46750 Prone move mode
  data/json/flags.json
  data/json/items/melee/bludgeons.json
  data/json/move_modes.json
  src/action.h
  src/activity_actor.cpp
  src/avatar.cpp
  src/avatar.h
  src/avatar_action.cpp
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/flag.cpp
  src/flag.h
  src/handle_action.cpp
  src/melee.cpp
  src/move_mode.cpp
  src/move_mode.h
  src/player.cpp
Labels: [C++], Mechanics: Character / Player, 0.F Feature Freeze, 0.F String Freeze

#50593 Fix incorrect EOC effect message JSON key
  data/json/items/tool/science.json
  data/mods/Aftershock/effects_on_condition.json
Labels: (P2 - High), [JSON], <Bugfix>

#50611 Tilest update
  gfx/ChibiUltica/ChibiNormalCharacter.png
  gfx/ChibiUltica/fillerhoder.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/incomplete_tall.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tallmonsters.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/overmap.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound

#50610 Fix duplicate unitfont.ttf in config/fonts.json
  src/font_loader.h
Labels: [C++], <Bugfix>, 0.F Backport Candidate

#50609 Disable Terminus.ttf on Mac
  src/font_loader.h
Labels: OS: macOS, (P1 - Critical), <Bugfix>, 0.F Backport Candidate

#50606 Backport BN's MSVC sound fix
  .appveyor.yml
  doc/COMPILING/COMPILING-VS-VCPKG.md
  msvc-full-features/Cataclysm-common.props
  msvc-full-features/vcpkg.json
  msvc-object_creator/vcpkg.json
Labels: Code: Build, OS: Windows, SDL: Tiles / Sound, <Bugfix>, PUBLIC TEST

#50601 Fix Bathroom scale symbol
  data/json/items/tool/toileteries.json
Labels: Info / User Interface, [JSON], <Bugfix>

#50605 Retry pushing translation template on failure
  .github/workflows/push-translation-template.yml
Labels: Translation

#50594 Set directories on macOS in CMake build script
  CMakeLists.txt
Labels: (P2 - High), Code: Build, OS: macOS, <Bugfix>

#50602 Add a crafting recipe for skirts
  data/json/recipes/armor/legs.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>

#50607 Fixed density of legume products
  data/json/items/comestibles/other.json
  data/json/items/comestibles/seed.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins

#50598 Camp NPCs will refuse to eat inedible animal food
  src/faction_camp.cpp
Labels: Game: Balance, NPC / Factions, Items: Food / Vitamins, [C++], <Bugfix>, Player Faction Base / Camp

#50203 223 Changes
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/defense_mode.json
  data/json/itemgroups/military.json
  data/json/items/gun/223.json
  data/json/items/gun/308.json
  data/json/items/migration.json
  data/json/items/obsolete.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/martialarts.json
  data/json/npcs/NC_ARSONIST.json
  data/json/npcs/NC_SOLDIER.json
  data/json/npcs/refugee_center/surface_visitors/NPC_scavenger_mercenary.json
  data/json/npcs/robofac/NPC_ROBOFAC_MERC_1.json
  data/json/professions.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/weapon/magazines.json
  data/json/recipes/weapon/mods.json
  data/json/vehicles/helicopters.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/BlazeIndustries/vehicleparts/blaze_turrets_vanilla.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/National_Guard_Camp/item_groups.json
  data/mods/package_bionic_professions/bionic_professions.json
  src/mission_end.cpp
  src/monattack.cpp
  tests/pocket_test.cpp
  tests/reload_magazine_test.cpp
Labels: [JSON], Items / Item Actions / Item Qualities

#50359 Allow some proficiencies to ignore focus
  data/json/proficiencies/misc.json
  data/json/proficiencies/tailoring.json
  data/json/proficiencies/wilderness.json
  src/character.cpp
  src/proficiency.cpp
  src/proficiency.h
Labels: <Enhancement / Feature>, [C++], Mechanics: Effects / Skills / Stats, <Bugfix>, Mechanics: Character / Player

#50368 Add dialog conditions for terrain type and field type
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
Labels: <Enhancement / Feature>, [C++], Code: Infrastructure / Style / Static Analysis

#50453 Add PROFICIENCY_LIST.md for easier browsing of proficiencies
  doc/PROFICIENCY_LIST.md
Labels: <Enhancement / Feature>, <Documentation>, Mechanics: Effects / Skills / Stats

#50474 Migrate more player code to character
  src/character.cpp
  src/character.h
  src/player.cpp
  src/player.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#50585 Use typesafe tripoints in several creature/npc and related methods
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/do_turn.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/iuse.cpp
  src/map.cpp
  src/map_extras.cpp
  src/map_extras.h
  src/mapgen.cpp
  src/memorial_logger.cpp
  src/mission_util.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/overmapbuffer.cpp
  src/start_location.cpp
  src/timed_event.cpp
  src/timed_event.h
  src/weather.cpp
  tests/crafting_test.cpp
  tests/npc_test.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#50620 iwyu cuboid_rectangle.h
  src/cuboid_rectangle.h
Labels: Code: Build, [C++], <Bugfix>

#50621 Move position into Creature
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/monster.cpp
  src/monster.h
  src/npc.cpp
  src/savegame_json.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#50568 Fix item name formatting
  src/character.cpp
Labels: Info / User Interface, [C++], <Bugfix>

#50626 An otherwise unremarkable assortment of mild fixes
  src/action.h
  src/activity_handlers.cpp
  src/cata_utility.h
  src/editmap.cpp
  src/item_factory.cpp
  src/itype.h
  src/iuse.cpp
  src/json.h
Labels: [C++]

#50258 Hide fully covered clothes in character description
  src/character.cpp
  src/character.h
  src/npc.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++]

#50347 Make pseudo_items less pseudo
  data/json/bionics.json
  data/json/obsolete.json
  data/mods/Aftershock/player/bionics.json
  data/mods/Aftershock/player/obsolete.json
  data/mods/CrazyCataclysm/crazy_items.json
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/item.h
  src/item_action.cpp
  src/savegame_json.cpp
  src/visitable.cpp
Labels: Bionics, [C++], Items / Item Actions / Item Qualities, Code: Infrastructure / Style / Static Analysis
