Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2021-09, with the labels that each got.

#51169 Allow changing hair, facial hair, eye and skin colour
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/item_actions.json
  data/json/items/generic.json
  data/json/mutations/mutation_appearance.json
  doc/JSON_INFO.md
  src/activity_actor.cpp
  src/character.h
  src/iexamine.cpp
  src/iexamine.h
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: <Enhancement / Feature>, SDL: Tiles / Sound, [C++]

#51219 Fix broken list of languages available
  src/options.cpp
Labels: Translation, <Bugfix>

#51249 De-flake the vehicle turret test
  data/json/items/ammo_types.json
  tests/vehicle_turrets_test.cpp
Labels: Vehicles, Code: Tests, [C++], <Bugfix>, Items: Ammo, Ranged

#51258 remove pipebomb from obsolete
  data/json/obsolete.json
Labels: [JSON], Items / Item Actions / Item Qualities, <Bugfix>

#51314 Fix typo in activity_actor.cpp
  src/activity_actor.cpp
Labels: <Bugfix>

#51255 Fix plurals and other text issues
  data/json/items/book/electronics.json
  data/json/items/corpses/dead_yrax.json
  data/json/items/gunmod/conversions.json
  data/json/monsters/insect_spider.json
  data/json/snippets/lab.json
  data/json/vehicleparts/engineering.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/inactiverobot.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/mobs/robots.json
  src/crafting.cpp
Labels: Translation, <Bugfix>

#50785 Water camouflage: Make fish not visible from unrealistically far away
  data/json/monsters/fish.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/monsters/triffid.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed_misc.json
  data/mods/Dark-Skies-Above/monsters/alien_fauna.json
  data/mods/DinoMod/monsters/hatchling.json
  doc/JSON_FLAGS.md
  src/creature.cpp
  src/creature.h
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Enhancement / Feature>, [JSON], Z-levels, [C++], Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, Mods: Dark Skies, Mods: Dinoclysm

#51295 Limit zombie_fuse, other size change to within tiny-huge
  data/json/effects.json
  src/creature.cpp
  src/monattack.cpp
  tests/monster_test.cpp
Labels: [C++], Monsters, <Bugfix>

#51120 Extend NPC inventory / loot management
  data/json/npcs/TALK_COMMON_ALLY.json
  data/raw/keybindings.json
  src/activity_actor_definitions.h
  src/game.cpp
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
  src/npctrade.cpp
  src/talker_npc.cpp
Labels: <Enhancement / Feature>, NPC / Factions, Inventory / AIM / Zones, [C++], Quality of Life

#51270 De-bloat character.cpp, Part 1 of X
  src/bionics.cpp
  src/character.cpp
  src/character_attire.cpp
  src/character_guns.cpp
  src/character_modifier.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51280 Make Creature::position private
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/monster.cpp
  src/npc.cpp
  src/savegame_json.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51306 Man's Best Friend Lupine Mutation
  data/json/mutations/mutations.json
Labels: Mutations / Traits / Professions

#51141 [CRIT] Blood spiders and shimmering spider
  data/mods/CRT_EXPANSION/effect_on_condition.json
  data/mods/CRT_EXPANSION/effects.json
  data/mods/CRT_EXPANSION/monsters/crt_monster.json
  data/mods/CRT_EXPANSION/monsters/crt_monstergroups.json
  src/character.cpp
  src/iuse.cpp
Labels: Spawn, Monsters, Mechanics: Effects / Skills / Stats, Mods: CRIT

#51137 Remove majority of `JsonObject::get_raw()` usage.
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/assign.h
  src/condition.cpp
  src/construction.cpp
  src/damage.cpp
  src/effect.cpp
  src/generic_factory.h
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/json.cpp
  src/json.h
  src/magic_enchantment.cpp
  src/martialarts.cpp
  src/monstergenerator.cpp
  src/profession.cpp
  src/recipe.cpp
  src/translations.cpp
  src/units.h
  src/veh_type.cpp
  src/vitamin.cpp
Labels: [JSON], [C++], Code: Infrastructure / Style / Static Analysis

#51275 Iridescent cats now visible at night
  data/json/monsters/mutant_mammal.json
Labels: <Enhancement / Feature>, [JSON], Monsters, <Bugfix>

#51319 Fixed Filter Paper Always Hitting
  data/json/items/tool/science.json
Labels: [JSON], <Exploit>, Items / Item Actions / Item Qualities, <Bugfix>

#51327 Remove Int/IntCap skill rust options and make Vanilla default
  src/character.cpp
  src/character.h
  src/newcharacter.cpp
  src/options.cpp
  src/options.h
  src/player_display.cpp
Labels: Info / User Interface, [C++], <Bugfix>

#51279 Fix typo in data/json/items/gunmod/conversions.json
  data/json/items/gunmod/conversions.json
Labels: [JSON], Items: Gunmod / Toolmod, <Bugfix>

#51263 Fix Windows path encoding
  src/cata_tiles.cpp
  src/cata_utility.cpp
  src/catacharset.cpp
  src/catacharset.h
  src/color_loader.h
  src/debug.cpp
  src/filesystem.cpp
  src/filesystem.h
  src/font_loader.h
  src/game.cpp
  src/init.cpp
  src/input.cpp
  src/main_menu.cpp
  src/mapsharing.cpp
  src/newcharacter.cpp
  src/ofstream_wrapper.h
  src/options.cpp
  src/safemode_ui.cpp
  src/worldfactory.cpp
  tests/monfactions_test.cpp
  tests/monster_test.cpp
  tests/overmap_noise_test.cpp
Labels: Translation, OS: Windows, [C++], <Bugfix>, Character / World Generation

#51250 Capping shakes effect
  data/json/effects.json
Labels: Game: Balance, [JSON], Mutations / Traits / Professions, Mechanics: Character / Player

#51241 Suppress beta talker debugmsg from mapgen_update
  src/npctalk.cpp
Labels: Map / Mapgen, [C++], Mechanics: Effects / Skills / Stats, <Bugfix>

#51266 Allow installing multiple power storage bionics from debug
  src/iuse_actor.cpp
Labels: Bionics, [C++], <Bugfix>, Code: Debug

#49985 New historical helmets
  data/json/itemgroups/art_antiques_crafts.json
  data/json/items/armor/helmets.json
  data/json/items/tool_armor.json
  data/json/recipes/armor/head.json
Labels: [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities

#49988 Begin implementing cooking proficiencies
  data/json/recipes/recipe_food.json
Labels: [JSON], Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats

#51323 Freshwater research station roof map added
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen_palettes/underwater_structures_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: [JSON], Map / Mapgen, Z-levels, <Bugfix>

#51277 Mod tracking for monsters
  src/monster.cpp
  src/mtype.h
Labels: Mods, [C++], Monsters, Code: Debug

#51283 Remove location.h
  src/cata_tiles.cpp
  src/creature.h
  src/debug_menu.cpp
  src/editmap.cpp
  src/game.cpp
  src/game.h
  src/location.h
  src/map.cpp
  src/monattack.cpp
  tests/map_helpers.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51303 [Magiclysm] Whiskey economonics
  data/mods/Magiclysm/items/comestibles.json
  data/mods/Magiclysm/items/enchanted_misc.json
Labels: Game: Balance, Mods: Magiclysm

#51248 Added debug option to print dialog vars to file
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
Labels: NPC / Factions, [C++], Code: Debug

#51297 Allow checking variable's in addition to time_durations in dialog conditions and effects
  data/json/effect_on_condition.json
  data/json/npcs/Backgrounds/evacuee_2.json
  data/json/npcs/TALK_MARLOSS_VOICE.json
  data/json/npcs/robofac/NPC_ROBOFAC_INTERCOM.json
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
  src/npctalk.cpp
Labels: <Enhancement / Feature>, [C++], Mechanics: Effects / Skills / Stats

#51287 Animated background
  src/cata_tiles.cpp
Labels: <Enhancement / Feature>, [JSON], SDL: Tiles / Sound, [C++]

#51254 7 more Hobbies
  data/json/hobbies.json
Labels: <Enhancement / Feature>, Mutations / Traits / Professions, Character / World Generation

#51246 Offload the LOCK_PICK use_action to the LOCKPICK tool quality.
  data/json/items/armor/jewelry.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool_armor.json
  data/json/tool_qualities.json
  data/mods/Magiclysm/items/enchanted_misc.json
Labels: <Enhancement / Feature>, [JSON], Items / Item Actions / Item Qualities, <Bugfix>, Code: Infrastructure / Style / Static Analysis

#47948 Examine action shouldn't suggest examining out-of-season bushes
  src/action.cpp
  src/game.cpp
  src/iexamine.cpp
  src/iexamine.h
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  tests/iexamine_test.cpp
Labels: Info / User Interface, [C++], Quality of Life

#51331 Optimize installation check of a duplicate CBM
  src/iuse_actor.cpp
Labels: Code: Performance, Bionics, [C++], <Bugfix>

#51325 De-bloat character.h|cpp, Part 3 of X: Move contents_change_handler to new files
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/contents_change_handler.cpp
  src/contents_change_handler.h
  src/game.cpp
  src/veh_interact.cpp
  tests/unseal_and_spill_test.cpp
Labels: Code: Build, [C++], Code: Infrastructure / Style / Static Analysis

#51328 Remove base_acid from example in REGION_SETTINGS.md
  doc/REGION_SETTINGS.md
Labels: <Documentation>, <Bugfix>, Character / World Generation

#51131 Adds missing knives to the Krav Maga list
  data/json/martialarts.json
Labels: Game: Balance, [JSON], Items / Item Actions / Item Qualities, <Bugfix>, Melee

#51273 De-bloat character.cpp, Part 2 of X
  src/character.cpp
  src/character_body.cpp
  src/character_escape.cpp
  src/character_morale.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51224 Street facing churches
  data/json/mapgen/church.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps

#49821 Document our policy towards macOS support
  doc/COMPILING/COMPILER_SUPPORT.md
  tools/macos-market-share.py
Labels: OS: macOS, Organization

#51262 Fix sealed containers being targets for pickup actions.
  src/action.cpp
Labels: Inventory / AIM / Zones, [C++], <Bugfix>, Controls / Input, Items: Containers

#51282 invalidate weight carried cache
  src/activity_item_handling.cpp
Labels: Inventory / AIM / Zones, [C++], <Bugfix>, Mechanics: Character / Player

#51308 Update json, remove obsolete code and add new values
  data/json/effect_on_condition.json
  data/json/items/tool/science.json
  data/json/weather_type.json
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
  src/dialogue.h
  src/npctalk.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/talker_monster.cpp
  src/talker_monster.h
Labels: [JSON], [C++], Mechanics: Effects / Skills / Stats, Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player

#51330 add bra uncraft
  data/json/recipes/armor/torso.json
  data/json/uncraft/armor.json
Labels: [JSON], Crafting / Construction / Recipes

#51340 Make more parameters a const reference
  src/activity_handlers.h
  src/martialarts.cpp
Labels: Code: Performance, [C++], Code: Infrastructure / Style / Static Analysis

#51354 Update TFLAG_SEALED in action.cpp
  src/action.cpp
Labels: (P2 - High), [C++], <Bugfix>

#51342 De-bloat Character, part 4 of X: Factor out suffer_* functions
  src/character.h
  src/suffer.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51345 Highlight holsters that an item can be stored in
  src/item.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Inventory / AIM / Zones, [C++], Quality of Life, Items: Containers

#51304 Add support for partial armor coverage for monsters
  data/json/monsters/misc.json
  doc/MONSTERS.md
  src/damage.cpp
  src/damage.h
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
  src/weakpoint.cpp
  src/weakpoint.h
Labels: <Enhancement / Feature>, Game: Mechanics Change, [C++], Monsters

#51350 De-bloat Character, part 5 of X: Move wear/takeoff to character_attire.cpp
  src/character.cpp
  src/character_attire.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51347 Update No Hope mod freshwater_research_station.json
  data/mods/No_Hope/Mapgen/freshwater_research_station.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>

#51309 Prune obsolete entities from before 0.F
  data/json/itemgroups/obsolete.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/bandolier.json
  data/json/items/containers.json
  data/json/items/obsolete.json
  data/json/items/tool/explosives.json
  data/json/mapgen/zoo.json
  data/json/martialarts.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/monstergroups/obsolete.json
  data/json/monsters/obsolete.json
  data/json/npcs/classes.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/obsolete.json
  data/json/obsolete_terrains.json
  data/json/professions.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/recipe_obsolete.json
  data/json/statistics.json
  data/json/vehicleparts/obsolete.json
  data/mods/Dark-Skies-Above/mapgen/map_extras/bombed_crater.json
  data/mods/Fuji_Structures/npc/classes.json
  data/mods/Generic_Guns/bandoliers/bandolier.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/obsolete.json
  data/mods/Magiclysm/npc/TALK_FORGE_HELEN_TAVREL.json
  data/mods/Magiclysm/npc/TALK_FORGE_MERCHANT.json
  data/mods/More_Locations/refugee_faction/refugee_classes.json
  data/mods/No_Hope/Mapgen/irradiator_1.json
  data/mods/No_Hope/Mapgen/whaleys_house_river.json
  src/map_extras.cpp
  tests/effective_dps_test.cpp
  tests/iuse_actor_test.cpp
Labels: [JSON], Code: Infrastructure / Style / Static Analysis

#51364 Update lab_parking_lot.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_security.json
  data/json/mapgen/lab/lab_modular/lab_parking_lot.json
Labels: [JSON], Map / Mapgen

#51362 Add DESTROYS, PUSH_MON to albertosaurus
  data/mods/DinoMod/monsters/dinosaur.json
Labels: [JSON], Monsters, <Bugfix>, Mods: Dinoclysm

#49700 Create a makeshift pillow recipe
  data/json/construction.json
  data/json/items/generic.json
  data/json/mapgen/abandoned01.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities

#50273 vitamins do things
  data/json/effects.json
  data/json/vitamin.json
Labels: [JSON], Items: Food / Vitamins, [C++], Mechanics: Character / Player

#50511 Adding proper meth recipe
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/med.json
  data/json/recipes/chem/drugs.json
Labels: <Enhancement / Feature>, [JSON], Crafting / Construction / Recipes

#50535 Adding More Birds
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/mre.json
  data/json/items/obsolete.json
  data/json/items/resources/alien.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/bird.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
  data/json/obsolete.json
  data/json/requirements/cooking_components.json
  data/mods/DinoMod/cooking_components.json
  data/mods/Magiclysm/cooking_components.json
  data/mods/Magiclysm/recipes/recipe_potions.json
  data/mods/desert_region/desert_monstergroups.json
Labels: [JSON], Monsters

#50491 Allow hiding container contents in inventory
  data/raw/keybindings.json
  src/game.cpp
  src/game.h
  src/game_inventory.cpp
  src/game_inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item_action.cpp
  src/item_action.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/savegame_json.cpp
Labels: Info / User Interface, [C++], Quality of Life, Items: Containers

#51377 Fix recipe test - widen range, use 2 sparrow eggs not 1
  data/json/requirements/cooking_components.json
  data/mods/DinoMod/cooking_components.json
  data/mods/Magiclysm/cooking_components.json
  data/mods/Magiclysm/recipes/recipe_potions.json
  tests/comestible_test.cpp
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], <Bugfix>

#51085 Added explicit num capture state to drop/clean menus to allow numpad navigation
  data/raw/keybindings.json
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: [C++], <Bugfix>, Controls / Input

#51376 bundle of {stout branches => sticks}
  data/json/items/generic.json
Labels: Info / User Interface, [JSON], Items / Item Actions / Item Qualities, <Bugfix>

#51333 Remove obsolete documentation
  doc/MAPGEN.md
Labels: <Documentation>

#51352 De-bloat Character, part 6 of X: Move ammo, reloading, and proficiency functions to new cpp files
  src/character.cpp
  src/character_ammo.cpp
  src/character_proficiency.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51386 Radio Tower basecamp recipe fix: Screw driving quality
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_common.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>

#51368 De-bloat Character, part 7 of X: Move inventory/item stuff to character_inventory.cpp
  src/character.cpp
  src/character_inventory.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51393 fix vitC disease data
  data/json/vitamin.json
Labels: [JSON], Items: Food / Vitamins, <Bugfix>

#51372 Weakpoints (part 2): Let the player know if they hit a weakpoint
  data/json/monsters/misc.json
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/damage.h
  src/item.cpp
  src/melee.cpp
  src/monster.cpp
  src/monster.h
  src/weakpoint.cpp
  src/weakpoint.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++], Monsters, Mechanics: Effects / Skills / Stats

#51388 NPCs keep track of total sales
  doc/NPCs.md
  src/condition.cpp
  src/debug_menu.cpp
  src/game.cpp
  src/npc.h
  src/npctalk.cpp
  src/npctalk_funcs.cpp
  src/npctrade.cpp
  src/npctrade.h
  src/savegame_json.cpp
  src/talker.h
  src/talker_npc.cpp
  src/talker_npc.h
Labels: NPC / Factions

#51285 [CR] Add steeltoed shoes
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/military.json
  data/json/items/armor/boots.json
  data/json/mapgen/cs_market_small.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_lab.json
  data/json/npcs/NC_BOUNTY_HUNTER.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Fatima_Al_Jadir.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/recipes/recipe_deconstruction.json
  data/mods/Aftershock/itemgroups/clothing_group.json
Labels: <Enhancement / Feature>, Game: Balance, [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, <Bugfix>

#51369 De-bloat Character, part 8 of X: Move armor function defs to character_armor.cpp
  src/character.cpp
  src/character_armor.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51399 Fix typos. Re #50511
  data/json/items/chemicals_and_resources.json
Labels: [JSON], <Bugfix>

#51418 Create no_fungal_growth mod
  data/mods/no_fungal_growth/modinfo.json
Labels: Game: Balance, [JSON], Mods, Monsters

#51411 Adjust cannibal trait cost
  data/json/mutations/mutations.json
Labels: Mutations / Traits / Professions

#51406 Make Gozu and Amigara yield demihuman meat
  data/json/harvest.json
  data/json/monsters/nether.json
Labels: [JSON], Items: Food / Vitamins, Mutations / Traits / Professions, Monsters, <Bugfix>

#51407 Workaround for heavy slowdown caused by eager evaluation of debug message strings
  src/monster.cpp
Labels: Code: Performance, Translation, [C++], <Bugfix>

#51397 Meatarian and vegetarian hobbies update.json
  data/json/hobbies.json
Labels: Mutations / Traits / Professions

#51391 Added Sweets cookbook to various itemgroups
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/books.json
  data/json/itemgroups/collections_domestic.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, <Bugfix>

#51382 Aftershock: Stratoscomm Relay Station
  data/mods/Aftershock/itemgroups/food_groups.json
  data/mods/Aftershock/itemgroups/kitchen_groups.json
  data/mods/Aftershock/itemgroups/tool_groups.json
  data/mods/Aftershock/maps/furniture_and_terrain/furniture_habitat.json
  data/mods/Aftershock/maps/mapgen/stratoscomm_relay.json
  data/mods/Aftershock/maps/mapgen_pallete/afs_habitat_structure.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/Aftershock/maps/overmap_terrain.json
Labels: [JSON], Map / Mapgen, Spawn, Mods: Aftershock

#51370 Add switch for item spawn
  data/json/mapgen/lab/lab_modular/lab_1x1_security.json
Labels: [JSON], Map / Mapgen

#51385 Fix bug when grabbing a vehicle
  src/grab.cpp
Labels: Vehicles, [C++], <Bugfix>

#51402 Deduplicate some code
  src/game.cpp
Labels: Inventory / AIM / Zones, [C++], Code: Infrastructure / Style / Static Analysis, Items: Containers

#51349 Debug menu change knowledge level
  src/debug_menu.cpp
  src/debug_menu.h
  src/wish.cpp
Labels: <Enhancement / Feature>, [C++], Mechanics: Effects / Skills / Stats, Code: Debug

#51080 Overwrite tiles with same id
  src/cata_tiles.cpp
  src/cata_tiles.h
Labels: Mods, SDL: Tiles / Sound, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis

#51404 Weakpoints (Part 2.1): Ignore weakpoints for item DPS calculations
  data/json/monsters/zed_soldiers.json
  src/item.cpp
  tests/effective_dps_test.cpp
Labels: Code: Tests, [C++], <Bugfix>

#51433 Update furniture-alien.json
  data/json/furniture_and_terrain/furniture-alien.json
Labels: [JSON], Fields / Furniture / Terrain / Traps

#51428 Fix random hobbies adding traits
  src/avatar.cpp
  src/avatar.h
Labels: Mutations / Traits / Professions, Character / World Generation

#51424 Generic Guns json fixes
  data/mods/Generic_Guns/gunmods/gg_gunmods_blacklist.json
  data/mods/Generic_Guns/gunmods/gg_gunmods_migration.json
  data/mods/Generic_Guns/recipes/recipes_deconstruction.json
Labels: Mods: Generic Guns

#51439 Display name of loaded ammo instead of ammo type
  src/item.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++], Items: Ammo, Quality of Life

#51441 If want successful test output, include messages
  tests/test_main.cpp
Labels: <Enhancement / Feature>, Code: Tests, [C++]

#51381 Fix NC_JUNK_SHOPKEEP item list.
  data/json/npcs/NC_JUNK_SHOPKEEP.json
Labels: [JSON], Spawn, Items / Item Actions / Item Qualities, <Bugfix>

#51446 Fix crossbow bolt length
  data/json/items/ranged/crossbows.json
Labels: [JSON], <Bugfix>, Items: Archery, Items: Containers

#51321 Casting mold tool. Expanded bronze recipe
  data/json/items/tool/metalworking.json
  data/json/recipes/other/materials.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: <Enhancement / Feature>, [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, <Bugfix>

#51453 Update Tilesets 2021-09-07
  gfx/ChibiUltica/ChibiTallMonster.png
  gfx/ChibiUltica/fillerhoder.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/incomplete_tall.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tallmonsters.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/incomplete_tall.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound

#51313 Migrate creature positions to absolute tripoints
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/creature_tracker.cpp
  src/creature_tracker.h
  src/debug_menu.cpp
  src/do_turn.cpp
  src/editmap.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/game.h
  src/gamemode_defense.cpp
  src/gamemode_tutorial.cpp
  src/iuse.cpp
  src/lightmap.cpp
  src/magic_spell_effect.cpp
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/mattack_actors.cpp
  src/monattack.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/newcharacter.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/npctalk_funcs.cpp
  src/overmapbuffer.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/start_location.cpp
  src/start_location.h
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
  src/weather.cpp
  tests/monster_attack_test.cpp
  tests/monster_test.cpp
  tests/test_main.cpp
  tests/throwing_test.cpp
  tests/visitable_remove_test.cpp
Labels: NPC / Factions, [C++], Monsters, Code: Infrastructure / Style / Static Analysis, Mechanics: Character / Player

#51447 Change item list highlight color to white
  src/game.cpp
Labels: Info / User Interface, Accessibility, [C++], <Bugfix>, PUBLIC TEST

#51373 I have begun a holey crusade
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_skeletal.json
  data/json/monsters/zed_soldiers.json
Labels: Game: Balance, Monsters

#51444 Always show dragged vehicle contents in AIM
  src/advanced_inv_pane.cpp
  src/advanced_inv_pane.h
Labels: Info / User Interface, Vehicles, Inventory / AIM / Zones, [C++], <Bugfix>

#51458 Add the "mayfail" flag to the fire spreading test
  tests/field_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps

#51462 Rewrite Medieval Swordsmanship: Try 3
  data/json/items/book/martial.json
  data/json/martialarts.json
  data/json/techniques.json
Labels: Game: Balance, [JSON], <Bugfix>, Melee

#50948 Jsonize Pet Food
  data/json/item_actions.json
  data/json/items/comestibles/other.json
  data/json/monsters/bird.json
  data/json/monsters/mammal.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/nether.json
  data/mods/Aftershock/mobs/PrepPhyle_mobs.json
  data/mods/Aftershock/mobs/aliens.json
  data/mods/Dark-Skies-Above/monsters/alien_fauna.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/Magiclysm/monsters/monsters.json
  data/mods/TEST_DATA/monsters.json
  data/mods/desert_region/desert_mammal.json
  data/mods/desert_region/desert_monsters.json
  doc/JSON_INFO.md
  doc/MONSTERS.md
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/character.cpp
  src/consumption.cpp
  src/item_factory.cpp
  src/itype.h
  src/iuse.cpp
  src/iuse.h
  src/monexamine.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: [JSON], Items: Food / Vitamins, [C++], Monsters, Code: Infrastructure / Style / Static Analysis

#51276 Enable effect_on_conditions to affect npcs
  data/json/effect_on_condition.json
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/condition.cpp
  src/condition.h
  src/consumption.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/do_turn.cpp
  src/effect_on_condition.cpp
  src/effect_on_condition.h
  src/game.cpp
  src/game.h
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/npc.cpp
  src/npctalk.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/weather.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [C++], Mechanics: Effects / Skills / Stats, Code: Infrastructure / Style / Static Analysis

#51272 Refactor inventory_multiselector
  data/raw/keybindings.json
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: <Enhancement / Feature>, Inventory / AIM / Zones, [C++], Code: Infrastructure / Style / Static Analysis, Items: Containers

#51208 added run, crouch, bleed status icons for RetroDays sees_player_retro mod
  data/mods/sees_player_retro/mod_tileset.json
  data/mods/sees_player_retro/modinfo.json
  data/mods/sees_player_retro/sees_player_retro.png
Labels: [JSON], Mods, SDL: Tiles / Sound, Mechanics: Effects / Skills / Stats

#51317 Support for mutable overmap specials and unhardcode anthills
  data/json/overmap/overmap_mutable/anthill.json
  data/json/overmap/special_locations.json
  doc/OVERMAP.md
  src/all_enum_values.h
  src/omdata.h
  src/overmap.cpp
  src/overmap.h
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/savegame.cpp
  src/sdltiles.cpp
  src/sets_intersect.h
  tests/overmap_test.cpp
Labels: [JSON], Map / Mapgen, [C++], Code: Infrastructure / Style / Static Analysis

#51478 Let Debug characters use the debug menu hassle-free
  src/debug_menu.cpp
Labels: <Enhancement / Feature>, [C++], Quality of Life, Code: Debug

#51442 Allow refueling smokers & furniture from tiles in pickup range
  src/iexamine.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, Quality of Life, Items: Containers

#51365 Lupine Persistence Hunter Mutations
  data/json/mutations/mutations.json
Labels: Mutations / Traits / Professions

#51460 Actually throttle monster thinking
  src/monmove.cpp
Labels: Game: Balance, [C++], Monsters, <Bugfix>, PUBLIC TEST

#51466 Decouple save file name from Character::name
  src/avatar.h
  src/character.h
  src/debug_menu.cpp
  src/do_turn.cpp
  src/game.cpp
  src/game.h
  src/main_menu.cpp
  src/newcharacter.cpp
  src/savegame_json.cpp
  src/worldfactory.cpp
  src/worldfactory.h
Labels: <Enhancement / Feature>, [C++], Character / World Generation, Code: Debug

#51494 Fix compilation errors related to cube_direction operators
  src/overmap.cpp
Labels: (P2 - High), [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis

#48548 Rabbit Mutation Category
  data/json/items/comestibles/mutagen.json
  data/json/mutations/mutation_category.json
  data/json/mutations/mutations.json
  data/json/recipes/chem/mutagens.json
Labels: [JSON], Mutations / Traits / Professions

#51485 Standardize "emergency" lockpicks made from whatever is on hand
  data/json/items/armor/jewelry.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool_armor.json
  data/json/recipes/tools/tool.json
Labels: Game: Balance, [JSON], Items / Item Actions / Item Qualities

#51498 Make paper soft so it will fit in small pockets
  data/json/materials.json
  doc/JSON_INFO.md
Labels: <Documentation>, [JSON], Items / Item Actions / Item Qualities

#51476 Add and use t_ladder_up_down
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/mapgen/farm_2side.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen/radio_tower.json
  data/json/mapgen/ranch_camp.json
  data/json/mapgen/ws_fire_lookout_tower.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/mapgen_palettes/underwater_structures_palette.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, Quality of Life

#51488 Remove left-over parkour mutation references
  data/json/npcs/starting_traits.json
  data/mods/Aftershock/npcs/Backgrounds/trait_groups.json
  data/mods/Aftershock/npcs/mutant_npcs/trait_groups.json
  data/mods/Magiclysm/items/enchanted_boots.json
  data/mods/Magiclysm/items/enchanted_cloaks.json
  data/mods/Magiclysm/npc/trait_groups.json
  data/mods/Mutant_NPCs/trait_groups.json
  data/mods/No_Hope/NPC/trait_groups.json
Labels: [JSON], Mutations / Traits / Professions, <Bugfix>

#51487 Make atm cash deposit work with stacked currency
  src/iexamine.cpp
Labels: [C++], Items / Item Actions / Item Qualities, <Bugfix>, Fields / Furniture / Terrain / Traps

#51473 Update .gitignore
  .gitignore
Labels: Code: Build, Organization, Organization: Sites

#51497 Fix more compilation errors in overmap.cpp
  src/overmap.cpp
Labels: (P2 - High), OS: Windows, [C++], <Bugfix>

#48744 Add storage rings, fix item length calculation for containers with volume_multiplier
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/enchanted_rings.json
  src/item.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
Labels: <Enhancement / Feature>, Mods: Magiclysm

#51435 Issue #51265 (issue in zoo_1_1 map i.e, salt and fresh water should not coexist).
  data/json/mapgen/zoo.json
  data/mods/DinoMod/mapgen/zoo.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, Mods: Dinoclysm

#51223 Jsonize monster speed description
  data/json/speed_descriptions.json
  data/mods/TEST_DATA/monsters.json
  data/mods/TEST_DATA/speed_descriptions.json
  doc/JSON_INFO.md
  doc/MONSTERS.md
  lang/extract_json_strings.py
  src/init.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.h
  src/speed_description.cpp
  src/speed_description.h
  src/string_id_null_ids.cpp
  src/type_id.h
  tests/speed_description_test.cpp
Labels: Info / User Interface, [JSON], [C++], Monsters

#51499 Added, and adjusted fursuits and their protection values and rarity
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/suits_clothes.json
Labels: <Enhancement / Feature>, Game: Balance, [JSON], Spawn, Items / Item Actions / Item Qualities, <Bugfix>

#51450 Take control of and play as NPC followers
  src/avatar.cpp
  src/avatar.h
  src/character.cpp
  src/character.h
  src/debug_menu.cpp
  src/debug_menu.h
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, Game: Mechanics Change, [C++], Code: Debug

#51431 Check mapgen dimensions
  data/json/mapgen/airliner.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_log.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_rock.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_standard.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_wad.json
  data/json/mapgen/basecamps/modular_shelter_2/modular_shelter_2_wood.json
  data/json/mapgen/basecamps/primitive_field.json
  data/json/mapgen/bike_shop.json
  data/json/mapgen/campus/buildings/admin_f0.json
  data/json/mapgen/campus/buildings/media_f0.json
  data/json/mapgen/campus/buildings/media_f1.json
  data/json/mapgen/campus/buildings/media_f2.json
  data/json/mapgen/campus/buildings/media_f3.json
  data/json/mapgen/campus/buildings/media_roof.json
  data/json/mapgen/church.json
  data/json/mapgen/farm.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/irradiator_1.json
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/mapgen/isherwood_farms/farm_isherwood.json
  data/json/mapgen/lab/lab_modular/lab_1x1_security.json
  data/json/mapgen/lab/lab_modular/lab_central_hallway.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_commercial.json
  data/json/mapgen/lab/lab_rooms.json
  data/json/mapgen/mall/mall_second_floor.json
  data/json/mapgen/nested/city_npc_nested_spawns.json
  data/json/mapgen/nested/lodge_nested.json
  data/json/mapgen/nested/retail_nested.json
  data/json/mapgen/parking_lot.json
  data/json/mapgen/triffid/triffid_fields.json
  data/json/mapgen/triffid/triffid_grove.json
  data/json/mapgen/triffid/triffid_heart.json
  data/json/mapgen/triffid/triffid_roots.json
  data/json/mapgen/ws_regional_dump.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  data/json/recipes/basecamps/recipe_primitive_field.json
  data/mods/DinoMod/mapgen/church.json
  data/mods/Magiclysm/worldgen/magic_academy.json
  data/mods/No_Hope/Mapgen/bike_shop.json
  data/mods/No_Hope/Mapgen/city_npc_nested_spawns.json
  data/mods/No_Hope/Mapgen/dairy_farm_isherwood.json
  data/mods/No_Hope/Mapgen/farm_isherwood.json
  data/mods/No_Hope/Mapgen/hotel_tower.json
  data/mods/No_Hope/Mapgen/irradiator_1.json
  data/mods/No_Hope/Mapgen/lab_rooms.json
  data/mods/No_Hope/Mapgen/mall_second_floor.json
  data/mods/No_Hope/Mapgen/ws_regional_dump.json
  src/mapgen.cpp
  src/mapgen.h
  src/overmap.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, Code: Debug

#51511 Fix documentation and global dialog bug.
  doc/MAGIC.md
  src/condition.cpp
Labels: <Documentation>, NPC / Factions, [C++], <Bugfix>

#51507 Add cata_fatal macro
  src/achievement.cpp
  src/activity_handlers.cpp
  src/addiction.cpp
  src/advanced_inv.cpp
  src/bodypart.cpp
  src/calendar.cpp
  src/cata_assert.h
  src/character.cpp
  src/computer.cpp
  src/craft_command.cpp
  src/crash.cpp
  src/damage.cpp
  src/debug.h
  src/enum_conversions.h
  src/event.cpp
  src/event.h
  src/field_type.cpp
  src/gamemode_tutorial.cpp
  src/item_factory.cpp
  src/item_group.cpp
  src/item_pocket.cpp
  src/itype.cpp
  src/magic.cpp
  src/magic_enchantment.cpp
  src/map_extras.cpp
  src/mapdata.cpp
  src/mission.cpp
  src/missiondef.cpp
  src/monstergenerator.cpp
  src/mutation.cpp
  src/mutation_data.cpp
  src/overmap.cpp
  src/player_display.cpp
  src/relic.cpp
  src/scores_ui.cpp
  src/sounds.cpp
  src/stats_tracker.cpp
  src/trapfunc.cpp
  src/ui.cpp
  src/vitamin.cpp
  src/weather_type.cpp
  src/widget.cpp
  tests/activity_scheduling_helper.cpp
  tests/test_main.cpp
  tools/clang-tidy-plugin/AssertCheck.cpp
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/UseNamedPointConstantsCheck.cpp
  tools/clang-tidy-plugin/UsePointArithmeticCheck.cpp
  tools/clang-tidy-plugin/test/assert.cpp
Labels: <Enhancement / Feature>, [C++], Code: Infrastructure / Style / Static Analysis, Code: Debug

#51506 Fix unused variable warning caused by cata_assert
  src/cata_assert.h
Labels: Code: Build, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis

#51504 Better debugging for mutable special placement
  src/overmap.cpp
Labels: Map / Mapgen, [C++], Code: Debug

#51495 Clarify mon_dragonfly_mega description
  data/json/monsters/insect_spider.json
Labels: [JSON], Monsters, <Bugfix>

#51448 Npc occupied chair check
  src/npcmove.cpp
Labels: NPC / Factions, [C++], <Bugfix>, Player Faction Base / Camp

#51259 Add code to check for irregular plural forms
  doc/JSON_INFO.md
  doc/MONSTERS.md
  doc/TRANSLATING.md
  src/cached_options.cpp
  src/cached_options.h
  src/game.cpp
  src/generic_factory.h
  src/item_factory.cpp
  src/translations.cpp
  tests/json_test.cpp
  tests/test_main.cpp
Labels: Translation, Code: Tests, [C++], <Bugfix>

#51519 [Dark Skies] Harvestable Poppies
  data/mods/Dark-Skies-Above/overrides/furniture_terrain/outdoor-furniture.json
Labels: [JSON], <Bugfix>, Mods: Dark Skies

#50664 Restores unavailable saltworks blueprints and recipes
  data/json/items/comestibles/brewing.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_log.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_metal.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_stone.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_wad.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_wood.json
  data/json/recipes/food/brewing.json
  data/json/recipes/food/distill.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Player Faction Base / Camp

#50341 NPCs.
  data/json/npcs/godco/NPC_Chloe_Taylor_King.json
  data/json/npcs/godco/NPC_Sonia_Greene.json
  data/json/npcs/godco/NPC_Zachary_Montes.json
Labels: NPC / Factions, [JSON]

#51508 Report cross compiler version in build.sh
  build-scripts/build.sh
  build-scripts/requirements.sh
Labels: <Enhancement / Feature>, OS: Windows, Code: Tests, <Bugfix>

#51375 Added basic weakpoint unittest
  tests/weakpoint_test.cpp
Labels: <Enhancement / Feature>, Code: Tests, [C++]

#51138 E-ink tablet displays copied recipes from ebooks and SD-cards
  src/item.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Crafting / Construction / Recipes, [C++], Items / Item Actions / Item Qualities

#51529 Make monster::power_rating() use is_ranged_attacker()
  src/monster.cpp
Labels: [C++], Monsters, <Bugfix>, Ranged

#51545 Fix overmap data missing on load
  src/game.cpp
Labels: Map / Mapgen, [C++], (P1 - Critical), <Bugfix>

#51516 Add wind turbine map special
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/mapgen/wind_turbine.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: <Enhancement / Feature>, [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps

#49951 [Aftershock] Arcology First Floor
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/mods/Aftershock/itemgroups/arcology_groups.json
  data/mods/Aftershock/maps/city_buildings.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_floraxeno.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_groundxeno.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/arcology_ground.json
  data/mods/Aftershock/maps/mapgen_pallete/arcology.json
  data/mods/Aftershock/maps/nested/arcology/arcology_chunks.json
  data/mods/Aftershock/maps/nested/arcology/arcology_gate_chunks.json
  data/mods/Aftershock/maps/overmap_terrain.json
  src/computer.cpp
  src/computer.h
  src/computer_session.cpp
  src/computer_session.h
Labels: [JSON], Map / Mapgen, Mods: Aftershock

#51475 Allow using unicode characters in world names regardless of system language on Windows 10 1903 and newer versions
  Makefile
  data/application_manifest.xml
  src/CMakeLists.txt
  src/filesystem.cpp
  src/filesystem.h
  src/resource.rc
Labels: OS: Windows, [C++]

#50286 Make `weapon` private
  src/action.cpp
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/advanced_inv_pane.cpp
  src/avatar.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/character_martial_arts.cpp
  src/crafting.cpp
  src/debug_menu.cpp
  src/explosion.cpp
  src/faction.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/gamemode_tutorial.cpp
  src/handle_action.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic.cpp
  src/martialarts.cpp
  src/mattack_actors.cpp
  src/melee.cpp
  src/memorial_logger.cpp
  src/monattack.cpp
  src/mondefense.cpp
  src/monexamine.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npc_attack.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctrade.cpp
  src/pickup.cpp
  src/player_hardcoded_effects.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/sounds.cpp
  src/suffer.cpp
  src/talker_character.cpp
  src/talker_npc.cpp
  src/weather.cpp
  tests/active_item_test.cpp
  tests/char_suffer_test.cpp
  tests/crafting_test.cpp
  tests/invlet_test.cpp
  tests/item_test.cpp
  tests/melee_test.cpp
  tests/npc_attack_test.cpp
  tests/player_activities_test.cpp
  tests/ranged_balance_test.cpp
  tests/reloading_test.cpp
  tests/unload_naked_test.cpp
  tests/unseal_and_spill_test.cpp
  tests/vehicle_part_test.cpp
  tests/visitable_remove_test.cpp
  tests/wield_times_test.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis

#51526 load a second tileset for overmap
  src/game.cpp
  src/options.cpp
  src/sdltiles.cpp
  src/sdltiles.h
Labels: <Enhancement / Feature>, Map / Mapgen, SDL: Tiles / Sound, [C++]

#51541 Improve display of recipes from books
  src/avatar.cpp
  src/item.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Crafting / Construction / Recipes, [C++], Items / Item Actions / Item Qualities, Mechanics: Effects / Skills / Stats, <Bugfix>

#51518 Add practice recipe for basic leatherworking
  data/json/recipes/practice/tailoring.json
  doc/JSON_INFO.md
  doc/PRACTICE_RECIPES.md
Labels: <Documentation>, [JSON], Crafting / Construction / Recipes

#51552 Update Tileset 2021-09-12
  gfx/ChibiUltica/ChibiNormalCharacter.png
  gfx/ChibiUltica/ChibiNormalMonster.png
  gfx/ChibiUltica/ChibiTallOverlay.png
  gfx/ChibiUltica/ChibiWideMonster.png
  gfx/ChibiUltica/ChibismallMonster.png
  gfx/ChibiUltica/fillerhoder.png
  gfx/ChibiUltica/huge.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tallcommon.png
  gfx/ChibiUltica/tallfurniture.png
  gfx/ChibiUltica/tallmonsters.png
  gfx/ChibiUltica/tallterrain.png
  gfx/ChibiUltica/tallvehicle.png
  gfx/ChibiUltica/tile_config.json
  gfx/ChibiUltica/widemonsters.png
  gfx/ChibiUltica/widevehicle.png
  gfx/MshockXotto+/overmap.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound

#51512 Update the table of contents in doc/JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>
