Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2021-07, with the labels that each got.

#49511 Fix some incorrect weapon recipe categories
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Melee

#49516 Forgot two files in the last Tileset update
  gfx/ChibiUltica/ChibiHugeAftershockMonster.png
  gfx/MshockXotto+/huge.png
Labels: SDL: Tiles / Sound

#49505 Just wanna rebuild releases page
  .gitignore
Labels: (P2 - High), <Bugfix>, Organization: Sites

#49515 balance point cost of starting mana traits
  data/mods/Magiclysm/traits/mutation.json
Labels: Game: Balance, Mods: Magiclysm, Mutations / Traits / Professions, [JSON]

#49519 fix battery cbms
  src/character.cpp
  src/consumption.cpp
Labels: (P2 - High), <Bugfix>, Bionics

#49508 Fix map extras debug menu
  src/map_extras.cpp
Labels: <Bugfix>, Map / Mapgen

#49514 Nerf baselard and bone shiv damage
  data/json/items/melee/swords_and_blades.json
  tests/effective_dps_test.cpp
Labels: Game: Balance, Melee, [JSON]

#49501 Add a highlights section to changelog.
  data/changelog.txt
Labels: Other

#49502 [BLAZE] Add Electrolysis kit to kitchen and cooking rigs
  data/mods/BlazeIndustries/recipes/blaze_other_recipes.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
Labels: Crafting / Construction / Recipes, Mods, Vehicles, [JSON]

#49528 fix enchantment saving code
  src/calendar.cpp
  src/calendar.h
  src/magic_enchantment.cpp
Labels: <Bugfix>, Mechanics: Enchantments / Spells

#49518 Small changes to washboards. Now heavier but actually slightly smaller.
  data/json/items/tool/toileteries.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#49537 Fix incorrect conditional name of smoked wasteland sausage
  data/json/items/comestibles/meat_dishes.json
Labels: 0.F Backport Candidate, <Bugfix>, [JSON]

#49513 Fix Cut Logs faction camp mission difficulty disp.
  src/faction_camp.cpp
Labels: 0.F String Freeze, <Bugfix>, [C++]

#49520 Add missing proficiencies to recipes
  data/json/recipes/armor/storage.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/ranged.json
Labels: Crafting / Construction / Recipes, [JSON]

#47291 Expand effects infrastructure to vitamins and death
  data/mods/TEST_DATA/effects.json
  data/mods/TEST_DATA/items.json
  data/mods/TEST_DATA/vitamins.json
  doc/EFFECTS_JSON.md
  lang/extract_json_strings.py
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/creature.cpp
  src/creature.h
  src/effect.cpp
  src/effect.h
  src/init.cpp
  src/savegame_json.cpp
  tests/effect_test.cpp
  tests/player_helpers.cpp
Labels: 0.F Feature Freeze, Code: Infrastructure / Style / Static Analysis, Items: Food / Vitamins, Mechanics: Effects / Skills / Stats, [C++]

#49493 Corn recipes and two casseroles
  data/json/itemgroups/SUS/domestic.json
  data/json/items/comestibles/casseroles.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/corn.json
Labels: 0.F String Freeze, Crafting / Construction / Recipes, Items: Food / Vitamins

#48669 medical zombies
  data/json/monsterdrops/zombie_medical.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monstergroups/zombies.json
  data/json/monsters/zed-medical.json
Labels: 0.F Content Freeze, Monsters, Spawn, [JSON]

#49428 New Book abstract and Anthology books
  data/json/itemgroups/SUS/library.json
  data/json/items/book/abstract.json
  data/json/items/book/anthology.json
Labels: 0.F String Freeze, Items / Item Actions / Item Qualities, Spawn, [JSON]

#49211 Add lesser magic items to pawn and hunting itemgroups
  data/mods/Magiclysm/itemgroups/itemgroups.json
Labels: Mods: Magiclysm, Spawn

#48798 Add "full" cosmetic variant to doors and windshields
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/windshields.json
  data/json/vehicles/vans_busses.json
Labels: 0.F Content Freeze, SDL: Tiles / Sound

#49534 Made Tea batch crafting mod equal to boiling plain water
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items: Food / Vitamins, Time / Turns / Duration / Date

#49414 Make hot sauce drinkable
  data/json/item_spell_effects.json
  data/json/items/comestibles/spice.json
Labels: 0.F Content Freeze, Items: Food / Vitamins, Mechanics: Effects / Skills / Stats

#49390 Aftershock vehicle cleanup and Blaze Industries vehicle migration.
  data/json/vehicles/cars.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/vehicles/vehicles.json
  data/mods/BlazeIndustries/items/gun/grenade.json
  data/mods/BlazeIndustries/items/items.json
  data/mods/BlazeIndustries/items/materials.json
  data/mods/BlazeIndustries/vehicleparts/vehicle_parts.json
  data/mods/BlazeIndustries/vehicles/part_items.json
  data/mods/BlazeIndustries/vehicles/vehicles.json
Labels: <Bugfix>, Mods: Aftershock, SDL: Tiles / Sound, Vehicles

#49548 Fix typo in gun_crossbow recipe
  data/json/recipes/weapon/mods.json
Labels: (P2 - High), <Bugfix>, [JSON]

#47801 Unhardcode bionics that can't be removed.
  data/json/bionics.json
  data/json/obsolete.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/bionics.h
Labels: 0.F Feature Freeze, 0.F String Freeze, Bionics, [C++]

#47956 Make "just for fun" books that you haven't read yet a lighter red
  data/json/items/book/misc.json
  data/json/recipes/recipe_others.json
  src/item.cpp
Labels: 0.F Feature Freeze, Info / User Interface, Quality of Life, [C++]

#48662 When telling NPCs to read something, include all columns in the 'choose a book' popup
  src/avatar.cpp
  src/avatar.h
  src/game_inventory.cpp
  src/player.cpp
  src/player.h
Labels: 0.F String Freeze, <Bugfix>, Info / User Interface, NPC / Factions

#47881 Made windmills able to grind up dried rice, cooked acorn meal, and roasted cattail rhizome into flour
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/veggy_dishes.json
Labels: 0.F Feature Freeze, <Bugfix>, <Suggestion / Discussion>, Crafting / Construction / Recipes, [JSON]

#43144 Expand generic factory to include relative and proportional support.
  src/cata_void.h
  src/generic_factory.h
Labels: 0.F Feature Freeze, Code: Infrastructure / Style / Static Analysis, [C++], [JSON]

#44751 Start zombie bash gaieties
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/savegame_json.cpp
  src/sounds.cpp
Labels: 0.F Feature Freeze, <Enhancement / Feature>, Game: Mechanics Change, Monsters, [C++]

#48343 [DinoMod] The Bone Wars
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/obsolete/monsters.json
Labels: Mods: Dinoclysm, Monsters, [JSON]

#49562 Fix plural of some strings; remove duplicate json entry
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/gun/223.json
  data/json/monsters/zed-medical.json
  data/mods/Dark-Skies-Above/overrides/monsters.json
  data/mods/Magiclysm/monsters/forgedwellers.json
Labels: <Bugfix>, [JSON]

#49565 Add version to debugmsg
  src/debug.cpp
Labels: Info / User Interface, [C++]

#49543 Only apply disabled effect for main bodyparts
  src/bionics.cpp
  src/iuse.cpp
  src/suffer.cpp
Labels: 0.F Backport Candidate, <Bugfix>, [C++]

#49468 Add car crash scenario.
  data/json/scenarios.json
  data/json/start_locations.json
Labels: 0.F Content Freeze, 0.F String Freeze, Scenarios

#45012 [CR] New side story: Meteorologist
  data/json/items/generic.json
  data/json/mapgen/nested/npc_nested_spawns.json
  data/json/mapgen/station_radio.json
  data/json/npcs/BG_traits.json
  data/json/npcs/Backgrounds/backgrounds_table_of_contents.json
  data/json/npcs/Backgrounds/meteorologist.json
  data/json/npcs/other/meteorologist.json
Labels: 0.F Content Freeze, 0.F String Freeze, NPC / Factions, [JSON]

#49185 Ransack vending machines only in public places
  data/json/mapgen/bike_shop.json
  data/json/mapgen/bus_station.json
  data/json/mapgen/city_blocks/urban_14_dense_house_mart_food.json
  data/json/mapgen/field_football.json
  data/json/mapgen/garage_gas.json
  data/json/mapgen/helipad.json
  data/json/mapgen/homeless_shelter.json
  data/json/mapgen/hospital.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/junkyard.json
  data/json/mapgen/mall/mall_basement.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/marina.json
  data/json/mapgen/motel.json
  data/json/mapgen/movie_theater.json
  data/json/mapgen/musicstore.json
  data/json/mapgen/nested/retail_nested.json
  data/json/mapgen/office_cubical.json
  data/json/mapgen/office_tower_2.json
  data/json/mapgen/park.json
  data/json/mapgen/pharmacy.json
  data/json/mapgen/railroad/railroad_station.json
  data/json/mapgen/regional_airport.json
  data/json/mapgen/reststop.json
  data/json/mapgen/s_gas.json
  data/json/mapgen/s_hardware.json
  data/json/mapgen/school_1.json
  data/json/mapgen/smoke_lounge.json
  data/json/mapgen/storage_units_large.json
  data/json/mapgen/storage_units_medium.json
  data/json/mapgen/store/s_games.json
  data/json/mapgen/sub_station.json
  data/json/mapgen/thrift.json
  data/json/mapgen/town_hall.json
  doc/MAPGEN.md
  src/map.h
  src/mapgen.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#47840 gave peanut butter some much needed love
  data/json/recipes/food/frozen.json
  data/json/recipes/recipe_food.json
  tests/iteminfo_test.cpp
Labels: 0.F Content Freeze, Crafting / Construction / Recipes, [JSON]

#47914 [Magiclysm]Can cast spells with components in hand
  src/activity_handlers.cpp
  src/handle_action.cpp
  src/magic.cpp
  src/magic.h
Labels: <Bugfix>, Mods: Magiclysm, [C++]

#48524 New mod for more mutation scenarios
  data/json/mutations/mutations.json
  data/mods/extra_mut_scen/modinfo.json
  data/mods/extra_mut_scen/mutation_scenarios.json
Labels: 0.F Content Freeze, 0.F String Freeze, Character / World Generation, Mods, Mutations / Traits / Professions

#48607 Mapgen road connections improved in the absence of overmap cities
  src/overmap.cpp
Labels: <Bugfix>, Map / Mapgen, [C++]

#48882 Fix magiclysm 1L V-Twin Engine has infinite fuel
  data/mods/Magiclysm/items/vehicle/vehicle_parts.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
Labels: 0.F Backport Candidate, 0.F Content Freeze, <Bugfix>, Mods: Magiclysm

#49559 Add belt clip ability to webbing belt
  data/json/items/armor/belts.json
Labels: [JSON]

#45787 Lowered encumbrance and tweaked belts
  data/json/items/armor/belts.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#49568 Add back legacy wheel definitions
  data/json/obsolete.json
Labels: 0.F Backport Candidate, <Bugfix>

#45863 Content: More Sokoban levels
  data/raw/sokoban-nethack.license.txt
  data/raw/sokoban.txt
Labels: 0.F Content Freeze, [JSON]

#49583 Update MSXotto to include some overmap sprites
  gfx/ChibiUltica/ChibiLargeMonster.png
  gfx/ChibiUltica/ChibiNormalMonster.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/overmapFiller.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
Labels: SDL: Tiles / Sound

#46989 player::takeoff rewrite to use item_location
  src/activity_actor.cpp
  src/armor_layers.cpp
  src/game.cpp
  src/handle_action.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/player.cpp
  src/player.h
  tests/invlet_test.cpp
  tests/melee_dodge_hit_test.cpp
Labels: 0.F Feature Freeze, Code: Infrastructure / Style / Static Analysis, [C++]

#47553 Explicitly add triffid fungicide sacks and relevant recipes.
  data/json/harvest.json
  data/json/items/chemicals_and_resources.json
  data/json/monsters/triffid.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/weapon/explosive.json
Labels: 0.F Content Freeze, 0.F String Freeze, Crafting / Construction / Recipes, Game: Balance, Monsters, [JSON]

#47606 Refactor item_contents::all_items_top and move item_contents::all_items_ptr to item
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/advanced_inv.cpp
  src/advanced_inv_pane.cpp
  src/character.cpp
  src/crafting.cpp
  src/handle_liquid.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_location.cpp
  src/item_pocket.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/map_field.cpp
  src/mission.cpp
  src/npctalk_funcs.cpp
  src/player.cpp
  src/profession.cpp
  tests/item_group_test.cpp
  tests/unseal_and_spill_test.cpp
Labels: 0.F Feature Freeze, Code: Performance, [C++]

#49587 Fix Start Location for Hunting Lodge
  data/json/start_locations.json
Labels: <Bugfix>, [JSON]

#49595 Target to Mac OS X 10.12+ in release build workflow
  .github/workflows/release.yml
Labels: 0.F Backport Candidate, Code: Build, OS: macOS

#49589 Migrate legacy wheels and fix memory corruption in vehicle deserialization
  data/json/obsolete.json
  src/savegame_json.cpp
Labels: 0.F Backport Candidate, <Bugfix>, [C++]

#49586 Hide tiles overmap behind an option
  src/cached_options.cpp
  src/cached_options.h
  src/options.cpp
  src/overmap_ui.cpp
Labels: Map / Mapgen, SDL: Tiles / Sound

#45584 Balance tactical helmets
  data/json/items/armor/helmets.json
Labels: 0.F Content Freeze, Game: Balance, [JSON]

#45758 Add beekeeping
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/items/generic.json
  data/json/recipes/tools/tools_primitive.json
Labels: 0.F Content Freeze, 0.F String Freeze, <Enhancement / Feature>, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [JSON]

#46206 Extra Applied Science Proficiencies
  data/json/proficiencies/chemistry.json
Labels: 0.F Content Freeze, 0.F String Freeze, Crafting / Construction / Recipes, [JSON]

#47880 Vacuum Forming Plastic Molds
  data/json/itemgroups/books.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/shops_trades.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/book/fabrication.json
  data/json/items/resources/plastic.json
  data/json/items/tool/workshop.json
  data/json/recipes/other/parts.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/recipes_holiday.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/tailoring.json
  data/mods/Magiclysm/recipes/mods.json
  src/requirements.cpp
  tests/crafting_test.cpp
Labels: 0.F Content Freeze, 0.F String Freeze, [JSON]

#49617 Note adding to item groups in ITEM_SPAWN.md
  doc/ITEM_SPAWN.md
Labels: <Documentation>, Mods, Spawn

#49610 Fix Car Crash start location
  data/json/start_locations.json
Labels: <Bugfix>, Map / Mapgen, Scenarios

#49609 Furniture also supports copy-from
  doc/JSON_INHERITANCE.md
Labels: <Bugfix>, <Documentation>

#49616 Aftershock: Fix the generation of formless ruins
  data/mods/Aftershock/maps/mapgen_pallete/afs_formless_ruins.json
Labels: <Bugfix>, Map / Mapgen, Mods: Aftershock, [JSON]

#49597 Allow a region overlay to set all weights to zero
  src/regional_settings.cpp
Labels: <Bugfix>, [C++]

#49591 Bugfix Zpig evolution size increased but weight didn't
  data/json/monsters/zanimal_upgrade.json
Labels: <Bugfix>

#49594 Don't overwrite format_placings from new palette (Fix various mapgen broken by #48498)
  src/mapgen.cpp
Labels: (P2 - High), <Bugfix>, Map / Mapgen, [C++]

#49600 Convert 10mm guns to variants
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/items/gun/10mm.json
  data/json/items/magazine/10mm.json
  data/json/items/migration.json
Labels: [JSON]

#49622 Make Tallon Mutation allow fingerless gloves
  data/json/items/armor/gloves.json
  data/json/mutations/mutations.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#49612 Update wording on milk jugs
  data/json/items/containers.json
Labels: <Bugfix>, [JSON]

#49599 Prophylactic antivenom pills rename
  data/json/items/comestibles/med.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#49560 Raise required level for longbow crafting from a book
  data/json/recipes/weapon/ranged.json
Labels: Crafting / Construction / Recipes, [JSON]

#49550 Colt Delta Damage
  data/json/items/gun/10mm.json
Labels: Items: Ammo, [JSON]

#49405 Add military outpost basecamp
  data/json/mapgen/basecamps/fbmc_outpost/fbmc_outpost_cross.json
  data/json/mapgen/basecamps/fbmc_outpost/fbmc_outpost_normal.json
  data/json/recipes/basecamps/fbmc_outpost/recipe_modular_outpost_cross.json
  data/json/recipes/basecamps/fbmc_outpost/recipe_modular_outpost_normal.json
  data/json/recipes/basecamps/recipe_groups.json
Labels: 0.F Content Freeze, 0.F String Freeze, Player Faction Base / Camp, [JSON]

#49601 add new furniture emitters
  data/json/furniture_and_terrain/furniture-emitters.json
Labels: Fields / Furniture / Terrain / Traps, [JSON]

#49544 [Aftershock] Welcome to Salus IV Unofficial History books
  data/mods/Aftershock/items/books.json
Labels: Mods: Aftershock, [JSON]

#49535 Aftershock: Make moxphore type enemies neutral to zombies
  data/mods/Aftershock/mobs/monster_faction.json
Labels: Mods: Aftershock, [JSON]

#49604 lab themed items & item_groups
  data/json/itemgroups/Labs/labs_common.json
  data/json/itemgroups/Labs/labs_mutagen.json
  data/json/items/generic.json
Labels: Items: Containers, [JSON]

#49602 Fix the wooden wheel mount recipe to be actually wooden.
  data/json/recipes/recipe_vehicle.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Vehicles

#48581 [Ready] Recipe for Crackers
  data/json/items/comestibles/wheat.json
  data/json/recipes/food/bread.json
Labels: Crafting / Construction / Recipes, [JSON]

#48221 (Magiclysm) Fix spell-made gear not fitting their mutant casters
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: 0.F String Freeze, <Bugfix>, Mods: Magiclysm, [JSON]

#49417 Support separate graphical tiles for sounds heard above/below visible Z level
  src/cata_tiles.cpp
  src/cata_tiles.h
Labels: 0.F Feature Freeze, SDL: Tiles / Sound, Z-levels

#49571 Fix C++ move assignment on older STL libraries
  src/player_activity.h
Labels: Code: Build, [C++]

#49527 Fixed fingerless survivor glove thickness, tidied up items and recipes for consistency
  data/json/items/armor/gloves.json
  data/json/items/migration.json
  data/json/recipes/armor/hands.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#49402 Clean convert_to_portions.py up a bit
  tools/json_tools/convert_to_portions.py
Labels: [Python]

#48864 Don't add magazines to all guns, don't show "(empty)" on unreloadable guns.
  data/json/items/gun/monster_gun.json
  src/character.cpp
  src/item_factory.cpp
Labels: <Bugfix>, Items: Ammo, Items: Battery / UPS, Items: Magazines, [C++]

#49482 Don't load 'sided' in armor_portion_data
  data/json/items/armor/holster.json
  data/json/items/armor/storage.json
  src/item_factory.cpp
  tools/json_tools/convert_to_portions.py
Labels: [C++], [JSON], [Python]

#49421 Change time to install oars from 60 m to 60 s
  data/json/vehicleparts/vehicle_parts.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Vehicles

#49401 Chitin Leg Guards and Tails
  data/json/items/armor/legs_armor.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#48797 Automated tileset coverage report
  tools/gfx_tools/tileset_coverage.py
Labels: Code: Tooling, SDL: Tiles / Sound, [Python]

#49636 Fix some JSON errors
  data/json/flags.json
  data/mods/Generic_Guns/recipes/recipes_grenade_propelled.json
Labels: <Bugfix>, [JSON]

#49553 Update lore-background.md
  lore-background.md
Labels: <Bugfix>, <Documentation>

#47451 Shocker zombies no longer drop CBMs(in vanilla)
  data/json/harvest.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_skeletal.json
  data/mods/Aftershock/itemgroups/bionics_groups.json
  data/mods/Aftershock/mobs/zombies.json
Labels: (P5 - Long-term), 0.F Content Freeze, [JSON]

#48876 New pupating zombies
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/zombie_upgrades.json
  data/json/monsters/zed-pupating.json
Labels: 0.F Content Freeze, 0.F String Freeze, Monsters

#49660 fungalize the children bugfix
  data/json/monsters/zed_children.json
Labels: <Bugfix>, Monsters, Spawn, [JSON]

#49656 Prevent dodge and block while driving
  src/character.cpp
  src/character.h
  src/melee.cpp
  src/ranged.cpp
Labels: <Bugfix>, [C++]

#49638 Allow gun variants to have plural names
  data/json/items/gun/10mm.json
  src/item_factory.cpp
Labels: <Bugfix>, [C++]

#49637 Allow using "armor" key for armor_portion_data
  data/json/items/armor/coats.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/masks.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor/winter_masks.json
  data/mods/Aftershock/items/armor/winter_suits.json
  data/mods/Aftershock/suit_operating_time.md
  data/mods/Magiclysm/items/black_dragon_items.json
  data/mods/TEST_DATA/items.json
  src/item_factory.cpp
  tools/json_tools/convert_to_portions.py
Labels: [C++], [JSON], [Python]

#49628 Update keg description to no longer errorneously suggest they can be used for fermenting
  data/json/furniture_and_terrain/furniture-storage.json
Labels: <Bugfix>, [JSON]

#49603 Correct contribute md
  .github/CONTRIBUTING.md
Labels: <Bugfix>, <Documentation>

#49554 Fix typos in design-doc.md
  design-doc.md
Labels: <Bugfix>, <Documentation>

#49538 Fix welding requirement on some recipes
  data/json/construction.json
  data/json/recipes/armor/other.json
  data/json/recipes/weapon/ranged.json
  data/mods/Generic_Guns/recipes/recipes_firearms_single.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#49605 add vehicles
  data/json/vehicles/carts.json
  data/json/vehicles/trains.json
Labels: Vehicles, [JSON]

#49531 Cleanup JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>

#49340 Add bow saw item
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/tools.json
  data/json/items/tool/woodworking.json
Labels: 0.F Content Freeze, 0.F String Freeze, Items / Item Actions / Item Qualities, [JSON]

#49546 Add bleed resistance to monsters
  data/json/monsters/cyborgs.json
  data/json/monsters/fish.json
  data/json/monsters/fungus.json
  data/json/monsters/insect_spider.json
  data/json/monsters/jabberwock.json
  data/json/monsters/marloss.json
  data/json/monsters/mi-go.json
  data/json/monsters/mutant.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/nether.json
  data/json/monsters/power_leech.json
  data/json/monsters/slimes.json
  data/json/monsters/slugs.json
  data/json/monsters/triffid.json
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed-pupating.json
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_burned.json
  data/json/monsters/zed_children.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_ferrous.json
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_radiation.json
  data/json/monsters/zed_skeletal.json
  data/json/monsters/zed_soldiers.json
  doc/MONSTERS.md
  src/character.h
  src/creature.cpp
  src/creature.h
  src/monattack.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.h
  tests/creature_effect_test.cpp
Labels: <Enhancement / Feature>, Mechanics: Effects / Skills / Stats, Monsters, [C++]

#49270 Use normal distribution to generate random height in new character screen
  src/character.cpp
  src/character.h
  src/newcharacter.cpp
Labels: Character / World Generation, [C++]

#49613 Changed time and energy to create a washboard.
  data/json/recipes/tools/tools_hand.json
Labels: Crafting / Construction / Recipes, Game: Balance, Items / Item Actions / Item Qualities

#49607 lab snippets for signs
  data/json/snippets/lab_signs.json
Labels: [JSON]

#49426 Lab rats and lab rat spawns
  data/json/monstergroups/lab.json
  data/json/monsters/mammal.json
Labels: Monsters, [JSON]

#49353 Add military helipad basecamp
  data/json/mapgen/basecamps/fbmc_helipad/fbmc_helipad_common.json
  data/json/mapgen/basecamps/fbmc_helipad/fbmc_helipad_garage.json
  data/json/overmap/overmap_terrain/overmap_terrain_faction_base.json
  data/json/recipes/basecamps/fbmc_helipad/recipe_modular_helipad_common.json
  data/json/recipes/basecamps/fbmc_helipad/recipe_modular_helipad_garage.json
  data/json/recipes/basecamps/recipe_groups.json
Labels: 0.F Content Freeze, 0.F String Freeze, Player Faction Base / Camp

#49690 Fix typo in stone.json
  data/json/items/resources/stone.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#49639 Prevent unarmed from incurring weapon penalties
  src/melee.cpp
Labels: <Bugfix>, [C++]

#49692 Add missing type to faction_base_mansion_e1
  data/json/overmap/overmap_terrain/overmap_terrain_faction_base.json
Labels: (P2 - High), <Bugfix>, [JSON]

#49677 Convert armor to use armor portion data pt. 0
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/bandolier.json
  data/json/items/armor/belts.json
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/eyewear.json
Labels: [JSON]

#49680 Convert armor to use armor_portion_data pt. 2
  data/json/items/armor/pets_horse_armor.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
Labels: [JSON]

#49679 Convert armor to use armor_portion_data pt. 1
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/masks.json
  data/json/items/armor/misc.json
Labels: [JSON]

#49681 Convert armor to use armor_portion_data pt. 3
  data/json/items/classes/magazine.json
  data/json/items/containers.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/items/generic/bedding.json
  data/json/items/generic/string.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/shot.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/obsolete.json
  data/json/items/ranged/archery.json
  data/json/items/tool/misc.json
  data/json/items/tool/musical_instruments.json
  data/json/items/tool_armor.json
  data/json/obsolete.json
Labels: [JSON]

#49279 Remove additional spawns from Wander Hordes
  src/overmap.cpp
Labels: Game: Balance, Monsters, Spawn

#49635 Jsonize cbm trigger costs
  data/json/bionics.json
  src/bionics.cpp
  src/bionics.h
  src/bionics_ui.cpp
  src/character.cpp
  src/game.cpp
  src/iuse.cpp
  src/melee.cpp
  src/monattack.cpp
  src/suffer.cpp
Labels: Bionics, [C++], [JSON]

#49688 Aftershock: Ballistic gun itemgroups
  data/mods/Aftershock/itemgroups/weapons/armories.json
  data/mods/Aftershock/itemgroups/weapons/balistic_gun_groups.json
  data/mods/Aftershock/itemgroups/weapons/energy_gun_groups.json
  data/mods/Aftershock/itemgroups/weapons/weapon_expansion_groups.json
  data/mods/Aftershock/items/gun/10mm.json
Labels: Game: Balance, Mods: Aftershock, Spawn, [JSON]

#49668 Remove duplicate item method
  src/game.cpp
  src/item.cpp
  src/item.h
  src/visitable.cpp
  tests/pocket_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#49683 Convert armor to use armor_portion_data (AFS)
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/cast_spell_items.json
  data/mods/Aftershock/items/ethereal.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/items/tool_armor.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/items/weapons.json
Labels: [JSON]

#49684 Convert armor to use armor_portion_data (CRT)
  data/mods/CRT_EXPANSION/crt_gear/advanced_gear.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_clothes.json
  data/mods/CRT_EXPANSION/items/crt_makeshift_survival.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
Labels: [JSON]

#49686 Convert armor to use armor_portion_data (DSA)
  data/mods/Dark-Skies-Above/obsolete.json
Labels: Mods: Dark Skies, [JSON]

#49685 Convert armor to use armor_portion_data (Magiclysm)
  data/mods/Magiclysm/Spells/attunements/Force_Mage.json
  data/mods/Magiclysm/enchantments/Soulfire.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/archery.json
  data/mods/Magiclysm/items/black_dragon_items.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_belts.json
  data/mods/Magiclysm/items/enchanted_boots.json
  data/mods/Magiclysm/items/enchanted_bracers.json
  data/mods/Magiclysm/items/enchanted_cloaks.json
  data/mods/Magiclysm/items/enchanted_masks.json
  data/mods/Magiclysm/items/enchanted_ranged.json
  data/mods/Magiclysm/items/enchanted_rings.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: Mods: Magiclysm, [JSON]

#49687 Convert armor to use armor_portion_data (test mod)
  data/mods/TEST_DATA/items.json
Labels: [JSON]

#49641 [AFTERSHOCK] House Palette + New AFS house
  data/mods/Aftershock/itemgroups/clothing_group.json
  data/mods/Aftershock/maps/city_buildings.json
  data/mods/Aftershock/maps/mapgen/houses/houses.json
  data/mods/Aftershock/maps/mapgen_pallete/houses.json
  data/mods/Aftershock/maps/overmap_terrain.json
  data/mods/Aftershock/region_settings.json
  data/mods/aftershock_exoplanet/region_settings.json
Labels: Map / Mapgen, Mods: Aftershock, [JSON]

#49615 aux_nested revision
  data/json/mapgen/mil_surplus.json
  data/json/mapgen/nested/aux_nested.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen/s_liquor.json
Labels: <Bugfix>, Map / Mapgen

#48740 Aftershock: New droneswarm foes + new simple monster AI behavior
  data/mods/Aftershock/effects.json
  data/mods/Aftershock/items/corpses.json
  data/mods/Aftershock/items/grenades.json
  data/mods/Aftershock/items/inactiverobot.json
  data/mods/Aftershock/maps/mapgen/formless_ruins/formless_ruins_dynamic.json
  data/mods/Aftershock/maps/nested/road.json
  data/mods/Aftershock/maps/overmap_map_extras.json
  data/mods/Aftershock/mobs/abstract_monsters.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/recipes/deconstruction.json
  data/mods/Aftershock/region_settings.json
  data/mods/Aftershock/spells/monster_spells.json
  data/mods/aftershock_exoplanet/region_settings.json
  doc/JSON_FLAGS.md
  doc/MONSTERS.md
  src/monmove.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: Mods: Aftershock, Monsters, [C++], [JSON]

#47963 Unhardcode speed modifiers/fix speed enchantment
  data/json/bionics.json
  data/json/mutations/mutations.json
  data/mods/DinoMod/mutations/mutations.json
  data/mods/Magiclysm/traits/attunements.json
  src/character.cpp
  src/character.h
  src/magic_enchantment.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/player.cpp
  src/player_display.cpp
Labels: 0.F String Freeze, <Bugfix>, [C++]

#47777 Unhardcode bionic power storage, add field for allowing duplicate bionics
  data/json/bionics.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/bionics.h
  src/character.cpp
  src/character.h
  src/game_inventory.cpp
  src/iexamine.cpp
  src/npctalk_funcs.cpp
Labels: 0.F Feature Freeze, Bionics, [C++]

#49717 Fix copy-from typo
  data/mods/Magiclysm/items/black_dragon_items.json
Labels: [JSON]

#49715 Update monster_attacks.json
  data/json/monster_special_attacks/monster_attacks.json
Labels: <Bugfix>, Info / User Interface, [JSON]

#49710 Fix zapback test
  tests/mondefense_test.cpp
Labels: <Bugfix>, [C++]

#49706 Default max_encumber to -1 in armor_portion_data
  src/itype.h
Labels: <Bugfix>, [C++]

#49705 Allow empty corn cobs to be made into charcoal
  data/json/items/comestibles/raw_veggy.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#49695 🌽 Add veggy_any_corn_uncooked to cooking components
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/corn.json
  data/json/requirements/cooking_components.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#47787 Triffid Grove Re-work
  data/json/effects.json
  data/json/emit.json
  data/json/field_type.json
  data/json/furniture_and_terrain/furniture-triffid.json
  data/json/furniture_and_terrain/terrain-triffid.json
  data/json/mapgen/triffid/triffid_fields.json
  data/json/mapgen/triffid/triffid_grove.json
  data/json/mapgen/triffid/triffid_grove_roof.json
  data/json/mapgen/triffid/triffid_grove_z2.json
  data/json/mapgen/triffid/triffid_grove_z3.json
  data/json/mapgen/triffid/triffid_heart.json
  data/json/mapgen/triffid/triffid_roots.json
  data/json/mapgen/triffid_grove.json
  data/json/mapgen_palettes/triffid.json
  data/json/monstergroups/triffid.json
  data/json/monsters/triffid.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  data/json/overmap/overmap_terrain/overmap_terrain_triffid.json
  src/map.h
  src/mapgen.cpp
  src/monster.cpp
  src/overmap.cpp
Labels: Map / Mapgen, [C++], [JSON]

#47990 Allow custom surround monster groups in scenarios
  data/json/monstergroups/misc.json
  data/json/scenarios.json
  data/mods/Magiclysm/scenarios.json
  doc/JSON_FLAGS.md
  doc/MODDING.md
  src/game.cpp
  src/scenario.cpp
  src/scenario.h
Labels: 0.F Feature Freeze, <Documentation>, <Enhancement / Feature>, Scenarios, [C++], [JSON], [Markdown]

#47959 Added tent construct/deconstruct activities
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/iexamine.cpp
  src/iuse_actor.cpp
Labels: 0.F String Freeze, [C++], [JSON]

#48127 Change copper wire to a standard size, and add wire drawing.
  data/json/furniture_and_terrain/furniture-alien.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/ammo.json
  data/json/items/resources/metal.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/workshop.json
  data/json/obsolete.json
  data/json/proficiencies/metalwork.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/tools/tools_primitive.json
  data/json/recipes/weapon/piercing.json
  data/json/requirements/materials.json
Labels: 0.F Feature Freeze, 0.F String Freeze, <Bugfix>, <Enhancement / Feature>, Crafting / Construction / Recipes

#49726 Stop copy-from modifying individual armor portions
  src/item_factory.cpp
Labels: Items / Item Actions / Item Qualities, [C++]

#49731 Fix color & installing power bionics
  src/bionics.cpp
  src/item.cpp
Labels: <Bugfix>, Bionics, [C++]

#49729 Sword cane should fit in the hollow cane
  data/json/items/melee/swords_and_blades.json
Labels: <Bugfix>, Items: Containers, [JSON]

#47714 Unhardcode bio_flashlight and bio_tattoo_led
  data/json/bionics.json
  doc/MAGIC.md
  src/character.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: 0.F Feature Freeze, [C++]

#47274 Unhardcode joint servo, add INACTIVE enchantment option
  data/json/bionics.json
  doc/MAGIC.md
  src/character.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: 0.F Feature Freeze, 0.F String Freeze, Bionics, Code: Infrastructure / Style / Static Analysis, [C++], [JSON]

#47288 Unhardcode more bionics, add weapon dispersion enchantment
  data/json/bionics.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  doc/MAGIC.md
  src/bionics.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/panels.cpp
  src/ranged.cpp
Labels: 0.F Feature Freeze, Bionics, Code: Infrastructure / Style / Static Analysis, [C++], [JSON]

#49318 Ignore pocket settings when manually inserting stackable items
  src/activity_actor.cpp
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
Labels: <Bugfix>, Items: Containers

#49747 Enforce MAX_SKILL cap
  src/character.cpp
Labels: <Bugfix>, Mechanics: Effects / Skills / Stats, [C++]

#49744 Fix Triffid Grove Error
  data/json/obsolete_terrains.json
  src/savegame.cpp
Labels: <Bugfix>, Monsters, [C++], [JSON]

#49742 Remove unused static variable
  src/character.cpp
Labels: [C++]
