Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2021-05, with the labels that each got.

#48717 Update JSON_INHERITANCE.md on what types copy-from works with
  doc/JSON_INHERITANCE.md
Labels: <Bugfix>, <Documentation>

#48714 Check for unused static variables
  src/character.cpp
  src/debug_menu.cpp
  src/game_inventory.cpp
  src/item.cpp
  src/iuse.cpp
  src/map_extras.cpp
  src/melee.cpp
  src/suffer.cpp
  src/visitable.cpp
  tests/clzones_test.cpp
  tests/vehicle_part_test.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/UnusedStaticsCheck.cpp
  tools/clang-tidy-plugin/UnusedStaticsCheck.h
  tools/clang-tidy-plugin/test/unused-statics.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#48722 Allow deconstruction of most windows, and adjust window deconstruction material.
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-windows.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, [JSON]

#48723 Infrastructure "compose.py: Don't warn about unused fillters matching IDs in tile entries from main sheets"
  tools/gfx_tools/compose.py
Labels: <Bugfix>, Code: Tooling, SDL: Tiles / Sound, [Python]

#48733 Fix zombie animal upgrades
  data/json/monstergroups/zanimal_upgrades.json
Labels: <Bugfix>, Spawn, [JSON]

#48629 Enable clang-tidy readability-isolate-declaration
  .clang-tidy
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/armor_layers.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/chkjson/chkjson.cpp
  src/colony.h
  src/computer_session.cpp
  src/crafting_gui.cpp
  src/explosion.cpp
  src/iuse.cpp
  src/lightmap.cpp
  src/list.h
  src/main_menu.cpp
  src/map.h
  src/map_extras.cpp
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/messages.cpp
  src/mission_ui.cpp
  src/mod_manager.cpp
  src/newcharacter.cpp
  src/npcmove.cpp
  src/ranged.cpp
  src/reachability_cache.cpp
  src/savegame_json.cpp
  src/sdltiles.cpp
  src/simplexnoise.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
  src/worldfactory.cpp
  tests/colony_test.cpp
  tests/invlet_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#48688 New clang-tidy check for static int_ids
  src/editmap.cpp
  src/field_type.h
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/overmap.cpp
  tests/submap_load_test.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/StaticIntIdConstantsCheck.cpp
  tools/clang-tidy-plugin/StaticIntIdConstantsCheck.h
  tools/clang-tidy-plugin/StaticStringIdConstantsCheck.cpp
  tools/clang-tidy-plugin/test/static-int_id-constants.cpp
Labels: 0.F Feature Freeze, Code: Infrastructure / Style / Static Analysis, Code: Tests

#48530 Add a tool to check printf style format string in translations
  .github/workflows/check-translation.yml
  tools/check_po_printf_format.py
Labels: Code: Tests, Code: Tooling, Translation

#48706 Allow dissolving lye powder back into lye
  data/json/recipes/recipe_medsandchemicals.json
Labels: 0.F Content Freeze, Crafting / Construction / Recipes, [JSON]

#48712 Remove items that shatter instead of dropping them intact
  src/ballistics.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Items: Containers, [C++]

#48687 Json diff for release.
  data/changelog.txt
  doc/RELEASE_DIFF.md
  tools/json_tools/jq/enumerate_json_entities.jq
Labels: <Documentation>, Code: Tooling, Organization

#48705 Add windows experimental release action
  .github/workflows/release.yml
Labels: (P2 - High), <Bugfix>, Code: Build, OS: Windows, Organization

#48748 Make minor fixe to Freshwater station door and floor
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-liquids.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, [JSON]

#48763 Add LANGUAGES=all to windows experimental release build
  .github/workflows/release.yml
Labels: <Bugfix>, Code: Build, OS: Windows, Translation

#48764 Fix some monster attacks & slings penetrating vehicle walls
  data/json/items/ranged/slings.json
  data/json/monster_special_attacks/monster_attacks.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Items / Item Actions / Item Qualities, Vehicles

#48759 fix boneplate wolf bug
  data/json/monsters/zanimal_upgrade.json
Labels: <Bugfix>, Monsters, [JSON]

#48775 Add linux builds to the release workflow
  .github/workflows/release.yml
Labels: Code: Build, OS: Linux

#48773 change bowl_plastic category to container
  data/json/items/generic/dining_kitchen.json
Labels: <Bugfix>, Items: Containers, [JSON]

#48762 [Aftershock] make trident looks like pitchfork
  data/mods/Aftershock/items/weapons.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mods: Aftershock, SDL: Tiles / Sound

#48776 compose.py: use the default values when none provided in config
  tools/gfx_tools/compose.py
Labels: <Bugfix>, Code: Tooling, SDL: Tiles / Sound, [Python]

#48760 thorny moose shambler fix
  data/json/monsters/zanimal_upgrade.json
Labels: 0.F String Freeze, <Bugfix>, Monsters, [JSON]

#48756 Fix json formatter build and string extraction script in 0.F-dev branch
  lang/extract_json_strings.py
  src/translations.h
Labels: <Bugfix>, Code: Build, Code: Tooling, Translation

#48769 Cap duration of more effects
  data/json/effects.json
Labels: <Bugfix>, Game: Balance, Items: Food / Vitamins, Mechanics: Effects / Skills / Stats, Time / Turns / Duration / Date

#48788 No charcoal->plastic alchemy for survivor markers
  data/json/items/tool/misc.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#48784 Add osx build to release workflow
  .github/workflows/release.yml
Labels: Code: Build, OS: macOS

#48790 Aftershock: Remove obsolete vehicles from spawn list
  data/mods/Aftershock/vehicles/vehicle_groups.json
Labels: <Bugfix>, Mods: Aftershock

#48796 Fix accidentally deleted overlay_ordering info in RretroDays
  gfx/RetroDaysTileset/tile_config.json
Labels: <Bugfix>, SDL: Tiles / Sound

#48811 Adjust a few gunmods' volume
  data/json/items/gunmod/sights.json
Labels: Items: Gunmod / Toolmod

#48802 Fix clang-tidy error on master branch
  build-scripts/requirements.sh
Labels: <Bugfix>, Code: Tests

#48839 Higher Aim speed is good
  src/item.cpp
Labels: <Bugfix>

#48848 Enable concurrency for release workflow
  .github/workflows/release.yml
Labels: Code: Build

#48814 Give military helipads jp8 pumps
  data/json/mapgen/helipad.json
Labels: Fields / Furniture / Terrain / Traps, Spawn

#48845 Allowed reading maps underground
  src/iuse_actor.cpp
Labels: Items / Item Actions / Item Qualities

#48840 Work around failing android SDK installation
  .travis.yml
Labels: Code: Build, OS: Android

#48793 Blindfold from makeshift bandages
  data/json/recipes/armor/head.json
Labels: <Bugfix>, Crafting / Construction / Recipes

#48737 Update mongroup documentation, fix vanilla groups' start/end times and overloaded groups
  data/json/monstergroups/fish.json
  data/json/monstergroups/lab.json
  data/json/monstergroups/mi-go.json
  data/json/monstergroups/missions.json
  data/json/monstergroups/nether.json
  data/json/monstergroups/wilderness.json
  data/json/monstergroups/zombies.json
  doc/JSON_INFO.md
  doc/MONSTERS.md
Labels: <Bugfix>, <Documentation>, Monsters, Spawn

#48815 Allows crafting one explosive arrows fixes disassemling one arrow
  data/json/items/ranged/archery.json
  data/json/recipes/recipe_ammo.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items: Ammo, [JSON]

#48857 Remove the legacy folder for good since it's useless
  data/legacy/1/migration.json
  data/legacy/1/obsolete.json
  data/legacy/1/snippet.json
  data/legacy/2/makeshift.json
  data/legacy/3/crazy.json
  data/legacy/4/boots.json
  data/legacy/5/snippets.json
  data/legacy/5/vehicle_parts.json
Labels: [C++]

#48867 Remove raw flag from jerky
  data/json/items/comestibles/carnivore.json
Labels: <Bugfix>, Items: Food / Vitamins

#48849 Use YYYY-MM-DD-HHmm for build number; do not start matrix if tag exists
  .github/workflows/release.yml
Labels: Code: Build

#48870 Bionic enhanced hearing takes effect only when activated
  data/json/bionics.json
Labels: <Bugfix>, Bionics

#48868 Privacy fence deconstruct - item balance
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: <Bugfix>, Crafting / Construction / Recipes

#48853 Add missing "spoil_multiplier": 0.5 to sealed milk carton
  data/json/items/containers.json
Labels: <Bugfix>

#48852 Spell cost is displayed in kJ when it uses bionic power
  src/magic.cpp
Labels: Info / User Interface

#48808 Pick Magiclysm NPC mission dialogue fix from BN
  data/mods/Magiclysm/npc/TALK_HEALER_GREY.json
  data/mods/Magiclysm/npc/TALK_OLD_MAGUS.json
  data/mods/Magiclysm/npc/TALK_TECHNO_KID.json
Labels: <Bugfix>, Missions, Mods: Magiclysm

#48893 Make Bus Stations driveable
  data/json/mapgen/bus_station.json
Labels: Map / Mapgen

#48888 Bugfix: Deaf mutation protect from getting dazed by the screams
  src/character.cpp
Labels: <Bugfix>, Mutations / Traits / Professions

#48900 Prevent meth duplication
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/vehicles/vans_busses.json
Labels: Game: Balance, Items: Food / Vitamins, Spawn, Vehicles

#48913 Revert "Removes PROTRUSION flag, so rams can ram more things"
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/vehicle_parts.json
Labels: <Bugfix>, Vehicles

#48920 Reduce manhack melee skill
  data/json/monsters/drones.json
Labels: Game: Balance, Melee, Monsters

#48910 Remove Fletching Proficiency from Crude Wooden Arrows and Crude Wooden Bolts
  data/json/recipes/recipe_ammo.json
Labels: Crafting / Construction / Recipes, Items: Ammo

#48914 Update textbook_biodiesel to teach chemistry
  data/json/items/book/chemistry.json
  data/json/items/book/mechanics.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#48934 Remove data/legacy from lang/extract_json_strings.py
  lang/extract_json_strings.py
Labels: (P2 - High), <Bugfix>, Code: Tooling, Translation

#48931 [Aftershock] Small fixes
  data/mods/Aftershock/items/weapons.json
  data/mods/Aftershock/maps/lab_cryo_room.json
  data/mods/Aftershock/maps/lab_vehicle_track.json
  data/mods/Aftershock/maps/lab_weapons_range.json
Labels: <Bugfix>, Mods: Aftershock

#48901 Fix thermal electric suit thickness
  data/json/items/tool_armor.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#48941 small fix to prison mapgen
  data/json/mapgen/prison_1.json
  data/json/mapgen_palettes/prison.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#48871 Dismantle unused legacy migration feature.
  data/mods/dda/modinfo.json
  src/game.cpp
  src/game.h
  src/mod_manager.cpp
  src/mod_manager.h
  src/options.cpp
  src/worldfactory.cpp
Labels: [C++]

#48077 [READY] Adjust problematic monster faction relationships (possible attack without counterattack)
  .gitignore
  data/json/monster_factions.json
  data/json/monsters/bird.json
  data/json/monsters/mammal.json
  data/json/monsters/nether.json
  data/json/obsolete.json
  data/mods/Aftershock/mobs/monster_faction.json
  data/mods/DinoMod/monster_factions.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/obsolete/monsters.json
  tests/monfactions_test.cpp
Labels: <Bugfix>, Mods: Aftershock, Mods: Dinoclysm, Monsters

#48734 When installing vehicle parts. don't ask for shape selection when there's only one shape
  src/veh_interact.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Vehicles

#48738 Fix auto drinking unclean water
  src/activity_item_handling.cpp
Labels: <Bugfix>, Items: Food / Vitamins, Mechanics: Character / Player

#47831 Fix removed depressant&stim cap
  src/consumption.cpp
Labels: <Bugfix>, Game: Balance, Items: Food / Vitamins, Mechanics: Effects / Skills / Stats, [C++]

#48947 remove watertight flag from body bags
  data/json/items/containers.json
Labels: <Bugfix>, <Exploit>, Items: Containers, [JSON]

#48968 Update Tilesets 2021-05-21
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
  gfx/BrownLikeBears/toped.png
  gfx/BrownLikeBears/wide.png
  gfx/ChibiUltica/ChibiLargeMonster.png
  gfx/ChibiUltica/ChibiLargeOverlay.png
  gfx/ChibiUltica/ChibiNormalCharacter.png
  gfx/ChibiUltica/ChibiNormalMonster.png
  gfx/ChibiUltica/ChibiTallMonster.png
  gfx/ChibiUltica/ChibiTallOverlay.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
Labels: SDL: Tiles / Sound

#48973 Remove looks_like from the Mech guns
  data/json/items/gun/ups.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, SDL: Tiles / Sound, [JSON]

#48977 Bump clang version to 12 in GHA build matrix
  .github/workflows/CBA.yml
  .github/workflows/matrix.yml
Labels: <Bugfix>, Code: Tests

#48966 Fix impossibility to resume craft in MSC
  src/character.cpp
  src/game_inventory.cpp
  src/player.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Info / User Interface

#48944 Aftershock: Add blood to harvest lists
  data/mods/Aftershock/items/afs_harvest.json
Labels: <Bugfix>, Mods: Aftershock, [JSON]

#48896 Change symbols of variants vehicle parts to increase ascii readability
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/windshields.json
Labels: <Bugfix>, Info / User Interface, Vehicles

#48958 Remove leatherworking proficiency from recipes that shouldn't need it
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  tests/crafting_test.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes

#48997 Fix compile error on macOS with l10n disabled
  src/translations.cpp
Labels: <Bugfix>, Code: Build, OS: macOS

#49000 Fix recent clang-tidy check launch failure
  build-scripts/requirements.sh
Labels: <Bugfix>, Code: Tests

#48985 Do not announce crafting progress loss when none happened
  src/crafting.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Info / User Interface

#49007 [bugfix] Respect rot_spawn_chance so unfertilized eggs don't hatch
  src/map.cpp
Labels: <Bugfix>, Items: Food / Vitamins, Monsters, Spawn

#49025 Fix wind update
  src/weather.cpp
Labels: <Bugfix>, Mechanics: Weather, [C++]

#49027 gave foam rubber bat 1 bashing
  data/json/items/melee/bludgeons.json
Labels: Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#49023 add wheel fastening to integrated toolset
  data/json/items/fake.json
Labels: <Bugfix>, Bionics, Items / Item Actions / Item Qualities

#48924 Stop failures clustering at high completion percentages
  src/crafting.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Game: Balance

#49024 Fix bug with crafted food always being hot
  src/crafting.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mechanics: Temperature, [C++]

#49045 [AFS] Add length and postapo price to titanium bat
  data/mods/Aftershock/items/weapons.json
Labels: <Bugfix>, <Exploit>, Items / Item Actions / Item Qualities, Mods: Aftershock

#48998 Primary skill for Salt Water recipe -> Applied Science
  data/json/recipes/recipe_medsandchemicals.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Game: Balance, [JSON]

#49014 Fix blind throw while peeking up/downstairs
  src/game.cpp
Labels: <Bugfix>, Mechanics: Aiming, Z-levels

#48727 Make thrown glass items drop glass shards when shattered
  src/ballistics.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities

#48992 Removed BLIND flag from welding mask
  data/json/items/tool_armor.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities

#48996 Add z level when setting map cache dirty flags while in a vehicle
  src/map.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles, Z-levels

#48904 Prevent adding or removing from activated cleaning machines
  src/advanced_inv_area.cpp
  src/advanced_inv_area.h
  src/character.cpp
  src/vehicle.h
  src/vehicle_part.cpp
Labels: <Bugfix>, <Exploit>, Inventory / AIM / Zones, Vehicles

#48895 Unload partial ammo of wielded item without duplication
  src/character.cpp
Labels: (P2 - High), <Bugfix>, Items: Ammo, [C++]

#48990 [MSC] Caramel ointment instant heal up to 5 hit point
  data/mods/My_Sweet_Cataclysm/sweet_med.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mods

#48752 Add a few epitaphs
  data/json/snippets/grave_labels.json
Labels: 0.F String Freeze, <Enhancement / Feature>, [JSON]

#48967 [MSC] Make sugar comestible to sugarkin
  data/mods/My_Sweet_Cataclysm/sweet_items.json
Labels: <Bugfix>, Items: Food / Vitamins, Mods

#48856 Remove "burst" from the code for good
  data/json/items/gun/shot.json
  doc/JSON_INFO.md
  src/item_factory.cpp
  src/itype.h
Labels: 0.F Feature Freeze, [C++]

#48726 Add Eye colors cosmetic traits
  data/json/mutations/mutation_appearance.json
  data/json/mutations/mutation_type.json
  data/json/npcs/appearance_trait_groups.json
  src/newcharacter.cpp
Labels: 0.F Content Freeze, <Enhancement / Feature>, Mutations / Traits / Professions, NPC / Factions, SDL: Tiles / Sound

#48479 Jsonize fungalization
  data/json/monsters/insect_spider.json
  data/json/monsters/triffid.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_children.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_soldiers.json
  data/json/monsters/zed_survivor.json
  doc/JSON_FLAGS.md
  doc/MONSTERS.md
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.h
Labels: 0.F Feature Freeze, <Enhancement / Feature>, Monsters, [C++], [JSON]

#48976 [Ready] Improve CMake build script for macOS
  CMakeLists.txt
Labels: <Bugfix>, Code: Build, OS: macOS

#48809 Adds Android Build to release workflow & fail-fast: false
  .github/workflows/release.yml
Labels: Code: Build, OS: Android

#48991 Fix duping of shotgun hull for scrap loaded shot
  data/json/recipes/ammo/shot.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items: Ammo

#48943 Aftershock: Forbid manual unloading of UPS and tweak recipe to imply an integral power storage system.
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/recipes/electronics_recipes.json
Labels: <Bugfix>, Mods: Aftershock, [JSON]

#48719 Bases for the first four Hub01 basement npcs
  data/json/mutations/mutations.json
  data/json/npcs/robofac/robofac_basement_npcs/NPC_Andrea_Dzvonko.json
  data/json/npcs/robofac/robofac_basement_npcs/NPC_Darla_Novak.json
  data/json/npcs/robofac/robofac_basement_npcs/NPC_Jonathan_Farrier.json
  data/json/npcs/robofac/robofac_basement_npcs/NPC_Sunil_Narayana.json
Labels: 0.F Content Freeze, 0.F String Freeze, NPC / Factions

#48206 Aftershock: Basic Exoplanet Region
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/aftershock_exoplanet/Map/overmap_terrain/ice_fields.json
  data/mods/aftershock_exoplanet/game_balance.json
  data/mods/aftershock_exoplanet/modinfo.json
  data/mods/aftershock_exoplanet/region_settings.json
  data/mods/aftershock_exoplanet/scenarios.json
  data/mods/aftershock_exoplanet/setting_blacklists/location_blacklist.json
  data/mods/aftershock_exoplanet/setting_blacklists/mon_blacklist.json
  data/mods/aftershock_exoplanet/setting_blacklists/scenario_blacklist.json
  data/mods/aftershock_exoplanet/weather_type.json
Labels: 0.F String Freeze, Mods: Aftershock

#48728 Revise hallula
  data/json/recipes/food/bread.json
Labels: <Bugfix>, <Enhancement / Feature>, Crafting / Construction / Recipes, [JSON]

#47960 Redesigning Arthropods Part 3: Wasps!
  data/json/harvest.json
  data/json/items/comestibles/egg.json
  data/json/mapgen/map_extras/nest_wasp.json
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monstergroups/bugs.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/obsolete.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/regional_map_settings.json
  data/json/requirements/cooking_components.json
  data/json/snippets/mutant_anatomy.json
  data/json/snippets/snippets.json
  data/json/species.json
  src/map_extras.cpp
Labels: 0.F Content Freeze, 0.F String Freeze, Game: Balance, Monsters, [JSON]

#48869 Replace comma with semicolon
  data/json/items/comestibles/carnivore.json
Labels: 0.F String Freeze, <Bugfix>

#48624 Fix found->find typo
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
Labels: 0.F String Freeze, <Bugfix>, NPC / Factions, [JSON]

#48535 adding steel knuckles
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/military.json
  data/json/items/melee/unarmed_weapons.json
  data/json/martialarts.json
  data/json/npcs/island_prison/prisoners.json
  data/json/recipes/weapon/bashing.json
Labels: 0.F Content Freeze, 0.F String Freeze, Items / Item Actions / Item Qualities, [JSON]

#48515 Update wood.json
  data/json/items/resources/wood.json
Labels: 0.F String Freeze, Items / Item Actions / Item Qualities, [JSON]

#48499 Fix woods soup being treated as a meat material when eggs were used
  data/json/items/comestibles/soup.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: 0.F String Freeze, Crafting / Construction / Recipes, Items: Food / Vitamins, Mutations / Traits / Professions, [JSON]

#48484 Features - Gave cranes suspending ability for butchering
  data/json/vehicleparts/engineering.json
Labels: 0.F Feature Freeze, 0.F String Freeze, Items / Item Actions / Item Qualities, [JSON]

#48628 Placing specials around cities now scales with city size
  doc/OVERMAP.md
  src/overmap.cpp
Labels: 0.F Feature Freeze, <Bugfix>, Character / World Generation, Map / Mapgen, [C++]

#48982 Fixing Felt Recipe
  data/json/recipes/other/materials.json
Labels: <Bugfix>, Crafting / Construction / Recipes

#48234 [Magiclysm] Forge Floor and Wall improvements
  data/mods/Magiclysm/terrain.json
  data/mods/Magiclysm/worldgen/forge_of_wonders.json
Labels: 0.F Content Freeze, Fields / Furniture / Terrain / Traps, Mods: Magiclysm

#47424 Faux Fur survivor gear and recipes
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hoods.json
  data/json/items/armor/suits_protection.json
  data/json/items/tool_armor.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
Labels: 0.F Content Freeze, 0.F String Freeze, [JSON]

#48458 Avgas fuel pump
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/mapgen/regional_airport.json
  data/json/materials.json
  src/mapgen.cpp
Labels: 0.F Content Freeze, 0.F String Freeze, <Bugfix>, Fields / Furniture / Terrain / Traps, Map / Mapgen

#48514 New "Bordered" scenario
  data/json/mapgen/rock_border.json
  data/json/overmap/overmap_special/bordered_world.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/scenarios.json
  doc/JSON_FLAGS.md
  src/game.cpp
  src/newcharacter.cpp
Labels: 0.F Content Freeze, Map / Mapgen, Scenarios, [C++], [JSON]

#47518 [Magiclysm] Fix ring stacking by adding ONE_PER_LAYER flag
  data/json/flags.json
  data/mods/Magiclysm/items/enchanted_rings.json
  src/character.cpp
  src/item.cpp
  src/item.h
  src/player.cpp
Labels: 0.F String Freeze, <Bugfix>, Mods: Magiclysm, [C++]

#48984 Avoid mix use of positional and non-positional printf format arguments
  src/monattack.cpp
Labels: 0.F String Freeze

#48983 Improve printf format checking script
  tools/check_po_printf_format.py
Labels: Code: Tests, Code: Tooling, Translation, [Python]

#49043 Addition of Gravel Material and according recipes, stone fixes
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-barriers.json
  data/json/furniture_and_terrain/terrain-railroads.json
  data/json/itemgroups/supplies.json
  data/json/items/ammo.json
  data/json/items/chemicals_and_resources.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_primitive.json
Labels: 0.F Content Freeze, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps

#47919 added mechanical winch and metal gate to construction menu
  data/json/construction.json
  data/json/construction_group.json
Labels: 0.F Content Freeze, 0.F String Freeze, Crafting / Construction / Recipes, [JSON]

#46734 Add iexamine actors, move iexamine::cardreader to actor
  data/json/flags.json
  data/json/furniture_and_terrain/terrain-mechanisms.json
  data/json/items/generic.json
  doc/EXAMINE.md
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/activity_actor.cpp
  src/game.cpp
  src/iexamine.cpp
  src/iexamine.h
  src/iexamine_actors.cpp
  src/iexamine_actors.h
  src/init.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: 0.F Feature Freeze, 0.F String Freeze, Code: Infrastructure / Style / Static Analysis, Fields / Furniture / Terrain / Traps, [C++], [JSON]

#49055 Fix crash when dropping items
  src/character.cpp
Labels: <Bugfix>, [C++]

#49005 Show message about grab only if player sees the grab
  src/monattack.cpp
Labels: 0.F String Freeze, Info / User Interface, Melee, Monsters

#49062 Lint Aftershock json file
  data/mods/aftershock_exoplanet/weather_type.json
Labels: <Bugfix>, Mods: Aftershock, [JSON]

#48999 Fixing error thrown when unloading gun when there is no inventory available
  src/activity_actor.cpp
  src/character.cpp
  src/character.h
  tests/unload_naked_test.cpp
Labels: <Bugfix>, Code: Tests, Items: Ammo

#48658 Fix book proficiency mitigation formulas.
  src/inventory.cpp
  src/proficiency.cpp
  src/proficiency.h
  src/recipe.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Mechanics: Effects / Skills / Stats

#49072 [AFTERSHOCK] Cut formless ruins spawn rate in half
  data/mods/Aftershock/region_settings.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Game: Balance, Mods: Aftershock

#49086 Cut the number of monsters spawning in parks in half
  data/json/mapgen/park.json
  data/json/monstergroups/zombies.json
Labels: Game: Balance, Monsters, Spawn

#49098 [AFTERSHOCK] Fix Schwarz Walders inability to fire
  data/mods/Aftershock/mobs/uplifted_monsters.json
Labels: <Bugfix>, Mods: Aftershock, Monsters

#49052 Correctly update the player's spawn vehicle overmap tracking.
  src/game.cpp
Labels: <Bugfix>, Character / World Generation, Map / Mapgen, Vehicles

#49054 replace dentisy with intensity
  doc/JSON_INFO.md
Labels: <Bugfix>, <Documentation>

#49065 Fix for placement of consoles in 'Retrieve Software' quest
  src/mapdata.cpp
  src/mapdata.h
  src/mission_start.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Spawn

#49067 Camera can take a photo of NPC
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, NPC / Factions

#49079 Extract mutation.transform and mutation.triggers for translation
  lang/extract_json_strings.py
Labels: 0.F String Freeze, <Bugfix>, Mutations / Traits / Professions, Translation

#49099 [AFS] Update Schwarz Walder Description
  data/mods/Aftershock/mobs/uplifted_monsters.json
Labels: 0.F String Freeze

#49083 Disable nonfunctional vitamin deficiencies
  data/json/vitamin.json
Labels: <Bugfix>, Items: Food / Vitamins, Mechanics: Character / Player

#49103 Add fillers from Ultica for missing monsters to MSXotto+
  gfx/MshockXotto+/fillerlarge.png
  gfx/MshockXotto+/fillernormal.png
  gfx/MshockXotto+/fillertall.png
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tile_config.json
Labels: SDL: Tiles / Sound

#49046 Adjust failure multipliers in proficiencies
  data/json/proficiencies/chemistry.json
  data/json/proficiencies/electronics.json
  data/json/proficiencies/gunsmithing.json
  data/json/proficiencies/metalwork.json
  data/json/proficiencies/misc.json
  data/json/proficiencies/tailoring.json
  data/json/proficiencies/traps.json
  data/json/proficiencies/wilderness.json
  data/json/proficiencies/woodworking.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/pets_dog.json
  data/json/recipes/armor/pets_horse.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/cords_and_ropes.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/other/parts_rigs.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats
