Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2021-06, with the labels that each got.

#48816 Fix monster over reach
  src/monattack.cpp
  tests/monster_attack_test.cpp
Labels: <Bugfix>, Monsters, Z-levels

#49116 Install dmgbuild 1.4.2 in OSX release GHA workflow
  .github/workflows/release.yml
Labels: <Bugfix>, OS: macOS

#49125 Fix crash when killing monsters without "material"
  src/monstergenerator.cpp
Labels: <Bugfix>, Monsters

#49122 Avoid illegal memory access in game::overmap_npc_move()
  src/game.cpp
Labels: <Bugfix>

#49123 Fix crash with cigarettes nearby and flamethrower equipped
  src/character.cpp
Labels: <Bugfix>

#49133 [AFTERSHOCK] Fix Infinite Ammo
  data/mods/Aftershock/items/gun/plasma.json
  data/mods/Aftershock/items/gun/projectile.json
Labels: Items: Gunmod / Toolmod, Mods: Aftershock

#49129 Fix NPC antiseptic application
  src/iuse_actor.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, NPC / Factions

#49134 Add demihuman harvest where applicable
  data/json/monsters/nether.json
Labels: <Bugfix>, Monsters

#49124 Speed description when looking over monster
  src/monster.cpp
Labels: Info / User Interface, Monsters

#49112 Fix segfault when starting fire and losing item
  src/activity_handlers.cpp
Labels: <Bugfix>, <Crash / Freeze>, Items / Item Actions / Item Qualities

#49084 expanded sheet options for tourniquet / makeshift sling
  data/json/recipes/armor/storage.json
  data/json/recipes/other/medical.json
Labels: <Bugfix>, Crafting / Construction / Recipes

#49135 Nerf the turtlecheese
  data/json/recipes/armor/torso.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Game: Balance, Items / Item Actions / Item Qualities

#49131 Mark constructor explicit
  src/iexamine_actors.h
Labels: Code: Build, Code: Tests

#49097 Introduce a category of total conversion mods, and don't test total conversions together
  build-scripts/build.sh
  build-scripts/get_all_mods.py
  data/mods/Dark-Skies-Above/modinfo.json
  data/mods/aftershock_exoplanet/modinfo.json
  doc/MODDING.md
  src/mod_manager.cpp
Labels: (P2 - High), <Bugfix>, Code: Tests, Mods

#48946 Adding belt buckles buckles to belts
  data/json/items/armor/belts.json
  data/json/recipes/recipe_deconstruction.json
  data/json/requirements/tailoring.json
Labels: 0.F String Freeze, Crafting / Construction / Recipes

#48697 Split military outposts and bunkers
  data/json/mapgen/bunker.json
  data/json/mapgen/outpost.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
Labels: 0.F Content Freeze, Map / Mapgen, [JSON]

#49091 Fix muscle-powered vehicles causing fatigue and thirst
  src/vehicle.cpp
Labels: <Bugfix>, Game: Balance, Mechanics: Character / Player, Vehicles

#49149 9x19mm +P and + prices
  data/json/items/ammo/9mm.json
Labels: <Bugfix>, Items: Ammo

#48650 Fix proficiency books' effect on crafting
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/recipe.cpp
  src/recipe.h
  tests/crafting_test.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Mechanics: Effects / Skills / Stats

#49161 Provide documentation and support for llama builds
  doc/COMPILING/COMPILING.md
  tools/llama/README.md
  tools/llama/gcc-focal/Dockerfile
Labels: <Documentation>, Code: Build

#49159 kevlar armor horse recipe bugfix
  data/json/recipes/armor/pets_horse.json
Labels: <Bugfix>, [JSON]

#49147 Make cocaine topical cream a liquid
  data/json/items/comestibles/med.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities

#49153 Move Dairy Farm Cube Van 1 tile away from house
  data/json/mapgen/farm_dairy.json
Labels: <Bugfix>, Map / Mapgen

#49177 Disallow placing stepladder if a vehicle in tile
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Vehicles

#49173 Fix open wooden split rail gate
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#49167 Radiation biomonitors take ultralight disposable batteries
  data/json/items/tool_armor.json
Labels: <Bugfix>, Items: Battery / UPS

#49163 Div by zero crash when drinking last charge of liquid fertilizer
  src/consumption.cpp
Labels: <Bugfix>, <Crash / Freeze>, Items: Food / Vitamins

#49158 Show available materials/tools/requirements first
  src/requirements.cpp
Labels: Crafting / Construction / Recipes, Info / User Interface, [C++]

#49143 Make faction camp recipes generate byproducts
  src/faction_camp.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Player Faction Base / Camp

#49142 Plastic canteen with clean water added to military
  data/json/professions.json
Labels: <Bugfix>, Items: Containers, Items: Food / Vitamins, NPC / Factions

#49182 Removes String component from Making Long Rope from Short Rope recipe
  data/json/recipes/other/cords_and_ropes.json
Labels: <Bugfix>, Crafting / Construction / Recipes

#49168 Define all flags used by vehicle parts
  data/json/vehicleparts/vp_flags.json
Labels: <Documentation>, Vehicles, [JSON]

#49192 Fixes slime duplication bug by adding "slime" material.
  data/json/materials.json
  data/json/monsters/slimes.json
Labels: (P2 - High), <Bugfix>, Monsters

#49195 Update Cuteclysm tileset
  gfx/Cuteclysm/backdrop.png
  gfx/Cuteclysm/backdropoffset.png
  gfx/Cuteclysm/creatures.png
  gfx/Cuteclysm/expandedcreatures.png
  gfx/Cuteclysm/fields.png
  gfx/Cuteclysm/fillerItems.png
  gfx/Cuteclysm/fillerVehicles.png
  gfx/Cuteclysm/hugebackdrop.png
  gfx/Cuteclysm/items.png
  gfx/Cuteclysm/tallbackdrop.png
  gfx/Cuteclysm/tallexpandedcreatures.png
  gfx/Cuteclysm/tile_config.json
  gfx/Cuteclysm/ui.png
  gfx/Cuteclysm/ultratallbackdrop.png
Labels: SDL: Tiles / Sound

#49190 [Alternative Map Key] Overrided special forest tile to make it same as regular forest
  data/mods/alt_map_key/overmap_terrain.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Map / Mapgen, Mods, [JSON]

#49201 Make all variant of memory cards look like a memory card
  data/json/items/generic.json
Labels: <Bugfix>, SDL: Tiles / Sound, [JSON]

#49204 [Magiclysm] Add placeholder prices to spellbooks
  data/mods/Magiclysm/items/spellbooks.json
Labels: <Bugfix>, Mods: Magiclysm, [JSON]

#49203 Fixed overfilled kegs
  data/json/mapgen/farm_stills.json
  data/json/mapgen/isherwood_farms/farm_isherwood.json
  data/json/mapgen/mansion.json
  data/json/mapgen/nested/basement_nested.json
  data/json/mapgen/riverside/potters_cottage.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#49202 Melatonin tablet added to various itemgroups for spawn
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/stashes.json
Labels: Items / Item Actions / Item Qualities, Spawn, [JSON]

#49200 Fixed eating containers with items inside
  src/consumption.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#49175 Added aspirin, antibiotics, disinfectant, pepto to Combat Medic items
  data/json/professions.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mutations / Traits / Professions

#49193 Check flags on vehicle parts during loading
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
  src/veh_type.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Vehicles, [C++]

#49180 Re-add byproducts to faction camp charcoal recipe
  data/json/recipes/recipe_companion.json
Labels: Crafting / Construction / Recipes, Game: Balance, Player Faction Base / Camp

#49144 Reduce weight of the medium and large turbine engines.
  data/json/items/vehicle/engine.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Vehicles

#48850 Allow size flags for custom size changing mutations
  data/json/mutations/mutations.json
  data/mods/Magiclysm/mutations/mutations.json
  src/mutation.cpp
Labels: <Bugfix>, Mutations / Traits / Professions, [C++]

#49208 Fix CQC SWAT start having two magazine attachments
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#49219 Tileset Update 2021-06-07
  gfx/ChibiUltica/ChibiLargeMonster.png
  gfx/ChibiUltica/ChibiNormalCharacter.png
  gfx/ChibiUltica/ChibiNormalCharacterMagiclysm.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound

#49207 School is an option for "Large Building" start
  data/json/scenarios.json
Labels: Scenarios, [JSON]

#49179 Fix float-keying activity level problem
  src/avatar.cpp
  tests/char_biometrics_test.cpp
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, Code: Tests, Mechanics: Character / Player

#49187 Isherwoods spawn nerfed to 35%
  data/json/overmap/overmap_special/specials.json
Labels: Map / Mapgen, Spawn, [JSON]

#49231 Fixing the Kel Tec 2000
  data/json/items/gun/9mm.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Items: Gunmod / Toolmod

#48972 set extracted blood temp
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#49228 Fix building roofs
  src/construction.cpp
Labels: <Bugfix>, Map / Mapgen, [C++]

#49080 partial vehicle damage reduction hotfix
  data/json/recipes/recipe_vehicle.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/Magiclysm/vehicleparts/frames.json
  tests/explosion_balance_test.cpp
Labels: <Bugfix>, Game: Balance, Vehicles, [JSON]

#49261 Build linux releases on ubuntu-18.04
  .github/workflows/release.yml
Labels: <Bugfix>, Code: Build

#49246 Content: Flight suit and helmet
  data/json/items/armor/suits_protection.json
  data/json/items/tool_armor.json
Labels: 0.F Content Freeze, Items / Item Actions / Item Qualities

#49264 Remove duplicate knitting tool requirements from recipes
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/torso.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities

#49265 Remove non-functional vitamin deficiency effects on load
  src/savegame_json.cpp
Labels: [C++]

#49256 Add overlay_ordering entry for black dragon mutations
  data/mods/Magiclysm/mutations/overlay_ordering.json
Labels: <Bugfix>, Mods: Magiclysm, SDL: Tiles / Sound

#49251 Fix building ramps and stairs
  data/json/construction.json
  doc/JSON_INFO.md
  src/construction.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#49258 Fix blocks with unarmed
  src/melee.cpp
Labels: <Bugfix>, [C++]

#49277 Add science ID card to portal lab finale
  data/json/mapgen/lab/lab_floorplans_finale1level.json
Labels: <Bugfix>, Map / Mapgen, Spawn, [JSON]

#49290 Remove Shrubs from Dirt roads
  data/json/mapgen_palettes/farm_lots.json
Labels: <Bugfix>, Map / Mapgen

#49298 Provide USE_HOME_DIR=1 in MacOS build
  .github/workflows/release.yml
Labels: Code: Build, OS: macOS

#49293 Prevent UB in handle_liquid.cpp
  src/handle_liquid.cpp
Labels: <Bugfix>, [C++]

#49288 Small fix to church mapgen
  data/json/mapgen/church.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#49286 removed spiked plating from pre-cataclysm vehicles
  data/json/vehicles/military.json
  data/json/vehicles/vans_busses.json
Labels: <Bugfix>, Vehicles, [JSON]

#49283 add a stage to trigger a Jekyll rebuild on release
  .github/workflows/release.yml
Labels: Code: Build, Organization: Sites

#49268 Fixed tanks in Medevac wrecks
  data/json/vehicles/helicopters.json
Labels: <Bugfix>, Vehicles, [JSON]

#48942 Replace ATTACKMON in all monster entries
  data/json/monsters/cyborgs.json
  data/json/monsters/fungus.json
  data/json/monsters/mammal.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/nether.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_skeletal.json
Labels: <Bugfix>, Monsters

#45273 [DinoMod] Implements rideable zombie T Rex via missions
  data/mods/DinoMod/NPC/NC_Red.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
Labels: 0.F Content Freeze, 0.F String Freeze, <Enhancement / Feature>, Mods: Dinoclysm, NPC / Factions, [JSON]

#49156 Add wattle fences
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: 0.F Content Freeze, Crafting / Construction / Recipes, [JSON]

#49230 Fix the hidden lab basement mapgen
  data/json/mapgen/basement/basement_game.json
  data/json/mapgen/basement/basement_lab_stairs.json
  data/json/mapgen/house/house31.json
  data/json/mapgen/house/house32.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_connections.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/special_locations.json
  doc/OVERMAP.md
  src/overmap.cpp
Labels: <Bugfix>, [JSON]

#49300 Update object creator for latest qt5 vcpkg changes
  msvc-object_creator/ObjectCreator-vcpkg-static.vcxproj
  msvc-object_creator/vcpkg.json
Labels: Code: Build, OS: Windows

#49306 Restore corn dogs and hot dogs in food vendor carts
  data/json/itemgroups/Food/food.json
Labels: <Bugfix>, Items: Food / Vitamins, Spawn

#49305 Set body for random character earlier
  src/newcharacter.cpp
Labels: <Bugfix>, Character / World Generation

#49319 Switch to manual build for C++
  .github/workflows/codeql-analysis.yml
Labels: Code: Tests, [C++]

#49328 Deconstruction of windows in gun store removed
  data/json/furniture_and_terrain/terrain-windows.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps

#49311 Remove Welding proficiency requirement for Makeshift Arc Welder
  data/json/recipes/tools/tools_electronic.json
Labels: Crafting / Construction / Recipes, [JSON]

#49325 prevent_climbling_mesh_screens
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: <Bugfix>, [JSON]

#49342 Updated Android UI translations
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-it-rIT/strings.xml
  android/app/src/main/res/values-pt-rBR/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
Labels: OS: Android, Translation

#49220 Redistribute brewing and distillation recipes between books
  data/json/recipes/chem/fuel.json
  data/json/recipes/food/brewing.json
  data/json/recipes/tools/tool.json
Labels: Crafting / Construction / Recipes, [JSON]

#49174 Removed duplicate medical gloves from Combat Medic starting items
  data/json/professions.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#49330 Enforce dodges_left tracking
  src/melee.cpp
  tests/melee_dodge_hit_test.cpp
Labels: <Bugfix>, Game: Balance, Mechanics: Character / Player, Melee

#49339 Stop language from glitching in options menu
  src/sdltiles.cpp
Labels: <Bugfix>, SDL: Tiles / Sound, [C++]

#49061 Ensure atomic coffee is brewed hot
  src/recipe.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Items: Food / Vitamins, Mechanics: Temperature

#49166 Fixing muscle engines failing to start randomly
  src/vehicle_use.cpp
  tests/vehicle_test.cpp
Labels: <Bugfix>, Info / User Interface, Vehicles

#49108 update some freedesktop metadata files and install them when appropriate
  Makefile
  data/xdg/org.cataclysmdda.CataclysmDDA.appdata.xml
  data/xdg/org.cataclysmdda.CataclysmDDA.desktop
  data/xdg/org.cataclysmdda.CataclysmDDA.svg
  org.cataclysmdda.CataclysmDDA.json
Labels: <Bugfix>, Code: Build, OS: Linux

#49078 Audit FANCY flag use, remove from questionable articles
  data/json/items/armor/bandolier.json
  data/json/items/armor/belts.json
  data/json/items/armor/boots.json
  data/json/items/armor/coats.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/misc.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_clothes.json
  data/json/items/tool_armor.json
  tests/morale_test.cpp
Labels: Items / Item Actions / Item Qualities

#48119 Update credits for 0.F
  data/credits/en.credits
  data/credits/ru.credits
Labels: Organization

#49317 open windows do not close when tearing down curtains
  data/json/furniture_and_terrain/terrain-windows.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#49349 Remove '?' from German Android UI translation
  android/app/src/main/res/values-de/strings.xml
Labels: <Bugfix>, OS: Android, Translation

#49347 Fix VS compile error with move constructor noexcept
  src/character.cpp
  src/character.h
  src/compatibility.h
  src/creature.cpp
  src/creature.h
  src/item.cpp
  src/item.h
  src/monster.cpp
  src/monster.h
  src/npc.cpp
  src/npc.h
  src/player.cpp
  src/player.h
  src/projectile.cpp
  src/projectile.h
  src/submap.cpp
  src/submap.h
Labels: <Bugfix>, Code: Build, OS: Windows

#49350 Tileset update 2021-06-18
  gfx/ChibiUltica/ChibiNormalMonster.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tallfurniture.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound

#48887 Fix item duplication exploit when trading items with charges with NPCs
  src/npctrade.cpp
Labels: (P2 - High), <Bugfix>, <Exploit>, Items / Item Actions / Item Qualities, NPC / Factions

#49335 Add right wing mirror to the Low-End Cube Van
  data/json/vehicles/vans_busses.json
  tests/vehicle_drag_test.cpp
Labels: Vehicles

#49241 Add mansion basecamp
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/fake.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_+1.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_+2.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_+3.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_+4.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_common.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_expansion.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_overmap.json
  data/json/overmap/overmap_terrain/overmap_terrain_faction_base.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_+1.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_+2.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_+3.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_+4.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_expansion_surveys.json
  data/json/recipes/basecamps/recipe_groups.json
Labels: 0.F Content Freeze, 0.F String Freeze, Crafting / Construction / Recipes, Player Faction Base / Camp

#49356 Revert "Add mansion basecamp" (merged to wrong branch)
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/fake.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_+1.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_+2.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_+3.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_+4.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_common.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_expansion.json
  data/json/mapgen/basecamps/fbmc_mansion/fbmc_mansion_overmap.json
  data/json/overmap/overmap_terrain/overmap_terrain_faction_base.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_+1.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_+2.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_+3.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_+4.json
  data/json/recipes/basecamps/fbmc_mansion/fbmc_mansion_expansion_surveys.json
  data/json/recipes/basecamps/recipe_groups.json
Labels: (P2 - High), <Bugfix>

#49355 Cuteclysm: Update
  gfx/Cuteclysm/backdropoffset.png
  gfx/Cuteclysm/creatures.png
  gfx/Cuteclysm/hugebackdrop.png
  gfx/Cuteclysm/items.png
  gfx/Cuteclysm/tallbackdrop.png
  gfx/Cuteclysm/tile_config.json
Labels: SDL: Tiles / Sound

#49361 Clear enchantment factory
  src/init.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: <Bugfix>, [C++]

#49366 [Aftershock] Adds neural io drops to harvests
  data/mods/Aftershock/harvest.json
  data/mods/Aftershock/recipes/deconstruction.json
Labels: Mods: Aftershock, Monsters, Spawn

#49370 reset dodges_left on_dodge test
  src/animation.cpp
  tests/melee_dodge_hit_test.cpp
Labels: <Bugfix>, Code: Tests, Melee, [C++]

#49371 Make judo belts reasonably repairable, about equivalent to a scarf
  data/json/items/armor/belts.json
Labels: <Bugfix>, [JSON]

#49386 Add zombies to light industry complex
  data/json/mapgen/s_lightindustry.json
Labels: <Bugfix>, Game: Balance, Monsters, Spawn

#49351 Remove unused static variables
  src/mutation.cpp
  tests/explosion_balance_test.cpp
Labels: Code: Tests, [C++]

#49378 Fix thread safety warning on localtime()
  src/debug.cpp
  src/game.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#49400 Fix friendly hallu NPC were able to trade
  data/json/npcs/TALK_COMMON_ALLY.json
Labels: <Bugfix>, [JSON]

#49372 Mexican Hot Chocolate
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes

#49364 fix bug applying bad knees multiplier when moving diagonally with bad knees
  src/character.cpp
Labels: <Bugfix>, Mechanics: Effects / Skills / Stats

#49247 Add fire lookout tower basecamp
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_beds.json
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_common.json
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_log.json
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_metal.json
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_migo_resin.json
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_rammed_earth.json
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_rock.json
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_wad.json
  data/json/mapgen/basecamps/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_wood.json
  data/json/mapgen/basecamps/modular_shacks.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_beds.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_common.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_log.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_metal.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_migo_resin.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_rammed_earth.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_rock.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_wad.json
  data/json/recipes/basecamps/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_wood.json
  data/json/recipes/basecamps/recipe_groups.json
Labels: 0.F String Freeze, Map / Mapgen, Player Faction Base / Camp

#49249 Add radio tower basecamp
  data/json/items/book/maps.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_beds.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_common.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_log.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_metal.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_migo_resin.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_rammed_earth.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_rock.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_wad.json
  data/json/mapgen/basecamps/fbmc_radio_tower/fbmc_radio_tower_wood.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_beds.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_common.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_log.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_metal.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_migo_resin.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_rammed_earth.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_rock.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_wad.json
  data/json/recipes/basecamps/fbmc_radio_tower/recipe_modular_radio_tower_wood.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/recipe_companion.json
Labels: 0.F String Freeze, Player Faction Base / Camp

#49333 Add pottery cottage basecamp
  data/json/mapgen/basecamps/fbmc_pottery_cottage/fbmc_pottery_cottage_blacksmith.json
  data/json/mapgen/basecamps/fbmc_pottery_cottage/fbmc_pottery_cottage_common.json
  data/json/recipes/basecamps/fbmc_pottery_cottage/recipe_pottery_cottage_blacksmith.json
  data/json/recipes/basecamps/fbmc_pottery_cottage/recipe_pottery_cottage_common.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/recipe_companion.json
Labels: 0.F Content Freeze, 0.F String Freeze, Player Faction Base / Camp

#49399 Fix crash on acid blood extraction
  src/iuse.cpp
Labels: <Bugfix>, <Crash / Freeze>, Items / Item Actions / Item Qualities, Mechanics: Temperature

#49344 Make plague cockroaches spawn
  data/json/mapgen/house/house05.json
  data/json/mapgen/house/house09.json
  data/json/mapgen/house/house13.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/restaurant_fast.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/monstergroups/bugs.json
Labels: <Bugfix>, Monsters, Spawn

#49413 Remove some incompatible map specials from classic_zombies
  data/json/overmap/overmap_special/specials.json
Labels: <Bugfix>, Map / Mapgen, Mods: Dark Days of the Dead

#49410 Disable the refugee center navigation mission in classic_zombies mod
  data/mods/classic_zombies/missiondef.json
Labels: <Bugfix>, Missions, Mods: Dark Days of the Dead

#49409 [Aftershock] Remove bio_blaster cbm spawns
  data/mods/Aftershock/itemgroups/bionics_groups.json
  data/mods/Aftershock/recipes/recipes.json
Labels: <Bugfix>, Mods: Aftershock

#49403 Changelog 06192021
  data/changelog.txt
Labels: <Documentation>, Organization

#49430 Update ultica for stable
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound

#49415 Fix gravel construction inconsistencies etc
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-railroads.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps

#49429 Fix some map extras that didn't spawn.
  data/json/mapgen/map_extras/wilderness.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
Labels: <Bugfix>, Map / Mapgen

#49427 Fix ghee triggering lactose intolerant allergies
  data/json/items/comestibles/dairy.json
Labels: <Bugfix>, Items: Food / Vitamins, Mutations / Traits / Professions

#49423 add reset of zone_manager
  src/clzones.cpp
  src/clzones.h
  src/init.cpp
Labels: <Bugfix>, [C++]

#49407 Use Win32 API to retrieve current time
  .lgtm.yml
  src/debug.cpp
  src/game.cpp
Labels: (P1 - Critical), OS: Windows, [C++]

#49436 Fix 'unvisited member' in tilesets & mod tilesets
  src/cata_tiles.cpp
  src/mod_tileset.cpp
Labels: <Bugfix>, SDL: Tiles / Sound

#49441 Bugfixes "Add slightly more stuff to houses that feel empty"
  data/json/mapgen/farm.json
  data/json/mapgen/farm_dairy.json
  data/json/mapgen/swamp_shack.json
  data/json/mapgen/thrift.json
Labels: Map / Mapgen, [JSON]

#49443 Move zone manager reset to the cleanup at end.
  src/clzones.cpp
  src/clzones.h
  src/game.cpp
  src/init.cpp
Labels: <Bugfix>, [C++]

#49460 [Magiclysm] give magic wands a longest side
  data/mods/Magiclysm/items/enchanted_wands.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mods: Magiclysm

#49336 Add lighthouse basecamp
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/items/fake.json
  data/json/mapgen/basecamps/fbmc_lighthouse/fbmc_lighthouse.json
  data/json/recipes/basecamps/fbmc_lighthouse/recipe_modular_lighthouse_common.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/recipe_food.json
Labels: 0.F Content Freeze, 0.F String Freeze, Crafting / Construction / Recipes, Player Faction Base / Camp

#49451 Glock 40 MOS sight dispersion too high
  data/json/items/gun/10mm.json
Labels: Items / Item Actions / Item Qualities, Items: Gunmod / Toolmod, Ranged, [JSON]

#49452 npctrade: Skip vehicle inventories when trading with an ally
  src/npctrade.cpp
Labels: Info / User Interface, Inventory / AIM / Zones, NPC / Factions, Quality of Life, Vehicles

#49453 Minor changelog copyediting
  data/changelog.txt
Labels: <Documentation>, Organization, Other

#49459 [Magiclysm] small item category fixes
  data/mods/Magiclysm/items/containers.json
  data/mods/Magiclysm/items/tools.json
Labels: <Bugfix>, Items: Containers, Mods: Magiclysm

#49466 Don't waste XP on known proficiencies
  src/crafting.cpp
Labels: (P2 - High), <Bugfix>, Mechanics: Effects / Skills / Stats, [C++]

#49465 Make turtlenecks no longer unreasonably valuable
  data/json/items/tool_armor.json
Labels: <Bugfix>, Game: Balance, Items / Item Actions / Item Qualities, [JSON]

#49476 Don't complain about glowsticks having charges
  data/json/obsoletion/charge_removal.json
Labels: [JSON]

#49467 Small fix to house mapgen
  data/json/mapgen/house/house08.json
  data/json/mapgen/house/house_detatched5.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#49489 Change toolbox crafting category
  data/json/recipes/tools/containers.json
Labels: Crafting / Construction / Recipes, [JSON]

#49486 adjust proficiency ratios
  data/json/items/book/fabrication.json
  data/json/items/book/tailor.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, [JSON]

#49484 fix biotek canceling force mage
  data/mods/Magiclysm/traits/attunements.json
Labels: <Bugfix>, Mods: Magiclysm

#49470 Allow NPCs to accept exact trades.
  src/npctrade.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#49454 Allow removing items in pocket whitelist/blacklist but not nearby
  src/item_contents.cpp
  src/item_pocket.cpp
  src/item_pocket.h
Labels: <Bugfix>, [C++]

#49497 Salt production using lye or rocksalt now uses applied science, not cooking
  data/json/recipes/recipe_food.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats, [JSON]

#49498 Fix proficiency fail rates in magiclysm
  data/mods/Magiclysm/proficiencies.json
  data/mods/Magiclysm/recipes/blacksmithing.json
  data/mods/Magiclysm/recipes/magic_tools.json
Labels: <Bugfix>, Mods: Magiclysm, [JSON]

#49499 make it possible for cbms to be fueled by non-fuel items
  data/mods/Magiclysm/bionics.json
  data/mods/Magiclysm/harvest.json
  data/mods/Magiclysm/items/fuel.json
  data/mods/Magiclysm/items/obsolete.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/requirements/spell_components.json
  src/character.cpp
  src/consumption.cpp
Labels: <Bugfix>, <Enhancement / Feature>, Bionics, Mods: Magiclysm

#49491 Use DX3D11 renderer by default if it is available
  src/options.cpp
Labels: OS: Windows, SDL: Tiles / Sound

#49481 [Magiclysm] Increase animated blade's armor
  data/mods/Magiclysm/monsters.json
Labels: Game: Balance, Melee, Mods: Magiclysm

#49496 Adding new apartment tower to large building start
  data/json/scenarios.json
  data/json/start_locations.json
Labels: Character / World Generation, Scenarios, [JSON]

#49503 Update tilesets 2021-06-30
  gfx/ChibiUltica/ChibiLargeMonster.png
  gfx/ChibiUltica/ChibiLargeMonsterMagiclysm.png
  gfx/ChibiUltica/ChibiTallMonster.png
  gfx/ChibiUltica/giant.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/incomplete_tall.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tallfurniture.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/UltimateCataclysm/giant.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound
