Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2021-04, with the labels that each got.

#48275 Filter items by book skill ( V, e, / ), fixes #47530
  src/item.cpp
  src/item.h
  src/item_search.cpp
  src/output.cpp
Labels: 0.F String Freeze, Info / User Interface, [C++]

#47709 Replace "two-by-four" with "plank" in user-facing strings
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-traps.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/workshop.json
  data/json/items/vehicle/plating.json
  data/json/npcs/Backgrounds/evacuee_5.json
  data/json/npcs/Backgrounds/no_past_4.json
  data/json/npcs/hints.json
  doc/GAME_BALANCE.md
  doc/VEHICLES_JSON.md
  src/crafting_gui.cpp
  src/map.cpp
  tests/melee_test.cpp
Labels: 0.F String Freeze

#47835 Added warning to excessive long attack times
  src/character.h
  src/melee.cpp
Labels: 0.F String Freeze, [C++]

#48124 meatballs
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/recipe_food.json
Labels: 0.F Content Freeze, 0.F String Freeze, Items: Food / Vitamins, [JSON]

#48301 Fix dogs evolving into Skeletal Juggernauts
  data/json/monsters/zanimal_upgrade.json
Labels: Monsters, [JSON]

#48290 Make sure no weather_override for weather test
  tests/weather_test.cpp
Labels: Code: Tests, [C++]

#48310 Manually install GCC 7 and GCC 8 on GitHub Action workflow
  .github/workflows/matrix.yml
Labels: Code: Tests

#48317 Fixed mass grave map extra not spawning
  data/json/mapgen/map_extras/mass_grave.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#48325 Fix Unyen's antidepressant mission
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
Labels: <Bugfix>, Missions, [JSON]

#48304 Fix Spider Antennae and Persistent Mouth Flaps
  data/json/mutations/mutations.json
Labels: <Bugfix>, Mutations / Traits / Professions, [JSON]

#48302 Add Venomous (and its prereq) to Cephalopod Mutations
  data/json/mutations/mutations.json
Labels: Mutations / Traits / Professions, [JSON]

#48308 Fix saving of player data
  src/activity_tracker.cpp
  src/activity_type.cpp
  src/avatar.cpp
  src/character.cpp
  src/character.h
  src/game_constants.h
  src/move_mode.cpp
  src/recipe.cpp
Labels: <Bugfix>, Mechanics: Character / Player, [C++]

#48332 Translated 0.F credits
  data/credits/es_AR.credits
  data/credits/es_ES.credits
  data/credits/ja.credits
  data/credits/pl.credits
  data/credits/ru.credits
  data/credits/zh_CN.credits
Labels: Translation

#48333 Remove nonexistent INSTALL file mention from CMake messages
  CMakeLists.txt
  lang/CMakeLists.txt
Labels: <Documentation>, Code: Build

#48329 Fixed cot spawning on open air
  data/json/mapgen/musicstore.json
  data/json/mapgen/private_resort.json
Labels: <Bugfix>, Map / Mapgen, [JSON]

#48355 Avoid error and crash when loading activity data
  src/avatar.cpp
Labels: <Bugfix>, [C++]

#48352 Minor tool fixes
  data/json/items/tool/med.json
  data/json/items/tool/workshop.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#48357 Remove salted fish from pemmican recipe, add salted meat to a number of recipes
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Game: Balance, Items: Food / Vitamins

#48369 Clean up JSON_STYLE.md
  doc/JSON_STYLE.md
Labels: [Markdown]

#48366 Fixed emp blast not working on unseen targets
  src/explosion.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Monsters

#48358 After eating marloss berry, don't spawn fungal terrain in the air
  src/fungal_effects.cpp
  src/iuse.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps

#48350 Bring electronic light craft times in line
  data/json/recipes/tools/lights.json
Labels: Crafting / Construction / Recipes, Game: Balance

#48348 Fix for acidic ant queens and acidic ant larvae spawning in ordinary ant tunnels
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/overmap.cpp
  src/overmap.h
Labels: <Bugfix>, Map / Mapgen

#48353 Make diggers on undiggable terrain visible
  src/creature.cpp
Labels: <Bugfix>, Info / User Interface, Monsters, [C++]

#48327 Jsonify drug dealer map extra
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/mapgen/map_extras/drug_dealers.json
  data/json/overmap/map_extras.json
  src/map_extras.cpp
Labels: Map / Mapgen, [C++], [JSON]

#48361 [CRIT] Fix helmet disappearing on deactivation
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Mods, [JSON]

#48365 Turrets will be removed only if player actually uses his id card on cardreader
  src/iexamine.cpp
Labels: <Bugfix>, <Exploit>, Fields / Furniture / Terrain / Traps, Monsters

#48245 Fix z-level melee attack difference problems (with testing code)
  src/melee.cpp
  src/monmove.cpp
  src/monster.cpp
  tests/monster_attack_test.cpp
Labels: <Bugfix>, Code: Tests, Info / User Interface, Z-levels, [C++]

#48285 Update hooded hard hat recipe
  data/json/recipes/armor/head.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#48151 Allows defining enchantments inline in bionics/mutations
  data/json/bionics.json
  data/json/enchantments.json
  data/json/mutations/mutation_enchantments.json
  data/json/mutations/mutations.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/mutation_data.cpp
Labels: <Enhancement / Feature>, Mods: Magiclysm, Mutations / Traits / Professions, [JSON]

#48295 Unhardcode bio_drain bionic faults
  data/json/effect_on_condition.json
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
  src/dialogue.h
  src/npctalk.cpp
  src/suffer.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: Bionics

#48319 Do not do character body updates more than once per turn
  src/character.cpp
  src/creature.h
  src/monster.h
  src/npc.cpp
  src/npc.h
  src/savegame_json.cpp
Labels: <Bugfix>, Character / World Generation, Mechanics: Character / Player, [C++]

#48356 Fix double teleglow on teleport CBM
  src/bionics.cpp
Labels: <Bugfix>, Bionics

#48359 Fix wheat cereals
  data/json/items/comestibles/cereal.json
  data/json/recipes/food/baking.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items: Food / Vitamins, [JSON]

#48367 When harvesting crops, drop the result on player's square
  src/iexamine.cpp
Labels: <Bugfix>, [C++]

#48373 [Blaze] Move recipes for Blaze vehicle crafting rigs from Aftershock to Blaze.
  data/mods/Aftershock/recipes/obsolete.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/BlazeIndustries/recipes/blaze_other_recipes.json
Labels: <Bugfix>, Mods

#47117 Mutations + Bionics: The Cancelling
  data/json/bionics.json
Labels: Bionics, Mutations / Traits / Professions, [JSON]

#47943 Add Underground Pit Digging
  data/json/construction.json
  data/json/construction_group.json
  data/json/recipes/basecamps/recipe_modular_canteen/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/recipe_modular_field_common.json
  data/json/recipes/basecamps/recipe_modular_field_defenses.json
  data/json/recipes/basecamps/recipe_primitive_field.json
Labels: 0.F Content Freeze, 0.F String Freeze, Crafting / Construction / Recipes, [JSON]

#48346 Misc typographical fixes
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/battery.json
  data/json/items/gun/flintlock.json
  data/json/items/gun/shot.json
  data/json/items/tool/cooking.json
  data/json/monsters/jabberwock.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_misc.json
  data/json/proficiencies/tailoring.json
Labels: 0.F String Freeze, [JSON]

#48371 Generate crash report on Android
  android/app/jni/src/Android.mk
  android/app/src/main/java/com/cleverraven/cataclysmdda/SplashScreen.java
  android/app/src/main/res/values/strings.xml
  src/crash.cpp
  src/debug.cpp
  src/main.cpp
Labels: Code: Infrastructure / Style / Static Analysis, OS: Android

#48390 make toilet paper spawn in a plastic bag, not a 50L box
  data/json/items/generic/bathroom_house.json
Labels: <Bugfix>, [JSON]

#48347 Partially fix cone-shaped AoE for spells
  src/magic_spell_effect.cpp
Labels: <Bugfix>, Mods: Magiclysm, [C++]

#46780 [Magiclysm] Fix orc archer not spawning with ammo
  data/mods/Magiclysm/monsters/Orcs.json
Labels: 0.F Content Freeze, <Bugfix>, Mods: Magiclysm, [JSON]

#47653 Reduce weariness instability (includes tests); clarified
  src/activity_tracker.cpp
  tests/activity_scheduling_helper.cpp
  tests/activity_scheduling_helper.h
  tests/weary_test.cpp
Labels: Code: Tests, Mechanics: Character / Player, [C++]

#48341 [Magiclysm] Bugfix: Fake spells should not trigger achievements
  src/magic.cpp
Labels: <Bugfix>, Game: Achievements / Conducts / Scores

#48339 Make Arsonist NPC spawn with way fewer items so they fit in inventory
  data/json/itemgroups/Locations_MapExtras/Arsonist_stock.json
  data/json/npcs/refugee_center/surface_visitors/NPC_arsonist.json
Labels: NPC / Factions

#48370 Reword student description
  data/json/professions.json
Labels: 0.F String Freeze, Mutations / Traits / Professions, [JSON]

#47996 Add feral scientists and lab security
  data/json/harvest.json
  data/json/monsterdrops/feral_humans.json
  data/json/monstergroups/lab.json
  data/json/monsters/feral_humans.json
  data/json/snippets/lab.json
Labels: 0.F Content Freeze, 0.F String Freeze, Monsters, [JSON]

#48383 Add Longest Sides: Workshop.json
  data/json/items/tool/workshop.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#48414 Hide write_demangled_frame() for Android build
  src/debug.cpp
Labels: Code: Build, OS: Android, [C++]

#48412 Correct Pocket Data in Workshop.json
  data/json/items/tool/workshop.json
Labels: Items: Containers, [JSON]

#45887 Link to the git repo for a list of contributors
  data/credits/en.credits
Labels: <Documentation>, Other, stale

#47883 Added uncraft recipes for Generic_Guns ammo
  data/mods/Generic_Guns/uncraft/ammo/grenade_propelled.json
  data/mods/Generic_Guns/uncraft/ammo/pistol.json
  data/mods/Generic_Guns/uncraft/ammo/pistol_magnum.json
  data/mods/Generic_Guns/uncraft/ammo/pistol_tiny.json
  data/mods/Generic_Guns/uncraft/ammo/rifle.json
  data/mods/Generic_Guns/uncraft/ammo/rifle_huge.json
  data/mods/Generic_Guns/uncraft/ammo/shot.json
Labels: <Bugfix>, Mods: Generic Guns, [JSON]

#47989 cap asthma attacks & give inhaler antiasthmatic effect
  src/iuse.cpp
  src/suffer.cpp
Labels: <Bugfix>, [C++]

#48316 Make UNMOUNT_ON_DAMAGE drop damaged items, fixes #48212
  src/vehicle.cpp
Labels: <Bugfix>, [C++]

#48328 Bugfix: Improve road system expansion across multiple overmaps
  src/overmap.cpp
Labels: Map / Mapgen, [C++]

#48423 Fancy wristwatches have alarms too
  data/json/items/armor/jewelry.json
  data/json/items/tool_armor.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#48393 Changelog O—G
  data/changelog.txt
Labels: Organization

#48416 Update hardcoded monster attack documentation
  doc/JSON_FLAGS.md
Labels: Monsters, [Markdown]

#48250 [Magiclysm] make magical tools more expensive
  data/mods/Magiclysm/items/enchanted_melee.json
Labels: Game: Balance, Mods: Magiclysm, [JSON]

#48439 Jokes are over
  CNAME
Labels: Organization: Sites

#48442 Tweak extra long white gloves stats
  data/json/items/armor/gloves.json
Labels: [JSON]

#48436 Fix some dialog in refugee trees
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
Labels: 0.F String Freeze, [JSON]

#48444 Clarify Wood Saw's log-to-plank ability in its description
  data/json/items/tool/woodworking.json
Labels: [JSON]

#48448 [Dark Skies] Lore and JSON Cleanup, Blacklists Mutant Wildlife
  data/mods/Dark-Skies-Above/mondrops.json
  data/mods/Dark-Skies-Above/overrides/monsters.json
  data/mods/Dark-Skies-Above/overrides/professions.json
  data/mods/Dark-Skies-Above/overrides/scenarios.json
  data/mods/Dark-Skies-Above/speech/neworder_speech.json
Labels: Mods: Dark Skies, [JSON]

#48446 [Dark Skies] Adds ballistic armor to aliens
  data/mods/Dark-Skies-Above/monsters/alien_cyborgs.json
  data/mods/Dark-Skies-Above/monsters/alien_robots.json
Labels: Mods: Dark Skies, Monsters, [JSON]

#48315 More randomized amounts in itemgroups
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Clothing_Gear/hazmat_gear.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/Arsonist_stock.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Locations_MapExtras/private_resort_item_groups.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_advtech.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/collections_trades.json
  data/json/itemgroups/corpses.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/oa_shared_item_groups.json
  data/json/itemgroups/roof.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/shops_trades.json
  data/json/itemgroups/stashes.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/trash_and_debris.json
  data/json/itemgroups/vehicles_fuel_related.json
Labels: Spawn, [JSON]

#48420 Audit Pocket Length/Volume/Weight Clothing
  data/json/items/armor/coats.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_clothes.json
Labels: Items: Containers, [JSON]

#48228 Dark Skies Above: Surveillance drone scan and reinforcements
  data/mods/Dark-Skies-Above/mapgen/map_extras/patrols.json
  data/mods/Dark-Skies-Above/monattack.json
  data/mods/Dark-Skies-Above/monspell.json
  data/mods/Dark-Skies-Above/monsters/alien_cyborgs.json
  data/mods/Dark-Skies-Above/monsters/alien_robots.json
  src/monattack.cpp
  src/monattack.h
  src/monstergenerator.cpp
  src/timed_event.cpp
  src/timed_event.h
Labels: 0.F String Freeze, <Enhancement / Feature>, Map / Mapgen, Mods: Dark Skies, Monsters

#48386 simple makeshift glaive
  data/json/items/melee/spears_and_polearms.json
  data/json/items/tool/misc.json
  data/json/martialarts.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: 0.F Content Freeze, 0.F String Freeze, Crafting / Construction / Recipes, Melee, [JSON]

#48460 Mark string for translation
  src/iexamine.cpp
Labels: Translation

#48243 [Magiclysm]add second dragon book to dragon_books
  data/mods/Magiclysm/itemgroups/itemgroups.json
Labels: Mods: Magiclysm, Spawn, [JSON]

#48470 Report duplicate profession ID in scenario
  src/scenario.cpp
Labels: Info / User Interface

#48472 Updated Android translations
  android/app/src/main/res/values-es-rAR/strings.xml
  android/app/src/main/res/values-es-rES/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
Labels: OS: Android, Translation

#48334 Clean up system language detection code
  src/main.cpp
  src/path_info.cpp
  src/translations.cpp
  src/translations.h
Labels: Code: Infrastructure / Style / Static Analysis, Translation, [C++]

#48467 Enable clang-tidy check for noexcept move constructors
  .clang-tidy
  src/character.cpp
  src/character.h
  src/clone_ptr.h
  src/creature.cpp
  src/creature.h
  src/item.cpp
  src/item.h
  src/monster.cpp
  src/monster.h
  src/npc.cpp
  src/npc.h
  src/player.cpp
  src/player.h
  src/player_activity.h
  src/projectile.cpp
  src/projectile.h
  src/safe_reference.cpp
  src/safe_reference.h
  src/submap.cpp
  src/submap.h
  src/value_ptr.h
  src/veh_type.cpp
  src/veh_type.h
  src/weighted_list.h
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#48336 Retractable security gates
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/mapgen/mall/mall_ground.json
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/iuse.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: 0.F Feature Freeze, <Enhancement / Feature>, Fields / Furniture / Terrain / Traps

#48487 Update tilesets 2021-04-11
  gfx/ChibiUltica/ChibiLargeMonster.png
  gfx/ChibiUltica/ChibiNormalMonster.png
  gfx/ChibiUltica/ChibiTallMonster.png
  gfx/ChibiUltica/incomplete_large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tallfurniture.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/UltimateCataclysm/incomplete_large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound

#48482 Fix compile error related to noexcept move assignment operators on older platforms
  src/character.cpp
  src/character.h
  src/compatibility.h
  src/item.cpp
  src/item.h
  src/monster.cpp
  src/monster.h
  src/npc.cpp
  src/npc.h
  src/player.cpp
  src/player.h
  src/veh_type.cpp
  src/veh_type.h
Labels: Code: Build, Code: Infrastructure / Style / Static Analysis, [C++]

#48504 Add a sprite for ferns to RetroDays
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/RetroDaysTileset/tiles_20x20.png
Labels: SDL: Tiles / Sound

#48509 Infrastructure "pixelscale support in compose.py"
  tools/gfx_tools/compose.py
Labels: <Bugfix>, Code: Tooling, SDL: Tiles / Sound, [Python]

#48480 Enable performance-inefficient-vector-operation
  .clang-tidy
  src/activity_item_handling.cpp
  src/cata_tiles.cpp
  src/debug_menu.cpp
  src/faction_camp.cpp
  src/inventory.cpp
  src/item_contents.cpp
  src/magic_spell_effect.cpp
  src/mission_companion.cpp
  src/newcharacter.cpp
  src/npc.h
  src/requirements.cpp
  tests/encumbrance_test.cpp
  tests/generic_factory_test.cpp
  tests/ranged_balance_test.cpp
  tests/string_ids_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, [C++]

#48498 Stop special-casing terrain and furniture in mapgen
  src/mapgen.cpp
  src/mapgen.h
Labels: Code: Infrastructure / Style / Static Analysis, Fields / Furniture / Terrain / Traps, Map / Mapgen, [C++]

#48503 Remove Unarmed Weapon flags from bladed weapons
  data/json/items/melee/fake.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/melee/unarmed_weapons.json
  data/json/martialarts.json
  tests/effective_dps_test.cpp
Labels: Game: Balance, Mechanics: Effects / Skills / Stats, Melee, [JSON]

#48505 Fix a typo
  data/mods/Magiclysm/items/armor.json
Labels: 0.F String Freeze, <Bugfix>, Mods: Magiclysm, [JSON]

#48491 Cap duration of some effects
  data/json/effects.json
Labels: <Bugfix>, Game: Balance, Items / Item Actions / Item Qualities, Mechanics: Effects / Skills / Stats, [JSON]

#48481 Adjust formula for monster speed description
  src/monster.cpp
Labels: <Bugfix>, Info / User Interface, Monsters, [C++]

#48516 New clang-tidy check for unsequenced calls to member functions
  src/construction.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
  src/mapgendata.cpp
  src/melee.cpp
  src/mission.cpp
  src/mission.h
  src/monster.cpp
  src/monster.h
  src/npctalk_funcs.cpp
  src/overmap.h
  src/pathfinding.cpp
  src/ranged.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  src/visitable.cpp
  tests/crafting_test.cpp
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/TestsMustRestoreGlobalStateCheck.h
  tools/clang-tidy-plugin/UnsequencedCallsCheck.cpp
  tools/clang-tidy-plugin/UnsequencedCallsCheck.h
  tools/clang-tidy-plugin/Utils.h
  tools/clang-tidy-plugin/test/unsequenced-calls.cpp
Labels: 0.F Feature Freeze, <Bugfix>, Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#48431 Enable clang-tidy check cert-err34-c (use of integer parsing functions without error reporting)
  .clang-tidy
  src/debug_menu.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/options.cpp
  src/output.cpp
  src/point.cpp
  src/ranged.cpp
  src/safemode_ui.cpp
  src/string_input_popup.cpp
  src/try_parse_integer.cpp
  src/try_parse_integer.h
  src/worldfactory.cpp
  tests/item_test.cpp
  tests/iteminfo_test.cpp
  tests/try_parse_integer_test.cpp
  tools/clang-tidy-plugin/NoLongCheck.cpp
  tools/clang-tidy-plugin/test/no-long.cpp
Labels: 0.F Feature Freeze, Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#48541 Remove BMG_TUR and SMG from JSON_FLAGS.md
  doc/JSON_FLAGS.md
Labels: <Bugfix>, <Documentation>, [Markdown]

#48547 Enable clang-tidy checks cert-msc{30,32,50,51}-cpp
  .clang-tidy
Labels: Code: Tests, [C++]

#48550 Enable clang-tidy check performance-implicit-conversion-in-loop
  .clang-tidy
Labels: 0.F Feature Freeze, Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#48553 Remove Burrowing Mutation Pickaxe Effect
  data/json/item_actions.json
  data/json/items/fake.json
  data/json/mutations/mutations.json
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/avatar_action.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  src/player_activity.cpp
Labels: <Bugfix>, Game: Balance, Mutations / Traits / Professions, [C++], [JSON]

#48555 Updated bagh_nakha expected DPS value
  tests/effective_dps_test.cpp
Labels: Code: Tests

#48552 Don't spawn player in open air
  src/start_location.cpp
Labels: <Bugfix>, Spawn

#48549 fix repair kits having poor chiseling
  data/json/items/tool/workshop.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#48551 Vehicle part length update
  data/json/items/vehicle/wheel.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, Vehicles, [JSON]

#48557 Fix not-spring eternal season
  src/game.cpp
Labels: <Bugfix>, Character / World Generation, Time / Turns / Duration / Date, [C++]

#48528 Aftershock:Add cold resistance gear to escape pod
  data/mods/Aftershock/itemgroups/spaceship_groups.json
  data/mods/Aftershock/items/ethereal.json
Labels: 0.F Content Freeze, Mods: Aftershock, [JSON]

#48425 Improved multi cooker activation
  src/iuse.cpp
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [C++]

#48445 [Dark Skies] Fixes faction relationships
  data/mods/Dark-Skies-Above/factions.json
  data/mods/Dark-Skies-Above/monsters/alien_fauna.json
Labels: Mods: Dark Skies, NPC / Factions, [JSON]

#48415 Force redraw if pixel minimap is turned on
  src/handle_action.cpp
Labels: SDL: Tiles / Sound

#48561 Disable turning on ramp - bugfix
  src/handle_action.cpp
Labels: <Bugfix>, Vehicles, [C++]

#48570 If the result item of a recipe doesn't have RAW flag add COOKED flag
  src/crafting.cpp
  src/recipe.cpp
  src/recipe.h
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#48572 Move Mingw CI build to GitHub actions
  .github/workflows/matrix.yml
  .travis.yml
  build-scripts/requirements.sh
Labels: Code: Tests

#48591 fix: GCC 11 build failures
  src/activity_item_handling.cpp
  src/avatar.cpp
  src/avatar_action.cpp
Labels: Code: Build, [C++]

#48582 [Aftershock] Bugfix Migo Uplifted int is now different id
  data/mods/Aftershock/mutations/mutations.json
Labels: <Bugfix>, Mods: Aftershock, Mutations / Traits / Professions

#48565 Infrastructure "compose.py: Fix --use-all when there are no filler sheets"
  tools/gfx_tools/compose.py
Labels: (P2 - High), <Bugfix>, Code: Tooling, [Python]

#48543 Improving pyvips instructions
  doc/DEVELOPER_TOOLING.md
  doc/TILESET.md
Labels: <Documentation>, SDL: Tiles / Sound, [Markdown]

#48576 Remove charges from items that use charges from loaded battery
  data/json/items/tool_armor.json
Labels: <Bugfix>, Items: Battery / UPS, [JSON]

#48575 Do not display "Recipe makes: xxx" if not needed
  src/recipe.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Info / User Interface, [C++]

#48567 Out of jokes changelog update
  data/changelog.txt
Labels: Organization

#48593 Fix torch disappearing
  data/json/items/tool/lighting.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#48571 clang-tidy performance-inefficient-string-concatenation
  .clang-tidy
  src/basecamp.cpp
  src/cata_tiles.cpp
  src/cata_utility.h
  src/chkjson/chkjson.cpp
  src/debug.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/help.cpp
  src/item.cpp
  src/iuse.cpp
  src/mapgen.cpp
  src/mission_companion.cpp
  src/mod_manager.cpp
  src/newcharacter.cpp
  src/npctrade.cpp
  src/options.cpp
  src/veh_interact.cpp
  src/worldfactory.cpp
  tests/string_test.cpp
  tools/clang-tidy-plugin/HeaderGuardCheck.cpp
  tools/clang-tidy-plugin/UnsequencedCallsCheck.cpp
  tools/clang-tidy-plugin/Utils.h
  tools/clang-tidy-plugin/test/unsequenced-calls.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Performance, Code: Tests, [C++]

#48594 Enable clang-tidy check cert-flp30-c
  .clang-tidy
  tests/rng_test.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tests, [C++]

#48595 Improve error message for JSON files with a BOM
  .github/CONTRIBUTING.md
  doc/MODDING.md
  src/json.cpp
  src/json.h
Labels: 0.F String Freeze, <Bugfix>, <Documentation>, Info / User Interface, OS: Windows, [C++], [JSON]

#48592 Add missing NO_RELOAD flags
  data/json/items/battery.json
  data/json/items/tool/lighting.json
  data/json/items/tool_armor.json
  tests/battery_mod_test.cpp
Labels: <Bugfix>, Code: Tests, Info / User Interface, Items: Ammo, [C++], [JSON]

#48605 Fix .300 conversion mod
  src/avatar_action.cpp
Labels: <Bugfix>, Items: Gunmod / Toolmod, [C++]

#48611 Improve tripoint formatting in debug messages
  src/debug_menu.cpp
Labels: 0.F String Freeze, <Bugfix>, Code: Infrastructure / Style / Static Analysis, [C++]

#48619 Make all cufflinks with gems and intricate cufflink fancy
  data/json/items/armor/jewelry.json
Labels: <Bugfix>, Items / Item Actions / Item Qualities, [JSON]

#48609 Ensure classic locale when serializing (tri)points
  src/point.cpp
  tests/iteminfo_test.cpp
  tests/point_test.cpp
Labels: (P2 - High), <Bugfix>, Code: Tests, OS: Windows, [C++]

#48610 Improve JSON load errors for some files
  src/game.cpp
  src/game.h
  src/memorial_logger.cpp
  src/memorial_logger.h
  src/savegame.cpp
  tests/memorial_test.cpp
Labels: 0.F Feature Freeze, <Enhancement / Feature>, Code: Infrastructure / Style / Static Analysis, Info / User Interface, OS: Android, [C++]

#48622 Omit tests that are failing on Mingw
  tests/string_formatter_test.cpp
Labels: <Bugfix>, Code: Tests

#48618 Fix up mojocycle duration
  data/mods/Magiclysm/Spells/technomancer.json
Labels: <Bugfix>, Mods: Magiclysm, [JSON]

#48598 Fix deconstruction of some glass get more glass_shard then making them
  data/json/recipes/recipe_deconstruction.json
Labels: <Bugfix>, Crafting / Construction / Recipes, [JSON]

#48580 Prevent duplicate selection of same item when inserting into a container
  src/inventory_ui.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#48636 Prevent concurrent "Push translation template" workflow running
  .github/workflows/translations.yml
Labels: <Bugfix>, Code: Build, Translation

#48640 Allow using jacking tools from vehicle cargo
  src/vehicle_selector.cpp
  src/vehicle_selector.h
  src/visitable.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Vehicles, [C++]

#48638 Removes PROTRUSION flag, so rams can ram more things
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/vehicle_parts.json
Labels: <Bugfix>, Vehicles, [JSON]

#48659 Update MSX, Ultica and Chibi-Ultica 2021-04-26
  gfx/ChibiUltica/ChibiLargeMonster.png
  gfx/ChibiUltica/ChibiNormalCharacter.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tallfurniture.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/fillersmall.png
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/UltimateCataclysm/filler.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: SDL: Tiles / Sound

#48583 Add missing info about expansions
  doc/BASECAMP.md
Labels: <Documentation>, Crafting / Construction / Recipes, [Markdown]

#48588 Fix trap-avoiding monsters freezing in place
  data/json/monsters/cyborgs.json
  data/json/monsters/defense_bot.json
  data/json/monsters/feral_humans.json
  data/json/monsters/fish.json
  data/json/monsters/mi-go.json
  data/json/monsters/mutant.json
  data/json/monsters/nether.json
  data/json/monsters/zed_misc.json
  data/mods/Aftershock/mobs/mutants.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/mobs/water_mobs.json
  data/mods/Magiclysm/monsters/Ogre.json
  data/mods/Magiclysm/monsters/Orcs.json
  data/mods/Magiclysm/monsters/dragon.json
  data/mods/Magiclysm/monsters/forgedwellers.json
  data/mods/Magiclysm/monsters/goblin.json
  data/mods/Magiclysm/monsters/holiday_magiclysm.json
  data/mods/Magiclysm/monsters/lizardfolk.json
  data/mods/Magiclysm/monsters/monsters.json
Labels: <Bugfix>, Mods: Aftershock, Mods: Magiclysm, Monsters, [JSON]

#48627 City size rng scaling balance
  src/overmap.cpp
Labels: 0.F Feature Freeze, <Bugfix>, Map / Mapgen

#48635 Nerf Moodswing
  src/suffer.cpp
Labels: <Bugfix>, Game: Balance, Mutations / Traits / Professions, [C++]

#48652 Fix insert message for partial item stacks
  src/activity_actor.cpp
Labels: <Bugfix>, Info / User Interface, Items / Item Actions / Item Qualities

#48653 Triage clang-tidy readability-braces-around-statements
  .clang-tidy
Labels: <Documentation>, Code: Infrastructure / Style / Static Analysis

#48666 Fix ramming at low speed
  src/vehicle_move.cpp
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Vehicles, [C++]

#48663 [DinoMod] Laser Spinosaurus Laser Nap
  data/mods/DinoMod/monstergroups/lab.json
Labels: <Bugfix>, Mods: Dinoclysm, Spawn, [JSON]

#48678 reduce crafting time and modify proficiencies require to craft rain hood
  data/json/recipes/armor/head.json
Labels: <Bugfix>, Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, [JSON]

#48673 Fix the crafting success formula when crafter is missing proficiencies.
  src/crafting.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, Mechanics: Effects / Skills / Stats

#48685 [Magiclysm] Reduce plastic golem regeneration and armour
  data/mods/Magiclysm/monsters/golems.json
Labels: Game: Balance, Mods: Magiclysm, Monsters

#48684 Correct description of epidemiologist in newspaper
  data/json/snippets/newspapers.json
Labels: 0.F String Freeze, <Bugfix>, Lore, [JSON]

#48656 Change filter without crash when washing items
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: (P2 - High), <Bugfix>, Info / User Interface, Items / Item Actions / Item Qualities, [C++]

#48709 Enable clang-tidy performance-type-promotion-in-math-fn
  .clang-tidy
Labels: 0.F Feature Freeze, Code: Infrastructure / Style / Static Analysis, Code: Performance, Code: Tests
