Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2021-01, with the labels that each got.

#46371 Fix#46143
  src/veh_interact.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46380 Revamp and Balance of most 500 ml tools
  data/json/items/tool/woodworking.json
  data/json/items/tool/workshop.json
Labels: [JSON]

#46418 Prevent segfault while reading
  src/avatar.cpp
  src/player_hardcoded_effects.cpp
Labels: <Bugfix>, [C++]

#46411 Iuse typography
  src/iuse.cpp
Labels: <Bugfix>, Other, [C++]

#46419 Remove obselete crashing chop shop
  data/json/obsolete.json
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
  src/basecamp.h
  src/faction_camp.cpp
  src/veh_type.cpp
  src/veh_type.h
Labels: <Bugfix>, Player Faction Base / Camp, [C++]

#46427 adjust railroad spawns
  data/json/overmap/overmap_special/specials.json
  data/json/regional_map_settings.json
Labels: Game: Balance, Map / Mapgen

#46428 adjust clothing/house spawns
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/SUS/domestic.json
  data/json/mapgen_palettes/basement.json
  data/json/mapgen_palettes/house_general_palette.json
Labels: Game: Balance, Spawn

#46434 fixed typo in description of "Peanut Butter Bruised"
  data/json/items/book/young.json
Labels: [JSON]

#46286 Add lightweight crafting inventory to improve NPC construction time
  src/action.cpp
  src/activity_item_handling.cpp
  src/ballistics.cpp
  src/butchery_requirements.cpp
  src/butchery_requirements.h
  src/character.cpp
  src/character.h
  src/construction.cpp
  src/construction.h
  src/consumption.cpp
  src/craft_command.cpp
  src/craft_command.h
  src/crafting.cpp
  src/iexamine.cpp
  src/inventory.cpp
  src/inventory.h
  src/inventory_ui.cpp
  src/item.cpp
  src/item.h
  src/item_location.cpp
  src/iuse_actor.cpp
  src/map.h
  src/map_selector.h
  src/npc.cpp
  src/npcmove.cpp
  src/npctrade.cpp
  src/player.cpp
  src/profession.cpp
  src/requirements.cpp
  src/requirements.h
  src/temp_crafting_inventory.cpp
  src/temp_crafting_inventory.h
  src/vehicle.h
  src/vehicle_selector.h
  src/visitable.cpp
  src/visitable.h
  src/vpart_position.h
  tests/crafting_test.cpp
  tests/invlet_test.cpp
  tests/item_location_test.cpp
  tests/new_character_test.cpp
  tests/reload_magazine_test.cpp
  tests/temp_crafting_inv_test.cpp
  tests/visitable_remove_test.cpp
Labels: Code: Performance, Crafting / Construction / Recipes, NPC / Factions, [C++]

#46443 Rename DPS test sections, fix makeshift axe/hammer
  tests/effective_dps_test.cpp
Labels: <Bugfix>, Code: Tests

#46347 Allow books to provide help with proficienies
  data/json/items/book/fabrication.json
  data/json/items/book/tailor.json
  src/inventory.cpp
  src/inventory.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/proficiency.cpp
  src/proficiency.h
  src/recipe.cpp
  src/recipe.h
Labels: Crafting / Construction / Recipes, [C++]

#46386 STOP THOSE MOOCHERS!! aka Fix beggars taking all food
  data/json/npcs/refugee_center/beggars/BEGGAR_1_Reena_Sandhu.json
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
  data/json/npcs/refugee_center/beggars/BEGGAR_3_Luo_Meizhen.json
  data/json/npcs/refugee_center/beggars/BEGGAR_4_Brandon_Garder.json
  doc/NPCs.md
  src/dialogue.h
  src/npctalk.cpp
Labels: <Bugfix>, [C++]

#46357 Bleeding type for species
  data/json/species.json
  src/monster.cpp
  src/monstergenerator.cpp
  src/monstergenerator.h
  src/mtype.cpp
  src/mtype.h
  tests/creature_effect_test.cpp
Labels: <Enhancement / Feature>, Monsters, [C++], [JSON]

#46406 Add back speedloader compatability, give to professions
  data/json/items/gun/10mm.json
  data/json/items/gun/22.json
  data/json/items/gun/38.json
  data/json/items/gun/44.json
  data/json/items/gun/454.json
  data/json/items/gun/500.json
  data/json/professions.json
Labels: [JSON]

#46432 Show presence of monsters when examining
  src/game.cpp
Labels: Info / User Interface, Monsters, [C++]

#46400 Fix AIM using items from stack
  src/avatar_action.cpp
Labels: <Bugfix>, Inventory / AIM / Zones

#45937 Add Baseball Player profession
  data/json/professions.json
Labels: Scenarios, [JSON]

#46420 Replace survival kit & premium survival kit with itemgroups
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/military.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/items/containers.json
  data/json/items/generic.json
  data/json/items/obsolete.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/professions.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_obsolete.json
Labels: [JSON]

#46421 Improve messaging when opening and closing doors/windows/curtains
  src/avatar_action.cpp
  src/creature.h
  src/gates.cpp
  src/handle_action.cpp
Labels: Fields / Furniture / Terrain / Traps, Info / User Interface, Vehicles, [C++]

#46433 Default profession cleanly when loading old profession
  src/savegame_json.cpp
Labels: <Bugfix>, Mutations / Traits / Professions, [C++]

#46435 Prevent unnamed camps.
  src/basecamp.cpp
Labels: <Bugfix>, Player Faction Base / Camp, [C++]

#46436 Bashes that deal zero damage no longer stun
  src/creature.cpp
Labels: <Bugfix>, [C++]

#46437 Fix crash due to dereferencing null carrier pointer in item::process_tool
  src/item.cpp
Labels: <Bugfix>, [C++]

#46440 Fix npc crossbow wielding
  src/npc.cpp
  src/ranged.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#46442 Prevent seg fault in auto consume
  src/activity_item_handling.cpp
Labels: <Bugfix>, Vehicles, [C++]

#46401 Show the name of all NPCs who assisted in digging, clearing rubbles and chopping
  src/iuse.cpp
Labels: [C++]

#46449 Added missing periods to field_type.json
  data/json/field_type.json
Labels: [JSON]

#45223 stats_through_kills str_upgrade boost hp_max
  src/avatar.cpp
  src/character.cpp
Labels: <Bugfix>, Mechanics: Character / Player, Mods

#46387 [CRIT] Extend Scenario professions and itemgroups
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  data/mods/CRT_EXPANSION/scenarios/crt_scenarios.json
Labels: Mods, [JSON]

#46452 Show remaining XP to next level in Stats Through Kills
  src/avatar.cpp
Labels: Info / User Interface, [C++]

#46409 Fix lab sign overlapping with other fields in look around menu
  src/game.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46426 Remove duplicated tool display when crafting
  src/requirements.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46456 Fix clang-tidy error on 'auto' in avatar::upgrade_stat_prompt
  src/avatar.cpp
Labels: Code: Build, [C++]

#46451 Assorted inventory menu fixes
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: <Bugfix>, Info / User Interface, Inventory / AIM / Zones, [C++]

#46187 [Magiclysm] Orcs And Ogres
  data/mods/Magiclysm/harvest.json
  data/mods/Magiclysm/monster_factions.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/monsters/Ogre.json
  data/mods/Magiclysm/monsters/Orcs.json
  data/mods/Magiclysm/monsters/zombified_monsters.json
  data/mods/Magiclysm/species.json
  data/mods/Magiclysm/worldgen/orc_village.json
Labels: Mods: Magiclysm, Monsters, [JSON]

#46447 Magiclysm update spells
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Artificer.json
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
Labels: [JSON]

#46209 Magiclysm - Fix manatouched mutation
  data/mods/Magiclysm/traits/manatouched.json
Labels: Mods: Magiclysm, Mutations / Traits / Professions

#46471 Allow MSVC to compile
  src/avatar.cpp
Labels: Code: Build, OS: Windows

#46475 Skip SFX calls during test to improve performance
  src/sdlsound.cpp
  src/sounds.cpp
Labels: Code: Tests, SDL: Tiles / Sound, [C++]

#46467 Make fletching use the fletching proficiency
  data/json/recipes/recipe_ammo.json
Labels: [JSON]

#46462 Fix text mis-wrapping in disassembly menu for contained items
  src/inventory_ui.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46458 Fix error message on using jackhammer on wall
  src/iuse.cpp
Labels: <Bugfix>, [C++]

#46464 Adjusts polearm recipes and descriptions to remove specious elements
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/piercing.json
Labels: Crafting / Construction / Recipes, [JSON]

#46184 [magiclsym] magic basement hide trap trigger
  data/mods/Magiclysm/worldgen/magic_basement.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, Map / Mapgen, Mods: Magiclysm

#46485 Fix liquid dropped to the ground when activated
  src/item_location.cpp
Labels: <Bugfix>, Items: Containers, [C++]

#46490 MSX Update 21-01-02: Hundreds of items
  gfx/MshockXotto+/fillernormal.png
  gfx/MshockXotto+/fillersmall.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/tileset.txt
Labels: SDL: Tiles / Sound

#46492 NeoDays Update 21-01-02: Worn Overlays
  gfx/NeoDaysTileset/hats_female.png
  gfx/NeoDaysTileset/hats_male.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/ranged_female.png
  gfx/NeoDaysTileset/ranged_male.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/NeoDaysTileset/tiles_20x20.png
  gfx/NeoDaysTileset/tileset.txt
Labels: SDL: Tiles / Sound

#46493 BrownLikeBears Update 21-01-02: Flip all monsters
  gfx/BrownLikeBears/big.png
  gfx/BrownLikeBears/mods.png
  gfx/BrownLikeBears/tiles.png
Labels: SDL: Tiles / Sound

#46465 Fixes weird turret warning messages issue for blind/deaf characters
  src/turret.cpp
Labels: <Bugfix>, [C++]

#46388 Compact consume time column for 'E'at menu
  src/calendar.cpp
  src/calendar.h
  src/game_inventory.cpp
Labels: Info / User Interface, Items: Food / Vitamins, [C++]

#46353 Display multi-line json error messages with github action
  build-scripts/build.sh
  build-scripts/problem-matchers/json.json
  build-scripts/requirements.sh
  src/cached_options.cpp
  src/cached_options.h
  src/json.cpp
  tests/json_test.cpp
  tests/test_main.cpp
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tests

#46141 Magiclysm - #46099 magic focus
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/recipe_books.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_wands.json
  data/mods/Magiclysm/items/metals.json
  data/mods/Magiclysm/items/recipe_books.json
  data/mods/Magiclysm/materials.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/recipes/weapons.json
Labels: Mods: Magiclysm, [JSON]

#46494 Fix advanced reaper description - close #46484
  data/json/vehicleparts/vehicle_parts.json
Labels: <Bugfix>, [JSON]

#46487 adjust vehicle garage spawns in some houses
  data/json/mapgen/house/house_garage8.json
  data/json/mapgen/house/urban_15_house.json
  data/json/mapgen/house/urban_17_house_ranch.json
  data/json/mapgen/house/urban_9_house_garage_loft.json
  data/json/vehicle_groups.json
  data/json/vehicles/cars.json
Labels: Map / Mapgen, Spawn, [JSON]

#46455 Monster resilience setting will have no effect on ranged critical hit chance
  src/creature.cpp
Labels: <Enhancement / Feature>, [C++]

#46498 Close #46439 (segmentation error)
  tests/vehicle_ramp_test.cpp
Labels: <Bugfix>, Code: Tests, [C++]

#46499 Fix dirty gasoline spawned in lumber mills
  data/json/mapgen/lumbermill.json
  src/mapgen.cpp
  src/mapgen.h
Labels: <Bugfix>, Map / Mapgen, [C++], [JSON]

#46479 Apply typographical fixes to zed-animal.json
  data/json/monsters/zed-animal.json
Labels: [JSON]

#46511 Added missing period to grab.cpp
  src/grab.cpp
Labels: <Bugfix>

#46508 vehicles: towed vehicles don't set their parking brakes
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles

#46453 Fix sarcophagus elevator reactivation
  src/computer_session.cpp
Labels: <Bugfix>, [C++]

#46513 Fix insufficient spaces between sentences in data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted.json
Labels: <Bugfix>, [JSON]

#46537 Translate look at sky weather names
  src/debug_menu.cpp
  src/overmap_ui.cpp
  src/panels.cpp
  src/weather_type.h
Labels: Translation

#46505 NPC's no longer 'stick' on some doors
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, NPC / Factions, [JSON]

#46521 Only inform about enemies regenerating if the player can see it
  src/magic_spell_effect.cpp
Labels: <Bugfix>, [C++]

#46528 Improve terrain display in look around menu
  src/game.cpp
Labels: Info / User Interface, [C++]

#46526 Fix various text overflows in look around menu
  src/avatar.cpp
  src/monster.cpp
  src/npc.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46495 [Magiclysm] fix blood orc death drops
  data/mods/Magiclysm/monsters/Orcs.json
Labels: <Bugfix>, Mods: Magiclysm, [JSON]

#46532 Python tool to translate map coordinates into file name
  tools/map_coords.py
Labels: [Python]

#46171 Aftershock: Shoddy laser rifle crafting requires custom scrap. Improvements in the spawning of custom scrap
  data/mods/Aftershock/crafting_system.md
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/itemgroups/science_groups.json
  data/mods/Aftershock/itemgroups/scrap_expansion_groups.json
  data/mods/Aftershock/itemgroups/scrap_groups.json
  data/mods/Aftershock/items/crafting_scrap/magnet_scrap.json
  data/mods/Aftershock/items/crafting_scrap/optics.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/recipes/recipes.json
Labels: Crafting / Construction / Recipes, Mods: Aftershock, Spawn

#46200 [AFTERSHOCK] Re-working some old items, and adding new toys.
  data/json/flags.json
  data/json/items/classes/gun.json
  data/json/items/gun/chemical_spray.json
  data/json/items/gun/flammable.json
  data/json/items/obsolete.json
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/items/weapons.json
  data/mods/Aftershock/martialarts.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/Aftershock/recipes/uncraft.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
  src/ranged.h
Labels: Mods: Aftershock, [JSON]

#46358 compose.py refactor
  tools/gfx_tools/compose.py
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Python]

#46525 Fix material
  data/json/items/tool/metalworking.json
Labels: Items / Item Actions / Item Qualities, [JSON]

#46529 Fix dirty diesel spawned in military bases
  data/json/mapgen/military/mil_base/mil_base_z0.json
Labels: <Bugfix>, Spawn, [JSON]

#46533 Aftershock: Remove mox* enemies from city zombie groups
  data/mods/Aftershock/mobs/monster_groups.json
Labels: Game: Balance, Mods: Aftershock, Monsters, [JSON]

#46491 melee weapons: fix makeshift war scythe damage and add to tests
  data/json/items/melee/spears_and_polearms.json
  tests/effective_dps_test.cpp
Labels: <Bugfix>, Code: Tests, Melee

#46497 Prevent work bench disassembly vanishing
  src/iexamine.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#46454 Added wooden panel and wooden beam recipes to basecamp basic crafts
  data/json/recipes/basecamps/recipe_groups.json
Labels: Crafting / Construction / Recipes, [JSON]

#46539 Invalidate tow data on both vehicles on car crash
  src/vehicle.cpp
Labels: <Bugfix>, Vehicles, [C++]

#46546 [DinoMod] Dinos bleed
  data/mods/DinoMod/monsters/dinosaur.json
Labels: Mods: Dinoclysm, Monsters, [JSON]

#46524 Fix text overflow in NPC dialogue window
  src/npctalk.cpp
Labels: <Bugfix>, Info / User Interface, NPC / Factions, [C++]

#46543 Added batch time savings for scrambled eggs
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, [JSON]

#46542 Update folding bicycle material/volumes
  data/json/items/tool/deployable.json
Labels: [JSON]

#46536 Fix multi tile door closing
  src/gates.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Labels: <Bugfix>, [C++]

#46514 Display power unit for bionic power and batteries
  data/json/items/ammo_types.json
  src/player_display.cpp
Labels: Bionics, Info / User Interface, Items: Battery / UPS

#46556 adjust floor terrains in lab nested chunks
  data/json/mapgen/lab/lab_surface/lab_surface_nested.json
Labels: Map / Mapgen, [JSON]

#46555 Fix tiny error introduced in #46550
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_obsolete.json
Labels: <Bugfix>

#46503 Mission leading to Hub 01 from the Evac Center
  data/json/items/generic.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_shopkeep.json
  data/json/npcs/robofac/NPC_ROBOFAC_INTERCOM.json
  data/json/overmap/overmap_special/specials.json
Labels: Missions, NPC / Factions, [JSON]

#46370 Fix vertical attacks on stairs and ledges.
  src/avatar_action.cpp
  src/character.h
  src/creature.cpp
  src/creature.h
  src/map.cpp
  src/melee.cpp
  src/mission_companion.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  tests/effective_dps_test.cpp
  tests/monster_attack_test.cpp
Labels: <Bugfix>, Z-levels, [C++]

#45705 Gun magazine agreement
  data/json/items/migration.json
  data/json/obsolete.json
  data/mods/Aftershock/items/gun/advanced.json
  data/mods/BlazeIndustries/vehicleparts/blaze_turrets_vanilla.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/firearms/pistol_magnum.json
  data/mods/Generic_Guns/obsolete.json
  data/mods/TEST_DATA/items.json
  src/item.cpp
  src/item_factory.cpp
  tests/ammo_set_test.cpp
  tests/ammo_test.cpp
  tests/iteminfo_test.cpp
Labels: <Bugfix>, Items: Ammo, [C++]

#45779 Proportional part salvaging
  data/json/uncraft/armor.json
  data/json/uncraft/armor/pets_dog.json
  data/json/uncraft/generic.json
  src/iuse_actor.cpp
  tests/iuse_actor_test.cpp
Labels: <Enhancement / Feature>, Items / Item Actions / Item Qualities, [C++]

#45359 Add more Military Professions, add realistic skills to Military Professions
  data/json/professions.json
  data/json/scenarios.json
Labels: Mutations / Traits / Professions, [JSON]

#45752 Warn player about "X is dangerously close" only if X is able to reach to the player or if X has some sort of ranged attack
  data/json/monsters/insect_spider.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_misc.json
  doc/JSON_FLAGS.md
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/game.h
  src/monstergenerator.cpp
  src/mtype.h
  src/pathfinding.h
Labels: Info / User Interface, Quality of Life, [C++]

#46531 Move more of the Nanofabricator functionality to json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/itemgroups/main.json
  data/json/items/generic.json
  src/iexamine.cpp
  src/item_factory.cpp
  src/itype.h
  src/mapdata.cpp
  src/mapdata.h
Labels: Fields / Furniture / Terrain / Traps, [C++]

#46554 NPC's are friends with their factions monster faction
  src/monster.cpp
Labels: <Bugfix>

#46561 Updated 'soldier' profession reference in Dark-Skies-Above mod
  data/mods/Dark-Skies-Above/overrides/scenarios.json
Labels: [JSON]

#46562 Removed redundant description for rebar plate armor
  data/json/vehicleparts/armor.json
Labels: [JSON]

#46563 Aftershock: Fix invalid faction in mon_advbot_base
  data/mods/Aftershock/mobs/robots.json
Labels: <Bugfix>, Mods: Aftershock

#46560 Fix various plural nouns
  data/json/items/ammo/40x46mm.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CRT_EXPANSION/items/crt_ammo.json
  lang/extract_json_strings.py
Labels: [JSON]

#46565 Add translation for units of energy (mJ-J-kJ).
  src/player_display.cpp
Labels: Translation

#46566 Fix avatar name overflow in look around menu
  src/avatar.cpp
  src/npc.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46445 Grammar/style fixes for ITEM_SPAWN.md
  doc/ITEM_SPAWN.md
Labels: <Documentation>

#46181 Comprehensive grammar sweep
  data/help/texts.json
Labels: [JSON]

#46568 Fix dissoluted devourer listing non mission fused monsters
  src/map.cpp
  src/mission.cpp
  src/monattack.cpp
Labels: <Bugfix>, Missions, Monsters, [C++]

#46569 Making all chainsaws fragile
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/woodworking.json
Labels: Game: Balance, Melee, [JSON]

#46578 Add ccache step to github actions
  .github/workflows/matrix.yml
  build-scripts/build.sh
Labels: Code: Tests

#46557 Introduce bundles of rebars
  data/json/items/generic.json
  data/json/recipes/recipe_others.json
Labels: [JSON]

#46486 Trade for container without getting traded items back
  src/npctrade.cpp
  src/npctrade.h
Labels: <Bugfix>, Items: Containers, NPC / Factions, [C++]

#46501 Convert crafting time calculations to use 64 bit integer
  src/activity_actor.cpp
  src/character.h
  src/crafting.cpp
  src/recipe.cpp
  src/recipe.h
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#46545 [DinoMod] Adds Portal Lab Finale Variations
  data/mods/DinoMod/items.json
  data/mods/DinoMod/mapgen/DinoLabFinale.json
  data/mods/DinoMod/snippets.json
Labels: Map / Mapgen, Mods: Dinoclysm, [JSON]

#46589 Add batch time savings for cooked burdock and dandelion greens
  data/json/recipes/recipe_food.json
Labels: Crafting / Construction / Recipes, Game: Balance, [JSON]

#46595 Update melee_dodge_hit_test.cpp
  tests/melee_dodge_hit_test.cpp
Labels: Code: Build, Code: Tests

#46544 Adds noise from driven vehicle to displayed sound
  src/sounds.cpp
Labels: SDL: Tiles / Sound, Sound Events

#46571 Refactor speed gauge display
  src/panels.cpp
  src/vehicle.h
  src/vehicle_display.cpp
Labels: Info / User Interface, Vehicles, [C++]

#46600 Allow player to attack friendly creatures
  src/game.cpp
  src/monexamine.cpp
  src/monexamine.h
Labels: Monsters, [C++]

#46601 Fix NPC HP bar display in look around menu
  src/npc.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46579 Fix unable to run message, allow mount to run when your legs are broken.
  data/json/move_modes.json
  src/avatar.cpp
  src/character.cpp
  src/character.h
Labels: <Bugfix>, Mechanics: Character / Player, [C++]

#46606 Translate "<NPC> completed the assigned task."
  src/npcmove.cpp
Labels: Translation

#46607 Remove excessive debug message
  src/vehicle_display.cpp
Labels: Code: Build, Code: Tests

#46605 Reverses subtraction in character.cpp to correct skill rust calculation
  src/character.cpp
Labels: <Bugfix>, Mechanics: Effects / Skills / Stats, [C++]

#46608 Ultica Update 21-01-07
  gfx/UltimateCataclysm/centered.png
  gfx/UltimateCataclysm/fillergiant.png
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/giant.png
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/incomplete_large.png
  gfx/UltimateCataclysm/incomplete_tall.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
  gfx/UltimateCataclysm/tileset.txt
Labels: SDL: Tiles / Sound

#46179 Nail Board update
  data/json/recipes/recipe_traps.json
Labels: Crafting / Construction / Recipes, [JSON]

#46157 Add hard seltzer drink
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/alcohol.json
Labels: Items: Food / Vitamins, [JSON]

#46444 Added chitin leg guards
  data/json/items/armor/legs_armor.json
  data/json/recipes/armor/legs.json
Labels: [JSON]

#46299 XL clothing adjustments
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
Labels: Crafting / Construction / Recipes, [JSON]

#46610 Preserve variant when repairing broken vehicle part
  src/veh_interact.cpp
  src/veh_utils.cpp
  src/veh_utils.h
Labels: <Bugfix>, Vehicles, [C++]

#46572 Stack identical type of products in disassembly menu
  src/game_inventory.cpp
Labels: <Bugfix>, Crafting / Construction / Recipes, [C++]

#46251 Audit .223 STANAG magazines, add max_item_length to ammo pouches
  data/json/items/armor/ammo_pouch.json
  data/json/items/magazine/223.json
Labels: <Bugfix>, Items: Ammo, Items: Magazines, [JSON]

#46627 Prevent examine on the creature you're mounted on
  src/game.cpp
Labels: <Bugfix>, [C++]

#46619 Enable json check for mods in github matrix
  .github/workflows/matrix.yml
  build-scripts/build.sh
Labels: Code: Tests

#46614 fix(items): fix items in the inventory can't be packed
  src/iuse.cpp
Labels: <Bugfix>, [C++]

#46621 Fix achievements UI display in curses mode
  src/scores_ui.cpp
Labels: <Bugfix>, Info / User Interface, [C++]

#46623 Spawn anesthesia in autodocs
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/itemgroups/supplies.json
  data/json/mapgen/basement/basement_bionic.json
  data/json/mapgen/bunker.json
  data/json/mapgen/lab/lab_floorplans.json
  data/json/mapgen/lab/lab_floorplans_finale1level.json
  data/json/mapgen/microlab/microlab_special_tiles.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/prison_1.json
  data/mods/Aftershock/maps/mapgen/augmentation_clinic.json
  data/mods/Aftershock/maps/mapgen/basement_bionic.json
  data/mods/DinoMod/mapgen/DinoLabFinale.json
  data/mods/Fuji_Structures/worldgen/gas/s_gas_b20.json
Labels: Fields / Furniture / Terrain / Traps, Items / Item Actions / Item Qualities, Spawn

#46100 New unique story: Lighthouse family
  data/json/mapgen/dock.json
  data/json/mapgen/nested/npc_nested_spawns.json
  data/json/npcs/Lighthouse_Family/NPC_lighthouse_girl.json
  data/json/npcs/Lighthouse_Family/NPC_lighthouse_man.json
  data/json/npcs/Lighthouse_Family/NPC_lighthouse_woman.json
  data/json/npcs/Lighthouse_Family/TALK_fix_lighthouse.json
  data/json/npcs/factions.json
Labels: NPC / Factions, [JSON]

#46549 Introducing patchwork nomex clothing parts to several items recipes
  data/json/recipes/armor/feet.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_deconstruction.json
Labels: Crafting / Construction / Recipes, [JSON]

#46469 Added a new type of food, freeze-dried camping meals.
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/comestibles/junkfood.json
  data/json/recipes/food/other.json
Labels: Items: Food / Vitamins, [JSON]

#46278 Saltworks NPC recipes
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_common.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_log.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_metal.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_migo_resin.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_rammed_earth.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_stone.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_wad.json
  data/json/recipes/basecamps/recipe_modular_saltworks/recipe_modular_saltworks_wood.json
Labels: Crafting / Construction / Recipes, NPC / Factions, Player Faction Base / Camp, [JSON]

#46633 Fix wrong sprite number in compose.py when the number of sprites in a sheet is divisible by sheet width
  tools/gfx_tools/compose.py
Labels: Code: Tooling, [Python]

#46620 Unseal source container when filling vehicle tank
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/ret_val.h
  src/veh_interact.cpp
  tests/unseal_and_spill_test.cpp
Labels: <Bugfix>, [C++]

#46654 Fix compile optimization level differences
  Makefile
Labels: Code: Build

#46651 Have and check correct season length for tests
  tests/calendar_test.cpp
  tests/moon_test.cpp
Labels: Code: Tests

#46650 Aftershock: Remove several non sci-fi items
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/items/books.json
  data/mods/Aftershock/items/grenades.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/items/weapons.json
  data/mods/Aftershock/recipes/obsolete.json
  data/mods/Aftershock/recipes/recipes.json
Labels: Mods: Aftershock, [JSON]

#46645 Makefile: find libintl on Apple Silicon
  Makefile
Labels: Code: Build, OS: macOS

#46640 Feeding NPC follower rotten items has response text added
  src/talker_npc.cpp
Labels: <Bugfix>, NPC / Factions, [C++]

#46656 Disallow inserting spilt liquid
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: <Bugfix>, <Exploit>, Items: Containers, [C++]

#46655 Do not redraw if there is no SCT text
  src/handle_action.cpp
Labels: Code: Performance, Info / User Interface, [C++]

#46647 hauling items isn't interrupted upon pickup
  src/handle_action.cpp
Labels: <Bugfix>, [C++]

#46648 Add clear_map to more tests.
  tests/iuse_actor_test.cpp
  tests/npc_talk_test.cpp
Labels: Code: Tests

#46642 Fix rounding error when filling container
  src/item.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
Labels: <Bugfix>, Items: Containers, [C++]

#46635 Allow "examine" to be used in Eat/Wield/Wear/etc action dialogs
  data/raw/keybindings.json
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: Info / User Interface, [C++]
