Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2022-01, with the labels that each got.

#53603 Allow mutations to affect cardio
  data/json/mutations/mutations.json
  data/mods/CRT_EXPANSION/mutations/crt_wendigo_mutations.json
  doc/JSON_INFO.md
  src/character.cpp
  src/mutation.h
  src/mutation_data.cpp
  tests/cardio_test.cpp
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#53905 Remove the extra space from layering menu
  src/armor_layers.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#53927 Fix crafting time for cutting long undertops into sleeveless version
  data/json/recipes/armor/torso.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#53871 Robofac Tactical Modular Poncho
  data/json/flags.json
  data/json/itemgroups/Locations_MapExtras/robofac_trade.json
  data/json/items/armor/robofac_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/generic.json
  data/json/mapgen/robofaq_locs/robofac_mission_chunks.json
  data/json/npcs/robofac/NC_ROBOFAC_FIELD_RESEARCHER.json
  data/json/npcs/robofac/NC_ROBOFAC_SCIENTIST.json
  data/json/npcs/robofac/NPC_ROBOFAC_INTERCOM.json
  data/json/npcs/robofac/NPC_ROBOFAC_MERC_1.json
Labels: NPC / Factions, Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#53884 Simple Appliance UI
  data/raw/keybindings.json
  src/activity_handlers.cpp
  src/game.cpp
  src/game.h
  src/veh_appliance.cpp
  src/veh_appliance.h
  src/vehicle_use.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#53892 More detailed lbvs
  src/item_contents.cpp
  src/item_factory.cpp
  src/item_pocket.cpp
  src/item_pocket.h
Labels: Info / User Interface, [C++], Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#53904 Restore 300AAC BLK conversion kit
  data/json/items/gunmod/conversions.json
Labels: Items: Gunmod / Toolmod, <Bugfix>, astyled, json-styled, BasicBuildPassed

#53915 Add widget showing radiation badge color
  data/json/flags.json
  data/json/items/armor/jewelry.json
  data/json/ui/sidebar.json
  data/mods/TEST_DATA/widgets.json
  src/item.cpp
  src/panels.cpp
  src/panels.h
  src/suffer.cpp
  src/widget.cpp
  src/widget.h
  tests/widget_test.cpp
Labels: Info / User Interface, [JSON], [C++], Quality of Life, astyled, json-styled, BasicBuildPassed

#53930 remove extraneous chainmail_hood recipe
  data/json/recipes/armor/head.json
Labels: Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#53932 Add percent coverage info for sublocations to the UI
  src/item.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#53893 Candles are no longer without wax
  data/mods/Magiclysm/worldgen/magic_basement.json
Labels: Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#53909 Deswage the metal file recipe
  data/json/recipes/tools/tool.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#53931 Replace filing requirement in chisel recipe with grinding
  data/json/recipes/tools/tools_hand.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#53912 Fix warning text for consuming food with parasites
  src/consumption.cpp
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#53886 [Magiclysm] XL demon chitin armor set
  data/mods/Magiclysm/items/armor.json
  data/mods/Magiclysm/recipes/armor.json
Labels: [JSON], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#53934 Fix typographical errors in TropiCataclysm item descriptions
  data/mods/TropiCataclysm/items/comestibles/egg.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed

#53938 Mainline "More Structures" mod
  data/json/mapgen/bunker_shop.json
  data/json/mapgen/gas_stations/s_gas.json
  data/json/mapgen/gas_stations/s_gas_b11.json
  data/json/mapgen/gas_stations/s_gas_b20.json
  data/json/mapgen/gas_stations/s_gas_b21.json
  data/json/mapgen/gas_stations/s_gas_g0.json
  data/json/mapgen/gas_stations/s_gas_g1.json
  data/json/monstergroups/misc.json
  data/json/npcs/bunker_shop/NC_BUNKER_MERCHANT.json
  data/json/npcs/bunker_shop/TALK_BUNKER_MERCHANT.json
  data/json/npcs/bunker_shop/classes.json
  data/json/npcs/bunker_shop/npc.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/mods/More_Structures/modinfo.json
  data/mods/More_Structures/monsters/monstergroups.json
  data/mods/More_Structures/starts/professions.json
  data/mods/More_Structures/starts/scenarios.json
  data/mods/More_Structures/starts/start_locations.json
  data/mods/More_Structures/worldgen/bunker_shop/s_bunker_shop_g.json
  data/mods/More_Structures/worldgen/gas/s_gas_b11.json
  data/mods/More_Structures/worldgen/overmap_specials.json
  data/mods/More_Structures/worldgen/overmap_terrain.json
Labels: <Enhancement / Feature>, Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed

#53943 Fix letter casing of "3D" and "Nomex"
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/items/armor/boots.json
  data/json/items/armor/robofac_armor.json
  data/json/items/tool/science.json
  data/json/requirements/materials.json
Labels: Translation, astyled, json-styled

#53942 Pluralize a message in vehicle::thrust()
  src/vehicle_move.cpp
Labels: Translation, astyled, json-styled, BasicBuildPassed

#53945 Update spell checker dictionary
  tools/spell_checker/dictionary.txt
Labels: Translation, astyled, json-styled

#53948 Fix some minor issues with Rubik's conversation
  data/json/npcs/exodii/exodii_merchant_talk.json
Labels: NPC / Factions, astyled, json-styled, BasicBuildPassed

#53944 C++ typo fix
  src/debug_menu.cpp
  src/options.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#53950 Fix failing cardio test and make sprinting distance less random
  src/character.cpp
  src/game.cpp
  tests/cardio_test.cpp
Labels: Code: Tests, <Bugfix>, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#53949 Allow reloading partially full magazines with favorited ammo
  src/item_pocket.cpp
Labels: Items: Magazines, <Bugfix>, astyled, json-styled, BasicBuildPassed

#53946 Show storage capacity in armor layering menu
  src/armor_layers.cpp
Labels: Info / User Interface, <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#53748 Add a rare spooky popup during portal storms that urges the player to go outside
  data/json/portal_storm_effect_on_condition.json
  data/json/snippets/effect_on_conditions.json
  data/raw/keybindings.json
  src/enums.h
  src/game.cpp
  src/game.h
  src/npctalk.cpp
Labels: Mechanics: Effects / Skills / Stats, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#53961 Pluralize messages
  src/activity_handlers.cpp
  src/iuse.cpp
Labels: astyled, json-styled

#53846 Update plate armor materials.
  data/json/items/armor/suits_protection.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#53389 Add sound support for clear, cloudy and sunny weather
  data/core/weather.json
  data/json/weather_type.json
  doc/SOUNDPACKS.md
  src/sounds.cpp
  src/sounds.h
  src/weather_type.cpp
  src/weather_type.h
Labels: <Enhancement / Feature>, SDL: Tiles / Sound, Sound Events, astyled, json-styled, BasicBuildPassed

#51438 Make custom sidebar fully moddable, and support user-defined sidebars
  data/json/ui/sidebar.json
  data/mods/TEST_DATA/widgets.json
  doc/SIDEBAR_MOD.md
  src/avatar.h
  src/game.cpp
  src/init.cpp
  src/panels.cpp
  src/panels.h
  src/string_id_null_ids.cpp
  src/widget.cpp
  src/widget.h
  tests/widget_test.cpp
Labels: Info / User Interface, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#53969 adjusted workshop recipes plus parkour bug
  data/json/recipes/basecamps/base/recipe_modular_hub/version_2/recipe_modular_field_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Labels: <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#54006 Fix time stamp retrieval on Windows
  src/game.cpp
Labels: OS: Windows, <Bugfix>, astyled, json-styled

#53994 Use pimpl<T> class for TranslationManagerImpl
  src/translation_manager.cpp
  src/translation_manager.h
  src/translation_manager_impl.cpp
  src/translation_manager_impl.h
  tests/translation_system_test.cpp
Labels: Translation, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#54003 Move some template specializations of StringMaker<T>::convert<T> to a cpp file
  tests/character_modifier_test.cpp
  tests/mongroup_test.cpp
  tests/stringmaker.cpp
  tests/stringmaker.h
Labels: Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#54001 Update help file
  data/help/texts.json
Labels: astyled, json-styled, BasicBuildPassed

#53990 Description update: wild yeast must be placed in a fermenting vat to mature.
  data/json/items/comestibles/brewing.json
Labels: astyled, json-styled, BasicBuildPassed

#53976 Add widget for weather description
  data/json/ui/sidebar.json
  data/json/ui/weather.json
  data/mods/TEST_DATA/widgets.json
  src/panels.cpp
  src/panels.h
  src/widget.cpp
  src/widget.h
  tests/options_helpers.cpp
  tests/widget_test.cpp
Labels: Info / User Interface, [JSON], Code: Tests, [C++], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#53984 Mre fix sirbab
  data/json/itemgroups/SUS/mre_packages.json
  data/json/items/containers.json
Labels: [JSON], Items: Food / Vitamins, <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#53986 Whitelist new rarely spawning map locations to prevent test failures.
  tests/overmap_test.cpp
Labels: Map / Mapgen, Code: Tests, <Bugfix>, astyled, json-styled, BasicBuildPassed

#53953 Skip expensive drop_invalid_inventory() calls in pickup activity
  src/activity_actor.cpp
  src/activity_actor.h
  src/activity_actor_definitions.h
  src/character.cpp
  src/player_activity.h
Labels: Code: Performance, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G suggested release blocker

#53764 Add cursor navigation to the mutations UI.
  src/mutation_ui.cpp
Labels: <Bugfix>, Controls / Input, astyled, json-styled, BasicBuildPassed

#54004 [Magiclysm] Fix ring of blades flags
  data/mods/Magiclysm/items/enchanted_rings.json
Labels: astyled, json-styled

#53992 Fix spell effect name in documentation
  doc/MAGIC.md
Labels: <Documentation>, <Bugfix>, [Markdown], astyled, json-styled

#53999 hub 1 blueprint cleanup wood + wad (1-2/8)
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_common.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_defenses.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_wad.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_wood.json
Labels: astyled, json-styled, BasicBuildPassed

#53596 Stop towed vehicles from rear-ending tow-ers
  src/vehicle.cpp
Labels: Vehicles, <Bugfix>, json-styled, BasicBuildPassed

#53985 M855 yields lead not steel
  data/json/uncraft/ammo/556.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled

#53973 Fix firing gun with mixed fav/unfav ammo
  data/json/items/gun/10mm.json
  data/json/items/gun/22.json
  data/json/items/gun/38.json
  data/json/items/gun/44.json
  data/json/items/gun/454.json
  data/json/items/gun/50.json
  data/json/items/gun/500.json
  src/item_pocket.cpp
Labels: [JSON], [C++], <Bugfix>, Items: Ammo / Guns, astyled, json-styled

#53971 Port overmap mission arrow fix from BN
  src/sdltiles.cpp
Labels: Info / User Interface, Missions, Map / Mapgen, <Bugfix>, astyled, json-styled

#54011 Fix typo in minifridge description
  data/json/vehicleparts/appliances.json
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], astyled, json-styled

#54025 Skip translating solely tag harvest messages
  lang/string_extractor/parsers/harvest.py
Labels: Translation, [Python], Code: Tooling, astyled, json-styled

#54024 Include martial art style name in confirmation message after selection
  src/newcharacter.cpp
Labels: astyled, json-styled

#53963 Regenericise currency
  data/json/items/ammo_types.json
  data/json/items/generic/currency.json
  data/json/obsoletion/charge_removal.json
  data/mods/Magiclysm/items/currency.json
  tools/json_tools/generic_guns_validator.py
Labels: <Bugfix>, Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed

#54023 Yule Wreath Fix
  data/json/furniture_and_terrain/furniture-decorative.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled

#54019 500L fridge capacity
  data/json/items/appliances.json
  data/json/vehicleparts/appliances.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#53913 Reeneable mapgen test
  data/json/furniture_and_terrain/furniture-roof.json
  data/json/mapgen/apartment_mod_new.json
  data/json/mapgen/bank.json
  data/json/mapgen/exodii/exodii_nested.json
  data/json/mapgen/fire_station.json
  data/json/mapgen/house/urban_6_house.json
  data/json/mapgen/irradiator_1.json
  data/json/mapgen/lake_buildings/islands.json
  data/json/mapgen/map_extras/college_kids.json
  data/json/mapgen/map_extras/drug_dealers.json
  data/json/mapgen/map_extras/scientists.json
  data/json/mapgen/map_extras/wilderness.json
  data/json/mapgen/megastore.json
  data/json/mapgen/mi-go/mi-go_encampment.json
  data/json/mapgen/mi-go/mi-go_nested.json
  data/json/mapgen/nested/city_npc_nested_spawns.json
  data/json/mapgen/nested/lmoe_nested.json
  data/json/mapgen/pawn_shop.json
  data/json/mapgen/prison_1.json
  data/json/mapgen/s_gun.json
  data/json/mapgen_palettes/mi-go_palette.json
  data/mods/Magiclysm/worldgen/goblin_encampment.json
  doc/JSON_FLAGS.md
  src/activity_actor.cpp
  src/debug_menu.cpp
  src/map.cpp
  src/map.h
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen.cpp
  src/mapgen.h
  tests/overmap_test.cpp
Labels: Map / Mapgen, Code: Tests, <Bugfix>, astyled, json-styled, BasicBuildPassed

#54034 Include sstream to fix test compilation
  tests/distribution_test.cpp
Labels: Code: Build, [C++], <Bugfix>, astyled, json-styled

#54037 Remove diary.h from avatar.h
  src/avatar.cpp
  src/avatar.h
  src/game.cpp
  src/handle_action.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled

#53981 Automatically connect Appliances to their neighbours upon completion
  src/construction.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#54041 Use forward declaration of struct dialogue in weather_type.h
  src/character_attire.cpp
  src/do_turn.cpp
  src/game.h
  src/handle_action.cpp
  src/kill_tracker.cpp
  src/panels.cpp
  src/weather_type.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled

#54038 brought base blueprint recipe names inside their name spaces
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_2/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_bookcase.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_dresser.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_locker.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_rack.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_warehouse_shelf.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_wooden_rack.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/recipe_modular_workshop_common.json
Labels: astyled, json-styled

#53988 Added warmth fixed volumes and weight for Robofac Ponchos
  data/json/items/armor/robofac_armor.json
Labels: astyled, json-styled

#54027 remove unused curammo
  src/item.cpp
  src/item.h
  src/savegame_json.cpp
Labels: astyled, json-styled

#54015 spinning wheels revived
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/fake.json
  data/json/recipes/other/cords_and_ropes.json
  data/json/recipes/other/materials.json
Labels: [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#54018 Portal Storm changes
  data/json/portal_dependent_effect_on_condition.json
  data/json/portal_storm_effect_on_condition.json
  data/json/scenarios.json
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
  src/dialogue.h
  src/npctalk.cpp
Labels: <Enhancement / Feature>, Mechanics: Effects / Skills / Stats, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#54033 Fix monster special attack dodge message
  src/anatomy.cpp
  src/mattack_actors.cpp
Labels: astyled, json-styled

#54029 hub 1 blueprint cleanup metal log (7-8/8)
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_log.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_metal.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_metal.json
Labels: astyled, json-styled, BasicBuildPassed

#54044 Correct start of game option descriptions.
  src/options.cpp
Labels: Character / World Generation, astyled, json-styled

#54043 Use Oxford comma consistently in tips
  data/core/tips.json
Labels: [JSON], astyled, json-styled

#54042 [DinoMod] dino blood
  data/mods/DinoMod/harvest.json
Labels: [JSON], Monsters, <Bugfix>, Mods: Dinoclysm, astyled, json-styled, BasicBuildPassed

#53875 Steel Grades
  data/json/materials.json
Labels: [JSON], Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#54020 Clearly Sorted Sealed Perishables
  src/game_inventory.cpp
Labels: Info / User Interface, Items: Food / Vitamins, [C++], Quality of Life, Items: Containers, astyled, json-styled, BasicBuildPassed

#54049 Nerf electricity field damage to players
  src/map_field.cpp
Labels: <Bugfix>, astyled, json-styled

#54051 Fix permanent alien grass
  data/json/portal_storm_effect_on_condition.json
  src/npctalk.cpp
Labels: Fields / Furniture / Terrain / Traps, Mechanics: Weather, astyled, json-styled

#54052 Change keybinding name from "Workout" to "Work Out"
  data/raw/keybindings.json
Labels: astyled, json-styled, BasicBuildPassed

#54071 Leather Belt can hold batons
  data/json/items/armor/belts.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#54068 Convert zone manager to type-safe points
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/basecamp.cpp
  src/basecamp.h
  src/cata_tiles.cpp
  src/character.cpp
  src/clzones.cpp
  src/clzones.h
  src/construction.cpp
  src/coordinates.h
  src/debug_menu.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/inventory.cpp
  src/inventory.h
  src/iuse_actor.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/vehicle.cpp
  src/vehicle_use.cpp
  tests/clzones_test.cpp
Labels: Inventory / AIM / Zones, [C++], astyled, json-styled, BasicBuildPassed

#54065 Introduce NO_AUTO_CONSUME flag
  data/json/flags.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/seed.json
  data/mods/Magiclysm/items/cast_spell_items.json
  doc/JSON_FLAGS.md
  src/activity_item_handling.cpp
Labels: Items: Food / Vitamins, Inventory / AIM / Zones, Quality of Life, astyled, json-styled, BasicBuildPassed

#54059 Adjust aim threshold
  src/ranged.cpp
  tests/iteminfo_test.cpp
Labels: Mechanics: Aiming, astyled, json-styled, BasicBuildPassed

#54054 Magic Circle is now Transparent
  data/mods/Magiclysm/furniture.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#53960 New Innawood mod
  data/mods/innawood/construction.json
  data/mods/innawood/construction_group.json
  data/mods/innawood/furniture-tools.json
  data/mods/innawood/innawood_map_settings.json
  data/mods/innawood/itemgroups/Location_MapExtras_locations.json
  data/mods/innawood/itemgroups/monster_drops_lairs.json
  data/mods/innawood/itemgroups/trash_and_debris.json
  data/mods/innawood/items_fake.json
  data/mods/innawood/items_generic.json
  data/mods/innawood/mapgen/ants.json
  data/mods/innawood/mapgen/cave.json
  data/mods/innawood/mapgen/spider_pit.json
  data/mods/innawood/modinfo.json
  data/mods/innawood/overmap/connections.json
  data/mods/innawood/overmap/special_alien.json
  data/mods/innawood/overmap/specials_kept.json
  data/mods/innawood/overmap/specials_removed.json
  data/mods/innawood/overmap/terrain_hardcoded.json
  data/mods/innawood/readme.md
  data/mods/innawood/recipes/armor_head.json
  data/mods/innawood/recipes/medsandchemicals.json
  data/mods/innawood/recipes/other_materials.json
  data/mods/innawood/recipes/recipe_others.json
  data/mods/innawood/recipes/tools_containers.json
  data/mods/innawood/recipes/tools_hand.json
  data/mods/innawood/scenario_whitelist.json
  data/mods/innawood/scenarios.json
  data/mods/innawood/start_locations.json
  data/mods/innawood/terrain-floors-outdoors.json
  data/mods/innawood/terrain-flora.json
  data/mods/innawood/terrain-walls.json
Labels: <Enhancement / Feature>, [JSON], Mods, Character / World Generation, astyled, json-styled, BasicBuildPassed

#53701 Monster Description Audit
  data/json/monsters/bird.json
  data/json/monsters/cyborgs.json
  data/json/monsters/defense_bot.json
  data/json/monsters/feral_humans.json
  data/json/monsters/fish.json
  data/json/monsters/fungus.json
  data/json/monsters/fungus_zombie.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/monsters/mechsuits.json
  data/json/monsters/mi-go.json
  data/json/monsters/misc.json
  data/json/monsters/mutant.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/nether.json
  data/json/monsters/power_leech.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/robofac_robots.json
  data/json/monsters/slugs.json
  data/json/monsters/starers.json
  data/json/monsters/triffid.json
  data/json/monsters/turrets.json
  data/json/monsters/utility_bot.json
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed-medical.json
  data/json/monsters/zed-pupating.json
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_burned.json
  data/json/monsters/zed_children.json
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_ferrous.json
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_prisoner.json
  data/json/monsters/zed_skeletal.json
  data/json/monsters/zed_soldiers.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#53968 Flexible Per Pocket Encumbrance
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/robofac_armor.json
  src/item_contents.cpp
  src/item_factory.cpp
  src/item_pocket.cpp
  src/item_pocket.h
  src/itype.h
Labels: [JSON], [C++], Mechanics: Character / Player, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#54063 Kevlar Chainmail Fix
  data/json/items/armor/suits_protection.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#54075 Simplify StringMaker<T> template specialization in tests
  tests/stringmaker.cpp
  tests/stringmaker.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#54074 Design doc updates
  design-balance.md
  design-gameplay.md
  design-user-experience.md
  lore-background.md
  lore-factions.md
  lore.md
Labels: <Documentation>

#54080 Make clang-tidy happy with a little optimization
  src/construction.cpp
Labels: Code: Tests, astyled, json-styled

#54078 Fix ccache archive handling for better hit rates.
  .github/workflows/matrix.yml
Labels: Organization, astyled, json-styled, BasicBuildPassed

#54081 Fix out of bounds nests in mods
  data/mods/No_Hope/Mapgen/city_npc_nested_spawns.json
  data/mods/No_Hope/Mapgen/irradiator_1.json
  data/mods/No_Hope/Mapgen/islands.json
  data/mods/No_Hope/Mapgen/megastore.json
  data/mods/aftershock_exoplanet/Map/mapgen/road.json
Labels: Mods: Aftershock, astyled, json-styled, Mods: No Hope

#54085 Clang-tidy: use `emplace_back`
  src/activity_item_handling.cpp
Labels: astyled, json-styled, BasicBuildPassed

#54079 Fix body part not being used to generate resistance objects
  src/character_armor.cpp
  src/damage.cpp
  src/damage.h
  src/item.cpp
  src/item.h
  tests/coverage_test.cpp
Labels: astyled, json-styled, BasicBuildPassed

#54050 Customizable widget height
  data/mods/TEST_DATA/widgets.json
  doc/SIDEBAR_MOD.md
  src/widget.cpp
  src/widget.h
  tests/widget_test.cpp
Labels: Controls / Input, astyled, json-styled, BasicBuildPassed

#54016 [Magiclysm] Added Technomancer mana-toolbar to the 'Fior Di Battaglia' martial art.
  data/mods/Magiclysm/items/enchanted_melee.json
Labels: Mods: Magiclysm, Martial Arts, astyled, json-styled, BasicBuildPassed

#54084 Make portal storm warnings popup
  data/json/portal_storm_effect_on_condition.json
  src/debug_menu.cpp
  src/debug_menu.h
Labels: astyled, json-styled, BasicBuildPassed

#53380 [Magiclysm] Master class weapons 2 - The Return of the Lazy
  data/mods/Magiclysm/items/enchanted_melee.json
  data/mods/Magiclysm/recipes/weapons.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Mods: Magiclysm, astyled, json-styled

#53940 3 new Magiclysm spells (reopen #51092)
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
Labels: Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled

#54067 Canteen 1 blueprint cleanup
  data/json/mapgen/basecamps/expansion/modular_canteen/version_1/modular_canteen_common.json
  data/json/mapgen/basecamps/expansion/modular_canteen/version_1/modular_canteen_log.json
  data/json/mapgen/basecamps/expansion/modular_canteen/version_1/modular_canteen_metal.json
  data/json/mapgen/basecamps/expansion/modular_canteen/version_1/modular_canteen_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_canteen/version_1/modular_canteen_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_canteen/version_1/modular_canteen_rock.json
  data/json/mapgen/basecamps/expansion/modular_canteen/version_1/modular_canteen_wad.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_log.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_metal.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_migo_resin.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_rock.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_wad.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_wood.json
Labels: <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#54090 livestock 1 palette f_clear augmentations
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_log.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_metal.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_rock.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_wad.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_wood.json
Labels: Map / Mapgen, Player Faction Base / Camp, astyled, json-styled

#54082 Grim Howler's Bite
  data/json/monsters/zed-animal.json
Labels: [JSON], Monsters, <Bugfix>, astyled, json-styled

#54066 Propane
  data/json/items/ammo_types.json
  data/json/items/containers.json
  data/json/items/fuel.json
  data/json/materials.json
Labels: Items / Item Actions / Item Qualities, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#53939 Allow limbs to define MA techniques and unarmed damage, expand MA tech functionality
  data/json/body_parts.json
  data/json/mutations/mutation_techs.json
  doc/JSON_INFO.md
  doc/MARTIALART_JSON.md
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/character_martial_arts.h
  src/damage.cpp
  src/damage.h
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
  src/monster.cpp
Labels: Melee, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#53631 Added minimum amount of time for consuming items.
  src/consumption.cpp
  tests/consumption_time_test.cpp
Labels: Items: Food / Vitamins, [C++], <Bugfix>, astyled, json-styled

#53977 Add widgets for movement mode letter/word and move cost
  data/json/ui/move_cost.json
  data/json/ui/move_counter.json
  data/json/ui/move_mode.json
  data/json/ui/sidebar.json
  data/mods/TEST_DATA/widgets.json
  src/move_mode.cpp
  src/move_mode.h
  src/panels.cpp
  src/panels.h
  src/widget.cpp
  src/widget.h
  tests/move_cost_test.cpp
  tests/widget_test.cpp
Labels: Info / User Interface, [JSON], Code: Tests, [C++], Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#54122 Remove cancel others behavior
  .github/workflows/matrix.yml
Labels: Code: Tests, astyled, json-styled

#54118 Set ZSTD_CLEVEL=17 in jobs using GHA caching for space wins.
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features.yml
  .github/workflows/object_creator.yml
  .github/workflows/release.yml
Labels: astyled, json-styled, BasicBuildPassed

#54129 Reduced mi-go scout speed from 150 to 120
  data/json/monsters/mi-go.json
Labels: Game: Balance, [JSON], Monsters, astyled, json-styled

#53962 Expanded plate mail
  data/json/items/armor/suits_protection.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#53964 [Aftershock] Modular Exosuit UI
  data/json/item_actions.json
  src/item_factory.cpp
  src/item_pocket.cpp
  src/item_pocket.h
  src/iuse.cpp
  src/iuse.h
Labels: <Enhancement / Feature>, Info / User Interface, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#53975 Add widgets for bodypart status
  data/json/ui/bodypart_status.json
  data/json/ui/sidebar.json
  data/mods/TEST_DATA/widgets.json
  src/panels.cpp
  src/panels.h
  src/widget.cpp
  src/widget.h
  tests/widget_test.cpp
Labels: Info / User Interface, [JSON], Code: Tests, [C++], Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#54072 New survivor notes
  data/json/snippets/survivor_notes.json
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed

#54100 Fix eternal season affect on weather
  src/calendar.cpp
  src/calendar.h
  src/weather_gen.cpp
  src/weather_gen.h
  tests/weather_test.cpp
Labels: <Bugfix>, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#54101 Category change for containers
  data/json/items/generic/dining_kitchen.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#54102 NPCs - only mapgen stuff
  data/json/mapgen/cground3x3.json
  data/json/mapgen_palettes/cground.json
Labels: NPC / Factions, Map / Mapgen, astyled, json-styled, BasicBuildPassed

#54112 Fix Bioluminescent Flare ability
  data/json/mutations/mutation_spells.json
Labels: Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#54114 Added features to smartphone
  data/json/items/tool/electronics.json
  data/mods/Aftershock/items/tools.json
Labels: Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#54115 fix lab nest error
  data/json/mapgen/lab/lab_modular/lab_2x2_MUT_Tier_1.json
  data/json/mapgen/lab/lab_modular/lab_2x2_MUT_Tier_2.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_mutagen.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#54119 Add some Uncanny news
  data/json/snippets/newspapers.json
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed

#54121 Minor portal storm fixes
  data/json/portal_storm_effect_on_condition.json
Labels: [JSON], <Bugfix>, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#54123 Make it easier to make temporary terrain changes
  data/json/portal_storm_effect_on_condition.json
  doc/NPCs.md
  src/map.cpp
  src/npctalk.cpp
  src/timed_event.cpp
  src/timed_event.h
Labels: <Enhancement / Feature>, Mechanics: Effects / Skills / Stats, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#54128 Update mapgen with puddles
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/mapgen/mine/mine_amigara.json
  data/json/mapgen/mine/mine_shaft.json
  data/json/mapgen/mine/mine_spiral.json
  data/json/mapgen/mine/mine_wyrms.json
  data/mods/rural_biome/rural_regional_map_settings.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed

#54131 Clean up and update JSON_FLAGS.md
  doc/JSON_FLAGS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#54137 Fixed outer region of the tower being resin floor
  data/json/mapgen/mi-go/mi-go_nested.json
  data/json/mapgen/mi-go/mi-go_scout_tower.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#54135 saltpan expansion blueprint cleanup
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_common.json
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_log.json
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_metal.json
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_rock.json
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_wad.json
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_wood.json
  data/json/recipes/basecamps/expansion/recipe_modular_saltworks/version_1/recipe_modular_saltworks_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_saltworks/version_1/recipe_modular_saltworks_log.json
  data/json/recipes/basecamps/expansion/recipe_modular_saltworks/version_1/recipe_modular_saltworks_metal.json
  data/json/recipes/basecamps/expansion/recipe_modular_saltworks/version_1/recipe_modular_saltworks_migo_resin.json
  data/json/recipes/basecamps/expansion/recipe_modular_saltworks/version_1/recipe_modular_saltworks_stone.json
  data/json/recipes/basecamps/expansion/recipe_modular_saltworks/version_1/recipe_modular_saltworks_wad.json
  data/json/recipes/basecamps/expansion/recipe_modular_saltworks/version_1/recipe_modular_saltworks_wood.json
Labels: [JSON], Player Faction Base / Camp, astyled, json-styled

#54146 Remove starting trait conflicts with bio armor
  data/json/bionics.json
  data/json/mutations/mutations.json
Labels: astyled, json-styled

#53796 Add a mutable special netherum monster corpse "dungeon". Part 1: Mapgen
  data/json/mapgen/nether_monster_corpse/monster_bowels.json
  data/json/mapgen/nether_monster_corpse/monster_head.json
  data/json/mapgen/nether_monster_corpse/monster_misc.json
  data/json/mapgen/nether_monster_corpse/monster_tentacles.json
  data/json/overmap/overmap_mutable/nether_monster_corpse.json
  data/json/overmap/overmap_terrain/overmap_terrain_nether_monster_corpse.json
  doc/OVERMAP.md
  src/overmap.cpp
Labels: <Enhancement / Feature>, Map / Mapgen, Lore, astyled, json-styled, BasicBuildPassed

#54143 Propane accessories
  data/json/items/tool/cooking.json
  data/json/items/tool/lighting.json
  data/json/items/tool/metalworking.json
  data/json/recipes/recipe_others.json
Labels: astyled, json-styled, BasicBuildPassed

#54150 Smartphone fix
  data/json/items/tool/electronics.json
  data/mods/Aftershock/items/tools.json
Labels: astyled, json-styled

#54154 Small fix: make new portal storm popup rarer
  data/json/portal_storm_effect_on_condition.json
Labels: astyled, json-styled

#54138 Crafting: Fix component filters when continuing craft
  src/crafting.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#54125 Split up sidebar.json roughly by widget_var
  data/json/ui/activity.json
  data/json/ui/body_temp.json
  data/json/ui/date.json
  data/json/ui/encumbrance.json
  data/json/ui/env_temp.json
  data/json/ui/fatigue.json
  data/json/ui/focus.json
  data/json/ui/hp.json
  data/json/ui/hunger.json
  data/json/ui/layout.json
  data/json/ui/lighting.json
  data/json/ui/ma_style.json
  data/json/ui/moon.json
  data/json/ui/morale.json
  data/json/ui/move_cost.json
  data/json/ui/movement.json
  data/json/ui/pain.json
  data/json/ui/place.json
  data/json/ui/power.json
  data/json/ui/radiation.json
  data/json/ui/safe_mode.json
  data/json/ui/sidebar.json
  data/json/ui/sound.json
  data/json/ui/speed.json
  data/json/ui/stamina.json
  data/json/ui/stats.json
  data/json/ui/thirst.json
  data/json/ui/time.json
  data/json/ui/warmth.json
  data/json/ui/weariness.json
  data/json/ui/weight.json
  data/json/ui/wetness.json
  data/json/ui/wield.json
  data/json/ui/wind.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#54158 Extract "name" from pocket_data
  lang/string_extractor/parsers/generic.py
Labels: astyled, json-styled

#53980 Add widgets for compass
  data/json/ui/compass.json
  data/json/ui/sidebar.json
  data/mods/TEST_DATA/widgets.json
  doc/SIDEBAR_MOD.md
  src/panels.cpp
  src/panels.h
  src/widget.cpp
  src/widget.h
  tests/widget_test.cpp
Labels: <Enhancement / Feature>, Info / User Interface, astyled, json-styled, BasicBuildPassed

#53978 Add widgets for vehicle azimuth, cruising speed, and fuel
  data/json/ui/sidebar.json
  data/json/ui/vehicle.json
  src/panels.cpp
  src/panels.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_display.cpp
  src/widget.cpp
  src/widget.h
Labels: Info / User Interface, [JSON], Vehicles, [C++], astyled, json-styled

#54145 Fix multiclean volume always using full charges
  src/activity_item_handling.cpp
  src/item.cpp
  src/item.h
  src/iuse.cpp
Labels: Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled

#54156 [Magiclysm] adjust black dragon lair mapgen
  data/mods/Magiclysm/worldgen/black_dragon_lair.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled

#54144 Redesigned Cathedral
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/itemgroups/misc.json
  data/json/mapgen/cathedral.json
  data/json/mapgen_palettes/cathedral_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#54149 [Innawood] Various improvements based on feedback
  data/mods/innawood/construction.json
  data/mods/innawood/furniture-tools.json
  data/mods/innawood/furniture_and_terrain/furniture-tools.json
  data/mods/innawood/furniture_and_terrain/terrain-floors-outdoors.json
  data/mods/innawood/furniture_and_terrain/terrain-flora.json
  data/mods/innawood/furniture_and_terrain/terrain-walls.json
  data/mods/innawood/mapgen/cave.json
  data/mods/innawood/mapgen/crater.json
  data/mods/innawood/materials.json
  data/mods/innawood/recipes/armor_arms.json
  data/mods/innawood/recipes/brewing.json
  data/mods/innawood/recipes/distill.json
  data/mods/innawood/recipes/other_parts.json
  data/mods/innawood/recipes/recipe_food.json
  data/mods/innawood/recipes/weapons_bashing.json
Labels: <Enhancement / Feature>, [JSON], Mods, astyled, json-styled

#53861 Mad militia balancing with artificial dispersion
  data/json/items/gun/monster_gun.json
  data/json/monsters/feral_humans.json
  tools/json_tools/generic_guns_validator.py
Labels: Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#54163 Add a script to check for tags in translations
  tools/check_translation_tags.py
Labels: Translation, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#54168 storehouse 1 expansion blueprint cleanup
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_1/modular_storehouse_log.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_1/modular_storehouse_metal.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_1/modular_storehouse_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_1/modular_storehouse_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_1/modular_storehouse_rock.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_1/modular_storehouse_wad.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_1/modular_storehouse_wood.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_1/recipe_modular_storehouse_log.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_1/recipe_modular_storehouse_metal.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_1/recipe_modular_storehouse_migo_resin.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_1/recipe_modular_storehouse_rock.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_1/recipe_modular_storehouse_wad.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_1/recipe_modular_storehouse_wood.json
Labels: Map / Mapgen, astyled, json-styled

#54170 Clarify VS2019 requirement because of vcpkg.
  doc/COMPILING/COMPILING-VS-VCPKG.md
Labels: astyled, json-styled, BasicBuildPassed

#54188 Fix #53974
  data/json/items/gun/10mm.json
  data/json/items/gun/22.json
  data/json/items/gun/3006.json
  data/json/items/gun/500.json
  data/json/items/gun/762.json
  data/json/items/gun/762R.json
  data/json/items/gun/9mm.json
Labels: Items: Magazines, <Bugfix>, astyled, json-styled

#54116 Balanced/corrected firearm and gunsmith repair kits
  data/json/items/tool/workshop.json
  tests/iteminfo_test.cpp
Labels: Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#54171 Fix malformed gas station purchase string
  src/iexamine.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#54181 [Innawood] Patch 2
  data/mods/innawood/innawood_map_settings.json
  data/mods/innawood/items/fake.json
  data/mods/innawood/items/generic.json
  data/mods/innawood/items/tool_tailoring.json
  data/mods/innawood/mapgen/cave.json
  data/mods/innawood/recipes/other_materials.json
Labels: <Enhancement / Feature>, [JSON], Mods, astyled, json-styled

#54190 Widget flags: Flags for special widget behaviours
  data/json/flags/widget.json
  data/json/ui/compass.json
  data/mods/TEST_DATA/widgets.json
  doc/SIDEBAR_MOD.md
  src/widget.cpp
  src/widget.h
  tests/widget_test.cpp
Labels: astyled, json-styled, BasicBuildPassed

#54193 Minor style fixes
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_clothes.json
  data/json/items/comestibles/wheat.json
  data/json/items/gun/exodii.json
  data/json/items/resources/tailoring.json
  data/json/vehicleparts/doors.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#54195 Improve makeshift crowbar action description
  data/json/item_actions.json
  data/json/items/tool/entry_tools.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#54148 [Magiclysm] New spell for shapeshifter
  data/mods/Magiclysm/Spells/attunements/Shapeshifter.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/traits/attunements.json
Labels: [JSON], Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#49105 Make Wreckage look good
  src/mapgen.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: Vehicles, SDL: Tiles / Sound, Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#53858 TropiCataclysm 0.6: Mounds and Blossoms
  data/json/overmap/special_locations.json
  data/mods/TropiCataclysm/effects.json
  data/mods/TropiCataclysm/furniture_and_terrain/terrain_fungal_termite.json
  data/mods/TropiCataclysm/furniture_and_terrain/tropical_terrain_flora.json
  data/mods/TropiCataclysm/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/mods/TropiCataclysm/items/comestibles/biosignatures.json
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/items/comestibles/raw_veggy.json
  data/mods/TropiCataclysm/mapgen/bugs/termites.json
  data/mods/TropiCataclysm/mapgen/triffid/triffid_blossom.json
  data/mods/TropiCataclysm/mapgen/triffid/triffid_garden.json
  data/mods/TropiCataclysm/modinfo.json
  data/mods/TropiCataclysm/monstergroups/eggs.json
  data/mods/TropiCataclysm/monstergroups/triffid.json
  data/mods/TropiCataclysm/monstergroups/tropical_bugs.json
  data/mods/TropiCataclysm/monstergroups/wilderness.json
  data/mods/TropiCataclysm/monsters/tropical_insect_spider.json
  data/mods/TropiCataclysm/monsters/tropical_reptile_amphibian.json
  data/mods/TropiCataclysm/monsters/tropical_triffid.json
  data/mods/TropiCataclysm/monsters/zed_plant.json
  data/mods/TropiCataclysm/overmap/overmap_mutable/termitemound.json
  data/mods/TropiCataclysm/overmap/overmap_special/specials.json
  data/mods/TropiCataclysm/overmap/overmap_terrain/overmap_terrain_termites.json
  data/mods/TropiCataclysm/overmap/overmap_terrain/overmap_terrain_triffid.json
  data/mods/TropiCataclysm/recipes/recipe_others.json
  data/mods/TropiCataclysm/spells.json
  data/mods/TropiCataclysm/tropical_harvest.json
  data/mods/TropiCataclysm/tropical_monster_factions.json
Labels: <Enhancement / Feature>, [JSON], Mods, astyled, json-styled, BasicBuildPassed
