Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2022-03, with the labels that each got.

#55758 Cooked liver is not nasty
  data/json/items/comestibles/carnivore.json
Labels: [JSON], Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#55692 Magiclysm typos
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/items/enchanted_ranged.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55664 Few misc item fixes
  data/json/items/generic.json
  data/json/items/generic/toys_and_sports.json
  data/json/items/tool/woodworking.json
Labels: [JSON], Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#55296 Soap bottle parity with plastic bottles
  data/json/items/generic/bathroom_house.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/other.json
  data/json/recipes/other/vehicle.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipes_holiday.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/lights.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/weapon/mods.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55316 Update materials for survivor suits
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/bespoke_armor/cuttingroom.json
  data/json/items/armor/swimming.json
  data/json/recipes/armor/bespoke_armor/survivor.json
  data/json/recipes/armor/suit.json
  data/json/recipes/recipe_obsolete.json
  tools/spell_checker/dictionary.txt
Labels: Game: Balance, [JSON], Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#55480 Modifiable Gun Mods
  data/json/item_actions.json
  data/json/items/gunmod/underbarrel.json
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: Items: Gunmod / Toolmod, astyled, json-styled, BasicBuildPassed

#55627 Refactor npctalk.h to avoid dynamic_cast
  src/character.cpp
  src/character.h
  src/npc.cpp
  src/npc.h
  src/npctalk.cpp
Labels: <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#55644 [Innawood] Nerf portal storms
  data/mods/innawood/monsters/nether.json
  data/mods/innawood/portal_storm_effect_on_condition.json
Labels: Mods, Mechanics: Effects / Skills / Stats, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#55653 NPCs shouldn't investigate base camp animals
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_common.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_log.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_metal.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_rock.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_wad.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_wood.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_common.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_concrete.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_log.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_metal.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_rock.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_wad.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_wood.json
Labels: NPC / Factions, Quality of Life, astyled, json-styled, BasicBuildPassed

#55666 Revert #55650 and actually fix the expansion limit for mansions
  data/json/recipes/basecamps/base/fbmc_mansion/fbmc_mansion_+1.json
  data/json/recipes/basecamps/base/fbmc_mansion/fbmc_mansion_+2.json
  data/json/recipes/basecamps/base/fbmc_mansion/fbmc_mansion_+3.json
  data/json/recipes/basecamps/base/fbmc_mansion/fbmc_mansion_+4.json
  src/basecamp.cpp
Labels: [JSON], [C++], <Bugfix>, Player Faction Base / Camp, json-styled, BasicBuildPassed

#55668 Nerfed bashing damage of quarterstaff, staff sling, and bo
  data/json/items/melee/bludgeons.json
  data/json/items/ranged/slings.json
  tests/effective_dps_test.cpp
Labels: Game: Balance, Items / Item Actions / Item Qualities, Melee, astyled, json-styled, BasicBuildPassed

#55670 allowed for 3 concurrent camp crafting activities
  src/basecamp.h
  src/faction_camp.cpp
  src/mission_companion.cpp
  src/mission_companion.h
Labels: NPC / Factions, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#55673 Nano Fabricator Repairs
  data/json/flags.json
  data/json/items/tool_armor.json
  src/flag.cpp
  src/flag.h
  src/iexamine.cpp
Labels: astyled, json-styled, BasicBuildPassed

#55674 Phase Suit Repairs and Robofac Prototype Reorganize
  data/json/items/armor/robofac_armor.json
  data/json/npcs/robofac/NPC_ROBOFAC_INTERCOM.json
  data/json/npcs/robofac/NPC_ROBOFAC_PROTOTYPE.json
Labels: astyled, json-styled, BasicBuildPassed

#55675 Added detailed description for the 'Analyze zombie blood' quest
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#55678 added description for scenario (un)living History
  data/json/scenarios.json
Labels: Scenarios, astyled, json-styled, BasicBuildPassed

#55681 Add option and CLI switch to disable title screen ascii art
  src/main.cpp
  src/options.cpp
  src/path_info.cpp
Labels: Accessibility, [C++], astyled, json-styled, BasicBuildPassed

#55687 make pen reloadable fix #55357
  data/json/items/tool/stationary.json
Labels: Items: Magazines, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55787 bugfix-55778
  data/json/items/armor/suits_protection.json
Labels: Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55694 Add basket fish trap (plastic free)
  data/json/items/tool/fishing.json
  data/json/recipes/recipe_others.json
Labels: Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#55695 Don't delete all savegames in a world when retrying to find a suitable location
  src/game.cpp
Labels: [C++], Character / World Generation, Quality of Life, astyled, json-styled, BasicBuildPassed

#55696 Fixed mech placement in lab finale
  data/json/mapgen/lab/lab_floorplans_finale1level.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55610 TropiCata: Birds Galore
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/monstergroups/eggs.json
  data/mods/TropiCataclysm/monstergroups/wilderness.json
  data/mods/TropiCataclysm/monsters/tropical_bird.json
Labels: <Enhancement / Feature>, [JSON], Mods, astyled, json-styled, BasicBuildPassed

#55726 EOC Queue fix
  data/json/portal_storm_effect_on_condition.json
  doc/NPCs.md
  src/npctalk.cpp
Labels: Mechanics: Effects / Skills / Stats, <Bugfix>, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#55743 Overhauls chances of good or bad mutations
  data/json/mutations/mutations.json
  data/json/vitamin.json
  doc/GAME_BALANCE.md
  src/character.h
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: Game: Mechanics Change, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#55763 NPC talk menu: arrow key navigation & highlighting
  src/dialogue_win.cpp
  src/dialogue_win.h
  src/npctalk.cpp
Labels: NPC / Factions, Info / User Interface, [C++], Quality of Life, astyled, json-styled, BasicBuildPassed

#55702 added extension chords
  data/json/item_actions.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/vehicle/cables.json
  data/json/vehicleparts/vehicle_parts.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: [JSON], Spawn, [C++], Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#55705 Add glass goggles
  data/json/items/armor/eyewear.json
  data/json/recipes/armor/head.json
  data/json/recipes/recipe_others.json
  data/mods/innawood/items/armor_eyewear.json
  data/mods/innawood/recipes/armor_head.json
  data/mods/innawood/recipes/recipe_others.json
Labels: [JSON], Crafting / Construction / Recipes, Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#55706 Robofac Poncho Increased Volume Pockets
  data/json/items/armor/robofac_armor.json
Labels: Items: Containers, astyled, json-styled, BasicBuildPassed

#55707 Challenge mod: Deadly Zombie Virus
  data/mods/deadly_bites/effect_on_conditions.json
  data/mods/deadly_bites/effects.json
  data/mods/deadly_bites/itemgroups.json
  data/mods/deadly_bites/items.json
  data/mods/deadly_bites/modinfo.json
  data/mods/deadly_bites/scenarios.json
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/effect.cpp
  src/effect.h
  src/mattack_actors.cpp
  src/monstergenerator.cpp
  src/mtype.h
  src/savegame_json.cpp
Labels: Mods, Mechanics: Effects / Skills / Stats, Scenarios, astyled, json-styled, BasicBuildPassed

#55711 Improve monster whitelist & blacklist docs
  doc/MODDING.md
  src/mongroup.cpp
Labels: [Markdown], astyled, json-styled, BasicBuildPassed

#55719 Added SOLES mutation type & place relevant mutations in it
  data/json/mutations/mutation_type.json
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Limbs

#55721 Hallucination fixes
  src/character.cpp
  src/character.h
  src/melee.cpp
  src/npc_attack.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55723 Remove deep water hidden below sand and clay mounds
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#55724 Increased Missions menu UI size
  src/mission_ui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#55728 Add missing vector include
  src/morale_types.h
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#55733 Fix lit molotov weight, volume, and length
  data/json/items/tool/explosives.json
Labels: [JSON], Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55793 Add context to Fish action
  data/json/item_actions.json
Labels: Translation, astyled, json-styled, BasicBuildPassed

#55736 ci: basic pr auto labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Organization, Code: Tooling, astyled, json-styled, BasicBuildPassed

#55737 Consistently show merch cost in conversation
  data/json/npcs/isolated_road/isolated_road_cody_fabricate.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Fatima_Al_Jadir.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_missions.json
  data/json/npcs/refugee_center/surface_visitors/NPC_scavenger_mercenary.json
  data/json/npcs/tacoma_ranch/NPC_ranch_barber.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55740 Fix heavy dry cell material error
  data/json/items/battery.json
Labels: Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55746 improved dialog companion mission UI
  src/mission_companion.cpp
Labels: NPC / Factions, Missions, [C++], astyled, json-styled, BasicBuildPassed

#55747 e-ink tablet (on) now has WATCH flag
  data/json/items/tool/electronics.json
Labels: Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#55750 Fix comestible (corn cob) transformation
  src/iuse_actor.cpp
Labels: [C++], Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55753 Link to libncursesw in Makefile
  Makefile
Labels: Code: Build, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55754 Limited most map extras to 0 z-level
  data/json/overmap/map_extras.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55755 Adds info about Holsters to the inventory UI
  src/character.cpp
  src/character.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
  tests/iteminfo_test.cpp
Labels: [C++], Controls / Input, astyled, json-styled, BasicBuildPassed

#55756 Partial update to martial arts and magic weapons
  data/mods/MMA/martialarts.json
  data/mods/Magiclysm/items/enchanted_melee.json
Labels: Items / Item Actions / Item Qualities, <Bugfix>, Mods: Magiclysm, Martial Arts, astyled, json-styled, BasicBuildPassed

#55759 maces get wblock_1
  data/json/items/melee/bludgeons.json
Labels: Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55761 Alpha Metamorphosis does intended damage
  data/json/effects.json
Labels: Mutations / Traits / Professions/ Hobbies, Mechanics: Effects / Skills / Stats, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55766 Add missing species whitelist and blacklist behaviour
  src/mongroup.cpp
Labels: Mods, [C++], astyled, json-styled, BasicBuildPassed

#55769 Made survivor chef, pizzaiolo and foodperson don't investigate noises in restaurants they've hidden in
  data/json/mapgen/restaurant.json
Labels: NPC / Factions, [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55772 Changed the wording in the miss recovery technique description
  doc/MARTIALART_JSON.md
  src/martialarts.cpp
  src/martialarts.h
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Martial Arts, astyled, json-styled, BasicBuildPassed

#55774 Changing paintball from stab to bash
  data/json/items/ammo/paintball.json
  data/json/items/gun/paintball.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#55782 Extract module image base address to correctly produce stack trace
  src/debug.cpp
Labels: Code: Tests, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55784 Reduce moves to loot mres, ifaks, first aids
  data/json/items/containers.json
Labels: <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#55785 NPC EOC deactivate condition fix
  src/effect_on_condition.cpp
  src/effect_on_condition.h
Labels: NPC / Factions, Mechanics: Effects / Skills / Stats, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55786 fix: extra space in eat menu
  src/game_inventory.cpp
Labels: Info / User Interface, astyled, json-styled, BasicBuildPassed

#55788 perf: restore and use old astyle check
  .github/workflows/astyle.yml
  Makefile
Labels: Code: Performance, Code: Tests, astyled, json-styled, BasicBuildPassed

#55791 Add 'Heated Tank' vehicle part
  data/json/items/vehicle/utilities.json
  data/json/recipes/recipe_vehicle.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vp_flags.json
  data/raw/keybindings/vehicle.json
  src/map.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle_part.cpp
  src/vehicle_use.cpp
Labels: [JSON], Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#55792 [WIP] Option to use Grass Sheets for Door Curtains
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/portal_storm_effect_on_condition.json
Labels: <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#55802 Stocks, stock accessories, new C++ handling for Folding Stocks
  data/json/flags.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/classes/gun.json
  data/json/items/gun/12mm.json
  data/json/items/gun/20x66mm.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/gun/3006.json
  data/json/items/gun/308.json
  data/json/items/gun/40x46mm.json
  data/json/items/gun/45.json
  data/json/items/gun/50.json
  data/json/items/gun/500.json
  data/json/items/gun/545x39.json
  data/json/items/gun/57.json
  data/json/items/gun/5x50.json
  data/json/items/gun/700nx.json
  data/json/items/gun/762.json
  data/json/items/gun/762R.json
  data/json/items/gun/762x25.json
  data/json/items/gun/8x40mm.json
  data/json/items/gun/9mm.json
  data/json/items/gun/blunderbuss.json
  data/json/items/gun/combination.json
  data/json/items/gun/robofac_gun.json
  data/json/items/gun/ups.json
  data/json/items/gunmod/stock.json
  data/json/items/migration.json
  data/mods/CRT_EXPANSION/items/crt_gunmods.json
  data/mods/CRT_EXPANSION/items/crt_item_groups.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
  src/character.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/iuse_actor.cpp
Labels: [JSON], Items: Gunmod / Toolmod, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55804 Second Skin Materials Fixes
  data/json/items/armor/exotic.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#55805 Fix spawns for hunting archery gear
  data/json/itemgroups/SUS/lodge.json
  data/json/mapgen/store/s_hunting.json
Labels: Spawn, Items: Archery, astyled, json-styled, BasicBuildPassed

#55807 Make the graphical overmap mod into a tileset overmap
  gfx/Larwick_Overmap/fallback.png
  gfx/Larwick_Overmap/overmap.png
  gfx/Larwick_Overmap/tile_config.json
  gfx/Larwick_Overmap/tileset.txt
Labels: SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#55808 copy fix for hub anchor
  data/json/items/armor/robofac_armor.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#55809 Large building scenario adjustments
  data/json/scenarios.json
  data/json/start_locations.json
Labels: Scenarios, astyled, json-styled, BasicBuildPassed

#55688 Remove gavel joke in gravel description
  data/json/furniture_and_terrain/terrain-railroads.json
Labels: astyled, json-styled, BasicBuildPassed

#55632 Arcade appliance
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/items/appliances.json
  data/json/vehicleparts/vp_flags.json
  data/raw/keybindings/vehicle.json
  src/activity_handlers.cpp
  src/iuse.cpp
  src/veh_appliance.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle_use.cpp
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#55659 Improved faction camp emergency recall UI
  src/faction_camp.cpp
Labels: [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#55662 More material breathabilities and better naming
  data/json/materials.json
  src/material.cpp
  src/material.h
  tests/iteminfo_test.cpp
Labels: [JSON], [C++], Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed

#55669 Removed force_unarmed from Taekwondo
  data/json/martialarts.json
  data/json/techniques.json
  src/character_martial_arts.cpp
  src/character_martial_arts.h
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
Labels: Game: Balance, Martial Arts, astyled, json-styled, BasicBuildPassed

#55708 Artifact move cost mod multiplicative instead of additive
  data/json/artifact/relic_procgen_data.json
  doc/ARTIFACTS.md
Labels: Game: Balance, <Bugfix>, Artifacts, astyled, json-styled, BasicBuildPassed

#52236 [Aftershock] Rabbit, Frog and Snail NPC classes
  data/mods/Aftershock/mobs/uplifted_monsters.json
  data/mods/Aftershock/npcs/Backgrounds/npc_classes_mutant.json
  data/mods/Aftershock/npcs/mutant_npcs/trait_groups.json
Labels: NPC / Factions, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#55648 Replace hard steel with tempered steel
  data/json/items/armor/power_armor.json
  data/json/items/generic.json
  data/json/items/gun/308.json
  data/json/items/tool/workshop.json
  data/json/items/vehicle/frames.json
  data/json/items/vehicle/plating.json
  data/json/items/vehicle/wheel.json
  data/json/materials.json
  data/mods/Aftershock/items/armor/modular_exos/exo_gear.json
  data/mods/Aftershock/items/armor/modular_exos/exo_tool.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CRT_EXPANSION/items/crt_armor.json
  data/mods/CRT_EXPANSION/items/crt_toolarmor.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/CRT_EXPANSION/readme/README.md
  data/mods/TEST_DATA/items.json
  data/mods/innawood/items/tool_workshop.json
  src/bionics.cpp
  src/character.cpp
  src/monattack.cpp
  src/ranged.cpp
  tests/iteminfo_test.cpp
Labels: [JSON], Items / Item Actions / Item Qualities, Mods: Aftershock, Mods: CRIT, astyled, json-styled, BasicBuildPassed

#55817 Remove redundant parentheses in item_contents.cpp
  src/item_contents.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55818 Fix syntax error in pull request labeller workflow
  .github/workflows/labeler.yml
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#55814 Restore millability of cattail rhizomes which was accidentally removed some time ago
  data/json/items/comestibles/veggy_dishes.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55858 composition b → composition B
  data/json/items/chemicals_and_resources.json
Labels: astyled, json-styled, BasicBuildPassed, Json

#55810 Fix mapgen test errors
  data/json/mapgen/map_extras/grave.json
Labels: Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55901 Remove extra space
  data/json/items/tool/misc.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55828 fix: label bot uses existing labels
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#55933 Fixed mix up of requirements for fish traps
  data/json/items/tool/fishing.json
  data/json/recipes/recipe_others.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#55869 [DinoMod] readable name colors
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/juvenile.json
Labels: [JSON], Accessibility, Monsters, Mods: Dinoclysm, astyled, json-styled, BasicBuildPassed, Json

#55870 goat
  data/json/monstergroups/misc.json
  data/json/monsters/mammal.json
Labels: [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Json

#55861 foodplace → Foodplace
  data/json/items/generic.json
Labels: astyled, json-styled, BasicBuildPassed, Json

#55863 pedals → petals
  data/json/items/generic.json
Labels: astyled, json-styled, BasicBuildPassed, Json

#55879 Change Aftershock fire modes to follow other
  data/mods/Aftershock/items/gun/laser.json
Labels: Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Json

#55881 Add full stops to two exoskeletom descriptions
  data/json/items/armor/power_armor.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55883 Fix plural for a loose gameson vest
  data/json/items/armor/suits_protection.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55857 magnum → Magnum
  data/json/items/ammo_types.json
Labels: astyled, json-styled, BasicBuildPassed, Json

#55834 Aluminium → Aluminum
  data/json/items/ammo/weldgas.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55839 Add comma to a sentence
  data/json/speech.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55851 Update traps.json
  data/json/traps.json
Labels: Translation, astyled, json-styled, BasicBuildPassed, Json

#55853 Update legacy_artifact_active.json
  data/json/artifact/legacy_artifact_active.json
Labels: astyled, json-styled, BasicBuildPassed, Json

#55835 Add context to Fior Di Battaglia book
  data/json/items/book/martial.json
Labels: Translation, astyled, json-styled, BasicBuildPassed, Json

#55856 Carbon → carbon
  data/json/items/ammo.json
Labels: astyled, json-styled, BasicBuildPassed, Json

#55889 Add full stop to `plastic_straw` description
  data/json/items/generic/dining_kitchen.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55890 Add full stop to `walther_p22` description
  data/json/items/gun/22.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55849 Remove extra space from technique description
  data/json/techniques.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55854 Change _ to space
  data/json/furniture_and_terrain/terrain-manufactured.json
Labels: astyled, json-styled, BasicBuildPassed, Json

#55898 SPAS 12 → SPAS-12
  data/json/items/gun/shot.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55873 Clean up itemgroups for mutagens in CRIT
  data/mods/CRT_EXPANSION/mutations/crt_mut_itemgroups.json
Labels: Mods: CRIT, astyled, json-styled, BasicBuildPassed, Json

#55731 Speling: Innert -> Inert
  data/json/materials.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#55948 Consistently spell bubble wrap
  data/json/npcs/hints.json
  data/json/snippets/tutorial.json
  src/iexamine.cpp
  tools/spell_checker/dictionary.txt
Labels: [JSON], [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#55946 fix typo in football hobby description
  data/json/hobbies.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55922 Automatically post a warning comment when translation files are changed
  .github/workflows/detect-translation-file-changes.yml
  .github/workflows/pull-translations.yml
Labels: Translation, Code: Tests, astyled, json-styled, BasicBuildPassed

#55906 Improves Innawood, Aftershock, and Magiclysm interactions with flags
  data/json/overmap/overmap_special/alien.json
  data/json/overmap/overmap_special/specials.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/Magiclysm/worldgen/overmap_specials.json
  data/mods/innawood/innawood_map_settings.json
  data/mods/innawood/overmap/special_alien.json
  data/mods/innawood/overmap/specials_removed.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Json

#55899 picatinny → Picatinny
  data/json/items/gun/shot.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55897 Remove _ from a visible item
  data/json/items/gun/monster_gun.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55884 Fix double space between Mrs. Claus
  data/json/items/armor/torso_clothes.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55813 Fix bow_stabilizer_set
  data/json/items/gunmod/accessories.json
Labels: Items: Archery, astyled, json-styled, BasicBuildPassed

#55748 Spelling fixes
  data/json/monsters/utility_bot.json
  data/json/snippets/lab.json
  data/mods/Dark-Skies-Above/snippets/radio.json
  data/mods/MMA/martialarts.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/innawood/itemgroups/trash_and_debris.json
  doc/JSON_INFO.md
  doc/MONSTER_SPECIAL_ATTACKS.md
  doc/NPCs.md
  src/diary_ui.cpp
  src/mapgen_functions.cpp
  src/ncurses_def.cpp
  src/worldfactory.cpp
  tools/copy_mac_libs.py
  tools/gfx_tools/compose.py
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55218 Merge adjacent wires and improve wire handling
  data/json/construction.json
  src/construction.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: Code: Performance, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, C++, Json

#55589 Revise Fire drills
  data/json/items/tool/fire.json
  data/json/recipes/tools/tools_primitive.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, BasicBuildPassed, Json

#55649 Add nuts and bolts
  data/json/items/ammo/nail.json
  data/json/items/ammo_types.json
  tools/json_tools/generic_guns_validator.py
Labels: [JSON], Items / Item Actions / Item Qualities, Code: Tooling, astyled, json-styled, BasicBuildPassed, Json, Python

#55715 Fixed several errors in Hub 01 mapgen (port from BN)
  data/json/mapgen/robofachq_static.json
  data/json/mapgen_palettes/robofachq.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55722 Migrate ACT_GUNMOD_ADD to the new activity actor system.
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/character_guns.cpp
  src/savegame_legacy.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#55775 Better dialog message variable handling
  data/json/npcs/isolated_road/isolated_road_cody_fabricate.json
  doc/NPCs.md
  src/npctalk.cpp
  tests/npc_talk_test.cpp
Labels: NPC / Factions, [C++], Mechanics: Effects / Skills / Stats, astyled, json-styled, BasicBuildPassed

#55811 Fix appliance construction errors with debug hammerspace
  src/construction.cpp
Labels: [C++], <Bugfix>, Code: Debug, astyled, json-styled, BasicBuildPassed, C++

#55816 Added multiple camp construction workers
  src/basecamp.h
  src/faction_camp.cpp
  src/mission_companion.cpp
  src/mission_companion.h
Labels: Crafting / Construction / Recipes, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed, C++

#55949 Recover oxygen over time
  src/avatar_action.cpp
  src/character.cpp
  src/character.h
  src/character_body.cpp
  src/game.cpp
  src/iexamine.cpp
  src/monattack.cpp
  tests/char_suffer_test.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Code: Test

#55820 Code for ammo requiring melee techniques
  data/json/items/ammo/blank.json
  data/json/items/ammo_types.json
  data/json/items/gun/artisan_guns.json
  data/json/techniques.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/ammo/pistol_tiny.json
  src/character.h
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
Labels: [C++], Melee, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed, C++, Json

#55831 Small AFS bugfixes
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/items/books.json
  data/mods/Aftershock/items/cbms.json
  data/mods/Aftershock/mobs/uplifted_monsters.json
  data/mods/Aftershock/player/bionics.json
Labels: Bionics, Spawn, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Json

#55836 Update materials to consistently use title case
  data/json/materials.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55844 Whilst active → While active
  data/json/bionics.json
  data/json/items/bionics.json
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, Json

#55845 Update feature_request.yaml due to typo
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: Organization, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55846 Add ALLOWS_TALONS to RAP_TALONS
  data/json/mutations/mutations.json
Labels: astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Json

#55806 Exodii cross faction gear
  data/json/items/armor/suits_protection.json
  data/json/items/gun/robofac_gun.json
  data/json/npcs/isolated_road/isolated_road_cody_dialogue.json
  data/json/npcs/isolated_road/isolated_road_cody_fabricate.json
  data/json/npcs/robofac/NPC_ROBOFAC_PROTOTYPE.json
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, [JSON], Items: Ammo / Guns, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#55848 Update effects.json to title case + minor fixes
  data/json/effects.json
Labels: Translation, astyled, json-styled, BasicBuildPassed, Json

#55852 Update altered_object_active.json
  data/json/artifact/altered_object_active.json
Labels: Translation, astyled, json-styled, BasicBuildPassed, Json

#55855 Red → red
  data/json/furniture_and_terrain/terrain-mechanisms.json
Labels: astyled, json-styled, BasicBuildPassed, Json

#55865 More Metal Armor Updates
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/tool/workshop.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Json

#55887 Remove obsolete and unusable Graphical Overmap mods
  data/mods/Graphical_Overmap_More_Buildings/modinfo.json
  data/mods/Graphical_Overmap_More_Buildings/overmap_terrain_fujistruct.json
  data/mods/Graphical_Overmap_More_Locations/modinfo.json
  data/mods/Graphical_Overmap_More_Locations/overmap_terrain_more_locations.json
  data/mods/Graphical_Overmap_Urban_Development/modinfo.json
  data/mods/Graphical_Overmap_Urban_Development/overmap_terrain_urban_development.json
Labels: Mods, astyled, json-styled, BasicBuildPassed, Json

#55888 Add `[ "HAMMER", 1 ]` quality to mortar&pestle
  data/json/items/tool/cooking.json
Labels: [JSON], Items / Item Actions / Item Qualities, astyled, json-styled, BasicBuildPassed, Json

#55908 Spawn Zombie Cops with small firearms more often and lower pick rate of mx_military 'map extra'
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_soldier.json
  data/json/npcs/island_prison/prisoners.json
  data/json/regional_map_settings.json
  data/mods/Aftershock/region_settings.json
  data/mods/No_Hope/regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
  data/mods/classic_zombies/alberta_regional_map_settings.json
  data/mods/desert_region/desert_regional_map_settings.json
Labels: [JSON], Mods: Aftershock, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Json

#55927 Military Armor Item Groups
  data/json/itemgroups/Clothing_Gear/clothing.json
Labels: Spawn, astyled, json-styled, BasicBuildPassed, Json

#55947 Replace knife spear hint with spike on a stick
  data/json/npcs/hints.json
Labels: <Documentation>, [JSON], astyled, json-styled, BasicBuildPassed

#55952 Quick and dirty fix for vertical peek bug
  src/game.cpp
Labels: Z-levels, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55955 [DinoMod] Albertonykus
  data/mods/DinoMod/cooking_components.json
  data/mods/DinoMod/forage.json
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/items/itemgroups.json
  data/mods/DinoMod/monster_factions.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/misc.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/recipes/medsandchemicals.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Items: Food / Vitamins, Spawn, Monsters, Mods: Dinoclysm, Code: Tooling, astyled, json-styled, BasicBuildPassed

#55956 Fix test failure when LOCALIZE is disabled
  src/translations.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55957 Armor balance guide
  doc/ARMOR_BALANCE_AND_DESIGN.md
Labels: <Documentation>, astyled, json-styled, BasicBuildPassed

#55967 fix for not wearing anything
  src/character_attire.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#55751 Matchbook is destroyed in deep water
  data/json/items/tool/fire.json
Labels: [JSON], Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#55920 [Aftershock] Grav Chute CBM
  data/mods/Aftershock/itemgroups/bionics_groups.json
  data/mods/Aftershock/items/cbms.json
  data/mods/Aftershock/player/bionics.json
  src/trapfunc.cpp
Labels: [JSON], Bionics, [C++], Mods: Aftershock, astyled, json-styled, BasicBuildPassed, C++, Json

#55944 Pockets: prioritize parent over nested
  data/mods/TEST_DATA/items.json
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/character_inventory.cpp
  src/item_contents.cpp
  src/pickup.cpp
  tests/item_pocket_test.cpp
Labels: [JSON], [C++], Items: Containers, astyled, json-styled, BasicBuildPassed, Code: Test

#55958 Added a check for MA_manual when reading near NPCs
  src/avatar.cpp
Labels: NPC / Factions, [C++], <Bugfix>, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#55971 Made Lamellar Cuirass more interesting
  data/json/items/armor/torso_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#55633 Add "indoor" and "night" fields for sound effects
  doc/SOUNDPACKS.md
  src/sdlsound.cpp
  src/sounds.cpp
  src/sounds.h
Labels: <Documentation>, [C++], <Bugfix>, Sound Events, astyled, json-styled, BasicBuildPassed

#55847 Add new portal storm monster swarm structure
  data/json/monster_special_attacks/spells.json
  data/json/monsters/nether.json
  data/json/portal_storm_effect_on_condition.json
  src/npctalk.cpp
Labels: [JSON], Spawn, [C++], Monsters, Mechanics: Weather, astyled, json-styled, BasicBuildPassed, C++, Json
