Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2022-10, with the labels that each got.

#61371 Removed long strings from piano disassembly and replaced the wires.
  data/json/furniture_and_terrain/furniture-recreation.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#61368 [DinoMod] boiled egg hatching fix
  data/mods/DinoMod/items/egg.json
Labels: [JSON], Mods, <Bugfix>, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#61366 add missing flags to rm13
  data/json/items/tool_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61329 allow SPEAR attack through barred/grated windows
  data/json/furniture_and_terrain/terrain-windows.json
  doc/JSON_FLAGS.md
Labels: <Documentation>, [JSON], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#61367 Allow traveling to shelves
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61362 House Palette Update - Bedside Table
  data/json/mapgen/house/2storymodern03.json
  data/json/mapgen_palettes/house_general_palette.json
  data/mods/No_Hope/palettes.json
Labels: [JSON], Mods, Map / Mapgen, astyled, Mods: No Hope

#61319 Xl punching armor
  data/json/items/melee/unarmed_weapons.json
  data/json/recipes/armor/hands.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/piercing.json
  data/mods/TEST_DATA/known_bad_density.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61317 Adds City Location: Strip Mall
  data/json/mapgen/nested/strip_mall_nested.json
  data/json/mapgen/strip_mall.json
  data/json/npcs/TALK_STRIP_MALL.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: NPC / Factions, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#61264 [DinoMod] four ceratopsians and horns mutations
  data/mods/DinoMod/README.md
  data/mods/DinoMod/effects.json
  data/mods/DinoMod/harvest_dissect.json
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/items/itemgroups.json
  data/mods/DinoMod/items/mutagen.json
  data/mods/DinoMod/items/mutagen_ingredients.json
  data/mods/DinoMod/mapgen/map_extras/nest_achelousaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_chasmosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_einiosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_styracosaurus.json
  data/mods/DinoMod/monster_attacks.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/mutations/dreams.json
  data/mods/DinoMod/mutations/mutations.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/recipes/medsandchemicals.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/requirements/cooking_components.json
  data/mods/DinoMod/vitamin.json
  tools/spell_checker/dictionary.txt
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Monsters, [Markdown], Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#61246 Reduce gun weight after sawing off its stock
  src/item.cpp
Labels: Items: Gunmod / Toolmod, [C++], Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61328 tweaks to basic kevlar vest
  data/json/items/armor/torso_armor.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61395 Fix mapgen error in mod loading test
  data/mods/Mythos/mapgen_palettes/1920s_house_general_palette.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled

#61396 [Bugfix] Rendering vehicle memory and height_3d
  src/cata_tiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61390 Both recipes of oars are now located in one place in crafting menu
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/tools/tools_primitive.json
Labels: Info / User Interface, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#61085 Add new mutant bird harvest ids and edit monsters that used old ids
  data/json/harvest.json
  data/json/monsters/bird.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/nether.json
Labels: Game: Balance, [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#61382 make hollow cane a rigid pocket
  data/json/items/melee/swords_and_blades.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#61403 Make mycus immune to Spore-Dusted #56653
  data/json/effects.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61391 Reworked bathrooms of `multi_unit_housing`
  data/json/mapgen/house/multi_unit_housing.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61374 [DinoMod] bear armor
  data/mods/DinoMod/items/pets_bear_armor.json
  data/mods/DinoMod/recipes/pets_bear.json
  data/mods/DinoMod/recipes/recipes.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#61355 buff the stone spear
  data/json/items/melee/spears_and_polearms.json
  tests/effective_dps_test.cpp
Labels: Game: Balance, [JSON], Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61323 rebalance deathrattle serpent
  data/json/monsters/reptile_amphibian.json
Labels: Game: Balance, [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#61302 Lets player construct earth ramp (low and high).
  data/json/construction.json
  data/json/construction_group.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#61180 Caterpillar cleanup & Cocoons
  data/json/items/comestibles/egg.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/insect_spider.json
  data/json/monsters/obsolete.json
  data/json/requirements/cooking_components.json
Labels: [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#61341 Artifact "resonance" penalties from carrying too many
  data/json/itemgroups/artifacts.json
  data/json/itemgroups/portal_storm_loot.json
  data/json/monsterdrops/misc.json
  data/mods/Xedra_Evolved/itemgroups/map_extra_itemgroups.json
  doc/ARTIFACTS.md
  src/debug_menu.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/relic.cpp
  src/relic.h
  src/suffer.cpp
Labels: <Documentation>, Game: Balance, [JSON], Mods, Spawn, [C++], <Bugfix>, [Markdown], Artifacts, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#61415 Correct turret looks_like default
  src/veh_type.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61388 Add more bounds checks for pathfinding
  src/pathfinding.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61398 Add docs instructions for syncing git tags.
  doc/COMPILING/COMPILING.md
  doc/CONTRIBUTING.md
Labels: <Documentation>, Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#61426 Routine tileset updates on 02 October 2022
  gfx/Altica/large.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tall_terrain.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/HollowMoon/huge.png
  gfx/HollowMoon/large.png
  gfx/HollowMoon/normal.png
  gfx/HollowMoon/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#61069 Compound Crossbow description edit
  data/json/items/ranged/crossbows.json
Labels: Info / User Interface, [JSON], Items: Archery, astyled, json-styled, BasicBuildPassed

#61401 Fix some things missed with kevlar vest
  data/json/items/armor/ammo_pouch.json
  data/json/recipes/armor/torso.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61416 Fix savegame loading when savegame arrays can have more than uint16_t…
  src/cata_small_literal_vector.h
  src/flexbuffer_json.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#61436 Fixes displaying recipes you can't craft and that are hidden
  src/crafting_gui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61437 Hallucination monsters don't leave biosignatures
  src/monster.cpp
Labels: [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61424 Remove pseudo hotplates on parts with chemistry set
  data/json/vehicleparts/utilities.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#61422 Hide "With %s." in item info if %s is empty
  src/item.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#61417 Spawned friendlies receive full pet menu
  src/map.cpp
Labels: Spawn, [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61412 Offer to deactivate extended bionics when NPC is requesting it
  src/npctalk_funcs.cpp
  src/talker_character.cpp
Labels: NPC / Factions, Bionics, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61389 [DinoMod] hungry hadrosaurs
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/mapgen/map_extras/nest_hypacrosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_lambeosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_prosaurolophus.json
  data/mods/DinoMod/mapgen/map_extras/nest_saurolophus.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/requirements/cooking_components.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#59906 Obj creator itemgroup part 2
  object_creator/Makefile
  object_creator/flowlayout.cpp
  object_creator/flowlayout.h
  object_creator/item_group_window.cpp
  object_creator/item_group_window.h
  object_creator/listwidget_drag.h
  object_creator/simple_property_widget.cpp
  object_creator/simple_property_widget.h
  object_creator/spell_window.cpp
Labels: Code: Build, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61474 Fix ObjectCreator build on Windows
  .github/workflows/msvc-full-features.yml
  object_creator/flowlayout.cpp
  object_creator/simple_property_widget.cpp
Labels: [C++], Code: Tooling, astyled, json-styled

#61429 nerf finding kitten to level of music enjoyment
  src/iuse_software.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#60307 [Magiclysm] Cooking is good for your survivability
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/cooking_components.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/recipe_books.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/cast_spell_items.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/herbs_and_flowers.json
  data/mods/Magiclysm/items/recipe_books.json
  data/mods/Magiclysm/morale_types.json
  data/mods/Magiclysm/recipes/mutagens.json
  data/mods/Magiclysm/recipes/recipe_potions.json
  data/mods/TEST_DATA/known_bad_density.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, Code: Tests, Mods: Magiclysm, Code: Tooling, astyled, json-styled, BasicBuildPassed

#59789 [Megafauna] Various new animals
  data/mods/Megafauna/harvest.json
  data/mods/Megafauna/items/animal_products.json
  data/mods/Megafauna/monstergroups/misc.json
  data/mods/Megafauna/monstergroups/wilderness.json
  data/mods/Megafauna/monsters/mf_domestic.json
  data/mods/Megafauna/monsters/mf_predators.json
  data/mods/Megafauna/monsters/mf_wild.json
  data/mods/Megafauna/readme.md
Labels: <Documentation>, [JSON], Mods, Spawn, Monsters, [Markdown], astyled, json-styled, BasicBuildPassed

#61393 No case hardening for non-CH'd sheet metal arm guards
  data/json/recipes/armor/arms.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61361 Aftershock: Smartguns
  data/json/flags.json
  data/mods/Aftershock/itemgroups/nanofab_recipes.json
  data/mods/Aftershock/items/ammo/10mm.json
  data/mods/Aftershock/items/ammo/25mm.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/items/gun/10mm.json
  data/mods/Aftershock/items/gun/25mm.json
  data/mods/Aftershock/items/gunmods/sights.json
  data/mods/Aftershock/items/magazine/10mm.json
  data/mods/Aftershock/items/nanofab_templates.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_manufactured.json
  data/mods/Aftershock/player/professions.json
  data/mods/Aftershock/recipes/requirements.json
  data/mods/Aftershock/skills.json
  src/flag.cpp
  src/flag.h
  src/ranged.cpp
Labels: [JSON], Mods, Items: Magazines, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, [C++], Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#61237 wolf skulls
  data/json/harvest.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/items/armor/helmets.json
  data/json/items/comestibles/carnivore.json
  data/json/monsters/mammal.json
  data/json/recipes/armor/head.json
  data/json/uncraft/generic.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61427 Better graffitis: wall vs. floor & variants
  doc/TILESET.md
  src/cata_tiles.cpp
  src/output.cpp
  src/output.h
Labels: <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#61472 Felt patch fix
  data/json/items/ammo.json
  data/json/items/resources/tailoring.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61466 [DinoMod] mutation achievements
  data/mods/DinoMod/achievements/achievements.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Mods: Dinomod, Game: Achievements / Conducts / Scores, Code: Tooling, astyled, json-styled, BasicBuildPassed

#61461 Fix honey combnot being consumed
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61430 Remove anachronistic building materials from modern buildings
  data/json/mapgen_palettes/exodii/medieval.json
  data/json/mapgen_palettes/house_general_abandoned.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/house_variant_palette.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61418 Fix enchantment issues
  src/character.h
  src/character_body.cpp
  src/game.cpp
  src/item.cpp
  src/mutation.cpp
  src/relic.cpp
  src/savegame_json.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61409 Paintable wood wall
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-walls.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#61459 More Options for Waiting Duration
  src/handle_action.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#61139 Convert CLIMATE_CONTROL to enchantments and simplify effect
  data/json/bionics.json
  data/json/enchantments.json
  data/json/flags.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_underlayers.json
  data/mods/Aftershock/items/armor/winter_masks.json
  data/mods/Aftershock/items/armor/winter_suits.json
  data/mods/Aftershock/items/ethereal.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/items/tool_armor.json
  data/mods/CRT_EXPANSION/crt_gear/advanced_gear.json
  data/mods/TEST_DATA/items.json
  doc/MAGIC.md
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/character_body.cpp
  src/flag.cpp
  src/flag.h
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: <Documentation>, Game: Balance, [JSON], Bionics, Code: Tests, [C++], <Bugfix>, [Markdown], Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61483 Survivor armor drop fix
  data/json/itemgroups/Clothing_Gear/clothing.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled

#61476 No sawing off (the most demanding) recoil operated guns' barrels
  data/json/items/gun/50.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#61397 Garlic Powder
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/spice.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed

#61482 Spears, spears, and more spears! A spear overhaul.
  data/json/items/melee/spears_and_polearms.json
  data/json/items/resources/wood.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/weapon/piercing.json
  tests/effective_dps_test.cpp
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], Melee, astyled, json-styled, BasicBuildPassed

#61508 Minor bugfixes
  src/activity_actor.cpp
  src/avatar.h
  src/player_display.cpp
  src/savegame_json.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61493 Bojutsu Spawning
  data/json/itemgroups/books.json
  data/json/items/book/martial.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61484 Teargas grenades now spawn
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/monsterdrops/zombie_cop.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61473 MilComp repairs
  data/json/items/vehicle/plating.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#61507 Translate weakpoint names and effects
  src/creature.cpp
  src/weakpoint.cpp
  src/weakpoint.h
  tests/weakpoint_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61498 Add price for graded variants of cavalry sabre
  data/json/items/melee/swords_and_blades.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61036 Mutation system refinements, take two
  data/json/effects.json
  data/json/items/comestibles/mutagen.json
  data/json/mutations/mutation_category.json
  data/json/mutations/mutation_type.json
  data/json/mutations/mutations.json
  data/json/vitamin.json
  data/mods/Magiclysm/mutations/mutations.json
  data/mods/Magiclysm/traits/manatouched.json
  data/mods/Magiclysm/traits/mutation.json
  data/mods/TEST_DATA/mutations.json
  doc/JSON_INFO.md
  doc/MUTATIONS.md
  doc/VITAMIN.md
  src/character.h
  src/consumption.cpp
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/vitamin.cpp
  src/vitamin.h
  tests/comestible_test.cpp
  tests/mutation_test.cpp
  tools/spell_checker/dictionary.txt
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Code: Tests, [C++], <Bugfix>, [Markdown], Mods: Magiclysm, Code: Tooling, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#61515 [ Xedra Evolved ] Fix summoned dreamdross not being permanent
  data/mods/Xedra_Evolved/spells/dreamer_spells.json
  data/mods/Xedra_Evolved/spells/dreamsmithing.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#61513 Add Bojutsu to the Melee Training hobby description
  data/json/hobbies.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61511 Squelch turret test warnings
  tests/vehicle_turrets_test.cpp
Labels: Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#61155 draped over legs aprons
  data/json/items/armor/torso_clothes.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61060 min 2 zeds to suffocate while grabbed
  src/suffer.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#61517 swords looks_like fix
  data/json/items/melee/swords_and_blades.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#61542 Makes headscarves skintight and autolearned
  data/json/items/armor/scarfs.json
  data/json/recipes/armor/head.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61537 Add 2StoryModern04
  data/json/mapgen/house/2storymodern04.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#61532 Add concrete floor under beverly shear in light industry
  data/json/mapgen/s_lightindustry.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#61529 fix CI errors from param in mythos mod
  data/mods/Mythos/mapgen_palettes/1920s_house_general_abandoned.json
  data/mods/Mythos/mapgen_palettes/1920s_house_general_palette.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61522 Remove obsolete doc for CLIMATE_CONTROL flag
  doc/JSON_FLAGS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#61555 Initialize datadir_path_value earlier in path_info
  src/path_info.cpp
Labels: Code: Build, OS: macOS, [C++], astyled, json-styled

#61554 fix: missing double space in weapon sound message
  src/ranged.cpp
Labels: [C++], astyled, json-styled

#61553 Fix negative climbing difficulty
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#61548 Smashing wooden stairs leading down will now create holes
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#61541 More breads as cooking components
  data/json/requirements/cooking_components.json
Labels: [JSON], astyled, json-styled

#61544 Bites can't target eyes and mouth by default
  doc/MONSTER_SPECIAL_ATTACKS.md
  src/mattack_actors.cpp
Labels: <Documentation>, Game: Balance, [C++], [Markdown], astyled, BasicBuildPassed

#61509 Widen test margins
  tests/addiction_test.cpp
  tests/uncraft_test.cpp
  tests/weakpoint_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#61547 [Innawood] bandages, crutches, and splints from fibercloth
  data/mods/innawood/recipes/other/medical.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#61496 Document graffiti selection
  doc/TILESET.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#61475 [DinoMod] amazing ankylosaurs
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/mapgen/map_extras/nest_euoplocephalus.json
  data/mods/DinoMod/mapgen/map_extras/nest_gastonia.json
  data/mods/DinoMod/mapgen/map_extras/nest_panoplosaurus.json
  data/mods/DinoMod/mapgen/map_extras/nest_scolosaurus.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/requirements/cooking_components.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#61438 Fix repair menu shows slow
  src/iuse_actor.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: Code: Performance, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60723 EMP blast renders all electronic items in the radius of the blast non-functional
  data/json/flags.json
  data/json/items/generic/toys_and_sports.json
  data/json/items/items_holiday.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/misc.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/electronics.json
  data/json/items/tool/lighting.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/misc.json
  data/json/items/tool/pets.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/science.json
  data/json/items/tool/smoking.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/items/vehicle/controls.json
  data/json/items/vehicle/motors.json
  data/json/items/vehicle/noise.json
  data/json/items/vehicle/solar.json
  doc/JSON_FLAGS.md
  src/explosion.cpp
  src/flag.cpp
  src/flag.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], Items / Item Actions / Item Qualities, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#60556 mutagens: add chelator spawn
  data/json/itemgroups/science_and_tech.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#60631 Active Defense System tweak
  data/json/bionics.json
  data/json/items/bionics.json
  src/character_armor.cpp
Labels: Game: Balance, [JSON], Bionics, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61560 Make 'crash axe' stats the same as the 'hatchet'
  data/json/items/tool/firefighting.json
  tests/effective_dps_test.cpp
Labels: Game: Balance, [JSON], Code: Tests, [C++], <Bugfix>, astyled, json-styled

#61030 Redoes Ammo stats in Game_Balance
  doc/GAME_BALANCE.md
  doc/Ranged Ballistic Damage Modifier Calculator.ods
Labels: <Documentation>, [Markdown], Ranged, astyled, json-styled, BasicBuildPassed

#61336 Multiple connection groups and asymmetric connect
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/terrain-bridges-docks.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-embrasures.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-highways.json
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/furniture_and_terrain/terrain-mechanisms.json
  data/json/furniture_and_terrain/terrain-migo.json
  data/json/furniture_and_terrain/terrain-railroads.json
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/furniture_and_terrain/terrain-traps.json
  data/json/furniture_and_terrain/terrain-triffid.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/mods/Aftershock/maps/furniture_and_terrain/furniture_habitat.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_alienciv.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_groundxeno.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_habitat_wall.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/CRT_EXPANSION/constructions/crt_terrain.json
  data/mods/Magiclysm/terrain.json
  data/mods/My_Sweet_Cataclysm/sweet_mapgen/sweet_terrain.json
  data/mods/No_Hope/terrain.json
  data/mods/Rummaging/modinfo.json
  data/mods/Xedra_Evolved/furniture_and_terrain/terrain-doors.json
  data/mods/innawood/furniture_and_terrain/terrain-floors-outdoors.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  doc/TILESET.md
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/flexbuffer_json-inl.h
  src/flexbuffer_json.h
  src/json.cpp
  src/json.h
  src/map.cpp
  src/map.h
  src/mapdata.cpp
  src/mapdata.h
  tests/connect_rotate_test.cpp
Labels: <Documentation>, [JSON], Mods, Code: Tests, [C++], Fields / Furniture / Terrain / Traps, [Markdown], Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Innawood 🌲, Mods: Xedra Evolved

#61265 Changed weight and volume for abstract spice and altered the recipe f…
  data/json/items/classes/comestible.json
  data/json/recipes/recipe_food.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Code: Tests, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61580 Routine tileset updates on 09 October 2022
  gfx/Altica/tall_furniture.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/HollowMoon/normal.png
  gfx/HollowMoon/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/SmashButton_iso/full_iso.png
  gfx/SmashButton_iso/tile_config.json
  gfx/Ultica_iso/cursors.png
  gfx/Ultica_iso/fallback.png
  gfx/Ultica_iso/fillergiant.png
  gfx/Ultica_iso/giant.png
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/iso_extra_tall.png
  gfx/Ultica_iso/iso_flat.png
  gfx/Ultica_iso/iso_flat_on_high.png
  gfx/Ultica_iso/iso_full.png
  gfx/Ultica_iso/iso_full_wide.png
  gfx/Ultica_iso/iso_giant.png
  gfx/Ultica_iso/iso_half.png
  gfx/Ultica_iso/iso_high.png
  gfx/Ultica_iso/iso_high_wide.png
  gfx/Ultica_iso/iso_large.png
  gfx/Ultica_iso/iso_tall_r.png
  gfx/Ultica_iso/large.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/normal_2x.png
  gfx/Ultica_iso/normal_offset.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tall_2x.png
  gfx/Ultica_iso/tile_config.json
  gfx/Ultica_iso/tileset.txt
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#61570 Added obsoleted terrains and recipes to corresponding lists
  data/json/obsolete_terrains.json
  data/json/recipes/recipe_obsolete.json
  src/savegame.cpp
Labels: [JSON], Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61557 Update suits_protection.json
  data/json/items/armor/suits_protection.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61586 Update the table of contents in doc/JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#61563 Add more intermediary bladed weapons to smooth out sword progression.
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/wood.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Code: Tooling, astyled, json-styled, BasicBuildPassed

#59271 Wooden Screw Press for purely manual Veggy Oil crafting
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/seed.json
  data/json/items/resources/wood.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/recipes/food/other.json
  data/json/recipes/food/seed.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_others.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#61579 add bungalow 01 and 02
  data/json/mapgen/house/bungalow01.json
  data/json/mapgen/house/bungalow02.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#61582 Cinema polishing
  data/json/mapgen/movie_theater.json
  data/json/mapgen_palettes/movie_theater_palette.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#61588 Increased width of Active World Mods menu
  src/worldfactory.cpp
Labels: Info / User Interface, [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#61599 Allow filtering by ammotype in gun stats tool
  tools/json_tools/gun_stats.py
Labels: [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#61581 Fix Followers lose tracks of the book they are reading after game load
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/savegame_json.cpp
Labels: [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#61606 stop bricking peoples saves with the bandit quest
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard3.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled

#61558 Kick the user out of the repair activity if the item they are repairi…
  src/activity_handlers.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61607 [DinoMod] fighting sauropod juveniles
  data/mods/DinoMod/monsters/juvenile.json
Labels: [JSON], Mods, Monsters, <Bugfix>, Mods: Dinomod, astyled, json-styled

#61584 Remove electronic flag from simple electronics
  data/json/items/items_holiday.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/misc.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/cooking.json
  data/json/items/tool/electronics.json
  data/json/items/tool/lighting.json
  data/json/items/tool/misc.json
  data/json/items/tool/pets.json
  data/json/items/tool/science.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/items/vehicle/solar.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#60483 Expanded NPC conditions; spell levels, loaded mods & proficiencies
  data/json/npcs/TALK_TEST.json
  data/mods/TEST_DATA/proficiencies.json
  data/mods/TEST_DATA/proficiency_categories.json
  data/mods/TEST_DATA/traits.json
  doc/NPCs.md
  src/character.h
  src/character_proficiency.cpp
  src/condition.cpp
  src/condition.h
  src/magic.cpp
  src/magic.h
  src/proficiency.cpp
  src/proficiency.h
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  tests/npc_talk_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#61551 Flagpoles and hoisting flags
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/house/house_detatched6.json
  data/json/mapgen/police_department.json
  data/json/mapgen/police_station.json
  data/json/mapgen/post_office.json
  data/json/mapgen/prison_1.json
  data/json/mapgen/school_1.json
  data/json/mapgen/shooting_range.json
  data/json/mapgen/stadium_baseball.json
  data/json/mapgen/stadium_football.json
  data/json/mapgen_palettes/stadium_palette.json
  data/mods/No_Hope/Mapgen/school_1.json
  doc/TILESET.md
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/mapdata.cpp
  src/mapdata.h
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: No Hope

#59805 Scrap Trader Inventory Expansion and QoL Update
  data/json/mapgen/fortified_scrap_yard/fortified_scrap_yard.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
  data/json/npcs/scrap_trader/scrap_trader.json
  data/json/vehicles/trucks.json
  doc/NPCs.md
  src/npc.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], Map / Mapgen, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#61603 Heavy punching bag construction
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/items/containers.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/tools/containers.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Items: Containers, astyled, json-styled, BasicBuildPassed

#61641 Bypass move_effect check if force true when moving vertically
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#61649 [DinoMod] hadrosaurs eat mushrooms
  data/mods/DinoMod/monster_factions.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/mutant_dino.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, Monsters, <Bugfix>, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#61647 [Magiclysm] Fixes Resilient Mutation Being Unobtainable By Black Dragon Mutants
  data/mods/Magiclysm/mutations/mutations.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#61587 Item Description Cleanup Project - Melee
  data/json/items/melee/bludgeons.json
  data/json/items/melee/fake.json
  data/json/items/melee/knives_kitchen.json
  data/json/items/melee/misc.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/melee/unarmed_weapons.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#61629 Arrow rests on primitive bows
  data/json/items/ranged/archery.json
Labels: [JSON], <Bugfix>, Items: Archery, astyled, json-styled, BasicBuildPassed

#60977 Item Description Cleanup Project - Gun Mods & Magazines
  data/json/items/gun/shot.json
  data/json/items/gunmod/accessories.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/laser_gunmods.json
  data/json/items/gunmod/mechanism.json
  data/json/items/gunmod/mount.json
  data/json/items/gunmod/muzzle.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/sling.json
  data/json/items/gunmod/stock.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/magazine/10mm.json
  data/json/items/magazine/12mm.json
  data/json/items/magazine/22.json
  data/json/items/magazine/300.json
  data/json/items/magazine/3006.json
  data/json/items/magazine/308.json
  data/json/items/magazine/38super.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/66mm.json
  data/json/items/magazine/762.json
  data/json/items/magazine/762R.json
  data/json/items/magazine/9mm.json
  data/json/items/magazine/methanol_fuelcell.json
  data/json/items/magazine/nail.json
  data/json/items/magazine/shot.json
Labels: [JSON], Items: Magazines, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#61635 fix heels armor
  data/json/items/armor/boots.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61637 reduce barter value of fuels
  data/json/items/fuel.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#61646 Add one name to remember
  data/names/en.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#61638 Correctly use TARGET_OS_IPHONE macro
  src/input.cpp
  src/sdltiles.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#61626 Trim uilist entry text based on space available rather than entry length
  src/ui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#61612 Fix bad ter error temple_stairs and temple_finale
  data/json/obsolete_terrains.json
  src/savegame.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61611 JSONize connect groups
  data/json/connect_groups.json
  doc/JSON_INFO.md
  doc/TILESET.md
  lang/string_extractor/parser.py
  src/cata_tiles.cpp
  src/init.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/type_id.h
  tests/connect_rotate_test.cpp
Labels: <Documentation>, Translation, [JSON], Code: Tests, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Markdown], [Python], astyled, json-styled, BasicBuildPassed

#61082 Update MAGIC.md
  doc/MAGIC.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#61081 Update MONSTER_SPECIAL_ATTACKS.md
  doc/MONSTER_SPECIAL_ATTACKS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#60737 Prepper_1 NPC background expansion and locked LMOE computer
  data/json/mapgen/lmoe.json
  data/json/mapgen/nested/lmoe_nested.json
  data/json/mapgen_palettes/lmoe.json
  data/json/npcs/Backgrounds/prepper_1.json
  data/json/npcs/TALK_PREPPER_1_COMPUTER.json
  data/json/overmap/overmap_special/specials.json
Labels: NPC / Factions, [JSON], Map / Mapgen, Lore, astyled, json-styled, BasicBuildPassed

#61666 [DinoMod] dino skull helmets
  data/mods/DinoMod/harvest.json
  data/mods/DinoMod/items/carnivore.json
  data/mods/DinoMod/items/helmets.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/recipes/head.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Crafting / Construction / Recipes, Monsters, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#61669 Fixed regenerating zombie mutating into a crawler + rewrote medical zombie descriptions
  data/json/monsters/zed-medical.json
  data/json/monsters/zed_misc.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#61652 Lynx Fur armor rebalance
  data/json/items/armor/integrated.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61671 Minor update to Strip Mall
  data/json/mapgen/nested/strip_mall_nested.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#61668 Smallest dogs don't zombify
  data/json/monsters/mammal.json
Labels: Game: Balance, [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#61678 [My Sweet Cataclysm] Scenario typo fix
  data/mods/My_Sweet_Cataclysm/sweet_scenarios.json
Labels: [JSON], Mods, astyled, json-styled

#61673 port: fix grave inscription prompt size
  src/iuse.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61667 Radiation correctly causes mutations again
  src/mutation_data.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61578 Implement scrolling for world menu
  src/main_menu.cpp
  src/main_menu.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61672 Handle `mon_null` in monster upgrade groups
  data/mods/TEST_DATA/monstergroups.json
  data/mods/TEST_DATA/monsters.json
  doc/MONSTERS.md
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
  tests/mongroup_test.cpp
Labels: <Documentation>, [JSON], Code: Tests, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#61574 Add Hub-01 modular headgear
  data/json/flags.json
  data/json/itemgroups/Locations_MapExtras/robofac_trade.json
  data/json/items/armor/robofac_armor.json
  data/json/items/tool_armor.json
  data/json/npcs/robofac/NPC_Cranberry_Foster.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_prototypes.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_trades.json
Labels: NPC / Factions, [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61536 Audit of fill_water_with_dirt construction group for consistency
  data/json/construction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61506 reinforced garbage bag
  data/json/items/containers.json
  data/json/recipes/tools/containers.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, BasicBuildPassed

#61674 Fix Relic recharge to all moons
  src/relic.cpp
  src/relic.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#61695 Make item subtypes available recursively
  src/item_factory.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#61692 NPCs inquires about failed missions
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
Labels: <Documentation>, NPC / Factions, Missions, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#61709 Move infection immunity to a flag
  data/json/mutations/mutations.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
  doc/JSON_FLAGS.md
  src/character.cpp
  src/game.cpp
  src/trapfunc.cpp
Labels: <Documentation>, [JSON], Mods, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#61711 [DinoMod] scolo spellcheck
  data/mods/DinoMod/monsters/zinosaur_burned.json
Labels: [JSON], Mods, Monsters, <Bugfix>, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#61571 Caltrops can infect character with tetanus when stepping on them
  src/trapfunc.cpp
Labels: [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#60807 Spend cordless drills charges when installing vehicle tanks
  data/json/requirements/toolsets.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], Vehicles, Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed
