Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2022-05, with the labels that each got.

#57318 Obsolete old sourdough recipes
  data/json/recipes/recipe_obsolete.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled

#57310 Sheriffshirt fix
  data/json/professions.json
  data/mods/Magiclysm/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#57329 Add tool qualities documentation to JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#57259 New pipe maces (and pipe fix)
  data/json/items/melee/bludgeons.json
  data/json/items/resources/metal.json
  data/json/recipes/weapon/bashing.json
Labels: <Enhancement / Feature>, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#57296 When reviving a corpse, set its top level armor's FILTHY flag
  src/monster.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57297 Change hotkey to avoid collision
  src/debug_menu.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57274 Assassin and throwing knives sheaths
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/private_resort_item_groups.json
  data/json/itemgroups/SUS/gunstore.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/military.json
  data/json/items/armor/sheath.json
  data/json/monsterdrops/zombie_resort.json
  data/json/recipes/armor/storage.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57245 More bags!
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/armor/storage.json
  data/json/professions.json
  data/json/recipes/armor/storage.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57050 Pockets that can let item inherit flags
  data/mods/Aftershock/items/armor/modular_exos/modular_exoskeleton.json
  data/mods/Aftershock/items/armor/modular_exos/modular_exoskeleton_modules.json
  src/item.cpp
  src/item_pocket.cpp
  src/item_pocket.h
Labels: [JSON], Mods, [C++], Items / Item Actions / Item Qualities, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57290 Adjust Butcher Roof chunk spawns to avoid overwriting stairs/gutters
  data/json/mapgen/butcher.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#57336 Fix infinite loop in replace_substring()
  src/output.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57334 Fix an off-by-one error in parsing b: item filter
  src/item_search.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57332 inv_ui: hotfix for #57210
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#57330 More things to please pyromaniacs
  src/bionics.cpp
  src/iuse.cpp
Labels: Bionics, Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed

#57325 Keybindings menu fixes
  src/input.cpp
  src/input.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57324 tutorial.json: fix typo
  data/json/snippets/tutorial.json
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed

#57323 Fix curses overmap not drawn after switching from tiles
  src/overmap_ui.cpp
Labels: Info / User Interface, Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57321 Do not save or discard diary text when canceling the saving query
  src/diary_ui.cpp
  src/popup.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#57320 Clean up portal storm query code
  src/game.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57319 Fix text breaking before CJK characters
  src/string_editor_window.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57311 auto-balance/autobalance → auto balance
  data/raw/keybindings.json
  src/trade_ui.cpp
Labels: Info / User Interface, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#57309 port: Safe mode manager: reset cursor when switching tabs
  src/safemode_ui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#57306 Sleep deprivation affects health
  src/character.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#57303 Add a space after Customize character keybinding
  src/player_display.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#56859 [Mythos] Aylesbury - Part 1 - 1920s house palettes and furniture
  data/mods/Mythos/blacklists/item_blacklist.json
  data/mods/Mythos/blacklists/location_blacklist.json
  data/mods/Mythos/blacklists/recipes_blacklist.json
  data/mods/Mythos/blacklists/trait_blacklist.json
  data/mods/Mythos/furniture_and_terrain/1920s_furniture-appliances.json
  data/mods/Mythos/game_balance.json
  data/mods/Mythos/items/appliances.json
  data/mods/Mythos/mapgen_palettes/1920s_house_general_abandoned.json
  data/mods/Mythos/mapgen_palettes/1920s_house_general_palette.json
  data/mods/Mythos/mapgen_palettes/1920s_house_w_palette.json
Labels: [JSON], Mods, Map / Mapgen, Scenarios, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#57233 Remove duplicate chain_link recipe
  data/json/recipes/recipe_others.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#57266 Allow customization of text input UI hotkeys
  data/raw/keybindings.json
  src/action.cpp
  src/input.cpp
  src/string_editor_window.cpp
  src/string_input_popup.cpp
  src/string_input_popup.h
  src/ui.cpp
  src/worldfactory.cpp
Labels: Info / User Interface, [JSON], [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#57269 Conditionally prompt for follower control on death
  data/json/effect_on_condition.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#57277 Add missing space for one innawood description
  data/mods/innawood/items/food_other.json
Labels: [JSON], Mods, Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#57278 Add missing full stop to description in Tropiclysm
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/monsters/tropical_nether.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#57279 Remove a fourth-wall breaking line of dialog
  data/json/npcs/missiondef.json
Labels: NPC / Factions, [JSON], Lore, astyled, json-styled, BasicBuildPassed

#57294 npc: restock shop on npc load instead of map load
  src/map.cpp
  src/npc.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#57314 Update the table of contents in doc/JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#57333 Fix terrain conflict in lab_2x2_MUT_tier_2.json
  data/json/mapgen/lab/lab_modular/lab_2x2_MUT_Tier_2.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#57301 Fixing infinite gravel bug/exploit
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-railroads.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#57353 Fixes being unable to start turning in NRE printouts if you only had a short one
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#57286 TropiCata: Some more Tropical Fishes
  data/mods/TropiCataclysm/monstergroups/wilderness.json
  data/mods/TropiCataclysm/monsters/tropical_fish.json
Labels: [JSON], Mods, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#57340 Consistently capitalize Kevlar
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57348 Make portal storm voices only hearable by player
  data/json/portal_storm_effect_on_condition.json
  data/json/snippets/effect_on_conditions.json
Labels: [JSON], <Bugfix>, Mechanics: Weather, Lore, astyled, json-styled, BasicBuildPassed

#57308 Fix mechs missing their guns
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57276 Trapper packs and grass headwear
  data/json/items/armor/scarfs.json
  data/json/items/armor/storage.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/storage.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲

#57291 Dear sweet David, it is time to go home.
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/mapgen/refugee_center/refugee_center.json
  data/json/mapgen/refugee_center/z1_refugee_center.json
  data/json/mapgen_palettes/refugee_center.json
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dino_Dave.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_missions.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_talk.json
Labels: NPC / Factions, [JSON], Missions, Map / Mapgen, Fields / Furniture / Terrain / Traps, Lore, astyled, json-styled, BasicBuildPassed

#57357 take down solar panels
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#57219 Minor Comment Spelling Fix
  src/character.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#57061 Adds two new evac shelter basements and vandalize them
  data/json/itemgroups/SUS/evac_shelter.json
  data/json/itemgroups/activities_hobbies.json
  data/json/mapgen/nested/shelter_nested.json
  data/json/mapgen/shelter.json
  data/json/mapgen_palettes/shelter.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/json/recipes/basecamps/recipe_groups.json
  data/mods/Dark-Skies-Above/overrides/locations/evac_center.json
  data/mods/No_Hope/Mapgen/nested/shelter_nested.json
  data/mods/No_Hope/Mapgen/shelter.json
  data/mods/No_Hope/palettes.json
Labels: <Enhancement / Feature>, [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Mods: Dark Skies, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#57359 Swimmer ferals
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/activities_hobbies.json
  data/json/items/generic/toys_and_sports.json
  data/json/mapgen/dive_shop.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_mutagen.json
  data/json/mapgen/lake_buildings/cabin_lake.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen/lake_buildings/lighthouse.json
  data/json/mapgen/riverside/potters_cottage.json
  data/json/mapgen/riverside/whaleys_boat_rental.json
  data/json/mapgen/riverside/whaleys_house_river.json
  data/json/monsterdrops/feral_humans.json
  data/json/monstergroups/military.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/wilderness.json
  data/json/monstergroups/zombies.json
  data/json/monsters/feral_humans.json
Labels: [JSON], Map / Mapgen, Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#57350 Chef expansion
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Locations_MapExtras/private_resort_item_groups.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/torso_clothes.json
  data/json/monsterdrops/feral_humans.json
  data/json/professions.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Items: Food / Vitamins, Spawn, Mutations / Traits / Professions/ Hobbies, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57313 More labels to the label god!
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#57362 Spawn mortar and pestle in kitchens
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/collections_domestic.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#57354 Firing flamethrower and other fire-producing weapons will trigger morale gain for pyromaniacs
  src/ranged.cpp
Labels: [C++], Items: Ammo / Guns, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#57361 Some UI fixes
  src/input.cpp
  src/string_editor_window.cpp
  src/string_input_popup.cpp
  src/ui.cpp
  src/ui.h
  src/worldfactory.cpp
Labels: Info / User Interface, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#57365 Variable Visual View When Aiming Down Sight
  data/raw/keybindings.json
  src/avatar.cpp
  src/avatar.h
  src/character.h
  src/lightmap.cpp
  src/map.h
  src/ranged.cpp
  src/ranged.h
Labels: <Enhancement / Feature>, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#57380 Leather Pouch related balance changes
  data/json/items/armor/storage.json
  data/json/recipes/armor/storage.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, Items: Armor / Clothing

#57379 Rigid jewelry fix
  data/json/items/armor/jewelry.json
  src/flag.cpp
  src/flag.h
  src/item.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57281 [DinoMod] dino mass grave and snippets
  data/mods/DinoMod/mapgen/map_extras/mass_grave.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/snippets/graffiti.json
  data/mods/DinoMod/snippets/snippets.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Map / Mapgen, Spawn, Lore, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#57371 Integrated Armor Rigidity Fixes
  data/json/items/armor/integrated.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57377 remove unused variables and functions, surprised clang didn't catch
  src/character.h
  src/map.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57390 Doble -> Double
  data/json/items/armor/sheath.json
Labels: [JSON], Items: Containers, astyled, json-styled, Items: Armor / Clothing

#57388 Added morale gain for lighting a fire in charcoal kiln and smoker for pyromaniacs
  src/iexamine.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#57375 Torso warmth update
  data/json/items/armor/torso_clothes.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57372 Make foot locker recharge station appliance movable
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#57368 Beekeeping hood breathability override
  data/json/items/armor/hoods.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57338 Tacoma - Bartender improvements
  data/json/itemgroups/food_service.json
  data/json/items/containers.json
  data/json/items/generic/currency.json
  data/json/npcs/tacoma_ranch/NPC_ranch_bartender.json
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
Labels: [JSON], Items: Food / Vitamins, Spawn, Items: Containers, astyled, json-styled, BasicBuildPassed

#57327 activity/construction: fix ACT_MULTIPLE_CONSTRUCTION
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/clzones.h
  src/construction.cpp
  src/construction.h
  tests/act_build_test.cpp
  tests/map_helpers.cpp
Labels: Info / User Interface, Code: Tests, [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#57299 Add accent to piraíba and tucunaré
  data/mods/TropiCataclysm/monsters/tropical_fish.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#57383 Lycra bodysuits (Cosplay)
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Locations_MapExtras/private_resort_item_groups.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/armor/suits_clothes.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57373 Football Stadium
  data/json/items/armor/hats.json
  data/json/items/armor/torso_clothes.json
  data/json/mapgen/field_football.json
  data/json/mapgen/stadium_baseball.json
  data/json/mapgen/stadium_football.json
  data/json/mapgen_palettes/field_football.json
  data/json/mapgen_palettes/stadium_palette.json
  data/json/monstergroups/zombies.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57366 Use finer ranges for determining CJK characters
  src/output.cpp
  src/string_editor_window.cpp
  src/unicode.cpp
  src/unicode.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57401 Sleeveless fur duster material thickness fix - closes #56945
  data/json/items/armor/coats.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57395 Give longsword some techniques
  data/json/items/melee/swords_and_blades.json
  tests/effective_dps_test.cpp
Labels: Game: Balance, [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#57370 Wood axe and hatchet adjustments
  data/json/items/tool/woodworking.json
  tests/effective_dps_test.cpp
Labels: [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#57109 Disassemble ropes and cordage
  data/json/recipes/other/cords_and_ropes.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_obsolete.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#57138 Include CC-Sounds in new "Sounds" releases
  .github/workflows/release.yml
Labels: SDL: Tiles / Sound, Code: Infrastructure / Style / Static Analysis, Code: Tooling, astyled, json-styled, BasicBuildPassed

#57140 Text Updates To Shotguns
  data/json/items/gun/shot.json
  data/json/items/magazine/shot.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#57188 veh_interact: only get variant for install and repair
  src/veh_interact.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57193 Vehicle battery overhaul
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/appliances.json
  data/json/items/vehicle/battery.json
  data/json/recipes/electronics/parts.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/recipe_deconstruction.json
  data/json/vehicleparts/battery.json
  tests/vehicle_drag_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_power_test.cpp
Labels: Game: Balance, [JSON], Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#57235 Partially revert #56231
  src/do_turn.cpp
  src/game.cpp
  src/map.cpp
  src/map.h
  tests/act_build_test.cpp
  tests/char_sight_test.cpp
  tests/magic_spell_effect_test.cpp
  tests/map_helpers.cpp
  tests/monster_attack_test.cpp
  tests/player_activities_test.cpp
  tests/reachability_cache_test.cpp
  tests/vehicle_ramp_test.cpp
  tests/vision_test.cpp
Labels: Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#57239 Power Tools do tool things
  data/json/items/tool/workshop.json
  data/mods/Aftershock/items/tools.json
  data/mods/Magiclysm/Spells/attunements/Artificer.json
  data/mods/TEST_DATA/items.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/item_factory.cpp
  src/iuse_actor.cpp
  tests/player_activities_test.cpp
Labels: <Enhancement / Feature>, [JSON], Mods, Code: Tests, [C++], Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#57247 TropiCata: some description improvements
  data/mods/TropiCataclysm/monsters/tropical_insect_spider.json
  data/mods/TropiCataclysm/monsters/tropical_mammal.json
  data/mods/TropiCataclysm/monsters/tropical_reptile_amphibian.json
  data/mods/TropiCataclysm/monsters/tropical_zanimals.json
  data/mods/TropiCataclysm/monsters/zed_plant.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#57249 Add batch time savings to quern and food processor oatmeal recipes
  data/json/recipes/recipe_food.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#57273 misc fixes for "xs gambeson sleeves"
  data/json/items/armor/arms_armor.json
  data/json/recipes/armor/arms.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57287 Give Bo staff rapid strike technique, slightly improve recipe
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#57295 Body Graphs - Part 2: Enhancements
  data/json/bodypart_graphs/full_body.json
  data/json/bodypart_graphs/full_body_widget.json
  data/json/ui/body_graph.json
  data/raw/keybindings.json
  src/action.cpp
  src/action.h
  src/bodygraph.cpp
  src/bodygraph.h
  src/character_attire.cpp
  src/character_attire.h
  src/display.cpp
  src/display.h
  src/game.cpp
  src/handle_action.cpp
  src/panels.cpp
  src/player_display.cpp
  src/widget.cpp
  src/widget.h
Labels: <Enhancement / Feature>, Info / User Interface, [JSON], [C++], Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#57302 Add plural to some missing TropiCataclysm monsters
  data/mods/TropiCataclysm/monsters/tropical_fish.json
  data/mods/TropiCataclysm/monsters/tropical_nether.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#57317 Allow interrupt while applying first aid
  doc/JSON_INFO.md
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/npcmove.cpp
  tests/firstaid_test.cpp
  tests/player_activities_test.cpp
Labels: <Documentation>, NPC / Factions, Code: Tests, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#57326 Mollusk based food updates
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/food/dry.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#57339 Changes mead recipe, adds new ones
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/brewing.json
  data/json/recipes/food/brewing.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#57342 [DinoMod] skeletal hulks theropods
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Monsters, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#57382 Fix unicode world names rejected by world generation
  src/char_validity_check.cpp
  src/worldfactory.cpp
  tests/char_validity_check_test.cpp
Labels: Code: Tests, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#57398 Crowbar now respects json ammo overrides
  src/activity_actor.cpp
Labels: [C++], <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#57402 activity/constr: check if route is not empty first
  src/activity_item_handling.cpp
  tests/act_build_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#57408 Added positive morale gain for firing incendiary ammo for pyromaniacs
  src/projectile.cpp
  src/ranged.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], Items: Ammo / Guns, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#57292 Takedown bow and multi-function quiver
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/lodge.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/main.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/ranged/archery.json
  data/json/recipes/armor/storage.json
  doc/JSON_INFO.md
Labels: <Documentation>, [JSON], Crafting / Construction / Recipes, Spawn, [Markdown], Items: Archery, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57406 mapgen: add ability to skip some phases
  src/mapgen.cpp
  src/mapgendata.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57409 item: migrate batch size from charges to craft_data
  src/activity_actor.cpp
  src/crafting.cpp
  src/item.cpp
  src/item.h
  src/savegame_json.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57412 Fix ammo disassembly
  data/json/recipes/recipe_deconstruction.json
  data/json/uncraft/ammo/10mm.json
  data/json/uncraft/ammo/120mm.json
  data/json/uncraft/ammo/22.json
  data/json/uncraft/ammo/223.json
  data/json/uncraft/ammo/270win.json
  data/json/uncraft/ammo/30-06.json
  data/json/uncraft/ammo/300.json
  data/json/uncraft/ammo/300blk.json
  data/json/uncraft/ammo/308.json
  data/json/uncraft/ammo/32.json
  data/json/uncraft/ammo/357mag.json
  data/json/uncraft/ammo/357sig.json
  data/json/uncraft/ammo/38.json
  data/json/uncraft/ammo/38super.json
  data/json/uncraft/ammo/40.json
  data/json/uncraft/ammo/40x46mm.json
  data/json/uncraft/ammo/40x53mm.json
  data/json/uncraft/ammo/410shot.json
  data/json/uncraft/ammo/44.json
  data/json/uncraft/ammo/45.json
  data/json/uncraft/ammo/454.json
  data/json/uncraft/ammo/4570.json
  data/json/uncraft/ammo/45colt.json
  data/json/uncraft/ammo/460.json
  data/json/uncraft/ammo/46mm.json
  data/json/uncraft/ammo/500.json
  data/json/uncraft/ammo/50bmg.json
  data/json/uncraft/ammo/545.json
  data/json/uncraft/ammo/556.json
  data/json/uncraft/ammo/57mm.json
  data/json/uncraft/ammo/5x50.json
  data/json/uncraft/ammo/66mm.json
  data/json/uncraft/ammo/700nx.json
  data/json/uncraft/ammo/762x39.json
  data/json/uncraft/ammo/762x51.json
  data/json/uncraft/ammo/762x54.json
  data/json/uncraft/ammo/84x246mm.json
  data/json/uncraft/ammo/9x18mm.json
  data/json/uncraft/ammo/atgm.json
  data/json/uncraft/ammo/rpg.json
  data/json/uncraft/ammo/shot.json
  data/json/uncraft/classes/ammo.json
  data/json/uncraft/generic.json
  data/mods/Generic_Guns/uncraft/ammo/grenade_propelled.json
  data/mods/Generic_Guns/uncraft/ammo/pistol.json
  data/mods/Generic_Guns/uncraft/ammo/pistol_magnum.json
  data/mods/Generic_Guns/uncraft/ammo/pistol_tiny.json
  data/mods/Generic_Guns/uncraft/ammo/rifle.json
  data/mods/Generic_Guns/uncraft/ammo/rifle_huge.json
  data/mods/Generic_Guns/uncraft/ammo/shot.json
  doc/JSON_FLAGS.md
  src/crafting.cpp
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, [C++], [Markdown], Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#57415 [DinoMod] blacklist dino mass grave
  data/mods/DinoMod/regional_overlay.json
Labels: [JSON], Mods, <Bugfix>, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#57416 New helmet stuff fixes
  data/json/body_parts.json
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#57421 Field for defining starting missions in professions/hobbies
  doc/JSON_INFO.md
  src/game.cpp
  src/profession.cpp
  src/profession.h
Labels: <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#57422 make the EXODII sniper a reliable rifle
  data/json/items/gun/exodii.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#57423 cause bread to be autolearned in "innawood" play
  data/mods/innawood/recipes/recipe_food.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#57431 clip closing zoom more loosley
  src/avatar.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57433 fix: restore missing afs definition
  data/mods/Aftershock/npcs/Backgrounds/BG_traits_afs.json
Labels: [JSON], Mods, <Bugfix>, Lore, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#57399 Assassin convict and fix prison scenario description
  data/json/effect_on_condition.json
  data/json/mutations/mutations.json
  data/json/npcs/missiondef.json
  data/json/professions.json
  data/json/scenarios.json
Labels: [JSON], Missions, Mutations / Traits / Professions/ Hobbies, Scenarios, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#57270 Add more craftable tools
  data/json/items/tool/fire.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/lights.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#57384 Manatouched mutagen
  data/mods/Magiclysm/items/mutagen.json
  data/mods/Magiclysm/recipes/recipe_potions.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#57453 Fix the teamster's Hub 01 directions assign_mission_target
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_teamster.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57452 zones: add debug option for showing foreign zones
  data/raw/keybindings.json
  src/game.cpp
Labels: [JSON], [C++], Code: Debug, astyled, json-styled, BasicBuildPassed

#57450 Unflub clang-tidy
  Makefile
  build-scripts/build.sh
  build-scripts/clang-tidy.sh
  build-scripts/files_changed
  build-scripts/get_affected_files.py
Labels: Code: Build, [Python], astyled, json-styled, BasicBuildPassed

#57435 Added positive morale gain when setting creatures on fire for pyromaniacs
  src/creature.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#57387 Tacoma - Doctor improvements
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/SUS/domestic.json
  data/json/mapgen/looted_buildings.json
  data/json/npcs/tacoma_ranch/NPC_ranch_barber.json
  data/json/npcs/tacoma_ranch/NPC_ranch_bartender.json
  data/json/npcs/tacoma_ranch/NPC_ranch_carpenter1.json
  data/json/npcs/tacoma_ranch/NPC_ranch_carpenter2.json
  data/json/npcs/tacoma_ranch/NPC_ranch_crop_overseer.json
  data/json/npcs/tacoma_ranch/NPC_ranch_doctor.json
  data/json/npcs/tacoma_ranch/NPC_ranch_farmer1.json
  data/json/npcs/tacoma_ranch/NPC_ranch_farmer2.json
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
  data/json/npcs/tacoma_ranch/NPC_ranch_generic.json
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
  data/json/npcs/tacoma_ranch/NPC_ranch_scavenger.json
  data/json/npcs/tacoma_ranch/NPC_ranch_scrapper.json
  data/json/npcs/tacoma_ranch/NPC_ranch_sickly_laborer.json
  data/json/npcs/tacoma_ranch/NPC_ranch_woodcutter1.json
  data/json/npcs/tacoma_ranch/NPC_ranch_woodcutter2.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/mods/alt_map_key/overmap_terrain.json
  src/mission_companion.cpp
  src/mission_companion.h
Labels: [JSON], Mods, Missions, Map / Mapgen, Spawn, [C++], astyled, json-styled, BasicBuildPassed

#57451 Unseal pocket after pickup
  src/pickup.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57467 Adjust Glass Sheet recipes
  data/json/recipes/other/parts_construction.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#57256 Fix gastropod & fish typos, human size gastropods are mutant
  data/json/monsters/mollusk.json
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/monsters/tropical_fish.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#57424 Unify bolt/lever/pump-action spelling
  data/json/items/classes/gun.json
  data/json/items/gun/270win.json
  data/json/items/gun/300.json
  data/json/items/gun/44.json
  data/json/items/gun/762R.json
  data/json/items/gunmod/underbarrel.json
  data/mods/Generic_Guns/firearms/pistol.json
  data/mods/Generic_Guns/firearms/pistol_magnum.json
Labels: [JSON], Mods, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#57445 adding info about MAN_MADE to docs
  doc/JSON_FLAGS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#57351 Prevent monsters from dragging people in seatbelts, fix dragged players getting run over by their own cars
  src/monattack.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57428 Blacklist/whitelist map extras using flags
  doc/MAPGEN.md
  src/map_extras.cpp
  src/map_extras.h
Labels: <Documentation>, Map / Mapgen, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#57432 Warmth and Env. Protection small audit
  data/json/items/armor/hats.json
  data/json/items/armor/hoods.json
  data/json/items/armor/masks.json
  data/json/items/armor/scarfs.json
  data/json/items/tool_armor.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57448 Trap-specific jsonified trigger messages
  data/core/traps.json
  data/json/traps.json
  doc/JSON_INFO.md
  src/map.cpp
  src/trap.cpp
  src/trap.h
Labels: <Documentation>, Info / User Interface, [JSON], [C++], Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#57449 Tacoma - Add loot zones for bartender and scavenger boss
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  src/mission_companion.cpp
Labels: [JSON], Missions, [C++], astyled, json-styled, BasicBuildPassed

#57458 Charcoal forge and clay kiln can use coal
  data/json/furniture_and_terrain/furniture-tools.json
  doc/JSON_FLAGS.md
  src/character.h
  src/character_ammo.cpp
  src/iexamine.cpp
  src/inventory.cpp
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: <Documentation>, [JSON], [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#57463 Chest protector actually covers the chest
  data/json/items/armor/torso_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57465 Add the Excalibread (crazy cataclysm)
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/CrazyCataclysm/crazy_recipes.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed

#57468 Retain monster inventory when changing type
  src/monster.cpp
  src/monster.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57469 make anchor soft
  data/json/items/tool_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#57470 Update GAME_BALANCE document with more precise skill level defintions
  doc/GAME_BALANCE.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#57495 Add barbecue sauce
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/SUS/fridges.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/drink_other.json
  data/json/mapgen/s_grocery.json
  data/json/npcs/items_generic.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  data/json/vehicles/vans_busses.json
Labels: [JSON], Map / Mapgen, Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed

#57473 Fix for rats everywhere mutating
  data/json/monstergroups/mutant_upgrades.json
  data/json/monsters/mammal.json
  data/json/monsters/rodentkin.json
Labels: [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#57487 défense → defense
  data/json/items/gun/shot.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#57490 Fix heat shield typo
  data/json/items/gun/shot.json
Labels: [JSON], Items: Ammo / Guns, BasicBuildPassed

#57523 Cash registers
  data/json/itemgroups/cash_register.json
  data/json/items/generic.json
  data/json/mapgen/Glassblower.json
  data/json/mapgen/abstorefront.json
  data/json/mapgen/antique_store.json
  data/json/mapgen/arcade.json
  data/json/mapgen/art_gallery.json
  data/json/mapgen/cs_sex_shop.json
  data/json/mapgen/garage_gas.json
  data/json/mapgen/megastore.json
  data/json/mapgen/regional_airport.json
  data/json/mapgen/storage_units_large.json
  data/json/mapgen/storage_units_medium.json
  data/json/recipes/recipe_deconstruction.json
  data/mods/No_Hope/Mapgen/megastore.json
Labels: [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Items: Containers, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#57481 Tacoma - misc fixes
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#57474 Added positive morale gain when casting fire-related spells for pyromaniacs
  src/magic_spell_effect.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], Mechanics: Character / Player, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#57485 Fix crash when hiding sprite without clothes
  src/armor_layers.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57491 Firstaid QOL improvements
  src/activity_actor.cpp
  src/do_turn.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57512 Unify gas-operated spelling
  data/json/items/gun/223.json
  data/json/items/gun/300BLK.json
  data/json/items/gun/308.json
  data/json/items/gun/shot.json
  data/json/items/obsolete.json
  data/mods/classic_zombies/items/guns.json
Labels: [JSON], Mods, Items: Ammo / Guns, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed

#57514 Vehicle controls → vehicle controls
  data/help/texts.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#57515 Fix heat from nearby sources when blind
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57517 Fix vehicle interact casing
  data/help/texts.json
  src/veh_interact.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#57540 57522 fixes missing question mark on item examine promt UI
  src/iexamine.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57529 Calc FOV off recoil not stability
  src/character.h
  src/lightmap.cpp
  src/ranged.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#57531 Unify loot zone names
  data/json/loot_zones.json
  src/clzones.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#57532 LANGUAGE->LANGUAGES in COMPILING.md
  doc/COMPILING/COMPILING.md
Labels: <Documentation>, Code: Build, [Markdown], astyled, json-styled, BasicBuildPassed

#57538 First aid item deletion fix
  src/activity_actor.cpp
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57568 Remove space between number and mm
  data/json/items/armor/arms_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#57566 Change the id to actual item name
  data/json/items/mutagen_ingredients.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#57563 Remove extra comma
  data/json/items/generic.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#57561 Fix bug with invalid alpha talker
  data/json/monster_special_attacks/spells.json
Labels: [JSON], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#57541 Fix `uilist` treating `j`, `k`, etc. as directional keys and ignoring item action hotkeys
  data/raw/keybindings.json
  src/ui.cpp
Labels: Info / User Interface, [JSON], [C++], astyled, json-styled, BasicBuildPassed
