Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2022-09, with the labels that each got.

#60604 Vertical graph/bar sidebar widgets
  doc/WIDGETS.md
  src/color.cpp
  src/widget.cpp
Labels: <Documentation>, Info / User Interface, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#60587 Fix quickloading
  src/debug_menu.cpp
  src/debug_menu.h
  src/game.cpp
  src/game.h
  src/main.cpp
  src/main_menu.cpp
  src/main_menu.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60640 Some new addiction snippets
  data/json/snippets/addiction.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Lore, Code: Tooling, astyled, json-styled, BasicBuildPassed

#60590 Add some new nightmares
  data/json/snippets/nightmares.json
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed

#60614 Cannabis extract typo fixes
  data/json/items/comestibles/med.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#60615 Add post-apocalypse prices to cannabis extraction items
  data/json/items/tool/science.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#60616 Lab-quality filter paper and gasket changes
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/recipes/tools/tool.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed

#60471 Retractable "3D" sprites for walls etc.
  src/action.cpp
  src/action.h
  src/cached_options.cpp
  src/cached_options.h
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/game.cpp
  src/handle_action.cpp
  src/options.cpp
  tools/gfx_tools/compose.py
  tools/gfx_tools/decompose.py
Labels: Info / User Interface, [C++], [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#60633 [Magiclysm] allow adept weapons as recipe tools
  data/mods/Magiclysm/recipes/mods.json
  data/mods/Magiclysm/recipes/recipe_potions.json
  data/mods/Magiclysm/recipes/weapons.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mods: Magiclysm, astyled, json-styled

#60628 Update documentation for recipes
  doc/JSON_INFO.md
Labels: <Documentation>, Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#60630 [DinoMod] dino carriers
  data/mods/DinoMod/items/itemgroups.json
  data/mods/DinoMod/items/pets.json
  data/mods/DinoMod/recipes/recipe_others.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#60617 Nested Recipes-Misc. ammo & components
  data/json/recipes/ammo/components.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_ammo.json
Labels: Info / User Interface, [JSON], Crafting / Construction / Recipes, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#60582 Modular Bsaecamp Workshop recipe update
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/modular_workshop_recipe_groups.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#60568 Add casts and widen a variable to make MSVC happy
  src/condition.cpp
  src/npctrade.h
  src/worldfactory.cpp
Labels: [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#60533 Allow wearing non-covering items with power armor
  src/character_attire.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60602 Remove gamma globulin shot
  data/json/item_actions.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/items/comestibles/med.json
  data/json/items/migration.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/npcs/NC_DOCTOR.json
  data/json/npcs/items_generic.json
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
  data/mods/No_Hope/Mapgen/mil_base_z0.json
  data/mods/TEST_DATA/known_bad_density.json
  doc/JSON_FLAGS.md
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: <Documentation>, NPC / Factions, [JSON], Map / Mapgen, Spawn, Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, Mods: No Hope

#60618 Appliance: option to unplug power connections
  data/raw/keybindings.json
  src/veh_appliance.cpp
  src/veh_appliance.h
  src/veh_interact.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#57501 Bionic power supply tool mod
  data/json/items/book/electronics.json
  data/json/items/toolmod.json
  data/json/npcs/exodii/exodii_merchant_definitions.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  data/json/recipes/electronics/toolmod.json
  src/iuse.cpp
Labels: [JSON], Items: Gunmod / Toolmod, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#60635 Aluminum Revolution 3: The Oxide Returns
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/recipes/other/parts.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_vehicle.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/vehicle_parts.json
Labels: Game: Balance, [JSON], Vehicles, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#60621 Appliance: drop cables when taking down appliance
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60561 Add a new profession called Military Veteran
  data/json/professions.json
  data/json/scenarios.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Scenarios, astyled, json-styled, BasicBuildPassed

#60586 Appliance: keep cable connected when dragging appliances around (within max cable length)
  data/mods/TEST_DATA/appliance.json
  src/map.cpp
  src/vehicle.cpp
  src/vehicle.h
  tests/vehicle_test.cpp
Labels: [JSON], Vehicles, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#60651 Remove rad_badge from known bad density
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#60385 ccache support in Visual Studio
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features.yml
  .github/workflows/object_creator.yml
  .gitignore
  doc/COMPILING/COMPILING-VS-VCPKG.md
  msvc-full-features/Cataclysm-common.props
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-test-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.sln
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm.Cpp.props
  msvc-full-features/JsonFormatter-lib-vcpkg-static.vcxproj
  msvc-full-features/JsonFormatter-vcpkg-static.vcxproj
  msvc-object_creator/ObjectCreator-vcpkg-static.vcxproj
  src/cata_utility.cpp
Labels: <Documentation>, Code: Build, OS: Windows, [C++], <Bugfix>, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#60642 Added golf ball to dodge practice
  data/json/recipes/practice/melee.json
Labels: [JSON], Crafting / Construction / Recipes, Melee, astyled, json-styled, BasicBuildPassed

#60668 B&T APC9 PRO K bug fixes
  data/json/items/gun/9mm.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#60532 Content "Integrating the zastava aks into the spawn pool"
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#60673 Fix faction epilogues displaying incorrectly
  data/json/npcs/factions.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59852 [Innawood] npc backgrounds
  data/mods/innawood/npcs/Backgrounds/codger.json
  data/mods/innawood/npcs/Backgrounds/confused_1.json
  data/mods/innawood/npcs/Backgrounds/cop_1.json
  data/mods/innawood/npcs/Backgrounds/cop_2.json
  data/mods/innawood/npcs/Backgrounds/cop_3.json
  data/mods/innawood/npcs/Backgrounds/criminal_1.json
  data/mods/innawood/npcs/Backgrounds/criminal_2.json
  data/mods/innawood/npcs/Backgrounds/dreamer.json
  data/mods/innawood/npcs/Backgrounds/evacuee_1.json
  data/mods/innawood/npcs/Backgrounds/evacuee_2.json
  data/mods/innawood/npcs/Backgrounds/evacuee_3.json
  data/mods/innawood/npcs/Backgrounds/evacuee_4.json
  data/mods/innawood/npcs/Backgrounds/evacuee_5.json
  data/mods/innawood/npcs/Backgrounds/evacuee_6.json
  data/mods/innawood/npcs/Backgrounds/grad_student_1.json
  data/mods/innawood/npcs/Backgrounds/gung_ho_1.json
  data/mods/innawood/npcs/Backgrounds/gung_ho_2.json
  data/mods/innawood/npcs/Backgrounds/gung_ho_3.json
  data/mods/innawood/npcs/Backgrounds/high_school_1.json
  data/mods/innawood/npcs/Backgrounds/hospital_1.json
  data/mods/innawood/npcs/Backgrounds/hospital_2.json
  data/mods/innawood/npcs/Backgrounds/hospital_3.json
  data/mods/innawood/npcs/Backgrounds/hunter_1.json
  data/mods/innawood/npcs/Backgrounds/hunter_2.json
  data/mods/innawood/npcs/Backgrounds/lab_1.json
  data/mods/innawood/npcs/Backgrounds/left_for_dead_1.json
  data/mods/innawood/npcs/Backgrounds/left_for_dead_2.json
  data/mods/innawood/npcs/Backgrounds/left_for_dead_3.json
  data/mods/innawood/npcs/Backgrounds/lost_partner_1.json
  data/mods/innawood/npcs/Backgrounds/lost_partner_2.json
  data/mods/innawood/npcs/Backgrounds/nerd_1.json
  data/mods/innawood/npcs/Backgrounds/no_past_1.json
  data/mods/innawood/npcs/Backgrounds/no_past_2.json
  data/mods/innawood/npcs/Backgrounds/no_past_3.json
  data/mods/innawood/npcs/Backgrounds/no_past_4.json
  data/mods/innawood/npcs/Backgrounds/out_of_town_1.json
  data/mods/innawood/npcs/Backgrounds/out_of_town_2.json
  data/mods/innawood/npcs/Backgrounds/prepper_1.json
  data/mods/innawood/npcs/Backgrounds/prepper_2.json
  data/mods/innawood/npcs/Backgrounds/prisoner_1.json
  data/mods/innawood/npcs/Backgrounds/professor_1.json
  data/mods/innawood/npcs/Backgrounds/religious_1.json
  data/mods/innawood/npcs/Backgrounds/religious_2.json
  data/mods/innawood/npcs/Backgrounds/rural_1.json
  data/mods/innawood/npcs/Backgrounds/rural_2.json
  data/mods/innawood/npcs/Backgrounds/scientist_1.json
  data/mods/innawood/npcs/Backgrounds/soldier_1.json
  data/mods/innawood/npcs/Backgrounds/soldier_2.json
  data/mods/innawood/npcs/Backgrounds/wedding_1.json
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, [JSON], Mods, Lore, Code: Tooling, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#60611 Nested Recipes - Tires and More
  data/json/recipes/armor/bespoke_armor/survivor.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/nested.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/other.json
  data/json/recipes/other/parts.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
Labels: Info / User Interface, [JSON], Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60627 Crustacean sample changes
  data/json/harvest_dissect.json
  data/json/monsters/fish.json
Labels: Game: Balance, [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#60688 add a door to the internet cafe's bathroom
  data/json/mapgen/cs_internet_cafe.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#60706 improve grammar in broken prototype robot description
  data/json/items/generic.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#60702 Fix artifact on minimap
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60690 Added metal roofs to card readers
  data/json/furniture_and_terrain/terrain-mechanisms.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#60689 change name of engine_electric_train to match other engines
  data/json/items/vehicle/motors.json
  data/json/vehicleparts/motor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#60682 Fixes instrument materials
  data/json/items/tool/musical_instruments.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60678 Friendly debug-spawned monsters and dermatik larvae get full monster examine menu
  src/player_hardcoded_effects.cpp
  src/wish.cpp
Labels: [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#60676 colorschemes: add gruvbox light
  data/raw/color_themes/base_colors_gruvbox-light.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#60674 map: don't assume moncams are on the caching map
  src/map.cpp
Labels: [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#60669 Update blade trap to use the small electric motor instead of the norm…
  data/json/items/tool/traps.json
  data/json/recipes/recipe_traps.json
  data/json/traps.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#60670 Update get_melee_hit_base to account for unarmed attacks having melee…
  src/item.cpp
  src/melee.cpp
Labels: [C++], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#60656 zones: consider only_item when checking custom zones
  src/clzones.cpp
  tests/zones_custom_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#60657 Disable installing parts on racked vehicles
  src/veh_interact.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#60648 Fix setting sub-tile retracted offset in multi-tiles
  src/cata_tiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60641 TropiCata 0.8: amphibian updates
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/modinfo.json
  data/mods/TropiCataclysm/monstergroups/eggs.json
  data/mods/TropiCataclysm/monstergroups/misc.json
  data/mods/TropiCataclysm/monstergroups/wilderness.json
  data/mods/TropiCataclysm/monsters/tropical_reptile_amphibian.json
  data/mods/TropiCataclysm/tropical_monster_factions.json
Labels: [JSON], Mods, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#60697 Item Description Cleanup Project - Containers, Corpses, and Generic
  data/json/items/containers/military.json
  data/json/items/corpses/corpses.json
  data/json/items/corpses/dead_yrax.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/generic/bedding.json
  data/json/items/generic/casing.json
  data/json/items/generic/currency.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/generic/music.json
  data/json/items/generic/spares.json
  data/json/items/generic/toys_and_sports.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Code: Tooling, astyled, json-styled, BasicBuildPassed

#60705 Helicopter bugfixes
  data/json/achievements.json
  src/game.cpp
  src/map.cpp
  src/vehicle.cpp
  src/vehicle_move.cpp
Labels: [JSON], Vehicles, [C++], <Bugfix>, Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#60714 Fix: use absolute map coords when connecting vehicle parts
  src/vehicle_use.cpp
  tests/vehicle_test.cpp
Labels: Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#60699 Luty 9mm SMG fixes
  data/json/items/gun/9mm.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#60696 Uzi fixes
  data/json/items/gun/9mm.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#60694 M2 carbine fixes
  data/json/items/gun/30carbine.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#60467 Kitchen Cleaver(s) damage adjustment
  data/json/items/melee/knives_kitchen.json
  tests/effective_dps_test.cpp
Labels: Game: Balance, [JSON], Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60217 Chainmail is soft + 100% coverage
  data/json/items/armor/arms_armor.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/materials.json
  src/character_attire.cpp
  src/item_factory.cpp
  src/material.cpp
  src/material.h
Labels: Game: Balance, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60053 Complexify the RM13 Armor
  data/json/items/tool_armor.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_prototypes.json
Labels: Game: Balance, NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed

#59977 Streamline aim and fire experience
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/options.cpp
  src/ranged.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#60715 Add missing <array> header in translation_plural_evaluator.h
  src/translation_plural_evaluator.h
Labels: Code: Build, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60601 Turning off spell explosions where they not intended
  data/json/artifact/altered_object_active.json
  data/json/artifact/legacy_artifact_active.json
  data/json/item_spell_effects.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monster_special_attacks/spells.json
  data/json/monster_special_attacks/weapon_spells.json
  data/json/monsters/lab_security_drones.json
  data/json/mutations/mutation_spells.json
  data/json/traps.json
Labels: [JSON], Monsters, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#60719 Leaping legs mutation will now delete the spell when lost (now it really works)
  data/json/mutations/mutation_spells.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#60727 Nerf medical gloves
  data/json/items/armor/gloves.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60729 Rename survivor telescope, make them less common in favor of binoculars.
  data/json/items/tool/misc.json
  data/json/mapgen/radio_tower.json
Labels: [JSON], Map / Mapgen, astyled, json-styled

#60683 UI Upgrades for Nests
  src/crafting_gui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#60731 Use some nonthrowing int parsing in condition.cpp
  src/condition.cpp
Labels: Code: Performance, [C++], Code: Debug, astyled, json-styled, BasicBuildPassed

#60679 Fixes copper not spawning for bullet crafting
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#60274 Added myself to comment-commands.yml
  .github/comment-commands.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#60738 fix: make offset sight rail spawn
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
Labels: [JSON], Items: Gunmod / Toolmod, Spawn, astyled, json-styled

#60692 Add Old Veteran profession
  data/json/professions.json
  data/json/scenarios.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Scenarios, astyled, json-styled

#60675 Make wooden wheels attachable without a wrench
  data/json/vehicleparts/wheel.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#59000 Artifact passives occur on HELD and not WIELD
  src/relic.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#60017 [Xedra Evolved] Inventor Stuff
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/collections.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/itemgroups/map_extra_itemgroups.json
  data/mods/Xedra_Evolved/items/ammo.json
  data/mods/Xedra_Evolved/items/ammo_type.json
  data/mods/Xedra_Evolved/items/inventor/artifacts.json
  data/mods/Xedra_Evolved/items/inventor/spark_artifact_items.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_inventor.json
  data/mods/Xedra_Evolved/mapgen/nested/aux_nested.json
  data/mods/Xedra_Evolved/monster_special_attacks/monster_special_attacks.json
  data/mods/Xedra_Evolved/mutations/classes.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/requirements/toolsets.json
  data/mods/Xedra_Evolved/spells/inventor_spells.json
  data/mods/Xedra_Evolved/spells/item_spells.json
  data/mods/Xedra_Evolved/spells/spell_eocs.json
  data/mods/Xedra_Evolved/vitamin.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, <Bugfix>, Code: Tooling, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#60739 Improvement to "person" monster hallucinations
  data/json/effect_on_condition.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#60708 Nested Recipes - Chitin Armor and more.
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_others.json
Labels: Info / User Interface, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60759 Fix whistle
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60751 Drophammer fix
  data/json/furniture_and_terrain/furniture-appliances.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#60747 A few roe changes
  data/json/items/comestibles/egg.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60744 Suppress spurious error from make when astyle isn't installed
  Makefile
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#60762 Fix veh/appliance construction (remove lastconsumed hack)
  src/character.cpp
  src/character.h
  src/construction.cpp
  src/crafting.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#60768 Routine tileset updates on 04 September 2022
  gfx/Altica/large.png
  gfx/Altica/tile_config.json
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/tile_config.json
  gfx/HollowMoon/normal.png
  gfx/HollowMoon/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/RetroDaysTileset/tiles_20x20.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#59674 Carnivore pemmican
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#60632 More sizes of canning recipes, for all tin can types
  data/json/recipes/food/canned.json
  data/json/recipes/food/offal_dishes.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#60775 [Magiclysm] Delete wrong +5 per for sun mage
  data/mods/Magiclysm/traits/attunements.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#60671 [CR] Create Wall wiring
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/terrain-walls.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#60785 Remove redundant check
  src/construction.cpp
Labels: [C++], astyled, json-styled

#60745 Item snails mutate into Big Snails
  data/json/items/comestibles/other.json
  data/json/monstergroups/misc.json
Labels: Game: Balance, [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#60754 Better version.h generator script for MSVC builds
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/prebuild.cmd
Labels: astyled, json-styled, BasicBuildPassed

#60746 [Magiclysm] Move earth exist, but do not spawn naturally
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
Labels: [JSON], Mods, Spawn, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#60772 [Xedra Evolved ]Typos + give artifacts non-placeholder descriptions
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/collections.json
  data/mods/Xedra_Evolved/items/ammo.json
  data/mods/Xedra_Evolved/items/inventor/artifacts.json
  data/mods/Xedra_Evolved/items/inventor/spark_artifact_items.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_inventor.json
  data/mods/Xedra_Evolved/spells/inventor_spells.json
  data/mods/Xedra_Evolved/spells/item_spells.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#60760 removed useless BELT_CLIP flag from war hammer
  data/json/items/melee/bludgeons.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60734 Sheet metal armor, round 3: Revengeance of the Case Hardening
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60659 Don't place liquid fields on non-water tiles
  src/map.cpp
  src/monmove.cpp
Labels: [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#60639 Support loading legacy save from #43067
  data/json/mutations/migration.json
  src/avatar.cpp
  src/item.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#60569 Update several armor coverages in tool_armor.json to better represent reality.
  data/json/items/tool_armor.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#60584 virtually remove encumbrance from dustmask
  data/json/items/armor/masks.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60401 Improve mod comparability regarding addition of rare flora
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
  data/mods/Magiclysm/worldgen/regional_overlay.json
  data/mods/No_Hope/regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
  data/mods/aftershock_exoplanet/region_settings.json
  data/mods/classic_zombies/alberta_regional_map_settings.json
  data/mods/desert_region/desert_regional_map_settings.json
  data/mods/innawood/innawood_map_settings.json
  data/mods/innawood/region_overlay.json
  data/mods/rural_biome/rural_regional_map_settings.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Magiclysm, Mods: Aftershock, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Innawood 🌲, Mods: TropiCataclysm 🌴, Mods: Desert Region

#60761 In Tab Nesting
  src/crafting_gui.cpp
  src/inventory_ui.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
  src/uistate.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60756 Post Apoc Caviar
  data/json/items/comestibles/egg.json
  data/json/recipes/food/curing.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#60709 Tec 9 rebalance
  data/json/items/gun/9mm.json
  data/json/items/gunmod/mechanism.json
  data/json/recipes/weapon/mods.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#60793 increase volume of jackhammers
  data/json/items/tool/workshop.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#60764 Add urban explorer profession
  data/json/items/book/maps.json
  data/json/monsterdrops/zombie_default.json
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#60789 Fix Fridge Appliance Requiring a Wrench to Take Down
  data/json/furniture_and_terrain/appliances.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#60787 [Xedra Evolved] Make death rays obtainable, fix wrong spell component IDs for ray gun & death ray
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/inventor_spells.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#60710 Allow roundtripping damage in folded vehicle items
  src/rng.cpp
  src/rng.h
  src/vehicle.cpp
  tests/ranged_balance_test.cpp
  tests/vehicle_test.cpp
Labels: Vehicles, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60743 Tropicata: Roe and Gar
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/monstergroups/eggs.json
  data/mods/TropiCataclysm/monstergroups/wilderness.json
  data/mods/TropiCataclysm/monsters/tropical_fish.json
Labels: [JSON], Mods, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#60805 Change materials for nails, nuts and bolts
  data/json/items/ammo/nail.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#60782 Salt water should be mixible and not auto-drinkable.
  data/json/items/chemicals_and_resources.json
Labels: [JSON], Items: Food / Vitamins, <Bugfix>, astyled, json-styled, BasicBuildPassed

#60815 ft. one dark color theme
  data/raw/color_themes/base_colors_one-dark.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#60812 allow small leg purse to be worn with a tail
  data/json/items/armor/storage.json
Labels: [JSON], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60795 [XEDRA Evolved] Investigation -> deduction
  data/mods/Xedra_Evolved/skills.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#60791 Fix weapon name in faction screen
  src/faction.cpp
Labels: NPC / Factions, Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59620 Add a new faction: the Norse Evangelicals
  data/json/encounters/randec_valhallist_cult.json
  data/json/mapgen/valhalla_cult/car_spawns.json
  data/json/mapgen/valhalla_cult/mapgen.json
  data/json/mapgen/valhalla_cult/mapgen_updates.json
  data/json/npcs/factions.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_talk.json
  data/json/npcs/slaves/npcs.json
  data/json/npcs/valhalla_cult/TALK_valhallist_gode.json
  data/json/npcs/valhalla_cult/TALK_valhallist_leader.json
  data/json/npcs/valhalla_cult/TALK_valhallist_mechanic.json
  data/json/npcs/valhalla_cult/TALK_valhallist_member.json
  data/json/npcs/valhalla_cult/TALK_valhallist_shopkeeper.json
  data/json/npcs/valhalla_cult/missions.json
  data/json/npcs/valhalla_cult/npcs.json
  data/json/npcs/valhalla_cult/snippets.json
  data/json/npcs/valhalla_cult/valhallist_leader_backstory.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, [JSON], Missions, Map / Mapgen, <Bugfix>, Code: Tooling, astyled, json-styled, BasicBuildPassed

#60767 Disable cut/remove grass under vehicles
  data/json/construction.json
  src/construction.cpp
Labels: [JSON], Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60796 Set a minimum weight for a worn item to cause chafing
  src/character_attire.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60786 [Magiclysm] Small used_bookstore roof fix
  data/mods/Magiclysm/worldgen/used_bookstore.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled

#58686 Distribute beauty mutations to elfa/alpha
  data/json/mutations/mutations.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#60349 [Content] A goofy half-serious addition to the triffid description
  data/json/monsters/triffid.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#60691 Fixes for from_sheet and neoprene craft
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_obsolete.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#60658 Antenna changes
  data/json/items/generic.json
  data/json/recipes/other/parts.json
  data/mods/innawood/recipes/other/parts.json
Labels: Game: Balance, [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#60638 Pack rat monster, the missing ratkin link
  data/json/monsterdrops/rodentkin.json
  data/json/monstergroups/mutant_upgrades.json
  data/json/monsters/rodentkin.json
Labels: [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#60817 Minor vehicle fixes
  src/vehicle.h
  src/vehicle_use.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#60655 Aquariums & Glass Cutting
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/shops_trades.json
  data/json/itemgroups/supplies.json
  data/json/items/chemicals_and_resources.json
  data/json/items/containers.json
  data/json/items/tool/misc.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/tools/containers.json
  data/json/tool_qualities.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Items: Containers, astyled, json-styled, BasicBuildPassed

#60825 Add passenger cars to subway stations
  data/json/mapgen/robofachq_static.json
  data/json/mapgen/sub_station.json
Labels: [JSON], Map / Mapgen, Vehicles, astyled, json-styled, BasicBuildPassed

#60836 Aftershock Exosuit flag inheritance fixes
  data/json/flags.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  src/item.cpp
Labels: [JSON], Mods, [C++], <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60833 Fix bad tag error in bio lab files
  data/json/snippets/lab.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], <Bugfix>, Lore, Code: Tooling, astyled, json-styled, BasicBuildPassed

#60827 Unmark empty strings for translation
  src/character.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#60797 clean up stray debug message in stdout
  src/veh_interact.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#60770 CR Steel crafting guide
  data/json/materials.json
  doc/STEEL_CRAFTING.md
Labels: <Documentation>, [JSON], [Markdown], astyled, json-styled, BasicBuildPassed

#60839 Ingot separation
  data/json/furniture_and_terrain/furniture-fakes.json
  data/json/items/resources/metal.json
  data/json/items/resources/plastic.json
  data/json/materials.json
  data/json/uncraft/generic.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#60514 directed_push documentation and MAGIC.md changes
  doc/MAGIC.md
Labels: <Documentation>, Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#60607 Handle fuel energy and vehicle energy_consumption as units::energy
  data/json/items/ammo.json
  data/json/items/generic.json
  data/json/materials.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/motor.json
  data/mods/Magiclysm/materials.json
  data/mods/Xedra_Evolved/material.json
  doc/JSON_INFO.md
  src/bionics.cpp
  src/character.h
  src/consumption.cpp
  src/game.cpp
  src/item.cpp
  src/item.h
  src/material.h
  src/savegame_json.cpp
  src/veh_interact.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_display.cpp
  src/vehicle_move.cpp
  src/vehicle_part.cpp
  tests/fuel_test.cpp
  tests/vehicle_efficiency_test.cpp
Labels: <Documentation>, [JSON], Mods, Bionics, Vehicles, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#60853 Mi-Go Resin dialogue fix
  data/mods/Aftershock/npcs/milly_whately_dialogue.json
Labels: NPC / Factions, [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#60809 Balance "Fix to 5.56 crafting recipe"
  data/json/recipes/ammo/rifle.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#60856 Increase wood density
  data/json/materials.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: Game: Balance, [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#60871 Case Hardened material repairs
  data/json/materials.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#60876 Fix bionic fuels giving 1/1000 energy
  src/bionics.cpp
Labels: Bionics, [C++], <Bugfix>, astyled, json-styled

#60874 Fix collapse triggering debugmsg
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60859 Added batch time savings to several cooking recipes that needed it.
  data/json/recipes/recipe_food.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#60857 Allow ethanol for alumentum recipe
  data/mods/Magiclysm/recipes/blacksmithing.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#60006 Make scrolling_text_view scrollbars draggable
  data/raw/keybindings.json
  src/ncurses_def.cpp
  src/newcharacter.cpp
  src/output.cpp
  src/output.h
  src/scores_ui.cpp
  src/string_input_popup.cpp
Labels: Info / User Interface, [JSON], [C++], Character / World Generation, Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#60634 [CR] Racking refactor (and bugfixes)
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/savegame_json.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  src/vehicle_use.cpp
  tests/vehicle_fake_part_test.cpp
  tests/vehicle_interact_test.cpp
  tests/vehicle_split_test.cpp
  tests/vehicle_test.cpp
Labels: Vehicles, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60860 [DinoMod] monster mass
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Monsters, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#60883 Add context for rock
  data/json/items/ammo.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#60388 Add zombified llamas
  data/json/monsters/mammal.json
  data/json/monsters/zed-animal.json
Labels: [JSON], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#60819 Fix crash on opening batch crafting screen
  src/crafting_gui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60886 Properly obsolete filter paper recipe
  data/json/recipes/recipe_obsolete.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled

#60890 Correct encumbrance for ballistic vests
  data/json/items/armor/ballistic_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60901 Stop running appveyor builds because they're redundant with GHA builds.
  .appveyor.yml
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#60806 [FEATURE] add cow armors
  data/json/items/armor/pets_cow_armor.json
  data/json/recipes/armor/pets_cow.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60895 [Backrooms] Map extra fix and additions
  data/mods/Backrooms/itemgroups.json
  data/mods/Backrooms/items.json
  data/mods/Backrooms/monstergroups.json
  data/mods/Backrooms/overmap_terrain.json
  data/mods/Backrooms/regional_map_settings.json
  data/mods/Backrooms/snippets.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed

#60623 Split conditional_names COMPONENT_ID_SUBSTRING from COMPONENT_ID
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/protein.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/soup.json
  data/mods/Xedra_Evolved/items/carnivore.json
  src/item.cpp
  src/itype.cpp
  src/itype.h
Labels: [JSON], Mods, [C++], astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#60906 [DinoMod] basement mapgen fixes
  data/mods/DinoMod/mapgen/basement_chem.json
  data/mods/DinoMod/mapgen/basement_lab_stairs.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, Mods: Dinomod, astyled, json-styled, BasicBuildPassed
