Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2022-11, with the labels that each got.

#62027 Added hiking pants to nomad jumpsuit recipe
  data/json/recipes/armor/bespoke_armor/nomad.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#62035 [Magiclysm] few attunements fixes
  data/mods/Magiclysm/Spells/attunements/Shapeshifter.json
  data/mods/Magiclysm/enchantments/Permafrost_Mage.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#62045 Tutorial bugfixes and tweaks
  data/json/mapgen/tutorial.json
  src/avatar_action.cpp
  src/gamemode_tutorial.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62038 Fix hairstyles from #61940 not showing up in the haircut menu
  data/json/mutations/appearance_hair_styles.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62036 Display Appliance battery power flow for the whole connected grid
  src/veh_appliance.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: Info / User Interface, Vehicles, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#62067 Chemistry PPE
  data/json/requirements/toolsets.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62064 Jerrycan recipe alterations
  data/json/recipes/recipe_obsolete.json
  data/json/recipes/tools/containers.json
Labels: [JSON], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#61518 Exosuit Climate Control
  data/mods/Aftershock/items/armor/exosuit/exosuit_underlayers.json
Labels: Info / User Interface, [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61176 Replace Railgun CBM
  data/json/bionics.json
  data/json/itemgroups/Monsters_Animals_Lairs/harvest_cbm.json
  data/json/itemgroups/bionics.json
  data/json/itemgroups/electronics.json
  data/json/items/bionics.json
  data/json/items/software.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  data/json/obsolete.json
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, [JSON], Bionics, SDL: Tiles / Sound, Spawn, Code: Tooling, astyled, json-styled, BasicBuildPassed

#62051 Fix mutations for Xedra Evolved
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#61013 Add Standard Combat Test mod for better monster balance testing
  data/mods/Standard_Combat_Tests/modinfo.json
  doc/MONSTERS.md
  src/scenario.cpp
Labels: <Documentation>, [JSON], Mods, [C++], [Markdown], Scenarios, stale, astyled, json-styled, BasicBuildPassed

#62055 Add 1 tile radius to store ebook to device
  src/game_inventory.cpp
  src/game_inventory.h
  src/iuse.cpp
Labels: <Enhancement / Feature>, [C++], Quality of Life, astyled, json-styled, BasicBuildPassed

#62050 [Xedra Evolved] Typos bad, give vampire CBMs non-placeholder descriptions
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/items/cbms.json
  data/mods/Xedra_Evolved/monsters/bloodsuckers.json
  data/mods/Xedra_Evolved/player/renfield_cbms.json
  data/mods/Xedra_Evolved/snippets/vampire_speech.json
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#62049 ci: more labeler rules
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#62047 Even more item cleanup & disassembly
  data/json/items/containers.json
  data/json/items/generic/bathroom_house.json
  data/json/items/tool/fishing.json
  data/json/items/tool/tailoring.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, BasicBuildPassed

#62106 Candy bracelets no longer made of flesh
  data/json/items/comestibles/junkfood.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#62117 Routine tileset updates on 06 November 2022
  gfx/Cuteclysm/fillerItems.png
  gfx/Cuteclysm/items.png
  gfx/Cuteclysm/tallbackdrop.png
  gfx/Cuteclysm/tile_config.json
  gfx/Cuteclysm/ui.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#62118 Fixed NPC's dropping integrated weapons on death
  src/character_inventory.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62131 port: remove references to obsolete rock_pot
  data/json/recipes/basecamps/base/recipe_modular_firestation_1/recipe_modular_firestation1.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_primitive_field.json
  data/json/recipes/basecamps/base/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_1/recipe_modular_canteen_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_2/recipe_modular_canteen_common.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#62130 acetylene recipe batch savings + byproduct
  data/json/recipes/ammo/weldgas.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62121 Unifies window names
  data/json/furniture_and_terrain/terrain-windows.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62119 npctrade: remove dead code
  src/npc.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#62114 [DinoMod] nerf juvenile predator damage
  data/mods/DinoMod/monsters/juvenile.json
Labels: Game: Balance, [JSON], Mods, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#62110 Exclude ammo-restricted pockets from free space calculation
  src/item.cpp
Labels: [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#62107 [Xedra Evolved] some small fixes
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/items/resources.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
Labels: [JSON], Mods, Spawn, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#62090 Craftable gravelbag
  data/json/recipes/recipe_others.json
  data/json/uncraft/generic.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62076 Allowed resuming unfinished deconstruction of consoles
  src/construction.cpp
  src/game.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62071 sometimes my knees are as stiff as a metal pole
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#61737 Mini survival kit in the handle of the survival knife to match its description
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/military.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/tools.json
  data/json/items/chemicals_and_resources.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/fire.json
  data/json/items/tool/tailoring.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/items_generic.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_pilot.json
  data/json/professions.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_hand.json
  data/json/requirements/materials.json
  data/mods/Aftershock/npcs/cyborg_npcs/item_groups_cyborg.json
  data/mods/Military_Professions/prof/spc.json
  data/mods/No_Hope/Mapgen/mil_base_z0.json
Labels: NPC / Factions, [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#61255 Add some (monster) leap functionality
  doc/MAGIC.md
  doc/MONSTER_SPECIAL_ATTACKS.md
  src/mattack_actors.cpp
  src/mattack_actors.h
Labels: <Enhancement / Feature>, <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#60391 Super Soldier Ant Rework
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monsters/insect_spider.json
Labels: [JSON], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#59191 Cash Registers should be able to hold bundles, scrip, and rolled coin
  data/json/items/generic.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62122 BUGFIX: operator sniper starts with 2 bipods
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#62101 Improve FlexbufferJson parser error messaging.
  src/flexbuffer_cache.cpp
  tests/json_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#62100 ci: a couple more labeler rules
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#62081 Fix MSVC template warning
  src/magic_enchantment.cpp
Labels: [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#62079 [Magiclysm] Tweak some magiclysm stuff
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/attunements/Boreal_Mage.json
  data/mods/Magiclysm/Spells/attunements/Cleansing_Flame.json
  data/mods/Magiclysm/Spells/attunements/Fire_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Glacier_Mage.json
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/Spells/attunements/Illusionist.json
  data/mods/Magiclysm/Spells/attunements/Overclocker.json
  data/mods/Magiclysm/Spells/attunements/Radiation_Mage.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_rings.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spellbooks.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#62144 Removed questionable town names
  data/names/en.json
Labels: [JSON], astyled, json-styled

#62143 Fix farm supply store under-carpet flooring from wood to concrete
  data/json/mapgen_palettes/farm_supply_palette.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#62039 spawn mon_copbot instead of mon_secubot in banks
  data/json/mapgen/bank.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62146 npc: allied NPCs aren't shopkeepers
  src/npc.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#62142 acetylene recipe no longer makes 250x more slaked lime than it should
  data/json/itemgroups/supplies.json
  data/json/items/chemicals_and_resources.json
  data/json/recipes/ammo/weldgas.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61573 More animal skulls
  data/json/harvest.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/items/armor/helmets.json
  data/json/items/comestibles/carnivore.json
  data/json/items/generic/skulls.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/recipes/recipe_deconstruction.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Monsters, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#62162 Updated survivor duster and trenchcoat
  data/json/items/armor/bespoke_armor/custom_overcoats.json
  data/json/recipes/armor/torso.json
  data/json/recipes/nested.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#62150 Documentation on `loudness`
  doc/JSON_INFO.md
  src/item_factory.cpp
Labels: <Documentation>, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#62160 Urban Samurai won't lose their katana when completing their mission
  data/json/starting_missions.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62173 Tusked moose skull renaming
  data/json/items/generic/skulls.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62149 Advertising brochures in mailboxes
  data/json/itemgroups/mail.json
  data/json/items/book/maps.json
Labels: [JSON], Spawn, <Bugfix>, Lore, astyled, json-styled, BasicBuildPassed

#62175 baton fix
  data/json/items/melee/bludgeons.json
  data/json/recipes/recipe_deconstruction.json
  data/mods/TEST_DATA/known_bad_density.json
  tests/effective_dps_test.cpp
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62188 Removed Gills mutation from the list of available mutations for Lab Patient and Experiment scenarios
  data/json/scenarios.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, Scenarios, Character / World Generation, astyled, json-styled, BasicBuildPassed

#61878 Add ability to define immunity character flags to effects, deprecate bleed_resist
  data/json/effects.json
  data/mods/Magiclysm/traits/attunements.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
  doc/EFFECTS_JSON.md
  doc/JSON_FLAGS.md
  doc/MUTATIONS.md
  src/character.cpp
  src/effect.cpp
  src/effect.h
  src/mutation.h
  src/mutation_data.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Mods, [C++], [Markdown], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#62214 The non-graphical Windows version stopped compiling
  src/wincurse.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62213 Fix goblin forgemaster getting angry at weak players
  data/mods/Magiclysm/monsters/forgedwellers.json
  data/mods/Magiclysm/species.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#62212 Mod : Aftershock: Changed the length of the Makeshift Rail Rifle to be more realistic
  data/mods/Aftershock/items/gun/projectile.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled

#62211 iexamine/elevator: fix for uilist retval autoassign
  src/iexamine.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#62206 Kord's spawn is more predictable
  data/json/items/gun/545x39.json
  doc/JSON_FLAGS.md
Labels: <Documentation>, [JSON], Missions, Spawn, <Bugfix>, [Markdown], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#62205 Waiting options now work correctly again
  src/handle_action.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62202 Made flying monsters immune to several ground-based field types
  src/monmove.cpp
Labels: [C++], Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62193 Drawing blood will now yield blood type defined in monster's harvest list
  src/iuse.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62191 Fix bodypart_color_text.json clause priority
  data/json/ui/bodypart_color_text.json
Labels: Info / User Interface, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Limbs

#62183 Atomic Butter: A brief adjustment for Aftershock
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/recipes/comestible_recipes.json
  data/mods/Aftershock/recipes/obsolete.json
Labels: [JSON], Mods, Items: Food / Vitamins, Crafting / Construction / Recipes, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#62178 Fix missing output from cataclysm-tiles.exe --help
  src/main.cpp
Labels: OS: Windows, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62166 fix: run missions test workflow only on json changes
  .github/workflows/assign_mission_target_needs_om_special.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#62165 fix: incorrect workflow checkout ref
  .github/workflows/linter.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#62158 Xedra Evolved Night snippets
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#62127 [DinoMod] teeth grab and tear
  data/mods/DinoMod/monster_attacks.json
  data/mods/DinoMod/monsters/dinosaur.json
Labels: [JSON], Mods, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#62108 Fix vehicle zones not invalidating on move
  src/clzones.cpp
  src/map.cpp
Labels: Vehicles, Inventory / AIM / Zones, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62073 Fix Nonrigid nested container can't store picked up items
  src/character.h
  src/character_attire.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62037 Farm Mutable
  data/json/mapgen/farm.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/orchard_apple.json
  data/json/mapgen_palettes/farm_lots.json
  data/json/obsoletion/obsolete_mapgen.json
  data/json/obsoletion/overmap/overmap_terrain/overmap_terrain_obsoletion.json
  data/json/obsoletion/overmap_special/specials.json
  data/json/overmap/overmap_mutable/farm_mutable.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62024 Jsonize test data for vehicle drag and effective dps tests
  data/mods/TEST_DATA/expected_dps_data/axes_dps.json
  data/mods/TEST_DATA/expected_dps_data/clubs_dps.json
  data/mods/TEST_DATA/expected_dps_data/fist_weapons_dps.json
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
  data/mods/TEST_DATA/expected_dps_data/polearms_dps.json
  data/mods/TEST_DATA/expected_dps_data/shortswords_dps.json
  data/mods/TEST_DATA/expected_dps_data/spears_dps.json
  data/mods/TEST_DATA/expected_dps_data/staves_dps.json
  data/mods/TEST_DATA/expected_dps_data/swords_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_axes_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_clubs_hammers_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_flails_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_swords_dps.json
  data/mods/TEST_DATA/known_bad_density.json
  data/mods/TEST_DATA/vehicle_drag_test.json
  src/init.cpp
  src/itype.cpp
  src/itype.h
  src/test_data.cpp
  src/test_data.h
  tests/effective_dps_test.cpp
  tests/item_test.cpp
  tests/vehicle_drag_test.cpp
Labels: [JSON], Vehicles, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#61893 More gun variants, part the second
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/9mm.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/military.json
  data/json/items/gun/9mm.json
  data/json/items/gun/shot.json
  data/json/items/magazine/9mm.json
  data/json/items/magazine/shot.json
  data/json/items/migration.json
  data/mods/classic_zombies/items/blacklists.json
Labels: [JSON], Mods, Items: Magazines, Spawn, Items: Ammo / Guns, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed

#61575 No more corpse of holding
  data/json/items/corpses/corpses.json
  doc/JSON_INFO.md
  src/item.cpp
  src/item_contents.cpp
  src/item_group.cpp
  src/item_pocket.cpp
  src/item_pocket.h
  src/monster.cpp
  src/savegame_json.cpp
Labels: <Documentation>, [JSON], Spawn, [C++], <Bugfix>, [Markdown], Items: Containers, astyled, json-styled, BasicBuildPassed

#61845 Burrowing creatures leave a temporary field instead of a permanent terrain change
  data/json/field_type.json
  src/field_type.cpp
  src/field_type.h
  src/monmove.cpp
Labels: [JSON], [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#60605 Add a common zombification route to mutant fauna
  data/json/effects.json
  data/json/harvest.json
  data/json/monster_factions.json
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monster_special_attacks/spells.json
  data/json/monster_weakpoints/abomination_weakpoints.json
  data/json/monstergroups/zombie_amalgamations.json
  data/json/monsters/bird.json
  data/json/monsters/fish.json
  data/json/monsters/insect_spider.json
  data/json/monsters/jabberwock.json
  data/json/monsters/kraken_spawn.json
  data/json/monsters/mollusk.json
  data/json/monsters/mutant.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/rodentkin.json
  data/json/monsters/zed_amalgamation.json
  data/json/proficiencies/weakpoints.json
  data/json/snippets/mutant_anatomy.json
  doc/MONSTERS.md
  tests/monfactions_test.cpp
  tools/spell_checker/dictionary.txt
Labels: <Documentation>, [JSON], Mods, Spawn, Code: Tests, [C++], Monsters, [Markdown], Scenarios, Lore, Mods: Magiclysm, Mods: Aftershock, Code: Tooling, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Desert Region

#62163 port: add info for MOUNTED_GUN flag
  data/json/flags.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62145 Cold Tolerance and Heat Tolerance traits
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#62196 updated leather armors
  data/json/items/armor/arms_armor.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  tests/crafting_test.cpp
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#62189 Fixes "Bloodless monsters can still get bled by butchery, leave blood splatter on ranged hits"
  src/ballistics.cpp
  src/game.cpp
  src/mtype.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62254 Bismuth as a possible ingredient in solder.
  data/json/recipes/electronics/parts.json
Labels: [JSON], astyled, json-styled

#62280 Fix Aftershock CI issue
  src/item.cpp
  src/item.h
  src/item_group.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62268 No more "right from the factory" loot in the museum
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62281 Gas stations tweak
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62305 Fermenting vat description now mentions its volume
  data/json/furniture_and_terrain/furniture-tools.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62303 NRE recorder requires at least 1 charge of battery to beep
  data/json/effect_on_condition.json
Labels: [JSON], Items: Battery / UPS, <Bugfix>, Mechanics: Weather, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#62293 Pens now can be loaded with all types of pen ink
  data/json/items/tool/stationary.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#62272 info for ALWAYS_TWOHAND and FIRE_TWOHAND flags
  data/json/flags.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#62263 Change definite article 'the' to pronoun 'your'
  src/suffer.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#62259 Don't invalidate cache when calling zone_data::set_position from vehicle code
  src/clzones.cpp
  src/clzones.h
  src/vehicle.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#62257 Disable inherit for CANT_WEAR flag
  data/json/flags.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62255 Avoid dangerous tiles when travling with [V]iew items, look around or LMB click
  src/game.cpp
  src/game.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#62242 Add UI feedback if appliance has no battery on grid
  src/map.cpp
  src/veh_appliance.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: Info / User Interface, Vehicles, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#62237 Post a warning if a pull request is created from the master branch
  .github/workflows/check-branch-name.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#62226 inv_ui: fix category toggle of disabled entries
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#62222 Make stimulation effect string easier to translate
  src/item.cpp
Labels: Translation, [C++], astyled, json-styled, BasicBuildPassed

#62219 Fix minor vehicle issues
  src/activity_actor.cpp
  src/vehicle.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#62204 Mutation distractions no longer appear when NPCs mutate
  src/mutation.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62200 Fix rm13 enchantment not working
  data/json/items/tool_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#62290 Bugfix CARDIO trait to GOODCARDIO
  data/mods/Xedra_Evolved/npc/trait_groups.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#62302 Arrow rests now occupy their own "arrow rest" mod location
  data/json/items/gunmod/accessories.json
  data/json/items/ranged/archery.json
Labels: [JSON], Items: Gunmod / Toolmod, <Bugfix>, Items: Archery, astyled, json-styled, BasicBuildPassed

#62315 Routine tileset updates on 20 November 2022
  gfx/Altica/human_body.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/dcss.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/ChibiUltica/tileset.txt
  gfx/Cuteclysm/backdrop.png
  gfx/Cuteclysm/tile_config.json
  gfx/MshockXotto+/dcss.png
  gfx/MshockXotto+/fillerlarge.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tileset.txt
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/SmashButton_iso/full_iso.png
  gfx/SmashButton_iso/tile_config.json
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#62319 Invalidate crafting inventory after butchering
  src/activity_handlers.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62317 inv_ui: fix wield/wear dereference
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#62313 Portal storm monsters now despawn correctly after a save/load
  src/monster.cpp
  src/savegame_json.cpp
Labels: [C++], Monsters, <Bugfix>, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#62273 fix cold/heat tolerance being backwards
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#62266 Fixes typo present in Hair: white, buzz cut
  data/json/mutations/appearance_hair_styles.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62296 Implement input history for overmap search
  src/overmap_ui.cpp
Labels: Info / User Interface, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#62262 add weight to crystallized_mana
  data/mods/Magiclysm/items/mana_crystals.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#62340 canvas repairs with canvas_patch
  data/json/materials.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62336 Move Debug_mana from Magiclysm to Mainline
  data/json/mutations/mutations.json
  data/mods/Magiclysm/mutations/debug_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#62330 fix: remove extra s
  src/character_body.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#62337 Fix the waxed floors only dropping wax
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62326 Enable butchering of very heavy corpses
  src/activity_handlers.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62325 Pre-cache the flatbuffer parser C locale in main
  src/main.cpp
Labels: Translation, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62329 Setting price_postapoc for .223 magazines
  data/json/items/magazine/223.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62270 Drive-in movie theater
  data/json/items/newspaper.json
  data/json/mapgen/drive-in_theater.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/movie_theater.json
  data/json/mapgen_palettes/movie_theater_palette.json
  data/json/overmap/overmap_special/overmap_special_migration.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/vehicle_groups.json
Labels: [JSON], Map / Mapgen, Vehicles, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62269 increased junk platemail encumbrance
  data/json/items/obsolete.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62159 JSONify two BIO special attacks
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_soldiers.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: [JSON], Mods, <Bugfix>, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#62351 Changes brawler fail message to use 'this' to promote readability
  src/ranged.cpp
Labels: [C++], astyled, json-styled

#62350 add washboard to antique spawns
  data/json/itemgroups/art_antiques_crafts.json
Labels: Game: Balance, [JSON], Spawn, astyled, json-styled

#62347 Repair Clang Build Analyzer job
  .github/workflows/CBA.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#62346 Fix quadrupeds still getting annoyed at you Part 2: Mattack Boogaloo
  src/mattack_actors.cpp
  src/monster.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62345 Allow unloading furniture with no available inventory space
  src/iexamine.cpp
Labels: [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, Quality of Life, astyled, json-styled, BasicBuildPassed

#62261 Update wooden beam recipes
  data/json/recipes/other/parts_construction.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#61985 Characters with 0 skill can now craft level 1 recipes
  src/crafting.cpp
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#62155 Add units::power (watts)
  src/units.cpp
  src/units.h
  src/units_fwd.h
  tests/units_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#62061 New England Great Revival
  data/json/items/book/misc_scifi.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/cground3x3.json
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/mapgen_palettes/church_retreat.json
  data/json/npcs/factions.json
  data/json/npcs/godco/NPC_Arturo_Maldonado.json
  data/json/npcs/godco/NPC_Aunt_Theresa.json
  data/json/npcs/godco/NPC_Chloe_Taylor_King.json
  data/json/npcs/godco/NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/NPC_Father_Greenwood.json
  data/json/npcs/godco/NPC_Felicity_Powell.json
  data/json/npcs/godco/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/NPC_Helena_Misinter.json
  data/json/npcs/godco/NPC_Jane_Schulz.json
  data/json/npcs/godco/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/NPC_Julian_Ray.json
  data/json/npcs/godco/NPC_Katherine_Weaver.json
  data/json/npcs/godco/NPC_Kostas_Walsman.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/NPC_Olwen_Powell.json
  data/json/npcs/godco/NPC_Russell_Connelly.json
  data/json/npcs/godco/NPC_Sonia_Greene.json
  data/json/npcs/godco/NPC_Tom_Powell.json
  data/json/npcs/godco/NPC_Zachary_Montes.json
  data/json/npcs/godco/classes.json
  data/json/npcs/godco/cook.json
  data/json/npcs/godco/foodguard.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/npcs.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/snippets/epilogue_factions.json
  data/json/vehicles/utility.json
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, [JSON], Mods, Missions, Map / Mapgen, Items: Food / Vitamins, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: No Hope, EOC: Effects On Condition

#62300 fixed the golf club not having any melee techniques
  data/json/items/melee/bludgeons.json
Labels: [JSON], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#62194 Pet AI small changes to reduce weird behavior
  src/monster.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#61846 New map: a nuclear power plant
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/chemicals_and_resources.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z0.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z1.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z2.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z3.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z4.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z5.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z6.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z7.json
  data/json/mapgen_palettes/nuclear_plant_palette.json
  data/json/materials.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/zombies.json
  data/json/overmap/overmap_special/nuclear_plant.json
  data/json/overmap/overmap_terrain/overmap_terrain_nuclear_plant.json
  data/json/scenarios.json
  data/json/start_locations.json
Labels: [JSON], Map / Mapgen, Spawn, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Scenarios, astyled, json-styled, BasicBuildPassed

#62156 Updates sporting armor
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/masks.json
  data/json/items/armor/torso_armor.json
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61992 Fixing wrong density for various items
  data/json/items/armor/belts.json
  data/json/items/armor/integrated.json
  data/json/items/book/anthology.json
  data/json/items/book/cooking.json
  data/json/items/book/fabrication.json
  data/json/items/comestibles/med.json
  data/json/items/fake.json
  data/json/items/generic.json
  data/json/items/generic/bathroom_house.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/id_cards.json
  data/json/items/melee/bludgeons.json
  data/json/items/newspaper.json
  data/json/items/tool/electronics.json
  data/json/items/tool/fire.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/tailoring.json
  data/json/items/vehicle/engineering.json
  data/json/items/vehicle/tables.json
  data/json/recipes/other/medical.json
  data/json/vehicleparts/engineering.json
  data/mods/TEST_DATA/known_bad_density.json
  data/mods/TEST_DATA/vehicle_drag_test.json
Labels: [JSON], Vehicles, Crafting / Construction / Recipes, Code: Tests, Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61282 audit and document monster speeds
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed-animal.json
  doc/GAME_BALANCE.md
Labels: <Documentation>, Game: Balance, [JSON], Monsters, [Markdown], astyled, json-styled, BasicBuildPassed

#61156 Kevlar wetsuit tweaks
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/recipes/armor/bespoke_armor/survivor.json
  data/json/recipes/nested.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60813 Stock Pot Great Helm
  data/json/items/armor/helmets.json
  data/json/items/generic/dining_kitchen.json
  data/json/recipes/armor/head.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#60505 Integrated armor for scale mutations
  data/json/items/armor/integrated.json
  data/json/mutations/mutations.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61504 Balance and tweaks to relic procgen
  data/json/artifact/relic_procgen_data.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62152 let the "like new" apache on the aircraft carrier take off.
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/mapgen/aircraft_carrier/aircraft_carrier_z1.json
  data/json/mapgen/aircraft_carrier/aircraft_carrier_z2.json
  data/json/mapgen_palettes/aircraft_carrier_palette.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62164 Add chance for cannabis extraction supplies in houses with grows
  data/json/itemgroups/misc.json
  data/json/mapgen/basement/basement_weed.json
  data/json/mapgen/house/house_detatched6.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#62048 Updated Riot Armor to modern armor standards
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/monsterdrops/zombie_cop.json
  data/json/recipes/armor/suit.json
  data/json/recipes/recipe_deconstruction.json
Labels: Info / User Interface, [JSON], Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61848 Added uncraft recipes for metal ammo cans and boxes
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/9mm.json
  data/json/items/containers/military.json
  data/json/items/migration.json
  data/json/obsolete.json
  data/json/uncraft/containers/military.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62134 Add more miscellaneous NPCs
  data/json/itemgroups/food_service.json
  data/json/mapgen/apartment_con_new.json
  data/json/mapgen/campsite.json
  data/json/mapgen/house/house_prepper.json
  data/json/mapgen/moonshine_camp.json
  data/json/mapgen/ws_survivor_camp.json
  data/json/npcs/classes.json
  data/json/npcs/npc.json
  data/json/npcs/other/TALK_NPC_APARTMENT_SURVIVOR.json
  data/json/npcs/other/TALK_NPC_CAMPER.json
  data/json/npcs/other/TALK_NPC_MOONSHINER.json
  data/json/npcs/other/TALK_NPC_PREPPER_SURVIVOR.json
  data/json/npcs/other/shelter_survivors.json
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#61153 add DURABLE_MELEE flag for powered quarterstaff and ironshod quarterstaff
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#62120 Organize NPC Chat Files
  data/json/npcs/common_chat/TALK_COMMON_ALLY.json
  data/json/npcs/common_chat/TALK_COMMON_GREET.json
  data/json/npcs/common_chat/TALK_COMMON_MISSION.json
  data/json/npcs/common_chat/TALK_COMMON_OTHER.json
  data/json/npcs/common_chat/TALK_FRIEND_CONVERSATION.json
  data/json/npcs/computers/TALK_PREPPER_1_COMPUTER.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#61058 Partially decouple disease resist from enviro protection
  data/core/tips.json
  src/character.cpp
Labels: Game: Balance, [JSON], [C++], stale, astyled, json-styled, BasicBuildPassed

#61383 Wooden forward grip for firearms
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/items/gunmod/underbarrel.json
  data/json/recipes/weapon/mods.json
  data/mods/innawood/recipes/weapon/mods.json
Labels: [JSON], Mods, Items: Gunmod / Toolmod, Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#60750 Furniture Project: Seating
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/itemgroups/stashes.json
  data/json/itemgroups/supplies.json
  data/json/items/furniture.json
  data/json/items/generic.json
  data/json/items/resources/home_improvement.json
  data/json/items/resources/wood.json
  data/json/items/tool/deployable.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/nested.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_furniture.json
  data/json/recipes/recipe_obsolete.json
  data/json/uncraft/tool/deployable.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Fields / Furniture / Terrain / Traps, Code: Tooling, astyled, json-styled

#61802 Add sand patch map extra
  data/json/mapgen/map_extras/sand.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
Labels: Game: Balance, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#60939 Use NPC-specific topic preferentially if NPC has
  src/npc.h
  src/npctalk.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59707 Eternal weather
  data/core/game_balance.json
  src/do_turn.cpp
  src/main_menu.cpp
Labels: <Enhancement / Feature>, [JSON], [C++], <Bugfix>, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#60888 tweaked soup ingredient amount/calories
  data/json/items/comestibles/soup.json
  data/json/recipes/food/canned.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed
