Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2022-07, with the labels that each got.

#58646 UI, Added color themes
  data/raw/color_themes/base_colors-dark.json
  data/raw/color_themes/base_colors-default.json
  data/raw/color_themes/base_colors-green.json
  data/raw/color_themes/base_colors-white.json
  data/raw/color_themes/base_colors_amber.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#58853 Put Mycus Skins on the right rendering layer
  data/json/mutations/mutation_ordering.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#58857 check if unload is "good" using standard call for unload zones
  src/activity_item_handling.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58856 Add menu for swapping color themes
  data/raw/keybindings.json
  src/color.cpp
  src/path_info.cpp
  src/path_info.h
Labels: Info / User Interface, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#58842 Obsolete necropolis
  data/json/npcs/refugee_center/surface_visitors/NPC_old_guard_representative.json
  data/json/obsoletion/mapgen/necropolis/necropolis.json
  data/json/obsoletion/mapgen/necropolis/necropolisB1.json
  data/json/obsoletion/mapgen/necropolis/necropolisB2.json
  data/json/obsoletion/mapgen/necropolis/necropolisB3.json
  data/json/obsoletion/mapgen_palettes/necropolis_a.json
  data/json/obsoletion/mapgen_palettes/necropolis_b1.json
  data/json/obsoletion/mapgen_palettes/necropolis_b2.json
  data/json/obsoletion/mapgen_palettes/necropolis_b3.json
  data/json/obsoletion/npcs/necropolis/NPC_Old_Guard_Captain.json
  data/json/obsoletion/npcs/necropolis/NPC_Old_Guard_Commo.json
  data/json/obsoletion/npcs/necropolis/NPC_Old_Guard_Soldier.json
  data/json/obsoletion/overmap/overmap_terrain/overmap_terrain_necropolis.json
  data/json/obsoletion/overmap_special/specials.json
  data/json/overmap/overmap_special/specials.json
Labels: NPC / Factions, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#58866 Fixes pawn shop basement
  data/json/mapgen/pawn_shop.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#58500 Add First Version of Portal Storm Dungeons
  data/json/effect_on_condition.json
  data/json/effects.json
  data/json/flags/trap.json
  data/json/items/nether.json
  data/json/mapgen/portal_storm.json
  data/json/monster_special_attacks/spells.json
  data/json/monsters/nether.json
  data/json/mutations/mutations.json
  data/json/npcs/missiondef.json
  data/json/portal_storm_effect_on_condition.json
  data/json/snippets/effect_on_conditions.json
  data/json/traps.json
  doc/JSON_FLAGS.md
  doc/MAPGEN.md
  doc/MISSIONS_JSON.md
  doc/NPCs.md
  src/activity_actor.cpp
  src/computer_session.cpp
  src/condition.cpp
  src/condition.h
  src/creature.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/dialogue.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/mapgen.h
  src/mission.h
  src/mission_util.cpp
  src/monattack.cpp
  src/monstergenerator.cpp
  src/mtype.h
  src/npctalk.cpp
  src/savegame.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/talker_furniture.cpp
  src/talker_furniture.h
  src/talker_item.cpp
  src/talker_item.h
  src/talker_monster.cpp
  src/talker_monster.h
  src/timed_event.cpp
  src/timed_event.h
  src/trapfunc.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Missions, Map / Mapgen, [C++], Monsters, [Markdown], Lore, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#58447 Add lime mortar recipe, item and construction options
  data/json/construction.json
  data/json/items/generic.json
  data/json/recipes/other/parts_construction.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#58804 Meta Progression
  data/json/achievements.json
  data/json/scenarios.json
  doc/JSON_INFO.md
  src/achievement.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/newcharacter.cpp
  src/options.cpp
  src/profession.cpp
  src/profession.h
  src/scenario.cpp
  src/scenario.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], [Markdown], Scenarios, Character / World Generation, Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#58508 Reduce usage cost of Insect Wings
  data/json/mutations/mutations.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#58883 Misc test fixes
  data/json/mapgen/nested/mine_nested.json
  tests/crafting_test.cpp
  tests/move_cost_test.cpp
Labels: [JSON], Map / Mapgen, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#58878 Fix cooked food being cosidered raw
  data/json/items/comestibles/carnivore.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#58869 Enable clang-tidy modernize-loop-convert
  .clang-tidy
  src/activity_actor.cpp
  src/bodypart.cpp
  src/cata_tiles.cpp
  src/color_loader.h
  src/dialogue_win.cpp
  src/diary.cpp
  src/item.cpp
  src/iuse.cpp
  src/map_memory.cpp
  src/mutation.cpp
  src/overmap.cpp
  src/proficiency_ui.cpp
  src/savegame_json.cpp
  src/sdl_gamepad.cpp
Labels: Info / User Interface, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed, Limbs

#58639 Allow recipes to copy activity level
  src/recipe.cpp
  src/recipe.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58890 Quick portal storm dungeon fix.
  data/json/portal_storm_effect_on_condition.json
Labels: [JSON], astyled, json-styled, EOC: Effects On Condition

#58885 Update the table of contents in doc/JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#58690 Aftershock Exosuit Power Up!
  data/mods/Aftershock/items/armor/exosuit/exosuit_modules.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Mods: Aftershock, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58861 [DinoMod] samples
  data/mods/DinoMod/harvest.json
  data/mods/DinoMod/harvest_dissect.json
  data/mods/DinoMod/items/itemgroups.json
  data/mods/DinoMod/items/mutagen_ingredients.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/recipes/medsandchemicals.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Crafting / Construction / Recipes, Monsters, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#58668 Item Description Cleanup Project - Armor and Clothing
  data/json/items/ammo/223.json
  data/json/items/ammo/357mag.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/bandolier.json
  data/json/items/armor/belts.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_legs.json
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/exotic.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/integrated.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/masks.json
  data/json/items/armor/misc.json
  data/json/items/armor/pets_dog_armor.json
  data/json/items/armor/pets_horse_armor.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/robofac_armor.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/generic/bedding.json
Labels: [JSON], Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58722 even more tweaking the MAGIC.md
  doc/MAGIC.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#58882 [DinoMod] acid dinos
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: [JSON], Mods, Spawn, Monsters, Mods: Dinomod, json-styled, BasicBuildPassed

#58908 Remove more auto types
  src/debug_menu.cpp
  src/timed_event.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58909 Dinomod NPC trait group fix
  data/mods/DinoMod/NPC/trait_groups.json
Labels: [JSON], Mods, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#58902 Survive a season to unlock Ambush and The Next Summer
  data/json/scenarios.json
Labels: Game: Balance, [JSON], Scenarios, json-styled, BasicBuildPassed

#58894 Define special_forest_thick as a forest tile
  data/json/regional_map_settings.json
  data/mods/No_Hope/regional_map_settings.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#58896 remove day one shockers from open sewer
  data/json/mapgen/cs_open_sewer_small.json
Labels: Game: Balance, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#58859 flag bottom of mine as a challenge
  data/json/scenarios.json
Labels: [JSON], Scenarios, astyled, json-styled, BasicBuildPassed

#58886 ci: colored diff output
  .github/workflows/astyle.yml
  .github/workflows/json.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#58906 Label various style files with the style label
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled

#58845 Minor missile silo overhaul
  data/json/mapgen/missile_silo.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#58889 Cyborg Weakpoint set
  data/json/monster_weakpoints/cyborg_weakpoints.json
  data/json/monsters/cyborgs.json
  data/json/proficiencies/weakpoints.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#56566 Implement an artifact-giving EOC to reward those who face the portal storms
  data/json/itemgroups/portal_storm_loot.json
  data/json/monster_special_attacks/spells.json
  data/json/monsters/nether.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
  data/json/portal_storm_effect_on_condition.json
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], Spawn, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#58672 Aluminum scrap
  data/json/items/resources/metal.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#58841 Aftershock Exosuit Helmet Update
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58751 Add arthropod weakpoints
  data/json/effects.json
  data/json/monster_weakpoints/arthropod_weakpoints.json
  data/json/monsters/insect_spider.json
  data/json/proficiencies/weakpoints.json
  data/mods/TropiCataclysm/monsters/tropical_fungus.json
  data/mods/TropiCataclysm/monsters/tropical_insect_spider.json
  doc/EFFECTS_JSON.md
  doc/JSON_FLAGS.md
  doc/MAGIC.md
  doc/MONSTER_SPECIAL_ATTACKS.md
  src/creature.cpp
  src/mattack_actors.cpp
  src/mattack_actors.h
  src/monster.cpp
Labels: <Documentation>, Game: Balance, [JSON], Mods, [C++], Monsters, [Markdown], Melee, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#58900 Palettize farm_2side house
  data/json/mapgen/farm_2side.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#58919 Edible cooked artichokes
  data/json/items/comestibles/veggy_dishes.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#58912 [DinoMod] The PR that gives CBMs to tyrannosaurus
  data/mods/DinoMod/harvest_dissect.json
  data/mods/DinoMod/items/itemgroups.json
  data/mods/DinoMod/mapgen/microlab_DinoLab.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
Labels: Game: Balance, [JSON], Mods, Map / Mapgen, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#58920 Revert changes to plate arm and leg descriptions
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58862 Main menu overhaul (Part 2): simplify world creation
  data/core/world_option_sliders.json
  data/mods/TEST_DATA/option_sliders.json
  data/raw/keybindings.json
  doc/JSON_INFO.md
  lang/string_extractor/parser.py
  lang/string_extractor/parsers/option_slider.py
  src/init.cpp
  src/options.cpp
  src/options.h
  src/string_id_null_ids.cpp
  src/type_id.h
  src/worldfactory.cpp
  src/worldfactory.h
  tests/options_test.cpp
Labels: <Documentation>, Translation, [JSON], Code: Tests, [C++], [Markdown], Character / World Generation, [Python], astyled, json-styled

#58867 Made Mutation Instability more visible
  data/json/effects.json
  data/json/vitamin.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#58903 Audit of pistol spawns
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: Game: Balance, [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#58907 Plastic Padding material, buffed touring suit, completely reworked motorcycle armor.
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/materials.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58918 Turpentine and Camphine v2
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/harvest.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/supplies.json
  data/json/items/ammo_types.json
  data/json/items/chemicals_and_resources.json
  data/json/items/fuel.json
  data/json/materials.json
  data/json/recipes/recipe_medsandchemicals.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Code: Tooling, astyled, json-styled, BasicBuildPassed

#58922 Fix multiline widgets using W_NO_PADDING flag
  src/widget.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58913 All corpse items nest if possible
  src/monster.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58942 Correct a width off-by-one error in world creator
  src/worldfactory.cpp
Labels: [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#58950 Update intensity of instability effect
  data/json/effects.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#58949 Display airliner basement properly and not as solid rock
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#58952 Routine Tileset updates on 03 July 2022
  gfx/Altica/large.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled

#58937 Update HP and armor on #56566
  data/json/monsters/nether.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#58247 Add a basic implementation of the Hub Ancilla Fortress and bar
  data/json/furniture_and_terrain/terrain-traps.json
  data/json/mapgen/robofachq_static.json
  data/json/mapgen/robofaq_locs/EOC_robofac_hq_updater.json
  data/json/mapgen/robofaq_locs/ancillia_bar_updater.json
  data/json/mapgen/robofaq_locs/robofac_hq_chunks.json
  data/json/npcs/factions.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_anchor_seller.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_gunrunner.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_hireable.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_human_sample.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_keycard_seller.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_template_seller.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/NPC_BEMS.json
  data/json/npcs/robofac/robofac_ancilla_npcs/NC_ANCILLA_GRUNT.json
  data/json/npcs/robofac/robofac_ancilla_npcs/NPC_ANCILLA_BARKEEP.json
  data/json/npcs/robofac/robofac_ancilla_npcs/NPC_ANCILLA_HQ_GUARD.json
  src/npctalk.cpp
Labels: NPC / Factions, [JSON], Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#58935 Remove `HAMMER` use action from items
  data/json/item_actions.json
  data/json/items/fake.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool/firefighting.json
  data/json/items/tool/workshop.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/TEST_DATA/items.json
Labels: Info / User Interface, [JSON], Code: Tests, Items / Item Actions / Item Qualities, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#58831 Revamp remove_field_fd_fatigue test
  tests/magic_spell_effect_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#57880 gh-pages: lore-background.md: Typo and sentence fixes
  lore-background.md
Labels: Organization: Sites, [Markdown]

#58777 Leg mutation for birds.
  data/json/mutations/mutation_spells.json
  data/json/mutations/mutations.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58953 Fix UBSan runtime error
  src/options.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58936 Sawed off stocks
  data/json/flags.json
  data/json/item_actions.json
  data/json/items/gun/shot.json
  data/json/items/gunmod/stock.json
  data/json/tool_qualities.json
  src/flag.cpp
  src/flag.h
  src/game_inventory.cpp
  src/game_inventory.h
  src/item.cpp
  src/item_factory.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  tests/item_pocket_test.cpp
Labels: <Enhancement / Feature>, [JSON], Code: Tests, [C++], Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed

#58977 Don't manually load 'id' member for traits
  src/mutation_data.cpp
Labels: [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled

#58978 Show hobby traits for every hobby, not just first
  src/newcharacter.cpp
Labels: [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#58975 Fix typo in diary.cpp
  src/diary.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58976 cata_tiles: More robust variant looks-like
  src/cata_tiles.cpp
Labels: SDL: Tiles / Sound, [C++], astyled, json-styled, BasicBuildPassed

#58932 [DinoMod] allosaurus truck and hulk evolutions
  data/mods/DinoMod/monster_attacks.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, Monsters, <Bugfix>, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#58773 Improve item filter help of zone manager and surrounding items menu
  src/clzones.cpp
  src/game.cpp
  src/output.cpp
  src/output.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#58964 mapgen: don't clean up main when shifting
  src/map.cpp
  src/map.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58947 No Hope maintenance
  data/mods/No_Hope/Mapgen/arcade.json
  data/mods/No_Hope/Mapgen/bike_shop.json
  data/mods/No_Hope/Mapgen/cs_car_dealership.json
  data/mods/No_Hope/Mapgen/cs_car_showroom.json
  data/mods/No_Hope/Mapgen/freshwater_research_station.json
  data/mods/No_Hope/Mapgen/helipad.json
  data/mods/No_Hope/Mapgen/homeimprovement_superstore_new.json
  data/mods/No_Hope/Mapgen/house_inner_garden.json
  data/mods/No_Hope/Mapgen/irradiator_1.json
  data/mods/No_Hope/Mapgen/junkyard.json
  data/mods/No_Hope/Mapgen/lumbermill.json
  data/mods/No_Hope/Mapgen/mall_ground.json
  data/mods/No_Hope/Mapgen/mall_second_floor.json
  data/mods/No_Hope/Mapgen/mansion.json
  data/mods/No_Hope/Mapgen/mine_entrance.json
  data/mods/No_Hope/Mapgen/motel.json
  data/mods/No_Hope/Mapgen/nested/retail_nested.json
  data/mods/No_Hope/Mapgen/office_cubical.json
  data/mods/No_Hope/Mapgen/private_resort.json
  data/mods/No_Hope/Mapgen/restaurant.json
  data/mods/No_Hope/Mapgen/s_camping.json
  data/mods/No_Hope/Mapgen/s_cardealer.json
  data/mods/No_Hope/Mapgen/s_lightindustry.json
  data/mods/No_Hope/Mapgen/s_lightindustry_scen.json
  data/mods/No_Hope/Mapgen/storage_units_large.json
  data/mods/No_Hope/Mapgen/urban_35_hospital.json
  data/mods/No_Hope/README.md
  data/mods/No_Hope/modinfo.json
  data/mods/No_Hope/overmap_specials.json
  data/mods/No_Hope/palettes.json
  data/mods/No_Hope/regional_map_settings.json
  data/mods/No_Hope/terrain.json
Labels: <Documentation>, Game: Balance, [JSON], Mods, Map / Mapgen, [Markdown], Items: Containers, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#58939 Don't reveal monster name on its bite and throw attacks if you don't see it
  src/mattack_actors.cpp
Labels: Info / User Interface, [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#58941 Fix compose.py for Iso tilesets
  tools/gfx_tools/compose.py
Labels: Code: Infrastructure / Style / Static Analysis, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#58748 Health bound test
  data/json/disease.json
  data/json/items/biosignatures.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/raw_veggy.json
  data/mods/TEST_DATA/items.json
  tests/comestible_test.cpp
Labels: [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#58901 Enable clang-tidy check readability-qualified-auto check
  .clang-tidy
  src/character.cpp
  src/clzones.cpp
  src/consumption.cpp
  src/display.cpp
  src/effect.cpp
  src/faction_camp.cpp
  src/game_inventory.cpp
  src/inventory.cpp
  src/magic_ter_fur_transform.cpp
  src/map_iterator.h
  src/mapgen.cpp
  src/martialarts.cpp
  src/rng.h
  src/savegame_json.cpp
  src/uistate.h
Labels: Info / User Interface, [C++], Code: Infrastructure / Style / Static Analysis, Player Faction Base / Camp, Martial Arts, astyled, json-styled, BasicBuildPassed

#58898 Enable clang-tidy bugprone-redundant-branch-condition
  .clang-tidy
  src/creature.cpp
  src/pathfinding.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#58916 feat: auto astyle-json corrections as reviews
  .github/workflows/astyle.yml
  .github/workflows/json.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#58929 Untemplate JSON (de)serialization functions
  src/bodypart.cpp
  src/bodypart.h
  src/common_types.h
  src/omdata.h
  src/pimpl.h
  src/uistate.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed, Limbs

#58911 Use correct cmake variable for prefix.h.in
  src/prefix.h.in
Labels: astyled, json-styled, BasicBuildPassed

#58854 Object creator loads mods
  object_creator/creator_main.cpp
  object_creator/creator_main_window.cpp
  object_creator/spell_window.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58897 Sidebar for languages with long words
  data/json/ui/sidebar-legacy-one-padding.json
Labels: Info / User Interface, Translation, [JSON], astyled, json-styled, BasicBuildPassed

#58971 Remove stimulant psychosis from SPIDER
  data/json/mutations/mutations.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#58981 Food updates
  data/json/items/comestibles/nuts.json
  data/json/recipes/food/canned.json
  data/json/recipes/recipe_food.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#58987 Portal storm dungeon fix
  src/savegame.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58970 [DinoMod] building with dino dung
  data/json/construction.json
  data/json/requirements/materials.json
  data/mods/DinoMod/recipes/parts_construction.json
  data/mods/DinoMod/requirements/cooking_components.json
  data/mods/DinoMod/requirements/materials.json
  doc/MODDING.md
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, [Markdown], Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#58997 Fix typo in nights/indoors attribution
  src/sdlsound.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58989 [DinoMod] saurornitholestes
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/mapgen/map_extras/nest_saurornitholestes.json
  data/mods/DinoMod/monster_factions.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/lab.json
  data/mods/DinoMod/monstergroups/misc.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/recipes/medsandchemicals.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/requirements/cooking_components.json
  data/mods/DinoMod/scenarios.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Monsters, Scenarios, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#59007 differentiate dishwasher variants
  data/json/items/vehicle/utilities.json
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], Vehicles, astyled, json-styled, BasicBuildPassed

#59004 Update plastic sheet mission
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
Labels: NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed

#58983 Sundial widget
  data/json/ui/hp.json
  data/json/ui/sidebar-legacy-classic.json
  data/json/ui/sidebar-legacy-compact.json
  data/json/ui/sidebar-legacy-labels-narrow.json
  data/json/ui/sidebar-legacy-labels.json
  data/json/ui/sidebar-thick.json
  data/json/ui/time.json
  data/mods/TEST_DATA/widgets.json
  doc/WIDGETS.md
  src/display.cpp
  src/display.h
  src/widget.cpp
  src/widget.h
  tests/widget_test.cpp
Labels: <Documentation>, Info / User Interface, [JSON], Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#58998 Remove NeoDays support from "sees_player_retro" mod
  data/mods/sees_player_retro/mod_tileset.json
  data/mods/sees_player_retro/modinfo.json
Labels: [JSON], Mods, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#58775 CR Aftershock Exosuit Ranged Weapons
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_ranged.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_spells.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Mods: Aftershock, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58873 Aftershock: Jet packs
  data/json/flags.json
  data/mods/Aftershock/effects.json
  data/mods/Aftershock/itemgroups/tool_groups.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_modules.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_spells.json
  data/mods/Aftershock/items/armor/jetpacks.json
  data/mods/Aftershock/items/containers.json
  data/mods/Aftershock/player/professions.json
  data/mods/Aftershock/spells/jetpack_spells.json
  doc/MAGIC.md
  src/character.cpp
  src/character.h
  src/do_turn.cpp
  src/game.cpp
  src/magic.cpp
  src/magic.h
  src/trapfunc.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58914 Nested Cop Zombie Item Spawns
  data/json/itemgroups/Weapons_Mods_Ammo/field_drops.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/stashes.json
  data/json/itemgroups/tools.json
  data/json/items/containers.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsters/zed-classic.json
  data/json/vehicles/emergency.json
Labels: [JSON], Spawn, Monsters, Items: Containers, astyled, json-styled, BasicBuildPassed

#59012 [DinoMod] lizard DNA
  data/mods/DinoMod/harvest_dissect.json
  data/mods/DinoMod/monsters/dinosaur.json
Labels: [JSON], Mods, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#59018 Add some more looks_like to terrain and furniture
  data/json/furniture_and_terrain/furniture-eggs.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: [JSON], SDL: Tiles / Sound, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#59008 reduce chance for a nickname in name generation
  src/name.cpp
Labels: [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#58992 More portal storm dungeons bug fixes
  data/json/effect_on_condition.json
  data/json/portal_storm_effect_on_condition.json
  data/json/traps.json
  doc/JSON_FLAGS.md
  doc/NPCs.md
  src/map.cpp
  src/npctalk.cpp
  src/teleport.cpp
  src/teleport.h
Labels: <Documentation>, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#58990 Allow full manual control of the alignment of sidebar widgets.
  doc/WIDGETS.md
  src/widget.cpp
Labels: <Documentation>, Info / User Interface, [JSON], Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#58985 Add extra nightmares
  data/json/snippets/nightmares.json
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed

#58986 Updated recipe for Duct Tape for innawoods
  data/mods/innawood/recipes/recipe_others.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#58984 Fix collapse/expand reflow
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#58982 Enable clang-tidy check misc-misplaced-const
  .clang-tidy
  src/game.cpp
  src/game.h
  src/main_menu.cpp
  src/mod_manager.cpp
  src/mod_manager.h
  src/worldfactory.cpp
  src/worldfactory.h
  tests/test_main.cpp
Labels: Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, Character / World Generation, astyled, json-styled, BasicBuildPassed

#58980 magiclysm: fix everburning torch flags
  data/mods/Magiclysm/items/enchanted_misc.json
Labels: [JSON], Mods, Mods: Magiclysm, Code: Tooling, astyled, json-styled, BasicBuildPassed

#58973 volume changes and encumber mordernize for police belt
  data/json/items/armor/belts.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#58965 Recalculate starting position and handle mouse when filtering in uilist
  src/ui.cpp
  src/ui.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#58930 Boiled potatoes
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#58915 Modding with wielded mod no longer crashes
  src/character_guns.cpp
  src/crafting.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#58840 iexamine: rework elevator
  src/iexamine.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#58816 vehicle: fix and simplify handle_potential_theft
  src/vehicle.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#58830 [Megafauna] Various monstergroup + miscellaneous changes
  data/mods/Megafauna/modinfo.json
  data/mods/Megafauna/monstergroups/misc.json
  data/mods/Megafauna/monstergroups/wilderness.json
  data/mods/Megafauna/monsters/fauna_blacklist.json
  data/mods/Megafauna/monsters/megafauna.json
  data/mods/Megafauna/monsters/mf_domestic.json
  data/mods/Megafauna/monsters/mf_predators.json
  data/mods/Megafauna/monsters/mf_wild.json
  data/mods/Megafauna/readme.md
Labels: <Documentation>, [JSON], Mods, Spawn, Monsters, [Markdown], astyled, json-styled, BasicBuildPassed

#58796 Water dispenser now has finite amount of clean water
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/mapgen/hazardous_waste_sarcophagus.json
  data/json/mapgen/mine/mine_entrance.json
  data/json/mapgen/missile_silo.json
  data/json/mapgen/robofachq_static.json
  data/json/mapgen/tutorial.json
  data/json/mapgen_palettes/basement.json
  data/mods/Aftershock/maps/mapgen/millyficent_lab.json
  data/mods/No_Hope/Mapgen/mine_entrance.json
  data/mods/No_Hope/Mapgen/missile_silo.json
  src/iexamine.cpp
  src/iexamine.h
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, [C++], <Bugfix>, [Markdown], Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#58785 Prompt for dispose of wielded two-handed item before trying to climb up
  src/game.cpp
  src/iexamine.cpp
Labels: Info / User Interface, [C++], Fields / Furniture / Terrain / Traps, Mechanics: Character / Player, Quality of Life, astyled, json-styled, BasicBuildPassed

#59009 Clarify what different consumption keybinds do
  data/raw/keybindings.json
Labels: Info / User Interface, [JSON], Controls / Input, astyled, json-styled, BasicBuildPassed

#58741 Added easy deconstruction of furniture appliances
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-recreation.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#58693 Item Description Cleanup Project - Books
  data/json/items/book/chemistry.json
  data/json/items/book/cooking.json
  data/json/items/book/fabrication.json
  data/json/items/book/martial.json
  data/json/items/book/misc.json
  data/json/items/book/nonfiction.json
  data/json/items/book/speech.json
  data/json/items/book/spiritual.json
  data/json/items/book/survival.json
  data/json/items/book/young.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#58669 Add cosmetic variants for mutations
  data/json/mutations/migration.json
  data/json/mutations/mutation_appearance.json
  data/json/npcs/appearance_trait_groups.json
  data/json/npcs/random_encounters/john_bailey.json
  data/json/npcs/robofac/NPC_Cranberry_Foster.json
  data/raw/keybindings.json
  doc/JSON_INFO.md
  doc/TILESET.md
  lang/string_extractor/parser.py
  src/avatar.cpp
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/debug_menu.cpp
  src/diary.cpp
  src/diary.h
  src/handle_action.cpp
  src/iexamine.cpp
  src/init.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/memorial_logger.cpp
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/mutation_type.cpp
  src/mutation_ui.cpp
  src/newcharacter.cpp
  src/npc.cpp
  src/npctalk_funcs.cpp
  src/player_display.cpp
  src/profession.cpp
  src/profession.h
  src/savegame_json.cpp
  src/scenario.cpp
  src/suffer.cpp
  src/trait_group.cpp
  src/trait_group.h
  src/wish.cpp
Labels: <Documentation>, NPC / Factions, Info / User Interface, Translation, [JSON], Bionics, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], Scenarios, Character / World Generation, [Python], astyled, json-styled, BasicBuildPassed, 0.G Feature Freeze

#58749 Hard Hat attachments retry
  data/json/flags.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/activities_hobbies.json
  data/json/items/armor/hats.json
  data/json/items/armor/head_attachments.json
  data/json/items/armor/helmets.json
  data/json/items/tool_armor.json
  data/json/recipes/armor/head.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#59017 Make salt spawn in more houses
  data/json/itemgroups/SUS/domestic.json
  data/json/mapgen/daycare.json
  data/json/mapgen/nested/house_nested.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/restaurant_palette.json
Labels: Game: Balance, [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed

#59043 Remove unnecessary spacer from compact sidebar
  data/json/ui/sidebar-legacy-compact.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#59040 Enable clang-tidy static analyzer checks
  .clang-tidy
  src/activity_item_handling.cpp
  src/character.cpp
  src/color.cpp
  src/editmap.cpp
  src/game.cpp
  src/magic_spell_effect.cpp
  src/string_editor_window.cpp
  src/translation.cpp
  src/weakpoint.cpp
  tools/clang-tidy-plugin/StaticStringIdConstantsCheck.cpp
  tools/clang-tidy-plugin/UseNamedPointConstantsCheck.cpp
Labels: Translation, [C++], Code: Infrastructure / Style / Static Analysis, Code: Tooling, astyled, json-styled, BasicBuildPassed

#59036 Fixed not being able to climb up fences and downspouts
  src/game.cpp
  src/iexamine.cpp
Labels: [C++], <Bugfix>, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#59034 Clarify what "disabled" keybindings are
  src/input.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#59027 [DinoMod] aquilops
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/mapgen/map_extras/nest_aquilops.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/lab.json
  data/mods/DinoMod/monstergroups/misc.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/requirements/cooking_components.json
  tools/spell_checker/dictionary.txt
Labels: Game: Balance, [JSON], Mods, Map / Mapgen, Spawn, Monsters, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#59031 Update newspapers.json
  data/json/snippets/newspapers.json
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed

#58917 Enable category toggle in pickup selectors
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#59055 Align fatigue level comparisons for UI and effects
  data/json/ui/fatigue.json
  src/display.cpp
Labels: Info / User Interface, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59039 Enable clang-tidy check modernize-use-override
  .clang-tidy
  src/avatar.h
  src/ui.h
  tools/clang-tidy-plugin/TranslatorCommentsCheck.h
Labels: Info / User Interface, [C++], Code: Infrastructure / Style / Static Analysis, Code: Tooling, astyled, json-styled

#59013 Remove salt water from broth
  data/json/requirements/cooking_components.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#58832 Re-implement chance of good and bad mutations based on instability
  data/mods/TEST_DATA/mutations.json
  src/character.h
  src/consumption.cpp
  src/iexamine.cpp
  src/mutation.cpp
  tests/mutation_test.cpp
Labels: [JSON], Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59006 [innawood] make leather journals able to track calories
  data/mods/innawood/items/misc.json
Labels: <Enhancement / Feature>, [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#59011 Farm update
  data/json/mapgen/farm.json
  data/json/mapgen/isherwood_farms/farm_isherwood.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#59025 Fire lookout tower revamp
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_beds.json
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_common.json
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_log.json
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_metal.json
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_migo_resin.json
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_rammed_earth.json
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_rock.json
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_wad.json
  data/json/mapgen/basecamps/base/fbmc_fire_lookout_tower/fbmc_fire_lookout_tower_wood.json
  data/json/mapgen/ws_fire_lookout_tower.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_beds.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_common.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_log.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_metal.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_migo_resin.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_rammed_earth.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_rock.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_wad.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_wood.json
  data/mods/No_Hope/Mapgen/ws_fire_lookout_tower.json
Labels: [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#59072 Fix various mapgen out of bounds placements
  src/map_extras.cpp
  src/mapgen.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59073 Fix mutant butchery producing normal products
  data/json/harvest.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59082 Translate mutation variants
  lang/string_extractor/parsers/mutation.py
Labels: Translation, <Bugfix>, [Python], astyled, json-styled, BasicBuildPassed

#59083 Fix gcc 12.1 compile errors
  src/sdl_font.cpp
Labels: Code: Build, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59052 Lower difficulty of cream recipes to 3
  data/json/recipes/food/dairy_products.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#59094 Only check health of comestibles from 'dda'
  tests/comestible_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#59107 Fix crashes caused by #58666
  src/advanced_inv_pane.cpp
  src/melee.cpp
Labels: (P2 - High), [C++], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#59108 Fix clang-tidy plugin compile errors with LLVM 14
  tools/clang-tidy-plugin/AssertCheck.cpp
  tools/clang-tidy-plugin/HeaderGuardCheck.cpp
Labels: [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#59103 Remove unnecessary check in aiming code
  src/character.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#59101 Replaced holster with western holster as a reward from Old Guard rep
  data/json/npcs/refugee_center/surface_visitors/NPC_old_guard_representative.json
Labels: NPC / Factions, [JSON], Missions, <Bugfix>, astyled, json-styled

#59090 Prevent .38 Super from spawning as on-hand ammo for normal .38 guns.
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#59120 Tt→It
  data/json/items/armor/exotic.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#59100 Butt hooks are impossible to attach to guns with sawn-off stocks
  src/item.cpp
Labels: <Documentation>, [JSON], Items: Gunmod / Toolmod, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#59091 Fix USC carbine minimum recoil to cycle
  data/json/items/gun/45.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#59156 Reduce flakiness of monster throwing sanity test
  tests/monster_attack_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#59099 Collapsible mop can be used in auto-mop
  data/json/flags.json
  data/json/items/tool/toiletries.json
  doc/JSON_FLAGS.md
  src/activity_item_handling.cpp
  src/handle_action.cpp
Labels: <Documentation>, [JSON], Inventory / AIM / Zones, [C++], Items / Item Actions / Item Qualities, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#59154 Use monster groups for pet store spawns and wilderness cat spawns
  data/json/mapgen/petstore.json
  data/json/monstergroups/mammal.json
  data/json/monstergroups/wilderness.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed

#59151 Routine Tileset updates on 10 July 2022
  gfx/Altica/tile_config.json
  gfx/BrownLikeBears/tile_config.json
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/tile_config.json
  gfx/HollowMoon/tile_config.json
  gfx/Larwick_Overmap/overmap.png
  gfx/Larwick_Overmap/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/SurveyorsMap/tile_config.json
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#59148 Install signal handler for SIGBUS
  src/crash.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#59134 Update credits translations
  data/credits/cs.credits
  data/credits/de.credits
  data/credits/el.credits
  data/credits/es_AR.credits
  data/credits/es_ES.credits
  data/credits/fil_PH.credits
  data/credits/fr.credits
  data/credits/hu.credits
  data/credits/it_IT.credits
  data/credits/ja.credits
  data/credits/ko.credits
  data/credits/nb.credits
  data/credits/pl.credits
  data/credits/pt_BR.credits
  data/credits/ru.credits
  data/credits/tr.credits
  data/credits/uk_UA.credits
  data/credits/zh_CN.credits
  data/credits/zh_TW.credits
Labels: Translation, astyled, json-styled, BasicBuildPassed

#59137 [DinoMod] dryosaurus
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/mapgen/map_extras/nest_dryosaurus.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/lab.json
  data/mods/DinoMod/monstergroups/misc.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/requirements/cooking_components.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Mods: Dinomod, Code: Tooling, astyled, json-styled, BasicBuildPassed

#59133 Fix compile error on Android due to change in Character::get_wielded_item()
  src/sdltiles.cpp
Labels: (P2 - High), Code: Build, [C++], <Bugfix>, OS: Android, astyled, json-styled, BasicBuildPassed
