Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-07, with the labels that each got.

#66550 Update basecamp fake char kiln's ammo restriction
  data/json/items/basecamp.json
Labels: [JSON], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#66558 Partially reduce coverage of gambesons
  data/json/items/armor/gambesons.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66562 [Xedra Evolved] did you know dreamsmith was broken? neither did i
  data/mods/Xedra_Evolved/spells/dreamsmithing.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Xedra Evolved

#66557 Increase world spawns of welding consumables
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/SUS/garage.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/items/ammo/weldgas.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_goods.json
Labels: Game: Balance, [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#66482 Camps display required calories for crafting and building upgrades
  src/faction_camp.cpp
Labels: [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#66548 Fish size cleanup
  data/json/monsters/fish.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66556 Add autopilot test
  src/vehicle_move.cpp
  tests/vehicle_test.cpp
Labels: Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#66429 Counter gate move cost
  data/json/furniture_and_terrain/furniture-surfaces.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66554 [Alternative Map Key] Building alternatives now show correctly on the map
  data/mods/alt_map_key/overmap_terrain.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66536 Typos
  data/json/monster_special_attacks/monster_attacks.json
  data/json/mutations/mutations.json
  data/json/recipes/nested.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66248 Avoid potential execution of assert conditions in release builds
  src/cata_assert.h
  src/catacharset.cpp
  src/overmap.cpp
Labels: Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#66470 palettized workshop 1
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_common.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_construction.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_log.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_metal.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_palettes.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_rock.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_wad.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_wood.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_construction.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_log.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_metal.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_migo_resin.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_rammed_earth.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_rock.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_wad.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_wood.json
  data/mods/Aftershock/recipes/basecamps/recipe_overwrites.json
Labels: [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Mods: Aftershock, astyled, BasicBuildPassed

#66551 Active backup generator ---> Functional generator appliance, useable in player grids
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/itemgroups/Locations_MapExtras/airdrop.json
  data/json/items/appliances.json
  data/json/recipes/recipe_appliance.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#65942 Digitigrade mutation
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed

#63701 Change single Talmud to multiple volumes of English Talmud Yerushalmi
  data/json/items/book/spiritual.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66573 Meatball in the spaghetti
  data/json/recipes/food/pasta.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66582 Fix misplaced NOT in game::walk_move
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66578 Add missing buildings to Alternative Map Key
  data/mods/alt_map_key/overmap_terrain.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66572 Makes founders’ leg bags much, much, much rarer.
  data/json/items/armor/hats.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/storage.json
  data/json/items/armor/undergarment.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66569 added flesh property to snail_garden
  data/json/items/comestibles/other.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#66552 Couple of nest related test fail fixes
  data/json/mapgen/lab/lab_modular/lab_1x1_security.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_security.json
  data/json/mapgen/mobile_home_park/mobile_home_nested.json
  data/json/mapgen/nested/house_nested.json
Labels: [JSON], Map / Mapgen, astyled, json-styled

#66499 Unhardcode "crater", improve appearance of mutable craters
  data/json/mapgen/crater.json
  data/json/mapgen/map_extras/crater.json
  data/json/overmap/overmap_mutable/crater.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/special_locations.json
  data/mods/innawood/mapgen/crater.json
  doc/JSON_FLAGS.md
  doc/OVERMAP.md
  src/computer_session.cpp
  src/mapgen_functions.cpp
  src/mapgen_functions.h
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#66580 Rebreather recipe fixes
  data/json/items/magazine/filter.json
  data/json/recipes/armor/other.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#65424 Turret Weakpoints & Review
  data/json/monster_weakpoints/turret_weakpoints.json
  data/json/monsters/turrets.json
Labels: [JSON], Monsters, astyled, json-styled

#66544 Park benches in parks!? More likely than you may think!
  data/json/mapgen/park.json
  data/json/mapgen_palettes/park_palette.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#66570 Don't report monsters breaking free from unknown grabbers if the play…
  src/monster.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66571 Fix endless teapot error
  data/mods/Magiclysm/items/enchanted_misc.json
  doc/JSON_INFO.md
Labels: <Documentation>, [JSON], Mods, <Bugfix>, [Markdown], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#66574 palettized fbmc radio tower
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_beds.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_common.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_construction.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_log.json
  data/json/mapgen/basecamps/fbmc_modular_shack.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_beds.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_construction.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_log.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_metal.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_migo_resin.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_rammed_earth.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_rock.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_wad.json
  data/json/recipes/basecamps/base/fbmc_radio_tower/recipe_modular_radio_tower_wood.json
Labels: [JSON], Map / Mapgen, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66575 Add ability to cull more farmed/bred animals
  data/json/monsters/bird.json
  data/json/monsters/mammal.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#66601 Create new lable for Mind Over Matter mod
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#66602 Zombie runners can't climb stairs now
  data/json/monsters/zed_misc.json
Labels: Game: Balance, [JSON], Monsters, astyled, json-styled

#66603 [Bombastic Perks] Fix for perk_olde_guns
  data/mods/BombasticPerks/perkmenu.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Bombastic Perks

#66540 Binders! (the trans kind)
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/undergarment.json
  data/json/recipes/armor/torso.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66588 A bunch of random item reworks: 7
  data/json/items/generic/bedding.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/tool/toiletries.json
  data/json/recipes/recipe_deconstruction.json
  data/json/uncraft/generic.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66591 Lessens chance to fall on school start
  data/json/mapgen/school_1.json
  data/json/obsoletion/migration_oter_ids.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
  data/json/start_locations.json
  data/mods/No_Hope/Mapgen/school_1.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, Scenarios, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#66584 Motel changes
  data/json/mapgen/motel.json
  data/json/obsoletion/migration_oter_ids.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/mods/No_Hope/Mapgen/motel.json
  data/mods/alt_map_key/overmap_terrain.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#66605 Further accessories obsoletion
  data/json/items/gun/223.json
  data/json/items/gun/300.json
  data/json/items/gun/3006.json
  data/json/items/gun/303.json
  data/json/items/gun/338lapua.json
  data/json/items/gun/450bushmaster.json
  data/json/items/gun/762.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66595 Add ability to make slime globs into slime samples
  data/json/items/tool/science.json
  data/json/recipes/chem/mutagens.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66449 EOC Run Until
  data/mods/TEST_DATA/EOC.json
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
  src/dialogue_helpers.h
  src/npctalk.cpp
  tests/eoc_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#66617 Add Standing-Storm to Mind over Matter notification list
  .github/reviewers.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#66610 Crater core migration
  data/json/obsoletion/migration_oter_ids.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66530 Add lore information on the New England Church Community into the design document
  data/json/npcs/godco/NECC_INFO.md
  doc/Lore/lore-factions.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#66592 This should add hm-12 to robofac trades
  data/json/itemgroups/Locations_MapExtras/robofac_trade.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
Labels: [JSON], Spawn, astyled, json-styled

#66615 palettized firestation1
  data/json/mapgen/basecamps/base/modular_firestation_1/modular_firestation1.json
  data/json/mapgen/basecamps/base/modular_firestation_1/modular_firestation_walls_all.json
  data/json/recipes/basecamps/base/recipe_modular_firestation_1/recipe_modular_firestation1.json
  data/json/recipes/basecamps/base/recipe_modular_firestation_1/recipe_modular_firestation_walls_all.json
Labels: [JSON], Map / Mapgen, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66611 Make lanterns plug-in-able
  data/json/items/tool/lighting.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66457 Various Down Bed Fixes
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-sleep.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66624 Make arc welder and co able to plug
  data/json/items/tool/workshop.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66622 mom: remove invalid spell id reference
  data/mods/MindOverMatter/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66527 Made Slingshot more Tacticool
  data/json/items/gunmod/mount.json
  data/json/items/gunmod/stock.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/ranged/slings.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66626 Routine tileset updates on 02 July 2023
  gfx/Altica/normal.png
  gfx/Altica/tile_config.json
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/iso_flat.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#66520 Some more nightmares
  data/json/snippets/nightmares.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66612 [Mom] Change Telekinesis +10% weight passive into Telekinesis lifting field (try 2)
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/effectoncondition/eoc_matrix_awakening.json
  data/mods/MindOverMatter/effectoncondition/eoc_mutations.json
  data/mods/MindOverMatter/effectoncondition/eoc_portal_awakening.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/mutations/psi_passives.json
  data/mods/MindOverMatter/obsolete/obsolete.json
  data/mods/MindOverMatter/professions.json
  data/mods/MindOverMatter/recipes/power_improvements.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66508 Bastion fort fallback_predecessor, palette tweaks, tourist and closed variants
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/mapgen/fort.json
  data/json/mapgen_palettes/fort_palette.json
  data/json/monstergroups/zombies.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/start_locations.json
  src/mapgen.cpp
Labels: [JSON], Map / Mapgen, Spawn, [C++], Fields / Furniture / Terrain / Traps, Scenarios, astyled, json-styled, BasicBuildPassed

#66458 fix for first hub mission & more gear for Dr.Prado
  data/json/npcs/robofac/NC_ROBOFAC_SCIENTIST.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_missions.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#66633 palettized modular shelter
  data/json/mapgen/basecamps/base/modular_shelter/modular_shelter_common.json
  data/json/mapgen/basecamps/base/modular_shelter/modular_shelter_construction.json
  data/json/mapgen/basecamps/base/modular_shelter/modular_shelter_log.json
  data/json/mapgen/basecamps/base/modular_shelter/modular_shelter_rock.json
  data/json/mapgen/basecamps/base/modular_shelter/modular_shelter_standard.json
  data/json/mapgen/basecamps/base/modular_shelter/modular_shelter_wad.json
  data/json/mapgen/basecamps/base/modular_shelter/modular_shelter_wood.json
  data/json/recipes/basecamps/base/recipe_modular_shelter/recipe_modular_shelter_common.json
  data/json/recipes/basecamps/base/recipe_modular_shelter/recipe_modular_shelter_construction.json
  data/json/recipes/basecamps/base/recipe_modular_shelter/recipe_modular_shelter_log.json
  data/json/recipes/basecamps/base/recipe_modular_shelter/recipe_modular_shelter_rock.json
  data/json/recipes/basecamps/base/recipe_modular_shelter/recipe_modular_shelter_wad.json
  data/json/recipes/basecamps/base/recipe_modular_shelter/recipe_modular_shelter_wood.json
Labels: [JSON], Map / Mapgen, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66627 Fix line endings for MindOverMatter README.md
  data/mods/MindOverMatter/README.md
Labels: <Documentation>, Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66607 item::set_degradation sets value of 0 on items with degradation disabled
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
  tests/degradation_test.cpp
  tests/vehicle_test.cpp
Labels: Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#66585 update to kerosene spawns and refillable lighter
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/oa_shared_item_groups.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/containers.json
  data/json/items/fuel.json
  data/json/items/tool/fire.json
Labels: <Enhancement / Feature>, [JSON], Spawn, Items: Containers, astyled, json-styled, BasicBuildPassed

#66218 Map Item Audit
  data/json/flags.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/books.json
  data/json/itemgroups/mail.json
  data/json/items/book/maps.json
  data/json/items/containers.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/items/id_cards.json
  data/json/items/newspaper.json
  data/json/items/tool/stationery.json
  data/json/mapgen/cs_market_small.json
  data/json/mapgen/motel.json
  data/json/mapgen/nested/aux_nested.json
  data/json/mapgen/public_works.json
  data/json/mapgen/salon.json
  data/json/mapgen/sewer.json
  data/json/mapgen/sub_station.json
  data/json/mapgen/town_hall.json
  data/json/mapgen/trailhead.json
  data/json/mapgen_palettes/sewers_palette.json
  data/json/mapgen_palettes/subway.json
Labels: [JSON], Map / Mapgen, Spawn, <Bugfix>, Fields / Furniture / Terrain / Traps, Items: Containers, astyled, json-styled, BasicBuildPassed

#66634 Stops Hub 01 buying back some of their newer stuff
  data/json/itemgroups/Locations_MapExtras/robofac_trade.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66639 Make horses milkable
  data/json/monsters/mammal.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed

#66655 [MoM] Fix "You cast %" bug
  data/json/monster_special_attacks/monster_deaths.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66652 Dry duffel bags are actually watertight
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/storage.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66658 palettized shelter 1
  data/json/mapgen/basecamps/base/modular_shelter_1/modular_shelter_1_common.json
  data/json/mapgen/basecamps/base/modular_shelter_1/modular_shelter_1_construction.json
  data/json/mapgen/basecamps/base/modular_shelter_1/modular_shelter_1_log.json
  data/json/mapgen/basecamps/base/modular_shelter_1/modular_shelter_1_rock.json
  data/json/mapgen/basecamps/base/modular_shelter_1/modular_shelter_1_standard.json
  data/json/mapgen/basecamps/base/modular_shelter_1/modular_shelter_1_wad.json
  data/json/mapgen/basecamps/base/modular_shelter_1/modular_shelter_1_wood.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_1/recipe_modular_shelter_1_common.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_1/recipe_modular_shelter_1_construction.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_1/recipe_modular_shelter_1_log.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_1/recipe_modular_shelter_1_rock.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_1/recipe_modular_shelter_1_wad.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_1/recipe_modular_shelter_1_wood.json
Labels: [JSON], Map / Mapgen, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66645 [No Hope] Blacklist overrun scenario
  data/mods/No_Hope/scenario_blacklist.json
Labels: [JSON], Mods, <Bugfix>, Scenarios, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#66654 bp fault fix removes rust_timer
  data/json/faults/fixes_gun.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#66619 Tamable Wildlife: Tamable spiders
  data/mods/Tamable_Wildlife/insect_spider.json
  data/mods/Tamable_Wildlife/items/comestibles/eggs.json
  data/mods/Tamable_Wildlife/monstergroups/eggs.json
  data/mods/Tamable_Wildlife/recipes/nested.json
  data/mods/Tamable_Wildlife/recipes/recipe_egg.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife

#66642 Fixes office building's stairs
  data/json/mapgen/office_tower.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#66663 reign in horse milk yield
  data/json/monsters/mammal.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66656 Make 'Undamaged' the default menu option when debug spawning vehicles
  src/debug_menu.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#66650 Xl survivor boots
  data/json/items/armor/bespoke_armor/custom_boots.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66590 Reduce airdrop frequency
  data/json/mapgen/map_extras/airdrop.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#61526 Dock Construction Updates
  data/json/construction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66668 Fix the epilogue for the New England Church Community
  data/json/snippets/epilogue_factions.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66628 Weekly Changelog 2023-06-26 to 2023-07-03
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#66518 XE Rubik's discussion of vampires text
  data/mods/Xedra_Evolved/field_type.json
  data/mods/Xedra_Evolved/npc/rubik.json
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#66635 Remove cata::optional leftovers
  doc/DEVELOPER_TOOLING.md
  src/action.h
  src/assign.h
  src/calendar.h
  src/cata_tiles.h
  src/debug_menu.h
  src/game_inventory.h
  src/input.h
  src/item_factory.cpp
  src/json.h
  src/vpart_position.h
Labels: <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#66675 Add MAN_MADE flag to dinosaur exhibit
  data/mods/DinoMod/overmap/overmap_specials.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#66681 palettized modular shelter 2
  data/json/mapgen/basecamps/base/modular_shelter_2/modular_shelter_2_common.json
  data/json/mapgen/basecamps/base/modular_shelter_2/modular_shelter_2_construction.json
  data/json/mapgen/basecamps/base/modular_shelter_2/modular_shelter_2_log.json
  data/json/mapgen/basecamps/base/modular_shelter_2/modular_shelter_2_rock.json
  data/json/mapgen/basecamps/base/modular_shelter_2/modular_shelter_2_standard.json
  data/json/mapgen/basecamps/base/modular_shelter_2/modular_shelter_2_wad.json
  data/json/mapgen/basecamps/base/modular_shelter_2/modular_shelter_2_wood.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_common.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_construction.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_log.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_rock.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_standard.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_wad.json
  data/json/recipes/basecamps/base/recipe_modular_shelter_2/recipe_modular_shelter_2_wood.json
Labels: [JSON], Map / Mapgen, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66679 Mutant lard uses surface_heat now
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66682 [Magiclysm] remove deduction from stormshaper skills
  data/mods/Magiclysm/Spells/stormshaper.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled

#66643 [MoM] Documentation updates
  data/mods/MindOverMatter/NewPowerGuide.md
  data/mods/MindOverMatter/README.md
  data/mods/MindOverMatter/lore_spoilers.md
Labels: <Documentation>, Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66648 Fixes 66637 and wraps up some typos.
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/items/armor/cloaks.json
  data/json/items/book/swimming.json
  data/json/items/containers.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/isherwood_farm/NPC_Jesse_Isherwood.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_teamster.json
  data/json/obsoletion/migration_items.json
  data/json/obsoletion/obsolete_items.json
  data/json/recipes/basecamps/base/fbmc_fire_lookout_tower/recipe_modular_fire_lookout_tower_common.json
  data/json/recipes/basecamps/base/fbmc_helipad/recipe_modular_helipad_common.json
  data/json/recipes/basecamps/base/fbmc_lighthouse/recipe_modular_lighthouse_common.json
  data/json/recipes/basecamps/base/fbmc_lightindustry/recipe_modular_lightindustry_00.json
  data/json/recipes/basecamps/base/fbmc_lightindustry/recipe_modular_lightindustry_00_beds.json
  data/json/recipes/basecamps/base/fbmc_lightindustry/recipe_modular_lightindustry_10.json
  data/json/recipes/basecamps/base/fbmc_lightindustry/recipe_modular_lightindustry_10_beds.json
  data/json/recipes/basecamps/base/fbmc_outpost/recipe_modular_outpost_cross.json
  data/json/recipes/basecamps/base/fbmc_outpost/recipe_modular_outpost_normal.json
  data/json/snippets/mutant_anatomy.json
  data/mods/Magiclysm/items/recipe_books.json
  src/crafting.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Missions, Crafting / Construction / Recipes, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], Mods: Magiclysm, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Mind Over Matter

#66379 Fixed the issue of not properly handling pre existing items in the bag after installing it on the pet.
  src/monexamine.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66644 [MoM] Wielding a matrix crystal enhances your powers
  data/mods/MindOverMatter/effectoncondition/eoc_crystal_draining.json
  data/mods/MindOverMatter/effectoncondition/eoc_matrix_awakening.json
  data/mods/MindOverMatter/effectoncondition/eoc_matrix_power_boosts.json
  data/mods/MindOverMatter/items/matrix_crystals.json
  data/mods/MindOverMatter/json_flags.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66680 [Xedra Evolved] better material for jump driver
  data/mods/Xedra_Evolved/items/inventor/armor.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#66678 Update blackpowder recipes following charcoal item stat changes
  data/json/recipes/recipe_medsandchemicals.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#63477 Allow the player to ask Rubik about Zomborgs
  data/json/effect_on_condition.json
  data/json/npcs/exodii/exodii_merchant_talk.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#66687 Move reverse-jointed legs to mod files
  data/json/items/robot_parts.json
  data/json/recipes/recipe_deconstruction.json
  data/mods/Aftershock/items/robotparts.json
  data/mods/Aftershock/recipes/uncraft.json
  data/mods/No_Hope/items.json
  data/mods/No_Hope/recipes.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mods: Aftershock, astyled, json-styled, Mods: No Hope

#66653 armor penetration gets used up like damage
  src/item.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66683 Field Immunity At Effect Level
  data/mods/TEST_DATA/effects.json
  data/mods/TEST_DATA/fields.json
  data/mods/TEST_DATA/items.json
  doc/JSON_INFO.md
  src/character.cpp
  src/character.h
  src/creature.h
  src/field_type.cpp
  src/field_type.h
  src/game.cpp
  src/map_field.cpp
  tests/field_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Code: Tests, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#66693 bugfixes for armor bionics
  data/json/bionics.json
Labels: [JSON], Bionics, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66689 30gal_drum craft time fix
  data/json/recipes/tools/containers.json
Labels: [JSON], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#66686 CAR goes vrooom
  data/json/items/armor/cloaks.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66702 Snail Mail Its Tamable Snails
  data/mods/Tamable_Wildlife/mollusk.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife

#66697 soapy water can't be drunk
  data/json/items/chemicals_and_resources.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66694 Vegans don't eat people
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66692 regular masochists aren't sad about anesthesia
  src/bionics.cpp
Labels: Game: Balance, Bionics, [C++], astyled, json-styled, BasicBuildPassed

#66600 New fish
  data/json/items/comestibles/egg.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/fish.json
  data/json/requirements/cooking_components.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#66684 Fix: show slowed message on slow terrain
  src/game.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#66502 Redo nomad gear to be more sensible
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_headgear.json
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/coats.json
  data/json/npcs/NC_MARLOSS_VOICE.json
  data/json/recipes/armor/bespoke_armor/nomad.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66690 increase spoil time of salted meat
  data/json/items/comestibles/meat_dishes.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#66674 The Nestening (Part I)
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/chem/mutagens.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/weapon/piercing.json
Labels: Info / User Interface, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66703 Tone Down Assassin Spawns
  data/json/effect_on_condition.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#66706 Fix tow cables being unable to connect different vehicles
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66673 [MoM] Change psionic drain to a vitamin, add ways for the player to reduce it
  data/mods/MindOverMatter/effects/effects_overload.json
  data/mods/MindOverMatter/itemgroups/feral_deathdrops.json
  data/mods/MindOverMatter/itemgroups/itemgroups.json
  data/mods/MindOverMatter/items/books.json
  data/mods/MindOverMatter/obsolete/obsolete.json
  data/mods/MindOverMatter/powers/drain_spells.json
  data/mods/MindOverMatter/recipes/drain.json
  data/mods/MindOverMatter/vitamins.json
Labels: [JSON], Mods, Spawn, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66408 Cleanup legacy character template loading
  src/newcharacter.cpp
Labels: [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#66596 Add skateboard vehicle
  data/json/itemgroups/activities_hobbies.json
  data/json/items/tool/unfoldable.json
  data/json/items/vehicle/frames.json
  data/json/items/vehicle/wheel.json
  data/json/mapgen/park_skate.json
  data/json/npcs/items_generic.json
  data/json/vehicle_groups.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/vp_flags.json
  data/json/vehicleparts/wheel.json
  data/json/vehicles/bikes.json
  src/character.cpp
  src/vehicle_move.cpp
Labels: [JSON], Map / Mapgen, Vehicles, Spawn, [C++], astyled, json-styled, BasicBuildPassed

#66473 Implement export&import of the protagonist and follower NPCs
  .gitignore
  src/avatar.cpp
  src/avatar.h
  src/character.cpp
  src/character.h
  src/debug_menu.cpp
  src/debug_menu.h
  src/mission.cpp
  src/mission.h
  src/npc.h
  src/savegame.cpp
  src/savegame_json.cpp
Labels: <Enhancement / Feature>, NPC / Factions, Missions, [C++], astyled, json-styled, BasicBuildPassed

#66698 Add antacid tablets
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/SUS/domestic.json
  data/json/items/comestibles/med.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#66710 palettization cleanup
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_metal.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_migo_resin.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_rammed_earth.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_rock.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_wad.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_wood.json
  data/json/mapgen/basecamps/modular_shacks.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#66664 Repair Firearm Repair Kit Repair
  data/json/items/tool/workshop.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#66638 Assorted tile rendering fixes
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/map.cpp
  src/sdltiles.cpp
Labels: SDL: Tiles / Sound, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66711 extra_mut_scen fixes
  data/mods/extra_mut_scen/mutation_scenarios.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66714 Add harakka to confirm-bug list
  .github/comment-commands.yml
Labels: Code: Tooling, astyled, json-styled

#66700 Move field halflife initialize to seperate function
  data/mods/TEST_DATA/fields.json
  src/field.cpp
  src/field.h
  tests/field_test.cpp
Labels: [JSON], Code: Tests, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66713 Practice throwing with golf ball
  data/json/recipes/practice/ranged.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66669 Added new allergen flags and updated carnivore blacklist
  data/json/flags.json
  src/consumption.cpp
  src/flag.cpp
  src/flag.h
  src/item_factory.cpp
Labels: <Enhancement / Feature>, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#66718 Added cord to electric blankets
  data/json/items/tool_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66715 Ceramic shard sanifying
  data/json/items/resources/misc.json
  data/json/recipes/recipe_deconstruction.json
  data/json/uncraft/generic.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66563 s_restaurant merge
  data/json/mapgen/nested/city_npc_nested_spawns.json
  data/json/mapgen/restaurant.json
  data/json/npcs/other/NPC_pizzaiolo.json
  data/json/obsoletion/migration_oter_ids.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/start_locations.json
  data/mods/Graphical_Overmap/go_overmap_terrain_commercial.json
  data/mods/No_Hope/Mapgen/restaurant.json
  data/mods/alt_map_key/overmap_terrain.json
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, [Markdown], Scenarios, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Mind Over Matter

#65531 Duct tape rework
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/SUS/domestic.json
  data/json/items/ammo.json
  data/json/items/containers.json
  data/json/recipes/recipe_others.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Code: Tests, Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed

#66726 Obsolete the survivor headlamp
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/tool_armor.json
  data/json/obsoletion/migration_items.json
  data/json/recipes/tools/lights.json
  data/mods/innawood/recipes/tools_lights.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲

#66731 Quick cardboard roll fixes
  data/json/items/containers.json
  doc/JSON_INFO.md
Labels: <Documentation>, [JSON], [Markdown], Items: Containers, astyled, json-styled, BasicBuildPassed

#66734 Fix Central African flag description
  data/json/items/armor/cloaks.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66738 Document more fields for our monsters
  doc/MONSTERS.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#66737 Nerf lycra
  data/json/materials.json
  tests/coverage_test.cpp
  tests/iteminfo_test.cpp
  tests/melee_test.cpp
Labels: Game: Balance, [JSON], Code: Tests, [C++], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#66739 Always debug spawn undamaged cars both unlocked and faultless
  src/debug_menu.cpp
  src/map.h
  src/vehicle.cpp
Labels: <Enhancement / Feature>, Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#66740 Document even more missing fields, across a few more docs
  doc/FACTIONS.md
  doc/MAPGEN.md
  doc/PROFICIENCY.md
  doc/VITAMIN.md
  doc/WEATHER_TYPE.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#66750 When placing items in a pet's bag, also consider the maximum length that can be accommodated
  src/monexamine.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#66748 change dark wyrm's blood type to foul acidic blood
  data/json/harvest.json
  data/json/monsters/insect_spider.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66767 gold rings are rigid conflicts layer only
  data/json/items/armor/jewelry.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66769 Nerf subdermal carbon CBM
  data/json/bionics.json
  data/json/items/bionics.json
Labels: Game: Balance, [JSON], Bionics, astyled, json-styled, BasicBuildPassed

#66770 [MoM] Implement jmath, include it in calculations
  data/mods/MindOverMatter/jmath.json
  data/mods/MindOverMatter/powers/biokinesis.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/vitakinesis.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66755 Sluggish Love for Wildlife_Mod
  data/mods/Tamable_Wildlife/mollusk.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife

#66764 Digitigrade Mutation Line-of-Sight Fix
  data/json/mutations/mutations.json
  src/character.cpp
  src/character.h
  src/lightmap.cpp
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, json-styled, BasicBuildPassed

#65924 Grain farming expansion and seed adjustments
  data/json/construction.json
  data/json/construction_group.json
  data/json/flags.json
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/raw_grain.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/json/items/generic.json
  data/json/items/generic/bathroom_house.json
  data/json/recipes/food/baking.json
  data/json/recipes/food/bread.json
  data/json/recipes/food/brewing.json
  data/json/recipes/food/canned.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/food/other.json
  data/json/recipes/food/pasta.json
  data/json/recipes/food/raw_grain.json
  data/json/recipes/food/seed.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  data/json/tool_qualities.json
  data/json/uncraft/comestibles/fruit.json
  data/json/uncraft/comestibles/vegetable.json
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/consumption.cpp
  src/flag.cpp
  src/flag.h
  src/iexamine.cpp
  src/iexamine.h
  src/mapdata.cpp
  src/mapdata.h
  src/mission_companion.cpp
  tools/spell_checker/dictionary.txt
Labels: <Enhancement / Feature>, [JSON], Missions, Items: Food / Vitamins, Crafting / Construction / Recipes, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#66763 Calcium carbonate and antacid tablet creation
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/supplies.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/med.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed

#66724 [MoM] Move arithmetic to math, standardize and update awakening EoCs
  data/mods/MindOverMatter/effectoncondition/eoc_matrix_awakening.json
  data/mods/MindOverMatter/effectoncondition/eoc_portal_awakening.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66494 reduce impact of bmi on healthiness
  src/character.cpp
  tests/char_healing_test.cpp
  tests/health_test.cpp
Labels: Game: Balance, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#66773 Quick JSON fixes
  data/json/items/generic/dining_kitchen.json
  data/json/recipes/armor/storage.json
  data/json/recipes/tools/containers.json
Labels: [JSON], Items: Containers, astyled, json-styled, Items: Armor / Clothing

#66777 Misc maintenance to innawoods
  data/mods/innawood/itemgroups/trash_and_debris.json
  data/mods/innawood/readme.md
  data/mods/innawood/recipes/medsandchemicals.json
Labels: <Documentation>, [JSON], Mods, Spawn, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#66766 Also cache weapon_value for bare-handed characters
  src/melee.cpp
Labels: [C++], Melee, astyled, json-styled, BasicBuildPassed

#66757 Material Replacement For Items
  data/mods/BombasticPerks/perkdata/skeleton.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
  src/item_factory.cpp
Labels: [JSON], Mods, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#66735 MELEE_DAMAGE and ITEM_DAMAGE_BASH enchantments should affect bashing damage to tile
  src/handle_action.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66753 Iterate over corpses in active items instead of map tiles for resurrect check
  src/monattack.cpp
Labels: [C++], Melee, astyled, json-styled, BasicBuildPassed

#66765 Update claw bar volume to be consistent with crowbar
  data/json/items/tool/workshop.json
Labels: Game: Balance, [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#66775 Clear tile map memory on part removal
  src/vehicle.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#66732 Grab cleanup
  data/json/body_parts.json
  data/json/effects.json
  data/json/mutations/mutation_limbs.json
  data/mods/Xedra_Evolved/body_parts.json
  src/bodypart.cpp
  src/bodypart.h
  src/character_escape.cpp
  src/mattack_actors.cpp
  src/melee.cpp
  src/monster.cpp
  src/monster.h
  src/savegame_json.cpp
  tests/monster_attack_test.cpp
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Melee, astyled, json-styled, BasicBuildPassed, Limbs, Mods: Xedra Evolved

#66730 Creatures above cast shadows onto tiles below
  doc/TILESET.md
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  tools/json_tools/generate_overlay_ids.py
Labels: <Enhancement / Feature>, <Documentation>, [C++], <Bugfix>, [Markdown], [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed
