Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-06, with the labels that each got.

#65955 removes H&K G80 from military itemgroups
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/military.json
Labels: [JSON], Items: Magazines, Spawn, Items: Ammo / Guns, astyled, json-styled

#65936 [Deadly Bites] Antivirals only spawn in medical contexts
  data/mods/deadly_bites/itemgroups.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed

#65334 [Bombastic Perks] Playstyle perks
  data/mods/BombasticPerks/corefiles/config_menu.json
  data/mods/BombasticPerks/corefiles/core_eocs.json
  data/mods/BombasticPerks/corefiles/welcomemenu.json
  data/mods/BombasticPerks/docs/contributing.md
  data/mods/BombasticPerks/docs/expanding_with_mods.md
  data/mods/BombasticPerks/perkdata/empath.json
  data/mods/BombasticPerks/perkdata/frankenstein.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
  doc/NPCs.md
  src/character.cpp
  src/math_parser_diag.cpp
  src/math_parser_diag.h
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Bombastic Perks

#65948 Simply Grits
  data/json/items/comestibles/wheat.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#65966 [bombastic perks] Perk Fixes
  data/mods/BombasticPerks/corefiles/core_eocs.json
  data/mods/BombasticPerks/corefiles/welcomemenu.json
  data/mods/BombasticPerks/perkmenu.json
Labels: [JSON], Mods, astyled, json-styled, EOC: Effects On Condition, Mods: Bombastic Perks

#65961 Changes to suppressors damage reduction
  data/json/items/gunmod/muzzle.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#65971 Debug grabbers are not hallu
  data/json/monsters/misc.json
Labels: [JSON], astyled, json-styled

#65969 Reduce Helmet DPS
  data/json/items/armor/helmets.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#65947 Sarma Calorie fix
  data/json/items/comestibles/meat_dishes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#65908 Weekly Changelog 2023-05-22 to 2023-05-29
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#65857 Fix energy consumption and size of few mini appliances
  data/json/items/vehicle/utilities.json
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], Vehicles, <Bugfix>, astyled, json-styled, BasicBuildPassed

#65987 Small typo fix
  data/json/items/armor/brigandine.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66009 prefer \"\" over “”
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/items/armor/cloaks.json
  data/json/items/book/anthology.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#65980 math_parser: improve handling of dialogue functions
  data/mods/BombasticPerks/corefiles/welcomemenu.json
  doc/NPCs.md
  src/cata_utility.cpp
  src/cata_utility.h
  src/math_parser.cpp
  src/math_parser.h
  src/math_parser_diag.cpp
  src/math_parser_diag.h
  src/math_parser_impl.h
  src/math_parser_shim.cpp
  src/math_parser_shim.h
  src/options.cpp
  tests/math_parser_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#65918 Add Kel-Tec PLR16
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: [JSON], Mods, Spawn, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#66001 Order NPC to go to specific location
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#65998 NPC shooting improvement
  src/npcmove.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66012 Routine tileset updates on 04 June 2023
  gfx/Altica/human_body.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#65992 Fix innawoods infinite portal storms
  src/dialogue_helpers.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#65999 Fix merch strap being old-currency
  data/json/items/generic/currency.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#65943 Coffeepotupdate
  data/json/itemgroups/SUS/domestic.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62456 Aftershock Exosuit Module Fixes
  data/mods/Aftershock/items/armor/exosuit/exosuit_mutations.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_ranged.json
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/magic_enchantment.cpp
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#63709 Fix containers with non-CONTAINER pockets skipping active items
  src/visitable.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64224 Tiring dodges
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/iuse.cpp
  src/magic_spell_effect.cpp
  src/melee.cpp
  src/monattack.cpp
  src/monattack.h
  src/monster.cpp
  src/monster.h
  src/rng.cpp
  src/rng.h
  tests/melee_dodge_hit_test.cpp
  tests/melee_test.cpp
  tests/monster_attack_test.cpp
Labels: Crafting / Construction / Recipes, Code: Tests, [C++], Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#66030 AFS single line typo
  data/mods/Aftershock/mobs/robots.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled

#65738 3D vision of lower levels with distance fog
  gfx/ASCIITileset/tile_config.json
  gfx/BrownLikeBears/tile_config.json
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/tile_config.json
  gfx/NeoDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/options.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Z-levels, SDL: Tiles / Sound, [C++], [Markdown], [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#66029 Raise margin on albino focus loss test
  tests/char_suffer_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#65994 Add deleting vehicles option to debug menu
  src/debug_menu.cpp
  src/debug_menu.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#65917 Allow EOCs to forget recipes
  data/json/npcs/godco/NPC_Kostas_Walsman.json
  data/json/npcs/missiondef.json
  data/json/npcs/other/NPC_pizzaiolo.json
  data/mods/TEST_DATA/EOC.json
  data/mods/innawood/npcs/missiondef.json
  doc/NPCs.md
  src/character.h
  src/character_crafting.cpp
  src/dialogue_helpers.h
  src/npctalk.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  tests/eoc_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Missions, Crafting / Construction / Recipes, Code: Tests, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲, Mods: Bombastic Perks

#66046 expand common items found in vehicles
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/vehicles/cars.json
  data/json/vehicles/custom_vehicles.json
  data/json/vehicles/factional.json
  data/json/vehicles/trucks.json
  data/json/vehicles/vans_busses.json
Labels: [JSON], Vehicles, Spawn, astyled, json-styled, BasicBuildPassed

#66018 Cache crafting speed's workbench multiplier
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/character.h
  src/crafting.cpp
  tests/crafting_test.cpp
Labels: Code: Performance, Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#66038 Remove reference to cauterizing from soldering iron description and health care help text
  data/help/texts.json
  data/json/items/tool/workshop.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#65883 M249/M240 semi triggers give select fire
  data/json/items/gunmod/mechanism.json
  data/json/recipes/weapon/mods.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#65977 Morvarchprincess/addknotweedtomorerecipies
  data/json/items/comestibles/veggy_dishes.json
  data/json/requirements/cooking_components.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#65957 Rework and expand NRE data recordings
  data/json/effect_on_condition.json
  data/json/items/generic.json
  data/json/items/tool/electronics.json
  data/json/nether_glass_effect_on_condition.json
  data/json/npcs/EOC_talkers/portal_storm.json
  data/json/npcs/computers/TALK_MSU14.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_trades.json
  data/json/portal_storm_effect_on_condition.json
  src/condition.h
Labels: <Enhancement / Feature>, [JSON], [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#66032 Fix error spam on missing bionic_ids
  data/json/obsoletion/migration_bionics.json
  src/bionics.cpp
Labels: [JSON], Bionics, [C++], astyled, json-styled, BasicBuildPassed

#65164 (Perks mod) Create the trouble seeker perk
  data/mods/BombasticPerks/perkdata/troubleseeker.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#66069 Raise melee test margin
  tests/melee_test.cpp
Labels: Code: Tests, [C++], Melee, astyled, json-styled, BasicBuildPassed

#66061 Faster stomach contents tests
  tests/stomach_contents_test.cpp
Labels: Code: Tests, [C++], Items: Containers, astyled, json-styled, BasicBuildPassed

#66028 tgz_archiver: get file size from ifstream
  src/tgz_archiver.cpp
  src/tgz_archiver.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#66064 eoc_test: fix setup for EOC_recipe_test
  src/character.h
  src/character_crafting.cpp
  src/newcharacter.cpp
  tests/crafting_test.cpp
  tests/eoc_test.cpp
  tests/player_helpers.cpp
Labels: Crafting / Construction / Recipes, Code: Tests, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#66062 [DinoMod] fix NPC gear
  data/mods/DinoMod/NPC/NC_Red.json
  data/mods/DinoMod/NPC/NPC_Old_Guard_RED_Soldier_1.json
  data/mods/DinoMod/mapgen/map_extras/mass_grave.json
Labels: NPC / Factions, [JSON], Mods, Map / Mapgen, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#66051 Void Weaver adjustment set
  data/json/furniture_and_terrain/terrain-nether.json
  data/json/items/ranged/archery.json
  data/json/mapgen/sub_ramp.json
  data/json/mapgen/void_spider.json
  data/json/monster_special_attacks/void_spider_mechanics.json
  src/ranged.cpp
Labels: [JSON], Map / Mapgen, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, Items: Archery, astyled, json-styled, BasicBuildPassed

#66056 Give range bonuses to 9mm smgs
  data/json/items/gun/9mm.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#66020 UPS no longer automatically gets drained
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Labs/lab_security.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/defense_mode.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/shops_trades.json
  data/json/itemgroups/tools.json
  data/json/items/tool/electronics.json
  data/json/items/tool_armor.json
  data/json/mapgen/microlab/microlab_special_tiles.json
  data/json/npcs/NC_SOLDIER.json
  data/json/npcs/godco/classes.json
  data/json/npcs/items_generic.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_missions.json
  data/json/obsoletion/migration_items.json
  data/json/recipes/nested.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/tools/tools_electronic.json
  tests/bionics_test.cpp
  tests/crafting_test.cpp
  tests/npc_attack_test.cpp
  tests/tool_quality_test.cpp
  tests/vehicle_interact_test.cpp
Labels: NPC / Factions, [JSON], Missions, Bionics, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Spawn, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#65964 [Xedra Evolved] Perpetual stew of bugfixes and QoL
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/eocs/inventor.json
  data/mods/Xedra_Evolved/items/alchemy.json
  data/mods/Xedra_Evolved/items/comestibles/med.json
  data/mods/Xedra_Evolved/items/corpses.json
  data/mods/Xedra_Evolved/items/inventor/armor.json
  data/mods/Xedra_Evolved/items/inventor/gun.json
  data/mods/Xedra_Evolved/items/inventor/gunmods.json
  data/mods/Xedra_Evolved/monsters/changeling.json
  data/mods/Xedra_Evolved/monsters/inventor.json
  data/mods/Xedra_Evolved/monsters/monster_spells.json
  data/mods/Xedra_Evolved/mutations/classes.json
  data/mods/Xedra_Evolved/recipes/alchemy.json
  data/mods/Xedra_Evolved/recipes/disassemble.json
  data/mods/Xedra_Evolved/recipes/dreamforged_armor.json
  data/mods/Xedra_Evolved/recipes/inventor/armor.json
  data/mods/Xedra_Evolved/recipes/inventor/bots.json
  data/mods/Xedra_Evolved/recipes/inventor/gun.json
  data/mods/Xedra_Evolved/recipes/inventor/gunmods.json
  data/mods/Xedra_Evolved/recipes/inventor/melee.json
  data/mods/Xedra_Evolved/recipes/inventor/misc.json
  data/mods/Xedra_Evolved/recipes/inventor/researches.json
  data/mods/Xedra_Evolved/recipes/misc.json
  data/mods/Xedra_Evolved/spells/classless_spells.json
  data/mods/Xedra_Evolved/spells/dreamer_spells.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
  data/mods/Xedra_Evolved/spells/item_spells.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Items: Gunmod / Toolmod, Items: Ammo / Guns, Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#66083 Fix vitamins test flaking out, fingers crossed
  src/character_body.cpp
  tests/effect_test.cpp
  tests/player_helpers.cpp
  tests/stomach_contents_test.cpp
Labels: Code: Tests, [C++], Items: Containers, astyled, json-styled, BasicBuildPassed

#66097 [BombasticPerks] remove dead code
  data/mods/BombasticPerks/perkmenu.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#66078 Give swimmer DISIMMUNE trait in swim test
  tests/water_movement_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66112 Cache Character's radiation leak level
  src/avatar.cpp
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_inventory.cpp
  src/iexamine.cpp
  src/iuse.cpp
  src/npc.cpp
  src/suffer.cpp
Labels: Code: Performance, NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#66107 Badges don't cover anything again
  data/json/items/armor/jewelry.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66130 Crashing ship polish
  data/json/itemgroups/tools.json
  data/mods/Aftershock/maps/crashing_ship.json
Labels: [JSON], Mods, Spawn, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#66124 Make the kerosene recipe more accurate
  data/json/items/tool/science.json
  data/json/recipes/chem/fuel.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#66119 Potential fix for nether monster error on chunk placement failure
  data/json/overmap/overmap_mutable/nether_monster_corpse.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66089 Cache a flag in Character::get_limb_score()
  src/character_modifier.cpp
Labels: Code: Performance, [C++], astyled, json-styled, BasicBuildPassed

#66117 [Xedra Evolved] Deduction skill books
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/items/books_deduction.json
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#66116 Update flammability of some items
  data/json/items/book/abstract.json
  data/json/items/book/spiritual.json
  data/json/items/generic.json
  data/json/materials.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#65635 Horse Farm Revamp
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-barriers.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/misc.json
  data/json/items/armor/helmets.json
  data/json/items/tool/misc.json
  data/json/items/vehicle/animals.json
  data/json/mapgen/farm_horse.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/isherwood_farms/farm_horse_isherwood.json
  data/json/mapgen/isherwood_farms/rural_roads_trails.json
  data/json/mapgen/nested/farm_nested.json
  data/json/mapgen/nested/house_nested.json
  data/json/mapgen_palettes/farm_horse.json
  data/json/monstergroups/mammal.json
  data/json/obsoletion/obsolete_mapgen.json
  data/json/obsoletion/overmap/overmap_terrain/overmap_terrain_obsoletion.json
  data/json/obsoletion/overmap_special/specials.json
  data/json/overmap/overmap_mutable/farm_horse_mutable.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
  data/json/recipes/recipe_vehicle.json
  data/json/start_locations.json
  data/json/vehicle_groups.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/farm.json
Labels: [JSON], Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Spawn, Fields / Furniture / Terrain / Traps, Scenarios, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66109 [Xedra Evolved] Bugfix add Jotunn corpse
  data/mods/Xedra_Evolved/items/corpses.json
  data/mods/Xedra_Evolved/recipes/recipes_deconstruction.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#66133 Add new AR-10 magazines
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/items/gun/223.json
  data/json/items/gun/308.json
  data/json/items/magazine/308.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: [JSON], Mods, Items: Magazines, Spawn, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#66093 Garage Office Roof Fix
  data/json/mapgen/garage.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#64868 Apply the welding audit to welding recipes
  data/json/construction.json
  data/json/itemgroups/SUS/garage.json
  data/json/itemgroups/shops_trades.json
  data/json/items/tool/integrated.json
  data/json/items/tool/science.json
  data/json/items/tool/workshop.json
  data/json/recipes/other/bots.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/other/parts_rigs.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/other/vehicle.json
  data/json/recipes/practice/fabrication.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/lights.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/toolsets.json
  data/json/requirements/vehicle.json
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/armor.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/boards.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/frames.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/wheel.json
  tests/vehicle_interact_test.cpp
  tools/json_tools/generic_guns_validator.py
Labels: Game: Balance, [JSON], Vehicles, Items: Battery / UPS, Crafting / Construction / Recipes, Spawn, Code: Tests, [C++], Items: Ammo / Guns, [Python], Items: Containers, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#65605 Teargas spray
  data/json/item_actions.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/tools.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/tool/misc.json
  data/json/monsterdrops/zombie_cop.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
  tools/spell_checker/dictionary.txt
Labels: [JSON], Spawn, [C++], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#66108 Improve the loot of police armories
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/police_armory.json
  data/json/mapgen/police_department.json
  data/json/mapgen/police_station.json
  data/json/mapgen_palettes/prison.json
Labels: Game: Balance, [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66146 Routine tileset updates on 11 June 2023
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/HollowMoon/normal.png
  gfx/HollowMoon/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/taller.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled

#66145 Give myself confirmation perms
  .github/comment-commands.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#66154 Shorten molt effect descriptions
  data/json/effects.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66105 Roof Palette Porting
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
  data/json/mapgen/antique_store.json
  data/json/mapgen/arcade.json
  data/json/mapgen/bakery.json
  data/json/mapgen/bank.json
  data/json/mapgen/boxing.json
  data/json/mapgen/butcher.json
  data/json/mapgen/diner.json
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/nested.json
  data/json/mapgen/hunting_lodge.json
  data/json/mapgen/lake_buildings/freshwater_research_station.json
  data/json/mapgen/mine/mine_entrance.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/police_station.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/s_bookstore.json
  data/json/mapgen/s_candy.json
  data/json/mapgen/s_coffee.json
  data/json/mapgen/s_cosmetic.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen/s_liquor.json
  data/json/mapgen/school_1.json
  data/json/mapgen/teashop.json
  data/json/mapgen/textile_mill_museum.json
  data/json/mapgen/trailhead.json
  data/json/mapgen_palettes/church_retreat.json
  data/json/mapgen_palettes/lodge_palette.json
  data/json/mapgen_palettes/textile_mill_museum.json
  data/json/mapgen_palettes/underwater_structures_palette.json
  data/mods/Xedra_Evolved/mapgen/vampire_locations.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#66101 fix: dry firing practice recipes aren't tiring
  data/json/recipes/practice/ranged.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#65370 New Italian dishes and recipes
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/Food/irradiated.json
  data/json/items/comestibles/casseroles.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/irradiated_veggy.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/food/pasta.json
  data/json/recipes/food/seed.json
Labels: [JSON], Items: Food / Vitamins, Spawn, astyled, json-styled, BasicBuildPassed

#66103 Misc Roof Update
  data/json/mapgen/Metalworker.json
  data/json/mapgen/abandoned_warehouse.json
  data/json/mapgen/airport/s_airport_private.json
  data/json/mapgen/apartment_con_new.json
  data/json/mapgen/apartment_mod_new.json
  data/json/mapgen/bugs/wasp_tower.json
  data/json/mapgen/bus_station.json
  data/json/mapgen/church.json
  data/json/mapgen/city_blocks/city_block_2.json
  data/json/mapgen/city_blocks/urban_14_dense_house_mart_food.json
  data/json/mapgen/city_blocks/urban_25_dense_diner_apt.json
  data/json/mapgen/cs_internet_cafe.json
  data/json/mapgen/cs_tire_shop.json
  data/json/mapgen/dojo.json
  data/json/mapgen/dollar_store.json
  data/json/mapgen/drive-in_theater.json
  data/json/mapgen/farm.json
  data/json/mapgen/fire_station.json
  data/json/mapgen/gambling_hall.json
  data/json/mapgen/gardening_store.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/headshop.json
  data/json/mapgen/homeimprovement.json
  data/json/mapgen/mall/mall_roof.json
  data/json/mapgen/megastore.json
  data/json/mapgen/mil_surplus.json
  data/json/mapgen/movie_theater.json
  data/json/mapgen/music_venue.json
  data/json/mapgen/nursing_home.json
  data/json/mapgen/office_small.json
  data/json/mapgen/office_tower.json
  data/json/mapgen/office_tower_2.json
  data/json/mapgen/pawn_shop.json
  data/json/mapgen/police_department.json
  data/json/mapgen/private_resort.json
  data/json/mapgen/radio_tower.json
  data/json/mapgen/ranch_camp.json
  data/json/mapgen/refugee_center/z1_refugee_center.json
  data/json/mapgen/retirement_community.json
  data/json/mapgen/s_apt.json
  data/json/mapgen/s_apt_2.json
  data/json/mapgen/s_clothing.json
  data/json/mapgen/s_electronics.json
  data/json/mapgen/s_furniture.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/sewage_treatment.json
  data/json/mapgen/store/s_diner.json
  data/json/mapgen/thrift.json
  data/json/mapgen/urban_35_hospital.json
  data/json/mapgen_palettes/nursing_home_palette.json
Labels: [JSON], Map / Mapgen, Items: Food / Vitamins, <Bugfix>, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#66158 Delete cground.json
  data/json/mapgen_palettes/cground.json
Labels: [JSON], astyled, json-styled

#66135 Rename `No Fungal Growth` mod to `Slowdown Fungal Growth`
  data/mods/no_fungal_growth/modinfo.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed

#66168 vehicle_wrench => vehicle_wrench_2 in rams
  data/json/vehicleparts/rams.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66164 Clear more avatar state in clear_avatar()
  src/avatar.cpp
  src/avatar.h
  src/bionics.cpp
  src/consumption.cpp
  tests/player_helpers.cpp
Labels: Bionics, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#66157 [Innawood] Fix for arsonist's quest
  data/mods/innawood/npcs/missiondef.json
Labels: [JSON], Mods, Missions, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#66153 Speed up vehicle interact menu opening time
  src/json.h
  src/vehicle.cpp
  src/vehicle.h
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#66127 Small changes: to improve perf
  src/creature.cpp
  src/creature.h
  src/medical_ui.cpp
  src/veh_interact.cpp
  src/veh_interact.h
Labels: Info / User Interface, Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#66122 Remove repeated pocket type in has_only_special_pockets
  src/item_factory.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#66102 reduce action cost of helmets flashlight pocket
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66118 Enable death effects on limited lifespan monsters
  data/json/monsters/nether.json
  src/monster.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G backport candidate

#66085 Make turret cpu npc persistent
  src/turret.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: Code: Performance, Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#66065 tests: fix locale-dependent tests
  .github/workflows/matrix.yml
  tests/point_test.cpp
  tests/string_formatter_test.cpp
  tests/try_parse_integer_test.cpp
  tests/widget_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#65981 math_parser/eoc: port monsters_nearby() to math
  data/json/effect_on_condition.json
  data/json/monster_special_attacks/spells.json
  data/json/monster_special_attacks/void_spider_mechanics.json
  data/json/portal_storm_effect_on_condition.json
  data/mods/Aftershock/effects_on_condition.json
  data/mods/TEST_DATA/EOC.json
  data/mods/Xedra_Evolved/enchantments/weapon.json
  doc/MAGIC.md
  doc/NPCs.md
  src/condition.cpp
  src/math_parser_diag.cpp
  src/math_parser_diag.h
  tests/eoc_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Code: Tests, [C++], [Markdown], Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#66055 Fix creatures drawn above tall sprites
  src/cata_tiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66054 Fix map::grow_plant debug message when seed item is not found
  src/map.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#66025 Convert flexbuffer type to string in exceptions
  src/flexbuffer_json-inl.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#65986 Prevent selecting trait XXXL resulting in error message
  src/newcharacter.cpp
Labels: [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#66136 [Xedra Evolved] Another batch of random fixes and improvements
  data/mods/Xedra_Evolved/body_parts.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/emit.json
  data/mods/Xedra_Evolved/eocs/dreamsmith.json
  data/mods/Xedra_Evolved/eocs/inventor.json
  data/mods/Xedra_Evolved/field_type.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamer.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/eater.json
  data/mods/Xedra_Evolved/items/inventor/armor.json
  data/mods/Xedra_Evolved/items/inventor/melee.json
  data/mods/Xedra_Evolved/items/range.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_classless.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamsmith.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_eater.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_inventor.json
  data/mods/Xedra_Evolved/player/proficiencies.json
  data/mods/Xedra_Evolved/recipes/dreamforged_armor.json
  data/mods/Xedra_Evolved/recipes/dreamforged_weapon.json
  data/mods/Xedra_Evolved/recipes/inventor/armor.json
  data/mods/Xedra_Evolved/spells/dreamer_spells.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
  data/mods/Xedra_Evolved/spells/spell_eocs.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Items: Gunmod / Toolmod, Spawn, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#66155 added zombie sheep and goat
  data/json/monsters/mammal.json
  data/json/monsters/zed-animal.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#66187 Add auto-labeling for defense mode PRs
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#66189 Added myself back to lists of codeowners and maintainers of NH
  .github/CODEOWNERS
  data/mods/No_Hope/modinfo.json
Labels: [JSON], Mods, Code: Tooling, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#66180 math_parser: implement ternary operator
  doc/NPCs.md
  src/math_parser.cpp
  src/math_parser_func.cpp
  src/math_parser_impl.h
  tests/math_parser_test.cpp
Labels: <Documentation>, NPC / Factions, Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#66174 Remove crater spawn from TEST_DATA
  data/mods/TEST_DATA/mapgen-test.json
Labels: [JSON], Map / Mapgen, Code: Tests, astyled, json-styled, BasicBuildPassed

#66175 Adds in the ability to construct wooden chests.
  data/json/construction.json
  data/json/construction_group.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66152 fix one station having more ammo than it ought to have
  data/json/mapgen/police_station.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#66123 Standardise Special Terrain
  data/json/mapgen/isherwood_farms/rural_roads_trails.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z-1.json
  data/json/mapgen/refugee_center/rc_grounds.json
  data/json/mapgen/refugee_center/rc_grounds_e.json
  data/json/mapgen/refugee_center/rc_grounds_n.json
  data/json/mapgen/refugee_center/rc_grounds_ne.json
  data/json/mapgen/refugee_center/rc_grounds_nw.json
  data/json/mapgen/refugee_center/rc_grounds_s.json
  data/json/mapgen/refugee_center/rc_grounds_se.json
  data/json/mapgen/refugee_center/rc_grounds_sw.json
  data/json/mapgen/refugee_center/rc_grounds_w.json
  data/json/mapgen/refugee_center/z-1_refugee_center.json
  data/json/mapgen/refugee_center/z-2_refugee_center.json
  data/json/mapgen/refugee_center/z-3_refugee_center.json
  data/json/mapgen/refugee_center/z-4_refugee_center.json
  data/json/mapgen/refugee_center/z1_refugee_center.json
  data/json/mapgen/refugee_center/z2_refugee_center.json
  data/json/mapgen/special.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_evac_center.json
  data/json/overmap/overmap_terrain/overmap_terrain_lab.json
  data/json/overmap/overmap_terrain/overmap_terrain_special.json
Labels: Code: Performance, [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66121 Balance firestarter skill gain for long move costs
  src/iuse_actor.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#65562 Aftershock Shotguns
  data/mods/Aftershock/itemgroups/weapons/balistic_gun_groups.json
  data/mods/Aftershock/items/gun/shot.json
  data/mods/Aftershock/items/magazine/shot.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#65574 Nested Recipes- Bots & methanol fuel cells + fix forged cutting weapons(& a typo)
  data/json/items/melee/swords_and_blades.json
  data/json/obsoletion/obsolete-0.G-recipes.json
  data/json/recipes/nested.json
  data/json/recipes/other/bots.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/weapon/cutting.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#65631 Adjust damage of unarmed weapons
  data/json/items/melee/unarmed_weapons.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#65655 implement directing appliances, add directed floodlight appliance
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/appliances.json
  data/json/items/appliances.json
  src/veh_appliance.cpp
  src/veh_interact.cpp
  src/veh_interact.h
Labels: <Enhancement / Feature>, [JSON], Vehicles, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#65728 Cold tolerance cancels cold blooded, remove from plant
  data/json/mutations/mutations.json
Labels: Game: Balance, [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#65741 Reworks to some survivor boots
  data/json/items/armor/bespoke_armor/custom_boots.json
  data/json/recipes/armor/feet.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#65751 Add "High X Tolerance" and Night Raider traits to extra_mut_scen
  data/mods/extra_mut_scen/mutation_scenarios.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, BasicBuildPassed

#65815 Update JSON linting to not lie and ignore forbidden files
  msvc-full-features/style-json.ps1
  tools/format/format_main.cpp
Labels: [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#65846 Base repair difficulty on material instead of recipe
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/belts.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/exotic.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/head_attachments.json
  data/json/items/armor/helmets.json
  data/json/items/armor/holster.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/masks.json
  data/json/items/armor/misc.json
  data/json/items/armor/power_armor.json
  data/json/items/armor/robofac_armor.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/generic.json
  data/json/items/generic/bedding.json
  data/json/items/melee/bludgeons.json
  data/json/items/tool/landscaping.json
  data/json/items/tool_armor.json
  data/json/materials.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor/civilian_blue_collar.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_storage.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_underlayers.json
  data/mods/Aftershock/items/armor/winter_masks.json
  data/mods/Aftershock/items/materials.json
  data/mods/Magiclysm/materials.json
  data/mods/TEST_DATA/items.json
  data/mods/Xedra_Evolved/items/armor/headgear.json
  data/mods/Xedra_Evolved/items/clothes.json
  data/mods/Xedra_Evolved/material.json
  doc/ARMOR_BALANCE_AND_DESIGN.md
  src/game_inventory.cpp
  src/itype.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/material.cpp
  src/material.h
Labels: <Documentation>, Game: Balance, [JSON], Mods, Code: Tests, [C++], [Markdown], Items: Ammo / Guns, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#65974 Add Kel-Tec RDB and RFB
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
  data/json/items/gun/308.json
  data/json/items/magazine/308.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: [JSON], Mods, Spawn, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#65958 Prophet's LSD spell
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/spells/item_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#66183 Move gambesons to their own file
  data/json/items/armor/gambesons.json
  data/json/items/armor/hoods.json
  data/json/items/armor/suits_protection.json
  data/json/recipes/armor/gambeson_crafts.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66148 [Magiclysm] Stormshaper Axe changes
  data/mods/Magiclysm/items/enchanted_melee.json
Labels: [JSON], Mods, <Bugfix>, Melee, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#66094 Methanol production changes
  data/json/recipes/recipe_medsandchemicals.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66125 Pipe rifle update: Three new calibers & recipe nesting
  data/json/items/gun/32.json
  data/json/items/gun/380.json
  data/json/items/gun/9x18.json
  data/json/recipes/nested.json
  data/json/recipes/weapon/ranged.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#66193 Add 12.3ln rounds to rifle bandoliers
  data/json/items/armor/bandolier.json
Labels: [JSON], astyled, json-styled, Items: Armor / Clothing

#66194 Add 12.3ln rounds to ammo pouches
  data/json/items/armor/ammo_pouch.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66210 Fixed inability to disassemble laser turret in No Hope mod
  data/mods/No_Hope/monsters.json
  data/mods/No_Hope/recipes.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Monsters, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#64304 parameterized field base camp ver 1
  .github/vcpkg_ports/sdl2/vcpkg.json
  build-scripts/problem-matchers/catch2.json
  data/json/mapgen/basecamps/base/fbmc_pottery_cottage/fbmc_pottery_cottage_blacksmith.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_migo_resin.json
  data/json/mapgen/basecamps/base/fbmc_radio_tower/fbmc_radio_tower_wood.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_common.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_construction.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_log.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_metal.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_migo_resin.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_palettes.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_rammed_earth.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_rock.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_tent.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_wad.json
  data/json/mapgen/basecamps/base/modular_hub/version_1/modular_field_wood.json
  data/json/mapgen/basecamps/modular_shacks.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_common.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_construction.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_log.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_metal.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_migo_resin.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_rammed_earth.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_rock.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_wad.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_wood.json
  tools/json_tools/overmap_sprites_files/color_schemes/default.json
  tools/json_tools/overmap_sprites_files/color_schemes/surveyormap.json
Labels: Code: Build, [JSON], Map / Mapgen, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Code: Tooling, astyled, json-styled, BasicBuildPassed

#66208 Changed order of fields to appease clang-tidy.
  src/mtype.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#65863 Rigid Plate Pockets
  data/mods/TEST_DATA/items.json
  src/character.cpp
  src/character.h
  src/character_armor.cpp
  src/character_attire.cpp
  src/character_attire.h
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/savegame_json.cpp
  tests/coverage_test.cpp
  tests/encumbrance_test.cpp
Labels: <Enhancement / Feature>, [JSON], Code: Tests, [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66202 Make hub01 globally unique
  data/json/overmap/overmap_special/specials.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#66221 Remove unfitting snippets
  data/json/snippets/newspapers.json
  data/json/snippets/survivor_notes.json
Labels: [JSON], astyled, json-styled

#66225 Military base OMT changes and uses roof palette
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/military/mil_base/mil_base_z1.json
  data/json/mapgen/military/mil_base/mil_base_z2.json
  data/json/mapgen/military/mil_base/mil_base_z3.json
  data/json/mapgen/military/mil_base/mil_base_z4.json
  data/json/mapgen_palettes/military/mil_base_palette.json
  data/json/mapgen_palettes/military/mil_base_roof_palette.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/json/overmap/overmap_terrain/overmap_terrain_special.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66209 Adding relevant recipe requirements to atomic butter
  data/mods/Aftershock/requirements.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#66219 parameterized livestock 2 palettes
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_common.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_concrete.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_construction.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_log.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_metal.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_palettes.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_rock.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_wad.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_wood.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_concrete.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_construction.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_log.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_metal.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_migo_resin.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_rammed_earth.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_rock.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_wad.json
  data/json/recipes/basecamps/expansion/recipe_modular_livestock/version_2/recipe_modular_livestock_wood.json
Labels: [JSON], Map / Mapgen, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66195 Fix build with GCC 13
  src/translation_document.h
Labels: Translation, Code: Build, [C++], astyled, json-styled, BasicBuildPassed

#66036 Mathify portal storm
  data/json/portal_dependent_effect_on_condition.json
  data/json/portal_storm_effect_on_condition.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#66140 gutter_unify tool
  tools/json_tools/gutter_unify.py
Labels: <Enhancement / Feature>, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#66235 Refugee centre migration
  data/json/obsoletion/migration_oter_ids.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66234 Fix welder pocket dimension
  data/json/items/tool/workshop.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66216 Process EoCs on non-activated traits as well
  doc/MUTATIONS.md
  src/suffer.cpp
Labels: <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#66228 Tests tweaks
  src/cata_tiles.cpp
  src/filesystem.cpp
  src/init.cpp
  src/mod_manager.cpp
  src/options.cpp
  src/past_games_info.cpp
  src/translation_manager_impl.cpp
  tests/test_main.cpp
Labels: Translation, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#66223 Weaver adjustment set II
  data/json/mapgen/void_spider.json
  data/json/monster_special_attacks/void_spider_mechanics.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#66076 Add M3 submachine gun
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/45.json
  data/json/items/magazine/45.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: [JSON], Mods, Items: Magazines, Spawn, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#66240 palettized storehouse expansion 2
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_bookcase.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_common.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_concrete.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_construction.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_dresser.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_locker.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_log.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_metal.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_migo_resin.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_palettes.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_rack.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_rammed_earth.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_rock.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_storage.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_wad.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_warehouse_shelf.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_wood.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_2/modular_storehouse_wooden_rack.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_bookcase.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_concrete.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_construction.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_dresser.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_locker.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_log.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_metal.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_migo_resin.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_rack.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_rammed_earth.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_rock.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_storage.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_wad.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_warehouse_shelf.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_wood.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_wooden_rack.json
Labels: [JSON], Map / Mapgen, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#66243 adjust bedding spawn weighting
  data/json/itemgroups/furniture.json
Labels: Game: Balance, [JSON], Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66149 Weekly Changelog 2023-06-05 to 2023-06-12
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#66079 Legs dehardcode for walking
  src/avatar_action.cpp
  src/character.cpp
  src/character.h
  src/melee.cpp
  src/vehicle_use.cpp
Labels: Vehicles, [C++], Melee, astyled, json-styled, BasicBuildPassed

#66115 Update references to old mapgen ids
  data/json/obsoletion/migration_overmap_specials.json
  data/mods/Aftershock/npcs/Backgrounds/BGBR_Sadie.json
  src/gamemode_defense.cpp
Labels: [JSON], Mods, Map / Mapgen, [C++], <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#66254 More refugee centre migration
  data/json/obsoletion/migration_oter_ids.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66239 more police armory adjustments
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/police_armory.json
  data/json/mapgen/police_station.json
  data/json/mapgen_palettes/prison.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66188 Better cache vehicle mass center
  data/mods/TEST_DATA/vehicle_efficiency_test.json
  src/vehicle.cpp
Labels: Code: Performance, [JSON], Vehicles, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#66230 Space samurai armour
  data/json/enchantments.json
  data/json/flags.json
  data/json/items/armor/exotic.json
  data/json/items/resources/misc.json
  data/json/mapgen/void_spider.json
  doc/JSON_INFO.md
  doc/MAGIC.md
  src/character.cpp
  src/character.h
  src/creature.h
  src/game.cpp
  src/game.h
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/monster.cpp
  src/monster.h
  src/teleport.cpp
Labels: <Documentation>, [JSON], Map / Mapgen, [C++], [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#65418 Caster Level Boosters
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/eoc_caster_level_boosts.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/ammo_types.json
  data/mods/Magiclysm/items/books.json
  data/mods/Magiclysm/items/caster_level_boosters.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkdata/caster_level_up_animist.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkdata/caster_level_up_biomancer.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkdata/caster_level_up_druid.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkdata/caster_level_up_earthshaper.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkdata/caster_level_up_kelvinist.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkdata/caster_level_up_magus.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkdata/caster_level_up_stormshaper.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkdata/caster_level_up_technomancer.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perkmenu.json
  data/mods/Magiclysm/mod_interactions/BombasticPerks/perks.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/recipes/caster_level_boosters.json
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
  src/activity_handlers.cpp
  src/condition.cpp
  src/condition.h
  src/event.cpp
  src/event.h
  src/handle_action.cpp
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/math_parser_diag.cpp
  src/memorial_logger.cpp
  src/npcmove.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Spawn, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Markdown], Items: Ammo / Guns, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#65431 Change color and glyph of a few creatures
  data/json/monsters/insect_spider.json
  data/json/monsters/zed-animal.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#65499 Mark as dangerous without needing to list all notes
  data/raw/keybindings.json
  src/overmap_ui.cpp
Labels: Info / User Interface, [JSON], Map / Mapgen, [C++], stale, astyled, json-styled, BasicBuildPassed

#65748 VS Code: Preconfigured Workspace & Dev Containers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/reinstall-cmake.sh
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#61677 clear rubble
  data/json/construction.json
  data/json/construction_group.json
  src/iuse.cpp
Labels: <Enhancement / Feature>, [JSON], Crafting / Construction / Recipes, Inventory / AIM / Zones, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#65822 CMake install() changes, static linking build, mark directories with fs::path{}
  CMakeLists.txt
  CMakeModules/Find/FindSDL2_image.cmake
  CMakeModules/Find/FindSDL2_mixer.cmake
  CMakeModules/Find/FindSDL2_ttf.cmake
  CMakePresets.json
  data/CMakeLists.txt
  lang/CMakeLists.txt
  src/CMakeLists.txt
  src/filesystem.cpp
  src/filesystem.h
  src/main.cpp
  src/path_info.cpp
Labels: Translation, Code: Build, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#65830 Add more monsters to the nether monster corpse
  data/json/mapgen/nether_monster_corpse/monster_bowels.json
  data/json/mapgen/nether_monster_corpse/monster_tentacles.json
  data/json/monster_factions.json
  data/json/monstergroups/nether.json
  data/json/monsters/nether.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed

#65858 [Innawoods] Yeet the professions, add more professions, make Portal Dependent possible w/ metaprog on
  data/mods/innawood/professions.json
  data/mods/innawood/scenarios.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Scenarios, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲
