Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-11, with the labels that each got.

#69034 Fix a minor bug with mutations healing lost limbs.
  data/json/effects_on_condition/mutation_eocs/mutation_effect_eocs.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69018 Spinach seeds
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/items/comestibles/seed.json
  data/json/recipes/food/seed.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#69042 [MoM] Fix Feral Inferno upgrade
  data/mods/MindOverMatter/monsters/feral_psychics.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#69023 Add ALLOWS_REMOTE_USE to all items with HOTPLATE function.
  data/json/items/tool/cooking.json
  data/json/items/tool/science.json
  data/json/items/tool/workshop.json
  data/json/obsoletion/obsolete_items.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed

#69047 Routine tileset updates on 01 November 2023
  gfx/ASCII_Overmap/ASCIITiles.png
  gfx/ASCII_Overmap/tile_config.json
  gfx/Altica/human_body_plus.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/tile_config.json
  gfx/GiantDays/items.png
  gfx/GiantDays/large.png
  gfx/GiantDays/mobs.png
  gfx/GiantDays/tile_config.json
  gfx/MshockXotto+/overmap.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#69006 [EoC] Condition for asking the player to select a tile
  data/json/effects_on_condition/example_eocs.json
  doc/EFFECT_ON_CONDITION.md
  src/condition.cpp
  src/condition.h
  src/game.cpp
  src/game.h
  src/ranged.cpp
  src/ranged.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69027 [EoC] Allow set_string_var to parse custom entries
  data/mods/TEST_DATA/EOC.json
  doc/EFFECT_ON_CONDITION.md
  src/npctalk.cpp
  tests/eoc_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#69058 Update doc for graffiti ids in tileset
  doc/TILESET.md
Labels: <Documentation>, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#69059 Allow clairsentients to have premonitions about Defense Mode events
  data/mods/MindOverMatter/modinteractions/Defense_Mode/premonition_instances.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Mind Over Matter

#69056 Correct Ki Strike description
  data/mods/MMA/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: MMA

#69010 Aftershock Military Gear
  data/mods/Aftershock/itemgroups/clothing/armor_sets.json
  data/mods/Aftershock/itemgroups/weapons/balistic_gun_groups.json
  data/mods/Aftershock/itemgroups/weapons/energy_gun_groups.json
  data/mods/Aftershock/items/armor/military_armor.json
  data/mods/Aftershock/items/armor/military_clothing.json
  data/mods/Aftershock/items/armor/winter_suits.json
  data/mods/Aftershock/items/gun/10mm.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/gun/shot.json
  data/mods/Aftershock/items/gun/voltaic.json
  data/mods/Aftershock/items/magazine/10mm.json
  data/mods/Aftershock/items/materials.json
Labels: [JSON], Mods, Spawn, Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69051 EoC Document: Alpha and Beta Talkers by cases
  doc/EFFECT_ON_CONDITION.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#69044 Remove empty dissection snippet
  data/json/snippets/mutant_anatomy.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#69019 Slimy helps you escape grabs
  data/json/mutations/mutations.json
  src/character_escape.cpp
Labels: Game: Balance, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed

#69070 Superglue extra spawns
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/vehicles_fuel_related.json
Labels: Game: Balance, [JSON], Vehicles, Spawn, astyled, json-styled, BasicBuildPassed

#68993 started to organize dissection proficiencies (and some associated wea…
  data/json/monsters/bird.json
  data/json/monsters/civilians.json
  data/json/monsters/cyborgs.json
  data/json/monsters/feral_humans.json
  data/json/monsters/fish.json
  data/json/monsters/fungus.json
  data/json/monsters/fungus_zombie.json
  data/json/monsters/insect_spider.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#69068 Make caffeine gum weaker.
  data/json/items/comestibles/med.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#69050 Allow EoCs to automatically equip items
  data/mods/TEST_DATA/EOC.json
  doc/NPCs.md
  src/npctalk.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  tests/eoc_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#69076 Fix mouse clicking stop working at unloading screen
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#69069 Quicker, more realistic tea steeping times
  data/json/recipes/recipe_food.json
Labels: <Enhancement / Feature>, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#69004 [MoM] Make some non-combat utility powers toggleable
  data/mods/MindOverMatter/effectoncondition/eoc_on_attack_events.json
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/obsolete/biokinesis.json
  data/mods/MindOverMatter/obsolete/clairsentience.json
  data/mods/MindOverMatter/obsolete/pyrokinesis.json
  data/mods/MindOverMatter/obsolete/telekinesis.json
  data/mods/MindOverMatter/obsolete/telekinesis_ritual.json
  data/mods/MindOverMatter/obsolete/telepathy.json
  data/mods/MindOverMatter/powers/biokinesis.json
  data/mods/MindOverMatter/powers/biokinesis_eocs.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/clairsentience_eoc.json
  data/mods/MindOverMatter/powers/drain_spells.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/pyrokinesis_eoc.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telekinesis_eoc.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/powers/telepathy_eoc.json
  data/mods/MindOverMatter/powers/vitakinesis.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
Labels: [JSON], Mods, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#69016 fix incorrect terrain in lot_empty_commercial
  data/json/mapgen/lot_empty_commercial.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#69026 add volume encumber modifier to MOLLE webbing belt and scale belt clip volume encumber modifier
  data/json/items/armor/belts.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69065 Doc fixes
  doc/EFFECT_ON_CONDITION.md
  doc/JSON_INFO.md
  doc/MONSTER_SPECIAL_ATTACKS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#69064 Allow versionCode customization through local properties
  android/app/build.gradle
  android/gradle.properties
Labels: Code: Build, OS: Android, astyled, json-styled, BasicBuildPassed

#69040 Categorize more containers by their contents
  src/item.cpp
  tests/item_test.cpp
  tests/itemname_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#69052 Martial Arts Improvements, Disarming ++
  data/json/effects.json
  data/json/martialarts.json
  data/json/martialarts_fictional.json
  data/json/monster_special_attacks/feral_weapon_attacks.json
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monsters/civilians.json
  data/json/monsters/feral_humans.json
  data/json/monsters/monster_flags.json
  data/json/monsters/starers.json
  data/json/techniques.json
  data/mods/Aftershock/mobs/abstract_monsters.json
  data/mods/Aftershock/mobs/reavers_and_bandits.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/MMA/techniques.json
  data/mods/Magiclysm/Spells/attunements/Crusader.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/monster_attacks.json
  data/mods/Magiclysm/monsters/feral_fantasy_species.json
  data/mods/Magiclysm/monsters/goblin.json
  data/mods/Magiclysm/monsters/lizardfolk.json
  data/mods/Magiclysm/monsters/monsters.json
  data/mods/Magiclysm/monsters/orcs.json
  data/mods/Xedra_Evolved/items/cold_iron.json
  data/mods/Xedra_Evolved/items/melee.json
  data/mods/Xedra_Evolved/monsters/bloodsuckers.json
  data/mods/Xedra_Evolved/monsters/ferals.json
  doc/MARTIALART_JSON.md
  src/mattack_actors.cpp
  src/monster.cpp
Labels: <Documentation>, [JSON], Mods, [C++], Monsters, [Markdown], Melee, Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, Martial Arts, astyled, json-styled, BasicBuildPassed, Mods: MMA, Mods: Xedra Evolved

#68986 Allow specifying vitamins by weight (mass) in items
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/protein.json
  data/json/vitamin.json
  doc/VITAMIN.md
  src/character_body.cpp
  src/consumption.cpp
  src/item.cpp
  src/item_factory.cpp
  src/iuse.cpp
  src/stomach.cpp
  src/stomach.h
  src/vitamin.cpp
  src/vitamin.h
  tests/comestible_test.cpp
Labels: <Documentation>, [JSON], Items: Food / Vitamins, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#68962 Buffing the intravenous needle tip bionic
  src/consumption.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#68934 Add several comment commands for issues and PRs
  .github/comment-commands.yml
  .github/workflows/comment-commands.yml
  ISSUES.md
Labels: <Documentation>, Code: Infrastructure / Style / Static Analysis, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#69085 afs: observe superpositioned chairs
  data/mods/Aftershock/maps/mapgen/urban_worm_farm.json
  data/mods/Aftershock/maps/mapgen_pallete/houses.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#69084 Aftershock: Gauss shotguns
  data/mods/Aftershock/ammo_effects.json
  data/mods/Aftershock/itemgroups/weapons/balistic_gun_groups.json
  data/mods/Aftershock/items/gun/shot.json
  data/mods/Aftershock/items/gunmods/shotguns.json
  data/mods/Aftershock/recipes/gunmods.json
Labels: [JSON], Mods, Items: Gunmod / Toolmod, Spawn, Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#69086 Fix Cl fails with setting ammo of "minor wand of fireball"
  src/item_group.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69031 [MoM] Telepathic Obscurity power turns off in combat
  data/mods/MindOverMatter/effectoncondition/eoc_on_attack_events.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/pyrokinesis_eoc.json
  data/mods/MindOverMatter/powers/telepathy.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#69021 Add missing arms and their support
  data/json/effects_on_condition/mutation_eocs/prosthetics_eocs.json
  data/json/enchantments.json
  data/json/flags.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/armor/arm_prosthetics.json
  data/json/mutations/mutation_limbs.json
  data/json/mutations/mutations.json
  data/json/professions.json
  data/json/recipes/armor/arms.json
  data/json/recipes/nested.json
  data/json/scenarios.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Map / Mapgen, Spawn, Mutations / Traits / Professions/ Hobbies, Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Mind Over Matter

#69090 Aftershock: Remove passive climate control from several armor suits
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_underlayers.json
  data/mods/Aftershock/items/armor/winter_masks.json
  data/mods/Aftershock/items/armor/winter_suits.json
  data/mods/Aftershock/items/item_enchants.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, Items: Armor / Clothing

#69082 Aftershock: Industrial Outpost
  data/mods/Aftershock/itemgroups/robot_storage.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/maps/mapgen/maintenance_outpost.json
  data/mods/Aftershock/maps/mapgen_pallete/afs_habitat_structure.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/Aftershock/maps/overmap_terrain.json
  data/mods/Aftershock/mobs/monster_groups/moxie_monster_groups.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#69101 Urgent fix for #69098
  data/json/effects_on_condition/mutation_eocs/mutation_effect_eocs.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, EOC: Effects On Condition

#69095 add dehydrated garlic/chili and their recipes
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/food/dry.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#69099 Aftershock: Remove escape pod supply box from crashing ship
  data/mods/Aftershock/maps/crashing_ship.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#69100 Picky Eaters won't drink unsavory drinks
  src/consumption.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#69104 Fixed (some) dissection proficiencies (part 3)
  data/json/monsters/mutant.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/nether.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68707 Update Github Pages JSON linter page
  formatter.html
Labels: <Documentation>, Organization

#69120 Correct perk menu description of Closed Fist
  data/mods/BombasticPerks/perkmenu.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#69117 Colored skirts
  data/json/items/armor/legs_clothes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69116 The Bronze Age has arrived
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/SUS/library.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/books.json
  data/json/items/book/fabrication.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/pets_cow.json
  data/json/recipes/armor/pets_horse.json
  data/json/recipes/armor/torso.json
  data/json/recipes/other/materials.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69115 [MoM] Fix issues with toggleable powers
  data/mods/MindOverMatter/effectoncondition/eoc_on_attack_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/powers/biokinesis.json
  data/mods/MindOverMatter/powers/biokinesis_eocs.json
  data/mods/MindOverMatter/powers/classless.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/pyrokinesis_eoc.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#69119 Update cheap bandolier
  data/json/items/armor/bandolier.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69111 Misc fixes for martial arts techniques
  data/json/martialarts.json
  data/json/martialarts_fictional.json
  data/json/techniques.json
  data/mods/MMA/techniques.json
  doc/MONSTER_SPECIAL_ATTACKS.md
Labels: <Documentation>, [JSON], Mods, <Bugfix>, [Markdown], Melee, Martial Arts, astyled, json-styled, BasicBuildPassed, Mods: MMA

#69103 Allow techniques on reach attacks.
  data/json/martialarts.json
  data/json/techniques.json
  doc/MARTIALART_JSON.md
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], [Markdown], Melee, Martial Arts, astyled, json-styled, BasicBuildPassed

#69060 Canning the ammunition
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/223.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/223_mg.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/300_sniper.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/300blk.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/308_mg.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/308_sniper.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/338lapua_sniper.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/40x46.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/40x53.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/50_mg.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/50_sniper.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/84x246.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/9mm.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/9mm_submachine_gun.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_223.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_300aac.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_300wm.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_308.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_338.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_40x46.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_40x53.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_50.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_84x246.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_9mm.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_shot.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/collections.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/police_armory.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/shot.json
  data/json/items/ammo/338lapua.json
  data/json/items/armor/bandolier.json
  data/json/items/containers/military.json
  data/json/items/magazine/223.json
  data/json/items/magazine/308.json
  data/json/items/magazine/50.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen_palettes/debug.json
  data/json/obsoletion/migration_items.json
  data/json/uncraft/containers/military.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Map / Mapgen, Spawn, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69048 AFS Exosuits Updates II
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_manual.json
  data/mods/Aftershock/npcs/prepnet_phyle/prepnet_trade.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69126 Here be long skirts
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#69135 Allow npctalk messages to parse nested tags
  data/mods/TEST_DATA/EOC.json
  src/npctalk.cpp
  tests/eoc_test.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#69130 Leather sheets for crafting leather-padded armor
  data/json/recipes/armor/bespoke_armor/survivor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69124 Put larger alternator on backup generator
  data/json/furniture_and_terrain/appliances.json
  data/json/recipes/recipe_appliance.json
  data/json/recipes/recipe_deconstruction.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#69073 fixed (some) dissection proficiencies (part 2)
  data/json/monsters/jabberwock.json
  data/json/monsters/kraken_spawn.json
  data/json/monsters/mammal.json
  data/json/monsters/marloss.json
  data/json/monsters/mi-go.json
  data/json/monsters/mollusk.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#69028 player display: "Learning is disabled" message on disabled skills
  src/player_display.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#68980 try fixing issue#68075
  src/activity_actor.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed, new contributor

#69025 [EoC]More armor information(coverage, encumbrance)
  data/json/effects_on_condition/example_eocs.json
  data/mods/TEST_DATA/EOC.json
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
  src/math_parser_diag.cpp
  src/math_parser_diag.h
  src/npctalk.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/talker_item.cpp
  src/talker_item.h
  tests/eoc_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69150 [MoM] Fix Momentum Alteration
  data/mods/MindOverMatter/effects/effects_psionic.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#69149 Allow expanding snippets in item descriptions
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/generic/dining_kitchen.json
  src/item.cpp
  src/item_factory.cpp
  src/itype.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Spawn, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#68988 Use microgram (μg) resolution mass for food vitamins
  data/json/items/comestibles/protein.json
  data/json/vitamin.json
  doc/JSON_INFO.md
  src/item_factory.cpp
  src/stomach.cpp
  src/stomach.h
  src/units_fwd.h
  src/vitamin.cpp
  src/vitamin.h
Labels: <Documentation>, NPC / Factions, Translation, [JSON], Mods, Items: Food / Vitamins, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Mind Over Matter

#68197 Amphibian Additions Phase 2 - Monstrous Frogs & Toads
  data/json/effects.json
  data/json/emit.json
  data/json/harvest.json
  data/json/items/comestibles/egg.json
  data/json/monster_weakpoints/amphibian_weakpoints.json
  data/json/monstergroups/amphibian.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/reptile_amphibian.json
  data/json/proficiencies/weakpoints.json
  data/mods/Megafauna/monstergroups/wilderness.json
  data/mods/MindOverMatter/monsters/monster_overrides.json
  data/mods/Tamable_Wildlife/reptile_amphibian.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife, Mods: Mind Over Matter

#69154 No more house of dogs
  data/json/mapgen/house/house_rural.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#69148 Better EoC doc, part 3.1
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
Labels: <Documentation>, NPC / Factions, [Markdown], astyled, json-styled, BasicBuildPassed

#69136 fix npc background conversation
  data/json/npcs/Backgrounds/OtherSurvivorStories/Brigitte_LaCroix_Background.json
  data/json/npcs/Backgrounds/OtherSurvivorStories/Lapin_01.json
  data/json/npcs/Backgrounds/OtherSurvivorStories/NC_Farmer_background.json
  data/json/npcs/Backgrounds/OtherSurvivorStories/NC_SURVIVOR_CHEF_background.json
  data/json/npcs/Backgrounds/backgrounds_table_of_contents.json
  data/json/npcs/Backgrounds/othersurvivors_table_of_contents.json
  data/json/npcs/Backgrounds/whathappened_table_of_contents.json
  data/json/npcs/common_chat/TALK_COMMON_ALLY.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed

#69152 Add corded electric chainsaw
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/tools.json
  data/json/items/tool/woodworking.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#68824 Weekly Changelog 2023-10-16 to 2023-10-23
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#69151 Convert all of the New England Community Church functions from `arithmetic` and `compare_num` to `math`
  data/json/effects_on_condition/mapgen_eocs/godco_mapgen_eocs.json
  data/json/effects_on_condition/npc_eocs/godco_npc_eocs.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/members/NPC_Darryl_Johnstone.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_teamster.json
Labels: NPC / Factions, [JSON], Missions, Map / Mapgen, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69129 Clean-up: delete duplicate JSON entries
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_palettes.json
  data/json/npcs/common_chat/TALK_COMMON_MISSION.json
  data/json/npcs/isolated_road/isolated_road_cody_dialogue.json
  data/json/npcs/npc.json
  data/json/npcs/robofac/robofac_ancilla_npcs/NPC_ANCILLA_DOCTOR.json
Labels: NPC / Factions, [JSON], Map / Mapgen, Spawn, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#69092 [MoM] Photokinesis path
  data/json/field_type.json
  data/mods/Magiclysm/field.json
  data/mods/MindOverMatter/NewPowerGuide.md
  data/mods/MindOverMatter/damage_types.json
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
  data/mods/MindOverMatter/effectoncondition/eoc_crystal_draining.json
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/hobbies.json
  data/mods/MindOverMatter/itemgroups/feral_deathdrops.json
  data/mods/MindOverMatter/itemgroups/matrix_materials.json
  data/mods/MindOverMatter/items/matrix_crystals.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/json_flags.json
  data/mods/MindOverMatter/monstergroups/monstergroups_edited.json
  data/mods/MindOverMatter/monstergroups/monstergroups_new.json
  data/mods/MindOverMatter/monsters/civilian_psychics.json
  data/mods/MindOverMatter/monsters/death_effects.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
  data/mods/MindOverMatter/monsters/psi_summons.json
  data/mods/MindOverMatter/mutations/psi_passives.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/npcs/psi_civilians.json
  data/mods/MindOverMatter/powers/photokinesis.json
  data/mods/MindOverMatter/powers/photokinesis_eocs.json
  data/mods/MindOverMatter/professions.json
  data/mods/MindOverMatter/recipes/Food.json
  data/mods/MindOverMatter/recipes/categories.json
  data/mods/MindOverMatter/recipes/deconstruction.json
  data/mods/MindOverMatter/recipes/practice/photokinesis_practice.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, Monsters, Fields / Furniture / Terrain / Traps, [Markdown], Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter, new contributor

#68966 Simplify dog_tag_dog variants, update snippet documentation
  data/json/items/generic.json
  data/json/snippets/snippets.json
  doc/ITEM_SPAWN.md
  doc/JSON_INFO.md
Labels: <Documentation>, [JSON], [C++], <Bugfix>, [Markdown], Lore, astyled, json-styled, BasicBuildPassed

#69160 colored hoodie
  data/json/items/armor/torso_clothes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69167 Update the table of contents in doc/JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#69165 fix the name for `ar_glasses_advanced`
  data/json/items/tool_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69166 [Xedra Evolved] fix unobtainable alchemy 5
  data/mods/Xedra_Evolved/mod_interactions/BombasticPerks/perks/perk_menu.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#69168 [MoM] Further Photokinesis integration + certain actions remove maintained powers
  data/mods/MindOverMatter/NewPowerGuide.md
  data/mods/MindOverMatter/README.md
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
  data/mods/MindOverMatter/effectoncondition/eoc_items.json
  data/mods/MindOverMatter/effectoncondition/eoc_misc.json
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/lore_spoilers.md
  data/mods/MindOverMatter/recipes/Food.json
  data/mods/MindOverMatter/recipes/nested.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#69123 Infectious diseases come on gradually
  data/json/effects.json
  data/json/effects_on_condition/misc_effect_on_condition.json
  src/character.cpp
  src/character.h
Labels: <Enhancement / Feature>, [JSON], [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69147 Migrate arithmetics function with arguments to math
  data/core/sentinels.json
  data/mods/TEST_DATA/EOC.json
  data/mods/TEST_DATA/magic.json
  doc/NPCs.md
  src/math_parser_diag.cpp
  src/math_parser_diag.h
  src/string_id_null_ids.cpp
  tests/eoc_test.cpp
  tests/player_helpers.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69134 Leather uncraft and numbers balance
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/torso.json
  data/json/uncraft/armor/torso.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#69172 Revert "[MoM] Fix Momentum Alteration"
  data/mods/MindOverMatter/effects/effects_psionic.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#69097 Add thread cutting tool and make nuts & bolts craftable
  data/json/itemgroups/tools.json
  data/json/items/tool/workshop.json
  data/json/recipes/other/parts.json
  data/json/recipes/tools/tools_hand.json
  data/json/tool_qualities.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#69181 Fix infinite pipe glitch
  data/json/construction.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#69156 Weapon Proficiency Support: This Time Its Personal
  data/json/effects_on_condition/melee_eocs.json
  data/json/proficiencies/melee_weapons.json
  data/json/recipes/practice/melee.json
  tools/spell_checker/dictionary.txt
Labels: <Enhancement / Feature>, [JSON], Melee, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68458 add mx_laststand
  data/json/mapgen/map_extras/laststand.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#68562 [Xedra Evolved] Spellcasting xp for Xedra Evolved
  data/mods/Xedra_Evolved/eocs/misc_eoc.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutation_spells.json
  data/mods/Xedra_Evolved/spells/vampire_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#69071 adjust some outdated npc hints
  data/json/npcs/hints.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68800 Wolf Sledge fix and wields true to iuse eocs
  data/mods/Xedra_Evolved/eocs/item_eocs.json
  data/mods/Xedra_Evolved/items/inventor/melee.json
  data/mods/Xedra_Evolved/spells/item_spells.json
Labels: [JSON], Mods, [C++], Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#69171 Add Accessibility mod category
  data/mods/Generic_Guns/modinfo.json
  data/mods/translate-dialogue/modinfo.json
  doc/IN_REPO_MODS.md
  src/mod_manager.cpp
Labels: <Documentation>, [JSON], Mods, [C++], [Markdown], Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#69141 introduced basic netherium proficiency + weakpoint, reverting demihuman expansion
  data/json/monster_weakpoints/netherium_weakpoints.json
  data/json/monsters/nether.json
  data/json/proficiencies/weakpoints.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#69183 Give logging camp NPCs some random missions
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68998 Weekly Changelog 2023-10-23 to 2023-10-30
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#69161 Add 5.56 AP and 7.62 AP rounds
  data/json/ascii_art/ammo/223.json
  data/json/ascii_art/ammo/308.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_223.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_308.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/items/ammo/223.json
  data/json/items/ammo/308.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
Labels: [JSON], Mods, Spawn, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#69107 [CR] Bashing furniture/terrain gradually gets easier
  src/map.cpp
  src/map.h
  src/submap.h
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#69209 Revert "[CR] Bashing furniture/terrain gradually gets easier"
  src/map.cpp
  src/map.h
  src/submap.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#69205 [Magiclysm] add RELOAD_AND_SHOOT to druid_recurve bow
  data/mods/Magiclysm/items/ethereal_items.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#69194 Minor Crustacean Fixes
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#69220 Remove links in tech lore doc, add some faction updates
  doc/Lore/lore-factions.md
  doc/Lore/technology.md
Labels: <Documentation>, [Markdown], Lore, astyled, json-styled

#69199 [Xedra] Mad Typos, projectile accelerator describes its shape
  data/mods/Xedra_Evolved/items/inventor/gunmods.json
Labels: [JSON], Mods, Items: Gunmod / Toolmod, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#69214 [MoM] Fix Mind Control practice recipe message
  data/mods/MindOverMatter/recipes/practice/telepathy_practice.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#69191 allow disassembly of blanks
  data/json/items/generic/casing.json
  data/json/uncraft/ammo/22.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#69238 Improve item volume loading
  src/assign.cpp
Labels: [C++], astyled, json-styled

#69212 Move the cockatrice to Mind Over Matter
  data/mods/MindOverMatter/items/comestibles.json
  data/mods/MindOverMatter/monstergroups/monstergroups_edited.json
  data/mods/MindOverMatter/monstergroups/monstergroups_new.json
  data/mods/MindOverMatter/monsters/animal_psychics.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
  data/mods/MindOverMatter/requirements.json
Labels: [JSON], Mods, Items: Food / Vitamins, Spawn, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#69118 elaborate on PRs closing issues, comments for cc
  .github/comment-commands.yml
  .github/pull_request_template.md
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#69233 Appease clang-tidy check readability-static-accessed-through-instance
  src/animation.cpp
  src/cata_tiles.cpp
  src/output.cpp
  src/output.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#69232 Corrected argument order in widget::text() call
  tests/widget_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#69231 Weapon Proficiency Debugging
  data/json/effects_on_condition/melee_eocs.json
  data/json/proficiencies/proficiency_categories.json
Labels: [JSON], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69228 Document Gunmod Blacklist Function
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#69230 fix hardened trench knife times
  data/json/recipes/weapon/piercing.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#69222 Aftershock: Exoplanetify the Robot Dispatch
  data/mods/Aftershock/flags.json
  data/mods/Aftershock/itemgroups/tool_groups.json
  data/mods/Aftershock/items/id_cards.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_card_readers.json
  data/mods/Aftershock/maps/mapgen/maintenance_outpost.json
  data/mods/Aftershock/maps/mapgen/robot_dispatch.json
  data/mods/Aftershock/maps/mapgen/robot_dispatch/dispatch_first_01.json
  data/mods/Aftershock/maps/mapgen/robot_dispatch/dispatch_second_01.json
  data/mods/Aftershock/maps/mapgen/robot_dispatch/tpalettes.json
  data/mods/Aftershock/maps/mapgen_pallete/afs_habitat_structure.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/Aftershock/maps/overmap_terrain.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#69208 Remove cockatrice
  data/json/items/comestibles/egg.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/misc.json
  data/json/monsters/bird.json
  data/json/requirements/cooking_components.json
  data/mods/Tamable_Wildlife/bird.json
  tests/submap_load_test.cpp
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife

#69188 [Xedra Evolved] Reduce the installation requirements of some Mad Genius gunmods
  data/mods/Xedra_Evolved/items/inventor/gunmods.json
Labels: [JSON], Mods, Items: Gunmod / Toolmod, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#69187 [MoM] Add pyrokinetic fire to requirements lists
  data/mods/MindOverMatter/recipes/recipe_requirements.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#69184 [MoM] Add radiation attack to feral photokinetics
  data/mods/MindOverMatter/damage_types.json
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
  data/mods/MindOverMatter/obsolete/photokinesis.json
  data/mods/MindOverMatter/powers/photokinesis.json
  data/mods/MindOverMatter/powers/photokinesis_eocs.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#69182 Alonso has age restrictions
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#69164 Remove Generic Guns Maintainer
  data/mods/Generic_Guns/modinfo.json
Labels: [JSON], Mods, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#69007 Weapon familiarities for professions
  data/json/professions.json
  data/mods/Aftershock/player/professions.json
  data/mods/MMA/professions.json
  data/mods/Magiclysm/professions.json
  data/mods/Xedra_Evolved/player/professions.json
  data/mods/innawood/professions.json
  data/mods/package_bionic_professions/bionic_professions.json
Labels: [JSON], Mods, Bionics, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: MMA, Mods: Innawood 🌲, Mods: Xedra Evolved

#69207 Introduced mi-go weakpoint/proficiencies+mi-go harvest
  data/json/harvest.json
  data/json/items/comestibles/carnivore.json
  data/json/materials.json
  data/json/monster_weakpoints/migo_weakpoints.json
  data/json/monsters/mi-go.json
  data/json/proficiencies/weakpoints.json
  data/json/snippets/mi-go_anatomy.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#69223 Aftershock:Let stratoscomm relays spawn in the exoplanet.
  data/mods/Aftershock/maps/overmap_specials.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#69125 remove memorial group from homebooks
  data/json/itemgroups/books.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#69255 Discard invalid PO files in pull translations GHA workflow
  .github/workflows/pull-translations.yml
  lang/discard_invalid_po.sh
Labels: Translation, Code: Tooling, astyled, json-styled, BasicBuildPassed

#69234 Apply clang-tidy check modernize-type-traits auto-fix
  src/assign.h
  src/cata_io.h
  src/cata_small_literal_vector.h
  src/cata_type_traits.h
  src/cata_utility.h
  src/cata_variant.h
  src/colony.h
  src/common_types.h
  src/compatibility.h
  src/debug.cpp
  src/dialogue.h
  src/dialogue_helpers.h
  src/enum_bitset.h
  src/enum_conversions.h
  src/enum_traits.h
  src/event.h
  src/flexbuffer_json-inl.h
  src/flexbuffer_json.h
  src/generic_factory.h
  src/int_id.h
  src/item_contents.cpp
  src/json.h
  src/make_static.h
  src/mapgen.cpp
  src/mapgendata.h
  src/output.h
  src/pimpl.h
  src/point_traits.h
  src/requirements.h
  src/ret_val.h
  src/rng.h
  src/safe_reference.cpp
  src/savegame.cpp
  src/shadowcasting.h
  src/stats_tracker.h
  src/string_id.h
  src/string_id_utils.h
  src/submap.h
  src/ui.h
  src/units.h
  src/units_utility.h
  src/value_ptr.h
  src/weighted_list.h
  tests/make_static_test.cpp
  tests/test_statistics.h
  tests/unseal_and_spill_test.cpp
Labels: Info / User Interface, Map / Mapgen, Code: Tests, [C++], Items: Containers, Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#69227 Adds more craftable casings
  data/json/items/ammo/exodii.json
  data/json/items/generic/casing.json
  data/json/recipes/ammo/components.json
  data/json/recipes/nested.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#69257 Cyan reinforced concrete wall name fix
  data/json/furniture_and_terrain/terrain-walls.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#69195 Fix missing labels in self-aware Spacebar UI
  data/json/ui/spacebar/spacebar_body_and_health_block.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#69213 NPC swarm fleeing; Some more fleeing tweaks based on reports
  src/npcmove.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#69190 Expand snippet descriptions when variants are set
  src/item.cpp
  src/item.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#69203 Update gun mod removal inventory menu
  src/activity_actor.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/iuse_actor.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#69176 Performance: Optimize monster planning
  src/creature.cpp
  src/map.cpp
  src/map.h
  src/monmove.cpp
Labels: Code: Performance, NPC / Factions, Vehicles, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#69201 Knives Out
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Labs/lab_security.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/private_resort_item_groups.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/SUS/gunstore.json
  data/json/itemgroups/Weapons_Mods_Ammo/weapons_misc.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/items/melee/swords_and_blades.json
  data/json/monster_special_attacks/feral_weapon_attacks.json
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie_naval_personnel.json
  data/json/monsterdrops/zombie_resort.json
  data/json/recipes/nested.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
  data/mods/TEST_DATA/expected_dps_data/shortswords_dps.json
  tests/wield_times_test.cpp
Labels: [JSON], Spawn, Code: Tests, [C++], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#69270 Add more options for naming monsters in mapgen
  doc/MAPGEN.md
  src/mapgen.cpp
Labels: <Documentation>, Map / Mapgen, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#69266 Convert glass door fridge to appliance
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/appliances.json
  data/json/items/vehicle/cargo.json
  data/json/recipes/other/vehicle.json
  data/json/recipes/recipe_appliance.json
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], Vehicles, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#69133 Weekly Changelog 2023-10-30 to 2023-11-06
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#68990 Hobbies give weapon proficiencies + AFS & bat weapon categories
  data/json/hobbies.json
  data/json/items/melee/bludgeons.json
  data/mods/Aftershock/items/gun/10mm.json
  data/mods/Aftershock/items/gun/5x50.json
  data/mods/Aftershock/items/gun/7.50mm.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/weapons.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#68898 Fix oxygen tanks spawning empty in military base
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
Labels: [JSON], Map / Mapgen, Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#69267 Brigandine ALLOWS_TAIL adjustments
  data/json/items/armor/brigandine.json
Labels: Game: Balance, [JSON], astyled, json-styled, Items: Armor / Clothing

#69263 Unhardcode sleep nightmares
  data/json/effects_on_condition/misc_effect_on_condition.json
  doc/EFFECT_ON_CONDITION.md
  src/character.cpp
Labels: <Documentation>, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69273 Balance Mind Over Matter waves for Defense Mode
  data/mods/Defense_Mode/mod_interactions/MindOverMatter/eocs.json
  data/mods/MindOverMatter/modinteractions/Defense_Mode/monsters.json
Labels: [JSON], Mods, Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, EOC: Effects On Condition, Mods: Mind Over Matter

#69288 Correct closing brackets in COMPILING-VS-VCPKG.md guide
  doc/COMPILING/COMPILING-VS-VCPKG.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#69276 Fix weapon prof learning EoC
  data/json/effects_on_condition/melee_eocs.json
Labels: [JSON], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#69282 Mutagen chelator shold have the category 'mutagen'
  data/json/items/comestibles/mutagen.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#69283 [Magiclysm] Mi-goify Mi-go Mages
  data/mods/Magiclysm/monsters/mi-go.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#69277 Fix semi-auto AK nested group
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: [JSON], Spawn, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#69275 Update formatter tools for color support
  src/json.h
  tools/format_emscripten/format_emscripten.cpp
  tools/format_emscripten/shell.html
Labels: [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#69272 You load 59 typos what do you get?
  data/json/effects.json
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/items/armor/brigandine.json
  data/json/items/book/cooking.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/containers/military.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/gun/45.json
  data/json/monster_weakpoints/amphibian_weakpoints.json
  data/json/npcs/exodii/exodii_merchant_talk.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/members/NPC_Kostas_Walsman.json
  data/mods/Aftershock/items/gunmods/shotguns.json
  data/mods/Magiclysm/items/cast_spell_items.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/npcs/psi_civilians.json
  data/mods/MindOverMatter/snippets/snippets_new.json
  data/mods/TropiCataclysm/monsters/tropical_reptile_amphibian.json
  data/mods/Xedra_Evolved/items/book_lore.json
  data/mods/Xedra_Evolved/items/inventor/gunmods.json
  data/mods/Xedra_Evolved/mod_interactions/BombasticPerks/perks/perk_data/Alchemy1.json
  data/mods/Xedra_Evolved/npc/boann.json
  src/iexamine.cpp
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, [JSON], Mods, Items: Gunmod / Toolmod, Missions, [C++], Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Lore, Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: TropiCataclysm 🌴, Mods: Xedra Evolved, Mods: Mind Over Matter

#69286 Bump up dmg size limit in macOS release build
  build-data/osx/dmgsettings.py
Labels: Code: Build, [Python], astyled, json-styled, BasicBuildPassed

#69244 Bulk loading items saves time cost for generic "pick up(g)" process
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/pickup.cpp
  src/pickup.h
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#69235 Display vitamins by mass in item descriptions
  src/item.cpp
  src/options.cpp
  src/units_utility.cpp
  src/units_utility.h
  src/vitamin.cpp
  src/vitamin.h
  tests/iteminfo_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#69218 [MoM] change Inferno Grenade fuse
  data/mods/MindOverMatter/recipes/weapons.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter
