Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-09, with the labels that each got.

#67969 Routine tileset updates on 01 September 2023
  gfx/ASCII_Overmap/ASCIITiles.png
  gfx/ASCII_Overmap/tile_config.json
  gfx/Altica/human_body.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/filler.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/GiantDays/cursor.png
  gfx/GiantDays/fallback.png
  gfx/GiantDays/items.png
  gfx/GiantDays/large.png
  gfx/GiantDays/layering.json
  gfx/GiantDays/mobs.png
  gfx/GiantDays/tile_config.json
  gfx/GiantDays/tiles.png
  gfx/GiantDays/tileset.txt
  gfx/Larwick_Overmap/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/guns.png
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#66666 Riverside boats
  data/json/mapgen/map_extras/riverside_boats.json
  data/json/mapgen/nested/riverside_boats_nested.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
  data/json/vehicle_groups.json
Labels: [JSON], Map / Mapgen, Vehicles, astyled, json-styled, BasicBuildPassed

#67918 Distinguish sieving and straining in recipes
  data/json/itemgroups/SUS/domestic.json
  data/json/items/generic.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/tool/cooking.json
  data/json/items/tool/toiletries.json
  data/json/obsoletion/obsolete-0.G-recipes.json
  data/json/recipes/ammo/components.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/food/brewing.json
  data/json/recipes/food/canned.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/food/drinks.json
  data/json/recipes/food/other.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/tool_qualities.json
Labels: [JSON], Vehicles, Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, new contributor

#67972 Fix rotorcraft debug message
  src/vehicle.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67970 fix: minor typo
  src/vehicle_move.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#67959 It gets hot (Overheat mechanics for energy guns)
  data/json/faults/faults_guns.json
  data/json/flags.json
  data/json/items/gun/ups.json
  data/mods/Aftershock/itemgroups/weapons/energy_gun_groups.json
  data/mods/Aftershock/items/gun/plasma.json
  data/mods/Aftershock/items/magazine/plasma.json
  src/character.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/ranged.cpp
Labels: <Enhancement / Feature>, [JSON], Mods, Spawn, [C++], Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#67986 More cars strikes back
  data/json/vehicle_groups.json
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/bikes.json
  data/json/vehicles/cars.json
  data/mods/TEST_DATA/vehicle.json
  data/mods/TEST_DATA/vehicle_drag_test.json
  data/mods/TEST_DATA/vehicle_efficiency_test.json
  tests/vehicle_test.cpp
Labels: [JSON], Vehicles, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67988 [Magiclysm] "Frost Cream Man" Profession now has the Driving proficiency
  data/mods/Magiclysm/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#67984 Fix field base camp version 2 NE shack/tent progression
  data/json/recipes/basecamps/base/recipe_modular_hub/version_2/recipe_modular_field_common.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_2/recipe_modular_field_construction.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_2/recipe_modular_field_tent.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#66761 Lower # of gas zombies
  data/json/mapgen/gas_stations/s_gas.json
Labels: Game: Balance, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#67977 Invalidate crafting inventory and cached carry weight in place_construction
  src/construction.cpp
Labels: Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#67994 Updated camp help to reflect removal of bed restrictions on expansion
  data/json/npcs/TALK_FACTION_CAMP.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#67981 Office skyscraper revival
  data/json/mapgen/nested/skyscraper_nested.json
  data/json/mapgen/office_skyscraper.json
  data/json/mapgen_palettes/office_skyscraper.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
  data/mods/Aftershock/region_settings.json
  data/mods/No_Hope/regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
  data/mods/classic_zombies/alberta_regional_map_settings.json
  data/mods/desert_region/desert_regional_map_settings.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Aftershock, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: TropiCataclysm 🌴, Mods: Desert Region

#67980 Revert "Improve turn performance by caching default input ctx"
  src/game.cpp
  src/game.h
Labels: Code: Performance, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68000 [Magiclysm] Remove default skills from fantasy species choices
  data/mods/Magiclysm/traits/fantasy_species.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#67998 [MoM] Add overheating to LV-429
  data/mods/MindOverMatter/itemgroups/matrix_technology_labs.json
  data/mods/MindOverMatter/items/weapons.json
  data/mods/MindOverMatter/mapgen/nested/office_phavian_modular.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67999 [MoM] Typo fix
  data/mods/MindOverMatter/effects/effects_penalty.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68001 mom: fix incorrect spell id
  data/mods/MindOverMatter/powers/teleportation.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67982 [DinoMod] more interesting behavior part 2
  data/mods/DinoMod/monsters/dinosaur.json
Labels: [JSON], Mods, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#67965 Add splash screen to Object Creator
  object_creator/creator_main.cpp
  object_creator/creator_main_window.cpp
  object_creator/creator_main_window.h
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#67995 Add longest_side to some items
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/storage.json
  data/json/items/containers/containers.json
  data/json/items/generic/bathroom_house.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/ranged/throwing.json
  data/json/items/tool/misc.json
  data/json/items/tool_armor.json
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67898 [Xedra Evolved] Eater Sixth Sense
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/enchantments/mutations.json
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, EOC: Effects On Condition, Mods: Xedra Evolved

#68003 Heavy punching bag uses heavy punching bag sack
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-recreation.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, new contributor

#68002 Weekly Changelog 2023-08-28 to 2023-09-04
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#67947 [Magiclysm] Add seven more spells (it's a pattern)
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/monster_factions.json
  data/mods/Magiclysm/monsters/plants.json
  data/mods/Magiclysm/professions.json
  data/mods/Magiclysm/requirements/spell_components.json
  data/mods/Magiclysm/ter_fur_transform/ter_fur_transform.json
Labels: [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#67835 Cache results of item search functions
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/bionics.cpp
  src/bodygraph.cpp
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/character_guns.cpp
  src/character_inventory.cpp
  src/clzones.cpp
  src/debug_menu.cpp
  src/display.cpp
  src/faction.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/iexamine.h
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/mission_companion.cpp
  src/monexamine.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/player_difficulty.cpp
  src/savegame_json.cpp
  src/talker_character.cpp
  src/vehicle_use.cpp
  src/wish.cpp
  tests/char_exposure_test.cpp
  tests/char_sight_test.cpp
  tests/char_suffer_test.cpp
  tests/crafting_test.cpp
  tests/encumbrance_test.cpp
  tests/invlet_test.cpp
  tests/item_pickup_test.cpp
  tests/item_test.cpp
  tests/move_cost_test.cpp
  tests/new_character_test.cpp
  tests/npc_attack_test.cpp
  tests/player_activities_test.cpp
  tests/player_helpers.cpp
  tests/player_test.cpp
  tests/reload_magazine_test.cpp
  tests/reloading_test.cpp
  tests/vision_test.cpp
  tests/wield_times_test.cpp
Labels: Code: Performance, NPC / Factions, Items: Magazines, Missions, Bionics, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed

#68012 [ Xedra Evolved ]Border Patrol Office Improvements
  data/mods/Xedra_Evolved/itemgroups/dreamsmith_procgen.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/main.json
  data/mods/Xedra_Evolved/mapgen/nested/field_office_nests.json
  data/mods/Xedra_Evolved/mapgen/xedra_field_office.json
  data/mods/Xedra_Evolved/mapgen_palettes/field_office_palette.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68013 prevent the default backgrounds from being added to templates and random scenarios
  src/newcharacter.cpp
Labels: [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed, new contributor

#67936 Character creation: small screen fixes
  src/newcharacter.cpp
  src/player_display.cpp
  src/skill_ui.cpp
  src/skill_ui.h
Labels: Info / User Interface, [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#68008 Fixes to documentation
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
Labels: <Documentation>, NPC / Factions, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#68014 JSON-ize faction camp hunting returns
  data/json/monstergroups/misc.json
  src/faction_camp.cpp
Labels: [JSON], Mods, Spawn, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#68022 recipe result: mention in sealed container
  src/crafting_gui.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67975 [Magiclysm] Add nature spirits, part 1
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/cooking_components.json
  data/mods/Magiclysm/itemgroups/death_drops.json
  data/mods/Magiclysm/items/nature_spirit_items.json
  data/mods/Magiclysm/monster_factions.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/monsters/nature_spirits.json
  data/mods/Magiclysm/recipes/recipe_potions.json
  data/mods/Magiclysm/species.json
  data/mods/Magiclysm/worldgen/overmap_specials.json
Labels: [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Monsters, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68026 Debug menu option to adjust NPC personality
  src/debug_menu.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#68042 Fix alder_bark density
  data/json/items/generic.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, astyled, json-styled

#68041 [Magiclysm] Spirit faction fixes
  data/mods/Magiclysm/monster_factions.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled

#68027 Use normal distribution for NPC altruism
  src/npc.cpp
Labels: Game: Balance, NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#68005 [DinoMod] document lore
  data/mods/DinoMod/DESIGN.md
Labels: <Documentation>, Mods, [Markdown], Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#68036 Aftershock energy weapons rebalance
  data/mods/Aftershock/damage_types.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/gun/plasma.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#68021 Add cordless drills to "power tools" itemgroup, create corded power drills
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/tools.json
  data/json/items/tool/workshop.json
  data/json/npcs/items_generic.json
  data/json/recipes/ammo/components.json
  data/json/requirements/toolsets.json
  data/json/uncraft/tools.json
  data/json/vehicleparts/modular_tools.json
  gfx/tile_config_template.json
Labels: [JSON], SDL: Tiles / Sound, Spawn, astyled, json-styled, BasicBuildPassed

#68035 [Magiclysm] Add warning message before dragon breath
  data/mods/Magiclysm/Spells/dragonbreath.json
  data/mods/Magiclysm/monsters/dragon.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68029 Cleanup arrows
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/lodge.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/main.json
  data/json/items/ranged/archery.json
  data/json/mapgen/abandoned01.json
  data/json/mapgen/nested/strip_mall_nested.json
  data/json/mapgen/store/s_hunting.json
  data/json/mapgen/survivor_forest_camp.json
  data/json/mapgen/ws_survivor_camp.json
  data/json/mapgen_palettes/lodge_palette.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/isolated_road/isolated_road_item_groups.json
  data/json/npcs/random_encounters/john_bailey.json
  data/json/npcs/refugee_center/surface_staff/Smokes/NPC_Smokes.json
  data/json/professions.json
  data/json/recipes/practice/ranged.json
  data/json/recipes/recipe_ammo.json
  data/mods/No_Hope/Mapgen/s_hunting.json
  data/mods/TEST_DATA/known_bad_density.json
  tests/reload_time_test.cpp
Labels: NPC / Factions, [JSON], Map / Mapgen, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Items: Ammo / Guns, Items: Archery, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#68025 [Magiclysm] Add fantasy species ferals
  data/mods/Magiclysm/harvest.json
  data/mods/Magiclysm/itemgroups/death_drops.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/monsters/feral_fantasy_species.json
  data/mods/Magiclysm/species.json
Labels: [JSON], Mods, Spawn, Mods: Magiclysm, astyled, json-styled

#68023 Replace attack_chance with condition
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monsters/misc.json
  doc/MONSTER_SPECIAL_ATTACKS.md
Labels: <Documentation>, [JSON], [Markdown], astyled, json-styled, BasicBuildPassed

#68044 Add EOC condition: weapon category
  data/json/npcs/TALK_TEST.json
  doc/EFFECT_ON_CONDITION.md
  src/condition.cpp
  src/condition.h
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  tests/npc_talk_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68047 Sound-triggered traps
  data/json/traps.json
  doc/JSON_INFO.md
  src/sounds.cpp
  src/trap.cpp
  src/trap.h
  src/trapfunc.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#68053 Memory management shouldn't bloat picking a fluid container 1000%
  src/item.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#68055 Bugfix: Prevent segfault when scrolling options
  src/options.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68057 Bugfix: Re-scroll list of options when toggling header
  src/options.cpp
  src/output.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68058 Update comment in hunting monstergroups to mention copy-from
  data/json/monstergroups/misc.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#68067 Update raw_fruit.json to remove incorrect RAW flags in raw_fruit.json
  data/json/items/comestibles/raw_fruit.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68065 Fix wrong maybe-uninitialized
  src/item_factory.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#68069 Cleanup ammo effects
  data/json/ammo_effects.json
  data/json/items/gun/ups.json
  data/json/monster_special_attacks/monster_gun.json
  data/mods/Aftershock/items/ammo_effects.json
  data/mods/Xedra_Evolved/items/inventor/gun.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/creature.cpp
  src/magic.cpp
Labels: <Documentation>, [JSON], Mods, [C++], [Markdown], Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68060 Update some clothing pockets
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_clothes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68032 [DinoMod] dino camp hunting
  data/mods/DinoMod/monstergroups/misc.json
Labels: [JSON], Mods, Spawn, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#68070 Revert "Update comment in hunting monstergroups to mention copy-from"
  data/json/monstergroups/misc.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#68068 Restore the craft amount for arrows to 10
  data/json/recipes/recipe_ammo.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#68066 Walther PPQ9mm is not old.
  data/mods/BombasticPerks/perkdata/old_guns.json
Labels: [JSON], Mods, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#68071 [Object Creator] Instead of calling exit(), reset and signal the default handler
  object_creator/creator_main.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68072 Option to ignore items in usage zones (i.e. firewood, auto-eat, etc)
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/clzones.h
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#68077 Fix cattail jelly mission turn-in
  data/json/npcs/missiondef.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#68084 Pineapple Supreme
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#68051 Optimize loading of pockets with many items inside
  src/activity_actor.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/iuse_actor.cpp
  src/savegame_json.cpp
Labels: Code: Performance, [C++], Items: Containers, astyled, json-styled, BasicBuildPassed

#68090 [Magiclysm] Make goblins myopic in light
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/traits/fantasy_species.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled

#68089 Undine healing fix.
  data/mods/Xedra_Evolved/mutations/paraclesian_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68079 Typo Annihilation
  data/json/achievements.json
  data/json/bionics.json
  data/json/dreams.json
  data/json/items/ammo/300.json
  data/json/items/ammo/50.json
  data/json/items/armor/jewelry.json
  data/json/items/bionics.json
  data/json/items/book/chemistry.json
  data/json/items/book/fabrication.json
  data/json/items/comestibles/med.json
  data/json/items/gun/22.json
  data/json/mutations/mutations.json
  data/json/npcs/Backgrounds/OtherSurvivorStories/NC_Farmer_background.json
  data/json/npcs/isherwood_farm/NPC_Luke_Isherwood.json
  data/json/npcs/refugee_center/surface_visitors/NPC_hunter.json
  data/json/npcs/valhalla_cult/missions.json
  data/json/proficiencies/tailoring.json
  data/json/snippets/fliers.json
  data/json/snippets/newspapers.json
  data/json/snippets/vitrified_snippets.json
  data/mods/Aftershock/mobs/abstract_monsters.json
  data/mods/Magiclysm/Spells/attunements/Gravity_Mage.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/effects/effect_potion_fruit.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/monsters/zombified_monsters.json
  data/mods/Magiclysm/ter_fur_transform/ter_fur_transform.json
  data/mods/MindOverMatter/items/matrix_crystals.json
  data/mods/MindOverMatter/monsters/monster_eoc_spells.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/powers/vitakinesis.json
  data/mods/Xedra_Evolved/items/inventor/spark_artifact_items.json
  data/mods/Xedra_Evolved/mapgen/xedra_field_office.json
  data/mods/Xedra_Evolved/monsters/elementals.json
  data/mods/Xedra_Evolved/spells/XAEA.json
  data/mods/innawood/npcs/Backgrounds/codger.json
Labels: NPC / Factions, [JSON], Mods, Missions, Bionics, Map / Mapgen, Mutations / Traits / Professions/ Hobbies, Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, Lore, Mods: Magiclysm, Mods: Aftershock, Game: Achievements / Conducts / Scores, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲, Mods: Xedra Evolved, Mods: Mind Over Matter

#68094 Fix Magiclysm merge errors
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/emitter.json
  data/mods/Magiclysm/field.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
Labels: [JSON], Mods, Spawn, <Bugfix>, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68085 Ammo Effects 2: Judgment Day
  data/json/ammo_effects.json
  data/json/items/ammo.json
  data/json/items/ammo/84x246mm.json
  data/json/items/ammo/chemical_spray.json
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/obsoletion/obsolete_items.json
  data/mods/CrazyCataclysm/crazy_ammo_effects.json
  data/mods/Generic_Guns/ammo/grenade.json
  src/item_factory.cpp
Labels: [JSON], Mods, [C++], Items: Ammo / Guns, Mods: Generic Guns, Items: Archery, astyled, json-styled, BasicBuildPassed

#68095 Add smartphone length (and adjust some items)
  data/json/items/armor/storage.json
  data/json/items/containers/containers.json
  data/json/items/tool/electronics.json
Labels: [JSON], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67932 Unload sparse items only zone option
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/clzones.h
Labels: <Enhancement / Feature>, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#68098 Updated Alloy Reference Manual
  data/json/itemgroups/books.json
  data/json/recipes/other/materials.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#68087 Stop clearing weight carried cache unnecessarily
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/consumption.cpp
  src/item.cpp
  src/item_pocket.cpp
  src/itype.cpp
  src/iuse_actor.cpp
  src/visitable.cpp
  tests/water_movement_test.cpp
Labels: Code: Performance, Code: Tests, [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#68049 [Magiclysm] More wizard furniture
  data/mods/Magiclysm/construction_group.json
  data/mods/Magiclysm/furniture.json
  data/mods/Magiclysm/items/furniture.json
  data/mods/Magiclysm/items/tools.json
  data/mods/Magiclysm/recipes/construction.json
  data/mods/Magiclysm/recipes/deconstruction.json
  data/mods/Magiclysm/recipes/furniture.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
Labels: [JSON], Mods, Vehicles, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#68099 fix: set min-max age for random characters
  src/profession.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68101 Bugfix: Correct NPC topic id for Uyen Tran
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68105 [Object Creator] Redo spell window layout
  object_creator/collapsing_widget.cpp
  object_creator/collapsing_widget.h
  object_creator/fake_spell_listbox.cpp
  object_creator/spell_window.cpp
Labels: Info / User Interface, [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68048 Allow item transform to pick a specified or random variant
  doc/JSON_INFO.md
  src/item.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: <Enhancement / Feature>, <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#68103 [Magiclysm] Everburning Torch rebalancing
  data/mods/Magiclysm/furniture.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
Labels: [JSON], Mods, Vehicles, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, astyled, json-styled

#68038 Update RM103A automagnum's description
  data/json/items/gun/8x40mm.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68102 [Magiclysm] Yet even more spells
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/emitter.json
  data/mods/Magiclysm/enchantments/Spells.json
  data/mods/Magiclysm/field.json
  data/mods/Magiclysm/furniture_and_terrain/furniture.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/mutations/temporary.json
  data/mods/Magiclysm/professions.json
  data/mods/Magiclysm/snippets/newspapers.json
  data/mods/Magiclysm/ter_fur_transform/ter_fur_transform.json
Labels: [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68113 Bugfix: AIM: insert items into container in corpse
  src/advanced_inv_pane.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68116 Bugfix: AIM: Display correct truncation of container names
  src/advanced_inv.cpp
Labels: Info / User Interface, Inventory / AIM / Zones, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67997 Fix visible tiles revealing invisible tiles below
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/game.cpp
  src/handle_action.cpp
  src/map.cpp
  src/map.h
  src/player_activity.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68118 view recipe: fix nested and or more results
  src/activity_handlers.cpp
  src/character.h
  src/crafting.cpp
  src/crafting_gui.cpp
  src/crafting_gui.h
  src/game.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled

#68109 Random cleanups part 2
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Clothing_Gear/wallets.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/books.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/defense_mode.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/military.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/tools.json
  data/json/npcs/NC_DOCTOR.json
  data/json/npcs/items_generic.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
Labels: [JSON], Missions, Map / Mapgen, Items: Food / Vitamins, Spawn, astyled, json-styled, BasicBuildPassed

#68040 Add two new professions (+some items maybe), branch the priest profession
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/hats.json
  data/json/items/armor/legs_clothes.json
  data/json/professions.json
  data/json/starting_missions.json
Labels: [JSON], Missions, Mutations / Traits / Professions/ Hobbies, Scenarios, astyled, json-styled, Items: Armor / Clothing

#68133 Make loaded stick ``looks_like`` the shillelagh
  data/json/items/melee/bludgeons.json
Labels: [JSON], astyled, json-styled

#68131 Fix furniture & vehicle map memory refresh
  src/cata_tiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68125 [MoM] Add nospell mutation to the anchoring crown
  data/mods/MindOverMatter/items/armor/head.json
  data/mods/MindOverMatter/items/schematics.json
  data/mods/MindOverMatter/mutations/temporary.json
  doc/JSON_FLAGS.md
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Mind Over Matter

#68124 Fix overflow when using cash card charges
  src/item.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68142 Bugfix: Prevent segfault when listening to radio msgs
  src/cata_utility.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68129 Remove out of date VS setup instruction about 2019 compilers when using VS2022.
  doc/COMPILING/COMPILING-VS-VCPKG.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#68137 [Object Creator] Add checks to spell properties to prevent crash
  object_creator/spell_window.cpp
Labels: [C++], <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68128 [Magiclysm] Add dispel magic spells
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/feral_wizards.json
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/monsters/feral_wizards.json
Labels: [JSON], Mods, Spawn, Monsters, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68155 Do not update visibility cache every two minutes
  src/player_activity.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68153 8 new UI colour themes
  data/raw/color_themes/base_colors-abyss.json
  data/raw/color_themes/base_colors-blood_moon.json
  data/raw/color_themes/base_colors-empyrium.json
  data/raw/color_themes/base_colors-oxygen.json
  data/raw/color_themes/base_colors-shogun.json
  data/raw/color_themes/base_colors-spark.json
  data/raw/color_themes/base_colors-sun.json
  data/raw/color_themes/base_colors-vector.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, new contributor

#68054 [ Xedra Evolved ] Paraclesian traits and abilities: Sylph and Undine
  data/mods/Xedra_Evolved/README.md
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/field_type.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/items/drugs.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/resources.json
  data/mods/Xedra_Evolved/items/vehicle_parts.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/material.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_eoc.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutations.json
  data/mods/Xedra_Evolved/proficiencies.json
  data/mods/Xedra_Evolved/recipes/category.json
  data/mods/Xedra_Evolved/recipes/elemental_mutagens.json
  data/mods/Xedra_Evolved/recipes/paraclesians/undine_recipes.json
  data/mods/Xedra_Evolved/scenario.json
  data/mods/Xedra_Evolved/vehicles/magickal_vehicles.json
  data/mods/Xedra_Evolved/vehicles/vehicle_parts.json
Labels: <Documentation>, [JSON], Mods, Vehicles, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, [Markdown], Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#68139 Compare recipe result with inventory item
  data/raw/keybindings.json
  src/crafting_gui.cpp
Labels: Info / User Interface, [JSON], Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#67960 Expand Defense Mode and fix a bug
  data/json/npcs/Backgrounds/OtherSurvivorStories/NC_SURVIVOR_CHEF_background.json
  data/json/npcs/missiondef.json
  data/json/npcs/other/NPC_pizzaiolo.json
  data/mods/Defense_Mode/eocs.json
  data/mods/Defense_Mode/mapgen/survivor_forest_camp.json
  data/mods/Defense_Mode/overmap.json
  data/mods/Defense_Mode/scenarios.json
  data/mods/Defense_Mode/specials.json
Labels: NPC / Factions, [JSON], Mods, Missions, Map / Mapgen, Scenarios, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, EOC: Effects On Condition

#68168 Scrap tin audit
  data/json/items/resources/metal.json
  data/json/uncraft/generic.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68164 Zone naming clean-up
  data/json/zones.json
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/handle_action.cpp
  tests/clzones_test.cpp
Labels: [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#68147 More quick setup debug functions
  src/bionics.cpp
  src/character.h
  src/debug_menu.cpp
  src/debug_menu.h
Labels: Bionics, [C++], astyled, json-styled, BasicBuildPassed

#68158 Attack on Typo
  data/json/npcs/hints.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dino_Dave.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_anchor_seller.json
  data/json/npcs/talk_tags.json
  data/json/techniques.json
  data/mods/Aftershock/items/cbms.json
  data/mods/Magiclysm/Spells/attunements/Crusader.json
  data/mods/Magiclysm/items/enchanted_tokens.json
  data/mods/Magiclysm/items/furniture.json
  data/mods/Magiclysm/items/nature_spirit_items.json
  data/mods/Magiclysm/items/tools.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/Xedra_Evolved/items/cbms.json
  data/mods/Xedra_Evolved/monsters/nightmares_and_chimeras.json
  data/mods/Xedra_Evolved/spells/XAEA.json
  doc/MONSTERS.md
  src/faction_camp.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, [C++], Fields / Furniture / Terrain / Traps, [Markdown], Melee, Player Faction Base / Camp, Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, Mods: Mind Over Matter

#68120 Climbing Down: Safe Ladders + Risk Level in Prompts
  src/game.cpp
  src/game.h
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed, new contributor

#68160 Isolation protocol Mod
  data/json/mapgen/microlab/microlab_hallway.json
  data/mods/Isolation-Protocol/Map/levels/entrance_level.json
  data/mods/Isolation-Protocol/Map/levels/microlab_small_level.json
  data/mods/Isolation-Protocol/Map/mapgen/elevator.json
  data/mods/Isolation-Protocol/Map/mapgen/hallway.json
  data/mods/Isolation-Protocol/Map/overmap.json
  data/mods/Isolation-Protocol/Map/overmap_location.json
  data/mods/Isolation-Protocol/Player/enchantments.json
  data/mods/Isolation-Protocol/Player/profession.json
  data/mods/Isolation-Protocol/Player/traits.json
  data/mods/Isolation-Protocol/furniture.json
  data/mods/Isolation-Protocol/game_balance.json
  data/mods/Isolation-Protocol/main_eoc.json
  data/mods/Isolation-Protocol/modinfo.json
  data/mods/Isolation-Protocol/region_settings.json
  data/mods/Isolation-Protocol/scenarios.json
  data/mods/Isolation-Protocol/setting_blacklists/scenario_blacklist.json
Labels: [JSON], Mods, Map / Mapgen, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68178 Ki Strike now works with worn equipment
  src/melee.cpp
Labels: [C++], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#67987 Pipe audit
  data/json/items/generic.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/resources/metal.json
  data/json/items/tool/entry_tools.json
  data/json/recipes/recipe_deconstruction.json
  data/mods/TEST_DATA/vehicle_drag_test.json
  data/mods/TEST_DATA/vehicle_efficiency_test.json
Labels: [JSON], Vehicles, Crafting / Construction / Recipes, Code: Tests, astyled, json-styled, BasicBuildPassed

#67990 Adds Karate manual to Novice Martial Artist starting items
  data/json/professions.json
Labels: Game: Balance, [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#68172 Add new inter-mod content to Defense Mode
  data/mods/Defense_Mode/eocs.json
  data/mods/Defense_Mode/scenarios.json
  data/mods/Magiclysm/mod_interactions/Defense_Mode/overmap_specials.json
  data/mods/Magiclysm/mod_interactions/Defense_Mode/scenarios.json
  data/mods/MindOverMatter/modinteractions/Defense_Mode/overmap_specials.json
  data/mods/MindOverMatter/modinteractions/Defense_Mode/scenarios.json
Labels: [JSON], Mods, Map / Mapgen, Scenarios, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, EOC: Effects On Condition, Mods: Mind Over Matter

#68145 [MoM] Survivor house palette additions
  data/mods/MindOverMatter/itemgroups/matrix_materials.json
  data/mods/MindOverMatter/mapgen_palettes/survivor_palette.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68192 Wheels with very high durability don't get damaged when they run over nailboard trap
  data/json/vehicleparts/wheel.json
  src/vehicle_move.cpp
Labels: [JSON], Vehicles, [C++], <Bugfix>, astyled, json-styled

#68193 Fix segfault when finishing fermentation
  src/iexamine.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68119 [MoM] Add two psionic animals
  data/mods/MindOverMatter/monstergroups/monstergroups_edited.json
  data/mods/MindOverMatter/monsters/animal_psychics.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68150 Multiple-choice prompt when walking into ledges.
  src/game.cpp
  src/iexamine.cpp
Labels: Info / User Interface, Z-levels, [C++], Quality of Life, astyled, json-styled, BasicBuildPassed, new contributor

#68196 Add special waves to Defense Mode
  data/mods/Defense_Mode/eocs.json
  data/mods/Defense_Mode/game_win.json
  data/mods/Defense_Mode/monsters.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, EOC: Effects On Condition

#68186 Implement option to display item health bars and item health descriptions at the same time
  src/item.cpp
  src/item.h
  src/options.cpp
  tests/item_tname_test.cpp
  tools/spell_checker/dictionary.txt
Labels: Info / User Interface, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#68122 [MoM] Link anchoring crown recipe to schematic
  data/mods/MindOverMatter/recipes/armor.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Mind Over Matter

#68200 Add NO_SPELLCASTING flag to Stunned effect
  data/json/effects.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#68203 [MoM] Update and fix inferno grenade
  data/mods/MindOverMatter/items/weapons.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68195 Update the table of contents in doc/JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#68188 Vampire Blood weave and Map sight
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/spells.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#68187 [MoM] New powers
  data/mods/MindOverMatter/NewPowerGuide.md
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/powers/biokinesis.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/powers/telepathy_eoc.json
  data/mods/MindOverMatter/powers/vitakinesis.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telepathy_practice.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68184 [ Xedra Evolved ] Mutation ordering for Tilesets
  data/mods/Xedra_Evolved/mutations/mutation_ordering.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68148 [MoM] Change Enervating Touch damage type
  data/mods/MindOverMatter/powers/vitakinesis.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68112 [Magiclysm] Triffid and Migo mages
  data/mods/Magiclysm/Spells/alien_mages.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/items/generic.json
  data/mods/Magiclysm/monster_factions.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/monsters/mi-go.json
  data/mods/Magiclysm/monsters/nether.json
  data/mods/Magiclysm/monsters/triffids.json
  data/mods/Magiclysm/snippets/monster_parrots.json
  data/mods/Magiclysm/worldgen/magic_field.json
  data/mods/Magiclysm/worldgen/small_magic_field.json
Labels: [JSON], Mods, Spawn, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68208 Update documentation for monster obsoletion
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#68210 fix "use range-based for loop instead"
  src/activity_handlers.cpp
  src/game.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#68213 Flying monsters can come down when needed
  src/monmove.cpp
Labels: Z-levels, [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#68206 Isolation Protocol: Better Danger Clock
  data/mods/Isolation-Protocol/EOC/danger_clock_eoc.json
  data/mods/Isolation-Protocol/EOC/elevator_eoc.json
  data/mods/Isolation-Protocol/EOC/scenario_init.json
  data/mods/Isolation-Protocol/Map/levels/safe_level.json
  data/mods/Isolation-Protocol/Map/mapgen/elevator.json
  data/mods/Isolation-Protocol/Map/mapgen/hallway.json
  data/mods/Isolation-Protocol/Map/overmap.json
  data/mods/Isolation-Protocol/Player/enchantments.json
  data/mods/Isolation-Protocol/Player/perks.json
  data/mods/Isolation-Protocol/Player/profession.json
  data/mods/Isolation-Protocol/furniture.json
  data/mods/Isolation-Protocol/scenarios.json
  data/mods/Isolation-Protocol/ui.json
Labels: [JSON], Mods, Map / Mapgen, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68222 [Object Creator] Add container-item, ammo-item, entry-wrapper and sealed properties to item group tab
  object_creator/item_group_window.cpp
  object_creator/item_group_window.h
  object_creator/simple_property_widget.cpp
  object_creator/simple_property_widget.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++], BasicBuildPassed

#68093 Weekly Changelog 2023-09-04 to 2023-09-11
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#68230 Fix a minor issue in the tied-up fridge and tied-up freezer crafting recipe
  data/json/recipes/other/vehicle.json
Labels: [JSON], Vehicles, <Bugfix>, astyled, json-styled, BasicBuildPassed

#68169 Hold onto items which donot fit vehicle storage space
  src/activity_item_handling.cpp
Labels: Vehicles, [C++], <Bugfix>, Quality of Life, astyled, json-styled, BasicBuildPassed

#68235 replace ... with … where appropriate
  data/json/monsters/zed_lieutenant.json
  data/mods/Backrooms/snippets.json
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
  data/mods/MindOverMatter/effectoncondition/eoc_premonition_instances.json
  data/mods/Tamable_Wildlife/fish.json
  data/mods/Tamable_Wildlife/insect_spider.json
  data/mods/Tamable_Wildlife/mollusk.json
Labels: [JSON], Mods, Lore, astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife, Mods: Mind Over Matter

#68216 Random cleanups part 3
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/library.json
  data/json/itemgroups/SUS/mre_packages.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/300blk.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/police_armory.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/main.json
  data/json/itemgroups/military.json
  data/json/itemgroups/tools.json
Labels: [JSON], Items: Magazines, Items: Gunmod / Toolmod, Spawn, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68173 Add object creator to releases
  .devcontainer/Dockerfile
  .github/workflows/release.yml
  Makefile
  doc/COMPILING/COMPILING-DEVCONTAINER.md
  doc/img/Devcontainer-Commented-Out-Qt5-Linux-Libs.png
  doc/img/Devcontainer-Find-Uncommented-Linux-QT5-Libs.png
  object_creator/creator_main_window.cpp
  object_creator/qt-license.txt
Labels: <Documentation>, Code: Build, [C++], [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#68218 Merchants will tell when they will restock
  data/json/npcs/cabin_chemist/chemist_npc.json
  data/json/npcs/exodii/exodii_merchant_talk.json
  data/json/npcs/godco/members/NPC_Kostas_Walsman.json
  data/json/npcs/godco/visitors/TALK_CARAVAN_MERCHANT_PREDATORY.json
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/isolated_road/isolated_road_cody_dialogue.json
  data/json/npcs/isolated_road/isolated_road_jay_dialogue.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_talk.json
  data/json/npcs/robofac/ROBOFAC_SURFACE_FREEMERCHANT.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
  data/json/npcs/scrap_trader/scrap_trader.json
  data/json/npcs/tacoma_ranch/NPC_ranch_scavenger.json
  doc/NPCs.md
  src/npc.cpp
  src/npc.h
  src/npctalk.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#68243 Adjust devcontainer image url to be lowercase
  .github/workflows/release.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#68247 [Magiclysm] Move Dust Reborn kcal value to PREVENT_DEATH EoC
  data/mods/Magiclysm/enchantments/Gaias_Chosen.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#68239 An alternate sidebar
  data/json/ui/sidebar-thick-cleaner.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#68240 Gives firefighter professions a PBA mask
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, new contributor

#68215 Anger npc if player asks for equipment
  data/json/npcs/common_chat/TALK_COMMON_OTHER.json
Labels: NPC / Factions, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68214 Bulk loading/unloading items into container saves time cost
  src/activity_actor.cpp
  src/character.cpp
  src/character.h
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#68140 [Magiclysm] The Effectifying
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/enchantments/Spells.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/item_enchants.json
  data/mods/Magiclysm/items/obsolete.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68207 [Xedra Evolved] Add some mutations to Arvore Paraclesian scenario
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/goblin_fruit_effects.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture-plants.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/itemgroups/goblin_fruit.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/items/comestibles/goblin_fruits.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_eoc.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutations.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
  doc/MUTATIONS.md
Labels: <Documentation>, [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#68159 [MoM] Add zombie blank
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/emits.json
  data/mods/MindOverMatter/fields.json
  data/mods/MindOverMatter/monstergroups/zombie_upgrades.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
  data/mods/MindOverMatter/monsters/zombies.json
Labels: [JSON], Mods, Spawn, Monsters, Fields / Furniture / Terrain / Traps, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68254 Remove the token bash damage on belts
  data/json/items/armor/belts.json
Labels: [JSON], astyled, json-styled, Items: Armor / Clothing

#67262 Remove leather material from tourniquet
  data/json/items/tool_armor.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, <Bugfix>, astyled, json-styled, Items: Armor / Clothing

#68258 Molotovs correctly used liquid accelerant
  data/json/recipes/weapon/explosive.json
  data/json/requirements/explosives.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#68261 Bugfix: Prevent empty subject in 'but do no damage' msgs when dealing no damage
  src/melee.cpp
Labels: [C++], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed
