Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-08, with the labels that each got.

#67323 Cash card & friends numbers audit
  data/json/items/generic.json
  data/json/items/id_cards.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#67008 Synthetic Lungs CBM
  data/json/bionics.json
  data/json/itemgroups/bionics.json
  data/json/items/bionics.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  src/character.cpp
  src/suffer.cpp
Labels: [JSON], Bionics, Spawn, [C++], astyled, json-styled, BasicBuildPassed

#67319 Weekly Changelog 2023-07-24 to 2023-07-31
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#66879 [MoM Add telepathic and telekinetic damage types with appropriate immunities
  data/mods/MindOverMatter/damage_types.json
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/json_flags.json
  data/mods/MindOverMatter/monsters/feral_lab_psychics.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/monster_overrides.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
  data/mods/MindOverMatter/monsters/nether.json
  data/mods/MindOverMatter/monsters/species_overrides.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/test_data.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67258 Adjust charcoal production from filled charcoal kiln
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#67301 NPC reads books repeatedly
  data/json/npcs/common_chat/TALK_COMMON_ALLY.json
  data/json/player_activities.json
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/npc.cpp
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#66871 Cable rework part 2: Extension cords and more
  data/json/flags.json
  data/json/furniture_and_terrain/appliances.json
  data/json/item_actions.json
  data/json/items/tool/cables.json
  data/json/items/tool/cooking.json
  data/json/items/tool/electronics.json
  data/json/items/tool/lighting.json
  data/json/items/tool/misc.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool/science.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/obsoletion/migration_items.json
  data/json/player_activities.json
  data/json/vehicleparts/battery.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_flags.json
  data/mods/TEST_DATA/appliance.json
  data/raw/keybindings.json
  data/raw/keybindings/vehicle.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/advanced_inv.cpp
  src/flag.cpp
  src/flag.h
  src/inventory_ui.cpp
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_factory.cpp
  src/item_pocket.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/map.cpp
  src/player_activity.cpp
  src/savegame_json.cpp
  src/veh_appliance.cpp
  src/veh_appliance.h
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  src/vehicle_use.cpp
  tests/vehicle_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, Info / User Interface, [JSON], Vehicles, Items: Battery / UPS, Code: Tests, [C++], <Bugfix>, [Markdown], Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Appliance/Power Grid

#67345 New item categories for martial arts manuals and traps
  data/json/item_category.json
  data/json/items/book/abstract.json
  data/json/items/tool/traps.json
  data/json/loot_zones.json
Labels: [JSON], Spawn, Items / Item Actions / Item Qualities, Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#67346 Added detailed info on stats on character creation menu
  src/newcharacter.cpp
Labels: Info / User Interface, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#67282 Adjust the fried seeds recipe and the plants which grow seeds for it
  data/json/items/comestibles/seed.json
  data/json/recipes/food/seed.json
  data/json/recipes/recipe_food.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#67356 Fix smoking racks not consuming items
  src/iexamine.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67328 Humanising the pre-cataclysm, photographs PR.
  data/json/itemgroups/Clothing_Gear/wallets.json
  data/json/items/newspaper.json
  data/json/snippets/photos.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#67342 Fix use menu denial message and invoking items for comestibles without charges
  src/item.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67367 Hotfix: Fix persistent parents
  data/json/monsters/civilians.json
Labels: [JSON], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#67376 Various link up fixes
  data/json/items/tool/cables.json
  data/json/items/tool/cooking.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/avatar_action.cpp
  src/item.cpp
  src/item_contents.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/savegame_json.cpp
  src/veh_appliance.cpp
  src/vehicle_use.cpp
Labels: <Documentation>, [JSON], Vehicles, [C++], <Bugfix>, [Markdown], Items: Containers, astyled, json-styled, Appliance/Power Grid

#67375 A bit better local files reading
  data/json/effect_on_condition.json
  data/json/npcs/missiondef.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#67223 Jsonify road
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/mapgen/gas_stations/s_gas.json
  data/json/mapgen/nested/road_nested.json
  data/json/mapgen/nested/road_vehicles_nested.json
  data/json/mapgen/road.json
  data/json/mapgen_palettes/road.json
  data/json/overmap/overmap_connections.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/overmap/special_locations.json
  data/json/road_vehicles.json
  data/json/snippets/snippets.json
  data/json/start_locations.json
  data/json/vehicle_groups.json
  data/mods/Graphical_Overmap/go_overmap_terrain_transportation.json
  data/mods/No_Hope/Mapgen/s_gas.json
  data/mods/No_Hope/palettes.json
  data/mods/No_Hope/road_vehicles_nested.json
  data/mods/No_Hope/vehicle_placement.json
  data/mods/No_Hope/vehicle_spawn.json
  data/mods/aftershock_exoplanet/Map/overmap_terrain/overmap_terrain_transportation.json
  data/mods/alt_map_key/overmap_terrain.json
  src/map.h
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/mapgendata.cpp
  src/mapgendata.h
  src/vehicle_group.cpp
  tests/mapgen_function_test.cpp
Labels: [JSON], Mods, Map / Mapgen, Vehicles, Code: Tests, [C++], Fields / Furniture / Terrain / Traps, Scenarios, Lore, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#67357 increase arpen of 556
  data/json/items/ammo/223.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67392 Fix bone broth and bone stuff being inedible
  data/json/items/comestibles/carnivore.json
  data/json/materials.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#67397 Meds show portions in crafting menu
  src/item.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#67371 update spear strap recipe to be more inline with its material type and description
  data/json/recipes/armor/storage.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67382 [ Xedra Evolved ] Blood Draw kit and vampires take 3
  data/mods/Xedra_Evolved/mutations/mutation_eocs.json
  src/iuse.cpp
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#67407 Fix milling result and insert message
  src/iexamine.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67404 Larger and more I18n-friendly safemode UI
  src/safemode_ui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67403 AIM: Make navigation feel faster by fewer sidebar updates
  src/advanced_inv.cpp
Labels: Code: Performance, [C++], astyled, json-styled, BasicBuildPassed

#67396 Allow roach dirt to make liquid fertilizer
  data/json/recipes/recipe_medsandchemicals.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#67408 Improve performance of recipe::create_results
  src/recipe.cpp
Labels: Crafting / Construction / Recipes, [C++], astyled, json-styled

#67413 Micro dialogue update 1: Jenny
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
Labels: NPC / Factions, [JSON], Lore, astyled, json-styled, BasicBuildPassed

#67329 Allow for cross-compiling from Linux to Windows in Devcontainer
  .devcontainer/Dockerfile
  .vscode/settings.json
  doc/COMPILING/COMPILING-DEVCONTAINER.md
  doc/img/Devcontainer-Dockerfile-Changed-Prompt-Click-Rebuild.png
  doc/img/Devcontainer-Find-Commented-Windows-Commands-In-Dockerfile.png
  doc/img/Devcontainer-Makefile-Settings-Crosscompile-Windows.png
  doc/img/Devcontainer-Uncomment-Windows-Part-In-Dockerfile.png
Labels: <Documentation>, Code: Build, [Markdown], astyled, json-styled, BasicBuildPassed

#67409 Overconfident officers drop their guns 100% of the time
  data/json/monsters/civilians.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67350 Reduce NPC faction camp task slowdown (Part 1)
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/clzones.h
  src/npc.h
  src/npcmove.cpp
  src/savegame_json.cpp
Labels: Code: Performance, NPC / Factions, [C++], astyled, json-styled

#67395 XL sized ballistic vests
  data/json/items/armor/ballistic_armor.json
  data/json/recipes/armor/torso.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67351 [MoM] Add new powers, part 2
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/obsolete/obsolete.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/pyrokinesis_eoc.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/powers/vitakinesis.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telepathy_practice.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67358 adjust sound of stun gun bionic
  data/json/bionic_spells.json
Labels: [JSON], Bionics, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#67424 Micro dialogue update 3: Mandeep
  data/json/npcs/refugee_center/surface_refugees/NPC_Mandeep_Singh.json
Labels: NPC / Factions, [JSON], Lore, astyled, json-styled

#67419 Micro dialogue update 2: Uyen
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
Labels: NPC / Factions, [JSON], Lore, astyled, json-styled

#67421 update reaper description for accuracy
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], Vehicles, astyled, json-styled, BasicBuildPassed

#67414 Rebalance some larger food loot groups to commercial kitchens
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/food_service.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/school_1.json
  data/json/mapgen_palettes/restaurant_palette.json
Labels: Game: Balance, [JSON], Map / Mapgen, Items: Food / Vitamins, Spawn, astyled, json-styled, BasicBuildPassed

#67387 fix typo in photos.json
  data/json/snippets/photos.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#67418 [MoM] Add newly-awakened psionic disciplines as hobbies
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/hobbies.json
  data/mods/MindOverMatter/obsolete/contemplation_notes.json
  data/mods/MindOverMatter/professions.json
  doc/EFFECT_ON_CONDITION.md
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67439 Fix comestible prices
  data/json/items/biosignatures.json
  data/json/items/chemicals_and_resources.json
  data/json/items/classes/comestible.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/baked.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/cereal.json
  data/json/items/comestibles/dairy.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mushroom.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/offal_dishes.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/protein.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/raw_grain.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/sandwich.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/spice.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/mods/Aftershock/items/comestibles/alienfood.json
  data/mods/Aftershock/items/comestibles/cheap_food.json
  data/mods/Aftershock/items/comestibles/comestibles.json
  data/mods/Aftershock/items/comestibles/veggies.json
  data/mods/Aftershock/items/seed.json
  data/mods/CrazyCataclysm/crazy_comestibles.json
  data/mods/DinoMod/items/egg.json
  data/mods/My_Sweet_Cataclysm/sweet_comestibles.json
  data/mods/My_Sweet_Cataclysm/sweet_med.json
  data/mods/TropiCataclysm/items/comestibles/seed.json
  data/mods/Xedra_Evolved/items/alchemy.json
  data/mods/Xedra_Evolved/items/comestibles/med.json
  data/mods/Xedra_Evolved/items/comestibles/raw_fruit.json
  data/mods/Xedra_Evolved/items/drugs.json
  data/mods/deadly_bites/items.json
  data/mods/innawood/items/medical_primitive.json
Labels: [JSON], Mods, Items: Food / Vitamins, <Bugfix>, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲, Mods: TropiCataclysm 🌴, Mods: Xedra Evolved

#67416 [MoM] Fix zombie telepathic stuns
  data/mods/MindOverMatter/damage_types.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67441 Improve turn performance when having many solar panels
  src/iuse_actor.cpp
  src/map.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Labels: Code: Performance, Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#67438 Fix typos in new photos.json snippets
  data/json/snippets/photos.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#67437 Remove the use of data cards
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/npcs/computers/TALK_TRAIN_DATA.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_missions.json
Labels: NPC / Factions, [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#67432 correct cannabis seeds calories
  data/json/items/comestibles/seed.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67401 [Aftershock] Pad Aftershock items
  data/mods/Aftershock/items/armor_helmets.json
  data/mods/Aftershock/items/tool_armor.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67398 [BombPerks] Attack speed perk for chainsaws & other powered blades(& a typo)
  data/mods/BombasticPerks/corefiles/welcomemenu.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#67383 carpet construction is easier
  data/json/construction.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#67440 Another Typo, Another PR
  data/json/snippets/e_logs.json
  data/json/snippets/lab.json
  data/json/talk_vitrified.json
  data/mods/Aftershock/items/seed.json
  data/mods/BombasticPerks/perkdata/empath.json
  data/mods/BombasticPerks/perkdata/popeye.json
  data/mods/BombasticPerks/perkdata/troubleseeker.json
  data/mods/Magiclysm/traits/temporary_demon_traits.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/Xedra_Evolved/snippets/migo_speech.json
  data/mods/Xedra_Evolved/snippets/snippet.json
  data/mods/Xedra_Evolved/snippets/xedra.json
  data/mods/innawood/monsters/nether.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲, Mods: Xedra Evolved, Mods: Bombastic Perks, Mods: Mind Over Matter

#67417 Fix bionics not displaying units when power is too low to use bionic
  src/character.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63590 [Megafauna] Add weakpoints and anatomical proficiencies
  data/mods/Megafauna/mf_weakpoint_sets.json
  data/mods/Megafauna/monsters/mf_domestic.json
  data/mods/Megafauna/monsters/mf_predators.json
  data/mods/Megafauna/monsters/mf_wild.json
  data/mods/Megafauna/proficiencies/mf_weakpoints.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled

#67449 Nerf police armories a second time
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/police_armory.json
Labels: Game: Balance, [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67412 More granularity and higher levels in backgrounds
  data/json/hobbies.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#67460 Fix cable respooling crash
  src/activity_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67462 [Sky Island] difficulty selector fix
  data/mods/Sky_Island/EOCs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#67459 Adds proper one lane nests for the layby
  data/json/mapgen/nested/road_nested.json
  data/json/mapgen/road.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#67466 Slightly improve crafting menu food tab performance
  src/consumption.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#67463 fix bp fouling rusting (again)
  src/item.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67406 Low-tech weather tools!
  data/json/items/tool/science.json
  data/json/recipes/tools/tools_primitive.json
  data/mods/innawood/mining/furniture_and_terrain/terrain-walls.json
  data/mods/innawood/mining/items/ore.json
  data/mods/innawood/mining/recipes/smelting.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#67352 Update all active items to new tick action system and remove old system
  data/json/item_actions.json
  data/json/items/fake.json
  data/json/items/tool/cooking.json
  data/json/items/tool/electronics.json
  data/json/items/tool/fishing.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/armor_helmets.json
  data/mods/Aftershock/items/tools.json
  data/mods/Xedra_Evolved/items/inventor/armor.json
  doc/JSON_INFO.md
  src/activity_actor.cpp
  src/avatar.cpp
  src/character.cpp
  src/game_inventory.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item_action.cpp
  src/item_factory.cpp
  src/itype.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/npcmove.cpp
  src/vehicle_use.cpp
  tests/battery_mod_test.cpp
  tests/explosion_balance_test.cpp
  tests/iuse_actor_test.cpp
  tests/player_activities_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Vehicles, Items: Battery / UPS, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#67147 New transparent plastics, material adjustments
  data/json/materials.json
  tests/coverage_test.cpp
  tests/iteminfo_test.cpp
Labels: Game: Balance, [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#67491 Add pinecone to tinder recipes requiring cutting tools
  data/json/recipes/recipe_ammo.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#67465 Add additional refrigerated tanks
  data/json/items/vehicle/utilities.json
  data/json/recipes/recipe_vehicle.json
  data/json/vehicleparts/tanks.json
Labels: [JSON], Vehicles, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#67507 [Sky Island] Stat stone fix
  data/mods/Sky_Island/EOCs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#67509 Vehicle interaction to start at point of examination
  src/vehicle_use.cpp
Labels: Info / User Interface, Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#67504 [MoM] Intensify center of Quell Fire mist
  data/mods/MindOverMatter/powers/pyrokinesis.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67493 Map Editor displays ter_str_id/furn_str_id instead of names
  src/editmap.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#67490 Crafting menu shows furniture qualities
  src/construction.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#67476 Canceling "save zone" query returns you to zone manager instead of discarding changes
  data/raw/keybindings.json
  src/diary_ui.cpp
  src/game.cpp
  src/output.cpp
  src/output.h
Labels: Info / User Interface, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67399 [MoM] New powers, part 3
  data/mods/MindOverMatter/damage_types.json
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/emits.json
  data/mods/MindOverMatter/fields.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/json_flags.json
  data/mods/MindOverMatter/monstergroups/monstergroups_new.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/psi_summons.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/powers/biokinesis.json
  data/mods/MindOverMatter/powers/biokinesis_eocs.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/pyrokinesis_eoc.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/teleportation_eoc.json
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
  data/mods/MindOverMatter/recipes/practice/pyrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#67474 Cache nutrient results for recipes while calculating nutrient range for food info
  src/character.h
  src/consumption.cpp
  src/item.cpp
  tests/comestible_test.cpp
Labels: Code: Performance, Items: Food / Vitamins, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67475 Update simple string condition keys in string extractor and fix some string extraction warnings
  lang/string_extractor/parsers/talk_topic.py
  src/advanced_inv.cpp
  src/condition.h
  src/martialarts.cpp
  src/units.h
Labels: Translation, [C++], [Python], Martial Arts, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#67514 [MoM] Fix Vitakinetic/Synthetic Lungs interaction
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/npcs/dialogue/follower_dialogue.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67512 Allow installing and removing bionics through debug menu
  data/json/mutations/mutations.json
  src/character.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/mutation.cpp
  src/wish.cpp
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Quality of Life, Code: Debug, astyled, json-styled, BasicBuildPassed

#67500 Cotton sheet folded seat isn't repaired with welding but sewing
  data/json/vehicleparts/seats.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67502 Account for barrel assembly in CZ 600 Trail's weight
  data/json/items/gun/223.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#67467 Add more stuff to Alpha
  data/json/mutations/mutations.json
  src/consumption.cpp
  src/crafting.cpp
  src/morale.cpp
  tests/char_healing_test.cpp
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#67497 Add hillbilly profession
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#67220 Integrated multitool fix
  data/json/bionics.json
  data/json/items/tool/integrated.json
  tests/iteminfo_test.cpp
Labels: [JSON], Bionics, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67503 [MoM] Mind Over Matter-specific Research facility overhaul
  data/mods/MindOverMatter/itemgroups/itemgroups.json
  data/mods/MindOverMatter/items/files_post_it.json
  data/mods/MindOverMatter/mapgen/map_extras/alien_flora_varieties.json
  data/mods/MindOverMatter/mapgen/map_extras/glass_and_crystal.json
  data/mods/MindOverMatter/mapgen/map_extras/nether_pond.json
  data/mods/MindOverMatter/mapgen/nested/office_phavian_modular.json
  data/mods/MindOverMatter/mapgen/overmap/overmap_specials.json
  data/mods/MindOverMatter/mapgen/overmap/overmap_terrain.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_basement.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_nested.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_roof.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_z1.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_z2.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_z3.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_z4.json
  data/mods/MindOverMatter/mapgen/research_facility_matrix.json
  data/mods/MindOverMatter/monstergroups/monstergroups_new.json
  data/mods/MindOverMatter/overmap/map_extras.json
  data/mods/MindOverMatter/overmap/multitile_city_buildings.json
  data/mods/MindOverMatter/overmap/nether_crystal_field.json
  data/mods/MindOverMatter/overmap/overmap_overrides.json
  data/mods/MindOverMatter/overmap/overmap_specials.json
  data/mods/MindOverMatter/overmap/overmap_terrain.json
  data/mods/MindOverMatter/overmap/regional_overlay.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67501 Flesh out the Free Merchant representative for the God's Chosen
  data/json/items/generic.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/npcs/godco/classes.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/members/NPC_Arturo_Maldonado.json
  data/json/npcs/godco/members/NPC_Aunt_Theresa.json
  data/json/npcs/godco/members/NPC_Chloe_Taylor_King.json
  data/json/npcs/godco/members/NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/members/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/members/NPC_Father_Greenwood.json
  data/json/npcs/godco/members/NPC_Felicity_Powell.json
  data/json/npcs/godco/members/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/members/NPC_Helena_Misinter.json
  data/json/npcs/godco/members/NPC_Jane_Schulz.json
  data/json/npcs/godco/members/NPC_Jeremiah_Weaver.json
  data/json/npcs/godco/members/NPC_Julian_Ray.json
  data/json/npcs/godco/members/NPC_Katherine_Weaver.json
  data/json/npcs/godco/members/NPC_Kostas_Walsman.json
  data/json/npcs/godco/members/NPC_Maria_Serrano.json
  data/json/npcs/godco/members/NPC_Olwen_Powell.json
  data/json/npcs/godco/members/NPC_Russell_Connelly.json
  data/json/npcs/godco/members/NPC_Sonia_Greene.json
  data/json/npcs/godco/members/NPC_Tom_Powell.json
  data/json/npcs/godco/members/NPC_Zachary_Montes.json
  data/json/npcs/godco/members/cook.json
  data/json/npcs/godco/members/foodguard.json
  data/json/npcs/godco/npcs.json
  data/json/npcs/godco/visitors/TALK_CARAVAN_GUARD_PREDATORY.json
  data/json/npcs/godco/visitors/TALK_CARAVAN_MERCHANT_PREDATORY.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_teamster.json
Labels: NPC / Factions, [JSON], Missions, Map / Mapgen, Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#67523 [MoM] Add VERDANT HAND Combat Protocol (try 2)
  data/mods/MindOverMatter/itemgroups/feral_deathdrops.json
  data/mods/MindOverMatter/itemgroups/itemgroups.json
  data/mods/MindOverMatter/items/books.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/recipes/rituals.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67530 Fix component distribution errors for crafted food
  data/json/recipes/recipe_food.json
  src/recipe.cpp
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67472 Cataclysm and game start dates are to be set through scenarios
  data/json/scenarios.json
  data/mods/Standard_Combat_Tests/modinfo.json
  data/mods/TEST_DATA/scenarios.json
  data/mods/innawood/scenarios.json
  data/raw/keybindings.json
  doc/JSON_INFO.md
  src/debug_menu.cpp
  src/game.cpp
  src/newcharacter.cpp
  src/options.cpp
  src/savegame_json.cpp
  src/scenario.cpp
  src/scenario.h
  tests/start_date_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Code: Tests, [C++], <Bugfix>, [Markdown], Scenarios, Character / World Generation, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#67494 Enable/disable showing several non-player-related messages in the log
  src/creature.cpp
  src/game.cpp
  src/mattack_actors.cpp
  src/monmove.cpp
  src/monster.cpp
  src/options.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#67453 Matchhead powder loaded bullets
  data/json/itemgroups/supplies.json
  data/json/items/ammo/10mm.json
  data/json/items/ammo/22.json
  data/json/items/ammo/30carbine.json
  data/json/items/ammo/32.json
  data/json/items/ammo/357mag.json
  data/json/items/ammo/357sig.json
  data/json/items/ammo/38.json
  data/json/items/ammo/380.json
  data/json/items/ammo/40.json
  data/json/items/ammo/45.json
  data/json/items/ammo/45colt.json
  data/json/items/ammo/762x25.json
  data/json/items/ammo/9mm.json
  data/json/items/ammo/9x18.json
  data/json/items/chemicals_and_resources.json
  data/json/recipes/ammo/pistol.json
  data/json/recipes/ammo/rifle.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/requirements/explosives.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/ammo/pistol.json
  data/mods/Generic_Guns/ammo/pistol_tiny.json
  data/mods/Generic_Guns/recipes/recipes_pistol.json
  doc/JSON_FLAGS.md
  src/item.cpp
  src/ranged.cpp
  tools/spell_checker/dictionary.txt
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Spawn, [C++], [Markdown], Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#67534 Fix radio modded explosives
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67458 Friendly NPC crafting by crafting menu
  data/json/npcs/common_chat/TALK_COMMON_ALLY.json
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/character.h
  src/crafting.cpp
  src/crafting_gui.cpp
  src/crafting_gui.h
  src/npc.h
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
  src/recipe.cpp
  src/recipe.h
Labels: <Enhancement / Feature>, NPC / Factions, Info / User Interface, [JSON], Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#67499 decrease frequency of tileset updates
  .github/workflows/update-tilesets.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#67483 Mutation selector mod
  data/core/game_balance.json
  data/mods/Mutation_Selector/modinfo.json
  src/character.h
  src/mutation.cpp
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed

#67540 [MoM] Fix teleportocalypse
  data/mods/MindOverMatter/damage_types.json
  data/mods/MindOverMatter/json_flags.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67545 Remove debug_bionic_powergen trait_id from debug_menu.cpp
  src/debug_menu.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#67547 Remove no_fungi
  data/mods/No_Fungi/comestibles.json
  data/mods/No_Fungi/furniture.json
  data/mods/No_Fungi/modinfo.json
  data/mods/No_Fungi/terrain.json
Labels: [JSON], Mods, Items: Food / Vitamins, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#67516 Show inventory selector for tinder when starting fires with tools that require tinder
  src/activity_handlers.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#67556 Remove Mutation Selector mod
  data/mods/Mutation_Selector/modinfo.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed

#67349 [WIP] Add functions for efficiently handling massive amounts of identical items
  src/character.cpp
  src/character.h
  src/character_inventory.cpp
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/map.cpp
  src/map.h
  src/wish.cpp
Labels: Code: Performance, [C++], Items: Containers, astyled, json-styled, BasicBuildPassed

#67548 Into the *Typostorm
  data/json/items/armor/legs_clothes.json
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
  data/json/recipes/basecamps/expansion/recipe_modular_storehouse/version_2/recipe_modular_storehouse_construction.json
  data/mods/Xedra_Evolved/items/melee.json
  src/item.cpp
Labels: NPC / Factions, [JSON], Mods, Crafting / Construction / Recipes, [C++], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#67557 Update itemgroups.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
Labels: [JSON], Mods, Spawn, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#67525 Give the God's Chosen NPCs some anti-mutant dialogue
  data/json/mapgen/godco/godco_eocs.json
  data/json/npcs/godco/NECC_INFO.md
  data/json/npcs/godco/members/NPC_Arturo_Maldonado.json
  data/json/npcs/godco/members/NPC_Aunt_Theresa.json
  data/json/npcs/godco/members/NPC_Corrie_Kaja_Dosia.json
  data/json/npcs/godco/members/NPC_Darryl_Johnstone.json
  data/json/npcs/godco/members/NPC_Father_Greenwood.json
  data/json/npcs/godco/members/NPC_Felicity_Powell.json
  data/json/npcs/godco/members/NPC_Gemma_Johnstone.json
  data/json/npcs/godco/members/NPC_Helena_Misinter.json
  data/json/npcs/godco/members/NPC_Jane_Schulz.json
  data/json/npcs/godco/members/NPC_Julian_Ray.json
  data/json/npcs/godco/members/NPC_Katherine_Weaver.json
  data/json/npcs/godco/members/NPC_Kostas_Walsman.json
  data/json/npcs/godco/members/NPC_Maria_Serrano.json
  data/json/npcs/godco/members/NPC_Olwen_Powell.json
  data/json/npcs/godco/members/NPC_Russell_Connelly.json
  data/json/npcs/godco/members/NPC_Tom_Powell.json
  data/json/npcs/godco/members/NPC_Zachary_Montes.json
  data/json/npcs/godco/members/cook.json
  data/json/npcs/godco/members/foodguard.json
Labels: <Documentation>, NPC / Factions, [JSON], Map / Mapgen, Items: Food / Vitamins, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#67550 Mapgen: Add barber shop
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/mapgen/barber_shop.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#67535 Make waiting in npc heavy areas up to 2x faster
  src/cata_lazy.h
  src/character.cpp
  src/character.h
  src/condition.cpp
  src/creature.cpp
  src/creature.h
  src/dialogue.h
  src/effect_on_condition.cpp
  src/game.h
  src/npctalk.cpp
  src/savegame.cpp
  src/savegame_json.cpp
Labels: Code: Performance, NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#67564 Minor fix of NPC crafting
  src/character.h
  src/craft_command.cpp
  src/crafting.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67536 Profession skills overhaul
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#67574 Fix start date tests corrupting global state
  tests/start_date_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67577 Drop basic build and osx ccaches to fix screwy unbounded growth.
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#67576 Scroll one page when displaying item info
  src/output.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#67573 [Aftershock] Adjust bionic toolkit qualities
  data/mods/Aftershock/items/tools.json
Labels: Game: Balance, [JSON], Mods, Mods: Aftershock, astyled, json-styled

#67539 Recharge sulfur powder and make it not a comestible
  data/json/itemgroups/science_and_tech.json
  data/json/items/chemicals_and_resources.json
  data/json/obsoletion/blacklist_temperature_removal.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#67584 [MoM] Fix Fountain of Flames
  data/mods/MindOverMatter/powers/pyrokinesis.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67579 Fix scenario start dates
  data/json/scenarios.json
  data/mods/TEST_DATA/scenarios.json
  data/mods/innawood/scenarios.json
  data/raw/keybindings.json
  doc/JSON_INFO.md
  src/newcharacter.cpp
  src/scenario.cpp
  src/scenario.h
  tests/start_date_test.cpp
Labels: <Documentation>, [JSON], Code: Tests, [C++], <Bugfix>, [Markdown], Scenarios, Character / World Generation, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#67588 Prevent deleting furniture with grappling hook
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67575 Scrollable item info in vending machine ui
  data/raw/keybindings.json
  src/iexamine.cpp
Labels: Info / User Interface, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67585 Bugfix: Do not destroy items when climbing grappling hook
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67609 fix a spawn of nuts_bolts
  data/json/itemgroups/supplies.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#67582 Scrollbar for wish item menu
  data/raw/keybindings.json
  src/wish.cpp
Labels: Info / User Interface, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67410 [CR] Fix "*_inf" item groups and check for unmigrated item spawns
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-alien.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/furniture_and_terrain/furniture-industrial.json
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/furniture_and_terrain/furniture-storage.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/tobacco.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/SUS/alien.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/SUS/fridges.json
  data/json/itemgroups/SUS/gunstore.json
  data/json/itemgroups/SUS/mre_packages.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/military.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/supplies.json
  data/json/mapgen/map_extras/toxic_waste.json
  data/json/monsterdrops/misc.json
  data/json/monsterdrops/zombie_default.json
  data/json/professions.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/medical.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/Aftershock/itemgroups/astronaut_mre.json
  data/mods/Aftershock/itemgroups/food_groups.json
  data/mods/Aftershock/itemgroups/nuclear_reactor_groups.json
  data/mods/Aftershock/maps/furniture.json
  data/mods/Aftershock/maps/furniture_lab.json
  data/mods/Aftershock/monsterdrops/monster_default.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/Magiclysm/furniture.json
  data/mods/TEST_DATA/mapgen-test.json
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/itemgroups/map_extra_itemgroups.json
  data/mods/Xedra_Evolved/itemgroups/monster_drops.json
  data/mods/Xedra_Evolved/player/professions.json
  data/mods/deadly_bites/itemgroups.json
  doc/ITEM_SPAWN.md
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
Labels: <Documentation>, [JSON], Map / Mapgen, Vehicles, Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], Items: Ammo / Guns, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid, Mods: Xedra Evolved

#66746 sort first time contributors for test approval
  .github/workflows/label-first-time-contributor.yml
Labels: stale, Code: Tooling, astyled, json-styled, BasicBuildPassed

#67561 Begin giving Luo unique dialogue after recruitment
  data/json/npcs/refugee_center/beggars/BEGGAR_3_Luo_Meizhen.json
  data/json/npcs/your_followers/luo_follower.json
  data/json/proficiencies/chemistry.json
Labels: NPC / Factions, [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#67212 Expand the Hells Raiders: Round 2
  data/json/mapgen/hells_raiders/bandit_cabin.json
  data/json/mapgen/hells_raiders/bandit_camp.json
  data/json/mapgen/hells_raiders/bandit_drug_lab.json
  data/json/mapgen/hells_raiders/bandit_garage.json
  data/json/mapgen/hells_raiders/bandit_work_camp.json
  data/json/npcs/classes.json
  data/json/npcs/hells_raiders/classes.json
  data/json/npcs/hells_raiders/npc.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: NPC / Factions, [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#67526 JSONify Defense Mode
  .github/labeler.yml
  data/mods/Defense_Mode/eocs.json
  data/mods/Defense_Mode/mapgen/hospital.json
  data/mods/Defense_Mode/mapgen/mansion.json
  data/mods/Defense_Mode/mapgen/megastore.json
  data/mods/Defense_Mode/mapgen/public_works.json
  data/mods/Defense_Mode/mapgen/updates.json
  data/mods/Defense_Mode/menu_screen.json
  data/mods/Defense_Mode/modinfo.json
  data/mods/Defense_Mode/monstergroups.json
  data/mods/Defense_Mode/npcs.json
  data/mods/Defense_Mode/overmap.json
  data/mods/Defense_Mode/region_overlay.json
  data/mods/Defense_Mode/scenarios.json
  data/mods/Defense_Mode/specials.json
  data/mods/Defense_Mode/species.json
  src/gamemode.cpp
  src/gamemode_defense.cpp
  src/gamemode_defense.h
  src/ui.cpp
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, Info / User Interface, [JSON], Mods, Map / Mapgen, Spawn, [C++], Scenarios, Code: Tooling, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, EOC: Effects On Condition

#67606 Add transparency to some pockets
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/belts.json
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/bespoke_armor/utility.json
  data/json/items/armor/hats.json
  data/json/items/armor/helmets.json
  data/json/items/armor/robofac_armor.json
  data/json/items/armor/storage.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor/civilian_blue_collar.json
  data/mods/Magiclysm/items/enchanted_belts.json
  data/mods/TEST_DATA/items.json
  data/mods/Xedra_Evolved/items/inventor/armor.json
  tools/json_tools/pocket_transparency.py
Labels: [JSON], Code: Tests, <Bugfix>, Items: Ammo / Guns, [Python], Mods: Magiclysm, Mods: Aftershock, Items: Containers, Code: Tooling, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#67621 make coal its own ammotype
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/basecamp.json
  data/json/items/tool/cooking.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/workshop.json
  data/json/items/vehicle/fuel_storage.json
  data/json/recipes/recipe_others.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Items: Ammo / Guns, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#67616 Shorten brigandine.json with replace_materials
  data/json/items/armor/brigandine.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67622 Shorten gloves.json with replace_materials
  data/json/items/armor/gloves.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67623 Shorten helmets.json with replace_materials
  data/json/items/armor/helmets.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67618 Shorten torso_armor.json with replace_materials
  data/json/items/armor/torso_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#66486 fix html linter build token
  .github/workflows/format_emscripten.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed, Game: Defense Mode

#63745 Consumption now checks for JSON Flags instead of trait ID
  data/json/mutations/mutations.json
  data/json/npcs/TALK_TEST.json
  src/consumption.cpp
  src/item.cpp
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#67624 Shorten other graded armor with replace_materials
  data/json/items/armor/boots.json
  data/json/items/armor/head_attachments.json
  data/json/items/armor/hoods.json
  data/json/items/armor/suits_protection.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67632 Fix doc for recipe charges
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, Game: Defense Mode

#67639 Apply defense mode label only to things in defense mode mod folder
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, Game: Defense Mode

#67636 Fix scenario start test data
  data/mods/TEST_DATA/scenarios.json
Labels: [JSON], Code: Tests, <Bugfix>, Scenarios, astyled, json-styled, BasicBuildPassed, Game: Defense Mode

#67637 Add in two more bronze tools
  data/json/items/tool/workshop.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/tools/tools_primitive.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#67626 Add more things to Defense Mode
  .github/labeler.yml
  data/mods/Defense_Mode/eocs.json
  data/mods/Defense_Mode/items.json
  data/mods/Defense_Mode/npcs.json
  data/mods/Defense_Mode/scenarios.json
Labels: NPC / Factions, [JSON], Mods, Scenarios, Code: Tooling, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, EOC: Effects On Condition

#67617 Add electronics control unit to Street-Legal Dirt Bike
  data/json/vehicles/bikes.json
Labels: [JSON], Vehicles, astyled, json-styled, BasicBuildPassed

#67643 fix: correct data fetching in ci workflow
  .github/workflows/label-first-time-contributor.yml
Labels: Code: Tooling, astyled, json-styled

#67619 Shorten legs_armor.json with replace_materials
  data/json/items/armor/legs_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#67633 Fix component distribution error false positives for a bunch of recipes
  data/json/recipes/food/brewing.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/food/other.json
  data/json/recipes/food/pasta.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_medsandchemicals.json
  data/mods/Aftershock/recipes/comestible_recipes.json
  data/mods/DinoMod/recipes/food_egg.json
  data/mods/DinoMod/recipes/offal_dishes.json
  data/mods/DinoMod/recipes/recipe_food.json
  data/mods/Magiclysm/recipes.json
  data/mods/Magiclysm/recipes/alchemy.json
  data/mods/Magiclysm/recipes/recipe_potions.json
  data/mods/Magiclysm/recipes/weapons.json
  data/mods/Xedra_Evolved/recipes/alchemy.json
  data/mods/innawood/recipes/brewing.json
  data/mods/innawood/recipes/recipe_food.json
Labels: [JSON], Mods, Items: Food / Vitamins, Crafting / Construction / Recipes, <Bugfix>, Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲, Mods: Xedra Evolved

#67647 More price audits
  data/json/items/armor/belts.json
  data/json/items/book/young.json
  data/json/items/comestibles/dairy.json
  data/json/items/containers/containers.json
Labels: BasicBuildPassed

#67604 [MoM] New powers part 4
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/enchantments/enchantments_player.json
  data/mods/MindOverMatter/itemgroups/itemgroups.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/items/schematics.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/clairsentience_eoc.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/vitakinesis.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/MindOverMatter/recipes/practice/pyrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
  data/mods/MindOverMatter/recipes/research.json
  data/mods/MindOverMatter/recipes/rituals.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#66956 Make all graded weapons use copy-from [Part 1 Swords and Blades]
  data/json/items/melee/swords_and_blades.json
  data/json/obsoletion/migration_items.json
  data/json/recipes/weapon/cutting.json
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
  data/mods/TEST_DATA/expected_dps_data/shortswords_dps.json
  data/mods/TEST_DATA/expected_dps_data/swords_dps.json
  data/mods/TEST_DATA/expected_dps_data/two_handed_swords_dps.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#67496 Weekly Changelog 2023-07-31 to 2023-08-07
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#67646 Obsolete ``mil_hw`` itemgroup
  data/json/itemgroups/military.json
  data/json/mapgen/storage_units_large.json
  data/json/mapgen/storage_units_medium.json
  data/json/monsterdrops/zombie_survivor.json
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/maps/mapgen/sadie_large_storage.json
  data/mods/Backrooms/itemgroups.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/No_Hope/Mapgen/bunker.json
  data/mods/No_Hope/Mapgen/storage_units_large.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#63764 Add a new weapon, the varmint air rifle
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/ranged/pneumatic.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/ammo/rifle_pellet.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/firearms/pneumatic.json
  data/mods/Generic_Guns/gg_ammunition_types.json
Labels: [JSON], Mods, Spawn, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#67660 Create base_colors-catppuccin.json
  data/raw/color_themes/base_colors-catppuccin.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#67664 Balance nether waves in Defense Mode
  data/mods/Defense_Mode/eocs.json
  data/mods/Defense_Mode/monstergroups.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, EOC: Effects On Condition

#67644 Revamp of s_gunstore mapgen
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/mapgen/store/s_gunstore.json
  data/json/mapgen_palettes/gunstore.json
  data/mods/No_Hope/palettes.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Mods: No Hope, new contributor

#67587 [MoM] Snippetathon and reorganize itemgroups
  data/mods/MindOverMatter/itemgroups/books.json
  data/mods/MindOverMatter/itemgroups/itemgroups.json
  data/mods/MindOverMatter/itemgroups/lore.json
  data/mods/MindOverMatter/itemgroups/matrix_materials.json
  data/mods/MindOverMatter/itemgroups/matrix_technology_labs.json
  data/mods/MindOverMatter/itemgroups/recipes.json
  data/mods/MindOverMatter/items/files_and_post_it.json
  data/mods/MindOverMatter/items/files_post_it.json
  data/mods/MindOverMatter/mapgen/nested/office_phavian_modular.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_nested.json
  data/mods/MindOverMatter/npcs/dialogue/follower_dialogue.json
  data/mods/MindOverMatter/npcs/dialogue/refugee_guards_generic.json
  data/mods/MindOverMatter/snippets/snippets_new.json
  data/mods/MindOverMatter/snippets/telepathy_snippets.json
Labels: [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Lore, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#67657 Obsolete RPG-7 and trim zombie survivor launchers item group
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/main.json
  data/json/items/ammo/rpg.json
  data/json/items/ammo_types.json
  data/json/items/ranged/launchers.json
  data/json/obsoletion/obsolete_ammo_types.json
  data/json/obsoletion/obsolete_items.json
Labels: [JSON], Spawn, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed
