Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-04, with the labels that each got.

#64712 Additional Location Achievements
  data/json/achievements.json
Labels: [JSON], Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#64568 Small metals weight & recipes audit
  data/json/items/ammo.json
  data/json/items/armor/jewelry.json
  data/json/items/resources/metal.json
  data/json/materials.json
  data/json/mutations/mutation_ordering.json
  data/json/mutations/mutations.json
  data/json/obsoletion/blacklist_charge_migration.json
  data/json/obsoletion/migration_items.json
  data/json/obsoletion/obsolete_migrations.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/other.json
  data/json/recipes/chem/chemicals.json
  data/json/recipes/electronics/parts.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/materials.json
  data/json/uncraft/generic.json
  data/mods/TEST_DATA/known_bad_density.json
  data/mods/package_bionic_professions/bionic_professions.json
  src/monattack.cpp
Labels: [JSON], Bionics, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#64736 Remove stale warning about an older ccache version for visual studio.
  doc/COMPILING/COMPILING-VS-VCPKG.md
Labels: <Documentation>, [C++], [Markdown], astyled, json-styled

#64734 Fix misaligned river cave ramp
  data/json/mapgen/river_cave.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64701 [Xedra Evolved] another batch of random stuff
  data/json/mutations/mutations.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/eater.json
  data/mods/Xedra_Evolved/items/drugs.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_eater.json
  data/mods/Xedra_Evolved/mutations/classes.json
  data/mods/Xedra_Evolved/spells/dreamer_spells.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
  doc/MUTATIONS.md
Labels: <Documentation>, [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#64729 Adds stairs looks like
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#64735 Fix some incorrect line endings in robotfindskitten
  data/json/snippets/robot_finds_kitten.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64713 [Innwood] Adds back forest trails. Also no longer requires city size to be set to 0.
  data/mods/innawood/game_balance.json
  data/mods/innawood/modinfo.json
  data/mods/innawood/overmap/connections.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#64687 Unloading a container with a spillable container inside causes an infinite loop
  src/item.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/item_pocket.cpp
  src/item_pocket.h
Labels: [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#64727 misc doc fixes
  doc/ARMOR_BALANCE_AND_DESIGN.md
  doc/ARTIFACTS.md
  doc/BASECAMP.md
  doc/EFFECTS_JSON.md
  doc/EFFECT_ON_CONDITION.md
  doc/EXAMINE.md
  doc/FACTIONS.md
  doc/GAME_BALANCE.md
  doc/ITEM_SPAWN.md
  doc/JSON_INFO.md
  doc/JSON_INHERITANCE.md
  doc/MAGIC.md
  doc/MAPGEN.md
  doc/MARTIALART_JSON.md
  doc/MISSIONS_JSON.md
  doc/MODDING.md
  doc/MONSTERS.md
  doc/MONSTER_SPECIAL_ATTACKS.md
  doc/MUTATIONS.md
  doc/NPCs.md
  doc/OVERMAP.md
  doc/POSTAPOC_PRICE_GUIDE.md
  doc/PRACTICE_RECIPES.md
  doc/PROFICIENCY.md
  doc/PROFICIENCY_LIST.md
  doc/REGION_SETTINGS.md
  doc/STEEL_CRAFTING.md
  doc/VEHICLES_JSON.md
  doc/WEATHER_TYPE.md
Labels: <Documentation>, NPC / Factions, [Markdown], astyled, json-styled, BasicBuildPassed

#64494 Fix unvisited JSON members
  data/json/body_parts.json
  data/json/construction.json
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/military.json
  data/json/items/armor/jewelry.json
  data/json/items/book/barter.json
  data/json/items/book/chemistry.json
  data/json/items/book/computer.json
  data/json/items/book/cutting.json
  data/json/items/book/dodge.json
  data/json/items/book/driving.json
  data/json/items/book/gun.json
  data/json/items/book/launcher.json
  data/json/items/book/lockpick.json
  data/json/items/book/melee.json
  data/json/items/book/pistol.json
  data/json/items/book/rifle.json
  data/json/items/book/shotgun.json
  data/json/items/book/stabbing.json
  data/json/items/book/swimming.json
  data/json/items/book/throw.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/dairy.json
  data/json/items/tool/deployable.json
  data/json/items/tool/med.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/private_resort.json
  data/json/mapgen_palettes/private_resort.json
  data/json/monster_special_attacks/spells.json
  data/json/monsters/nether.json
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed-animal.json
  data/json/mutations/mutations.json
  data/json/npcs/bunker_shop/NC_BUNKER_MERCHANT.json
  data/json/npcs/classes.json
  data/json/npcs/common_chat/TALK_COMMON_OTHER.json
  data/json/npcs/exodii/exodii_merchant_definitions.json
  data/json/npcs/godco/NPC_Maria_Serrano.json
  data/json/npcs/godco/classes.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/npcs.json
  data/json/npcs/isolated_road/isolated_road_npcs.json
  data/json/npcs/npc.json
  data/json/npcs/random_encounters/free_merchant_caravans.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard1.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard2.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard3.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard_generic.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_hostile_guard.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
  data/json/obsoletion/migration_bionics.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/weather_type.json
  doc/WEATHER_TYPE.md
Labels: <Documentation>, NPC / Factions, [JSON], Missions, Bionics, Vehicles, Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, [Markdown], Items: Ammo / Guns, Melee, Mechanics: Weather, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Appliance/Power Grid

#64744 [Bombastic Perks] Added documentation and configuration menu
  data/mods/BombasticPerks/corefiles/core_eocs.json
  data/mods/BombasticPerks/corefiles/welcomemenu.json
  data/mods/BombasticPerks/docs/contributing.md
  data/mods/BombasticPerks/docs/expanding_with_mods.md
  data/mods/BombasticPerks/modinfo.json
  data/mods/BombasticPerks/perkdata/holdout_pocket.json
  data/mods/BombasticPerks/perkdata/recycler.json
  data/mods/BombasticPerks/perkdata/thick_skull.json
Labels: <Documentation>, [JSON], Mods, [Markdown], Items: Containers, astyled, json-styled, EOC: Effects On Condition

#64742 Refactor city.cpp/.h out of overmap.cpp/.h
  src/avatar.h
  src/character.h
  src/city.cpp
  src/city.h
  src/debug_menu.cpp
  src/game.cpp
  src/init.cpp
  src/item.cpp
  src/iuse.cpp
  src/map_extras.cpp
  src/mapgen.cpp
  src/mission_place.cpp
  src/mission_util.cpp
  src/newcharacter.cpp
  src/npctalk.cpp
  src/ordered_static_globals.cpp
  src/overmap.cpp
  src/overmap.h
  src/overmap_location.cpp
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/savegame.cpp
  src/start_location.cpp
  src/weather.cpp
  tests/item_test.cpp
  tests/mongroup_test.cpp
  tests/npc_shopkeeper_item_groups_test.cpp
  tests/overmap_test.cpp
  tests/widget_test.cpp
Labels: NPC / Factions, Info / User Interface, Missions, Map / Mapgen, Code: Tests, [C++], Scenarios, Character / World Generation, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#64755 Update labeler for perks mod
  .github/CODEOWNERS
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#64726 Motel cleanup
  data/json/mapgen/motel.json
  data/json/monstergroups/zombies.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#64748 Electronic locks in vanilla
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/mapgen/gambling_hall.json
  data/json/mapgen/hospital.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/pharmacy.json
  data/json/mapgen/s_electronics.json
  data/json/mapgen/s_lightindustry.json
  data/json/mapgen/urban_35_hospital.json
  data/json/mapgen_palettes/cabin.json
  data/json/mapgen_palettes/city_block_palette.json
  data/json/mapgen_palettes/clothes_store_palette.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/house_variant_palette.json
  data/json/mapgen_palettes/lodge_palette.json
  data/mods/Xedra_Evolved/effects/ter_transform.json
  data/mods/Xedra_Evolved/furniture_and_terrain/terrain-doors.json
  data/mods/Xedra_Evolved/mapgen_palettes/vanilla_palettes_adjusted.json
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#64746 Correct 7.62x54R description
  data/json/items/ammo/762R.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#64751 [Perks Mod] Popeye the Sailor man Perk
  data/mods/BombasticPerks/perkdata/popeye.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Bombastic Perks

#64769 Remove absent codeowners, fix path case
  .github/CODEOWNERS
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#64777 [Bombastic Perks] Mo' Perks & Thick Skull adjustments
  data/mods/BombasticPerks/perkdata/closedfist.json
  data/mods/BombasticPerks/perkdata/openpalm.json
  data/mods/BombasticPerks/perkdata/pinchedfingers.json
  data/mods/BombasticPerks/perkdata/thick_skull.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, BasicBuildPassed, Mods: Bombastic Perks

#64570 Fix rounding in vehicle glyph choice
  src/tileray.cpp
Labels: [C++], <Bugfix>, BasicBuildPassed

#64575 Replace `15_degrees` with `vehicles::steer_increment`
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/vehicle_fake_part_test.cpp
  tests/vehicle_split_test.cpp
Labels: Vehicles, Code: Tests, [C++], BasicBuildPassed

#64790 Add myself to CODEOWNERS for clang-tidy stuff
  .github/CODEOWNERS
Labels: Code: Tooling, astyled, json-styled

#64759 Replace count_*_flag with has_*_flag
  src/character.cpp
  src/character.h
  src/martialarts.cpp
  src/mutation.cpp
  tests/creature_test.cpp
Labels: Code: Performance, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Martial Arts, astyled, json-styled, BasicBuildPassed

#64761 Move aiming logic outside loop and inside ifs
  src/character.h
  src/ranged.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#64776 Store limb_scores as map instead of vector
  src/bodypart.cpp
  src/bodypart.h
Labels: Code: Performance, [C++], astyled, json-styled, BasicBuildPassed, Limbs

#64716 Deduplicate code for overmap road connections
  src/overmap.cpp
Labels: Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#64717 Use minimum spanning tree for road connections
  src/overmap.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64786 maximising -> maximizing
  data/json/items/book/nonfiction.json
  data/json/items/ranged/crossbows.json
Labels: [JSON], Items: Archery, astyled, json-styled

#64785 Add football to throwing practice recipe
  data/json/recipes/practice/ranged.json
Labels: [JSON], astyled, json-styled

#64775 add force-drop option to debug menu
  src/debug_menu.cpp
  src/game_inventory.cpp
  src/game_inventory.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#64768 Fix options.cpp
  src/options.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#64798 Routine tileset updates on 02 April 2023
  gfx/Altica/giant.png
  gfx/Altica/normal.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/giant.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/SmashButton_iso/tile_config.json
  gfx/Ultica_iso/cursors.png
  gfx/Ultica_iso/guns.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/normal_2x.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/giant.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#64114 Gambesons rework (again)
  data/json/items/armor/hoods.json
  data/json/items/armor/suits_protection.json
  data/json/items/resources/plastic.json
  data/json/items/resources/tailoring.json
  data/json/materials.json
  data/json/obsoletion/obsolete-0.G-recipes.json
  data/json/obsoletion/obsolete_items.json
  data/json/proficiencies/tailoring.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/json/recipes/nested.json
  data/json/requirements/materials.json
  data/mods/TEST_DATA/known_bad_density.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#64695 Fruit Audit - Weight, Volume, Calories and Vitamins
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/irradiated_fruit.json
  data/json/items/comestibles/raw_fruit.json
  data/json/items/comestibles/seed.json
  data/json/recipes/chem/drugs.json
  data/json/recipes/food/canned.json
  data/json/recipes/food/drinks.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/frozen.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  data/json/uncraft/comestibles/fruit.json
  data/mods/TEST_DATA/known_bad_density.json
  tests/iteminfo_test.cpp
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#64793 JSON sewer mapgen
  data/json/mapgen/cs_open_sewer_small.json
  data/json/mapgen/map_extras/sewers.json
  data/json/mapgen/pump_station.json
  data/json/mapgen/retirement_community.json
  data/json/mapgen/sewage_treatment.json
  data/json/mapgen/sewer.json
  data/json/mapgen_palettes/retirement_community_palette.json
  data/json/mapgen_palettes/sewers_palette.json
  data/json/overmap/map_extras.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
  data/json/regional_map_settings.json
  data/mods/No_Hope/Mapgen/sewage_treatment.json
  data/mods/No_Hope/regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
  data/mods/classic_zombies/alberta_regional_map_settings.json
  data/mods/desert_region/desert_regional_map_settings.json
  src/mapgen.cpp
Labels: [JSON], Mods, Map / Mapgen, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: TropiCataclysm 🌴, Mods: Desert Region

#64652 [innawood] Cave ramp fixes
  data/mods/innawood/mapgen/cave.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#64634 Fix ammo's charge being reduced when calculating reload move_points
  src/character.cpp
  src/character.h
  src/character_ammo.cpp
  src/item_location.cpp
Labels: [C++], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#64773 Standarized Makaylas
  data/json/effect_on_condition.json
  data/json/mutations/mutations.json
  data/json/npcs/refugee_center/surface_visitors/NPC_arsonist.json
Labels: NPC / Factions, [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#64772 Fix auto_attacking barehanded NPC crash
  src/avatar_action.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64766 remove unused comestible radiation
  doc/JSON_INFO.md
  src/consumption.cpp
  src/item_factory.cpp
  src/itype.h
Labels: <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#64697 Revamped Free Start
  src/avatar.h
  src/character.h
  src/newcharacter.cpp
  src/npc.cpp
  src/npc.h
  src/options.cpp
  src/player_difficulty.cpp
  src/player_difficulty.h
Labels: <Enhancement / Feature>, NPC / Factions, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#64745 New bar enconters for the Ancilla Bar
  data/json/mapgen/robofaq_locs/robofac_hq_chunks.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_drugs.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_jabberwock.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/NPC_BEMS.json
Labels: NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed

#64696 Larvae health edits
  data/json/monsters/insect_spider.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64781 Fix equipment conflicts on Magiclysm tails
  data/mods/Magiclysm/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#64812 Spawn graboids after 13 days
  data/json/monstergroups/bugs.json
Labels: Game: Balance, [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#64817 Deduplicate failure msg for action attempted mounted or underwater
  src/activity_actor.cpp
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/iexamine.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#64724 Update COMPILING.md C++14 reference to C++17
  doc/COMPILING/COMPILING.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#64845 Add path filter in clang-tidy.yml
  .github/workflows/clang-tidy.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#64820 Add `looks_like` to `22_casing_new`
  data/json/items/generic/casing.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64821 Leather community pride flag doesn't repeat itself in its description
  data/json/items/armor/cloaks.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#64846 Character::use_amount() returns consumed items' content
  src/character.cpp
  src/crafting.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64847 fix sewer json
  data/json/mapgen/sewer.json
Labels: [JSON], astyled, json-styled

#64842 remove mention of never used WALL_CLING_FOURTH
  doc/JSON_FLAGS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#64841 Prevent scavenger survirvor's direction randomization overflow
  data/json/npcs/refugee_center/surface_visitors/NPC_visiting_scavenger.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64837 Fix update mapgen error
  src/mission_util.cpp
Labels: Missions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64825 Enable custom sprite for swivel chairs
  data/json/vehicleparts/seats.json
  data/json/vehicles/carts.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64822 Make NPC guards complain at player stealing items
  src/npcmove.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64819 Character sheet mouse support
  src/player_display.cpp
Labels: <Enhancement / Feature>, [C++], Controls / Input, astyled, json-styled, BasicBuildPassed

#64804 Improve too small screen resize calculations
  src/game.cpp
  src/ncurses_def.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#64792 [bombastic perks] cleaned up prereqs stuff
  data/mods/BombasticPerks/docs/contributing.md
  data/mods/BombasticPerks/docs/expanding_with_mods.md
  data/mods/BombasticPerks/perkmenu.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#64708 remove skill rust option
  src/character.cpp
  src/options.cpp
  src/skill.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#64632 Mouse hover support for inventory screens
  src/inventory_ui.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#64797 Fix blackpowder .30-06 fmj having doubled stat reduction
  data/json/items/ammo/3006.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#61623 [Magiclysm] Adds diviner to the Forge of Wonders
  data/mods/Magiclysm/npc/TALK_FORGE_DIVINER.json
  data/mods/Magiclysm/npc/forge_diviner_missions.json
  data/mods/Magiclysm/worldgen/forge_of_wonders.json
Labels: NPC / Factions, [JSON], Mods, Missions, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#64844 Cache values of statistics in value constraints
  src/event_statistics.cpp
Labels: Code: Performance, [C++], <Bugfix>, Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#63565 Electronic snippets (thanks for help)
  data/json/effect_on_condition.json
  data/json/items/tool/electronics.json
  data/json/snippets/e_logs.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#64600 Support creating items from item groups with spells
  data/json/flags.json
  doc/MAGIC.md
  src/debug_menu.cpp
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#64852 Remove myself from Codeowner of lang/
  .github/CODEOWNERS
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#64622 Remove reinforcement / accurizing, clean up item damage
  data/json/items/generic/ammolink.json
  data/json/items/generic/casing.json
  data/json/items/gun/faults_gun.json
  data/json/materials.json
  data/json/requirements/toolsets.json
  data/mods/Magiclysm/materials.json
  data/mods/innawood/materials.json
  src/activity_handlers.cpp
  src/character.cpp
  src/character_guns.cpp
  src/crafting.cpp
  src/inventory.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/map.cpp
  src/material.cpp
  src/material.h
  src/options.cpp
  src/savegame_json.cpp
  src/suffer.cpp
  src/veh_interact.cpp
  src/veh_utils.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  src/vehicle_use.cpp
  tests/coverage_test.cpp
  tests/degradation_test.cpp
  tests/item_tname_test.cpp
  tests/iteminfo_test.cpp
  tests/itemname_test.cpp
  tests/vehicle_test.cpp
  tests/widget_test.cpp
  tools/spell_checker/dictionary.txt
Labels: Info / User Interface, [JSON], Mods, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Items: Ammo / Guns, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#64627 Crafting GUI filters `m:` (don't show nested) `r:` (added - filter by (by)product)
  src/crafting_gui.cpp
  src/recipe.h
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64603 Add EOC effect to spawn NPCs, portal storm event to create an npc.
  data/json/npcs/portal_storm/Portal_NPC.json
  data/json/portal_storm_effect_on_condition.json
  doc/NPCs.md
  src/creature.cpp
  src/creature.h
  src/dialogue_helpers.h
  src/game.cpp
  src/game.h
  src/monster.cpp
  src/monster.h
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/savegame_json.cpp
Labels: <Documentation>, NPC / Factions, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#64656 Refactor monster::plan to something more readable and encapsulated
  src/monmove.cpp
  src/monster.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#64831 Unify gutters: glass workshop
  data/json/mapgen/Glassblower.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64871 Remove NOITEM flag from gutter drops
  data/json/furniture_and_terrain/terrain-roofs.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#64865 Corrects military shootout casing itemgroup
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
Labels: [JSON], Spawn, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#64874 Update vcpkg configuration, again
  .github/workflows/msvc-full-features.yml
  .github/workflows/release.yml
  doc/COMPILING/COMPILING-VS-VCPKG.md
  msvc-full-features/vcpkg.json
  msvc-object_creator/vcpkg.json
Labels: <Documentation>, [JSON], [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#64882 Fix flaky uncraft test
  tests/uncraft_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#64801 Monsters will now fire at moving vehicles
  data/json/monsters/defense_bot.json
  data/json/monsters/drones.json
  data/json/monsters/feral_humans.json
  data/json/monsters/mi-go.json
  data/json/monsters/robofac_robots.json
  data/json/monsters/turrets.json
  data/json/monsters/yrax.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_soldiers.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
  data/mods/Xedra_Evolved/monsters/bloodsuckers.json
  data/mods/Xedra_Evolved/monsters/exodii.json
  doc/MONSTER_SPECIAL_ATTACKS.md
  src/map.cpp
  src/map.h
  src/mattack_actors.cpp
  src/mattack_actors.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Mods, [C++], [Markdown], Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#61516 Acidic blood refinement
  data/json/harvest.json
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/toolsets.json
Labels: [JSON], Crafting / Construction / Recipes, [C++], Monsters, astyled, json-styled, BasicBuildPassed

#63502 Add updated spacebar sidebar files
  data/json/ui/spacebar/sidebar-spacebar.json
  data/json/ui/spacebar/spacebar_body_and_health_block.json
  data/json/ui/spacebar/spacebar_environment_block.json
  data/json/ui/spacebar/spacebar_movement_block.json
  data/json/ui/spacebar/spacebar_overmap.json
  data/json/ui/spacebar/spacebar_player_weariness_mood_block.json
  data/json/ui/spacebar/spacebar_waepon_ma_block.json
Labels: Info / User Interface, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#63978 Unify gun battery/ups/bionic energy consumption
  data/json/bionics.json
  data/json/items/gun/12mm.json
  data/json/items/gun/308.json
  data/json/items/gun/bio.json
  data/json/items/gun/nail.json
  data/json/items/gun/shot.json
  data/json/items/gun/ups.json
  data/json/items/gunmod/barrel.json
  data/json/items/gunmod/laser_gunmods.json
  data/json/items/ranged/energy.json
  data/mods/Aftershock/items/gun/advanced.json
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/gun/mining_rod.json
  data/mods/Aftershock/items/gun/projectile.json
  data/mods/Aftershock/items/gun/voltaic.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/DinoMod/items/laser_items.json
  data/mods/Xedra_Evolved/items/guns.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/avatar_action.cpp
  src/avatar_action.h
  src/bionics.cpp
  src/bionics_ui.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/map.cpp
  src/ranged.cpp
  src/turret.cpp
  src/veh_type.cpp
  tests/vehicle_turrets_test.cpp
Labels: <Documentation>, Info / User Interface, [JSON], Mods, Items: Gunmod / Toolmod, Bionics, Vehicles, Code: Tests, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Markdown], Items: Ammo / Guns, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#64344 Increase epicuticle encumbrance, lower breathability, add mouth coverage
  data/json/items/armor/integrated.json
  data/json/materials.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#64457 Add test for spawning items inside a container
  data/mods/TEST_DATA/container_spawn_test.json
  src/map.cpp
  src/test_data.cpp
  src/test_data.h
  src/vehicle.cpp
  tests/item_spawn_test.cpp
Labels: [JSON], Vehicles, Spawn, Code: Tests, [C++], Items: Containers, astyled, json-styled, BasicBuildPassed

#64175 large bones
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/items/comestibles/carnivore.json
  data/json/items/resources/stone.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#64482 Rebalanced motor/engine volume/weight (both item and vehicle parts) for realism
  data/json/items/vehicle/engine.json
  data/json/items/vehicle/motors.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/faults.json
  data/json/vehicleparts/motor.json
  data/mods/TEST_DATA/vehicle_drag_test.json
  data/mods/TEST_DATA/vehicle_efficiency_test.json
  src/item.cpp
  src/vehicle_part.cpp
  tests/item_tname_test.cpp
Labels: Game: Balance, [JSON], Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#64559 Use dummy definition in clang-tidy lit tests
  tools/clang-tidy-plugin/test/assert.cpp
  tools/clang-tidy-plugin/test/no-long.cpp
Labels: [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#64633 Math expression parser
  data/mods/TEST_DATA/EOC.json
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
  src/creature.cpp
  src/dialogue_helpers.h
  src/math_parser.cpp
  src/math_parser.h
  src/math_parser_func.cpp
  src/math_parser_func.h
  src/math_parser_impl.h
  src/math_parser_shim.cpp
  src/math_parser_shim.h
  src/npctalk.cpp
  src/rng.cpp
  src/talker.h
  tests/eoc_test.cpp
  tests/math_parser_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#64674 Make elephant gun a double rifle to match reality
  data/json/items/gun/700nx.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64873 Remove SMG type from repeating crossbow
  data/json/items/ranged/crossbows.json
Labels: [JSON], Items: Archery, astyled, json-styled, BasicBuildPassed

#64828 feral cops become zombie cops
  data/json/monsters/feral_humans.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64904 Prevent laptop and smartphone local files spam when flashlight is used
  data/json/items/tool/electronics.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64906 Fix #64903
  data/json/mapgen/mobile_home_park/mobile_home_park.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#64888 Fix divide by zero issue
  src/item_factory.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64866 Roof palettizing: home improvement superstore
  data/json/mapgen/homeimprovement_superstore_new.json
  data/json/mapgen_palettes/roof_palette.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64913 Fix clang-tidy errors
  src/map.h
  src/mapgen.cpp
Labels: Map / Mapgen, [C++], astyled, json-styled

#64909 Fix density failure on druid_bandages
  data/mods/Magiclysm/items/ethereal_items.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#64902 Add pjf to comment-commands.yml
  .github/comment-commands.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#64899 Fix description and doc
  data/json/furniture_and_terrain/terrain-mechanisms.json
  data/json/items/book/cooking.json
  data/json/items/book/maps.json
  data/json/items/book/misc.json
  data/json/items/book/misc_pulp.json
  data/json/items/book/nonfiction.json
  data/json/items/book/survival.json
  data/json/items/book/tailor.json
  data/json/items/book/young.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/corpses/inactive_bots.json
  data/json/items/generic/mail.json
  data/json/items/gun/300BLK.json
  data/json/items/id_cards.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/newspaper.json
  data/json/items/tool/cooking.json
  data/json/items/tool/tailoring.json
  data/json/items/tool/woodworking.json
  data/json/monsters/nether.json
  data/json/professions.json
  doc/WEATHER_TYPE.md
Labels: <Documentation>, [JSON], Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#64896 Update docs for the VS AStyle extension
  doc/DEVELOPER_TOOLING.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#64891 Add EOC martial arts support
  doc/NPCs.md
  src/character_martial_arts.cpp
  src/character_martial_arts.h
  src/condition.cpp
  src/condition.h
  src/dialogue_helpers.h
  src/npctalk.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: <Documentation>, NPC / Factions, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#64889 [Bombastic Perks] Perk config menu
  data/mods/BombasticPerks/corefiles/config_menu.json
  data/mods/BombasticPerks/corefiles/core_eocs.json
  data/mods/BombasticPerks/perkmenu.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Bombastic Perks

#64877 Validate main_tool to prevent some CTD
  src/activity_handlers.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#64862 Mouse hover hotkey regression
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled

#64855 Adjust the order of 'delete world' and 'reset world'
  src/main_menu.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#64850 More accurately describe task requirements
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
Labels: NPC / Factions, Translation, [JSON], astyled, json-styled, BasicBuildPassed

#64839 Fix spell copy from
  src/magic.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64860 Fix pipebomb length and volume
  data/json/items/tool/explosives.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64829 Enable auto pulping acidic zombies if acid protected
  src/activity_handlers.cpp
  src/game.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#64869 Roof palettizing: lumbermill & lumberyard
  data/json/mapgen/lumbermill.json
  data/json/mapgen/lumberyard.json
  data/json/mapgen/occupied_lumber_mill/occupied_lumber_mill.json
  data/json/mapgen_palettes/lumberyard.json
  data/mods/No_Hope/Mapgen/lumbermill.json
  data/mods/No_Hope/palettes.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#64870 Cleanup: landscaping supply
  data/json/mapgen/landscaping_supply.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64879 Cleanup: large power substation
  data/json/mapgen/power_station_large.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64883 Cleanup: St. John's Farm
  data/json/mapgen/farm_dairy_2.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64885 Roof palettizing: evac shelter
  data/json/mapgen/shelter.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64893 Roof palettizing: bar
  data/json/mapgen/bar.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64898 Palettizing: dispensary
  data/json/mapgen/dispensary.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64887 Fix wall cling phasing through floors
  src/game.cpp
Labels: [C++], <Bugfix>

#64863 Fix Name Shown in World Creation Keybinding Menu for Mod Manager
  data/raw/keybindings.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#64919 Use /DEBUG:FASTLINK to speed up Windows dev & pr link times
  .github/workflows/release.yml
  msvc-full-features/Cataclysm-common.props
Labels: Code: Tooling, astyled, json-styled

#64774 Make makeshift bandages not require tailoring
  data/json/recipes/other/medical.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#64789 Exeption in tutorial (debug mode only)
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64803 Expose world_generator.all_worlds getter
  src/game.cpp
  src/main_menu.cpp
  src/worldfactory.cpp
  src/worldfactory.h
Labels: [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#64788 Update doc for limb pos flag name
  doc/MONSTER_SPECIAL_ATTACKS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#64811 Add ability to remove plants from planters without destroying planter
  data/json/furniture_and_terrain/furniture-domestic_plants.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#64816 Add CMake option for XDG directories
  CMakeLists.txt
  doc/COMPILING/COMPILING-CMAKE.md
  doc/COMPILING/COMPILING.md
Labels: <Documentation>, Code: Build, [Markdown], astyled, json-styled, BasicBuildPassed

#64840 Feral cops' parrot lines are angrier
  data/json/speech.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64848 Remove Flaming Eye phantom melee
  data/json/monsters/nether.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64864 Add trap avoid json flag
  data/json/monsters/insect_spider.json
  doc/MONSTERS.md
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#64881 Renders the lighthouse truly safe and removes the lake cabin from the safe place scenario.
  data/json/mapgen/lake_buildings/cabin_lake.json
  data/json/mapgen/lake_buildings/lighthouse.json
  data/json/scenarios.json
Labels: [JSON], <Bugfix>, Scenarios, astyled, json-styled, BasicBuildPassed

#62335 Add the first Exodii mission
  data/json/npcs/exodii/exodii_merchant_missions.json
  data/json/npcs/exodii/exodii_merchant_talk.json
Labels: NPC / Factions, [JSON], Missions, Lore, astyled, json-styled, BasicBuildPassed

#64897 Clothing and Armor Coverage Conversion Part 3
  data/json/items/armor/gloves.json
  data/json/items/armor/swimming.json
  data/json/items/armor/undergarment.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#64833 make phase immersion armor use an internal battery like RM13
  data/json/items/tool_armor.json
  data/mods/Aftershock/player/professions.json
Labels: Game: Balance, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#64937 Palettizing: craft shop 2
  data/json/mapgen/Pottery_Sewing_Shops.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64915 Map update: bowling alley
  data/json/mapgen/bowling_alley.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64922 Enable JSON unvisited members check
  data/json/items/armor/suits_protection.json
  data/json/items/tool/electronics.json
  data/json/mapgen_palettes/house_general_abandoned.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/house_survivor_palette.json
  data/json/mapgen_palettes/house_variant_palette.json
  data/json/monster_special_attacks/monster_gun.json
  data/json/npcs/exodii/exodii_merchant_talk.json
  data/json/npcs/portal_storm/Portal_NPC.json
  data/json/npcs/refugee_center/surface_visitors/NPC_arsonist.json
  data/json/recipes/armor/suit.json
  src/effect.cpp
  src/flexbuffer_json-inl.h
  src/flexbuffer_json.cpp
  src/init.cpp
  src/mapgen.cpp
  tests/submap_load_test.cpp
Labels: NPC / Factions, [JSON], Map / Mapgen, Code: Tests, [C++], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#64940 Fix container spawn test
  tests/item_spawn_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#64938 Correctly quantize part damage on removal
  src/vehicle_part.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#64935 Misc fixes
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/items/ammo/300blk.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_trades.json
  src/newcharacter.cpp
Labels: [JSON], [C++], Fields / Furniture / Terrain / Traps, Character / World Generation, astyled, json-styled, BasicBuildPassed

#64920 ci: bump actions/checkout to v3
  .github/labeler.yml
  .github/workflows/CBA.yml
  .github/workflows/check-translation.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/cmake-format.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment-commands.yml
  .github/workflows/flake8.yml
  .github/workflows/labeler.yml
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features.yml
  .github/workflows/push-translation-template.yml
  .github/workflows/release.yml
  .github/workflows/summary-labeler.yml
  .github/workflows/text-changes-analyzer.yml
  .github/workflows/toc.yml
  .github/workflows/weekly-changelog.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#64921 [Bombastic Perks] More content, remove"no prereq" disclaimer since it works now
  data/mods/BombasticPerks/corefiles/welcomemenu.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#64955 Fix skipped member
  data/json/mapgen/Pottery_Sewing_Shops.json
Labels: [JSON], Map / Mapgen, astyled, json-styled

#62014 Combat Capable Mounts
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/furniture_and_terrain/terrain-flora.json
  data/mods/Xedra_Evolved/harvest.json
  data/mods/Xedra_Evolved/items/comestibles/raw_fruit.json
  data/mods/Xedra_Evolved/mapgen/bonum_collis.json
  data/mods/Xedra_Evolved/mapgen/overmap_special.json
  data/mods/Xedra_Evolved/mapgen/overmap_terrain.json
  data/mods/Xedra_Evolved/monsters/changeling.json
  data/mods/Xedra_Evolved/npc/boann.json
  data/mods/Xedra_Evolved/npc/draco_dune.json
  data/mods/Xedra_Evolved/requirements/cooking_components.json
  src/character.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: NPC / Factions, [JSON], Mods, Missions, Map / Mapgen, Items: Food / Vitamins, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#64969 Routine tileset updates on 09 April 2023
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/layering.json
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#64970 [misc] red -> tomato & chilly subsitudes curry
  data/json/items/comestibles/drink_other.json
  data/json/recipes/food/casseroles.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#64706 [CR] Force tools to check all pockets for crafting components, including non-magazine ones
  src/item.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#64813 add lamps to motels
  data/json/mapgen/motel.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#63591 [Xedra Evolved] Government report snippets
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/items/notes_and_news.json
  data/mods/Xedra_Evolved/snippets/xedra.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#64974 Making nomad armors working again
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/suits_protection.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#64944 Updates to Survivor Mode Calcs
  src/newcharacter.cpp
  src/player_difficulty.cpp
  src/player_difficulty.h
Labels: [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#64959 resolve another ci deprecation warning
  .github/workflows/release.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed
