Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-03, with the labels that each got.

#63848 ReReRevert MacOS Arm build
  .github/workflows/release.yml
  build-scripts/get-mac-sdl2-framework.sh
Labels: Code: Build, Code: Tooling, astyled, json-styled

#63762 submap: lazily allocate uniform submaps
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/mapbuffer.cpp
  src/mapgen.cpp
  src/savegame.cpp
  src/savegame_json.cpp
  src/submap.cpp
  src/submap.h
  src/timed_event.cpp
  src/timed_event.h
Labels: Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#63705 Spell menu: add scrollbar to spell info
  data/raw/keybindings.json
  src/magic.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63481 Automatic weekly changelogs
  .github/workflows/weekly-changelog.yml
  data/changelog.txt
  tools/generate_changelog.py
Labels: [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63820 fix: github astyle code style suggestions
  .github/workflows/linter.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#62129 allow a couple items to act as fire for crafting
  data/json/items/tool/lighting.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: [JSON], Mods, stale, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#63815 Allow use of faction trust for any faction in eocs
  doc/NPCs.md
  src/condition.cpp
Labels: <Documentation>, NPC / Factions, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#63691 Allow running EOCs as result of a recipe
  doc/JSON_INFO.md
  src/crafting.cpp
  src/recipe.cpp
  src/recipe.h
Labels: <Documentation>, Crafting / Construction / Recipes, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#63666 Limbify escaping effects. Again.
  src/character.h
  src/character_escape.cpp
Labels: <Enhancement / Feature>, [C++], Melee, astyled, json-styled, BasicBuildPassed, 0.G String Freeze, Limbs

#63231 Add new mission type for killing multiple named specific monsters
  doc/MAPGEN.md
  doc/MISSIONS_JSON.md
  src/map.cpp
  src/mapgen.cpp
  src/mission.cpp
  src/mission.h
  src/missiondef.cpp
  src/mongroup.cpp
  src/mongroup.h
Labels: <Documentation>, Missions, Map / Mapgen, [C++], [Markdown], stale, astyled, json-styled, BasicBuildPassed

#63251 Allow variables in mission params
  doc/MISSIONS_JSON.md
  src/mission.h
  src/mission_start.cpp
  src/mission_util.cpp
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, Missions, [C++], [Markdown], stale, astyled, json-styled, BasicBuildPassed

#63660 Add limb strength hint to veh interact
  src/veh_interact.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63681 Reword existing trap message
  src/iuse_actor.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63541 Typo fix in portal_storm_effect_on_condition.json
  data/json/portal_storm_effect_on_condition.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.G String Freeze, EOC: Effects On Condition

#63680 Adds Earthshaper spell to reveal world map
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
Labels: [JSON], Mods, Spawn, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63442 Fix typo
  data/json/snippets/missing_posters.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63845 Validate bionic_data::mutation_conflicts consistency
  data/json/bionics.json
  src/bionics.cpp
Labels: [JSON], Bionics, [C++], astyled, json-styled, BasicBuildPassed

#63012 Add color description to parabolan wool clothes
  data/mods/Magiclysm/items/enchanted_clothes.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63421 Skull Variety 2.0 - More Skulls
  data/json/harvest.json
  data/json/items/generic/skulls.json
  data/json/monsters/mammal.json
  data/json/monsters/mutant_mammal.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62894 typo in 50.json
  data/json/items/ammo/50.json
Labels: [JSON], stale, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62826 Fix minor typo in hints.json
  data/json/npcs/hints.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62674 TropiCata: Tropical Bothanics I
  data/mods/TropiCataclysm/furniture_and_terrain/tropical_terrain_flora.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#63505 Give more NPC's AI traits
  data/json/npcs/Kindred/NPC_Brigitte_LaCroix.json
  data/json/npcs/Kindred/NPC_Darren_Cooper.json
  data/json/npcs/bunker_shop/classes.json
  data/json/npcs/isherwood_farm/NPC_Carlos_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Chris_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jesse_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Lisa_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Luke_Isherwood.json
  data/json/npcs/island_prison/prisoners.json
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_officer.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_pilot.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_quartermaster.json
  data/json/npcs/other/meteorologist.json
  data/json/npcs/valhalla_cult/npcs.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63438 Unify airport symbols
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63630 Revamps the swollen wretch.
  data/json/monster_special_attacks/spells.json
  data/json/monsters/fungus_zombie.json
  data/json/monsters/zed_children.json
Labels: [JSON], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63402 Make shocker zombies emit noises
  data/json/monsters/zed_electric.json
  data/json/monsters/zed_skeletal.json
  data/json/speech.json
Labels: Game: Balance, [JSON], Monsters, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63404 Aero-Evaporator won't activate and will deactivate underwater
  src/bionics.cpp
Labels: Bionics, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63110 Missing Xedra Evolved description
  data/mods/Xedra_Evolved/items/drugs.json
Labels: [JSON], Mods, stale, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#63608 Debug menu: Add popup when no NPCs available to control
  src/avatar.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63430 Ask before lighting fires adjacent to fireplaces
  src/iuse_actor.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63664 Implement searching Chinese using pinyin
  src/cached_options.cpp
  src/cached_options.h
  src/cata_utility.cpp
  src/options.cpp
  src/pinyin.cpp
  src/pinyin.h
  src/third-party/pinyin/LICENSE
  src/third-party/pinyin/pinyin_data.hpp
  tools/spell_checker/dictionary.txt
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#63067 Add debug menu item to spawn overmap NPC
  src/debug_menu.cpp
  src/debug_menu.h
Labels: [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63473 Typo fix
  data/json/portal_storm_effect_on_condition.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze, EOC: Effects On Condition

#63270 inv_ui: item collation
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item.cpp
  src/item.h
  src/item_location.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#63233 map/item: add only active contents to active cache
  src/active_item_cache.cpp
  src/active_item_cache.h
  src/character.cpp
  src/handle_liquid.cpp
  src/inventory.cpp
  src/inventory.h
  src/item.cpp
  src/item.h
  src/item_location.cpp
  src/map.cpp
  src/map.h
  src/savegame_json.cpp
  src/submap.cpp
  src/vehicle.cpp
  src/vehicle_part.cpp
  src/visitable.cpp
  tests/active_item_cache_test.cpp
  tests/active_item_test.cpp
  tests/map_helpers.cpp
  tests/map_test.cpp
Labels: Info / User Interface, Vehicles, Code: Tests, [C++], Items: Containers, astyled, json-styled, BasicBuildPassed

#63050 add punctuation to Shakes' miss effect in effects.json
  data/json/effects.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62514 [Mythos] Create self-contained Mythos creature mod for 0.G
  data/mods/Mythos-Creatures/harvest.json
  data/mods/Mythos-Creatures/items/corpses/mythos.json
  data/mods/Mythos-Creatures/modinfo.json
  data/mods/Mythos-Creatures/monster_factions.json
  data/mods/Mythos-Creatures/monstergroups/blob.json
  data/mods/Mythos-Creatures/monstergroups/misc.json
  data/mods/Mythos-Creatures/monstergroups/mythos.json
  data/mods/Mythos-Creatures/monstergroups/nether.json
  data/mods/Mythos-Creatures/monstergroups/wilderness.json
  data/mods/Mythos-Creatures/monsters/mythos.json
  data/mods/Mythos-Creatures/species.json
  data/mods/Mythos/README.md
  data/mods/Mythos/blacklists/item_blacklist.json
  data/mods/Mythos/blacklists/location_blacklist.json
  data/mods/Mythos/blacklists/recipes_blacklist.json
  data/mods/Mythos/blacklists/trait_blacklist.json
  data/mods/Mythos/furniture_and_terrain/1920s_furniture-appliances.json
  data/mods/Mythos/game_balance.json
  data/mods/Mythos/items/appliances.json
  data/mods/Mythos/mapgen_palettes/1920s_house_general_abandoned.json
  data/mods/Mythos/mapgen_palettes/1920s_house_general_palette.json
  data/mods/Mythos/mapgen_palettes/1920s_house_w_palette.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Spawn, Fields / Furniture / Terrain / Traps, [Markdown], stale, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#61628 Item Description Cleanup Project - Ranged, Relics, and Resources
  data/json/items/ranged/archery.json
  data/json/items/ranged/crossbows.json
  data/json/items/ranged/energy.json
  data/json/items/ranged/pneumatic.json
  data/json/items/ranged/throwing.json
  data/json/items/relics/altered_items.json
  data/json/items/resources/alien.json
  data/json/items/resources/appliance_parts.json
  data/json/items/resources/chemicals.json
  data/json/items/resources/fasteners.json
  data/json/items/resources/metal.json
  data/json/items/resources/misc.json
  data/json/items/resources/plastic.json
  data/json/items/resources/stone.json
  data/json/items/resources/tailoring.json
  data/json/items/resources/wood.json
Labels: [JSON], Items: Archery, astyled, json-styled, BasicBuildPassed, 0.G String Freeze, Appliance/Power Grid

#63369 New missions for the heli crash scenario
  data/json/professions.json
  data/json/scenarios.json
  data/json/starting_missions.json
Labels: [JSON], Missions, Mutations / Traits / Professions/ Hobbies, Scenarios, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62819 Replace integrated toolset with an integrated armor
  data/json/bionics.json
  data/json/items/fake.json
  data/json/items/tool/integrated.json
  data/json/items/tool/workshop.json
  data/json/obsolete.json
  data/mods/TEST_DATA/known_bad_density.json
  tests/iteminfo_test.cpp
Labels: [JSON], Bionics, Code: Tests, [C++], stale, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#61066 Adjustments to faraday chainmail
  data/json/items/armor/suits_protection.json
  data/json/recipes/armor/suit.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, stale, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, 0.G String Freeze

#63316 replaced the "unfathomable dread" part of some old monster descriptions with something more substantial
  data/json/monsters/mi-go.json
  data/json/monsters/nether.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#61619 Rm42 Knife adjusts
  data/json/items/melee/swords_and_blades.json
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
Labels: Game: Balance, [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62815 Revert subdermal carbon filament to non-integrated system
  data/json/bionics.json
  data/json/items/armor/integrated.json
  data/json/items/migration.json
Labels: [JSON], Bionics, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#63672 Display IME candidate list and composition text correctly on Windows
  .github/workflows/matrix.yml
  .github/workflows/release.yml
  build-scripts/SDL2-devel-2.26.2-mingw.tar.gz.sha256
  build-scripts/requirements.sh
  doc/USER_INTERFACE_AND_ACCESSIBILITY.md
  src/sdltiles.cpp
Labels: <Documentation>, Code: Build, [C++], <Bugfix>, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#62321 Randomized NPC age and height
  src/npc.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62462 Interface option to place asterisk before or after item's name
  src/item.cpp
  src/options.cpp
Labels: Info / User Interface, [C++], <Bugfix>, Quality of Life, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62139 Change gunmods information display method
  src/item.cpp
  tests/iteminfo_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#61490 Added ability to think to yourself in the message log
  src/npctalk.cpp
Labels: NPC / Factions, Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63751 Add real dark gray from the 256 color palette
  src/color.cpp
  src/cursesdef.h
  src/ncurses_def.cpp
  src/sdltiles.cpp
  src/wincurse.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63066 #54009 add the [?] keybindings at the bottom of the item action menu
  src/item_action.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62492 Removed restriction to auto pickup switching only from player UI
  src/auto_pickup.cpp
  src/auto_pickup.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62830 Seatbelt quality now matters
  data/json/vehicleparts/vehicle_parts.json
  src/vehicle_move.cpp
Labels: [JSON], Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63119 Updated list of walls that different opening mechanisms can be placed adjacent to
  data/json/construction.json
  data/json/gates.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63123 Query on disassembling favorited or worn items
  src/crafting.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, Quality of Life, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62899 Reasons for slow or fast crafting are now described in details
  src/crafting_gui.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, Quality of Life, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#61950 Epower and power in units::power
  data/json/furniture_and_terrain/appliances.json
  data/json/vehicleparts/alternator.json
  data/json/vehicleparts/combustion.json
  data/json/vehicleparts/engineering.json
  data/json/vehicleparts/lights.json
  data/json/vehicleparts/manual.json
  data/json/vehicleparts/motor.json
  data/json/vehicleparts/obsolete.json
  data/json/vehicleparts/rams.json
  data/json/vehicleparts/tanks.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/Aftershock/items/obsolete.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
  data/mods/BlazeIndustries/furniture_and_terrain/blaze_appliances.json
  data/mods/BlazeIndustries/vehicleparts/blaze_combustion.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
  data/mods/Magiclysm/vehicleparts/vehicle_parts.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
  data/mods/TEST_DATA/appliance.json
  data/mods/TEST_DATA/vehicle.json
  doc/JSON_INFO.md
  src/character.cpp
  src/dump.cpp
  src/veh_appliance.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_display.cpp
  src/vehicle_move.cpp
  src/vehicle_part.cpp
  src/vehicle_use.cpp
  tests/vehicle_power_test.cpp
Labels: <Documentation>, (P5 - Long-term), [JSON], Vehicles, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#63089 Prevent occlusions via (auto)-semi-transparent sprites
  data/raw/keybindings.json
  doc/TILESET.md
  src/action.cpp
  src/action.h
  src/cached_options.cpp
  src/cached_options.h
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/game.cpp
  src/handle_action.cpp
  src/options.cpp
Labels: <Documentation>, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62945 Consolidate fishing implements logic to use only tool quality, eliminate redundant item flags
  data/json/flags.json
  data/json/items/tool/fishing.json
  data/json/tool_qualities.json
  doc/JSON_FLAGS.md
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/flag.cpp
  src/flag.h
Labels: <Documentation>, [JSON], [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#63288 New ammo clip flag
  data/json/flags.json
  data/json/items/magazine/223.json
  data/json/items/magazine/shot.json
  doc/JSON_FLAGS.md
  src/character_ammo.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/item_pocket.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], [Markdown], Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63559 Finer-grained mapgen flags for terrain wiping
  data/json/mapgen/basecamps/expansion/modular_farm/version_1/primitive_farm.json
  doc/MAPGEN.md
  src/jmapgen_flags.h
  src/mapgen.cpp
Labels: <Documentation>, [JSON], Map / Mapgen, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#63793 Update documentation about neutral mutations
  doc/MUTATIONS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#63862 fix release version numbers
  .github/workflows/release.yml
  build-scripts/windist.ps1
  src/version.cpp
Labels: Code: Build, [C++], Code: Tooling, astyled, json-styled

#63865 bump hardcode version in release.yml
  .github/workflows/release.yml
Labels: Code: Tooling, astyled, json-styled

#63852 [Magiclysm] fast fixes
  data/mods/Magiclysm/items/enchanted_unarmed.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#63856 Fix compilations errors (int > dbl)
  src/mission.h
  src/mission_start.cpp
  src/mission_util.cpp
Labels: Missions, [C++], (P1 - Critical), astyled, json-styled

#62355 [DinoMod] zombie dino bites
  data/mods/DinoMod/monster_attacks.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: [JSON], Mods, stale, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#63513 wilderness spawn rework
  data/json/monstergroups/wilderness.json
Labels: Game: Balance, [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#63507 [innawood] religious questline fixes
  data/mods/innawood/npcs/missiondef.json
Labels: [JSON], Mods, Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#62663 Additional color variations (blue, pink, etc.) for vanilla hairstyles that didn't have them
  data/json/mutations/appearance_hair_styles.json
  data/json/npcs/appearance_trait_groups.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62473 Add a portable camping stove
  data/json/furniture_and_terrain/furniture-fireplaces.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/tools.json
  data/json/items/containers.json
  data/json/items/tool/deployable.json
Labels: [JSON], Spawn, Fields / Furniture / Terrain / Traps, Items: Containers, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#61895 scar_l and scar_h high end folding stock
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/military.json
  data/json/items/gun/223.json
  data/json/items/gun/308.json
  data/json/items/migration.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
Labels: [JSON], Mods, Spawn, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62403 Crudebattleaxe
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/cutting.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63080 Added letter variants
  data/json/items/generic/mail.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62895 Added message when pouring a liquid into container when parent is full.
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62653 Small Riot armor description fix
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, Items: Armor / Clothing, 0.G String Freeze

#63051 AIM: Add density sort, rename damage sort
  src/advanced_inv.cpp
  src/advanced_inv_pane.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63141 Give the New England Community Church a trader
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/godco_eocs.json
  data/json/mapgen/godco/mapgen_updates.json
  data/json/mapgen/godco/nested.json
  data/json/npcs/godco/classes.json
  data/json/npcs/godco/npcs.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
Labels: NPC / Factions, [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, 0.G String Freeze, EOC: Effects On Condition

#63056 Effect type modifiers rewrite
  src/effect.cpp
  src/effect.h
Labels: Code: Performance, [C++], astyled, json-styled, BasicBuildPassed

#62052 acorn fixes
  data/json/items/comestibles/nuts.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/recipe_food.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#63511 City exclusives, rural exclusives
  data/json/obsoletion/overmap_special/specials.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#61908 add bungalow 09 and 10
  data/json/mapgen/house/bungalow09.json
  data/json/mapgen/house/bungalow10.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63220 Update 38.json
  data/json/items/gun/38.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63164 Fix a typo in intercom mission dialogue
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_missions.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62632 Misc. Umbrella fixes
  data/json/items/tool/misc.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63054 Cleanup office tower, room dividers
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/mapgen/nested/office_nested.json
  data/json/mapgen/office_tower.json
  data/json/mapgen_palettes/office.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/mods/Xedra_Evolved/mapgen/xedra_field_office.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, 0.G String Freeze, Mods: Xedra Evolved

#62380 [Xedra Evolved] *something smart about dreams*
  data/json/mutations/mutations.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/eocs/item_eocs.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamer.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/inventor/artifacts.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
  data/mods/Xedra_Evolved/monsters/monster.json
  data/mods/Xedra_Evolved/monsters/monsterattacks.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/dreamer_spells.json
  data/mods/Xedra_Evolved/spells/eater_spells.json
  data/mods/Xedra_Evolved/spells/inventor_spells.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#63211 martialarts.json fix typo
  data/json/martialarts.json
Labels: [JSON], Martial Arts, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63201 Add's crafting item to camps for planks.
  data/json/recipes/basecamps/base/recipe_bare_bones_basecamp/bare_bones_basecamp_recipe_groups.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_2/modular_field_recipe_groups.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/other/parts_construction.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#61833 pemmican tweak
  data/json/items/comestibles/meat_dishes.json
  data/json/recipes/basecamps/base/recipe_bare_bones_basecamp/bare_bones_basecamp_recipe_groups.json
  data/json/recipes/basecamps/base/recipe_modular_firestation_1/modular_firestation_recipe_groups.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_2/modular_canteen_recipe_groups.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63378 Standardize spelling: "sulfur"
  data/json/items/book/misc.json
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/snippets/lab.json
  data/mods/Aftershock/items/mutagen.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62974 Add missing punctuation in dishwasher UI.
  src/vehicle_use.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63647 Return to start pos corrections
  data/json/npcs/random_encounters/free_merchant_caravans.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#63397 Add spaces to the entries in the vehicle interface to facilitate translation
  src/veh_interact.cpp
Labels: Translation, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63327 Cleanup private resort
  data/json/mapgen/private_resort.json
  data/json/mapgen_palettes/private_resort.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_private_resort.json
  data/json/vehicle_groups.json
  data/mods/No_Hope/Mapgen/private_resort.json
Labels: [JSON], Mods, Map / Mapgen, Vehicles, Fields / Furniture / Terrain / Traps, stale, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#63124 Desert Region: world generation changes
  data/mods/desert_region/desert_overmap_connections.json
  data/mods/desert_region/desert_regional_map_settings.json
  data/mods/desert_region/desert_special_locations.json
  data/mods/desert_region/furniture-and-terrain/desert_terrain.json
  data/mods/desert_region/mapgen/earth.json
  data/mods/desert_region/mapgen/waterbody.json
  data/mods/desert_region/overmap/desert_overmap_terrain.json
  data/mods/desert_region/overmap/mutable/canyon_mutable.json
  data/mods/desert_region/overmap/mutable/mesa_mutable.json
  data/mods/desert_region/overmap/specials.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, 0.G String Freeze, Mods: Desert Region

#62608 Jsonify beehive
  data/json/mapgen/bugs/beehive.json
  data/json/obsolete_terrains.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/savegame.cpp
Labels: [JSON], Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62933 Remove hardcoded material whitelist from salvage actor
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62818 Aftershock: Space food
  data/mods/Aftershock/itemgroups/astronaut_mre.json
  data/mods/Aftershock/itemgroups/food_groups.json
  data/mods/Aftershock/itemgroups/kitchen_groups.json
  data/mods/Aftershock/items/comestibles/bug_brew.json
  data/mods/Aftershock/items/comestibles/cheap_food.json
  data/mods/Aftershock/items/comestibles/flesh.json
  data/mods/Aftershock/items/comestibles/veggies.json
  data/mods/Aftershock/items/containers.json
  data/mods/Aftershock/maps/mapgen/stratoscomm_relay.json
  data/mods/Aftershock/maps/mapgen_pallete/houses.json
  data/mods/Aftershock/requirements.json
Labels: [JSON], Mods, Items: Food / Vitamins, Spawn, stale, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62087 MOLLE Belt Loops
  data/json/items/armor/ammo_pouch.json
  data/json/recipes/armor/other.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, 0.G String Freeze

#62547 Fix AIM's container interactions
  src/activity_actor.cpp
  src/advanced_inv.cpp
  src/advanced_inv.h
  src/advanced_inv_area.cpp
  src/advanced_inv_area.h
  src/advanced_inv_pane.cpp
  src/advanced_inv_pane.h
  src/character_attire.h
  src/item.cpp
  src/item.h
  src/uistate.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62486 Grammar maintenance for some of the newer scenarios
  data/json/scenarios.json
Labels: [JSON], Scenarios, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62923 Aftershock: Alien scanner thingy
  data/mods/Aftershock/effects_on_condition.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/spells.json
  doc/MAGIC.md
  src/character.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: <Documentation>, [JSON], Mods, [C++], [Markdown], Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63735 Bionic fitness band
  data/json/bionics.json
  data/json/itemgroups/bionics.json
  data/json/items/bionics.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  src/game_inventory.cpp
Labels: [JSON], Bionics, Spawn, [C++], astyled, json-styled, BasicBuildPassed

#63465 Make Churls totally illiterate and socially inept
  data/json/npcs/common_chat/TALK_COMMON_OTHER.json
  data/json/professions.json
  src/npctalk.cpp
  src/talker_npc.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63710 item: fix category for contents without charges
  src/item.cpp
  src/item.h
  tests/item_test.cpp
  tests/npc_shopkeeper_item_groups_test.cpp
  tests/zones_custom_test.cpp
Labels: NPC / Factions, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#62903 Add skill book variants, 1/?
  data/json/items/book/archery.json
  data/json/items/book/barter.json
  data/json/items/book/bashing.json
  data/json/items/book/chemistry.json
  data/json/items/book/computer.json
  data/json/items/book/cutting.json
  data/json/items/book/melee.json
  data/json/items/book/unarmed.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Melee, Items: Archery, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62864 inv_ui: add key for overriding collapsed status
  data/raw/keybindings.json
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: Info / User Interface, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63122 Stop rigid boat hull breaking into pliable fabric sheets
  data/json/items/vehicle/boat.json
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], Vehicles, <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63117 Live Free or Add Skill Book Variants, 4/?
  data/json/items/book/rifle.json
  data/json/items/book/shotgun.json
  data/json/items/book/smg.json
  data/json/items/book/throw.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63026 Unbind Abandon character
  data/raw/keybindings.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#63109 Structured sidebar modifications
  data/json/bodypart_graphs/full_body_widget.json
  data/json/ui/body_graph.json
  data/json/ui/radiation.json
  data/json/ui/structured/sidebar-structured.json
  data/json/ui/structured/structured_bodygraphs.json
  data/json/ui/structured/structured_bodygraphs_tiny.json
  data/json/ui/structured/structured_environment_blocks.json
  data/json/ui/structured/structured_health_blocks.json
  data/json/ui/structured/structured_ma_block.json
  data/json/ui/structured/structured_mana_block.json
  data/json/ui/structured/structured_speed_vehicle.json
  data/json/ui/structured/structured_weariness_block.json
  data/json/ui/structured/structured_wielding.json
Labels: Info / User Interface, [JSON], Vehicles, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62957 Paint changes
  data/json/construction.json
  data/json/itemgroups/supplies.json
  data/json/items/containers.json
  data/json/items/migration.json
  data/json/items/resources/home_improvement.json
  data/json/mapgen/tutorial.json
  data/json/materials.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_furniture.json
  data/json/recipes/recipes_holiday.json
  data/json/requirements/materials.json
  data/json/requirements/toolsets.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, <Bugfix>, Fields / Furniture / Terrain / Traps, Items: Containers, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63379 Nicer road connections
  data/json/mapgen/golfcourse.json
  data/json/mapgen/roadstop.json
  data/json/mapgen/ws_regional_dump.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#62636 Sewer connections for city buildings
  data/json/mapgen/cs_open_sewer_small.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_special/overmap_special_migration.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
  data/json/regional_map_settings.json
  src/overmap.cpp
Labels: [JSON], Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62745 Changing mil composite armor removal requirements
  data/json/requirements/vehicle.json
  data/json/vehicleparts/vehicle_parts.json
Labels: Game: Balance, [JSON], Vehicles, astyled, json-styled

#63353 Change three NPC MGOAL_GO_TO quest invocations to allow player to go alone
  data/json/npcs/Backgrounds/hospital_2.json
  data/json/npcs/Backgrounds/prepper_1.json
  data/json/npcs/Backgrounds/rural_1.json
Labels: [JSON], stale, astyled, BasicBuildPassed

#63466 Assorted typo fixes and grammar corrections
  data/json/monsters/zed_children.json
  data/json/monsters/zed_explosive.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_prototypes.json
Labels: [JSON], astyled, json-styled, 0.G String Freeze

#63293 Update description of zipper bag (bag_zipper)
  data/json/items/containers.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Items: Containers, astyled, json-styled, 0.G String Freeze

#63623 Allow randomizing starting hour through options
  src/options.cpp
  src/scenario.cpp
Labels: <Enhancement / Feature>, [C++], Scenarios, astyled, json-styled, BasicBuildPassed

#60814 [Xedra Evolved] Investigation uses, spider infestation et al
  data/mods/Xedra_Evolved/README.md
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/encounters/jotunn_encounters.json
  data/mods/Xedra_Evolved/itemgroups/monster_drops.json
  data/mods/Xedra_Evolved/modinfo.json
  data/mods/Xedra_Evolved/monsters/changeling.json
  data/mods/Xedra_Evolved/monsters/exodii.json
  data/mods/Xedra_Evolved/monsters/ferals.json
  data/mods/Xedra_Evolved/monsters/monsterattacks.json
  data/mods/Xedra_Evolved/monsters/monstergroup.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/npc/mr_lapin.json
  data/mods/Xedra_Evolved/npc/rubik.json
  data/mods/Xedra_Evolved/npc/talk_rescue.json
  data/mods/Xedra_Evolved/scent_type.json
  data/mods/Xedra_Evolved/skills.json
  data/mods/Xedra_Evolved/weakpoints/wp_combat_cyborg.json
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, Monsters, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, 0.G String Freeze, Mods: Xedra Evolved

#63363 NPCs documentation cleanup
  doc/NPCs.md
Labels: <Documentation>, NPC / Factions, [Markdown], astyled, json-styled, BasicBuildPassed

#63853 Tune down trapdoor spider spawns
  data/json/mapgen/map_extras/trapdoor_spider_den.json
  data/json/traps.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#63874 Remove unused helmet function
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
Labels: [C++]

#63172 `JSON_INFO.md` cleanup
  data/json/npcs/shop_consumption_rates.json
  doc/JSON_INFO.md
  doc/NPCs.md
Labels: <Documentation>, NPC / Factions, [JSON], [Markdown], astyled, json-styled, BasicBuildPassed

#63474 Add 14 scores, 24 achievements and 5 conducts related to vehicular travel
  data/json/achievements.json
  data/json/conducts.json
  data/json/scores.json
  data/json/statistics.json
  src/event.cpp
  src/event.h
  src/memorial_logger.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: [JSON], Vehicles, [C++], Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63390 Added presets for pocket settings
  data/raw/keybindings.json
  src/character_attire.cpp
  src/item_contents.cpp
  src/item_pocket.cpp
  src/item_pocket.h
  src/path_info.cpp
  src/path_info.h
  src/savegame_json.cpp
Labels: Info / User Interface, [JSON], [C++], Items: Containers, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#63778 Fixes mobile home park road connections
  data/json/overmap/overmap_mutable/mobile_home_park_mutable.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#63887 Default overmap tiles
  data/raw/keybindings.json
  src/options.cpp
  src/overmap_ui.cpp
Labels: Info / User Interface, Map / Mapgen, 0.G backport candidate

#63877 Adjust "keg" furniture UI
  src/iexamine.cpp
Labels: [C++]

#63076 Two minor fixes to typos in speech.json
  data/json/speech.json
Labels: [JSON], astyled, json-styled, 0.G String Freeze

#63104 Add two-piece and telescoping fishing rods
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/tools.json
  data/json/items/tool/fishing.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/godco/classes.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/recipe_companion.json
  data/json/uncraft/tools.json
Labels: <Documentation>, [JSON], Crafting / Construction / Recipes, Spawn, [C++], <Bugfix>, [Markdown], astyled, json-styled

#63097 Limbify and rework dodge encumbrance scaling
  data/json/character_modifiers.json
  data/json/monsters/cyborgs.json
  data/json/monsters/fungus_zombie.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/monsters/mi-go.json
  data/json/monsters/mutant.json
  data/json/monsters/nether.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_amalgamation.json
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_misc.json
  data/mods/TEST_DATA/items.json
  doc/JSON_INFO.md
  src/avatar.cpp
  src/avatar.h
  src/bodypart.cpp
  src/bodypart.h
  src/character_modifier.cpp
  src/melee.cpp
  src/player_display.cpp
  tests/melee_dodge_hit_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Code: Tests, [C++], [Markdown], Melee, astyled, json-styled, BasicBuildPassed, 0.G String Freeze, Limbs

#63863 Cutters not shears
  data/json/items/tool/tailoring.json
  data/mods/innawood/items/tool_tailoring.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, Mods: Innawood 🌲

#63434 Charges / item consumption for non-comestible healing; first aid items from comestible to generic
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/military.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/tools.json
  data/json/items/comestibles/med.json
  data/json/items/tool/med.json
  data/json/mapgen/abandoned01.json
  data/json/mapgen/animalshelter.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen_palettes/stadium_palette.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_lab.json
  data/json/npcs/NC_DOCTOR.json
  data/json/npcs/items_generic.json
  data/json/npcs/random_encounters/john_bailey.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  data/json/obsoletion/charge_removal.json
  data/json/professions.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/medical.json
  data/json/vehicles/carts.json
  data/json/vehicles/helicopters.json
  data/mods/CRT_EXPANSION/scenarios/crt_classes.json
  data/mods/Magiclysm/professions.json
  data/mods/No_Hope/Mapgen/mil_base_z0.json
  data/mods/No_Hope/Mapgen/necropolisB1.json
  data/mods/innawood/recipes/medsandchemicals.json
  data/mods/innawood/recipes/other/medical.json
  data/mods/package_bionic_professions/bionic_professions.json
  src/activity_actor.cpp
  tests/firstaid_test.cpp
  tests/modify_morale_test.cpp
Labels: NPC / Factions, [JSON], Mods, Missions, Bionics, Map / Mapgen, Spawn, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Innawood 🌲

#62306 acid blood
  data/json/harvest.json
  data/json/items/chemicals_and_resources.json
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed_acid.json
  data/json/recipes/weapon/explosive.json
  src/iuse.cpp
Labels: [JSON], [C++], Monsters, astyled, json-styled, BasicBuildPassed

#63878 Mutant Cats & Dogs: A Tale of Nether & Confusion
  data/json/monstergroups/mammal.json
  data/json/monsters/mutant_mammal.json
  data/json/monsters/nether_animal.json
  data/json/monsters/obsolete.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#63879 Polish some of the NPC introductory text
  data/json/npcs/common_chat/TALK_COMMON_OTHER.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#63883 Fix MSVC template warnings
  src/condition.cpp
  src/npctalk.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#63873 item_location: add a make_active() helper
  src/active_item_cache.cpp
  src/activity_actor.cpp
  src/avatar_action.cpp
  src/handle_liquid.cpp
  src/item_location.cpp
  src/item_location.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#63836 char/healing: fix/rework healing rates to be more logical
  data/json/mutations/mutations.json
  data/mods/Aftershock/mutations/obsolete.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
  doc/JSON_FLAGS.md
  doc/MUTATIONS.md
  src/character.cpp
  src/character.h
  src/character_body.cpp
  src/mutation.h
  src/mutation_data.cpp
  tests/char_healing_test.cpp
Labels: <Documentation>, [JSON], Mods, Missions, Map / Mapgen, Vehicles, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], [Markdown], Items: Ammo / Guns, Mods: Magiclysm, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid, Limbs

#63788 Adds a snout for the raptor mutation, and changes the tail’s description.
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#63776 make most anatomy mutations neutral
  data/json/mutations/mutations.json
Labels: Game: Balance, [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#63773 Automatically cap melee skill gain from monsters
  doc/MONSTERS.md
  src/monstergenerator.cpp
  tests/melee_test.cpp
Labels: <Documentation>, Game: Balance, Code: Tests, [C++], [Markdown], Melee, astyled, json-styled, BasicBuildPassed

#63692 Change shark_suit[_faraday] Materials
  data/json/items/armor/swimming.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#63677 Pain recovery jsonification
  data/json/mutations/mutations.json
  src/suffer.cpp
Labels: <Enhancement / Feature>, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed

#63656 make simple deconstructions much faster
  data/json/construction.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#63775 Add "dense bones" mutation
  data/json/mutations/mutations.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/DinoMod/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#63654 Misc debug stuff
  data/json/item_spell_effects.json
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, Code: Debug, astyled, json-styled, BasicBuildPassed

#63639 Randomize freshness of comestibles on game start
  src/item.cpp
  src/item_group.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed
