Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-01, with the labels that each got.

#62940 Factor character stance into Creature::ranged_target_size
  src/ranged.cpp
Labels: [C++], <Bugfix>, Ranged, astyled, json-styled

#62934 Why no PALS comment on the MDS
  data/json/items/armor/robofac_armor.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#62931 [Mapgen] Some Exodii base fixes
  data/json/mapgen/exodii/exodii_base.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62917 Pluralization test uses test items instead of regular ones
  data/mods/TEST_DATA/items.json
  tests/item_type_name_test.cpp
Labels: [JSON], Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62904 fix: valhalla base mapgen errors
  data/json/mapgen/valhalla_cult/mapgen.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#62901 Rotate farm tiles
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/nested/farm_nested.json
  data/json/overmap/overmap_mutable/farm_mutable.json
  data/json/overmap/overmap_special/specials.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#62913 drop leg pouches fix
  data/json/items/armor/storage.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#62900 [Magiclysm] balance tweaks
  data/mods/Magiclysm/effects/effects.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#62888 Update stale exclusion labels
  .github/workflows/stale.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#62874 Misc mapgen fixes
  data/json/mapgen/house/urban_4_house_basement.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/slime_pit.json
  data/json/mapgen/stripclub.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62870 Lowered durability of extra light quarterpanel
  data/json/vehicleparts/boards.json
Labels: [JSON], Vehicles, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62921 fix: Remove extra anvil from workshop recipe
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_1/recipe_modular_workshop_common.json
  data/json/recipes/basecamps/expansion/recipe_modular_workshop/version_2/recipe_modular_workshop_common.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62859 Evac Shelter pencils now spawn with charges.
  data/json/itemgroups/SUS/evac_shelter.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#62856 Add messages for more cases of pocket overflow
  src/item_pocket.cpp
Labels: [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#62833 Remove spawn of zombie with a flamethrower.
  data/json/monstergroups/military.json
  data/json/monsters/obsolete.json
  data/json/monsters/zed_soldiers.json
  data/json/obsoletion/professions.json
  data/json/professions.json
  data/mods/No_Hope/monster_groups.json
Labels: [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#62962 Routine tileset updates on 01 January 2023
  gfx/Altica/human_body.png
  gfx/Altica/normal.png
  gfx/Altica/tile_config.json
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#62970 Mitigate overflow in construction progress
  src/activity_handlers.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62949 [Xedra Evolved] Fix the mod has lack of own mana bar
  data/mods/Xedra_Evolved/ui/sidebar.json
Labels: Info / User Interface, [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#62960 Fix crash in item_location serialization
  src/item_location.cpp
  src/savegame_json.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62938 Fix Devour scroll to teach Devour
  data/mods/Magiclysm/items/spell_scrolls.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#62944 Tweak/add fishing tool craft/uncraft recipes
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/tool.json
  data/json/uncraft/tools.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#62980 [Magiclysm] Endless Teapot
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/comestibles.json
  data/mods/Magiclysm/items/enchanted_misc.json
Labels: [JSON], Mods, Items: Food / Vitamins, Spawn, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, 0.G String Freeze

#62988 Change vehicle workbench `OBSTACLE` tag to `MOUNTABLE`
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], Vehicles, astyled, json-styled, BasicBuildPassed

#62979 tests/map: fix setup for inactive_container_with_active_contents
  tests/map_helpers.cpp
  tests/map_helpers.h
  tests/map_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#63010 Prevent crash on no scenario
  src/newcharacter.cpp
Labels: <Crash / Freeze>, [C++], <Bugfix>, Character / World Generation, astyled, json-styled

#62993 Fix mission_start off by 1
  src/mission_start.cpp
Labels: Missions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62982 Fix typos in error message
  src/flexbuffer_json-inl.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#62984 Disable NPCs triggering spell learned achievements
  src/activity_handlers.cpp
  src/bionics.cpp
  src/debug_menu.cpp
  src/magic.cpp
  src/magic.h
  src/npc.cpp
  src/profession.cpp
  tests/magic_spell_test.cpp
Labels: NPC / Factions, Bionics, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#63001 [Innawood] Remove adze from tools_common_small item group
  data/mods/innawood/itemgroups/tools.json
Labels: [JSON], Mods, Spawn, <Bugfix>, astyled, json-styled, Mods: Innawood 🌲

#62972 added lengths for EXODII Mags and the MDS
  data/json/items/armor/robofac_armor.json
  data/json/items/magazine/exodii.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#62831 fix: Recipe makes: X wasn't displayed in crafting GUI for non-charge items
  src/recipe.cpp
  src/recipe.h
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62877 fix: drops of profession flavored zombies
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/monsterdrops/zombie_default.json
  data/mods/Xedra_Evolved/itemgroups/monster_drops.json
Labels: [JSON], Mods, Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#61731 Update MAGIC.md
  doc/MAGIC.md
Labels: <Documentation>, [Markdown], stale, astyled, json-styled, BasicBuildPassed

#62846 Added several costumes to Cosplay mission
  data/json/starting_missions.json
Labels: Game: Balance, [JSON], Missions, astyled, json-styled, BasicBuildPassed

#63015 Fix erroneous result volume display in crafting gui
  src/crafting_gui.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63014 Fix #62103 Laser pistol holster crash
  src/item.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63013 AT4 Fixes
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/84x246.json
  data/json/items/gun/84x246mm.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#56647 Harden books
  data/json/items/book/barter.json
  data/json/items/book/chemistry.json
  data/json/items/book/computer.json
  data/json/items/book/dodge.json
  data/json/items/book/driving.json
  data/json/items/book/electronics.json
  data/json/items/book/fabrication.json
  data/json/items/book/firstaid.json
  data/json/items/book/launcher.json
  data/json/items/book/mechanics.json
  data/json/items/book/melee.json
  data/json/items/book/misc.json
  data/json/items/book/pistol.json
  data/json/items/book/rifle.json
  data/json/items/book/shotgun.json
  data/json/items/book/speech.json
  data/json/items/book/spiritual.json
  data/json/items/book/stabbing.json
  data/json/items/book/survival.json
  data/json/items/book/swimming.json
  data/json/items/book/tailor.json
  data/json/items/book/throw.json
  data/json/items/book/traps.json
  data/json/items/book/young.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, <Bugfix>, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Melee, astyled, json-styled

#63031 Fix duplicate `tailoring_nylon_patchwork` recipe / Nerf synth fabric crafting
  data/json/requirements/tailoring.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#63017 skeletal bite and grab fixes
  data/json/monsters/zed_skeletal.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63036 Remove padding from structured/compact safe+mood sidebar widget
  data/json/ui/safe_mode.json
  data/json/ui/sidebar-legacy-compact.json
  data/json/ui/structured/structured_health_blocks.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#63035 Make lanyard not uncomfortable
  data/json/items/generic.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63029 Consolidate functions for character's best item with given quality
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/iexamine.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#63024 json/decon: fix boot disassembly recipes
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#63020 Swap out the colors for the `|.` and `\.` damage states
  src/item.cpp
  tests/item_tname_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#63009 Fix main menu crash
  src/main_menu.cpp
Labels: <Crash / Freeze>, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62985 Add spinner for overmap pathfinding
  src/do_turn.cpp
  src/game.cpp
  src/game.h
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/simple_pathfinding.cpp
  src/simple_pathfinding.h
  tests/simple_pathfinding_test.cpp
Labels: Map / Mapgen, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#63007 Change how projectile trajectories are calculated.
  src/ballistics.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#63008 rebreather mask padding
  data/json/items/tool_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#63042 Routine tileset updates on 08 January 2023
  gfx/BrownLikeBears/tile_config.json
  gfx/BrownLikeBears/tiles.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/Larwick_Overmap/overmap.png
  gfx/Larwick_Overmap/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/NeoDaysTileset/fallback.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/RetroDaysTileset/tiles_20x20.png
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#62922 Birb nests and egg foraging tweaks
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/itemgroups/Agriculture_Forage_Excavation/forage.json
  data/json/itemgroups/Food/food.json
  data/json/mapgen/nested/nested_chunks_roof.json
  data/json/mapgen/radio_tower.json
  data/json/mapgen_palettes/roof_palette.json
Labels: [JSON], Map / Mapgen, Items: Food / Vitamins, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62905 fix: reduce isherwoods weapon options
  data/json/npcs/isherwood_farm/NPC_Carlos_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Chris_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jesse_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Lisa_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Luke_Isherwood.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62589 Migrate the "Retrieve Deposit Box" mission to JSON format
  data/json/effect_on_condition.json
  data/json/npcs/missiondef.json
  src/mission.h
  src/mission_end.cpp
  src/missiondef.cpp
Labels: [JSON], Missions, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#62238 Dialog, allow more variable usage and documentation cleanup
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
  src/dialogue_helpers.h
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#62148 Extend byproduct groups, allow overriding default container with null
  src/crafting_gui.cpp
  src/item_group.cpp
  src/recipe.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62147 Spear interaction with bars/fences at low skill
  src/melee.cpp
Labels: Game: Balance, [C++], Melee, astyled, json-styled, BasicBuildPassed

#62878 Added Foot attack vector to Kumai Sharinraku
  data/mods/MMA/techniques.json
Labels: [JSON], Mods, Melee, astyled, json-styled, BasicBuildPassed, Mods: MMA

#62283 Update JSON_FLAGS doc with Mapgen entry
  doc/JSON_FLAGS.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#63019 Fix overly-restrictive logic in check for ability to crush frozen liquids
  src/character.cpp
  src/item.cpp
  src/item.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#62994 Beefs .357 SIG’s armour penetration.
  data/json/items/ammo/357sig.json
Labels: Game: Balance, [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#62429 Misc Item Fixes: Density & Some Recipes
  data/json/items/appliances.json
  data/json/items/armor/jewelry.json
  data/json/items/basecamp.json
  data/json/items/book/firstaid.json
  data/json/items/containers.json
  data/json/items/generic.json
  data/json/items/tool/cooking.json
  data/json/items/tool/lighting.json
  data/json/items/tool/pseudo.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/items/vehicle/plating.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/containers.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, Code: Tests, Player Faction Base / Camp, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Appliance/Power Grid

#62975 ursine faces
  data/json/mood_faces.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#63058 Remove five pin bow sight crafting recipe
  data/json/recipes/weapon/mods.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#59092 Fix abilities blocked by clothing being blocked by integrated armor
  data/json/flags.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/holster.json
  data/json/items/armor/sheath.json
  data/json/items/armor/storage.json
  doc/ARMOR_BALANCE_AND_DESIGN.md
  src/avatar.cpp
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/explosion.cpp
  src/flag.cpp
  src/flag.h
  src/game.cpp
  src/iexamine.cpp
  src/sounds.cpp
Labels: <Documentation>, [JSON], [C++], <Bugfix>, [Markdown], Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#63043 Fixes for map revert
  data/json/portal_storm_effect_on_condition.json
  src/savegame.cpp
  src/submap.cpp
  src/submap.h
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#60253 Makefile: ignore unused argument warning when linking
  Makefile
Labels: Code: Build, stale, astyled, json-styled, BasicBuildPassed

#63070 construction: fix construction loops
  data/json/construction.json
  data/mods/TEST_DATA/construction.json
  data/mods/TEST_DATA/construction_group.json
  data/mods/TEST_DATA/terrain.json
  doc/JSON_INFO.md
  src/activity_item_handling.cpp
  src/construction.cpp
  src/construction.h
  tests/act_build_test.cpp
Labels: <Documentation>, [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#63046 Aftershock Post Thresh Mood Faces
  data/mods/Aftershock/mood_faces.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#62955 Migrate remaining farms to the farm mutable, misc map updates
  data/json/mapgen/farm.json
  data/json/mapgen/farm_2side.json
  data/json/mapgen/farm_dairy_2.json
  data/json/mapgen/farm_stills.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/nested/farm_nested.json
  data/json/obsoletion/overmap_special/specials.json
  data/json/overmap/overmap_mutable/farm_mutable.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#62927 Fix some metal material thermochemical properties
  data/json/materials.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#60843 audit chain link crafting times and quantities
  data/json/items/ammo.json
  data/json/recipes/recipe_others.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, stale, astyled, json-styled, BasicBuildPassed

#61750 Rate sleeping spots in cars uncomfy for huge muts
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63079 Add obsoletion entries
  data/json/obsoletion/charge_removal.json
  data/json/recipes/recipe_obsolete.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#63053 Remove portal storm monsters ability to open doors
  data/json/monsters/nether.json
  data/json/portal_storm_effect_on_condition.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#63048 Make `Character::best_item_with_quality` examine items non-recursively
  src/character.cpp
  src/character.h
  src/iexamine.cpp
Labels: Code: Performance, [C++], astyled, json-styled, BasicBuildPassed

#62862 Adjust deconstruction recipes for patchwork cotton sheets
  data/json/recipes/recipe_deconstruction.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#60899 Hint about other files on the lore page
  lore-background.md
Labels: Organization: Sites, [Markdown], Lore

#63044 fixes dark sight's duration increment
  data/mods/Magiclysm/Spells/classless.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#63085 Fix a price discrepancy with the lumbermill trader
  data/json/npcs/lumbermill_employees/TALK_lumbermill_fabricate.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63084 Fix the lumbermill trader
  data/json/npcs/lumbermill_employees/TALK_lumbermill_fabricate.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63098 Fix typo of `looks_like` json property
  data/json/items/melee/swords_and_blades.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#63071 Enlarge body status window
  src/bodygraph.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#63099 Allow the scrap trader to sit in their chair.
  data/json/mapgen/fortified_scrap_yard/fortified_scrap_yard.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#63096 Fix link typo in MISSIONS_JSON.md and link to correct subsection
  doc/MISSIONS_JSON.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#63093 Lowered amount of cable spawned on `mission_meteorologist_5`
  data/json/npcs/other/meteorologist.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#63081 fix prereq issues for INFIMMUNE and PARAIMMUNE
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#63037 Clarify the small body graph
  data/json/bodypart_graphs/full_body_widget.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#63088 Jsonize test data for vehicle efficiency test
  data/mods/TEST_DATA/vehicle_efficiency_test.json
  src/test_data.cpp
  src/test_data.h
  tests/vehicle_efficiency_test.cpp
Labels: [JSON], Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#63102 Fix the check error originating from `TALK_lumbermill_fabricate.json`
  data/json/npcs/lumbermill_employees/TALK_lumbermill_fabricate.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63114 fix: missing corner in one FEMA entrance
  data/json/mapgen/fema/FEMA_entrance_03.json
Labels: [JSON], astyled, json-styled

#62578 WIP Fix unarmed weapon experience gain
  data/json/flags.json
  data/json/items/armor/integrated.json
  data/json/items/generic.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/tool/electronics.json
  data/json/obsolete.json
  data/mods/Aftershock/items/weapons.json
  data/mods/CRT_EXPANSION/items/crt_gun.json
  data/mods/CRT_EXPANSION/items/crt_tools.json
  data/mods/Magiclysm/items/enchanted_unarmed.json
  data/mods/Magiclysm/items/ethereal_items.json
  src/character.h
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/item.h
  src/martialarts.cpp
  src/melee.cpp
  src/npc_attack.cpp
Labels: NPC / Factions, [JSON], Mods, [C++], <Bugfix>, Items: Ammo / Guns, Melee, Mods: Magiclysm, Mods: Aftershock, Martial Arts, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#63108 [Innawood] alternators!
  data/mods/innawood/recipes/recipe_vehicle.json
Labels: [JSON], Mods, Vehicles, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#63128 Remove workbench construction vs crafting exploit
  data/json/construction.json
  data/json/construction_group.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#63143 De-duplicate zinc powder recipe
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#63140 Sonia can now talk about her recent past
  data/json/npcs/godco/NPC_Sonia_Greene.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63115 Resolve clang-tidy warning in diary_ui.cpp
  src/diary_ui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#63112 Fix consume EOC double fire
  src/consumption.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63060 Fix reinforced_glass_sheet recipe weight and volume inconsistency
  data/json/items/resources/glass.json
  data/mods/TEST_DATA/vehicle_drag_test.json
  data/mods/TEST_DATA/vehicle_efficiency_test.json
Labels: [JSON], Vehicles, Code: Tests, astyled, json-styled, BasicBuildPassed

#63144 Add/update dumpster disassembly and bash products
  data/json/furniture_and_terrain/furniture-storage.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#63166 Shell mutation ordering
  data/json/mutations/mutation_ordering.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#63168 Adjust `f_metal_trashcan` construct, bash & disassembly
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-storage.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#63170 Set Saddlebag's primary skill to tailoring (from none)
  data/json/recipes/armor/pets_horse.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#63218 [Innawood] Autolearn crafting different grades of steel
  data/mods/innawood/recipes/other/materials.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#63217 Don't accidentally remove actual ram when the car is shoved
  src/vehicle.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63224 Add `FISH_TRAP` tool quality so that NPCs can use either kind of fish trap
  data/json/items/tool/fishing.json
  data/json/recipes/recipe_companion.json
  data/json/tool_qualities.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#63214 Fix MSVC CI build failures
  .github/workflows/msvc-full-features.yml
  .github/workflows/release.yml
  doc/COMPILING/COMPILING-VS-VCPKG.md
Labels: <Documentation>, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#63193 use open glass door looks-like for open red & green glass door
  data/json/furniture_and_terrain/terrain-doors.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#63228 Better EOC variable messages
  src/dialogue_helpers.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#63222 [ASCIITileset] Change Unknow terrain to use the unseen sprite
  gfx/ASCIITileset/tile_config.json
Labels: Info / User Interface, [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#63207 Remove redundant "is vehicle in water" check
  src/vehicle_move.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#63208 Fix CMake compilation and localization
  .gitignore
  doc/COMPILING/COMPILING-CMAKE.md
  lang/CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/format/CMakeLists.txt
Labels: <Documentation>, Translation, Code: Build, Code: Tests, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#63205 Fix newcharacter screen hobby skills calculation
  src/newcharacter.cpp
Labels: [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#63196 Fix downspout deconstruct outcome
  data/json/furniture_and_terrain/terrain-roofs.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#63181 Use fake curtains to block vision
  src/vehicle.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63177 Remove Ultica_iso from overmap tilesets
  src/options.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#63174 Prevent loot-generation errors during ranged_balance_test
  tests/map_helpers.cpp
  tests/map_helpers.h
  tests/ranged_balance_test.cpp
  tests/throwing_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63169 Migrate from set-output to GITHUB_OUTPUT
  .github/workflows/msvc-full-features.yml
  .github/workflows/post-spell-check-result.yml
  .github/workflows/release.yml
  .github/workflows/test_labeler.yml
  .github/workflows/text-changes-analyzer.yml
  .github/workflows/update-tilesets.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#63158 Add bodygraph with wetness data
  src/character_body.cpp
  src/display.cpp
  src/display.h
  src/weather.h
  src/widget.cpp
  src/widget.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#63153 NPCs documentation cleanup
  doc/NPCs.md
Labels: <Documentation>, NPC / Factions, [Markdown], astyled, json-styled, BasicBuildPassed

#63146 Remove an erroneous dialogue response in the faction camp tutorial
  data/json/npcs/TALK_FACTION_CAMP.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63137 Correct chemical byproduct charges by using byproduct_group
  data/json/recipes/chem/chemicals.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/medical.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63113 Remove an erroneous followup to Helena's final mission
  data/json/npcs/godco/godco_missions.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#63111 Portal storm mission fixes
  data/json/npcs/missiondef.json
  doc/MISSIONS_JSON.md
  src/avatar.cpp
  src/mission.cpp
  src/mission.h
  src/missiondef.cpp
Labels: <Documentation>, [JSON], Missions, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#63226 Fix map revert crash
  src/npctalk.cpp
Labels: NPC / Factions, <Crash / Freeze>, [C++], astyled, json-styled, BasicBuildPassed

#63240 fix typo in generate_overlay_ids.py
  tools/json_tools/generate_overlay_ids.py
Labels: [Python], Code: Tooling, astyled, json-styled

#63239 RELEASE_DIFF.md code annotation
  doc/RELEASE_DIFF.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#63187 Mole Crickets and Molerats can give tetanus
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#63252 Fix display of byproduct charges in crafting gui
  src/recipe.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, json-styled, BasicBuildPassed

#63241 Fix CANNIBAL trait check in Smokes dialog
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_talk_fluff.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63230 Hide vehicle stats on sidebar unless relevant
  data/json/ui/vehicle.json
Labels: Info / User Interface, [JSON], Vehicles, astyled, json-styled, BasicBuildPassed

#63227 Jsonifying of ladder use actions
  data/json/item_actions.json
  data/json/items/tool/misc.json
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#63160 Fix display of body status info
  src/bodygraph.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63175 Speedydex bonus fix
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63189 Half Worm volume and mass changes
  data/json/monsters/insect_spider.json
Labels: Game: Balance, [JSON], astyled, BasicBuildPassed

#63250 Routine tileset updates on 22 January 2023
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/tile_config.json
  gfx/Larwick_Overmap/overmap.png
  gfx/Larwick_Overmap/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#63246 [MSC] Remove extra candy from the MRE item group
  data/mods/My_Sweet_Cataclysm/sweet_item_groups.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed

#63267 Add `i4_diesel` disassembly
  data/json/uncraft/vehicle/engines.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63289 Finish PR #62472
  data/json/npcs/refugee_center/surface_refugees/NPC_Aleesha_Seward.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Draco_Dune.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Fatima_Al_Jadir.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Garry_Villeneuve.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Guneet_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
  data/json/npcs/refugee_center/surface_refugees/NPC_John_Clemens.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Mandeep_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Mangalpreet_Singh.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Pablo_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Rhyzaea_Johnny.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Stan_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard1.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard2.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard3.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard_generic.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_hostile_guard.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_teamster.json
  data/json/npcs/refugee_center/surface_staff/generic_class_definitions.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63223 add large_tent_equivalent component group
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_tent.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_primitive_field.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_2/recipe_modular_field_tent.json
  data/json/recipes/basecamps/components.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#63279 Fix documentation typo
  doc/EFFECT_ON_CONDITION.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#63280 Fixes to portal resurrection and incorporeal
  data/json/effect_on_condition.json
  src/avatar_action.cpp
  src/character.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#63121 Improvised tire armor improvements
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/legs.json
  data/json/requirements/materials.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#63262 Standardize punctuation in greeting snippets
  data/json/npcs/talk_tags.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63295 Keep the God's Chosen from bashing and have them return to their places
  data/json/npcs/godco/classes.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63284 Fixed error in code. Incorect loop by iterator.
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63275 fix: remove tazer hack death message
  data/json/monsters/drones.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#63273 don't become itchy while sleeping if shutdown
  data/json/effect_on_condition.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#63260 Cleanup apartment tower
  data/json/mapgen/apartment_con_new.json
  data/json/mapgen/apartment_mod_new.json
  data/json/mapgen/store/s_diner.json
  data/json/mapgen_palettes/apartment.json
  data/json/obsoletion/obsolete_mapgen.json
  data/json/obsoletion/overmap/overmap_terrain/overmap_terrain_obsoletion.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#63259 Fix issue with setting hp of sub parts
  src/npctalk.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#63301 Highlight HURT effect messages with m_bad
  src/character.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed
