Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2023-10, with the labels that each got.

#68425 Add missing floor tile under table to farm with stills
  data/json/mapgen/farm_stills.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#68427 Remove armor penetration from shotgun flechettes, clarify descriptions
  data/json/items/ammo/shot.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#68440 Fix typos, use definite article consistently in death messages
  data/json/items/ammo/nail.json
  data/json/items/armor/helmets.json
  data/json/items/corpses/inactive_bots.json
  data/json/monsters/nether.json
  data/json/monsters/starers.json
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed_burned.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_misc.json
  data/mods/CrazyCataclysm/crazy_monsters.json
  data/mods/Defense_Mode/dialogue/TALK_WANDERING_SURVIVOR.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/Magiclysm/monsters/monsters.json
  data/mods/Magiclysm/monsters/nature_spirits.json
  data/mods/TropiCataclysm/monsters/zed_plant.json
Labels: [JSON], Mods, Monsters, Mods: Magiclysm, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Game: Defense Mode, Mods: TropiCataclysm 🌴

#68429 Remove GLARE 1 from gas masks
  data/json/items/tool_armor.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68437 Routine tileset updates on 01 October 2023
  gfx/Altica/human_body_plus.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#68431 Use correct actor in bulk trade messages
  src/npctalk.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68430 Miner bot-> demining bot
  data/json/items/corpses/inactive_bots.json
  data/json/monsters/utility_bot.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68426 Make it obvious when TCL badges are destroyed or not
  data/json/furniture_and_terrain/terrain-mechanisms.json
  data/json/items/id_cards.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#68424 Add CTest presets
  CMakePresets.json
  tests/CMakeLists.txt
Labels: Code: Build, [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#68399 [EOC]EVENT EOCs provide beta talker
  data/mods/TEST_DATA/EOC.json
  doc/EFFECT_ON_CONDITION.md
  src/avatar.cpp
  src/character.cpp
  src/character_attire.cpp
  src/debug_menu.cpp
  src/effect_on_condition.cpp
  src/effect_on_condition.h
  src/event_bus.cpp
  src/event_bus.h
  src/event_subscriber.h
  src/npc.cpp
  tests/eoc_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68447 Allow metal wreckage to be used for cutting
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/items/fake.json
Labels: Game: Balance, [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#68389 Adds priority parameter for special placement
  doc/OVERMAP.md
  src/omdata.h
  src/overmap.cpp
Labels: <Enhancement / Feature>, <Documentation>, Map / Mapgen, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#68390 Documentation update
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#68398 Fix duplicate OMTs, take two
  src/overmap.cpp
  src/savegame.cpp
Labels: Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#68401 Bugfix: Prevent segfault for npc get_restock_interval
  src/npctalk.cpp
  src/talker_character.h
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68416 Some mask cartridge fix (part2)
  data/json/vehicles/helicopters.json
  data/mods/No_Hope/Mapgen/mil_base_z0.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#68364 [MoM] Jmathify awakenings
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
  data/mods/MindOverMatter/jmath.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68423 [EOC]Inventory selector (and crash fix)
  data/json/effects_on_condition/example_eocs.json
  doc/NPCs.md
  src/game_inventory.cpp
  src/game_inventory.h
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [JSON], [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68441 Rename luna park to miniature railway park
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#68452 [XEDRA Evolved] Add canvas repair and remove unused adv sewing section
  data/mods/Xedra_Evolved/items/tools.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68434 Jeweler profession
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#68450 Add Crafting Recipes for Gold, Silver, and Copper Necklaces
  data/json/recipes/armor/other.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#68446 Fix conversion of liquid and solid items
  src/item.cpp
  src/iuse_actor.cpp
Labels: [C++], Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#68381 [MoM] Add Flameshield power
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/recipes/practice/pyrokinesis_practice.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68464 properly migrate #68441
  data/json/obsoletion/migration_overmap_specials.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#68404 Add a larger “family–sized” water heater
  data/json/furniture_and_terrain/furniture-plumbing.json
  data/json/items/generic.json
  data/json/mapgen/basement/basement_bionic.json
  data/json/mapgen/basement/basement_chem.json
  data/json/mapgen/basement/basement_game.json
  data/json/mapgen/basement/basement_messed.json
  data/json/mapgen/basement/basement_weed.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/laundromat.json
  data/json/mapgen/nested/basement_nested.json
  data/json/mapgen/nested/nested_chunks_roof.json
  data/json/mapgen/police_station.json
  data/json/mapgen/school_1.json
  data/json/mapgen_palettes/aircraft_carrier_palette.json
  data/json/mapgen_palettes/basement.json
  data/json/mapgen_palettes/city_block_palette.json
  data/json/mapgen_palettes/house_general_abandoned.json
  data/json/mapgen_palettes/house_general_palette.json
  data/json/mapgen_palettes/military/mil_base_palette.json
  data/json/mapgen_palettes/prison.json
  data/json/mapgen_palettes/private_resort.json
  data/json/mapgen_palettes/restaurant_palette.json
  data/json/mapgen_palettes/retirement_community_palette.json
  data/json/mapgen_palettes/stadium_palette.json
  data/json/recipes/recipe_deconstruction.json
  data/mods/Backrooms/palettes.json
  data/mods/DinoMod/mapgen/basement_chem.json
  data/mods/No_Hope/Mapgen/nested/basement_nested.json
  data/mods/No_Hope/Mapgen/school_1.json
  data/mods/No_Hope/palettes.json
Labels: [JSON], Mods, Bionics, Map / Mapgen, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#68393 Small tweaks
  data/json/furniture_and_terrain/terrain-manufactured.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/torso_armor.json
  data/json/items/tool/med.json
  data/json/monsters/mammal.json
  data/json/recipes/recipe_deconstruction.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/TEST_DATA/vehicle_efficiency_test.json
Labels: [JSON], Vehicles, Crafting / Construction / Recipes, Code: Tests, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68469 fix: toilet stools in the bookstore roof
  data/json/mapgen/s_bookstore.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#68473 Corrected Dirtmounds
  data/json/furniture_and_terrain/furniture-terrains.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#68467 [MoM] Remove FEAR_PARALYZE from telepathic monsters
  data/mods/MindOverMatter/monsters/feral_lab_psychics.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68460 Fix GCC9 warnings "overloaded-virtual"
  src/achievement.h
  src/kill_tracker.h
  src/magic.h
  src/memorial_logger.h
  src/stats_tracker.h
  tests/event_test.cpp
  tests/stats_tracker_test.cpp
Labels: Code: Tests, [C++], Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#68471 [Magiclysm] Add TREE_COMMUNION_PLUS flag to druid
  data/mods/Magiclysm/traits/classes.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#68386 Fixing up anvils, round 1 (attempt 2)
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/furniture_and_terrain/terrain-railroads.json
  data/json/items/fake.json
  data/json/items/resources/metal.json
  data/json/items/tool/metalworking.json
  data/json/items/vehicle/plating.json
  data/json/mapgen_palettes/isolated_artisans.json
  data/json/recipes/recipe_others.json
  data/json/uncraft/generic.json
  tests/crafting_test.cpp
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#68451 Update the table of contents in doc/JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#68457 Cleanup npctalk.cpp
  src/condition.cpp
  src/condition.h
  src/dialogue_helpers.h
  src/npctalk.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68448 [Xedra evolved] Random annoyance fixes
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/items/ammo_type.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/inventor/armor.json
  data/mods/Xedra_Evolved/items/inventor/gun.json
  data/mods/Xedra_Evolved/items/inventor/melee.json
  data/mods/Xedra_Evolved/items/resources.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/player/professions.json
  data/mods/Xedra_Evolved/procgen/dreamer_procgen.json
  data/mods/Xedra_Evolved/spells/spell_eocs.json
  data/mods/Xedra_Evolved/ui/vamp_blood_levels.json
Labels: Info / User Interface, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Items: Ammo / Guns, Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#68400 Random cleanups part 4
  data/json/flags.json
  data/json/items/battery.json
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/mammal.json
  data/json/monstergroups/triffid.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/mollusk.json
  data/json/professions.json
  data/mods/Megafauna/monstergroups/wilderness.json
  data/mods/TropiCataclysm/monstergroups/triffid.json
Labels: [JSON], Mods, Items: Battery / UPS, Spawn, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#68455 [MoM] Rework Quell Fire and make zombie nulls delete fields after death
  data/mods/MindOverMatter/emits.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
  data/mods/MindOverMatter/monsters/zombies.json
  data/mods/MindOverMatter/obsolete/pyrokinesis.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/ter_transform/ter_transform.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68396 [Xedra Evolved] Add some Salamander mutations
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/emitters.json
  data/mods/Xedra_Evolved/field_type.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#67489 Fix a couple of drug spawns
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#68433 Add Paraclesian, Dreamsmith, and Inventor recipes to their professions
  data/mods/Xedra_Evolved/eocs/initialization.json
  data/mods/Xedra_Evolved/eocs/scenario_specific.json
  data/mods/Xedra_Evolved/recipes/elemental_mutagens.json
  data/mods/Xedra_Evolved/recipes/meds.json
  data/mods/Xedra_Evolved/scenario.json
Labels: [JSON], Mods, Scenarios, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68449 Fix mapgen tests for Skyscraper lower floors
  data/json/mapgen/nested/skyscraper_nested.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#68454 [Xedra Evolved ] Goblin spider Captives shouldn't appear as random NPCs
  data/mods/Xedra_Evolved/npc/npc_classes.json
Labels: NPC / Factions, [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68376 [Xedra Evolved] Fix remaining trait overlay issues.
  data/mods/Xedra_Evolved/mutations/mutation_ordering.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68483 run the full matrix tests on ready for review event
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#68370 Add prosthetics
  data/json/enchantments.json
  data/json/flags.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/items/armor/legs_prosthetics.json
  data/json/mutations/mutation_eocs.json
  data/json/mutations/mutation_limbs.json
  data/json/mutations/mutations.json
  data/json/professions.json
Labels: [JSON], Spawn, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition

#68466 Obsolete `freq` + small doc updates
  data/json/monstergroups/eggs.json
  data/json/monstergroups/lab.json
  data/json/monstergroups/misc.json
  data/mods/Defense_Mode/monstergroups.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Megafauna/monstergroups/wilderness.json
  data/mods/MindOverMatter/monstergroups/monstergroups_edited.json
  data/mods/TropiCataclysm/monstergroups/eggs.json
  doc/JSON_INFO.md
Labels: <Documentation>, [JSON], Mods, Spawn, [Markdown], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, Mods: TropiCataclysm 🌴, Mods: Mind Over Matter

#68453 Weekly Changelog 2023-09-25 to 2023-10-02
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#68492 Improved path for intelligent monsters
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#68499 Eddie can now buy food
  data/json/npcs/godco/members/foodguard.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#68501 Nemesis spawn location checks on z=0 only
  src/mission_start.cpp
Labels: Missions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68498 [MoM] Fix misspellings and description update
  data/mods/MindOverMatter/items/books.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68488 Add ignored_monster_species spell parameter
  data/mods/MindOverMatter/powers/telepathy.json
  doc/MAGIC.md
  src/magic.cpp
  src/magic.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Mods, [C++], [Markdown], json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68505 ci: run github pages rebuild after exp release
  .github/workflows/gh-pages-rebuild.yml
  .github/workflows/release.yml
Labels: <Bugfix>, Code: Tooling, astyled, json-styled, BasicBuildPassed

#68503 port: hotkeys for changing tabs in player info
  data/raw/keybindings.json
  src/player_display.cpp
Labels: [JSON], [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#68478 update the quench values for oatmeal and grits
  data/json/items/comestibles/wheat.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68511 [MoM] Add Primal Terror telepathic power
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/recipes/practice/telepathy_practice.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68489 Flesh Raptors should fungalize into their fungal form
  data/json/monsters/zed-winged.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#68485 Added More Mounds and stacks
  data/json/construction.json
  data/json/construction_category.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-terrains.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#68468 Fix item group error with magiclysm + defense mode enabled
  data/mods/Defense_Mode/npcs.json
Labels: NPC / Factions, [JSON], Mods, astyled, json-styled, BasicBuildPassed, Game: Defense Mode

#68515 be more specific about when to refresh gh pages
  .github/workflows/gh-pages-rebuild.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#68514 Shorten the JSON for aluminum pot and pan
  data/json/items/generic/dining_kitchen.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68486 Monsters care about item theft
  data/json/npcs/factions.json
  src/avatar.h
  src/creature.h
  src/item.cpp
  src/item.h
  src/monster.cpp
  src/monster.h
  src/npc.h
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#68518 Fixed mound names. Again.
  data/json/furniture_and_terrain/furniture-terrains.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#68502 Raise overmap generation priority of Refugee Center
  data/json/overmap/overmap_special/specials.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#68522 Fix #68104
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68523 Rabbits 2: Oh god they zoomin
  data/json/monsters/mammal.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68490 [EOC] Add readable values and update functions
  data/json/effects_on_condition/example_eocs.json
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
  src/condition.cpp
  src/math_parser_diag.cpp
  src/math_parser_diag.h
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
  src/skill.cpp
  src/skill.h
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/talker_item.cpp
  src/talker_item.h
  src/talker_monster.cpp
  src/talker_monster.h
  src/talker_npc.cpp
  src/talker_npc.h
Labels: <Documentation>, NPC / Factions, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68521 Only show dropped bucket spill warning if dropping into vehicle
  src/character_inventory.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68540 Make roofs bashable again
  data/json/furniture_and_terrain/terrain-roofs.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled

#68539 SWAP_POS magic to different Z-levels
  src/magic_spell_effect.cpp
Labels: [C++], <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68531 add mat dry_plant to pile of straw
  data/json/items/generic.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68537 Make zone manager display more of zone name
  src/clzones.cpp
  src/game.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#68517 Dance with Draco in the refugee center
  data/json/npcs/refugee_center/surface_refugees/NPC_Draco_Dune.json
  doc/NPCs.md
  src/condition.cpp
  src/math_parser_diag.h
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68545 XL Kettle craftable
  data/json/recipes/armor/head.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68543 More Mission Descriptions
  data/json/npcs/missiondef.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#68544 Split drop leg poches
  data/json/items/armor/storage.json
  data/json/recipes/armor/storage.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68547 Add cottontail (wild) rabbits
  data/json/mapgen/retirement_community.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/mammal.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed

#68542 Show estimated time when washing items
  src/iuse.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#68560 The end of the Rabbit Saga
  data/json/mapgen/retirement_community.json
  data/json/monstergroups/mammal.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/mammal.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed

#68555 [MoM] Allow use of psionics to train Metaphysics
  data/mods/MindOverMatter/effectoncondition/eoc_misc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68480 Selecting container mode for unloaded items
  data/raw/keybindings.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/avatar_action.cpp
  src/character.cpp
  src/character.h
  src/character_ammo.cpp
  src/game.cpp
  src/game.h
  src/game_inventory.cpp
  src/game_inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/uistate.h
Labels: Info / User Interface, [JSON], [C++], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#68553 Custom sidebar mana widgets
  data/json/ui/mana.json
  data/json/ui/sidebar.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#68509 [Xedra Evolved] More Salamander powers
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/enchantments/weapon.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/Xedra_Evolved/recipes/paraclesians/salamander_recipes.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
  data/mods/Xedra_Evolved/ter_transforms/salamander_ter_transform.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#68533 Move gunsmith/blacksmith turret out of the direct path of the player
  data/json/mapgen/isolated_road/isolated_road_home_chunks.json
Labels: Game: Balance, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed, new contributor

#68546 Baldric audit?
  data/json/items/armor/sheath.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68459 [ Xedra Evolved ] Create scrap moon tears to allow ingots and wire to be crafted
  data/mods/Xedra_Evolved/items/resources.json
  data/mods/Xedra_Evolved/recipes/uncraft.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68569 Restore automatic rifles to Krav Maga
  data/json/items/gun/223.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68561 fix tutorial typos
  data/json/snippets/tutorial.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#68534 Show zones on other z-levels in zone manager
  src/game.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#68548 Professions can start with multiple martial arts
  data/json/professions.json
  data/mods/MMA/professions.json
  src/newcharacter.cpp
  src/profession.cpp
  src/profession.h
Labels: <Enhancement / Feature>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed, Mods: MMA

#68550 [EoC] Simple if-else statement
  data/json/effects_on_condition/example_eocs.json
  doc/EFFECT_ON_CONDITION.md
  src/dialogue_helpers.h
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [JSON], [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68563 Improve monster reaction to player theft
  src/item.cpp
  src/monster.cpp
  src/npc.cpp
  src/npc.h
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68564 Remember inventory show/hide all contents option state
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/uistate.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#68557 Hub 01 mission description clarification
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_missions.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#66319 Lower volume of MRE packages
  data/json/itemgroups/SUS/mre_packages.json
  data/json/items/containers/containers.json
  data/json/obsoletion/migration_items.json
Labels: [JSON], Spawn, <Bugfix>, Items: Containers, astyled, json-styled

#62476 Amend NPC's with IGNORE_SOUNDS, NO_BASH and RETURN_TO_START_POS
  data/json/npcs/NC_CARAVAN_GUARD.json
  data/json/npcs/NC_CARAVAN_MERCHANT.json
  data/json/npcs/NC_EVAC_BROKER.json
  data/json/npcs/NC_REFUGEE_DOCTOR.json
  data/json/npcs/random_encounters/free_merchant_caravans.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled

#68576 Refugee Center's Surface Refugee Mission Descriptions
  data/json/npcs/missiondef.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
Labels: NPC / Factions, [JSON], Missions, astyled, json-styled, BasicBuildPassed

#68572 Deduplicated lab notes
  data/json/snippets/lab.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68573 Apply COLDPROOF
  data/json/damage_types.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68585 Display what mod the contents belong to, scenario, profession, map
  src/newcharacter.cpp
  src/overmapbuffer.cpp
  src/profession.h
  src/scenario.h
Labels: Info / User Interface, Map / Mapgen, Mutations / Traits / Professions/ Hobbies, [C++], Scenarios, Character / World Generation, astyled, json-styled, BasicBuildPassed

#68588 Remove mention of attracting vermin from butchery refuse
  data/json/items/comestibles/carnivore.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68592 Amputees don't have socks, mutant has wheelchair
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#68597 fix: add coverage to flaming fist
  data/mods/Magiclysm/items/enchanted_unarmed.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#68574 Expanded base camp/expansion concept of 'field'
  data/json/npcs/TALK_FACTION_CAMP.json
  data/json/recipes/basecamps/recipe_groups.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#68603 Make ground mounted solar panels more efficient
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-appliances.json
  data/json/items/vehicle/solar.json
  data/json/recipes/other/power_supplies.json
  data/mods/TEST_DATA/known_bad_density.json
  data/mods/TEST_DATA/vehicle_drag_test.json
  data/mods/TEST_DATA/vehicle_efficiency_test.json
Labels: Game: Balance, [JSON], Vehicles, Crafting / Construction / Recipes, Code: Tests, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#68590 Bugfix directed_push with negative damage
  src/magic_spell_effect.cpp
Labels: [C++], <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#68584 fix: integrated multitool does not do welding
  data/json/recipes/ammo/shot.json
  data/json/recipes/appliances/oven.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/weapon/explosive.json
  data/json/requirements/toolsets.json
  data/mods/Aftershock/recipes/recipes.json
  data/mods/Aftershock/recipes/requirements.json
  data/mods/Aftershock/recipes/ultratech_tools.json
  data/mods/Aftershock/recipes/uncraft.json
  data/mods/innawood/mining/recipes/smelting.json
  data/mods/innawood/recipes/medsandchemicals.json
Labels: [JSON], Mods, Vehicles, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲

#68604 expanded base camp log cutting locations
  src/faction_camp.cpp
Labels: [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#68081 NPC Elvira Fish, Circulations
  data/json/mapgen/campus/buildings/media_f0.json
  data/json/npcs/campus/NPC_Elvira_Fish.json
  data/json/npcs/campus/NPC_campus_guard_generic.json
  data/json/npcs/campus/generic_class_definitions.json
  data/json/npcs/campus/great_library_librarian_goods.json
  data/json/npcs/campus/great_library_librarian_itemlist.json
  data/json/npcs/campus/great_library_librarian_talk.json
  data/json/npcs/campus/great_library_librarian_talk_fluff.json
Labels: NPC / Factions, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#68599 Try to fix ASAN
  src/newcharacter.cpp
Labels: [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#68607 Procgen relic "multiply" enchantments use float not integer
  src/relic.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68600 Allow NPC_DEATH EoC to prevent NPC dies
  data/json/effects_on_condition/example_eocs.json
  data/json/mutations/mutations.json
  data/json/npcs/npc.json
  doc/EFFECT_ON_CONDITION.md
  src/character.cpp
  src/character.h
  src/dialogue_helpers.h
  src/event.cpp
  src/event.h
  src/memorial_logger.cpp
  src/npc.cpp
  src/npc.h
  src/npctalk.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68616 Cattail shouldn't be plantable on land
  data/json/items/comestibles/seed.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68618 [Xedra Evolved] Take Eaters MTF's extra watch
  data/mods/Xedra_Evolved/player/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#68570 Better Gas masks - Model concentration better, and make gas mask cartiges last longer
  data/json/field_type.json
  doc/JSON_INFO.md
  src/field_type.cpp
  src/field_type.h
  src/iuse.cpp
Labels: <Documentation>, Game: Balance, [JSON], [C++], Fields / Furniture / Terrain / Traps, [Markdown], json-styled, BasicBuildPassed

#68583 A Mound of Typo Fixes
  data/json/achievements.json
  data/json/effects_on_condition/example_eocs.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/items/armor/legs_prosthetics.json
  data/json/items/book/maps.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/gun/22.json
  data/json/mutations/mutations.json
  data/json/npcs/Backgrounds/left_for_dead_3.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/innawood/npcs/Backgrounds/left_for_dead_3.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Innawood 🌲, Mods: Xedra Evolved

#68619 fixed broken salt water pipe
  src/faction_camp.cpp
Labels: [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#68625 Allow "run_eoc_selector" cancelling out of the menu
  data/json/effects_on_condition/example_eocs.json
  doc/NPCs.md
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [JSON], [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68581 Balance tweaks for lieutenant 'Shadow'
  data/json/effects.json
  data/json/monsters/zed_lieutenant.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#68579 Properly obsolete burdock stalks
  data/json/items/comestibles/veggy_dishes.json
  data/json/obsoletion/obsolete_items.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#68629 Quick round of Aftershock bugfixing
  data/mods/Aftershock/effects.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/items/weapons.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, Items: Armor / Clothing

#68627 Make furniture->lockpick_message translatable
  lang/string_extractor/parsers/furniture.py
Labels: Translation, Fields / Furniture / Terrain / Traps, [Python], astyled, json-styled, BasicBuildPassed

#68623 Find items that cover body part
  src/item_search.cpp
  src/output.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#68582 Audit weapon categories for swords and sword-based martial arts.
  data/json/items/melee/bludgeons.json
  data/json/items/melee/swords_and_blades.json
  data/json/martialarts.json
  data/json/weapon_categories.json
  data/mods/MMA/martialarts.json
  data/mods/Magiclysm/items/enchanted_melee.json
  tests/martial_art_test.cpp
Labels: Game: Balance, [JSON], Mods, Code: Tests, [C++], Melee, Mods: Magiclysm, Martial Arts, astyled, json-styled, BasicBuildPassed, Mods: MMA

#68594 Don't show vitamin apply_message if effect isn't running on player
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68635 Add launch configuration for VS Code dev container
  .vscode/settings.json
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#68630 Allow NPC docs to install & remove CBMs from NPCS
  data/json/npcs/robofac/robofac_ancilla_npcs/NPC_ANCILLA_DOCTOR.json
  src/game_inventory.cpp
  src/game_inventory.h
  src/iexamine.cpp
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#68636 Fix Farstep description and some Paraclesian spells missing deduction skill
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutation_spells.json
Labels: [JSON], Mods, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, Mods: Mind Over Matter

#68639 Fix aftershock chemrig bugs
  data/json/morale_types.json
  data/mods/Aftershock/effects.json
  data/mods/Aftershock/player/bionic_eocs.json
  data/mods/Aftershock/player/bionics.json
  data/mods/Aftershock/spells/enchantments.json
  doc/EFFECT_ON_CONDITION.md
Labels: <Documentation>, [JSON], Mods, Bionics, <Bugfix>, [Markdown], Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68628 HWP breacher configuration
  data/json/itemgroups/Locations_MapExtras/robofac_trade.json
  data/json/items/armor/robofac_armor.json
  data/json/items/gun/robofac_gun.json
  data/json/items/tool/workshop.json
  data/mods/Generic_Guns/gunmods/gg_gunmods_blacklist.json
  data/mods/classic_zombies/items/blacklists.json
Labels: [JSON], Mods, Items: Gunmod / Toolmod, Spawn, Items: Ammo / Guns, Mods: Generic Guns, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68601 EOD loudout added
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, new contributor

#68566 Martial arts homebook jsoning
  data/json/itemgroups/books.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, new contributor

#68645 Enable history for AIM and inventory filters
  src/advanced_inv.cpp
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#68649 replaced unsafe references to temporary parameters
  src/faction_camp.cpp
Labels: [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#68652 Minor density list cleanups
  data/json/items/corpses/corpses.json
  data/json/items/generic/bathroom_house.json
  data/json/monsters/mammal.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#68656 Encounters out in the fields
  data/json/items/corpses/dead_yrax.json
  data/json/mapgen/map_extras/yrax_research.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monster_special_attacks/yrax_special_attacks.json
  data/json/monsters/yrax.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
  src/monster.cpp
Labels: [JSON], Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#68643 Add 3 variants of roadblock and rebalanced loot
  data/json/itemgroups/corpses.json
  data/json/mapgen/map_extras/roadblock.json
Labels: <Enhancement / Feature>, [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed

#68661 Aftershock: Make speed freak a background
  data/mods/Aftershock/player/hobbies.json
  data/mods/Aftershock/player/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#68660 Look up and down with 3d vision off
  src/game.cpp
  src/map.cpp
Labels: <Enhancement / Feature>, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68658 Aftershock: Attaching atompot to mounted kitchen
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: [JSON], Mods, Vehicles, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, new contributor

#68679 Gas masks: Only absorb from fields with gas_absorption set
  src/iuse.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68671 Sheathable Khopesh
  data/json/items/melee/swords_and_blades.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#68675 More armor categorized as armor
  data/json/items/armor/gloves.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/masks.json
  data/json/items/armor/torso_clothes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#68676 Fix milling
  src/iexamine.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68681 Add milling info to milleable items
  src/item.cpp
  src/iteminfo_query.cpp
  src/iteminfo_query.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#68672 [MoM] Adjust Cloak of Warmth enchantment to prevent overheating
  data/mods/MindOverMatter/enchantments/enchantments_player.json
Labels: [JSON], Mods, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#68670 Zweihanders are bad butchering tools
  data/json/items/melee/swords_and_blades.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#68663 Add map related EoC functions
  data/json/effects_on_condition/example_eocs.json
  data/mods/TEST_DATA/furniture.json
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
  src/condition.cpp
  src/condition.h
  src/dialogue_helpers.h
  src/iexamine_actors.cpp
  src/npctalk.cpp
  tests/eoc_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#68598 fix: basic ferals mostly share drops with zombies
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie_default.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed
