Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2024-04, with the labels that each got.

#72773 [MoM] High levels of weariness (or brainworms) turn off your powers
  data/mods/MindOverMatter/effectoncondition/eoc_misc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72755 Routine tileset updates on 01 April 2024
  gfx/Altica/huge.png
  gfx/Altica/incomplete.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tall_2x.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/incomplete.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#72784 [Xedra Evolved] New Arvore spell--Verdant Imprisonment
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_spell_learning_eocs.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#72793 Random bit of wander code isn't unbiased
  src/monmove.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72797 Fixing ImGui popup size issue, and small input bug
  src/cata_imgui.cpp
  src/cata_imgui.h
  src/popup.cpp
  src/ui_manager.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72777 Set rot when all components are rotten
  src/item.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72558 Allows setting fixed special scoped parameters for start locations
  src/game.cpp
  src/mapgendata.cpp
  src/overmapbuffer.h
  src/start_location.cpp
  src/start_location.h
Labels: Map / Mapgen, [C++], <Bugfix>, Scenarios, astyled, json-styled, BasicBuildPassed

#72810 Aftershock: Add an ATM to Port Augustmoon
  data/mods/Aftershock/maps/mapgen/port_augustmoon/port_augustmoon_main.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#72699 "rows" is defaulted to just spaces
  data/json/mapgen/basecamps/base/bare_bones_basecamp/bare_bones_basecamp.json
  data/json/mapgen/basecamps/expansion/modular_canteen/version_1/modular_canteen_common.json
  data/json/mapgen/basecamps/expansion/modular_farm/version_1/primitive_farm.json
  data/json/mapgen/basecamps/expansion/modular_garage/version_1/primitive_garage.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_1/modular_livestock_common.json
  data/json/mapgen/basecamps/expansion/modular_saltworks/version_1/modular_saltworks_common.json
  data/json/mapgen/basecamps/expansion/modular_storehouse/version_1/modular_storehouse_common.json
  data/json/mapgen/basecamps/expansion/modular_workshop/version_1/modular_workshop_common.json
  data/json/mapgen/debug.json
  data/json/mapgen/derelict_property.json
  data/json/mapgen/dummy/dummy.json
  data/json/mapgen/house/house05.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_maintenance.json
  data/json/mapgen/map_extras/beehives.json
  data/json/mapgen/map_extras/bugouts.json
  data/json/mapgen/map_extras/clearcut.json
  data/json/mapgen/map_extras/grave.json
  data/json/mapgen/map_extras/house_wasp.json
  data/json/mapgen/map_extras/mass_grave.json
  data/json/mapgen/map_extras/portal.json
  data/json/mapgen/map_extras/sand.json
  data/json/mapgen/nether_monster_corpse/monster_head.json
  data/json/mapgen/robofaq_locs/robofac_hq_chunks.json
  data/json/mapgen/rock_border.json
  data/mods/Backrooms/overmap_terrain.json
  data/mods/DinoMod/mapgen/map_extras/mass_grave.json
  data/mods/DinoMod/mapgen/map_extras/portal.json
  data/mods/MindOverMatter/mapgen/map_extras/alien_flora_varieties.json
  data/mods/MindOverMatter/mapgen/map_extras/glass_and_crystal.json
  data/mods/MindOverMatter/mapgen/map_extras/nether_pond.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_nested.json
  data/mods/MindOverMatter/overmap/nether_crystal_field.json
  data/mods/Sky_Island/island_upgrades.json
  data/mods/Sky_Island/missions_and_mapgen.json
  data/mods/TEST_DATA/mapgen-test.json
  data/mods/Xedra_Evolved/mapgen/nested/vampires.json
  doc/MAPGEN.md
  src/mapgen.cpp
Labels: <Documentation>, [JSON], Missions, Map / Mapgen, Code: Tests, [C++], Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, Mods: Mind Over Matter, Mods: Sky Island

#72803 AFS Exosuit Power Fix
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#72805 [Magiclysm] Tune channeling spells with scale modifier
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Artificer.json
  data/mods/Magiclysm/Spells/attunements/Biotek.json
  data/mods/Magiclysm/Spells/attunements/Cleansing_Flame.json
  data/mods/Magiclysm/Spells/attunements/Gaias_Chosen.json
  data/mods/Magiclysm/Spells/attunements/Permafrost_Mage.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/mana_upgrades.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/jmath.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72759 NPCs taking canned food donations no longer remove the food from the can
  src/npctalk.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72402 Redo instability: per-tree and static with mutatedness
  data/json/effects.json
  data/json/mutations/mutations.json
  data/json/obsoletion_and_migration_0.I/migration_mutation.json
  data/json/vitamin.json
  src/character.cpp
  src/character.h
  src/mutation.cpp
  src/mutation.h
  tests/mutation_test.cpp
Labels: <Enhancement / Feature>, Game: Balance, Info / User Interface, [JSON], Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#72692 [MoM] Edit portal storm conditions to support moddability, use that for Telepathic Shield in MoM
  data/json/effects_on_condition/nether_eocs/portal_storm_effect_on_condition.json
  data/mods/MindOverMatter/effectoncondition/eoc_misc.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/items/armor/head.json
  data/mods/MindOverMatter/items/armor/overrides.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/mutations/temporary.json
  data/mods/MindOverMatter/obsolete/items.json
  data/mods/MindOverMatter/powers/telepathy_concentration_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Mind Over Matter

#72703 Fixing reload_furniture to allow reloading with ammo other than the default
  data/json/items/basecamp.json
  src/iexamine.cpp
  src/inventory.cpp
  src/map.cpp
  src/mapdata.h
Labels: [JSON], [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed, 0.H Backport

#72739 Rename cover ---> concealment
  src/game.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#72783 Fix food fun reduction test not actually having any reduction
  data/mods/TEST_DATA/items.json
  doc/JSON_INFO.md
  tests/food_fun_for_test.cpp
Labels: <Documentation>, [JSON], Items: Food / Vitamins, Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#72716 (Mind over Matter) allow incandescent lance to repair metal items
  data/mods/MindOverMatter/items/ammo.json
  data/mods/MindOverMatter/items/psions_summon_items.json
Labels: [JSON], Mods, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72760 LIXA: update laser pipe breaking description
  data/json/furniture_and_terrain/LIXA_furniture_and_terrain.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72801 Throw error if recipe definition is missing any valid combinations
  src/requirements.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.H Backport

#72737 [MoM] Can't think, head hurts too much
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
  data/mods/MindOverMatter/effects/effects_penalty.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72823 uncooked toaster pastries aren't gross
  data/json/items/comestibles/junkfood.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#72802 reword the guilt messages
  src/magic_spell_effect.cpp
Labels: [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72757 "gathering sights" should be "gathering sites"
  data/json/scenarios.json
Labels: Translation, [JSON], <Bugfix>, Scenarios, astyled, json-styled, BasicBuildPassed, new contributor

#72693 Implement weapon proficiencies in C++ (and improve proficiency xp gain for short training durations)
  data/json/effects_on_condition/melee_eocs.json
  data/json/proficiencies/melee_weapons.json
  data/json/weapon_categories.json
  doc/JSON_INFO.md
  doc/PROFICIENCY.md
  src/character_proficiency.cpp
  src/init.cpp
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
  src/proficiency.cpp
  src/proficiency.h
Labels: <Documentation>, [JSON], [C++], [Markdown], Melee, Martial Arts, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72724 Get roofs generated for basecamps
  src/map.h
  src/mapgen.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72723 Lore: update UPS description
  data/json/items/tool/electronics.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72592 "what was he cooking?" vegetarian foragers now remember how to cook with foraged foodstuffs
  data/json/hobbies.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#72821 fix and cleanup few itemgroups
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/SUS/alien.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/supplies.json
  data/json/items/comestibles/spice.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/npcs/items_generic.json
  data/mods/No_Hope/Mapgen/mil_base_z0.json
Labels: [JSON], Mods, Map / Mapgen, Items: Food / Vitamins, Spawn, astyled, json-styled, Mods: No Hope

#72740 [Magiclysm] Tune evocation spells with scale modifier
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Biotek.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/attunements/Boreal_Mage.json
  data/mods/Magiclysm/Spells/attunements/Cleansing_Flame.json
  data/mods/Magiclysm/Spells/attunements/Earth_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Fire_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Force_Mage.json
  data/mods/Magiclysm/Spells/attunements/Glacier_Mage.json
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/Spells/attunements/Gravity_Mage.json
  data/mods/Magiclysm/Spells/attunements/Ice_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Illusionist.json
  data/mods/Magiclysm/Spells/attunements/Magnetism_Mage.json
  data/mods/Magiclysm/Spells/attunements/Permafrost_Mage.json
  data/mods/Magiclysm/Spells/attunements/Radiation_Mage.json
  data/mods/Magiclysm/Spells/attunements/Shapeshifter.json
  data/mods/Magiclysm/Spells/attunements/Soulfire.json
  data/mods/Magiclysm/Spells/attunements/Storm_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Sun_Mage.json
  data/mods/Magiclysm/Spells/attunements/Tundra_Mage.json
  data/mods/Magiclysm/Spells/attunements/Void_Mage.json
  data/mods/Magiclysm/Spells/attunements/Vulcanist.json
  data/mods/Magiclysm/Spells/attunements/Wither_Mage.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/black_dragon.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/dragonbreath.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/jmath.json
Labels: [JSON], Mods, Monsters, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72813 Kord in another castle, 5.45 can't be exchanged
  data/json/items/generic.json
  data/json/items/gun/545x39.json
  data/json/npcs/isolated_road/isolated_road_item_groups.json
  data/json/npcs/isolated_road/isolated_road_jay_convert.json
  data/json/npcs/isolated_road/isolated_road_jay_dialogue.json
  data/json/npcs/isolated_road/isolated_road_missions.json
Labels: Game: Balance, [JSON], Missions, astyled, json-styled, BasicBuildPassed

#72833 Fixing screen artifacts seen when ImGui keybindings UI is closed
  src/cata_imgui.cpp
  src/sdltiles.cpp
  src/ui_manager.cpp
  src/ui_manager.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled

#72830 [MoM] Add luminance to Eaters
  data/mods/MindOverMatter/monsters/nether.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72744 Fix snippet
  data/json/snippets/zombie_anatomy.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72800 Fixing ImGUi keybindings screen processing keys pressed before it was shown
  src/cata_imgui.cpp
  src/cata_imgui.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72687 Pain is Painful
  doc/MAGIC.md
  src/character.cpp
Labels: <Documentation>, Game: Balance, NPC / Factions, [JSON], Code: Tests, [C++], [Markdown], astyled, json-styled

#72836 Revert "ci: avoid leftover changelog update branches"
  .github/workflows/format_emscripten.yml
  .github/workflows/weekly-changelog.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#72838 Add DPavonis as valid comment commander
  .github/comment-commands.yml
Labels: Code: Tooling, astyled, json-styled

#72835 Fixed removal of tree tops over faction camp logged trees
  src/faction_camp.cpp
Labels: [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#72816 [MoM] stop using premonition if you don't have premonition
  data/mods/MindOverMatter/npcs/dialogue/portal_future_you.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72848 Kord fixes
  data/json/items/generic.json
  data/json/items/gun/545x39.json
  data/json/npcs/isolated_road/isolated_road_item_groups.json
  data/json/npcs/isolated_road/isolated_road_missions.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#72843 Change makeshift crowbar category back to tools
  data/json/items/tool/entry_tools.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, 0.H Backport

#72847 remove rapid from national guard bayonet
  data/json/items/melee/swords_and_blades.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#72856 [MoM] Add Noisemaker telekinetic power
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/learning_eocs/telekinesis.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72791 remove obsoleted supressors
  data/json/items/gunmod/barrel.json
  data/json/items/melee/swords_and_blades.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72863 Fix missing translation in NPC trade denial reason
  src/npc.cpp
  src/npc_class.cpp
  src/npc_class.h
  src/shop_cons_rate.h
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72861 Automatically learn proficiencies on load if XP is greater than required
  src/proficiency.cpp
  src/proficiency.h
  src/savegame_json.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#72776 [MoM] Remove extended channeling recipe after learning, add Thought-Form Construction practice recipe
  data/mods/MindOverMatter/itemgroups/recipes.json
  data/mods/MindOverMatter/items/books.json
  data/mods/MindOverMatter/recipes/psionics_practice.json
  data/mods/MindOverMatter/recipes/research.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72879 Bypass prereq category check for overlapping mod content
  data/mods/TEST_DATA/mutations.json
  src/mutation_data.cpp
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#72874 [MoM] Feral telekinetics can't throw you with telekinesis if you have Inertial Barrier up and vice versa
  data/mods/MindOverMatter/effects/effects_items.json
  data/mods/MindOverMatter/items/armor/belt.json
  data/mods/MindOverMatter/monsters/feral_lab_psychics.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/species_new.json
  data/mods/MindOverMatter/powers/telekinesis.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Mind Over Matter

#72855 Add dodge chance enchantment
  data/json/mutations/mutations.json
  data/mods/DinoMod/mutations/mutations.json
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/mutations/mutations.json
  doc/MAGIC.md
  src/character.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, [Markdown], Mods: Magiclysm, Mods: Dinomod, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72893 comprehensive deprecation warning updates
  .github/workflows/CBA.yml
  .github/workflows/astyle.yml
  .github/workflows/check-branch-name.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/comment-commands.yml
  .github/workflows/detect-translation-file-changes.yml
  .github/workflows/format_emscripten.yml
  .github/workflows/json.yml
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features.yml
  .github/workflows/post-spell-check-result.yml
  .github/workflows/pull-translations.yml
  .github/workflows/release.yml
  .github/workflows/test_labeler.yml
  .github/workflows/text-changes-analyzer.yml
Labels: Code: Tooling, astyled, json-styled

#72892 Fix negative rest quality
  doc/JSON_INFO.md
  src/character.cpp
Labels: <Documentation>, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#72876 [MoM] Oubliette works on NPCs now
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/teleportation_eoc.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72862 By default, EOCs train proficiencies normally
  data/json/npcs/TALK_TEST.json
  data/mods/TEST_DATA/EOC.json
  doc/NPCs.md
  src/character_proficiency.cpp
  src/math_parser_diag.cpp
  src/math_parser_func.h
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  tests/npc_talk_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#72875 [MoM] Utilise test_eoc functionality to reduce duplicate conditions
  data/mods/MindOverMatter/effectoncondition/conditions_for_eocs.json
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
  data/mods/MindOverMatter/effectoncondition/eoc_misc.json
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72871 Fix ImGui keybindings screen not allowing the user to scroll the list upon opening
  src/cata_imgui.cpp
  src/cata_imgui.h
  src/input_context.cpp
  src/input_context.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72898 fix lamp_oil recipe
  data/json/recipes/chem/fuel.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72906 run IWYU for some files
  src/action.cpp
  src/action.h
  src/avatar.cpp
  src/avatar.h
  src/character.cpp
  src/diary.cpp
  src/diary.h
  src/diary_ui.cpp
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/mutation.cpp
  src/player_activity.cpp
  src/sdltiles.cpp
  src/suffer.cpp
  src/weather.cpp
Labels: Info / User Interface, Mutations / Traits / Professions/ Hobbies, [C++], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#72900 Fix ASan error, suppress more checks
  src/mutation_data.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed

#72909 Fix GitHub Actions Node.js runtime deprecation warning in macOS release build workflow
  .github/workflows/release.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#72901 Docs and in game typos
  data/json/zones.json
  src/clzones.h
  src/diary.h
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#72858 Bug fix for swag bags and canvas bags
  data/json/items/armor/storage.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, new contributor

#72597 Kill off ammo vending machines
  data/json/itemgroups/vending_machines.json
  data/json/mapgen/s_gun.json
  data/mods/Backrooms/itemgroups.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#72789 Disallow some guns from turrets based on action
  data/json/items/gun/22.json
  data/json/items/gun/270win.json
  data/json/items/gun/300.json
  data/json/items/gun/3006.json
  data/json/items/gun/303.json
  data/json/items/gun/308.json
  data/json/items/gun/338lapua.json
  data/json/items/gun/36paper.json
  data/json/items/gun/38.json
  data/json/items/gun/44.json
  data/json/items/gun/44paper.json
  data/json/items/gun/4570.json
  data/json/items/gun/458wm.json
  data/json/items/gun/45colt.json
  data/json/items/gun/50.json
  data/json/items/gun/762R.json
  data/json/items/gun/77mm_jap.json
  data/json/items/gun/artisan_guns.json
  data/json/items/gun/shot.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#72753 [MoM] Power maintenance message change
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72895 Use 'soldering_standard' for electronic fixes
  data/json/faults/faults_electronic.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72881 Fix health dreams when you are ill
  data/json/effects_on_condition/dream_eocs.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72645 ImGui: Add IME preview text display for CJK text
  src/third-party/imgui/imgui.cpp
  src/third-party/imgui/imgui.h
  src/third-party/imgui/imgui_impl_sdl2.cpp
  src/third-party/imgui/imgui_widgets.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#72929 Fix cast iron material weirdness
  data/json/materials.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72886 Allow EOCs to search items by caloric content
  doc/EFFECT_ON_CONDITION.md
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#72916 Bugfix for UPS being effectively always on after first activation
  src/character.cpp
  src/character.h
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72924 Improve spell checker tokenization and reporting
  .github/workflows/text-changes-analyzer.yml
  tools/spell_check.py
  tools/spell_check_pr.py
  tools/spell_check_unit_test.py
  tools/spell_checker/__init__.py
  tools/spell_checker/gen_dictionary.py
  tools/spell_checker/spell_checker.py
Labels: NPC / Factions, Info / User Interface, [JSON], Missions, Bionics, Map / Mapgen, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, Items: Ammo / Guns, Melee, Scenarios, Player Faction Base / Camp, [Python], Lore, Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, Items: Containers, Code: Tooling, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: No Hope, Game: Defense Mode, Mods: MMA, EOC: Effects On Condition, Mods: TropiCataclysm 🌴, Mods: Desert Region, Mods: Xedra Evolved, Mods: Bombastic Perks, Mods: Mind Over Matter

#72926 Update the spelling dictionary for #72924
  tools/spell_checker/dictionary.txt
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed

#72912 Debug option to write file with list of cities located on current overmap
  .gitignore
  src/debug_menu.cpp
  src/debug_menu.h
  src/overmap_ui.cpp
Labels: Info / User Interface, Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72894 Weekly Changelog 2024-04-01 to 2024-04-08
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#72889 Fix stone sickle weapon category typo
  data/json/items/tool/landscaping.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72883 Fix companions ceasing activities when PC enter Z level
  src/character.cpp
  tests/char_sight_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72850 Fixed out of bounds transparency cache access
  src/map_field.cpp
Labels: [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72834 Remove extern furn ids
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/avatar.cpp
  src/avatar_action.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/character_body.cpp
  src/computer_session.cpp
  src/construction.cpp
  src/faction_camp.cpp
  src/fungal_effects.cpp
  src/game.cpp
  src/gamemode_tutorial.cpp
  src/iexamine.cpp
  src/iuse.cpp
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/map_field.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/mapgenformat.cpp
  src/mission_companion.cpp
  src/mission_start.cpp
  src/monattack.cpp
  src/player_hardcoded_effects.cpp
  src/regional_settings.cpp
  src/start_location.cpp
  src/submap.h
  src/vehicle_autodrive.cpp
  src/vehicle_use.cpp
  src/visitable.cpp
  tests/crafting_test.cpp
  tests/map_bash_test.cpp
  tests/map_helpers.cpp
  tests/monster_vision_test.cpp
  tests/npc_test.cpp
  tests/player_activities_test.cpp
  tests/submap_load_test.cpp
Labels: NPC / Factions, Missions, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, Scenarios, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#72745 Extract field bash and effect apply text
  data/json/effects.json
  lang/string_extractor/parsers/effect_type.py
  lang/string_extractor/parsers/field_type.py
Labels: Translation, [JSON], Fields / Furniture / Terrain / Traps, [Python], astyled, json-styled, BasicBuildPassed

#72734 Enforce mon_ prefix for monster id
  data/json/effects_on_condition/nether_eocs/portal_storm_effect_on_condition.json
  data/json/mapgen/LIXA_mapgen.json
  data/json/mapgen/debug_ramps.json
  data/json/monsters/LIXA_monsters.json
  data/json/monsters/misc.json
  data/mods/Magiclysm/Spells/debug.json
  src/item.cpp
  src/monstergenerator.cpp
  tests/effect_test.cpp
  tests/effective_dps_test.cpp
  tests/melee_test.cpp
  tests/monster_test.cpp
  tests/vehicle_ramp_test.cpp
  tests/weakpoint_test.cpp
Labels: [JSON], Mods, Map / Mapgen, Vehicles, Code: Tests, [C++], Monsters, Melee, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72735 [DinoMod] Iguanodon
  data/mods/DinoMod/DESIGN.md
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/requirements/cooking_components.json
Labels: <Documentation>, [JSON], Mods, Spawn, Monsters, [Markdown], Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#72936 Fixing ImGui windows size issues and input issues
  src/cata_imgui.cpp
  src/popup.cpp
  src/sdltiles.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled

#72752 Update JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#72659 Crowns the Mas .223 with the Obsoletion Hat
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
  data/json/items/magazine/223.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
Labels: [JSON], Spawn, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#72642 Basecamp recipes can specify parameters and om_terrain_match_type
  data/json/recipes/basecamps/recipe_groups.json
  doc/BASECAMP.md
  doc/JSON_INFO.md
  src/condition.cpp
  src/faction_camp.cpp
  src/npctalk.cpp
  src/recipe_groups.cpp
  src/recipe_groups.h
Labels: <Documentation>, NPC / Factions, [JSON], Crafting / Construction / Recipes, [C++], [Markdown], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72931 A bunch of random item reworks: 12
  data/json/items/comestibles/other.json
  data/json/items/containers/containers.json
  data/json/items/generic/dining_kitchen.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_deconstruction.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/containers.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, BasicBuildPassed

#72933 Categorize colander as tool
  data/json/items/generic/dining_kitchen.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#71128 [ Xedra Evolved ] Väinämöinen's Kantele
  data/mods/Xedra_Evolved/items/alchemy.json
  data/mods/Xedra_Evolved/items/artifact_grade_items.json
  data/mods/Xedra_Evolved/mod_interactions/BombasticPerks/perks/perk_data/Alchemy1.json
  data/mods/Xedra_Evolved/recipes/alchemy.json
  data/mods/Xedra_Evolved/spells/item_spells.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#72885 Limit amount of cut damage glass applies on you
  src/melee.cpp
Labels: [C++], Melee, astyled, json-styled

#72681 Enchantment tests
  data/mods/TEST_DATA/effects.json
  data/mods/TEST_DATA/items.json
  tests/enchantments_test.cpp
Labels: [JSON], Code: Tests, [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72942 Fixing a crash related to an item unable to determine the appropriate pocket to be placed into
  src/item_pocket.cpp
Labels: [C++], <Bugfix>, Items: Containers, astyled, json-styled, 0.H Backport

#72935 [MoM] Photokinetic gets it's welding glare protection
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/materials.json
  data/mods/MindOverMatter/mutations/psi_passives.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72945 debug_mon -> pseudo_debug_mon
  tests/enchantments_test.cpp
Labels: Code: Tests, [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72941 Remove bonus damages from .38/7.62x39 guns
  data/json/items/gun/38.json
  data/json/items/gun/762.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72939 [MoM] Account for painkiller in pain disabling powers
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72748 Minor generic zombie balance edits 4
  data/json/monsters/nether.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_soldiers.json
  data/mods/TEST_DATA/monsters.json
  src/item.cpp
Labels: [JSON], Code: Tests, [C++], Monsters, astyled, json-styled, BasicBuildPassed

#72937 Enable ImGui UI globally, remove legacy popup and keybindings UI
  src/cata_imgui.cpp
  src/input_context.cpp
  src/input_context.h
  src/main_menu.cpp
  src/options.cpp
  src/popup.cpp
  src/popup.h
  src/sdltiles.cpp
Labels: Info / User Interface, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#72954 Cleanup unused stuff in mapgen_functions.cpp
  data/json/mapgen/earth.json
  data/json/obsoletion_and_migration_0.I/obsolete_overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  data/mods/Graphical_Overmap/go_overmap_terrain_hardcoded.json
  data/mods/alt_map_key/overmap_terrain.json
  src/mapgen_functions.cpp
  src/mapgen_functions.h
Labels: [JSON], Mods, Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72940 [Bombastic Perks] Add more perks
  data/mods/BombasticPerks/perkdata/grit_your_teeth.json
  data/mods/BombasticPerks/perkdata/moonstruck.json
  data/mods/BombasticPerks/perkdata/undying_loyalty.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#72955 Pain is less painful
  data/core/game_balance.json
  doc/MAGIC.md
  src/character.cpp
  tests/enchantments_test.cpp
Labels: <Documentation>, Game: Balance, [JSON], Code: Tests, [C++], [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72957 Shoggoths can't eat anomalous material
  data/json/monsters/nether.json
  doc/MONSTERS.md
  doc/MONSTER_SPECIAL_ATTACKS.md
  src/monattack.cpp
  src/monster.cpp
  src/monster.h
  src/monster_oracle.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Documentation>, Game: Balance, [JSON], [C++], Monsters, [Markdown], astyled, json-styled, BasicBuildPassed

#73001 Remove city_center, simplify mx_fungal_zone
  data/json/items/book/maps.json
  data/json/mapgen/road.json
  data/json/obsoletion_and_migration_0.I/obsolete_overmap_terrain.json
  data/json/overmap/map_extras.json
  data/json/overmap/overmap_connections.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/regional_map_settings.json
  doc/REGION_SETTINGS.md
  src/map_extras.cpp
  src/overmap.cpp
Labels: <Documentation>, [JSON], Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#73005 Fix grapplers not being able to pull you
  data/json/monsters/zed_misc.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72999 Propagate `IMGUI_DISABLE_OBSOLETE_KEYIO` definition to dependent targets
  src/third-party/CMakeLists.txt
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#72962 Fixed collapse_check logic
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72978 Obsolete radiation zombies
  data/json/mapgen/missile_silo.json
  data/json/monstergroups/misc.json
  data/mods/Aftershock/maps/mapgen/municipal_microreactor.json
  data/mods/Magiclysm/monsters/vanilla_monster_damage_overwrite.json
  data/mods/Mythos-Creatures/monsters/mythos.json
  data/mods/No_Hope/zed_radiation.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#73004 Remove unused/already jsonized hardcoded monster attacks
  data/json/monsters/nether.json
  data/mods/Aftershock/mobs/water_mobs.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  src/monattack.cpp
  src/monattack.h
  src/monstergenerator.cpp
Labels: [JSON], Mods, [C++], Monsters, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#72998 make integrated_photo_eyes SEMITANGIBLE
  data/mods/MindOverMatter/items/psions_summon_items.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72997 Fix attack speed test failures
  data/mods/TEST_DATA/effects.json
  tests/enchantments_test.cpp
Labels: [JSON], Code: Tests, [C++], Mechanics: Enchantments / Spells, astyled, json-styled

#72971 Fixed issue where ImGui windows display wrong when window is scaled
  src/third-party/imgui/imgui_impl_sdl2.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72918 Don't crash when forest mapgen requests groundcover from a biome with no groundcover
  src/mapgen_functions.cpp
  src/regional_settings.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72771 Basic JSON ter/furn migration
  data/mods/TEST_DATA/furniture.json
  data/mods/TEST_DATA/ter_furn_migration.json
  data/mods/TEST_DATA/terrain.json
  doc/OBSOLETION_AND_MIGRATION.md
  src/init.cpp
  src/mapdata.h
  src/savegame_json.cpp
  tests/submap_load_test.cpp
Labels: <Documentation>, [JSON], Code: Tests, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#72983 Fixed issue where ImGui popup does not correctly set the default option
  src/popup.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73022 Unhardcode dead vegetation extras
  data/json/itemgroups/trash_and_debris.json
  data/json/mapgen/map_extras/dead_vegetation.json
  data/json/overmap/map_extras.json
  src/map_extras.cpp
Labels: [JSON], Map / Mapgen, Spawn, [C++], astyled, json-styled, BasicBuildPassed

#72985 Fixed an oopsie where keybindings UI doesn't process the + key
  src/input_context.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73026 Remove some nonsensical items from school chemistry labs
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#73042 [DinoMod] Add physiology proficiency training to all monsters
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/mutant_dino.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: [JSON], Mods, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#73032 extend clothes for lumberjack NPCs
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#73041 Fix segfault-causing error in _characters_nearby
  src/math_parser_diag.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73009 [Xedra Evolved] More paraclesian powers
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/furniture_and_terrain/terrain-flora.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutations.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/spells.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
  data/mods/Xedra_Evolved/ter_transforms/homullus_ter_transforms.json
  doc/MAGIC.md
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#72963 [Bombastic Perks] Add Stormwrought line of playstyle perks
  data/mods/BombasticPerks/perkdata/stormwrought.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#72979 Minor generic zombie balance edits 5
  data/json/monstergroups/lab.json
  data/json/monstergroups/military.json
  data/json/monstergroups/misc.json
  data/json/monsters/zed_skeletal.json
  data/json/monsters/zed_soldiers.json
  data/mods/Sky_Island/monstergroups.json
Labels: [JSON], Mods, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#72975 Worm Spawn Map Extra
  data/json/mapgen/map_extras/wilderness.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
  src/overmap.cpp
Labels: [JSON], Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#72967 [Magiclysm] Update conjuration spells with scaling modifier
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/Spells/attunements/Alchemist.json
  data/mods/Magiclysm/Spells/attunements/Artificer.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/attunements/Boreal_Mage.json
  data/mods/Magiclysm/Spells/attunements/Crusader.json
  data/mods/Magiclysm/Spells/attunements/Fire_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Force_Mage.json
  data/mods/Magiclysm/Spells/attunements/Golemancer.json
  data/mods/Magiclysm/Spells/attunements/Ice_Elemental.json
  data/mods/Magiclysm/Spells/attunements/Illusionist.json
  data/mods/Magiclysm/Spells/attunements/Shaman.json
  data/mods/Magiclysm/Spells/attunements/Stormcaller.json
  data/mods/Magiclysm/Spells/attunements/Sun_Mage.json
  data/mods/Magiclysm/Spells/attunements/Tundra_Mage.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/Spells/black_dragon.json
  data/mods/Magiclysm/Spells/classless.json
  data/mods/Magiclysm/Spells/druid.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/Spells/stormshaper.json
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/jmath.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72952 Brigandine Gloves Un-Palmening
  data/json/items/armor/brigandine.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#72845 Unified logging and made it tree top aware
  src/activity_actor.cpp
  src/faction_camp.cpp
  src/map.cpp
  src/map.h
Labels: [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#72815 city_sizes restriction for city buildings
  data/json/overmap/multitile_city_buildings.json
  src/overmap.cpp
  src/overmap.h
Labels: Game: Balance, [JSON], Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72794 [MoM] Add pseudo tool to nether crystal outcroppings, add that tool as a possibility to contemplation recipes
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_observed.json
  data/mods/MindOverMatter/furniture_and_terrain/furniture.json
  data/mods/MindOverMatter/items/tools/pseudo.json
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/MindOverMatter/recipes/practice/electrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/photokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/pyrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telepathy_practice.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
  data/mods/MindOverMatter/snippets/snippets_observed.json
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, Lore, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#73057 Pigeon reproduction + Foundations for future bird audit
  data/json/items/comestibles/egg.json
  data/json/monstergroups/eggs.json
  data/json/monsters/bird.json
  data/json/requirements/cooking_components.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#73080 killed monster can run EoC directly
  doc/EFFECT_ON_CONDITION.md
  doc/MONSTERS.md
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Documentation>, [C++], Monsters, [Markdown], astyled, json-styled, BasicBuildPassed

#73078 Miscellaneous mutant invertebrate cleanup
  data/json/monsters/insect_spider.json
  data/json/monsters/mollusk.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#73077 Add more English names and their translations to Simplified Chinese and Japanese
  data/names/en.json
  data/names/ja.json
  data/names/zh_CN.json
Labels: Translation, [JSON], astyled, json-styled, BasicBuildPassed

#73066 Documentation update in light of #73004
  data/json/monster_special_attacks/monster_attacks.json
  doc/ITEM_SPAWN.md
  doc/MONSTER_SPECIAL_ATTACKS.md
Labels: <Documentation>, [JSON], Monsters, [Markdown], astyled, json-styled, BasicBuildPassed

#73060 fix mobile sidebar label translation
  data/json/ui/sidebar-mobile.json
Labels: Info / User Interface, [JSON], astyled, json-styled, BasicBuildPassed

#73059 Minor generic zombie balance edits 6
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_skeletal.json
  data/json/monsters/zed_soldiers.json
  data/json/monsters/zed_survivor.json
  data/json/monsters/zed_tentacle.json
  data/mods/TEST_DATA/monsters.json
  src/item.cpp
Labels: [JSON], Code: Tests, [C++], Monsters, astyled, json-styled, BasicBuildPassed

#73081 Crops will overgrow/die if not harvested in time
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/furniture_and_terrain/furniture-terrains.json
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/iexamine.cpp
  src/iexamine.h
  src/item.cpp
  src/item.h
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  tools/spell_checker/dictionary.txt
Labels: Game: Balance, [JSON], [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#73088 delete (empty) src/mission_end.cpp
  src/mission_end.cpp
Labels: Missions, [C++], astyled, json-styled

#73043 Fix shotgun speedloader
  data/json/items/gunmod/loading_port.json
  data/json/recipes/weapon/mods.json
  src/activity_actor.cpp
  src/game_inventory.cpp
  src/item.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72994 Allow the Chimera thershold trait as a wildcard for most postthresh traits
  data/json/effects_on_condition/mutation_eocs/mutation_effect_eocs.json
  data/json/mutations/mutations.json
  doc/MUTATIONS.md
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  tests/mutation_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72987 Small scale anaerobic digestion system
  data/json/construction.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/ammo_types.json
  data/json/items/basecamp.json
  data/json/items/chemicals_and_resources.json
  data/json/items/containers/containers.json
  data/json/items/fuel.json
  data/json/items/tool/cooking.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/containers.json
  data/json/requirements/cooking_tools.json
  data/json/requirements/materials.json
  src/activity_handlers.cpp
  src/iexamine.cpp
  src/iexamine.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/iteminfo_query.cpp
  src/iteminfo_query.h
  src/itype.h
  tools/spell_checker/dictionary.txt
Labels: <Enhancement / Feature>, [JSON], Crafting / Construction / Recipes, [C++], Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Player Faction Base / Camp, Items: Containers, astyled, json-styled, BasicBuildPassed

#72974 You can shatter zombies' torso armour by hitting them real hard.
  data/json/effects.json
  data/json/monster_weakpoints/humanoid_weakpoints.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed

#72927 Retain hole construction
  data/json/furniture_and_terrain/terrain-migo.json
  src/construction.cpp
Labels: [JSON], Crafting / Construction / Recipes, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72992 Properly handle default_clause without text in translation string extractor
  lang/string_extractor/parsers/widget.py
Labels: Info / User Interface, Translation, [Python], astyled, json-styled, BasicBuildPassed

#73093 Fix include error
  src/construction.cpp
Labels: Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#73044 [Bombastic Perks] Yet more perks
  data/mods/BombasticPerks/perkdata/absit_invidia.json
  data/mods/BombasticPerks/perkdata/bellringer.json
  data/mods/BombasticPerks/perkdata/duck_and_weave.json
  data/mods/BombasticPerks/perkdata/popeye.json
  data/mods/BombasticPerks/perkdata/sight_beyond_sight.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#73110 Add myself as codeowner of gun variant script
  .github/reviewers.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#73111 Modify comment in weather.h
  src/weather.h
Labels: [C++], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#73104 remove chunk charges
  src/mondeath.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed
