Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2024-11, with the labels that each got.

#77491 [XEDRA Evolved] loading screen images
  data/mods/Xedra_Evolved/loading_images/xedra1.png
  data/mods/Xedra_Evolved/loading_images/xedra2.png
  data/mods/Xedra_Evolved/modinfo.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#77055 A properly GUI menu for editing npctalkvar
  src/debug_menu.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#77431 [MoM] Update mutated animals to match vanilla changes
  data/mods/MindOverMatter/items/comestible_overrides.json
  data/mods/MindOverMatter/items/comestibles.json
  data/mods/MindOverMatter/monstergroups/monstergroups_edited.json
  data/mods/MindOverMatter/monstergroups/monstergroups_new.json
  data/mods/MindOverMatter/monsters/animal_psychics.json
  data/mods/MindOverMatter/monsters/monster_overrides.json
  data/mods/MindOverMatter/recipes/recipe_requirements.json
Labels: [JSON], Mods, Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#77495 Routine tileset updates on 01 November 2024
  gfx/Altica/filler.png
  gfx/Altica/huge.png
  gfx/Altica/human_body_plus.png
  gfx/Altica/incomplete_large.png
  gfx/Altica/large.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/filler.png
  gfx/ChibiUltica/giant.png
  gfx/ChibiUltica/huge.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/incomplete_large.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/HollowMoon/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/normal_2x.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/filler.png
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/incomplete_large.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/layering.json
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#77486 [Xedra Evolved] Fix homullus trait regressions
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#77497 Backport #74075 Correctly display the cost to learn the proficiency
  src/talker_character.cpp
Labels: [C++], astyled, json-styled

#77199 [XE] Add cryptid hunting + two cryptids
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/enchantments/armor.json
  data/mods/Xedra_Evolved/eocs/misc_eoc.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/itemgroups/monster_drops.json
  data/mods/Xedra_Evolved/items/armor/armor.json
  data/mods/Xedra_Evolved/items/book_lore.json
  data/mods/Xedra_Evolved/mapgen/cryptids.json
  data/mods/Xedra_Evolved/mapgen/overmap_special.json
  data/mods/Xedra_Evolved/mapgen/overmap_terrain.json
  data/mods/Xedra_Evolved/missions.json
  data/mods/Xedra_Evolved/monsters/cryptids.json
  data/mods/Xedra_Evolved/monsters/monster_spells.json
  data/mods/Xedra_Evolved/player/professions.json
  data/mods/Xedra_Evolved/regional_overlay.json
  data/mods/Xedra_Evolved/snippets/cryptid_speech.json
Labels: [JSON], Mods, Missions, Map / Mapgen, Spawn, Mutations / Traits / Professions/ Hobbies, Monsters, Fields / Furniture / Terrain / Traps, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#77513 [Magiclysm] Zombie versions of lizardfolk and ravenfolk drop tainted flesh like all other zombies
  data/mods/Magiclysm/harvest.json
  data/mods/Magiclysm/monsters/zombified_fantasy_species.json
Labels: [JSON], Mods, Monsters, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#77459 Parametrize all walls: Part 1
  data/json/mapgen/Glassblower.json
  data/json/mapgen/abandoned_shopping_plaza.json
  data/json/mapgen/abstorefront.json
  data/json/mapgen/animalpound.json
  data/json/mapgen/animalshelter.json
  data/json/mapgen/antique_store.json
  data/json/mapgen/arcade.json
  data/json/mapgen/art_gallery.json
  data/json/mapgen/bakery.json
  data/json/mapgen/bank.json
  data/json/mapgen/bar.json
  data/json/mapgen/barber_shop.json
  data/json/mapgen/bowling_alley.json
  data/json/mapgen/boxing.json
  data/json/mapgen/butcher.json
  data/json/mapgen/cs_car_dealership.json
  data/json/mapgen/cs_car_showroom.json
  data/json/mapgen/cs_internet_cafe.json
  data/json/mapgen/cs_private_park.json
  data/json/mapgen/cs_sex_shop.json
  data/json/mapgen/cs_tire_shop.json
  data/json/mapgen/diner.json
  data/json/mapgen/dispensary.json
  data/json/mapgen/dive_shop.json
  data/json/mapgen/dojo.json
  data/json/mapgen/dollar_store.json
  data/json/mapgen/gambling_hall.json
  data/json/mapgen/garage.json
  data/json/mapgen/garage_gas.json
  data/json/mapgen/golfcourse.json
  data/json/mapgen/gym.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#77483 Fix shelter and burning building starts
  data/json/mapgen/road.json
  data/json/mapgen/shelter.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#77493 fix ALARMED flag
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77496 Backport #73386 "Fix obtain cost when reloading, and a typo."
  src/character.cpp
  src/item_location.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#77480 Apparel in school itemgroups spawns ``UNDERSIZE``
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/supplies.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#77478 [MoM] Update everglow matrix lighting recipes
  data/mods/MindOverMatter/items/tools/lighting.json
  data/mods/MindOverMatter/recipes/tools.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#77477 Fix profession parser
  lang/string_extractor/parsers/profession.py
Labels: Translation, Mutations / Traits / Professions/ Hobbies, [Python], astyled, json-styled, BasicBuildPassed

#77463 Add new no-lid variant of large clay pot, make it usable for the slow sand water filter
  data/json/items/containers/containers.json
  data/json/items/tool/cooking.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/tools_primitive.json
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#77457 debug: check for SIGINT during debug prompt
  src/debug.cpp
  src/init.cpp
  src/main.cpp
  src/main_menu.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#77454 less usage of generic rewards: Refugee Center
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Dana_Nunez.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Draco_Dune.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Fatima_Al_Jadir.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Jenny_Forcette.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Uyen_Tran.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_guard1.json
  data/json/npcs/refugee_center/surface_staff/NPC_old_guard_doctor.json
  data/json/npcs/refugee_center/surface_visitors/NPC_old_guard_representative.json
Labels: NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed

#77353 remove unused variable
  src/distraction_manager.cpp
  src/uistate.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#77358 no more duplicate teamster quests
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_teamster.json
Labels: NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed

#77453 less usage of generic rewards: Tacoma
  data/json/npcs/tacoma_ranch/NPC_ranch_bartender.json
  data/json/npcs/tacoma_ranch/NPC_ranch_doctor.json
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
  data/json/npcs/tacoma_ranch/Nunez/NPC_Pablo_Tacoma.json
Labels: NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed

#77407 Backport #76966
  src/mongroup.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#77367 rename debug nightvision trait for clarity and improve some other debug trait descriptions
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#76980 Allow a list of `pre_terrain` for constructions
  data/json/construction/walls.json
  src/activity_item_handling.cpp
  src/clzones.cpp
  src/construction.cpp
  src/construction.h
  src/flexbuffer_json-inl.h
  src/flexbuffer_json.h
  tests/act_build_test.cpp
Labels: [JSON], Mods, Crafting / Construction / Recipes, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, Character / World Generation, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#77510 Balance/fix ranged weapon selection for random NPCs
  data/json/itemgroups/Weapons_Mods_Ammo/archery_weapons.json
  data/json/npcs/NC_NONE.json
  data/json/npcs/NC_NONE_HARDENED.json
  src/npc.cpp
  src/npc.h
Labels: Game: Balance, NPC / Factions, [JSON], Spawn, [C++], <Bugfix>, Items: Archery, astyled, json-styled, BasicBuildPassed

#77528 Only update PC location if it's inbounds
  src/lightmap.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77526 Fix two typos in Rifles skill description
  data/json/skills.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#77509 [Magiclysm] Feral dabblers: add small chance ferals know a single spell
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/monsters/feral_dabbler_overrides.json
  data/mods/Magiclysm/monsters/feral_fantasy_species.json
Labels: [JSON], Mods, Monsters, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#77492 [MoM] Remove monster inherent speed boosts, replace with actual powers that have to be used
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/monsters/animal_psychics.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/mi_go.json
  data/mods/MindOverMatter/monsters/monster_eoc_spells.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#77472 Backport #73234 Not to use meat chunks in the smoking rack
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77428 Some factions claim only one OMT
  data/json/npcs/factions.json
  data/mods/DinoMod/NPC/NC_BO_BARONYX.json
  data/mods/Magiclysm/npc/factions.json
  doc/FACTIONS.md
  src/faction.cpp
  src/faction.h
  src/game.cpp
Labels: <Documentation>, Game: Balance, [JSON], Mods, [C++], [Markdown], Mods: Magiclysm, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#77533 [XE] fix two bugs about learning new blood gifts
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/recipes/vampire.json
Labels: [JSON], Mods, <Bugfix>, astyled, BasicBuildPassed, Mods: Xedra Evolved

#77512 Fix typo and an incorrect comma in XE Shredder Shotgun
  data/mods/Xedra_Evolved/items/inventor/gun.json
Labels: [JSON], Mods, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, new contributor

#77016 Soft landing
  data/json/furniture_and_terrain/furniture-sleep.json
  data/json/items/resources/misc.json
  doc/JSON_INFO.md
  src/character.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
  src/mapdata.cpp
  src/mapdata.h
Labels: <Documentation>, Game: Balance, [JSON], [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#77539 Update fence posts and bollards
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-walls.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#77008 typified a bit of vehicle.h + dependents
  src/game.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item.h
  src/map.cpp
  src/map_extras.cpp
  src/mapgen.cpp
  src/savegame_json.cpp
  src/turret.cpp
  src/veh_appliance.cpp
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_utils.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_autodrive.cpp
  src/vehicle_display.cpp
  src/vehicle_move.cpp
  src/vehicle_part.cpp
  src/vehicle_use.cpp
  src/visitable.cpp
  src/vpart_position.h
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_ramp_test.cpp
Labels: Map / Mapgen, Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#77490 Melee weapon item groups for random NPCs
  data/json/itemgroups/Weapons_Mods_Ammo/melee_weapons.json
  data/json/npcs/NC_NONE.json
  data/json/npcs/NC_NONE_HARDENED.json
Labels: [JSON], Spawn, Melee, astyled, json-styled, BasicBuildPassed

#77540 Distribute faction camp food from vehicle cargo zone
  src/faction_camp.cpp
Labels: [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#77537 Actually stop bleeding with bandages
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77498 NO_I18N for base game
  data/core/weather.json
  data/json/furniture_and_terrain/furniture-fakes.json
  data/json/items/basecamp.json
  data/json/items/comestibles/other.json
  data/json/items/fake.json
  data/json/items/generic.json
  data/json/items/gun/bio.json
  data/json/items/software.json
  data/json/items/tool/cooking.json
  data/json/items/tool/entry_tools.json
  data/json/items/tool/pseudo.json
  data/json/items/tool/unfoldable.json
  data/json/items/toolmod.json
  data/json/monsters/nether.json
  data/json/monsters/reptile_amphibian.json
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
  data/json/overmap/overmap_terrain/overmap_terrain_robofachq.json
  data/json/skills.json
  data/json/snippets/fungaloid_anatomy.json
  data/json/snippets/mi-go_anatomy.json
  data/json/snippets/music.json
  data/json/snippets/mutant_anatomy.json
  data/json/snippets/names.json
  data/json/snippets/power_leech_anatomy.json
  data/json/snippets/snippets.json
  data/json/snippets/triffid_anatomy.json
  data/json/snippets/zombie_anatomy.json
  data/json/species.json
  data/json/ui/bodypart_status.json
  data/json/ui/ma_style.json
  data/json/ui/mana.json
  data/json/ui/moon.json
  data/json/ui/movement.json
  data/json/ui/sidebar-mobile.json
  data/json/ui/spacebar/spacebar_separators.json
  data/json/ui/structured/structured_bodygraphs.json
  data/json/ui/structured/structured_mana_block.json
  data/json/ui/zenfs/activity.json
  data/json/ui/zenfs/bionic_power.json
  data/json/ui/zenfs/blank_lines.json
  data/json/ui/zenfs/diet.json
  data/json/ui/zenfs/location.json
  data/json/ui/zenfs/mana.json
  data/json/ui/zenfs/mod_SI.json
  data/json/ui/zenfs/mod_XE.json
  data/json/ui/zenfs/movement.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicleparts/vp_categories.json
  lang/update_pot.sh
Labels: Info / User Interface, Translation, [JSON], Items: Gunmod / Toolmod, Missions, Bionics, Map / Mapgen, Vehicles, Items: Food / Vitamins, Monsters, Fields / Furniture / Terrain / Traps, Player Faction Base / Camp, Mechanics: Weather, Lore, astyled, json-styled, BasicBuildPassed, Limbs

#77471 Refactoring Hub01's prototype menu
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_missions.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_prototypes.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_trades.json
Labels: [JSON], Missions, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#77543 [Magiclysm] Add a trait that prevents magical spellcasting
  data/mods/Magiclysm/eoc_spell_difficulty_modifiers.json
  data/mods/Magiclysm/traits/mutation.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#77109 Refactor repeated map.ter .furn .*_at calls
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/character_body.cpp
  src/computer_session.cpp
  src/construction.cpp
  src/crafting.cpp
  src/editmap.cpp
  src/event_field_transformations.cpp
  src/explosion.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/gamemode_tutorial.cpp
  src/gates.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/inventory.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/lightmap.cpp
  src/magic_ter_fur_transform.cpp
  src/map.cpp
  src/map_extras.cpp
  src/mapgen.cpp
  src/mapgen.h
  src/mapgen_functions.cpp
  src/mapgenformat.cpp
  src/mission_companion.cpp
  src/mission_start.cpp
  src/monattack.cpp
  src/monmove.cpp
  src/monster.cpp
  src/npctalk.cpp
  src/npctrade_utils.cpp
  src/pixel_minimap.cpp
  src/sleep.cpp
  src/start_location.cpp
  src/submap.cpp
  src/timed_event.cpp
  src/trapfunc.cpp
  src/ui_extended_description.cpp
  src/vehicle_autodrive.cpp
  src/vehicle_use.cpp
Labels: NPC / Factions, Info / User Interface, Missions, Bionics, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, [C++], Monsters, Fields / Furniture / Terrain / Traps, Scenarios, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#77536 Bail out of choosing activity for multiple NPCs if none chosen
  src/npctalk.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#77555 Nerf several vitamin-based supplement prices
  data/json/items/comestibles/med.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#77557 Don't apply parkour bonus when moving prone
  src/character.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#77573 Add interface to set all companion job priorities at once
  src/faction_camp.cpp
  src/npc.cpp
  src/npc.h
Labels: NPC / Factions, Info / User Interface, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#77455 Shift towards making the tutorial work as a mod behind the scenes
  .github/labeler.yml
  data/json/monsters/misc.json
  data/json/overmap/overmap_terrain/overmap_terrain_hardcoded.json
  data/json/traps.json
  data/mods/alt_map_key/overmap_terrain.json
  data/mods/dda_tutorial/external_options.json
  data/mods/dda_tutorial/mapgen.json
  data/mods/dda_tutorial/modinfo.json
  data/mods/dda_tutorial/monsters.json
  data/mods/dda_tutorial/overmap_terrain.json
  data/mods/dda_tutorial/region_overlay.json
  data/mods/dda_tutorial/snippets.json
  data/mods/dda_tutorial/specials.json
  data/mods/dda_tutorial/traps.json
  doc/EFFECT_ON_CONDITION.md
  lang/string_extractor/parsers/trap.py
  src/gamemode_tutorial.cpp
  src/main_menu.cpp
  src/npctalk.cpp
  src/output.cpp
  src/output.h
  src/trap.cpp
Labels: <Documentation>, NPC / Factions, Translation, [JSON], Mods, Map / Mapgen, [C++], Monsters, Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, [Markdown], [Python], Lore, Code: Tooling, astyled, json-styled, BasicBuildPassed

#77586 remove sulfurless gunpowder recipe
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#77524 Add `IRRITANT_IMMUNE` to more armors and exoskeletons
  data/json/items/armor/combat_exoskeleton.json
  data/json/items/tool_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#77399 [ Xedra Evolved ] Feral Agent Variety
  data/mods/Xedra_Evolved/itemgroups/monster_drops.json
  data/mods/Xedra_Evolved/mapgen/xedra_field_office.json
  data/mods/Xedra_Evolved/monsters/ferals.json
  data/mods/Xedra_Evolved/monsters/monsterattacks.json
  data/mods/Xedra_Evolved/monsters/monstergroup.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#77546 [Xedra Evolved/Innawood] Remove modern items from XE spawns Innawood, allow starting with XE-specific scenarios
  data/mods/Xedra_Evolved/mod_interactions/innawood/itemgroups/itemgroup_overrides.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/itemgroups/itemgroups_new.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/mapgen/caves.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/monstergroups/monstergroup_overrides.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/monstergroups/monstergroups_new.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/monsters/monster_overrides.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/player/professions.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/player/scenarios.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/scenario_whitelist.json
  data/mods/Xedra_Evolved/mod_interactions/innawood/skills.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Mutations / Traits / Professions/ Hobbies, Monsters, Scenarios, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#77319 Fix XE Typos, completed comment and improve description
  data/mods/Xedra_Evolved/player/hobbies.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#77316 Fix firearm repair kit to accept medium batteries akin to a soldering iron
  data/json/items/tool/workshop.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77551 Fix #77500 - Repeatable crash when interacting with an item
  src/item.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77596 [Xedra Evolved] Add Forestwalker trait to Arvore
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#77588 [Sky Island] Fix side room recipe volume
  data/mods/Sky_Island/upgrade_missions.json
Labels: [JSON], Mods, Missions, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#77556 Add diagonal directions to pc/npc pathfinding
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/simple_pathfinding.cpp
  src/simple_pathfinding.h
Labels: <Enhancement / Feature>, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#77446 [CR] Pathfinding accounts for SMALL_PASSAGE
  src/character.cpp
  src/map.cpp
  src/mutation.cpp
  src/npc.cpp
  src/pathfinding.cpp
  src/pathfinding.h
Labels: NPC / Factions, Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77603 Add myself to comment commands list
  .github/comment-commands.yml
Labels: Code: Tooling, astyled, json-styled

#76730 Weekly Changelog 2024-09-23 to 2024-09-30
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#77613 Fix crash when not wielding item from map/vehicle after reloading
  src/activity_actor.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#77413 Allow the game to build on OSX
  Makefile
Labels: Code: Build, <Bugfix>, astyled, json-styled, new contributor

#77610 [Innawood/Xedra Evolved] Fix double id
  data/mods/Xedra_Evolved/mod_interactions/innawood/monsters/monster_overrides.json
Labels: [JSON], Mods, Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#77612 [0.H] Fix crash when not wielding item from map/vehicle after reloading
  src/activity_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77600 Bunny suits
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/private_resort_item_groups.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/torso_clothes.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#77584 Fix garage mapgen
  data/json/mapgen/garage.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#77618 Empty blocks getting attunements
  data/mods/Magiclysm/traits/attunements.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#77550 Backport #77446 for 0.H (Pathfinding accounts for SMALL_PASSAGE)
  src/character.cpp
  src/map.cpp
  src/mutation.cpp
  src/npc.cpp
  src/pathfinding.cpp
  src/pathfinding.h
Labels: <Enhancement / Feature>, NPC / Factions, Info / User Interface, Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled

#77641 [MoM] Fix `GROUP_FERAL_TELEPORTER` mongroup
  data/mods/MindOverMatter/monstergroups/monstergroups_new.json
Labels: [JSON], Mods, Spawn, Monsters, <Bugfix>, astyled, json-styled, Mods: Mind Over Matter

#77593 Fix arcade mapgen
  data/json/mapgen/arcade.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#77634 Adds drill requirement to aluminum tank (100 L)
  data/json/vehicleparts/tanks.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77633 Fix .303 Charger spawning loaded
  data/json/items/magazine/303.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77630 [Magiclysm] Add `FERAL` species to all fantasy ferals
  data/mods/Magiclysm/monsters/feral_fantasy_species.json
Labels: [JSON], Mods, Monsters, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#77255 exodii weaponmaster
  data/json/mapgen/exodii/exodii_base.json
  data/json/mapgen/exodii/exodii_nested.json
  data/json/npcs/exodii/exodii_merchant_definitions.json
  data/json/npcs/exodii/exodii_weaponmaster.json
  data/json/npcs/exodii/exodii_weaponmaster_talk.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#75556 More molotov cocktail containers
  data/json/recipes/weapon/explosive.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#75471 Aftershock: fix up minireactor and plutonium cells
  data/json/items/ammo.json
  data/mods/Aftershock/vehicles/part_items.json
  data/mods/Aftershock/vehicles/vehicle_parts.json
Labels: [JSON], Mods, Vehicles, Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, new contributor

#77412 [Sky Island] Re-add zombie bio operators to Sky Island
  data/mods/Sky_Island/monstergroups.json
  data/mods/Sky_Island/monsters/deathdrops.json
  data/mods/Sky_Island/monsters/monstergroups_extended.json
  data/mods/Sky_Island/monsters/monsters.json
Labels: [JSON], Mods, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#77475 UNIQUE -> OVERMAP_UNIQUE
  doc/OVERMAP.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#77398 [ Magiclysm ] Make Forge Dwellers Smarter
  data/mods/Magiclysm/monsters/forgedwellers.json
Labels: [JSON], Mods, Monsters, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#77461 Adjust headlamp to match flashlight
  data/json/items/tool_armor.json
  data/json/professions.json
  tests/map_helpers.cpp
Labels: Game: Balance, [JSON], Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#77625 Allow mission UI to scroll
  src/mission_ui.cpp
Labels: Info / User Interface, Missions, [C++], astyled, json-styled, BasicBuildPassed

#77657 [Xedra Evolved] Move werewolf healing over to EoC
  data/mods/Xedra_Evolved/eocs/shapeshifter_eocs.json
  data/mods/Xedra_Evolved/mutations/shapeshifters.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#77658 [MoM] Update Anabolic Rejuvenation and Accelerated Resuscitation with EoCified healing
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/obsolete/powers.json
  data/mods/MindOverMatter/powers/vitakinesis.json
  data/mods/MindOverMatter/powers/vitakinesis_concentration_eoc.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#77635 Replace rock floor in gas station
  data/json/mapgen/gas_stations/s_gas.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#77656 Spell activated EoCs are passed the target as a context val
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
  doc/EFFECT_ON_CONDITION.md
  doc/MAGIC.md
  src/condition.cpp
  src/magic_spell_effect.cpp
Labels: <Documentation>, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#77648 Move NPC bye message to snippet
  doc/NPCs.md
  src/dialogue_chatbin.h
  src/npc_class.cpp
  src/npc_class.h
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#77655 [MoM] Insight proficiencies prevent overload from high Nether Attunement
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#77611 teleport_to_point() tweaks
  src/teleport.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77679 Remove adobe & rock walls from param wall palette
  data/json/mapgen_palettes/building.json
  data/json/mapgen_palettes/common_parameters.json
  data/json/mapgen_palettes/house_general_abandoned.json
  data/json/mapgen_palettes/house_general_palette.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#77686 Changes hair dye barter price to a more reasonable amount
  data/json/items/resources/chemicals.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77637 Terrain/furniture: code deduplication and improved "copy-from" support
  data/json/connect_groups.json
  src/construction.cpp
  src/faction_camp.cpp
  src/field_type.cpp
  src/field_type.h
  src/handle_action.cpp
  src/iexamine.cpp
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen.cpp
  src/mission_companion.cpp
  src/vehicle_autodrive.cpp
  tests/map_bash_test.cpp
Labels: [JSON], Missions, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#77628 Added information to crafting menu about crafting speed modifier gained by mutations
  src/crafting_gui.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#77627 Pathfinding uses field cost for faction camp
  data/json/overmap/overmap_terrain/overmap_terrain_faction_base.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#77650 Disable diff for .po files in .gitattributes
  .gitattributes
Labels: astyled, json-styled, BasicBuildPassed

#77674 DoT spell fixes
  src/magic_spell_effect.cpp
Labels: [C++], <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#77654 Unrevert #77339
  data/raw/keybindings.json
  src/debug_menu.cpp
  src/debug_menu.h
  src/overmap_ui.cpp
Labels: Info / User Interface, [JSON], Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#77645 ask rubik about peculiar weaponmaster goods
  data/json/npcs/exodii/exodii_merchant_talk.json
  data/json/npcs/exodii/exodii_weaponmaster_talk.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#77626 Replace point and tripoint sentinel values with constants
  src/faction_camp.cpp
  src/iuse.cpp
  src/npc.cpp
  src/overmap.h
Labels: NPC / Factions, Map / Mapgen, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#77620 Scouting is less exercise than Combat patrol
  src/faction_camp.cpp
Labels: Game: Balance, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#77605 Made tree tops burn and more collapse on wall loss
  src/map.cpp
  src/map_field.cpp
Labels: [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#77599 Tweaks for visibility checks regarding vehicles and furniture
  src/map.cpp
Labels: Vehicles, [C++], <Bugfix>, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#77617 [MoM] Add the hellhound, a pyrokinetic dog
  data/mods/MindOverMatter/monstergroups/monstergroups_edited.json
  data/mods/MindOverMatter/monstergroups/monstergroups_new.json
  data/mods/MindOverMatter/monsters/animal_psychics.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
Labels: [JSON], Mods, Spawn, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#77572 Optimize search for possible expansion locations
  src/faction_camp.cpp
  src/recipe_groups.cpp
  src/recipe_groups.h
Labels: Crafting / Construction / Recipes, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#77549 Add comments for obsolete strings in translations
  doc/OBSOLETION_AND_MIGRATION.md
  lang/extract_json_strings.py
  lang/string_extractor/pot_export.py
  lang/update_pot.sh
Labels: <Documentation>, Translation, [Markdown], [Python], astyled, json-styled, BasicBuildPassed

#77547 [MoM] Fix swapped min/max in overload chance on failed channeling
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#77652 Fix Dino Dave mapgen_update referencing an obsoleted omt
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77571 some eoc improvements
  data/json/effects_on_condition/mapgen_eocs/lab_mapgen_eocs.json
  data/json/effects_on_condition/nether_eocs/vitrification_effect_on_condition.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#77566 [MoM] Add MIND_SEEING flag, give it to the hidebehind, rework hidebehind so it uses its powers to hide (and thus you can see it if you have Telepathic Shield up)
  data/json/monsters/monster_flags.json
  data/mods/Aftershock/flags.json
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/json_flags.json
  data/mods/MindOverMatter/monsters/animal_psychics.json
  data/mods/MindOverMatter/monsters/monster_eoc_spells.json
  doc/JSON_FLAGS.md
  src/creature.cpp
  src/monster.cpp
  src/mtype.cpp
  src/mtype.h
Labels: <Documentation>, [JSON], Mods, [C++], Monsters, [Markdown], Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#77665 Fix godco mapgen_updates searches
  data/json/effects_on_condition/mapgen_eocs/godco_mapgen_eocs.json
  data/json/npcs/godco/godco_missions.json
Labels: [JSON], Missions, Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#77508 Armor destroyed Event
  doc/EFFECT_ON_CONDITION.md
  src/character_attire.cpp
  src/event.cpp
  src/event.h
  src/memorial_logger.cpp
Labels: <Documentation>, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#77673 Label palette changes as "Map / Mapgen"
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#77685 [Xedra Evolved] Only humans can learn dream magick
  data/mods/Xedra_Evolved/eocs/dreamsmith.json
  data/mods/Xedra_Evolved/eocs/eoc_conditions.json
  data/mods/Xedra_Evolved/eocs/give_a_class_eoc.json
  data/mods/Xedra_Evolved/eocs/inventor.json
  data/mods/Xedra_Evolved/eocs/spell_learning_eoc.json
  data/mods/Xedra_Evolved/eocs/vampvirus_sacrifice_tracker.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/playable_changeling.json
  data/mods/Xedra_Evolved/mutations/shapeshifters.json
  data/mods/Xedra_Evolved/mutations/xe_lilin.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#77647 Make exodii weaponmaster mute
  data/json/npcs/exodii/exodii_weaponmaster.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#76513 Implement a better way to wrap text containing color tags
  src/cata_imgui.cpp
  src/cata_imgui.h
  src/item_pocket.cpp
  src/magic.cpp
  src/main_menu.cpp
  src/output.cpp
  src/text.cpp
  src/text.h
  src/third-party/imgui/imgui.h
  src/third-party/imgui/imgui_impl_sdl2.h
  src/third-party/imgui/imgui_impl_sdlrenderer2.h
  src/third-party/imgui/imgui_internal.h
  src/third-party/imgui/imstb_rectpack.h
  src/third-party/imgui/imstb_textedit.h
  src/third-party/imgui/imstb_truetype.h
  src/ui_iteminfo.cpp
  src/ui_iteminfo.h
  src/wish.cpp
Labels: Info / User Interface, [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed, ImGui

#77702 Remove spurious double semi colons
  src/cata_tiles.cpp
  src/character.cpp
  src/crafting_gui.cpp
  src/game.cpp
  src/iuse.cpp
  src/mapdata.h
  src/npctalk.cpp
Labels: NPC / Factions, Info / User Interface, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#77701 Fix placement of the aftershock landing pad
  data/mods/Aftershock/maps/overmap_specials.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#77662 deprecate melee damage enchantments
  data/json/bionics.json
  data/json/mutations/mutations.json
  data/mods/Aftershock/items/weapons.json
  data/mods/Aftershock/player/bionics.json
  data/mods/BombasticPerks/perks.json
  data/mods/Defense_Mode/mod_interactions/bombastic_perks/perks.json
  data/mods/MMA/enchantments.json
  data/mods/Magiclysm/Spells/attunements/Crusader.json
  data/mods/Magiclysm/Spells/attunements/Storm_Elemental.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/items/enchanted_unarmed.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/item_enchants.json
  data/mods/Magiclysm/traits/attunements.json
  data/mods/MindOverMatter/enchantments/enchantment_item.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/Perk_melee/enchantments.json
  data/mods/Xedra_Evolved/enchantments/mutations.json
  data/mods/Xedra_Evolved/enchantments/weapon.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/inventor/armor.json
  data/mods/Xedra_Evolved/items/melee.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/xe_lilin.json
  data/mods/Xedra_Evolved/mutations/xe_playable_gracken.json
  data/mods/Xedra_Evolved/procgen/dreamsmith_procgen.json
  data/mods/Xedra_Evolved/spells/integrated_armor_spells.json
  doc/MAGIC.md
  src/character.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/melee.cpp
Labels: <Documentation>, [JSON], Bionics, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], Melee, Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Defense Mode, Mods: MMA, Mods: Xedra Evolved, Mods: Bombastic Perks, Mods: Mind Over Matter

#77516 deprecate type and context in dialogues (json side)
  data/json/effects_on_condition/npc_eocs/isherwood_barry_rescue_eocs.json
  data/json/npcs/exodii/exodii_merchant_talk.json
  data/json/npcs/isherwood_farm/Isherwood_Rescue_NPC_Duplicates.json
  data/json/npcs/isherwood_farm/NPC_Barry_Isherwood.json
  data/json/npcs/militia/GM_Militia_Merchant.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_trades.json
Labels: NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#77718 [Xedra Evolved] Add new Ierde trait
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#77713 Return a few persk that were removed by accident
  data/mods/Defense_Mode/mod_interactions/bombastic_perks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Defense Mode

#77671 Cache mutation trait flags
  src/character.h
  src/mutation.cpp
  src/newcharacter.cpp
Labels: Code: Performance, Mutations / Traits / Professions/ Hobbies, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#77651 input: fix no-op input loop when quitting
  src/debug.cpp
  src/do_turn.cpp
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/input_context.cpp
  src/main_menu.cpp
  src/ui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#77646 weaponmaster dialogue keeps you for not as long
  data/json/npcs/exodii/exodii_weaponmaster_talk.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#77106 Make comestible default nutrition mostly private
  src/character.h
  src/consumption.cpp
  src/faction_camp.cpp
  src/item.cpp
  src/itype.h
  src/iuse.cpp
  src/math_parser_diag.cpp
  src/monattack.cpp
  tests/comestible_test.cpp
Labels: NPC / Factions, Info / User Interface, Missions, Items: Food / Vitamins, Code: Tests, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#77712 Fix compiling with HEADERPOPULARITY=1
  src/text.cpp
  src/third-party/imgui/imgui.h
  src/third-party/imgui/imgui_impl_sdl2.h
  src/third-party/imgui/imgui_impl_sdlrenderer2.h
  src/third-party/imgui/imgui_internal.h
  src/third-party/imgui/imstb_rectpack.h
  src/third-party/imgui/imstb_textedit.h
  src/third-party/imgui/imstb_truetype.h
Labels: [C++], astyled, json-styled, BasicBuildPassed, ImGui

#77695 [0.H] Migrate railroad station OMTs and cancel said migration in railroads mod
  data/json/obsoletion/migration_oter_ids.json
  data/mods/railroads/migrataion.json
  src/overmap.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [JSON], Mods, Map / Mapgen, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#77696 Allow mods to override and cancel OMT migrations
  doc/OBSOLETION_AND_MIGRATION.md
  src/overmap.cpp
Labels: <Documentation>, Map / Mapgen, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#77692 Allow furniture/terrain copy-from for symbol, color
  data/json/furniture_and_terrain/LIXA_furniture_and_terrain.json
  data/json/furniture_and_terrain/furniture-flora.json
  data/json/furniture_and_terrain/special_use/bullet_trailer.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
  data/json/furniture_and_terrain/terrain-flesh.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-fungal.json
  data/json/furniture_and_terrain/terrain-migo.json
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/furniture_and_terrain/terrain-triffid.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/furniture_and_terrain/terrain_nether_monster.json
  data/json/furniture_and_terrain/terrain_vitrified.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_alienciv.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_groundxeno.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_habitat_wall.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Magiclysm/furniture_and_terrain/terrain_druid.json
  data/mods/Magiclysm/terrain.json
  data/mods/No_Hope/terrain.json
  data/mods/Sky_Island/furniture_and_terrain.json
  data/mods/Xedra_Evolved/furniture_and_terrain/terrain-doors.json
  data/mods/Xedra_Evolved/furniture_and_terrain/terrain-eruption.json
  data/mods/Xedra_Evolved/furniture_and_terrain/terrain_abyssal_hunger.json
  src/mapdata.cpp
  src/mapdata.h
Labels: [JSON], [C++], Monsters, Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Xedra Evolved, Mods: Sky Island

#77614 [Xedra Evolved] Add (very small) chance of being attacked by a lilit in your sleep
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/eocs/eoc_strange_events.json
  data/mods/Xedra_Evolved/flags.json
  data/mods/Xedra_Evolved/items/clothes.json
  data/mods/Xedra_Evolved/mutations/xe_lilin_eocs.json
  data/mods/Xedra_Evolved/snippets/dreams.json
  data/mods/Xedra_Evolved/spells/lilin_spell_eocs.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#77583 Add new high-rise walls palette
  data/json/mapgen_palettes/common_parameters.json
  doc/MAPGEN.md
Labels: <Documentation>, [JSON], [Markdown], astyled, json-styled, BasicBuildPassed

#77337 [CR] Sugar Recipes Overhaul
  data/json/items/tool/cooking.json
  data/json/recipes/recipe_food.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#77554 typified a bit of vehicle.h and dependents
  src/activity_item_handling.cpp
  src/avatar.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/construction.cpp
  src/creature.cpp
  src/game.cpp
  src/grab.cpp
  src/handle_action.cpp
  src/handle_liquid.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item_location.cpp
  src/iuse.cpp
  src/map.cpp
  src/map_extras.cpp
  src/mapgen.cpp
  src/npc.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/sounds.cpp
  src/turret.cpp
  src/veh_appliance.cpp
  src/veh_interact.cpp
  src/veh_shape.cpp
  src/veh_type.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_autodrive.cpp
  src/vehicle_move.cpp
  src/vehicle_part.cpp
  src/vehicle_use.cpp
  tests/crafting_test.cpp
  tests/npc_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_fake_part_test.cpp
  tests/vehicle_power_test.cpp
  tests/vehicle_ramp_test.cpp
  tests/vehicle_split_test.cpp
  tests/vehicle_test.cpp
  tests/vehicle_turrets_test.cpp
  tests/vision_test.cpp
Labels: NPC / Factions, Info / User Interface, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#77137 NPCs can funk out to music, too.
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#76264 Initialize monster baby_timer for new monsters
  src/monster.cpp
  src/savegame_json.cpp
Labels: [C++], Monsters, astyled, json-styled, BasicBuildPassed

#77113 [XE] Mad Inventor sandwich recipe
  data/mods/Xedra_Evolved/eocs/inventor.json
  data/mods/Xedra_Evolved/eocs/item_eocs.json
  data/mods/Xedra_Evolved/items/inventor/consumables.json
  data/mods/Xedra_Evolved/recipes/category.json
  data/mods/Xedra_Evolved/recipes/inventor/consumables.json
  data/mods/Xedra_Evolved/spells/item_spells.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#77621 Rework lumbermill
  data/json/npcs/lumbermill_employees/TALK_lumbermill_fabricate.json
  data/json/npcs/lumbermill_employees/TALK_lumbermill_merchant.json
  data/json/npcs/lumbermill_employees/lumbermill_effects.json
  data/json/npcs/lumbermill_employees/lumbermill_employees.json
  data/json/obsoletion_and_migration_0.I/obsolete_effect.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed

#77567 Parametrize all walls: Part 2
  data/json/mapgen/Glassblower.json
  data/json/mapgen/Pottery_Sewing_Shops.json
  data/json/mapgen/headshop.json
  data/json/mapgen/homeimprovement.json
  data/json/mapgen/homeimprovement_superstore_new.json
  data/json/mapgen/homeless_shelter.json
  data/json/mapgen/hotel_tower.json
  data/json/mapgen/jewel_store.json
  data/json/mapgen/landscaping_supply.json
  data/json/mapgen/laundromat.json
  data/json/mapgen/lot_empty_commercial.json
  data/json/mapgen/mansion.json
  data/json/mapgen/mansion_boarded.json
  data/json/mapgen/marina.json
  data/json/mapgen/megastore.json
  data/json/mapgen/mil_surplus.json
  data/json/mapgen/mortuary.json
  data/json/mapgen/motel.json
  data/json/mapgen/movie_theater.json
  data/json/mapgen/museum.json
  data/json/mapgen/music_venue.json
  data/json/mapgen/musicstore.json
  data/json/mapgen/office_cubical.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/office_skyscraper.json
  data/json/mapgen/office_small.json
  data/json/mapgen/office_tower.json
  data/json/mapgen/office_tower_2.json
  data/json/mapgen/paintball_field.json
  data/json/mapgen/pawn_shop.json
  data/json/mapgen/petstore.json
  data/json/mapgen/pharmacy.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/police_station.json
  data/json/mapgen/pool.json
  data/json/mapgen/post_office.json
  data/json/mapgen/power_station_large.json
  data/json/mapgen/power_station_small.json
  data/json/mapgen/public_works.json
  data/json/mapgen/pump_station.json
  data/json/mapgen/recycle_center.json
  data/json/mapgen/regional_airport.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/restaurant_fast.json
  data/json/mapgen/reststop.json
  data/json/mapgen/roadstop.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#77735 Aftershock: Make UICA share public goods.
  data/mods/Aftershock/npcs/factions.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#77746 Washing soda & baking soda barter price reduction
  data/json/items/resources/chemicals.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#77741 Reduce IWI Tavor's min_cycle_recoil (.223)
  data/json/items/gun/223.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#77734 Typo in MSVC.cmake (/DYNAMICBASE)
  build-scripts/MSVC.cmake
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#77755 Further destruction of the economy
  data/json/items/chemicals_and_resources.json
  data/json/items/resources/chemicals.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#77736 [Xedra Evolved/Dinomod] You can drain dinosaur's ruach
  data/mods/Xedra_Evolved/eocs/eoc_mod_overrides.json
  data/mods/Xedra_Evolved/mod_interactions/DinoMod/lilin_interactions.json
  data/mods/Xedra_Evolved/spells/lilin_spell_eocs.json
Labels: [JSON], Mods, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#77753 Several tweaks to Respirator bionic
  data/json/bionics.json
  src/bionics.cpp
  src/suffer.cpp
Labels: [JSON], Bionics, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77750 Weekly Changelog 2024-11-04 to 2024-11-11
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#77706 Add Portuguese (Portugal) to options menu
  src/cata_imgui.cpp
  src/options.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#77517 Backport #73107 Do not count magazine as pocket in the pickup inventory
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/iuse_actor.cpp
  tests/item_pocket_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], Items: Containers, astyled, json-styled, BasicBuildPassed

#77518 Field Stone Addition and accompanying audit of field stone walls
  data/json/construction/floors_indoors.json
  data/json/deconstruction.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/itemgroups/SUS/creek_bed.json
  data/json/items/resources/stone.json
  data/json/mapgen_palettes/stream.json
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#77548 There can be only one
  data/json/overmap/overmap_special/specials.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed
