Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2024-05, with the labels that each got.

#73385 Fix typo in exodii_merchant_talk.json
  data/json/npcs/exodii/exodii_merchant_talk.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#73418 fix clang test
  src/debug_menu.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#73424 Routine tileset updates on 01 May 2024
  gfx/ASCII_Overmap/ASCIITiles.png
  gfx/ASCII_Overmap/tile_config.json
  gfx/Altica/huge.png
  gfx/Altica/human_body_plus.png
  gfx/Altica/large.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/filler.png
  gfx/ChibiUltica/huge.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/GiantDays/tile_config.json
  gfx/Larwick_Overmap/overmap.png
  gfx/Larwick_Overmap/tile_config.json
  gfx/MshockXotto+/overmap.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/SurveyorsMap/overmap.png
  gfx/SurveyorsMap/tile_config.json
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/normal_2x.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tall_2x.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/layering.json
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#73422 Fixing popup buttons not wrapping to a new line
  src/popup.cpp
  src/popup.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73413 Fixing broken text on ImTui when building with cmake
  src/third-party/CMakeLists.txt
Labels: Code: Build, <Bugfix>, astyled, json-styled, BasicBuildPassed

#73358 Aftershock: Fix travel to port augustmoon
  data/mods/Aftershock/EOC/agustmoon_travel_eocs.json
  data/mods/Aftershock/npcs/UICA/spaceport_portmaster.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#73408 Wet Towels No Longer Prompt to be Turned Off
  data/json/items/tool_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73390 Make drones drone
  data/json/monsters/drones.json
  data/json/monsters/robofac_robots.json
  data/json/species.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73429 Add a final cleanup phase to Craters
  data/json/overmap/overmap_mutable/crater.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#73441 Unhardcode ki strike, drunken master
  data/mods/MMA/enchantments.json
  data/mods/MMA/mutations.json
  data/mods/Xedra_Evolved/enchantments/mutations.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  src/melee.cpp
Labels: <Enhancement / Feature>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: MMA, Mods: Xedra Evolved

#73440 Nail-related string edits
  data/json/items/ammo/nail.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72787 Mansion Escape balance update
  data/json/effects_on_condition/scenario_specific_eocs.json
  data/json/mapgen/mansion.json
  data/json/mapgen/mansion_boarded.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/zombies.json
  data/json/monsters/feral_humans.json
  data/json/speech.json
  data/mods/No_Hope/Mapgen/mansion.json
Labels: Game: Balance, [JSON], Mods, Map / Mapgen, Spawn, Scenarios, astyled, json-styled, BasicBuildPassed, Mods: No Hope, EOC: Effects On Condition

#73411 Tiny Propane vehicle addition
  data/json/vehicleparts/tanks.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#73394 math effect to sum all spells in school
  doc/NPCs.md
  src/math_parser_diag.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: <Documentation>, NPC / Factions, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#73056 Make power grids easier to split up, reconnect, and merge parts to
  data/raw/keybindings.json
  src/handle_action.cpp
  src/iuse_actor.cpp
  src/veh_appliance.cpp
  src/veh_appliance.h
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Labels: <Enhancement / Feature>, [JSON], Vehicles, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#73395 [MoM] Limit Burst of Speed in some circumstances
  data/mods/MindOverMatter/powers/biokinesis.json
  data/mods/MindOverMatter/powers/biokinesis_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#73448 [Xedra Evolved] Even more paraclesian powers
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_spell_learning_eocs.json
  data/mods/Xedra_Evolved/ter_transforms/ierde_ter_transform.json
  data/mods/Xedra_Evolved/ter_transforms/sylph_ter_transforms.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#73432 Apply imgui label upon touching src/third-party/im(g|t)ui
  .github/labeler.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#73447 Add Ballistic Vest Disassembly Recipes
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#73290 [Extra Mutated Scenarios ] Adds new mutation trees to mod starts
  data/json/items/armor/integrated.json
  data/mods/extra_mut_scen/mutation_scenarios.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, new contributor, Mods: Extra Mutated Scenarios

#72820 [MoM] Snippetathon part 3
  data/mods/MindOverMatter/itemgroups/lore.json
  data/mods/MindOverMatter/items/files_and_post_it.json
  data/mods/MindOverMatter/mapgen/nested/skyscraper_lab_modular.json
  data/mods/MindOverMatter/snippets/snippets_fifth_sun.json
  data/mods/MindOverMatter/snippets/snippets_new.json
  data/mods/MindOverMatter/snippets/snippets_nightmares.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Lore, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73428 `src/debug_menu.cpp`: split functions from `void debug()`
  src/debug_menu.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73458 Container audit (mostly transparency)
  data/json/items/containers/containers.json
Labels: Game: Balance, [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#73437 Remove translate_ter
  data/json/mapgen/nested/aux_nested.json
  data/json/mapgen_palettes/ranch_camp.json
  data/json/npcs/Backgrounds/prepper_1.json
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
  data/json/npcs/tacoma_ranch/NPC_ranch_crop_overseer.json
  data/json/npcs/tacoma_ranch/NPC_ranch_foreman.json
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  data/mods/No_Hope/Mapgen/map_extras/mapgen_updates.json
  doc/MAPGEN.md
  src/mapgen.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Missions, Map / Mapgen, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, Mods: No Hope

#73431 Simplified dig/mine stairs code
  src/construction.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73426 ImGui: screens not reporting the proper window sizes
  src/cata_imgui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73406 fix veggy_pickled_fried component list
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#73405 Beast mutants can mutate quills
  data/json/mutations/mutations.json
Labels: <Enhancement / Feature>, [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#73401 LIXA, EOC variable name correction
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_missions.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#73449 Adds limb blocking to Biojutsu and Panzer Kunst
  data/json/martialarts_fictional.json
  data/mods/MMA/martialarts.json
Labels: Game: Balance, [JSON], Mods, Martial Arts, astyled, json-styled, BasicBuildPassed, Mods: MMA

#73400 Show NEW! in List Items menu
  src/debug_menu.cpp
  src/debug_menu.h
  src/game.cpp
  src/inventory_ui.cpp
  src/item_contents.cpp
  src/item_contents.h
  src/options.cpp
  src/uistate.h
Labels: Info / User Interface, [C++], <Bugfix>, Quality of Life, Items: Containers, astyled, json-styled, BasicBuildPassed, Mechanic: Pockets

#73376 Fix bug crashing access to Z=10 and enable access to the level.
  src/action.cpp
  src/editmap.cpp
  src/game.cpp
  src/lightmap.cpp
  src/ranged.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73403 Change color of 2 medical zombies
  data/json/monsters/zed-medical.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#73384 Fix combat exoskeleton prices
  data/json/items/armor/combat_exoskeleton.json
  data/json/items/armor/combat_exoskeleton_armor.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73360 Adds a new trait, Tiny Stomach
  data/json/bionics.json
  data/json/mutations/mutations.json
Labels: <Enhancement / Feature>, [JSON], Bionics, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#72938 Add perceived kwarg to pain_eval math function, apply it in Mind Over Matter
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
  doc/NPCs.md
  src/math_parser_diag.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/talker_monster.cpp
  src/talker_monster.h
Labels: <Documentation>, NPC / Factions, [JSON], Mods, [C++], Monsters, <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#73116 Introduce EMPTY_SPACE terrain flag
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/furniture_and_terrain/terrain-traps.json
  doc/JSON_FLAGS.md
  src/construction.cpp
  src/map.cpp
Labels: <Documentation>, [JSON], Crafting / Construction / Recipes, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#73259 Update psions_summon_items.json
  data/mods/MindOverMatter/items/psions_summon_items.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73279 [Sky Island] Upgrade central skylight missions and mapgen
  data/mods/Sky_Island/dialog_statue.json
  data/mods/Sky_Island/island_upgrades.json
  data/mods/Sky_Island/upgrade_missions.json
Labels: [JSON], Mods, Missions, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#73368 [MoM] Add scaling to Internal Fire
  data/mods/MindOverMatter/mutations/psi_passives.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73386 Fix obtain cost in reloading action, and a typo in item_handling_cost.
  src/character.cpp
  src/item_location.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73378 Fix plural names of exoskeletons
  data/json/items/armor/combat_exoskeleton.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73356 Aftershock: Augustmoon Outfitter
  data/mods/Aftershock/flags.json
  data/mods/Aftershock/itemgroups/clothing/armor_sets.json
  data/mods/Aftershock/itemgroups/clothing/military_gear.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor/civilian_blue_collar.json
  data/mods/Aftershock/items/armor/military_clothing.json
  data/mods/Aftershock/items/armor/pals_accesories.json
  data/mods/Aftershock/maps/mapgen/port_augustmoon/port_augustmoon_main.json
  data/mods/Aftershock/npcs/Augustmoon_Salvors/augustmoon_outfitter.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73342 Add Oversize Reinforced Cardboard Box
  data/json/items/containers/containers.json
  data/json/recipes/nested.json
  data/json/recipes/tools/containers.json
Labels: [JSON], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#73283 Audit Prices for Canning Pots and Workshop Toolbox
  data/json/items/generic/dining_kitchen.json
  data/json/items/tool/workshop.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73472 Restore lost constant
  src/construction.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73460 fix `game.h` typo
  src/game.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#73482 Revert "Bow reload time fix (#73305)"
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/character.h
  src/npcmove.cpp
  src/ranged.cpp
  src/turret.cpp
  tests/eoc_test.cpp
  tests/ranged_balance_test.cpp
  tests/reload_time_test.cpp
Labels: NPC / Factions, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#73487 Made army and USMC bayonets look like National Guard bayonets
  data/json/items/melee/swords_and_blades.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#73485 Remove redundant `unarmed_weapons_allowed` variable from martial art techs
  data/json/martialarts.json
  data/json/martialarts_fictional.json
  data/json/techniques.json
  doc/MARTIALART_JSON.md
  src/martialarts.cpp
  src/martialarts.h
Labels: <Documentation>, [JSON], [C++], [Markdown], Melee, Martial Arts, astyled, json-styled, BasicBuildPassed

#73464 [MoM] Tweak formula for gaining Observed so repeated channeling is the most important factor
  data/mods/MindOverMatter/effectoncondition/eoc_observed.json
  data/mods/MindOverMatter/effects/effects_nether_attunement.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#73462 [MoM] Contemplation doesn't require light
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/MindOverMatter/recipes/practice/electrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/photokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/pyrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telepathy_practice.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73457 Variantize card games
  data/json/itemgroups/activities_hobbies.json
  data/json/items/fluff.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/other/other.json
  data/json/recipes/recipe_deconstruction.json
  data/json/starting_missions.json
  data/mods/MindOverMatter/itemgroups/matrix_technology_labs.json
Labels: [JSON], Mods, Missions, Crafting / Construction / Recipes, Spawn, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73444 Not to try to set charges for item without charge.
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73412 [MoM] VERDANT HAND combat protocols rework
  data/mods/MindOverMatter/items/books.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/recipes/rituals.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73325 Adding the spell name to the casting wait thingy
  src/player_activity.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73183 Weekly Changelog 2024-04-15 to 2024-04-22
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#73233 Adding the Classless category to the spell selection window
  src/magic.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#73164 Re-writing ImTui (ImGui curses backend)
  .vscode/settings.json
  src/cata_imgui.cpp
  src/third-party/imtui/imtui-impl-ncurses.cpp
  src/third-party/imtui/imtui-impl-ncurses.h
  src/third-party/imtui/imtui-impl-text.cpp
  src/third-party/imtui/imtui-impl-text.h
  src/third-party/imtui/imtui.h
Labels: Info / User Interface, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, ImGui

#72553 typified place_spawns & add_spawn of map and tinymap
  src/coordinates.cpp
  src/coordinates.h
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/map_field.cpp
  src/mapgen.cpp
  src/monster.cpp
  src/start_location.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vpart_position.h
Labels: Map / Mapgen, Vehicles, [C++], Monsters, Fields / Furniture / Terrain / Traps, Scenarios, astyled, json-styled, BasicBuildPassed

#73473 Fix GCC 9: initialize to `nullptr`
  src/game.cpp
Labels: Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#73479 [MoM] Add better enchantments to some psionic overloads
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
  data/mods/MindOverMatter/effects/effects_penalty.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#73369 Weekly Changelog 2024-04-22 to 2024-04-29
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#73134 Migrate mission UI to imGUI
  src/avatar.cpp
  src/debug_menu.cpp
  src/mission_ui.cpp
  src/overmap_ui.cpp
Labels: Info / User Interface, Missions, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#73513 Fix opening doors while incorporeal
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73512 fix: Now moving all items will not move favourite items, if other items are present.
  src/advanced_inv.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73465 Add new hairstyles from Mawranth's Hair Salon
  data/json/effects_on_condition/item_eocs.json
  data/json/effects_on_condition/npc_eocs/appearance_eocs.json
  data/json/mutations/appearance_hair_styles.json
  data/json/mutations/mutation_ordering.json
  data/json/npcs/EOC_talkers/haircutting.json
  data/json/npcs/appearance_trait_groups.json
  tools/spell_checker/dictionary.txt
Labels: <Enhancement / Feature>, [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#73451 Make CZ 75 16 Round Mag Actually Hold 16 Rounds and Fix ID
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/10mm.json
  data/json/items/magazine/9mm.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  gfx/GiantDays/tile_config.json
  gfx/NeoDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  tests/ammo_set_test.cpp
Labels: [JSON], Mods, Items: Magazines, SDL: Tiles / Sound, Spawn, Code: Tests, [C++], <Bugfix>, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#73461 [MoM] Using psionics in or near the Nether is more powerful, but also more risky
  data/mods/MindOverMatter/effectoncondition/conditions_for_eocs.json
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_observed.json
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
  data/mods/MindOverMatter/effects/effects_nether_attunement.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#73420 ImGui popup: switch selected option when lower-case letter is pressed
  src/popup.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72790 [MoM] Fix Discern Weakness
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/clairsentience_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#73505 [MoM] recipe flags for contemplation
  data/mods/MindOverMatter/recipes/nether_attunement.json
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/MindOverMatter/recipes/practice/electrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/photokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/pyrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telepathy_practice.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
  data/mods/MindOverMatter/recipes/psionics_practice.json
  doc/JSON_FLAGS.md
  src/crafting.cpp
  src/crafting_gui.cpp
  src/melee.cpp
Labels: <Documentation>, Info / User Interface, [JSON], Mods, Crafting / Construction / Recipes, [C++], [Markdown], Melee, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73523 Fix anaerobic digester
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/chemicals_and_resources.json
  src/character_inventory.cpp
  src/iexamine.cpp
Labels: [JSON], [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#73522 Maps only highlight newly revealed OMTs
  src/iuse_actor.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#73475 add combat exoskeleton template to aftershock nanofab
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_manufactured.json
Labels: [JSON], Mods, <Bugfix>, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#73486 Update Ankle Wallet Pouch to Accommodate Larger Wallets
  data/json/items/armor/storage.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73488 Make dummies less dumb
  data/json/construction.json
  data/json/furniture_and_terrain/furniture-recreation.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#73476 Update description of mirror armor suits
  data/json/items/armor/torso_armor.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73533 Make pillbox_large's pockets transparent
  data/json/items/containers/containers.json
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#73545 Re-add generic cards, make the MoM Magician start with only generic cards
  data/json/items/fluff.json
  data/mods/MindOverMatter/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73540 Mesoamerican armor redux
  data/json/items/armor/helmets.json
  data/json/items/armor/torso_armor.json
  data/json/items/book/fabrication.json
  data/json/materials.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/torso.json
  data/json/recipes/weapon/bashing.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73532 Fix fridges dropping drinking glasses instead of glass shards
  data/json/itemgroups/appliances.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#73514 Fix invalid alpha talker error
  data/json/monsters/zed_lieutenant.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73527 No more foot locker material transmutation
  data/json/furniture_and_terrain/furniture-storage.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#73498 NPCs try not to throw their weapons
  src/cata_tiles.cpp
  src/npc.h
  src/npc_attack.cpp
  src/npcmove.cpp
  tests/npc_attack_test.cpp
Labels: NPC / Factions, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73503 Made inbounds use map parameters
  src/editmap.cpp
  src/map.cpp
  src/map.h
  src/vehicle_use.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#73529 [MoM] Jmathify and variable-ize power learning times
  data/mods/MindOverMatter/effectoncondition/eoc_game_initialization.json
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/jmath.json
  data/mods/MindOverMatter/obsolete/eocs.json
  data/mods/MindOverMatter/powers/learning_eocs/biokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/clairsentience.json
  data/mods/MindOverMatter/powers/learning_eocs/electrokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/photokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/pyrokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/telekinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/telepathy.json
  data/mods/MindOverMatter/powers/learning_eocs/teleportation.json
  data/mods/MindOverMatter/powers/learning_eocs/vitakinesis.json
  data/mods/MindOverMatter/recipes/proficiencies.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#73028 Allow Emitters to use vars
  doc/JSON_INFO.md
  src/emit.cpp
  src/emit.h
  src/map_field.cpp
Labels: <Documentation>, Bionics, Vehicles, [C++], Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#72413 Amphibian Additions Pt 5 - Dried Frogs
  data/json/effects.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/zombies.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed_misc.json
Labels: <Enhancement / Feature>, Info / User Interface, [JSON], Spawn, Monsters, <Bugfix>, Code: Infrastructure / Style / Static Analysis, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72114 Move XL/XS prefixes from base game to JSON tags. Part 1.
  data/json/flags.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/arms_armor.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_boots.json
  data/json/items/armor/bespoke_armor/custom_gloves.json
  data/json/items/armor/bespoke_armor/custom_headgear.json
  data/json/items/armor/bespoke_armor/custom_legs.json
  data/json/items/armor/bespoke_armor/custom_overcoats.json
  data/json/items/armor/bespoke_armor/cuttingroom.json
  data/json/items/armor/bespoke_armor/utility.json
  data/json/items/armor/boots.json
  data/json/items/armor/brigandine.json
  data/json/items/armor/coats.json
  data/json/items/armor/gambesons.json
  data/json/items/armor/gloves.json
  data/json/items/armor/head_attachments.json
  data/json/items/armor/helmets.json
  data/json/items/armor/hoods.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/swimming.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/tool_armor.json
  doc/JSON_FLAGS.md
Labels: <Documentation>, [JSON], <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Markdown], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73347 Add Recipe for Portable Soldering Iron
  data/json/recipes/tools/tools_electronic.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73176 Introduce camp z level construction
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_construction.json
  data/json/mapgen/basecamps/expansion/modular_livestock/version_2/modular_livestock_palettes.json
  doc/MAPGEN.md
  src/clzones.cpp
  src/debug_menu.cpp
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/mapgen.cpp
  src/mapgen.h
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/mapgenformat.cpp
  src/start_location.cpp
  tests/mapgen_helpers.cpp
Labels: <Documentation>, [JSON], Map / Mapgen, Crafting / Construction / Recipes, Code: Tests, [C++], [Markdown], Scenarios, astyled, json-styled, BasicBuildPassed

#73555 [Aftershock] Remove spaces in TALK_AUGUSTMOON_OUTFITTER chat topic
  data/mods/Aftershock/npcs/Augustmoon_Salvors/augustmoon_outfitter.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled

#73553 Atomic Smartphone Flashlight Fix
  data/mods/Aftershock/items/tools.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, new contributor

#73526 fix pupating nuclear detonation
  data/json/monster_special_attacks/spells.json
Labels: [JSON], <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#73129 Misc repair kit draws ammo from nearby player
  data/json/flags.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_trades.json
  data/json/itemgroups/tools.json
  data/json/items/tool/workshop.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/godco/classes.json
  data/json/npcs/items_generic.json
  data/json/vehicles/helicopters.json
  src/activity_handlers.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
Labels: [JSON], Spawn, [C++], <Bugfix>, astyled, BasicBuildPassed, new contributor

#71969 Vegetable Audit
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/drink_other.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/soup.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/generic/dining_kitchen.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/food/canned.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/seed.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  data/json/uncraft/comestibles/vegetable.json
  data/mods/TEST_DATA/known_bad_density.json
  tests/iteminfo_test.cpp
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#73524 Fingerless Wool Gloves
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/armor/gloves.json
  data/json/recipes/armor/hands.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73566 fix arithmetical error crash
  src/display.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#73565 Monster enchantments set bonus speed, not base
  src/monster.cpp
Labels: [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#73452 Add Surgical Cart Vehicle
  data/json/mapgen/hospital.json
  data/json/mapgen/nursing_home.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/veterinarian.json
  data/json/mapgen_palettes/hospital.json
  data/json/mapgen_palettes/nursing_home_palette.json
  data/json/mapgen_palettes/office_doctor.json
  data/json/requirements/vehicle.json
  data/json/vehicleparts/cargo.json
  data/json/vehicles/carts.json
Labels: [JSON], Map / Mapgen, Vehicles, astyled, json-styled, BasicBuildPassed

#73577 Fix bandit farm moat
  data/json/mapgen/hells_raiders/bandit_work_camp.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#73568 typified lightmap
  src/avatar.cpp
  src/avatar.h
  src/cata_tiles.cpp
  src/character.cpp
  src/creature.cpp
  src/editmap.cpp
  src/explosion.cpp
  src/game.cpp
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/monster.cpp
  src/player_hardcoded_effects.cpp
  src/ranged.cpp
  src/shadowcasting.cpp
  src/shadowcasting.h
  src/suffer.cpp
  tests/char_sight_test.cpp
  tests/map_test_case.cpp
  tests/monster_attack_test.cpp
  tests/shadowcasting_test.cpp
Labels: Map / Mapgen, Code: Tests, [C++], Monsters, astyled, json-styled, BasicBuildPassed

#73064 Unhardcode and limbify attack vectors take two: Electric boogaloo
  data/json/attack_vectors.json
  data/json/bionics.json
  data/json/body_parts.json
  data/json/items/armor/integrated.json
  data/json/martialarts_fictional.json
  data/json/mutations/mutation_techs.json
  data/json/mutations/mutations.json
  data/json/techniques.json
  data/mods/Limb_WIP/mutations/mutation_limbs.json
  data/mods/Limb_WIP/mutations/mutation_techs.json
  data/mods/Limb_WIP/mutations/mutation_vectors.json
  data/mods/MMA/techniques.json
  data/mods/Magiclysm/items/armor.json
  data/mods/Magiclysm/items/integrated.json
  data/mods/Magiclysm/mutations/mutations.json
  data/mods/Magiclysm/techniques.json
  data/mods/Magiclysm/techniques_fantasy_species.json
  data/mods/Magiclysm/traits/temporary_demon_traits.json
  data/mods/TEST_DATA/body_parts.json
  data/mods/TEST_DATA/martialarts.json
  data/mods/Xedra_Evolved/techniques.json
  doc/JSON_FLAGS.md
  doc/MARTIALART_JSON.md
  doc/MUTATIONS.md
  src/bodypart.cpp
  src/bodypart.h
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/character_martial_arts.h
  src/init.cpp
  src/item.cpp
  src/martialarts.cpp
  src/martialarts.h
  src/melee.cpp
  src/subbodypart.cpp
  src/subbodypart.h
  src/talker_character.cpp
  src/type_id.h
  tests/martial_art_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Mods, Bionics, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], [Markdown], Melee, Mods: Magiclysm, Martial Arts, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Limbs, Mods: MMA, Mods: Xedra Evolved

#73576 [Sky Island] Fix rock outside of windows
  data/mods/Sky_Island/island_upgrades.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#73574 Fix fake obstacle parts, duplicated fake parts
  data/mods/TEST_DATA/vehicle.json
  src/vehicle.cpp
  src/vehicle.h
  src/vpart_position.h
  tests/vehicle_fake_part_test.cpp
Labels: [JSON], Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#73569 [MoM] Rework Passive traits to use spell_level_sum
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_mutations.json
  data/mods/MindOverMatter/mutations/psi_passives.json
  data/mods/MindOverMatter/recipes/power_improvements.json
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [Markdown], astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#73573 Update coats.json (Coyote Combat Jacket)
  data/json/items/armor/coats.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, new contributor

#73554 Fixing issue where Android gesture inputs were broken
  src/cata_imgui.cpp
  src/cata_imgui.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73564 Added to greater dimensional bag to enchanted_misc item group
  data/mods/Magiclysm/itemgroups/itemgroups.json
Labels: [JSON], Mods, Spawn, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#73537 Add Skunks!
  data/json/effects.json
  data/json/harvest.json
  data/json/items/generic/skulls.json
  data/json/monster_special_attacks/spells.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/mammal.json
Labels: [JSON], Spawn, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#73558 Fix stamina regains when dodging
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73563 Debug menu monster editing
  src/creature.cpp
  src/creature.h
  src/debug_menu.cpp
  src/debug_menu.h
  src/wish.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#73572 clang-tidy
  src/npcmove.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72514 Use wash interface to remake a batch heat items menu
  data/json/item_actions.json
  data/json/items/armor/helmets.json
  data/json/items/containers/containers.json
  data/json/items/generic.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/resources/wood.json
  data/json/items/tool/container.json
  data/json/items/tool/cooking.json
  data/json/items/tool/firefighting.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/items/vehicle/plating.json
  data/json/player_activities.json
  data/json/tool_qualities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_factory.cpp
  src/iuse.cpp
  src/iuse.h
Labels: Info / User Interface, [JSON], Mods, [C++], <Bugfix>, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73594 Fix a typo in a few combat exoskeleton descriptions
  data/json/items/armor/combat_exoskeleton.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73357 Aftershock: Audit mod gun sizes
  data/mods/Aftershock/items/gun/laser.json
  data/mods/Aftershock/items/gun/plasma.json
  data/mods/Aftershock/items/tools.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#73591 Clamp metabolism enchantment to prevent lag
  src/consumption.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73588 damaged appiance-items remain damaged when transformed to appliance and back
  src/iuse_actor.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#73539 Weekly Changelog 2024-04-29 to 2024-05-06
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#73556 Fix Character::i_add_or_drop
  src/character_inventory.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73518 [MoM] Mindhunter scenario
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/enchantments/enchantments_baneful.json
  data/mods/MindOverMatter/monsters/monster_overrides.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
  data/mods/MindOverMatter/scenarios.json
Labels: [JSON], Mods, Monsters, Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#73613 Fix Dummy Typo I Forgot About
  data/json/items/generic.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#73463 Create a new EoC function for checking if NPC follower is present
  data/json/npcs/exodii/common_talk.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_talk.json
  src/condition.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], [C++], <Bugfix>, astyled, json-styled, EOC: Effects On Condition

#56153 [Aftershock] Bounty hunter scenario
  data/mods/Aftershock/items/ammo/needle.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/items/gun/needle.json
  data/mods/Aftershock/items/inactiverobot.json
  data/mods/Aftershock/items/magazine/needle.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/mapgen/gunship.json
  data/mods/Aftershock/maps/mapgen/map_palletes.json
  data/mods/Aftershock/maps/overmap_locations.json
  data/mods/Aftershock/maps/overmap_map_extras.json
  data/mods/Aftershock/missions/bounty_hunter_missions.json
  data/mods/Aftershock/mobs/monster_faction.json
  data/mods/Aftershock/mobs/monster_groups/robot_monster_groups.json
  data/mods/Aftershock/mobs/scavbots.json
  data/mods/Aftershock/region_settings.json
  data/mods/Aftershock/scenarios.json
  data/mods/Aftershock/spells.json
  data/mods/Aftershock/ter_fur_transform.json
  data/mods/aftershock_exoplanet/setting_blacklists/scenario_blacklist.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Missions, Map / Mapgen, [C++], Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Scenarios, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, EOC: Effects On Condition

#73615 Build emscripten after matrix build.
  .github/workflows/emscripten.yml
  .github/workflows/matrix.yml
Labels: Code: Build, Code: Tooling, astyled, json-styled

#73604 Require confirmation for camp placement
  src/faction_camp.cpp
Labels: [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#73596 Don't require parts to be unbroken for fake part generation
  src/vehicle.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#73579 No magic dissectables
  src/monster.cpp
  src/monster.h
Labels: [C++], Monsters, astyled, json-styled, BasicBuildPassed

#73492 Recalculate weight when inventory changes due to pet carrier use
  src/iuse.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73455 Graphical construction preview
  src/action.cpp
  src/action.h
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/construction.cpp
  src/map.cpp
  src/map.h
  src/sdltiles.cpp
Labels: <Enhancement / Feature>, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#73616 Fixing issue where CJK text draws just a couple pixels too high on ImGui
  src/cata_imgui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled

#73313 Fixed items placed in condoms when spawned on zombie corpses
  data/json/ascii_art/containers/containers.json
  data/json/itemgroups/Clothing_Gear/wallets.json
  data/json/items/containers/containers.json
  data/json/recipes/chem/other.json
  data/json/recipes/other/medical.json
  data/json/requirements/materials.json
  data/mods/MindOverMatter/items/clothing/wallets.json
  data/mods/innawood/recipes/chem_other.json
Labels: [JSON], Mods, Spawn, <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲, Mods: Mind Over Matter, new contributor

#73466 Add `weight_on_wheels` method
  src/vehicle.cpp
  src/vehicle.h
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73599 Make Cat's Grace and Ogre Strength mutually exclusive
  data/mods/Magiclysm/effects/effects.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#73589 [Bombastic Perks] More perks
  data/mods/BombasticPerks/perkdata/early_to_rise.json
  data/mods/BombasticPerks/perkdata/firstest_aid.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
  doc/MAGIC.md
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#73560 Fix carving knife being defined as a bread knife
  data/json/items/melee/knives_kitchen.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#73586 Use ncurses accessor macros
  src/third-party/imtui/imtui-impl-ncurses.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed, ImGui

#73632 [bugfix] krakens swim
  data/json/monsters/kraken_spawn.json
Labels: [JSON], <Bugfix>, astyled, json-styled, 0.H Backport

#73624 Can order followers to go to player's current destination
  src/npctalk_funcs.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [C++], Quality of Life, astyled, json-styled, BasicBuildPassed

#73317 Added construction of roofs
  data/json/construction.json
  data/json/construction_group.json
  doc/JSON_INFO.md
  src/construction.cpp
Labels: <Documentation>, [JSON], Crafting / Construction / Recipes, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#73414 Adding support for drawing CJK characters with ImTui
  src/cata_imgui.cpp
  src/cata_imgui.h
  src/third-party/imgui/imgui.h
  src/third-party/imgui/imgui_draw.cpp
  src/third-party/imtui/imtui-impl-ncurses.cpp
  src/third-party/imtui/imtui-impl-text.cpp
  src/third-party/imtui/imtui.h
Labels: <Enhancement / Feature>, Info / User Interface, [C++], <Bugfix>, astyled, json-styled, ImGui

#73504 Rename world creation "Spawn Time Options" to "World Time Options"
  src/options.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73528 Fish fry & tadpole minor audit
  data/json/monsters/fish.json
  data/json/monsters/reptile_amphibian.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#73547 Fix integrated armor being incompatible with some mutations
  doc/JSON_FLAGS.md
  src/character_attire.cpp
  src/iuse_actor.cpp
Labels: <Documentation>, [JSON], [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#73571 Add molle accessories to webbing belt
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/custom_lbvs.json
  data/json/mapgen_palettes/mil_surplus.json
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie_naval_personnel.json
  data/json/professions.json
Labels: [JSON], Spawn, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#73590 make the game faster when player sleep near the tree
  src/lightmap.cpp
Labels: Code: Performance, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#73600 Skunk Spray Neutralizer
  data/json/effects.json
  data/json/items/comestibles/med.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#73607 Test to ensure unconditional and conditional nest placement works
  data/mods/TEST_DATA/nest_conditional_placement_test.json
  tests/nest_conditional_placement_test.cpp
Labels: [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#73610 Resume butchering
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/game.cpp
Labels: <Enhancement / Feature>, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed
