Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2024-03, with the labels that each got.

#72076 Imgui keybindings UI mouse broken
  src/cata_imgui.cpp
  src/input_context.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72054 [Magiclysm] Parabolan wool gambesons
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/enchanted_clothes.json
  data/mods/Magiclysm/items/generic.json
  data/mods/Magiclysm/materials.json
  data/mods/Magiclysm/npc/TALK_FORGE_MERCHANT.json
  data/mods/Magiclysm/recipes/tailoring.json
Labels: [JSON], Mods, Spawn, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#71948 [Magiclysm] Boosts spell leveling by cast
  data/mods/Magiclysm/eoc_spell_learn_boost.json
Labels: Game: Balance, [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, new contributor

#72074 Fixing an imgui-related crash related to debug errors
  src/ui_manager.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72025 Add Hair Dye
  data/json/effects_on_condition/npc_eocs/appearance_eocs.json
  data/json/itemgroups/supplies.json
  data/json/items/resources/chemicals.json
  data/json/items/tool/toiletries.json
  data/json/mapgen/barber_shop.json
  data/json/recipes/tools/tool.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#71949 fix keybinding name when unbound globaly
  src/input_context.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#72034 Port some mutation/cbm specific fields to enchantments
  data/json/enchantments.json
  data/json/mutations/cybernetic_traits.json
  data/json/mutations/mutations.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/mutations/obsolete.json
  data/mods/Defense_Mode/mod_interactions/BombasticPerks/perks.json
  data/mods/Defense_Mode/npcs.json
  data/mods/DinoMod/mutations/mutations.json
  data/mods/Limb_WIP/enchantments.json
  data/mods/Limb_WIP/mutations/mutations.json
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/mutations/mutation_enchantments.json
  data/mods/Magiclysm/mutations/mutations.json
  data/mods/Magiclysm/mutations/temporary.json
  data/mods/Magiclysm/traits/attunements.json
  data/mods/Magiclysm/traits/manatouched.json
  data/mods/Magiclysm/traits/temporary_demon_traits.json
  data/mods/MindOverMatter/mutations/psi_passives.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutations.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/mutations.json
  doc/MUTATIONS.md
  src/character.cpp
  src/melee.cpp
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/newcharacter.cpp
  src/npctalk.cpp
  src/weather.cpp
  tests/move_cost_test.cpp
  tests/water_movement_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], [Markdown], Melee, Character / World Generation, Mechanics: Weather, Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, Mods: Xedra Evolved, Mods: Mind Over Matter

#72049 [MoM] Update Speed Reader to use READING_SPEED_MULTIPLIER enchantment
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/enchantments/enchantments_player.json
  data/mods/MindOverMatter/mutations/temporary.json
  data/mods/MindOverMatter/obsolete/enchantments.json
  data/mods/MindOverMatter/obsolete/temporary.json
  data/mods/MindOverMatter/powers/clairsentience_concentration_eocs.json
Labels: <Documentation>, [JSON], Mods, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72048 Fixing an ImGui issue where static popups draw at the center of the screen
  src/popup.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72039 New mutation field "override_look" that allows the character to have the appearance of a monster.
  doc/MUTATIONS.md
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/character.cpp
  src/character.h
  src/mutation.h
  src/mutation_data.cpp
  src/newcharacter.cpp
Labels: <Enhancement / Feature>, <Documentation>, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], Character / World Generation, astyled, json-styled, BasicBuildPassed

#72078 [Xedra Evolved] Update Verdant Armor with new enchantments
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/effects_hidden_flag.json
  data/mods/Xedra_Evolved/enchantments/armor.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#71992 Flooded Basements Part:1
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/mapgen/house/house15.json
  data/json/mapgen/house/house34.json
  data/json/mapgen/house/house_garage.json
  data/json/mapgen/house/house_rv.json
  data/json/mapgen/house/house_w_1.json
  data/json/mapgen_palettes/basement.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#71964 Create splash attacks and give them to Boomers
  data/json/effects.json
  data/json/effects_on_condition/effects_eocs.json
  data/json/flags.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monster_special_attacks/spells.json
  data/json/monsters/zed_explosive.json
  data/json/mutations/mutations.json
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/creature.h
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/morale.cpp
  src/morale.h
Labels: <Enhancement / Feature>, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#71951 Remove odd .30-06 ammo spawn from radio_tower_2x2_map variant
  data/json/mapgen/radio_tower.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#71917 Camps are faction-agnostic (not just linked to player faction)
  src/basecamp.cpp
  src/basecamp.h
  src/character.h
  src/faction_camp.cpp
  src/savegame_json.cpp
  tests/faction_camp_test.cpp
Labels: Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#71702 [BombasticPerks] A new playstyle perk: Enchanting Master
  data/json/starting_missions.json
  data/mods/BombasticPerks/perkdata/enchanting_master/blazing.json
  data/mods/BombasticPerks/perkdata/enchanting_master/chilling.json
  data/mods/BombasticPerks/perkdata/enchanting_master/corrupting.json
  data/mods/BombasticPerks/perkdata/enchanting_master/grim.json
  data/mods/BombasticPerks/perkdata/enchanting_master/kinetic.json
  data/mods/BombasticPerks/perkdata/enchanting_master/lucky.json
  data/mods/BombasticPerks/perkdata/enchanting_master/main_ench_on_hit_effect.json
  data/mods/BombasticPerks/perkdata/enchanting_master/main_ench_selector.json
  data/mods/BombasticPerks/perkdata/enchanting_master/projecting.json
  data/mods/BombasticPerks/perkdata/enchanting_master/shocking.json
  data/mods/BombasticPerks/perkdata/enchanting_master/vampiric.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
  doc/EFFECT_ON_CONDITION.md
  doc/JSON_INFO.md
  doc/NPCs.md
  lang/string_extractor/parsers/effect.py
  lang/string_extractor/parsers/json_flag.py
  src/condition.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/item.h
  src/item_tname.cpp
  src/item_tname.h
  src/npctalk.cpp
  src/talker.h
  src/talker_item.cpp
  src/talker_item.h
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, Translation, [JSON], Mods, Missions, [C++], [Markdown], Scenarios, [Python], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Bombastic Perks

#70264 JSONize hardcoded hair trimming functions
  data/json/effects_on_condition/item_eocs.json
  data/json/item_actions.json
  data/json/items/tool/toiletries.json
  data/json/npcs/EOC_talkers/haircutting.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
  src/item_factory.cpp
  src/iuse.cpp
Labels: NPC / Factions, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72084 Routine tileset updates on 01 March 2024
  gfx/ASCII_Overmap/ASCIITiles.png
  gfx/ASCII_Overmap/tile_config.json
  gfx/Altica/fillerhoder.png
  gfx/Altica/huge.png
  gfx/Altica/human_body_plus.png
  gfx/Altica/large.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/filler.png
  gfx/ChibiUltica/fillerhoder.png
  gfx/ChibiUltica/huge.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/incomplete.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/normal_2x.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tall_2x.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/fillerhoder.png
  gfx/UltimateCataclysm/huge.png
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#72080 [MoM] Update learning EoCs to reuse condition list
  data/mods/MindOverMatter/powers/learning_eocs/biokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/clairsentience.json
  data/mods/MindOverMatter/powers/learning_eocs/electrokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/overall.json
  data/mods/MindOverMatter/powers/learning_eocs/photokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/pyrokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/telekinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/telepathy.json
  data/mods/MindOverMatter/powers/learning_eocs/teleportation.json
  data/mods/MindOverMatter/powers/learning_eocs/vitakinesis.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72096 Remove Lemmy Mention
  data/motd/en.motd
Labels: astyled, json-styled

#72100 move doc to .h from .cpp
  src/debug_menu.h
  src/wish.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#72038 Made grapeade drink mix actually make grapeade.
  data/json/items/comestibles/fruit_dishes.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72064 Less repeatedly spawning item groups when checking consistency
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72098 ImGui popups with buttons not showing text
  src/popup.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72119 fixed mill milling recipes
  data/json/recipes/food/milling.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72115 Ability to disassemble flags into sheets + fix cotton sheet yield from regular sheet
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#72045 Reset user customized `*` actions to default keybindings
  data/raw/keybindings.json
  src/input.cpp
  src/input.h
  src/input_context.cpp
  src/input_context.h
Labels: Info / User Interface, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72105 Update nutrients struct to store calories as a 64-bit integer
  src/stomach.cpp
  src/stomach.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#72121 pch: remove pragma once
  pch/main-pch.hpp
  update-pch.sh
Labels: astyled, json-styled, BasicBuildPassed

#72104 [Xedra Evolved] More Salamander and Ierde powers
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/monsters/elementals.json
  data/mods/Xedra_Evolved/monsters/monster_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_spell_learning_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#72113 Collapsed telescoping umbrella doesn't feel uncomfortable when worn
  data/json/items/tool/misc.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72083 [Magiclysm] Update goblin teeth and lizardfolk muzzle to techniques
  data/mods/Magiclysm/items/integrated.json
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/techniques_fantasy_species.json
  data/mods/Magiclysm/traits/fantasy_species.json
Labels: [JSON], Mods, Melee, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#72018 Test cases for player's morale after killing an NPC
  tests/morale_test.cpp
Labels: Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#71979 Weekly Changelog 2024-02-19 to 2024-02-26
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#72120 jmath: don't allow shadowing of built-in functions
  data/mods/Magiclysm/eoc_spell_learn_boost.json
  data/mods/Xedra_Evolved/jmath.json
  doc/NPCs.md
  src/math_parser_diag.cpp
  src/math_parser_jmath.cpp
  src/math_parser_jmath.h
Labels: <Documentation>, NPC / Factions, [JSON], Mods, [C++], [Markdown], Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#72089 Split vehicle part wheel_caster into small and large variants
  data/json/items/vehicle/wheel.json
  data/json/recipes/recipe_vehicle.json
  data/json/vehicleparts/wheel.json
  data/json/vehicles/carts.json
  tests/submap_load_test.cpp
Labels: [JSON], Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#72128 Ritual Circles Work
  src/magic.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#71970 Preparation for using typed tripoints consistently
  src/faction_camp.cpp
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/map_extras.h
  src/mapgen.cpp
  src/mapgen.h
  src/mapgen_functions.cpp
  src/mapgen_functions.h
  src/start_location.cpp
  tests/map_extra_test.cpp
  tests/mapgen_helpers.cpp
  tests/vehicle_split_test.cpp
Labels: Map / Mapgen, Vehicles, Code: Tests, [C++], <Bugfix>, Scenarios, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#72133 [Xedra Evolved] Add GLARE quality to Salamander eyes
  data/mods/Xedra_Evolved/items/armor/integrated.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#72009 Limestone audit
  data/json/items/chemicals_and_resources.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#72143 [Xedra Evolved] Add animal friendship traits to Ierde, Undine, and Arvore
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#72144 [MoM] Fix Far Hand's range
  data/mods/MindOverMatter/powers/telekinesis.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72139 Reorder some clang-tidy checks in .clang-tidy
  .clang-tidy
Labels: Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#72135 [XEDRA] Add Homullus mutations
  data/json/flags.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/mod_interactions/BombasticPerks/perks/perk_data/Alchemy1.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/player/professions.json
  src/bionics.cpp
  src/game_inventory.cpp
  src/iuse_actor.cpp
Labels: [JSON], Mods, Bionics, Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#72117 Permanent marker weight reduction
  data/json/items/tool/misc.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: Game: Balance, [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed, new contributor

#71975 Zoo revamp
  data/json/itemgroups/zoo.json
  data/json/mapgen/zoo.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/mods/alt_map_key/overmap_terrain.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72081 [Magiclysm] Update Cloak of Elvenkind to use new enchantments
  data/mods/Magiclysm/items/enchanted_cloaks.json
  data/mods/Magiclysm/mutations/temporary.json
  data/mods/Magiclysm/obsolete/eocs.json
  data/mods/Magiclysm/obsolete/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72164 Update the standard building palette
  data/json/mapgen/library.json
  data/json/mapgen/s_clothing.json
  data/json/mapgen/s_fabricstore.json
  data/json/mapgen_palettes/building.json
Labels: [JSON], Map / Mapgen, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#72171 Add the option to open the ImGui demo from the main menu for debugging
  src/cata_imgui.cpp
  src/cata_imgui.h
  src/main_menu.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#71012 [Xedra Evolved] Hedge magic
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/items/ammo.json
  data/mods/Xedra_Evolved/items/ammo_type.json
  data/mods/Xedra_Evolved/items/hedge_magic_items.json
  data/mods/Xedra_Evolved/mutations/classes.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_eocs.json
  data/mods/Xedra_Evolved/player/professions.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/hedge_magic_eocs.json
  data/mods/Xedra_Evolved/spells/hedge_magic_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Items: Ammo / Guns, stale, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#72166 docs on compiling: friendlier to first-time contributors
  doc/COMPILING/COMPILING-CMAKE.md
  doc/COMPILING/COMPILING-CYGWIN.md
  doc/COMPILING/COMPILING-MSYS.md
  doc/COMPILING/COMPILING-VS-VCPKG.md
  doc/CONTRIBUTING.md
  doc/USER_INTERFACE_AND_ACCESSIBILITY.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#72176 Fix robot lor reference
  doc/Lore/technology.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#72186 Revert #71460 Altered Mindstates partially resist Flaming Eyes
  data/json/monster_special_attacks/spells.json
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
Labels: [JSON], Mechanics: Enchantments / Spells, astyled, json-styled

#72151 Small mapgen fix
  data/json/mapgen/farm_horse.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#72092 Limb Armor Fun Part 2: Sublimb substitution
  doc/JSON_INFO.md
  src/item_factory.cpp
  tests/limb_test.cpp
Labels: <Documentation>, Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, Limbs

#72161 do not scope creep!
  .github/pull_request_template.md
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#72178 higher "parasites" actually means lower chance of parasites
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/other.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#71961 Item faults
  data/json/faults/faults_electronic.json
  data/json/faults/faults_water.json
  src/avatar_action.cpp
  src/explosion.cpp
  src/fault.cpp
  src/fault.h
  src/game.cpp
  src/item.cpp
  src/item.h
  tests/item_test.cpp
  tools/spell_checker/dictionary.txt
Labels: Game: Balance, [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, new contributor

#72190 NPCs are better at finding places to sleep, heavily prefer real beds
  src/character.cpp
  src/npc.h
  src/npcmove.cpp
Labels: Game: Balance, NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72163 Partially revert Seasonal Mutation EOCs #69591 by @fairyarmadillo
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/items/comestibles/seed.json
  data/json/obsoletion_and_migration_0.I/obsolete_furniture.json
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/map.cpp
Labels: [JSON], [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72207 Fix MSVC release build translations compilation
  .github/workflows/release.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#72196 Added 3-finger gestures to Android
  src/sdltiles.cpp
Labels: <Enhancement / Feature>, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72194 Fix item group birthdays
  src/npctalk.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72177 Paper wrapper should have tinder flag
  data/json/items/containers/containers.json
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#72168 Re-tweak one sentence in last delivery mission
  data/json/starting_missions.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#72167 (Fix for tests) Assign valid IDs to NPCs used during testing
  src/avatar.cpp
  src/npc.cpp
Labels: NPC / Factions, [JSON], Missions, [C++], astyled, json-styled, BasicBuildPassed

#72206 Some more mapgen fixes
  data/json/mapgen/house/bungalow02.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#72202 use item/tname instead of its raw name (nname) in recipe menu
  src/item.cpp
  src/item.h
  src/item_tname.h
  src/recipe.cpp
  src/requirements.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#72197 [MOM] Remove left over learn_spell from Intuitive Artisan
  data/mods/MindOverMatter/powers/clairsentience.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72200 [Magiclysm] Remove trailing space in Aquatic Mantle's name
  data/mods/Magiclysm/Spells/druid.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72165 Enhanced debug backpack to carry liquids/gasses, utility use_action
  data/json/items/armor/storage.json
  src/debug_menu.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#72142 Faults can modify the price of an item
  data/json/faults/faults_bionics.json
  data/json/faults/faults_vehicles.json
  doc/JSON_INFO.md
  src/fault.cpp
  src/fault.h
  src/item.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Bionics, Vehicles, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#72132 Mutation list computer function
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_mutagen.json
  src/computer.cpp
  src/computer.h
  src/computer_session.cpp
  src/computer_session.h
Labels: [JSON], Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#72127 Code clearing window was using global font instead of the font actual…
  src/sdltiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#72199 fix birdsot ammo in beanbag can
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_shot.json
  data/json/items/containers/military.json
Labels: [JSON], Spawn, Items: Ammo / Guns, astyled, json-styled

#72072 Fix several issues of NPC movement
  src/npc_attack.cpp
  src/npcmove.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#72021 NPCs use their indoor voices when not in danger
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/sounds.cpp
Labels: Game: Balance, NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#72189 [Xedra Evolved] Add goblin fruit map special
  data/mods/Xedra_Evolved/furniture_and_terrain/terrain-flora.json
  data/mods/Xedra_Evolved/harvest.json
  data/mods/Xedra_Evolved/items/comestibles/goblin_fruits.json
  data/mods/Xedra_Evolved/mapgen/map_extras.json
  data/mods/Xedra_Evolved/regional_overlay.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#72174 Changed neoprene patch price from 100 to 5. Resolves issue #71813
  data/json/items/generic.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#72205 [Xedra Evolved] Add Homullus mutations
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_spell_learning_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#72222 NPCs will prioritize wielding ranged weapons when allowed.
  src/npcmove.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#72106 Port some mutation/cbm specific fields to enchantments, part 2
  data/json/bionics.json
  data/json/flags.json
  data/json/items/armor/suits_protection.json
  data/json/items/tool_armor.json
  data/json/mutations/cybernetic_traits.json
  data/json/mutations/mutation_item_traits.json
  data/json/mutations/mutations.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/mutations/obsolete.json
  data/mods/BombasticPerks/perks.json
  data/mods/Defense_Mode/mod_interactions/BombasticPerks/perks.json
  data/mods/DinoMod/mutations/mutations.json
  data/mods/Magiclysm/items/enchanted_belts.json
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/mutations/mutations.json
  data/mods/Magiclysm/mutations/temporary.json
  data/mods/Magiclysm/obsolete/mutations.json
  data/mods/MindOverMatter/obsolete/temporary.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutations.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/mutations.json
  doc/ARMOR_BALANCE_AND_DESIGN.md
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  doc/MAGIC.md
  doc/MUTATIONS.md
  src/bionics.cpp
  src/bionics.h
  src/character.cpp
  src/character_attire.cpp
  src/character_attire.h
  src/consumption.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/item_location.cpp
  src/itype.h
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/melee.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/ranged.cpp
  src/stomach.cpp
  src/widget.cpp
  tests/cardio_test.cpp
  tests/char_biometrics_test.cpp
  tests/wield_times_test.cpp
Labels: <Documentation>, Info / User Interface, [JSON], Mods, Bionics, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], [Markdown], Melee, Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Game: Defense Mode, Mods: Xedra Evolved, Mods: Bombastic Perks, Mods: Mind Over Matter

#72227 make amigara death drop stuff near the character
  data/json/effects_on_condition/misc_effect_on_condition.json
  data/json/mapgen/nested/aux_nested.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72172 Revert #69555
  data/json/effects.json
  data/json/effects_on_condition/misc_effect_on_condition.json
  data/json/effects_on_condition/mutation_eocs/mutation_effect_eocs.json
  data/json/field_type.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/items/armor/eyewear.json
  data/json/obsoletion_and_migration_0.I/obsolete_effect.json
  data/json/obsoletion_and_migration_0.I/obsolete_eoc.json
  data/mods/CrazyCataclysm/crazy_effect_on_condition.json
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_body.cpp
  src/creature.cpp
  src/creature.h
  src/iuse.cpp
  src/monattack.cpp
  src/monster.cpp
Labels: [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, [C++], Monsters, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition

#72235 Fixed a crash with ImTui on a fresh CDDA install
  src/color_loader.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72221 [MOM] Fix: Intuitive artisan does nothing
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/mutations/temporary.json
  data/mods/MindOverMatter/powers/clairsentience_concentration_eocs.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72218 mom: wield your crystals *today*
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72216 mom: minor typos
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/telepathy.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72231 [Xedra Evolved] Fix Arvore Commune with Nature scaling + add standard jmath post-threshold doubling
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#72079 [Bombastic Perks] Add more perks
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#72116 build with -DIMGUI_DISABLE_OBSOLETE_KEYIO
  Makefile
  msvc-full-features/Cataclysm-common.props
  src/third-party/CMakeLists.txt
Labels: Code: Build, <Bugfix>, astyled, json-styled, BasicBuildPassed

#72063 LIXA 2: Son of LIXA
  data/json/effects_on_condition/nether_eocs/LIXA_EOCs_spells_traps.json
  data/json/field_type.json
  data/json/flags.json
  data/json/furniture_and_terrain/LIXA_furniture_and_terrain.json
  data/json/items/fluff.json
  data/json/items/id_cards.json
  data/json/mapgen/LIXA_mapgen.json
  data/json/mapgen_palettes/LIXA_mapgen_palette.json
  data/json/monsters/LIXA_monsters.json
  data/json/npcs/LIXA_talk.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_LIXA.json
  data/json/snippets/LIXA_snippets.json
Labels: [JSON], Map / Mapgen, Monsters, Fields / Furniture / Terrain / Traps, Lore, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72225 Aftershock: Fix the escape pod sequence (Once and for all?)
  data/mods/Aftershock/maps/crashing_ship.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_spaceship.json
  data/mods/Aftershock/maps/ter_furn_transforms.json
  data/mods/Aftershock/npcs/computers/escape_pod_control.json
Labels: [JSON], Mods, <Bugfix>, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, 0.H Backport

#72247 Fix mutant child's description
  data/json/monsters/mutant.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72245 Update robofac_gun do looks like FN P90
  data/json/items/gun/robofac_gun.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#72236 [Xedra Evolved] More homullus traits
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/morale_types.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_spell_learning_eocs.json
  doc/JSON_FLAGS.md
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#72214 Innawoods Iimestone Audit
  data/mods/innawood/recipes/other/materials.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#72211 [MoM] Allow portal storm scars to spawn on roads, in farm fields, and in subways
  data/mods/MindOverMatter/overmap/regional_overlay.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72260 String update "sand casting mold" to "sandcasting mold" for consistency
  data/json/items/tool/metalworking.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72256 add 60L tank recipe based on 100L tank
  data/json/recipes/tools/containers.json
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#72228 Allow hobbies to grant bionics
  src/character.h
  src/newcharacter.cpp
Labels: <Enhancement / Feature>, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#72191 [Magiclysm] Transparent heartwood
  data/mods/Magiclysm/furniture_and_terrain/terrain_druid.json
Labels: [JSON], Mods, <Bugfix>, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#72248 Set terrain memory cache to dirty when setting terrain
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72230 Summoned Creature Kill Credit
  src/creature.cpp
  src/creature.h
  src/magic_spell_effect.cpp
  src/monster.cpp
Labels: <Enhancement / Feature>, [C++], Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72226 port _ALPHA and INT_SLIME mutations to json
  data/json/mutations/mutation_jmath.json
  data/json/mutations/mutations.json
  doc/NPCs.md
  src/mutation.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#72257 [XEDRA Evolved] Add ARMOR_ALL enchantment and use it in two new Homullus mutations
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  doc/MAGIC.md
  src/character_armor.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/monster.cpp
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Monsters, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#72240 docs: clarify parasites property in JSON_INFO
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#72173 Port some mutation/cbm specific fields to enchantments, part 3
  data/json/mutations/mutations.json
  data/json/obsoletion_and_migration_0.I/obsolete_traits.json
  data/mods/Aftershock/mutations/mutations.json
  data/mods/Aftershock/mutations/obsolete.json
  data/mods/BombasticPerks/perks.json
  data/mods/Limb_WIP/mutations/mutations.json
  data/mods/Magiclysm/migration_and_obsoletion.json
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/mutations/mutations.json
  data/mods/Magiclysm/mutations/temporary.json
  data/mods/Magiclysm/npc/trait_groups.json
  data/mods/Magiclysm/traits/attunements.json
  data/mods/Magiclysm/traits/fantasy_species.json
  data/mods/Magiclysm/traits/manatouched.json
  data/mods/Magiclysm/traits/mutation.json
  data/mods/Magiclysm/traits/temporary_demon_traits.json
  data/mods/MindOverMatter/mutations/temporary.json
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
  data/mods/TEST_DATA/mutations.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/mutations.json
  doc/MAGIC.md
  doc/MUTATIONS.md
  src/character.cpp
  src/character.h
  src/character_body.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/magic.cpp
  src/magic_enchantment.cpp
  src/magic_enchantment.h
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/suffer.cpp
  tests/cardio_test.cpp
  tests/character_modifier_test.cpp
  tests/move_cost_test.cpp
  tests/mutation_test.cpp
  tests/widget_test.cpp
Labels: <Documentation>, Info / User Interface, [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], [Markdown], Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, Mods: Bombastic Perks, Mods: Mind Over Matter

#72255 fix METABOLISM enchantment `multiply: -1` causing the game to hang
  data/mods/TEST_DATA/mutations.json
  doc/MAGIC.md
  src/character.cpp
  tests/char_biometrics_test.cpp
Labels: <Documentation>, [JSON], Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#72249 [MoM] Hounds of Tindalos can teleport lock you + follow you through teleports
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
  data/mods/MindOverMatter/effects/effects_edited.json
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/monsters/monster_overrides.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72187 Add Large Wooden Bowl recipe
  data/json/items/containers/containers.json
  data/json/recipes/tools/containers.json
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed, new contributor

#72175 Pickaxe_list and rope_natural relevant Fix
  data/json/construction.json
  data/json/requirements/toolsets.json
  data/json/uncraft/generic.json
  data/mods/Magiclysm/requirements/crafting.json
  data/mods/innawood/recipes/recipe_deconstruction.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲, new contributor

#72282 Stop eating butternuts with shell
  data/json/items/chemicals_and_resources.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72284 Adjust pony wall construction
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-walls.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72169 Revert "Create splash attacks and give them to Boomers (#71964)"
  data/json/effects.json
  data/json/effects_on_condition/effects_eocs.json
  data/json/flags.json
  data/json/monster_special_attacks/monster_deaths.json
  data/json/monster_special_attacks/spells.json
  data/json/monsters/zed_explosive.json
  data/json/mutations/mutation_spells.json
  data/json/mutations/mutations.json
  data/json/obsoletion_and_migration_0.I/migration_mutation.json
  data/json/obsoletion_and_migration_0.I/obsolete_effect.json
  data/json/obsoletion_and_migration_0.I/obsolete_eoc.json
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/morale.cpp
  src/morale.h
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Monsters, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#72296 Non-player faction NPCs need no food.
  src/character.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72277 [Xedra Evolved] Update Mien of the Mannequin + Backstage
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#72308 fix: use root floor above root doors
  data/json/furniture_and_terrain/terrain-triffid.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72304 mom: remove no-effect relic_data
  data/mods/MindOverMatter/items/armor/belt.json
  data/mods/MindOverMatter/items/psions_summon_items.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Mind Over Matter

#72297 Fix volume and weight of cornmeal and dry corn kernels
  data/json/items/comestibles/raw_grain.json
  data/json/items/comestibles/veggy_dishes.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#72318 imgui demo_ui: no more delay (no more mouse wiggling)
  src/input.h
  src/input_context.h
  src/main_menu.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72310 [MoM] Rework Nether Attunement (make it rise faster and fall faster)
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/effects/effects_potions.json
  data/mods/MindOverMatter/obsolete/nether_attunement_spells.json
  data/mods/MindOverMatter/powers/biokinesis.json
  data/mods/MindOverMatter/powers/biokinesis_concentration_eocs.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/clairsentience_concentration_eocs.json
  data/mods/MindOverMatter/powers/electrokinesis.json
  data/mods/MindOverMatter/powers/electrokinesis_concentration_eocs.json
  data/mods/MindOverMatter/powers/nether_attunement_spells.json
  data/mods/MindOverMatter/powers/photokinesis.json
  data/mods/MindOverMatter/powers/photokinesis_concentration_eoc.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/pyrokinesis_concentration_eoc.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telekinesis_concentration_eoc.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/powers/telepathy_concentration_eoc.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/teleportation_concentration_eoc.json
  data/mods/MindOverMatter/powers/vitakinesis.json
  data/mods/MindOverMatter/powers/vitakinesis_concentration_eoc.json
  data/mods/MindOverMatter/recipes/nether_attunement.json
  data/mods/MindOverMatter/vitamins.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72322 [MoM] Add [Ψ] to the various psi-created pseudoitems
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/powers/telekinesis_concentration_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72321 [MoM] Update hobby skill numbers
  data/mods/MindOverMatter/hobbies.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#72327 Item groups can define crafted components for an item
  data/json/itemgroups/SUS/lodge.json
  data/mods/Magiclysm/worldgen/goblin_locations/orc_village.json
  doc/ITEM_SPAWN.md
  src/item_factory.cpp
  src/item_group.cpp
  src/item_group.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Mods, Spawn, [C++], [Markdown], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#72324 refine calculations of WEAKNESS_TO_WATER
  doc/MAGIC.md
  src/suffer.cpp
Labels: <Documentation>, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#72314 [ Xedra Evolved] Remove Bash from Zoomorphic Figurine
  data/mods/Xedra_Evolved/monsters/elementals.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#72312 Enhance the XEDRA Evolved weakening effect to its original intended use.
  data/mods/Xedra_Evolved/effects/effects.json
Labels: Game: Balance, [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#72332 [Xedra Evolved] Fae armor and harvest changes
  data/mods/Xedra_Evolved/harvest.json
  data/mods/Xedra_Evolved/monsters/changeling.json
  data/mods/Xedra_Evolved/monsters/elementals.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#72305 Set proper overmap terrain for innawoods cave specials
  data/mods/innawood/overmap/specials_kept.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#72303 mention `demo_ui` as an example in docs
  doc/USER_INTERFACE_AND_ACCESSIBILITY.md
  src/cata_imgui.cpp
Labels: <Documentation>, Info / User Interface, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#72299 reword "show more info" in martial art selection menu
  data/raw/keybindings.json
  src/character.cpp
  src/newcharacter.cpp
Labels: [JSON], [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#72294 Remove temperature from butternuts
  data/json/obsoletion_and_migration_0.I/blacklist_temperature_removal.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#72293 Speed up ledge FoV processing
  src/map.cpp
Labels: Code: Performance, [C++], astyled, json-styled, BasicBuildPassed

#72291 Make nomad chainmail copy from chainmail jumpsuit
  data/json/items/armor/suits_protection.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#72285 Make chain link fences use mild steel
  data/json/construction.json
  data/json/furniture_and_terrain/terrain-fences-gates.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#72275 Update README.md to remove no longer relevant Bountysource link
  README.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed, new contributor

#72251 [Magiclysm] Technomancer Binoculars Spell
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/item_enchants.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/items/spellbooks.json
  data/mods/Magiclysm/requirements/spell_components.json
Labels: [JSON], Mods, Spawn, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#72243 Fungal enemies should not be able to revive
  data/json/monsters/fungus_zombie.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72233 Integratedify Feathers
  data/json/items/armor/integrated.json
  data/json/materials.json
  data/json/mutations/mutations.json
  doc/MUTATIONS.md
Labels: <Documentation>, [JSON], Mutations / Traits / Professions/ Hobbies, [Markdown], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#72209 Fix recipe_id conflicts in in-repo mods
  data/mods/Aftershock/recipes/recipes.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
  data/mods/Xedra_Evolved/recipes/tailoring.json
  data/mods/innawood/recipes/medsandchemicals.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mods: Aftershock, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲, Mods: Xedra Evolved

#72350 Adds NUTRIENT_OVERRIDE flag to sunflower seeds
  data/json/items/comestibles/seed.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#72361 fix clang tidy fails
  src/item_factory.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#72368 Relocate Russell at New England church retreat
  data/json/mapgen/godco/church_retreat.json
Labels: NPC / Factions, [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#72371 Fix XEDRA evolved typo that I caused
  data/mods/Xedra_Evolved/effects/effects.json
Labels: Info / User Interface, [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#72378 Alcohol wipes density fix
  data/json/items/tool/med.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#72373 fix technomancer_far_sight_lens density CI error
  data/json/items/generic.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#72358 Sky islands - all roads lead to u_prevent_death
  data/mods/Sky_Island/EOCs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#72375 Crutches melee balance
  data/json/items/melee/bludgeons.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#72369 Bad density
  data/json/items/armor/integrated.json
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/brewing.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/frozen.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/soup.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/comestibles/wheat.json
  data/json/items/generic.json
  data/json/materials.json
  data/json/recipes/food/brewing.json
  data/json/recipes/food/distill.json
  data/json/uncraft/ammo/rpg.json
  data/mods/Magiclysm/items/fuel.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Items: Food / Vitamins, Code: Tests, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲
