Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2024-01, with the labels that each got.

#70538 [Bombastic Perks] Perk fixes
  data/mods/BombasticPerks/perkdata/quick_recovery.json
  data/mods/BombasticPerks/perkdata/vengeful.json
  data/mods/BombasticPerks/perkmenu.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#70556 [MoM] Fix invalid proficiency category
  data/mods/MindOverMatter/recipes/proficiencies.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#70554 Cataclysm DDA - Plushies!
  data/json/items/toy.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70568 Remove bridgehead_ramp vehicle nests
  data/json/mapgen/bridges.json
  data/json/mapgen/nested/road_vehicles_nested.json
Labels: [JSON], Map / Mapgen, Vehicles, astyled, json-styled, BasicBuildPassed

#70563 Remove Murrsuits, Adjust HWP EXODIC Conversion, Add Filk
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/items/gun/robofac_gun.json
  data/json/snippets/music.json
Labels: [JSON], Spawn, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#70569 Routine tileset updates on 01 January 2024
  gfx/ASCII_Overmap/ASCIITiles.png
  gfx/ASCII_Overmap/tile_config.json
  gfx/Altica/giant.png
  gfx/Altica/human_body.png
  gfx/Altica/large.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/human_body.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/Cuteclysm/tile_config.json
  gfx/GiantDays/tile_config.json
  gfx/Larwick_Overmap/overmap.png
  gfx/Larwick_Overmap/tile_config.json
  gfx/MshockXotto+/overmap.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/NeoDaysTileset/layering.json
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/SurveyorsMap/tile_config.json
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/iso_tall.png
  gfx/Ultica_iso/iso_tall_plus.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/normal_2x.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/giant.png
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#67720 Finalise vanilla gutter unification
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/furniture_and_terrain/terrain_vitrified.json
  data/json/mapgen/city_blocks/urban_13_dense_house_apt_house.json
  data/json/mapgen/city_blocks/urban_14_dense_house_mart_food.json
  data/json/mapgen/house/urban_15_house.json
  data/json/mapgen/house/urban_18_victorian.json
  data/json/mapgen/house/urban_1_house.json
  data/json/mapgen/house/urban_2_house.json
  data/json/mapgen/house/urban_2_house_dd.json
  data/json/mapgen/house/urban_3_house.json
  data/json/mapgen/house/urban_4_house_basement.json
  data/json/mapgen/house/urban_5_house.json
  data/json/mapgen/house/urban_6_house.json
  data/json/mapgen/hunting_lodge.json
  data/json/mapgen/mall/mall_basement.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/mall/mall_roof.json
  data/json/mapgen/mall/mall_second_floor.json
  data/json/mapgen/mansion.json
  data/json/mapgen/school_1.json
  data/json/mapgen/store/s_electronicstore.json
  data/json/mapgen/store/s_gunstore.json
  data/json/mapgen_palettes/lodge_palette.json
  data/json/mapgen_palettes/mall_palette.json
  data/json/overmap/overmap_terrain/overmap_terrain_mall.json
  data/mods/No_Hope/Mapgen/mall_ground.json
  data/mods/No_Hope/Mapgen/mall_roof.json
  data/mods/No_Hope/Mapgen/mall_second_floor.json
  data/mods/No_Hope/Mapgen/school_1.json
  data/mods/Xedra_Evolved/mapgen/vampire_locations.json
Labels: [JSON], Mods, Map / Mapgen, Items: Food / Vitamins, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Xedra Evolved

#70575 Prevent segfault on unload_activity_actor
  src/activity_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#70574 fix performance of the map view after reading a map
  src/character.h
  src/iuse_actor.cpp
  src/overmap_ui.cpp
  src/sdltiles.cpp
Labels: Code: Performance, Info / User Interface, Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70557 Fix: Count charges in all nearby smoking racks to crafting inventory
  src/inventory.cpp
  tests/crafting_test.cpp
Labels: Crafting / Construction / Recipes, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70521 The anjelo guy holybooks again
  data/json/itemgroups/books.json
  data/json/itemgroups/stashes.json
  data/json/items/book/spiritual.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#70560 Fix impassable broken vehicle parts
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/vehicle_parts.json
  src/character.cpp
  src/monmove.cpp
  src/monster.cpp
Labels: [JSON], Vehicles, [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#70587 Fixed hub 14 computer giving infinite schematics
  data/json/npcs/computers/TALK_MSU14.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#70535 Amphibian Additions - Treefrogs
  data/json/monstergroups/amphibian.json
  data/json/monsters/reptile_amphibian.json
  data/json/speech.json
  data/mods/Tamable_Wildlife/reptile_amphibian.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife

#70605 remove note about common nuclear energy from the design docs
  doc/Lore/technology.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#70609 Obsolete rural biome mod
  data/mods/rural_biome/modinfo.json
Labels: [JSON], Mods, astyled, json-styled

#70588 Add `int_id_set` and swap global `mon_flag_str_id`s to `mon_flag_id`s.
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/computer_session.cpp
  src/construction.cpp
  src/creature.cpp
  src/creature_tracker.cpp
  src/do_turn.cpp
  src/explosion.cpp
  src/game.cpp
  src/handle_action.cpp
  src/iexamine_actors.cpp
  src/init.cpp
  src/int_id.h
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/map.cpp
  src/map_field.cpp
  src/mattack_actors.cpp
  src/melee.cpp
  src/memorial_logger.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monexamine.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
  src/npc.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/ranged.cpp
  src/suffer.cpp
  src/type_id.h
  src/vehicle_use.cpp
  tests/creature_effect_test.cpp
  tests/monster_test.cpp
  tests/speed_description_test.cpp
Labels: Code: Performance, NPC / Factions, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#70590 [MoM] Feral psion attack updates
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/monsters/feral_lab_psychics.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#70572 more and better zed miner drops
  data/json/monsterdrops/zombie_technician.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70612 Obsolete Blaze Industries - maintainer required.
  data/mods/BlazeIndustries/modinfo.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed

#70607 Fix minor cramped space errors
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70545 [ Xedra Evolved ] Add missing dissection proficiencies to Xedra Evolved monsters
  data/mods/Xedra_Evolved/monsters/changeling.json
  data/mods/Xedra_Evolved/monsters/monster.json
  data/mods/Xedra_Evolved/snippets/changeling_speech.json
Labels: [JSON], Mods, Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#70539 [MoM] Power learning revamp: Electrokinesis
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/hobbies.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/obsolete/upgrade_eocs/electrokinetic_upgrades.json
  data/mods/MindOverMatter/powers/electrokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/electrokinesis.json
  data/mods/MindOverMatter/professions.json
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
  data/mods/MindOverMatter/recipes/practice/electrokinesis_practice.json
  data/mods/MindOverMatter/recipes/proficiencies.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#70239 More pharmacological expansion infrastructure work + a few new drugs
  data/json/effects.json
  data/json/effects_on_condition/npc_eocs/hallucination_eocs.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/tools.json
  data/json/items/comestibles/drink.json
  data/json/items/comestibles/med.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/npcs/NC_DOCTOR.json
  data/json/npcs/NC_REFUGEE_DOCTOR.json
  data/json/npcs/items_generic.json
  data/json/npcs/random_encounters/john_bailey.json
  data/json/npcs/tacoma_ranch/NPC_ranch_nurse.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  data/json/npcs/your_followers/liam_starting_follower.json
  data/json/vehicles/helicopters.json
  data/json/vitamin.json
  doc/EFFECTS_JSON.md
  doc/VITAMIN.md
  src/bionics.cpp
  src/character.cpp
  src/character.h
  src/character_body.cpp
  src/effect.cpp
  src/effect.h
  src/inventory.cpp
  src/npc.cpp
  src/stomach.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Missions, Bionics, Map / Mapgen, Items: Food / Vitamins, Spawn, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#70600 Introduces dormant zombies
  data/json/monstergroups/zombies.json
  data/json/monsters/monster_flags.json
  data/json/monsters/zed_dormant.json
  data/json/traps.json
  doc/JSON_FLAGS.md
  doc/JSON_INFO.md
  doc/MAGIC.md
  src/game.cpp
  src/game.h
  src/item.cpp
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/map.cpp
  src/map.h
  src/monattack.cpp
  src/mondeath.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
  src/sounds.cpp
  src/trap.cpp
  src/trap.h
  src/trapfunc.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], SDL: Tiles / Sound, Spawn, [C++], Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#70606 Signal flares stay lit but not for 30 minutes
  data/json/items/ammo/20x66mm.json
  data/json/items/ammo/exodii.json
  data/json/items/ammo/signal_flare.json
  data/json/items/tool/lighting.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70614 Hub now offers armor set printing after the HWP is unlocked
  data/json/npcs/robofac/robofac_intercom/robofac_intercom_prototypes.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed

#70625 Pocket mods now support inheritance
  data/json/items/gunmod/conversions.json
  src/item_factory.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70469 Missed Christmas
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Food/food.json
  data/json/items/armor/boots.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/storage.json
  data/json/items/comestibles/junkfood.json
  data/json/items/melee/bludgeons.json
  data/json/professions.json
Labels: [JSON], Items: Food / Vitamins, Spawn, Mutations / Traits / Professions/ Hobbies, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#70621 [MoM] Itzcuauhtli uniform changes
  data/mods/MindOverMatter/items/teleporter_start_items.json
  data/mods/MindOverMatter/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#70623 [MoM] Add new telekinesis power--knockdown
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#70279 Migrate names to snippets & add weighted snippets
  data/json/effects_on_condition/npc_eocs/hallucination_eocs.json
  data/json/snippets/names.json
  data/mods/MindOverMatter/snippets/snippets_random_names.json
  data/mods/MindOverMatter/snippets/telepathy_snippets.json
  data/names/en.json
  data/names/ja.json
  data/names/ko.json
  data/names/ru.json
  data/names/zh_CN.json
  data/names/zh_TW.json
  src/city.cpp
  src/mapgen.cpp
  src/mission_start.cpp
  src/monattack.cpp
  src/name.cpp
  src/name.h
  src/newcharacter.cpp
  src/npc.cpp
  src/ordered_static_globals.cpp
  src/output.cpp
  src/output.h
  src/suffer.cpp
  src/text_snippets.cpp
  src/text_snippets.h
  src/translations.cpp
  src/worldfactory.cpp
  tests/data/name.json
  tests/name_test.cpp
Labels: NPC / Factions, Info / User Interface, Translation, [JSON], Mods, Missions, Map / Mapgen, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Monsters, <Bugfix>, Code: Infrastructure / Style / Static Analysis, Character / World Generation, Lore, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#70657 Oops. We forgot the error code
  src/flexbuffer_cache.cpp
Labels: [C++], astyled, json-styled

#70660 Handle hallucinations in the reachability zones flood fill.
  src/creature_tracker.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#70646 Move hobby randomization after set_body()
  src/newcharacter.cpp
Labels: [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#70638 [MoM] Edit spell UI a bit for psionics
  src/magic.cpp
Labels: Mods, [C++], astyled, json-styled, BasicBuildPassed

#70635 Make mi-go 8x less likely to bark
  data/json/speech.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70616 Remove an unused data member
  src/mapdata.h
  src/monmove.cpp
  src/monster.cpp
Labels: [C++], Monsters, astyled, json-styled, BasicBuildPassed

#70601 [ Xedra Evolved ] Paraclesian spawn rate and locations
  data/mods/Xedra_Evolved/mapgen/map_extras.json
  data/mods/Xedra_Evolved/regional_overlay.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, new contributor

#70570 Weekly Changelog 2023-12-25 to 2024-01-01
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#70639 Backport optimizations from new pathfinder into old one.
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/creature.h
  src/game.cpp
  src/map.cpp
  src/map.h
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/npc.cpp
  src/npc.h
  src/pathfinding.cpp
  src/pathfinding.h
Labels: Code: Performance, NPC / Factions, [C++], Monsters, astyled, json-styled, BasicBuildPassed

#70404 Add `_ib` variants of coord.
  doc/POINTS_COORDINATES.md
  src/coordinates.h
  src/map.h
  src/mdarray.h
  src/point.h
  src/savegame_json.cpp
  src/vehicle.cpp
  tests/coordinate_test.cpp
Labels: <Documentation>, Vehicles, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#70348 [MoM] Rework the telepathic power Obscurity
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/obsolete/telepathy.json
  data/mods/MindOverMatter/powers/telepathy.json
  src/creature.cpp
Labels: [JSON], Mods, [C++], Monsters, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#70615 [MoM] Power learning revamp: Teleportation
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/obsolete/upgrade_eocs/teleportation_upgrades.json
  data/mods/MindOverMatter/powers/learning_eocs/teleportation.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/professions.json
  data/mods/MindOverMatter/recipes/practice/electrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
  data/mods/MindOverMatter/recipes/proficiencies.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#70534 Denim expansion
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/stashes.json
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/gloves.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/torso_armor.json
  data/json/items/armor/torso_clothes.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/NC_ARMY.json
  data/json/npcs/NC_ARSONIST.json
  data/json/npcs/NC_BOUNTY_HUNTER.json
  data/json/npcs/NC_CARAVAN_GUARD.json
  data/json/npcs/NC_COWBOY.json
  data/json/npcs/NC_FARMER.json
  data/json/npcs/NC_HUNTER.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/NC_MOTORHEAD.json
  data/json/npcs/NC_OPS.json
  data/json/npcs/NC_REFUGEE_DOCTOR.json
  data/json/npcs/NC_SOLDIER.json
  data/json/npcs/campus/generic_class_definitions.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/items_generic.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_quartermaster.json
  data/json/npcs/refugee_center/surface_staff/Smokes/NPC_Smokes.json
  data/json/npcs/robofac/ROBOFAC_SURFACE_FREEMERCHANT.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/nested.json
Labels: NPC / Factions, [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#70577 Specials audit to kick the new year off
  data/json/mapgen/ws_giant_sinkhole.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#70477 Modded map weight field audit
  data/json/effects_on_condition/mapgen_eocs/vanilla_map_weight_eocs.json
  data/json/mapgen/basement/basement_chem.json
  data/json/mapgen/basic/lake.json
  data/json/mapgen/gas_stations/s_gas.json
  data/json/mapgen/road.json
  data/json/mapgen/storage_units_large.json
  data/json/mapgen/swamp_shack.json
  data/mods/Aftershock/maps/crashing_ship.json
  data/mods/Aftershock/maps/mapgen/arcology_ground.json
  data/mods/Aftershock/maps/mapgen/astrobiology_lab.json
  data/mods/Aftershock/maps/mapgen/augmentation_clinic.json
  data/mods/Aftershock/maps/mapgen/basement_bionic.json
  data/mods/Aftershock/maps/mapgen/escape_pod.json
  data/mods/Aftershock/maps/mapgen/fungal_siege.json
  data/mods/Aftershock/maps/mapgen/houses/houses.json
  data/mods/Aftershock/maps/mapgen/maintenance_outpost.json
  data/mods/Aftershock/maps/mapgen/millyficent_lab.json
  data/mods/Aftershock/maps/mapgen/prepnet_orchard.json
  data/mods/Aftershock/maps/mapgen/robot_dispatch.json
  data/mods/Aftershock/maps/mapgen/s_gas.json
  data/mods/Aftershock/maps/mapgen/sadie_large_storage.json
  data/mods/Aftershock/maps/mapgen/stratoscomm_relay.json
  data/mods/Aftershock/maps/mapgen/tunnels/sinkhole.json
  data/mods/Aftershock/maps/mapgen/tunnels/tunnel_ravine_edge.json
  data/mods/Aftershock/maps/mapgen/tunnels/tunnel_river.json
  data/mods/Aftershock/maps/mapgen/urban_worm_farm.json
  data/mods/Defense_Mode/mapgen/hospital.json
  data/mods/Defense_Mode/mapgen/mansion.json
  data/mods/Defense_Mode/mapgen/public_works.json
  data/mods/Defense_Mode/mapgen/survivor_forest_camp.json
  data/mods/DinoMod/mapgen/basement_chem.json
  data/mods/DinoMod/mapgen/dinoexhibit.json
  data/mods/DinoMod/mapgen/microlab_DinoLab.json
  data/mods/DinoMod/mapgen/swamp_shack.json
  data/mods/DinoMod/mapgen/zoo.json
  data/mods/Magiclysm/worldgen/demon_spider_lair.json
  data/mods/Magiclysm/worldgen/forest_tomb.json
  data/mods/Magiclysm/worldgen/house_technomancer.json
  data/mods/Magiclysm/worldgen/magic_basement.json
  data/mods/Magiclysm/worldgen/wizard-towers.json
  data/mods/MindOverMatter/overmap/nether_crystal_field.json
  data/mods/TropiCataclysm/mapgen/fungal/overtaken_lot.json
  data/mods/TropiCataclysm/mapgen/nether/portal_reef.json
  data/mods/TropiCataclysm/mapgen/triffid/overgrown_lot.json
  data/mods/TropiCataclysm/mapgen/triffid/triffid_blossom.json
  data/mods/TropiCataclysm/mapgen/triffid/triffid_garden.json
  data/mods/Xedra_Evolved/mapgen/safehouse.json
  data/mods/Xedra_Evolved/mapgen/vampire_cathedral.json
  data/mods/Xedra_Evolved/mapgen/xedra_field_office.json
  data/mods/Xedra_Evolved/mod_interactions/Defense_Mode/overmap_specials.json
  data/mods/aftershock_exoplanet/Map/mapgen/road.json
  data/mods/aftershock_exoplanet/Map/vanilla_map_weight_eocs.json
  data/mods/desert_region/mapgen/earth.json
  data/mods/desert_region/mapgen/vanilla_map_weight_eocs.json
  data/mods/innawood/mapgen/meadow.json
  data/mods/package_bionic_professions/basement_bionic.json
  data/mods/railroads/mapgen/railroad/railroad_level_crossing.json
  data/mods/railroads/mapgen/railroad/railroad_station.json
  doc/MAPGEN.md
Labels: <Documentation>, [JSON], Mods, Bionics, Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, [Markdown], Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Game: Defense Mode, EOC: Effects On Condition, Mods: Innawood 🌲, Mods: TropiCataclysm 🌴, Mods: Desert Region, Mods: Xedra Evolved, Mods: Mind Over Matter

#70397 Properly obsolete Railroad Station
  data/json/obsoletion/migration_overmap_specials.json
  data/mods/railroads/migrataion.json
  data/mods/railroads/overmap/multitile_city_buildings.json
  data/mods/railroads/overmap/overmap_special/specials.json
  data/mods/railroads/region_overlay.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#70566 Implement basic saline infusion to help with blood loss
  data/json/effects_on_condition/medicine_eocs.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/science_and_tech.json
  data/json/items/armor/arm_prosthetics.json
  data/json/items/armor/legs_prosthetics.json
  data/json/items/containers/generic.json
  data/json/items/tool/med.json
  data/json/mapgen_palettes/aircraft_carrier_palette.json
  data/json/mapgen_palettes/hospital.json
  data/json/mapgen_palettes/lab/lab_modular_palette.json
  data/json/mapgen_palettes/military/mil_base_palette.json
  data/json/mapgen_palettes/nursing_home_palette.json
  data/json/mapgen_palettes/underwater_structures_palette.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  data/json/player_activities.json
  data/json/uncraft/containers/generic.json
  data/json/uncraft/tool/med.json
Labels: <Enhancement / Feature>, [JSON], Missions, Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition

#70665 Fix #70640
  data/json/effects_on_condition/example_eocs.json
  src/npctalk.cpp
Labels: NPC / Factions, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#70508 Small snippet stuff
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/armor/misc.json
  data/json/items/generic/dining_kitchen.json
  data/json/obsoletion/migration_items.json
  data/json/snippets/snippets.json
  doc/JSON_INFO.md
Labels: <Documentation>, [JSON], Spawn, [Markdown], Lore, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#70676 Don't calculate safe speed for stationary vehicles for SFX
  src/sounds.cpp
Labels: Code: Performance, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70674 unbind SHOW_HIDE_CONTENTS_ALL by default
  data/raw/keybindings.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70648 [Xedra Evolved] More Arvore Traits
  data/json/flags.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/emitters.json
  data/mods/Xedra_Evolved/field_type.json
  data/mods/Xedra_Evolved/flags.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture-plants.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/items/melee.json
  data/mods/Xedra_Evolved/items/weapon_copy_extensions.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
  doc/JSON_FLAGS.md
  src/player_hardcoded_effects.cpp
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Fields / Furniture / Terrain / Traps, [Markdown], Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#70668 Add missing was_loaded initialization
  src/profession_group.h
Labels: Map / Mapgen, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#70683 [Xedra Evolved] Add Great Tree elemental eruption map special
  data/mods/Xedra_Evolved/mapgen/great_tree/great_tree_crown.json
  data/mods/Xedra_Evolved/mapgen/great_tree/great_tree_roots.json
  data/mods/Xedra_Evolved/mapgen/great_tree/great_tree_trunk.json
  data/mods/Xedra_Evolved/mapgen/overmap_special.json
  data/mods/Xedra_Evolved/mapgen/overmap_terrain.json
  data/mods/Xedra_Evolved/mapgen_palettes/great_tree_palette.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#70686 Fix spell failure bug with underflow
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
  src/magic.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#70688 Fix flexbuffer cache post-c++-17 migration
  src/flexbuffer_cache.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#70677 Fixed special optional overmap field
  doc/OVERMAP.md
  src/overmap.cpp
Labels: <Documentation>, Map / Mapgen, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#70696 Fix clang-tidy error in map::creature_on_trap() in map.cpp
  src/map.cpp
Labels: [C++], astyled, json-styled, 0.H Backport

#70709 Correct some grammar in the monster special attack docs
  doc/MONSTER_SPECIAL_ATTACKS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#70423 Optimize allocation patterns in item and elsewhere
  src/catacharset.cpp
  src/catacharset.h
  src/field.cpp
  src/field.h
  src/item.cpp
  src/item.h
  src/item_components.h
  src/item_group.cpp
  src/mapgen.cpp
  src/value_ptr.h
Labels: Code: Performance, Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#70700 Initialize the booleans
  src/mattack_actors.h
Labels: [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, 0.H Backport

#70695 Extract martial technique condition descriptions for translation
  lang/string_extractor/parsers/technique.py
Labels: Translation, <Bugfix>, [Python], astyled, json-styled, BasicBuildPassed, 0.H Backport

#70698 Add missing translations in some places in GUI
  src/calendar_ui.cpp
  src/effect.cpp
  src/newcharacter.cpp
Labels: Info / User Interface, Translation, [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed, 0.H Backport

#70546 Optimize `sees` by removing reachability cache and fixing LRU cache.
  src/action.cpp
  src/action.h
  src/cata_tiles.cpp
  src/creature.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/level_cache.h
  src/lru_cache.cpp
  src/lru_cache.h
  src/map.cpp
  src/map.h
  src/reachability_cache.cpp
  src/reachability_cache.h
  tests/reachability_cache_test.cpp
Labels: Code: Performance, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#70708 fix glock 22 nest uses wrong ammo
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
Labels: [JSON], Spawn, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, 0.H Backport

#70705 feral with fake rapier uses fake rapier damage
  data/json/monster_special_attacks/feral_weapon_attacks.json
  data/json/monsters/feral_humans.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70715 Audit the weight of some gun magazines
  data/json/items/magazine/223.json
  data/json/items/magazine/308.json
  data/json/items/magazine/45.json
  data/json/items/magazine/57.json
  data/json/items/magazine/9mm.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70706 fix too big spiritual books
  data/json/items/book/spiritual.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.H Backport

#70687 Fix crash from reachability zones checking dead NPCs.
  src/creature_tracker.cpp
  src/creature_tracker.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.H Backport

#70680 fix some denim recipes and add uncraft for new recipes
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/items/armor/coats.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/torso_clothes.json
  data/json/recipes/armor/torso.json
  data/json/recipes/recipe_deconstruction.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#70716 Removed FANCY and SUPER_FANCY from a bunch of items
  data/json/items/armor/boots.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/hats.json
  data/json/items/armor/storage.json
  data/json/items/armor/torso_clothes.json
  data/json/items/generic.json
Labels: [JSON], astyled, json-styled, Items: Armor / Clothing

#70604 Correct Operators of Armor and Attack Speed Values
  data/json/items/armor/integrated.json
  data/mods/Aftershock/player/bionics.json
  data/mods/BombasticPerks/perkdata/empath.json
  data/mods/Magiclysm/Spells/attunements/Gravity_Mage.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/enchantments/Gravity_Mage.json
  data/mods/Xedra_Evolved/effects/effects.json
Labels: [JSON], Mods, Bionics, <Bugfix>, Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved, Mods: Bombastic Perks, new contributor

#70669 Add Treetops even should Github bar the way
  data/json/effects.json
  data/json/furniture_and_terrain/terrain-flora.json
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/mutations/mutations.json
  src/activity_actor.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
Labels: <Enhancement / Feature>, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Fields / Furniture / Terrain / Traps, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#70722 Remove infinite aluminum abuse
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#70685 Optimize item::stacks_with for further load time gains
  src/cata_utility.h
  src/item.cpp
  src/item.h
  tests/cata_utility_test.cpp
Labels: Code: Performance, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, 0.H Backport

#70691 Added various missing leather and patchwork sheet deconstruction recipes and a missing scrap felt deconstruction recipe
  data/json/recipes/armor/gambeson_crafts.json
  data/json/recipes/armor/other.json
  data/json/recipes/other/materials.json
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, new contributor

#70589 Check validity of Win32 file names
  src/filesystem.cpp
  src/filesystem.h
  src/mapsharing.cpp
  src/worldfactory.cpp
Labels: [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#70732 [Xedra Evolved] Add some Ierde traits
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/ter_transforms/ierde_ter_transform.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#70729 [MoM] Power learning revamp: Telekinesis
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/obsolete/upgrade_eocs/telekinetic_upgrades.json
  data/mods/MindOverMatter/powers/learning_eocs/telekinesis.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/professions.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
  data/mods/MindOverMatter/recipes/proficiencies.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#70656 Even more religious books
  data/json/itemgroups/books.json
  data/json/items/book/spiritual.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#70719 [Magiclysm] fix aura_werewolf giving nonexistent mutation
  data/mods/Magiclysm/items/ethereal_items.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#70713 Initialize reset_item_vars
  src/item_factory.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.H Backport

#70479 Allow bird wings to glide (redux)
  data/json/effects.json
  data/json/effects_on_condition/mutation_eocs/mutation_effect_eocs.json
  data/json/effects_on_condition/mutation_eocs/prosthetics_eocs.json
  data/json/enchantments.json
  data/json/mutations/mutation_category.json
  data/json/mutations/mutation_limbs.json
  data/json/mutations/mutations.json
  data/json/player_activities.json
  data/mods/Magiclysm/mutations/mutations.json
  doc/JSON_FLAGS.md
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/character.cpp
  src/character.h
  src/do_turn.cpp
  src/game.cpp
  src/iexamine.cpp
  src/map.cpp
  src/map.h
  src/mutation.cpp
  src/mutation.h
  src/mutation_data.cpp
  src/suffer.cpp
  src/trapfunc.cpp
  src/vehicle.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Mods, Vehicles, Mutations / Traits / Professions/ Hobbies, [C++], Monsters, Fields / Furniture / Terrain / Traps, [Markdown], Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#70748 [Xedra Evolved] Add Arvore Overgrowth spell
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#70746 properly migrate mean_mug and nice_mug
  data/json/obsoletion/migration_items.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70690 Recipe consistency for tallow and stomaches. Recipes for small and large tin cans.
  data/json/recipes/recipe_food.json
  data/json/recipes/tools/containers.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, BasicBuildPassed

#70770 Do not reject . and .. when checking path validity
  src/filesystem.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, 0.H Backport

#70769 Include unistd.h for getpid on MSYS2
  src/main.cpp
Labels: Code: Build, [C++], <Bugfix>, astyled, json-styled, 0.H Backport

#70767 Fix new line in crash log when SDL message box cannot be created
  src/crash.cpp
Labels: [C++], Code: Debug, astyled, json-styled, BasicBuildPassed, 0.H Backport

#70764 Only extract singular enchantment names
  lang/string_extractor/parsers/enchant.py
Labels: Translation, [Python], astyled, json-styled, BasicBuildPassed, 0.H Backport

#70514 `cata_test` does not wait for `--list-tests` anymore
  tests/test_main.cpp
Labels: Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#70763 [Xedra Evolved] Give Arvore vines (but toggleable)
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#70761 [Xedra Evolved] Add Homullus goblin fruit spell
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#70779 tgz_archiver: skip symlink check
  src/tgz_archiver.cpp
Labels: [C++], astyled, json-styled

#70775 Fix typo in some monster attack messages
  data/mods/Magiclysm/monsters/feral_fantasy_species.json
  data/mods/MindOverMatter/monsters/feral_lab_psychics.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter, 0.H Backport

#70711 Seasoned scrambled and fried eggs
  data/json/items/comestibles/egg.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#70632 Generalize dormant zombie type generation with a flag
  data/json/monsters/monster_flags.json
  data/json/monsters/zed-classic.json
  src/item.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/monstergenerator.h
  src/mtype.cpp
  src/mtype.h
Labels: <Enhancement / Feature>, [JSON], [C++], Monsters, astyled, json-styled, BasicBuildPassed

#70780 Fix: Stable vehicle speeds with autotravel
  src/vehicle_autodrive.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70712 Add bronze variants to many recipes.
  data/json/construction.json
  data/json/items/ammo/nail.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/workshop.json
  data/json/recipes/ammo/shot.json
  data/json/recipes/ammo/weldgas.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/storage.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/electronics/parts.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/other/power_supplies.json
  data/json/recipes/practice/devices.json
  data/json/recipes/practice/fabrication.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_traps.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/tools/tools_primitive.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/explosive.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/materials.json
  data/json/requirements/toolsets.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#70733 Mutable Alpha/Beta Talker in `run_eoc_with`
  data/json/effects_on_condition/example_eocs.json
  doc/EFFECT_ON_CONDITION.md
  src/dialogue_helpers.h
  src/npctalk.cpp
Labels: <Enhancement / Feature>, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#70755 pocket_type::EBOOK can retain their contents through converted
  src/item_contents.cpp
Labels: [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#70751 [Xedra Evolved] Paraclesian natural magical growth
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_spell_learning_eocs.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#70743 Fix #67611
  src/options.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70725 You can "talk" with exodii workers now
  data/json/monsters/cyborgs.json
  data/json/npcs/exodii/exodii_workers.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70697 add webassembly build
  .github/workflows/emscripten.yml
  Makefile
  build-scripts/build-emscripten.sh
  build-scripts/prepare-web-data.sh
  build-scripts/prepare-web.sh
  index.html
  src/debug.cpp
  src/do_turn.cpp
  src/filesystem.cpp
  src/game.cpp
  src/main.cpp
  src/main_menu.cpp
  src/mapsharing.cpp
  src/options.cpp
  src/sdltiles.cpp
  src/ui_manager.cpp
  src/worldfactory.cpp
Labels: Info / User Interface, Code: Build, [C++], Character / World Generation, Code: Tooling, astyled, json-styled, BasicBuildPassed

#70692 General refinements to the link/cable code
  data/json/items/tool/cables.json
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/bionics.cpp
  src/enums.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/savegame_json.cpp
  src/veh_appliance.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
  tests/bionics_test.cpp
  tests/crafting_test.cpp
  tests/vehicle_interact_test.cpp
  tests/vehicle_test.cpp
Labels: [JSON], Bionics, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#70666 Update and overhaul survivor masks
  data/json/flags.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/bespoke_armor/utility.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/helmets.json
  data/json/items/resources/plastic.json
  data/json/items/tool_armor.json
  data/json/materials.json
  data/json/obsoletion/obsolete-0.G-recipes.json
  data/json/obsoletion/obsolete_items.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/suit.json
  data/json/recipes/nested.json
  data/json/recipes/other/parts_construction.json
  data/json/requirements/toolsets.json
  data/json/uncraft/resources/plastic.json
  src/character.cpp
  src/character_attire.cpp
  src/flag.cpp
  src/flag.h
Labels: [JSON], Crafting / Construction / Recipes, Spawn, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#70778 adjust some values for denim items and un-denim flannel jacket
  data/json/items/armor/cloaks.json
  data/json/items/armor/coats.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/torso_armor.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#70682 Road connections for specials always start on land
  data/json/overmap/overmap_mutable/mine_mutable.json
  data/json/overmap/overmap_special/specials.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#70664 Update version strings for experimental branch.
  .github/workflows/release.yml
  Makefile
  msvc-full-features/vcpkg.json
  msvc-object_creator/vcpkg.json
  src/version.cpp
Labels: Code: Build, [JSON], [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#70785 Magazine Audit - .22LR Magazines
  data/json/items/magazine/22.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: Game: Balance, [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#70804 Disable number invlets in inventory selectors when numpad nav is enabled
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled

#70798 [Docs] Update for TILESET.md - added links to the tileset repository
  doc/TILESET.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#70781 [Xedra Evolved] Some generic Paraclesian traits
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/undine_mutations.json
  src/avatar.cpp
  src/character.cpp
  src/consumption.cpp
  src/handle_action.cpp
  src/suffer.cpp
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#70811 Magazine Audit - Russian Calibers, 7.7x58, .38 Special
  data/json/items/magazine/38.json
  data/json/items/magazine/762R.json
  data/json/items/magazine/762x25.json
  data/json/items/magazine/77mm_jap.json
  data/json/items/magazine/9x18.json
Labels: Game: Balance, [JSON], BasicBuildPassed

#70810 Add tanned_pelt as another component of fur foot wraps
  data/json/recipes/armor/feet.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, new contributor

#70835 Magazine Audit - .30, .32, .44, .50AE, 5.45, 5.7, 7.62x39
  data/json/items/magazine/30carbine.json
  data/json/items/magazine/32.json
  data/json/items/magazine/38.json
  data/json/items/magazine/44.json
  data/json/items/magazine/50ae.json
  data/json/items/magazine/545x39.json
  data/json/items/magazine/57.json
  data/json/items/magazine/762.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#70829 Update snippets_nightmares.json
  data/mods/MindOverMatter/snippets/snippets_nightmares.json
Labels: [JSON], Mods, Lore, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#70822 Make diet soda junkfood
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/SUS/fridges.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/drink.json
Labels: [JSON], Items: Food / Vitamins, Spawn, astyled, json-styled, BasicBuildPassed

#70819 Downward movement bug fix
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70805 Hide index.html in build-data/web
  build-data/web/index.html
  build-scripts/prepare-web.sh
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#70693 External option for latitude and longitude
  data/core/game_balance.json
  data/mods/TropiCataclysm/modinfo.json
  data/mods/classic_zombies/modinfo.json
  data/mods/desert_region/modinfo.json
  src/calendar.cpp
  src/calendar.h
  src/game.cpp
  src/units_utility.h
Labels: [JSON], Mods, [C++], Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴, Mods: Desert Region

#70584 Finalise modded gutter unification
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/mapgen_palettes/office_skyscraper.json
  data/mods/Aftershock/maps/mapgen/augmentation_clinic.json
  data/mods/Aftershock/maps/mapgen/urban_worm_farm.json
  data/mods/Defense_Mode/mapgen/mansion.json
  data/mods/DinoMod/mapgen/dinoexhibit.json
  data/mods/No_Hope/Mapgen/mall_roof.json
  data/mods/No_Hope/Mapgen/mansion.json
  data/mods/No_Hope/Mapgen/office_doctor.json
  data/mods/No_Hope/Mapgen/school_1.json
  data/mods/Xedra_Evolved/mapgen/xedra_field_office.json
  data/mods/Xedra_Evolved/mapgen_palettes/field_office_palette.json
  data/mods/Xedra_Evolved/mod_interactions/Defense_Mode/overmap_specials.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Game: Defense Mode, Mods: Xedra Evolved

#70847 Fix the scrapper's trading mission
  data/json/npcs/scrap_trader/scrap_trader_missions.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#70845 Fix "Detect missions that are missing .start.assign_mission_target.om_special" errors
  tools/json_tools/assign_mission_target_needs_om_special.bash
Labels: Missions, <Bugfix>, Code: Tooling, astyled, json-styled, BasicBuildPassed

#70870 add WebAssembly build to release workflow
  .github/workflows/release.yml
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tooling, astyled, json-styled, BasicBuildPassed

#70836 Fix traps
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#70872 [Xedra Evolved] The Forest Offers Shelter bugfix
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#70842 Adds Melitzanosalata as a recipe for eggplants
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, new contributor

#70868 Fix the triggers for mutations healing lost limbs
  data/json/effects_on_condition/mutation_eocs/prosthetics_eocs.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#70838 [MoM] Power learning revamp: Clairsentience
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/hobbies.json
  data/mods/MindOverMatter/mutations/traits.json
  data/mods/MindOverMatter/obsolete/upgrade_eocs/clairsentient_upgrades.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/clairsentience_concentration_eocs.json
  data/mods/MindOverMatter/powers/electrokinesis.json
  data/mods/MindOverMatter/powers/learning_eocs/clairsentience.json
  data/mods/MindOverMatter/professions.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/MindOverMatter/recipes/proficiencies.json
  data/mods/MindOverMatter/snippets/snippets_nightmares.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, [Markdown], Lore, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#70865 eoc/math: add u_mon_species_nearby() and u_mon_groups_nearby()
  data/mods/TEST_DATA/EOC.json
  doc/NPCs.md
  src/math_parser_diag.cpp
  src/math_parser_diag.h
  tests/eoc_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#70889 Fix msvc version not being released
  build-scripts/windist.ps1
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#70721 Add WIP Limb Stuff mod and move mainline limby stuff over
  .github/reviewers.yml
  data/json/effects.json
  data/json/enchantments.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/mutations/mutations.json
  data/json/obsoletion/prosthetics.json
  data/json/professions.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/legs.json
  data/json/recipes/nested.json
  data/json/scenarios.json
  data/mods/Limb_WIP/armor/arm_prosthetics.json
  data/mods/Limb_WIP/armor/legs_prosthetics.json
  data/mods/Limb_WIP/armor/test_armor.json
  data/mods/Limb_WIP/effects.json
  data/mods/Limb_WIP/enchantments.json
  data/mods/Limb_WIP/item_groups.json
  data/mods/Limb_WIP/mod_integration/vitakinesis_eoc.json
  data/mods/Limb_WIP/modinfo.json
  data/mods/Limb_WIP/mutation_eocs/prosthetics_eocs.json
  data/mods/Limb_WIP/mutations/mutation_limbs.json
  data/mods/Limb_WIP/mutations/mutations.json
  data/mods/Limb_WIP/professions.json
  data/mods/Limb_WIP/recipes.json
  data/mods/Limb_WIP/scenarios.json
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/mutations/mutations.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
  data/mods/innawood/scenarios.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, Scenarios, Mods: Magiclysm, Code: Tooling, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Limbs, EOC: Effects On Condition, Mods: Innawood 🌲, Mods: Mind Over Matter

#70890 Some Iterator Fixes for Crushing Leap
  src/magic_spell_effect.cpp
Labels: [C++], <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#70851 Remove duplicate pants from Urban Explorer
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#70877 Quilts and blankets
  data/json/recipes/armor/other.json
  data/json/uncraft/generic.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#70899 Delete gutter_unify.py
  tools/json_tools/gutter_unify.py
Labels: [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#70895 Variants to chewing gum
  data/json/items/comestibles/other.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70875 Minor exodii tweaks
  data/json/mapgen/exodii/exodii_base.json
  data/json/mapgen_palettes/exodii/homebase.json
  data/json/npcs/exodii/exodii_merchant_talk.json
  data/json/npcs/exodii/exodii_merchant_talk_exodization.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed, 0.H Backport

#70820 eoc: replace u_set_hp with math
  data/json/effects_on_condition/nether_eocs/vitrification_effect_on_condition.json
  data/json/monster_special_attacks/void_spider_mechanics.json
  data/json/ui/bodypart_status.json
  data/json/ui/sidebar-mobile.json
  data/mods/Defense_Mode/effects_on_condition/backend_eocs.json
  data/mods/Magiclysm/enchantments/Gaias_Chosen.json
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/npcs/dialogue/generic_dialogue.json
  data/mods/MindOverMatter/npcs/dialogue/refugee_guards_traitor.json
  data/mods/MindOverMatter/powers/pyrokinesis_eoc.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
  data/mods/Sky_Island/EOCs.json
  data/mods/TEST_DATA/widgets.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/spells/spell_eocs.json
  doc/EFFECT_ON_CONDITION.md
  doc/NPCs.md
  src/condition.cpp
  src/math_parser_diag.cpp
  src/npctalk.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/widget.cpp
Labels: <Documentation>, NPC / Factions, Info / User Interface, [JSON], Code: Tests, [C++], <Bugfix>, [Markdown], Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Limbs, Game: Defense Mode, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Mind Over Matter, Mods: Sky Island

#70818 profession/background condition
  doc/EFFECT_ON_CONDITION.md
  src/character.cpp
  src/character.h
  src/condition.cpp
  src/condition.h
  src/profession.cpp
  src/profession.h
Labels: <Enhancement / Feature>, <Documentation>, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#70882 Handle standalone objects and non-objects in mission om_special check script
  tools/json_tools/assign_mission_target_needs_om_special.bash
Labels: Missions, <Bugfix>, Code: Tooling, astyled, json-styled, BasicBuildPassed

#70855 Mesoamerican weaponry
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/SUS/library.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/books.json
  data/json/items/ammo_types.json
  data/json/items/book/fabrication.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/ranged/atlatl.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/melee.json
  data/json/requirements/toolsets.json
  data/mods/TEST_DATA/expected_dps_data/swords_dps.json
  src/ranged.cpp
  tools/json_tools/generic_guns_validator.py
  tools/spell_checker/dictionary.txt
Labels: [JSON], Crafting / Construction / Recipes, Spawn, Code: Tests, [C++], Items: Ammo / Guns, Melee, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#70853 [Xedra Evolved] Add Treesinging to Arvore
  data/mods/Xedra_Evolved/enchantments/armor.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture_treesung.json
  data/mods/Xedra_Evolved/items/armor/armor.json
  data/mods/Xedra_Evolved/items/clothes.json
  data/mods/Xedra_Evolved/items/furniture_items.json
  data/mods/Xedra_Evolved/items/resources.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/proficiencies.json
  data/mods/Xedra_Evolved/recipes/paraclesians/arvore_construction.json
  data/mods/Xedra_Evolved/recipes/paraclesians/arvore_recipes.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#70848 Add scrap and ingot recipes for tin
  data/json/recipes/other/materials.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#70850 [Content] [Balance] Thread, yarn, and fabric audit and additions.
  data/json/mapgen/s_fabricstore.json
  data/json/mapgen_palettes/fabric_store_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/recipes/other/materials.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#70844 Scrapper NPC now calls soldering wire solder.
  data/json/npcs/scrap_trader/scrap_trader_missions.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed
