Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2024-06, with the labels that each got.

#74225 hound of tindalos looks like hound of tindalos
  data/json/monsters/nether.json
Labels: [JSON], astyled, json-styled

#74213 Fix inconsistencies in corn and popcorn
  data/json/items/comestibles/raw_grain.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/recipes/food/brewing.json
  data/json/recipes/food/corn.json
  data/json/recipes/recipe_food.json
  data/mods/innawood/recipes/brewing.json
Labels: [JSON], Mods, Items: Food / Vitamins, Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#74222 Routine tileset updates on 01 June 2024
  gfx/ASCII_Overmap/tile_config.json
  gfx/Altica/character.png
  gfx/Altica/human_body_plus.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiHuge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/GiantDays/tile_config.json
  gfx/MshockXotto+/huge.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/NeoDaysTileset/large.png
  gfx/NeoDaysTileset/tile_config.json
  gfx/NeoDaysTileset/tiles.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#74216 Add Unholy Debug Angel Cake
  data/json/items/comestibles/junkfood.json
Labels: <Enhancement / Feature>, [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#74236 Added chimney/vent pipe to shelter 2 base camp fireplace/wood stove
  data/json/mapgen/basecamps/base/modular_shelter_2/modular_shelter_2_common.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#74233 Grammar/Spelling Fixers for Fliers Snippets
  data/json/snippets/fliers.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#74228 G80 Category
  data/json/items/gun/12mm.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#74226 small tipo fix
  data/json/npcs/EOC_talkers/xedra_merc.json
Labels: [JSON], astyled, json-styled

#74212 Allow appliances to looks_like furniture
  src/cata_tiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74211 Added chimney/vent pipe above fireplace/wood stove on base shelter 1
  data/json/mapgen/basecamps/base/modular_shelter_1/modular_shelter_1_common.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#74189 Nerf the warmth values of some undergarments and thin clothes.
  data/json/items/armor/gloves.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/undergarment.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#74186 Added chimney/vent pipe to shelter
  data/json/mapgen/basecamps/base/modular_shelter/modular_shelter_common.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#74185 Fix an assertion failure
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#74178 cache available recipe list in craft menu
  src/character.h
  src/character_crafting.cpp
Labels: Code: Performance, Info / User Interface, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#74224 Prevent gun variant script identifiers from being cut off
  tools/json_tools/gun_variant_validator.py
Labels: Items: Ammo / Guns, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#74214 Remove extern trap ids
  src/activity_actor.cpp
  src/character.cpp
  src/computer_session.cpp
  src/construction.cpp
  src/explosion.cpp
  src/game.cpp
  src/iexamine.cpp
  src/iuse.cpp
  src/map.cpp
  src/map_extras.cpp
  src/mapgen.cpp
  src/submap.cpp
  src/trap.cpp
  src/trap.h
  src/trapfunc.cpp
Labels: Map / Mapgen, Crafting / Construction / Recipes, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74145 Audit vitamin costs per mutation
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#74139 Cooldown fix and minor changes
  data/mods/Xedra_Evolved/monster_special_attacks/monster_special_attacks.json
  doc/MONSTER_SPECIAL_ATTACKS.md
  src/mattack_actors.cpp
  src/mattack_actors.h
  src/mattack_common.h
  src/mondefense.cpp
  src/monster.cpp
  src/monstergenerator.cpp
  src/savegame_json.cpp
Labels: <Documentation>, [JSON], Mods, [C++], Monsters, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#74215 [MoM] Torrential channeling research no longer has required proficiencies
  data/mods/MindOverMatter/recipes/research.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#74229 stl_emulation span::count_ is not const anymore
  src/third-party/flatbuffers/stl_emulation.h
Labels: Code: Build, [C++], astyled, json-styled, BasicBuildPassed

#74198 Load sound-triggered traps with more safety
  data/json/traps.json
  src/trap.cpp
  src/trap.h
  src/trapfunc.cpp
Labels: [JSON], [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74239 Aftershock: Urban farms
  data/mods/Aftershock/field_type.json
  data/mods/Aftershock/itemgroups/clothing/civilian_blue_collar_sets.json
  data/mods/Aftershock/itemgroups/tool_groups.json
  data/mods/Aftershock/items/ammo/foam.json
  data/mods/Aftershock/items/armor/civilian_blue_collar.json
  data/mods/Aftershock/items/corpses.json
  data/mods/Aftershock/maps/city_buildings.json
  data/mods/Aftershock/maps/furniture_and_terrain/furniture_habitat.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain.json
  data/mods/Aftershock/maps/furniture_and_terrain/terrain_habitat_floor.json
  data/mods/Aftershock/maps/mapgen/habitats/habitat_center.json
  data/mods/Aftershock/maps/mapgen/habitats/habitat_greenhouse.json
  data/mods/Aftershock/maps/mapgen/habitats/habitat_structure.json
  data/mods/Aftershock/maps/overmap_terrain/overmap_terrain_habitats.json
  data/mods/Aftershock/mobs/abstract_monsters.json
  data/mods/Aftershock/mobs/monster_faction.json
  data/mods/Aftershock/mobs/monster_groups/robot_monster_groups.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/npcs/Augustmoon_Salvors/augustmoon_outfitter.json
  data/mods/Aftershock/recipes/uncraft.json
  data/mods/Aftershock/region_settings.json
  data/mods/aftershock_exoplanet/region_settings.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#74193 Summon mojocycle upgrades at lvl 10
  data/mods/Magiclysm/Spells/technomancer.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
Labels: [JSON], Mods, Vehicles, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#74162 Characters have actual volume, sane-ify sane-ified vehicle size checks. Enforce with unit tests
  data/json/effects.json
  data/mods/TEST_DATA/items.json
  data/mods/TEST_DATA/vehicle.json
  src/character.cpp
  src/character.h
  src/creature.cpp
  src/game.cpp
  tests/char_volume_test.cpp
Labels: [JSON], Vehicles, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74128 Weekly Changelog 2024-05-20 to 2024-05-27
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#73772 [Magiclysm] Add more enchants to effect scaling
  data/mods/Magiclysm/effects/effects.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#73442 catch incorrect component strings
  src/requirements.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#74065 Hold your arrow
  data/json/items/ranged/archery.json
  data/json/items/ranged/atlatl.json
  data/json/items/ranged/slings.json
  data/mods/Aftershock/items/weapons.json
  data/mods/Magiclysm/items/archery.json
  data/mods/Magiclysm/items/enchanted_ranged.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/TEST_DATA/items.json
  data/mods/Xedra_Evolved/items/range.json
  data/raw/keybindings.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/options.cpp
  src/ranged.cpp
Labels: <Enhancement / Feature>, [JSON], Code: Tests, [C++], <Bugfix>, Mods: Magiclysm, Mods: Aftershock, Items: Archery, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#74243 Switched Plasma Reload Speeds
  data/json/items/ranged/energy.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#74253 [Aftershock] Urban Farm Shelf Fix.
  data/mods/Aftershock/maps/mapgen/habitats/habitat_greenhouse.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, Mods: Aftershock, astyled, json-styled

#74223 Adds the Ruger Mk IV
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/22.json
  data/json/items/magazine/22.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_quartermaster.json
  data/json/npcs/refugee_center/surface_staff/Smokes/NPC_Smokes.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  data/mods/classic_zombies/items/blacklists.json
Labels: NPC / Factions, [JSON], Mods, Items: Magazines, Spawn, Items: Ammo / Guns, Mods: Generic Guns, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed

#74259 Fix cata-static-string_id-constants in char_volume_test
  tests/char_volume_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, astyled, json-styled

#74251 Grammar Sweep for Fridges/Freezers
  data/json/furniture_and_terrain/appliances_refrigeration.json
  data/json/furniture_and_terrain/furniture_refrigeration.json
  data/json/items/appliances/appliances_refrigeration.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#74248 Cut down on gun_variant_validator blacklist
  data/json/items/generic.json
  data/json/items/gun/20x66mm.json
  data/json/items/gun/3006.json
  data/json/items/gun/32.json
  data/json/items/gun/545x39.json
  data/json/items/gun/66mm.json
  data/json/items/gun/8x40mm.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/magazine/20x60mm.json
  data/json/items/magazine/8x40mm.json
  tools/json_tools/gun_variant_validator.py
  tools/spell_checker/dictionary.txt
Labels: [JSON], Items: Ammo / Guns, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#74250 Remove Railgun Fouling
  data/json/items/gun/12mm.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74249 More tied fridges
  data/json/items/vehicle/cargo.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/other/vehicle.json
  data/json/vehicleparts/stowed_parts.json
  data/json/vehicleparts/vehicle_parts.json
Labels: [JSON], Vehicles, astyled, json-styled, BasicBuildPassed

#74053 [CR] Hordes don't wander to 0,0
  data/json/monstergroups/misc.json
  src/debug_menu.cpp
  src/debug_menu.h
  src/mongroup.h
  src/overmap.cpp
  src/overmap.h
  src/savegame.cpp
Labels: [JSON], Map / Mapgen, Spawn, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74262 Remove the ability to force feed NPCs petfood
  data/json/item_actions.json
  src/iuse.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#74080 Reconfigures 'plastic_molding' recipes to be more accurate
  data/json/items/tool/misc.json
  data/json/items/tool/science.json
  data/json/recipes/armor/head.json
  data/json/recipes/electronics/parts.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/recipes_holiday.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/ranged.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_recipes.json
  data/mods/Magiclysm/recipes/mods.json
  data/mods/TEST_DATA/known_bad_density.json
  tests/crafting_test.cpp
Labels: [JSON], Mods, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], <Bugfix>, Items: Ammo / Guns, Mods: Magiclysm, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#74276 Reduce Mini 14/Judge Spawn
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
Labels: [JSON], Spawn, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#74281 Allow using hotkeys to select spells in other categories
  src/magic.cpp
  src/ui.cpp
  src/ui.h
Labels: <Documentation>, Info / User Interface, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#74297 `weather_glass` description etc.
  data/json/items/tool/science.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#74289 provided scrap yard with roofs
  data/json/mapgen/fortified_scrap_yard/fortified_scrap_yard.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74287 use local coordinates instead of global in avatar::rebuild_aim_cache()
  src/avatar.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74272 Aftershock: Update bug brewing nutrients to be equivalent to red meat.
  data/mods/Aftershock/itemgroups/food_groups.json
  data/mods/Aftershock/items/comestibles/bug_brew.json
Labels: [JSON], Mods, Items: Food / Vitamins, Spawn, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#74284 Fixed tools/json_tools/table.py and this get clean csv file for tools/gfx_tools/tileset_coverage.py
  tools/json_tools/table.py
Labels: [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#74267 Monster difficulty has a floor of 1
  src/monstergenerator.cpp
Labels: Game: Balance, [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#74280 Stop showing suffix of vehicle if link needs reeling
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74266 [MoM] Fix Earthshaker ter_transform
  data/mods/MindOverMatter/ter_transform/ter_transform.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#74265 [MoM] Extended channeling lowers Nether Attunement event odds
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#74264 [MoM] Reduce maximum length of Nether Conduit attunement effect
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#72252 water rework part 1
  data/json/furniture_and_terrain/terrain-liquids.json
  data/json/items/comestibles/drink.json
  data/json/items/tool/cooking.json
  data/json/recipes/recipe_food.json
  data/json/recipes/tools/tools_primitive.json
  src/consumption.cpp
  src/item_factory.cpp
  src/itype.h
  src/map.cpp
  src/weather.cpp
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, [C++], Fields / Furniture / Terrain / Traps, Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#74255 Introduce half face gas mask
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/tools.json
  data/json/mapgen/cs_open_sewer_small.json
  data/json/monsterdrops/zombie_survivor.json
Labels: <Enhancement / Feature>, [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed

#74296 Adjust Copper Wire Deconstructions
  data/json/recipes/recipe_deconstruction.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#74293 [Magiclysm]Fix Proficiency Scaling in "jmath.json"
  data/mods/Magiclysm/jmath.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, new contributor

#74312 godco got roofs
  data/json/mapgen/godco/church_retreat.json
  data/json/mapgen/godco/nested.json
  data/json/npcs/godco/godco_missions.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: [JSON], Missions, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74315 Break recursive death spiral
  src/avatar.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#74311 Correct the duct tape requirements in aquarium recipes
  data/json/recipes/tools/containers.json
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#74325 rename `acetylene` -> `oxyacetylene` to avoid name collision
  data/json/items/ammo/weldgas.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74323 fix weight of slow-sand water filter
  data/json/items/tool/cooking.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74326 [Aftershock] Remove Habitat Block palette and expand Habitat Structure palettes.
  data/mods/Aftershock/maps/mapgen/freight_transport.json
  data/mods/Aftershock/maps/mapgen/general_store.json
  data/mods/Aftershock/maps/mapgen/habitat_blocks/habitat_block_1.json
  data/mods/Aftershock/maps/mapgen/shuttle_pad.json
  data/mods/Aftershock/maps/mapgen_pallete/afs_habitat_block.json
  data/mods/Aftershock/maps/mapgen_pallete/afs_habitat_structure.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#74328 Corpses can decay into bones, etc.
  doc/MONSTERS.md
  src/item.cpp
  src/item.h
  src/map.cpp
  src/map.h
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
Labels: <Enhancement / Feature>, <Documentation>, [C++], Monsters, [Markdown], astyled, json-styled, BasicBuildPassed

#74324 Warn the player when auto features are off and user is setting an auto feature with a hotkey.
  src/handle_action.cpp
  src/options.cpp
  src/options.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74269 Snow Cones For Alcoholics
  data/json/items/comestibles/frozen.json
  data/json/recipes/food/frozen.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#74340 Fixed Proper Nouns
  doc/Lore/lore-background.md
Labels: <Documentation>, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#74319 Add turpentine, camphine to flammable fuel reicpe requirements group
  data/json/requirements/explosives.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed

#74362 backport wasm build to 0.H
  .github/workflows/emscripten.yml
  .github/workflows/matrix.yml
  .github/workflows/release.yml
  Makefile
  build-data/web/index.html
  build-scripts/build-emscripten.sh
  build-scripts/prepare-web.sh
  src/debug.cpp
  src/do_turn.cpp
  src/emscripten_exception.cpp
  src/filesystem.cpp
  src/game.cpp
  src/main.cpp
  src/main_menu.cpp
  src/mapsharing.cpp
  src/options.cpp
  src/sdltiles.cpp
  src/ui_manager.cpp
  src/worldfactory.cpp
Labels: <Enhancement / Feature>, Info / User Interface, Code: Build, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, Character / World Generation, Code: Tooling, astyled, json-styled, BasicBuildPassed

#74354 Remove legacy npc_class_id handling and extern list
  src/game.cpp
  src/mission.cpp
  src/mission.h
  src/mission_start.cpp
  src/npc.cpp
  src/npc_class.cpp
  src/npc_class.h
  src/savegame_json.cpp
  tests/npc_shopkeeper_item_groups_test.cpp
  tests/npc_talk_test.cpp
  tests/npc_test.cpp
Labels: NPC / Factions, Missions, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#74343 Make options fail faster, fix silent errors
  src/handle_action.cpp
  src/options.cpp
  src/options.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74329 Fix connections sometimes failing to gen on cityless overmaps
  src/overmap.cpp
  src/overmap.h
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74361 Update house_38 to fix miss-matched floor tile
  data/json/mapgen/house/house38.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#74358 fix golden crown disassembly
  data/json/recipes/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#74356 Water terrain connects to dock terrain
  data/json/furniture_and_terrain/terrain-bridges-docks.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74355 Remove Survivor Naginata
  data/json/items/melee/spears_and_polearms.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/weapon/piercing.json
  data/mods/TEST_DATA/expected_dps_data/polearms_dps.json
Labels: [JSON], Code: Tests, <Bugfix>, astyled, json-styled, BasicBuildPassed

#74350 Fix typo and redundant in mutation_techs.json
  data/json/mutations/mutation_techs.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#74347 Hells Raiders (roof) fixup
  data/json/mapgen/hells_raiders/bandit_camp.json
  data/json/mapgen/hells_raiders/bandit_drug_lab.json
  data/json/mapgen/hells_raiders/bandit_work_camp.json
  data/json/mapgen/nested/rural_outdoors_nested.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74305 Party Rock is in the House Tonight
  data/mods/CrazyCataclysm/crazy_attacks.json
  data/mods/CrazyCataclysm/crazy_item_groups.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/CrazyCataclysm/crazy_monsters.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed

#73663 Operation: Update TropiCata
  data/mods/TropiCataclysm/blacklists/default_blacklist.json
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/modinfo.json
  data/mods/TropiCataclysm/monstergroups/eggs.json
  data/mods/TropiCataclysm/monsters/tropical_fish.json
  data/mods/TropiCataclysm/tropical_monster_factions.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
Labels: [JSON], Mods, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#74290 CITY_UNIQUE flag
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_mutable/anthill.json
  data/json/overmap/overmap_mutable/crater.json
  data/json/overmap/overmap_mutable/farm_horse_mutable.json
  data/json/overmap/overmap_special/alien.json
  data/json/overmap/overmap_special/campus.json
  data/json/overmap/overmap_special/lab_modular/lab_mutagen_6_floor.json
  data/json/overmap/overmap_special/oil_platform.json
  data/json/overmap/overmap_special/specials.json
  data/json/regional_map_settings.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/DinoMod/overmap/overmap_specials.json
  data/mods/Magiclysm/worldgen/overmap_specials.json
  data/mods/MindOverMatter/overmap/overmap_specials.json
  data/mods/No_Hope/overmap/overmap_specials.json
  data/mods/TEST_DATA/overmap_specials.json
  data/mods/TropiCataclysm/overmap/overmap_mutable/termitemound.json
  data/mods/TropiCataclysm/overmap/overmap_special/specials.json
  data/mods/Xedra_Evolved/mapgen/overmap_special.json
  data/mods/innawood/overmap/specials_kept.json
  data/mods/railroads/overmap/overmap_special/specials.json
  doc/JSON_FLAGS.md
  src/city.cpp
  src/overmap.cpp
  src/overmap.h
Labels: <Documentation>, [JSON], Map / Mapgen, Code: Tests, [C++], <Bugfix>, [Markdown], Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Innawood 🌲, Mods: TropiCataclysm 🌴, Mods: Xedra Evolved, Mods: Mind Over Matter

#74337 [Aftershock] Add another variant of Habitat Block to the Aftershock Exoplanet
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/maps/city_buildings.json
  data/mods/Aftershock/maps/mapgen/habitat_blocks/habitat_block_2.json
  data/mods/Aftershock/maps/overmap_terrain.json
  data/mods/Aftershock/mobs/monster_groups/robot_monster_groups.json
  data/mods/aftershock_exoplanet/region_settings.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#74370 Adds Bench Vise
  data/json/itemgroups/tools.json
  data/json/items/tool/workshop.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#74357 allow more recipes to use more kinds of water
  data/json/recipes/other/parts_construction.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/tools/tools_primitive.json
  data/json/requirements/materials.json
  data/json/requirements/toolsets.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed

#74298 Fix night vision goggles
  data/json/effects.json
  data/json/enchantments.json
  data/json/flags.json
  data/json/items/armor/head_attachments.json
  data/json/items/armor/helmets.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_frame.json
  src/character.cpp
  src/character.h
  src/character_attire.cpp
  src/flag.cpp
  src/flag.h
Labels: [JSON], Mods, [C++], <Bugfix>, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#74371 Full Auto 10/22
  data/json/items/gun/22.json
  data/json/recipes/weapon/ranged.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
  data/mods/TEST_DATA/item_demographics.json
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#74369 Remove (most) Crater Spawns
  data/json/regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
  data/mods/Xedra_Evolved/regional_overlay.json
  data/mods/classic_zombies/alberta_regional_map_settings.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴, Mods: Xedra Evolved

#74372 Remove further survivor naginata mentions
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/requirements/melee.json
Labels: [JSON], Spawn, <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#74217 Remove extern morale_type ids
  data/json/npcs/other/NPC_pizzaiolo.json
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/addiction.cpp
  src/avatar.cpp
  src/bionics.cpp
  src/character.h
  src/character_body.cpp
  src/character_morale.cpp
  src/construction.cpp
  src/consumption.cpp
  src/crafting.cpp
  src/creature.cpp
  src/debug_menu.cpp
  src/iexamine.cpp
  src/item.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/iuse_software.cpp
  src/magic_spell_effect.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monster.cpp
  src/morale.cpp
  src/morale.h
  src/morale_types.cpp
  src/morale_types.h
  src/npc.cpp
  src/npctalk.cpp
  src/npctalk.h
  src/npctalk_funcs.cpp
  src/projectile.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/string_id_null_ids.cpp
  src/suffer.cpp
  src/timed_event.cpp
  tests/iuse_test.cpp
  tests/mission_test.cpp
  tests/modify_morale_test.cpp
  tests/morale_test.cpp
  tests/npc_talk_test.cpp
  tests/reading_test.cpp
  tests/widget_test.cpp
Labels: NPC / Factions, Info / User Interface, [JSON], Missions, Bionics, Crafting / Construction / Recipes, Code: Tests, [C++], Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#74279 [Aftershock] Add the Esper scenario
  data/mods/Aftershock/EOC/esper_eoc.json
  data/mods/Aftershock/EOC/esper_recipe_learning_eoc.json
  data/mods/Aftershock/damage_types.json
  data/mods/Aftershock/effects_esper.json
  data/mods/Aftershock/effects_on_condition.json
  data/mods/Aftershock/flags.json
  data/mods/Aftershock/jmath.json
  data/mods/Aftershock/mutations/esper.json
  data/mods/Aftershock/player/professions.json
  data/mods/Aftershock/player/proficiencies.json
  data/mods/Aftershock/recipes/esper/telepathy_practice.json
  data/mods/Aftershock/recipes/recipes_categories.json
  data/mods/Aftershock/scenarios.json
  data/mods/Aftershock/skills.json
  data/mods/Aftershock/spells/psionics/classless.json
  data/mods/Aftershock/spells/psionics/telepathy.json
  data/mods/Aftershock/spells/psionics/telepathy_concentration_eocs.json
  data/mods/Aftershock/start_locations.json
  data/mods/Aftershock/vitamin.json
  data/mods/aftershock_exoplanet/setting_blacklists/scenario_blacklist.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Scenarios, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#74423 [MOM] Allow short circuit to kill flying robots
  data/mods/MindOverMatter/powers/electrokinesis.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#74421 Revert conflicting fix that caused #74158
  src/savegame_json.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74430 Add roofs to mil base
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/military/mil_base/mil_base_z1.json
  data/json/mapgen/military/mil_base/mil_base_z2.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74429 Added a portable makeshift brazier
  data/json/furniture_and_terrain/furniture-fireplaces.json
  data/json/items/tool/deployable.json
  data/json/recipes/recipe_others.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, new contributor

#74428 No empty decay IDs
  src/map.cpp
  src/mtype.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#74419 Save achievement files with valid and unique names
  src/game.cpp
  src/path_info.cpp
  src/path_info.h
  src/worldfactory.cpp
  src/worldfactory.h
  tests/worldfactory_test.cpp
  tools/spell_checker/dictionary.txt
Labels: Code: Tests, [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#74418 Rename SIG Mosquito
  data/json/items/gun/22.json
  data/json/items/magazine/22.json
  tools/json_tools/gun_variant_validator.py
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#74417 Obsolete SW 22A, J-22, COP 357
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/22.json
  data/json/items/gun/38.json
  data/json/items/gunmod/accessories.json
  data/json/items/magazine/22.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/militia/GM_Militia_Merchant.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_quartermaster.json
  data/json/npcs/refugee_center/surface_staff/Smokes/NPC_Smokes.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/firearms/pistol_tiny.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  data/mods/Generic_Guns/magazines/pistol_tiny.json
  data/mods/TEST_DATA/item_demographics.json
Labels: NPC / Factions, [JSON], Items: Magazines, Spawn, Code: Tests, <Bugfix>, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#74410 Fixed mi-go roofs
  data/json/mapgen/mi-go/mi-go_encampment.json
  data/json/mapgen/mi-go/mi-go_portal.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_mi-go.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74412 Modification of recipes related to iodine
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#74402 Update leather lamellar recipie to be learned from appropriate manuals.
  data/json/recipes/armor/torso.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#74411 Fix prison bus parts
  data/json/vehicles/vans_busses.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, 0.H backport candidate

#74393 Small lighthouse
  data/json/furniture_and_terrain/furniture-decorative.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-floors-indoor.json
  data/json/furniture_and_terrain/terrain-roofs.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/mapgen/lake_buildings/lighthouse_small.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/scenarios.json
  data/json/start_locations.json
  data/mods/Magiclysm/scenarios.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Scenarios, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#74400 Summer Hard Hat Modernisation
  data/json/items/armor/hats.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#74398 Adjust Newspaper Chronology
  data/json/snippets/newspapers.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74379 Corrections to a couple of house JSON definitions
  data/json/mapgen/house/urban_3_house.json
  data/json/mapgen/house/urban_4_house_basement.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#74392 Organize bone resource item file contents
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/other.json
  data/json/items/generic.json
  data/json/items/resources/bone.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#74346 `Pour into` instead of `Container for`
  src/game_inventory.cpp
  src/inventory_ui.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#74334 Consistency/balance change to sky islands mission count upgrade
  data/mods/Sky_Island/upgrade_missions.json
Labels: [JSON], Mods, Missions, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#74313 Fixes heater system
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/game_inventory.cpp
  src/iuse.cpp
  src/iuse.h
  src/vehicle_use.cpp
Labels: [JSON], Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74432 [MoM] Account for ROBOT_FLYING
  data/mods/MindOverMatter/monsters/species_overrides.json
  data/mods/MindOverMatter/powers/telepathy.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#74274 Weekly Changelog 2024-05-27 to 2024-06-03
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#74367 Minor house map adjustments, mostly roofs
  data/json/mapgen/house/2storymodern02.json
  data/json/mapgen/house/bungalow07.json
  data/json/mapgen/house/house_duplex11.json
  data/json/mapgen/house/house_inner_garden.json
  data/json/mapgen/house/house_tool_shed.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#74332 fix ingredients of slow-sand filter recipe
  data/json/items/tool/cooking.json
  data/json/recipes/tools/tools_primitive.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74327 Add context to some snippets in `data/json/npcs/talk_tags.json`
  data/json/npcs/talk_tags.json
Labels: Translation, [JSON], astyled, json-styled, BasicBuildPassed

#74388 Fixed lab roofs
  data/json/mapgen/lab/lab_modular/lab_roof.json
  data/json/overmap/overmap_special/lab_modular/lab_mini_specials.json
  data/json/overmap/overmap_special/lab_modular/lab_mutagen_6_floor.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_lab.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74452 add roof to lumber hotel
  data/json/mapgen/nested/logger_missions_nested.json
Labels: [JSON], Missions, Map / Mapgen, astyled, json-styled, BasicBuildPassed

#74257 Variant Undies: Boxer Briefs and Boxer Shorts
  data/json/items/armor/undergarment.json
  data/json/recipes/armor/legs.json
  data/json/snippets/clothing.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#74445 Correct occlusion distance calc for non-isometric tilesets
  src/cata_tiles.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#74460 fix typo & refactor
  src/handle_action.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#74450 Fix calculation error in potassium iodide recipe
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#74431 [Aftershock] Esper additions
  data/mods/Aftershock/EOC/esper_eoc.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/Aftershock/mutations/esper.json
  data/mods/Aftershock/player/hobbies.json
  data/mods/Aftershock/player/professions.json
  data/mods/Aftershock/spells/psionics/telepathy.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#74415 KA-BAR now looks like National Guard Bayonet
  data/json/items/melee/swords_and_blades.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed

#74434 [Backrooms] Update to use indestructible terrain, whitelist and EXTERNAL_OPTIONs
  .github/labeler.yml
  .github/reviewers.yml
  data/mods/Backrooms/README.md
  data/mods/Backrooms/furniture_terrain.json
  data/mods/Backrooms/game_balance.json
  data/mods/Backrooms/map_extras.json
  data/mods/Backrooms/overmap_terrain.json
  data/mods/Backrooms/regional_map_settings.json
  src/map_extras.cpp
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#72424 Isherwood farm mutable
  data/json/achievements.json
  data/json/mapgen/farm_2side.json
  data/json/mapgen/farm_tiles.json
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/mapgen/isherwood_farms/farm_horse_isherwood.json
  data/json/mapgen/special.json
  data/json/npcs/holdouts/Mr_Lapin.json
  data/json/npcs/isherwood_farm/NPC_Barry_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Carlos_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/random_encounters/camper_van_traveler.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_teamster.json
  data/json/obsoletion_and_migration_0.I/obsolete_overmap_special.json
  data/json/obsoletion_and_migration_0.I/obsolete_overmap_terrain.json
  data/json/overmap/overmap_mutable/farm_isherwood_mutable.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
  data/json/overmap/overmap_terrain/overmap_terrain_special.json
  data/json/overmap/special_locations.json
  data/json/regional_map_settings.json
  data/mods/aftershock_exoplanet/setting_blacklists/location_blacklist.json
  data/mods/desert_region/overmap/location_blacklist.json
  lang/string_extractor/parsers/overmap_special.py
  src/overmap.cpp
Labels: <Enhancement / Feature>, NPC / Factions, Info / User Interface, Translation, [JSON], Mods, Map / Mapgen, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, [Python], Mods: Aftershock, Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed, Mods: Desert Region

#74424 Purge the overmap coverage test whitelist
  data/json/overmap/overmap_special/overmap_special_vitrified.json
  data/json/overmap/overmap_special/specials.json
  data/json/regional_map_settings.json
  data/mods/TEST_DATA/overmap_terrain_coverage_test/overmap_terrain_coverage_whitelist.json
Labels: [JSON], Map / Mapgen, Code: Tests, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74465 Add cooking_components group to snow cone recipe
  data/json/recipes/food/frozen.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#74270 Aftershock: Replace radioactive gas with ominous radioactive glow.
  data/mods/Aftershock/emit.json
  data/mods/Aftershock/field_type.json
  data/mods/Aftershock/items/grenades.json
  data/mods/Aftershock/items/items.json
  data/mods/Aftershock/maps/furniture_and_terrain/furniture_spaceship_machinery.json
  data/mods/Aftershock/maps/mapgen/crashsites.json
  data/mods/Aftershock/spells.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#74476 Allow mod exclusions in get_all_mods.py
  build-scripts/get_all_mods.py
Labels: Code: Build, [Python], astyled, json-styled, BasicBuildPassed

#74485 natural rock-> floor/roof, adjusted destruction to match
  data/json/mapgen/riverside/whaleys_house_river.json
Labels: [JSON], Map / Mapgen, astyled, json-styled

#74484 Added roofs on refugee center roof access shacks
  data/json/mapgen/refugee_center/z2_refugee_center.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_evac_center.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#74482 Add roofs to prison guard towers
  data/json/mapgen/prison/prison_alcatraz.json
  data/json/mapgen/prison/prison_island.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#74481 Fix mouse overmap navigation while using an isometric non-overmap tileset
  src/sdltiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#74458 Fix text typos.
  data/json/itemgroups/books.json
  data/json/items/toy.json
  data/json/npcs/godco/members/NPC_Sonia_Greene.json
  data/json/npcs/godco/members/cook.json
  data/json/npcs/militia/GM_Militia_Merchant.json
  data/mods/Aftershock/items/grenades.json
  data/mods/Aftershock/maps/furniture_and_terrain/furniture_spaceship_machinery.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Limb_WIP/mutations/mutation_limbs.json
  data/mods/Magiclysm/npc/TALK_FORGE_HELEN_TAVREL.json
  data/mods/Megafauna/monsters/mf_domestic.json
  data/mods/MindOverMatter/monsters/triffids.json
  data/mods/Xedra_Evolved/spells/integrated_armor_spells.json
  tools/spell_checker/dictionary.txt
Labels: NPC / Factions, [JSON], Mods, Spawn, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved, Mods: Mind Over Matter

#74493 Add section on 3D printers to FMS
  doc/FREQUENTLY_MADE_SUGGESTIONS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#74477 [XEDRA] Add Ethereal Wings Dreamer spell
  data/mods/Xedra_Evolved/eocs/spell_learning_eoc.json
  data/mods/Xedra_Evolved/itemgroups/spell_artifacts/dreamer.json
  data/mods/Xedra_Evolved/items/spell_learning_items/spell_learning_items_dreamer.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/spells/dreamer_spells.json
  data/mods/Xedra_Evolved/spells/spell_eocs.json
Labels: [JSON], Mods, Spawn, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#74499 Revert "Remove legacy inventory system handling"
  src/character.cpp
  src/character.h
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74422 Shows the VZ. 58 the Door
  data/json/itemgroups/Weapons_Mods_Ammo/gunmod.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/762.json
  data/json/items/magazine/762.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
Labels: [JSON], Items: Magazines, Items: Gunmod / Toolmod, Spawn, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#74500 [Aftershock] Convert Small and Large Power Substaions
  data/mods/Aftershock/maps/mapgen/afs_power_station_large.json
  data/mods/Aftershock/maps/mapgen/afs_power_station_small.json
  data/mods/Aftershock/maps/overmap_specials.json
  data/mods/Aftershock/maps/overmap_terrain.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#74510 fix paste error in FAQ
  doc/FREQUENTLY_MADE_SUGGESTIONS.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#74507 Added roof to roof access shack on apartment_mod_new
  data/json/mapgen/apartment_mod_new.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#74506 Added roofs to abandoned01
  data/json/mapgen/abandoned01.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#74502 Display distance to mission objective as a real distance
  src/mission_ui.cpp
  src/overmap_ui.cpp
  src/units_utility.cpp
  src/units_utility.h
Labels: Info / User Interface, Missions, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#74501 Fix Small Power Substation
  data/json/mapgen/power_station_small.json
  data/json/overmap/overmap_special/specials.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#74497 Field type migration
  data/mods/TEST_DATA/field_type_migrations.json
  data/mods/TEST_DATA/fields.json
  doc/OBSOLETION_AND_MIGRATION.md
  src/init.cpp
  src/mapdata.h
  src/savegame_json.cpp
  tests/submap_load_test.cpp
Labels: <Documentation>, [JSON], Code: Tests, [C++], <Bugfix>, Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#74467 Remove weird DUKW spawns
  data/json/vehicle_groups.json
Labels: [JSON], Vehicles, astyled, json-styled

#74457 Remove Graphical_Overmap mod + Add errorless mod removal
  data/mods/Graphical_Overmap/base_colors.json
  data/mods/Graphical_Overmap/fonts.json.txt
  data/mods/Graphical_Overmap/go_overmap_terrain.json
  data/mods/Graphical_Overmap/go_overmap_terrain_abstract.json
  data/mods/Graphical_Overmap/go_overmap_terrain_agricultural.json
  data/mods/Graphical_Overmap/go_overmap_terrain_campus.json
  data/mods/Graphical_Overmap/go_overmap_terrain_cemetery.json
  data/mods/Graphical_Overmap/go_overmap_terrain_commercial.json
  data/mods/Graphical_Overmap/go_overmap_terrain_evac_center.json
  data/mods/Graphical_Overmap/go_overmap_terrain_faction_base.json
  data/mods/Graphical_Overmap/go_overmap_terrain_fungal.json
  data/mods/Graphical_Overmap/go_overmap_terrain_hardcoded.json
  data/mods/Graphical_Overmap/go_overmap_terrain_industrial.json
  data/mods/Graphical_Overmap/go_overmap_terrain_lab.json
  data/mods/Graphical_Overmap/go_overmap_terrain_mall.json
  data/mods/Graphical_Overmap/go_overmap_terrain_mansion.json
  data/mods/Graphical_Overmap/go_overmap_terrain_mi-go.json
  data/mods/Graphical_Overmap/go_overmap_terrain_microlab.json
  data/mods/Graphical_Overmap/go_overmap_terrain_military.json
  data/mods/Graphical_Overmap/go_overmap_terrain_private_resort.json
  data/mods/Graphical_Overmap/go_overmap_terrain_public_institutional.json
  data/mods/Graphical_Overmap/go_overmap_terrain_ranch_camp.json
  data/mods/Graphical_Overmap/go_overmap_terrain_recreational.json
  data/mods/Graphical_Overmap/go_overmap_terrain_residential.json
  data/mods/Graphical_Overmap/go_overmap_terrain_river.json
  data/mods/Graphical_Overmap/go_overmap_terrain_robofachq.json
  data/mods/Graphical_Overmap/go_overmap_terrain_test.json
  data/mods/Graphical_Overmap/go_overmap_terrain_transportation.json
  data/mods/Graphical_Overmap/go_overmap_terrain_waste_junk.json
  data/mods/Graphical_Overmap/go_overmap_terrain_waterbody.json
  data/mods/Graphical_Overmap/modinfo.json
  data/mods/Graphical_Overmap/readme.txt
  src/game.cpp
  src/game.h
Labels: [JSON], Mods, Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#74440 Adds a deconstruct query with item list
  data/json/construction/misc.json
  data/json/construction_group.json
  src/activity_handlers.cpp
  src/construction.cpp
  src/item_group.cpp
  src/item_group.h
  src/options.cpp
Labels: <Enhancement / Feature>, [JSON], Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74523 Add roofs to tree farm shacks
  data/json/mapgen/farm_tree.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#74522 Add roof to sewer tent
  data/json/mapgen/cs_open_sewer_small.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#74520 Added roof to incomplete campsite building
  data/json/mapgen/campsite.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#74519 no natural rock floor + roof on Lapin shed
  data/json/mapgen/cabin.json
  data/json/mapgen_palettes/cabin.json
Labels: [JSON], Map / Mapgen, astyled, json-styled
