Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2024-12, with the labels that each got.

#78263 Update error message when parent pocket full
  src/character.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#78247 Migrate scores window to imgui
  src/diary_ui.cpp
  src/game.cpp
  src/kill_tracker.cpp
  src/kill_tracker.h
  src/past_games_info.cpp
  src/past_games_info.h
  src/scores_ui.cpp
  src/scores_ui.h
Labels: Info / User Interface, [C++], Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#78271 Make the set of files that causes clang-tidy to rerun everything much more specific
  build-scripts/clang-tidy.sh
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#78242 External option documentation
  data/core/damage_indicators.json
  data/core/external_options.json
  data/mods/Aftershock/options.json
  data/mods/Backrooms/game_balance.json
  data/mods/Defense_Mode/overmap.json
  data/mods/Isolation-Protocol/game_balance.json
  data/mods/MA/game_balance.json
  data/mods/No_Hope/game_balance.json
  data/mods/TropiCataclysm/modinfo.json
  data/mods/aftershock_exoplanet/game_balance.json
  data/mods/aftershock_exoplanet/options.json
  data/mods/classic_zombies/modinfo.json
  data/mods/classic_zombies/options.json
  data/mods/dda_tutorial/external_options.json
  data/mods/desert_region/modinfo.json
  data/mods/innawood/game_balance.json
  data/mods/railroads/external_options.json
  doc/MODDING.md
  src/options.cpp
  src/options.h
  src/worldfactory.cpp
Labels: <Documentation>, [JSON], Map / Mapgen, [C++], [Markdown], Character / World Generation, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: MA, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Defense Mode, Mods: Innawood 🌲, Mods: TropiCataclysm 🌴, Mods: Desert Region, Mods: Backrooms, Mods: Isolation Protocol ☣, Tutorial

#78272 Don't Panic and clang-tidy everything if there are no eligible files
  build-scripts/clang-tidy.sh
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#78260 Fix Shapeshifter attunement effect with MoM
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#78279 Unbreak clang-tidy from wonky grep
  build-scripts/clang-tidy.sh
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#78256 Update request-review used commit
  .github/workflows/request-review.yml
Labels: <Bugfix>, Code: Tooling, astyled, json-styled, BasicBuildPassed

#78265 Fix mac tests running as raw binary.
  Makefile
Labels: Code: Build, astyled, json-styled

#78282 Fix mac OS market share script
  tools/macos-market-share.py
Labels: [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#78274 [Xedra Evolved] Fix Ruach sidebar descriptions
  data/mods/Xedra_Evolved/ui/ruach_counter.json
  data/mods/Xedra_Evolved/ui/sidebar.json
Labels: Info / User Interface, [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#78281 [Xedra Evolved] Add Commanding the Grasses as an intro trait for Arvore, make Hungry Thirsty Roots require leveling other spells
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_spell_learning_eocs.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/mutations.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78214 Fix museum cannons
  data/json/mapgen/museum.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#78243 [Xedra Evolved] Fix seedbearer trait
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78175 [Xedra Evolved] Add UNCANNY_DODGE hidden trait to appropriate Paraclesian effect + use new enchant
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutation_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78267 Aftershock: Replace exosuit forcefield with backpack generator
  data/mods/Aftershock/items/armor/energy_shield.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_modules.json
  data/mods/Aftershock/migration.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#78206 Audit `satiety`.
  src/character.h
  src/consumption.cpp
  src/output.cpp
  tests/comestible_test.cpp
Labels: Info / User Interface, Items: Food / Vitamins, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#78261 Correct grammar in gun fault clearing messages
  data/json/faults/fixes_gun.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#78273 [MoM] Extend Nether Attunement widget to other sidebars
  data/mods/MindOverMatter/ui/sidebars.json
Labels: Info / User Interface, [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#78290 Weekly Changelog 2024-11-25 to 2024-12-02
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#78293 [Innawoods] Delays the shadow lieutenant boss spawn (and warnings) by three seasons (mid winter by default).
  data/mods/innawood/monsters/singularities.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#78270 Routine tileset updates on 01 December 2024
  gfx/Altica/human_body.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/fillernormal.png
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/RetroDaysTileset/tile_config.json
  gfx/RetroDaysTileset/tiles.png
  gfx/RetroDaysTileset/tiles_20x20.png
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/normal_2x.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tall_2x.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#78292 [MoM] Add new `u_cancel_activity` to unlocking new power/wakeful rest
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
  data/mods/MindOverMatter/recipes/practice/clairsentient_practice.json
  data/mods/MindOverMatter/recipes/practice/electrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/photokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/pyrokinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telekinesis_practice.json
  data/mods/MindOverMatter/recipes/practice/telepathy_practice.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#78250 Revamp the 3x3 hospital
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/mapgen/hospital.json
  data/json/mapgen_palettes/hospital.json
  data/json/monstergroups/zombies.json
  data/mods/Defense_Mode/mapgen/hospital.json
Labels: [JSON], Map / Mapgen, Spawn, Monsters, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Defense Mode

#78304 [Xedra Evolved] Add The Root of the Mountain trait for Ierde
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78310 bugfix: Allow attacking with CANNOT_MOVE flag
  src/avatar_action.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#75762 Update the long pole
  data/json/items/resources/wood.json
  data/json/recipes/other/parts_construction.json
  data/mods/TEST_DATA/expected_dps_data/polearms_dps.json
  data/mods/TEST_DATA/legacy_to_hit.json
Labels: <Enhancement / Feature>, [JSON], Crafting / Construction / Recipes, Code: Tests, astyled, json-styled

#78305 Added ownership to several places of Tacoma Commune ranch camp
  data/json/mapgen/ranch_camp.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#78276 missing Liam/Luo dialog
  data/json/npcs/your_followers/liam_main_dialogue.json
  data/json/npcs/your_followers/luo_follower.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#78241 [DinoMod] nedcolbertia
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/mapgen/map_extras/nest_nedcolbertia.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/fungi.json
  data/mods/DinoMod/monstergroups/lab.json
  data/mods/DinoMod/monstergroups/misc.json
  data/mods/DinoMod/monstergroups/monstergroups_egg.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/monstergroups/zinosaur.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/dinosaur_CBM.json
  data/mods/DinoMod/monsters/fungus.json
  data/mods/DinoMod/monsters/hatchling.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
  data/mods/DinoMod/monsters/zed-dinosaur_CBM.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
  data/mods/DinoMod/overmap/map_extras.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/DinoMod/requirements/cooking_components.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#76982 Clean up `_path_path()` functions
  src/auto_note.cpp
  src/auto_pickup.cpp
  src/cata_path.h
  src/clzones.cpp
  src/debug_menu.cpp
  src/diary.cpp
  src/filesystem.cpp
  src/filesystem.h
  src/game.cpp
  src/json_loader.cpp
  src/main_menu.cpp
  src/map_memory.cpp
  src/mapbuffer.cpp
  src/mod_manager.cpp
  src/overmapbuffer.cpp
  src/path_info.cpp
  src/path_info.h
  src/safemode_ui.cpp
  src/string_formatter.h
  src/translations.cpp
  src/worldfactory.cpp
  src/worldfactory.h
  tests/name_test.cpp
Labels: Info / User Interface, Translation, Map / Mapgen, Code: Tests, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#78291 [ Xedra Evolved ] Improve Dreamsmith Dreamdross Inquiry failure messaging
  data/mods/Xedra_Evolved/eocs/dreamsmith.json
  data/mods/Xedra_Evolved/recipes/misc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#78297 Add a domestic construction palette
  data/json/mapgen/house/bungalow01.json
  data/json/mapgen/house/bungalow02.json
  data/json/mapgen/house/bungalow03.json
  data/json/mapgen/house/bungalow04.json
  data/json/mapgen/house/bungalow05.json
  data/json/mapgen/house/bungalow06.json
  data/json/mapgen/house/bungalow07.json
  data/json/mapgen/house/bungalow08.json
  data/json/mapgen/house/bungalow09.json
  data/json/mapgen/house/bungalow10.json
  data/json/mapgen/house/bungalow11.json
  data/json/mapgen/house/bungalow12.json
  data/json/mapgen/house/bungalow14.json
  data/json/mapgen/house/bungalow15.json
  data/json/mapgen/house/bungalow16.json
  data/json/mapgen/house/bungalow17.json
  data/json/mapgen/house/bungalow18.json
  data/json/mapgen/house/bungalow19.json
  data/json/mapgen/house/bungalow20.json
  data/json/mapgen/house/bungalow21.json
  data/json/mapgen/house/bungalow22.json
  data/json/mapgen/house/house07.json
  data/json/mapgen/house/house08.json
  data/json/mapgen/house/house09.json
  data/json/mapgen/house/house12.json
  data/json/mapgen/house/house15.json
  data/json/mapgen/house/house16.json
  data/json/mapgen/house/house17.json
  data/json/mapgen/house/house18.json
  data/json/mapgen/house/house20.json
  data/json/mapgen/house/house22.json
  data/json/mapgen/house/house26.json
  data/json/mapgen/house/house27.json
  data/json/mapgen/house/house28.json
  data/json/mapgen/house/house29.json
  data/json/mapgen/house/house30.json
  data/json/mapgen/house/house31.json
  data/json/mapgen/house/house32.json
  data/json/mapgen/house/house_duplex3.json
  data/json/mapgen/house/house_duplex4.json
  data/json/mapgen/house/house_duplex8.json
  data/json/mapgen/house/house_garage.json
  data/json/mapgen/house/house_garage2.json
  data/json/mapgen/house/house_garage3.json
  data/json/mapgen/house/house_garage4.json
  data/json/mapgen/house/house_garage5.json
  data/json/mapgen/house/house_library.json
  data/json/mapgen_palettes/house_construction_palette.json
  data/json/mapgen_palettes/house_general_palette.json
Labels: [JSON], Map / Mapgen, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#78302 [Xedra Evolved] Arvore One with the Forest + the Forest's Warning updates
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutations.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/effects.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78314 [MoM] Feral vitakinetics can drain your weariness
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/monster_eoc_attacks.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#78319 [MoM] Fix In the Zone perk
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perkdata/in_the_zone.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#78277 Debug and summon_vehicle spell spawning ignore VEHICLE_STATUS_AT_SPAWN
  src/debug_menu.cpp
  src/magic_spell_effect.cpp
  src/map.h
  src/mapgen.cpp
  src/vehicle.cpp
  src/vehicle.h
Labels: Map / Mapgen, Vehicles, [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#78332 Magic: bugfix spawn ethereal item effect
  src/magic_spell_effect.cpp
Labels: [C++], <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#78348 Skip enscripten build on no-code-changes PRs
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#78347 Improve readability of skip clauses for matrix build
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#78337 [DinoMod] shady rework
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: [JSON], Mods, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#78336 typified iuse & iuse_actor
  src/activity_handlers.cpp
  src/avatar.cpp
  src/character.cpp
  src/construction.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/item_action.cpp
  src/item_factory.cpp
  src/itype.cpp
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/npcmove.cpp
  src/vehicle_use.cpp
  tests/battery_mod_test.cpp
  tests/iuse_actor_test.cpp
  tests/player_activities_test.cpp
Labels: NPC / Factions, Vehicles, Items: Battery / UPS, Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#78344 Add Quick and Quick-NoTiles configurations to MSVC solution
  msvc-full-features/Cataclysm-vcpkg-static.sln
Labels: Code: Build, OS: Windows, astyled, json-styled, BasicBuildPassed

#78352 Move a space into the `diamond` flag string
  src/item_tname.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#78335 Fixes to scores menu
  data/raw/keybindings.json
  src/enum_traits.h
  src/scores_ui.cpp
Labels: Info / User Interface, [JSON], [C++], <Bugfix>, Game: Achievements / Conducts / Scores, astyled, json-styled, ImGui

#78354 fix schizo weapon talk
  data/json/snippets/schizophrenia.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#78364 fix weird YAML multiline truthiness issue
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled

#78350 Avoid const params in declarations
  src/vehicle.h
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#78365 Disarm Typo Fix
  data/json/martialarts_fictional.json
  data/json/techniques.json
  data/mods/MMA/techniques.json
Labels: [JSON], Melee, Martial Arts, astyled, json-styled, BasicBuildPassed, Mods: MMA, new contributor

#78323 Tiny acetylene tank, a new default magazine for acetylene lamps
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/SUS/garage.json
  data/json/itemgroups/shops_trades.json
  data/json/itemgroups/tools.json
  data/json/items/magazine/weldgas.json
  data/json/items/tool/cooking.json
  data/json/items/tool/lighting.json
  data/json/items/tool/workshop.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  data/json/professions.json
  data/json/recipes/ammo/weldgas.json
  tests/iteminfo_test.cpp
Labels: [JSON], Items: Magazines, Map / Mapgen, Spawn, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#78346 Crafting GUI filter: by bodypart coverage; Add filter by layer (for crafting GUI, AIM, inventory etc.)
  src/crafting_gui.cpp
  src/item.cpp
  src/item.h
  src/item_search.cpp
  src/output.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#78361 [Xedra Evolved] Reasonable Werewolf nerfs
  data/mods/Xedra_Evolved/mutations/shapeshifters.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#78333 fix standing tank deconstruction
  data/json/construction/furniture_tools.json
  data/json/furniture_and_terrain/furniture-storage.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, new contributor

#78351 Fix mutations with `remove_rigid` removing `INTEGRATED` armor
  src/mutation.cpp
Labels: Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#78353 Appliance interaction menu is no longer cut off at the bottom
  src/ui.cpp
  src/veh_appliance.cpp
Labels: Info / User Interface, Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#78355 [DinoMod] pluralize CBM dino names
  data/mods/DinoMod/monsters/dinosaur_CBM.json
Labels: [JSON], Mods, Monsters, <Bugfix>, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#78356 [Xedra Evolved] Fix lilit ruach draining crash
  data/mods/Xedra_Evolved/eocs/eoc_mod_overrides.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78358 [Xedra Evolved] Fix sylph translocate text
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#75755 groups all six previous fursuits in game into one variant-ized item, with some added extras.
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/costumes.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/armor/suits_clothes.json
  data/json/monsterdrops/clothing_halloween.json
  data/json/monsterdrops/zombie.json
  data/json/npcs/refugee_center/beggars/BEGGAR_2_Dino_Dave.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/starting_missions.json
Labels: [JSON], Missions, Items: Food / Vitamins, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#78357 typified half of game.h
  src/action.cpp
  src/activity_handlers.cpp
  src/animation.cpp
  src/avatar_action.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/condition.cpp
  src/construction.cpp
  src/debug_menu.cpp
  src/do_turn.cpp
  src/editmap.cpp
  src/explosion.cpp
  src/game.cpp
  src/game.h
  src/gates.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/input_context.cpp
  src/input_context.h
  src/iuse.cpp
  src/live_view.cpp
  src/magic_enchantment.cpp
  src/magic_teleporter_list.cpp
  src/map.cpp
  src/mapgen.cpp
  src/melee.cpp
  src/npctalk.cpp
  src/overmap_ui.cpp
  src/ranged.cpp
  src/sdltiles.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/talker_furniture.cpp
  src/talker_furniture.h
  src/talker_item.cpp
  src/talker_item.h
  src/talker_monster.cpp
  src/talker_monster.h
  src/teleport.cpp
  src/ui.cpp
  src/veh_interact.cpp
  src/veh_shape.cpp
  src/veh_utils.cpp
  src/vehicle_use.cpp
  src/wish.cpp
  tests/eoc_test.cpp
  tests/map_test.cpp
  tests/npc_test.cpp
  tests/vision_test.cpp
Labels: NPC / Factions, Info / User Interface, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#78359 [Xedra Evolved] Add Viridescent Vessel spell to Arvore
  data/mods/Xedra_Evolved/items/vehicle_parts.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_spell_learning_eocs.json
  data/mods/Xedra_Evolved/ter_transforms/arvore_ter_transforms.json
  data/mods/Xedra_Evolved/vehicles/magickal_vehicles.json
  data/mods/Xedra_Evolved/vehicles/vehicle_parts.json
Labels: [JSON], Mods, Vehicles, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78367 Convert star vampire blood-drinking attack to EoC
  data/json/effects.json
  data/json/monsters/nether.json
  data/json/obsoletion_and_migration_0.I/obsolete_effect.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#78372 Fix invalid dereference of empty pre_terrain end iterator
  src/construction.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#78374 heavy lights use batteries
  data/json/items/items_holiday.json
  data/json/items/tool/lighting.json
  data/json/items/tool_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#78378 DDotD's/Classic zombies' region settings -> region overlay
  data/mods/classic_zombies/alberta_regional_map_settings.json
  data/mods/classic_zombies/exclusions.json
  data/mods/classic_zombies/modinfo.json
  data/mods/classic_zombies/region_overlay.json
Labels: [JSON], Mods, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed

#78342 Adding a bong and its spawn conditions
  data/json/itemgroups/misc.json
  data/json/itemgroups/stashes.json
  data/json/items/tool/smoking.json
  data/json/mapgen/headshop.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed, new contributor

#78285 Add "tucked" pocket to leather backpack
  data/json/items/armor/storage.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#76817 [TropiCata] Audit the remaining birds
  data/json/monsters/bird.json
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/monstergroups/eggs.json
  data/mods/TropiCataclysm/monstergroups/misc.json
  data/mods/TropiCataclysm/monstergroups/wilderness.json
  data/mods/TropiCataclysm/monsters/tropical_bird.json
  data/mods/TropiCataclysm/obsoletion_and_migration_0.I/migration_items.json
  data/mods/TropiCataclysm/requirements.json
Labels: [JSON], Mods, Items: Food / Vitamins, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#78197 [Xedra Evolved] Add treesung gear
  data/mods/Xedra_Evolved/enchantments/armor.json
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
  data/mods/Xedra_Evolved/items/armor/armor.json
  data/mods/Xedra_Evolved/items/melee_treesung.json
  data/mods/Xedra_Evolved/items/range_treesung.json
  data/mods/Xedra_Evolved/monsters/elementals.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/npc/boann.json
  data/mods/Xedra_Evolved/recipes/paraclesians/arvore_recipes.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, Monsters, Melee, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#78369 Switch the category of furniture items back to ``other``
  data/json/items/furniture/seating.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#78385 Build fixies
  src/scores_ui.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
  src/worldfactory.cpp
Labels: Info / User Interface, [C++], Character / World Generation, Game: Achievements / Conducts / Scores, astyled, json-styled

#78420 Make hiking backpack sheaths hold a single item
  data/json/items/armor/storage.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#78370 Move the mass of zombie spiders to No Hope
  data/json/monstergroups/wilderness.json
  data/json/monsters/zed-animal.json
  data/mods/No_Hope/monster_groups.json
  data/mods/No_Hope/monsters.json
Labels: [JSON], Spawn, Monsters, astyled, json-styled, Mods: No Hope

#78387 Fix roe requirement group
  data/json/requirements/cooking_components.json
Labels: [JSON], astyled, json-styled

#78425 Make the grocery store use a palette
  data/json/mapgen/nested/aux_nested.json
  data/json/mapgen/s_grocery.json
  data/json/mapgen_palettes/grocery_palette.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#78418 Make Pulp Fiction pawnshop unique
  data/json/overmap/multitile_city_buildings.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#78328 Fix table in OVERMAP.md
  doc/OVERMAP.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#78428 Set transparency cache dirty when placing a vehicle.
  src/map.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#78341 Stop letters spawning outside post office
  data/json/mapgen/post_office.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#77863 Imgui input popups
  src/auto_note.cpp
  src/auto_pickup.cpp
  src/cata_imgui.cpp
  src/cata_imgui.h
  src/game.cpp
  src/input_popup.cpp
  src/input_popup.h
  src/options.cpp
  src/ui.cpp
  src/ui.h
  src/uistate.h
  src/worldfactory.cpp
Labels: Info / User Interface, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, Character / World Generation, astyled, json-styled, BasicBuildPassed

#78424 Naming the newspaper snippets
  data/json/snippets/newspapers.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#78380 [Xedra Evolved] Moon's tears battleaxe copies from hardened steel battleaxe
  data/mods/Xedra_Evolved/items/melee_moons_tears.json
Labels: [JSON], Mods, Melee, astyled, json-styled, Mods: Xedra Evolved

#78417 [Xedra Evolved] Fix ierde faction relations
  data/mods/Xedra_Evolved/monsters/monfaction.json
Labels: [JSON], Mods, Monsters, <Bugfix>, astyled, json-styled, Mods: Xedra Evolved

#78416 [MoM] Eaters can't attack through walls
  data/mods/MindOverMatter/monsters/monster_eoc_spells.json
  data/mods/MindOverMatter/monsters/nether.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#78415 [MoM] Add Vitakinetic power Degenerating Touch
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/powers/learning_eocs/vitakinesis.json
  data/mods/MindOverMatter/powers/vitakinesis.json
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#78311 Merge peanut butter and imitation peanutbutter
  data/json/items/comestibles/nuts.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/food/frozen.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
  tests/iteminfo_test.cpp
Labels: Game: Balance, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, new contributor

#78389 [MoM] Add help files
  data/mods/MindOverMatter/help_files.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Mind Over Matter

#78397 Update HELP_MENU.md
  doc/HELP_MENU.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#78390 Fix recyclecenter
  data/json/mapgen/recycle_center.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#78395 Make black box always retrievable
  data/json/npcs/missiondef.json
  data/json/vehicleparts/vehicle_parts.json
  data/json/vehicles/helicopters.json
Labels: [JSON], Missions, Vehicles, astyled, json-styled, BasicBuildPassed

#78399 Fix #78383 Cellphones can't be charged
  data/json/items/tool/electronics.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#78403 Throw an error when you do [ max, min ] instead of [ min, max ]
  data/json/overmap/overmap_special/specials.json
  src/common_types.h
Labels: [JSON], Map / Mapgen, [C++], astyled, json-styled

#78427 fix checks for charges in EoC, excluding items with flags that do not have own charges
  data/mods/Aftershock/spells/psionics/electrokinesis_concentration_eocs.json
  data/mods/MindOverMatter/monsters/monster_eoc_spells.json
  data/mods/MindOverMatter/powers/electrokinesis_concentration_eocs.json
Labels: [JSON], Mods, Monsters, <Bugfix>, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#78421 Microlab glass walls and door should break into reinf concrete floor
  data/json/furniture_and_terrain/terrain-doors.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/mapgen_palettes/microlab.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#78413 Lore tab tweaks
  data/json/effects_on_condition/computer_eocs.json
  data/json/items/newspaper.json
  data/mods/Xedra_Evolved/eocs/item_eocs.json
  doc/EFFECT_ON_CONDITION.md
  src/faction.cpp
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78382 Structure Damage: Car Crashes, initial implementation
  data/json/mapgen/house/house01.json
  data/json/mapgen/house/house10.json
  data/json/mapgen/house/house38.json
  data/json/mapgen/nested/structure_damage_nested.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#78266 Aftershock: Shield bionics deploy Riemman shields
  data/mods/Aftershock/itemgroups/bionics_groups.json
  data/mods/Aftershock/items/armor/energy_shield.json
  data/mods/Aftershock/items/cbms.json
  data/mods/Aftershock/migration.json
  data/mods/Aftershock/options.json
  data/mods/Aftershock/player/bionic_eocs.json
  data/mods/Aftershock/player/bionics.json
  data/mods/Aftershock/spells/enchantments.json
Labels: [JSON], Mods, Bionics, Spawn, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition

#78452 Fix ASAN error in limb test.
  tests/limb_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled

#78451 Fix typo in 'f_empty_spike' bash drops
  data/json/furniture_and_terrain/furniture-alien.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, new contributor

#78460 Categorically fix type issues with restore_on_out_of_scope
  src/cata_scope_helpers.h
  src/construction.cpp
  src/editmap.cpp
  src/game.cpp
  src/generic_factory.h
  src/item_factory.cpp
  src/ranged.cpp
  src/sdltiles.cpp
  src/ui_manager.cpp
  src/veh_interact.cpp
  src/veh_shape.cpp
  src/wincurse.cpp
  tests/item_pocket_test.cpp
  tests/json_test.cpp
  tests/map_test.cpp
  tests/monster_attack_test.cpp
  tests/monster_test.cpp
  tests/unseal_and_spill_test.cpp
Labels: Info / User Interface, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Monsters, Items: Containers, astyled, json-styled

#78455 rabbit-overcoat-typo.json
  data/json/items/armor/coats.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#77785 [Xedra Evolved] Add more wilderness spooky messages
  data/mods/Xedra_Evolved/effects/effect_on_condition.json
  data/mods/Xedra_Evolved/snippets/effect_on_condition.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78454 Add cut produce to more recipes
  data/json/recipes/food/brewing.json
  data/json/recipes/food/canned.json
  data/json/recipes/food/casseroles.json
  data/json/recipes/food/dairy_products.json
  data/json/recipes/food/dry.json
  data/json/recipes/food/meat_dishes.json
  data/json/recipes/food/milling.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/food/other.json
  data/json/recipes/food/pasta.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#78449 Add cut pepper byproduct to bell pepper & chili pepper seeds recipes
  data/json/recipes/food/seed.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#78461 Explicitly instantiate ~relic() for compile time win.
  src/relic.cpp
  src/relic.h
Labels: [C++], astyled, json-styled

#78457 Relaxing with Alonso is now fun
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed

#78458 Fix the last mention of tier 4 vampirism being described as unobtainable
  data/mods/Xedra_Evolved/README.md
Labels: <Documentation>, Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#78446 [Xedra Evolved] Add Exhalation of Ashes spell to salamanders
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_spell_learning_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#78450 [Magiclysm] Add Mind Crush spell
  data/mods/Magiclysm/Spells/animist.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
Labels: [JSON], Mods, Spawn, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#78470 [Magiclysm] Balance everburning torch and magical reading light by swapping their prices
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/enchanted_misc.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#78462 Allow color replacements in cataimgui
  src/cata_imgui.cpp
  src/cata_imgui.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#78447 [MoM] Psi passives turn off if you can't use psionics
  data/mods/MindOverMatter/mutations/psi_passives.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#78482 Fix issue with bashing satalight dish and negative noise
  data/json/furniture_and_terrain/furniture-roof.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled

#78478 Fix emscripten build referencing deleted resource folder.
  build-scripts/prepare-web.sh
Labels: Code: Build, astyled, json-styled

#78475 Make barter / volume sorting account for stack size
  src/advanced_inv.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#78384 Crafting GUI: Filter recipes by what can fit into the result (longest_side, volume, mass)
  data/json/items/fake.json
  src/crafting_gui.cpp
  src/item.cpp
  src/recipe_dictionary.cpp
  src/recipe_dictionary.h
Labels: Info / User Interface, [JSON], Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#78464 combine snippets into single array
  data/core/tips.json
  data/json/snippets/health_msgs.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#78453 Migrate popups in pocket settings menu to ImGui
  src/item_contents.cpp
Labels: Info / User Interface, [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#78485 [Magiclysm] Reduce zombie dwarves' speed
  data/mods/Magiclysm/monsters/zombified_fantasy_species.json
Labels: [JSON], Mods, Monsters, <Bugfix>, Mods: Magiclysm, astyled, json-styled

#78480 AIM cache filter function once
  src/advanced_inv.cpp
  src/advanced_inv_pane.cpp
  src/advanced_inv_pane.h
Labels: Code: Performance, [C++], astyled, json-styled

#78484 [Magiclysm] Ravenfolk tweaks
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/mutations/mutation_eocs.json
  data/mods/Magiclysm/mutations/mutation_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#78487 Use enums instead of bool for ImGui::BeginChild
  src/magic.cpp
  src/ui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled

#78440 Additional info for batteries and electricity document
  doc/batteries_and_electricity.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#76255 [ Xedra Evolved ] Gracken Stomach Mutations
  data/json/mutations/mutations.json
  data/mods/Xedra_Evolved/body_parts.json
  data/mods/Xedra_Evolved/harvest_monster_hunter_gracken.json
  data/mods/Xedra_Evolved/items/carnivore.json
  data/mods/Xedra_Evolved/items/gracken_trait_improvements.json
  data/mods/Xedra_Evolved/monsters/monster_overrides.json
  data/mods/Xedra_Evolved/mutations/xe_playable_gracken.json
  src/consumption.cpp
  src/flag.h
  src/item.cpp
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Monsters, astyled, json-styled, Mods: Xedra Evolved

#78437 Weekly Changelog 2024-12-02 to 2024-12-09
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#78412 Update Gentoo dependencies
  doc/COMPILING/COMPILING.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#78313 fungalize stages for rest of zombies
  data/json/monsters/fungus_zombie.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed-winged.json
  data/json/monsters/zed_acid.json
  data/json/monsters/zed_children.json
  data/json/monsters/zed_command.json
  data/json/monsters/zed_explosive.json
  data/json/monsters/zed_misc.json
  data/json/monsters/zed_skeletal.json
  doc/MONSTERS.md
  tools/spell_checker/dictionary.txt
Labels: <Documentation>, [JSON], Monsters, [Markdown], astyled, json-styled, BasicBuildPassed

#78497 Migrate martial arts details window to imgui
  data/raw/keybindings.json
  src/martialarts.cpp
Labels: Info / User Interface, [JSON], [C++], <Bugfix>, Martial Arts, astyled, json-styled

#78499 Desk fan audit
  data/json/items/generic.json
  data/json/uncraft/recipe_deconstruction.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, astyled, json-styled

#78498 Fix executable name for notiles targets
  msvc-full-features/Cataclysm-vcpkg-static.vcxproj
Labels: astyled, json-styled, BasicBuildPassed

#78495 Remove mingw cross build
  .github/workflows/matrix.yml
Labels: Code: Infrastructure / Style / Static Analysis, Code: Tooling, astyled, json-styled, BasicBuildPassed

#78500 [MoM] Add `mon_hologram` appearance to Astral Projection
  data/mods/MindOverMatter/mutations/temporary.json
  data/mods/MindOverMatter/powers/clairsentience_eoc.json
Labels: [JSON], Mods, astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#78423 lcmatch instead of wildcard_match for (by)product filter `r:`
  src/crafting_gui.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#78503 [Magiclysm/Innawood] Revamp goblin/orc drops to separate itemgroups, make them fit Innawood
  data/mods/Magiclysm/itemgroups/death_drops.json
  data/mods/Magiclysm/mod_interactions/innawood/orc_goblin_lootgroups.json
  data/mods/Magiclysm/monsters/goblin.json
  data/mods/Magiclysm/monsters/orcs.json
Labels: [JSON], Mods, Spawn, Monsters, Mods: Magiclysm, astyled, json-styled

#78496 Pruning the old ``to-hit`` syntax - Part 12
  data/json/items/ranged/slings.json
  data/json/items/ranged/throwing.json
  data/json/items/resources/glass.json
  data/json/items/resources/home_improvement.json
  data/json/items/resources/metal.json
  data/json/items/resources/misc.json
  data/json/items/resources/stone.json
  data/json/items/resources/tailoring.json
  data/json/items/resources/wood.json
  data/json/items/tool/cables.json
  data/json/items/tool/cooking.json
  data/json/items/tool/deployable.json
  data/json/items/tool/electronics.json
  data/json/items/tool/explosives.json
  data/mods/TEST_DATA/expected_dps_data/junk_dps.json
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
  data/mods/TEST_DATA/expected_dps_data/staves_dps.json
  data/mods/TEST_DATA/legacy_to_hit.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#78513 [Magiclysm] The Forge of Wonders puts no value on food or drink, minimal value on guns and ammo (except the pirates)
  data/mods/Magiclysm/npc/TALK_FORGE_HELEN_TAVREL.json
  data/mods/Magiclysm/npc/factions.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#78509 [Magiclysm/Innawood] Allow troll caves to spawn innawood
  data/mods/Magiclysm/mod_interactions/innawood/deathdrops.json
  data/mods/Magiclysm/mod_interactions/innawood/mapgen/caves.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#78510 [Magiclysm] Rock trolls actually turn to stone
  data/mods/Magiclysm/effect_on_conditions/death_effects.json
  data/mods/Magiclysm/furniture_and_terrain/furniture_stone.json
  data/mods/Magiclysm/monsters/monsters.json
  data/mods/Magiclysm/ter_fur_transform/death_effects.json
Labels: [JSON], Mods, Monsters, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#78494 Adding names to child notes
  data/json/snippets/children_notes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#78444 Add awl quality to swiss army knife
  data/json/items/melee/swords_and_blades.json
Labels: Game: Balance, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#78400 Update MARTIALART_JSON.md
  doc/MARTIALART_JSON.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#78166 [Innawood] Fix scrap from hematite giving too much scrap
  data/mods/innawood/mining/recipes/smelting.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#78432 Prompt before oxytorch activity if you don't have enough gas
  src/activity_actor.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#78523 change armored gauntlets from iron to steel
  data/json/items/armor/gloves.json
Labels: [JSON], astyled, json-styled, Items: Armor / Clothing

#78516 [Magiclysm] Give elves their own sight trait instead of using fey vision, slightly reduce their hearing.
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/professions.json
  data/mods/Magiclysm/traits/fantasy_species.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#78521 carcrash-new-houses-bungalows
  data/json/mapgen/house/bungalow06.json
  data/json/mapgen/house/bungalow08.json
  data/json/mapgen/house/bungalow09.json
  data/json/mapgen/house/bungalow11.json
  data/json/mapgen/house/bungalow15.json
  data/json/mapgen/house/bungalow16.json
  data/json/mapgen/house/bungalow24.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#78514 [Magiclysm] Freshup up bile fix
  data/mods/Magiclysm/Spells/classless.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#78477 Add sorting by price to weight ratio
  src/advanced_inv.cpp
  src/advanced_inv_pane.h
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#78486 [MoM] Add the Font of Vitality, the tier 3 feral vitakinetic
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/monsters/death_effects.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/monster_eoc_attacks.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#78525 [Magiclysm] Fix Sacrificial Regrowth
  data/mods/Magiclysm/Spells/druid.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled
