Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2024-10, with the labels that each got.

#76749 Routine tileset updates on 01 October 2024
  gfx/Altica/centered.png
  gfx/Altica/human_body.png
  gfx/Altica/human_body_plus.png
  gfx/Altica/large.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/Altica/ultica-tall.png
  gfx/BrownLikeBears/tile_config.json
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/centered.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/large.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tall.png
  gfx/ChibiUltica/tile_config.json
  gfx/Larwick_Overmap/tile_config.json
  gfx/MshockXotto+/fillernormal.png
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/layering.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/PenAndPaper/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  gfx/SurveyorsMap/tile_config.json
  gfx/Ultica_iso/human_body_2x.png
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/normal_2x.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/centered.png
  gfx/UltimateCataclysm/human_body.png
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/large.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tall.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#76732 New end screens !
  data/json/ascii_art/graveyard.json
  data/json/end_screen.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#76716 [DinoMod] longer tail attacks
  data/mods/DinoMod/monster_attacks.json
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/juvenile.json
  data/mods/DinoMod/monsters/zed-dinosaur.json
Labels: [JSON], Mods, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#76639 [DinoMod] sauropods out of the water
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/wilderness.json
Labels: [JSON], Mods, Spawn, Monsters, <Bugfix>, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#75693 Baseball bat recipe
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed

#76745 Remove the baseball with barbed wire wrapped around it
  data/json/items/ammo.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/practice/ranged.json
  data/json/recipes/recipe_ammo.json
  data/mods/TEST_DATA/expected_dps_data/clubs_dps.json
  gfx/HollowMoon/tile_config.json
  gfx/NeoDaysTileset/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, Crafting / Construction / Recipes, Code: Tests, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#76751 HUB01 templates' spawn is more predictable
  data/json/items/generic.json
Labels: [JSON], Spawn, Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#76737 Override dont change the names of monsters to the old ones
  data/mods/MindOverMatter/monsters/monster_overrides_tameable.json
  data/mods/Tamable_Wildlife/fish.json
  data/mods/Tamable_Wildlife/mammal.json
  data/mods/Tamable_Wildlife/mollusk.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife, Mods: Mind Over Matter

#76759 Electronic devices spawn rate rework
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Labs/labs_common.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/SUS/office.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/electronics.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/NC_HACKER.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/mods/MindOverMatter/itemgroups/matrix_technology_labs.json
  data/mods/Xedra_Evolved/itemgroups/itemgroups.json
Labels: Game: Balance, [JSON], Mods, Spawn, Monsters, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, Mods: Mind Over Matter

#76701 [Magiclysm] Condense Attunement UI and simplify json code
  data/mods/Magiclysm/Spells/infrastructure.json
  data/mods/Magiclysm/effect_on_conditions/attunements.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/enchantments/Artificer.json
  data/mods/Magiclysm/enchantments/Blood_Mage.json
  data/mods/Magiclysm/enchantments/Boreal_Mage.json
  data/mods/Magiclysm/enchantments/Cleansing_Flame.json
  data/mods/Magiclysm/enchantments/Earth_Elemental.json
  data/mods/Magiclysm/enchantments/Fire_Elemental.json
  data/mods/Magiclysm/enchantments/Force_Mage.json
  data/mods/Magiclysm/enchantments/Gaias_Chosen.json
  data/mods/Magiclysm/enchantments/Glacier_Mage.json
  data/mods/Magiclysm/enchantments/Golemancer.json
  data/mods/Magiclysm/enchantments/Gravity_Mage.json
  data/mods/Magiclysm/enchantments/Ice_Elemental.json
  data/mods/Magiclysm/enchantments/Magnetism_Mage.json
  data/mods/Magiclysm/enchantments/Permafrost_Mage.json
  data/mods/Magiclysm/enchantments/Radiaton_Mage.json
  data/mods/Magiclysm/enchantments/Shaman.json
  data/mods/Magiclysm/enchantments/Soulfire.json
  data/mods/Magiclysm/enchantments/Storm_Elemental.json
  data/mods/Magiclysm/enchantments/Sun_Mage.json
  data/mods/Magiclysm/enchantments/Tundra_Mage.json
  data/mods/Magiclysm/enchantments/Void_Mage.json
  data/mods/Magiclysm/enchantments/Vulcanist.json
  data/mods/Magiclysm/enchantments/Wither_Mage.json
  data/mods/Magiclysm/traits/attunements.json
  data/mods/Magiclysm/traits/infrastructure.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#76731 [MoM] Fix Missing mind shield (0.H Backport)
  data/mods/MindOverMatter/items/psions_summon_items.json
Labels: <Enhancement / Feature>, Info / User Interface, [JSON], Mods, <Bugfix>, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#76770 Update JSON_INFO.md
  doc/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#76755 Remove `kill_advanced_inv`
  src/advanced_inv.cpp
  src/do_turn.cpp
  src/ui.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76753 Removed obsoleted faction camp stuff
  src/faction_camp.cpp
  src/mission_companion.cpp
  src/mission_companion.h
Labels: Missions, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#76760 [Isolation Protocol] Fix trailing spaces
  data/mods/Isolation-Protocol/Player/Perks/perk_eoc.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Isolation Protocol ☣

#76667 [MoM] Add the unstoppable force (final rank feral telekinetic)
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#75341 make crashed airliners spawn no ferals
  data/json/mapgen/airliner.json
Labels: Game: Balance, [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#76714 Gun spawn overhaul
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/SUS/gunstore.json
  data/json/itemgroups/SUS/lodge.json
  data/json/itemgroups/Weapons_Mods_Ammo/conversions/conversion_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/conversions/nested_conversion_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/stashes.json
  data/json/mapgen/basement/basement_guns.json
  data/json/mapgen/basement/basement_meth.json
  data/json/mapgen/house/house24.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z-1.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z1.json
  data/json/mapgen/nested/basement_nested.json
  data/json/mapgen/nested/strip_mall_nested.json
  data/json/mapgen/prison/prison_alcatraz.json
  data/json/mapgen/river_shipwreck.json
  data/json/mapgen/shooting_range.json
  data/json/mapgen_palettes/gunstore.json
  data/json/mapgen_palettes/isolated_artisans.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/hells_raiders/classes.json
  data/mods/Aftershock/itemgroups/item_groups.json
  data/mods/Aftershock/itemgroups/weapons/weapon_expansion_groups.json
  data/mods/Aftershock/npcs/cyborg_npcs/item_groups_cyborg.json
  data/mods/Backrooms/itemgroups.json
  data/mods/Defense_Mode/npcs.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_basement.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_z1.json
  data/mods/No_Hope/item_groups.json
  data/mods/No_Hope/mapgen_palettes/other_palettes.json
  data/mods/innawood/itemgroups/guns.json
Labels: NPC / Factions, [JSON], Mods, Map / Mapgen, Spawn, Monsters, Items: Ammo / Guns, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Defense Mode, Mods: Innawood 🌲, Mods: Mind Over Matter, Mods: Backrooms

#76681 Dialogue debug: toggle display of conditionals/effects
  data/raw/keybindings.json
  doc/NPCs.md
  src/dialogue.h
  src/dialogue_win.cpp
  src/dialogue_win.h
  src/npctalk.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#76762 Fix all cameras not having a charge action
  data/json/items/tool/electronics.json
  data/json/items/tool_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, Items: Armor / Clothing

#76774 Clarify that artifact effects should be hidden
  doc/ARTIFACTS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#76773 [MoM] Give the human whirlwind (and feral security captain, Ψ Division) the Hurricane Blows power
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/monsters/feral_psychics.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#76768 replace landmines with beartraps in the bandit cabin
  data/json/npcs/refugee_center/surface_visitors/NPC_old_guard_representative.json
Labels: Game: Balance, NPC / Factions, [JSON], astyled, json-styled, BasicBuildPassed

#76786 Turn the .300 BLK X95 into 556
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/223.json
  data/json/items/gun/300BLK.json
  data/mods/TEST_DATA/item_demographics.json
Labels: [JSON], Spawn, Code: Tests, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#76784 Added doc to 'CARGO_PASSABLE' flag
  doc/JSON_FLAGS.md
Labels: <Documentation>, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#76765 Fix CI for 0.H by not running tests with with wip limbs mod and Magiclysm together
  build-scripts/get_all_mods.py
Labels: Code: Build, [Python], astyled, json-styled, BasicBuildPassed

#76775 Replace medication activation messages with a template
  data/json/items/comestibles/med.json
  data/json/items/comestibles/mutagen.json
  data/mods/Aftershock/items/mutagen.json
  data/mods/DinoMod/items/mutagen.json
  data/mods/Magiclysm/items/mutagen.json
  data/mods/MindOverMatter/items/medical.json
  data/mods/Xedra_Evolved/items/comestibles/med.json
  data/mods/Xedra_Evolved/items/mutagen.json
Labels: [JSON], Mods, Items: Food / Vitamins, Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, Mods: Mind Over Matter

#76766 [Magiclysm] Add feral stormshapers
  data/mods/Magiclysm/Spells/feral_wizards.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/itemgroups/death_drops.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/monsters/feral_wizards.json
Labels: [JSON], Mods, Spawn, Monsters, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#76782 Avoid JSON errors on Windows with no sound devices
  src/sdlsound.cpp
  src/sdlsound.h
  src/sdltiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76763 [MoM] Allow Intuitive Artisan to craft in complete darkness (because you close your eyes and let the visions take over)
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/clairsentience_eoc.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#76744 Move Zombie Bio Operators to No Hope
  data/json/mapgen/lab/lab_floorplans_1side.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_mapgen_updates.json
  data/json/mapgen/map_extras/military.json
  data/json/mapgen/microlab/microlab_generic.json
  data/json/mapgen/outpost.json
  data/json/monsterdrops/zombie_soldier.json
  data/json/monstergroups/lab.json
  data/json/monstergroups/military.json
  data/json/monstergroups/misc.json
  data/json/monsters/nether.json
  data/json/monsters/zed_soldiers.json
  data/mods/No_Hope/monster_drops.json
  data/mods/No_Hope/monster_groups.json
  data/mods/No_Hope/monsters.json
  data/mods/Sky_Island/monstergroups.json
  data/mods/Xedra_Evolved/monsters/monster.json
  tests/npc_talk_test.cpp
Labels: NPC / Factions, [JSON], Mods, Map / Mapgen, Spawn, Code: Tests, [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Xedra Evolved, Mods: Sky Island

#76727 Adjust .22 Ammo Spawns
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
Labels: [JSON], Spawn, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#76680 Cleaner frogs
  data/json/items/comestibles/egg.json
  data/json/monstergroups/amphibian.json
  data/json/monstergroups/eggs.json
  data/json/monsters/reptile_amphibian.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed_amphibian.json
  data/json/monsters/zed_misc.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
Labels: [JSON], Items: Food / Vitamins, Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#76528 fungal brute and hulk
  data/json/monsters/fungus_zombie.json
  data/json/monsters/zed_misc.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#75912 Use item::energy to stash sub-kJ power quantities for more precise power usage
  src/item.cpp
  src/item.h
  tests/active_item_test.cpp
  tests/ammo_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#76787 Don't take integrated and no-takeoff items when mugging
  src/npcmove.cpp
Labels: NPC / Factions, [C++], Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#76806 human lard less calorie dense
  data/json/recipes/recipe_food.json
Labels: Game: Balance, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#76805 Remove Military Professions mod
  data/mods/Military_Professions/modinfo.json
  data/mods/Military_Professions/npc/NC_ARMY.json
  data/mods/Military_Professions/npc/NC_OPS.json
  data/mods/Military_Professions/npc/classes.json
  data/mods/Military_Professions/prof/army.json
  data/mods/Military_Professions/prof/itemgroups_prof.json
  data/mods/Military_Professions/prof/spc.json
  data/mods/Military_Professions/scenarios.json
Labels: [JSON], Mods, Spawn, Scenarios, astyled, json-styled, BasicBuildPassed

#76813 Remove even more unused stuff
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/items/ammo/8x40mm.json
  data/json/items/gun/380.json
  data/json/professions.json
  data/mods/BombasticPerks/perkdata/old_guns.json
  data/mods/Defense_Mode/npcs.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Magiclysm/Spells/attunements/Magnetism_Mage.json
  data/mods/TEST_DATA/item_demographics.json
  data/mods/TEST_DATA/legacy_to_hit.json
  data/mods/classic_zombies/items/blacklists.json
Labels: NPC / Factions, [JSON], Spawn, Mutations / Traits / Professions/ Hobbies, Code: Tests, Items: Ammo / Guns, Mods: Magiclysm, Mods: Generic Guns, Mods: Dark Days of the Dead, Mechanics: Enchantments / Spells, astyled, json-styled, Mods: Defense Mode, Mods: Bombastic Perks

#76360 Clamp size of loading screen image so loading screen text always shows
  src/loading_ui.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76809 Ruin the ballista, ruin the game
  data/json/items/ranged/ballista.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#76722 typed tripoints in iexamine functions
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/game.cpp
  src/handle_action.cpp
  src/handle_liquid.cpp
  src/iexamine.cpp
  src/iexamine.h
  src/iexamine_actors.cpp
  src/iexamine_actors.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/magic_teleporter_list.cpp
  src/magic_teleporter_list.h
  src/mapdata.cpp
  src/mapdata.h
  src/vehicle_use.cpp
  tests/eoc_test.cpp
  tests/iexamine_test.cpp
  tests/player_activities_test.cpp
Labels: Info / User Interface, Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#76803 do not suppress missing/failed to load json error
  src/savegame_json.cpp
  src/veh_type.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76812 Character randomization sometimes produces 'crossdressing' characters
  src/newcharacter.cpp
Labels: <Enhancement / Feature>, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#76804 Dialogue: JSON fields for displaying hidden responses
  data/json/npcs/TALK_TEST.json
  data/raw/keybindings.json
  doc/NPCs.md
  src/dialogue.h
  src/dialogue_win.cpp
  src/dialogue_win.h
  src/npctalk.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#76781 [DinoMod] DinoZoo update
  data/mods/DinoMod/mapgen/zoo.json
  data/mods/DinoMod/monstergroups/dinosaur.json
  data/mods/DinoMod/monstergroups/wilderness.json
  data/mods/DinoMod/overmap/overmap_terrain_zoo.json
  data/mods/DinoMod/scenarios.json
  data/mods/DinoMod/startlocations.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Fields / Furniture / Terrain / Traps, Scenarios, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#76802 wrap sound_init_success in #if defined(SDL_SOUND) block
  src/sdltiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#74360 Big Expansion to dialogue/messages for various categories
  data/json/npcs/talk_tags.json
  data/json/npcs/talk_tags_chat.json
  data/json/snippets/children_notes.json
  data/json/snippets/health_msgs.json
  data/json/snippets/schizophrenia.json
  data/json/snippets/survivor_notes.json
  data/mods/Xedra_Evolved/snippets/dreams.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Xedra Evolved, new contributor

#76788 Increase the batch size of the calcium carbide producing reaction
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/appliances.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#76824 Small patch to ranged balance test flakiness
  tests/ranged_balance_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#76826 Added check for stealing prior to inserting items into container
  src/inventory_ui.cpp
Labels: <Enhancement / Feature>, NPC / Factions, Info / User Interface, [C++], Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#76852 Make more zombies wear wedding rings
  data/json/monsterdrops/zombie_default.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#76841 fix mutation spell not checking stamina
  data/json/effects_on_condition/mutation_eocs/mutation_activation_eocs.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#76840 fix typo in dreamsmith hammer spell
  data/mods/Xedra_Evolved/spells/dreamsmithing.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Xedra Evolved

#76834 Un-popup the Beautiful Nether Lily Messages
  data/json/furniture_and_terrain/furniture_nether_monster.json
Labels: [JSON], Monsters, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#76847 Make garlic smokable
  data/json/items/comestibles/raw_veggy.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed, new contributor

#76859 Backport #75642 Prevent div by zero crash in mana widget
  src/widget.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76848 [Xedra Evolved] No werealfs
  data/mods/Xedra_Evolved/mutations/shapeshifters.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#76829 Fixed crash on trying to unwield heavy items when trying to drive
  src/game.cpp
Labels: Vehicles, [C++], <Bugfix>, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#76858 Backport #72234 (Refactor camp hunting function) for 0.H
  src/basecamp.h
  src/faction_camp.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [C++], <Bugfix>, Code: Infrastructure / Style / Static Analysis, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#76855 Backport #76175 (grass regrows for grazing) to 0.H
  data/json/furniture_and_terrain/terrain-flora.json
Labels: <Enhancement / Feature>, Info / User Interface, [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#76825 [Backport?] Fix feral wizard species from #71275
  data/mods/Magiclysm/monsters/feral_wizards.json
  src/activity_handlers.cpp
Labels: [JSON], Mods, [C++], <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#76795 typified a bit of map.h/cpp + dependencies
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/avatar.cpp
  src/basecamp.cpp
  src/character.cpp
  src/clzones.cpp
  src/condition.cpp
  src/coordinates.cpp
  src/coordinates.h
  src/creature.cpp
  src/debug_menu.cpp
  src/editmap.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/inventory.cpp
  src/item.cpp
  src/lightmap.cpp
  src/magic_teleporter_list.cpp
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/map_field.cpp
  src/mapgen.cpp
  src/mattack_actors.cpp
  src/monmove.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/npctrade_utils.cpp
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/pathfinding.cpp
  src/pathfinding.h
  src/pixel_minimap.cpp
  src/ranged.cpp
  src/scent_map.cpp
  src/start_location.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle_autodrive.cpp
  src/vehicle_move.cpp
  src/visitable.cpp
  tests/act_build_test.cpp
  tests/eoc_test.cpp
  tests/map_test.cpp
  tests/mapgen_place_vehicles_test.cpp
  tests/mapgen_remove_vehicles_test.cpp
  tests/shadowcasting_test.cpp
Labels: NPC / Factions, Info / User Interface, Map / Mapgen, Vehicles, Code: Tests, [C++], Fields / Furniture / Terrain / Traps, Scenarios, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#76725 Ravenfolk updates
  data/mods/Magiclysm/mutations/fantasy_species.json
  data/mods/Magiclysm/mutations/mutation_eocs.json
  data/mods/Magiclysm/mutations/mutation_spells.json
  data/mods/Magiclysm/mutations/mutations.json
  data/mods/Magiclysm/npc/trait_groups.json
  data/mods/Magiclysm/traits/fantasy_species.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#76850 [MoM] Add Attunement meter to Spacebar UI
  data/mods/MindOverMatter/ui/spacebar.json
Labels: Info / User Interface, [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#76819 Fix consume activity creation from liquid handler
  src/handle_liquid.cpp
  src/handle_liquid.h
  src/iexamine.cpp
  src/item_location.cpp
  src/item_location.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76870 Cabin in Safe Place scenario is now actually safe
  data/json/start_locations.json
Labels: [JSON], <Bugfix>, Scenarios, astyled, json-styled, BasicBuildPassed

#76862 Add some NPC pilots to the world
  data/json/npcs/BG_traits.json
  data/json/npcs/Backgrounds/backgrounds_table_of_contents.json
  data/json/npcs/Backgrounds/ex_pilot_1.json
  data/json/npcs/classes.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#76851 Make chilis smokable
  data/json/items/comestibles/raw_veggy.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed, new contributor

#76891 Remove recipe for leather out of tainted hide, human hide
  data/json/items/comestibles/carnivore.json
  data/json/recipes/recipe_others.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled

#76888 typified map.h + dependents, end of first pass
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/bionics.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/character_escape.cpp
  src/computer_session.cpp
  src/debug_menu.cpp
  src/do_turn.cpp
  src/editmap.cpp
  src/explosion.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/handle_action.cpp
  src/handle_liquid.cpp
  src/iexamine.cpp
  src/inventory_ui.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/lightmap.cpp
  src/magic_teleporter_list.cpp
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/mattack_actors.cpp
  src/melee.cpp
  src/mission_companion.cpp
  src/mission_start.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster_oracle.cpp
  src/mutation.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/sdltiles.cpp
  src/start_location.cpp
  src/suffer.cpp
  src/timed_event.cpp
  src/trapfunc.cpp
  src/vehicle_move.cpp
  src/vehicle_use.cpp
  tests/field_test.cpp
  tests/ground_destroy_test.cpp
  tests/map_helpers.cpp
  tests/map_test.cpp
  tests/mongroup_test.cpp
  tests/overmap_test.cpp
  tests/visitable_zone_test.cpp
Labels: NPC / Factions, Info / User Interface, Missions, Bionics, Map / Mapgen, Vehicles, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, Melee, Scenarios, Player Faction Base / Camp, astyled, json-styled

#76887 Fix vitamin documentation
  doc/VITAMIN.md
Labels: <Documentation>, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#76885 fix natural spring visibility
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#76884 fix junk_allergen name
  data/json/vitamin.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76871 Removed High Adrenaline as a background trait for Fire Performing hobby
  data/json/hobbies.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed

#76898 [MoM] Two bugfixes
  data/mods/MindOverMatter/powers/learning_eocs/electrokinesis.json
  data/mods/MindOverMatter/recipes/practice/electrokinesis_practice.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Mind Over Matter

#76895 [MoM] Portal storm awakening EoC fix
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#76893 [MoM] Marksman's Eye edits (lower range bonus, makes hitting weakpoints more likely)
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/clairsentience_concentration_eocs.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#76890 EOCs modifying calories track spent calories
  doc/NPCs.md
  src/math_parser_diag.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#76889 Rotten blood can't be analyzed on centrifuge
  src/computer_session.cpp
Labels: [C++], Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#76883 limit stomach_contents::capacity to be no less than 250 ml
  src/stomach.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76872 Fix Mosin battle rifle barrel length
  data/json/items/gun/762R.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76874 Add barrel length to Taurus Spectrum
  data/json/items/gun/380.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76846 [Sky Island] Add side storage (or whatever) rooms
  data/mods/Sky_Island/dialog_statue.json
  data/mods/Sky_Island/island_upgrades.json
  data/mods/Sky_Island/upgrade_missions.json
Labels: [JSON], Mods, Missions, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#76861 Denim Clothing Warmth Changes
  data/json/items/armor/coats.json
  data/json/items/armor/gloves.json
  data/json/items/armor/torso_clothes.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#76863 Vest and jacket tweaks
  data/json/items/armor/torso_armor.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#76906 [MoM] NPCs can awaken in portal storms
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#76877 reduce weight and volume of the jika-tabi sneakers
  data/json/items/armor/boots.json
Labels: <Enhancement / Feature>, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#76866 Add character ID to solo faction IDs to ensure uniqueness
  src/debug_menu.cpp
  src/game.cpp
  src/npctalk_funcs.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#76919 Bunny ears
  data/json/items/armor/jewelry.json
Labels: [JSON], astyled, json-styled, Items: Armor / Clothing

#76894 [Magiclysm/Xedra Evolved] Magiclysm/xe updates for #76890
  data/mods/Limb_WIP/mod_interactions/mindovermatter/vitakinesis_eoc.json
  data/mods/Magiclysm/Spells/biomancer.json
  data/mods/Magiclysm/effects/eoc_transformations.json
  data/mods/Xedra_Evolved/eocs/shapeshifter_eocs.json
  data/mods/Xedra_Evolved/items/comestibles/goblin_fruits.json
  data/mods/Xedra_Evolved/mutations/paraclesians/salamander_eocs.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/spells/hedge_magic_eocs.json
Labels: <Documentation>, NPC / Factions, [JSON], Mods, Items: Food / Vitamins, [C++], [Markdown], Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, EOC: Effects On Condition, Mods: Xedra Evolved

#76897 [MoM/XE Interaction] Ierde and powerful vampires are immune to telepathy
  data/mods/MindOverMatter/mod_interactions/xedra_evolved/paraclesians.json
  data/mods/MindOverMatter/mod_interactions/xedra_evolved/vampires.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Mind Over Matter

#76914 Fix #76733
  data/json/itemgroups/food_service.json
  data/json/items/containers/containers.json
Labels: [JSON], Items: Food / Vitamins, Spawn, Items: Containers, astyled, json-styled

#76911 [MoM] Reduce psionics calorie costs by 20%, remove Nether Attunement adjustment
  data/mods/MindOverMatter/README.md
  data/mods/MindOverMatter/jmath.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, Mods: Mind Over Matter

#76908 [Magiclysm] Add one ring and one set of bracers
  data/mods/Magiclysm/Spells/item_only.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/items/enchanted_bracers.json
  data/mods/Magiclysm/items/enchanted_rings.json
Labels: [JSON], Mods, Spawn, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#76794 Replaced 'motel' and '2-floor motel' with twd motel as possible start location for Low Profile scenario
  data/json/start_locations.json
Labels: [JSON], <Bugfix>, Scenarios, astyled, json-styled, BasicBuildPassed

#76807 Only call loading_ui::done when actually done
  src/init.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76820 Fix crash when pickaxe expires during mining
  src/activity_handlers.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#76821 Fix display of loudness multiplier of gunmods
  src/item.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed, new contributor

#76881 [Xedra Evolved] Little cleanups
  data/mods/Xedra_Evolved/eocs/scenario_specific.json
  data/mods/Xedra_Evolved/eocs/spell_learning_eoc.json
  doc/EFFECT_ON_CONDITION.md
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Mods, [C++], [Markdown], Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#76873 Add barrel length to Beretta 90-two
  data/json/items/gun/40.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76869 Spend time when taking off items via 'T' in item examine menu
  src/game.cpp
Labels: [C++], Items / Item Actions / Item Qualities, <Bugfix>, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#76614 Actually check if faction is lone wolf instead of "no_faction" ID
  src/character.cpp
  src/npc.cpp
  src/talker_npc.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#76933 Use accurate invlet in mutation ui examine instructions
  src/mutation_ui.cpp
Labels: Info / User Interface, Mutations / Traits / Professions/ Hobbies, [C++], <Bugfix>, astyled, json-styled

#76853 [Bombastic Perks/MoM] Add MoM-specific perks
  data/mods/BombasticPerks/perkmenu.json
  data/mods/MindOverMatter/damage_types.json
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perkdata/burning_bright.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perkdata/clear_minded_channeling.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perkdata/in_the_zone.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perkdata/phoenix_rising.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perkmenu.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perks.json
  data/mods/MindOverMatter/mutations/traits.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Bombastic Perks, Mods: Mind Over Matter

#76929 Only list non-zero damage types on melee weapons
  src/item.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76925 Now it's possible to complete Gemma Johnstone's 'Retrieve the fertility supplements' mission
  data/json/npcs/godco/godco_missions.json
  data/json/npcs/godco/members/NPC_Gemma_Johnstone.json
Labels: NPC / Factions, [JSON], Missions, Spawn, Items / Item Actions / Item Qualities, <Bugfix>, astyled, json-styled, BasicBuildPassed

#76922 Always show player's destination as possible goto-location option
  src/npctalk_funcs.cpp
Labels: NPC / Factions, Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#76818 Spells can damage other limbs
  doc/MAGIC.md
  src/character.cpp
  src/creature.cpp
  src/damage.h
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: <Documentation>, [C++], <Bugfix>, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#76816 Port the TropiCata guineafowl to vanilla
  data/json/items/comestibles/egg.json
  data/json/monstergroups/eggs.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/wilderness.json
  data/json/monsters/bird.json
  data/json/requirements/cooking_components.json
  data/mods/TropiCataclysm/items/comestibles/egg.json
  data/mods/TropiCataclysm/monstergroups/eggs.json
  data/mods/TropiCataclysm/monstergroups/misc.json
  data/mods/TropiCataclysm/monstergroups/wilderness.json
  data/mods/TropiCataclysm/monsters/tropical_bird.json
Labels: [JSON], Mods, Items: Food / Vitamins, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#76937 Add reload_one flag to benelli_sa
  data/json/items/gun/shot.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#76917 disable support for `x-min`/`x-max` itemgroup fields
  data/json/itemgroups/Locations_MapExtras/map_extras.json
  data/json/itemgroups/corpses.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/trash_and_debris.json
  data/json/mapgen/survivor_forest_camp.json
  data/json/mapgen_palettes/oil_platform_palette.json
  data/json/npcs/militia/GM_Militia_Merchant.json
  data/mods/Aftershock/monsterdrops/monsterdrops.json
  data/mods/Xedra_Evolved/itemgroups/map_extra_itemgroups.json
  doc/ITEM_SPAWN.md
  src/item_factory.cpp
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, Spawn, [C++], Monsters, [Markdown], Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#76752 Start of cataclysm day and start of game day now respect season length
  src/scenario.cpp
Labels: [C++], <Bugfix>, Scenarios, Character / World Generation, astyled, json-styled, BasicBuildPassed

#76789 Remove dead code, move doc to `.h`
  src/avatar_action.cpp
  src/avatar_action.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#76823 Fix #76414: Can't activate item - character instead tries to eat it.
  src/character.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#76943 Kill loadscreen during character creation
  src/newcharacter.cpp
Labels: [C++], <Bugfix>, Character / World Generation, astyled, json-styled, BasicBuildPassed

#76928 [MoM] Centralize calorie EoC in one place and refer to it elsewhere
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
  data/mods/MindOverMatter/effectoncondition/eoc_power_recurring.json
  data/mods/MindOverMatter/powers/biokinesis_concentration_eocs.json
  data/mods/MindOverMatter/powers/clairsentience_concentration_eocs.json
  data/mods/MindOverMatter/powers/electrokinesis_concentration_eocs.json
  data/mods/MindOverMatter/powers/photokinesis_concentration_eoc.json
  data/mods/MindOverMatter/powers/pyrokinesis_concentration_eoc.json
  data/mods/MindOverMatter/powers/telekinesis_concentration_eoc.json
  data/mods/MindOverMatter/powers/telepathy_concentration_eoc.json
  data/mods/MindOverMatter/powers/teleportation_concentration_eoc.json
  data/mods/MindOverMatter/powers/vitakinesis_concentration_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#76941 Forbid modding integrated tools
  src/iuse.cpp
Labels: Items: Gunmod / Toolmod, Bionics, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76952 [Xedra Evolved] Dreamforged Nail
  data/mods/Xedra_Evolved/eocs/dreamsmith.json
  data/mods/Xedra_Evolved/items/components.json
  data/mods/Xedra_Evolved/recipes/components.json
  data/mods/Xedra_Evolved/requirements/components.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#76947 Portal Storm Voice's Subtle Foreshadowing
  data/json/npcs/EOC_talkers/portal_storm.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#76845 Allow rot_spawn use monster id directly
  data/json/items/comestibles/egg.json
  data/json/items/comestibles/other.json
  data/mods/DinoMod/items/egg.json
  data/mods/DinoMod/obsolete/egg.json
  data/mods/Magiclysm/items/comestibles.json
  data/mods/Megafauna/items/animal_products.json
  data/mods/MindOverMatter/items/comestibles.json
  data/mods/My_Sweet_Cataclysm/sweet_comestibles.json
  data/mods/Tamable_Wildlife/items/comestibles/eggs.json
  data/mods/TropiCataclysm/items/comestibles/egg.json
  doc/JSON_INFO.md
  src/item_factory.cpp
  src/itype.h
  src/map.cpp
Labels: <Documentation>, [JSON], Mods, Items: Food / Vitamins, [C++], <Bugfix>, [Markdown], Mods: Magiclysm, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴, Mods: Tamable Wildlife, Mods: Mind Over Matter

#76951 No more multiple wedding rings per zombie
  data/json/itemgroups/Clothing_Gear/clothing.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#76961 Remove mention of parkour from t_concrete_wall_rope
  data/json/furniture_and_terrain/terrain-walls.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#76954 [Sky Island] Add tokens to warp floor into new floor types
  data/mods/Sky_Island/constructions.json
  data/mods/Sky_Island/items.json
  data/mods/Sky_Island/recipes.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#76939 Backport #73043 to allow shotgun speedloader chutes to function
  data/json/items/gunmod/loading_port.json
  data/json/recipes/weapon/mods.json
  src/activity_actor.cpp
  src/game_inventory.cpp
  src/item.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#76900 typified a bit of map.cpp and dependents
  src/avatar_action.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/climbing.cpp
  src/computer_session.cpp
  src/construction.cpp
  src/creature.cpp
  src/game.cpp
  src/iexamine.cpp
  src/iexamine_actors.cpp
  src/item_location.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/line.cpp
  src/line.h
  src/map.cpp
  src/map.h
  src/map_extras.cpp
  src/map_field.cpp
  src/mapgen.cpp
  src/mapgen_functions.cpp
  src/mattack_actors.cpp
  src/melee.cpp
  src/monmove.cpp
  src/npctalk.cpp
  src/pathfinding.cpp
  src/sounds.cpp
  src/test_data.h
  src/timed_event.cpp
  src/veh_appliance.cpp
  src/veh_appliance.h
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/cardio_test.cpp
  tests/char_suffer_test.cpp
  tests/connect_rotate_test.cpp
  tests/crafting_test.cpp
  tests/invlet_test.cpp
  tests/item_spawn_test.cpp
  tests/line_test.cpp
  tests/map_test.cpp
  tests/map_test_case.cpp
  tests/map_test_case.h
  tests/map_test_case_test.cpp
  tests/mapgen_remove_vehicles_test.cpp
  tests/modify_morale_test.cpp
  tests/move_cost_test.cpp
  tests/npc_test.cpp
  tests/player_activities_test.cpp
  tests/shadowcasting_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_interact_test.cpp
  tests/vehicle_ramp_test.cpp
  tests/vehicle_test.cpp
  tests/vision_test.cpp
  tests/visitable_remove_test.cpp
  tests/water_movement_test.cpp
Labels: NPC / Factions, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Fields / Furniture / Terrain / Traps, Melee, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#76977 Use sentence case in options descriptions consistently
  src/options.cpp
Labels: Info / User Interface, [C++], astyled, json-styled

#76975 "Center view" centers to player's current z-level
  src/handle_action.cpp
Labels: [C++], astyled, json-styled

#76974 Faulty guns don't lock your view
  src/activity_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#76949 Don't apply additional move cost for moving barefoot in deep water
  src/character.cpp
Labels: [C++], Mechanics: Effects / Skills / Stats, <Bugfix>, Mechanics: Character / Player, astyled, json-styled, BasicBuildPassed

#76849 fungalize stages for zombies
  data/json/monster_factions.json
  data/json/monsters/fungus_zombie.json
  data/json/monsters/zed-classic.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#76972 add new event of monster taking damage/dying
  doc/EFFECT_ON_CONDITION.md
  src/event.cpp
  src/event.h
  src/memorial_logger.cpp
  src/monster.cpp
Labels: <Documentation>, [C++], Monsters, <Bugfix>, [Markdown], astyled, json-styled

#76967 Lab entrance misdirection no longer needed thanks to vision levels
  data/json/overmap/overmap_terrain/overmap_terrain_lab.json
  data/json/overmap/overmap_terrain/overmap_terrain_special.json
Labels: Game: Balance, [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#76984 Colored cropped hoodies
  data/json/items/armor/torso_clothes.json
Labels: [JSON], astyled, json-styled, Items: Armor / Clothing

#76978 Fix set of clothes crash
  src/activity_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#76970 Wrap run_eocs properly
  doc/EFFECT_ON_CONDITION.md
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#76995 transpiration typo
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled

#76865 Zombie corpses rot into bones + Clean up zombie harvestlist hell
  data/json/harvest.json
  data/json/monsters/fungus_zombie.json
  data/json/monsters/nether.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed-classic.json
  data/json/monsters/zed_burned.json
  data/json/monsters/zed_ferrous.json
  data/json/monsters/zed_fusion.json
  data/json/monsters/zed_lab.json
  data/json/monsters/zed_misc.json
  data/mods/Aftershock/mobs/zombies.json
  data/mods/BombasticPerks/perkdata/frankenstein.json
  data/mods/CrazyCataclysm/crazy_monsters.json
  data/mods/Magiclysm/monsters/zombified_monsters.json
  data/mods/No_Hope/monsters.json
  data/mods/TEST_DATA/monsters.json
  data/mods/Xedra_Evolved/monsters/changeling.json
  src/harvest.cpp
Labels: [JSON], Code: Tests, [C++], Monsters, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Xedra Evolved, Mods: Bombastic Perks

#76969 fix spells segfaulting from wrong creature
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
Labels: [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#76989 Change "Weapon categories" to sentence case in initialization string
  src/init.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#76964 Dedupe button code in worldfactory, also redraw UI
  src/worldfactory.cpp
Labels: [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#76976 [MoM] Wakeful Rest and Revitalizing Meditation now grant XP, drain focus while using them
  data/mods/MindOverMatter/powers/vitakinesis_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#76957 [Xedra Evolved] Dreamsmithing procgen expansion (enchants)
  data/mods/Xedra_Evolved/itemgroups/dreamsmith_procgen.json
  data/mods/Xedra_Evolved/procgen/dreamsmith_procgen.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#76973 Change option groups to sentence case
  src/options.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#76988 [DinoMod] Destroy the mosasaurus egg
  data/mods/DinoMod/obsolete/egg.json
  data/mods/DinoMod/obsolete/monstergroups_egg.json
Labels: [JSON], Mods, Spawn, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#76998 Xedra Evolved - make oneiric hammer use deduction skill to repair
  data/mods/Xedra_Evolved/items/ethereal_items.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#77006 Change Acclimatization from all caps to title case
  data/json/mutations/mutations.json
Labels: Info / User Interface, [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#77002 Prompt if you really want to crash the game
  src/debug_menu.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#76997 Fix non-battery fueled items using charges
  src/item.cpp
  src/item.h
  tests/active_item_test.cpp
Labels: Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#77014 Correct llama skull size
  data/json/items/resources/bone.json
  data/json/uncraft/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled
