Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2025-04, with the labels that each got.

#80365 Fix charcoal kilns producing no charcoal
  src/iexamine.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#80395 [Sky Island] Fix possible painkiller death loop
  data/mods/Sky_Island/EOCs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#80393 Punctuation!
  data/json/addictions.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/furniture_and_terrain/terrain-regional-pseudo.json
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/items/armor/brigandine.json
  data/json/items/armor/gloves.json
  data/json/items/armor/holster.json
  data/json/items/armor/masks.json
  data/json/items/armor/storage.json
  data/json/items/book/abstract.json
  data/json/items/book/misc.json
  data/json/items/book/spiritual.json
  data/json/items/containers/ammo_boxes.json
  data/json/items/fuel.json
  data/json/items/generic.json
  data/json/items/gun/10mm.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/stock.json
  data/json/items/magazine/10mm.json
  data/json/items/newspaper.json
  data/json/items/ranged/yrax_guns.json
  data/json/items/tool/debug_tools.json
  data/json/items/tool/electronics.json
  data/json/items/tool/misc.json
  data/json/items/tool_armor.json
  data/json/martialarts.json
  data/json/monsters/insect_spider.json
  data/json/monsters/mammal.json
  data/json/monsters/zanimal_upgrade.json
  data/json/mutations/appearance_hair_styles.json
  data/json/mutations/mutation_spells.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
  data/json/npcs/refugee_center/surface_visitors/NPC_arsonist.json
  data/json/npcs/tacoma_ranch/NPC_ranch_doctor.json
  data/json/overmap/map_extras.json
  data/json/recipes/basecamps/base/recipe_modular_hub/version_1/recipe_modular_field_construction.json
  data/json/recipes/basecamps/expansion/recipe_modular_farm/version_2/recipe_modular_farm_common.json
  data/json/recipes/basecamps/special_hardcoded.json
  data/json/recipes/nested.json
Labels: NPC / Factions, [JSON], Map / Mapgen, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Monsters, <Bugfix>, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Mechanics: Enchantments / Spells, Martial Arts, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80403 Fix up garden_house_1
  data/json/mapgen/house/garden_house_1.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled

#80397 Add category to ammo boxes
  data/json/items/containers/ammo_boxes.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#80405 Routine tileset updates on 01 April 2025
  gfx/Altica/character.png
  gfx/Altica/character_tall.png
  gfx/Altica/filler_tall.png
  gfx/Altica/fillergiant.png
  gfx/Altica/human_body.png
  gfx/Altica/human_body_plus.png
  gfx/Altica/incomplete_body_plus.png
  gfx/Altica/incomplete_giant.png
  gfx/Altica/incomplete_large.png
  gfx/Altica/incomplete_small.png
  gfx/Altica/incomplete_tall.png
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tall.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiTaller.png
  gfx/ChibiUltica/human_body_plus.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/taller.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/Ultica_iso/human_body_plus_2x.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/human_body_plus.png
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#80396 [Xedra Evolved] Fix Magiclysm haste interactions
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/effects.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80388 Weekly Changelog 2025-03-24 to 2025-03-31
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#80394 update clang-tidy docs to reflect our switch to llvm-18 and clang++-18
  .gitignore
  doc/c++/DEVELOPER_TOOLING.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#80408 Involuntary Traveler do not speak english
  data/json/npcs/portal_storm/Portal_NPC.json
Labels: NPC / Factions, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80411 Make dairy farm spawn either zombie or non-zombie cows
  data/json/mapgen/farm_dairy.json
  data/json/mapgen_palettes/farm_dairy.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#80412 [April Fools Day] Pancor Jackhammer
  data/json/monstergroups/mammal.json
Labels: [JSON], Spawn, Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80410 Remove weird metal flooring around shipwrecks
  data/json/mapgen/river_shipwreck.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#80425 Update wardrobe itemgroups
  data/json/itemgroups/SUS/domestic.json
  data/json/mapgen_palettes/house_general_palette.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed

#80417 Fix furniture tool pocket error and segfault error
  src/inventory.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80389 Make u_die fields properly optional
  src/npctalk.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#80406 sanify ebooksave energy consumptions
  src/activity_actor.cpp
  src/activity_actor_definitions.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#80402 Used/unused names for map cache + lore files
  src/item_tname.cpp
Labels: Info / User Interface, [C++], astyled, json-styled

#80416 Underground Temperature now depends on Region Settings
  src/game_constants.h
  src/item.cpp
  src/weather.cpp
Labels: <Enhancement / Feature>, [C++], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#80399 75% of smartphones are locked
  data/json/effects_on_condition/computer_eocs.json
  data/json/itemgroups/electronics.json
  data/json/items/containers/containers.json
  data/json/items/tool/electronics.json
  data/json/mapgen/abandoned01.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_mutagen.json
  data/json/mapgen/map_extras/airdrop.json
  data/json/mapgen_palettes/stadium_palette.json
  data/json/npcs/NC_CITY_COP.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/godco/classes.json
  data/json/npcs/items_generic.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Aleesha_Seward.json
  data/json/uncraft/recipe_deconstruction.json
  data/mods/Aftershock/npcs/cyborg_npcs/item_groups_cyborg.json
  src/game_inventory.cpp
  src/item_contents.cpp
Labels: NPC / Factions, [JSON], Map / Mapgen, Crafting / Construction / Recipes, Spawn, [C++], Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#80426 [Magiclysm] Replace `Hoarder` for Ravenfolk with `Chrysophilia`
  data/mods/Magiclysm/effect_on_conditions/mutation_eocs.json
  data/mods/Magiclysm/hobbies_fantasy_species.json
  data/mods/Magiclysm/migration_and_obsoletion/eocs.json
  data/mods/Magiclysm/morale_types.json
  data/mods/Magiclysm/mutations/mutation_paths/fantasy_species.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#80424 Add a dump palette & increase amount of trash
  data/json/mapgen/cs_city_dump_small.json
  data/json/mapgen/dump.json
  data/json/mapgen_palettes/dump.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80447 Missing nested mapgen flags
  data/json/mapgen/nested/house_nested.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#80428 Document NO_TEMP Flag
  doc/JSON/JSON_FLAGS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#80445 [Xedra Evolve] Chronomancers can't take species heritage traits
  data/mods/Xedra_Evolved/mutations/chronomancer_traits.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80409 [XEDRA] Modify Gracken and Paraclesian butcher / dissection empathy by jsonizing species empathy
  data/json/monsters/feral_humans.json
  data/json/morale_types.json
  data/mods/Xedra_Evolved/monsters/monster.json
  data/mods/Xedra_Evolved/monsters/species.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_mutations.json
  data/mods/Xedra_Evolved/mutations/xe_playable_gracken.json
  doc/JSON/MUTATIONS.md
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/mutation.h
  src/mutation_data.cpp
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Monsters, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80457 Add an airsoft store
  data/json/mapgen/store/s_airsoft.json
  data/json/mapgen_palettes/common_parameters.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#80439 Hotel Luggage Itemgroup had recursive suitcases
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/SUS/domestic.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#80456 Split up domestic palette in item and no item
  data/json/mapgen_palettes/house_general_palette.json
  data/mods/No_Hope/mapgen_palettes/house_general_palette.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#80450 [MoM] Fix medicinal touch contemplation
  data/mods/MindOverMatter/recipes/practice/vitakinesis_practice.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#80444 [Xedra Evolved] Add playable dhampirs
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/dhampir_eocs.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/npc/vampire_askblood.json
  data/mods/Xedra_Evolved/player/hobbies.json
  data/mods/Xedra_Evolved/ui/sidebar.json
  data/mods/Xedra_Evolved/ui/vamp_blood_levels.json
  tools/spell_checker/dictionary.txt
Labels: Info / User Interface, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80448 add some wield tests i wish I had
  src/character_inventory.cpp
  src/npc.cpp
  tests/wield_test.cpp
  tests/wield_times_test.cpp
Labels: NPC / Factions, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#80443 Add Nicotine Pouches and Adjust Cig Effect Name and Description
  data/json/ascii_art/containers/containers.json
  data/json/effects.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/tobacco.json
  data/json/itemgroups/SUS/trash.json
  data/json/items/comestibles/med.json
  data/json/items/containers/containers.json
Labels: [JSON], Items: Food / Vitamins, Spawn, Items: Containers, astyled, json-styled, BasicBuildPassed, new contributor

#80454 eoc: hoist default var value to helper structs
  data/json/effects.json
  data/json/effects_on_condition/nether_eocs/LIXA_EOCs_spells_traps.json
  data/json/effects_on_condition/nether_eocs/nether_glass_effect_on_condition.json
  data/json/effects_on_condition/nether_eocs/portal_dependent_effect_on_condition.json
  data/json/effects_on_condition/nether_eocs/portal_storm_effect_on_condition.json
  data/json/effects_on_condition/nether_eocs/vitrification_effect_on_condition.json
  data/json/monster_special_attacks/void_spider_mechanics.json
  data/json/monsters/singularities.json
  data/mods/Sky_Island/EOCs.json
  data/mods/Sky_Island/missions_and_mapgen.json
  data/mods/Sky_Island/obelisk_selector.json
  data/mods/Sky_Island/sickness_checks.json
  data/mods/Xedra_Evolved/eocs/abyssal_hunger_eocs.json
  src/condition.cpp
  src/condition.h
  src/dialogue_helpers.cpp
  src/dialogue_helpers.h
  src/monstergenerator.cpp
  src/npctalk.cpp
  src/widget.cpp
Labels: NPC / Factions, Info / User Interface, [JSON], Missions, Map / Mapgen, [C++], Monsters, Fields / Furniture / Terrain / Traps, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Sky Island, new contributor

#80465 Add a modinfo conflicts field and prevent Iso Protocol and GG from testing together
  build-scripts/get_all_mods.py
  data/mods/Isolation-Protocol/modinfo.json
  src/mod_manager.cpp
  src/mod_manager.h
Labels: <Enhancement / Feature>, Code: Build, [JSON], [C++], [Python], astyled, json-styled, BasicBuildPassed, Mods: Isolation Protocol ☣

#80474 Fix CI by adding some on_overflows where appropriate
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#80453 math: un-lambda-ify dialogue functions
  src/condition.cpp
  src/condition.h
  src/debug_menu.cpp
  src/math_parser.cpp
  src/math_parser_diag.cpp
  src/math_parser_diag.h
  src/math_parser_diag_value.cpp
  src/math_parser_diag_value.h
  src/math_parser_impl.h
  tests/math_parser_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, EOC: Effects On Condition, new contributor

#80452 eoc: replace u_loc_relative with u_location_variable
  data/json/effects_on_condition/example_eocs.json
  data/mods/Aftershock/spells/psionics/telekinesis_eocs.json
  data/mods/MindOverMatter/powers/telekinesis_eoc.json
  data/mods/TEST_DATA/EOC.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_spell_learning_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_fae_bans.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_passive_trait_gain_eocs.json
  data/mods/Xedra_Evolved/mutations/xe_lilin_eocs.json
  src/condition.cpp
  tests/eoc_test.cpp
Labels: [JSON], Code: Tests, [C++], Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Mind Over Matter, new contributor

#80480 tests: add roadstop_b to coverage whitelist
  data/mods/TEST_DATA/overmap_terrain_coverage_test/overmap_terrain_coverage_whitelist.json
Labels: [JSON], Map / Mapgen, Code: Tests, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, new contributor

#80478 [Xedra Evolved] Remove `teeth` type from active fangs trait
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80485 More items in horse farm farmhouse
  data/json/mapgen_palettes/farm_horse.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#80483 Expose uilist hilight_disabled to run_eoc_selector, use in locked smartpone recovery EoC
  data/json/effects_on_condition/computer_eocs.json
  doc/JSON/EFFECT_ON_CONDITION.md
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#80486 Fix urban_18 greenhouse error
  data/json/mapgen/house/urban_18_victorian.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#80461 Make the stop sign red
  data/json/furniture_and_terrain/furniture-signs.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#80442 Allow charger bipod to be removed
  data/json/items/gun/22.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80432 Allow 7.62x39 uppers to be installed on AR pistols
  data/json/items/gunmod/conversions.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80488 Expose emp_blast and scrambler_blast to eoc
  doc/JSON/EFFECT_ON_CONDITION.md
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#80367 Switched usage of m to use get_map()
  src/animation.cpp
  src/game.cpp
  src/game.h
  src/grab.cpp
  src/handle_action.cpp
  src/map.h
  src/savegame.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#80487 [MoM] Wary Sleeper Fix
  data/json/bionics.json
Labels: [JSON], Bionics, astyled, json-styled, BasicBuildPassed

#80495 [Xedra Evolved] Remove obsolete homullus-specific jmath statement
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80491 Rename map::add_item_ret_loc to add_item_or_charges_ret_loc
  src/activity_actor.cpp
  src/map.cpp
  src/map.h
  src/mondeath.cpp
  tests/iuse_test.cpp
Labels: Code: Tests, [C++], json-styled

#80496 More spawns for cut-resistant clothing
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/armor.json
  data/json/itemgroups/military.json
  data/json/itemgroups/shops_trades.json
  data/json/mapgen_palettes/lumberyard.json
  data/json/monsterdrops/zombie_cop.json
  data/json/monsterdrops/zombie_survivor.json
Labels: Game: Balance, [JSON], Map / Mapgen, Spawn, Monsters, astyled, json-styled, Items: Armor / Clothing

#80489 Add gun mod locations to glock 19
  data/json/items/gun/9mm.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#80479 Recover invalidated bubble coordinate
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80476 [Xedra Evolved] Vampires can drink blood
  data/mods/Xedra_Evolved/activity_types.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/eocs/eoc_conditions.json
  data/mods/Xedra_Evolved/mod_interactions/mindovermatter/eocs.json
  data/mods/Xedra_Evolved/mutations/dhampir_eocs.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/npc/vampire_askblood.json
  data/mods/Xedra_Evolved/spells/vampire_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80500 [Xedra Evolved] Vampire traits are now positive
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80498 Move is_efile, fix not able to read from e-device with full inventory
  src/character.cpp
  src/game_inventory.cpp
  src/handle_action.cpp
  src/item.cpp
  src/item.h
  src/item_location.cpp
  src/item_location.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80497 Clean up some eoc bool reading
  src/npctalk.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#80492 Weekly Changelog 2025-03-31 to 2025-04-07
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#80384 [XE] Add a new vampire-exclusive mutation path
  data/json/flags.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/items/book_lore.json
  data/mods/Xedra_Evolved/items/drugs.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/npc/vampire_master_mortal_mind.json
  data/mods/Xedra_Evolved/recipes/vampire.json
  data/mods/Xedra_Evolved/spells/vampire_spells.json
  data/mods/Xedra_Evolved/ui/vamp_blood_levels.json
  data/mods/Xedra_Evolved/vitamin.json
  doc/JSON/JSON_FLAGS.md
  src/activity_handlers.cpp
Labels: <Documentation>, Info / User Interface, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80499 sanitized get_map use
  src/activity_actor.cpp
  src/avatar.cpp
  src/ballistics.cpp
  src/bionics.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/character_escape.cpp
  src/character_inventory.cpp
  src/clzones.cpp
  src/computer_session.cpp
  src/condition.cpp
  src/debug_menu.cpp
  src/editmap.cpp
  src/explosion.cpp
  src/game.cpp
  src/handle_action.cpp
  src/handle_liquid.cpp
  src/iexamine.cpp
  src/iexamine_actors.cpp
  src/item_pocket.cpp
  src/item_tname.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/live_view.cpp
  src/magic_spell_effect.cpp
  src/map.cpp
  src/mapgen.cpp
  src/monattack.cpp
  src/mondeath.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster_oracle.cpp
  src/mutation.cpp
  src/npcmove.cpp
  src/npctalk.cpp
  src/overmap_ui.cpp
  src/player_activity.cpp
  src/ranged.cpp
  src/scent_map.cpp
  src/sounds.cpp
  src/timed_event.cpp
  src/trapfunc.cpp
  src/vehicle.cpp
  src/vehicle_use.cpp
  tests/advanced_inventory_test.cpp
Labels: NPC / Factions, Info / User Interface, Bionics, Map / Mapgen, Vehicles, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, Items: Containers, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#80434 Butternut butter and ink
  data/json/items/ammo.json
  data/json/items/ammo_types.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/nuts.json
  data/json/recipes/chem/other.json
  data/json/recipes/food/vegetable_dishes.json
Labels: [JSON], Items: Food / Vitamins, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#80507 Item use_function, color, snippet readers
  src/item_factory.cpp
  src/item_factory.h
  src/itype.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#80463 Remove unconditional "aim on wait" for NPCs
  src/npc_attack.cpp
  src/npcmove.cpp
  src/ranged.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80508 Allow [R]eading from nearby ebooks
  .gitignore
  src/activity_actor.cpp
  src/game_inventory.cpp
  src/handle_action.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
  tests/reading_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#80458 Fix - Allow healing items that only do instant healing
  data/mods/Sky_Island/items.json
  src/iuse_actor.cpp
Labels: [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#80494 [Xedra Evolved] Add Dhampir-specific traits
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/dhampir_eocs.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/npc/trait_groups.json
  data/mods/Xedra_Evolved/npc/vampire_askblood.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80520 Handle conflicts field when generating mod combinations for CI
  build-scripts/get_all_mods.py
Labels: Code: Build, [Python], astyled, json-styled, BasicBuildPassed

#80517 Aftershock: Thermos & Cookers
  data/mods/aftershock_exoplanet/items/containers.json
  data/mods/aftershock_exoplanet/items/tools.json
  data/mods/aftershock_exoplanet/npcs/Augustmoon_Salvors/augustmoon_tool_trader.json
Labels: [JSON], Mods, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed

#80519 Leather Body Armor can block too! And some others can't...
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80060 Up the max_item_lengths of rope_loop, bigframe_pack
  data/json/items/armor/storage.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80429 Dentistry
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/itemgroups/collections_trades.json
  data/json/items/tool/med.json
  data/json/mapgen/office_dentist.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
  data/json/regional_map_settings.json
Labels: <Enhancement / Feature>, [JSON], Map / Mapgen, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, new contributor

#80512 [Xedra Evolved] Empowered Blood effect
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80522 War hammer based on real one
  data/json/items/melee/bludgeons.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80523 [Xedra Evolved] Dhampirs need more mutagen
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80515 Fix Chronomancer time loop typo #80509
  data/mods/Xedra_Evolved/dialogue/chronomancer_insight_menu.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80510 Aftershock: Heat floors in port augustmoon
  data/mods/aftershock_exoplanet/emit.json
  data/mods/aftershock_exoplanet/field_type.json
  data/mods/aftershock_exoplanet/maps/furniture_and_terrain/terrain_habitat_floor.json
  data/mods/aftershock_exoplanet/maps/mapgen/port_augustmoon/port_augustmoon_main.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#80518 [XE] Direct vampire drinking adjustements
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80530 bump runner to ubuntu-22.04
  .github/workflows/check-translation.yml
  .github/workflows/text-changes-analyzer.yml
Labels: Code: Tooling, astyled, json-styled

#80481 Handle submap shifts
  src/game.cpp
  src/mattack_actors.cpp
  src/teleport.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#80529 [Xedra Evolved] Creatures of the Night are ambivalent about the sun
  data/json/effects_on_condition/misc_effect_on_condition.json
  data/mods/Xedra_Evolved/eocs/vanilla_overwrites.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80532 [MSC] My sweet mutation overlay fix
  data/mods/My_Sweet_Cataclysm/sweet_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, My Sweet Cataclysm 🍬

#80526 to-hit reader, other remaining changes for item subtypes split
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  data/mods/Generic_Guns/magazines/rifle.json
  src/item_factory.cpp
  src/item_factory.h
  src/relic.cpp
  src/relic.h
Labels: [JSON], Items: Magazines, [C++], Code: Infrastructure / Style / Static Analysis, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#80524 Bump basic build and release runner and compiler version
  .github/workflows/matrix.yml
  .github/workflows/release.yml
  doc/c++/COMPILER_SUPPORT.md
Labels: <Documentation>, <Bugfix>, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#80531 [Xedra Evolved] Fix drinking blood with fangs EoC triggering twice on NPCs (+ add dhampir calories)
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/npc/vampire_askblood.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80543 Isolated Road's Desire paths
  data/json/mapgen/isolated_road/isolated_road_home_chunks.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#80527 New Alpha Trait, faster consumption of degenerate mutagens
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#80501 NPCs can go down stairs
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80446 [ Xedra Evolved ] Ready to go Homullus Traits
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80553 Update EOCs.json with Vitrification and Incorporeal
  data/mods/Sky_Island/EOCs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island, new contributor

#80552 Fix saving default mod list
  src/mod_manager.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80537 Aftershock: Heat Crashed Ship
  data/mods/aftershock_exoplanet/maps/mapgen/crashing_ship.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#80536 Add missing `connect_groups` to `JSON-INFO.md` file
  doc/JSON/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed, new contributor

#80538 Aftershock: Unify mod files and directories
  data/mods/aftershock_exoplanet/README.md
  data/mods/aftershock_exoplanet/ammo_effects.json
  data/mods/aftershock_exoplanet/doc/crafting_system.md
  data/mods/aftershock_exoplanet/doc/lore/cyberpunk_future.md
  data/mods/aftershock_exoplanet/doc/lore/factions.md
  data/mods/aftershock_exoplanet/doc/lore/meleecombat.json.xlsx
  data/mods/aftershock_exoplanet/doc/lore/organizations.md
  data/mods/aftershock_exoplanet/doc/lore/points_of_interest.md
  data/mods/aftershock_exoplanet/doc/lore/ranged_weapon_balance.md
  data/mods/aftershock_exoplanet/doc/lore/salus_4.md
  data/mods/aftershock_exoplanet/doc/lore/timeline.md
  data/mods/aftershock_exoplanet/doc/suit_operating_time.md
  data/mods/aftershock_exoplanet/field.json
  data/mods/aftershock_exoplanet/field_type.json
  data/mods/aftershock_exoplanet/harvest.json
  data/mods/aftershock_exoplanet/items/ammo/ammo.json
  data/mods/aftershock_exoplanet/items/ammo_effects.json
  data/mods/aftershock_exoplanet/lore/combat_balance.md
  data/mods/aftershock_exoplanet/lore/orion_cluster_history.md
  data/mods/aftershock_exoplanet/monster_attacks/monster_attacks.json
  data/mods/aftershock_exoplanet/monster_attacks/zenit.json
  data/mods/aftershock_exoplanet/monsters/PrepPhyle_mobs.json
  data/mods/aftershock_exoplanet/monsters/abstract_monsters.json
  data/mods/aftershock_exoplanet/monsters/aliens.json
  data/mods/aftershock_exoplanet/monsters/harvest.json
  data/mods/aftershock_exoplanet/monsters/monster_faction.json
  data/mods/aftershock_exoplanet/monsters/monster_groups/fauna_monsters_groups.json
  data/mods/aftershock_exoplanet/monsters/monster_groups/monster_groups.json
  data/mods/aftershock_exoplanet/monsters/monster_groups/moxie_monster_groups.json
  data/mods/aftershock_exoplanet/monsters/monster_groups/robot_groups.json
  data/mods/aftershock_exoplanet/monsters/monster_groups/robot_monster_groups.json
  data/mods/aftershock_exoplanet/monsters/monster_weakpoints/robot_weakpoints.json
  data/mods/aftershock_exoplanet/monsters/mutants.json
  data/mods/aftershock_exoplanet/monsters/reavers_and_bandits.json
  data/mods/aftershock_exoplanet/monsters/robots.json
  data/mods/aftershock_exoplanet/monsters/scavbots.json
  data/mods/aftershock_exoplanet/monsters/species.json
  data/mods/aftershock_exoplanet/monsters/turrets.json
  data/mods/aftershock_exoplanet/monsters/uplifted_monsters.json
  data/mods/aftershock_exoplanet/monsters/water_mobs.json
  data/mods/aftershock_exoplanet/monsters/zombies.json
  data/mods/aftershock_exoplanet/player/mood_faces.json
  data/mods/aftershock_exoplanet/player/profession_groups.json
  data/mods/aftershock_exoplanet/spells/spells.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Monsters, Fields / Furniture / Terrain / Traps, [Markdown], Items: Ammo / Guns, Melee, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#80559 Change how suppressors reduce sound
  data/json/items/gunmod/muzzle.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#80558 Add NB flag
  data/mods/CrazyCataclysm/crazy_items.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed

#80550 Refactor documentation to use jsonc syntax highlighting
  doc/JSON/EFFECTS_JSON.md
  doc/JSON/EFFECT_ON_CONDITION.md
  doc/JSON/ITEM.md
  doc/JSON/ITEM_CRAFT_AND_DISASSEMBLY.md
  doc/JSON/JSON_INFO.md
  doc/JSON/MAGIC.md
  doc/JSON/MONSTERS.md
  doc/JSON/NPCs.md
  doc/JSON/VEHICLES_JSON.md
  doc/TILESET.md
Labels: <Documentation>, NPC / Factions, [Markdown], astyled, json-styled, BasicBuildPassed, new contributor

#80566 Fix location Variables targeting specific map features
  src/npctalk.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80564 [Xedra Evolved] Rescale blood vitamin
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/eocs.json
  data/mods/Xedra_Evolved/ui/vamp_blood_levels.json
  data/mods/Xedra_Evolved/vitamin.json
Labels: Info / User Interface, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80563 [Xedra Evolved] Add Dhampir Weakness: Nocturnal
  data/mods/Xedra_Evolved/mutations/dhampir_eocs.json
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80540 [Xedra Evolved] Vampires/Dhampirs can use Hypnotic Gaze against muggers/steal-confronters
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/npc/dialogue/generic_dialogue.json
  doc/JSON/JSON_FLAGS.md
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80560 Another gunmod audit
  data/json/items/gunmod/rail.json
  data/json/items/gunmod/sights.json
  data/json/items/gunmod/sling.json
  data/json/items/gunmod/underbarrel.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/nested.json
  data/json/recipes/weapon/mods.json
  data/mods/TEST_DATA/expected_dps_data/junk_dps.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#80504 Minor knife fixes
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/knives.json
  data/json/items/tool/stationery.json
  data/mods/TEST_DATA/expected_dps_data/knives_dps.json
Labels: Game: Balance, [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed

#80569 Aftershock: Miscellaneous fixes for the early game.
  data/mods/Aftershock/items/armor/winter_suits.json
  data/mods/Aftershock/items/ethereal.json
  data/mods/Aftershock/items/tools.json
  data/mods/aftershock_exoplanet/items/containers.json
  data/mods/aftershock_exoplanet/items/gun/laser.json
  data/mods/aftershock_exoplanet/maps/mapgen/tunnels/sinkhole.json
  data/mods/aftershock_exoplanet/npcs/Augustmoon_Salvors/augustmoon_outfitter.json
  data/mods/aftershock_exoplanet/npcs/Augustmoon_Salvors/augustmoon_tool_trader.json
  data/mods/aftershock_exoplanet/scenarios.json
  data/mods/aftershock_exoplanet/start_locations.json
Labels: [JSON], Mods, Map / Mapgen, Scenarios, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80576 Fix code block syntax in documentation
  doc/CONTRIBUTING.md
  doc/DEVELOPER_FAQ.md
  doc/JSON/ARTIFACTS.md
  doc/JSON/BASECAMP.md
  doc/JSON/CLIMBING.md
  doc/JSON/EFFECTS_JSON.md
  doc/JSON/EFFECT_ON_CONDITION.md
  doc/JSON/EXAMINE.md
  doc/JSON/FACTIONS.md
  doc/JSON/HELP_MENU.md
  doc/JSON/ITEM_CRAFT_AND_DISASSEMBLY.md
  doc/JSON/ITEM_SPAWN.md
  doc/JSON/JSON_INFO.md
  doc/JSON/JSON_INHERITANCE.md
  doc/JSON/JSON_Mapping_Guides/JSON_ROOF_MAPGEN.md
  doc/JSON/JSON_STYLE.md
  doc/JSON/MAGIC.md
  doc/JSON/MAPGEN.md
  doc/JSON/MARTIALART_JSON.md
  doc/JSON/MISSIONS_JSON.md
  doc/JSON/MONSTERS.md
  doc/JSON/MONSTER_SPECIAL_ATTACKS.md
  doc/JSON/MOVE_MODE.md
  doc/JSON/MUTATIONS.md
  doc/JSON/NPCs.md
  doc/JSON/OBSOLETION_AND_MIGRATION.md
  doc/JSON/OVERMAP.md
  doc/JSON/PRACTICE_RECIPES.md
  doc/JSON/PROFICIENCY.md
  doc/JSON/REGION_SETTINGS.md
  doc/JSON/TER_FURN_TRANSFORM.md
  doc/JSON/VITAMIN.md
  doc/JSON/WEATHER_TYPE.md
  doc/MODDING.md
  doc/TILESET.md
  doc/TRANSLATING.md
  doc/TRANSLATING_MOD.md
  doc/WIDGETS.md
  doc/c++/CODE_STYLE.md
  doc/c++/DEVELOPER_TOOLING.md
  doc/c++/POINTS_COORDINATES.md
  doc/design-balance-lore/ARMOR_BALANCE_AND_DESIGN.md
  doc/design-balance-lore/POSTAPOC_PRICE_GUIDE.md
  doc/user-guides/COLOR.md
  doc/user-guides/FONT_OPTIONS.md
Labels: <Documentation>, NPC / Factions, [Markdown], astyled, json-styled, BasicBuildPassed

#80575 Aftershock Move all changes of #80569 to the proper mod
  data/mods/aftershock_exoplanet/items/armor/winter_suits.json
  data/mods/aftershock_exoplanet/items/ethereal.json
  data/mods/aftershock_exoplanet/items/tools.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80571 tweak metal requirements
  data/json/recipes/ammo/rifle.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/legs.json
  data/json/recipes/other/materials.json
  data/json/recipes/other/parts.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/other/vehicle.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_others.json
  data/json/recipes/recipe_traps.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/tools/containers.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/piercing.json
  data/json/recipes/weapon/ranged.json
  data/json/requirements/materials.json
  data/json/requirements/toolsets.json
  data/mods/Magiclysm/recipes/caster_level_boosters.json
  data/mods/Magiclysm/recipes/weapons.json
  data/mods/MindOverMatter/recipes/armor.json
  data/mods/MindOverMatter/recipes/tools.json
  data/mods/innawood/recipes/other/parts.json
  data/mods/innawood/recipes/recipe_vehicle.json
Labels: [JSON], Vehicles, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Mods: Magiclysm, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲, Mods: Mind Over Matter

#80534 Added Grog recipe and drink
  data/json/items/comestibles/alcohol.json
  data/json/recipes/nested.json
  data/json/recipes/recipe_food.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#80588 [Sky Island] Remove incorporeal immunity in death EoC
  data/mods/Sky_Island/EOCs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#80582 Set owner faction of in-progress crafts
  src/craft_command.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80580 Grog Tweak
  data/json/items/comestibles/alcohol.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#80579 Silence cast warnings
  src/iuse.cpp
  src/vehicle.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#80584 Add/correct spoils in for a couple of egg products
  data/json/items/comestibles/egg.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#80583 Add US MOLLE II sustainment pouch item
  data/json/itemgroups/custom_lbvs.json
  data/json/items/armor/ammo_pouch.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/recipes/armor/storage.json
  data/json/recipes/nested.json
Labels: [JSON], Map / Mapgen, Spawn, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80562 Warn on load if files have been modified
  src/flexbuffer_cache.cpp
  src/options.cpp
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#80597 [MoM] Fix Electron Overflow divide by zero
  data/mods/MindOverMatter/powers/electrokinesis_concentration_eocs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#80590 [Xedra Evolved] Add one vampire power and one dhampir weakness
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/mutations/dhampir_eocs.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80599 Crazy Cata Nemesis Shia
  data/mods/CrazyCataclysm/crazy_monstergroups.json
Labels: [JSON], Mods, Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#80611 Replace `const std::string_view &` with `std::string_view`
  src/bodygraph.cpp
  src/bodygraph.h
  src/condition.cpp
  src/condition.h
  src/generic_factory.cpp
  src/generic_factory.h
  src/global_vars.h
  src/item_factory.cpp
  src/itype.h
  src/mapgen.cpp
  src/profession_group.cpp
  src/profession_group.h
  src/savegame.cpp
  src/veh_type.cpp
Labels: Map / Mapgen, Vehicles, Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, EOC: Effects On Condition

#80604 Characters do not automatically try to clear `downed` if they have the `CANNOT_MOVE` flag
  src/character_escape.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#80581 Refactor pathfind: allow multiple targets
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/debug_menu.cpp
  src/game.cpp
  src/handle_action.cpp
  src/map.cpp
  src/map.h
  src/monattack.cpp
  src/monexamine.cpp
  src/monmove.cpp
  src/npcmove.cpp
  src/npctrade_utils.cpp
  src/pathfinding.cpp
  src/pathfinding.h
  tests/map_path_test.cpp
  tests/vehicle_fake_part_test.cpp
Labels: NPC / Factions, Vehicles, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#80609 Add 2 new houses
  data/json/mapgen/house/house45.json
  data/json/mapgen/house/house46.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled

#80594 Fix crash after deleting items immediately in character_takeoff_item eoc
  src/activity_actor.cpp
  src/character.h
  src/character_attire.cpp
  src/character_attire.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79310 Move most world/debug options to externals
  data/core/external_options.json
  doc/JSON/JSON_INFO.md
  src/cached_options.cpp
  src/cached_options.h
  src/creature.cpp
  src/game.cpp
  src/game_constants.h
  src/map_memory.cpp
  src/options.cpp
  src/ranged.cpp
  src/scenario.cpp
  src/scenario.h
  src/veh_shape.cpp
Labels: <Documentation>, [JSON], Vehicles, [C++], [Markdown], Scenarios, astyled, json-styled, BasicBuildPassed

#80610 [ MoM ] Pyrokinetic Nether Attunement event
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/effects/effects_nether_attunement.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#80591 Fix typos in recent Homullus abilities
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80607 Mod Conflicts
  data/mods/MindOverMatter/modinfo.json
  data/mods/aftershock_exoplanet/modinfo.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#80226 [MoM] Add more specific Nether Attunement backlash effects
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/effects/effects_nether_attunement.json
  data/mods/MindOverMatter/powers/electrokinesis_concentration_eocs.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#80585 Expand faults
  data/json/items/bionics.json
  data/json/items/classes/gun.json
  data/json/items/gun/308.json
  data/json/items/gun/380.json
  data/json/items/gun/40x53mm.json
  data/json/items/gun/44.json
  data/json/items/gun/45.json
  data/json/items/gun/46.json
  data/json/items/gun/combination.json
  data/json/items/gun/exodii.json
  data/json/items/gun/ups.json
  data/json/items/gunmod/underbarrel.json
  data/json/items/vehicle/engine.json
  data/json/obsoletion_and_migration_0.I/gun.json
  data/mods/Aftershock/items/gun/7.50mm.json
  data/mods/Aftershock/items/gun/plasma.json
  data/mods/Generic_Guns/firearms/pistol_magnum.json
  data/mods/Isolation-Protocol/unique_items.json
  data/mods/Magiclysm/items/enchanted_ranged.json
  data/mods/Magiclysm/migration_and_obsoletion/items.json
  data/mods/MindOverMatter/items/weapons.json
  data/mods/Xedra_Evolved/items/inventor/gun.json
  data/mods/Xedra_Evolved/monsters/monsterattacks.json
  data/mods/aftershock_exoplanet/items/gun/7.50mm.json
  data/mods/aftershock_exoplanet/items/gun/plasma.json
  doc/JSON/ITEM.md
  doc/JSON/JSON_INFO.md
  src/activity_handlers.cpp
  src/avatar_action.cpp
  src/character.cpp
  src/explosion.cpp
  src/fault.cpp
  src/fault.h
  src/game.cpp
  src/init.cpp
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/item_tname.cpp
  src/item_tname.h
  src/itype.h
  src/ranged.cpp
  src/type_id.h
  src/vehicle_part.cpp
Labels: <Documentation>, [JSON], Bionics, Vehicles, [C++], Monsters, [Markdown], Items: Ammo / Guns, Mods: Magiclysm, Mods: Aftershock, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, Mods: Mind Over Matter, Mods: Isolation Protocol ☣

#80622 [MoM] Itzcuauhtli Corps Liaison has Expert Concentration Proficiency
  data/mods/MindOverMatter/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#80621 [Xedra Evolved] Vampires gain greater static bonuses from traits
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80617 Use of pre-increment/decrement operators for iterators
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/character.cpp
  src/clzones.cpp
  src/game.cpp
  src/iexamine.cpp
  src/item_pocket.cpp
  src/map_field.cpp
  src/map_item_stack.cpp
  src/mapgen.cpp
  src/overmap.cpp
  src/ranged.cpp
  src/timed_event.cpp
Labels: Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, Items: Containers, astyled, json-styled, BasicBuildPassed

#80613 Update scenarios to use distance_initial_visibility
  data/json/scenarios.json
  data/mods/innawood/scenarios.json
Labels: [JSON], Scenarios, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#80628 Ban alcohol from camp larder
  src/faction_camp.cpp
Labels: Game: Balance, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#80619 Bugfix: Mi-go pathfinding avoids fire
  data/json/monsters/mi-go.json
  doc/JSON/MONSTERS.md
  src/pathfinding.cpp
  tests/map_path_test.cpp
Labels: <Documentation>, [JSON], Code: Tests, [C++], Monsters, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#80614 Add Catch2 CMake integration
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/catch/contrib/Catch.cmake
  tests/catch/contrib/CatchAddTests.cmake
Labels: Code: Build, Code: Tests, astyled, json-styled, BasicBuildPassed

#80608 Add trinkets and butchery results to eldritch huntsman
  data/json/harvest.json
  data/json/items/comestibles/carnivore.json
  data/json/items/resources/alien.json
  data/json/monsterdrops/nether.json
  data/json/monsters/nether.json
Labels: [JSON], Items: Food / Vitamins, Monsters, astyled, json-styled, BasicBuildPassed

#80598 Make radiation true random
  data/json/effects_on_condition/mutation_eocs/mutation_effect_eocs.json
  src/npctalk.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: NPC / Factions, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#80595 math/json: fix (de)serialization of inf and nan
  src/math_parser_diag_value.cpp
Labels: [C++], <Bugfix>, Code: Tooling, astyled, json-styled, BasicBuildPassed, new contributor

#80615 [Xedra Evolved] Add vampire magic type + update power/trait descriptions with blood costs
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/flags.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/eocs.json
  data/mods/Xedra_Evolved/player/hobbies.json
  data/mods/Xedra_Evolved/spells/vampire_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80623 generic_factory composite for Item_factory
  src/generic_factory.h
  src/init.cpp
  src/item_factory.cpp
  src/item_factory.h
  src/itype.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#80605 minor Huntsman tweaks
  data/json/items/ranged/throwing.json
  data/json/monstergroups/nether.json
Labels: [JSON], Spawn, Monsters, astyled, BasicBuildPassed

#80636 Fix IS_WINDOWS_HOST assignment in Makefile
  Makefile
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#80638 [XEDRA Evolved] Deduction skill description
  data/mods/Xedra_Evolved/skills.json
  tools/spell_checker/dictionary.txt
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80618 Mutation description can parse tags now
  doc/JSON/MUTATIONS.md
  src/bionics.cpp
  src/iexamine.cpp
  src/magic.cpp
  src/mutation.cpp
  src/mutation.h
  src/npctalk.cpp
  src/player_display.cpp
  src/wish.cpp
Labels: <Documentation>, NPC / Factions, Bionics, Mutations / Traits / Professions/ Hobbies, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#80637 [Magiclysm] Add `max_duration` to most effects
  data/mods/Magiclysm/effects/effects.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#80653 fixes some Caotel ammo copy-from
  data/json/items/ammo/exodii.json
  data/json/items/generic/casing.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#80620 [Xedra Evolved] Switch Learn from the Children of the Night to a power (from active trait)
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/eocs.json
  data/mods/Xedra_Evolved/spells/vampire_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80660 [Xedra Evolved] Implemented Enervated blood level for dhampirs
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80666 Item subtypes: BREWABLE, COMPOSTABLE, MILLING, SEED, ENGINE, WHEEL
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/brewing.json
  data/json/items/comestibles/nuts.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_grain.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/json/items/generic.json
  data/json/items/resources/bone.json
  data/json/items/vehicle/animals.json
  data/json/items/vehicle/engine.json
  data/json/items/vehicle/wheel.json
  data/mods/Aftershock/items/comestibles/alienfood.json
  data/mods/Aftershock/items/comestibles/bug_brew.json
  data/mods/Aftershock/items/seed.json
  data/mods/Magiclysm/vehicles/summoned_vehicles.json
  data/mods/TEST_DATA/items.json
  data/mods/TropiCataclysm/items/comestibles/seed.json
  data/mods/aftershock_exoplanet/items/comestibles/alienfood.json
  data/mods/aftershock_exoplanet/items/comestibles/bug_brew.json
  data/mods/aftershock_exoplanet/items/seed.json
  lang/string_extractor/parser.py
Labels: Translation, [JSON], Vehicles, Items: Food / Vitamins, Code: Tests, Code: Infrastructure / Style / Static Analysis, [Python], Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴
