Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2025-09, with the labels that each got.

#82718 Routine tileset updates on 01 September 2025
  gfx/Altica/character.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiBig.png
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/big.png
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/layering.json
  gfx/MshockXotto+/overmap.png
  gfx/MshockXotto+/overmap_tall.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#82715 Fix chitinous scale mail hoods having 0 encumbrance
  data/json/items/armor/helmets.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82695 [MoM] Silent One adjustments
  data/mods/MindOverMatter/effects/effects_monster.json
  data/mods/MindOverMatter/monsters/monster_eoc_spells.json
  data/mods/MindOverMatter/monsters/nether.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#82709 Replace ar15 with modular_ar15 in looks_likes
  data/json/items/gun/22.json
  data/json/items/gun/308.json
  data/json/items/ranged/pneumatic.json
  data/json/items/ranged/spearguns.json
  data/json/obsoletion_and_migration_0.I/gun.json
  data/mods/DinoMod/items/laser_items.json
  data/mods/Xedra_Evolved/items/inventor/gun.json
  data/mods/aftershock_exoplanet/items/bioparts.json
  data/mods/aftershock_exoplanet/items/gun/7.50mm.json
  data/mods/aftershock_exoplanet/items/gun/laser.json
  data/mods/classic_zombies/items/guns.json
Labels: [JSON], Items: Ammo / Guns, Mods: Aftershock, Mods: Dark Days of the Dead, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, target/0.I-branch

#82556 Set and show default values for most query_int
  src/activity_actor.cpp
  src/character.cpp
  src/character.h
  src/debug_menu.cpp
  src/editmap.cpp
  src/faction_camp.cpp
  src/iuse.cpp
  src/newcharacter.cpp
  src/overmap_ui.cpp
  src/vehicle_use.cpp
  src/wish.cpp
Labels: Info / User Interface, Map / Mapgen, Vehicles, [C++], Character / World Generation, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#82693 Fix turret install requirements
  src/veh_type.cpp
  src/veh_type.h
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82725 [MoM] Reduce incidence of meditation books in esoteric_books
  data/mods/MindOverMatter/itemgroups/books.json
Labels: [JSON], Mods, Spawn, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#82717 Manually update 0.I for 82706
  data/mods/MindOverMatter/monsters/monster_eoc_attacks.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#82730 Aftershock: Harvest snow with shovels
  data/mods/aftershock_exoplanet/EOC/tool_iuse_eoc.json
  data/mods/aftershock_exoplanet/items/tools.json
  data/mods/aftershock_exoplanet/maps/furniture_and_terrain/terrain_groundxeno.json
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, target/0.I-branch

#82723 [Mods] Add MYOPIC_SUPERNATURAL and MYOPIC_IN_LIGHT_SUPERNATURAL flags
  data/json/flags.json
  data/mods/Magiclysm/mutations/mutation_paths/fantasy_species.json
  data/mods/MindOverMatter/effects/effects_nether_attunement.json
  data/mods/MindOverMatter/effects/effects_penalty.json
  doc/JSON/JSON_FLAGS.md
  src/character.cpp
Labels: <Documentation>, [JSON], Mods, [C++], [Markdown], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#82465 Dedupe filesystem use of cata_path and string
  src/filesystem.cpp
  src/filesystem.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#82528 Mission UI: Update how locations are displayed
  src/avatar.cpp
  src/display.cpp
  src/handle_action.cpp
  src/mission_ui.cpp
  src/timed_event.cpp
  src/timed_event.h
Labels: Info / User Interface, Missions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82726 Changed restock time display
  data/json/npcs/godco/members/NPC_Kostas_Walsman.json
  data/json/npcs/lumbermill_employees/TALK_lumbermill_merchant.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
  data/json/npcs/scrap_trader/scrap_trader.json
  data/json/npcs/tacoma_ranch/NPC_ranch_scavenger.json
  src/npctalk.cpp
Labels: NPC / Factions, [JSON], [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82664 Add debug menu entry to spawn npc in player faction
  src/debug_menu.cpp
  src/debug_menu.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#82667 Use optional/mandatory in place of assign in monstergenerator.cpp
  data/json/monsters/insect_spider.json
  data/json/monsters/nether.json
  data/json/monsters/zed_skeletal.json
  data/mods/CrazyCataclysm/crazy_monsters.json
  src/monstergenerator.cpp
Labels: [JSON], [C++], Monsters, Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#82740 eoc: fix loading time of value_or_var
  src/condition.cpp
  src/dialogue_helpers.cpp
  src/game.cpp
  src/math_parser_diag_value.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, new contributor

#82722 fix balthazar bunker trying to update yet to be generated map
  data/json/effects_on_condition/npc_eocs/balthazar_fac_eocs.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, target/0.I-branch

#82743 Aftersock: Vendor gear and price related tweaks.
  data/mods/aftershock_exoplanet/items/ammo/10mm.json
  data/mods/aftershock_exoplanet/items/ammo/25mm.json
  data/mods/aftershock_exoplanet/items/ammo/5x50.json
  data/mods/aftershock_exoplanet/items/ammo/7.50mm.json
  data/mods/aftershock_exoplanet/items/ammo/flashbulb.json
  data/mods/aftershock_exoplanet/items/ammo/needle.json
  data/mods/aftershock_exoplanet/items/armor.json
  data/mods/aftershock_exoplanet/items/armor/civilian_blue_collar.json
  data/mods/aftershock_exoplanet/items/armor/pals_accesories.json
  data/mods/aftershock_exoplanet/items/magazine/voltaic.json
  data/mods/aftershock_exoplanet/items/tools.json
  data/mods/aftershock_exoplanet/npcs/Augustmoon_Salvors/augustmoon_gun_trader.json
  data/mods/aftershock_exoplanet/npcs/Augustmoon_Salvors/augustmoon_tool_trader.json
Labels: [JSON], Mods, Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, target/0.I-branch

#82754 No one will buy `FILTHY` clothing
  src/npc.cpp
Labels: Game: Balance, NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#82745 [Magiclysm] Spellcasting profs adjustments
  data/mods/Magiclysm/effect_on_conditions/spellcasting/proficiencies.json
  data/mods/Magiclysm/jmath.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#82642 Adds contraband to the prison safe of the Warden.
  data/json/mapgen/prison/prison_island.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#82648 Add "autopeek" behaviour to safe mode movement
  data/core/help.json
  src/avatar_action.cpp
  src/game.cpp
  src/game.h
Labels: <Enhancement / Feature>, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#82782 [MoM] Silent Ones can detect active channeling too
  data/mods/MindOverMatter/monsters/monster_eoc_spells.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#82781 Lixa orientation migration
  data/json/obsoletion_and_migration_0.J/obsolete_overmap_terrain.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#82751 Update translator notes for Russian
  lang/notes/ru-notes.md
  lang/notes/ru.txt
Labels: <Documentation>, Translation, [Markdown], astyled, json-styled, BasicBuildPassed

#82794 [XE] Vampire drinking and gazes adjustments.
  data/json/effects_on_condition/misc_effect_on_condition.json
  data/json/monsters/nether.json
  data/mods/Xedra_Evolved/eocs/eoc_mod_overrides.json
  data/mods/Xedra_Evolved/monsters/bloodsuckers.json
  data/mods/Xedra_Evolved/monsters/monster_spells.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/spells/vampire_spells.json
Labels: [JSON], Mods, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#82799 [MoM] Cracks in reality are outdoor only
  data/mods/MindOverMatter/effectoncondition/eoc_portal_storm_effects.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#82783 Fix loudness multiplier display
  src/item.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#82867 Ignore enemies after autopeek confirmation
  src/avatar_action.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82843 Remove Stats Through Kills and supporting code
  .github/reviewers.yml
  data/core/external_options.json
  data/core/mod_migrations.json
  data/mods/stats_through_kills/modinfo.json
  src/avatar.cpp
  src/character.h
  src/debug_menu.cpp
  src/kill_tracker.cpp
  src/kill_tracker.h
  src/player_display.cpp
  src/savegame_json.cpp
  src/scores_ui.cpp
Labels: <Documentation>, NPC / Factions, Info / User Interface, [JSON], Mods, Code: Tests, [C++], Monsters, [Markdown], Game: Achievements / Conducts / Scores, Code: Tooling, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, target/0.I-branch

#82737 Fix Japanese world name/nickname generation bug.
  data/names/ja.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82720 Weekly Changelog 2025-08-25 to 2025-09-01
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#82878 Workflow to notify/Greet first time PR commenters
  .github/workflows/greet-first-time-comment.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#82901 do not list items that can be installed in vehicles if they cannot be
  src/item.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82892 Remove animal discord/empathy from starting traits
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#82888 Small price audit
  data/json/items/comestibles/junkfood.json
  data/json/items/containers/containers.json
  data/json/items/ranged/spearguns.json
  data/json/items/software.json
  data/json/items/tool/fire.json
  data/json/items/tool/science.json
  data/json/items/vehicle/battery.json
Labels: [JSON], Items: Food / Vitamins, Items: Battery / UPS, <Bugfix>, Items: Ammo / Guns, Items: Containers, astyled, json-styled, BasicBuildPassed

#82891 Sky island terraforming & security
  data/mods/Sky_Island/EOCs.json
  data/mods/Sky_Island/dialog_statue.json
  data/mods/Sky_Island/effects.json
  data/mods/Sky_Island/mod_interactions/xedra_evolved/eocs.json
  data/mods/Sky_Island/mutations.json
  data/mods/Sky_Island/upgrade_missions.json
  data/mods/Xedra_Evolved/monsters/anathema.json
Labels: [JSON], Mods, Missions, Mutations / Traits / Professions/ Hobbies, Monsters, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Sky Island

#82879 JSONize mission-related topic IDs (TALK_MISSION_INQUIRE / TALK_MISSION_DESCRIBE_URGENT)
  doc/JSON/NPCs.md
  src/dialogue_chatbin.h
  src/npc.cpp
  src/npctalk.cpp
  src/talker_npc.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#82893 [Bombastic Perks] Add more perks
  data/mods/BombasticPerks/perkdata/percussive_entry.json
  data/mods/BombasticPerks/perkdata/second_chance.json
  data/mods/BombasticPerks/perkdata/slippery_escape.json
  data/mods/BombasticPerks/perkdata/twice_shy.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#82906 Weekly Changelog 2025-09-08 to 2025-09-15
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#82895 Rename Masochist into Pain Driven.
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#82918 [MoM] Add the king of the wood (Telepathic deer)
  data/mods/MindOverMatter/monstergroups/monstergroups_edited.json
  data/mods/MindOverMatter/monstergroups/monstergroups_new.json
  data/mods/MindOverMatter/monsters/animal_psychics.json
  data/mods/MindOverMatter/monsters/monsters_spells.json
Labels: [JSON], Mods, Spawn, Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#82919 Animal Discord/Empathy as starting traits in Tamable Wildlife
  data/mods/Tamable_Wildlife/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Tamable Wildlife

#82910 Fix some missed iuse initializers.
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82908 Fix deep frying calories
  data/json/recipes/food/junkfood.json
  data/json/recipes/food/offal_dishes.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#82916 New region settings structs, part 2
  src/init.cpp
  src/mapgen_functions.cpp
  src/regional_settings.cpp
  src/regional_settings.h
  src/string_id_null_ids.cpp
  src/type_id.h
Labels: Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#82912 [0.I] Remove stats through kills
  data/core/mod_migrations.json
  data/mods/stats_through_kills/modinfo.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82942 Make 5.56x45mm/.300BLK Clips compatible with mags with ranger plates
  data/json/items/magazine/223.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#82949 [Innawoods] loading screen
  data/mods/innawood/loading_screens/innawoods1.png
  data/mods/innawood/modinfo.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#82435 JSONize vehicle part locations
  data/core/sentinels.json
  data/json/vehicle_part_locations.json
  data/json/vehicleparts/cargo.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/utilities.json
  data/json/vehicleparts/vehicle_parts.json
  doc/JSON/JSON_INFO.md
  lang/string_extractor/parser.py
  lang/string_extractor/parsers/vehicle_part_location.py
  src/activity_actor.cpp
  src/init.cpp
  src/mapgen.cpp
  src/string_id_null_ids.cpp
  src/type_id.h
  src/veh_interact.cpp
  src/veh_type.cpp
  src/veh_type.h
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_display.cpp
  src/vehicle_move.cpp
  src/vehicle_part_location.cpp
  src/vehicle_part_location.h
  tests/vehicle_interact_test.cpp
  tests/vehicle_ramp_test.cpp
Labels: <Documentation>, Translation, [JSON], Map / Mapgen, Vehicles, Code: Tests, [C++], [Markdown], [Python], astyled, json-styled, BasicBuildPassed

#82929 Add bodypart type white and black list fields for wounds
  doc/JSON/WOUNDS.md
  src/wound.cpp
  src/wound.h
Labels: <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#82937 Rename a get_temperature function and add some header comments
  src/map.cpp
  src/weather.cpp
  src/weather.h
Labels: [C++], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#82954 [Magiclysm] Rework mi-go Nethermancer
  data/mods/Magiclysm/Spells/alien_mages.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/effects/effects_monster.json
  data/mods/Magiclysm/monsters/mi-go.json
Labels: [JSON], Mods, Monsters, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#82902 Sensible Electric Motors for E-Bikes, Electric Mopeds, and (Slight Change) for E-Cars
  data/json/items/vehicle/motors.json
  data/json/vehicleparts/motor.json
  data/mods/TEST_DATA/vehicle_drag_test.json
  data/mods/TEST_DATA/vehicle_efficiency_test.json
Labels: Game: Balance, [JSON], Vehicles, Code: Tests, astyled, json-styled, BasicBuildPassed

#82872 Genetic Downward Spiral doesn't require Chimera Threshold
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#82953 Update fungal fluid sac description from its triffid days
  data/json/items/comestibles/raw_veggy.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#82883 Tweaks to mounted kitchen and workshop
  data/json/vehicleparts/modular_tools.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#82943 JSONize plant growth stages
  data/json/furniture_and_terrain/furniture-domestic_plants.json
  data/json/furniture_and_terrain/furniture-terrains.json
  data/json/items/comestibles/other.json
  data/json/items/comestibles/raw_grain.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/items/comestibles/veggy_dishes.json
  data/mods/TropiCataclysm/items/comestibles/seed.json
  data/mods/aftershock_exoplanet/items/seed.json
  doc/JSON/ITEM.md
  doc/JSON/JSON_FLAGS.md
  src/activity_handlers.cpp
  src/generic_factory.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
  src/map.cpp
  src/mapdata.cpp
  src/mapdata.h
  src/weather.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Items: Food / Vitamins, [C++], Fields / Furniture / Terrain / Traps, [Markdown], Mechanics: Weather, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴

#82921 Nestening - Weapons
  data/json/recipes/nested.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82931 Bugfix for #82869
  src/messages.cpp
  src/npc.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#82821 Add linear scaling for batch recipes
  data/json/recipes/food/raw_grain.json
  doc/JSON/ITEM_CRAFT_AND_DISASSEMBLY.md
  src/generic_factory.h
  src/recipe.cpp
  src/recipe.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Crafting / Construction / Recipes, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#82973 new region settings overlay JSON
  data/mods/CrazyCataclysm/crazy_mapgen.json
  data/mods/Defense_Mode/region_overlay.json
  data/mods/DinoMod/regional_overlay.json
  data/mods/Magiclysm/worldgen/regional_overlay.json
  data/mods/MindOverMatter/overmap/regional_overlay.json
  data/mods/TEST_DATA/overmap_specials.json
  data/mods/TEST_DATA/regions.json
  data/mods/Xedra_Evolved/regional_overlay.json
  data/mods/dda_tutorial/region_overlay.json
  data/mods/railroads/region_overlay.json
Labels: [JSON], Map / Mapgen, Code: Tests, Mods: Magiclysm, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Mods: Defense Mode, Mods: Xedra Evolved, Mods: Mind Over Matter, Tutorial

#82987 [Xedra Evolved] Add Sun-seared dhampir Weakness
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/dhampir_eocs.json
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#82962 Simplify gun stats in item info
  src/item.cpp
  src/iteminfo_query.h
  tests/iteminfo_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#82956 [Xedra Evolved] Add the Vampire Anathema sun weakness
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#82716 [ Xedra Evolved ] Fix Gracken trait improving items
  data/mods/Xedra_Evolved/items/gracken_trait_improvements.json
  src/npctalk.cpp
Labels: NPC / Factions, [JSON], Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#82980 (Mostly) fix butchering activity from zones
  src/activity_item_handling.cpp
  src/character.cpp
  src/player_activity.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82995 Fix greeter
  .github/workflows/greet-first-time-comment.yml
Labels: Code: Tooling, astyled, json-styled

#82965 [Innawood] Add shallow ore veins
  data/mods/innawood/furniture_and_terrain/ore_veins.json
  data/mods/innawood/mapgen/ore_veins/shallow_veins.json
  data/mods/innawood/mapgen_palettes/ore_vein.json
  data/mods/innawood/overmap/overmap_terrain.json
  data/mods/innawood/overmap/specials_new.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#82986 Replace flag based light emission with human `optional()`
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/generic.json
  data/json/items/items_holiday.json
  data/json/items/melee/bludgeons.json
  data/json/items/tool/electronics.json
  data/json/items/tool/explosives.json
  data/json/items/tool/fire.json
  data/json/items/tool/lighting.json
  data/json/items/tool/misc.json
  data/json/items/tool/radio_tools.json
  data/json/items/tool_armor.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/Magiclysm/items/alchemy_items.json
  data/mods/Magiclysm/items/caster_level_boosters.json
  data/mods/Magiclysm/items/enchanted_misc.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/items/nature_spirit_items.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/items/tools/lighting.json
  data/mods/MindOverMatter/items/weapons.json
  data/mods/Xedra_Evolved/items/alchemy.json
  data/mods/Xedra_Evolved/items/armor/headgear.json
  data/mods/Xedra_Evolved/items/comestibles/goblin_fruits.json
  data/mods/Xedra_Evolved/items/electronics.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/hedge_magic_items.json
  data/mods/aftershock_exoplanet/items/armor/exosuit/exosuit_modules.json
  data/mods/aftershock_exoplanet/items/tools.json
  data/mods/innawood/items/lighting.json
  doc/JSON/ITEM.md
  doc/JSON/JSON_FLAGS.md
  doc/design-balance-lore/ARMOR_BALANCE_AND_DESIGN.md
  src/item_factory.cpp
Labels: <Documentation>, [JSON], Items: Food / Vitamins, [C++], [Markdown], Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲, Mods: Xedra Evolved, Mods: Mind Over Matter

#83019 Uncharge cooking oil
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/SUS/restaurants.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/shops_trades.json
  data/json/items/comestibles/drink_other.json
  data/json/npcs/items_generic.json
Labels: [JSON], Items: Food / Vitamins, Spawn, astyled, json-styled, BasicBuildPassed

#83014 manually converted new region settings JSON
  data/mods/No_Hope/region_overlay.json
  data/mods/classic_zombies/region_settings/region_settings/region_overlay.json
  data/mods/innawood/region_settings/region_settings/region_overlay.json
Labels: [JSON], Mods, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Innawood 🌲

#83023 Add missing proficiencies to demihuman lard
  data/json/recipes/food/carnivore.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#83030 Bring back the missing NPC Pickup Rules talk_ally talk topic
  data/json/npcs/common_chat/TALK_COMMON_ALLY.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82675 zzip improvements: constant time deletion, unit tests, better internal apis
  src/cata_utility.cpp
  src/cata_utility.h
  src/debug_menu.cpp
  src/filesystem.cpp
  src/game.cpp
  src/mapbuffer.cpp
  src/mmap_file.cpp
  src/mmap_file.h
  src/overmap.cpp
  src/worldfactory.cpp
  src/zzip.cpp
  src/zzip.h
  src/zzip_stack.cpp
  src/zzip_stack.h
  tests/zzip_test.cpp
  tools/save/zzip_main.cpp
Labels: Map / Mapgen, Code: Tests, [C++], Character / World Generation, Code: Tooling, astyled, json-styled, BasicBuildPassed

#83031 [Magiclysm] Tweak black dragon breath timing/acid
  data/mods/Magiclysm/Spells/dragonbreath.json
  data/mods/Magiclysm/monsters/dragon.json
Labels: [JSON], Mods, Monsters, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#82978 More improvements to planting
  doc/JSON/ITEM.md
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
  src/weather.cpp
Labels: <Enhancement / Feature>, <Documentation>, [C++], [Markdown], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#83020 Lard is tallow and animal oil doesn't exist
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/food_service.json
  data/json/itemgroups/supplies.json
  data/json/items/chemicals_and_resources.json
  data/json/items/comestibles/bread.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/drink_other.json
  data/json/npcs/godco/members/foodguard.json
  data/json/npcs/items_generic.json
  data/json/npcs/refugee_center/surface_staff/NPC_free_merchant_broker.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/armor/head.json
  data/json/recipes/basecamps/base/recipe_bare_bones_basecamp/bare_bones_basecamp_recipe_groups.json
  data/json/recipes/basecamps/base/recipe_modular_firestation_1/modular_firestation_recipe_groups.json
  data/json/recipes/basecamps/expansion/recipe_modular_canteen/version_2/modular_canteen_recipe_groups.json
  data/json/recipes/basecamps/recipe_groups.json
  data/json/recipes/chem/fuel.json
  data/json/recipes/chem/mutagens.json
  data/json/recipes/food/bread.json
  data/json/recipes/food/carnivore.json
  data/json/recipes/food/drink_other.json
  data/json/recipes/food/junkfood.json
  data/json/recipes/food/meat_dishes.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/food/sandwich.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/food/wheat.json
  data/json/recipes/other/medical.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/lights.json
  data/json/recipes/weapon/bashing.json
  data/json/requirements/cooking_components.json
  data/json/requirements/cooking_tools.json
  data/json/requirements/materials.json
  data/json/requirements/toolsets.json
  data/mods/Magiclysm/recipes/caster_level_boosters.json
  data/mods/Magiclysm/recipes/weapons.json
  data/mods/Magiclysm/worldgen/goblin_locations/orc_village.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/aftershock_exoplanet/items/comestibles/alienfood.json
  data/mods/aftershock_exoplanet/migration.json
  data/mods/aftershock_exoplanet/recipes/comestible_recipes.json
  data/mods/aftershock_exoplanet/requirements.json
  data/mods/innawood/recipes/chem_fuel.json
  data/mods/innawood/recipes/medsandchemicals.json
  data/mods/innawood/recipes/recipe_food.json
  doc/JSON/NPCs.md
Labels: <Documentation>, NPC / Factions, [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, [Markdown], Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲, Mods: Xedra Evolved

#83040 Bronze nails can be used instead of nails
  data/json/recipes/armor/storage.json
  data/json/recipes/basecamps/expansion/recipe_modular_farm/version_1/recipe_primitive_farm.json
  data/json/recipes/basecamps/expansion/recipe_modular_garage/version_1/recipe_primitive_garage.json
  data/json/recipes/recipe_ammo.json
  data/json/recipes/recipe_vehicle.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/tools/tools_hand.json
  data/json/recipes/tools/tools_primitive.json
  data/json/recipes/weapon/mods.json
  data/json/recipes/weapon/ranged.json
  data/mods/DinoMod/recipes/recipe_others.json
  data/mods/Generic_Guns/recipes/recipes_firearms_single.json
  data/mods/Generic_Guns/recipes/recipes_shot.json
  data/mods/Generic_Guns/recipes/requirements.json
  data/mods/Magiclysm/recipes/construction.json
  data/mods/Magiclysm/recipes/furniture.json
  data/mods/innawood/recipes/electronic_parts.json
  data/mods/innawood/recipes/recipe_others.json
  data/mods/innawood/recipes/tools_electronic.json
  data/mods/innawood/recipes/weapon/mods.json
  data/mods/innawood/recipes/weapon/ranged.json
Labels: [JSON], Vehicles, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Mods: Magiclysm, Mods: Generic Guns, Mods: Dinomod, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲

#83038 merge button hilight fix into 0.I
  src/third-party/imgui/imgui.cpp
  src/third-party/imgui/imgui_internal.h
  src/third-party/imgui/imgui_widgets.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed, ImGui

#83042 Fix main save .zzip.tmp file handling.
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#83047 [Magiclsym/Innawood] A few tweaks
  data/mods/Magiclysm/mod_interactions/innawood/mapgen/meadow_plants.json
  data/mods/Magiclysm/mod_interactions/innawood/monstergroups.json
  data/mods/Magiclysm/mod_interactions/innawood/overmap/overmap_overrides.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#83049 mace recipe audit
  data/json/recipes/weapon/bashing.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#83059 Fix zzip build in mac&windows releases, add to make default target
  Makefile
  tools/save/zzip_main.cpp
Labels: Code: Build, [C++], Code: Tooling, astyled, json-styled

#83050 [Magiclysm] Magic field is only in fields, add mystic glade
  data/mods/Magiclysm/worldgen/magic_field.json
  data/mods/Magiclysm/worldgen/mystic_glade.json
  data/mods/Magiclysm/worldgen/overmap_specials.json
  data/mods/Magiclysm/worldgen/overmap_terrain.json
  data/mods/Magiclysm/worldgen/regional_overlay.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#82958 corrected formic acid counts
  data/json/items/chemicals_and_resources.json
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#81838 terrain/furniture/field bashing can respond to more than bash damage
  data/json/bash_damage_profiles.json
  data/json/damage_types.json
  data/json/furniture_and_terrain/terrain-doors.json
  data/mods/TEST_DATA/map_bash.json
  doc/JSON/JSON_INFO.md
  doc/JSON/MAP_SMASHING.md
  doc/JSON/MONSTERS.md
  lang/string_extractor/parser.py
  src/activity_actor.cpp
  src/avatar.h
  src/character.cpp
  src/character.h
  src/damage.cpp
  src/damage.h
  src/game.cpp
  src/handle_action.cpp
  src/init.cpp
  src/map.cpp
  src/map.h
  src/map_accessories.cpp
  src/map_accessories.h
  src/mapdata.cpp
  src/mapdata.h
  src/monattack.cpp
  src/monmove.cpp
  src/monster.cpp
  src/monster.h
  src/monstergenerator.cpp
  src/mtype.cpp
  src/mtype.h
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/pathfinding.cpp
  src/pathfinding.h
  src/test_data.h
  src/type_id.h
  tests/act_build_test.cpp
  tests/map_bash_test.cpp
  tests/npc_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, Translation, [JSON], Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, [Markdown], [Python], astyled, json-styled, BasicBuildPassed

#83062 [Magiclysm] Simplify Cause Rot ter_transform
  data/mods/Magiclysm/ter_fur_transform/ter_fur_transform.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#83074 Sky Island missing exit bugfix
  data/mods/Sky_Island/missions_and_mapgen.json
Labels: [JSON], Mods, Missions, Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#83029 Tallow is fat
  data/json/itemgroups/Labs/labs_mutagen.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/carnivore.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_mutagen.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/pets_cow.json
  data/json/recipes/armor/pets_horse.json
  data/json/recipes/armor/suit.json
  data/json/recipes/chem/fuel.json
  data/json/recipes/food/bread.json
  data/json/recipes/food/carnivore.json
  data/json/recipes/food/junkfood.json
  data/json/recipes/food/meat_dishes.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/food/sandwich.json
  data/json/recipes/food/soup.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/food/wheat.json
  data/json/recipes/other/medical.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/recipes/recipe_others.json
  data/json/recipes/tools/lights.json
  data/json/recipes/weapon/bashing.json
  data/mods/DinoMod/recipes/pets_bear.json
  data/mods/DinoMod/recipes/pets_elephant.json
  data/mods/DinoMod/recipes/pets_ostrich.json
  data/mods/Magiclysm/recipes/caster_level_boosters.json
  data/mods/Magiclysm/recipes/druid.json
  data/mods/Magiclysm/recipes/weapons.json
  data/mods/Sky_Island/upgrade_missions.json
  data/mods/innawood/recipes/chem_fuel.json
  data/mods/innawood/recipes/medsandchemicals.json
  data/mods/innawood/recipes/recipe_food.json
Labels: <Documentation>, NPC / Factions, [JSON], Missions, Map / Mapgen, Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, [Markdown], Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Innawood 🌲, Mods: Xedra Evolved, Mods: Sky Island

#83071 Don't trash the light cache for the PCs Z level
  src/lightmap.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#83084 Update tilesets to display smaller hordes
  gfx/ASCII_Overmap/tile_config.json
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/tile_config.json
  gfx/Larwick_Overmap/tile_config.json
  gfx/MshockXotto+/tile_config.json
  gfx/RetroDaysTileset/tile_config.json
  gfx/SurveyorsMap/tile_config.json
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#83094 tallow fix
  data/json/recipes/food/carnivore.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#83095 Car owner manual
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/items/book/mechanics.json
Labels: [JSON], Vehicles, Spawn, astyled, json-styled, BasicBuildPassed

#83091 Fix zombie overspawning
  src/overmap.cpp
Labels: Map / Mapgen, [C++], (P1 - Critical), astyled, json-styled

#83103 Backport save compression fixes.
  Makefile
  src/cata_utility.cpp
  src/cata_utility.h
  src/debug_menu.cpp
  src/filesystem.cpp
  src/game.cpp
  src/mapbuffer.cpp
  src/mmap_file.cpp
  src/mmap_file.h
  src/overmap.cpp
  src/worldfactory.cpp
  src/zzip.cpp
  src/zzip.h
  src/zzip_stack.cpp
  src/zzip_stack.h
  tests/zzip_test.cpp
  tools/save/zzip_main.cpp
Labels: Code: Build, Map / Mapgen, Code: Tests, [C++], Character / World Generation, Code: Tooling, astyled, json-styled

#83099 In rain, do not get wet if under the roof
  src/handle_action.cpp
  src/weather.cpp
Labels: [C++], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#83090 Molotovs do not create walls of fire
  src/iuse.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#83098 [MoM] Add biokinetic-attuned artifacts
  data/mods/MindOverMatter/effects/effects_artifact.json
  data/mods/MindOverMatter/itemgroups/artifacts.json
  data/mods/MindOverMatter/itemgroups/feral_deathdrops.json
  data/mods/MindOverMatter/itemgroups/matrix_materials.json
  data/mods/MindOverMatter/items/matrix_crystals.json
  data/mods/MindOverMatter/mapgen/map_extras/glass_and_crystal.json
  data/mods/MindOverMatter/mapgen/nether_crystal_field.json
  data/mods/MindOverMatter/powers/artifact_side_effects.json
  data/mods/MindOverMatter/powers/artifacts.json
  data/mods/MindOverMatter/procgen/biokinetic_artifacts.json
  data/mods/MindOverMatter/recipes/deconstruction.json
  data/mods/MindOverMatter/recipes/practice/biokinetic_practice.json
Labels: [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#83092 Remove Roboto as a default font
  data/fontdata.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, target/0.I-branch

#83089 Tiny cleanup to horde motion
  src/overmap.cpp
Labels: Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#82988 Book Artifacts and new effects.
  data/json/artifact/altered_object_active.json
  data/json/artifact/artifact_item_types.json
  data/json/artifact/relic_procgen_data.json
  data/json/itemgroups/artifacts.json
  data/json/items/armor/cloaks.json
  data/json/mapgen/microlab/microlab_portal/microlab_portal_security_checkpoint.json
  data/mods/TEST_DATA/expected_dps_data/junk_dps.json
  data/mods/TEST_DATA/known_good_uncrafts.json
Labels: [JSON], Map / Mapgen, Spawn, Code: Tests, astyled, json-styled, Items: Armor / Clothing

#83107 Another typo hunt
  data/json/items/magazine/45.json
  data/mods/MindOverMatter/help_files.json
  data/mods/MindOverMatter/items/teleporter_start_items.json
  data/mods/MindOverMatter/powers/biokinesis_eoc.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/items/book_lore.json
Labels: [JSON], astyled, json-styled, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Mind Over Matter
