Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2025-02, with the labels that each got.

#79455 [MoM] New power documentation updates
  data/mods/MindOverMatter/NewPowerGuide.md
Labels: <Documentation>, Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#79395 Move item stuff from json_info.md to it's own doc, move crafting stuff to crafting doc
  doc/JSON/ITEM.md
  doc/JSON/ITEM_CRAFT_AND_DISASSEMBLY.md
  doc/JSON/ITEM_DISASSEMBLY.md
  doc/JSON/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#79454 [MoM] Add Apportation teleportation power
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/hobbies.json
  data/mods/MindOverMatter/powers/learning_eocs/teleportation.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/teleportation_eoc.json
  data/mods/MindOverMatter/professions.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#79457 Start to make vehicle coordinates make sense
  src/activity_item_handling.cpp
  src/avatar.cpp
  src/cata_tiles.cpp
  src/creature.cpp
  src/creature.h
  src/game.cpp
  src/handle_action.cpp
  src/map.cpp
  src/mapgen.cpp
  src/veh_appliance.cpp
  src/veh_interact.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_ramp_test.cpp
  tests/vehicle_split_test.cpp
Labels: Map / Mapgen, Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#79467 Routine tileset updates on 01 February 2025
  gfx/Altica/normal.png
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiHuge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiSmall.png
  gfx/ChibiUltica/ChibiTall.png
  gfx/ChibiUltica/normal.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/huge.png
  gfx/MshockXotto+/overmap.png
  gfx/MshockXotto+/overmap_tall.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tall.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/Ultica_iso/normal.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/layering.json
  gfx/UltimateCataclysm/normal.png
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#79462 Update tools.json
  data/mods/Aftershock/items/tools.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, new contributor

#79449 Audit small turbine engine
  data/json/items/vehicle/engine.json
  data/json/vehicleparts/combustion.json
Labels: <Enhancement / Feature>, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79450 Professions can define your starting bank balance
  data/mods/Aftershock/player/professions.json
  data/mods/Xedra_Evolved/player/professions.json
  doc/JSON/JSON_INFO.md
  src/newcharacter.cpp
  src/profession.cpp
  src/profession.h
Labels: <Documentation>, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Character / World Generation, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#79475 Update the table of contents in doc/JSON/JSON_INFO.md
  doc/JSON/JSON_INFO.md
Labels: <Documentation>, [Markdown], astyled, json-styled

#79456 [MoM] Fixes Hounds of Tindalos following you when teleporting mechanic
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#79442 Vending Machines can optionally use your Bank Balance
  data/json/flags.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/mods/Aftershock/maps/crashing_ship.json
  data/mods/Aftershock/maps/mapgen/augmentation_clinic.json
  data/mods/Aftershock/maps/mapgen/exosuit_garage_2.json
  data/mods/Aftershock/maps/mapgen/habitat_blocks/habitat_block_1.json
  data/mods/Aftershock/maps/mapgen/habitat_blocks/habitat_block_2.json
  data/mods/Aftershock/maps/mapgen/habitat_blocks/habitat_block_3.json
  data/mods/Aftershock/maps/mapgen/habitats/habitat_greenhouse.json
  data/mods/Aftershock/maps/mapgen/port_augustmoon/port_augustmoon_main.json
  data/mods/Aftershock/maps/mapgen/s_gas.json
  data/mods/Aftershock/maps/mapgen/urban_worm_farm.json
  doc/JSON/JSON_FLAGS.md
  src/iexamine.cpp
  src/map.h
  src/mapgen.cpp
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, [Markdown], Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#79441 [MoM] Item Gateway Power
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_learn_recipes.json
  data/mods/MindOverMatter/powers/learning_eocs/teleportation.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/teleportation_eoc.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
Labels: <Documentation>, [JSON], Mods, Crafting / Construction / Recipes, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#79476 Allows vehicles to cross at train crossings
  data/json/furniture_and_terrain/terrain-railroads.json
  data/mods/railroads/mapgen/railroad/railroad_level_crossing.json
  data/mods/railroads/mapgen_palettes/railroad.json
Labels: [JSON], Mods, Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#79429 expand revivification
  doc/JSON/MONSTERS.md
  src/game.cpp
  src/game.h
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Documentation>, [C++], Monsters, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#79470 Magic Infrastructure: Add failure_chance field
  src/magic.cpp
  src/magic_type.cpp
  src/magic_type.h
  src/npc.cpp
Labels: NPC / Factions, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#79471 Flesh out e-device item groups
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Labs/labs_common.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Monsters_Animals_Lairs/monster_drops_lairs.json
  data/json/itemgroups/SUS/combos.json
  data/json/itemgroups/SUS/office.json
  data/json/itemgroups/books.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/efiles.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/misc.json
  data/json/itemgroups/roof.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/trash_and_debris.json
  data/json/items/software.json
  data/json/items/tool/electronics.json
Labels: [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#79481 Move surface rail lines closer and add junctions
  data/mods/railroads/mapgen/railroad.json
  data/mods/railroads/mapgen/railroad/railroad_level_crossing.json
  data/mods/railroads/mapgen/railroad_bridges.json
  data/mods/railroads/mapgen_palettes/railroad.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed

#79484 [Xedra Evolved] Fix commoner fae CBMs
  data/mods/Xedra_Evolved/mutations/playable_changeling.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, Mods: Xedra Evolved

#79474 add some missing flags to allow better mapgen control
  data/json/overmap/map_extras.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#79285 Gunstore Overhaul
  data/json/itemgroups/SUS/gunstore.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunstore_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines/magazine_collections_by_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines/magazines_by_caliber.json
  data/json/items/book/misc.json
  data/json/items/containers/containers.json
  data/json/items/fluff.json
  data/json/items/gun/338lapua.json
  data/json/mapgen/gunsmith.json
  data/json/mapgen/nested/gunstore_nested.json
  data/json/mapgen/s_gun.json
  data/json/mapgen/store/s_gunstore.json
  data/json/mapgen_palettes/gunstore.json
  data/json/obsoletion_and_migration_0.I/obsolete_overmap_terrain.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
  data/json/start_locations.json
  data/mods/Defense_Mode/scenarios.json
  data/mods/Defense_Mode/specials.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/No_Hope/mapgen_palettes/other_palettes.json
  data/mods/TEST_DATA/regions.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
  data/mods/alt_map_key/overmap_terrain.json
  data/mods/classic_zombies/region_overlay.json
  data/mods/desert_region/desert_regional_map_settings.json
Labels: [JSON], Items: Magazines, Map / Mapgen, Spawn, Code: Tests, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Scenarios, Mods: Generic Guns, Mods: Dark Days of the Dead, Items: Containers, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Defense Mode, Mods: TropiCataclysm 🌴, Mods: Desert Region

#79499 Add lucky/unlucky traits (Crazy Cata)
  data/mods/CrazyCataclysm/crazy_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled

#79487 [XEDERA] Homullus: Add revive mutation
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/homullus_mutations.json
  data/mods/Xedra_Evolved/spells/classless_spells.json
  src/npctalk.cpp
Labels: NPC / Factions, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#79497 Remove some more POLEARMS category from spears
  data/json/items/melee/spears_and_polearms.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79493 Fixing bounding box errors
  src/map_extras.cpp
  src/vehicle.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#79490 Add radishes and seeds to the game
  data/json/itemgroups/Agriculture_Forage_Excavation/agriculture.json
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/comestibles/raw_veggy.json
  data/json/items/comestibles/seed.json
  data/json/mapgen/cs_gardening_allotment.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/recipe_food.json
  data/json/requirements/cooking_components.json
Labels: [JSON], Map / Mapgen, Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, astyled, json-styled, BasicBuildPassed

#79504 add self (moxian) to comment-commands.yml
  .github/comment-commands.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#79482 Variant Docs
  doc/design-balance-lore/VARIANTS.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#79478 [MoM] Change relocation to require apportation
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/learning_eocs/teleportation.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#79477 Convert some vehicle operations to be map aware
  src/activity_actor.cpp
  src/avatar_action.cpp
  src/ballistics.cpp
  src/ballistics.h
  src/character.cpp
  src/character.h
  src/crafting.cpp
  src/creature.cpp
  src/creature.h
  src/explosion.cpp
  src/explosion.h
  src/inventory.cpp
  src/inventory.h
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/map.cpp
  src/map_field.cpp
  src/mondeath.cpp
  src/monster.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/overmapbuffer.cpp
  src/ranged.cpp
  src/turret.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  tests/char_volume_test.cpp
  tests/eoc_test.cpp
  tests/morale_test.cpp
  tests/ranged_balance_test.cpp
  tests/reload_time_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_turrets_test.cpp
Labels: NPC / Factions, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, Items: Containers, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#79509 [MoM]Fix missed EOC rename
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Mind Over Matter

#79510 [MoM] Fix Force Shove always asking the avatar about how to use it
  data/mods/MindOverMatter/powers/telekinesis_eoc.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#79479 Remove morale penalty from dismemberment
  src/activity_handlers.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed, new contributor

#79512 `Uncaring` characters can socialize with NPCs but they don't like it
  data/json/morale_types.json
  data/json/npcs/common_chat/TALK_COMMON_ALLY.json
  data/json/npcs/common_chat/TALK_FRIEND_CONVERSATION.json
Labels: Game: Balance, [JSON], astyled, json-styled, BasicBuildPassed

#75961 Add a variant of closest_points_first that takes a predicate
  src/activity_item_handling.cpp
  src/map.cpp
  src/monattack.cpp
  src/monmove.cpp
  src/npc.cpp
  src/npcmove.cpp
  src/point.cpp
  src/point.h
  src/ranged.cpp
Labels: NPC / Factions, Vehicles, [C++], astyled, json-styled, BasicBuildPassed, new contributor

#79507 Sky Island vampire compatibility
  data/mods/Sky_Island/mod_interactions/xedra_evolved/eocs.json
  data/mods/Sky_Island/mod_interactions/xedra_evolved/hobbies.json
  data/mods/Sky_Island/mod_interactions/xedra_evolved/recipes.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Sky Island

#79526 fix roll_remainder eoc effect
  src/npctalk.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79511 Allow EOCs to read item tool qualities
  doc/JSON/NPCs.md
  src/item_location.cpp
  src/item_location.h
  src/math_parser_diag.cpp
  src/talker.h
  src/talker_item.cpp
  src/talker_item.h
Labels: <Documentation>, NPC / Factions, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#79528 Vehicle position -> absolute
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/debug_menu.cpp
  src/editmap.cpp
  src/game.cpp
  src/grab.cpp
  src/handle_liquid.cpp
  src/item.cpp
  src/item_location.cpp
  src/iuse_actor.cpp
  src/lightmap.cpp
  src/map.cpp
  src/map.h
  src/mapgen.cpp
  src/npcmove.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/turret.cpp
  src/veh_appliance.cpp
  src/veh_interact.cpp
  src/veh_shape.cpp
  src/veh_utils.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_move.cpp
  src/vehicle_use.cpp
  tests/vehicle_export_test.cpp
  tests/vehicle_fake_part_test.cpp
  tests/vehicle_power_test.cpp
  tests/vehicle_ramp_test.cpp
  tests/vehicle_test.cpp
  tests/vehicle_turrets_test.cpp
Labels: NPC / Factions, Info / User Interface, Map / Mapgen, Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#79525 Add an island-only sun protection to Sky island
  data/mods/Sky_Island/dialog_statue.json
  data/mods/Sky_Island/items.json
  data/mods/Sky_Island/mutations.json
  data/mods/Sky_Island/upgrade_missions.json
Labels: [JSON], Mods, Missions, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Sky Island

#78822 Rename Monster Names
  data/json/monsters/civilians.json
  data/json/monsters/fungus_zombie.json
  data/json/monsters/triffid.json
  data/json/monsters/zanimal_upgrade.json
  data/json/monsters/zed-animal.json
  data/json/monsters/zed-medical.json
  data/json/monsters/zed_amphibian.json
  data/json/monsters/zed_misc.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#79522 Fix E_FILE_STORAGE item location serialization
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_location.cpp
  src/item_pocket.cpp
  src/item_pocket.h
Labels: [C++], <Bugfix>, Items: Containers, astyled, json-styled, BasicBuildPassed

#79518 Ask to wield container if parent container is too small to insert items
  src/activity_actor.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#79516 Revert "Refactor finger touch counting"
  src/sdltiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79537 Fix map cache segfault, remove omt tripoints from map items' operations
  data/json/effects_on_condition/computer_eocs.json
  data/json/flags.json
  data/json/items/id_cards.json
  data/json/items/software.json
  doc/JSON/JSON_FLAGS.md
  src/condition.cpp
  src/condition.h
  src/iexamine_actors.cpp
  src/item.cpp
  src/item.h
  src/item_tname.cpp
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/map.cpp
  src/npctalk.cpp
  tests/item_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Code: Tests, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#79540 Update NPC JSON doc
  doc/JSON/NPCs.md
Labels: <Documentation>, NPC / Factions, <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#79541 Allow EOCs to assign the character cash value
  doc/JSON/NPCs.md
  src/condition.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: <Documentation>, NPC / Factions, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#79523 Prevent storing multiple copies of the same book
  src/activity_actor.cpp
  src/avatar.cpp
  src/game_inventory.cpp
  src/game_inventory.h
  src/inventory_ui.cpp
  src/inventory_ui.h
  src/item.cpp
  src/item.h
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79496 [Aftershock] Update and Expand Hacking System
  data/mods/Aftershock/EOC/_reusable_conditions.json
  data/mods/Aftershock/EOC/hacking_eoc.json
  data/mods/Aftershock/doc/Hacking.md
  data/mods/Aftershock/flags.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/esper_summons.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/maps/furniture_and_terrain/furniture_habitat.json
  data/mods/Aftershock/ter_fur_transform.json
Labels: <Documentation>, [JSON], Mods, Fields / Furniture / Terrain / Traps, [Markdown], Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition

#79545 [DinoMod] restore dino weights
  data/mods/DinoMod/monsters/dinosaur.json
  data/mods/DinoMod/monsters/mutant_dino.json
  data/mods/DinoMod/monsters/zinosaur_burned.json
  data/mods/DinoMod/monsters/zinosaur_upgrade.json
Labels: [JSON], Mods, Monsters, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#79508 Weekly Changelog 2025-01-27 to 2025-02-03
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#79544 made more vehicle stuff map aware
  src/activity_actor.cpp
  src/activity_item_handling.cpp
  src/cata_tiles.cpp
  src/creature.cpp
  src/debug_menu.cpp
  src/game.cpp
  src/grab.cpp
  src/iexamine.cpp
  src/item.cpp
  src/item_location.cpp
  src/iuse.cpp
  src/lightmap.cpp
  src/line.cpp
  src/line.h
  src/map.cpp
  src/map_extras.cpp
  src/mapgen.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/sounds.cpp
  src/turret.cpp
  src/veh_appliance.cpp
  src/veh_interact.cpp
  src/veh_shape.cpp
  src/veh_utils.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_autodrive.cpp
  src/vehicle_move.cpp
  src/vehicle_use.cpp
  src/vpart_position.h
  tests/mapgen_remove_vehicles_test.cpp
  tests/npc_behavior_rules_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_export_test.cpp
  tests/vehicle_fake_part_test.cpp
  tests/vehicle_interact_test.cpp
  tests/vehicle_part_test.cpp
  tests/vehicle_power_test.cpp
  tests/vehicle_ramp_test.cpp
  tests/vehicle_split_test.cpp
  tests/vehicle_test.cpp
  tests/vision_test.cpp
Labels: NPC / Factions, Map / Mapgen, Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#79534 Remove Obsoleted Mod lacking maintainer Blaze Industries
  data/mods/BlazeIndustries/README.txt
  data/mods/BlazeIndustries/furniture_and_terrain/blaze_appliances.json
  data/mods/BlazeIndustries/furniture_and_terrain/blaze_furniture.json
  data/mods/BlazeIndustries/items/gun/grenade.json
  data/mods/BlazeIndustries/items/items.json
  data/mods/BlazeIndustries/items/materials.json
  data/mods/BlazeIndustries/items/vehicle/blaze_engine.json
  data/mods/BlazeIndustries/items/vehicle/blaze_gun.json
  data/mods/BlazeIndustries/items/vehicle/blaze_other.json
  data/mods/BlazeIndustries/items/vehicle/blaze_solar.json
  data/mods/BlazeIndustries/modinfo.json
  data/mods/BlazeIndustries/obsoletion/migrate_to_VEH_TOOLS.json
  data/mods/BlazeIndustries/recipes/blaze_construction_recipes.json
  data/mods/BlazeIndustries/recipes/blaze_gun_recipes.json
  data/mods/BlazeIndustries/recipes/blaze_other_recipes.json
  data/mods/BlazeIndustries/recipes/construction_group.json
  data/mods/BlazeIndustries/snippets.json
  data/mods/BlazeIndustries/vehicleparts/blaze_combustion.json
  data/mods/BlazeIndustries/vehicleparts/blaze_other_parts.json
  data/mods/BlazeIndustries/vehicleparts/vehicle_parts.json
  data/mods/BlazeIndustries/vehicles/part_items.json
  data/mods/BlazeIndustries/vehicles/vehicle_spawn.json
  data/mods/BlazeIndustries/vehicles/vehicles.json
Labels: [JSON], Mods, Vehicles, Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Lore, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#79535 Implement riot damage in cities
  data/json/overmap/overmap_terrain/overmap_terrain.json
  doc/JSON/JSON_FLAGS.md
  src/mapgen.cpp
  src/omdata.h
  src/overmap.cpp
Labels: <Documentation>, [JSON], Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#79538 [WIP] Ma firearm data import
  doc/HOWTO_MASSAGE_MA_GUN_DATA.md
  doc/firearm_stats/fix_serial_numbers.sql
  doc/firearm_stats/make_renames.in
  doc/firearm_stats/make_updates.sql
  doc/firearm_stats/remove_empty_entries.sql
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#79558 minor typo fix for Caotel 2.2
  data/json/items/gun/exodii.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79553 Fix clang-tidy plugin compilation on windows and document the process.
  doc/c++/DEVELOPER_TOOLING.md
  tools/clang-tidy-plugin/CMakeLists.txt
  tools/clang-tidy-plugin/CataTidyModule.cpp
  tools/clang-tidy-plugin/TranslatorCommentsCheck.cpp
  tools/clang-tidy-plugin/lit-win-console-llvm-17.patch
  tools/clang-tidy-plugin/test/almost-never-auto.cpp
  tools/clang-tidy-plugin/test/lit.cfg
  tools/clang-tidy-plugin/test/use-localized-sorting.cpp
  tools/clang-tidy-plugin/test/use-string_view.cpp
Labels: <Documentation>, Info / User Interface, Code: Build, [C++], [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#79542 [ Xedra Evolved ] Fix monster spawns in Vampire Cathedral basement
  data/mods/Xedra_Evolved/mapgen/vampire_cathedral.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#79460 [Xedra Evolved] Add seasonal magic for changelings
  data/mods/Xedra_Evolved/activity_types.json
  data/mods/Xedra_Evolved/effects/effects_changeling_seasonal_magic.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/playable_changeling.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_eocs.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_seasonal_magic_research_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_autumn.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_autumn_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_spring.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_spring_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_summer.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_summer_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_winter.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_winter_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_spells.json
  data/mods/Xedra_Evolved/ter_transforms/changeling_seasonal_ter_transforms.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#79001 New Exodii weapon, the Khuunäöfaai
  data/json/ammo_effects.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/items/ammo/exodii.json
  data/json/items/ammo_types.json
  data/json/items/gun/exodii.json
  data/json/items/magazine/exodii.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_blacklist.json
  tools/json_tools/gun_variant_validator.py
Labels: [JSON], Items: Magazines, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, [Python], Mods: Generic Guns, Code: Tooling, astyled, json-styled, BasicBuildPassed

#79556 fix insert item segfault
  src/activity_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79557 fix plural form of generators
  data/json/items/appliances/appliances_generators.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#79554 Spell Infrastructure: Make spell difficulty accessible in math
  doc/JSON/MAGIC.md
  doc/JSON/NPCs.md
  src/magic.cpp
  src/magic.h
  src/math_parser_diag.cpp
  src/talker.h
  src/talker_character.cpp
  src/talker_character.h
Labels: <Documentation>, NPC / Factions, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#79500 Initial support for GNU Make for Windows
  Makefile
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#79539 E-device selection ignores empty browsed devices when moving/copying
  data/json/itemgroups/roof.json
  src/game_inventory.cpp
Labels: [JSON], Spawn, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79560 Dont show liquids from held or worn container in AIM [I]nventory-panel
  src/advanced_inv.cpp
  src/advanced_inv_pane.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79562 [MoM/Innawood] Auto-learn refined matrix crystal dust recipes
  data/mods/MindOverMatter/mod_interactions/innawood/recipes.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#79555 Hobbies can give recipes
  src/character.h
  src/newcharacter.cpp
  src/npc.cpp
Labels: NPC / Factions, [C++], Character / World Generation, astyled, json-styled, BasicBuildPassed

#79577 Add stone fireplace back
  data/json/construction/furniture_fireplaces.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-fireplaces.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled

#79576 [Magiclysm] Fix Goodberry EoC
  data/mods/Magiclysm/items/ethereal_items.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled

#79578 NO_HANDS flag added twice
  data/mods/Magiclysm/Spells/attunements/Glacier_Mage.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, new contributor

#79567 [Xedra Evolved] Seasonal magic casting failure adjustments
  data/mods/Xedra_Evolved/jmath.json
Labels: [JSON], Mods, astyled, json-styled, Mods: Xedra Evolved

#79561 made iuse_actor use map aware + some vehicle operation
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_handlers.h
  src/activity_item_handling.cpp
  src/character.cpp
  src/construction.cpp
  src/crafting.cpp
  src/creature.cpp
  src/game.cpp
  src/handle_action.cpp
  src/item_action.cpp
  src/item_factory.cpp
  src/itype.cpp
  src/itype.h
  src/iuse.cpp
  src/iuse.h
  src/iuse_actor.cpp
  src/iuse_actor.h
  src/map_selector.cpp
  src/map_selector.h
  src/npctalk_funcs.cpp
  src/turret.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Labels: NPC / Factions, Vehicles, Crafting / Construction / Recipes, [C++], astyled, json-styled, BasicBuildPassed

#79569 Attach some debug info to release runner errors
  build-scripts/generate-release-notes.js
Labels: Code: Build, astyled, json-styled, BasicBuildPassed

#79589 [Xedra Evolved] Add missing deduction skill to spells
  data/mods/Xedra_Evolved/spells/changeling_spells.json
Labels: [JSON], Mods, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#79498 More Rail Vehicles
  data/json/vehicles/trains.json
  data/mods/railroads/mapgen/railroad.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#79588 [Xedra Evolved] Add changeling magic to deduction EoC
  data/mods/Xedra_Evolved/eocs/misc_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#79586 Repaired mapbuffer uniform map generation
  src/map.cpp
  src/mapbuffer.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#79591 Fix typo {LAWRICK -> LARWICK}
  data/font/map_font_LARWICK_Colored.png
Labels: astyled, json-styled

#79529 Variant Trimming
  data/json/items/armor/boots.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_clothes.json
  data/json/items/comestibles/other.json
  data/json/items/containers/containers.json
  data/json/items/toy.json
  data/json/monsterdrops/clothing_halloween.json
  data/json/professions.json
Labels: [JSON], Items: Food / Vitamins, Mutations / Traits / Professions/ Hobbies, Monsters, Items: Containers, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79517 Bump CI compiler versions (and update the docs)
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#79563 Fix prices
  data/json/items/generic/bathroom_house.json
  data/json/items/melee/swords_and_blades.json
  data/json/items/tool/electronics.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79564 Don't hardcode help text: Autopickup Manager
  src/auto_pickup.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#79572 Add pronoun/pride pins
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/jewelry.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79575 Improve blood placement on Riot Damage
  src/mapgen.cpp
Labels: <Enhancement / Feature>, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#79598 Fix Riot Damage not applying properly to structures multiple z-levels tall
  src/mapgen.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79593 Audit Overmap Terrains for correct application of Riot Damage
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/json/overmap/overmap_terrain/overmap_terrain_agricultural.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/overmap/overmap_terrain/overmap_terrain_industrial.json
  data/json/overmap/overmap_terrain/overmap_terrain_mall.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/json/overmap/overmap_terrain/overmap_terrain_public_institutional.json
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
  data/json/overmap/overmap_terrain/overmap_terrain_residential.json
  data/json/overmap/overmap_terrain/overmap_terrain_speedway.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  data/json/overmap/overmap_terrain/overmap_terrain_waste_junk.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled

#79605 Remove the limit on concurrent build matrix jobs in forks
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled

#79602 Add SW 617, Ruger PCC, Marlin 60
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunstore_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/22.json
  data/json/items/gun/9mm.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/TEST_DATA/item_demographics.json
  data/mods/classic_zombies/items/blacklists.json
Labels: [JSON], Spawn, Code: Tests, Items: Ammo / Guns, Mods: Generic Guns, Mods: Dark Days of the Dead, astyled, json-styled

#79599 make some vehicle operations map aware
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/bionics.cpp
  src/bionics_ui.cpp
  src/cata_tiles.cpp
  src/character.cpp
  src/craft_command.cpp
  src/crafting.cpp
  src/debug_menu.cpp
  src/display.cpp
  src/game.cpp
  src/grab.cpp
  src/handle_action.cpp
  src/item.cpp
  src/item_location.cpp
  src/iuse.cpp
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/map.cpp
  src/melee.cpp
  src/monmove.cpp
  src/npc.cpp
  src/npctalk.cpp
  src/npctrade_utils.cpp
  src/overmap_ui.cpp
  src/ranged.cpp
  src/sounds.cpp
  src/talker_character.cpp
  src/turret.cpp
  src/veh_appliance.cpp
  src/veh_interact.cpp
  src/veh_utils.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_autodrive.cpp
  src/vehicle_display.cpp
  src/vehicle_move.cpp
  src/vehicle_part.cpp
  src/vehicle_use.cpp
  tests/clzones_test.cpp
  tests/crafting_test.cpp
  tests/mapgen_remove_vehicles_test.cpp
  tests/unseal_and_spill_test.cpp
  tests/vehicle_drag_test.cpp
  tests/vehicle_efficiency_test.cpp
  tests/vehicle_fake_part_test.cpp
  tests/vehicle_part_test.cpp
  tests/vehicle_power_test.cpp
  tests/vehicle_ramp_test.cpp
  tests/vehicle_split_test.cpp
  tests/vehicle_test.cpp
  tests/vehicle_turrets_test.cpp
  tests/visitable_remove_test.cpp
Labels: NPC / Factions, Info / User Interface, Bionics, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#79606 Disable more debug mode msvc flags
  msvc-full-features/Cataclysm-common.props
Labels: astyled, json-styled, BasicBuildPassed

#79607 Infrastructure: Add max_worn field, migrate ONLY_ONE flag
  data/json/flags.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/cloaks.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/items/gun/flammable.json
  data/json/items/tool_armor.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor/energy_shield.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_modules.json
  data/mods/Aftershock/items/armor/exosuit/exosuit_ranged.json
  data/mods/Aftershock/items/armor/jetpacks.json
  data/mods/Aftershock/items/armor/military_clothing.json
  data/mods/Aftershock/items/cast_spell_items.json
  data/mods/Aftershock/items/esper_summons.json
  data/mods/Aftershock/items/ethereal.json
  data/mods/Limb_WIP/armor/arm_prosthetics.json
  data/mods/Limb_WIP/armor/legs_prosthetics.json
  data/mods/Magiclysm/Spells/attunements/Blood_Mage.json
  data/mods/Magiclysm/Spells/attunements/Crusader.json
  data/mods/Magiclysm/Spells/attunements/Force_Mage.json
  data/mods/Magiclysm/Spells/attunements/Permafrost_Mage.json
  data/mods/Magiclysm/items/enchanted_unarmed.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/migration_and_obsoletion/items.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/Sky_Island/items.json
  data/mods/TEST_DATA/items.json
  data/mods/Xedra_Evolved/items/armor/armor.json
  data/mods/Xedra_Evolved/items/armor/headgear.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/items/hedge_magic_items.json
  data/mods/Xedra_Evolved/items/inventor/armor.json
  doc/JSON/ITEM.md
  doc/JSON/JSON_FLAGS.md
  doc/design-balance-lore/ARMOR_BALANCE_AND_DESIGN.md
  src/advanced_inv.cpp
  src/character_attire.cpp
  src/flag.cpp
  src/flag.h
  src/item.cpp
  src/item.h
  src/item_factory.cpp
  src/itype.h
Labels: <Documentation>, [JSON], Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Mods: Magiclysm, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved, Mods: Mind Over Matter, Mods: Sky Island

#79603 Update custom_gloves.json
  data/json/items/armor/bespoke_armor/custom_gloves.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, new contributor

#79614 Martial Mastery: Duelist Combos & Five point Exploding Heart Technique
  data/mods/Perk_melee/EOC/duelist_eocs.json
  data/mods/Perk_melee/EOC/eoc_clears.json
  data/mods/Perk_melee/EOC/pressure_strikes_eocs.json
  data/mods/Perk_melee/EOC/shared_eocs.json
  data/mods/Perk_melee/EOC/tempo_eocs.json
  data/mods/Perk_melee/PERKS/momentum.json
  data/mods/Perk_melee/PERKS/perks.json
  data/mods/Perk_melee/PERKS/tempo.json
  data/mods/Perk_melee/enchantments.json
  data/mods/Perk_melee/martial_arts.json
  data/mods/Perk_melee/menu.json
  data/mods/Perk_melee/perk_effects.json
  data/mods/Perk_melee/perk_techniques.json
  data/mods/Perk_melee/techniques/techniques.json
Labels: [JSON], Mods, Melee, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#79419 Aftershock: Add some more Cyberpunk style gear
  data/mods/Aftershock/itemgroups/clothing/civilian_blue_collar_sets.json
  data/mods/Aftershock/items/armor/cyberpunk.json
  data/mods/Aftershock/items/armor/energy_shield.json
  data/mods/Aftershock/items/armor/headsets.json
  data/mods/Aftershock/items/armor/military_armor.json
  data/mods/Aftershock/items/comestibles/flesh.json
  data/mods/Aftershock/items/comestibles/veggies.json
  data/mods/Aftershock/items/item_enchants.json
  data/mods/Aftershock/maps/mapgen/shuttlepad_salvors.json
  data/mods/Aftershock/npcs/Independents/GENERIC/nc_solo.json
  data/mods/Aftershock/npcs/Independents/salvor_camp_solo.json
  data/mods/Aftershock/npcs/factions.json
  data/mods/Aftershock/player/professions.json
Labels: [JSON], Mods, Map / Mapgen, Items: Food / Vitamins, Spawn, Mutations / Traits / Professions/ Hobbies, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79621 make gas masks compatible with NVG
  data/json/items/tool_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79628 [MoM] Swap the Itzcuauhtli Corps Liaison's wristwatch for a māchīuhpōhualhuaztli ("wrist computer")
  data/mods/MindOverMatter/items/teleporter_start_items.json
  data/mods/MindOverMatter/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, Mods: Mind Over Matter

#79618 Add place arc furnace recipe, obsolete industrial arc furnace
  data/json/construction/appliances.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/appliances.json
  data/json/items/fake.json
  data/json/obsoletion_and_migration_0.I/obsolete_furniture.json
  data/json/uncraft/recipe_deconstruction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#79637 remove martial arts compat from makeshift/primitive axes.
  data/json/items/tool/woodworking.json
Labels: [JSON], astyled, json-styled

#79566 Fix #79551
  src/debug.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79635 Random mutant bug JSON cleanup
  data/json/monsters/insect_spider.json
Labels: [JSON], Monsters, astyled, json-styled, BasicBuildPassed

#79639 Fix MISSION_GET_SOFTWARE not finding software
  src/character.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79592 [Xedra Evolved] More seasonal magic
  data/mods/Xedra_Evolved/effects/effects_changeling_seasonal_magic.json
  data/mods/Xedra_Evolved/eocs/misc_eoc.json
  data/mods/Xedra_Evolved/field_type.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_eocs.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_seasonal_magic_research_eocs.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/effects.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_autumn.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_spring.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_spring_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_summer.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_summer_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_winter.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_winter_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#79633 Upgrade clang-tidy to LLVM 18, and fix (some) newly firing lints
  .clang-tidy
  .github/workflows/clang-tidy.yml
  .vscode/settings.json
  build-scripts/clang-tidy-build.sh
  src/activity_actor_definitions.h
  src/activity_item_handling.cpp
  src/cata_bitset.cpp
  src/cata_bitset.h
  src/cata_tiles.cpp
  src/character_modifier.h
  src/climbing.cpp
  src/construction.h
  src/creature.cpp
  src/cursesport.cpp
  src/debug.cpp
  src/dialogue.h
  src/dialogue_chatbin.h
  src/dialogue_helpers.h
  src/effect_source.h
  src/game.cpp
  src/handle_action.cpp
  src/iexamine.cpp
  src/item_location.cpp
  src/iuse_actor.h
  src/map.cpp
  src/map.h
  src/math_parser_diag.cpp
  src/melee.cpp
  src/mission_util.cpp
  src/morale.cpp
  src/npc.h
  src/npctalk.h
  src/overmap_ui.h
  src/overmapbuffer.cpp
  src/text_style_check.h
  src/trap.cpp
  src/veh_type.h
  src/wish.cpp
  tests/catch/catch.hpp
  tools/clang-tidy-plugin/CombineLocalsIntoPointCheck.cpp
  tools/clang-tidy-plugin/HeaderGuardCheck.cpp
  tools/clang-tidy-plugin/NoLongCheck.cpp
  tools/clang-tidy-plugin/SimplifyPointConstructorsCheck.cpp
  tools/clang-tidy-plugin/StaticIntIdConstantsCheck.cpp
  tools/clang-tidy-plugin/StaticStringIdConstantsCheck.cpp
  tools/clang-tidy-plugin/TestFilenameCheck.cpp
  tools/clang-tidy-plugin/UnusedStaticsCheck.cpp
  tools/clang-tidy-plugin/UseLocalizedSortingCheck.cpp
  tools/clang-tidy-plugin/UsePointArithmeticCheck.cpp
  tools/clang-tidy-plugin/Utils.cpp
  tools/clang-tidy-plugin/Utils.h
Labels: NPC / Factions, Info / User Interface, Code: Build, Missions, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, Melee, Code: Tooling, astyled, json-styled, BasicBuildPassed

#79648 Fail IWYU CI job on IWYU error
  .github/workflows/iwyu.yml
  tests/item_tname_test.cpp
Labels: Code: Tests, [C++], Code: Tooling, astyled, json-styled, BasicBuildPassed

#79650 Glazed / roasted carrot audit
  data/json/items/comestibles/veggy_dishes.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#79641 Implement Riot Damage in City Roads and Subway Stations. Adjust Fire and Blood placement over time.
  data/json/flags.json
  data/json/furniture_and_terrain/terrain-walls.json
  data/json/overmap/overmap_terrain/overmap_terrain_transportation.json
  doc/JSON/JSON_FLAGS.md
  src/mapdata.cpp
  src/mapdata.h
  src/mapgen.cpp
Labels: <Enhancement / Feature>, <Documentation>, [JSON], Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed

#79656 Query climb target when trying to ascend stairs into open air
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79663 Minor clothing itemgroup change
  data/json/itemgroups/Clothing_Gear/clothing.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#79662 Minor 12 gauge audit
  data/json/items/ammo/shot.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79655 Reduce max weight of laundry basket
  data/json/items/armor/storage.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79634 unrack vehicle on destroyed bike rack
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_use.cpp
Labels: [JSON], Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79669 [MoM] Run proper EoC when casting relocation
  data/mods/MindOverMatter/powers/teleportation.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#79672 Minor bug fixes
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/electronics.json
  data/json/items/gun/45colt.json
  data/json/items/items_holiday.json
  data/json/monsterdrops/misc.json
  data/json/uncraft/appliances/appliances_refrigeration.json
Labels: [JSON], Spawn, Monsters, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#79674 Remove skill rust resist from "Flawless memory" perk
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#79676 Remove radiation and beasts from NPP
  data/json/mapgen/nuclear_plant/nuclear_plant_z0.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z1.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z2.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z3.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z4.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z5.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z6.json
  data/json/mapgen/nuclear_plant/nuclear_plant_z7.json
  data/json/mapgen_palettes/nuclear_plant_palette.json
  data/json/monstergroups/misc.json
  data/mods/CrazyCataclysm/crazy_monstergroups.json
Labels: [JSON], Map / Mapgen, Spawn, Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#79615 Weekly Changelog 2025-02-03 to 2025-02-10
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#79679 Aftershock: Wraitheon Vahagn 10XR Smart Rifle
  data/mods/Aftershock/ammo_effects.json
  data/mods/Aftershock/effects.json
  data/mods/Aftershock/effects_on_condition.json
  data/mods/Aftershock/itemgroups/weapons/armories.json
  data/mods/Aftershock/items/ammo/7.50mm.json
  data/mods/Aftershock/items/ammo_type.json
  data/mods/Aftershock/items/gun/7.50mm.json
  data/mods/Aftershock/items/magazine/7.50mm.json
  data/mods/Aftershock/maps/mapgen/crashsites.json
  data/mods/Aftershock/spells.json
  data/mods/Aftershock/spells/jetpack_spells.json
  src/npctalk.cpp
Labels: NPC / Factions, [JSON], Mods, Map / Mapgen, Spawn, [C++], Items: Ammo / Guns, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79678 Ammo type name changes
  data/json/items/ammo_types.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#79705 Fix craftable nomad cowl without blueprint
  data/json/recipes/armor/bespoke_armor/nomad.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79709 Audit bowl, drinking glass, plate length
  data/json/items/generic/dining_kitchen.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79698 also mark 'child' recipes when marking nested recipes as read
  src/crafting_gui.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79697 add walls to standard_domestic_abandoned_palette
  data/json/mapgen_palettes/house_general_abandoned.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#79696 add *.output files to .gitignore
  .gitignore
Labels: astyled, json-styled, BasicBuildPassed

#79690 Only run IWYU on affected files + minor `get_affected_files.py` refactor
  .github/workflows/iwyu.yml
  build-scripts/clang-tidy-run.sh
  build-scripts/get_affected_files.py
Labels: Code: Build, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#79695 Remove recursision from weapon_talk_hallucination
  data/json/effects_on_condition/npc_eocs/hallucination_eocs.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#79681 Make test logging a bit more verbose by adding current test name
  .github/workflows/msvc-full-features.yml
  build-scripts/gha_test_only.sh
  tests/catch/catch.hpp
  tests/map_helpers.cpp
  tests/martial_art_test.cpp
  tests/npc_attack_test.cpp
  tests/player_activities_test.cpp
  tests/speed_description_test.cpp
  tests/start_date_test.cpp
  tests/test_main.cpp
  tests/unload_naked_test.cpp
  tests/vehicle_fake_part_test.cpp
  tests/widget_test.cpp
Labels: NPC / Factions, Info / User Interface, Code: Build, Vehicles, Code: Tests, [C++], <Bugfix>, Code: Tooling, astyled, json-styled, BasicBuildPassed

#79675 40mm audit
  data/json/items/ammo/40x46mm.json
  data/json/items/ammo/40x53mm.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/ammo/40x46mm.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
  data/mods/TEST_DATA/item_demographics.json
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, <Bugfix>, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#79714 NO_I18N: abstract software
  data/json/items/software.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79713 [Xedra_Evolved] Fix error after choose "Magicks of Winter" in changeling wake up menu bug
  data/mods/Xedra_Evolved/mutations/playable_changeling_seasonal_magic_research_eocs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, EOC: Effects On Condition, Mods: Xedra Evolved, new contributor

#79687 Return equipment to "Otaku" profession
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#79688 Move laundry basket and large wicker basket into a container
  data/json/items/armor/storage.json
  data/json/items/containers/generic.json
Labels: [JSON], Spawn, Mutations / Traits / Professions/ Hobbies, Code: Tests, Monsters, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#79726 Vampire typo fix & small tweaks
  data/mods/Xedra_Evolved/README.md
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/eocs/misc_eoc.json
  data/mods/Xedra_Evolved/items/comestibles/goblin_fruits.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/recipes/vampire.json
Labels: <Documentation>, [JSON], Mods, Items: Food / Vitamins, Mutations / Traits / Professions/ Hobbies, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#79722 Added ground protection from bashing
  src/map.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79725 Handaxes practice needs handaxes
  data/json/recipes/practice/melee.json
  data/json/requirements/melee.json
Labels: [JSON], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#79729 [MoM] Fix spark sight
  data/mods/MindOverMatter/effects/effects_psionic.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, Mods: Mind Over Matter

#79731 Add a bank palette, fix isolated safe in bank
  data/json/mapgen/bank.json
  data/json/mapgen_palettes/bank.json
Labels: [JSON], Map / Mapgen, Code: Infrastructure / Style / Static Analysis, astyled, json-styled

#79734 [Xedra Evolved] Fix Changeling multi-court prompting
  data/mods/Xedra_Evolved/mutations/playable_changeling_seasonal_magic_research_eocs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#79627 Fix smoking rack lighting time bug
  src/activity_handlers.cpp
  src/iexamine.cpp
  src/iexamine.h
  src/iuse_actor.cpp
  src/iuse_actor.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#79735 [MoM] Small typo fix
  data/mods/MindOverMatter/effectoncondition/eoc_awakening.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#79723 Fix bug in fiction books overspawning in vandalized libraries simplify itemgroups
  data/json/itemgroups/SUS/library.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#79733 converted item_location and computer to use absolute coordinates
  src/activity_actor.cpp
  src/activity_handlers.cpp
  src/activity_item_handling.cpp
  src/advanced_inv.cpp
  src/auto_pickup.cpp
  src/avatar_action.cpp
  src/character.cpp
  src/character_attire.cpp
  src/character_inventory.cpp
  src/computer.cpp
  src/computer.h
  src/crafting.cpp
  src/faction_camp.cpp
  src/game.cpp
  src/game_inventory.cpp
  src/handle_liquid.cpp
  src/iexamine.cpp
  src/inventory_ui.cpp
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
  src/item_location.cpp
  src/item_location.h
  src/item_pocket.cpp
  src/item_pocket.h
  src/iuse.cpp
  src/iuse_actor.cpp
  src/map.cpp
  src/map_selector.cpp
  src/map_selector.h
  src/mapgen.cpp
  src/monattack.cpp
  src/monster.cpp
  src/npcmove.cpp
  src/pickup.cpp
  src/ranged.cpp
  src/savegame_json.cpp
  src/talker_furniture.cpp
  src/talker_item.cpp
  src/vehicle.cpp
  src/vehicle.h
  src/vehicle_part.cpp
  tests/eoc_test.cpp
  tests/item_contents_test.cpp
  tests/item_pocket_test.cpp
Labels: NPC / Factions, Info / User Interface, Map / Mapgen, Vehicles, Crafting / Construction / Recipes, Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, Player Faction Base / Camp, Items: Containers, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#79691 Weekly Changelog 2025-02-10 to 2025-02-17
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#79745 Nuke the stylish trait from orbit
  data/json/body_parts.json
  data/json/flags.json
  data/json/hobbies.json
  data/json/items/armor/boots.json
  data/json/items/armor/coats.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/gloves.json
  data/json/items/armor/hats.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/misc.json
  data/json/items/armor/scarfs.json
  data/json/items/armor/storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_clothes.json
  data/json/items/armor/undergarment.json
  data/json/items/tool/misc.json
  data/json/items/tool_armor.json
  data/json/morale_types.json
  data/json/mutations/mutations.json
  data/json/npcs/robofac/NPC_Cranberry_Foster.json
  data/json/npcs/starting_traits.json
  data/json/obsoletion_and_migration_0.I/obsolete_traits.json
  data/json/obsoletion_and_migration_0.I/prosthetics.json
  data/mods/Aftershock/items/armor.json
  data/mods/Aftershock/items/armor/cyberpunk.json
  data/mods/Aftershock/npcs/Backgrounds/trait_groups.json
  data/mods/Aftershock/npcs/mutant_npcs/trait_groups.json
  data/mods/DinoMod/NPC/trait_groups.json
  data/mods/Limb_WIP/mutations/mutation_limbs.json
  data/mods/Magiclysm/items/enchanted.json
  data/mods/Magiclysm/items/enchanted_bracelet.json
  data/mods/Magiclysm/items/enchanted_clothes.json
  data/mods/Magiclysm/items/enchanted_masks.json
  data/mods/Magiclysm/items/enchanted_rings.json
  data/mods/Magiclysm/npc/trait_groups.json
  data/mods/MindOverMatter/effectoncondition/eoc_mental_engineering.json
  data/mods/No_Hope/NPC/trait_groups.json
  data/mods/TEST_DATA/bionics.json
  data/mods/TEST_DATA/body_parts.json
  data/mods/TEST_DATA/items.json
  data/mods/Xedra_Evolved/items/armor/armor.json
  data/mods/Xedra_Evolved/items/artifact_grade_items.json
  data/mods/Xedra_Evolved/items/clothes.json
  data/mods/extra_mut_scen/mutation_scenarios.json
  doc/JSON/JSON_FLAGS.md
  doc/JSON/JSON_INFO.md
  doc/design-balance-lore/ARMOR_BALANCE_AND_DESIGN.md
  src/armor_layers.cpp
  src/bodypart.cpp
  src/bodypart.h
  src/flag.cpp
  src/flag.h
  src/morale.cpp
  src/morale.h
  tests/morale_test.cpp
Labels: <Documentation>, NPC / Factions, [JSON], Bionics, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], [Markdown], Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, Items: Armor / Clothing, Mods: No Hope, Limbs, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Mind Over Matter, Mods: Extra Mutated Scenarios

#79741 Add dormant map extra
  data/json/mapgen/map_extras/dormants.json
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
  src/trapfunc.cpp
Labels: [JSON], Map / Mapgen, [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#79760 Fix android build
  src/sdltiles.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#79759 Add weeds to standard_domestic_landscaping_palette
  data/json/mapgen_palettes/house_general_palette.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#79752 make Fishy Business quest require 3 cans of fish
  data/json/npcs/godco/godco_missions.json
Labels: [JSON], Missions, <Bugfix>, astyled, json-styled, BasicBuildPassed

#79756 Slightly rework the missile silo
  data/json/mapgen/missile_silo.json
  data/json/overmap/overmap_special/specials.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#78920 [Magiclysm] Add mana zombies of various kinds
  data/mods/Magiclysm/Spells/monsterspells.json
  data/mods/Magiclysm/effect_on_conditions/spellcasting/difficulty_modifiers.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/emitter.json
  data/mods/Magiclysm/field.json
  data/mods/Magiclysm/monstergroup_upgrades.json
  data/mods/Magiclysm/monstergroups.json
  data/mods/Magiclysm/monsters/feral_wizards.json
  data/mods/Magiclysm/monsters/zombies.json
Labels: [JSON], Mods, Spawn, Monsters, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#79483 Properly move pulping to activity actor, tweak it
  data/json/monsters/monster_flags.json
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/character.cpp
  src/character.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/mtype.cpp
  src/mtype.h
  src/npcmove.cpp
Labels: <Enhancement / Feature>, NPC / Factions, [JSON], [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed
