Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2025-03, with the labels that each got.

#79909 fixing shockstorm check
  src/monattack.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79919 Routine tileset updates on 01 March 2025
  gfx/Altica/small.png
  gfx/Altica/tile_config.json
  gfx/ChibiUltica/ChibiLarge.png
  gfx/ChibiUltica/ChibiNormal.png
  gfx/ChibiUltica/ChibiWide.png
  gfx/ChibiUltica/small.png
  gfx/ChibiUltica/tile_config.json
  gfx/MshockXotto+/large.png
  gfx/MshockXotto+/overmap.png
  gfx/MshockXotto+/small.png
  gfx/MshockXotto+/tile_config.json
  gfx/MshockXotto+/tiles.png
  gfx/MshockXotto+/wide.png
  gfx/Ultica_iso/small.png
  gfx/Ultica_iso/tile_config.json
  gfx/UltimateCataclysm/small.png
  gfx/UltimateCataclysm/tile_config.json
Labels: [JSON], Map / Mapgen, SDL: Tiles / Sound, astyled, json-styled, BasicBuildPassed

#79916 Remove riot damage from gunstores
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#79914 [Xedra Evolved] Add Dreamsparks as fuel for seasonal glamours
  data/mods/Xedra_Evolved/activity_types.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/items/resources.json
  data/mods/Xedra_Evolved/mutations/playable_changeling.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_seasonal_magic_research_eocs.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/eocs.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_autumn.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_spring.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_summer.json
  data/mods/Xedra_Evolved/spells/changeling_spells.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#79812 Audio - sounds now affected by artifacts/CBMs that slow down time.
  src/sdlsound.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed, new contributor

#79719 Refactor and consolidate wield
  data/mods/TEST_DATA/itemgroups.json
  src/activity_actor.cpp
  src/avatar.cpp
  src/avatar.h
  src/character.cpp
  src/character.h
  src/game.cpp
  src/game.h
  src/handle_action.cpp
  src/melee.cpp
  src/monattack.cpp
  src/npc.cpp
  src/npc.h
  tests/behavior_test.cpp
  tests/npc_talk_test.cpp
  tests/reloading_test.cpp
Labels: NPC / Factions, Code: Build, [JSON], Missions, Bionics, Crafting / Construction / Recipes, Spawn, Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, Items: Ammo / Guns, Melee, Character / World Generation, Items: Containers, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#79804 Pulping tweaks (+CI)
  data/mods/TEST_DATA/pulping_test.json
  src/activity_actor.cpp
  src/character.cpp
  src/character.h
  src/game.cpp
  src/game.h
  src/test_data.cpp
  src/test_data.h
  tests/pulping_test.cpp
Labels: [JSON], Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#79908 Remove road vehicles from mine field
  src/map_extras.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79926 Fix missing period
  data/json/items/tool/deployable.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79912 Ammo Overhaul (Part 2)
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_223.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_300wm.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_308.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_50.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_9mm.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_shot.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/police_armory.json
  data/json/items/containers/ammo_boxes.json
  data/json/items/containers/military.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/mods/Aftershock/itemgroups/vending_machine_group.json
Labels: [JSON], Spawn, Items: Ammo / Guns, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79831 Weekly Changelog 2025-02-17 to 2025-02-24
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#79924 Update some social practice recipes.(#79702)
  data/json/recipes/practice/social.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#79938 Remove "slowdown fungal growth" from being a default mod
  data/mods/default.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed

#79933 fix forage item group
  src/activity_actor.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#79931 fix garage wall
  data/json/mapgen/garage.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#79922 Audit of Wood Panel Recipes to use Result Multi instead of Byproduct
  data/json/recipes/other/parts_construction.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#79761 Skill level description
  data/json/skills.json
  doc/JSON/JSON_INFO.md
  src/player_display.cpp
  src/skill.cpp
  src/skill.h
Labels: <Documentation>, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#79929 [MoM] Project TURQUOISE KEYSTONE
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_crafting.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/items/books.json
  data/mods/MindOverMatter/mapgen/microlab_rooms.json
  data/mods/MindOverMatter/mutations/temporary.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/teleportation_concentration_eoc.json
  data/mods/MindOverMatter/recipes/practice/teleportation_practice.json
  data/mods/MindOverMatter/recipes/proficiencies.json
  data/mods/MindOverMatter/recipes/rituals.json
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, Crafting / Construction / Recipes, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#77564 Add Talker vehicle and EOCs for vehicles
  doc/JSON/EFFECT_ON_CONDITION.md
  doc/JSON/NPCs.md
  lang/string_extractor/parsers/talk_topic.py
  src/bionics.cpp
  src/condition.cpp
  src/event_bus.cpp
  src/event_bus.h
  src/iuse.cpp
  src/magic_spell_effect.cpp
  src/map.h
  src/map_field.cpp
  src/npctalk.cpp
  src/player_hardcoded_effects.cpp
  src/savegame_json.cpp
  src/suffer.cpp
  src/talker.h
  src/talker_vehicle.cpp
  src/talker_vehicle.h
  src/teleport.cpp
  src/teleport.h
  src/vehicle.cpp
  src/vehicle.h
Labels: <Documentation>, NPC / Factions, Translation, Bionics, Vehicles, [C++], Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, [Markdown], [Python], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#79911 Fix fences under console in lumbermill
  data/json/mapgen/occupied_lumber_mill/occupied_lumber_mill.json
  data/json/mapgen_palettes/lumberyard.json
  data/mods/No_Hope/mapgen_palettes/other_palettes.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#79946 Modded palette extending
  doc/JSON/JSON_Mapping_Guides/Guide_for_intermediate_mapgen.md
  doc/JSON/MAPGEN.md
  src/mapgen.cpp
Labels: <Documentation>, Map / Mapgen, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#79960 Clean up item_demographics ammo
  data/mods/TEST_DATA/item_demographics.json
Labels: [JSON], Code: Tests, <Bugfix>, astyled, json-styled, BasicBuildPassed

#79967 Fix crash on exiting wield dialog
  src/handle_action.cpp
Labels: [C++], <Bugfix>, astyled, json-styled

#79956 Clarify that infection is always a case of sepsis, not "zombie virus"
  src/character_body.cpp
  src/medical_ui.cpp
  src/widget.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#79970 [ Xedra Evolved ] Fix broken itemgroup from #79914
  data/mods/Xedra_Evolved/requirements/spell_components.json
Labels: [JSON], Mods, <Bugfix>, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#79965 Remove old stylish glasses
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/locations_mapextras.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/collections_domestic.json
  data/json/items/armor/eyewear.json
  data/json/mapgen/cemetery_4square.json
  data/json/npcs/TALK_TEST.json
  data/json/npcs/items_generic.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Alonso_Lautrec.json
  data/json/npcs/robofac/robofac_ancilla_npcs/BAR_ENCOUNTER_MERCENARIES/BEM_gunrunner.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/obsoletion_and_migration_0.I/obsolete_npc_class.json
  data/json/professions.json
  data/json/recipes/armor/head.json
  data/json/uncraft/recipe_deconstruction.json
  data/json/vehicles/vans_busses.json
  data/mods/Aftershock/items/tools.json
  data/mods/Aftershock/npcs/Augustmoon_Salvors/augustmoon_gun_trader.json
  data/mods/CrazyCataclysm/crazy_item_groups.json
  data/mods/Magiclysm/professions.json
  data/mods/Sky_Island/upgrade_missions.json
  data/mods/package_bionic_professions/bionic_professions.json
Labels: NPC / Factions, [JSON], Missions, Bionics, Map / Mapgen, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, Items: Ammo / Guns, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Sky Island

#79964 Fix 0.5 L I1 Diesel engine not consuming fuel
  data/json/vehicleparts/combustion.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#79963 'light_multiplier' property for weather_type.json
  doc/JSON/WEATHER_TYPE.md
  src/game.cpp
  src/weather.cpp
  src/weather_type.cpp
  src/weather_type.h
Labels: <Documentation>, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Mechanics: Weather, astyled, json-styled, BasicBuildPassed

#79923 Aftershock: Damage Rebalance IV (update monster hp and armor values)
  data/mods/Aftershock/mobs/PrepPhyle_mobs.json
  data/mods/Aftershock/mobs/aliens.json
  data/mods/Aftershock/mobs/reavers_and_bandits.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/mobs/scavbots.json
  data/mods/Aftershock/mobs/zombies.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#79951 Speed up big zone construction of `Turn forest floor into dirt` by 166% (from 96 sec to 36 sec)
  src/activity_item_handling.cpp
Labels: Code: Performance, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79949 Debug option to view used palette symbols
  src/debug_menu.cpp
  src/debug_menu.h
  src/mapgen.cpp
  src/mapgen.h
Labels: Info / User Interface, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#79941 Editmap: debug toggle for post-process generators
  data/raw/keybindings.json
  src/editmap.cpp
  src/editmap.h
  src/map.h
  src/mapgen.cpp
Labels: [JSON], Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#79913 Add “allow_nested” option and signature comments to item::best_pocket and item_contents::best_pocket.
  src/item.cpp
  src/item.h
  src/item_contents.cpp
  src/item_contents.h
Labels: [C++], Items: Containers, astyled, json-styled, BasicBuildPassed

#79975 Fix uilist.h include
  src/mapgen.cpp
Labels: Map / Mapgen, [C++], astyled, json-styled

#79845 remove --reporter cata-ci-reporter
  .github/workflows/msvc-full-features.yml
  build-scripts/gha_test_only.sh
Labels: Code: Build, Code: Tooling, astyled, json-styled, BasicBuildPassed

#79977 Remove few power tool recipes
  data/json/recipes/tools/tool.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79980 [Xedra Evolved] Finish Imbuement of the Flames
  data/mods/Xedra_Evolved/eocs/alchemy_eocs.json
  data/mods/Xedra_Evolved/itemgroups/nests_itemgroups.json
  data/mods/Xedra_Evolved/items/alchemy.json
  data/mods/Xedra_Evolved/items/alchemy_recipes.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/recipes/alchemy.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, Spawn, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#79978 fix Segfault when adding gunmod
  src/character_guns.cpp
  src/sdlsound.cpp
Labels: [C++], <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#79982 Add "MODULE_HOLDER" to flight_helmet so it inherits enchantment from NVGs, fixes #79948
  data/json/items/tool_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79974 [Aftershock] Fix Telepathic Shield Id
  data/mods/Aftershock/effects_esper.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#79983 [MoM] Displacement (and Reactive Displacement) now has a volume limit
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/teleportation_eoc.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#79952 Ammo Overhaul Part 3
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/gunstore.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo/boxed_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo/loose_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/main.json
  data/json/mapgen/basement/basement_guns.json
  data/json/mapgen/basement/basement_meth.json
  data/json/mapgen/basement/basement_survival.json
  data/json/mapgen/farm_supply.json
  data/json/mapgen/house/house24.json
  data/json/mapgen/house/house25.json
  data/json/mapgen/house/house_prepper.json
  data/json/mapgen/hunting_blind.json
  data/json/mapgen/irradiator_1.json
  data/json/mapgen/isolated_road/isolated_road_home_chunks.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z-1.json
  data/json/mapgen/lab/lab_surface/lab_surface_big_z1.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/nested/aux_nested.json
  data/json/mapgen/nested/basement_nested.json
  data/json/mapgen/nested/gunstore_nested.json
  data/json/mapgen/nested/rural_outdoors_nested.json
  data/json/mapgen/nested/strip_mall_nested.json
  data/json/mapgen/shooting_range.json
  data/json/mapgen/storage_units_large.json
  data/json/mapgen/storage_units_medium.json
  data/json/mapgen/ws_biker_dump.json
  data/json/mapgen_palettes/gunstore.json
  data/json/mapgen_palettes/house_general_abandoned.json
  data/json/mapgen_palettes/isolated_artisans.json
  data/json/mapgen_palettes/lmoe.json
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/bunker_shop/NC_BUNKER_MERCHANT.json
  data/json/npcs/classes.json
  data/json/npcs/hells_raiders/classes.json
  data/json/npcs/isolated_road/isolated_road_item_groups.json
  data/json/npcs/old_guard/NPC_Old_Guard_FOB_quartermaster.json
  data/json/npcs/refugee_center/surface_staff/Smokes/NPC_Smokes.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_goods.json
  data/mods/Aftershock/itemgroups/weapons/energy_gun_groups.json
  data/mods/Aftershock/itemgroups/weapons/weapon_expansion_groups.json
  data/mods/Aftershock/maps/mapgen/sadie_large_storage.json
  data/mods/Aftershock/maps/mapgen/whately_lmoe.json
  data/mods/Aftershock/maps/nested/basement.json
  data/mods/Backrooms/itemgroups.json
  data/mods/Defense_Mode/npcs.json
  data/mods/Magiclysm/monsters/forgedwellers.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_basement.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_z1.json
  data/mods/No_Hope/Mapgen/map_extras/bandits_outpost.json
  data/mods/No_Hope/mapgen_palettes/other_palettes.json
Labels: NPC / Factions, [JSON], Map / Mapgen, Spawn, Monsters, Items: Ammo / Guns, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope, Mods: Defense Mode, Mods: Mind Over Matter, Mods: Backrooms

#79918 [Xedra Evolved] The Exodii hate people who literally hunted them for parts
  data/mods/Xedra_Evolved/eocs/initialization.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#79853 Load vehicles before explosion + leaks at right map
  src/explosion.cpp
  src/item.cpp
  src/vehicle.cpp
Labels: Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#79708 Add a few joke items to Crazy Cata
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/CrazyCataclysm/crazy_recipes.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#79985 [MoM] Gateway now has a volume limit
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/teleportation_eoc.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#79906 Reduce the dog suit drop rate
  data/json/monsterdrops/zombie.json
Labels: <Enhancement / Feature>, [JSON], Spawn, Monsters, astyled

#80002 Add pre_note for fenses with DIGGABLE requirement
  data/json/construction/fences_gates.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79955 New baseball bat modification, nerf the steel chains damage
  data/json/items/generic.json
  data/json/items/melee/bludgeons.json
  data/json/recipes/weapon/bashing.json
  data/json/requirements/melee.json
  data/mods/TEST_DATA/expected_dps_data/clubs_dps.json
  data/mods/TEST_DATA/expected_dps_data/junk_dps.json
Labels: [JSON], Code: Tests, Melee, astyled, json-styled, BasicBuildPassed

#79988 [Infrastructure] Uncanny Dodge Logic Update
  data/mods/MindOverMatter/mutations/temporary.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_eocs.json
  src/character.cpp
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Mind Over Matter

#80001 Move calorie burn visibility to json flag, make smart watch show calorie burn
  data/json/bionics.json
  data/json/flags.json
  data/json/items/tool_armor.json
  doc/JSON/JSON_FLAGS.md
  src/game_inventory.cpp
Labels: <Documentation>, [JSON], Bionics, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80008 Added ASCII picture for the Mauser C96
  data/json/ascii_art/gun_ascii.json
  data/json/items/gun/9mm.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#79925 Crazy Firearm Stuff
  data/mods/CrazyCataclysm/crazy_item_groups.json
  data/mods/CrazyCataclysm/crazy_items.json
  data/mods/CrazyCataclysm/crazy_recipes.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
Labels: [JSON], Mods, Items: Magazines, Crafting / Construction / Recipes, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#79957 Aftershock: Damage rebalance part V (The Wraitheonator)
  data/mods/Aftershock/effects.json
  data/mods/Aftershock/itemgroups/loot_corpse_groups.json
  data/mods/Aftershock/items/corpses.json
  data/mods/Aftershock/items/robotparts.json
  data/mods/Aftershock/maps/mapgen/shuttlepad_salvors.json
  data/mods/Aftershock/migration.json
  data/mods/Aftershock/mobs/monster_groups/robot_monster_groups.json
  data/mods/Aftershock/mobs/monster_weakpoints/robot_weakpoints.json
  data/mods/Aftershock/mobs/robot_groups.json
  data/mods/Aftershock/mobs/robots.json
  data/mods/Aftershock/monster_attacks.json
  data/mods/Aftershock/recipes/uncraft.json
  data/mods/Aftershock/spells/monster_spells.json
  doc/JSON/MONSTERS.md
  src/mondeath.cpp
  src/monstergenerator.cpp
  src/mtype.h
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, Spawn, [C++], Monsters, [Markdown], Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled

#79986 [MoM] Person is immune to psionics
  data/mods/MindOverMatter/monsters/monster_overrides.json
Labels: [JSON], Mods, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#79969 [ Xedra Evolved ] Gossamer clothing recipes shouldn't autolearn
  data/mods/Xedra_Evolved/recipes/gossamer_clothing.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#79976 Make AIM actions testable part1: Infrastructure
  src/advanced_inv.cpp
  src/advanced_inv.h
  tests/advanced_inventory_test.cpp
Labels: Code: Tests, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#80010 Add New England flag
  data/json/items/armor/cloaks.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, new contributor

#80014 Military basement & quiet farm fixes
  data/json/mapgen/bunker.json
  data/json/mapgen/vitrification/unvitrified_farm.json
  data/mods/No_Hope/Mapgen/bunker.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#80013 Revamp FEMA camp into a mutable
  data/json/mapgen/fema/FEMA.json
  data/json/mapgen/fema/FEMA_blc_00.json
  data/json/mapgen/fema/FEMA_blc_01.json
  data/json/mapgen/fema/FEMA_blc_02.json
  data/json/mapgen/fema/FEMA_blc_03.json
  data/json/mapgen/fema/FEMA_brc_00.json
  data/json/mapgen/fema/FEMA_brc_01.json
  data/json/mapgen/fema/FEMA_brc_02.json
  data/json/mapgen/fema/FEMA_brc_03.json
  data/json/mapgen/fema/FEMA_buildings.json
  data/json/mapgen/fema/FEMA_entrance_01.json
  data/json/mapgen/fema/FEMA_entrance_02.json
  data/json/mapgen/fema/FEMA_entrance_03.json
  data/json/mapgen/fema/FEMA_le_00.json
  data/json/mapgen/fema/FEMA_le_01.json
  data/json/mapgen/fema/FEMA_le_02.json
  data/json/mapgen/fema/FEMA_le_03.json
  data/json/mapgen/fema/FEMA_mid_00.json
  data/json/mapgen/fema/FEMA_mid_01.json
  data/json/mapgen/fema/FEMA_mid_02.json
  data/json/mapgen/fema/FEMA_mid_03.json
  data/json/mapgen/fema/FEMA_re_00.json
  data/json/mapgen/fema/FEMA_re_01.json
  data/json/mapgen/fema/FEMA_re_02.json
  data/json/mapgen/fema/FEMA_re_03.json
  data/json/mapgen/fema/FEMA_road.json
  data/json/mapgen/fema/FEMA_te_00.json
  data/json/mapgen/fema/FEMA_te_01.json
  data/json/mapgen/fema/FEMA_te_02.json
  data/json/mapgen/fema/FEMA_te_03.json
  data/json/mapgen/fema/FEMA_tlc_00.json
  data/json/mapgen/fema/FEMA_tlc_01.json
  data/json/mapgen/fema/FEMA_tlc_02.json
  data/json/mapgen/fema/FEMA_tlc_03.json
  data/json/mapgen/fema/FEMA_trc_00.json
  data/json/mapgen/fema/FEMA_trc_01.json
  data/json/mapgen/fema/FEMA_trc_02.json
  data/json/mapgen/fema/FEMA_trc_03.json
  data/json/mapgen/nested/fema_nested.json
  data/json/mapgen_palettes/fema.json
  data/json/obsoletion_and_migration_0.I/obsolete_overmap_special.json
  data/json/obsoletion_and_migration_0.I/obsolete_overmap_terrain.json
  data/json/overmap/overmap_mutable/fema.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
  data/mods/aftershock_exoplanet/setting_blacklists/location_blacklist.json
  data/mods/alt_map_key/overmap_terrain.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#80015 [No hope] More palette cleanup
  data/mods/No_Hope/mapgen_palettes/house_general_palette.json
  data/mods/No_Hope/mapgen_palettes/other_palettes.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#80018 Add more items to cars
  data/json/itemgroups/vehicles_fuel_related.json
Labels: [JSON], Vehicles, Spawn, astyled, json-styled, BasicBuildPassed

#79981 Generic factory: islot_ammo, islot_bionic, islot_magazine; general islot cleanup
  src/item.cpp
  src/item_factory.cpp
  src/item_factory.h
  src/itype.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#79995 added missing NULL_ID
  src/string_id_null_ids.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80016 Clarify how and when recipe is learned from durasack cement bag
  data/json/items/containers/containers.json
Labels: [JSON], Items: Containers, astyled, json-styled, BasicBuildPassed

#80026 [MoM] Add extra mutation to Alpha to make awakening new paths easier
  data/mods/MindOverMatter/jmath.json
  data/mods/MindOverMatter/mutations/path_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#80027 Fixing Aftershock Vehicular Autotravel
  data/mods/aftershock_exoplanet/Map/overmap_terrain/ice_fields.json
  data/mods/aftershock_exoplanet/Map/overmap_terrain/overmap_terrain_transportation.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, new contributor

#79994 fix: allow negative floats in external options
  src/options.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#80030 Move the dancing zombie red jeans to Crazy Cata where they actually spawn
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/armor/legs_clothes.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Guneet_Singh.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/armor/bespoke_armor/nomad.json
  data/json/recipes/armor/legs.json
  data/mods/CrazyCataclysm/crazy_item_groups.json
  data/mods/CrazyCataclysm/crazy_items.json
Labels: NPC / Factions, [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79935 [ Xedra Evolved ] More Lab Computer snippets
  data/mods/Xedra_Evolved/mod_interactions/mindovermatter/snippets.json
  data/mods/Xedra_Evolved/snippets/snippet.json
Labels: [JSON], Mods, Lore, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80034 Make bag_durasack_cement teach recipe like an actual book
  data/json/items/containers/containers.json
  data/json/recipes/other/parts_construction.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Containers, astyled, json-styled, BasicBuildPassed

#80041 Houses have more clothes
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/SUS/domestic.json
  data/json/mapgen_palettes/house_general_palette.json
Labels: [JSON], Map / Mapgen, Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80038 Fix calorie CBM
  src/game_inventory.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79878 [Xedra Evolved] Keep adding more seasonal glamours
  data/mods/Xedra_Evolved/effects/effects_changeling_seasonal_magic.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_eocs.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_seasonal_magic_research_eocs.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_autumn.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_autumn_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_spring.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_spring_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_summer.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_summer_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_winter.json
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_winter_eocs.json
  data/mods/Xedra_Evolved/spells/changeling_spells.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80046 Milspec Searchlights Don't Explode
  data/json/items/generic.json
  data/json/monsters/turrets.json
  data/json/uncraft/recipe_deconstruction.json
Labels: Game: Balance, [JSON], Crafting / Construction / Recipes, Monsters, astyled, json-styled, BasicBuildPassed

#80042 Leather jacket variants
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/items/armor/coats.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/godco/classes.json
  data/json/npcs/items_generic.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Draco_Dune.json
  data/json/npcs/refugee_center/surface_staff/Smokes/NPC_Smokes.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/professions.json
  data/mods/CrazyCataclysm/crazy_item_groups.json
Labels: NPC / Factions, [JSON], Spawn, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80047 Fix typo in Rossi Gallery description
  data/json/items/gun/22.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79984 Update social.json
  data/json/recipes/practice/social.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79342 refactor: template implementation
  src/input_context.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#80017 Smartgun Mod Location Overhaul
  data/mods/Aftershock/items/gun/10mm.json
  data/mods/Aftershock/items/gun/25mm.json
  data/mods/Aftershock/items/gun/7.50mm.json
  data/mods/Aftershock/items/gun/voltaic.json
  data/mods/Aftershock/items/gunmods/sling.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#80051 Add ``character_takeoff_item`` event
  doc/JSON/EFFECT_ON_CONDITION.md
  src/character_attire.cpp
  src/event.cpp
  src/event.h
  src/memorial_logger.cpp
Labels: <Enhancement / Feature>, <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#80050 New gun + ammo: 460 S&W
  data/json/itemgroups/Weapons_Mods_Ammo/ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo/boxed_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunstore_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/ammo/460sw.json
  data/json/items/ammo_types.json
  data/json/items/containers/ammo_boxes.json
  data/json/items/generic/casing.json
  data/json/items/gun/460sw.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/ammo/gg_casings_migration.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/TEST_DATA/expected_dps_data/guns_dps.json
  tools/json_tools/gun_variant_validator.py
Labels: [JSON], Spawn, Code: Tests, Items: Ammo / Guns, [Python], Mods: Generic Guns, Code: Tooling, astyled, json-styled, BasicBuildPassed

#80044 Move sword bayonet from cutting to piercing weapon crafting submenu
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80059 [Xedra Evolved] Add Breeze-Cutting Blows trait/spell for Sylphs
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutation_spells.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_spell_learning_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80064 Fast food building with drive-through
  data/json/mapgen/drivethrough.json
  data/json/mapgen_palettes/restaurant_palette.json
  data/json/overmap/multitile_city_buildings.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/regional_map_settings.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#80057 Fix private resort mapgen
  data/json/mapgen/private_resort.json
  data/json/mapgen_palettes/private_resort.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80062 [Magiclysm] Fix Stormglove enchant
  data/mods/Magiclysm/items/item_enchants.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#80054 Remove camera function from normal smart watch, add advanced smart watch with file storage and camera.
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/items/tool_armor.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, new contributor

#80033 Fix audio crash
  src/sdlsound.cpp
Labels: <Documentation>, [JSON], Vehicles, [C++], Monsters, <Bugfix>, [Markdown], Items: Ammo / Guns, Melee, Mechanics: Weather, Items: Containers, astyled, json-styled, BasicBuildPassed

#80075 Change 7.62 and 9mm clip names
  data/json/items/magazine/762.json
  data/json/items/magazine/9mm.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#80071 460 S&W reloads
  data/json/items/ammo/460sw.json
  data/json/recipes/ammo/pistol.json
  data/json/requirements/ammo.json
  data/json/uncraft/ammo/460sw.json
  data/mods/Generic_Guns/ammo/gg_ammo_migration.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
Labels: [JSON], Crafting / Construction / Recipes, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#80088 Edit slime primer description
  data/json/items/comestibles/mutagen.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#80083 Easier cattail mission
  data/json/npcs/missiondef.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#80061 [Mods] Adapt for new `character_takeoff_item` event
  data/mods/Magiclysm/effect_on_conditions/mutation_eocs.json
  data/mods/Magiclysm/items/enchanted_cloaks.json
  data/mods/Xedra_Evolved/items/hedge_magic_items.json
  data/mods/Xedra_Evolved/mutations/paraclesians/paraclesian_fae_bans.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_eocs.json
  data/mods/Xedra_Evolved/spells/hedge_magic_eocs.json
  doc/JSON/EFFECT_ON_CONDITION.md
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [Markdown], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80091 Helicopters don't fall out of the sky on z-level 0
  src/vehicle_move.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80066 Ammo box / sunglasses typo fix
  data/json/items/armor/eyewear.json
  data/json/items/containers/ammo_boxes.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80080 Level spell class dialogue function
  doc/JSON/EFFECT_ON_CONDITION.md
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#80095 460 s&w casings can be used for the pistol cartridge necklaces
  data/json/items/armor/jewelry.json
  data/json/requirements/ammo.json
Labels: [JSON], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#79968 Weekly Changelog 2025-02-24 to 2025-03-03
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#80087 [Infrastructure] Extend CANNOT_ATTACK and CANNOT_MOVE flags to NPCs
  src/npc_attack.cpp
  src/npcmove.cpp
Labels: NPC / Factions, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#80076 Include a blurb on feature request template to introduce contributing
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#80072 Allow spells to target vehicles
  doc/JSON/MAGIC.md
  src/character.cpp
  src/character.h
  src/game.cpp
  src/game.h
  src/magic.cpp
  src/magic.h
  src/magic_spell_effect.cpp
  src/ranged.cpp
Labels: <Documentation>, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#80073 Add simple syrup/corn syrup
  data/json/itemgroups/Food/food.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/junkfood.json
  data/json/recipes/food/baking.json
  data/json/recipes/food/frozen.json
  data/json/recipes/recipe_food.json
  data/json/recipes/recipe_medsandchemicals.json
  data/json/requirements/cooking_components.json
  data/mods/TEST_DATA/known_bad_density.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, Code: Tests, astyled, json-styled, BasicBuildPassed

#79999 Getting rid of "container" field + general item and itemgroups cleanup, 1/?
  data/json/furniture_and_terrain/terrain-windows.json
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/drugs.json
  data/json/itemgroups/Drugs_Tobacco_Alcohol/tobacco.json
  data/json/itemgroups/Labs/labs_mutagen.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/SUS/alien.json
  data/json/itemgroups/SUS/domestic.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo/ammo.json
  data/json/itemgroups/activities_hobbies.json
  data/json/itemgroups/collections_domestic.json
  data/json/itemgroups/mail.json
  data/json/itemgroups/science_and_tech.json
  data/json/itemgroups/shops_trades.json
  data/json/itemgroups/supplies.json
  data/json/itemgroups/tools.json
  data/json/itemgroups/vehicles_fuel_related.json
  data/json/items/ammo.json
  data/json/items/containers/containers.json
  data/json/items/containers/generic.json
  data/json/mapgen/animalshelter.json
  data/json/mapgen/house/house_patio.json
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen/nested/basement_nested.json
  data/json/materials.json
  data/json/monsterdrops/zombie_default.json
  data/json/npcs/NC_JUNK_SHOPKEEP.json
  data/json/npcs/campus/great_library_librarian_goods.json
  data/json/npcs/godco/classes.json
  data/json/npcs/items_generic.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Garry_Villeneuve.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_goods.json
  data/json/npcs/tacoma_ranch/mission_mapgen_tacoma_commune.json
  data/json/professions.json
  data/json/uncraft/ammo/300blk.json
  data/json/vehicles/helicopters.json
  data/mods/Aftershock/itemgroups/medical_groups.json
  data/mods/Aftershock/itemgroups/tool_groups.json
  data/mods/Aftershock/monsterdrops/monster_default.json
  data/mods/Aftershock/npcs/Augustmoon_Salvors/augustmoon_doctor.json
  data/mods/Aftershock/player/professions.json
  data/mods/TEST_DATA/known_bad_density.json
  data/mods/Xedra_Evolved/itemgroups/nests_itemgroups.json
  tests/item_test.cpp
Labels: NPC / Factions, [JSON], Missions, Map / Mapgen, Vehicles, Spawn, Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], Monsters, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Mods: Aftershock, Items: Containers, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80102 Add some debug plumbing to NPC query_yn
  src/npc.cpp
  src/npc.h
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#80101 'None'-skill crafting counts as max level, not level 0
  src/crafting.cpp
Labels: Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80110 Chill down prepper zed spawns
  data/json/mapgen/house/house_prepper.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80039 Prevent advanced item management move count_by_charge item into nested pocket.
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/advanced_inv.cpp
  src/character_attire.cpp
  src/item.cpp
  src/item.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80115 Inhaler and Antibiotics Mission Audit
  data/json/npcs/missiondef.json
Labels: [JSON], Missions, astyled, json-styled, BasicBuildPassed

#80107 Isolation Protocol: XEDRA remediator >> Rework of officer class
  data/mods/Isolation-Protocol/Map/mapgen/hallway.json
  data/mods/Isolation-Protocol/Player/profession.json
  data/mods/Isolation-Protocol/item_groups.json
  data/mods/Isolation-Protocol/unique_items.json
Labels: [JSON], Mods, Map / Mapgen, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Isolation Protocol ☣

#80111 Spreading dogbane is now harvestable
  data/json/furniture_and_terrain/furniture-flora.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, new contributor

#80089 Further IWYU CI fixes
  .github/workflows/iwyu.yml
  build-scripts/ci-iwyu-run.py
Labels: Code: Build, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#80124 Add TOUGH_FEET to Rabbit Feet Mutation
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled

#80118 Fix aim query charges not considering pocket limitations
  src/advanced_inv.cpp
  src/character.cpp
  src/character.h
  src/item.cpp
  src/item.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80092 expand _die eoc function
  doc/JSON/EFFECT_ON_CONDITION.md
  src/debug_menu.cpp
  src/npc.cpp
  src/npc.h
  src/npctalk.cpp
Labels: <Documentation>, NPC / Factions, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#80043 [Isolation Protocol] Add the Last Scion class
  data/mods/Isolation-Protocol/EOC/balance_eoc.json
  data/mods/Isolation-Protocol/EOC/elevator_eoc.json
  data/mods/Isolation-Protocol/EOC/scenario_init.json
  data/mods/Isolation-Protocol/EOC/sorcery_eoc.json
  data/mods/Isolation-Protocol/Player/Perks/enchantments.json
  data/mods/Isolation-Protocol/Player/Perks/perks.json
  data/mods/Isolation-Protocol/Player/profession.json
  data/mods/Isolation-Protocol/Player/skills.json
  data/mods/Isolation-Protocol/Player/sorcery.json
  data/mods/Isolation-Protocol/Player/sorcery_effects.json
  data/mods/Isolation-Protocol/fields.json
  data/mods/Isolation-Protocol/jmath.json
  data/mods/Isolation-Protocol/scenarios.json
  data/mods/Isolation-Protocol/ui.json
  data/mods/Isolation-Protocol/unique_items.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Fields / Furniture / Terrain / Traps, Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Isolation Protocol ☣

#80123 Update snow shovel, metal rake deconstruction recipe
  data/json/recipes/tools/tools_hand.json
  data/json/uncraft/tools.json
Labels: <Enhancement / Feature>, [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80127 Allow generic-factory loaded objects to defer load
  src/generic_factory.h
  src/mission.h
  src/missiondef.cpp
Labels: Missions, [C++], astyled, json-styled, BasicBuildPassed

#80133 Some Profession Worn Item Fix
  data/json/professions.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#80129 Monsters now stop grabbing if grabbed monster was killed while grabbing the first monster
  src/monster.cpp
Labels: [C++], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80138 Fix typo within design-balance.md
  doc/design-balance-lore/design-balance.md
Labels: <Documentation>, [Markdown], astyled, json-styled, BasicBuildPassed

#80132 [MoM] Allow Force Shove to hurl the target in different directions
  data/mods/Aftershock/spells/psionics/telekinesis_eocs.json
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/telekinesis_eoc.json
Labels: <Documentation>, [JSON], Mods, [Markdown], Mods: Aftershock, astyled, json-styled, EOC: Effects On Condition, Mods: Mind Over Matter

#80135 [MoM] Items with bionic power aren't part of the Electron Overflow count
  data/mods/Aftershock/spells/psionics/electrokinesis_concentration_eocs.json
  data/mods/MindOverMatter/powers/electrokinesis_concentration_eocs.json
Labels: [JSON], Mods, <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#80144 [MoM] Further telekinetic throwing elements
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telekinesis_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#80145 [MoM] Fix Electron Overflow description
  data/mods/MindOverMatter/powers/electrokinesis.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#80142 fix crash on wielding nullitem and restore old npc behavior
  src/character.cpp
  src/npc.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80158 Fix Motorcycle jacket.
  data/json/items/armor/coats.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#80148 Fix propane lanterns not consuming propane
  data/json/items/tool/lighting.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80171 Spices, sugar and lemonade mixes is now dissolved in water
  data/json/items/classes/comestible.json
  data/json/items/comestibles/fruit_dishes.json
  data/json/items/comestibles/spice.json
Labels: [JSON], Items: Food / Vitamins, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80162 XE - Add vampire blood + misc. small vampire changes.
  data/mods/Xedra_Evolved/harvest.json
  data/mods/Xedra_Evolved/items/carnivore.json
  data/mods/Xedra_Evolved/monsters/bloodsuckers.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/npc/trait_groups.json
  data/mods/Xedra_Evolved/npc/vampire_mentor.json
  data/mods/Xedra_Evolved/ui/sidebar.json
  data/mods/Xedra_Evolved/ui/vamp_blood_levels.json
Labels: Info / User Interface, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Monsters, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#80190 Add feral prisoner
  data/json/monster_special_attacks/feral_weapon_attacks.json
  data/json/monsterdrops/feral_humans.json
  data/json/monstergroups/zombies.json
  data/json/monsters/feral_humans.json
Labels: [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#80187 Rename karting to go-kart track
  data/json/overmap/overmap_terrain/overmap_terrain_recreational.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#80170 Case Hardening is Mild Steel
  data/json/recipes/weapon/bashing.json
  data/json/recipes/weapon/cutting.json
  data/json/recipes/weapon/piercing.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#80160 Fix revolver name to match standards
  data/json/items/gun/460sw.json
  tools/json_tools/gun_variant_validator.py
Labels: [JSON], Items: Ammo / Guns, [Python], Code: Tooling, astyled, json-styled, BasicBuildPassed

#80180 Rebalance default zombie evolution possibilites
  data/json/monstergroups/zombie_upgrades.json
Labels: Game: Balance, [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#80181 Fix horde spawn logic
  src/overmap.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80150 Tainted human skulls can be broken down into tainted bones.
  data/json/uncraft/generic.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#80176 Adjust AR pistol weight
  data/json/items/gun/223.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#79303 Mortars
  data/json/ammo_effects.json
  data/json/effects.json
  data/json/furniture_and_terrain/furniture_military.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/60mm.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/ammo_60mm.json
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/collections.json
  data/json/items/ammo/60mm.json
  data/json/items/ammo_types.json
  data/json/items/containers/military.json
  data/json/items/gun/60mm.json
  data/json/items/tool/debug_tools.json
  data/json/items/tool/explosives.json
  data/json/player_activities.json
  data/json/uncraft/tools.json
  doc/JSON/EFFECT_ON_CONDITION.md
  doc/JSON/EXAMINE.md
  lang/string_extractor/parsers/examine_action.py
  src/iexamine_actors.cpp
  src/iexamine_actors.h
  src/mapdata.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/timed_event.cpp
  src/timed_event.h
Labels: <Documentation>, Translation, [JSON], Map / Mapgen, Spawn, [C++], Fields / Furniture / Terrain / Traps, [Markdown], Items: Ammo / Guns, [Python], astyled, json-styled, BasicBuildPassed

#80143 Added separate trait to allow natural growth of beards be switched independently to natural growth of hair
  data/json/effects_on_condition/npc_eocs/appearance_eocs.json
  data/json/mutations/appearance_hair_styles.json
  data/json/npcs/EOC_talkers/haircutting.json
  data/json/npcs/refugee_center/surface_refugees/NPC_Vanessa_Toby.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#80172 Scopes attached to weapon will double overmap sight range
  src/character.cpp
Labels: <Enhancement / Feature>, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80177 Casing spawn audit
  data/json/itemgroups/Weapons_Mods_Ammo/ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/casings.json
  data/json/mapgen/house/house_garage_prepper.json
  data/json/mapgen_palettes/gunstore.json
Labels: [JSON], Map / Mapgen, Spawn, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#80179 Fix spawn rate of pizzaiolos
  data/json/mapgen/restaurant.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#80183 Add in a few restricted magazines
  data/json/itemgroups/Weapons_Mods_Ammo/gunstore_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines/magazine_collections_by_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines/magazines_by_caliber.json
  data/json/items/gun/10mm.json
  data/json/items/gun/357sig.json
  data/json/items/gun/40.json
  data/json/items/gun/45.json
  data/json/items/gun/9mm.json
  data/json/items/magazine/10mm.json
  data/json/items/magazine/40.json
  data/json/items/magazine/45.json
  data/json/items/magazine/9mm.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  tests/ammo_set_test.cpp
Labels: [JSON], Items: Magazines, Spawn, Code: Tests, [C++], Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#80165 [ Xedra Evolved ] Hedge Luck Spell makes Hedge spells have tab
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/classes.json
  data/mods/Xedra_Evolved/requirements/spell_components.json
  data/mods/Xedra_Evolved/spells/hedge_magic_spells.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80195 [ Xedra Evolved ] Bugfix Gracken Harvest adjustments
  data/mods/Xedra_Evolved/harvest_monster_hunter_gracken.json
Labels: [JSON], Mods, Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80192 Player Fungal Dusted Apply Message
  data/json/effects.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#80196 Fix t_reinforced_glass_lab breaks microlab's computer release actions #80175
  src/computer_session.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80208 [MoM] Add volume limits to Blink and Farstep
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/teleportation_eoc.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#80207 [MoM] Fix Apportation
  data/mods/MindOverMatter/powers/teleportation_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter
