Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2025-08, with the labels that each got.

#82107 Add more nest variants to house mapgen
  data/json/mapgen/nested/house_nested.json
  data/json/mapgen_palettes/house_general_palette.json
Labels: [JSON], Map / Mapgen, astyled, BasicBuildPassed

#82130 IMGUI wish popup
  src/wish.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#82132 Rebalance home books
  data/json/itemgroups/books.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#82160 [0.I] Update char creation offense calculations for 0.I
  src/character.h
  src/melee.cpp
  src/player_difficulty.cpp
Labels: [C++], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#78005 [Xedra Evolved] Add some powers for werewolves
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/eocs/eoc_conditions.json
  data/mods/Xedra_Evolved/eocs/scenario_specific.json
  data/mods/Xedra_Evolved/eocs/shapeshifter_eocs.json
  data/mods/Xedra_Evolved/eocs/werewolf_advancement_eocs.json
  data/mods/Xedra_Evolved/flags.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/martial_arts/shapeshifter.json
  data/mods/Xedra_Evolved/mutations/classes.json
  data/mods/Xedra_Evolved/mutations/werewolf_trait_eocs.json
  data/mods/Xedra_Evolved/mutations/werewolf_traits.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/eocs.json
  data/mods/Xedra_Evolved/scenario.json
  data/mods/Xedra_Evolved/spells/integrated_armor_spells.json
  data/mods/Xedra_Evolved/spells/werewolf_spells.json
  data/mods/Xedra_Evolved/ter_transforms/werewolf_ter_transforms.json
Labels: [JSON], Mods, Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#82169 Modified Hard Hat
  data/json/items/armor/hats.json
  data/json/recipes/armor/head.json
  data/json/uncraft/armor/headwear.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82151 Unify NPC weapon evaluation
  src/avatar_action.cpp
  src/bionics.cpp
  src/character.h
  src/melee.cpp
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/player_difficulty.cpp
  src/talker_npc.cpp
Labels: NPC / Factions, Bionics, [C++], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#82180 Revert diagonal OMT pathing for land/air vehicles
  src/overmapbuffer.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82181 Fix min save archive generation for compressed saves.
  src/debug_menu.cpp
  src/zzip.cpp
  src/zzip_stack.cpp
  src/zzip_stack.h
Labels: [C++], astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82174 Abort 'fired' reach attack if there are no valid targets
  src/ranged.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82183 Use optional/mandatory for ascii_art, bionic_data, bodypart
  data/json/bionics.json
  src/ascii_art.cpp
  src/bionics.cpp
  src/bodypart.cpp
Labels: [JSON], Bionics, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, Limbs

#82178 mandatory/optional for weakpoints
  src/generic_factory.h
  src/weakpoint.cpp
  src/weakpoint.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#82176 Update NECC/Cody & Jay to use faction relationship setting.
  data/json/npcs/godco/members/NPC_Julian_Ray.json
  data/json/npcs/isolated_road/isolated_road_cody_dialogue.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82175 [MoM] Fix MAX_HP recalculation healing you problem for vitakinetics
  data/mods/MindOverMatter/mutations/psi_passives.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter, target/0.I-branch

#82198 zzip.exe: a tool for manipulating zzip files.
  .github/workflows/msvc-full-features.yml
  .github/workflows/release.yml
  Makefile
  build-scripts/windist.ps1
  msvc-full-features/Cataclysm-vcpkg-static.sln
  msvc-full-features/zzip.vcxproj
  tools/save/zzip_main.cpp
Labels: Code: Build, [C++], Code: Infrastructure / Style / Static Analysis, Code: Tooling, astyled, json-styled, BasicBuildPassed

#82205 Oops - remove remaining mentions of speedydex
  .github/reviewers.yml
  data/core/external_options.json
Labels: [JSON], Code: Tooling, astyled, json-styled, target/0.I-branch

#82179 replace `ammo_restriction` with `max_item_length` in `22lr_ammo_tray` to prevent negative volume in drop menu.
  data/json/items/containers/ammo_boxes.json
Labels: [JSON], <Bugfix>, Items: Ammo / Guns, astyled, json-styled

#82204 Check for vehicle center of mass at wheel position
  src/vehicle.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled

#82211 Fix slime terrain being flammable(????)
  data/json/furniture_and_terrain/terrain-traps.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, target/0.I-branch

#82203 Sanify stats for nails and bolts
  data/json/items/ammo/nail.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82218 [MoM] Fix Golden Radiance
  data/mods/MindOverMatter/mutations/temporary.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, Mods: Mind Over Matter, target/0.I-branch

#82210 [0.I] replace repairing item for `steel` material
  data/json/materials.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82212 Manually backport "Fix Ship Vehicle Teleport"
  src/teleport.cpp
Labels: [C++], astyled, json-styled, backport, 0.I-branch

#82139 Fix drying with hot air
  data/json/faults/faults_water.json
Labels: [JSON], <Bugfix>, astyled, json-styled, new contributor, target/0.I-branch

#82241 Deduplicate armor power usage code. Also tell player when UPS items run out of charge.
  src/character.cpp
  src/character.h
  src/character_armor.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82237 [Mods] Your gear doesn't protect you when you're shapeshifted
  data/json/flags.json
  data/mods/Magiclysm/effect_on_conditions/transformations.json
  data/mods/Magiclysm/mutations/shapeshifter_mutations.json
  data/mods/Xedra_Evolved/eocs/shapeshifter_eocs.json
  data/mods/Xedra_Evolved/mutations/playable_changeling_eocs.json
  data/mods/Xedra_Evolved/mutations/shapeshifters.json
  data/mods/Xedra_Evolved/mutations/temporary.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/mutations/xe_lilin_trait_eocs.json
  data/mods/Xedra_Evolved/spells/hedge_magic_eocs.json
  src/character_armor.cpp
  src/mutation.cpp
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#82243 [Xedra Evolved] Only werewolves gain werewolf gifts
  data/mods/Xedra_Evolved/eocs/werewolf_advancement_eocs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#82242 Dedupe zone_data constructors
  src/clzones.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#82266 Remove bonus damage of 22 LR
  data/json/items/gun/22.json
Labels: [JSON], astyled, json-styled

#82262 BBTI for 9mm
  data/json/items/ammo/9mm.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82259 Dedupe check for tile passable down in creature flood fill.
  src/creature_tracker.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#82265 Update some leather armor weights
  data/json/items/armor/arms_armor.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82271 Retirement hoards are sparser
  data/json/mapgen/retirement_community.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#82270 Add lathe functionality and industrial baseball bat production
  data/json/construction/appliances.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-tools.json
  data/json/items/appliances.json
  data/json/items/fake.json
  data/json/recipes/weapon/bashing.json
  data/mods/TEST_DATA/known_bad_uncrafts.json
  data/mods/TEST_DATA/known_good_uncrafts.json
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#82244 Fix CTRL+U not clearing text
  src/input_popup.cpp
  src/input_popup.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82267 refactor to `inc_clamp_wrap`
  src/uilist.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#82223 Deduplicate avatar active mission update
  src/avatar.cpp
  src/avatar.h
  src/savegame_json.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#81870 Add a new longer sling to the game, along with
  data/json/items/ranged/slings.json
  data/json/recipes/weapon/ranged.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, new contributor

#82274 "Plain Mead" name change to just "Mead"
  data/json/items/comestibles/alcohol.json
  data/json/items/comestibles/brewing.json
Labels: <Enhancement / Feature>, [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#82283 Small generic factory fixes + script to load game with all mods
  src/generic_factory.h
  tools/load_all_mods.sh
  tools/reduce_tests.sh
Labels: [C++], Code: Infrastructure / Style / Static Analysis, Code: Tooling, astyled, json-styled, BasicBuildPassed

#82222 Weekly Changelog 2025-07-28 to 2025-08-04
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#82219 [Xedra Evolved] More werewolf powers + rework advancement system
  data/mods/Xedra_Evolved/activity_types.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/effects/effects_monster_only.json
  data/mods/Xedra_Evolved/eocs/scenario_specific.json
  data/mods/Xedra_Evolved/eocs/shapeshifter_eocs.json
  data/mods/Xedra_Evolved/eocs/werewolf_advancement_eocs.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/martial_arts/shapeshifter.json
  data/mods/Xedra_Evolved/monsters/monfaction.json
  data/mods/Xedra_Evolved/monsters/monster_spells.json
  data/mods/Xedra_Evolved/monsters/shapeshifters.json
  data/mods/Xedra_Evolved/monsters/species.json
  data/mods/Xedra_Evolved/mutations/werewolf_trait_eocs.json
  data/mods/Xedra_Evolved/mutations/werewolf_traits.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/eocs.json
  data/mods/Xedra_Evolved/spells/werewolf_spells.json
  doc/JSON/JSON_FLAGS.md
Labels: <Documentation>, [JSON], Mods, Monsters, [Markdown], Scenarios, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved

#82290 Silence warning about data loss when converting to specified type
  src/generic_factory.h
Labels: [C++], astyled, json-styled

#82292 [Xedra Evolved] Werewolves get mana back on Nether kills
  data/mods/Xedra_Evolved/eocs/shapeshifter_eocs.json
  data/mods/Xedra_Evolved/mutations/shapeshifters.json
  data/mods/Xedra_Evolved/mutations/werewolf_trait_eocs.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#82264 Fix: AIM item menu wouldn't update window position on resize.
  src/advanced_inv.cpp
  src/game.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82303 XL/XS pipebomb bandolier
  data/json/items/armor/bandolier.json
  data/json/recipes/armor/storage.json
  data/json/recipes/nested.json
  data/json/uncraft/armor/storage.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82295 Fix deserialize/serialize of power level
  src/flexbuffer_json-inl.h
  src/flexbuffer_json.h
  src/savegame_json.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82291 Remove bonus damage for 9 mm
  data/json/items/gun/9mm.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82285 [Aftershock] Power grid moves with the ship without deletion
  src/teleport.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82246 Deduplicate computer_session code
  src/computer_session.cpp
  src/computer_session.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#82312 Dedupe checking and killing hallucinations
  src/creature.cpp
  src/creature.h
  src/monmove.cpp
  src/npc.cpp
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#81493 Display time as months and days instead of time into season
  data/json/npcs/cabin_chemist/chemist_npc.json
  data/json/npcs/campus/great_library_librarian_talk.json
  data/json/npcs/exodii/exodii_merchant_talk.json
  data/json/npcs/godco/members/NPC_Kostas_Walsman.json
  data/json/npcs/godco/visitors/TALK_CARAVAN_MERCHANT_PREDATORY.json
  data/json/npcs/isherwood_farm/NPC_Claire_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Eddie_Isherwood.json
  data/json/npcs/isherwood_farm/NPC_Jack_Isherwood.json
  data/json/npcs/isolated_road/isolated_road_cody_dialogue.json
  data/json/npcs/isolated_road/isolated_road_jay_dialogue.json
  data/json/npcs/lumbermill_employees/TALK_lumbermill_merchant.json
  data/json/npcs/refugee_center/surface_staff/Smokes/free_merchant_shopkeep_talk.json
  data/json/npcs/robofac/ROBOFAC_SURFACE_FREEMERCHANT.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
  data/json/npcs/scrap_trader/scrap_trader.json
  data/json/npcs/tacoma_ranch/NPC_ranch_scavenger.json
  data/mods/Magiclysm/npc/TALK_FORGE_ARDELIA.json
  data/mods/Magiclysm/npc/TALK_FORGE_HELEN_TAVREL.json
  data/mods/Magiclysm/npc/TALK_FORGE_MERCHANT.json
  data/mods/translate-dialogue/exodii_merchant_talk.json
  doc/JSON/NPCs.md
  src/calendar.cpp
  src/calendar.h
  src/diary.cpp
  src/diary.h
  src/diary_ui.cpp
  src/display.cpp
  src/npc.cpp
  src/npc.h
  src/npctalk.cpp
  src/options.cpp
  src/weather.cpp
  tests/calendar_test.cpp
  tests/memorial_test.cpp
  tests/stats_tracker_test.cpp
  tests/sun_test.cpp
  tests/weather_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, Info / User Interface, [JSON], Code: Tests, [C++], [Markdown], Scenarios, Mechanics: Weather, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#82186 Chitin armor overhaul
  data/json/items/armor/arms_armor.json
  data/json/items/armor/boots.json
  data/json/items/armor/gloves.json
  data/json/items/armor/helmets.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/suits_protection.json
  data/json/items/armor/torso_armor.json
  data/json/materials.json
  data/json/obsoletion_and_migration_0.J/migration_items.json
  data/json/recipes/armor/arms.json
  data/json/recipes/armor/feet.json
  data/json/recipes/armor/hands.json
  data/json/recipes/armor/head.json
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/nested.json
  data/json/uncraft/armor/arms.json
  data/json/uncraft/armor/boots.json
  data/json/uncraft/armor/hands.json
  data/json/uncraft/armor/headwear.json
  data/json/uncraft/armor/legs.json
  data/json/uncraft/armor/suit.json
  data/json/uncraft/armor/torso.json
  data/mods/Magiclysm/items/armor.json
  data/mods/TEST_DATA/known_bad_uncrafts.json
  tests/crafting_test.cpp
  tests/iteminfo_test.cpp
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82269 Fix AIM uilist submenu shaking violently. (and debug m>M menus)
  src/editmap.cpp
  src/game.cpp
Labels: Info / User Interface, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82340 Update tutorial messages
  data/mods/dda_tutorial/snippets.json
  data/mods/dda_tutorial/traps.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, Lore, astyled, json-styled, BasicBuildPassed, Tutorial

#82337 Contain the plumbing glue supplies
  data/json/itemgroups/supplies.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#82332 Fix crash on NPC spawn
  src/effect_on_condition.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, target/0.I-branch

#82308 Fixes Alpha Member of the Group to work as intended
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#82272 Introduced Points of Interest
  data/raw/keybindings.json
  src/avatar.cpp
  src/avatar.h
  src/mission_ui.cpp
  src/overmap_ui.cpp
  src/savegame_json.cpp
  src/sdltiles.cpp
Labels: <Enhancement / Feature>, Info / User Interface, [JSON], Missions, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#82350 Add modified motorcycle helmets for rail attachments
  data/json/items/armor/helmets.json
  data/json/items/generic.json
  data/json/recipes/armor/head.json
  data/json/uncraft/armor/headwear.json
  data/mods/TEST_DATA/known_bad_uncrafts.json
  data/mods/TEST_DATA/known_good_uncrafts.json
Labels: [JSON], Code: Tests, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82339 Fix tutorial trap messages popping more than once and showing first message always
  data/mods/MindOverMatter/obsolete/recipes.json
  data/mods/Xedra_Evolved/mutations/paraclesians/arvore_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_eocs.json
  data/mods/Xedra_Evolved/mutations/paraclesians/sylph_eocs.json
  data/mods/dda_tutorial/traps.json
Labels: astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82330 Fix mentions of evac 'center' starts
  data/json/start_locations.json
  data/mods/No_Hope/start_locations.json
Labels: [JSON], Scenarios, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#82260 Dedupe EOC activation checks and messages
  src/bionics.cpp
  src/crafting.cpp
  src/damage.cpp
  src/effect_on_condition.cpp
  src/effect_on_condition.h
  src/game.cpp
  src/iuse_actor.cpp
  src/magic_spell_effect.cpp
  src/martialarts.cpp
  src/melee.cpp
  src/mutation.cpp
  src/player_activity.cpp
  src/suffer.cpp
  src/trapfunc.cpp
Labels: Bionics, Crafting / Construction / Recipes, Mutations / Traits / Professions/ Hobbies, [C++], Fields / Furniture / Terrain / Traps, Melee, Mechanics: Enchantments / Spells, Martial Arts, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#82256 Dedupe schizophrenic symptom checks
  src/activity_actor.cpp
  src/character.cpp
  src/character.h
  src/consumption.cpp
  src/map.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#81756 Update Cranberry's mission
  data/json/npcs/robofac/NPC_Cranberry_Foster.json
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82338 Place soldering supplies in houses
  data/json/itemgroups/electronics.json
  data/json/itemgroups/tools.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#82370 Fix IWYU
  src/mod_manager.cpp
Labels: [C++]

#82357 Redefine glue itemgroups
  data/json/itemgroups/tools.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#82336 Dedupe flexbuffer root source path error
  src/flexbuffer_json.cpp
  src/flexbuffer_json.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#81506 Basecamp fixes/refactor and allow tags/snippets in camp labels
  src/basecamp.cpp
  src/basecamp.h
  src/faction_camp.cpp
  src/map.cpp
  src/map.h
  src/npc.cpp
  src/npc.h
  src/npcmove.cpp
  src/overmap.cpp
  src/overmap.h
  src/overmap_ui.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/savegame.cpp
  src/sdltiles.cpp
  tests/faction_camp_test.cpp
  tests/map_helpers.cpp
Labels: NPC / Factions, Info / User Interface, Map / Mapgen, Crafting / Construction / Recipes, Code: Tests, [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82373 Check there's nothing in the way before constructing training dummy/archery box
  data/json/construction/furniture_recreation.json
Labels: [JSON], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82385 Remove "pair of" and "pairs of" wording from the leftover clothing like jewelry and other generic items
  data/json/artifact/artifact_item_types.json
  data/json/items/armor/ballistic_armor.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/jewelry.json
  data/json/items/armor/pets_horse_armor.json
  data/json/items/armor/robofac_armor.json
  data/json/items/armor/storage.json
  data/json/items/comestibles/carnivore.json
  data/json/items/comestibles/meat_dishes.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/items/generic/dining_kitchen.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/tool_armor.json
  data/json/items/vehicle/wheel.json
Labels: [JSON], Items: Food / Vitamins, <Bugfix>, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82394 move bagpipes to music recipe
  data/json/recipes/recipe_others.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#82378 [Magiclysm] Only player goblins will try to tame wargs
  data/mods/Magiclysm/Spells/fantasy_species.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82384 LIXA Achievement name swap
  data/json/achievements.json
Labels: [JSON], Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed

#82400 fix clang tidy failure in teleport.cpp
  src/teleport.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#82383 Document debug character/world naming
  doc/CONTRIBUTING.md
Labels: <Documentation>, Code: Infrastructure / Style / Static Analysis, [Markdown], astyled, json-styled, BasicBuildPassed

#82388 Fix segfault when toggling RAS with an inappropriate item
  src/ranged.cpp
Labels: <Bugfix>, astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82371 Minor enchantment cache refactor
  src/magic_enchantment.cpp
  src/magic_enchantment.h
Labels: [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#82341 Make mutant bugs not spawn 0 days from cataclysm
  data/json/monstergroups/bugs.json
Labels: [JSON], Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#82359 debug menu: turn spawn named npc into a list
  src/debug_menu.cpp
  src/npc.cpp
  src/npc.h
Labels: NPC / Factions, [C++], astyled, json-styled, BasicBuildPassed

#82407 Allow quick saving on turn zero
  src/game.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#82399 Instant gravy recipe is autolearned
  data/json/recipes/food/other.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82416 [DDotD/XE] Full vampires are immune to zombie bites
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mod_interactions/classic_zombies/immunities.json
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, Mods: Xedra Evolved

#82411 Buff Comfortably Fluid mutation
  data/json/mutations/mutations.json
Labels: Game: Balance, [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#82398 Display construction pre_flags
  data/json/flags.json
  doc/JSON/JSON_FLAGS.md
  doc/JSON/JSON_INFO.md
  src/activity_item_handling.cpp
  src/construction.cpp
  src/construction.h
  src/map.cpp
  src/mapdata.cpp
Labels: <Documentation>, Info / User Interface, [JSON], Crafting / Construction / Recipes, [C++], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed

#82427 zzip.exe: a tool for manipulating zzip files.
  .github/workflows/msvc-full-features.yml
  .github/workflows/release.yml
  Makefile
  build-scripts/windist.ps1
  msvc-full-features/Cataclysm-vcpkg-static.sln
  msvc-full-features/zzip.vcxproj
  tools/save/zzip_main.cpp
Labels: Code: Build, [C++], Code: Tooling, astyled, json-styled, backport, 0.I-branch

#82408 Energy source works if defined at magic_type level
  doc/JSON/MAGIC.md
  src/magic.cpp
  src/magic.h
  src/magic_type.cpp
  src/magic_type.h
  src/ranged.cpp
Labels: <Documentation>, [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#82322 Adds bar stock for machining
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/supplies.json
  data/json/items/resources/metal.json
  data/json/mapgen/s_lightindustry.json
  data/json/proficiencies/metalwork.json
  data/json/recipes/nested.json
  data/json/recipes/practice/fabrication.json
  data/json/uncraft/generic.json
  data/json/uncraft/resources/metal.json
Labels: [JSON], Map / Mapgen, Spawn, astyled, json-styled, BasicBuildPassed, new contributor

#82349 Improve vector reservations
  src/faction_camp.cpp
  src/line.cpp
Labels: [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#82423 Allow using "extend/delete" on variants
  src/generic_factory.h
  src/item_factory.cpp
  src/itype.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#82313 rename generic mutagen and mutagen vitamin
  data/json/items/comestibles/mutagen.json
  data/json/items/newspaper.json
  data/json/vitamin.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#81880 Initial Removal of the Solar Backpack
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/electronics.json
  data/json/itemgroups/military.json
  data/json/itemgroups/misc.json
  data/json/items/tool_armor.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  tests/bionics_test.cpp
Labels: Game: Balance, [JSON], Bionics, Spawn, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82444 [Mods] Add `SUFFOCATION_IMMUNE` and `INHALED_TOXIN_IMMUNE` flags, apply to appropriate places in mods.
  data/json/field_type.json
  data/json/flags.json
  data/mods/MindOverMatter/effects/effects_psionic.json
  data/mods/MindOverMatter/items/psions_summon_items.json
  data/mods/MindOverMatter/obsolete/items.json
  data/mods/MindOverMatter/powers/biokinesis_concentration_eocs.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/items/armor/integrated.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/paraclesians/ierde_mutations.json
  data/mods/Xedra_Evolved/obsoletion_and_migration/items.json
  doc/JSON/JSON_FLAGS.md
  src/suffer.cpp
Labels: <Documentation>, [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Mind Over Matter

#82152 Hardcode placement of highway interchanges
  data/json/overmap/overmap_connections.json
  data/json/overmap/overmap_special/highway_specials.json
  data/json/regional_map_settings.json
  data/mods/aftershock_exoplanet/region_settings.json
  data/mods/desert_region/desert_regional_map_settings.json
  src/overmap.cpp
  src/overmap.h
  src/overmap_highway.cpp
  src/regional_settings.cpp
  src/regional_settings.h
Labels: <Enhancement / Feature>, [JSON], Map / Mapgen, [C++], Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: Desert Region

#82447 Multi mod flag documentation
  doc/JSON/JSON_FLAGS.md
Labels: <Documentation>, Mods, [Markdown], astyled, json-styled, BasicBuildPassed

#82434 [DDotD] Add drag down attack when you're grabbed and surrounded
  data/mods/classic_zombies/EoCs.json
  data/mods/classic_zombies/effects.json
  data/mods/classic_zombies/monsters/zombies.json
Labels: [JSON], Mods, Monsters, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed

#82417 [Xedra Evolved] vampire `magic_type` work
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/spells/vampire_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#82438 Remove furniture spawning in walls in house_w_1
  data/json/mapgen/house/house_w_1.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#82424 Post-its/flyers names in the Lore tab
  data/json/items/fluff.json
  data/json/items/newspaper.json
  data/json/snippets/LIXA_snippets.json
  data/json/snippets/children_notes.json
  data/json/snippets/e_logs.json
  data/json/snippets/fliers.json
  data/json/snippets/lab.json
  data/mods/MindOverMatter/items/files_and_post_it.json
  data/mods/MindOverMatter/snippets/snippets.json
  data/mods/MindOverMatter/snippets/snippets_new.json
  data/mods/Xedra_Evolved/items/notes_and_news.json
  data/mods/Xedra_Evolved/snippets/xedra.json
Labels: [JSON], Lore, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved, Mods: Mind Over Matter

#82426 Increase Kevlar's fire resistance
  data/json/materials.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82335 Dedupe flood fill 4 way
  src/flood_fill.h
  src/game.cpp
  src/mapgen_functions.cpp
  src/overmap.cpp
  src/overmap_water.cpp
  src/vehicle_autodrive.cpp
Labels: Map / Mapgen, Vehicles, [C++], astyled, json-styled, BasicBuildPassed

#82448 [DDotD] Increase incidence of meadows in DDtoD
  data/mods/classic_zombies/mapgen/meadows.json
Labels: [JSON], Mods, Map / Mapgen, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed

#82446 Don't try relative/proportion if no copy-from
  src/generic_factory.h
Labels: [C++], astyled, json-styled, BasicBuildPassed

#82479 Change the default sidebar to be sidebar-mobile on mobile
  src/panels.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#82415 LIXA Polish
  data/json/achievements.json
  data/json/effects_on_condition/nether_eocs/LIXA_EOCs_spells_traps.json
  data/json/monster_special_attacks/spells.json
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, Monsters, Fields / Furniture / Terrain / Traps, Game: Achievements / Conducts / Scores, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#82469 Finish removal of "pair of" and "pairs of" wording from all of the clothing and items
  data/json/items/armor/arms_armor.json
  data/json/items/armor/belts.json
  data/json/items/armor/bespoke_armor/cuttingroom.json
  data/json/items/armor/bespoke_armor/utility.json
  data/json/items/armor/boots.json
  data/json/items/armor/eyewear.json
  data/json/items/armor/gambesons.json
  data/json/items/armor/legs_armor.json
  data/json/items/armor/legs_clothes.json
  data/json/items/armor/suits_clothes.json
  data/json/items/armor/swimming.json
  data/json/items/armor/undergarment.json
  data/json/items/melee/unarmed_weapons.json
  data/json/items/relics/altered_items.json
  data/json/items/tool/med.json
  data/json/items/tool/metalworking.json
  data/json/items/tool/stationery.json
  data/json/items/tool/tailoring.json
  data/json/items/tool/workshop.json
  data/json/items/tool_armor.json
  data/json/vehicleparts/wheel.json
  doc/design-balance-lore/POSTAPOC_PRICE_GUIDE.md
Labels: <Documentation>, [JSON], <Bugfix>, [Markdown], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#82300 [MoM] Add project EMERALD VANGUARD lab to MoM
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/achievements.json
  data/mods/MindOverMatter/furniture_and_terrain/terrain_tanks.json
  data/mods/MindOverMatter/itemgroups/feral_deathdrops.json
  data/mods/MindOverMatter/itemgroups/matrix_technology_labs.json
  data/mods/MindOverMatter/items/books.json
  data/mods/MindOverMatter/mapgen/biokinesis_mutation_lab/lab_core.json
  data/mods/MindOverMatter/mapgen/microlab_no_meat/microlab_edge.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_z3.json
  data/mods/MindOverMatter/mapgen_palettes/microlab_no_meat.json
  data/mods/MindOverMatter/monsters/feral_lab_psychics.json
  data/mods/MindOverMatter/npcs/dialogue/computer_dialogue.json
  data/mods/MindOverMatter/obsolete/eocs.json
  data/mods/MindOverMatter/overmap/overmap_specials.json
  data/mods/MindOverMatter/overmap/overmap_terrain.json
  data/mods/MindOverMatter/powers/learning_eocs/biokinesis.json
  data/mods/MindOverMatter/recipes/rituals.json
Labels: <Documentation>, [JSON], Mods, Map / Mapgen, Spawn, Monsters, Fields / Furniture / Terrain / Traps, [Markdown], Game: Achievements / Conducts / Scores, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#82379 [ Bombastic Perks ] Speedy Dex Perk
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#80629 Lixa falls
  data/json/furniture_and_terrain/LIXA_furniture_and_terrain.json
  data/json/mapgen_palettes/LIXA_mapgen_palette.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#82375 [ Xedra Evolved ] No Mana regen for the dead
  data/mods/Xedra_Evolved/mutations/mutations.json
  src/magic.cpp
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#82482 [MoM] More Nether Attunement backlashes
  data/mods/MindOverMatter/NetherAttunementSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/effectoncondition/eoc_on_power_use_events.json
  data/mods/MindOverMatter/effects/effects_nether_attunement.json
  data/mods/MindOverMatter/effects/effects_penalty.json
  data/mods/MindOverMatter/jmath.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#82445 Evac flyer
  data/json/furniture_and_terrain/furniture-signs.json
  data/json/itemgroups/SUS/trash.json
  data/json/itemgroups/books.json
  data/json/itemgroups/mail.json
  data/json/itemgroups/stashes.json
  data/json/items/book/maps.json
Labels: [JSON], Spawn, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#82437 Improve keybind UI on debug wish menus
  src/cata_imgui.cpp
  src/cata_imgui.h
  src/color.cpp
  src/color.h
  src/uilist.h
  src/wish.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#82509 Fix eleavator -> elevator spelling
  data/json/furniture_and_terrain/LIXA_furniture_and_terrain.json
Labels: [JSON], <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#82506 Monsters can now see you if you're invisible and they have the TRUESIGHT monster flag
  data/json/monsters/monster_flags.json
  data/json/monsters/nether.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/enchantments/Spells.json
  data/mods/Magiclysm/monsters/dragon.json
  data/mods/Xedra_Evolved/monsters/changeling.json
  doc/JSON/JSON_FLAGS.md
  src/creature.cpp
  src/mtype.cpp
  src/mtype.h
Labels: <Enhancement / Feature>, <Documentation>, [JSON], [C++], Monsters, [Markdown], Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#82504 Caseless weapons failure to feed
  src/activity_actor.cpp
  src/flag.cpp
  src/flag.h
  src/ranged.cpp
Labels: <Enhancement / Feature>, [C++], astyled, json-styled, BasicBuildPassed

#82498 Tree bashing from being cut down is not a magic wand
  src/map.cpp
Labels: Game: Balance, [C++], astyled, json-styled, BasicBuildPassed

#82501 Add uncraft recipes for turrets in aftershock
  data/mods/aftershock_exoplanet/recipes/deconstruction/robot.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, target/0.I-branch

#82513 Prevent Balthazar secubots from being turned into human sausages
  data/json/items/generic.json
  data/json/monsters/balthazar_fac_robots.json
Labels: [JSON], Monsters, <Bugfix>, astyled, json-styled, BasicBuildPassed

#82515 Fix glue making you rich
  data/json/items/chemicals_and_resources.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82537 [Magiclysm] Regularize goblin and lizardfolk attack techniques
  data/mods/Magiclysm/mutations/mutation_paths/fantasy_species.json
  data/mods/Magiclysm/techniques_fantasy_species.json
Labels: [JSON], Mods, Melee, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#82526 Fix #82472 Vegan Butter has no calories
  data/json/recipes/food/vegetable_dishes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#82543 [XEDRA Evolved] Devariant gossamer dress
  data/mods/Xedra_Evolved/items/clothes.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#82547 Default lowest moves option in dispose dialogue
  src/character_inventory.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#82562 Add wait duration for followers to catch up
  data/json/player_activities.json
  src/activity_actor.cpp
  src/activity_actor_definitions.h
  src/character.cpp
  src/handle_action.cpp
Labels: <Enhancement / Feature>, [JSON], [C++], astyled, json-styled, BasicBuildPassed

#82564 [Xedra Evolved] Vampires are pale, and so are dhampirs with the Corpselike Pallor flaw
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#82557 Update nail making
  data/json/items/tool/metalworking.json
  data/json/items/tool/workshop.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/other/parts_construction.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_hand.json
  data/mods/TEST_DATA/known_bad_uncrafts.json
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, <Bugfix>, astyled, json-styled, BasicBuildPassed

#82552 Fix some typos, mostly in NPC tutorial
  data/json/npcs/TALK_ALLY_TUTORIAL.json
  data/json/npcs/TALK_FACTION_CAMP.json
  src/activity_actor.cpp
Labels: [JSON], [C++], astyled, json-styled, BasicBuildPassed

#82561 Allow zooming during activities
  src/do_turn.cpp
Labels: Info / User Interface, [C++], astyled, json-styled, BasicBuildPassed

#82558 Genericize iteminfo table drawing
  src/item.cpp
  src/item.h
  src/output.cpp
  tests/iteminfo_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], <Bugfix>, astyled, json-styled

#82576 Fix the nail making fix
  data/json/recipes/other/parts_construction.json
  data/json/recipes/tools/tool.json
Labels: [JSON], Crafting / Construction / Recipes, astyled, json-styled, BasicBuildPassed

#82582 Fix wrong type usage in jmath function
  data/json/effects_on_condition/medicine_eocs/regen_serum_eoc.json
Labels: [JSON], <Bugfix>, astyled, json-styled, EOC: Effects On Condition

#82581 Fix Boris laptop quest
  data/json/npcs/refugee_center/surface_refugees/NPC_Boris_Borichenko.json
Labels: NPC / Factions, [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82587 Weekly Changelog 2025-08-18 to 2025-08-25
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#82586 [XEDRA] Replace steel material in items with updated steel types to allow repairing
  data/mods/Xedra_Evolved/items/ammo.json
  data/mods/Xedra_Evolved/items/corpses.json
  data/mods/Xedra_Evolved/items/gun_magazine.json
  data/mods/Xedra_Evolved/items/guns.json
  data/mods/Xedra_Evolved/items/inventor/armor.json
  data/mods/Xedra_Evolved/items/inventor/consumables.json
  data/mods/Xedra_Evolved/items/inventor/explosive.json
  data/mods/Xedra_Evolved/items/inventor/gun.json
  data/mods/Xedra_Evolved/items/inventor/gunmods.json
  data/mods/Xedra_Evolved/items/inventor/melee.json
  data/mods/Xedra_Evolved/items/inventor/misc.json
  data/mods/Xedra_Evolved/items/vehicle_parts.json
Labels: [JSON], Mods, Items: Magazines, Items: Gunmod / Toolmod, Vehicles, Items: Ammo / Guns, Melee, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing, Mods: Xedra Evolved

#82578 Fix missing space in basecamp expansion label
  src/basecamp.cpp
Labels: [C++], Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#82603 Add `SUPPRESS_INVISIBILITY` flag, add an item in XE that uses it
  data/json/flags.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/emitters.json
  data/mods/Xedra_Evolved/field_type.json
  data/mods/Xedra_Evolved/itemgroups/nests_itemgroups.json
  data/mods/Xedra_Evolved/items/alchemy.json
  data/mods/Xedra_Evolved/items/alchemy_recipes.json
  data/mods/Xedra_Evolved/recipes/alchemy.json
  doc/JSON/JSON_FLAGS.md
  src/creature.cpp
Labels: <Documentation>, [JSON], Crafting / Construction / Recipes, Spawn, [C++], Fields / Furniture / Terrain / Traps, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#82579 Remove typed (non-templated) assign readers
  data/json/furniture_and_terrain/appliances.json
  data/json/furniture_and_terrain/furniture-fakes.json
  data/json/furniture_and_terrain/furniture-medical.json
  data/json/furniture_and_terrain/furniture-surfaces.json
  data/json/furniture_and_terrain/furniture_vitrified.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/Magiclysm/furniture_and_terrain/furniture.json
  data/mods/Magiclysm/furniture_and_terrain/furniture_druid.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture.json
  data/mods/Xedra_Evolved/furniture_and_terrain/furniture_treesung.json
  data/mods/aftershock_exoplanet/maps/furniture_and_terrain/furniture_habitat.json
  data/mods/aftershock_exoplanet/vehicles/vehicle_parts.json
  src/assign.cpp
  src/assign.h
  src/overmap.cpp
  src/veh_type.cpp
Labels: [JSON], Map / Mapgen, Vehicles, [C++], Fields / Furniture / Terrain / Traps, Code: Infrastructure / Style / Static Analysis, Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Appliance/Power Grid, Mods: Xedra Evolved

#82544 Allow `extend/delete` for non-container types with optional
  data/json/monsters/insect_spider.json
  data/json/monsters/mollusk.json
  doc/JSON/MONSTERS.md
  src/generic_factory.h
  src/monstergenerator.cpp
  src/mtype.h
  tools/load_all_mods.sh
Labels: <Documentation>, [JSON], [C++], Monsters, Code: Infrastructure / Style / Static Analysis, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#82573 Reveal only contiguous subway/sewer from computer map
  src/computer_session.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#82574 Improve check for starting fire near fireplace
  src/avatar.cpp
  src/avatar.h
  src/cata_tiles.cpp
  src/cata_tiles.h
  src/iuse_actor.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82592 Fix crash for unset optional direction in mission
  src/basecamp.cpp
Labels: [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#82606 [ Xedra Evolved ] No riots in Vampire lairs
  data/mods/Xedra_Evolved/mapgen/overmap_terrain.json
Labels: [JSON], Mods, Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#82518 Fries audit
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/food_service.json
  data/json/items/comestibles/junkfood.json
  data/json/npcs/items_generic.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/food/junkfood.json
  data/json/recipes/food/other.json
Labels: NPC / Factions, [JSON], Items: Food / Vitamins, Spawn, astyled, json-styled, BasicBuildPassed

#82618 Load recipe `using` with optional
  data/json/recipes/food/canned.json
  data/json/recipes/food/carnivore.json
  data/json/recipes/food/egg.json
  data/json/recipes/food/fruit_dishes.json
  data/json/recipes/food/meat_dishes.json
  data/json/recipes/food/vegetable_dishes.json
  data/json/recipes/other/parts.json
  data/json/recipes/recipe_others.json
  data/mods/MindOverMatter/mod_interactions/innawood/recipes.json
  data/mods/MindOverMatter/obsolete/recipes.json
  data/mods/MindOverMatter/recipes/chemistry.json
  data/mods/MindOverMatter/recipes/medical.json
  data/mods/MindOverMatter/recipes/weapons.json
  data/mods/innawood/recipes/electronic_parts.json
  src/recipe.cpp
Labels: [JSON], Crafting / Construction / Recipes, [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲, Mods: Mind Over Matter

#82609 Use semicolon for column separators in iteminfo table drawing
  src/item.cpp
  src/output.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82629 Move map extra list creation out of optional json loading check
  src/map_extras.cpp
  src/map_extras.h
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#82604 Star vampires have `PERMANENT_INVISIBILITY`, when they drink blood it applies `SUPPRESS_INVISIBILITY`
  data/json/effects.json
  data/json/monster_special_attacks/spells.json
  data/json/monsters/nether.json
Labels: Game: Balance, [JSON], Monsters, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#82595 Present dispersion as MOA in item UI
  src/item.cpp
  tests/iteminfo_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed
