Repository CleverRaven/Cataclysm-DDA, pull requests merged in 2025-06, with the labels that each got.

#81138 Ignore generated CMake files
  .gitignore
Labels: astyled, json-styled, BasicBuildPassed

#81146 Audit crack and anfo recipe
  data/json/recipes/recipe_medsandchemicals.json
Labels: [JSON], Crafting / Construction / Recipes, <Bugfix>, astyled, json-styled, BasicBuildPassed

#81149 Add missing migration exodii_ingot_steel --> exodii_ingot_lc_steel
  data/json/obsoletion_and_migration_0.I/migration_items.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#81156 Weekly Changelog 2025-05-26 to 2025-06-02
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#81092 Faction food supply can expire over time
  data/json/npcs/factions.json
  data/mods/Aftershock/npcs/factions.json
  data/mods/DinoMod/NPC/NC_BO_BARONYX.json
  data/mods/Magiclysm/npc/factions.json
  data/mods/TEST_DATA/factions.json
  data/mods/aftershock_exoplanet/npcs/factions.json
  doc/JSON/FACTIONS.md
  src/basecamp.cpp
  src/basecamp.h
  src/calendar.h
  src/debug_menu.cpp
  src/faction.cpp
  src/faction.h
  src/faction_camp.cpp
  src/math_parser_diag.cpp
  src/npcmove.cpp
  src/savegame_json.cpp
  src/stomach.cpp
  src/stomach.h
  tests/faction_camp_test.cpp
Labels: <Enhancement / Feature>, <Documentation>, NPC / Factions, [JSON], Spawn, Code: Tests, [C++], Monsters, [Markdown], Player Faction Base / Camp, Mods: Magiclysm, Mods: Aftershock, Mods: Dinomod, astyled, json-styled, BasicBuildPassed

#81147 Audit minor crafting recipes existence
  data/json/recipes/tools/lights.json
  data/json/recipes/tools/tool.json
  data/json/recipes/tools/tools_electronic.json
  data/json/recipes/tools/tools_primitive.json
  data/mods/TEST_DATA/items.json
  data/mods/TEST_DATA/recipes.json
  tests/crafting_test.cpp
Labels: [JSON], Crafting / Construction / Recipes, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#80834 Fix small typos in scenarios and starting missions.
  data/mods/aftershock_exoplanet/missions/bounty_hunter_missions.json
  data/mods/aftershock_exoplanet/scenarios.json
Labels: [JSON], Mods, Missions, Scenarios, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#81148 Properly get recipes for NPC crafting dummy at camp
  src/character.h
  src/character_crafting.cpp
  src/crafting_gui.cpp
Labels: Info / User Interface, Crafting / Construction / Recipes, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81119 add kids' backpacks
  data/json/itemgroups/Clothing_Gear/clothing.json
  data/json/itemgroups/Clothing_Gear/gear_civilian.json
  data/json/itemgroups/Locations_MapExtras/locations.json
  data/json/itemgroups/Locations_MapExtras/locations_commercial.json
  data/json/itemgroups/Locations_MapExtras/mall_item_groups.json
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/stashes.json
  data/json/items/armor/storage_packs.json
  data/json/snippets/branding.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#81188 Fix smartwatch outfit build error
  data/json/items/containers/generic.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81187 Aftershock: You can now spot the spaceport during clear nights.
  data/mods/aftershock_exoplanet/EOC/world_eocs.json
  data/mods/aftershock_exoplanet/maps/overmap_terrain.json
  data/mods/aftershock_exoplanet/missions/exploration_missions.json
Labels: [JSON], Mods, Missions, Map / Mapgen, Fields / Furniture / Terrain / Traps, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#81190 Fix pedantry build errors
  src/faction_camp.cpp
Labels: [C++], <Bugfix>, Player Faction Base / Camp, astyled, json-styled, BasicBuildPassed

#81186 Fix load time slowdown from n^2 time vector scans in item finalization.
  src/item_factory.cpp
  src/itype.h
Labels: [C++], <Bugfix>, astyled, json-styled

#81178 [Xedra Evolved] Update leg_guards_verdant in Boann's rewards
  data/mods/Xedra_Evolved/npc/boann.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#81175 [Magiclysm] Frost armor no longer casts Ice Spike
  data/mods/Magiclysm/Spells/kelvinist.json
  data/mods/Magiclysm/items/ethereal_items.json
Labels: [JSON], Mods, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#81189 Fix freeze when npc is recalled from mission
  .github/comment-commands.yml
  src/faction_camp.cpp
Labels: [C++], <Bugfix>, Player Faction Base / Camp, Code: Tooling, astyled, json-styled, BasicBuildPassed, new contributor

#81185 Cropped hoodies don't have pockets
  data/json/items/armor/torso_clothes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#81195 Roads cross streams, fix stream predecessors
  data/json/mapgen/nested/road_nested.json
  data/json/mapgen/road.json
  data/json/mapgen/stream.json
  data/json/overmap/overmap_connections.json
  data/json/overmap/special_locations.json
Labels: <Enhancement / Feature>, [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#81201 Add Hub jumpsuit to the items sold by the Hub vendor
  data/json/itemgroups/Locations_MapExtras/robofac_trade.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed

#81032 Use dbl_or_var for variable "nested":/"place_nested": weights
  data/json/mapgen/s_grocery.json
  data/json/weight_functions.json
  src/condition.cpp
  src/condition.h
  src/mapgen.cpp
  src/weighted_dbl_or_var_list.h
  src/weighted_list.h
Labels: [JSON], Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#80936 Make characters wake up when they actually vommit
  src/character.cpp
Labels: [C++], astyled, json-styled, BasicBuildPassed

#80935 slim down atomic batteries by 33%
  data/json/items/battery.json
Labels: Game: Balance, [JSON], Items: Battery / UPS, astyled, json-styled, BasicBuildPassed

#81017 Allow city specials to use OVERMAP_UNIQUE
  src/overmap.cpp
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  tests/overmap_test.cpp
Labels: Map / Mapgen, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#81202 Swimwear isn't underwear
  data/json/itemgroups/Clothing_Gear/clothing.json
Labels: [JSON], Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed

#81191 Revert vehicle cargo sizes to sane values
  data/json/vehicleparts/doors.json
  data/json/vehicleparts/seats.json
  data/json/vehicleparts/vehicle_parts.json
  data/mods/TEST_DATA/vehicle.json
  tests/char_volume_test.cpp
Labels: [JSON], Vehicles, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81207 Allow smelting into ingots
  data/json/recipes/other/materials.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81213 Hacksaw requires tempering, screwdriver is harder to craft
  data/json/recipes/tools/tools_hand.json
Labels: [JSON], <Bugfix>, astyled, json-styled

#81209 Remove 7-10 split, clay quern, forked spear
  data/json/itemgroups/Weapons_Mods_Ammo/melee_weapons.json
  data/json/items/melee/bludgeons.json
  data/json/items/melee/spears_and_polearms.json
  data/json/items/tool/cooking.json
  data/json/monsterdrops/zombie_survivor.json
  data/json/npcs/NC_ARSONIST.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/ammo/weldgas.json
  data/json/recipes/food/baking.json
  data/json/recipes/food/frozen.json
  data/json/recipes/food/milling.json
  data/json/recipes/food/offal_dishes.json
  data/json/recipes/recipe_food.json
  data/json/recipes/tools/tools_primitive.json
  data/json/recipes/weapon/piercing.json
  data/json/requirements/melee.json
  data/mods/Magiclysm/items/weapons.json
  data/mods/TEST_DATA/expected_dps_data/axes_dps.json
  data/mods/TEST_DATA/expected_dps_data/spears_dps.json
  data/mods/Xedra_Evolved/items/weapon_copy_extensions.json
Labels: [JSON], Items: Food / Vitamins, Crafting / Construction / Recipes, Spawn, Code: Tests, Monsters, Melee, Mods: Magiclysm, astyled, json-styled, Mods: Xedra Evolved

#78857 Save compression: 10-15x+ smaller maps, faster saves, corruption resistant, also makes julienne fries.
  Makefile
  android/app/jni/Application.mk
  android/app/jni/src/Android.mk
  android/app/jni/src/third-party/Android.mk
  data/raw/compression/maps.dict
  data/raw/compression/mmr.dict
  data/raw/compression/overmaps.dict
  msvc-full-features/Cataclysm-common.props
  msvc-full-features/Cataclysm-lib-vcpkg-static.vcxproj
  msvc-full-features/Cataclysm-vcpkg-static.sln
  msvc-full-features/zstd.vcxproj
  src/auto_note.cpp
  src/auto_pickup.cpp
  src/cata_utility.cpp
  src/cata_utility.h
  src/debug_menu.cpp
  src/flexbuffer_cache.cpp
  src/flexbuffer_json.cpp
  src/game.cpp
  src/game.h
  src/global_vars.h
  src/json_loader.cpp
  src/json_loader.h
  src/main_menu.cpp
  src/map_memory.cpp
  src/mapbuffer.cpp
  src/mmap_file.cpp
  src/mmap_file.h
  src/options.cpp
  src/overmap.cpp
  src/overmap.h
  src/overmapbuffer.cpp
  src/overmapbuffer.h
  src/path_info.cpp
  src/path_info.h
  src/perf.cpp
  src/perf.h
  src/safemode_ui.cpp
  src/savegame.cpp
  src/std_hash_fs_path.h
  src/third-party/CMakeLists.txt
  src/translation_document.cpp
  src/translation_document.h
  src/worldfactory.cpp
  src/worldfactory.h
  src/zzip.cpp
  src/zzip.h
  src/zzip_stack.cpp
  src/zzip_stack.h
Labels: <Documentation>, Info / User Interface, Translation, Code: Build, Map / Mapgen, [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Character / World Generation, astyled, json-styled

#81210 Grappling hook has rope flags
  data/json/items/tool/misc.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#81214 Add homie, dawg to name_g
  data/json/npcs/snippets/talk_tags.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#81220 [MoM/XE] Add profession: Mobile Task Force: Psi 7 "Sleepwalkers"
  data/mods/MindOverMatter/mod_interactions/xedra_evolved/clothes.json
  data/mods/MindOverMatter/mod_interactions/xedra_evolved/professions.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, Mods: Mind Over Matter

#81212 [Magiclysm] Rework Manatouched's glow mutations
  data/mods/Magiclysm/effect_on_conditions/mutation_eocs.json
  data/mods/Magiclysm/effects/effects.json
  data/mods/Magiclysm/mutations/mutation_paths/manatouched.json
  data/mods/Magiclysm/mutations/mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#81165 Added Faction label and Map location
  src/mission_ui.cpp
Labels: Info / User Interface, Missions, [C++], astyled, json-styled, BasicBuildPassed

#81223 [Magiclysm] Black Dragons can get Chrysophilia
  data/mods/Magiclysm/mutations/mutation_paths/fantasy_species.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#81227 Eagerly close file handles for readonly mmap_file on not-windows.
  src/mmap_file.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81239 Backport CI changes for 0.H
  .github/workflows/CBA.yml
  .github/workflows/astyle.yml
  .github/workflows/check-branch-name.yml
  .github/workflows/check-translation.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/comment-commands.yml
  .github/workflows/detect-translation-file-changes.yml
  .github/workflows/format_emscripten.yml
  .github/workflows/json.yml
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features.yml
  .github/workflows/post-spell-check-result.yml
  .github/workflows/pull-translations.yml
  .github/workflows/release.yml
  .github/workflows/test_labeler.yml
  .github/workflows/text-changes-analyzer.yml
  build-scripts/gha_compile_only.sh
  doc/COMPILING/COMPILER_SUPPORT.md
Labels: <Enhancement / Feature>, <Documentation>, Info / User Interface, Code: Build, <Bugfix>, Code: Infrastructure / Style / Static Analysis, [Markdown], Code: Tooling, astyled, json-styled, BasicBuildPassed

#81226 Update stock handling
  data/json/items/gunmod/stock.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#79859 [MoM] Add possible `Mathematican A57` boss fight to Research Facility
  data/mods/MindOverMatter/itemgroups/boss_deathdrops.json
  data/mods/MindOverMatter/itemgroups/feral_deathdrops.json
  data/mods/MindOverMatter/mapgen/psi_surface_lab/psi_lab_surface_z3.json
  data/mods/MindOverMatter/monsters/bosses.json
Labels: [JSON], Mods, Map / Mapgen, Spawn, Monsters, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81162 Aftershock: Minor bugfixing round
  data/mods/aftershock_exoplanet/EOC/game_eoc.json
  data/mods/aftershock_exoplanet/npcs/Salvor_Market/salvor_fabricator_talk.json
  src/mapgen_functions.cpp
Labels: [JSON], Map / Mapgen, [C++], <Bugfix>, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition

#81253 Ar copy fix
  data/json/items/gun/223.json
  data/mods/TEST_DATA/expected_dps_data/guns_dps.json
  data/mods/TEST_DATA/legacy_to_hit.json
Labels: [JSON], Code: Tests, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#81263 [MoM] Add small chance of noetic resonance detector to doctor's office
  data/mods/MindOverMatter/mapgen/vanilla_extras/doctor_offices.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81228 Update npctalk.cpp for blindness
  src/npctalk.cpp
Labels: NPC / Factions, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#81245 Mark season scaling options as hidden
  data/core/external_options.json
  doc/JSON/OPTIONS.md
  src/options.cpp
  src/worldfactory.cpp
  tests/options_test.cpp
Labels: <Documentation>, [JSON], Code: Tests, [C++], [Markdown], Character / World Generation, astyled, json-styled, BasicBuildPassed

#81248 Attempt to increase average autotravel speed when driving on straight roads
  src/sounds.cpp
  src/vehicle_autodrive.cpp
Labels: Vehicles, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81264 Bulk overmap testing debug tools
  src/debug_menu.cpp
  src/debug_menu.h
  src/string_input_popup.cpp
  src/string_input_popup.h
  src/try_parse_integer.cpp
  src/try_parse_integer.h
Labels: [C++], Code: Infrastructure / Style / Static Analysis, astyled, json-styled, BasicBuildPassed

#81271 house_w_4 fix
  data/json/mapgen/house/house_w_4.json
  data/json/mapgen/nested/house_nested.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#81274 Document ammunition_type
  data/core/sentinels.json
  data/json/items/ammo_types.json
  doc/JSON/ITEM.md
Labels: <Documentation>, [JSON], [Markdown], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#81054 Fix electric lighter length
  data/json/items/tool/fire.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed, new contributor

#81270 Move Android bundle building to a manually triggered workflow
  .github/workflows/release-android-bundle.yaml
  .github/workflows/release.yml
Labels: Code: Build, Code: Tooling, astyled, json-styled, BasicBuildPassed

#81293 remove landmines from weird places
  data/json/mapgen/cave.json
  data/json/mapgen/house/house_garage_prepper.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#81234 Overmaps track overmap unique specials instead of overmapbuffer
  src/overmap.cpp
  src/overmap.h
  src/overmapbuffer.cpp
  src/overmapbuffer.h
Labels: Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#81291 [XEDRA Evolved] Government Buying Your Deceased Loved One's 'Dreams' Without Your Consent! More at Page 4
  data/mods/Xedra_Evolved/mapgen/mortuary.json
Labels: [JSON], Mods, Map / Mapgen, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#81282 Fix zone unload test failure
  data/mods/TEST_DATA/vehicle.json
  tests/clzones_test.cpp
Labels: [JSON], Vehicles, Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#81316 [Xedra Evolved] Fix dhampirs drawing their own blood
  src/iuse.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81308 Fix cropped animal hoodies names
  data/json/items/armor/torso_clothes.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#81302 adds replace long and short staff on weapons
  data/json/faults/fault_fixes_melee.json
Labels: [JSON], <Bugfix>, Melee, astyled, json-styled, BasicBuildPassed

#81319 Fix chambers in bionics rooms can't be opened
  src/mapgen.cpp
Labels: Map / Mapgen, [C++], <Bugfix>, astyled, json-styled

#81315 re add an undefined behavior sanitizer
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#81332 Fix mesa generation test failure by making tropicata/desertpack/backrooms incompatible
  data/mods/Backrooms/modinfo.json
  data/mods/TropiCataclysm/modinfo.json
  data/mods/desert_region/modinfo.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴, Mods: Desert Region, Mods: Backrooms

#81337 Ensure ranged weapons with NEVER_JAMS never jam
  src/ranged.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81233 Create a "thin" archive instead of copying objects
  Makefile
Labels: Code: Build, Code: Infrastructure / Style / Static Analysis, astyled, json-styled

#81273 Remove map note if favorite item is picked up
  src/character.cpp
  src/pickup.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81340 M110A1 can attach its own stock
  data/json/items/gun/308.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81328 [Xedra Evolved] Add missing traits to research EoC
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#81184 Fix incorrect conditional for Mystic shot effect
  data/mods/Perk_melee/enchantments.json
Labels: [JSON], Mods, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, new contributor

#81170 [Aftershock] Add sight slot to G&W SR-P9
  data/mods/aftershock_exoplanet/items/gun/7.50mm.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#81158 [Aftershock] Shotgun Tweaks
  data/mods/aftershock_exoplanet/items/gun/shot.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#81343 Melee weapons galore
  data/json/itemgroups/Locations_MapExtras/mansion.json
  data/json/itemgroups/art_antiques_crafts.json
  data/json/itemgroups/collections_domestic.json
  data/json/mapgen/cave.json
  data/json/mapgen/house/house_modern_lx.json
  data/json/mapgen/map_extras/grave.json
  data/json/mapgen/pawn_shop.json
  data/json/mapgen/sewage_treatment.json
  data/json/monsterdrops/feral_humans.json
  data/json/monsterdrops/rodentkin.json
  data/json/professions.json
Labels: Game: Balance, [JSON], Map / Mapgen, Spawn, Mutations / Traits / Professions/ Hobbies, Monsters, astyled, json-styled, BasicBuildPassed

#81346 No gas zombies
  data/json/mapgen/gas_stations/s_gas.json
  data/json/mapgen_palettes/oil_platform_palette.json
  data/json/monstergroups/misc.json
  data/json/monstergroups/zombies.json
  data/json/monsters/zed_explosive.json
  data/json/overmap/overmap_terrain/overmap_terrain_commercial.json
  data/json/speech.json
  data/mods/Magiclysm/monsters/vanilla_monster_damage_overwrite.json
Labels: [JSON], Map / Mapgen, Spawn, Monsters, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#81345 [MoM] Remove prereq for Psychic Vampire trait
  data/mods/MindOverMatter/mutations/traits.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81342 [MoM] Replace textbooks_school with manuals_school
  data/mods/MindOverMatter/itemgroups/books.json
Labels: [JSON], Mods, Spawn, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81329 Obsolete killer drive
  data/json/mutations/mutations.json
  data/json/npcs/Kindred/NPC_Darren_Cooper.json
  data/json/npcs/godco/members/NPC_Father_Greenwood.json
  data/json/npcs/random_encounters/refugee_caravans.json
  data/json/npcs/starting_traits.json
  data/json/obsoletion_and_migration_0.I/obsolete_traits.json
  data/json/professions.json
  data/json/snippets/snippets.json
  data/mods/Magiclysm/professions.json
  data/mods/MindOverMatter/effectoncondition/eoc_mental_engineering.json
  data/mods/Xedra_Evolved/npc/vampire_mentor.json
  src/magic_spell_effect.cpp
  src/monster.cpp
  src/npc.cpp
  src/suffer.cpp
Labels: NPC / Factions, [JSON], Mutations / Traits / Professions/ Hobbies, [C++], Monsters, Lore, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Mind Over Matter

#81331 Remove the minefield map extra
  data/json/overmap/map_extras.json
  data/json/regional_map_settings.json
  data/mods/TropiCataclysm/tropical_regional_map_settings.json
  data/mods/desert_region/desert_regional_map_settings.json
  doc/JSON/JSON_FLAGS.md
  src/map_extras.cpp
  tests/map_extra_test.cpp
Labels: <Documentation>, [JSON], Map / Mapgen, Code: Tests, [C++], [Markdown], astyled, json-styled, BasicBuildPassed, Mods: TropiCataclysm 🌴, Mods: Desert Region

#81357 Remove almost all consumption bonuses from cannibals, make human flesh tank morale
  src/consumption.cpp
  tests/modify_morale_test.cpp
Labels: Code: Tests, [C++], astyled, json-styled

#81348 Bugfix Debug Menu vitamins off by one
  src/debug_menu.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81347 Fix #81333 Negative quench items don't dehydrate you
  src/consumption.cpp
  tests/comestible_test.cpp
Labels: Items: Food / Vitamins, Code: Tests, [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81361 [MoM] Update Wave of Force to use `u_knockback`
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telekinesis_eoc.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#81359 [MoM] Remove space in add effect
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#81335 [XE] Add a new rare waterborne disease.
  data/mods/Sky_Island/mod_interactions/xedra_evolved/eocs_healing.json
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/eocs/misc_eoc.json
  data/mods/Xedra_Evolved/items/resources.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved, Mods: Sky Island

#81379 Remove cannibal's last consumption bonus
  src/consumption.cpp
  tests/modify_morale_test.cpp
Labels: Game: Balance, Code: Tests, [C++], astyled, json-styled

#81380 Guilt trip murderers for more than 7 minutes
  src/npc.cpp
Labels: Game: Balance, NPC / Factions, [C++], astyled, json-styled

#81377 add longest_side for meal tray
  data/json/items/generic/dining_kitchen.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#81365 Increase byproduct straw of the recipe of threshed oats without flail.
  data/json/recipes/food/raw_grain.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed

#81368 Fix chairs in bandit work camp spawning items
  data/json/mapgen/hells_raiders/bandit_work_camp.json
Labels: [JSON], Map / Mapgen, <Bugfix>, astyled, json-styled, BasicBuildPassed

#81382 xedra_evolved: cleanup misc_eoc.json
  data/mods/Xedra_Evolved/eocs/misc_eoc.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#81369 [MoM] Move power failure equation to JSON
  data/mods/MindOverMatter/README.md
  data/mods/MindOverMatter/effectoncondition/eoc_power_effects.json
  data/mods/MindOverMatter/jmath.json
  data/mods/MindOverMatter/powers/biokinesis.json
  data/mods/MindOverMatter/powers/clairsentience.json
  data/mods/MindOverMatter/powers/classless.json
  data/mods/MindOverMatter/powers/electrokinesis.json
  data/mods/MindOverMatter/powers/photokinesis.json
  data/mods/MindOverMatter/powers/pyrokinesis.json
  data/mods/MindOverMatter/powers/telekinesis.json
  data/mods/MindOverMatter/powers/telepathy.json
  data/mods/MindOverMatter/powers/teleportation.json
  data/mods/MindOverMatter/powers/vitakinesis.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#81269 Whips update for Magiclysm and Xedra Evolved
  data/mods/Magiclysm/items/enchanted_belts.json
  data/mods/Magiclysm/items/ethereal_items.json
  data/mods/Magiclysm/requirements/melee.json
  data/mods/Xedra_Evolved/items/ethereal_items.json
  data/mods/Xedra_Evolved/requirements/melee.json
Labels: [JSON], Mods, Melee, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#80191 Added cold and heat intolerance traits(fixed)
  data/json/mutations/mutations.json
Labels: [JSON], Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed

#81292 CrazyCata immortal snail nemesis
  data/mods/CrazyCataclysm/crazy_monstergroups.json
  data/mods/CrazyCataclysm/crazy_monsters.json
Labels: [JSON], Mods, Spawn, Monsters, astyled, json-styled, BasicBuildPassed

#81356 [Xedra Evolved] Add `The Blood is the Life` dhampir power
  data/mods/Xedra_Evolved/effects/effects.json
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/mutations/dhampir_eocs.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#81360 New vampire weakness: Barred from mortal joys
  data/mods/Xedra_Evolved/effects/vampvirus.json
  data/mods/Xedra_Evolved/eocs/misc_eoc.json
  data/mods/Xedra_Evolved/morale_types.json
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/recipes/vampire.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#81385 Enforce mod incompatibilities
  src/mod_manager.h
  src/mod_manager_ui.cpp
  src/worldfactory.cpp
  src/worldfactory.h
Labels: Info / User Interface, [C++], Code: Infrastructure / Style / Static Analysis, Character / World Generation, astyled, json-styled, BasicBuildPassed

#81375 Update vampire power research to include recent additions.
  data/mods/Xedra_Evolved/jmath.json
  data/mods/Xedra_Evolved/recipes/vampire.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Xedra Evolved

#81386 Nests some clothing recipes + a couple of small fixes
  data/json/recipes/armor/legs.json
  data/json/recipes/armor/other.json
  data/json/recipes/armor/suit.json
  data/json/recipes/armor/torso.json
  data/json/recipes/nested.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#81362 Primerless case audit
  data/json/itemgroups/Weapons_Mods_Ammo/casings.json
  data/json/items/armor/jewelry.json
Labels: [JSON], Spawn, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#81358 Fix a way to get locked out of Hub tasks
  data/json/npcs/robofac/robofac_intercom/robofac_intercom.json
Labels: [JSON], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81370 Allow swapping hotkeys in magic menu.
  src/magic.cpp
  src/magic.h
  tests/magic_spell_test.cpp
Labels: Info / User Interface, Code: Tests, [C++], Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#81394 Compact compressed overmaps.
  src/overmap.cpp
Labels: Map / Mapgen, [C++], astyled, json-styled

#81398 [DO NOT MERGE] Remove hardcoded reference to aftershock in test suite
  build-scripts/get_all_mods.py
Labels: Code: Build, [Python], astyled, json-styled

#81390 [Xedra Evolved] Fix beta talker error from Ring of Champions EoC
  data/mods/Xedra_Evolved/spells/changeling_seasonal_magic_summer_eocs.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#81381 Remove toggling skill training on/off
  data/json/skills.json
  doc/JSON/JSON_INFO.md
  src/character.cpp
  src/player_display.cpp
  src/savegame_json.cpp
  src/skill.cpp
  src/skill.h
Labels: <Documentation>, Game: Balance, [JSON], [C++], [Markdown], astyled, json-styled, BasicBuildPassed

#81404 Add poutine
  data/json/itemgroups/Food/food.json
  data/json/items/comestibles/junkfood.json
  data/json/items/comestibles/other.json
  data/json/recipes/food/other.json
Labels: [JSON], Items: Food / Vitamins, Spawn, astyled, json-styled, BasicBuildPassed

#81372 Nerf default thrown damage
  data/json/items/ammo.json
  src/item_factory.cpp
Labels: [JSON], [C++], Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#81406 Fix special attack cooldowns
  build-scripts/get_all_mods.py
  data/json/monster_special_attacks/monster_attacks.json
  data/json/monsters/nether.json
  data/json/monsters/zed_amphibian.json
  data/json/monsters/zed_explosive.json
  data/mods/CrazyCataclysm/crazy_monsters.json
  data/mods/No_Hope/monster_attacks.json
  data/mods/TEST_DATA/monster_attacks.json
  data/mods/TEST_DATA/monsters.json
  data/mods/Xedra_Evolved/monsters/elementals.json
  data/mods/Xedra_Evolved/monsters/zombies.json
  data/mods/aftershock_exoplanet/monsters/robots.json
  doc/JSON/MONSTER_SPECIAL_ATTACKS.md
  src/condition.cpp
  src/generic_factory.h
  src/monster.cpp
  src/monstergenerator.cpp
  src/wish.cpp
  tests/json_load_test.cpp
Labels: <Documentation>, Code: Build, [JSON], Code: Tests, [C++], Monsters, <Bugfix>, [Markdown], [Python], Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope, EOC: Effects On Condition, Mods: Xedra Evolved

#81391 [MoM] Add Extended Channeling to new channeling success jmath
  data/mods/MindOverMatter/jmath.json
Labels: [JSON], Mods, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81417 [Magiclysm/Bombastic Perks]: Add Efficient Spell metamagic perk
  data/mods/BombasticPerks/perkdata/metamagic/efficient.json
  data/mods/BombasticPerks/perkmenu.json
  data/mods/BombasticPerks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Bombastic Perks

#81400 [XE] Mentor tweaks
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
  data/mods/Xedra_Evolved/npc/trait_groups.json
  data/mods/Xedra_Evolved/npc/vampire_mentor.json
  data/mods/Xedra_Evolved/spells/vampire_spells.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Xedra Evolved

#81426 eliminate bagged trash repeats
  data/json/mapgen/airport/s_airport_private.json
  data/json/mapgen/farm_tree.json
  data/json/mapgen/garden_botanical.json
  data/json/mapgen/gas_stations/gas_station_bunker.json
  data/json/mapgen/isherwood_farms/cabin_isherwood.json
  data/json/mapgen/isherwood_farms/dairy_farm_isherwood.json
  data/json/mapgen/isherwood_farms/farm_horse_isherwood.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_commercial.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_residential.json
  data/json/mapgen/lake_buildings/cabin_lake.json
  data/json/mapgen/lake_buildings/lighthouse.json
  data/json/mapgen/mall/mall_ground.json
  data/json/mapgen/mobile_home_park/mobile_home_park.json
  data/json/mapgen/nested/retail_nested.json
  data/json/mapgen/nested/skyscraper_nested.json
  data/json/mapgen/nested/strip_mall_nested.json
  data/json/mapgen/pool.json
  data/json/mapgen/recycle_center.json
  data/json/mapgen/refugee_center/refugee_center.json
  data/json/mapgen/riverside/whaleys_boat_rental.json
  data/json/mapgen/shooting_range.json
  data/json/mapgen/store/s_diner.json
  data/json/mapgen/zoo.json
  data/json/mapgen_palettes/lab/lab_modular_palette.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#81341 [CR] Game warns when item group copy-froms nonexistent parent
  data/mods/Magiclysm/items/forage.json
  data/mods/No_Hope/item_groups.json
  data/mods/aftershock_exoplanet/itemgroups/item_groups.json
  src/item_factory.cpp
Labels: [JSON], Spawn, [C++], Mods: Magiclysm, Mods: Aftershock, astyled, json-styled, BasicBuildPassed, Mods: No Hope

#81438 The military base has barbed wire instead of minefields
  data/json/mapgen/military/mil_base/mil_base_z0.json
  data/json/mapgen_palettes/military/mil_base_palette.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain_military.json
Labels: [JSON], Map / Mapgen, <Bugfix>, Fields / Furniture / Terrain / Traps, astyled, json-styled

#81435 Add a notice when in weather mode
  src/overmap_ui.cpp
  src/sdltiles.cpp
Labels: Info / User Interface, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#81434 rename "cooked creep" to "cooked human"
  data/json/items/comestibles/carnivore.json
Labels: [JSON], Items: Food / Vitamins, astyled, json-styled, BasicBuildPassed

#81444 Fix workflow title string used to allow basic build to run on draft PRs
  .github/workflows/matrix.yml
Labels: Code: Tooling, astyled, json-styled, BasicBuildPassed

#81446 Vampirism updates to account for new base blood need.
  data/mods/Xedra_Evolved/mutations/mutations.json
  data/mods/Xedra_Evolved/mutations/vampire_trait_eocs.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, astyled, json-styled, EOC: Effects On Condition, Mods: Xedra Evolved

#81433 Don't show hostile NPCs on overmap
  src/overmap_ui.cpp
  src/sdltiles.cpp
Labels: Game: Balance, Info / User Interface, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#81449 take the trash out of the filing cabinet in the mall
  data/json/mapgen/mall/mall_second_floor.json
Labels: [JSON], Map / Mapgen, astyled, json-styled, BasicBuildPassed

#81450 Stronger tests on spawn_test_monster
  tests/map_helpers.cpp
Labels: Code: Tests, [C++], astyled, json-styled, BasicBuildPassed

#81424 Fix endless loop on mutation with low primer vitamin
  src/mutation.cpp
  src/weighted_list.h
  tests/weighted_list_test.cpp
Labels: Mutations / Traits / Professions/ Hobbies, Code: Tests, [C++], <Bugfix>, astyled, json-styled

#81419 Fix lack of gaining power xp
  src/activity_handlers.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81402 [MoM] Make Torrential Channeling even stronger and even more dangerous
  data/mods/MindOverMatter/NetherAttunementSpoilers.md
  data/mods/MindOverMatter/effectoncondition/eoc_nether_attunement_events.json
  data/mods/MindOverMatter/jmath.json
  data/mods/MindOverMatter/ui/sidebars.json
  data/mods/MindOverMatter/ui/spacebar.json
Labels: <Documentation>, Info / User Interface, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, EOC: Effects On Condition, Mods: Mind Over Matter

#81395 [Magiclysm] Add Repulsion Wave magus spell
  data/mods/Magiclysm/Spells/feral_wizards.json
  data/mods/Magiclysm/Spells/magus.json
  data/mods/Magiclysm/itemgroups/itemgroups.json
  data/mods/Magiclysm/itemgroups/spellbooks.json
  data/mods/Magiclysm/items/spell_scrolls.json
  data/mods/Magiclysm/monsters/feral_wizards.json
Labels: [JSON], Mods, Spawn, Monsters, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#81411 [MoM/Bombastic Perks] Update Clear-minded Channeling perk
  data/mods/MindOverMatter/jmath.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/jmath_override.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perkdata/clear_minded_channeling.json
  data/mods/MindOverMatter/mod_interactions/bombastic_perks/perks.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81363 Typo's reported in transifex
  data/json/furniture_and_terrain/LIXA_furniture_and_terrain.json
  data/json/items/comestibles/med.json
  data/json/items/fluff.json
  data/json/items/generic.json
  data/json/ui/structured/structured_environment_blocks.json
Labels: Info / User Interface, [JSON], Items: Food / Vitamins, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#81241 Give generators ALLOWS_REMOTE_USE flag
  data/json/items/appliances/appliances_generators.json
Labels: [JSON], astyled, json-styled, BasicBuildPassed, Appliance/Power Grid

#81467 [Magiclysm] Spellcasting always grants proficiency XP
  data/mods/Magiclysm/effect_on_conditions/spellcasting/proficiencies.json
Labels: [JSON], Mods, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#81462 You can deconstruct and place bean bags
  data/json/construction/furniture_seats.json
  data/json/construction_group.json
  data/json/furniture_and_terrain/furniture-seats.json
  data/json/items/furniture/seating.json
Labels: [JSON], Crafting / Construction / Recipes, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#81468 [Magiclysm/MoM] Fix supernatural welding
  data/mods/Magiclysm/requirements/crafting.json
  data/mods/MindOverMatter/recipes/recipe_requirements.json
Labels: [JSON], Mods, Crafting / Construction / Recipes, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81476 Use approximate city distances for special placement
  src/overmap.cpp
  src/overmap.h
Labels: Code: Performance, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#81478 Fix MOTION_ALARM triggering when you ride a critter
  src/do_turn.cpp
Labels: [C++], <Bugfix>, astyled, json-styled, BasicBuildPassed

#81475 Fix compressed overmap bootstrap disk state handling
  src/overmap.cpp
Labels: Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed

#81491 Background remove defaults
  data/mods/Xedra_Evolved/scenario.json
  src/newcharacter.cpp
Labels: [JSON], [C++], <Bugfix>, Scenarios, Character / World Generation, astyled, json-styled, Mods: Xedra Evolved

#81373 Remove the Ruger Charger
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunstore_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/22.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/json/recipes/weapon/ranged.json
  data/mods/TEST_DATA/item_demographics.json
  data/mods/classic_zombies/items/blacklists.json
Labels: Game: Balance, [JSON], Spawn, Code: Tests, Items: Ammo / Guns, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed

#81502 Add Moxian as IWYU "code owner" for review notifications
  .github/reviewers.yml
Labels: Code: Tooling, astyled, json-styled

#81455 Obsolete Glock 31
  data/json/itemgroups/Weapons_Mods_Ammo/arsenal/police_armory.json
  data/json/itemgroups/Weapons_Mods_Ammo/field_drops.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunstore_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/357sig.json
  data/json/items/magazine/40.json
  data/json/obsoletion_and_migration_0.I/gun.json
  data/mods/TEST_DATA/item_demographics.json
Labels: Game: Balance, [JSON], Spawn, Code: Tests, Fields / Furniture / Terrain / Traps, Items: Ammo / Guns, Mods: Dark Days of the Dead, astyled, json-styled, BasicBuildPassed, Items: Armor / Clothing

#81492 Start of cataclysm is 5 days before game start
  data/json/scenarios.json
  data/mods/Magiclysm/scenarios.json
  data/mods/Standard_Combat_Tests/modinfo.json
  data/mods/innawood/scenarios.json
  doc/JSON/JSON_INFO.md
  src/calendar.cpp
  src/scenario.cpp
  src/weather.cpp
Labels: <Documentation>, Game: Balance, [JSON], [C++], [Markdown], Scenarios, Mechanics: Weather, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed, Mods: Innawood 🌲

#81511 Update cast_spell_items.json
  data/mods/Aftershock/items/cast_spell_items.json
Labels: [JSON], Mods, Mods: Aftershock, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#81518 [Magiclysm] Add CLIMATE_CONTROL_HEAT to the stone slumber trait
  data/mods/Magiclysm/mutations/spell_invoked_mutations.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, Mods: Magiclysm, Mechanics: Enchantments / Spells, astyled, json-styled, BasicBuildPassed

#81514 use SUS trashcan public in stores and businesses
  data/json/mapgen/animalshelter.json
  data/json/mapgen/bakery.json
  data/json/mapgen/bar.json
  data/json/mapgen/barber_shop.json
  data/json/mapgen/drive-in_theater.json
  data/json/mapgen/farm_supply.json
  data/json/mapgen/lab/lab_modular/lab_nests_modular/lab_nested_commercial.json
  data/json/mapgen/lan_center.json
  data/json/mapgen/laundromat.json
  data/json/mapgen/office_cubical.json
  data/json/mapgen/office_dentist.json
  data/json/mapgen/office_doctor.json
  data/json/mapgen/office_small.json
  data/json/mapgen/paintball_field.json
  data/json/mapgen/petstore.json
  data/json/mapgen/pizza_parlor.json
  data/json/mapgen/restaurant.json
  data/json/mapgen/restaurant_fast.json
  data/json/mapgen/s_candy.json
  data/json/mapgen/s_clothing.json
  data/json/mapgen/s_coffee.json
  data/json/mapgen/s_electronics.json
  data/json/mapgen/s_hardware.json
  data/json/mapgen/s_icecream.json
  data/json/mapgen/salon.json
  data/json/mapgen/shooting_range.json
  data/json/mapgen/store/s_airsoft.json
  data/json/mapgen/store/s_diner.json
  data/json/mapgen/town_hall.json
  data/json/mapgen/trail_nature.json
  data/json/mapgen_palettes/bike_shop_palette.json
  data/json/mapgen_palettes/clothes_store_palette.json
  data/json/mapgen_palettes/convention_center_palette.json
  data/json/mapgen_palettes/office.json
  data/json/mapgen_palettes/restaurant_palette.json
Labels: [JSON], Map / Mapgen, Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#81515 [Magiclysm] Fix skin tones layering
  data/mods/Magiclysm/mutations/overlay_ordering.json
Labels: [JSON], Mods, <Bugfix>, Mods: Magiclysm, astyled, json-styled, BasicBuildPassed

#81498 Remove Dracos
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunstore_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/762.json
  data/json/items/gun/9mm.json
  data/json/obsoletion_and_migration_0.I/migration_items.json
  data/mods/CrazyCataclysm/crazy_item_groups.json
  data/mods/CrazyCataclysm/crazy_items.json
Labels: [JSON], Spawn, <Bugfix>, Items: Ammo / Guns, astyled, json-styled, BasicBuildPassed

#81469 Add two new rifles
  data/json/itemgroups/Weapons_Mods_Ammo/guns_by_calibre.json
  data/json/itemgroups/Weapons_Mods_Ammo/gunstore_guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines/magazines_by_caliber.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/items/gun/22.json
  data/json/items/gun/223.json
  data/json/items/magazine/22.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  data/mods/TEST_DATA/item_demographics.json
Labels: [JSON], Items: Magazines, Spawn, Code: Tests, Items: Ammo / Guns, Mods: Generic Guns, astyled, json-styled, BasicBuildPassed

#81522 [MoM] Add Heightened Senses to Clairsentient hobbies, adjust skill levels
  data/mods/MindOverMatter/hobbies.json
Labels: [JSON], Mods, Mutations / Traits / Professions/ Hobbies, <Bugfix>, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81524 Aftershock: Create a loading screen for the mod
  data/mods/aftershock_exoplanet/aftershock.png
  data/mods/aftershock_exoplanet/modinfo.json
Labels: [JSON], Mods, Mods: Aftershock, astyled, json-styled, BasicBuildPassed

#81520 [MoM] Allow Heightened Senses/Night Eyes combo to craft in darkness
  data/mods/MindOverMatter/PowerDescriptionSpoilers.md
  data/mods/MindOverMatter/effects/effects_psionic.json
Labels: <Documentation>, [JSON], Mods, [Markdown], astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#80991 Natural ter/furn copy-from
  data/json/furniture_and_terrain/terrain-floors-outdoors.json
  data/json/furniture_and_terrain/terrain-flora.json
  src/map.cpp
  src/mapdata.cpp
Labels: [JSON], [C++], Fields / Furniture / Terrain / Traps, astyled, json-styled, BasicBuildPassed

#81521 Improve mod migration
  data/core/mod_migrations.json
  data/mods/default.json
  data/mods/replacements.json
  doc/JSON/OBSOLETION_AND_MIGRATION.md
  lang/string_extractor/parser.py
  lang/string_extractor/parsers/mod_migration.py
  lang/update_pot.sh
  src/game.cpp
  src/init.cpp
  src/mod_manager.cpp
  src/mod_manager.h
  src/path_info.cpp
  src/path_info.h
  src/worldfactory.cpp
Labels: <Documentation>, Translation, [JSON], [C++], Code: Infrastructure / Style / Static Analysis, [Markdown], Character / World Generation, [Python], astyled, json-styled, BasicBuildPassed

#81420 [MoM] Slight weariness adjustments to channeling formula
  data/mods/MindOverMatter/jmath.json
Labels: [JSON], Mods, astyled, json-styled, BasicBuildPassed, Mods: Mind Over Matter

#81413 Weekly Changelog 2025-06-16 to 2025-06-23
  data/changelog.txt
Labels: <Documentation>, Organization, astyled, json-styled, BasicBuildPassed

#81240 Optimized search for existing specials
  src/mission_util.cpp
  src/overmapbuffer.cpp
Labels: Missions, Map / Mapgen, [C++], astyled, json-styled, BasicBuildPassed
